<template>
  <div class="">
    <div @click="close()" class="mask" />
    <div class="course_modal">
      <div class="modal_head">
        <a @click="close()" href="javascript:" class="close iconfont">&#xe616;</a>
      </div>
      <div v-show="type == 0 " class="modal_body">
        <div class="img">
          <div v-for="item in data.data.captionPicList" :key="item.picUrl" class="tm_pic">
            <img :src="item.picUrl" :alt="item.title">
          </div>
          <div v-for="item in data.data.resultPicList" :key="item.picUrl">
            <img :src="item.picUrl" :alt="item.title">
          </div>
        </div>
      </div>
      <div ref="playerbox" v-show="type == 1" :class="{show_play_nav: playnav}" class="modal_body" style="overflow: hidden;">
        <div id="player" />
        <div class="player_nav">
          <div @click="changePlayNav" class="icon">
            <i class="iconfont">&#xe653;</i>
          </div>
          <div class="player_list">
            <!-- <div class="title">{{data.data.periodName}}</div> -->
            <div :class="{on: nowVid == data.data.videoVid}" @click="videoPlay(data.data.videoVid)" class="option">
              <i class="iconfont">&#xe690;</i>{{ data.data.videoName }}
            </div>
          </div>
        </div>
      </div>
      <div v-show="type == 2" class="modal_body lianxiti_body">
        <div v-for="(item, index) in data.data.periodPracticeDTOList" :key="index" class="subject_panel">
          <div v-for="that in item.periodPicDTOList" :key="that.picUrl" class="img">
            <img :src="that.picUrl" alt="">
          </div>
          <div class="oper_panel">
            <a v-if="item.periodPicDTOList.length || item.periodPracticeAnswerDTOList.length" @click="clickPeriod(0, item)" href="javascript:">
              <i class="iconfont">&#xe611;</i><span>思路&解答</span>
            </a>
            <a v-if="item.periodVideoDTOList.length" @click="clickPeriod(1, item)" href="javascript:">
              <i class="iconfont">&#xe690;</i><span>视频解答</span>
            </a>
          </div>
        </div>
      </div>
      <div v-show="type == 3" class="modal_body" />
    </div>
    <d-modal v-if="openModal" :type="modalType" :data="modalData" @hidefun="hideModal()" @change="changeTab11($event)" />
  </div>
</template>
<script>
import DModal from './PeriodModal'
import { chapterSign } from '~/api/course.js'
export default {
  props: {
    data: {
      type: [Object, Array],
      default: null
    },
    open: {
      type: Boolean,
      default: false
    },
    category: {
      type: Number,
      default: 1
    },
    type: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      advices: {},
      setAdvice: {
        option1: '',
        option2: '',
        option3: '',
        option4: '',
        option5: '',
        option6: '',
        option7: '',
        option8: '',
        option9: '',
        remark: ''
      },
      nowVid: '',
      playnav: this.data.data.videoVid,
      modalType: 0,
      openModal: false,
      isperiod: false,
      modalData: null,
      player: null
    }
  },
  mounted() {
    // console.log(this.data)
    /* eslint-disable*/
    if (this.data.data.videoVid && this.data.ty === 1) {
      this.videoPlay(this.data.data.videoVid);
    }
  },
  methods: {
    // 收藏该题
    // setCollection() {
    //   if (!this.userInfo) {
    //     this.$msgBox({
    //       content: '登录后才可以收藏'
    //     }).then(res => {
    //       this.$router.push({path: '/index', query: {t: 'login'}})
    //     }).catch(() => {
    //     })
    //     return false;
    //   }
    //   addCollection({
    //     collectionType: 3,
    //     courseCategory: this.category,
    //     refNo: this.data.data.id,
    //     mobile: this.userInfo.mobile,
    //   }).then((res) => {
    //     // console.log(res)
    //     if (res.code === 200) {
    //       this.$msgBox({
    //         content: '收藏成功',
    //         isShowCancelBtn: false
    //       })
    //     } else {
    //       this.$msgBox({
    //         content: res.msg,
    //         isShowCancelBtn: false
    //       })
    //     }
    //   })
    // },
    // 显示隐藏播放列表
    changePlayNav () {
      this.playnav = !this.playnav;
      this.player.j2s_pauseVideo();
    },
    videoPlay (vid){
      // console.log(this.data.data)
      this.nowVid = vid;
      chapterSign({
        periodId: this.data.data.id,
        videoVid: vid
      }).then(res => {
        console.log(res)
        if (res.code === 200) {
          this.play(Object.assign({ vid: vid }, res.data));
        } else if (res.code === 402) {
          this.$msgBox({content: '购买后才可以观看'})
        }
      })
    },
    play (data) {
      // console.log(data)
      let box = this.$refs.playerbox;
      if (this.player) {
        this.player.changeVid({
          vid:data.vid,
          playsafe: data.token,
          ts: data.ts,
          sign: data.sign,
          autoplay: true
        });
      } else {
        const userInfo = this.$store.state.userInfo
        this.player = polyvObject('#player').videoPlayer({
            'width': box.offsetWidth,
            'height': box.offsetHeight,
            'forceH5': true,
            'code': data.code,
            'playsafe': data.token,
            'ts': data.ts,
            'sign': data.sign,
            'vid': data.vid,
            'viewerInfo': {
              'viewerId': userInfo.userNo,
              'viewerName': userInfo.nickname
            }
        });
      }
    },
    close () {
      this.$emit('hidefun', event);
    },
    btnClick (event) {
      this.$emit('btnClick', event);
    },
    changeTab11 (int) {
      if (this.player != null) {
        this.player.j2s_pauseVideo();
      }
      this.modalType = int;
    },
    changeTab (int) {
      if (this.player != null) {
        this.player.j2s_pauseVideo();
      } else if (int === 1) {
        this.videoPlay(this.data.data.periodVideoDTOList[0].vid);
      }
      this.$emit('change', int);
    },
    hideModal (int) {
      this.openModal = false;
    },
    // 练习题讲解
    clickPeriod (int, data) {
      // console.log(int, data)
      this.modalType = int;
      this.openModal = true;
      this.modalData = data;
    }
  },
  created () {
    // this.ty = this.type;
  },
  components: {
    DModal
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.mask{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 888;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.course_modal{
  position: fixed;
  z-index: 999;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.modal_head{
  line-height: 46px;
  background-color: #f9f9f9;
  text-align: right;
  padding: 0 20px;
  .close{
    font-size: 14px;
  }
}
.modal_body{
  height: 460px;
  flex: 1;
  overflow: auto;
  position: relative;
  .img{
    padding: 30px;
  }
  .more{
    margin: 0 30px;
    border-top: 1px solid #ddd;
    a{
      color: #106af6;
      display: inline-block;
      margin-bottom: 8px;
      margin-right: 8px;
      text-decoration: underline;
    }
    .text{
      line-height: 30px;
    }
  }
}
.lianxiti_body{
  height: 420px;
  padding: 20px;
}
.comment_form{
  padding: 30px 50px;
  .form_group{
    float: left;
    width: 40%;
    font-size: 14px;
    color: #666;
    padding-bottom: 8px;
  }
  .more_comment{
    clear: both;
    margin-top: 30px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    textarea{
      width: 100% !important;
      border: none;
      font-size: 14px;
    }
  }
}
.modal_foot{
  line-height: 46px;
  text-align: right;
  padding: 0 20px;
  background-color: #f9f9f9;
  a{
    padding: 0 12px;
    display: inline-block;
    &.on{
      color: #ef7d40;
    }
  }
  .iconfont{
    margin-right: 4px;
  }
}
.player_nav{
  position: absolute;
  right: -200px;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #000;
  transition: right .5s;
  .icon{
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    width: 20px;
    background-color: #1f2224;
    i{
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      color: #fff;
      transition: all .5s;
    }
  }
  .player_list{
    width: 200px;
  }
  .title {
    line-height: 40px;
    padding: 0 12px;
    color: #e2e2e2;
    font-size: 14px;
  }
  .option{
    color: #e2e2e2;
    padding: 12px 12px 0 34px;
    position: relative;
    cursor: pointer;
    .iconfont{
      display: none;
      position: absolute;
      left: 12px;
      top: 12px;
    }
    &:hover,&.on {
      color: #ec7e00;
      .iconfont{
        display: block;
        color: #ec7e00;
      }
    }
  }
}
#player {
  margin-right: 20px;
}
.show_play_nav{
  .player_nav{
    right: 0;
  }
  .icon i{
    transform: rotate(180deg);
  }
}
.tm_pic{
  border-bottom: 3px dashed #ddd;
  margin-bottom: 10px;
}
.mgt20 {
  margin-top: 20px;
}
.center_btn {
  width: 200px;
  margin-left: 350px;
}
</style>
