<template>
  <div class="period_modal">
    <div @click="close()" class="mask" />
    <div v-if="data" class="course_modal">
      <div class="modal_head">
        <a @click="close()" href="javascript:" class="close iconfont">&#xe616;</a>
      </div>
      <div v-show="type == 0" class="modal_body">
        <div class="img">
          <div v-for="item in data.periodPicDTOList" :key="item.picUrl">
            <img :src="item.picUrl" :alt="item.title">
          </div>
          <div v-for="item in data.periodPracticeAnswerDTOList" :key="item.picUrl">
            <img :src="item.picUrl" :alt="item.title">
          </div>
        </div>
      </div>
      <div v-show="type == 1" class="modal_body" style="overflow: hidden;">
        <div id="player11" />
        <div class="player_nav">
          <div class="icon" />
          <div class="player_list">
            <div class="title">
              {{ data.periodName }}
            </div>
            <div v-for="item in data.periodVideoDTOList" :key="item.vid" class="option on">
              <i class="iconfont">&#xe690;</i>{{ item.vname }}
            </div>
          </div>
        </div>
      </div>
      <div v-show="type == 2" class="modal_body lianxiti_body">
        <div v-for="(item, index) in data.periodPracticeDTOList" :key="index" class="subject_panel">
          <div v-for="that in item.periodPicDTOList" :key="that.picUrl" class="img">
            <img :src="that.picUrl" alt="">
          </div>
          <div class="oper_panel">
            <a @click="clickPeriod(0, item)" href="javascript:">
              <i class="iconfont">&#xe611;</i><span>思路&解答</span>
            </a>
            <a @click="clickPeriod(1, item)" href="javascript:">
              <i class="iconfont">&#xe690;</i><span>视频解答</span>
            </a>
          </div>
        </div>
      </div>
      <div v-show="type == 3" class="modal_body" />
      <div v-show="type == 4" class="modal_body">
        <form action="" class="comment_form">
          <div class="form_group">
            <input id="i1" name="ys" type="checkbox">
            <label for="i1">讲题语速过快</label>
          </div>
          <div class="form_group">
            <input id="i2" name="ys" type="checkbox">
            <label for="i2">配图不够详细</label>
          </div>
          <div class="form_group">
            <input id="i3" name="ys" type="checkbox">
            <label for="i3">讲题语速过快</label>
          </div>
          <div class="form_group">
            <input id="i4" name="ys" type="checkbox">
            <label for="i4">配图不够详细</label>
          </div>
          <div class="more_comment">
            <textarea
              id=""
              name=""
              cols="30"
              rows="10"
              placeholder="请输入其他更多评价或建议"
            />
          </div>
        </form>
      </div>
      <div class="modal_foot">
        <a v-if="data.periodPicDTOList.length || data.periodPracticeAnswerDTOList.length" :class="{on: type == 0}" @click="changeTab(0)" href="javascript:">
          <i class="iconfont">&#xe611;</i><span>思路&解答</span>
        </a>
        <span>|</span>
        <a v-if="data.periodVideoDTOList.length" :class="{on: type == 1}" @click="changeTab(1)" href="javascript:">
          <i class="iconfont">&#xe690;</i><span>视频解答</span>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import { chapterSign } from '~/api/course.js'
export default {
  props: {
    data: {
      type: [Object, Array],
      default: null
    },
    open: {
      type: Boolean,
      default: false
    },
    type: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      player: null
    }
  },
  mounted() {
    // console.log(this.data)
    /* eslint-disable*/
    if (this.type == 1) {
      this.videoPlay(this.data.periodVideoDTOList[0].vid);
    }
    // this.player = polyvPlayer({
    //   'wrap': '#player',
    //   'width': '1160',
    //   'height': '460',
    //   'vid': '02bfeb00e2ba940698c54cdf517aa9b6_0'
    // });
  },
  methods: {
    videoPlay (vid){
      // console.log(this.clientData)
      chapterSign({
        ip: 'ip',
        periodNo: this.data.periodNo,
        vid: vid
      }).then(res => {
        res = res.data;
        // console.log(res)
        if (res.code === 200) {
          this.play(Object.assign({vid: vid}, res.data));
        }
      })
    },
    play (data) {
      // console.log(data)
      if (this.player) {
        this.player.changeVid({
          vid:data.vid,
          playsafe: data.token,
          ts: data.ts,
          sign: data.sign,
          autoplay: true
        });
      } else {
        const userInfo = this.$store.state.userInfo
        this.player = polyvObject('#player11').videoPlayer({
            'width': '1160',
            'height': '460',
            // 'forceH5': true,
            'playsafe': data.token,
            'ts': data.ts,
            'sign': data.sign,
            'vid': data.vid,
            'viewerInfo': {
              'viewerId': userInfo.userNo,
              'viewerName': userInfo.nickname
            }
        });
      }
    },
    close () {
      this.$emit('hidefun', event);
    },
    btnClick (event) {
      this.$emit('btnClick', event);
    },
    changeTab (int) {
      this.$emit('change', int);
      // console.log(int)
      if (int === 1) {
        if (this.data.periodVideoDTOList.length) {
          this.videoPlay(this.data.periodVideoDTOList[0].vid);
        }
      }
    },
    // 练习题讲解
    clickPeriod (int, data) {
      // console.log(int, data)
      this.openModal = true;
      this.modalData = data;
    }
  },
  created () {
    // this.ty = this.type;
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.period_modal{
  position: relative;
  z-index: 999;
}
.course_modal{
  position: fixed;
  z-index: 999;
  top: 10%;
  left: 50%;
  width: 1160px;
  margin-left: -580px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.modal_head{
  line-height: 46px;
  background-color: #f9f9f9;
  text-align: right;
  padding: 0 20px;
  .close{
    font-size: 14px;
  }
}
.modal_body{
  height: 460px;
  overflow: auto;
  position: relative;
  .img{
    padding: 30px;
  }
  .more{
    margin: 0 30px;
    border-top: 1px solid #ddd;
    a{
      color: #106af6;
      display: inline-block;
      margin-bottom: 8px;
      margin-right: 8px;
      text-decoration: underline;
    }
    .text{
      line-height: 30px;
    }
  }
}
.lianxiti_body{
  padding: 20px;
}
.comment_form{
  padding: 30px;
  .form_group{
    font-size: 14px;
    color: #666;
    padding-bottom: 8px;
  }
  .more_comment{
    margin-top: 30px;
    margin-left: 30px;
    padding: 12px;
    border: 1px solid #ddd;
    textarea{
      width: 100% !important;
      border: none;
      font-size: 14px;
    }
  }
}
.modal_foot{
  line-height: 46px;
  text-align: right;
  padding: 0 20px;
  background-color: #f9f9f9;
  a{
    padding: 0 12px;
    display: inline-block;
    &.on{
      color: #ef7d40;
    }
  }
  .iconfont{
    margin-right: 4px;
  }
}
.player_nav{
  position: absolute;
  right: -200px;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #000;
  transition: right .5s;
  .icon{
    position: absolute;
    top: 0;
    left: -20px;
    bottom: 0;
    width: 20px;
    background-color: #1f2224;
    i{
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      cursor: pointer;
      color: #fff;
      transition: all .5s;
    }
  }
  .player_list{
    width: 200px;
  }
  .title {
    line-height: 40px;
    padding: 0 12px;
    color: #e2e2e2;
    font-size: 14px;
  }
  .option{
    color: #e2e2e2;
    padding: 12px 12px 0 34px;
    position: relative;
    cursor: pointer;
    .iconfont{
      display: none;
      position: absolute;
      left: 12px;
      top: 12px;
    }
    &:hover,&.on {
      color: #ec7e00;
      .iconfont{
        display: block;
        color: #ec7e00;
      }
    }
  }
}
#player {
  margin-right: 20px;
}
.show_play_nav{
  .player_nav{
    right: 0;
  }
  .icon i{
    transform: rotate(180deg);
  }
}
</style>
