<template>
  <div class="subject_panel">
    <div v-for="(item, index) in data.captionPicList" :key="index" class="img">
      <img :src="item.picUrl" alt="">
    </div>
    <div class="oper_panel clearfix">
      <a v-if="data.resultPicList.length != 0" @click="btnClick(0)" href="javascript:">
        <i class="iconfont">&#xe611;</i><span>思路&解答</span>
      </a>
      <a v-if="data.videoVid" @click="btnClick(1)" href="javascript:">
        <i class="iconfont">&#xe690;</i><span>视频解答</span>
      </a>
      <!-- <a href="javascript:" :class="{c_orange: isCollection}" @click="setCollection"><i class="iconfont">&#xe670;</i><span>收藏</span></a> -->
    </div>
  </div>
</template>
<script>
// import { addCollection } from '~/api/user.js'
export default {
  props: {
    data: {
      type: Object,
      default: null
    },
    open: {
      type: Boolean,
      default: false
    },
    category: {
      type: Number,
      default: 1
    },
    lecturerdto: {
      type: Object,
      default: null
    },
    type: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      isCollection: false,
      player: null
    }
  },
  mounted() {
    console.log(this.data)
  },
  methods: {
    // 收藏该题
    // setCollection() {
    //   if (!this.userInfo) {
    //     this.$msgBox({
    //       content: '登录后才可以收藏'
    //     }).then((res) => {
    //       this.$store.dispatch('REDIRECT_LOGIN')
    //     }).catch(() => {
    //     })
    //     return false
    //   }
    //   addCollection({
    //     collectionType: 3,
    //     courseCategory: this.category,
    //     refNo: this.data.id,
    //     mobile: this.userInfo.mobile
    //   }).then((res) => {
    //     // console.log(res)
    //     if (res.code === 200) {
    //       this.isCollection = true
    //       this.$msgBox({
    //         content: '收藏成功',
    //         isShowCancelBtn: false
    //       })
    //     } else {
    //       if (res.code === 406) {
    //         this.isCollection = true
    //       }
    //       this.$msgBox({
    //         content: res.msg,
    //         isShowCancelBtn: false
    //       })
    //     }
    //   })
    // },
    btnClick(int) {
      this.$emit('btnClick', { ty: int, data: this.data, lecturerdto: this.lecturerdto })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
  .subject_panel{
    padding: 20px;
    border-bottom: 3px solid #e8e8e8;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    .img{
      margin-bottom: 20px;
    }
  }
  .oper_panel {
    height: 30px;
    text-align: right;
    .iconfont{
      margin-right: 5px;
    }
    a{
      width: 100px;
      text-align: center;
      line-height: 30px;
      background-color: #f7f7f7;
      display: inline-block;
    }
  }
</style>
