<template>
  <!--弹窗-->
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="80px">
      <el-form-item label="名称" prop="articleZoneName">
        <el-input v-model="formData.articleZoneName" class="form-group" />
      </el-form-item>
      <el-form-item label="描述" prop="articleZoneDesc">
        <el-input
          v-model="formData.articleZoneDesc"
          type="textarea"
          :rows="3"
          placeholder="请输入内容"
          class="form-group"
        />
      </el-form-item>
      <el-form-item label="排序" prop="sort">
        <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { articleZoneCategoryEdit } from '@/api/community'

  export default {
    name: 'Edit',
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        ctrl: {
          dialogVisible: true
        },
        form: {},
        rules: {
          articleZoneName: [
            { required: true, message: '请输入名称', trigger: 'blur' }
          ],
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields()
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (!this.formData.articleZoneName) {
            this.$message({
              type: 'error',
              message: '请输入名称'
            });
            return false
          }
          if (!this.formData.sort) {
            this.$message({
              type: 'error',
              message: '请输入排序'
            });
            return false
          }
          if (this.formData.id !== undefined) {
            // 编辑
            this.loading = true
            articleZoneCategoryEdit(this.formData).then(res => {
              this.loading = false
              if (res.code === 200) {
                // 提交成功, 关闭窗口, 刷新列表
                this.tips('操作成功', 'success')
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '提交失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          } else {
            this.$message({
              type: 'error',
              message: '提交失败'
            });
          }
        });
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
