<template>
  <el-dialog
    :width="width"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="formData" :rules="rules">
      <el-row>
        <el-col>
          <el-form-item prop="configValue">
            <!--      文本类型       -->
            <el-input
              v-if="formData.configType === 1"
              v-model="formData.configValue"
              type="textarea"
              :rows="2"
              class="form-group"
              placeholder="请输入内容"
            />
            <!--      富文本类型       -->
            <wangeditor v-if="formData.configType === 2" v-model="formData.configValue" />
            <!--      图片类型       -->
            <upload-image class="avatar" v-if="formData.configType === 3" :image-url="formData.configValue" @success="val => {formData.configValue = val.url}" />
            <!--      枚举类型        -->
            <el-radio-group v-if="formData.configType === 5 && formData.configKey === 'fileStorageType'" v-model="formData.configValue">
              <el-radio v-for="item in fileStorageTypeEnum" :key="item.code" :label="''+item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
            <el-radio-group v-if="formData.configType === 5 && formData.configKey === 'videoType'" v-model="formData.configValue">
              <el-radio v-for="item in videoTypeEnum" :key="item.code" :label="''+item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
            <el-radio-group v-if="formData.configType === 5 && formData.configKey === 'vodPlatform'" v-model="formData.configValue">
              <el-radio v-for="item in vodPlatformEnum" :key="item.code" :label="''+item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
            <el-radio-group v-if="formData.configType === 5 && formData.configKey === 'livePlatform'" v-model="formData.configValue">
              <el-radio v-for="item in livePlatformEnum" :key="item.code" :label="''+item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <br>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
import {sysConfigEdit} from '@/api/system'
import Wangeditor from '@/components/wangeditor/wangeditor';
import UploadImage from '@/components/Upload/UploadImage';

export default {
  name: 'EditSysConfig',
  components: {Wangeditor, UploadImage},
  props: {
    // route object
    formData: {
      type: Object,
      default: () => {
      }
    },
    visible: {
      type: Boolean,
      default: false
    },
    width: {
      type: String,
      default: '60%'
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      sysConfigTypeEnum: {},
      fileStorageTypeEnum: {},
      vodPlatformEnum: [{'code': 1, 'name': 'POLYV', 'desc': '保利威'}],
      livePlatformEnum: {},
      videoTypeEnum: {},
      rules: {
        configValue: [
          {required: true, message: '请输入参数键值', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
    // 枚举类型
    if (this.formData.configType === 5) {
      this.$store.dispatch('GetOpts', {enumName: 'FileStorageTypeEnum', type: 'arr'}).then(res => {
        this.fileStorageTypeEnum = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'VideoTypeEnum', type: 'arr'}).then(res => {
        this.videoTypeEnum = res;
      });
   /*   this.$store.dispatch('GetOpts', { enumName: 'VodPlatformEnum', type: 'arr' }).then(res => {
        this.vodPlatformEnum = res;
      })*/
      this.$store.dispatch('GetOpts', { enumName: 'LivePlatformEnum', type: 'arr' }).then(res => {
        this.livePlatformEnum = res;
      })
    }
    this.$store.dispatch('GetOpts', {enumName: 'SysConfigTypeEnum', type: 'arr'}).then(res => {
      this.sysConfigTypeEnum = res;
    });
  },
  methods: {
    handleClose() {
      console.info('handleClose')
      this.$emit('close-callback')
    },
    submitForm(formName) {
      if (!this.formData.configValue) {
        this.$message({
          type: 'error',
          message: '值不能为空'
        });
        return false
      }
      this.onSubmit()
    },
    onSubmit() {
      this.loading = true
      // 编辑
      sysConfigEdit({id: this.formData.id, configValue: this.formData.configValue}).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    /*max-width: 300px;*/
  }

  .avatar {
    max-width: 200px;
    max-height: 200px;
  }
</style>
