<template>
<view>
<!--pages/register/register.wxml-->
<view class="register_page" v-if="register">
  <form @submit="registerFun">
    <view class="p_relative">
      <image class="login_icon" src="../../static/images/phone.svg"></image>
      <input name="mobile" type="number" @input="changePhone" class="text_item radius_top" maxlength="11" placeholder="请输入手机号"></input>
    </view>
    <view class="p_relative">
      <image class="login_icon" src="../../static/images/safe.svg"></image>
      <input name="code" class="text_item yzm_input" maxlength="6" type="number" placeholder="请输入验证码"></input>
      <code-btn @codeClick="sendRes" :mobile="mobile"></code-btn>
    </view>
    <view class="p_relative">
      <image class="login_icon" src="../../static/images/rock.svg"></image>
      <input name="password" class="text_item" password="true" placeholder="请输入密码"></input>
    </view>
    <view class="p_relative">
      <image class="login_icon" src="../../static/images/rock.svg"></image>
      <input name="repassword" class="text_item radius_bottom" password="true" placeholder="请再次确认密码"></input>
    </view>
    <view class="p_relative referral-group">
      <image class="login_icon" src="../../static/images/ewm.png"></image>
      <text class="text">推荐码</text>
      <input name="referralCode" class="text_item radius_bottom" :value="referralCode" placeholder="请输入推荐码(选填)"></input>
    </view>
    <view class="agm-box">
      注册即同意<navigator class="a-link" url="../agreement/user">《用户协议》</navigator>
      和<navigator class="a-link" url="../agreement/privacy">《隐私协议》</navigator>
    </view>
    <button class="login_btn" :disabled="isRegister" form-type="submit">确定提交</button>
  </form>
  <view class="go_login c_blue">
    <navigator url="../login/login">已有帐号,前往登录</navigator>
  </view>
</view>
<view v-else>
  <view class="success_box b_fff" v-if="!registerType">
    <view class="success_text">
      <icon class="success_icon" type="success" size="50"></icon>
      <view class="success_msg">
        <text class="font33_bold c_333">注册成功！</text>
      </view>
    </view>
    <view class="btn_box mgt100">
      <navigator class="link_btn font25" url="../login/login">进入登录</navigator>
    </view>
  </view>
  <view class="success_box b_fff" v-else>
    <view class="success_text">
      <icon class="success_icon" type="success" size="50"></icon>
      <view class="success_msg">
        <text class="font33_bold c_333">修改成功！</text>
      </view>
    </view>
    <view class="btn_box mgt100">
      <navigator class="link_btn font25" url="../login/login">进入登录</navigator>
    </view>
  </view>
</view>
</view>
</template>

<script>
// pages/register/register.js
import * as apis from "../../api/website";
import codeBtn from "../../components/codebtn/codebtn";

export default {
  data() {
    return {
      registerType: false,
      btn_txt: '注册',
      mobile: '',
      register: true,
      referralCode: "",
      isRegister: false
    };
  },

  components: {
    codeBtn
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    if (options.type) {
      uni.setNavigationBarTitle({
        title: '修改密码'
      });
      this.setData({
        btn_txt: '修改密码',
        registerType: options.type
      });
    }

    const referralCode = uni.getStorageSync('referralCode');

    if (referralCode) {
      this.setData({
        referralCode: referralCode
      });
    }
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},
  methods: {
    changePhone(e) {
      this.setData({
        mobile: e.detail.value
      });
    },

    sendRes() {
      this.setData({
        isRegister: false
      });
    },

    registerFun(e) {
      let pobj = e.detail.value;

      if (!pobj.code) {
        uni.showToast({
          title: '请输入验证码',
          icon: 'none'
        });
        return false;
      }

      if (pobj.password.length < 6 || pobj.password.length > 16) {
        uni.showToast({
          title: '请输入正确密码',
          icon: 'none'
        });
        return false;
      }

      if (pobj.repassword !== pobj.password) {
        uni.showToast({
          title: '两次输入密码不一致',
          icon: 'none'
        });
        return false;
      }

      uni.showLoading({
        title: '注册中...'
      });

      if (this.registerType) {
        const uobj = {
          code: pobj.code,
          mobile: pobj.mobile,
          newPassword: pobj.password,
          confirmPassword: pobj.repassword
        };
        apis.updatePwd(uobj).then(res => {
          console.log(res);
          uni.hideLoading();
          this.setData({
            register: false
          });
        });
      } else {
        apis.register(pobj).then(res => {
          uni.hideLoading();
          this.setData({
            register: false
          });
        });
      }
    }

  }
};
</script>
<style lang="scss" scoped>
/* pages/register/register.wxss */
.register_page {
  padding-top: 80rpx;
}
.p_relative {
  position: relative;
  width: 656rpx;
  margin: 2rpx auto;
  overflow: hidden;
}
.login_icon {
  position: absolute;
  width: 30rpx;
  height: 30rpx;
  left: 15rpx;
  top: 35rpx;
}
.text_item {
  padding-left: 50rpx;
  height: 100rpx;
  background: #fff;
  width: 606rpx;
  font-size: 14px;
}
.referral-group
.text{
  position: absolute;
  top: 31rpx;
  left: 62rpx;
  font-size: 14px;
}
.referral-group
.text_item{
  padding-left: 180rpx;
}
.radius_top {
  border-radius: 6px 6px 0 0;
}
.radius_bottom {
  border-radius: 0px 0px 6px 6px;
}
.go_login {
  width: 656rpx;
  margin: 20rpx auto 0;
  font-size: 33rpx;
  display: flex;
  flex-direction: row-reverse;
}
.yzm_input {
  box-sizing: border-box;
  width: 423rpx;
}

.success_box {
  padding: 80rpx 50rpx 50rpx;
}
.success_text {
  display: flex;
}
.success_icon {
  margin: 0 40rpx 0 160rpx;
}
.success_msg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn_box {
  display: flex;
  justify-content: space-around;
}
.link_btn {
  width: 291rpx;
  height: 88rpx;
  line-height: 88rpx;
  border: 1rpx solid #2488EC;
  color: #2488EC;
  text-align: center;
  border-radius: 6px;
}
  .agm-box{
    font-size: 26rpx;
    text-align: center;
    margin-top: 20rpx;
    color: #666;
    .a-link{
      color: #2488EC;
      display: inline;
    }
  }
</style>
