<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="map.mobile" />
      </el-form-item>
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
      <el-button v-if="checkPermission('distributionSave')" type="success" size="mini" @click="handleAddRow(0)">新增</el-button>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      default-expand-all
      row-key="id"
      lazy
      :tree-props="{children: 'childrenList', hasChildren: 'routerUrl'}">
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="手机号" prop="mobile" />
      <el-table-column label="推广奖励比例" width="100">
        <template slot-scope="scope">
          {{ scope.row.spreadProfit * 100 }}%
        </template>
      </el-table-column>
      <el-table-column label="邀请奖励比例" width="100" >
        <template slot-scope="scope">
          {{ scope.row.inviteProfit * 100 }}%
        </template>
      </el-table-column>
      <el-table-column label="收益" prop="earnings" width="70" />
      <el-table-column label="是否允许推广下级" width="120">
        <template slot-scope="scope">
          {{ IsAllowInvitationEnum[scope.row.isAllowInvitation] }}
        </template>
      </el-table-column>
      <el-table-column label="层级" prop="floor" width="70" />
      <el-table-column label="描述" prop="remark" />
      <el-table-column label="操作" width="230">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('distributionSave')" type="success" size="mini" @click="handleAddRow(scope.row.id)">新增</el-button>
          <el-button v-if="checkPermission('distributionEdit')" type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="checkPermission('distributionDelete')" type="danger" plain size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"/>
    <add-distribution :title="ctrl.dialogTitle" :visible="ctrl.dialogVisible" :parentId="ctrl.parentId" @close-callback="closeCallback" />
    <edit-distribution :title="editCtrl.dialogTitle" :visible="editCtrl.dialogVisible" :info="editCtrl.info" @close-callback="closeEditCallback" />
  </div>
</template>

<script>
import {distributionPage, distributionDelete} from '@/api/user'
  import AddDistribution from '@/views/user/distribution/add/index';
  import EditDistribution from '@/views/user/distribution/edit/index';

  export default {
    components: { EditDistribution, AddDistribution },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        IsAllowInvitationEnum: {},
        ctrl: {
          dialogVisible: false,
          dialogTitle: '添加代理商',
          parentId: 0
        },
        editCtrl: {
          dialogVisible: false,
          dialogTitle: '修改代理商',
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'IsAllowInvitationEnum', type: 'obj' }).then(res => {
        this.IsAllowInvitationEnum = res;
      });
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            distributionDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 修改分页大小
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 跳转到指定页面
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      // 重置
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 打开添加页面
      handleAddRow(parentId) {
        this.ctrl.dialogVisible = true;
        this.ctrl.parentId = parentId
      },
      // 修改分销信息
      handleUpdateRow(row) {
        this.editCtrl.dialogVisible = true;
        this.editCtrl.info = row
        this.editCtrl.info.spreadProfit = row.spreadProfit * 100
        this.editCtrl.info.inviteProfit = row.inviteProfit * 100
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      // 分页方法
      listForPage() {
        this.loading.start()
        distributionPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      closeCallback() {
        this.page.pageCurrent = 1
        this.listForPage();
        this.ctrl.dialogVisible = false;
      },
      closeSubCallback() {
        this.page.pageCurrent = 1
        this.listForPage();
      },
      closeEditCallback() {
        this.page.pageCurrent = 1
        this.listForPage();
        this.editCtrl.dialogVisible = false;
      }
    }
  }
</script>
