<template>
  <div>
    <div v-if="status === 1" :style=" 'height:' + height + ';width:' + width" class="avatar-uploader">
      <div @click="handleClose" class="close-dialog">
        <i class="el-icon-close avatar-uploader-icon" title="取消上传"></i>
      </div>
      <el-progress :percentage="int" class="upload-progress" type="circle" />
    </div>
    <el-upload
      v-else
      :style=" 'height:' + height + ';width:' + width"
      :accept="accept"
      :show-file-list="false"
      :http-request="upload"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload"
      class="avatar-uploader"
      name="picFile"
      action="">
      <i v-if="status === 0" class="el-icon-plus avatar-uploader-icon"></i>
      <div v-else-if="status === 2" class="">
        <div class="close-dialog">
          <el-button class="reset-btn" size="mini">重新上传</el-button>
        </div>
        <img :src="url" class="avatar">
      </div>
    </el-upload>
  </div>
</template>

<script>
import { uploadPic } from '~/api/upload.js'
export default {
  name: 'UploadImage',
  props: {
    width: {
      type: String,
      default: '178px'
    },
    height: {
      type: String,
      default: '178px'
    },
    accept: { // 文件类型
      type: String,
      default: 'image/jpeg,image/png,image/gif'
    },
    imageUrl: { // 默认图片路径
      type: String,
      default: ''
    }
  },
  data() {
    return {
      status: 0, //  0:未上传， 1：正在上传， 2：已完成
      int: 50,
      url: '',
      source: undefined
    };
  },
  watch: {
    imageUrl(newData) {
      if (newData) {
        this.url = newData
        this.status = 2
      } else {
        this.url = ''
        this.status = 0
      }
    }
  },
  mounted() {
    if (this.imageUrl) {
      this.url = this.imageUrl
      this.status = 2
    }
  },
  methods: {
    upload(file) {
      const param = new FormData()
      const typeFile = 'picFile'
      param.append(typeFile, file.file, file.file.name)
      uploadPic(param, (int, source) => {
        this.source = source
        this.status = 1
        this.int = int
      }).then(res => {
        this.status = 2
        this.url = res.data
        this.$emit('success', { name: file.file.name, url: res.data })
      })
    },
    handleClose() {
      this.status = 0
      if (this.source) {
        this.source.cancel('取消上传');
      }
    },
    handleAvatarSuccess(res, file) {
      this.url = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload(file) {
      const isIMG = this.accept.indexOf(file.type);
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (isIMG === -1) {
        this.$message.error('不支持上传该文件格式');
      }
      if (!isLt2M) {
        this.$message.error('上传图片大小不能超过 2MB!');
      }
      return isIMG !== -1 && isLt2M;
    }
  }
}
</script>

<style lang="scss">
  .avatar-uploader{
    position: relative;
    .el-upload, .upload-progress {
      width: 100%;
      height: 100%;
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      &:hover {
        border-color: #409EFF;
      }
    }
    .avatar-uploader-icon {
      width: 100%;
      padding-top: 50%;
      padding-bottom: 50%;
      font-size: 28px;
      line-height: 0;
      color: #8c939d;
      text-align: center;
    }
    .avatar {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden;
    }
    .el-progress-circle{
      margin-left: 10%;
      margin-top: 10%;
      width: 80% !important;
      height: 80% !important;
    }
    .close-dialog{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      background: rgba(0,0,0,0.5);
      border-radius: 6px;
      .avatar-uploader-icon{
        color: #fff;
        font-size: 42px;
      }
      .reset-btn{
        margin-top: 50%;
        position: relative;
        top: -16px;
      }
    }
    &:hover {
      .close-dialog{
        display: block;
      }
    }
  }
</style>
