<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="用户手机">
        <el-input v-model="map.mobile" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button @click="handleUserExtExport">导出报表</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="用户编号" prop="userNo"/>
      <el-table-column label="用户手机" prop="mobile"/>
      <el-table-column label="用户角色" prop="userType" width="80">
        <template slot-scope="scope">
          <span>{{ userTypeEnums[scope.row.userType] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="注册时间" prop="gmtCreate"/>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>
<script>
  import {recommendedPage} from '@/api/user'
  import EditLabel from '../../../community/label/blog/edit/index';
  import {exportXls} from '@/utils';
  export default {
    components: { EditLabel },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        userTypeEnums: {},
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'arr'}).then(res => {
        this.isFreeEnumList = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'UserTypeEnum', type: 'obj'}).then(res => {
        this.userTypeEnums = res;
      });
  },
    created() {
      this.map.referralCode = this.$route.query.referralCode
      this.listForPage()
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleUserExtExport() {
        const location = window.location
        const url = `${location.origin}${process.env.VUE_APP_BASE_API}/user/pc/user/recommended/export`;
        exportXls(url, this.map, 'POST')
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        recommendedPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
