<template>
<view>
  <view class="earning_box">
    <view class="text_center font25 mgt30 c_fff">总收益(元)</view>
    <view class="text_center c_fff mgt20 font90">{{profit.totalIncome}}</view>
    <view class="text_center c_fff font25">
    可提现金额：￥{{profit.enableBalances}}<text class="go_cash" @tap="goEarningHistory">提现</text>
    </view>
  </view>
  <view class="tabs b_fff mgt8px" v-if="uType && uType == 4">
    <view class="tab" @tap="changeTab" data-int="2">
      <text :class="options.agentType == 2 ? 'tab_text active' : 'tab_text'">课程</text>
    </view>
    <view class="tab" @tap="changeTab" data-int="1">
      <text :class="options.agentType == 1 ? 'tab_text active' : 'tab_text'">推荐</text>
    </view>
  </view>
  <view v-if="options.agentType == 2">
    <view v-for="(item, index) in list" :key="index" class="earning_item b_fff font25 c_999">
      <view class="flex_row_between">
        <text class="font33 c_333">{{item.courseName}}</text>
        <text class="font41 c_red">￥{{item.lecturerProfit}}</text>
      </view>
      <view class="flex_row_between">
        <text>订单号：{{item.orderNo}}</text>
        <text>￥{{item.pricePaid}}</text>
      </view>
      <view class="mgt20">{{item.payTime}}</view>
    </view>
    <view class="no_more c_999 font25 text_center" v-show="notData">没有更多了...</view>
  </view>
  <view v-if="options.agentType == 1">
    <view v-for="(item, index) in list" :key="index" class="recommend_box b_fff">
      <view class="flex_column_around">
        <view class="recommend_header">
          <text class="font33 c_333">{{item.orderNo}}</text>
          <text class="font41 c_red fr">￥{{item.profitMoney}}</text>
        </view>
        <text class="font25 c_999">{{item.gmtCreate}}</text>
      </view>
    </view>
  <view class="no_more c_999 font25 text_center" v-show="notData">没有更多了...</view>
  </view>
</view>
</template>

<script>
// pages/earning/earning.js
import { cardInfo, orderHisList } from "../../../api/user";
import { agentProfitList } from "../../../api/agent";
const app = getApp();

export default {
  data() {
    return {
      token: '',
      userNo: '',
      orgNo: '',
      uType: '',
      profit: {},
      list: [],
      options: {},
      notData: true,
      cash: 0
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
    let uinfo = uni.getStorageSync('userInfo');
    console.log(uinfo);
    let ops = {
      agentType: 2,
      pageCurrent: 1,
      agentUserNo: uinfo.userNo
    };

    if (uinfo.userType == 3) {
      ops.agentType = 1;
    }

    this.setData({
      userNo: uinfo.userNo,
      token: uinfo.token,
      uType: uinfo.userType,
      options: ops
    });
    this.getProfit();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {
    if (this.options.agentType == 2) {
      this.getCourseList();
    } else if (this.options.agentType == 1) {
      this.getProfitList();
    }
  },

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {
    this.getCourseList();
  },

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    changeTab(e) {
      let options = this.options;
      options.pageCurrent = 1;
      options.agentType = parseInt(e.currentTarget.dataset.int);
      this.setData({
        options: options,
        notData: true,
        list: []
      });

      if (options.agentType == 2) {
        this.getCourseList();
      } else if (options.agentType == 1) {
        this.getProfitList();
      }
    },

    // 去到提现页面
    goEarningHistory() {
      uni.navigateTo({
        url: '../earningHistory/earningHistory'
      });
    },

    getProfit: function () {
      console.log(this.int);
      uni.showLoading({
        title: '加载中...',
        mask: true
      });
      cardInfo({
        userNo: this.userNo
      }).then(res => {
        console.log(res);
        this.setData({
          profit: res
        });
      });
    },
    getProfitList: function () {
      console.log('代理');
      let that = this;
      let options = this.options;

      if (that.notData) {
        uni.showLoading({
          title: '加载中...'
        });
        agentProfitList({
          agentUserNo: options.agentUserNo,
          pageCurrent: options.pageCurrent,
          pageSize: 10
        }).then(res => {
          console.log(res);
          options.pageCurrent = options.pageCurrent + 1;
          that.setData({
            options: options,
            list: that.list.concat(res.list)
          });

          if (res.pageCurrent == res.totalPage) {
            that.setData({
              notData: false
            });
          }
        });
      }
    },
    getCourseList: function () {
      console.log('讲师');
      let that = this;
      let options = this.options;
      console.log(options);

      if (that.notData) {
        uni.showLoading({
          title: '加载中...'
        });
        orderHisList({
          lecturerUserNo: options.agentUserNo,
          pageCurrent: options.pageCurrent,
          pageSize: 10
        }).then(res => {
          console.log(res);
          options.pageCurrent = options.pageCurrent + 1;
          that.setData({
            options: options,
            list: that.list.concat(res.list)
          });

          if (res.pageCurrent == res.totalPage) {
            that.setData({
              notData: false
            });
          }
        });
      }
    }
  }
};
</script>
<style scoped>
.earning_box {
  background: rgba(36, 136, 236, 1);
  /* height: 230rpx; */
  overflow: hidden;
  padding-bottom: 20rpx;
}
.money_box {
  background: rgba(36, 150, 249, 1);
  display: flex;
}
.money_num {
  flex: 1;
  height: 130rpx;
}
.tabs {
  display: flex;
  width: 100%;
}
.tab {
  flex: 1;
  text-align: center;
}
.tab_text {
  display: inline-block;
  height: 94rpx;
  line-height: 94rpx;
  font-size: 33rpx;
  color: #333;
}
.active {
  color: #2488EC;
  border-bottom: 1px solid #2488EC;
}
.earning_item {
  padding: 20rpx;
  border-bottom: 1px solid rgba(247, 245, 248, 1);
}
.go_cash {
  border: 1rpx solid #fff;
  padding: 5rpx 10rpx;
  border-radius: 3px;
  margin-left: 30rpx;
}
.recommend_box {
  padding: 30rpx 20rpx;
  position: relative;
}
.recommend_img {
  width: 94rpx;
  height: 94rpx;
  border-radius: 50%;
  margin-right: 20rpx;
  position: absolute;
}
.pdl114 {
  box-sizing: border-box;
  margin-left: 114rpx
}
</style>