<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="课程名称">
        <el-input v-model="map.courseName" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="上下架">
        <el-select v-model="map.isPutaway" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isPutawayEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="是否收费">
        <el-select v-model="map.isFree" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isFreeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="审核情况">
        <el-select v-model="map.auditStatus" clearable placeholder="请选择">
          <el-option
            v-for="item in auditStatusArr"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button class="" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="课程封面" width="122">
        <template slot-scope="scope">
          <img :src="scope.row.courseLogo" :alt="scope.row.courseName" width="100">
        </template>
      </el-table-column>
      <el-table-column label="课程名称">
        <template slot-scope="scope">
          <el-link type="primary" :underline="false" :href="`${scope.row.domain}/preview/live/${scope.row.id}`" target="_blank">{{scope.row.courseName}}</el-link>
        </template>
      </el-table-column>
      <el-table-column label="课程分类">
        <template slot-scope="scope">
          【{{ courseCategoryEnums[scope.row.courseCategory] }}】
          <br>
          【 {{ scope.row.categoryName1 }}】>【{{ scope.row.categoryName2 }}】>【{{ scope.row.categoryName3 }}】
        </template>
      </el-table-column>
      <el-table-column label="价格" prop="courseOriginal" width="140">
        <template slot-scope="scope">
          <span v-if="scope.row.isFree === 0">普通价：{{ scope.row.courseOriginal | formatAmount }}<br>会员价：{{ scope.row.courseDiscount | formatAmount }}</span>
          <span v-else>免费</span>
        </template>
      </el-table-column>
      <el-table-column label="上下架" width="70">
        <template slot-scope="scope">
          {{ isPutawayEnums[scope.row.isPutaway] }}
        </template>
      </el-table-column>
      <el-table-column label="审核情况" width="80">
        <template slot-scope="scope">
          {{ auditStatusEnums[scope.row.auditStatus] }}
        </template>
      </el-table-column>
      <el-table-column label="状态" width="60">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="60" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('liveAuditCourseEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('liveCourseAudit') && scope.row.auditStatus !== 1" plain type="warning" size="mini" @click="handleAudit(scope.row.id)">审核</el-button>
          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-button v-if="checkPermission('liveAuditUpdateStatus') && scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
                <el-button v-if="checkPermission('liveAuditUpdateStatus') && scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('liveAuditUpdatePutaway') && scope.row.isPutaway === 1" plain type="danger" size="mini" @click="handleUpdateIsPutaway(scope.row)">下架</el-button>
                <el-button v-if="checkPermission('liveAuditUpdatePutaway') && scope.row.isPutaway === 0" plain type="success" size="mini" @click="handleUpdateIsPutaway(scope.row)">上架</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <audit-course-live :title="auditCtr.title" :visible="auditCtr.visible" :info="auditCtr.info" @close-callback="closeCallback" />
  </div>
</template>

<script>
import {courseAuditPage, courseAuditUpdateStatus, courseAuditUpdateIsPutaway, courseAuditView} from '@/api/course'
import AuditCourseLive from '@/views/course/courseAudit/live/audit/index';

export default {
  components: {AuditCourseLive},
  filters: {
    formatAmount(val) {
      if (val) {
        return '¥ ' + val.toFixed(2)
      }
      return '¥ 0.00'
    }
  },
  data() {
    return {
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      list: [],
      map: {
        auditStatus: 0,
        courseCategory: 2
      },
      listLoading: true,
      courseCategoryEnums: {},
      statusIdEnums: {},
      isPutawayEnums: {},
      isFreeEnums: {},
      auditStatusEnums: {},
      auditStatusArr: {},
      auditCtr: {
        title: '审核',
        visible: false,
        info: {}
      }
    }
  },
  created() {
    this.listForPage()
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
      this.courseCategoryEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
      this.statusIdEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'IsPutawayEnum', type: 'obj'}).then(res => {
      this.isPutawayEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'obj'}).then(res => {
      this.isFreeEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'AuditStatusEnum', type: 'obj'}).then(res => {
      this.auditStatusEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'AuditStatusEnum', type: 'arr'}).then(res => {
      this.auditStatusArr = res;
    });
  },
  methods: {
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {
        auditStatus: 0,
        courseCategory: 2
      }
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleUpdateRow(id) {
      this.$router.push({path: '/course/course/audit/live/edit', query: {id: id}})
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      // this.listLoading = true
      this.loading.start()
      courseAuditPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    },
    handleUpdateStatusId(row) {
      {
        let body = '确定要启用【' + row.courseName + '】？';
        let statusId = 1;
        if (row.statusId === 1) {
          body = '确定要禁用【' + row.courseName + '】？';
          statusId = 0;
        }
        this.$confirm(body, '状态变更', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          courseAuditUpdateStatus({id: row.id, statusId: statusId}).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleUpdateIsPutaway(row) {
      {
        let body = '确定要上架【' + row.courseName + '】？';
        let isPutaway = 1;
        if (row.isPutaway === 1) {
          body = '确定要下架【' + row.courseName + '】？';
          isPutaway = 0;
        }
        this.$confirm(body, '上下架变更', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          courseAuditUpdateIsPutaway({id: row.id, isPutaway: isPutaway}).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleAudit(id) {
      courseAuditView(id).then(res => {
        if (res.data.auditStatus === 0 || res.data.auditStatus === 2) {
          this.auditCtr.title = res.data.courseName + '--审核'
          this.auditCtr.info = res.data;
          this.auditCtr.visible = true;
        } else {
          this.$message.error('该课程已审核，不能再审核');
        }
      })
    },
    closeCallback() {
      this.page.pageCurrent = 1;
      this.listForPage();
      this.auditCtr.visible = false;
    }
  }
}
</script>
