<template>
  <el-dialog :title="title" :visible.sync="visible" width="35%" :before-close="handleClose">
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="课程名称" prop="courseName">
        <el-input v-model="form.courseName" disabled class="form-group">
        </el-input>
      </el-form-item>
      <el-form-item label="原价" prop="courseOriginal">
        <el-input v-model="form.courseOriginal" disabled class="form-group" />
      </el-form-item>
      <el-form-item label="优惠价" prop="courseDiscount">
        <el-input v-model="form.courseDiscount" disabled class="form-group" />
      </el-form-item>
      <!--  活动类型(1优惠券)    -->
      <el-form-item v-if="form.actType === 1" label="面额" prop="actPrice">
        <el-input-number v-model="form.actPrice" controls-position="right" :min="0" />
        <el-tooltip class="item" effect="light" content="面额必须大于零且小于优惠价。（下单价格=课程价格-优惠券）" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-form-item>
      <el-form-item v-if="form.actType === 1" label="发券总量" prop="sort">
        <el-input-number v-model="form.coupon.total" controls-position="right" :min="1" />
        <el-tooltip class="item" effect="light" content="发券数量不能小于已领取的数量" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-form-item>
      <el-form-item v-if="form.actType === 1" label="领取人数" prop="sort">
        <el-input-number v-model="form.coupon.receiveNum" controls-position="right" :min="0" disabled/>
      </el-form-item>
      <!--  活动类型(2秒杀)    -->
      <el-form-item v-if="form.actType === 2" label="秒杀价格" prop="actPrice">
        <el-input-number v-model="form.actPrice" controls-position="right" :min="0" />
        <el-tooltip class="item" effect="light" content="秒杀价格必须大于零且小于优惠价。（下单价格=秒杀价格）" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-form-item>
      <el-form-item v-if="form.actType === 2" label="是否限购" prop="isLimit">
        <template>
          <el-radio v-model="form.seckill.isLimit" :label="1">是</el-radio>
          <el-radio v-model="form.seckill.isLimit" :label="0">否</el-radio>
        </template>
      </el-form-item>
      <el-form-item v-if="form.actType === 2 && form.seckill.isLimit === 1" label="限购人数" prop="sort">
        <el-input-number v-model="form.seckill.buyer" controls-position="right" :min="0" />
        <el-tooltip class="item" effect="light" content="限购人数不能小于已经购买人数" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-form-item>
      <el-form-item v-if="form.actType === 2 && form.seckill.isLimit === 1" label="已购人数" prop="sort">
        <el-input-number v-model="form.seckill.hasBuy" controls-position="right" :min="0" disabled/>
      </el-form-item>
      <el-form-item label="排序" prop="sort">
        <el-input-number v-model="form.sort" controls-position="right" :min="0" />
      </el-form-item>

    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { actZoneCourseEdit } from '@/api/marketing'
  export default {
    name: 'EditCourse',
    props: {
      formData: {
        type: Object,
        default: null
      },
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {
          isLimit: 0
        },
        subForm: {}
      }
    },
    created() {
      this.form = this.formData
    },
    methods: {
      handleClose() {
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            // 拼接参数
            this.subForm = {
              id: this.form.id,
              sort: this.form.sort,
              remark: this.form.remark,
              actPrice: this.form.actPrice
            }
            if (this.form.actType === 1) {
              this.subForm.total = this.form.coupon.total
            } else {
              this.subForm.isLimit = this.form.seckill.isLimit
              this.subForm.buyer = this.form.seckill.buyer
            }
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        actZoneCourseEdit(this.subForm).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
