<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="广告标题">
        <el-input v-model.trim="map.advTitle" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item v-if="ctrl.platShow === 2" class="filter-item" label="移动端类型">
        <el-select v-model="map.mobileTerminalCategory" class="auto-width" clearable filterable placeholder="移动端类型">
          <el-option
            v-for="(value, key) in mobileTerminalCategoryEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="60" />
      <!--  移动端展示移动类型    -->
      <el-table-column v-if="ctrl.platShow === 2" label="类型" width="120">
        <template slot-scope="scope">
          {{ mobileTerminalCategoryEnums[scope.row.mobileTerminalCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="广告图片">
        <template slot-scope="scope">
          <img :src="scope.row.advImg" width="200" alt="">
        </template>
      </el-table-column>
      <el-table-column label="广告标题">
        <template slot-scope="scope">
          <!--  移动APP端 不能跳转    -->
          <div v-if="scope.row.mobileTerminalCategory === 1">{{ scope.row.advTitle }}</div>
          <el-link v-else type="primary" target="_blank" @click="jumpUrl(scope.row.advUrl)">{{ scope.row.advTitle }}</el-link>
        </template>
      </el-table-column>
      <el-table-column label="广告链接">
        <template slot-scope="scope">
          {{ scope.row.advUrl }}
        </template>
      </el-table-column>
      <el-table-column label="开始时间/结束时间" width="150">
        <template slot-scope="scope">
          {{ scope.row.beginTime }}
          <br>
          {{ scope.row.endTime }}
        </template>
      </el-table-column>
      <el-table-column label="状态" width="80">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="60" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId === 0 " plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add v-if="ctrl.addDialogVisible" :visible="ctrl.addDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <edit v-if="ctrl.editDialogVisible" :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>
<script>
  import {advPage, advDelete, advUpdateStatus } from '@/api/system'
  import Add from '../../../add'
  import Edit from '../../../edit'

  export default {
    components: { Edit, Add },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          platShow: 2, // 1pc 2app 3
          mobileTerminalCategory: 0, // 1app 2h5 默认是0
          advLocation: 3, // 1首页轮播图，2顶部活动;3:首页资讯轮播图
          editDialogVisible: false,
          addDialogVisible: false
        },
        formData: {},
        list: [],
        map: {},
        statusIdEnums: {},
        mobileTerminalCategoryEnums: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'MobileTerminalCategoryEnum', type: 'obj' }).then(res => {
        this.mobileTerminalCategoryEnums = res;
      });
    },
    methods: {
      // 链接跳转
      jumpUrl(url) {
        window.open(url)
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.advTitle + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.advTitle + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            advUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 编辑
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.dialogTitle = '编辑';
        this.ctrl.editDialogVisible = true;
      },
      // 新增
      handleAddRow() {
        if (this.ctrl.platShow === 1) {
          this.formData = {
            sort: 1,
            advLocation: this.ctrl.advLocation,
            platShow: this.ctrl.platShow,
            mobileTerminalCategory: 0,
            advTarget: '_blank'
          }
        } else {
          this.formData = {
            sort: 1,
            advLocation: this.ctrl.advLocation,
            platShow: this.ctrl.platShow,
            mobileTerminalCategory: 1,
            advTarget: '_blank'
          }
        }
        this.ctrl.dialogTitle = '新增';
        this.ctrl.addDialogVisible = true;
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.advTitle + '】？';
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            advDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size;
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current;
        this.listForPage();
      },
      handleReset() {
        this.map = {};
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start();
        advPage(this.map, this.ctrl.platShow, this.ctrl.advLocation, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list;
          this.page.pageCurrent = res.data.pageCurrent;
          this.page.totalCount = res.data.totalCount;
          this.page.pageSize = res.data.pageSize;
        })
      }
    }
  }
</script>
