<template>
  <!--弹窗-->
  <el-dialog
    width="50%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="80px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="模板图片" prop="templateUrl">
            <upload-image :image-url="formData.templateUrl" @success="val => {formData.templateUrl = val.url}" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form-item label="模板类型" prop="templateType">
            <el-select v-model="formData.templateType" clearable filterable placeholder="模板类型" class="auto-width">
              <el-option
                v-for="item in templateTypeEnums"
                :key="item.code"
                :label="item.desc"
                :value="item.code"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="使用模板" prop="isUseTemplate">
            <el-select v-model="formData.isUseTemplate" clearable filterable placeholder="使用模板" class="auto-width">
              <el-option
                v-for="item in isUseTemplateEnums"
                :key="item.code"
                :label="item.desc"
                :value="item.code"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form-item label="X位置" prop="picx">
            <el-input-number v-model="formData.picx" controls-position="right" :min="0" />
            <el-tooltip class="item"  effect="light" content="小程序二维码X位置，单位：像素(px)" placement="top-start">
              <svg-icon class="svg-icon" icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="Y位置" prop="picy">
            <el-input-number v-model="formData.picy" controls-position="right" :min="0" />
            <el-tooltip class="item"  effect="light" content="小程序二维码Y位置，单位：像素(px)" placement="top-start">
              <svg-icon class="svg-icon" icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm()">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { sharingTemplateEdit } from '@/api/system'
  import UploadImage from '@/components/Upload/UploadImage';

  export default {
    components: {UploadImage},
    name: 'Edit',
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        templateTypeEnums: {},
        isUseTemplateEnums: {},
        rules: {
          templateUrl: [
            { required: true, message: '请上传模板图片', trigger: 'blur' }
          ],
          templateType: [
            { required: true, message: '请选择模板类型', trigger: 'blur' }
          ],
          isUseTemplate: [
            { required: true, message: '请选择是否使用此模板', trigger: 'blur' }
          ],
          picx: [
            { required: true, message: '请输入小程序二维码X位置', trigger: 'blur' }
          ],
          picy: [
            { required: true, message: '请输入小程序二维码Y位置', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'TemplateTypeEnum', type: 'arr' }).then(res => {
        this.templateTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'IsUseTemplateEnum', type: 'arr'}).then(res => {
        this.isUseTemplateEnums = res;
      });
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields();
        this.$emit('close-callback')
      },
      submitForm() {
        if (this.formData === undefined) {
          this.$message({
            showClose: true,
            message: '提交失败',
            type: 'error'
          });
        } else {
          // 编辑
          this.loading = true;
          sharingTemplateEdit(this.formData).then(res => {
            this.loading = false;
            this.load = false;
            if (res.code === 200) {
              // 提交成功, 关闭窗口, 刷新列表
              this.handleClose('close-callback')
            } else {
              this.$message({
                showClose: true,
                message: '提交失败',
                type: 'error'
              });
            }
          }).catch(() => {
            this.loading = false
          })
        }
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
