<template>
  <div class="courseAd">
    <div class="ad">
      <a :href="url" target="_blank">
        <img :src="img" :style="{maxWidth: imgMaxWidth}" class="indexAd" />
      </a>
    </div>
    <div class="content">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    info: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {};
  },
  computed: {
    img() {
      return this.info.img; ;
    },
    imgMaxWidth() {
      return '285px';
    },
    url() {
      if (this.info.url) {
        return this.info.url;
      }
      if (this.info.zoneCategory === 1) {
        return '/view/' + this.info.productId;
      }
      if (this.info.zoneCategory === 2) {
        return '/live/detail/' + this.info.productId;
      }
      return '/';
    }
  },
  mounted() {
    console.log(this.info);
  },
  methods: {}
};
</script>
<style lang="scss"  scoped>
.courseAd {
  display: flex;
  .ad {
    margin-right: 20px;
  }
  .indexAd {
    border-radius: 8px;
  }
  .content {
    flex: 1;
  }
}
</style>
