
<template>
  <div class="banner">
    <div
      class="box-shadow"
      :style="`background-image:url('${(data&&data[num])?data[num].advImg:''}');`"
    ></div>
    <div class="banner-content">
      <ul
        class="banner-list"
        :style="'height:' + height + 'px;'"
        @mouseout="mout"
        @mouseover="mover"
      >
        <li
          class="item"
          v-for="(item, index) in data"
          :key="index"
          :class="{ on: index === num }"
        >
          <a :href="item.advUrl" :title="item.advTitle">
            <img :src="item.advImg" :alt="item.advTitle" />
          </a>
        </li>
      </ul>
      <ul class="page_dots" v-if="webInfo.indexTemplate !== 1">
        <span
          class="dots"
          v-for="(item, index) in data"
          :class="{ on: index === num }"
          @mouseenter="num = index"
          :key="index"
        ></span>
      </ul>
      <ul class="page_dots old" v-else>
        <span
          class="dots old_dot"
          v-for="(item, index) in data"
          :class="{ on: index === num }"
          @mouseenter="num = index"
          :key="index"
          :style="'width:' + (1200 / data.length - 2) + 'px;'"
          >{{ item.advTitle }}</span
        >
      </ul>
      <y-class-block
        v-if="webInfo.indexTemplate !== 1"
        :height="height"
        :classList="classList"
      />
    </div>
  </div>
</template>
<script>
import YClassBlock from '~/components/index/ClassBlock';
// import {mapState} from 'vuex'
export default {
  components: {
    YClassBlock
  },
  props: {
    data: {
      // 手机号
      type: [Object, Array],
      default: []
    },
    classList: {
      type: [Object, Array],
      default() {
        return [];
      }
    },
    height: {
      type: [String, Number],
      default: 456
    }
  },
  data() {
    return {
      webInfo: '',
      num: 0,
      interval: null
    };
  },
  computed: {},
  mounted() {
    this.webInfo = this.$store.state.webInfo;
    this.change();
  },
  methods: {
    change() {
      this.interval = setInterval(() => {
        if (this.num + 1 >= this.data.length) {
          this.num = 0;
        } else {
          this.num++;
        }
      }, 5000);
    },
    mout() {
      this.change();
    },
    mover() {
      clearInterval(this.interval);
    }
  }
};
</script>
<style lang="scss" scoped>
.box-shadow {
  height: 180px;
  opacity: 0.3;
  filter: blur(100px);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}
.banner {
  padding-top: 30px;
  position: relative;
  .banner-content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background: #e3e3e3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);
  }
  ul {
    position: relative;
  }
  .banner-list {
    margin-left: 180px;
  }
  .item {
    opacity: 0;
    height: 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    transition: all 1s;
    &.on {
      opacity: 1;
      z-index: 10;
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .page_dots {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 5px 15px 0;
    text-align: center;
    border-radius: 13px;
    height: 26px;
    background: rgba(0, 0, 0, 0.2);
    z-index: 11;
    &.old {
      left: 0;
      right: 0;
      margin-right: 0;
      bottom: 30px;
    }
    .dots {
      display: inline-block;
      width: 20px;
      height: 8px;
      margin: 0 4px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 15px;
      &.on {
        background: #ffffff;
        border-radius: 20px;
      }
    }
  }
}
</style>
