<!-- 轮播图上的分类 -->
<template>
  <div v-if="classList.length" @mouseleave="hideWidth" class="class_block">
    <ul :class="{left_block: true, show_scroll: classList.length > 10}">
      <li v-for="(item, index) in classList" :key="index" :class="{active: item.id == categoryno1}" :style="classList.length > 5 && classList.length <= 10 &&'line-height:' + (height/classList.length) + 'px;'" @mouseenter="changeWidth(item)">
        <nuxt-link :to="{name: 'list', query: {categoryno1: item.id}}">
          {{ item.categoryName }}
        </nuxt-link>
        <span class="arrow" />
      </li>
    </ul>
    <div :style="'width:' + width + 'px;'" class="big_block clearfix">
      <div class="list_items fl clearfix">
        <div v-for="(item, index) in twoList" :key="index" class="list_item clearfix">
          <nuxt-link :to="{name: 'list', query: {categoryno1, categoryno2: item.id}}" :class="{class_header: true, has_three: item.threeList.length, fl: true}">
            {{ item.categoryName }}
          </nuxt-link>
          <div class="fl three_box">
            <nuxt-link v-for="(that, num) in item.threeList" :key="num" :to="{name: 'list', query: {categoryno1, categoryno2: item.id, categoryno3: that.id}}" class="three_link">
              {{ that.categoryName }}
            </nuxt-link>
          </div>
        </div>
      </div>
       <div class="foot_courses fl clearfix">
        <div class="courses_top">
          课程推荐
        </div>
        <div v-for="(item, index) in courseList" :key="index" class="foot_course fl">
          <div class="img_box inline_box">
            <nuxt-link v-if="item.courseCategory === 1" :to="{name: 'view-id', params: {id: item.courseId}}" target="_blank">
              <img :src="item.courseLogo" class="course_img" alt="">
            </nuxt-link>
            <nuxt-link v-if="item.courseCategory === 2" :to="{name: 'live-detail-id', params: {id: item.courseId}}" target="_blank">
              <img :src="item.courseLogo" class="course_img" alt="">
            </nuxt-link>
            <nuxt-link v-if="item.courseCategory === 3" :to="{ path: '/library/view/' + that.courseId}" target="_blank">
              <img :src="item.courseLogo" class="course_img" alt="">
            </nuxt-link>
            <nuxt-link v-if="item.courseCategory === 4" :to="{name: 'resource-detail-id', params: {id: item.courseId}}" target="_blank">
              <img :src="item.courseLogo" class="course_img" alt="">
            </nuxt-link>
          </div>
          <div class="course_info inline_box">
            <nuxt-link v-if="item.courseCategory === 1" :to="{name: 'view-id', params: {id: item.courseId}}" target="_blank" class="course_name">
              {{ item.courseName }}
            </nuxt-link>
            <nuxt-link v-if="item.courseCategory === 2" :to="{name: 'live-detail-id', params: {id: item.courseId}}" target="_blank" class="course_name">
              {{ item.courseName }}
            </nuxt-link>
            <nuxt-link v-if="item.courseCategory === 3" :to="{ path: '/library/view/' + that.courseId}" target="_blank" class="course_name">
              {{ item.courseName }}
            </nuxt-link>
            <nuxt-link v-if="item.courseCategory === 4" :to="{name: 'resource-detail-id', params: {id: item.courseId}}" target="_blank" class="course_name">
              {{ item.courseName }}
            </nuxt-link>
            <p v-if="item.isFree" class="course_price">
              免费
            </p>
            <div v-else class="course_price">
              ￥{{ item.courseOriginal }}
              <p class="font_12 c_gold mgt3">
                SVIP:{{ item.courseDiscount ? '￥' + item.courseDiscount : '免费' }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { recommendList } from '~/api/course'
export default {
  props: {
    height: {
      type: [String, Number],
      default: 336
    },
    classList: {
      type: [Array, Object],
      default() {
        return []
      }
    }
  },
  data() {
    return {
      webInfo: this.$store.state.webInfo,
      width: 0,
      courseData: {},
      courseList: [],
      twoList: [],
      categoryno1: ''
    }
  },
  mounted() {
  },
  methods: {
    getRecommendList() {
      recommendList({ categoryId: this.categoryno1 }).then(res => {
        console.log(res)
        this.courseData['cate' + this.categoryno1] = res.data.list
        this.courseList = res.data.list
      })
    },
    changeWidth(item) {
      this.width = 500
      this.categoryno1 = item.id
      this.twoList = item.twoList
      this.courseList = item.courseList
      if (this.courseData['cate' + item.id]) {
        this.courseList = this.courseData['cate' + item.id]
        return false
      }
      this.getRecommendList()
    },
    hideWidth() {
      this.width = 0
      this.categoryno1 = ''
    },
    // 跳转详情页
    goDetail(id, type) {
      // console.log(id)
      let name = ''
      if (type === 1) {
        name = 'view-id'
      } else if (type === 2) {
        name = 'live-detail-id'
      } else if (type === 3) {
        name = 'live-bunch-id'
      }
      this.$router.push({ name, params: { id } })
    }
  }
}
</script>
<style lang="scss" scoped>
  a {
    &:hover {
      color: #D51423;
      text-decoration: none;
    }
  }
  .class_block {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: 20;
    margin-left: -600px;
  }
  .left_block {
    width: 180px;
    font-size: 14px;
    height: 100%;
    padding-left: 10px;
    background: #333333;
    &.show_scroll {
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: rgba(245, 245, 245, 0.4);
      }
    }
    .arrow {
      display: inline-block;
      width: 5px;
      height: 5px;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      transform: rotate(45deg);
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -2px;
    }
    li {
      line-height: 56px;
      padding: 0 10px;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      a {
        font-size: 14px;
        color: #CCCCCC;
      }
      &:hover {
        background: #666666;
        border-radius: 8px 0px 0px 8px;
      }
    }
  }
  .big_block {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    margin-left: 90px;
    background: #fff;
    transition: width 0.1s;
    overflow: hidden;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
  }
  .list_items {
    height: 100%;
    width: 200px;
    padding-left: 19px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: rgba(210, 210, 210, 0.4);
    }
  }
  .list_item {
    padding-top: 20px;
    position: relative;
    line-height: 20px;
    .class_header {
      padding-right: 20px;
      background: #fff;
      font-size: 14px;
      &.has_three {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .three_link {
      font-size: 14px;
      color: #999;
      display: inline-block;
      margin-right: 20px;
      &:hover {
        color: #D51423;
      }
    }
  }
  .foot_courses {
    padding: 0px 30px;
    height: 100%;
    width: 300px;
    background: rgba(247, 245, 248, 1);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.1);
    }
    .courses_top {
      font-size: 14px;
      font-weight: 700;
      padding: 20px 0px;
    }
    .foot_course {
      width: 220px;
      position: relative;
      margin-bottom: 20px;
    }
    .inline_box {
      display: inline-block;
      height: 43px;
    }
    .img_box {
      width: 110px;
      height: 63px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
    }
    .course_info {
      font-size: 14px;
      margin-left: 8px;
    }
    .course_name {
      position: absolute;
      width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333;
      top: 0;
      &:hover {
        text-decoration: none;
        color: #D51423;
      }
    }
    .course_price {
      position: absolute;
      color: #999;
      bottom: 2px;
    }
  }
</style>
