<style lang="scss" scoped>
	.list {
		padding:36upx 36upx 2upx;
		background-color: #fff;
		.item {
			margin-bottom: 36upx;
			padding-right: 266upx;
			position: relative;
			.logo {
				position: absolute;
				right: 0;
				top: 0;
				width: 242upx;
				height: 136upx;
				display: block;
				margin-left: 24upx;
				.logoimg {
					width: 100%;
					height: 100% !important;
					border-radius: 8px;
				}
			}
			.text {
				width: 100%;
				.title {
					font-weight: bold;
					font-size: 30upx;
					padding-bottom: 16upx;
					min-height: 80upx;
					line-height: 42upx;
					color: #333333;
					text-overflow:ellipsis;/*文本溢出时显示省略标记*/
					display:-webkit-box;/*设置弹性盒模型*/
					-webkit-line-clamp:2;/*文本占的行数,如果要设置2行加...则设置为2*/
					-webkit-box-orient:vertical;/*子代元素垂直显示*/
				}
				.time {
					font-size: 24upx;
					line-height: 40upx;
					color: #999999;
				}
				.eye {
					float: right;
					color:#999;
					.eyeImg {
						width:10px;
						height: 10px;;
						color:#999;	
						margin-right: 4px;
					}
				}
			}
		}
	}
</style>


<template>
	<view class="list">
		<view class="item" v-for="(item, index) in list" :key="index" @click="toDetails(item)">
			<view class="text">
				<view class="title text-ov-2" v-html="item.title"></view>
				<view class="time">
					{{ item.gmtModified }}
					<text class="eye" >
						<image src="../../static/images/eye.svg" mode="widthFix" class="eyeImg"></image>{{ item.readAcount }}
					</text>
				</view>
			</view>
			<view class="logo">
				<image :src="item.blogImg" mode="widthFix" class="logoimg"></image>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props:{
			list: {
				type: Array,
				default () {
					return []
				}
			}
		},
		data() {
			return {};
		},
		components: {},
		methods: {
			toDetails(item) {
				uni.navigateTo({
				    url: '/pages/news/details?id=' + item.id
				});
			}
		}
	};
</script>

