<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-row>
        <el-col :span="8">
          <el-form-item label="置顶设置" prop="isTop">
            <el-radio v-model="form.isTop" :label="1">是</el-radio>
            <el-radio v-model="form.isTop" :label="0">否</el-radio>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="浏览人数" prop="readAcount">
            <el-input-number v-model="form.readAcount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="form.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="问答标题" prop="title">
            <el-input v-model="form.title" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="标签" prop="tagsName">
            <el-select v-model="labelNameArr" multiple placeholder="请选择">
              <el-option
                v-for="item in labelList"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="关键词" prop="keywords">
            <el-input v-model="form.keywords" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="问答摘要" prop="summary">
            <el-input
              v-model="form.summary"
              type="textarea"
              :rows="2"
              placeholder="请输入内容"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="问题内容" prop="content">
          <Wangeditor v-model="form.content" />
        </el-form-item>
      </el-row>
      <br>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {questionsView, questionsEdit, labelPageOnlyName} from '@/api/community'
import Wangeditor from '@/components/wangeditor/wangeditor.vue';

export default {
  name: 'EditQuestions',
  components: {Wangeditor},
  data() {
    return {
      labelList: [],
      labelNameArr: [// 中间参数
      ],
      end: false,
      form: {},
      map: {
        labelType: 2
      },
      rules: {
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        title: [
          {required: true, message: '请输入问题标题', trigger: 'blur'}
        ],
        content: [
          {required: true, message: '请输入问题内容', trigger: 'blur'}
        ],
        summary: [
          {required: true, message: '请输入摘要', trigger: 'blur'}
        ],
        isTop: [
          {required: true, message: '请输入是否置顶(1置顶，0否)', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
    const view = this.$route
    this.getlabelOnlyNameByType(2)
    this.getViewInfo(view.query.id)
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/community/questions/list');
      })
    },
    getlabelOnlyNameByType() {
      labelPageOnlyName(this.map, 1, 100).then(res => {
        this.labelList = res.data
      }).catch(() => {

      })
    },
    getViewInfo(id) {
      this.loading = true
      questionsView(id).then(res => {
        this.loading = false
        this.form = res.data
        this.tagsStrTransArr()
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.form
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      this.tagsArrTransStr();
      if (this.end) {
        this.loading = false
        return false;
      }
      // 编辑
      questionsEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    },
    // 处理标签  数组转字符串
    tagsArrTransStr() {
      if (this.labelNameArr.length === 1) {
        this.form.tagsName = ''
        this.form.tagsName = this.labelNameArr[0]
      } else if (this.labelNameArr.length >= 2) {
        this.form.tagsName = ''
        for (const tag of this.labelNameArr) {
          this.form.tagsName += tag + ','
        }
        this.form.tagsName = this.form.tagsName.substring(0, (this.form.tagsName.length - 1))
      } else {
        this.end = true;
        this.$message.error('标签不能为空');
      }
    },
    // 处理标签 字符串转数组
    tagsStrTransArr() {
      this.labelNameArr = this.form.tagsName.split(',');
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
