<template>
  <!--弹窗-->
  <el-dialog
    width="35%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose">
    <el-form ref="formData" :model="formData" :rules="rules" label-width="90px">
      <el-row>
        <el-col :span="19">
          <el-form-item label="标题" prop="title">
            <el-input v-model="formData.title"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="跳转分类">
            <el-select v-model="formData.jumpCategory" clearable filterable placeholder="跳转分类" class="auto-width">
              <el-option
                v-for="item in jumpCategoryEnums"
                :key="item.code"
                :label="item.desc"
                :value="item.code"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="产品名称">
            <el-input v-model="formData.productName" disabled class="form-group">
              <el-button v-if="formData.jumpCategory === 1 || formData.jumpCategory === 2 || formData.jumpCategory === 3" slot="append" icon="el-icon-search" @click="findCourse" />
              <el-button v-if="formData.jumpCategory === 4" slot="append" icon="el-icon-search" @click="findExam" />
              <el-button v-if="formData.jumpCategory === 5" slot="append" icon="el-icon-search" @click="findBlog" />
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="内容" prop="content">
            <el-input
              v-model="formData.content"
              type="textarea"
              :rows="3"
              placeholder="请输入内容"
              class="form-group"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="立即发送">
            <template>
              <el-radio v-model="formData.isPromptlySend" label="1">立即发送</el-radio>
              <el-radio v-model="formData.isPromptlySend" label="0">不发送</el-radio>
            </template>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm()">保存</el-button>
    </div>
    <find-course :title="courseCtr.title" :courseCategory="courseCtr.courseCategory" :visible="courseCtr.visible" @close-callback="courseCloseCallback" />
    <find-blog :title="blogCtr.title" :visible="blogCtr.visible" @close-callback="blogCloseCallback" />
    <find-exam :title="examCtr.title" :visible="examCtr.visible" @close-callback="examCloseCallback" />
  </el-dialog>
</template>
<script>
  import {appMessageSave} from '@/api/system'

  import FindCourse from '@/views/system/appMessage/add/findCourse';
  import FindBlog from '@/views/system/appMessage/add/findBlog';
  import FindExam from '@/views/system/appMessage/add/findExam';
  export default {
    components: {FindExam, FindCourse, FindBlog},
    name: 'Add',
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        formData: {},
        jumpCategoryEnums: [],
        isSendEnums: {},
        courseCtr: {
          courseCategory: 1,
          title: '课程信息--查找带回',
          visible: false
        },
        blogCtr: {
          title: '文章信息--查找带回',
          visible: false
        },
        examCtr: {
          title: '试卷信息--查找带回',
          visible: false
        },
        rules: {
          title: [
            { required: true, message: '请输入推送标题', trigger: 'blur' }
          ],
          content: [
            { required: true, message: '请输入推送内容', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'JumpCategoryEnum', type: 'arr' }).then(res => {
        this.jumpCategoryEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsSendEnum', type: 'obj' }).then(res => {
        this.isSendEnums = res;
      });
    },
    methods: {
      handleClose() {
        this.formData = {}
        this.$emit('close-callback')
      },
      findCourse() {
        if (!this.formData.jumpCategory) {
          this.$message({
            type: 'error',
            message: '请选择跳转分类'
          });
          return false
        }
        if (this.formData.jumpCategory === 1) {
          this.courseCtr.courseCategory = 1
        } else if (this.formData.jumpCategory === 2) {
          this.courseCtr.courseCategory = 2
        } else {
          this.courseCtr.courseCategory = 4
        }
        this.courseCtr.visible = true;
      },
      findBlog() {
        this.blogCtr.visible = true;
      },
      findExam() {
        this.examCtr.visible = true;
      },
      uploadSuccess(res) {
        this.formData.img = res.url
      },
      courseCloseCallback(row) {
        this.courseCtr.visible = false;
        if (row) {
          this.formData.productName = row.courseName;
          this.formData.productId = row.id;
        }
      },
      blogCloseCallback(row) {
        this.blogCtr.visible = false;
        if (row) {
          this.formData.productName = row.title;
          this.formData.productId = row.id;
        }
      },
      examCloseCallback(row) {
        this.examCtr.visible = false;
        if (row) {
          this.formData.productName = row.examName;
          this.formData.productId = row.id;
        }
      },
      submitForm() {
        if (this.formData === undefined) {
          this.$message({
            showClose: true,
            message: '提交失败',
            type: 'error'
          });
        } else {
          if (!this.formData.title) {
            this.$message({
              type: 'error',
              message: '请输入推送标题'
            });
            return false
          }
          if (!this.formData.content) {
            this.$message({
              type: 'error',
              message: '请输入内容'
            });
            return false
          }
          if (!this.formData.isPromptlySend) {
            this.$message({
              type: 'error',
              message: '请选择是否立即发送'
            });
            return false
          }
          if (!this.formData.jumpCategory) {
            this.$message({
              type: 'error',
              message: '请选择跳转分类'
            });
            return false
          }
          if (!this.formData.productId) {
            this.$message({
              type: 'error',
              message: '请选择产品'
            });
            return false
          }
          this.loading = true;
          // 新增
          appMessageSave(this.formData).then(res => {
            this.loading = false;
            if (res.code === 200) {
              // 提交成功, 关闭窗口, 刷新列表
              this.handleClose('close-callback')
            } else {
              this.$message({
                showClose: true,
                message: '提交失败',
                type: 'error'
              });
            }
          }).catch(() => {
            this.loading = false
          })
        }
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
