<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="审核结果" prop="auditStatus">
        <el-radio-group v-model="form.auditStatus">
          <el-radio :label="1">通过</el-radio>
          <el-radio :label="2">不通过</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="审核意见">
        <el-input v-model="form.auditOpinion" type="textarea" class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button type="primary" size="mini" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { examAuditAudit } from '@/api/exam'

  export default {
    name: 'AuditExam',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      auditCtr: {
        title: '审核',
        visible: false,
        info: {}
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {
          auditStatus: 1,
          auditOpinion: ''
        },
        opts: {},
        rules: {
          auditStatus: [
            { required: true, message: '请输入审核状态', trigger: 'blur' }
          ]
        }
      }
    },
    created() {
      if (this.visible) {
        this.form.id = this.info.id;
        this.form.auditStatus = 1;
        this.form.auditOpinion = '系统默认通过';
      }
    },
    methods: {
      handleClose() {
        this.form = {};
        this.$emit('close-callback');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        examAuditAudit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
