<template>
<view>
  <view class="b_fff chapter_header">
    <view class="font30 c_333 chapter_title">
      {{info.periodName}}
    </view>
  </view>
  <view class="chapter_items">
    <library-long :info="info" :courseInfo="courseInfo" :hide="hide"></library-long>
  </view>
  <catalogue-box v-if="showCatalogue" @hidecatalogue="changeCatalogue"></catalogue-box>
</view>
</template>

<script>
// pages/chapterdetail/chapterdetail.js
let app = getApp();
import libraryLong from "../../components/libraryLong/libraryLong";
import catalogueBox from "../../components/catalogue/catalogue";

export default {
  data() {
    return {
      info: '',
      courseInfo: '',
      hide: false
    };
  },

  components: {
    libraryLong,
    catalogueBox
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();

    if (!uni.getStorageSync('userInfo')) {
      app.globalData.setPageUrl();
      app.globalData.loginRoncoo();
    } else {
      // console.log(options.info)
      let info = JSON.parse(decodeURIComponent(options.info));
      let courseInfo = JSON.parse(decodeURIComponent(options.courseInfo));
      this.setData({
        info: info,
        courseInfo: courseInfo
      });

      if (options.hide) {
        this.setData({
          hide: true
        });
      }
    }
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {}
};
</script>
<style scoped>
page {
  background: #fff;
}
.chapter_header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 120rpx;
  /* display: flex; */
  z-index: 0;
}
.class_box {
  display: flex;
  flex-direction: column;
  padding: 0rpx 30rpx;
}
.class_icon {
  width: 36rpx;
  height: 36rpx;
}
.chapter_title {
  line-height: 120rpx;
  padding: 0px 20rpx; 
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chapter_items {
  position: fixed;
  top: 120rpx;
  bottom: 120rpx;
  width: 100%;
}
.width40 {
  width: 40rpx;
}
</style>