<template>
<view>
  <view v-for="(item, index) in list" :key="index" class="recommend_box b_fff mgt8px">
    <image src="../../../static/images/ewm.png" class="recommend_img"></image>
    <view class="flex_column_around pdl114">
      <view class="recommend_header">
        <text class="font33 c_333">{{item.mobile}}</text>
      </view>
      <text class="font25 c_999">加入时间：{{item.gmtCreate}}</text>
    </view>
  </view>
  <view class="no_more c_999 font25 text_center" v-show="notData">没有更多了...</view>
</view>
</template>

<script>
// pages/user_recommend/user_recommend.js
import * as agent from "../../../api/agent";
const app = getApp();

export default {
  data() {
    return {
      notData: true,
      options: null,
      token: '',
      list: []
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {
    let uinfo = uni.getStorageSync('userInfo');
    let cl = app.globalData.clientData;
    this.setData({
      token: uinfo.token,
      options: {
        agentUserNo: uinfo.userNo,
        pageCurrent: 1,
        pageSize: 8
      }
    });
    this.getAgent();
  },

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {
    this.getAgent();
  },

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    getAgent: function () {
      let options = this.options;
      console.log('userNo', options);
      let that = this;

      if (this.notData) {
        uni.showNavigationBarLoading();
        agent.merchantList(options).then(result => {
          uni.hideNavigationBarLoading();
          options.pageCurrent = options.pageCurrent + 1;
          that.setData({
            list: that.list.concat(result.list),
            options: options
          });

          if (result.pageCurrent == result.totalPage) {
            that.setData({
              notData: false
            });
          }

          if (!result.list.length) {
            that.setData({
              notData: false
            });
          }
        }).catch(() => {
          uni.hideNavigationBarLoading();
        });
      }
    }
  }
};
</script>
<style scoped>
.recommend_box {
  padding: 30rpx 20rpx;
  position: relative;
}
.recommend_img {
  width: 94rpx;
  height: 94rpx;
  border-radius: 50%;
  margin-right: 20rpx;
  position: absolute;
}
.pdl114 {
  box-sizing: border-box;
  margin-left: 114rpx
}
</style>