<template>
  <div class="earning_table">
    <ul class="tabs clearfix">
      <a :class="{on: tab == 1}" @click="clicktab(1)" class="tab">订单收益</a>
      <a :class="{on: tab == 2}" @click="clicktab(2)" class="tab">提现记录</a>
    </ul>
    <div class="main_cont">
      <div v-if="notdata" class="notdata">
        <i class="iconfont">&#xe6be;</i>暂时没有数据
      </div>
      <table v-else-if="tab == 1" class="course_table table">
        <thead>
          <tr>
            <th>订单号</th>
            <th>课程信息</th>
            <th>购买时间</th>
            <th>购买人</th>
            <th>价格</th>
            <th>收入</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in pageObj.list" :key="index">
            <td>
              {{ item.orderNo }}
            </td>
            <td class="name">
              {{ item.courseName }}
            </td>
            <td>
              {{ item.payTime }}
            </td>
            <td>
              {{ item.phone }}
            </td>
            <td class="c_red">
              {{ '￥' + item.pricePaid }}
            </td>
            <td class="c_red">
              {{ '￥' + item.lecturerIncome }}
            </td>
          </tr>
        </tbody>
      </table>
      <table v-else-if="tab == 2" class="course_table table">
        <thead>
          <tr>
            <th>申请时间</th>
            <th>金额</th>
            <th>银行卡账号</th>
            <th>开户人</th>
            <th>讲师收入</th>
            <th>状态</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in pageObj.list" :key="index">
            <td>
              {{ item.gmtCreate }}
            </td>
            <td class="c_red">
              {{ item.extractMoney }}
            </td>
            <td>
              {{ item.bankCardNo }}
            </td>
            <td>
              {{ item.bankUserName }}
            </td>
            <td class="c_red">
              {{ '￥' + item.userIncome }}
            </td>
            <td v-if="item.extractStatus == 1">
              确认中
            </td>
            <td v-if="item.extractStatus == 2">
              支付中
            </td>
            <td v-if="item.extractStatus == 3">
              确认中
            </td>
            <td v-if="item.extractStatus == 4">
              成功
            </td>
            <td v-if="item.extractStatus == 5">
              失败
            </td>
          </tr>
        </tbody>
      </table>
    <br>
    <div class="center">
      <el-pagination
        :page-size="pageObj.pageSize"
        :current-page="pageObj.pageCurrent"
        :total="pageObj.totalCount"
        @current-change="getPage"
        class="page-panel"
        background
        layout="prev, pager, next">
      </el-pagination>
    </div>
    </div>
  </div>
</template>
<script>
import { teacherOrderList, teacherCashList } from '~/api/account/user.js'
export default {
  data() {
    return {
      tab: 1,
      pageCurrent: 1,
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  computed: {
    notdata() {
      return !this.pageObj.list.length
    }
  },
  mounted() {
    this.getTeacherOrderList()
  },
  methods: {
    // tab切换
    clicktab(tab) {
      this.tab = tab
      this.pageCurrent = 1
      if (this.tab === 1) {
        this.getTeacherOrderList()
      } else if (this.tab === 2) {
        this.getTeacherCashList()
      }
    },
    // 分页
    getPage(int) {
      this.pageCurrent = int
      if (this.tab === 1) {
        this.getTeacherOrderList()
      } else if (this.tab === 2) {
        this.getTeacherCashList()
      }
    },
    // 获取订单收益列表
    getTeacherOrderList() {
      teacherOrderList({
        lecturerUserNo: this.$store.state.userInfo.userNo,
        pageCurrent: this.pageCurrent,
        pageSize: 10
      }).then((res) => {
        console.log(res)
        this.pageObj = res.data
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      })
    },
    // 获取提现记录
    getTeacherCashList() {
      teacherCashList({
        lecturerUserNo: this.$store.state.userInfo.userNo,
        pageCurrent: this.pageCurrent,
        pageSize: 10
      }).then((res) => {
        console.log(res)
        this.pageObj = res.data
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .earning_table {
    margin-top: 30px;
    background: #fff;
    border-radius: 8px;
  }
  .notdata {
    text-align: center;
    font-size: 30px;
    i {
      font-size: 30px;
      margin-right: 10px;
    }
  }
</style>
