<template>
  <div class="resource_l">
    <div class="header">推荐文库</div>
    <ul class="recommend_list">
      <li v-for="(item, index) in list" :key="index">
        <nuxt-link :to="{name: 'resource-detail-id', params: {id: item.resourceId}}" target="_blank" class="clearfix">
          <span class="recommend_title">{{ item.resourceName }}</span>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
<script>
import { resourceRecommend } from '~/api/course.js'
export default {
  data() {
    return {
      list: [],
      now: ''
    }
  },
  mounted() {
    resourceRecommend().then(res => {
      this.list = res.data.list
    })
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .w240 {
    width: 240px;
  }
  .resource_l {
    color: #333;
    background: #fff;
    border-radius: 6px;
    font-size: 14px;
    padding-bottom: 15px;
    .header {
      font-weight: 700;
      line-height: 60px;
      border-bottom: 1px solid rgb(242, 242, 242);
      padding-left: 20px;
    }
  }
  .cell {
    li {
      padding-left: 30px;
      color: #999;
      line-height: 30px;
      // &:first-child {
      //   padding-left: 20px;
      //   color: #1E1E1E;
      // }
      a:hover {
        color: #D51423;
        text-decoration: none;
      }
      &.now {
        a {
          color: #D51423;
        }
      }
    }
  }
  .recommend_list {
    padding: 10px;
    li {
      line-height: 24px;
    }
    a {
      color: #999;
      &:hover {
        text-decoration: none;
        color: #D51423;
      }
      .recommend_title {
        display: inline-block;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        width: 100%;
      }
      .recommend_time {
        display: inline-block;
        width: 40px;
      }
    }
  }
</style>
