<template>
  <div class="resource_body">
    <el-row :gutter="gutter">
      <el-col :span="span" v-for="(item, index) in list" :key="index">
        <nuxt-link
          :to="{ name: 'resource-detail-id', params: { id: item.id } }"
        >
          <div
            class="resource_item clearfix"
            :style="{
              borderWidth: noBorder ? '0px' : '1px',
              marginBottom: gutter ? gutter + 'px' : '0px',
            }"
          >
            <div class="img_box">
              <img :src="item.courseLogo" alt />
              <act-mark
                class="__mark"
                v-if="markList[index]"
                :act-list="markList[index].actZoneCourseUserViewDTO"
              />
            </div>
            <div class="text">
              <div v-html="item.courseName" class="item_title"></div>
              <div>
                <span v-if="item.isFree" class="price_box isFree">免费</span>
                <span v-else class="price_box">
                  ￥{{ item.courseOriginal.toFixed(2) }}
                  <span
                    v-if="item.courseOriginal !== item.courseDiscount"
                    class="font_12 padl_10 SVIP"
                    >SVIP:{{
                      item.courseDiscount
                        ? "￥" + item.courseDiscount.toFixed(2)
                        : "免费"
                    }}</span
                  >
                </span>
              </div>
              <div class="teacher">
                <nuxt-link
                  target="_blank"
                  :to="{
                    name: 'lecturer-id',
                    params: { id: item.lecturerUserNo },
                  }"
                >
                  <img
                    :src="item.headImgUrl"
                    v-if="item.headImgUrl"
                    class="teacher_img"
                    alt=""
                  />
                  <img v-else src="/friend.jpg" class="teacher_img" alt="" />
                  {{ item.lecturerName }}
                </nuxt-link>
                <span class="countStudy_box">{{ item.countStudy }} 人已学习</span>
              </div>
            </div>
          </div>
        </nuxt-link>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import actMark from '~/components/activity/Mark';
import { getCourseListMark } from '~/api/activity.js';

export default {
  name: 'ResourceList',
  components: {
    actMark
  },
  props: {
    list: {
      type: Array,
      default() {
        return [];
      }
    },
    gutter: {
      type: Number,
      default() {
        return 0;
      }
    },
    noBorder: {
      type: Boolean,
      default() {
        return false;
      }
    },
    span: {
      type: Number,
      default() {
        return 24;
      }
    }
  },
  data() {
    return {
      markList: []
    };
  },
  watch: {
    list(val) {
      this.getMarks();
    }
  },
  mounted() {
    this.getMarks();
  },
  methods: {
    getMarks() {
      const idList = [];
      this.list.map((item) => {
        idList.push(item.id);
      });
      getCourseListMark({ courseIds: idList }).then((res) => {
        this.markList = res.data.courseIdList;
      });
    }
  }
};
</script>

<style scoped lang="scss">
.resource_body {
  margin-bottom: -20px;
}
.resource_item {
  padding: 10px;
  padding-left: 240px;
  height: 132px;
  position: relative;
  background: #fff;
  border-radius: 8px;
  border-bottom: 1px solid rgb(242, 242, 242);

  &:hover {
      box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      transition: all 0.3s;
    }
  .img_box {
    display: block;
    height: 112px;
    width: 230px;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 63px;
    img {
      height: 112px;
      width: 230px;
      border-radius: 8px;
    }
  }

  .text {
    padding-left: 16px;
  }
  .item_title {
    //  width: 1045px;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
    min-height: 44px;
    margin-bottom: 5px;
    margin-top: 2px;
    &:hover {
      text-decoration: none;
    }
  }

  .teacher {
      margin-top: 5px;
      border-top: 1px solid #e9e9e9;
      line-height: 38px;
      height: 38px;
      font-size: 12px;
      color: #999999;
      a {
        color: #999999;
      }
      & > a:hover {
        color: #19be6b;
      }
      .teacher_img {
        height:18px;
        width: 18px;
        border-radius: 9px;
        margin-right:2px;
        margin-top: 10px;
        vertical-align: top;
      }
      .countStudy_box {
        font-size: 12px;
        color: #9199a1;
        float: right;
      }
    }

  .price_box {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    &.isFree {
      font-size: 13px;
      color: #19be6b;
    }
    .SVIP {
      color: #fb6260;
      margin-left: 8px;
      font-size: 13px;
    }
  }
  .item_msg {
    // width: 1045px;
    margin-left: 16px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    // color: #999;
    line-height: 28px;
    margin-top: 7px;
    .item_time {
      padding-left: 16px;
    }
    .item_price {
      font-size: 18px;
    }
    .dis_price {
      font-size: 14px;
      color: #ec7e11;
    }
    .countStudy_box {
      font-size: 12px;
      right: 10px;
      color: #9199a1;
    }
    position: relative;
  }
}
.icon_r {
  padding-right: 5px;
}
</style>
