<template>
  <div class="fl ResourceRight">
    <div v-if="!detail" class="resource_r">
      <div class="header">
        最新文库
      </div>
      <ul class="resource_list">
        <li v-for="(item, index) in newResourceList" :key="index" class="clearfix">
          <nuxt-link :to="{name: 'resource-id', params: {id: item.id}}" target="_blank" class="img_box fl">
            <img :src="item.img" alt="">
          </nuxt-link>
          <div class="img_text fl">
            <nuxt-link :to="{name: 'resource-id', params: {id: item.id}}" target="_blank">
              {{ item.resourceName }}
            </nuxt-link>
          </div>
        </li>
      </ul>
    </div>
    <div v-else class="teacher_box clearfix">
      <div class="photo_box fl">
        <nuxt-link target="_blank" :to="{ name: 'lecturer-id', params: {id: teacherInfo.lecturerUserNo} }">
          <img v-if="teacherInfo.headImgUrl" :src="teacherInfo.headImgUrl" alt="">
        </nuxt-link>
      </div>
      <div class="teacher_info fl">
        <div class="teacher_name">
          <nuxt-link target="_blank" :to="{ name: 'lecturer-id', params: {id: teacherInfo.lecturerUserNo} }">
            {{ teacherInfo.lecturerName }}
          </nuxt-link>
        </div>
        <!-- <span>{{ teacherInfo.fansNumber }}人关注</span> -->
      </div>
      <!-- <a href="javascript:" :class="{attention: true, fr: true, b_red: isAttention}" @click="setAttention">关注</a> -->
    </div>
    <Resource-left style="margin-top: 10px"></Resource-left>
  </div>
</template>
<script>
import ResourceLeft from '~/components/resource/ResourceLeft'
import { attentionSave } from '~/api/user.js'
export default {
  components: { ResourceLeft },
  props: {
    detail: {
      type: Boolean,
      default: false
    },
    teacherInfo: {
      type: [Object, Array],
      default() {
        return {}
      }
    },
    preview: {
      type: Boolean
    },
    categoryId1: {
      type: String,
      default() {
        return ''
      }
    },
    newResourceList: {
      type: [Object, Array],
      default() {
        return []
      }
    }
  },
  data() {
    return {
      userInfo: this.$store.state.userInfo,
      isAttention: false
    }
  },
  mounted() {
  },
  methods: {
    // 关注讲师
    setAttention() {
      if (this.preview) return
      if (!this.userInfo) {
        this.$msgBox({
          content: '登录后才可以关注'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN')
        }).catch(() => {
        })
        return false
      }
      attentionSave({
        lecturerUserNo: this.teacherInfo.lecturerUserNo
      }).then((res) => {
        // console.log(res)
        if (res.code === 200) {
          this.$msgBox({
            content: '关注成功',
            isShowCancelBtn: false
          })
          this.isAttention = true
        } else {
          this.$msgBox({
            content: res.msg,
            isShowCancelBtn: false
          })
          if (res.code === 508) {
            this.isAttention = true
          }
        }
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .ResourceRight {
    width: 260px !important;
  }
  .resource_r {
    width: 260px;
    background: #fff;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    .header {
      line-height: 60px;
      border-bottom: 1px solid rgb(242, 242, 242);
      padding-left: 20px;
    }
  }
  .resource_list {
    padding: 0 16px;
    li {
      padding: 10px 0;
      border-bottom: 1px solid rgb(242, 242, 242);
    }
    .img_box {
      display: block;
      width: 90px;
      height: 54px;
      img {
        width: 90px;
        height: 54px;
        border-radius: 6px;
      }
    }
    .img_text {
      width: 120px;
      height: 28px;
      font-size: 12px;
      margin: 11px 0 0 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    a:hover {
      text-decoration: none;
      color: #D51423;
    }
  }
  .recommend_list {
    padding: 10px;
    li {
      line-height: 24px;
    }
    a {
      color: #999;
      &:hover {
        text-decoration: none;
        color: #D51423;
      }
      .recommend_title {
        display: inline-block;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        width: 168px;
      }
      .recommend_time {
        display: inline-block;
        width: 40px;
      }
    }
  }
  .teacher_box {
    height: 100px;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    .photo_box {
      width: 60px;
      height: 60px;
      background: url("/assets/image/friend.jpg");
      -webkit-background-size: 100%;
      background-size: 100%;
      img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
      }
    }
    .teacher_info {
      width: 80px;
      margin-left: 10px;
      font-size: 12px;
      color: #999;
      .teacher_name {
        font-size: 14px;
        color: #333;
        margin: 10px 0;
      }
    }
    .attention {
      width: 56px;
      height: 26px;
      line-height: 26px;
      color: #fff;
      background: #666;
      font-size: 14px;
      text-align: center;
      border-radius: 6px;
      margin-top: 17px;
      &.b_red {
        background: #D51423;
      }
      &:hover {
        background: #D51423;
        text-decoration: none;
      }
    }
  }
</style>
