<template>
  <div class="app-container record-container">
    <el-form ref="formData" :model="formData" label-width="150px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="类型" prop="type">
            <el-radio-group v-model="formData.type">
              <el-radio v-for="item in websiteNavArticleEnums" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
            <el-tooltip class="item" effect="dark" content="类型选择" placement="top-start">
              <i class="el-icon-question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="排序">
            <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="formData.type === 1">
        <el-col :span="12">
          <el-form-item label="标题" prop="artTitle">
            <el-input v-model="formData.artTitle" placeholder="请输入标题" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="formData.type === 2">
        <el-col :span="12">
          <el-form-item label="URL">
            <el-input v-model="formData.url" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="formData.type === 1">
        <el-col :span="24">
          <el-form-item label="描述" prop="artDesc">
            <wangeditor v-model="formData.artDesc" />
          </el-form-item>
        </el-col>
      </el-row>
      <br>
      <el-row v-if="formData.type === 1">
        <el-col>
          <el-form-item label="图片">
            <upload-image :image-url="formData.artPic" @success="val => {formData.artPic = val.url}" />
            <el-tooltip class="item" effect="dark" content="图片可以不添加" placement="top-start">
              <i class="el-icon-question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item>
        <el-button @click="handleClose">关 闭</el-button>
        <el-button type="primary" plain @click="submitForm('formData')">保存</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { updateOrSaveByNavId, websiteNavArticleViewByNavId } from '@/api/system'
  import UploadImage from '@/components/Upload/UploadImage';
  import Wangeditor from '@/components/wangeditor/wangeditor.vue';
  export default {
    name: 'EditWebsiteNavArticle',
    components: { UploadImage, Wangeditor },
    data() {
      return {
        ctrl: {
          loading: false
        },
        formData: {
          sort: 1,
          type: 1 // 类型文章
        },
        navId: '',
        websiteNavArticleEnums: {},
        videoFlag: false,
        videoUploadPercent: 0
      }
    },
    created() {
      this.navId = this.$route.query.navId
      this.getArticala(this.navId)
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'WebsiteNavArticleEnum', type: 'arr' }).then(res => {
        this.websiteNavArticleEnums = res;
      });
      this.navId = this.$route.query.navId
      this.getArticala(this.navId)
    },
    methods: {
      // 编辑器上传图片
      getArticala(navId) {
        this.loading = true
        websiteNavArticleViewByNavId(navId).then(res => {
          this.loading = false
          if (res.code === 200 && res.data != null) {
            this.formData = res.data
          }
        }).catch(() => {
          this.loading = false
        })
      },
      // 关闭页面
      handleClose() {
        // 关闭导航便签
        this.$store.state.tags.visitedViews.pop();
        // 返回上次操作位置
        this.$router.go(-1)
      },
      submitForm(formData) {
        this.formData.navId = this.navId
        this.$refs[formData].validate((valid) => {
          if (valid) {
            this.loading = true
            updateOrSaveByNavId(this.formData).then(res => {
              this.loading = false
              if (res.code === 200) {
                this.tips('更新成功', 'success')
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '更新失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          } else {
            this.loading = false
            this.$message({
              type: 'error',
              message: '操作失败'
            });
          }
        })
      }
    }
  }
</script>
<style lang="scss">
  #artDesc .w-e-text-container{
    height: 100px !important;
  }
  .form-group {
    width: 100%;
    max-width: 1200px;
  }
</style>

