<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form :inline="true">
      <el-card>
        <el-row>
          <el-col :span="12">
            <div>
              <el-form-item label="用户手机:">
                <span>{{ form.mobile }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="用户备注:">
                <template>
                  <span>{{ form.remarkCus }}</span>
                </template>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <div>
              <el-form-item label="用户编号:">
                <span>{{ form.userNo }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="注册时间:">
                <template>
                  <span>{{ form.registerTime }}</span>
                </template>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-card>
      <br>
      <el-card>
        <el-row>
          <el-col :span="12">
            <div>
              <el-form-item label="订单号:">
                <span>{{ form.orderNo }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="订单状态:">
                <span>{{ orderStatusEnums[form.orderStatus] }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="流水号:">
                <span>{{ form.serialNumber }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="支付名称:">
                <span>{{ form.payChannelName }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div>
              <el-form-item label="实付金额:">
                <span>{{ form.pricePaid }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div>
              <el-form-item label="应付金额:">
                <span>{{ form.pricePayable }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div>
              <el-form-item label="优惠金额:">
                <span>{{ form.priceDiscount }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div>
              <el-form-item label="支付方式:">
                <span>{{ payTypeEnums[form.payType] }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div>
              <el-form-item label="购买渠道:">
                <span>{{ channelTypeEnums[form.channelType] }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div>
              <el-form-item label="交易类型:">
                <span>{{ tradeTypeEnums[form.tradeType] }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="创建时间:">
                <span>{{ form.gmtModified }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="支付时间:">
                <span>{{ form.payTime }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col>
            <div>
              <el-form-item label="后台备注:">
                <span>{{ form.remark }}</span>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-card>
      <br>
      <el-card>
        <el-row>
          <el-col>
            <div>
              <el-form-item label="讲师名称:">
                <span>{{ form.lecturerName }}</span>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="产品名称:">
            <span>【{{ productTypeEnums[form.productType] }}】{{ form.productName }}</span>
          </el-form-item>
        </el-row>
        <el-col :span="24">
          <div>
            <el-form-item label="平台收入:">
              <span>{{ form.platformIncome }}【平台收入 = 订单金额 - 分销收入 - 用户代理收入 - 讲师收入】</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col>
          <div>
            <el-form-item label="讲师收入:">
              <span>{{ form.lecturerIncome }}</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col>
          <div>
            <el-form-item label="分销收入:">
              <span>{{ form.chosenIncome }}</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col>
          <div>
            <el-form-item label="用户代理收入:">
              <span>{{ form.agentIncome }}</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col>
          <div>
            <el-form-item label="推荐编号:">
              <span>{{ form.referralCode }}</span>
            </el-form-item>
          </div>
        </el-col>
      </el-card>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">关闭</el-button>
    </div>
  </el-dialog>
</template>
<script>

export default {
  name: 'ViewOrderInfo',
  props: {
    title: {
      type: String,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    },
    info: {
      type: Object,
      default: () => {
      }
    }
  },
  data() {
    return {
      form: {},
      productTypeEnums: {},
      payTypeEnums: {},
      channelTypeEnums: {},
      tradeTypeEnums: {},
      orderStatusEnums: {}
    }
  },
  watch: {
    visible: function(val) {
      if (val) {
        this.form = this.info
      }
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'ProductTypeEnum', type: 'obj'}).then(res => {
      this.productTypeEnums = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'PayTypeEnum', type: 'obj'}).then(res => {
      this.payTypeEnums = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'ChannelTypeEnum', type: 'obj'}).then(res => {
      this.channelTypeEnums = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'TradeTypeEnum', type: 'obj'}).then(res => {
      this.tradeTypeEnums = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'OrderStatusEnum', type: 'obj'}).then(res => {
      this.orderStatusEnums = res;
    })
  },
  methods: {
    handleClose() {
      this.$emit('close-callback');
    }
  }
}
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
