<template>
	<view class="course_box">
		<view v-for="(that, index2) in list" :key="index2" class="course_info">
			<navigator v-if="that.courseCategory === 1" :url="'../course/view/view?id=' + that.id" class="course-link">
				<view class="img_box">
					<image :src="that.courseLogo" class="course_img"></image>
				</view>
				<view class="font25 couese_name mgt10 c_333">
					<view class="text-ov-2">{{that.courseName}}</view>
					<view class="price" v-if="showPrice">{{!that.isFree ? '￥' + that.courseOriginal : '免费'}}</view>
				</view>
			</navigator>
			<navigator v-else-if="that.courseCategory === 2" :url="'../course/live/live?id=' + that.id" class="course-link">
				<view class="img_box">
					<image :src="that.courseLogo" class="course_img"></image>
				</view>
				<view class="font25 couese_name mgt10 c_333">
					<view class="text-ov-2">{{that.courseName + '(直播)'}}</view>
					<view class="price" v-if="showPrice">{{!that.isFree ? '￥' + that.courseOriginal : '免费'}}</view>
				</view>
			</navigator>
			<Mark id="Mark" v-if="markList[index2]" :act-list="markList[index2].actZoneCourseUserViewDTO"></Mark>
		</view>
	</view>
</template>

<script>
	import {
		getCourseListMark
	} from "../../api/activity";
	import Mark from "../activity/Mark.vue"
	export default {
		data() {
			return {
				showPrice: false,
				markList: []
			};
		},

		components: {
			Mark
		},
		props: {
			list: {
				type: [Array]
			}
		},
		watch: {
			list(val) {
				this.getMarks();
			}
		},
		mounted() {
			this.setData({
				showPrice: uni.getStorageSync('showPrice')
			});
			this.getMarks()
		},
		methods: {
			getMarks() {
				if (this.list && this.list.length) {
					const idList = []
					this.list.map(item => {
						idList.push(item.courseId || item.id)
					})
					getCourseListMark({
						courseIds: idList
					}).then(res => {
						console.log(res.courseIdList)
						this.markList = res.courseIdList
					})
				}
			}
		}
	};
</script>
<style>
	.course_box {
		padding: 20rpx 30rpx 0;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.course_info {
		flex-direction: column;
		margin-bottom: 20rpx;
		position: relative;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);

	}

	.course-link {
		display: flex;
	}

	.img_box {
		width: 335rpx;
		height: 186rpx;
		position: relative;
	}

	.course_img {
		width: 100%;
		height: 186rpx;
	}

	.couese_name {
		display: block;
		flex: 1;
		padding: 10rpx 20rpx;
		font-size: 30rpx;
		overflow: hidden;
		position: relative;
	}

	.couese_name .price {
		position: absolute;
		color: #FF7607;
		font-size: 32rpx;
		right: 20rpx;
		bottom: 20rpx;
		font-weight: 400;
	}

	.teacher_info {
		width: 32%;
		border-radius: 6px;
		border: 1px solid rgb(245, 245, 245);
		position: relative;
	}

	.blue_box {
		height: 94rpx;
		background: rgba(36, 136, 236, 1);
		border-radius: 6px 6px 0 0;
	}

	.teacher_logo {
		position: absolute;
		width: 66rpx;
		height: 66rpx;
		top: 61rpx;
		left: 50%;
		margin-left: -33rpx;
		border-radius: 50%;
	}

	.teacher_msg {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 120rpx;
		padding: 54rpx 10rpx 10rpx;
	}

	.no_wrap {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
