<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>

      <el-button type="success" size="mini" @click="handleAddRow">新增</el-button>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="创建时间" prop="gmtCreate" />
      <el-table-column label="修改时间" prop="gmtModified" />
      <el-table-column label="状态(1:正常，2:禁用)" prop="statusId" />
      <el-table-column label="讲师用户编号" prop="lecturerUserNo" />
      <el-table-column label="讲师名称" prop="lecturerName" />
      <el-table-column label="用户编号" prop="userNo" />
      <el-table-column label="用户手机号" prop="mobile" />
      <el-table-column label="订单号" prop="orderNo" />
      <el-table-column label="订单流水号" prop="serialNumber" />
      <el-table-column label="关联ID" prop="refId" />
      <el-table-column label="关联名称" prop="refName" />
      <el-table-column label="课程ID" prop="courseId" />
      <el-table-column label="课程名称" prop="courseName" />
      <el-table-column label="课程类型：1课程，2章节，3课时" prop="courseType" />
      <el-table-column label="订单状态：1待支付，2成功支付，3支付失败，4已关闭，4已退款" prop="orderStatus" />
      <el-table-column label="订单价格（元）" prop="orderPrice" />
      <el-table-column label="支付时间" prop="payTime" />
      <el-table-column label="支付方式：1微信支付，2支付宝支付，4手工录单" prop="payType" />
      <el-table-column label="平台收入" prop="platformIncome" />
      <el-table-column label="讲师收入" prop="lecturerIncome" />
      <el-table-column label="错误日志信息" prop="statusMsg" />
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
  import { orderLogPage, orderLogDelete } from '@/api/user'

  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            orderLogDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.$router.push('/user/order/log/add')
      },
      handleUpdateRow(id) {
        this.$router.push({ path: '/user/order/log/edit', query: { id: id }})
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        orderLogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
