<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="状态(1有效, 0无效)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="排序" prop="sort">
            <el-input v-model="form.sort" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="短信ID" prop="msgId">
            <el-input v-model="form.msgId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="手机号" prop="mobile">
            <el-input v-model="form.mobile" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="短信类型(1系统消息,2其他)" prop="msgType">
            <el-input v-model="form.msgType" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="短信标题" prop="msgTitle">
            <el-input v-model="form.msgTitle" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否阅读(1是;0否)" prop="isRead">
            <el-input v-model="form.isRead" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="是否置顶(1是;0否)" prop="isTop">
            <el-input v-model="form.isTop" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item>
        <el-button type="primary" @click="submitForm('form')">立即创建</el-button>
        <el-button @click="handleClose">关 闭</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { userMsgSave } from '@/api/user'

  export default {
    name: 'AddUserMsg',
    data() {
      return {
        form: {},
        opts: {},
        rules: {
          gmtCreate: [
            { required: true, message: '请输入创建时间', trigger: 'blur' }
          ],
          gmtModified: [
            { required: true, message: '请输入修改时间', trigger: 'blur' }
          ],
          statusId: [
            { required: true, message: '请输入状态(1有效, 0无效)', trigger: 'blur' }
          ],
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ],
          msgId: [
            { required: true, message: '请输入短信ID', trigger: 'blur' }
          ],
          userNo: [
            { required: true, message: '请输入用户编号', trigger: 'blur' }
          ],
          mobile: [
            { required: true, message: '请输入手机号', trigger: 'blur' }
          ],
          msgType: [
            { required: true, message: '请输入短信类型(1系统消息,2其他)', trigger: 'blur' }
          ],
          msgTitle: [
            { required: true, message: '请输入短信标题', trigger: 'blur' }
          ],
          isRead: [
            { required: true, message: '请输入是否阅读(1是;0否)', trigger: 'blur' }
          ],
          isTop: [
            { required: true, message: '请输入是否置顶(1是;0否)', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/user/user/msg/list');
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        userMsgSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
