<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form :inline="true">
      <el-card>
        <el-row>
          <el-col :span="12">
            <div>
              <el-form-item label="用户头像:">
                <div class="demo-image">
                  <div class="block">
                    <el-image style="width:100px;height:100px" :src="form.headImgUrl" />
                  </div>
                </div>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="编号:">
                <span>{{ form.userNo }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="状态:">
                <template>
                  <span>{{ statusIdEnum[form.statusId] }}</span>
                </template>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <div>
              <el-form-item label="手机号码:">
                <span>{{ form.mobile }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="昵称:">
                <span>{{ form.nickname }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="用户角色:">
                <template>
                  <span>{{ userTypeEnum[form.userType] }}</span>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="性别:">
                <template>
                  <span>{{ sexEnum[form.sex] }}</span>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="注册时间:">
                <span>{{ form.gmtCreate }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="年龄:">
                <span>{{ form.age }}</span>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-card>
      <br>
      <el-card>
        <el-row>
          <el-col :span="12">
            <div>
              <el-form-item label="用户属性:">
                <span>{{ isVipEnum[form.isVip] }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="会员类型:">
                <template>
                  <span>{{ vipTypeEnum[form.vipType] }}</span>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div>
              <el-form-item label="过期时间:">
                <span>{{ form.expireTime }}</span>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-card>
      <br>
      <el-card>
        <el-col :span="12">
          <div>
            <el-form-item label="代理等级:">
              <template>
                <span>{{ agentTypeEnum[form.agentType] }}</span>
              </template>
            </el-form-item>
          </div>
        </el-col>
        <el-row>
          <el-col :span="12">
            <div>
              <el-form-item label="推荐码:">
                <template>
                  <span>{{ form.referralCode }}</span>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <div>
              <el-form-item label="二维码URL:">
                <span>{{ form.codeUrl }}</span>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <div>
              <el-form-item label="备注:">
                <span>{{ form.remark }}</span>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-card>
      <br>
      <el-card>
        <el-col :span="12">
          <div>
            <el-form-item label="身份证名字:">
              <template>
                <span>{{  form.idCardName }}</span>
              </template>
            </el-form-item>
          </div>
        </el-col>
        <el-row>
          <el-col :span="12">
            <div>
              <el-form-item label="身份证号码:">
                <template>
                  <span>{{  form.idCardNo }}</span>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <div>
              <el-form-item label="身份证正面:">
                <div class="demo-image">
                  <div class="block">
                    <el-image style="width:100px;height:100px" :src="form.idCardFrontImg" />
                  </div>
                </div>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
          <div>
            <el-form-item label="身份证反面:">
              <div class="demo-image">
                <div class="block">
                  <el-image style="width:100px;height:100px" :src="form.idCardAfterImg" />
                </div>
              </div>
            </el-form-item>
          </div>
        </el-col>
          <el-col :span="24">
            <div>
              <el-form-item label="人脸对比图:">
                <div class="demo-image">
                  <div class="block">
                    <el-image style="width:100px;height:100px" :src="form.faceContrasImg" />
                  </div>
                </div>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
      </el-card>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">关闭</el-button>
    </div>
  </el-dialog>
</template>
<script>

export default {
  name: 'EditUserExt',
  props: {
    title: {
      type: String,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    },
    info: {
      type: Object,
      default: () => {
      }
    }
  },
  data() {
    return {
      form: {},
      agentTypeEnum: {},
      vipTypeEnum: {},
      isVipEnum: {},
      userTypeEnum: {},
      sexEnum: {},
      statusIdEnum: {}
    }
  },
  watch: {
    visible: function(val) {
      if (val) {
        this.form = this.info
      }
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'IsVipEnum', type: 'obj'}).then(res => {
      this.isVipEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'AgentTypeEnum', type: 'obj'}).then(res => {
      this.agentTypeEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'VipTypeEnum', type: 'obj'}).then(res => {
      this.vipTypeEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'UserTypeEnum', type: 'obj'}).then(res => {
      this.userTypeEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'SexEnum', type: 'obj'}).then(res => {
      this.sexEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
      this.statusIdEnum = res;
    })
  },
  methods: {
    handleClose() {
      this.$emit('close-callback');
    }
  }
}
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
