<template>
  <!--弹窗-->
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="100px">
      <el-form-item label="展示平台" prop="platShow">
        <template>
          <el-radio v-model="formData.platShow" :label="1">电脑端</el-radio>
          <el-radio v-model="formData.platShow" :label="2">移动端</el-radio>
        </template>
      </el-form-item>
      <el-form-item label="导航标题" prop="navUrl">
        <el-select v-model="formData.navUrl" clearable placeholder="导航标题" class="auto-width" @change="changeValue">
          <el-option
            v-for="item in opts.navList"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item v-if="formData.navUrl === '/link'" label="外部链接" prop="remrk">
        <el-input v-model="formData.remark" class="form-group" />
      </el-form-item>
      <el-form-item label="打开方式" prop="target">
        <template>
          <el-radio v-model="formData.target" label="_blank">新窗口打开</el-radio>
          <el-radio v-model="formData.target" label="_self">同窗口打开</el-radio>
        </template>
      </el-form-item>
      <el-form-item label="导航排序" prop="sort">
        <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { navBarSave } from '@/api/system'

  export default {
    name: 'Edit',
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      },
      platShow: {
        type: Number,
        default: 1
      }
    },
    data() {
      return {
        opts: {
          navList: []
        },
        ada: {},
        formData: { // 默认值
          target: '_blank',
          sort: 1,
          platShow: this.platShow
        },
        rules: {
          navUrl: [
            { required: true, message: '请选择导航标题', trigger: 'blur' }
          ],
          target: [
            { required: true, message: '请选择打开方式', trigger: 'blur' }
          ],
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'NavEnum', type: 'arr' }).then(res => {
        this.opts.navList = res
      })
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields()
        this.$emit('close-callback')
      },
      // 获取选中的导航标题
      changeValue(value) {
        let obj = {};
        obj = this.opts.navList.find((item) => {
          return item.code === value;
        });
        if (obj === undefined) {
          this.formData.navTitle = ''
        } else {
          this.formData.navTitle = obj.desc
        }
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (!this.formData.navUrl) {
            this.$message({
              type: 'error',
              message: '请选择导航标题'
            });
            return false
          }
          if (!this.formData.target) {
            this.$message({
              type: 'error',
              message: '请选择打开方式'
            });
            return false
          }
          if (!this.formData.sort) {
            this.$message({
              type: 'error',
              message: '请输入排序'
            });
            return false
          }
          if (valid) {
            // 新增底部导航栏，给父ID赋值
            this.formData.parentId = 0
            this.loading = true
            navBarSave(this.formData).then(res => {
              this.loading = false
              if (res.code === 200) {
                // 提交成功, 关闭窗口, 刷新列表
                this.tips('操作成功', 'success')
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '提交失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          } else {
            this.$message({
              type: 'error',
              message: '提交失败'
            });
          }
        });
      }
    }
  }
</script>
