<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="功能设置" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="直播功能" prop="isLive">
            <el-radio v-for="item in isLiveEnumList" :key="item.code" v-model="form.isLive" :label="item.code">{{ item.desc }}</el-radio>
          </el-form-item>
        </el-col>
      </el-row>
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="8">
          <el-form-item label="讲师手机" prop="lecturerMobile">
            <el-input v-model="form.lecturerMobile" disabled class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="邮箱" prop="lecturerEmail">
            <el-input v-model="form.lecturerEmail" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="讲师名称" prop="lecturerName">
            <el-input v-model="form.lecturerName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="职位" prop="position">
            <el-input v-model="form.position" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="form.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="讲师简介" prop="introduce">
            <wangeditor v-model="form.introduce" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="讲师头像" prop="lecturerName">
            <upload-image :image-url="form.headImgUrl" @success="uploadSuccess" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-alert class="title" :closable="false" title="讲师分成及银行卡信息" type="info" />
      <el-row>
        <el-col :span="8">
          <el-form-item label="银行名称" prop="userAccountVO.bankName">
            <el-input v-model="form.userAccountVO.bankName" disabled class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="支行名称" prop="userAccountVO.bankBranchName">
            <el-input v-model="form.userAccountVO.bankBranchName" disabled class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="银行卡号" prop="userAccountVO.bankCardNo">
            <el-input v-model="form.userAccountVO.bankCardNo" disabled class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="开户名称" prop="userAccountVO.bankUserName">
            <el-input v-model="form.userAccountVO.bankUserName" disabled class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="身份证号" prop="userAccountVO.bankIdCardNo">
            <el-input v-model="form.userAccountVO.bankIdCardNo" disabled class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {lecturerView, lecturerEdit} from '@/api/user'
import Wangeditor from '@/components/wangeditor/wangeditor';
import UploadImage from '@/components/Upload/UploadImage';

export default {
  name: 'EditLecturer',
  components: {Wangeditor, UploadImage},
  data() {
    return {
      form: {
        userAccountVO: {}
      },
      rules: {
        lecturerName: [
          {required: true, message: '请输入讲师名称', trigger: 'blur'}
        ],
        lecturerMobile: [
          {required: true, message: '请输入讲师手机', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入有效排序值', trigger: 'blur'}
        ],
        isLive: [
          {required: true, message: '请选择是否开启直播', trigger: 'blur'}
        ]
      },
      isEdit: false,
      isLiveEnumList: {},
      liveStatusEnumList: {}
    }
  },
  mounted() {
    const view = this.$route;
    this.getViewInfo(view.query.id);

    this.$store.dispatch('GetOpts', {enumName: 'IsLiveEnum', type: 'arr'}).then(res => {
      this.isLiveEnumList = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'LiveStatusEnum', type: 'arr'}).then(res => {
      this.liveStatusEnumList = res;
    });
  },
  methods: {
    uploadSuccess(res) {
      this.formData.headImgUrl = res.url
    },
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/user/lecturer/list');
      })
    },
    getViewInfo(id) {
      this.loading = true
      lecturerView(id).then(res => {
        this.loading = false
        this.form = res.data
        this.isEdit = true;
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      debugger
      this.loading = true
      // 编辑
      lecturerEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
