<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="状态(1:正常，0:禁用)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="排序" prop="sort">
            <el-input v-model="form.sort" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="总收入" prop="totalIncome">
            <el-input v-model="form.totalIncome" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="已提金额" prop="historyMoney">
            <el-input v-model="form.historyMoney" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="可提余额" prop="enableBalances">
            <el-input v-model="form.enableBalances" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="冻结金额" prop="freezeBalances">
            <el-input v-model="form.freezeBalances" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="sign" prop="sign">
            <el-input v-model="form.sign" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="银行卡号" prop="bankCardNo">
            <el-input v-model="form.bankCardNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="银行名称" prop="bankName">
            <el-input v-model="form.bankName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="银行支行名称" prop="bankBranchName">
            <el-input v-model="form.bankBranchName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="银行开户名" prop="bankUserName">
            <el-input v-model="form.bankUserName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="银行身份证号" prop="bankIdCardNo">
            <el-input v-model="form.bankIdCardNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="银行卡手机号" prop="bankMobile">
            <el-input v-model="form.bankMobile" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item>
        <el-button type="primary" @click="submitForm('form')">立即创建</el-button>
        <el-button @click="handleClose">关 闭</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { userAccountSave } from '@/api/user'

  export default {
    name: 'AddUserAccount',
    data() {
      return {
        form: {},
        opts: {},
        rules: {
          gmtCreate: [
            { required: true, message: '请输入创建时间', trigger: 'blur' }
          ],
          gmtModified: [
            { required: true, message: '请输入修改时间', trigger: 'blur' }
          ],
          statusId: [
            { required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur' }
          ],
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ],
          userNo: [
            { required: true, message: '请输入用户编号', trigger: 'blur' }
          ],
          totalIncome: [
            { required: true, message: '请输入总收入', trigger: 'blur' }
          ],
          historyMoney: [
            { required: true, message: '请输入已提金额', trigger: 'blur' }
          ],
          enableBalances: [
            { required: true, message: '请输入可提余额', trigger: 'blur' }
          ],
          freezeBalances: [
            { required: true, message: '请输入冻结金额', trigger: 'blur' }
          ],
          sign: [
            { required: true, message: '请输入sign', trigger: 'blur' }
          ],
          bankCardNo: [
            { required: true, message: '请输入银行卡号', trigger: 'blur' }
          ],
          bankName: [
            { required: true, message: '请输入银行名称', trigger: 'blur' }
          ],
          bankBranchName: [
            { required: true, message: '请输入银行支行名称', trigger: 'blur' }
          ],
          bankUserName: [
            { required: true, message: '请输入银行开户名', trigger: 'blur' }
          ],
          bankIdCardNo: [
            { required: true, message: '请输入银行身份证号', trigger: 'blur' }
          ],
          bankMobile: [
            { required: true, message: '请输入银行卡手机号', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/user/user/account/list');
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        userAccountSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
