<template>
  <div class="courselist_page">
    <div class="course_content">
      <y-blog-list :page-obj="{list: pageObj.list}" :hide-load="true" />
      <div class="center">
        <el-pagination
          :page-size="pageObj.pageSize"
          :current-page="pageObj.pageCurrent"
          :total="pageObj.totalCount"
          @current-change="getPage"
          class="page-panel"
          background
          layout="prev, pager, next">
        </el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
  import YBlogList from '~/components/blog/BlogList'
  import { blogList } from '~/api/blog/community.js'
  export default {
    components: {
      YBlogList
    },
    props: {
      lecturerUserNo: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        obj: {
          lecturerUserNo: '',
          articleType: 1,
          pageCurrent: 1,
          pageSize: 20
        },
        pageObj: {}
      }
    },
    watch: {
      lecturerUserNo() {
        this.getCourse()
      }
    },
    mounted() {
      if (this.lecturerUserNo) {
        this.getCourse()
      }
    },
    methods: {
      getCourse() {
        this.obj.bloggerUserNo = this.lecturerUserNo
        blogList(this.obj).then((res) => {
          if (res.data.list.length > 0) {
            this.pageObj = res.data
          } else {
            this.pageObj = {}
          }
        }).catch(() => {
          this.pageObj = {}
        })
      },
      getPage(int) {
        window.scrollTo(0, 0)
        this.obj.pageCurrent = int
        this.getCourse()
      }
    }
  }
</script>
<style lang="scss" scoped>
  .courselist_page {
    .course_content {
      background: rgb(245, 245, 245);
      padding: 30px 0 10px 0;
      .course_list {
        width: 1200px;
        margin: 0 auto;
      }
      li {
        float: left;
        border-radius: 6px;
        background: #fff;
        margin: 0px 20px 20px 0px;
        &:nth-child(4n) {
          margin-right: 0px;
        }
      }
    }
    .course_info {
      display: block;
      width: 285px;
      height: 239px;
      border-radius: 6px;
      position: relative;
      &:hover {
        text-decoration: none;
        color: #000;
        box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
        transition: all .3s;
      }
      .img_box {
        position: relative;
        width: 285px;
        height: 158px;
        .course_img {
          width: 285px;
          height: 158px;
          border-radius: 6px 6px 0 0;
        }
      }
      p {
        font-size: 16px;
        margin-top: 5px;
        padding: 0 10px;
        word-break: break-all;
      }
      .price_box {
        font-size: 16px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: red;
      }
      .countStudy_box {
        font-size: 12px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: #9199A1;
      }
      .font_12 {
        font-size: 12px;
        padding-left: 8px;
        color: #e27207;
        font-size: 12px;
      }
      .padl_10 {
        padding-left: 10px;
      }
    }
  }
  .page-panel{
    display: inline-block;
  }
</style>
