<style scoped lang="scss">
.lecturer_list {
  width: 100%;
  font-size: 0px;
  .lecturer_item {
    width: 276px;
    height: 276px;
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 24px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    &:nth-child(4n) {
      margin-right: 0;
    }

    & > img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
    &:hover {
      .lecturer_item_text {
        background: rgba(0, 0, 0, 0.5);
        top: 0;
      }
    }
    .lecturer_item_text {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 160px;
      left: 0;
      padding: 20px;
      padding-top: 73px;
      cursor: pointer;
      transition: top 0.2s;
      .lecturer_item_title {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
      }
      .lecturer_item_info {
        font-size: 12px;
        line-height: 17px;
        color: #ffffff;
        margin-top: 20px;
         overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      }
    }
  }
}
</style>
<template>
  <div class="lecturer_list">
    <nuxt-link
      v-for="(item, index) in list"
      :key="index"
      :to="{name: 'lecturer-id', params: {id: item.lecturerUserNo}}"
    >
      <div class="lecturer_item">
        <img :src="item.headImgUrl || img" :alt="item.lecturerName" />
        <div class="lecturer_item_text">
          <div class="lecturer_item_title">{{ item.lecturerName }}-讲师</div>
          <div class="lecturer_item_info" v-html="item.introduce"></div>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  name: 'LecturerList',
  props: {
    list: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data() {
    return {
      img: require('../../static/Frame-1.svg')
    };
  }
};
</script>
