<template>
  <div class="courselist_page">
    <liveList :list="pageObj.list"></liveList>
    <div class="center">
      <el-pagination
        :page-size="pageObj.pageSize"
        :current-page="pageObj.pageCurrent"
        :total="pageObj.totalCount"
        @current-change="getPage"
        class="page-panel"
        background
        layout="prev, pager, next"
      ></el-pagination>
    </div>
  </div>
</template>
<script>
import liveList from '~/components/live/liveList';
import { courseList } from '~/api/course.js';
export default {
  components: {
    liveList
  },
  props: {
    lecturerUserNo: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      obj: {
        lecturerUserNo: '',
        courseCategory: 2,
        pageCurrent: 1,
        pageSize: 20
      },
      pageObj: {}
    };
  },
  watch: {
    lecturerUserNo() {
      this.getCourse();
    }
  },
  mounted() {
    if (this.lecturerUserNo) {
      this.getCourse();
    }
  },
  methods: {
    getCourse() {
      this.obj.lecturerUserNo = this.lecturerUserNo;
      courseList(this.obj)
        .then((res) => {
          if (res.data.list.length > 0) {
            this.pageObj = res.data;
          } else {
            this.pageObj = {};
          }
        })
        .catch(() => {
          this.pageObj = {};
        });
    },
    getPage(int) {
      window.scrollTo(0, 0);
      this.obj.pageCurrent = int;
      this.getCourse();
    }
  }
};
</script>
<style lang="scss" scoped>
.courselist_page {
  .live_box {
    display: block;
    width: 590px;
    height: 178px;
    padding: 10px;
    border-radius: 6px;
    background: #fff;
    float: left;
    position: relative;
    .live_img {
      position: relative;
      width: 285px;
      height: 158px;
    }
    .img_box {
      position: relative;
      width: 285px;
      height: 158px;
      .course_img {
        width: 285px;
        height: 158px;
      }
    }
  }
  .live_right {
    width: 245px;
    font-size: 16px;
    margin-left: 20px;
    a {
      word-break: break-all;
    }
    .money {
      position: absolute;
      bottom: 10px;
    }
    .countStudy_box {
      font-size: 12px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #9199a1;
    }
    .font_12 {
      font-size: 12px;
      padding-left: 8px;
      color: #e27207;
      font-size: 12px;
    }
    .padl_10 {
      padding-left: 10px;
    }
  }
  .course_list {
    width: 1200px;
    margin: 0 auto;
  }
}
.center {
  margin: 20px;
}
.page-panel {
  display: inline-block;
}
</style>
