<template>
  <div class="course_content">
    <ResourceList :no-border="true" :gutter="20" :span="12" :list="pageObj.list"></ResourceList>
    <div class="center">
      <el-pagination
        :page-size="pageObj.pageSize"
        :current-page="pageObj.pageCurrent"
        :total="pageObj.totalCount"
        @current-change="getPage"
        class="page-panel"
        background
        layout="prev, pager, next"
      ></el-pagination>
    </div>
  </div>
</template>
<script>
import ResourceList from '~/components/resource/ResourceList';
import { courseList } from '~/api/course.js';

export default {
  components: {
    ResourceList
  },
  props: {
    lecturerUserNo: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      obj: {
        lecturerUserNo: '',
        courseCategory: 4,
        pageCurrent: 1,
        pageSize: 20
      },
      pageObj: {}
    };
  },
  watch: {
    lecturerUserNo() {
      this.getCourse();
    }
  },
  mounted() {
    if (this.lecturerUserNo) {
      this.getCourse();
    }
  },
  methods: {
    getCourse() {
      this.obj.lecturerUserNo = this.lecturerUserNo;
      courseList(this.obj)
        .then((res) => {
          if (res.data.list.length > 0) {
            this.pageObj = res.data;
          } else {
            this.pageObj = {};
          }
        })
        .catch(() => {
          this.pageObj = {};
        });
    },
    getPage(int) {
      window.scrollTo(0, 0);
      this.obj.pageCurrent = int;
      this.getCourse();
    }
  }
};
</script>
<style lang="scss" scoped>
.course_list {
  width: 1200px;
  margin: 0 auto;
}
.course_box {
  width: 285px;
  height: 235px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  margin: 0 20px 20px 0;
  &:hover {
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s;
  }
}
.course_content {
  background: #f5f5f5;
  padding: 30px 0 10px;
}
.img_box {
  height: 139px;
  img {
    width: 100%;
    height: 139px;
  }
}
</style>
