<template>
<view>
<scroll-view scroll-y="true" class="resource_item" :scroll-top="topNum">
  <view class="img_box">
    <image v-for="(item, index) in info.captionPicList" :key="index" class="resource_img" mode="widthFix" :src="item.picUrl" @tap="showImg" :data-src="item.picUrl"></image>
    <view v-if="info.resultPicList">
      <image v-for="(item, index) in info.resultPicList" :key="index" class="resource_img" mode="widthFix" :src="item.picUrl" @tap="showImg" :data-src="item.picUrl"></image>
    </view>
  </view>
  <foot-tap long="true" :courseInfo="courseInfo" :info="info" resource="true" :hide="hide"></foot-tap>
  <float-tab islong="true" noshare="true" @longtop="goTop"></float-tab>
</scroll-view>
</view>
</template>

<script>
import footTap from "../footTap/footTap";
import floatTab from "../floatTab/floatTab";

export default {
  data() {
    return {
      cangotop: false,
      topNum: 0
    };
  },

  components: {
    footTap,
    floatTab
  },
  props: {
    piclist: {
      type: ['Array', 'Object']
    },
    info: {
      type: ['Array', 'Object']
    },
    courseInfo: {
      type: ['Array', 'Object']
    },
    hide: {
      type: Boolean
    }
  },
  methods: {
    showImg(e) {
      let imgs = [];
      this.info.captionPicList.forEach(value => {
        console.log(value);
        imgs.push(value.picUrl);
      });

      if (this.info.resultPicList) {
        this.info.resultPicList.forEach(value => {
          console.log(value);
          imgs.push(value.picUrl);
        });
      }

      uni.previewImage({
        urls: imgs,
        current: e.currentTarget.dataset.src
      });
    },

    goTop: function () {
      this.setData({
        topNum: 0
      });
    }
  }
};
</script>
<style>
.resource_item {
  background: #fff;
  overflow: hidden;
  padding-top: 20rpx;
  margin-top: 8px;
  height: 100%;
  width: 100%;
}
.img_box {
  padding-bottom: 50rpx;
}
.resource_img {
  width: 671rpx;
  margin: 0 auto;
  display: block;
}
</style>