<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="分类名称">
        <el-input v-model="map.categoryName" />
      </el-form-item>
      <el-form-item>
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('categoryExamProblemSourceSave')" plain type="success" size="mini" @click="handleAddOneRow">添加</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      :default-expand-all="true"
      row-key="id"
      :tree-props="{children: 'childrenList', hasChildren: 'hasChildren'}"
    >
      <el-table-column label="名称" prop="categoryName" />
      <el-table-column label="备注" prop="remark" />
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('categoryExamProblemSourceEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('categoryExamProblemSourceUpdateStatus') && scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('categoryExamProblemSourceUpdateStatus') && scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button v-if="checkPermission('categoryExamProblemSourceDelete') && scope.row.childrenList.length <=0" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
          <el-button v-if="checkPermission('categoryExamProblemSourceSave') && scope.row.floor === 1 && scope.row.examCategoryType === 1" plain size="mini" @click="handleAddRow(scope.row)">添加</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add :title="addCtr.title" :visible="addCtr.visible" :info="addCtr.info" @close-callback="closeCallback" />
    <edit :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close-callback="closeEditCallback" />

  </div>
</template>

<script>
  import { examCategoryPage, examCategoryView, examCategoryUpdateStatus, examCategoryDelete } from '@/api/exam'
  import Add from '../../add';
  import Edit from '../../edit';

  export default {
    components: { Add, Edit },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        formData: {},
        map: {},
        listLoading: true,
        statusIdEnums: {},
        examCategoryTypeEnums: {},
        categoryType: 1, // 1:试题 2:试卷
        examCategoryType: 3, // 1:试卷科目,2:试卷年份,3：试卷来源,4：试题难度,5：试题类型
        addCtr: {
          title: '添加分类',
          visible: false,
          info: {}
        },
        editCtr: {
          title: '修改分类',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'ExamCategoryTypeEnum', type: 'obj' }).then(res => {
        this.examCategoryTypeEnums = res;
      });
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.categoryName + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            examCategoryDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleAddRow(row) {
        this.addCtr.info = {
          parentId: row.id,
          examCategoryType: row.examCategoryType,
          categoryType: row.categoryType,
          sort: 1
        }
        this.addCtr.visible = true;
      },
      handleAddOneRow() {
        this.addCtr.info = {
          examCategoryType: this.examCategoryType,
          parentId: 0,
          sort: 1,
          categoryType: this.categoryType
        }
        this.addCtr.visible = true;
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleUpdateRow(id) {
        examCategoryView(id).then(res => {
          this.editCtr.info = res.data;
          this.editCtr.visible = true;
        })
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        this.map.categoryType = this.categoryType
        this.map.examCategoryType = this.examCategoryType
        examCategoryPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.categoryName + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.categoryName + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            examCategoryUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.addCtr.visible = false;
        this.reload();
      },
      closeEditCallback() {
        this.editCtr.visible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
