<template>
  <div class="draft_box radius_box">
    <div class="clearfix lh20">
      <span class="font_14 font_b c_333 fl">我的草稿</span>
      <span class="fr font_12">草稿最长保存30天，发布会自动清除</span>
    </div>
    <div class="draft_list mgt10">
      <nuxt-link v-for="(item, index) in writeList" :key="index" :to="{name: 'blog-account-write', query: {id: item.id}}">
        <div class="draft_item mgt10">
          <img src="../../../assets/image/blog/draft.png" alt class="fl draft_img mgt10" />
          <div class="fl mgl20 lh24">
            <p class="font_14 c_333 w238 text_hidden">{{ item.title }}</p>
            <p class="font_12 c_999">{{ getDay(item.gmtModified) }}天前保存</p>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    writeList: {
      type: [Object, Array],
      default() {
        return [];
      }
    }
  },
  methods: {
    getDay(time) {
      const old = new Date(time).getTime();
      const now = new Date().getTime();
      const one = 60 * 60 * 24 * 1000;
      const day = Math.ceil((now - old) / one);
      return day;
    }
  }
};
</script>
<style lang="scss" scoped>
.lh20 {
  line-height: 20px;
}
.lh24 {
  line-height: 24px;
}
.w238 {
  width: 238px;
}
.draft_box {
  position: absolute;
  width: 380px;
  height: 380px;
  top: 40px;
  padding: 20px;
  background: #fff;
  z-index: 99999;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.draft_list {
  height: 300px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(225, 225, 225, 1);
  }
}
.draft_item {
  padding: 10px 20px;
  height: 60px;
  background: rgba(247, 245, 248, 1);
}
.draft_img {
  width: 25px;
  height: 23px;
}
</style>
