<template>
  <div>
    <div class="tabs font_14 clearfix border_b">
      <ul class="clearfix fl">
        <li :class="{active: active == 'gz'}" @click="$router.push('/blog/account?type=gz')" class="tab">
          关注
        </li>
        <li :class="{active: active == 'fs'}" @click="$router.push('/blog/account?type=fs')" class="tab">
          粉丝
        </li>
      </ul>
    </div>
    <div class="active_count font_12 c_999">
      共{{ pageObj.list.length }}个{{ active == 'gz' ? '关注人' : '粉丝' }}
    </div>
    <div v-if="hasData" class="padlr_20">
      <div v-for="(item, index) in pageObj.list" :key="index" class="active_item border_b clearfix lh50">
        <div class="default_photo middle_photo fl">
          <nuxt-link :to="{name: 'blog-blogger-id', params: {id: item.bloggerUserNo || item.userNo}}" target="_blank">
            <img :src="item.bloggerUserImg || item.userImg" alt="">
          </nuxt-link>
        </div>
        <p class="fl font_14 mgl10">
          <nuxt-link :to="{name: 'blog-blogger-id', params: {id: item.bloggerUserNo || item.userNo}}" target="_blank">
            {{ item.bloggerNickname || item.nickname }}
          </nuxt-link>
        </p>
        <span v-if="active == 'active'" @click="closeActive(item)" class="btn fr c_blue">取消关注</span>
      </div>
    </div>
    <div v-else class="not_data">
      暂时没有数据
    </div>
  </div>
</template>
<script>
import { myActive, myFans, activeBlogger } from '~/api/blog/user.js'
export default {
  props: {
    type: {
      type: String,
      default() {
        return 'gz'
      }
    }
  },
  data() {
    return {
      pageCurrent: 1,
      active: this.type || 'gz',
      pageObj: {
        list: [''],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  computed: {
    hasData() {
      return this.pageObj.list.length
    }
  },
  watch: {
    'type'(newType) {
      this.active = newType
      this.getActiveOrFansList()
    }
  },
  mounted() {
    this.getActiveOrFansList()
  },
  methods: {
    // 取消关注
    closeActive(data) {
      const name = data.bloggerNickname || data.nickname
      const bloggerUserNo = data.bloggerUserNo
      this.$confirm('是否取消关注：' + name, '提示', {
        type: 'warning'
      }).then(() => {
        activeBlogger({
          bloggerUserNo,
          userBrowser: '谷歌',
          userIp: '127.0.0.1',
          userTerminal: 'PC'
        }).then((res) => {
          this.$msgBox({ content: '取消关注成功' })
          this.getActiveOrFansList()
        })
      })
    },
    changeTap(active) {
      this.pageCurrent = 1
      this.active = active
      this.getActiveOrFansList()
    },
    getActiveOrFansList() {
      let method = myActive
      if (this.active === 'fs') {
        method = myFans
      }
      const params = {
        pageCurrent: this.pageCurrent
      }
      method(params).then((res) => {
        this.pageObj = res.data
      }).catch(() => {
        this.pageObj.list = []
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .lh50 {
    line-height: 50px;
  }
  .active_count {
    background: rgba(247, 245, 248, 1);
    line-height: 36px;
    padding-left: 20px;
  }
  .active_item {
    padding: 20px 0;
  }
</style>
