<template>
  <div>
    <div class="tabs font_14 clearfix border_b">
      <ul class="clearfix fl">
        <li :class="{active: tagTypes == ''}" @click="changeType('')" class="tab">
          全部
        </li>
        <li :class="{active: tagTypes == 1}" @click="changeType(1)" class="tab">
          公开
        </li>
        <li :class="{active: tagTypes == 2}" @click="changeType(2)" class="tab">
          私密
        </li>
        <li :class="{active: tagTypes == 3}" @click="changeType(3)" class="tab">
          草稿箱
        </li>
        <li :class="{active: tagTypes == 4}" @click="changeType(4)" class="tab">
          回收站
        </li>
      </ul>
      <y-search :small="true" :client="true" @goSearch="goSearch" />
    </div>
    <div v-if="hasData" class="padlr_20 padb_20">
      <div v-for="(item, index) in pageObj.list" :key="index" class="blog_item border_b">
        <p class="text_hidden">
          <span class="blog_tip">{{ getTypes(item.tagTypes) }}</span>
          <span @click="goDetail(item)" class="font_16 lh20 btn">{{ item.title }}</span>
        </p>
        <div class="font_12 c_ccc clearfix mgt10">
          <span>{{ item.typeId == 1 ? '原创' : '转载' }}</span>
          <span class="mgl20">{{ item.gmtModified }}</span>
          <span class="mgl20">
            <span class="iconfont icon">&#xe685;</span>
            <span>{{ item.readAcount }}</span>
            <span class="padlr_10">|</span>
            <span class="iconfont icon">&#xe620;</span>
            <span>{{ item.commentAcount }}</span>
            <span class="padlr_10">|</span>
            <span class="iconfont">&#xe601;</span>
            <span>{{ item.admireAcount }}</span>
          </span>
          <p class="fr mgt10">
            <nuxt-link :to="{name: 'blog-account-write', query: {id: item.id}}" class="c_blue" target="_blank">
              修改
            </nuxt-link>
            <span @click="deleteBlog(item)" class="btn c_red mgl10">
              {{ tagTypes == 4 ? '彻底删除' : '删除' }}
            </span>
          </p>
        </div>
      </div>
      <br>
      <div class="center">
        <el-pagination
          :page-size="pageObj.pageSize"
          :current-page="pageObj.pageCurrent"
          :total="pageObj.totalCount"
          @current-change="getPage"
          class="page-panel"
          background
          layout="prev, pager, next">
        </el-pagination>
      </div>
    </div>
    <div v-else class="not_data">
      暂时没有数据
    </div>
  </div>
</template>
<script>
import YSearch from '~/components/blog/Search'
import { userBlogList, removeBlog, addRemove } from '~/api/blog/user.js'
export default {
  components: {
    YSearch
  },
  data() {
    return {
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      pageCurrent: 1,
      tagTypes: '',
      searchTitle: ''
    }
  },
  computed: {
    hasData() {
      return this.pageObj.list.length
    }
  },
  mounted() {
    this.getUserBlogList()
  },
  methods: {
    goDetail(info) {
      const routeData = this.$router.resolve({ name: 'blog-article-id', params: { id: info.id } })
      window.open(routeData.href, '_blank')
    },
    goSearch(title) {
      this.pageCurrent = 1
      this.searchTitle = title
      this.getUserBlogList()
    },
    deleteBlog(data) {
      const id = data.id
      let method = addRemove
      let content = '是否删除博客：' + data.title
      if (this.tagTypes === 4) {
        method = removeBlog
        content = '是否彻底删除博客：' + data.title
      }
      this.$confirm(content, '提示', {
        type: 'warning'
      }).then(() => {
        method({ id }).then((res) => {
          this.$msgBox({ content: '删除成功' })
          this.pageObj.list = this.pageObj.list.filter((item) => {
            return item.id !== id
          })
        })
      })
    },
    getPage(int) {
      this.pageCurrent = int
      this.getUserBlogList()
    },
    getTypes(type) {
      const typeList = ['', '公开', '私密', '草稿', '回收站']
      return typeList[type]
    },
    changeType(tagTypes) {
      this.pageCurrent = 1
      this.tagTypes = tagTypes
      this.getUserBlogList()
    },
    getUserBlogList() {
      const params = {
        pageCurrent: this.pageCurrent,
        pageSize: 10,
        tagTypes: this.tagTypes
      }
      if (this.searchTitle) {
        params.title = this.searchTitle
      }
      userBlogList(params).then((res) => {
        this.pageObj = res.data
        this.pageObj.list.forEach((item) => {
          this.$store.commit('CHANGE_TIME', item)
        })
      }).catch(() => {
        this.pageObj.list = []
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .lh20 {
    line-height: 20px;
  }
  .blog_item {
    padding: 20px 0;
    .blog_tip {
      display: inline-block;
      line-height: 20px;
      border: 1px solid #ccc;
      color: #ccc;
      border-radius: 4px;
      padding: 0 4px;
      font-size: 12px;
    }
  }
  .icon {
    font-size: 20px;
    vertical-align: middle;
  }
</style>
