<template>
  <div>
    <div class="tabs font_14 clearfix border_b">
      <ul class="clearfix fl">
        <li :class="{active: active === 'blog'}" @click="changeTab('blog')" class="tab">
          博客
        </li>
        <li :class="{active: active === 'info'}" @click="changeTab('info')" class="tab">
          资讯
        </li>
        <li :class="{active: active === 'question'}" @click="changeTab('question')" class="tab">
          问答
        </li>
      </ul>
    </div>
    <div v-if="hasData" class="padlr_20 padb_20">
      <div v-for="(item, index) in pageObj.list" :key="index" class="blog_item border_b">
        <p class="text_hidden">
          <nuxt-link :to="getRoute(item)" class="font_16 lh20" target="_blank">
            {{ item.title }}
          </nuxt-link>
        </p>
        <div class="font_12 c_ccc clearfix mgt10">
          <span>{{ item.gmtModified }}</span>
          <span class="mgl20">{{ item.weblogNickname }}</span>
          <p class="fr mgt10">
            <span @click="closeColl(item)" class="btn c_red">取消收藏</span>
          </p>
        </div>
      </div>
      <br>
      <div class="center">
        <el-pagination
          :page-size="pageObj.pageSize"
          :current-page="pageObj.pageCurrent"
          :total="pageObj.totalCount"
          @current-change="getPage"
          class="page-panel"
          background
          layout="prev, pager, next">
        </el-pagination>
      </div>
    </div>
    <div v-else class="not_data">
      暂时没有数据
    </div>
  </div>
</template>
<script>
import { myCollection, closeCollOrLike } from '~/api/blog/user.js'
import { myQuestionCollection, delLikeOrCollQuestion } from '~/api/question.js'
export default {
  data() {
    return {
      active: 'blog',
      pageObj: {
        list: [''],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      pageCurrent: 1
    }
  },
  computed: {
    hasData() {
      return this.pageObj.list.length
    }
  },
  mounted() {
    this.getMyCollection()
    this.pageCurrent = 1
  },
  methods: {
    getRoute(item) {
      const routeObj = {
        blog: {
          name: 'blog-article-id',
          params: { id: item.blogId }
        },
        info: {
          name: 'info-detail-id',
          params: { id: item.blogId }
        },
        question: {
          name: 'question-view-id',
          params: { id: item.questionsId }
        }
      }
      return routeObj[this.active]
    },
    changeTab(type) {
      this.pageCurrent = 1
      this.active = type
      this.getMyCollection()
    },
    // 取消收藏
    closeColl(data) {
      const methods = {
        blog: closeCollOrLike,
        question: delLikeOrCollQuestion
      }
      const id = data.blogId || data.questionsId
      const params = {
        opType: 1,
        weblogId: id,
        questionsId: id
      }
      this.$confirm('是否取消收藏：' + data.title, '提示', {
        type: 'warning'
      }).then(() => {
        methods[this.active](params).then((res) => {
          this.$msgBox({ content: '取消收藏成功' })
          this.getMyCollection()
        })
      })
    },
    getPage(int) {
      this.pageCurrent = int
      this.getMyCollection()
    },
    getMyCollection() {
      const methods = {
        blog: myCollection,
        info: myCollection,
        question: myQuestionCollection
      }
      const params = {
        opType: 1,
        pageCurrent: this.pageCurrent,
        pageSize: 10
      }
      if (this.active === 'blog') {
        params.articleType = 1
      } else if (this.active === 'info') {
        params.articleType = 2
      } else {
        params.articleType = ''
      }
      methods[this.active](params).then((res) => {
        this.pageObj = res.data
        this.pageObj.list.forEach((item) => {
          this.$store.commit('CHANGE_TIME', item)
        })
      }).catch(() => {
        this.pageObj.list = []
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .blog_item {
    padding: 20px 0;
  }
</style>
