<template>
  <div>
    <div class="tabs font_14 clearfix border_b">
      <ul class="clearfix fl">
        <li @click="changeOne('blog')" :class="{active: one == 'blog'}" class="tab">
          博客评论
        </li>
        <li @click="changeOne('question')" :class="{active: one == 'question'}" class="tab">
          问答评论
        </li>
      </ul>
    </div>
    <div>
      <div class="tow_tabs">
        <ul class="clearfix fl">
          <li @click="changeTab('get')" :class="{c_blue: active == 'get'}" class="btn fl mgl30">
            我的{{ one === 'blog' ? '博客' : '问答' }}评论
          </li>
          <li @click="changeTab('send')" :class="{c_blue: active == 'send'}" class="btn fl mgl20">
            我发表的{{ one === 'blog' ? '博客' : '问答' }}评论
          </li>
        </ul>
      </div>
      <div v-if="one === 'blog'" v-loading="loading">
        <div v-if="hasData" class="padlr_20 padb_20">
          <div v-for="(item, index) in pageObj.list" :key="index" class="padtb_20 border_b clearfix">
            <div class="clearfix">
              <div class="font_14 fl">
                <nuxt-link v-if="active == 'get'" :to="{name: 'blog-blogger-id', params: {id: item.userNo}}" class="inline_box w120 text_hidden" target="_blank">
                  {{ item.nickname }}
                </nuxt-link>
                <span class="c_999 inline_box text_hidden">{{ sendOrGet }}</span>
                <nuxt-link :to="{name: 'blog-article-id', params: {id: item.blogId}}" class="inline_box w495 text_hidden mgl10 c_blue" target="_blank">
                  {{ item.title }}
                </nuxt-link>
                <p class="fr font_12">
                  <span v-if="active == 'get'" @click="showOrHide(item.id)" class="c_blue btn">快速回复</span>
                  <span @click="removeComment(item)" class="c_red btn mgl10">删除</span>
                </p>
              </div>
            </div>
            <div class="font_12 c_ccc clearfix mgt10">
              <span>{{ item.gmtModified }}</span>
            </div>
            <div class="font_14 mgt10 mgl30 p_relative">
              <span class="c_999 yin left_yin">"</span>
              <p class="w686 inline_box">
                {{ item.content }}
              </p>
              <span class="c_999 yin right_yin">"</span>
            </div>
            <div v-if="showInput == item.id" class="mgl30 mgt10 clearfix">
              <input v-model="sendStr" type="text" placeholder="发表你的评论" class="comment_input fl">
              <button @click="sendComment(item)" class="fr button comment_btn">
                回复评论
              </button>
            </div>
          </div>
          <br>
          <div class="center">
            <el-pagination
              :page-size="pageObj.pageSize"
              :current-page="pageObj.pageCurrent"
              :total="pageObj.totalCount"
              @current-change="getPage"
              class="page-panel"
              background
              layout="prev, pager, next">
            </el-pagination>
          </div>
        </div>
        <div v-else class="not_data">
          暂时没有数据
        </div>
      </div>
      <div v-else>
        <div v-if="hasData && active == 'get'" class="padlr_20 padb_20">
          <div v-for="(item, index) in pageObj.list" :key="index" class="padtb_20 border_b clearfix">
            <div class="clearfix">
              <div class="font_14 fl">
                <nuxt-link :to="{name: 'blog-blogger-id', params: {id: item.userNo}}" class="inline_box w120 text_hidden" target="_blank">
                  {{ item.nickname }}
                </nuxt-link>
                <span class="c_999 inline_box text_hidden">{{ sendOrGetQuestion }}</span>
                <nuxt-link :to="{name: 'question-view-id', params: {id: item.questionsId}}" class="inline_box w495 text_hidden mgl10 c_blue" target="_blank">
                  {{ item.title }}
                </nuxt-link>
                <p class="fr font_12">
                  <span @click="showOrHide(item.id)" class="c_blue btn">快速回复</span>
                </p>
              </div>
            </div>
            <div class="font_12 c_ccc clearfix mgt10">
              <span>{{ item.gmtModified }}</span>
            </div>
            <div class="font_14 mgt10 mgl30 p_relative">
              <span class="c_999 yin left_yin">"</span>
              <p class=" inline_box">{{ item.content | initcontent }}</p>
              <span class="c_999 yin right_yin">"</span>
            </div>
            <div v-if="showInput == item.id" class="mgl30 mgt10 clearfix">
              <input v-model="sendStr" :placeholder="`回复 ${item.nickname}`" type="text" class="comment_input fl">
              <button @click="sendComment(item)" class="fr button comment_btn">
                回复评论
              </button>
            </div>
          </div>
          <d-page v-if="pageObj.totalPage > 1" :page="pageObj" @btnClick="getPage" />
        </div>
        <div v-else-if="hasData && active == 'send'" class="padlr_20 padb_20">
          <y-sand-list :list="pageObj.list" />
          <d-page v-if="pageObj.totalPage > 1" :page="pageObj" @btnClick="getPage" />
        </div>
        <div v-else class="not_data">
          暂时没有数据
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import YSandList from './twList'
import { userCommentList, addComment, deleteComment } from '~/api/blog/user.js'
import { myQuestionComment, addQuestionComment } from '~/api/question.js'
export default {
  components: {
    YSandList
  },
  filters: {
    initcontent(str) {
      if (str) {
        str = str.replace(/<[^>]+>|&[^>]+;/g, '').trim();// 去掉所有的html标签和&nbsp;之类的特殊符合
        return str;
      } else {
        return ''
      }
    }

  },
  props: {
    info: {
      type: [Object, Array],
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      one: 'blog',
      active: 'get',
      loading: false,
      pageCurrent: 1,
      pageObj: {
        list: [''],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      showInput: '',
      sendStr: ''
    }
  },
  computed: {
    hasData() {
      return this.pageObj.list.length
    },
    sendOrGet() {
      if (this.active === 'send') {
        return '我评论了博客'
      }
      return '回复了你的博客'
    },
    sendOrGetQuestion() {
      if (this.active === 'send') {
        return '我在问答'
      }
      return '回复了你的问答'
    }
  },
  watch: {
    info: {
      handler(val) {
        this.getUserCommentList()
      },
      immediate: true
    }
  },
  methods: {
    changeOne(one) {
      this.one = one
      this.pageCurrent = 1
      if (this.one === 'blog') {
        this.getUserCommentList()
      } else {
        this.getQuestionCommentList()
      }
    },
    removeComment(data) {
      console.log(data)
      this.$confirm('是否删除评论?', '提示', {
        type: 'warning'
      }).then(() => {
        deleteComment({
          id: data.id,
          parentId: data.parentId,
          weblogId: data.blogId
        }).then(() => {
          this.$msgBox({ content: '删除成功' })
          this.pageObj.list = this.pageObj.list.filter((item) => {
            return item.id !== data.id
          })
        })
      })
    },
    getPage(int) {
      this.pageCurrent = int
      if (this.one === 'blog') {
        this.getUserCommentList()
      } else {
        this.getQuestionCommentList()
      }
    },
    changeTab(active) {
      this.showInput = ''
      this.active = active
      this.pageCurrent = 1
      if (this.one === 'blog') {
        this.getUserCommentList()
      } else {
        this.getQuestionCommentList()
      }
    },
    sendComment(data) {
      console.log(data)
      if (!this.sendStr) {
        this.$msgBox({ content: '请输入评论内容' })
        return
      }
      const parentId = data.parentId === 0 ? data.id : data.parentId
      let params = {
        bloggerUserNo: data.bloggerUserNo,
        content: this.sendStr,
        parentId,
        userBrowser: '谷歌',
        userIp: '127.0.0.1',
        userTerminal: 'PC',
        weblogId: data.blogId
      }
      let method = addComment
      if (this.one === 'question') {
        method = addQuestionComment
        params = {
          title: data.title,
          content: this.sendStr,
          parentId: data.id,
          questionsId: data.questionsId
        }
      }
      method(params).then((res) => {
        if (this.one === 'blog') {
          res.data.gmtModified = res.data.gmtCreate
        }
        this.$store.commit('CHANGE_TIME', res.data)
        this.pageObj.list.unshift(res.data)
        this.sendStr = ''
        this.showInput = ''
      })
    },
    showOrHide(showInput) {
      if (this.showInput === showInput) {
        this.showInput = ''
        return
      }
      this.showInput = showInput
    },
    getUserCommentList() {
      this.loading = true;
      const params = {
        articleType: 1,
        pageCurrent: this.pageCurrent,
        pageSize: 10
      }

      if (!this.info.bloggerUserNo) {
        return;
      }
      if (this.active === 'send') {
        // 我评论别人
        params.commentUserNo = this.info.bloggerUserNo
      } else {
        // 我的博客被别人评论
        params.bloggerUserNo = this.info.bloggerUserNo
      }
      console.log(params)
      userCommentList(params).then((res) => {
        this.loading = false;
        this.pageObj = res.data
        this.pageObj.list.forEach((item) => {
          item.gmtModified = item.gmtCreate
          this.$store.commit('CHANGE_TIME', item)
        })
      }).catch(() => {
        this.loading = false;
        this.pageObj.list = []
      })
    },
    getQuestionCommentList() {
      const params = {
        commentType: 2,
        pageCurrent: this.pageCurrent,
        pageSize: 10
      }
      if (this.active === 'send') {
        params.commentType = 1
      }
      myQuestionComment(params).then((res) => {
        this.pageObj = res.data
        this.pageObj.list.forEach((item) => {
          this.$store.commit('CHANGE_TIME', item)
        })
      }).catch(() => {
        this.pageObj.list = []
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .w120 {
    width: 120px;
  }
  .w495 {
    width: 495px;
  }
  .w686 {
    width: 686px;
  }
  .yin {
    position: absolute;
    top: 0;
  }
  .left_yin {
    left: -10px;
  }
  .right_yin {
    margin-left: 6px;
  }
  .comment_input {
    width: 720px;
    height: 36px;
    line-height: 36px;
    border: none;
    background: rgba(247, 245, 248, 1);
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
  }
  .comment_btn {
    width: 121px;
    height: 36px;
    background: #fff;
    border-radius: 4px;
    color: #999;
    border: 1px solid #ccc;
  }
  .tow_tabs {
    height: 36px;
    line-height: 36px;
    background: rgb(245, 245, 245);
  }
</style>
