<template>
  <div class="account_pages">
    <div class="tabs font_14 clearfix border_b">
      <ul class="clearfix fl">
        <li class="tab active">
          博主信息
        </li>
      </ul>
    </div>
    <div class="main_cont form">
      <div v-if="info.auditStatus === 0" class="c_orange">
        *设置修改的信息需要通过审核才能生效，若已经修改请耐心等待！
      </div>
      <div v-if="info.auditStatus === 2" class="c_orange">
        *审核失败，失败原因：{{ info.auditOpinion }}
      </div>
      <br>
      <div class="form_group">
        <div class="label">
          博主头像:
        </div>
        <div class="form_ctl upload_ctl">
          <input v-model="info.bloggerUserImg" type="hidden">
          <div class="preview">
            <img v-if="info.bloggerUserImg" :src="info.bloggerUserImg" alt="">
            <i v-else class="iconfont">&#xe6b2;</i>
          </div>
        </div>
      </div>
      <div class="form_group">
        <div class="label">
          博主昵称:
        </div>
        <div class="form_ctl">
          <div class="text">
            {{ info.bloggerNickname }}
          </div>
        </div>
      </div>
      <div class="form_group">
        <div class="label">
          博主简介:
        </div>
        <div class="form_ctl">
          <!-- eslint-disable -->
          <div v-show="!edit" class="text" v-html="info.introduction"/>
          <div v-show="edit" id="lecturerInfo"/>
        </div>
      </div>
      <div class="form_group">
        <div class="label">
          &nbsp;
        </div>
        <div v-show="!edit" class="form_ctl">
          <button href="javascript:" class="submit_btn" @click="openEdit">
            修改简介
          </button>
        </div>
        <div v-show="edit" class="form_ctl">
          <button class="submit_btn" @click="userUpdate">
            确认
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import {setBloggerInfo} from '~/api/blog/user.js'

  export default {
    props: {
      info: {
        type: [Object, Array],
        default() {
          return {}
        }
      }
    },
    head() {
      return {
        title: this.$store.state.clientData.name + ' - 博主信息'
      }
    },
    data() {
      return {
        edit: false
      }
    },
    mounted() {
      const E = require('wangeditor')
      this.editor2 = new E('#lecturerInfo')
      this.editor2.customConfig.menus = [
        'head', // 标题
        'bold', // 粗体
        'fontSize', // 字号
        'fontName', // 字体
        'italic', // 斜体
        'underline', // 下划线
        'strikeThrough', // 删除线
        'foreColor', // 文字颜色
        'backColor', // 背景颜色
        'link', // 插入链接
        'list', // 列表
        'justify', // 对齐方式
        'quote', // 引用
        // 'emoticon', // 表情
        'image', // 插入图片
        'table', // 表格
        'video', // 插入视频
        'code', // 插入代码
        'undo', // 撤销
        'redo' // 重复
      ]
      this.editor2.customConfig.uploadImgServer = '/course/api/upload/pic'
      this.editor2.customConfig.uploadFileName = 'picFile'
      this.editor2.customConfig.uploadImgHooks = {
        before: function (xhr, editor, files) {
          // 图片上传之前触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件

          // 如果返回的结果是 {prevent: true, msg: 'xxxx'} 则表示用户放弃上传
          // return {
          //     prevent: true,
          //     msg: '放弃上传'
          // }
        },
        success: function (xhr, editor, result) {
          // 图片上传并返回结果，图片插入成功之后触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        },
        fail: function (xhr, editor, result) {
          // 图片上传并返回结果，但图片插入错误时触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        },
        error: function (xhr, editor) {
          // 图片上传出错时触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        },
        timeout: function (xhr, editor) {
          // 图片上传超时时触发
          // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        },

        // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
        // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
        customInsert: function (insertImg, result, editor) {
          // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
          // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

          // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
          const url = result.data
          insertImg(url)

          // result 必须是一个 JSON 格式字符串！！！否则报错
        }
      }
      this.editor2.create()
    },
    methods: {
      openEdit() {
        this.edit = true
        this.editor2.txt.html(this.info.introduction)
      },
      userUpdate(e) {
        console.log(123)
        e.preventDefault()
        const ht = this.editor2.txt.html()
        setBloggerInfo({
          introduction: ht
        }).then((res) => {
          this.$emit('getSelfInfo')
          this.edit = false
        })
      }
    }
  }
</script>
<style lang="scss" scoped>
  .form {
    min-height: 550px;

    .form_group {
      margin-bottom: 20px;

      .label {
        text-align: right;
        float: left;
        display: block;
        width: 110px;
        line-height: 36px;
        color: #333;
      }

      .form_ctl {
        margin-left: 12px;
        float: left;
        width: 700px;
        position: relative;
        z-index: 9;
      }

      .text {
        color: #333;
        line-height: 36px;
      }

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      textarea {
        padding: 10px;
      }
    }

    .form_ctl_radio {
      line-height: 36px;

      label {
        margin-right: 12px;
        color: #333;
      }
    }

    .form_input {
      height: 34px;
      border: 1px solid #e7e7e8;
      width: 278px;
      text-indent: 1em;

      &.disabled, &:disabled {
        background-color: #efefef;
      }
    }

    .form_input_min {
      text-indent: 1em;
      width: 130px;
      height: 34px;
      margin-right: 10px;
      border: 1px solid #e7e7e7;
    }

    .upload_ctl {
      .img_box {
        width: 120px;
        height: 120px;
        background-color: #f5f5f5;
        text-align: center;
        margin-bottom: 10px;

        i {
          line-height: 120px;
          font-size: 80px;
          color: #ddd;
        }
      }

      .upload_btn {
        width: 80px;
        height: 22px;
        border: 1px solid #ccc;
        background-color: #fafafa;
        border-radius: 3px;
        color: #999;
      }

      .tip {
        margin-top: 10px;
        color: #999;
      }
    }

    .submit_btn {
      display: inline-block;
      text-align: center;
      height: 34px;
      line-height: 34px;
      border: 1px solid #D51423;
      background-color: #D51423;
      width: 278px;
      color: #fff;
      border-radius: 3px;

      &:disabled {
        background-color: #eee;
        border-color: #ddd;
        color: #aaa;
      }
    }
  }

  .upload_ctl {
    .preview {
      width: 100px;
      height: 100px;
      background-color: #f5f5f5;
      text-align: center;
      margin-bottom: 10px;

      img {
        width: 100%;
        height: 100%;
      }

      i {
        line-height: 120px;
        font-size: 80px;
        color: #ddd;
      }
    }
  }
</style>
