<template>
  <div>
    <div class="tabs font_14 clearfix border_b">
      <ul class="clearfix fl">
        <li :class="{'active': tab == 'wd'}" @click="$router.push('/blog/account?type=wd')" class="tab">
          我的提问
        </li>
        <li :class="{'active': tab == 'hd'}" @click="$router.push('/blog/account?type=hd')" class="tab">
          我的回答
        </li>
      </ul>
    </div>
    <div v-if="tab == 'wd'" class="">
      <div v-if="hasData" class="padlr_20 padb_20">
        <div v-for="(item, index) in pageObj.list" :key="index" class="blog_item border_b">
          <p class="text_hidden">
            <span @click="goDetail(item)" class="font_16 lh20 btn">{{ item.title }}</span>
          </p>
          <div class="font_12 c_ccc clearfix mgt10">
            <span>{{ item.gmtModified }}</span>
            <span class="mgl20">
              <span class="iconfont icon">&#xe685;</span>
              <span>{{ item.readAcount }}</span>
              <span class="padlr_10">|</span>
              <span class="iconfont icon">&#xe620;</span>
              <span>{{ item.commentAcount }}</span>
              <span class="padlr_10">|</span>
              <span class="iconfont">&#xe601;</span>
              <span>{{ item.admireAcount }}</span>
            </span>
            <p class="fr mgt10">
              <nuxt-link :to="{name: 'question-account-write', query: {id: item.id}}" class="c_blue" target="_blank">
                修改
              </nuxt-link>
              <span @click="deleteQuestion(item)" class="btn c_red mgl10">
                删除
              </span>
            </p>
          </div>
        </div>
        <br>
        <div class="center">
          <el-pagination
            :page-size="pageObj.pageSize"
            :current-page="pageObj.pageCurrent"
            :total="pageObj.totalCount"
            @current-change="getPage"
            class="page-panel"
            background
            layout="prev, pager, next">
          </el-pagination>
        </div>
      </div>
      <div v-else class="not_data">
        暂时没有数据
      </div>
    </div>
    <div v-else class="">
      <div v-if="hasData" class="padlr_20 padb_20">
        <y-sand-list :list="pageObj.list" />
        <d-page v-if="pageObj.totalPage > 1" :page="pageObj" @btnClick="getPage" />
      </div>
      <div v-else class="not_data">
        暂时没有数据
      </div>
    </div>
  </div>
</template>
<script>
import YSandList from './twList'
import { myQuestionList, deleteMyQuestion, myQuestionComment } from '~/api/question.js'
export default {
  components: {
    YSandList
  },
  props: {
    type: {
      type: String,
      default() {
        return 'gz'
      }
    }
  },
  data() {
    return {
      tab: this.type || 'wd',
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      pageCurrent: 1,
      searchTitle: ''
    }
  },
  computed: {
    hasData() {
      return this.pageObj.list.length
    }
  },
  watch: {
    'type'(newType) {
      this.tab = newType
      this.changeOne(newType)
    }
  },
  mounted() {
    this.changeOne(this.tab)
  },
  methods: {
    goDetail(info) {
      const routeData = this.$router.resolve({ name: 'question-view-id', params: { id: info.id } })
      window.open(routeData.href, '_blank')
    },
    goSearch(title) {
      this.pageCurrent = 1
      this.searchTitle = title
      this.getUserQuestionList()
    },
    changeOne(tab) {
      this.tab = tab
      this.pageCurrent = 1
      if (this.tab === 'wd') {
        this.getUserQuestionList()
      } else {
        this.getQuestionCommentList()
      }
    },
    deleteQuestion(data) {
      const id = data.id
      const method = deleteMyQuestion
      const content = '是否删除问答：' + data.title
      this.$confirm(content, '提示', { type: 'warning' }).then(() => {
        method({ id }).then((res) => {
          this.$msgBox({ content: '删除成功' })
          this.pageObj.list = this.pageObj.list.filter((item) => {
            return item.id !== id
          })
        })
      })
    },
    getPage(int) {
      this.pageCurrent = int
      this.getUserQuestionList()
    },
    getQuestionCommentList() {
      const params = {
        commentType: 1,
        pageCurrent: this.pageCurrent,
        pageSize: 10
      }
      this.pageObj.list = []
      myQuestionComment(params).then((res) => {
        this.pageObj = res.data
        this.pageObj.list.forEach((item) => {
          this.$store.commit('CHANGE_TIME', item)
        })
      }).catch(() => {
        this.pageObj.list = []
      })
    },
    getUserQuestionList() {
      const params = {
        pageCurrent: this.pageCurrent,
        pageSize: 10
      }
      if (this.searchTitle) {
        params.title = this.searchTitle
      }
      this.pageObj.list = []
      myQuestionList(params).then((res) => {
        this.pageObj = res.data
        this.pageObj.list.forEach((item) => {
          this.$store.commit('CHANGE_TIME', item)
        })
      }).catch(() => {
        this.pageObj.list = []
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .lh20 {
    line-height: 20px;
  }
  .blog_item {
    padding: 20px 0;
    .blog_tip {
      display: inline-block;
      line-height: 20px;
      border: 1px solid #ccc;
      color: #ccc;
      border-radius: 4px;
      padding: 0 4px;
      font-size: 12px;
    }
  }
  .icon {
    font-size: 20px;
    vertical-align: middle;
  }
</style>
