<template>
  <div class="">
    <div v-for="(item, index) in list" :key="index" class="padtb_20 border_b">
      <div class="clearfix font_14">
        <span class="c_999 inline_box text_hidden">我在问答</span>
        <nuxt-link :to="{name: 'question-view-id', params: {id: item.questionsId}}" class="inline_box w495 text_hidden mgl10 c_blue" target="_blank">
          {{ item.title }}
        </nuxt-link>
      </div>
      <div class="c_999 font14">
        回复了
        <nuxt-link :to="{name: 'blog-blogger-id', params: {id: item.commentUserNo}}" class="c_blue" target="_blank">
          {{ item.commentUickname }}
        </nuxt-link>
      </div>
      <div class="font_12 c_ccc clearfix mgt10">
        <span>{{ item.gmtModified }}</span>
      </div>
      <div class="font_14 mgt10 mgl30 p_relative">
        <span class="c_999 yin left_yin">"</span>
        <p class="w686 inline_box">
          {{ item.content }}
        </p>
        <span class="c_999 yin right_yin">"</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TwList',
  props: {
    list: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>

<style scoped>

</style>
