<template>
  <div>
    <div class="radius_box b_fff">
      <div class="pad30 border_b p_relative">
        <span @click="$router.push('/blog/account?type=info')" class="btn set_btn">设置简介</span>
        <div class="default_photo big_photo">
          <img :src="bloggerInfo.bloggerUserImg" alt />
        </div>
        <p class="center font_14 c_333 mgt20">{{ bloggerInfo.bloggerNickname }}</p>
        <div class="clearfix">
          <nuxt-link
            :to="{name: 'blog-account-write'}"
            class="write_btn fl center"
            target="_blank"
          >
          写博客
          </nuxt-link>
          <nuxt-link
            :to="{name: 'question-account-write'}"
            class="write_btn fr center"
            target="_blank"
          >
          去提问
          </nuxt-link>
        </div>
      </div>
      <div class="pad20"> 
        <table width="220px">
          <tbody>
           <tr>
              <td @click="$router.push('/blog/account?type=bk')" class="btn">博客</td>
              <td @click="$router.push('/blog/account?type=wd')" class="btn">提问</td>
              <td @click="$router.push('/blog/account?type=hd')" class="btn">回答</td>
              <td @click="$router.push('/blog/account?type=gz')" class="btn">关注</td>
              <td @click="$router.push('/blog/account?type=fs')" class="btn">粉丝</td>
            </tr>
            <tr class="font_b">
              <td @click="$router.push('/blog/account?type=bk')" class="btn">
                {{ setNumber(bloggerInfo.weblogAccount) }}
              </td>
              <td @click="$router.push('/blog/account?type=wd')" class="btn">
                {{ setNumber(bloggerInfo.questionsAccount) }}
              </td>
              <td @click="$router.push('/blog/account?type=hd')" class="btn">
                {{ setNumber(bloggerInfo.answerAccount) }}
              </td>
               <td @click="$router.push('/blog/account?type=gz')" class="btn">
                {{ setNumber(bloggerInfo.attentionAcount) }}
              </td>
              <td @click="$router.push('/blog/account?type=fs')" class="btn">
                {{ setNumber(bloggerInfo.fansAccount) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ul class="radius_box b_fff mgt20">
      <li :class="{active: active == 'bk'}" @click="$router.push('/blog/account?type=bk')" class="user_nav">
        我的博客
      </li>
      <li :class="{active: active == 'wd'}" @click="$router.push('/blog/account?type=wd')" class="user_nav">
        我的问答
      </li>
      <li :class="{active: active == 'pl'}" @click="$router.push('/blog/account?type=pl')" class="user_nav">
        我的评论
      </li>
      <li :class="{active: active == 'gz'}" @click="$router.push('/blog/account?type=gz')" class="user_nav">
        我的关注
      </li>
      <li :class="{active: active == 'sc'}" @click="$router.push('/blog/account?type=sc')" class="user_nav">
        我的收藏
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    bloggerInfo: {
      type: [Object, Array],
      default() {
        return {}
      }
    },
    type: {
      type: String,
      default() {
        return 'bk'
      }
    }
  },
  data() {
    return {
      active: this.type || 'bk'
    }
  },
  watch: {
    type(newType) {
      this.active = newType
    }
  },
  methods: {
    // 数字处理
    setNumber(num) {
      if (num >= 10000000) {
        return '1000万+'
      }
      if (num >= 1000000) {
        return '100万+'
      }
      if (num >= 100000) {
        return '10万+'
      }
      if (num >= 10000) {
        return '1万+'
      }
      return num
    },
    changeSide(active) {
      this.active = active
      this.$emit('changeSide', active)
    }
  }
}
</script>
<style lang="scss" scoped>
.write_btn {
  line-height: 36px;
  height: 36px;
  min-width: 80px;
  border-radius: 4px;
  background: #d02739;
  margin-top: 20px;
  color: #fff;
}
.big_photo {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
}
.user_nav {
  line-height: 50px;
  font-size: 14px;
  color: #333;
  padding-left: 20px;
  cursor: pointer;
  &.active {
    color: #d02739;
  }
  &:hover {
    background: #d02739;
    color: #fff;
  }
}
.set_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  &:hover {
    color: red;
  }
}
</style>
