<template>
<view class="change_name">
  <input class="name_input" placeholder="请输入昵称" @input="changeName" :value="defaultName"></input>
  <button class="buy_btn" @tap="sendName">确认昵称</button>
</view>
</template>

<script>

export default {
  data() {
    return {
      newName: '',
      isChange: false
    };
  },

  components: {},
  props: {
    defaultName: {
      type: [String]
    }
  },
  methods: {
    sendName() {
      if (this.isChange) {
        this.$emit('getname', {
          detail: this.newName
        });
      } else {
        this.$emit('getname', {
          detail: this.defaultName
        });
      }
    },

    changeName(e) {
      console.log(e);
      this.setData({
        newName: e.detail.value,
        isChange: true
      });
    }

  }
};
</script>
<style>
.change_name {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(247, 245, 248, 1);
}
.name_input {
  height: 94rpx;
  padding-top: 90rpx;
  line-height: 94rpx;
  padding-left: 20rpx;
  background: #fff;
  margin-top: 8px;
}
.buy_btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 104rpx;
  line-height: 104rpx;
  color: #fff;
  font-size: 33rpx;
  background: #2488EC;
  border-radius: 0;
}
</style>