<template>
  <div class="mgb20">
    <div v-if="list.length" class="article_title c_333 radius_box" :style="{width: width+'px'}">
      <div class="font_16 font_b pad20 border_b">
        热门标签
      </div>
      <ul class="pad20 clearfix font_14">
          <li v-for="(item, index) in list" @click="changeTab(item, index)" :key="index" :class="{mgt10: index > 0, active: index == acIndex}" class="text_hidden item">
              {{ item.labelName }}
          </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    width: {
      type: Number,
      default: 300
    },
    list: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      acIndex: 0
    }
  },
  mounted() {},
  methods: {
    changeTab(item, index) {
      this.acIndex = index
      this.$emit('changeTab', item)
    }
  }
}
</script>
<style lang="scss" scoped>
  .default_block {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    background: rgba(213, 20, 35, 1);
    &.dis_block {
      background: rgba(204, 204, 204, 1);
    }
  }

  .item {
    font-size: 12px;
    color: #999999;
    text-align: center;
    line-height: 28px;
    padding: 0 6px;
    display: inline-block;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 6px;
    margin: 8px 8px 0 0;
    cursor: pointer;
    &.active {
      background: rgba(213, 20, 35, 1);
      color:#fff;
    }
  }

  .article_title {
    font-weight: 650;
  }
</style>
