<template>
  <div class="question-list">
    <el-row :gutter="20">
      <el-col :span="8" v-for="(item, index) in list" :key="index">
        <nuxt-link :to="{ name: 'question-view-id', params: { id: item.id } }" target="_blank">
          <div class="question-item">
            <div class="question-item-like">
              {{ item.commentAcount > 99 ? '99+' : item.commentAcount }}<br>
              <span>回答</span>
            </div>
            <div class="text">
              <h5 class="question-item-title" v-html="item.title"></h5>
              <div class="question-item-details" v-if="item.newestContent">
                <div class="question-item-details-time">
                  {{ item.newestContentCreate }} 来自 {{ item.newestNickname }}
                </div>
                <div class="question-item-details-text" v-html="item.newestContent">
                </div>
              </div>
              <div class="mgt10 blog_item_footer">
                <nuxt-link :to="{ name: 'blog-blogger-id', params: { id: item.userNo } }" target="_blank">
                  <p class="fl blogger">
                    <img
                      :src="item.headImgUrl"
                      v-if="item.headImgUrl"
                      class="blogger_img"
                      alt=""
                    />
                    <img
                      src="/friend.jpg"
                      v-else
                      class="blogger_img"
                      alt=""
                    />
                    <span>{{ item.nickname }}</span>
                  </p>
                </nuxt-link>
                <p class="fr blog_num">
                  <img
                    src="../../assets/image/blog/eye.svg"
                    class="img1"
                    alt=""
                  />
                  <span>{{ item.readAcount }}</span>
                  <img
                    src="../../assets/image/blog/comment.svg"
                    class="img2"
                    alt=""
                  />
                  <span>{{ item.commentAcount }}</span>
                  <img
                    src="../../assets/image/blog/like.svg"
                    class="img3"
                    alt=""
                  />
                  <span>{{ item.admireAcount }}</span>
                </p>
              </div>
            </div>
          </div>
        </nuxt-link>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  props: {
    list: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data() {
    return {};
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
.question-list  {
  margin-bottom: -20px;
}
.question-item {
  width: 386px;
  height: 222px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  padding: 20px;
  padding-left: 86px;
  margin-bottom: 20px;
  .question-item-like {
    width: 86px;
    height: 120px;
    position: absolute;
    left: 0;
    top:20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    text-align: center;
    span {
      font-size: 14px;
      line-height: 20px;
      position: relative;
      top: -4px;
      font-weight: normal;
      color: #999999;
    }
  }

  .question-item-title {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    min-height: 44px;
    margin-bottom: 10px;
  }

  .question-item-details {
    width: 100%;
    height: 91px;
    padding: 15px;
    background: #F5F5F5;
    margin-bottom: 10px;

    .question-item-details-time {
      font-size: 12px;
      line-height: 17px;
      color: #999999;
      margin-bottom: 10px;
    }
    .question-item-details-text {
      font-size: 12px;
      line-height: 17px;
      color: #333333;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

}

.blog_item_footer {
  color: #999999;
  font-size: 12px;
  border-top: 1px solid #e9e9e9;
}
.blog_num {
  line-height: 30px;
  position: relative;
  top: 1px;
  .img1 {
    font-size: 15px;
    position: relative;
    top: -1px;
  }

  .img3 {
    position: relative;
    top: -1px;
  }
  img {
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
  }
}
.blog_num,
.blogger {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #999999;
  line-height: 34px;
  .blogger_img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    margin-right: 3px;
    border-radius: 50px;
    display: inline-block;
  }
}
</style>
