
<template>
  <div class="mgb20">
    <div v-if="list.length" class="article_title c_333 radius_box" :style="{width: width+'px'}">
      <div class="font_16 font_b pad20 border_b">
        最新回答
      </div>
      <ul class="pad20 clearfix font_14">
        <li v-for="(item, index) in list" @click="changeTab(item, index)" :key="index" :class="{mgt10: index > 0, active: index == acIndex}" class=" item">
          <img class="user_logo" :src="item.headImgUrl" alt="">
          <div class="text">
            <div class="title text_hidden">{{ item.nickname }}</div>
            <div class="info">
              <span>回答了:</span>{{ item.content | initcontent }}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { questionsList } from '~/api/question.js'
export default {
  filters: {
    initcontent(str) {
      if (str) {
        str = str.replace(/<[^>]+>|&[^>]+;/g, '').trim();// 去掉所有的html标签和&nbsp;之类的特殊符合
        return str;
      } else {
        return '其他内容'
      }
    }
  },
  props: {
    width: {
      type: Number,
      default: 300
    },
    list: {
      type: Array,
      default() {
        return []
      }
    }
  },

  data() {
    return {
      acIndex: 0
    }
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      questionsList({
        orderByTime: true
      }).then((res) => {
        if (res.code === 200) {
          this.list = res.data.list;
        }
      })
    },
    changeTab(item, index) {
      this.acIndex = index
      this.$emit('changeTab', item)
    }
  }
}
</script>

<style lang="scss" scoped>
  .default_block {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    background: rgba(213, 20, 35, 1);
    &.dis_block {
      background: rgba(204, 204, 204, 1);
    }
  }

  .item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    cursor: pointer;
    .user_logo {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-radius: 50%;
    }
    .text {
      flex: 1;
      .title {
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #2388EC;
        line-height: 28px;
      }
      .info {
        display: -webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        white-space:pre-wrap;
        word-break:break-all;
        line-height: 22px;
        color:#555;
        span {
          color:#999;
          margin-right: 8px;
        }
      }
    }
  }

  .article_title {
    font-weight: 650;
  }

</style>
