<template>
  <div class="mgt20 radius_box b_fff">
    <div v-if="pageObj.list.length" class="padlr_20">
      <!-- <div class="comment_count font_14 mgt30">
        全部评论<span class="c_999 mgl10">{{ questionInfo.commentAcount }}</span>
      </div> -->
      <div>
        <div v-for="(item, index) in pageObj.list" :key="index" class="comment_item border_b clearfix">
          <div class="default_photo middle_photo fl">
            <img v-if="item.userImg || item.headImgUrl" :src="item.userImg || item.headImgUrl" alt="">
            <img v-else src="../../assets/image/blog/friend.jpg" alt="">
          </div>
          <div class="fl w750 mgl20">
            <p>
              <span class="font_14">{{ item.nickname }}</span>
              <span class="font_12 c_999 mgl10">{{ item.gmtModified || item.gmtCreate }}</span>
            </p>
            <!-- eslint-disable -->
            <div class="font_14 c_999 mgt20 wrap_box" v-html="item.content" />
            <div v-if="item.list && item.list.length" class="recomment radius_box pad20 font_14 mgt20 p_relative">
              <img src="../../assets/image/blog/up.png" alt="" class="up_img">
              <div v-for="that in item.list" :key="that.id" class="recomment_item mgb20 border_b_deep padb_10">
                <p class="c_333 clearfix">
                  <img :src="that.userImg || that.headImgUrl" class="two_img" alt="">
                  <span class="two_name c_999">
                    {{ that.nickname }}
                    回复
                  </span>
                  <span class="two_name c_blue">
                    {{ that.commentUickname }}
                  </span>
                  <span class="fr c_999 font12">
                    {{ item.gmtModified }}
                  </span>
                </p>
                <p class="c_999 mgt20 wrap_box">
                  {{ that.content }}
                </p>
                <p class="c_blue clearfix two_say">
                  <span class="btn fr" @click="showOrHide(that.id)">
                    {{ showInput === that.id ? '取消回复' : '回复' }}
                  </span>
                </p>
                <div v-if="showInput == that.id" class="mgt6">
                  <input v-model="twoStr" type="text" class="comment_input sort" :placeholder="`回复 ${that.nickname}`">
                  <button class="comment_btn fr mgt10 btn sort" @click="sendComment(that.id, item.id)">
                    评论
                  </button>
                </div>
              </div>
            </div>
            <div class="clearfix mgt10 c_999">
              <span class="fr font14 btn"  @click="showOrHide(item.id)">
                {{ showInput === item.id ? '取消回复' : '回复' }}
              </span>
            </div>
            <div v-if="showInput == item.id" class="mgt20">
              <input v-model="twoStr" type="text" class="comment_input" :placeholder="`回复 ${item.nickname}`">
              <button class="comment_btn fr mgt10 btn" @click="sendComment(item.id, item.id)">
                评论
              </button>
            </div>
          </div>
        </div>
        <div class="pad20 p_relative">
          <div class="load_box" @click="loadList">
            <img v-if="loadMore" class="load_img" src="../../assets/image/blog/loading.png" alt="">
            <span class="c_999" :class="{btn: moreStr == '点击加载更多'}">{{ moreStr }}</span>
          </div>
        </div>
      </div>
    </div>
    <div id="commentInput" class="pad20 border_b clearfix">
      <div class="mgt20">
        <div id="lecturerInfo" style="margin: 0 auto" />
        <div id="lecturerInfo2" style="height: 200px; font-size: 14px;" />
      </div>
      <button class="comment_btn fr mgt10 btn" @click="sendComment('')">
        评论
      </button>
    </div>
  </div>
</template>
<script>
import { uploadPic } from '~/api/upload.js'
import { addQuestionComment } from '~/api/question.js'
export default {
  props: {
    pageObj: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      }
    },
    questionInfo: {
      type: [Object, Array],
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      loadMore: false,
      showInput: '',
      commentStr: '',
      twoStr: '',
      editor2: ''
    }
  },
  computed: {
    moreStr() {
      if (this.loadMore) {
        return '正在加载中...'
      }
      if (this.pageObj.pageCurrent >= this.pageObj.totalPage) {
        return '没有更多了'
      }
      return '点击加载更多'
    }
  },
  mounted() {
    const E = require('wangeditor')
    this.editor2 = new E('#lecturerInfo', '#lecturerInfo2')
    this.editor2.customConfig.menus = [
      'head', // 标题
      'bold', // 粗体
      'fontSize', // 字号
      'fontName', // 字体
      'italic', // 斜体
      'underline', // 下划线
      'strikeThrough', // 删除线
      'foreColor', // 文字颜色
      'backColor', // 背景颜色
      'link', // 插入链接
      'list', // 列表
      'justify', // 对齐方式
      'quote', // 引用
      // 'emoticon', // 表情
      'image', // 插入图片
      'table', // 表格
      'video', // 插入视频
      'code', // 插入代码
      'undo', // 撤销
      'redo' // 重复
    ]
    this.editor2.customConfig.uploadImgMaxLength = 1
    this.editor2.customConfig.customUploadImg = this.editorUpload
    this.editor2.create()
    this.flatComment(this.pageObj.list)
  },
  methods: {
    // 遍历评论
    flatComment(list) {
      console.log(list)
      this.$emit('flatComment', list)
    },
    // 编辑器上传图片
    editorUpload(files, insert) {
      // console.log(files)
      const file = files[0]
      const param = new FormData()
      param.append('picFile', file, file.name)
      this.$store.commit('LOADING_START')
      uploadPic(param, function (int) {
        // console.log(int)
      }).then((res) => {
        this.$store.commit('LOADING_FINISH')
        // console.log(res)
        if (res.code === 200) {
          const imgUrl = res.data
          insert(imgUrl)
        }
      }).catch(() => {
        this.$store.commit('LOADING_FINISH')
      })
    },
    sendComment(id, rootId) {
      this.commentStr = this.editor2.txt.html()
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      const params = {
        questionsId: this.questionInfo.id,
        content: this.commentStr,
        userBrowser: '谷歌',
        userIp: '127.0.0.1',
        userTerminal: 'PC',
        title: this.questionInfo.title
      }
      if (id) {
        if (!this.twoStr) {
          return
        }
        params.parentId = id
        params.content = this.twoStr
      } else if (this.commentStr === '<p><br></p>' || !this.commentStr) {
        return
      }
      addQuestionComment(params).then((res) => {
        if (id) {
          res.data.findId = rootId
          this.$emit('sendCommentTwo', res.data)
        } else {
          this.$emit('sendCommentOne', res.data)
        }
        this.commentStr = ''
        this.editor2.txt.html('')
        this.twoStr = ''
        this.showInput = ''
      }).catch(() => {})
    },
    showOrHide(showInput) {
      this.twoStr = ''
      if (this.showInput === showInput) {
        this.showInput = ''
        return
      }
      this.showInput = showInput
    },
    loadList() {
      if (this.moreStr !== '点击加载更多') return
      this.loadMore = true
      this.$emit('loadComment', this)
    }
  }
}
</script>
<style lang="scss" scoped>
  .w750 {
    width: 750px;
  }
  .icon {
    font-size: 20px;
  }
  .comment_input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    background: rgba(247, 245, 248, 1);
    border-radius: 4px;
    &.sort {
      width: 84%;
    }
  }
  .comment_btn {
    width: 86px;
    height: 35px;
    border-radius: 4px;
    background: rgba(213, 20, 35, 1);
    border: none;
    color: #fff;
    &.sort {
      height: 40px;
      line-height: 40px;
      position: relative;
      top: -10px;
    }
  }
  .comment_item {
    padding: 30px 0;
  }
  .recomment {
    background: rgba(247, 245, 248, 1);
    .recomment_item {
      .two_img {
        width: 30px;
        height: 30px;
      }
      .two_name {
        margin-left: 6px;
        position: relative;
        top: -10px;
      }
      .two_say {
        height: 0px;
        opacity: 0;
        line-height: 30px;
        overflow: hidden;
        transition: all .3s;
      }
      &:hover {
        .two_say {
          height: 30px;
          opacity: 1;
        }
      }
    }
  }
  .up_img {
    position: absolute;
    top: -10px;
  }
  .wrap_box {
    word-wrap:break-word
  }
</style>
