<template>
  <div class="mgb20">
    <div class="blog_list">
      <div v-for="(item, index) in pageObj.list" :key="index" class="blog_item border_b">
        <div class="clearfix">
          <p class="c_999 blog_item_time">
            <span>{{ item.gmtModified }}</span> 来自
            <span v-if="item.nickname" class="c_blue">{{ item.nickname }}</span>
          </p>
          <div class="blog_title fl">
            <span v-if="item.isTop" class="tip">顶</span>
            <!-- eslint-disable -->
            <nuxt-link :to="{ name: 'question-view-id', params: { id: item.id } }" target="_blank" v-html="item.title">
            </nuxt-link>
          </div>
          <!-- <nuxt-link :to="{ name: 'question-view-id', params: { id: item.id } }" target="_blank" class="comment_box fr">
            <span class="comment_count">{{item.commentAcount}}</span>
            <span class="comment_text">回答</span>
          </nuxt-link> -->
        </div>
        <!-- eslint-disable -->
        <nuxt-link :to="{ name: 'question-view-id', params: { id: item.id } }" target="_blank" class="c_999 blog_info" v-html="item.summary" />
        </nuxt-link>
        <div class="clearfix c_999 mgt10">
          <p class="fl blog_tag">
            {{ item.tagsName }}
          </p>
          <p class="fr">
            <span>浏览</span>
            <span>{{ item.readAcount }}</span>
            <span class="padlr_10">|</span>
            <span>评论</span>
            <span>{{ item.commentAcount }}</span>
            <span class="padlr_10">|</span>
            <span>赞</span>
            <span>{{ item.admireAcount }}</span>
          </p>
        </div>
      </div>
      <div class="pad20 p_relative" v-if="!hideLoad">
        <div class="load_box" @click="loadList">
          <img v-if="loadMore" class="load_img" src="../../assets/image/blog/loading.png" alt="">
          <span class="c_999" :class="{btn: moreStr == '点击加载更多'}">{{ moreStr }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    hideLoad: {
      type: Boolean
    },
    pageObj: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      }
    }
  },
  data() {
    return {
      loadMore: false
    }
  },
  computed: {
    moreStr() {
      if (this.loadMore) {
        return '正在加载中...'
      }
      if (this.pageObj.pageCurrent >= this.pageObj.totalPage) {
        return '没有更多了'
      }
      return '点击加载更多'
    }
  },
  methods: {
    loadList() {
      if (this.moreStr !== '点击加载更多') return
      this.loadMore = true
      this.$emit('loadList', this)
    }
  }
}
</script>
<style lang="scss" scoped>
  .blog_list {
    border-radius: 6px;
    background: #fff;
  }
  .blog_item_time {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px
  }
  .blog_item {
    padding: 20px 20px 16px;
    border-bottom: 1px solid #ddd;
  }

  .blog_tag {
    font-size: 12px;
    color: #999999;
    text-align: center;
    line-height: 22px;
    padding: 0 6px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 6px;
  }
  .load_box {
    text-align: center;
  }
  .blog_title {
    width: 900px;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
  }
  .blog_info {
    height: 32px;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 22px;
  }
  .icon {
    font-size: 20px;
    vertical-align: middle;
  }
  .comment_box {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    background: #a0d56d;
    color: #fff;
    .comment_count {
      line-height: 30px;
      font-size: 20px;
      display: block;
    }
    .comment_text {
      line-height: 20px;
      font-size: 14px;
      display: block;
    }
  }
</style>
