<style lang="scss">
	.classify {
		padding-top: 100upx;

		.examList {
			.examItem {
				background-color: #fff;
				padding:26upx 30upx 18upx;
				margin: 20upx 30upx;
				border-radius: 10upx;
				display: flex;
				
				.examItemTitle {
					font-style: normal;
					font-size: 14px;
					line-height: 24px;
					color: #333333
				}
				.examItemTime {
					font-weight: 400;
					font-size: 12px;
					color: #999999;
					line-height: 16px;
					margin-bottom: 20upx;
				}
				.examItemMain {
					flex: 1;
				}


				.examItemIcon {
					width: 32upx;
					height: 32upx;
					margin-right: 20upx;
					border: 1px solid #0C9BFF;
					color:#0C9BFF;
					border-radius: 6upx;
					display: inline-block;
					text-align: center;
					position: relative;
					font-size: 26upx;
					line-height: 30upx;
					position: relative;
					top: -6upx;
				}
				.examItemTip {
					line-height: 30px;
					color: #666666;
					font-size: 13px;
					.fr {
						.tipItem {
							display: inline-block;
							padding: 0 20upx;

							.icon {
								width: 32upx;
								position: relative;
								top: 4px;
								height: 32upx;
								margin-right: 10upx;
							}
						}
					}
				}
			}
		}
	}
</style>
<template>
	<view class="classify">
		<class-tag @seek="seek"></class-tag>
		<view class="examList">
			<view class="examItem" v-for="(exam, index) in examList" @click="toExam(item)" :key="index">
				<view class="examItemSide">
					<view class="examItemIcon">
						{{ exam.subjectName ? exam.subjectName[0] : '卷' }}
					</view>
				</view>
				<view class="examItemMain">
					<view class="examItemTitle">
						{{ exam.examName }}
					</view>
					<view class="examItemTime">
						{{ exam.gmtModified }}
					</view>
					<view class="examItemTip">
						{{ exam.subjectName || '' }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ exam.totalScore }}分
						<view class="fr">
							<view class="tipItem">
								<image class="icon" src="../../static/images/exam/u29.svg" alt=""></image>{{ exam.studyCount }}
							</view>
							<view class="tipItem">
								<image class="icon" src="../../static/images/exam/u31.svg" alt=""></image>{{ exam.downloadCount }}
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
	</view>
</template>

<script>
	import {
		getExamInfoList
	} from "@/api/exam";
	import classTag from "@/components/exam/class";
	export default {
		components: {
			classTag
		},
		data() {
			return {
				examList: [],
				loadMsg: '没有更多了...',
				param: {},
				pageCurrent: 1,
				pageSize: 20,
			};
		},
		onLoad() {
			this.getExamList();
		},
		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function() {
			this.setData({
				loadMsg: '没有更多了...'
			});

			if (this.pageCurrent < this.totalPage) {
				this.setData({
					loadMsg: '加载中...',
					pageCurrent: this.pageCurrent + 1
				});
				this.getExamList();
			}
		},
		methods: {
			toExam(data) {
				uni.navigateTo({
					url: '/pages/exam/details?id=' + data.id
				});
			},
			seek(param) {
				this.param = param
				this.getExamList()
			},
			getExamList() {
				getExamInfoList({
					pageCurrent: this.pageCurrent,
					pageSize: this.pageSize,
					...this.param
				}).then(res => {
					if (this.pageCurrent == 1) {
						this.examList = []
					}
					this.examList = this.examList.concat(res.list)
					this.pageSize = res.pageSize;
					this.totalPage = res.totalPage;
				}).catch(() => {});
			},
		}
	}
</script>
