<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="名称">
        <el-input v-model.trim="map.zoneName" />
      </el-form-item>
      <el-form-item label="类型">
        <el-select v-model="map.zoneCategory" class="auto-width" clearable filterable placeholder="类型">
          <el-option
            v-for="(value, key) in zoneCategoryEnums"
            :key="key"
            :label="value"
            :value="key"/>
        </el-select>
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"/>
        </el-select>
      </el-form-item>
      <el-form-item label="">
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('zoneSave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
        <el-button v-if="checkPermission('zoneDeleteRedis')" plain type="danger" size="mini" @click="handleDeleteRedisRow">清空缓存</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row>
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="分类" width="100">
        <template slot-scope="scope">
          {{ zoneCategoryEnums[scope.row.zoneCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="名称" prop="zoneName" />
      <el-table-column label="展示方式" width="150">
        <template slot-scope="scope">
          【{{ zoneShowTypeEnums[scope.row.showType] }}】
          <div v-if="scope.row.showType === 4">
            <img :src="scope.row.img" :alt="scope.row.courseName" width="50">
            <br>
            <el-link :href="scope.row.url" target="_blank">{{scope.row.url}}</el-link>
          </div>
        </template>
      </el-table-column>
      <el-table-column label="描述" prop="zoneDesc" />
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="100" />
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('zoneEdit')"  plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="scope.row.statusId ===1 && checkPermission('zoneUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId ===0 && checkPermission('zoneUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button v-if="checkPermission('zoneDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
          <el-button v-if="checkPermission('zoneRefPage')" plain type="success" size="mini" @click="handleCourseRow(scope.row)">设置</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <edit :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <add :visible="ctrl.addDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import {zonePage, zoneDelete, zoneUpdateStatus, zoneDeleteRedis} from '@/api/system'
  import Add from '../../add'
  import Edit from '../../edit'

  export default {
    components: { Add, Edit },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          zoneLocation: 1, // 位置(1电脑端，2微信端)
          editDialogVisible: false,
          addDialogVisible: false
        },
        formData: {},
        list: [],
        map: {},
        statusIdEnums: {},
        zoneShowTypeEnums: {},
        zoneCategoryEnums: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'ZoneShowTypeEnum', type: 'obj' }).then(res => {
        this.zoneShowTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'ZoneCategoryEnum', type: 'obj' }).then(res => {
        this.zoneCategoryEnums = res;
      });
    },
    methods: {
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.zoneName + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.zoneName + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            zoneUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 新增
      handleAddRow() {
        this.formData = {
          zoneLocation: 1,
          sort: 1,
          zoneName: ''
        }
        this.ctrl.dialogTitle = '新增专区';
        this.ctrl.addDialogVisible = true;
      },
      // 编辑
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.dialogTitle = '编辑';
        this.ctrl.editDialogVisible = true;
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            zoneDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRedisRow() {
        {
          const body = '确定要清空缓存？'
          this.$confirm(body, '清空确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            zoneDeleteRedis({}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.reload();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleCourseRow(row) {
        this.$router.push({ path: '/system/zoneRef/list', query: { zoneId: row.id, zoneLocation: row.zoneLocation, zoneCategory: row.zoneCategory}});
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        zonePage(this.map, this.ctrl.zoneLocation, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
