<template>
<view class="cash_box">
  <view class="earning_box">
    <view class="text_center font25 mgt30 c_fff">可提现金额(元)</view>
    <view class="text_center c_fff mgt20 font90">{{cardData.enableBalances}}</view>
    <view class="text_center font33 mgt30 c_fff">总收益 {{cardData.totalIncome}} 元</view>
  </view>
  <view class="b_fff mgt8px">
    <view class="h94 c_999 font27 pdl20">提现记录</view>
    <view v-for="(item, index) in cashList" :key="index" class="pd20 border_b">
      <view :class="item.profitStatus == 2 ? 'c_green font33 flex_row_between' : 'font33 flex_row_between'">
        <text v-if="item.profitStatus == 1">提现申请中</text>
        <text v-if="item.profitStatus == 2">提现成功</text>
        <text v-if="item.profitStatus == 3">提现失败</text>
        <text>￥{{item.lecturerProfit}}</text>
      </view>
      <view class="font25 c_999 mgt10 flex_row_between">
        <view>{{item.gmtCreate}}</view>
        <!-- <view>提现手续费:￥{{item.poundage}}</view> -->
      </view>
    </view>
  </view>
  <view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
  <button class="buy_btn" @tap="getCash">申请提现</button>
</view>
</template>

<script>
// pages/earning_history/earning_history.js
import { cardInfo, cashList } from "../../../api/user";
let app = getApp();

export default {
  data() {
    return {
      userInfo: '',
      pageCurrent: 1,
      totalPage: 1,
      cashList: [],
      cardData: '',
      loadMsg: '没有更多了...'
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
    this.setData({
      userInfo: uni.getStorageSync('userInfo')
    });
    this.getCashInfo();
    this.getCashList();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function (e) {
    console.log(this.pageCurrent);
    this.setData({
      loadMsg: '没有更多了...'
    });

    if (this.pageCurrent < this.totalPage) {
      this.setData({
        loadMsg: '加载中...',
        pageCurrent: this.pageCurrent + 1
      });
      this.getCashList();
    }
  },

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    getCashInfo() {
      uni.showLoading({
        title: '数据加载中...'
      });
      cardInfo({
        userNo: this.userInfo.userNo
      }).then(res => {
        console.log(res);
        this.setData({
          cardData: res
        });
      });
    },

    getCashList() {
      cashList({
        userNo: this.userInfo.userNo,
        pageCurrent: this.pageCurrent,
        pageSize: 20
      }).then(res => {
        console.log(res);
        this.setData({
          cashList: this.cashList.concat(res.list),
          totalPage: res.totalPage
        });
      });
    },

    getCash() {
      if (this.cardData.enableBalances < this.cardData.extractMinMoney) {
        uni.showToast({
          title: '可提现的金额小于最小提现额度' + this.cardData.extractMinMoney,
          icon: 'none'
        });
        return;
      }

      if (this.cardData.bankCardNo) {
        uni.navigateTo({
          url: '../note/note?mobile=' + uni.getStorageSync('userInfo').mobile + '&goType=1'
        });
      } else {
        uni.showModal({
          title: '提示',
          content: '未绑定银行卡，请先绑定',
          showCancel: false,
          success: res => {
            if (res.confirm) {
              uni.navigateTo({
                url: '../note/note?mobile=' + uni.getStorageSync('userInfo').mobile
              });
            }
          }
        });
      }
    }

  }
};
</script>
<style scoped>
.earning_box {
  background: rgba(36, 136, 236, 1);
  height: 309rpx;
  overflow: hidden;
}
.cash_box {
  padding-bottom: 104rpx;
}
</style>