<template>
<div class="main_box">
        <div v-if="checkUser" class="check-user-panel form">
          <div class="check-tips">您绑定的手机号码为{{ mobile | paeseMobile }}，请点击"获取验证码"进行身份验证</div>
          <input v-model="code" class="code-input" type="text">
          <y-button :mobile="mobile" @cb="disabledBtn = false" />
          <div class="mgt20">
            <button @click="drawNext" class="submit_btn">下一步</button>
          </div>
</div>
        <div v-else class="draw-money-panel">
          <div class="form">
            <div class="draw-money"><span class="icon">¥</span><input v-model="cashCount" class="enter" type="text" placeholder="请输入提现金额"></div>
            <div class="money-tip">可提现余额：<span class="c_red">¥122</span></div>
            <div class="card-table">
              <div class="card-group">
                <span class="key">到账银行：</span>
                <span class="val">{{ cardData.bankName }}</span>
              </div>
              <div class="card-group">
                <span class="key">银行卡号：</span>
                <span class="val">{{ cardData.bankCardNo }}</span>
              </div>
              <div class="card-group">
                <span class="key">预留手机号：</span>
                <span class="val">{{ cardData.bankMobile | paeseMobile }}</span>
              </div>
              <div class="card-group">
                <span class="key">手机验证码：</span>
                <span class="val">
                  <input v-model="smsCode" type="text" class="code-enter">
                  <y-button :mobile="cardData.bankMobile" @cb="disabledBtn = false" />
                </span>
              </div>
              <div class="center">
                <button :disabled="disabledBtn" @click="getCash" class="submit_btn">申请提现</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</template>
<script>
import YButton from '~/components/common/CodeButton'
import { cardInfo, getCash } from '~/api/account/user.js'
import { checkCode } from '~/api/web.js'
export default {
  name: 'DrawMoney',
  components: {
    YButton
  },
  layout: 'account',
  middleware: 'checkuser',
  filters: {
    paeseMobile(val) {
      console.log(val.slice(0, 3))
      if (!val) {
        return ''
      }
      return val.slice(0, 3) + '****' + val.slice(7)
    }
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 用户提现'
    }
  },
  data() {
    return {
      checkUser: true,
      disabledBtn: true,
      cashCount: '',
      smsCode: '',
      cardData: {},
      code: undefined,
      mobile: ''
    }
  },
  mounted() {
    this.mobile = this.$store.state.userInfo.mobile
    this.getCardInfo()
  },
  methods: {
    drawNext() {
      if (!this.code) {
        this.$msgBox({ content: '请输入验证码' })
        return
      }
      if (!this.mobile) {
        return
      }
      checkCode({
        mobile: this.mobile,
        clientId: this.$store.state.clientData.id,
        code: this.code
      }).then(res => {
        this.disabledBtn = true
        this.checkUser = false
      })
    },
    getCardInfo() {
      cardInfo().then(res => {
        if (res.data.bankCardNo) {
          this.cardData = res.data
        } else {
          this.$confirm('你还没有绑定银行卡，请先前往绑定', '提示', {
            type: 'warning'
          }).then(() => {
            this.$router.push('/account/earnings?t=bind')
          })
        }
      })
    },
    getCash() {
      if (!this.cashCount) {
        this.$msgBox({ content: '提现金额不能为空' })
        return
      }
      // if (this.data.cashCount < this.data.cardData.extractMinMoney) {
      //   wx.showToast({
      //     title: '每次提现金额不能小于' + this.data.cardData.extractMinMoney,
      //     icon: 'none'
      //   })
      //   return
      // }
      if (!this.smsCode) {
        this.$msgBox({ content: '请输入验证码' })
        return
      }
      this.$store.commit('LOADING_START')
      getCash({
        extractMoney: this.cashCount,
        bankMobile: this.cardData.bankMobile,
        smsCode: this.smsCode
      }).then(res => {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          type: 'warning'
        }).catch(() => {
          this.$router.push('/account/earnings')
        })
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  @import '~/assets/css/account.scss';
  .draw-money-page{
    div.main_box{
      background: none;
    }
  }
  .person_body {
    width: 1200px;
    margin: 30px auto 0;
  }
  .check-user-panel{
    width: 500px;
    min-height: 400px;
    padding: 30px;
    text-align: center;
    margin: 20px auto;
    background-color: #fff;
    .check-tips{
      font-size: 16px;
      width: 280px;
      line-height: 1.5;
      text-align: left;
      margin: 0 auto 20px;
    }
    .code-input{
      height: 34px;
      width: 180px;
    }
  }
  .draw-money-panel{
    width: 500px;
    min-height: 400px;
    margin: 20px auto;
    background-color: #fff;
  }
  .draw-money{
    text-align: center;
    padding-top: 30px;
    .icon{
      font-size: 40px;
      line-height: 1;
      vertical-align: bottom;
    }
    .enter{
      margin-left: 8px;
      border: none;
      font-size: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid #ddd;
    }
  }
  .money-tip{
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 12px;
  }
  .card-table{
    border-top: 15px solid #f5f5f5;
    .card-group{
      padding: 12px 30px;
      border-bottom: 1px solid #ddd;
    }
    .val{
      color: #333;
    }
    .code-enter{
      padding-left: 12px;
      height: 34px;
    }
    .submit_btn{
      margin-top: 20px;
    }
  }
</style>
