<template>
<div class="main_box">
        <div class="account-info">
          <div class="font_b c_333">账户信息</div>
          <div class="clearfix">
            <div class="fl">
              <div class="">
                <span class="key c_333">可提现余额：</span><span class="tx_price">{{ card.enableBalances }} 元</span>
              </div>
              <div class="mgt10">
                <span class="key c_333">总收益：</span> {{ card.totalIncome }} 元
              </div>
            </div>
            <div class="fl">
              <button @click="$router.push('/account/draw_money')" class="tx_btn">申请提现</button>
            </div>
          </div>
        </div>
        <y-card-info v-show="hideBind" @showBind="showBind" />
        <y-earning-table v-show="hideBind" />
        <y-bind-card v-show="!hideBind" @closeBind="closeBind" />
      </div>
</template>
<script>
import { cardInfo } from '~/api/account/user.js'
import YCardInfo from '~/components/account/earnings/CardInfo'
import YEarningTable from '~/components/account/earnings/EarningTable'
import YBindCard from '~/components/account/earnings/BindCard'
export default {
  layout: 'account',
  components: {
    YCardInfo,
    YEarningTable,
    YBindCard
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 收益情况'
    }
  },
  data() {
    return {
      card: '',
      hideBind: true
    }
  },
  mounted() {
    if (this.$route.query.t === 'bind') {
      this.hideBind = false
    }
    this.getCardInfo()
  },
  methods: {
    getCardInfo() {
      cardInfo({ userNo: this.$store.state.userInfo.userNo }).then((res) => {
        console.log(res)
        this.card = res.data || {}
      })
    },
    showBind() {
      this.hideBind = false
    },
    closeBind() {
      this.hideBind = true
    }
  }
}
</script>
<style lang="scss">
  .person_body {
    width: 1200px;
    margin: 30px auto 0;
  }
  .earnings {
    .main_box {
      background: rgb(245, 245, 245);
    }
  }
  .account-info{
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    .tx_price{
      font-size: 30px;
      color: #e00;
    }
    .tx_btn{
      margin-top: 6px;
      margin-left: 20px;
      display: inline-block;
      text-align: center;
      padding: 4px 18px;
      border: 1px solid #e7e7e7;
      background-color: #f5f5f5;
      color: #666;
      border-radius: 3px;
    }
  }
</style>
