<template>
      <div class="main_box">
        <ul class="tabs clearfix">
          <a class="tab on">基础信息</a>
        </ul>
        <div v-if="isLogin" class="main_cont form">
          <form @submit="userEducationInfUpdate" action="">
            <div class="form_group">
              <div class="label">
                手机:
              </div>
              <div class="form_ctl">
                <div class="text">
                  {{ obj.mobile }}
                </div>
              </div>
            </div>
            <div class="form_group">
              <div class="label">
                昵称:
              </div>
              <div class="form_ctl">
                <input v-model="obj.nickname" type="text" class="form_input" placeholder="请输入昵称">
              </div>
            </div>
            <div class="form_group">
              <div class="label">
                年龄:
              </div>
              <div class="form_ctl">
                <input v-model="obj.age" type="number" class="form_input" placeholder="请输入年龄数">
              </div>
            </div>
            <div class="form_group">
              <div class="label">
                性别:
              </div>
              <div class="form_ctl form_ctl_radio">
                <input
                  id="sex1"
                  v-model="obj.sex"
                  type="radio"
                  class="radiobox"
                  value="1"
                  name="sex">
                <label for="sex1">男</label>
                <input
                  id="sex2"
                  v-model="obj.sex"
                  type="radio"
                  class="radiobox"
                  value="2"
                  name="sex"
                >
                <label for="sex2">女</label>
                <input
                  id="sex3"
                  v-model="obj.sex"
                  type="radio"
                  class="radiobox"
                  value="3"
                  name="sex"
                >
                <label for="sex3">保密</label>
              </div>
            </div>
            <div class="form_group">
              <div class="label">
                头像:
              </div>
              <div class="form_ctl upload_ctl">
                <upload-image :image-url="obj.headImgUrl" @success="setUrl" />
                <p class="img-tip">
                  * 图片尺寸为800x800，图片大小&lt;500KB，建议使用真人照片，便于品牌宣传效果
                </p>
              </div>
            </div>
            <div class="form_group">
              <div class="label">
                &nbsp;
              </div>
              <div class="form_ctl">
                <button href="javascript:" class="submit_btn">
                  保存
                </button>
              </div>
            </div>
          </form>
        </div>
        <div v-else class="main_cont form">
          <div class="form_group">
            <div class="label">
              手机:
            </div>
            <div class="form_ctl">
              <div class="text">
                {{ obj.mobile }}
              </div>
            </div>
          </div>
          <div class="form_group">
            <div class="label">
              昵称:
            </div>
            <div class="form_ctl">
              <div class="text">
                {{ obj.nickname }}
              </div>
            </div>
          </div>
          <div class="form_group">
            <div class="label">
              年龄:
            </div>
            <div class="form_ctl">
              <div class="text">
                {{ obj.age }}
              </div>
            </div>
          </div>
          <div class="form_group">
            <div class="label">
              性别:
            </div>
            <div class="form_ctl">
              <div v-if="obj.sex === 1" class="text">
                男
              </div>
              <div v-else-if="obj.sex === 2" class="text">
                女
              </div>
              <div v-else-if="obj.sex === 3" class="text">
                保密
              </div>
            </div>
          </div>
          <div class="form_group">
            <div class="label">
              头像:
            </div>
            <div class="form_ctl upload_ctl">
              <input v-model="obj.headImgUrl" type="hidden">
              <div class="preview">
                <img v-if="obj.headImgUrl" :src="obj.headImgUrl" alt="">
                <i v-else class="iconfont">&#xe6b2;</i>
              </div>
            </div>
          </div>
          <div class="form_group">
            <div class="label">
              &nbsp;
            </div>
            <div class="form_ctl">
              <button @click="editInfo" href="javascript:" class="submit_btn">
                修改
              </button>
            </div>
          </div>
        </div>
      </div>
</template>
<script>
import UploadImage from '../../components/UploadImage';
import { getUserInfo } from '~/api/user.js'
import { updateUserEducationInf } from '~/api/account/user.js'
export default {
  components: {
    UploadImage
  },
  layout: 'account',

  head() {
    return {
      title: this.$store.state.clientData.name + ' - 用户中心'
    }
  },
  data() {
    return {
      isLogin: false,
      region1: [],
      region2: [],
      errTip1: '',
      errTip2: '',
      obj: {
        id: '',
        mobile: '',
        nickname: '',
        sex: '',
        headImgUrl: ''
      }
    }
  },
  mounted() {
    this.getByUser()
  },
  methods: {
    getByUser() {
      getUserInfo().then((res) => {
        this.obj = res.data || {}
        this.$store.commit('SET_USER', res.data)
      })
    },
    editInfo() {
      this.isLogin = true
    },
    userEducationInfUpdate(e) {
      e.preventDefault()
      if (!this.obj.nickname) {
        this.$msgBox({ content: '请输入昵称' })
        return false
      }
      if (!this.obj.age) {
        this.$msgBox({ content: '请输入年龄' })
        return false
      }
      if (!this.obj.headImgUrl) {
        this.$msgBox({ content: '请上传头像' })
        return false
      }
      this.id = this.obj.id
      updateUserEducationInf(this.obj).then((res) => {
        this.$store.commit('SET_USER', res.data)
        this.$confirm('修改成功!', '提示', {
          type: 'success'
        }).then((val) => {
          window.location.reload()
        }).catch(() => {
          window.location.reload()
        })
      })
    },
    setUrl(res) {
      this.obj.headImgUrl = res.url
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .upload_ctl{
    .preview{
      width: 100px;
      height: 100px;
      background-color: #f5f5f5;
      text-align: center;
      margin-bottom: 10px;
      overflow: hidden;
      i{
        line-height: 120px;
        font-size: 80px;
        color: #ddd;
      }
    }
  }
</style>
