<template>
      <div class="main_box">
        <ul class="tabs clearfix">
          <a :class="{on: num == 0}" @click="clicktab(0)" class="tab">所有订单</a>
          <a :class="{on: num == 1}" @click="clicktab(1)" class="tab">待支付订单</a>
          <a :class="{on: num == 2}" @click="clicktab(2)" class="tab">已完成订单</a>
        </ul>
        <div class="notdata" v-if="notdata">
          <i class="iconfont">&#xe6be;</i>暂时没有数据
        </div>
        <div class="person_info" v-if="!notdata" v-loading="loading">
          <div :key="index" class="order_content" v-for="(item, index) in pageObj.list">
            <div class="order_title clearfix">
              <span class="order_num">订单号：{{ item.orderNo }}</span>
              <span class="time">{{ item.gmtCreate }}</span>
              <span class="fr order_type" v-if="item.productType === 1">点播课程</span>
              <span class="fr order_type" v-if="item.productType === 2">直播课程</span>
              <span class="fr order_type" v-if="item.productType === 3">超级会员</span>
              <span class="fr order_type" v-if="item.productType === 4">文库中心</span>
              <span class="fr order_type" v-if="item.productType === 5">试卷订单</span>
            </div>
            <div class="order_body clearfix">
              <div class="body_left clearfix">
                <div class="img_box fl" v-if="item.productType === 3">
                  <img alt src="../../assets/image/orderVip.jpg" />
                </div>
                <div class="img_box fl" v-else-if="item.productType === 5">
                  <img alt src="../../assets/image/orderExam.jpg" />
                </div>
                <div class="img_box fl" v-else-if="item.courseLogo">
                  <img :src="item.courseLogo" alt />
                </div>
                <p class="fl">{{ item.productName }}</p>
              </div>
              <ul class="body_right clearfix">
                <li class="money">￥{{ item.pricePaid }}</li>
                <li v-if="[1, 6, 9].indexOf(item.payType) != -1 ">微信支付</li>
                <li v-else-if="[2, 7, 8].indexOf(item.payType) != -1 ">支付宝支付</li>
                <li v-else-if="item.payType == 5">小程序支付</li>
                <li v-else-if="item.payType == 4">线下支付</li>
                <li class="alipay" v-if="item.orderStatus == 1">等待支付</li>
                <li class="alipay" v-if="item.orderStatus == 2">已支付</li>
                <li class="alipay" v-if="item.orderStatus == 3">支付失败</li>
                <li class="alipay" v-if="item.orderStatus == 4">已关闭</li>
                <li class="alipay" v-if="item.orderStatus == 5">已退款</li>
                <li class="alipay" v-if="item.orderStatus == 6">已解绑</li>
                <li v-if="item.orderStatus == 2">
                  <nuxt-link
                    :to="{ name: 'view-id', params: { id: item.productId } }"
                    class="go_btn"
                    target="_blank"
                    v-if="item.productType === 1"
                  >
                  进入学习
                  </nuxt-link>
                  <nuxt-link
                    :to="{ name: 'live-detail-id', params: { id: item.productId } }"
                    class="go_btn"
                    target="_blank"
                    v-if="item.productType === 2"
                  >
                  进入学习
                  </nuxt-link>
                  <nuxt-link
                    :to="{ name: 'resource-detail-id', params: { id: item.productId } }"
                    class="go_btn"
                    target="_blank"
                    v-if="item.productType === 4"
                  >
                  进入学习
                  </nuxt-link>
                  <nuxt-link
                    :to="{ name: 'exam-view-id', params: { id: item.productId } }"
                    class="go_btn"
                    target="_blank"
                    v-if="item.productType === 5"
                  >
                  进入考试
                  </nuxt-link>
                </li>
                <li v-else-if="item.orderStatus == 1 || item.orderStatus == 3">
                  <a @click="pay(item)" class="go_btn go_pay" href="javascript:">继续支付</a>
                  <a @click="closeOrder(item.orderNo)" class="cancel" href="javascript:">取消支付</a>
                </li>
              </ul>
            </div>
          </div>
          <br />
          <div class="center">
            <el-pagination
              :current-page="pageObj.pageCurrent"
              :page-size="pageObj.pageSize"
              :total="pageObj.totalCount"
              @current-change="getPage"
              background
              class="page-panel"
              layout="prev, pager, next"
            ></el-pagination>
          </div>
        </div>
        <d-paymodal :data="payData" @hidefun="showPay = false" class v-if="showPay" />
      </div>
</template>
<script>
import DPaymodal from '~/components/account/PayModal'
import { orderList, orderClose } from '~/api/account/course.js'
export default {
  components: {
    DPaymodal
  },
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的订单'
    }
  },
  data() {
    return {
      num: 0,
      showPay: false,
      payData: null,
      notdata: true,
      loading: true,
      obj: {
        orderStatus: 0,
        pageCurrent: 1,
        pageSize: 20
      },
      pageObj: {
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  mounted() {
    this.obj = {
      orderStatus: 0,
      pageCurrent: 1,
      pageSize: 10
    }
    this.getOrderList()
  },
  methods: {
    pay(item) {
      const data = { ...item }
      if (item.payType === 5) {
        data.payType = 1
      }
      this.payData = data
      this.showPay = true
    },
    clicktab(int) {
      this.num = int
      this.obj.orderStatus = int
      this.obj.pageCurrent = 1
      this.getOrderList()
    },
    getPage(int) {
      this.obj.pageCurrent = int
      this.getOrderList()
    },
    getOrderList() {
      this.obj.lecturerUserNo = this.$store.state.userInfo.userNo
      this.loading = true;
      orderList(this.obj).then((res) => {
        this.loading = false;
        this.pageObj = res.data
        if (res.data.list.length > 0) {
          this.notdata = false
        } else {
          this.notdata = true
        }
      }, () => {
        this.loading = false;
      })
    },
    closeOrder(orderNo) {
      this.loading = true;
      orderClose({ orderNo }).then((res) => {
        this.$msgBox({ content: '取消成功', type: 'success' })
          this.notdata = false
        this.getOrderList()
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.person_info {
  padding: 25px;
  min-height: 400px;
}
.order_content {
  border-bottom: 2px solid rgba(245, 245, 245, 1);
  margin-top: 20px;
  position: relative;
  &:first-child {
    margin-top: 0;
  }
}
.order_title {
  line-height: 36px;
  padding-left: 20px;
  background: rgba(245, 245, 245, 1);
  font-size: 14px;
  color: #999;
  .order_type {
    margin-right: 10px;
    color: #0099ff;
  }
  .time {
    margin-left: 30px;
  }
}
.order_body {
  margin: 15px 0;
}
.body_left {
  padding: 0 20px;
  float: left;
  // position: relative;
  .img_box {
    width: 120px;
    height: 59px;
    display: inline-block;
  }
  img {
    width: 120px;
    height: 59px;
  }
  p {
    // position: absolute;
    width: 336px;
    white-space: inherit;
    margin-left: 10px;
    // left: 160px;
    font-size: 14px;
    color: #999;
  }
}
.body_right {
  float: right;
  li {
    float: left;
    height: 59px;
    width: 100px;
    text-align: center;
    border-left: 2px solid rgba(245, 245, 245, 1);
    font-size: 14px;
    color: #999;
    &.alipay {
      color: #0099ff;
    }
    &.money {
      color: #d51423;
    }
    .cancel {
      display: block;
      text-align: center;
      margin-top: 5px;
      color: #999;
      &:hover {
        color: #d51423;
      }
    }
    .go_btn {
      display: block;
      width: 76px;
      height: 30px;
      margin-left: 10px;
      line-height: 30px;
      background: #fff;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
      color: #999;
      border: 1px solid #999;
      &.go_pay {
        border-color: orange;
        color: orange;
      }
      &:hover {
        color: #d51423;
        border-color: #d51423;
      }
    }
  }
}
.notdata {
  text-align: center;
  padding: 60px 0;
  font-size: 30px;
  color: #999;
  min-height: 400px;
  i {
    font-size: 30px;
    padding-right: 12px;
  }
}
.page {
  margin-bottom: 20px;
  margin-top: 10px;
}
</style>
