<template>
  <div class="main_box">
    <div class="Ques">
      <span class="number" v-if="number">文件编号：{{ number }}<br>{{ gmtCreate }}</span>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <h4 style="margin-top: 0px">客户基本信息采集</h4>
        <el-row :gutter="60">
          <el-col :span="12">
            <el-form-item label="单位名称" prop="name">
              <el-input v-model="form.name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="所属行业" prop="industry">
              <el-input v-model="form.industry"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="60">
          <el-col :span="12">
            <el-form-item label="培训地点" prop="site">
              <el-input v-model="form.site"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="培训时间" prop="time">
              <el-date-picker
                v-model="form.time"
                type="datetime"
                value-format="yyyy-MM-dd HH-mm-ss"
                style="width: 100%"
                placeholder="选择日期时间"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="60">
          <el-col :span="12">
            <el-form-item label="联系人及职务" prop="job">
              <el-input v-model="form.job"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="电   话" prop="phone">
              <el-input v-model="form.phone"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="60">
          <el-col :span="12">
            <el-form-item label="培训人数" prop="number">
              <el-input type="number" v-model="form.number"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="培训场地及教学工具情况" prop="place">
              <el-input v-model="form.place"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="培训对象" prop="object">
          <el-radio-group v-model="form.object">
            <el-radio class="radio" label="单位负责人及消防管理人员"></el-radio>
            <el-radio class="radio" label="单位普通员工"></el-radio>
            <el-radio class="radio" label="安保人员"></el-radio>
            <el-radio class="radio" label="其它"></el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="单位性质" prop="type">
          <el-radio-group v-model="form.type">
            <el-radio class="radio" label="政府"></el-radio>
            <el-radio class="radio" label="事业"></el-radio>
            <el-radio class="radio" label="国企"></el-radio>
            <el-radio class="radio" label="私企"></el-radio>
            <el-radio class="radio" label="外资"></el-radio>
            <el-radio
              class="radio"
              label="其它:"
              style="margin-right: 10px"
            ></el-radio>
            <el-input v-model="form.typeText" style="width: 120px"></el-input>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="主要需求描述" prop="demand">
          <el-input type="textarea" :rows="5" v-model="form.demand"></el-input>
        </el-form-item>

        <h4>培训课程服务定制（在□内打√）</h4>

        <el-form-item label="师资需求" prop="lecturer">
          <el-checkbox-group v-model="form.lecturer">
            <el-checkbox label="讲师"></el-checkbox>
            <el-checkbox label="资深讲师"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="其它服务" prop="serve">
          <el-checkbox-group v-model="form.serve">
            <el-checkbox label="考试"></el-checkbox>
            <el-checkbox label="教材"></el-checkbox>
            <el-checkbox label="培训合格证书"></el-checkbox>
            <el-checkbox label="消防主题文化产品"></el-checkbox>
            <el-checkbox label="精彩影像记录册"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <el-form-item label="课程主题" prop="theme">
          <div>
            <el-checkbox-group v-model="form.theme">
              <el-checkbox label="消防安全管理"></el-checkbox>
              <el-checkbox label="消防安全责任制"></el-checkbox>
              <el-checkbox label="家庭消防安全知识"></el-checkbox>
              <el-checkbox label="社区消防工作"></el-checkbox>
              <el-checkbox label="消防科普知识"></el-checkbox>
              <el-checkbox label="物业服务企业消防工作"></el-checkbox>
              <el-checkbox label="其它:"></el-checkbox>
            </el-checkbox-group>
          </div>
        </el-form-item>

        <el-form-item
          v-if="isthemeType"
          label="消防安全管理子分类"
          prop="themeType"
        >
          <el-checkbox-group v-model="form.themeType">
            <el-checkbox label="生产加工"></el-checkbox>
            <el-checkbox label="商业服务"></el-checkbox>
            <el-checkbox label="公众聚集"></el-checkbox>
            <el-checkbox label="办公场所"></el-checkbox>
            <el-checkbox label="高危行业"></el-checkbox>
            <el-checkbox label="特殊场所"></el-checkbox>
            <el-checkbox label="其它"></el-checkbox>
          </el-checkbox-group>
        </el-form-item>

        <el-form-item v-if="isthemeText" label="其他课程主题" prop="themeText">
          <el-input v-model="form.themeText"></el-input>
        </el-form-item>

        <el-form-item label="培训形式" prop="shape">
          <el-cascader
            :options="options"
            :props="props"
            style="width: 100%"
            collapse-tags
            v-model="form.shape"
            @change="shapechange"
            clearable
          ></el-cascader>
        </el-form-item>
        <el-form-item label="询访人姓名" prop="signature">
          <el-input v-model="form.signature"></el-input>
        </el-form-item>
        <div style="text-align: center">
          <el-button type="primary" @click="submitForm('form')">
            {{ id?'修改':'立即创建' }}
          </el-button>
          <el-button @click="resetForm('form')">重置</el-button>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
import {
  saveUserResearch,
  editUserResearch,
  getUserResearch
} from '~/api/user.js';

export default {
  name: 'Ques',
  layout: 'account',
  data() {
    const validatePhone = (rule, value, callback) => {
      if (value === '') {
        return callback(new Error('请输入电话'));
      } else if (!/^(0|86|17951)?1[0-9]{10}$/.test(value)) {
        return callback(new Error('请输入正确手机号码'));
      }
      callback();
    };
    return {
      number: '',
      id: '',
      gmtCreate: '',
      form: {
        name: '',
        type: '',
        theme: [],
        lecturer: [],
        serve: [],
        descs: [],
        resource: '',
        industry: '',
        site: '',
        time: '',
        job: '',
        phone: '',
        typeText: '',
        number: '',
        themeType: [],
        object: '',
        themeText: '',
        place: '',
        demand: '',
        shape: []
      },
      props: { multiple: true, value: 'label', label: 'label' },
      options: [
        {
          label: '讲座类',
          children: [
            {
              label: '课堂讲座'
            },
            {
              label: '上门讲解'
            }
          ]
        },
        {
          label: '操作类',
          children: [
            {
              label: '常用消防器材使用'
            },
            {
              label: '结绳自救'
            },
            {
              label: '逃生演练'
            }
          ]
        },
        {
          label: '体验类',
          children: [
            {
              label: '参观上海消防博物馆'
            },
            {
              label: '参观消防站'
            },
            {
              label: '参观消防产品生产厂家'
            },
            {
              label: '其它'
            }
          ]
        },
        {
          label: '体检式'
        }
      ],
      rules: {
        name: [{ required: true, message: '请输入单位名称', trigger: 'blur' }],
        industry: [
          { required: true, message: '请输入所属行业', trigger: 'blur' }
        ],
        signature: [
          { required: true, message: '请输入询访人姓名', trigger: 'blur' }
        ],
        themeText: [
          { required: true, message: '请输入其他课程主题', trigger: 'blur' }
        ],
        themeType: [
          {
            required: true,
            message: '请选择消防安全管理子分类',
            trigger: 'blur'
          }
        ],
        site: [{ required: true, message: '请输入培训地点', trigger: 'blur' }],
        time: [{ required: true, message: '请输入培训时间', trigger: 'blur' }],
        job: [
          { required: true, message: '请输入联系人及职务', trigger: 'blur' }
        ],
        phone: [
          { required: true, message: '请输入电话', trigger: 'blur' },
          {
            validator: validatePhone,
            message: '电话格式不对',
            trigger: 'blur'
          }
        ],
        number: [
          { required: true, message: '请输入培训人数', trigger: 'blur' }
        ],
        place: [
          {
            required: true,
            message: '请输入培训场地及教学工具情况',
            trigger: 'blur'
          }
        ],
        object: [
          { required: true, message: '请选择培训对象', trigger: 'blur' }
        ],
        type: [{ required: true, message: '请选择单位性质', trigger: 'blur' }],
        demand: [
          { required: true, message: '请输入主要需求描述', trigger: 'blur' }
        ],
        lecturer: [
          { required: true, message: '请选择师资需求', trigger: 'blur' }
        ],
        serve: [{ required: true, message: '请选择其它服务', trigger: 'blur' }],
        theme: [{ required: true, message: '请选择课程主题', trigger: 'blur' }],
        shape: [{ required: true, message: '请选择培训形式', trigger: 'blur' }]
      }
    };
  },
  computed: {
    isthemeType() {
      return this.form.theme.indexOf('消防安全管理') !== -1;
    },
    isthemeText() {
      return this.form.theme.indexOf('其它:') !== -1;
    }
  },
  mounted() {
    this.getUserResearch();
  },
  methods: {
    getUserResearch() {
      getUserResearch({
        isShowErrTip: false
      }).then((res) => {
        if (res && res.data) {
          this.number = res.data.name;
          this.id = res.data.id;
          this.gmtCreate = res.data.gmtCreate;
          this.form = JSON.parse(res.data.content);
        }
      });
    },
    submitForm(formName) {
      console.log(this.form);
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (!this.id) {
            saveUserResearch({
              name: this.number,
              content: JSON.stringify(this.form)
            }).then((res) => {
              this.$message({
                message: '添加成功',
                type: 'success'
              });
            });
          } else {
            editUserResearch({
              name: this.number,
              id: this.id,
              content: JSON.stringify(this.form)
            }).then((res) => {
              this.$message({
                message: '修改成功',
                type: 'success'
              });
            });
          }
        }
      });
    },
    shapechange(value) {
      this.form.shape = value;
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>

<style scoped lang="scss">
.Ques {
  width: 100%;
  background: #fff;
  min-height: 80vh;
  padding: 40px;
  margin: 20px auto;
  position: relative;
  .radio {
    margin-right: 70px;
  }

  .number {
    position: absolute;
    right: 40px;
    top: 14px;
    font-size: 15px;
    text-align: right;
    color: #666;
  }
  h4 {
    line-height: 60px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #666;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
</style>
