<template>
<div class="person_content">
        <div class="my_recommend">
          <div class="my_recommend_code">
            我的推荐码：<span class="">{{ referralCode }}</span>
          </div>
          <div class="my_recommend_link">
            推荐链接：
            <input ref="referralLink" type="text" v-model="referralLink">
            <button @click="copyLink">点击复制</button>
            <button @click="dialogVisible = true">分享图片</button>
          </div>
        </div>
        <ul class="person_title clearfix">
          <li :class="{now: num == 1}">
            <a @click="clicktab(1)" href="javascript:">我的推荐</a>
          </li>
        </ul>
        <div v-if="notdata" class="notdata">
          <i class="iconfont">&#xe6be;</i>暂时没有数据
        </div>
        <div v-if="!notdata" class="person_info">
          <div v-if="pageObj.list && pageObj.list.length" class="message_items">
            <div v-for="(item, index) in pageObj.list" :key="index" class="message_item clearfix c_333">
              <div class="message_title">
                {{ item.nickname }}
              </div>
              <div class="message_time">
                {{ item.gmtCreate }}
              </div>
            </div>
          </div>
          <div class="center">
            <br>
            <el-pagination
              :page-size="pageObj.pageSize"
              :current-page="pageObj.pageCurrent"
              :total="pageObj.totalCount"
              @current-change="getPage"
              class="page-panel"
              background
              layout="prev, pager, next">
            </el-pagination>
          </div>
        </div>
        <el-dialog title="分享推荐图片" width="500px" :visible.sync="dialogVisible">
          <div class="baseRecommended">
            <img :src="baseRecommended" alt="">
          </div>
        </el-dialog>
      </div>
</template>
<script>
import { recommendList, sharingRecommended } from '~/api/account/user.js'
import { getUserInfo } from '~/api/user.js'
export default {
  name: 'Recommend',
  layout: 'account',

  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的分享'
    }
  },
  data() {
    return {
      dialogVisible: false,
      num: 1,
      pageCurrent: 1,
      referralCode: '',
      referralLink: '',
      baseRecommended: '',
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  computed: {
    notdata() {
      return !this.pageObj.list.length
    }
  },
  mounted() {
    this.getRecommendList()
    getUserInfo().then(res => {
      if (!res.data.isRecommended) {
        this.$alert('您没有访问权限')
        this.$router.push('/account/info')
        return false
      }
      this.referralCode = res.data.referralCode
      this.referralLink = window.location.origin + '/index?referralCode=' + res.data.referralCode
    })
    this.sharingRecommended()
  },
  methods: {
    getPage(int) {
      this.pageCurrent = int
      this.getRecommendList()
    },
    // 改变时间格式
    changeTime(timeStr) {
      const timeData = new Date(timeStr)
      // console.log(timeData)
      const year = timeData.getFullYear()
      const mon = (timeData.getMonth() + 1).toString().padStart(2, '0')
      const day = timeData.getDate().toString().padStart(2, '0')
      const hours = timeData.getHours().toString().padStart(2, '0')
      const min = timeData.getMinutes().toString().padStart(2, '0')
      const sec = timeData.getSeconds().toString().padStart(2, '0')
      const dateStr = year + '-' + mon + '-' + day + ' ' + hours + ':' + min + ':' + sec
      return dateStr
    },
    copyLink() {
      this.$refs.referralLink.select()
      document.execCommand('Copy');
      this.$msgBox({
        content: '复制成功',
        isShowCancelBtn: false
      })
    },
    clicktab(int) {
      this.num = int
    },
    // 分享图片生成
    sharingRecommended() {
      sharingRecommended().then((res) => {
        console.log(res)
        this.baseRecommended = res.data
      }).catch(() => {
      })
    },
    getRecommendList() {
      recommendList({
        pageCurrent: this.pageCurrent,
        pageSize: 20
      }).then((res) => {
        console.log(res)
        this.pageObj = res.data
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .person_body {
    width: 1200px;
    margin: 30px auto 0;
    min-height: 1000px;
  }
  .my_recommend{
    background-color: #efefef;
    padding: 20px;
  }
  .my_recommend_code{
    text-align: center;
    font-size: 20px;
    span{
      color: #D51423;
    }
  }
  .my_recommend_link{
    margin-top: 12px;
    text-align: center;
    input{
      height: 30px;
      width: 400px;
      padding-left: 12px;
    }
    button{
      height: 30px;
      margin-top: 1px;
      border: none;
      color: #fff;
      background-color: #D51423;
      cursor: pointer;
    }
  }
  .person_content {
    width: 1012px;
    float: right;
    background: #fff;
    border-radius: 6px;
  }
  .person_title {
    border-bottom: 1px solid rgb(242, 242, 242);
    position: relative;
    li {
      float: left;
      line-height: 60px;
      padding: 0 30px;
      font-size: 14px;
      &.now {
        border-bottom: 2px solid #D51423;
        a {
          color: #D51423;
        }
      }
    }
  }
  .person_info {
    min-height: 400px;
    padding-bottom: 30px;
    .auto_clear {
      height: 36px;
      line-height: 36px;
      background: rgba(247, 245, 248, 1);
      font-size: 12px;
      color: #999;
      padding-left: 20px;
      span {
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
  .message_items {
    padding: 0 20px;
    .message_item {
      font-size: 12px;
      height: 40px;
      line-height: 40px;
      border-bottom: 2px solid rgba(247, 245, 248, 1);
      &:hover{
        color: #D51423;
      }
    }
    .message_title {
      width: 750px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
    }
    .message_time {
      float: right;
    }
  }
  .message_info {
    padding: 20px;
    .info_title {
      font-size: 16px;
      font-weight: bold;
      color: #333;
      text-align: center;
      margin-top: 10px;
    }
    .info_time {
      font-size: 12px;
      color: #999;
      text-align: center;
      margin-top: 20px;
    }
    .info_body {
      line-height: 28px;
      font-size: 14px;
      color: #333;
      margin-top: 20px;
    }
  }
  .notdata{
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    color: #999;
    min-height: 400px;
    i{
      font-size: 30px;
      padding-right: 12px;
    }
  }
  .baseRecommended{
    text-align: center;
  }
</style>
