<template>
  <div class="main_box">
    <ul class="tabs clearfix">
      <a class="tab on">学习记录</a>
      <el-date-picker
        v-model="studyDate"
        type="daterange"
        size="mini"
        @change="handleChangeDate"
        value-format="yyyy-MM-dd"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      <el-button type="primary" plain size="mini" @click="download">导出数据</el-button>
    </ul>
    <div class="main_cont">
      <div v-if="notdata" class="notdata">
        <i class="iconfont">&#xe6be;</i>暂时没有数据
      </div>
      <table v-else class="course_table table">
        <thead>
        <tr>
          <th class="align-left-name">课程名称</th>
          <th class="align-left">学习内容</th>
          <th class="name">学习进度</th>
          <th>学习时间</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in pageObj.list" :key="index">
          <td>
            {{ item.courseName }}
          </td>
          <td class="align-left">
            {{ item.periodName }}
          </td>
          <td class="name" style="width: 200px;">
            <el-progress :text-inside="true" :stroke-width="16" :percentage="item.watckProgress"></el-progress>
            <div class="clearfix center">
              {{ item.stringWatchLength }}/
              {{ item.vidLength }}
            </div>
          </td>
          <td>
            {{ item.gmtCreate }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import { studyExport } from '~/api/download.js'
import { studyList } from '~/api/account/user.js'

export default {
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 学习记录'
    }
  },
  data() {
    return {
      studyDate: [],
      notdata: true,
      pageCurrent: 1,
      pageObj: {
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  mounted() {
    this.getStudyList()
  },
  methods: {
    getPage(int) {
      this.pageCurrent = int
      this.getStudyList()
    },
    handleChangeDate(date) {
      this.pageCurrent = 1
      this.getStudyList(date || [])
    },
    getStudyList(time = []) {
      studyList({
        beginTime: time[0],
        endTime: time[1],
        pageCurrent: this.pageCurrent,
        pageSize: 20
      }).then((res) => {
        this.pageObj = res.data
        if (!res.data.list.length) {
          this.notdata = true
        } else {
          this.notdata = false
        }
      })
    },
    download() {
      const dates = {}
      if (this.studyDate && this.studyDate[0]) {
        dates.beginTime = this.studyDate[0]
        dates.endTime = this.studyDate[1]
      }
      studyExport(dates)
    }
  }
}
</script>
<style lang="scss" scoped>
  .align-left {
    width: 400px;
  }

  .align-left-name {
    width: 200px;
  }

  .name {
    width: 50px;
  }

  .study-panel {
    width: 240px;

    .progress {
      width: 180px;
      float: left;
    }

    .text {
      margin-left: 6px;
      float: left;
    }
  }
</style>
