<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-row>
        <el-form-item label="会员原价" prop="orgPrice">
          <el-input-number v-model="form.orgPrice" controls-position="right" :min="0" placeholder="单位：元" />
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item label="会员优惠价" prop="fabPrice">
          <el-input-number v-model="form.fabPrice" controls-position="right" :min="0" placeholder="单位：元" />
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item label="续费价格" prop="renewalPrice">
          <el-input-number v-model="form.renewalPrice" controls-position="right" :min="0" placeholder="单位：元" />
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item label="排序" prop="sort">
          <el-input-number v-model="form.sort" controls-position="right" :min="0" />
        </el-form-item>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { vipSetEdit } from '@/api/system'

  export default {
    name: 'EditVipSet',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        rules: {
          statusId: [
            { required: true, message: '请选择状态', trigger: 'blur' }
          ],
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ],
          orgPrice: [
            { required: true, message: '请输入会员原价', trigger: 'blur' }
          ],
          fabPrice: [
            { required: true, message: '请输入会员优惠价', trigger: 'blur' }
          ],
          renewalPrice: [
            { required: true, message: '请输入续费价格', trigger: 'blur' }
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = this.info;
        }
      }
    },
    methods: {
      handleClose() {
        this.form = {};
        this.$emit('close')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        vipSetEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
