<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="短信模板" prop="template">
            <el-input v-model="form.template" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="手机号码" prop="mobile">
            <el-input v-model="form.mobile" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="验证码" prop="smsCode">
            <el-input v-model="form.smsCode" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否发送成功(1发送成功，0:发送失败)" prop="isSuccess">
            <el-input v-model="form.isSuccess" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item>
        <el-button type="primary" @click="submitForm('form')">更新数据</el-button>
        <el-button @click="handleClose">关 闭</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { userLogSmsView, userLogSmsEdit } from '@/api/user'

  export default {
    name: 'EditUserLogSms',
    data() {
      return {
        form: {},
        rules: {
          gmtCreate: [
            { required: true, message: '请输入创建时间', trigger: 'blur' }
          ],
          template: [
            { required: true, message: '请输入短信模板', trigger: 'blur' }
          ],
          mobile: [
            { required: true, message: '请输入手机号码', trigger: 'blur' }
          ],
          smsCode: [
            { required: true, message: '请输入验证码', trigger: 'blur' }
          ],
          isSuccess: [
            { required: true, message: '请输入是否发送成功(1发送成功，0:发送失败)', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      const view = this.$route
      this.getViewInfo(view.query.id)
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/user/user/log/sms/list');
        })
      },
      getViewInfo(id) {
        this.loading = true
        userLogSmsView(id).then(res => {
          this.loading = false
          this.form = res.data
        }).catch(() => {
          this.loading = false
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        userLogSmsEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
