<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="map.mobile" placeholder="" />
      </el-form-item>
      <el-form-item label="发送时间">
        <el-date-picker
          v-model="sendTime"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="b_999 font_14">
      <el-button type="success" size="mini" @click="handleAddRow">发送验证码</el-button>
      【总发送次数： <span class="c-danger">{{ countData.total }}</span>&nbsp;次 】
      【总成功次数： <span class="c-danger">{{ countData.succeedCount }}</span>&nbsp;次 】
      【总失败次数： <span class="c-danger">{{ countData.failCount }}</span>&nbsp;次 】
    </div>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row>
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="手机号码" prop="mobile" />
      <el-table-column label="短信模板" prop="template" />
      <el-table-column label="验证码" prop="smsCode" />
      <el-table-column label="发送状态" prop="isSuccess">
        <template slot-scope="scope">
          <span class="" :class="{'c-danger': scope.row.isSuccess === 0, 'c-success': scope.row.isSuccess === 1}">{{ isSuccessEnum[scope.row.isSuccess] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="发送时间" prop="gmtCreate" />
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleSendRow(scope.row.mobile)">重发</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <user-log-sms-add
      :visible="ctrl.addVisible"
      @close-callback="closeCllback"
    />
  </div>
</template>

<script>
  import { userLogSmsPage, userLogSmsCount, userLogSmsSend } from '@/api/user'
  import userLogSmsAdd from '@/views/user/userLogSms/add'
  export default {
    components: { userLogSmsAdd },
    data() {
      return {
        ctrl: {
          load: false,
          addVisible: false
        },
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        sendTime: [],
        map: {},
        countData: {},
        isSuccessEnum: {},
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'IsSuccessEnum', type: 'obj' }).then(res => {
        this.isSuccessEnum = res;
      })
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.sendTime = []
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.ctrl.addVisible = true
      },
      handleSendRow(mobile) {
        {
          const body = '确定要重发到【' + mobile + '】？'
          this.$confirm(body, '重发确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            userLogSmsSend(mobile).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCllback() {
        this.ctrl.addVisible = false;
        this.handleReset()
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        userLogSmsCount().then(res => {
          this.countData = res.data
        })
        if (this.sendTime && this.sendTime.length) {
          this.map.beginSendTime = this.sendTime[0];
          this.map.endSendTime = this.sendTime[1];
        } else {
          this.map.beginSendTime = undefined;
          this.map.endSendTime = undefined;
        }
        userLogSmsPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
