<template>
  <div :class="{mgt6: blogger, small_active: small}" @click="addActive" class="btn fr active_btn mgt20">
    {{ actStr }}
  </div>
</template>
<script>
import { activeBlogger } from '~/api/blog/user.js'
export default {
  props: {
    blogger: {
      type: Boolean
    },
    bloggerInfo: {
      type: [Object, Array],
      default() {
        return {}
      }
    },
    small: {
      type: Boolean
    }
  },
  computed: {
    actStr() {
      if (this.bloggerInfo.isAttention) {
        return '已关注'
      }
      return '关注'
    }
  },
  methods: {
    addActive() {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录?', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      activeBlogger({
        bloggerUserNo: this.bloggerInfo.bloggerUserNo,
        userBrowser: '谷歌',
        userIp: '127.0.0.1',
        userTerminal: 'PC'
      }).then((res) => {
        this.$emit('changeActive', this.bloggerInfo.isAttention)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .small_active {
    width: 46px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
  }
</style>
