<template>
  <div class="mgb20 ">
    <div class="blog_list">
      <div v-for="(item, index) in pageObj.list" :key="index" class="blog_item border_b">
        <p class="blog_title">
          <span v-if="item.isTop" class="tip">顶</span>
          <span class="tip red">{{ item.typeId == 1 ? '原' : '转' }}</span>
          <!-- eslint-disable -->
          <nuxt-link :to="{ name: 'blog-article-id', params: { id: item.id } }" target="_blank" v-html="item.title">
            <!-- {{item.title}} -->
          </nuxt-link>
        </p>
        <p class="mgt10 c_999 blog_info">
          {{ item.summary }}
        </p>
        <div class="clearfix c_999 mgt20">
          <p class="fl blogger" >
            <img :src="item.bloggerUserImg" class="blogger_img" alt="">
            <span v-if="item.bloggerNickname">{{ item.bloggerNickname }}</span>
            <span v-if="item.bloggerNickname" class="padlr_10">|</span>
            {{ item.gmtModified }}
          </p>
          <p class="fr blog_num">
            <span class="iconfont icon">&#xe685;</span>
            <span>{{ item.readAcount }}</span>
            <span class="padlr_10">|</span>
            <span class="iconfont icon">&#xe620;</span>
            <span>{{ item.commentAcount }}</span>
          </p>
        </div>
      </div>
      <div class="pad20 p_relative" v-if="!hideLoad">
        <div class="load_box" @click="loadList">
          <img v-if="loadMore" class="load_img" src="../../assets/image/blog/loading.png" alt="">
          <span class="c_999" :class="{btn: moreStr == '点击加载更多'}">{{ moreStr }}</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    hideLoad: {
      type: Boolean
    },
    pageObj: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      }
    },
    list: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      }
    }
  },
  data() {
    return {
      loadMore: false
    }
  },
  computed: {
    moreStr() {
      if (this.loadMore) {
        return '正在加载中...'
      }
      if (this.pageObj.pageCurrent >= this.pageObj.totalPage) {
        return '没有更多了'
      }
      return '点击加载更多'
    }
  },
  mounted() {
    console.log(this.list)
  },
  methods: {
    loadList() {
      if (this.moreStr !== '点击加载更多') return
      this.loadMore = true
      this.$emit('loadList', this)
    }
  }
}
</script>
<style lang="scss" scoped>

  .load_box {
    text-align: center;

  }
  .blog_list {
    border-radius: 6px;
    background: #fff;

  }
  .blog_item {
    padding: 20px 20px 12px;
    border-bottom: 1px solid #ddd;
  }
  .blog_title {
    font-size: 16px;
    color: #333;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .blog_num,
  .blogger {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999999;
    line-height: 28px;
    .blogger_img {
      width: 20px;
      height: 20px;
      position: relative;
      top: 4px;
      margin-right: 3px;
      border-radius: 50px;
      display: inline-block;
    }
  }

  .blog_info {
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .tip {
     border:1px solid #009900;
     display: inline-block;
     color: #009900;
     width: 20px;
     height: 20px;
     position: relative;
     top: -2px;
     line-height: 16px;
     text-align: center;
     font-size: 12px;
     border-radius: 4px;
  }

  .tip.red {
    color: #D51423;
    border: 1px solid #D51423;
  }
  .icon {
    font-size: 20px;
    vertical-align: middle;
  }
</style>
