<template>
  <div class="mgt20 radius_box b_fff">
    <div class="pad20 border_b clearfix">
      <input v-model="commentStr" type="text" class="comment_input" placeholder="说点什么...">
      <button @click="sendComment('')" class="comment_btn fr mgt10 btn">
        评论
      </button>
    </div>
    <div v-if="pageObj.list.length" class="padlr_20">
      <div class="comment_count font_14 mgt30">
        全部评论<span class="c_999 mgl10">{{ blogInfo.commentAcount }}</span>
      </div>
      <div>
        <div v-for="(item, index) in pageObj.list" :key="index" class="comment_item border_b clearfix">
          <div class="default_photo middle_photo fl">
            <img v-if="item.userImg" :src="item.userImg" alt="">
            <img v-else src="../../assets/image/blog/friend.jpg" alt="">
          </div>
          <div class="fl w750 mgl20">
            <p>
              <span class="font_14">{{ item.nickname }}</span>
              <span class="font_12 c_999 mgl10">{{ item.gmtModified || item.gmtCreate }}</span>
            </p>
            <div class="font_14 c_999 mgt20 wrap_box">
              {{ item.content }}
            </div>
            <div v-if="item.blogCommentList && item.blogCommentList.length" class="recomment radius_box pad20 font_14 mgt20 p_relative">
              <img src="../../assets/image/blog/up.png" alt="" class="up_img">
              <div v-for="that in item.blogCommentList" :key="that.id" class="mgb20">
                <p class="c_333">
                  {{ that.nickname }}
                </p>
                <p class="c_999 mgt20 wrap_box">
                  {{ that.content }}
                </p>
              </div>
            </div>
            <div class="clearfix mgt10 c_999">
              <span @click="showOrHide(item.id)" class="iconfont fr icon btn">&#xe620;</span>
            </div>
            <div v-if="showInput == item.id" class="mgt20">
              <input v-model="twoStr" type="text" class="comment_input" placeholder="回复 用户">
              <button @click="sendComment(item.id)" class="comment_btn fr mgt10 btn">
                评论
              </button>
            </div>
          </div>
        </div>
        <div class="pad20 p_relative">
          <div @click="loadList" class="load_box">
            <img v-if="loadMore" class="load_img" src="../../assets/image/blog/loading.png" alt="">
            <span :class="{btn: moreStr == '点击加载更多'}" class="c_999">{{ moreStr }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { addComment } from '~/api/blog/user.js'
export default {
  props: {
    pageObj: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      }
    },
    blogInfo: {
      type: [Object, Array],
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      loadMore: false,
      showInput: '',
      commentStr: '',
      twoStr: ''
    }
  },
  computed: {
    moreStr() {
      if (this.loadMore) {
        return '正在加载中...'
      }
      if (this.pageObj.pageCurrent >= this.pageObj.totalPage) {
        return '没有更多了'
      }
      return '点击加载更多'
    }
  },
  mounted() {
    console.log(this.pageObj)
  },
  methods: {
    sendComment(id) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录?', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      const params = {
        bloggerUserNo: this.blogInfo.bloggerUserNo,
        weblogId: this.blogInfo.id,
        content: this.commentStr,
        userBrowser: '谷歌',
        userIp: '127.0.0.1',
        userTerminal: 'PC',
        parentId: 0
      }
      if (id) {
        if (!this.twoStr) {
          return
        }
        params.parentId = id
        params.content = this.twoStr
      } else if (!this.commentStr) {
        return
      }
      console.log(params)
      addComment(params).then((res) => {
        console.log('res', res)
        if (id) {
          res.data.findId = id
          this.$emit('sendCommentTwo', res.data)
        } else {
          this.$emit('sendCommentOne', res.data)
        }
        this.commentStr = ''
        this.twoStr = ''
      }).catch(() => {})
    },
    showOrHide(showInput) {
      if (this.showInput === showInput) {
        this.showInput = ''
        return
      }
      this.showInput = showInput
    },
    loadList() {
      if (this.moreStr !== '点击加载更多') return
      this.loadMore = true
      this.$emit('loadComment', this)
    }
  }
}
</script>
<style lang="scss" scoped>
  .w750 {
    width: 750px;
  }
  .icon {
    font-size: 20px;
  }
  .comment_input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    background: rgba(247, 245, 248, 1);
    border-radius: 4px;
  }
  .comment_btn {
    width: 86px;
    height: 35px;
    border-radius: 4px;
    background: rgba(213, 20, 35, 1);
    border: none;
    color: #fff;
  }
  .comment_item {
    padding: 30px 0;
  }
  .recomment {
    background: rgba(247, 245, 248, 1);
  }
  .up_img {
    position: absolute;
    top: -10px;
  }
  .wrap_box {
    word-wrap:break-word
  }
</style>
