<template>
  <div class="mgb20">
    <div v-if="list.length" class="article_title c_333 radius_box" :style="{width: width+'px'}">
      <div class="font_16 font_b pad20 border_b">
        热门推荐
      </div>
      <ul class="pad20 clearfix font_14">
        <li v-for="(item, index) in list" :key="index" :class="{mgt10: index > 0}" class="text_hidden">
          <span :class="{dis_block: index > 2}" class="default_block">{{ index + 1 }}</span>
          <nuxt-link :to="{ name: 'blog-article-id', params: { id: item.artcleId } }" target="_blank">
            {{ item.title }}
          </nuxt-link><span class="iconfont icon">&#xe685;</span><span>{{ item.readAcount }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { hotZone } from '~/api/blog/community.js'
export default {
  props: {
    width: {
      type: Number,
      default: 300
    }
  },
  data() {
    return {
      list: []
    }
  },
  mounted() {
    this.getHotList()
  },
  methods: {
    getHotList() {
      // 热门推荐博客列表
      const hotParams = {
        pageCurrent: 1,
        pageSize: 10,
        articleType: 1,
        sections: 2
      }
      hotZone(hotParams).then(res => {
        this.list = res.data.list
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .default_block {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    background: rgba(213, 20, 35, 1);
    &.dis_block {
      background: rgba(204, 204, 204, 1);
    }
  }
 .text_hidden{
   white-space: inherit;
   line-height: 25px;
 }
  .article_title {
    font-weight: 650;
  }
</style>
