<template>
  <div>
    <div class="blog_list" :style="{marginTop: gutter ? (-gutter + 'px') : '0px'}">
      <el-row :gutter="gutter">
        <el-col :span="span" v-for="(item, index) in pageObj.list" :key="index">
          <nuxt-link
            :to="{ name: 'blog-article-id', params: { id: item.id } }"
            target="_blank"
          >
            <div
              class="blog_item"
              :style="{
                marginTop: gutter ? gutter + 'px' : '0px',
              }"
            >
              <p class="blog_title" v-html="item.title"></p>
              <p class="mgt10 c_999 blog_info">
                {{ item.summary }}
              </p>
              <div class="clearfix c_999 mgt10 blog_item_footer">
                <p class="fl blogger">
                  <img :src="item.bloggerUserImg" class="blogger_img" alt="" />
                  <span v-if="item.bloggerNickname">{{
                    item.bloggerNickname
                  }}</span>
                  {{ item.gmtModified }}
                </p>
                <p class="fr blog_num">
                  <img src="../../assets/image/blog/eye.svg" class="img1" alt="">
                  <span>{{ item.readAcount }}</span>
                  <img src="../../assets/image/blog/comment.svg" class="img2" alt="">
                  <span>{{ item.commentAcount }}</span>
                   <img src="../../assets/image/blog/like.svg" class="img3" alt="">
                  <span>{{ item.admireAcount }}</span>
                </p>
              </div>
            </div>
            <div class="pad20 p_relative" v-if="!hideLoad">
              <div class="load_box" @click="loadList">
                <img
                  v-if="loadMore"
                  class="load_img"
                  src="../../assets/image/blog/loading.png"
                  alt=""
                />
                <span
                  class="c_999"
                  :class="{ btn: moreStr == '点击加载更多' }"
                  >{{ moreStr }}</span
                >
              </div>
            </div>
          </nuxt-link>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    hideLoad: {
      type: Boolean
    },
    gutter: {
      type: Number,
      default() {
        return 0;
      }
    },
    span: {
      type: Number,
      default() {
        return 24;
      }
    },
    pageObj: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        };
      }
    },
    list: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        };
      }
    }
  },
  data() {
    return {
      loadMore: false
    };
  },
  computed: {
    moreStr() {
      if (this.loadMore) {
        return '正在加载中...';
      }
      if (this.pageObj.pageCurrent >= this.pageObj.totalPage) {
        return '没有更多了';
      }
      return '点击加载更多';
    }
  },
  mounted() {
    console.log(this.list);
  },
  methods: {
    loadList() {
      if (this.moreStr !== '点击加载更多') return;
      this.loadMore = true;
      this.$emit('loadList', this);
    }
  }
};
</script>
<style lang="scss" scoped>
.load_box {
  text-align: center;
}
.blog_list {
  border-radius: 6px;
}
.blog_item {
  padding: 20px 20px 12px;
  background: #ffffff;
  border-radius: 8px;
  &:hover {
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s;
  }
}
.blog_title {
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blog_num,
.blogger {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #999999;
  line-height: 18px;
  .blogger_img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    margin-right: 3px;
    border-radius: 50px;
    display: inline-block;
  }
}

.blog_num {
  line-height: 20px;
  position: relative;
  top: 4px;
  .img1 {
    font-size: 15px;
    position: relative;
    top: -1px;
  }

  .img3 {
    position: relative;
    top: -1px;
  }
  img {
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
  }
}

.blog_item_footer {
  color: #999999;
  font-size: 12px;
  border-top: 1px solid #E9E9E9;
}

.blog_info {
  font-size: 12px;
  line-height: 17px;
  min-height: 34px;;
  color: #999999;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.tip {
  border: 1px solid #009900;
  display: inline-block;
  color: #009900;
  width: 20px;
  height: 20px;
  position: relative;
  top: -2px;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
}

.tip.red {
  color: #d51423;
  border: 1px solid #d51423;
}

.icon {
  font-size: 20px;
  vertical-align: middle;
}
</style>
