<template>
  <div v-if="newObj.list.length" class="mgb20">
    <div class="article_title c_333 radius_box" :style="{width: width+'px'}">
      <div class="font_16 font_b pad20 border_b">
        最新文章
      </div>
      <ul class="padlr_20 b_fff">
        <li v-for="(item, index) in newObj.list" :key="index" class="new_item border_b">
          <p class="font_14 text_hidden">
            <nuxt-link :to="{ name: 'blog-article-id', params: { id: item.id } }" target="_blank">
              {{ item.title }}
            </nuxt-link>
          </p>
          <p class="font_12 writer mgt10">
            <img :src="item.bloggerUserImg" class="blogger_img" alt="">{{ item.bloggerNickname }}&nbsp;<span class="iconfont icon">&#xe685;</span><span>{{ item.readAcount }}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    newObj: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      }
    },
    width: {
      type: Number,
      default: 300
    }
  }
}
</script>
<style lang="scss" scoped>
  .new_item {
    padding: 10px 0;
  }
  .writer {
    color:#999
  }
  .blogger_img {
     width: 18px;
     height: 18px;
     position: relative;
     top: 4px;
     margin-right: 3px;
     border-radius: 50px;
     display: inline-block;
   }
</style>
