<template>
  <div class="pad20 radius_box b_fff">
    <div class="no_active">
      <img src="../../assets/image/blog/no_active.png" alt="" class="no_img">
      <!-- eslint-disable -->
      <p class="center font_14 c_999 mgt10" @click="goLogin()" v-html="tipText" />
    </div>
    <div v-if="pageObj.list.length">
      <p class="border_b c_333 font_16 padb_10">
        热门博主推荐
      </p>
      <ul class="mgt20 clearfix padb_20">
        <li v-for="(item, index) in pageObj.list" :key="index" class="clearfix c_333 fl padr_20" :class="{mgr20: (index + 1) != pageObj.list.length, border_r: (index + 1) != pageObj.list.length}">
          <nuxt-link :to="{name: 'blogger-id', params: {id: item.bloggerUserNo}}">
            <div class="default_photo small_photo fl">
              <img v-if="item.bloggerUserImg" :src="item.bloggerUserImg" alt="">
              <img v-else src="../../assets/image/friend.jpg" alt="">
            </div>
          </nuxt-link>
          <div class="mgl10 fl">
            <p class="text_hidden w94 font_14">
              <nuxt-link :to="{name: 'blogger-id', params: {id: item.bloggerUserNo}}">
                {{ item.bloggerNickname }}
              </nuxt-link>
            </p>
            <p class="text_hidden font_12 c_999 mgt6">
              {{ item.weblogAccount }} 篇博客
            </p>
          </div>
          <div class="fl mgl10">
            <!-- <y-active-btn :blogger="true" :bloggerInfo="item" :small="true" /> -->
            <div class="btn fr active_btn small_active mgt6" @click="addActive(item, index)">
              {{ item.isAttention ? '已关注' : '关注' }}
            </div>
          </div>
        </li>
      </ul>
      <div v-if="pageObj.totalPage > 1" class="btn active_btn mgt20 mg_center" @click="changeList()">
        换一批
      </div>
    </div>
  </div>
</template>
<script>
import { recommendBlogger } from '~/api/blog/community.js'
import { activeBlogger } from '~/api/blog/user.js'
export default {
  data() {
    return {
      pageCurrent: 1,
      pageObj: {
        list: [],
        pageCurrent: 1,
        totalPage: 1
      }
    }
  },
  computed: {
    tipText() {
      if (this.$store.state.tokenInfo) {
        return '您还没有关注哦，赶快来关注吧~'
      }
      return '您还没有登录哦，赶快<a href="javascript:" class="c_blue">登录</a>吧~'
    }
  },
  mounted() {
    if (this.$store.state.tokenInfo && this.$store.state.userInfo) {
      this.getRecommendBlogger()
    }
  },
  methods: {
    goLogin() {
      if (this.$store.state.tokenInfo) return
      this.$store.dispatch('REDIRECT_LOGIN')
    },
    getRecommendBlogger() {
      recommendBlogger({
        pageCurrent: this.pageCurrent,
        pageSize: 3
      }).then((res) => {
        console.log(res)
        this.pageObj = res.data
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: 1,
          totalPage: 1
        }
      })
    },
    addActive(info, index) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录?', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      activeBlogger({
        bloggerUserNo: info.bloggerUserNo,
        userBrowser: '谷歌',
        userIp: '127.0.0.1',
        userTerminal: 'PC'
      }).then((res) => {
        info.isAttention = !info.isAttention
      }).catch(() => {})
    },
    changeList() {
      if (this.pageCurrent < this.pageObj.totalPage) {
        this.pageCurrent++
        this.getRecommendBlogger()
      } else if (this.pageCurrent === this.pageObj.totalPage) {
        this.pageCurrent = 1
        this.getRecommendBlogger()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .w94 {
    width: 94px;
  }
  .mg_center {
    margin: 0 auto;
  }
  .no_active {
    height: 180px;
    padding-top: 60px;
  }
  .no_img {
    width: 36px;
    height: 36px;
    display: block;
    margin: 0 auto;
  }
  .small_active {
    width: 46px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
  }
</style>
