<template>
  <div :class="{small_box: small}" class="search_box">
    <form @submit="goSearch" action="">
      <input v-model="searchTitle" :class="{small_input: small}" :placeholder="placeholderStr" type="text" class="search_input">
      <button :class="{search_back: !small}" class="search_btn">
        <span class="iconfont search_icon">&#xe633;</span>
        <span v-if="!small" class="c_999 search_text">搜索</span>
      </button>
    </form>
  </div>
</template>
<script>
export default {
  props: {
    small: {
      type: Boolean
    },
    bloggerUserNo: {
      type: [Number, String],
      default: 0
    },
    client: {
      type: Boolean
    },
    isQuestion: {
      type: Boolean
    }
  },
  data() {
    return {
      searchTitle: ''
    }
  },
  computed: {
    placeholderStr() {
      if (this.small) {
        return '搜索博主相关博客'
      }
      return '搜索感兴趣的博客或知识点'
    }
  },
  mounted() {
    if (this.$route.name === 'question') {
      this.searchTitle = this.$route.query.title
    } else if (this.$route.name === 'blog-search-title') {
      this.searchTitle = this.$route.params.title
    }
  },
  methods: {
    goSearch(e) {
      e.preventDefault()
      if (this.client) {
        this.$emit('goSearch', this.searchTitle)
        return
      }
      if (this.isQuestion) {
        this.$router.push({ name: 'question', query: { title: this.searchTitle } })
        return false
      }
      if (!this.searchTitle) {
        this.searchTitle = '';
      }
      if (this.small) {
        this.$router.push({ name: 'blog-search', query: { no: this.bloggerUserNo, title: this.searchTitle } })
        return
      }
      this.$router.push({ name: 'blog-search', query: { title: this.searchTitle } })
    }
  }
}
</script>
<style lang="scss" scoped>
  .search_text {
    position: relative;
    top: -1px;
    font-weight: 500;
    padding-right: 4px;
    font-size: 14px;
  }
  .search_box {
    position: relative;
    border-radius: 4px;
    padding: 6px 40px 0px 20px;
    width: 466px;
    height: 36px;
    float: right;
    margin: 12px 10px 0 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: rgba(247, 245, 248, 1);
  }
  .search_input {
    width: 410px;
    height: 24px;
    line-height: 24px;
    background: rgba(247, 245, 248, 1);
    border: none;
    outline: none;
  }
  .search_btn {
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0px;
    background: rgba(247, 245, 248, 1);
    border: none;
    outline: none;
    height: 34px;
    .search_icon {
      color: #999;
      font-weight: 700;
      font-size: 20px;
      // vertical-align: middle;
    }
    &.search_back {
      background: rgba(226, 226, 226, 1);
    }
  }
  .small_box {
    width: 300px;
  }
  .small_input {
    width: 245px;
  }
</style>
