<template>
  <div @click.self="closeShare" class="mask">
    <div class="share_box">
      <div class="clearfix pad20 border_b c_333">
        分享
        <span @click="closeShare" class="iconfont fr close_btn">&#xe616;</span>
      </div>
      <div class="pd40">
        <div class="clearfix">
          <div>
            <div>
              <canvas id="canvas" style="margin: 0 auto;" />
              <!-- <img src="../../assets/image/ewm.jpg" alt="" class="ewm_img"> -->
            </div>
            <p class="center c_999">
              分享至微信好友或朋友圈
            </p>
          </div>
        </div>
        <div class="clearfix mgt20 pad20 relative_box">
          <div class="fl">
            <a :href="shareXinlan()" target="_blank">
              <img src="../../assets/image/blog/xinlan.png" alt="" class="share_img">
              <p class="text_center mgt10">新浪微博</p>
            </a>
          </div>
          <div class="center_box">
            <a :href="shareFriend()" target="_blank">
              <img src="../../assets/image/blog/qq.png" alt="" class="share_img">
              <p class="text_center mgt10">QQ好友</p>
            </a>
          </div>
          <div class="fr">
            <a :href="shareZone()" target="_blank">
              <img src="../../assets/image/blog/zone.png" alt="" class="share_img">
              <p class="text_center mgt10">QQ空间</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import QRCode from 'qrcode'
export default {
  props: {
    informationTitle: {
      type: String,
      default: ''
    }
  },
  mounted() {
    this.qrcode(window.location.href)
  },
  methods: {
    // 生成二维码
    qrcode(url) {
      QRCode.toCanvas(document.getElementById('canvas'), url, {
        width: 100,
        height: 100
      }, function (error) {
        if (error) console.error(error)
        // console.log('success!')
      })
    },
    // 分享到新浪微博
    shareXinlan() {
      return 'http://service.weibo.com/share/share.php?url=' + this.changeUrl() + '&title=' + this.informationTitle
    },
    // 分享到QQ好友
    shareFriend() {
      return 'https://connect.qq.com/widget/shareqq/index.html?url=' + this.changeUrl() + '&title=' + this.informationTitle
    },
    // 分享到QQ空间
    shareZone() {
      return 'https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + this.changeUrl() + '&title=' + this.informationTitle
    },
    // 编码Url
    changeUrl() {
      const url = escape(window.location.href)
      // console.log(url)
      return url
    },
    closeShare() {
      this.$emit('closeShare')
    }
  }
}
</script>
<style lang="scss" scoped>
  a {
    text-decoration: none;
  }
  .share_box {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    width: 350px;
    border-radius: 8px;
    font-size: 14px;
  }
  .close_btn {
    cursor: pointer;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .ewm_img {
    width: 100px;
    height: 100px;
  }
  .share_img {
    width: 40px;
    height: 40px;
  }
  .relative_box {
    position: relative;
  }
  .center_box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
