<template>
  <div class="fl">
    <ul class="side_items">
      <li v-for="(item, index) in tabList" :key="index" @click="changeTab(item)">
        <a :class="{active: no == item.labelName}" href="javascript:" class="side_item text_hidden">{{ item.labelName }}</a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    tabList: {
      type: [Object, Array],
      default() {
        return []
      }
    }
  },
  data() {
    return {
      no: this.tabList[0].labelName
    }
  },
  methods: {
    changeTab(item) {
      this.no = item.labelName
      this.$emit('changeTab', item)
    }
  }
}
</script>
<style lang="scss" scoped>
  .side_items {
    width: 100px;
    background: #fff;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999999;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
  }
  .side_item {
    height: 40px;
    display: block;
  }
  .active {
    background: rgba(213, 20, 35, 1);
    color: #fff;
  }
</style>
