<style scoped lang="scss">
.form-box {
  text-align: left;
}

.select-box {
  background: rgba(245, 245, 245, 1);
  margin-left: 8px;
  border-radius: 2px;
  margin-bottom: 18px;
  .title {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
  }

  .select-list {
    height: 150px;
    overflow-y: auto;
    text-align: center;
    padding: 10px 0px 10px 10px;
    .select-item {
      box-sizing: border-box;
      cursor: pointer;
      border: 1px solid rgba(228, 228, 228, 1);
      width: 98px;
      height: 36px;
      color: #999;
      border-radius: 3px;
      line-height: 34px;
      display: inline-block;
      margin: 0 5px 5px 0;
      text-align: center;
      &.active {
        color: #2388ec;
        border-color: #2388ec;
        background-color: rgba(35, 136, 236, 0.196078431372549);
      }
    }
  }
}

.el-icon-warning {
  position: relative;
  top: 1px;
  margin-left: 10px;
}

el-form-item {
  margin-bottom: 10px;
}
</style>

<style>
.el-icon-warning-tip {
  margin-top: -8px;
}
</style>

<template>
  <div class="form-box" v-loading="loading">
    <el-form :model="form" :rules="rules" label-width="90px" ref="form">
      <el-form-item label="考试名称:" prop="gradeExamName" placeholder="请选择考试名称">
        <el-input v-model="form.gradeExamName"></el-input>
      </el-form-item>
      <el-row :gutter="20">
        <!-- <el-col :span="12" v-if="!exam.id">
            <el-form-item label="分类学科:" prop="subjectId">
                <el-cascader
                v-model="form.subjectId "
                :props="optionProps"
                :options="kemuList"
                style="width: 200px"
                placeholder="请选择科目"
                popper-class="__category-id"
              >
              </el-cascader>
            </el-form-item>
        </el-col>-->
        <el-col :span="12">
          <el-form-item label="布置范围:" prop="gradeId">
            <el-select
              placeholder="请选择布置班级"
              style="width: 100%"
              filterable
              remote
              clearable
              reserve-keyword
              :remote-method="remoteMethodGrade"
              :loading="GradeLoading"
              v-model="form.gradeId"
            >
              <el-option
                v-for="item in GradeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="试卷名称:" prop="examId">
        <el-select
          placeholder="请选择试卷名称"
          filterable
          remote
          reserve-keyword
          disabled
          clearable
          :remote-method="remoteMethod"
          :loading="examSeekloading"
          style="width: 100%"
          v-model="form.examId"
        >
          <el-option
            v-for="item in examOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <div class="select-box" v-loading="studentIdListloading">
        <div class="title">
          <el-checkbox @change="selectAll()" v-model="checked">全选</el-checkbox>
        </div>
        <div class="select-list">
          <div
            :key="index"
            @click="selectStudent(item.id)"
            :class="['select-item', form.studentIdList.indexOf(item.id) != -1 ? 'active' : '']"
            v-for="(item, index) in studentIdList"
          >
{{ item.nickname }}
</div>
        </div>
      </div>
      <el-form-item label="答卷时间:" prop="time">
        <el-date-picker
          style="width: 100%"
          end-placeholder="结束日期"
          range-separator="至"
          clearable
          :picker-options="pickerOptions"
          start-placeholder="开始日期"
          value-format="yyyy-MM-dd HH:mm:ss"
          type="datetimerange"
          v-model="form.time"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label="查看答案:" prop="answerShow">
        <el-radio-group v-model="form.answerShow">
          <el-radio :label="1">不展示</el-radio>
          <el-radio :label="2">交卷即可查看答案</el-radio>
          <el-radio :label="3">考试结束后可查看答案</el-radio>
          <el-radio :label="4">
            自定义
            <el-date-picker
              v-model="form.answerShowTime"
              type="datetime"
              style="width:160px"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期时间"
            ></el-date-picker>
          </el-radio>
        </el-radio-group>
      </el-form-item>
      <el-row :gutter="20">
        <el-col :span="12">
          <el-form-item label="是否评卷:" prop="auditType">
            <el-radio-group v-model="form.auditType">
              <el-radio :label="2">是</el-radio>
              <el-radio :label="1">否</el-radio>
            </el-radio-group>
            <el-tooltip
              popper-class="el-icon-warning-tip"
              effect="dark"
              content="讲师布置作业后，不需要评卷"
              placement="right-start"
            >
              <i class="el-icon-warning"></i>
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="补交时间:" prop="compensateStatus">
            <el-radio-group v-model="form.compensateStatus">
              <el-radio :label="2">开启</el-radio>
              <el-radio :label="1">关闭</el-radio>
            </el-radio-group>
            <el-tooltip
              popper-class="el-icon-warning-tip"
              effect="dark"
              content="关闭，答卷时间已过学员将无法完成作业；相反开启则无时间限制"
              placement="right-start"
            >
              <i class="el-icon-warning"></i>
            </el-tooltip>
          </el-form-item>
        </el-col>
      </el-row>
      <div style="text-align:center">
        <el-button type="primary" @click="onSubmit()">提交</el-button>
        <el-button @click="$emit('back')">取消</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import * as examApis from '~/api/account/exam.js';
import * as gradeApis from '~/api/account/grade.js';

export default {
  name: 'AddClassExam',
  props: {
    exam: {
      type: Object,
      default() {
        return {};
      }
    },
    editData: {
      type: Object,
      default() {
        return null;
      }
    }
  },
  data() {
    return {
      optionProps: {
        value: 'id',
        label: 'categoryName',
        children: 'children',
        checkStrictly: true
      },
      kemuList: [],
      checked: false,
      show: true,
      loading: false,
      GradeLoading: false,
      examOptions: [],
      GradeOptions: [],
      examSeekloading: false,
      studentIdListloading: false,
      pickerOptions: {
        shortcuts: [
          {
            text: '今天到明天',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              end.setTime(end.getTime() + 3600 * 1000 * 24);
              start.setTime(start.getTime() + 1000 * 60 * 2);
              picker.$emit('pick', [start, end]);
            }
          },
          {
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              end.setTime(end.getTime() + 3600 * 1000 * 24 * 7);
              start.setTime(start.getTime() + 1000 * 60 * 2);
              picker.$emit('pick', [start, end]);
            }
          },
          {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              end.setTime(end.getTime() + 3600 * 1000 * 24 * 30);
              start.setTime(start.getTime() + 1000 * 60 * 2);
              picker.$emit('pick', [start, end]);
            }
          }
        ]
      },
      form: {
        answerShow: 3,
        answerShowTime: '',
        auditType: 1,
        beginTime: '',
        compensateStatus: 1,
        endTime: '',
        examId: '',
        time: [],
        gradeExamName: '',
        gradeId: '',
        studentIdList: [],
        subjectId: []
      },
      studentIdList: [],
      rules: {
        gradeExamName: [
          { required: true, message: '请输入班级考试名称', trigger: 'blur' },
          {
            min: 1,
            max: 20,
            message: '长度在 1 到 20 个字符',
            trigger: 'blur'
          }
        ],
        gradeId: [
          { required: true, message: '请选择布置范围', trigger: 'blur' }
        ],
        examId: [{ required: true, message: '请选择试卷', trigger: 'blur' }],
        studentIdList: [
          { required: true, message: '请选择布置学生范围', trigger: 'blur' }
        ],
        time: [{ required: true, message: '请选择答卷时间', trigger: 'blur' }],
        answerShow: [
          { required: true, message: '请选择查看答案类型', trigger: 'blur' }
        ],
        auditType: [
          { required: true, message: '请选择是否评卷', trigger: 'blur' }
        ],
        compensateStatus: [
          { required: true, message: '请选择是否可以补交', trigger: 'blur' }
        ]
      }
    };
  },
  watch: {
    'form.subjectId'() {
      this.remoteMethod('', 2);
    },
    'form.gradeId'() {
      this.gradeStudentList();
    },
    'form.studentIdList'() {
      if (
        this.form.studentIdList.length === this.studentIdList.length &&
        this.studentIdList.length !== 0
      ) {
        this.checked = true;
      } else {
        this.checked = false;
      }
    }
  },
  created() {
    if (this.editData) {
      this.editData.studentIdList = this.editData.studentIdList || [];
      this.form = Object.assign({}, this.editData);
      this.examOptions = [
        {
          label: this.editData.examName,
          value: this.editData.examId
        }
      ];
      setTimeout(() => {
        gradeApis.getGradeExamStudent({ id: this.editData.id }).then((res) => {
          this.form.studentIdList = this.form.studentIdList.concat(res.data);
        });
      }, 500);
      this.form.time = [this.editData.beginTime, this.editData.endTime];
    } else if (this.exam.id) {
      this.examOptions = [
        {
          label: this.exam.examName,
          value: this.exam.id
        }
      ];
      this.form.examId = this.exam.id;
    }
    this.getSubjectLM();
    this.remoteMethod('', 2);
    this.remoteMethodGrade('', 2);
  },
  methods: {
    selectAll() {
      if (this.checked) {
        this.form.studentIdList = this.studentIdList.map((e) => e.id);
      } else {
        this.form.studentIdList = [];
      }
    },
    // 获取试卷类目
    getSubjectLM() {
      examApis
        .categoryList({ examCategoryType: 1, categoryType: 2 })
        .then((res) => {
          this.kemuList = res.data.examCategoryList;
        });
    },
    selectStudent(id) {
      if (this.form.studentIdList.indexOf(id) !== -1) {
        this.form.studentIdList.splice(this.form.studentIdList.indexOf(id), 1);
      } else {
        this.form.studentIdList.push(id);
      }
    },
    gradeStudentList() {
      this.studentIdListloading = true;
      this.checked = false;
      gradeApis
        .gradeStudentList({
          pageCurrent: 1,
          pageSize: 500,
          gradeId: this.form.gradeId
        })
        .then(
          (res) => {
            this.studentIdListloading = false;
            this.studentIdList = res.data.list;
            this.form.studentIdList = [];
          },
          () => {
            this.studentIdListloading = false;
            this.studentIdList = [];
            this.form.studentIdList = [];
          }
        );
    },
    remoteMethod(query, type = 1) {
      if (query !== '' || type === 2) {
        this.examSeekloading = true;
        const d = {
          pageCurrent: 1,
          pageSize: 100,
          examName: query
        };
        console.log(this.form.subjectId);
        if (this.form.subjectId && this.form.subjectId.length) {
          d.subjectId = this.form.subjectId[this.form.subjectId.length - 1];
        }
        examApis.myExamList(d).then(
          (res) => {
            this.examSeekloading = false;
            if (res && res.data && res.data.list) {
              this.examOptions = res.data.list.map((e) => {
                return {
                  label: e.examName,
                  value: e.id
                };
              });
            }
          },
          () => {
            this.examOptions = [];
            this.examSeekloading = false;
          }
        );
      } else {
        this.examOptions = [];
      }
    },
    remoteMethodGrade(query, type = 1) {
      if (query !== '' || type === 2) {
        this.GradeLoading = true;
        const d = {
          pageCurrent: 1,
          pageSize: 100,
          gradeName: query
        };
        gradeApis.getGradeList(d).then(
          (res) => {
            this.GradeLoading = false;
            if (res && res.data && res.data.list) {
              this.GradeOptions = res.data.list.map((e) => {
                return {
                  label: e.gradeName,
                  value: e.id
                };
              });
            }
          },
          () => {
            this.GradeOptions = [];
            this.GradeLoading = false;
          }
        );
      } else {
        this.GradeOptions = [];
      }
    },
    onSubmit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          if (!this.form.studentIdList.length) {
            this.$message.error('请选择布置学生范围！');
            return;
          }
          this.form.endTime = this.form.time[1];
          this.form.beginTime = this.form.time[0];
          this.loading = true;
          const init = (res) => {
            this.loading = false;
            if (res.code === 200) {
              this.$message({
                message:
                  this.editData && this.editData.id
                    ? '修改成功！'
                    : '布置成功！',
                type: 'success'
              });
              this.$emit('addWin');
              this.$emit('back');
            }
          };
          if (this.editData && this.editData.id) {
            gradeApis
              .editGradeExam(this.form)
              .then(init)
              .catch(() => {
                this.loading = false;
              });
          } else {
            gradeApis
              .saveGradeExam(this.form)
              .then(init)
              .catch(() => {
                this.loading = false;
              });
          }
        }
      });
    }
  }
};
</script>
