<style scoped lang="scss">
.seek-bar {
  padding-bottom: 15px;
  text-align: right;

  .input {
    width: 220px;
  }
  span{
    display: inline-block;
    margin: 0 4px;
    margin-left: 20px;
  }
  .seek-btn {
    margin-left: 10px;
  }
}
</style>
<template>
<div class="examAdmin">
  <div class="seek-bar">
    <span>完成状态 </span>
    <el-select class="select" v-model="seek.value" clearable placeholder="请选择">
        <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
        </el-option>
    </el-select>
      <span>是否补交 </span>
    <el-select class="select" v-model="seek.value" clearable placeholder="请选择">
        <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
        </el-option>
    </el-select>
    <span>学员名称</span>
    <el-input class="input" v-model="seek.name" placeholder="请输入考试名称"></el-input>
    <el-button type="danger" class="seek-btn">搜索</el-button>
    </div>
    <el-table
    :data="tableData"
    height="490"
    border
    style="width: 100%">
     <el-table-column
      type="index"
      align="center"
      label="序号"
      width="50">
    </el-table-column>
    <el-table-column
      prop="date"
      label="用户名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="name"
      label="用时"
      width="180">
    </el-table-column>
    <el-table-column
      prop="address"
      label="成绩">
    </el-table-column>
     <el-table-column
      prop="address"
      label="系统已评">
    </el-table-column>
      <el-table-column
      prop="address"
      width="70"
      align="center"
      label="人工评分">
    </el-table-column>
    <el-table-column
      prop="address"
      width="70"
      align="center"
      label="是否补交">
    </el-table-column>
      <el-table-column
      prop="address"
      label="操作">
      <template slot-scope="scope">
        <el-button type="text" v-if="scope">进入评卷</el-button>
      </template>
    </el-table-column>
</el-table>
</div>
</template>

<script>
export default {
  name: 'ExamAdmin',
  data() {
    return {
      options: [{
        value: '',
        label: ''
      }, {
        value: '',
        label: ''
      }],
      seek: {
        time: [],
        name: ''
      },
      tableData: [{ value: false }]
    }
  }
}
</script>
