<style scoped lang="scss">
.problemInput {
  display: inline-block;
  vertical-align: middle;
}
</style>
<template>
  <div class="problemInput">
    <el-popover
    placement="top"
    title
    width="800"
    @hide="popoverHide"
    @show="popoverShow"
    trigger="click">
      <wangeditor v-if="isShow" v-model="text"></wangeditor>
      <el-input slot="reference" :placeholder="placeholder" :value="text">
        <template slot="prepend">{{ label }}:</template>
      </el-input>
    </el-popover>
  </div>
</template>

<script>
import wangeditor from '~/components/wangeditor.vue';
export default {
  name: 'ProblemInput',
  components: {
    wangeditor
  },
  props: {
    label: {
      type: String,
      default() {
        return '';
      }
    },
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      text: '',
      visible: false,
      isShow: false
    };
  },
  watch: {
    value: {
      handler(val) {
        setTimeout(() => {
          this.setContent(val);
        }, 50);
      },
      immediate: true
    }
  },
  methods: {
    setContent() {
      this.text = this.value;
    },
    popoverShow() {
      this.isShow = true;
    },
    popoverHide() {
      this.isShow = false;
      this.$emit('input', this.text);
      setTimeout(() => {
        this.$emit('blur', this.text);
      }, 100);
    },
    focus() {
      this.visible = true;
    }
  }
};
</script>
