<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="100px" size="mini">
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="map.mobile" />
      </el-form-item>
      <el-form-item class="filter-item" label="推荐人手机">
        <el-input v-model="map.parentMobile" />
      </el-form-item>
      <el-form-item class="filter-item" label="产品名称">
        <el-input v-model="map.productName" />
      </el-form-item>
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row>
      <el-table-column align="center" type="index" label="序号" width="50" />
        <el-table-column label="订单号" prop="orderNo" />
      <el-table-column label="手机号码" prop="mobile" />
      <el-table-column label="推荐人手机号码" prop="parentMobile" />
      <el-table-column label="产品信息" >
        <template slot-scope="scope">
          【{{ productTypeEnums[scope.row.productType] }}】
          <br>
          {{ scope.row.productName }}
        </template>
      </el-table-column>
      <el-table-column label="订单金额" prop="orderPrice" />
      <el-table-column label="分润比例" width="100" >
        <template slot-scope="scope">
          {{ scope.row.profit * 100 }}%
        </template>
      </el-table-column>
      <el-table-column label="分润金额" prop="profitMoney" width="100" />
      <el-table-column label="分润类型" prop="isAllowInvitation" width="100" >
        <template slot-scope="scope">
          {{ profitTypeEnums[scope.row.profitType] }}
        </template>
      </el-table-column>
      <el-table-column label="层级" prop="floor" width="90" />
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"/>
  </div>
</template>

<script>
import {distributionProfitPage} from '@/api/user';

  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        profitTypeEnums: {},
        productTypeEnums: {}
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'ProfitTypeEnum', type: 'obj' }).then(res => {
        this.profitTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'ProductTypeEnum', type: 'obj' }).then(res => {
        this.productTypeEnums = res;
      });
    },
    methods: {
      // 修改分页大小
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 跳转到指定页面
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      // 重置
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      // 分页方法
      listForPage() {
        this.loading.start()
        distributionProfitPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      closeCallback() {
        this.page.pageCurrent = 1
        this.listForPage();
        this.ctrl.dialogVisible = false;
      },
      closeSubCallback() {
        this.page.pageCurrent = 1
        this.listForPage();
      },
      closeEditCallback() {
        this.page.pageCurrent = 1
        this.listForPage();
        this.editCtrl.dialogVisible = false;
      }
    }
  }
</script>
