<template>
  <div class="pab20">
    <div class="person_body clearfix">
      <y-side :show-side="'wm'" :list="list" />
      <div class="person_content">
        <div class="person_title">
          {{ artTitle }}
        </div>
        <div class="person_info">
          <!-- eslint-disable -->
          <div class="top_text" v-html="artDesc" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import YSide from '~/components/TerraceSide'
import { aboutInfo, aboutList } from '~/api/system.js'
export default {
  components: {
    YSide
  },
  head() {
    return {
      title: this.artTitle,
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.keyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.desc
        }
      ]
    }
  },
  data() {
    return {
      artTitle: '',
      artDesc: ''
    }
  },
  watch: {
    '$route'() {
      if (this.$route.params.id) {
        this.navId = this.$route.params.id
        this.getAboutInfo()
      }
    }
  },
  async asyncData(context) {
    const dataObj = {}
    const clientNo = context.store.state.clientData.no
    const navId = context.params.id || ''
    dataObj.clientNo = clientNo
    dataObj.navId = navId
    try {
      const allData = await Promise.all([aboutList(), aboutInfo({ navId })])
      // 左边列表
      const aboutData = allData[0]
      const list = aboutData.data.websiteNavList || []
      // 右边内容
      const infoData = allData[1]
      const artTitle = infoData.data.artTitle || ''
      const artDesc = infoData.data.artDesc || ''
      dataObj.list = list
      dataObj.artTitle = artTitle
      dataObj.artDesc = artDesc
      return dataObj
    } catch (e) {
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  methods: {
    getAboutInfo() {
      aboutInfo({ navId: this.navId }).then((res) => {
        if (res.code === 200) {
          if (res.data) {
            this.artTitle = res.data.artTitle
            this.artDesc = res.data.artDesc
          }
        }
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .person_body {
    width: 1200px;
    margin: 30px auto 0;
    min-height: 500px;
  }
  .person_content {
    width: 1012px;
    float: right;
    background: #fff;
    border-radius: 6px;
    .person_title {
      font-size: 14px;
      font-weight: 700;
      color: #333;
      text-align: center;
      line-height: 100px;
    }
  }
  .person_info {
    padding: 0px 50px 50px;
    min-height: 400px;
    font-size: 14px;
    color: #333;
    line-height: 28px;
  }
</style>
