.account_pages {
  .account_cont{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main_cont{
    min-height: 300px;
    padding: 20px;
  }
  .main_box{
    float: right;
    width: 1010px;
    color: #999;
    background-color: #fff;
    border-radius: 8px;
  }
  .notdata {
    text-align: center;
    font-size: 30px;
    i {
      font-size: 30px;
      margin-right: 10px;
    }
  }
  .tabs{
    border-bottom: 1px solid #f5f5f5;
    height: 48px;
    .tab{
      display: inline-block;
      text-align: center;
      line-height: 46px;
      width: 136px;
      cursor: pointer;
      font-size: 14px;
    }
    .on{
      color: #D51423;
      border-bottom: 2px solid #D51423;
    }
    .solid_btn{
      margin: 5px 10px;
    }
  }
  .crumb{
    background-color: #f8f8f8;
    a{
      width: 136px;
      text-align: center;
      display: inline-block;
      line-height: 36px;
    }
    .on{
      color: #D51423;
    }
  }
  .solid_btn{
    display: inline-block;
    line-height: 34px;
    height: 34px;
    width: 110px;
    border-radius: 3px;
    background-color: #D51423;
    color: #fff;
    border: 1px solid #D51423;
    text-align: center;
    &:hover{
      background-color:#ea1425;
      color: #fff;
    }
    &:disabled{
      background-color: #bbb;
      border-color: #aaa;
      color: #888;
    }
    &.go_live {
      width: 280px;
      border-radius: 6px;
      margin: 20px auto 0;
      display: block;
      line-height: 40px;
      height: 40px;
      font-size: 14px;
    }
  }
  .hollow_btn{
    display: inline-block;
    text-align: center;
    line-height: 34px;
    height: 34px;
    width: 110px;
    border-radius: 3px;
    color: #D51423;
    border: 1px solid #D51423;
    &:hover{
      background-color: #D51423;
      color: #fff;
    }
  }
  .no_live {
    text-align: center;
    color: #999;
    font-size: 14px;
    margin-top: 20px;
  }
  .nolive_img {
    width: 130px;
    display: block;
    margin: 50px auto 0;
  }
  .suc_box {
    width: 240px;
    margin: 50px auto 0;
    .suc_img {
      width: 60px;
      height: 60px;
      display: block;
      margin: 0 auto;
    }
  }

  .table{
    width: 100%;
    th{
      line-height: 36px;
      color: #333;
      background-color: #f8f8f8;
      .align-left{
        text-align: left;
      }
    }
    td{
      vertical-align: middle;
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #f8f8f8;
      &.name{
        text-align: left;
        max-width: 260px;
      }
    }
    .operate{
      vertical-align: middle;
      .text_link{
        line-height: 18px;
        color: #107ec4;
        font-size: 12px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .gray_btn{
      display: inline-block;
      color: #999;
      padding: 3px 8px;
      border: 1px solid #ddd;
      background-color: #fff;
      border-radius: 3px;
      position: relative;
      width: 72px;
      &.width30 {
        width: 30px;
      }
      &.width45 {
        width: 45px;
      }
      &.width50 {
        width: 50px;
      }
      &:hover{
        color: #D51423;
        border-color: #D51423;
      }
      .num{
        display: none;
        position: absolute;
        right: -10px;
        top: -11px;
        color: #fff;
        background-color: #e00;
        padding: 1px 5px 2px;
        border-radius: 50%;
      }
      &.on{
        border-color: #D51423;
        color: #D51423;
        .num{
          display: block;
        }
      }
    }
    .orange_btn{
      display: inline-block;
      color: #D51423;
      padding: 3px 8px;
      border: 1px solid #D51423;
      background-color: #fff;
      border-radius: 3px;
      &.width50 {
        width: 50px;
      }
      &:hover{
        background-color: #D51423;
        color: #fff;
      }
    }
  }
  .form{
    min-height: 550px;
    .form_group{
      margin-bottom: 20px;
      .label{
        text-align: right;
        float: left;
        display: block;
        width: 110px;
        line-height: 36px;
        color: #333;
      }
      .form_ctl{
        margin-left: 12px;
        float: left;
        width: 700px;
        position: relative;
        z-index: 9;
      }
      .text{
        color: #333;
        line-height: 36px;
      }
      &:after{
        content: '';
        display: block;
        clear: both;
      }
      textarea{
        padding: 10px;
      }
    }
    .form_ctl_radio{
      line-height: 36px;
      label{
        margin-right: 12px;
        color: #333;
      }
    }
    .form_input{
      height: 34px;
      border: 1px solid #e7e7e8;
      width: 278px;
      text-indent: 1em;
      &.disabled,&:disabled{
        background-color: #efefef;
      }
    }
    .form_input_min{
      text-indent: 1em;
      width: 130px;
      height: 34px;
      margin-right: 10px;
      border: 1px solid #e7e7e7;
    }
    .upload_ctl{
      .img_box{
        width: 120px;
        height: 120px;
        background-color: #f5f5f5;
        text-align: center;
        margin-bottom: 10px;
        i{
          line-height: 120px;
          font-size: 80px;
          color: #ddd;
        }
      }
      .upload_btn{
        width: 80px;
        height: 22px;
        border: 1px solid #ccc;
        background-color: #fafafa;
        border-radius: 3px;
        color: #999;
      }
      .img-tip{
        margin-top: 10px;
        color: #999;
        position: absolute;
        left: 220px;
        top: 93px;
      }
    }
    .submit_btn{
      display: inline-block;
      text-align: center;
      height: 34px;
      line-height: 34px;
      border: 1px solid #D51423;
      background-color: #D51423;
      width: 278px;
      color: #fff;
      border-radius: 3px;
      &:disabled{
        background-color: #eee;
        border-color: #ddd;
        color: #aaa;
      }
    }
  }

  /*modal*/
  .mask{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal_panel{
    position: fixed;
    z-index: 2999;
    top: 5%;
    left: 50%;
    width: 1160px;
    margin-left: -580px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  .modal_head{
    line-height: 46px;
    background-color: #f9f9f9;
    text-align: right;
    padding: 0 20px;
    border-bottom: 1px solid #e7e7eb;
    .close{
      font-size: 14px;
    }
  }
  .modal_body{
    height: 460px;
    overflow: auto;
  }
}
