.blog_default {
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td {
    text-align: center;
    line-height: 24px;
    font-size: 14px;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
  }
  .mgt80 {
    margin-top: 80px; }

  .mgt70 {
    margin-top: 70px; }

  .mgt60 {
    margin-top: 60px; }

  .mgt50 {
    margin-top: 50px; }

  .mgt40 {
    margin-top: 40px; }

  .mgt30 {
    margin-top: 30px; }

  .mgt20 {
    margin-top: 20px; }

  .mgt10 {
    margin-top: 10px; }

  .mgt6 {
    margin-top: 6px; }

  .mgt3 {
    margin-top: 3px; }

  .mgr10 {
    margin-right: 10px; }

  .mgr20 {
    margin-right: 20px; }

  .mgr40 {
    margin-right: 40px; }

  .mgl10 {
    margin-left: 10px; }

  .mgl20 {
    margin-left: 20px; }

  .mgl30 {
    margin-left: 30px; }

  .mgl40 {
    margin-left: 40px; }
  .mgb20 {
    margin-bottom: 20px;
  }
  .pad10 {
    padding: 10px;
  }
  .pad20 {
    padding: 20px;
  }
  .pad30 {
    padding: 30px;
  }
  .pad40 {
    padding: 40px;
  }
  .padlr_10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .padlr_20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .padlr_40 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .padtb_20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .padb_10 {
    padding-bottom: 10px; }
  .padb_20 {
    padding-bottom: 20px; }

  .padl_10 {
    padding-left: 10px; }

  .padl_20 {
    padding-left: 20px; }

  .padr_10 {
    padding-right: 10px; }

  .padr_20 {
    padding-right: 20px; }

  .border_b {
    border-bottom: 1px solid rgb(245, 245, 245);
  }
  .border_b_deep {
    border-bottom: 1px solid rgb(240, 240, 240);
  }
  .border_r {
    border-right: 1px solid rgb(245, 245, 245);
  }
  .text_hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .p_relative {
    position: relative;
  }
  .inline_box {
    display: inline-block;
  }
  .radius_box {
    border-radius: 6px;
  }
  .load_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .load_img {
      width: 12px;
      height: 12px;
      vertical-align: middle;
      animation: loading 2s infinite linear;
    }
  }

  .w880 {
    width: 880px;
  }
  .w300 {
    width: 300px;
  }
  .inline_box {
    display: inline-block;
  }
  .box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }

  .flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

  .box-pack {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center; }

  .box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }

  .mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }

  .container{
    width: 1200px;
    margin:0 auto;
    &.mgt30 {
      margin-top: 10px;
    }
  }
  .tabs {
    padding: 0px 20px;
    .tab {
      cursor: pointer;
      float: left;
      line-height: 60px;
      margin: 0 20px;
      &.active {
        color: #D51423;
        border-bottom: 2px solid #D51423;
      }
      &:hover {
        color: #D51423;
      }
    }
  }
  .font_b {
    font-weight: 650;
  }
  .font_12 {
    font-size: 12px;
  }
  .font_14 {
    font-size: 14px;
  }
  .font_16 {
    font-size: 16px;
  }
  .font_18 {
    font-size: 18px;
  }
  .font_20 {
    font-size: 20px;
  }
  .font_24 {
    font-size: 24px;
  }
  .font_28 {
    font-size: 28px;
  }
  .font_36 {
    font-size: 36px;
  }
  .b_fff {
    background: #fff;
  }
  .c_333 {
    color: #333;
  }
  .c_666 {
    color: #666;
  }
  .c_999 {
    color: #999;
  }
  .c_ccc {
    color: #ccc;
  }
  .c_fff {
    color: #fff;
  }
  .c_gold {
    color: #CA9E70;
  }
  .c_red {
    color: #D51423;
  }
  .c_orange{
    color: #ec7e11;
  }
  .c_blue{
    color: #107ec4;
  }
  .c_green{
    color: green;
  }
  .tip {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #009900;
    color: #009900;
    border-radius: 4px;
    &.red {
      border: 1px solid #D51423;
      color: #D51423;
    }
  }
  .article_title {
    width: 300px;
    background: #fff;
    border: 6px;
  }
  .btn {
    cursor: pointer;
  }
  .default_btn {
    border: 1px solid #ccc;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    &.red {
      border-color: #D51423;
      color: #D51423
    }
    .icon {
      font-size: 18px;
      position: relative;
      top: -2px;
    }
  }
  .active_btn {
    border: 1px solid #D51423;
    color: #D51423;
    border-radius: 4px;
    width: 62px;
    height: 28px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
  }
  .solid_btn{
    display: inline-block;
    line-height: 34px;
    height: 34px;
    min-width: 110px;
    border-radius: 3px;
    background-color: #d51423;
    color: #fff;
    border: 1px solid #d51423;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color:#d51423;
      color: #fff;
    }
    &:disabled {
      border-color: #ccc;
      background-color: #ccc;
    }
  }
  .default_photo {
    width: 60px;
    height: 60px;
    font-size: 13px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: #999;
    overflow: hidden;
    background: rgb(245, 245, 245);
    &.small_photo {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
    &.middle_photo {
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  @keyframes loading
  {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
  }
  @keyframes loading-path
  {
  0% {
    stroke-dasharray: 0,120;
        stroke-dashoffset: 0;
  }
  40% {
    stroke-dasharray: 90,120;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 90,120;
        stroke-dashoffset: -120;
  }
  }
  .not_data {
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    color: #999;
    min-height: 400px;
  }
}
