.el-pager li.active{
	color: #ec7e00;
}
.el-pagination.is-background .el-pager li:not(.disabled){
	&:hover{
		color: #ec7e00;
	}
  &.active{
    color: #fff;
    background-color: #ec7e00;
  }
}
.el-cascader-panel .el-scrollbar__wrap{
  margin-bottom: 0 !important;
  overflow-x: hidden;
}
.el-cascader-panel .el-scrollbar__wrap{
  margin-bottom: 0 !important;
  overflow-x: hidden;
}
