@import './element-ui.scss';
@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none; }

html, body {
  font-family: tahoma,"微软雅黑",arial,"\5b8b\4f53";
   }

body {
  min-width: 1200px;
  font-size: 12px;
  line-height: 1.2;
  background-color: #f5f5f5; }

:focus { outline: 1;}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent; }

a:hover {
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  // background-color: #ff9;
  color: #C60;
  // font-style: italic;
  // font-weight: bold;
}

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

input, select, textarea {
  -webkit-tap-highlight-color: transparent;
  border: 1px solid #ccc;
  padding: 0;
  border-radius: 0;
  outline: none;
  font-size: 12px; }

em, i {
  font-style: normal; }

img {
  max-width: 100%;
  border: none; }

// @font-face {
//   font-family: 'iconfont';  /* project id 724588 */
//   src: url('//at.alicdn.com/t/font_724588_f4jfauzwrxv.eot');
//   src: url('//at.alicdn.com/t/font_724588_f4jfauzwrxv.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_724588_f4jfauzwrxv.woff2') format('woff2'),
//   url('//at.alicdn.com/t/font_724588_f4jfauzwrxv.woff') format('woff'),
//   url('//at.alicdn.com/t/font_724588_f4jfauzwrxv.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_724588_f4jfauzwrxv.svg#iconfont') format('svg');
// }


@font-face {
  font-family: 'iconfont';  /* project id 724588 */
  src: url('//at.alicdn.com/t/font_724588_0t0rzfw9zyfc.eot');
  src: url('//at.alicdn.com/t/font_724588_0t0rzfw9zyfc.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_724588_0t0rzfw9zyfc.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_724588_0t0rzfw9zyfc.woff') format('woff'),
  url('//at.alicdn.com/t/font_724588_0t0rzfw9zyfc.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_724588_0t0rzfw9zyfc.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.v_icon {
  vertical-align: middle;
}
.cl:after, .clearfix:after, .container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.cl:before, .clearfix:before, .container:before {
  content: "";
  display: table; }

.cl, .clearfix {
  *zoom: 1; }

a{
  color:#333;
}
a:hover{
  color:#d51423;
}
.container{
  width: 1200px;
  margin:0 auto;
}
.fl {
  float: left; }

.fr {
  float: right; }

.center {
  text-align: center; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.mgb10 {
  margin-bottom: 10px; }
.mgb20 {
  margin-bottom: 20px; }
.mgb30 {
  margin-bottom: 30px; }
.mgb5 {
  margin-bottom: 5px; }
.mgb60 {
  margin-bottom: 60px; }


.mgt80 {
  margin-top: 80px; }

.mgt70 {
  margin-top: 70px; }

.mgt60 {
  margin-top: 60px; }

.mgt50 {
  margin-top: 50px; }

.mgt40 {
  margin-top: 40px; }

.mgt30 {
  margin-top: 30px; }

.mgt20 {
  margin-top: 20px; }

.mgt10 {
  margin-top: 10px; }

.mgt6 {
  margin-top: 6px; }

.mgt3 {
  margin-top: 3px; }

.mgl10 {
  margin-left: 10px;
}
.mgl20 {
  margin-left: 20px;
}
.mgl30 {
  margin-left: 30px;
}
.mgl40 {
  margin-left: 40px;
}
.mgl50 {
  margin-left: 50px;
}
.mgl60 {
  margin-left: 60px;
}

.mgr10 {
  margin-right: 10px;
}
.mgr20 {
  margin-right: 20px;
}
.mgr30 {
  margin-right: 30px;
}
.mgr40 {
  margin-right: 40px;
}
.mgr50 {
  margin-right: 50px;
}
.mgr60 {
  margin-right: 60px;
}

.pad10 {
  padding: 10px;
}
.pad20 {
  padding: 20px;
}
.pad30 {
  padding: 30px;
}
.pad40 {
  padding: 40px;
}

.pab10 {
  padding-bottom: 10px;
}
.pab20 {
  padding-bottom: 20px;
}
.pab30 {
  padding-bottom: 30px;
}
.pab40 {
  padding-bottom: 40px;
}
.pab50 {
  padding-bottom: 50px;
}
.pab60 {
  padding-bottom: 60px;
}

.pal10 {
  padding-left: 10px;
}
.pal20 {
  padding-left: 20px;
}
.pal30 {
  padding-left: 30px;
}
.pal40 {
  padding-left: 40px;
}
.pal50 {
  padding-left: 50px;
}
.pal60 {
  padding-left: 60px;
}
.palr10 {
  padding-left: 10px;
  padding-right: 10px;
}

.font_b {
  font-weight: 700;
}
.font_hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.font26 {
  font-size: 26px;
}
.font28 {
  font-size: 28px;
}
.font30 {
  font-size: 30px;
}

.c_333 {
  color: #333;
}
.c_666 {
  color: #666;
}
.c_999 {
  color: #999;
}
.c_ccc {
  color: #ccc;
}
.c_fff {
  color: #fff;
}
.c_gold {
  color: #CA9E70;
}
.c_red {
  color: #D51423;
}
.c_orange{
  color: #ec7e11;
}
.c_blue{
  color: #107ec4;
}
.c_green{
  color: green;
}

.b_333 {
 background: #333;
}
.b_666 {
 background: #666;
}
.b_999 {
 background: #999;
}
.b_ccc {
 background: #ccc;
}
.b_fff {
 background: #fff;
}
.b_gold {
 background: #CA9E70;
}
.b_red {
 background: #D51423;
}
.b_orange{
 background: #ec7e11;
}
.b_blue{
 background: #107ec4;
}
.b_green{
 background: green;
}

.btn {
  cursor: pointer;
}

.mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.solid_btn{
  display: inline-block;
  line-height: 34px;
  height: 34px;
  min-width: 110px;
  border-radius: 3px;
  background-color: #d51423;
  color: #fff;
  border: 1px solid #d51423;
  text-align: center;
  cursor: pointer;
  &:hover{
    background-color:#d51423;
    color: #fff;
  }
  &:disabled {
    border-color: #ccc;
    background-color: #ccc;
  }
}
.collect_btn {
  color: #666;
  float: right;
  height: 36px;
  line-height: 36px;
  margin-right: 10px;
  font-size: 14px;
  &:hover {
    color: #d51423;
    text-decoration: none;
  }
  &.noposi {
    line-height: 66px;
    height: 66px;
  }
  &.course {
    left: 160px;
  }
  &.share {
    left: 230px;
  }
  &.c_red {
    color: #d51423;
  }
}
.atten_btn {
  margin-left: 10px;
  color: #666;
  font-weight: 400;
  float: right;
  &:hover {
    color: #d51423;
    text-decoration: none;
  }
  &.c_red {
    color: #d51423;
  }
}
.loading_panel{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(255,255,255,.6);
  .svg_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    font-size: 60px;
    animation: loading 2s infinite linear;
    .path{
      animation: loading-path 1.5s ease-in-out infinite;
      stroke-dasharray: 90,150;
      stroke-dashoffset: 0;
      stroke-width: 2px;
      stroke: rgba(0,0,0,0.6);
      stroke-linecap: round;
    }
  }
}
@keyframes loading
{
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}
@keyframes loading-path
{
  0% {
    stroke-dasharray: 0,120;
        stroke-dashoffset: 0;
  }
  40% {
    stroke-dasharray: 90,120;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 90,120;
        stroke-dashoffset: -120;
  }
}


body .el-table th.gutter {
  display: table-cell !important
}


.option-img {
  max-width: 600px;
  max-height: 120px;
  min-width: 40px;
  vertical-align: middle;
  margin-bottom: 10px;
}


