
<template>
	<view :class="['details', load ? 'load' : '']">
		<image :src="courseInfo.courseLogo" class="logo" mode="widthFix"></image>
		<view class="title">
			<view class="courseName">
				{{ courseInfo.courseName }}
			</view>
			<!-- <view class="collect">
				<image v-if="false" src="../../static/images/no_like.svg" class="likeImg" mode="widthFix"></image>
				<image src="../../static/images/is_like.svg" class="likeImg" mode="widthFix"></image>
				收藏
			</view> -->
		</view>
		<view class="price"  v-if="courseInfo.isFree != 1">
			￥{{ courseInfo.courseDiscount }}<text class="del">￥{{ courseInfo.courseOriginal }}</text>
			<view class="people">{{ courseInfo.countStudy }}人学习</view>
		</view>
		<view class="price"  v-else>
			<text class="c_green">免费</text>
			<view class="people">{{ courseInfo.countStudy }}人学习</view>
		</view>
		<view class="SVIPPrice"  v-show="courseInfo.isFree != 1">
			SVIP:￥{{ courseInfo.courseDiscount }}
		</view>
		<!-- <view class="share">
			分享 <text>佣金比例：6.5%</text>
		</view> -->
		<activity-panel class="activity-panel" v-if="courseInfo.id" @startSeckill="startSeckill" :courseInfo="courseInfo"></activity-panel>
		<view class="teacher">
			<image class="teacherLogo" v-if="teacherInfo.headImgUrl" :src="teacherInfo.headImgUrl"></image>
			<image class="teacherLogo" v-else src="../../static/images/account/friend.jpg"></image>
			<view class="text">
				<view class="teacherTitle">{{ teacherInfo.lecturerName }}</view>
				<view class="teacherTip">999人关注</view>
			</view>
			<button :class="['follow', courseInfo.isAttentionLecturer==1?'active':'']" @click="atnClick()">
			{{ courseInfo.isAttentionLecturer==0?'+关注':'已关注' }}
			</button>
		</view>
		<view class="tab">
			<view :class="['tabItem', tabIndex == 0?'active': '']" @click="selectTab(0)">简介</view>
			<view :class="['tabItem', tabIndex == 1?'active': '']" @click="selectTab(1)">文库</view>
		</view>
		<view class="tabMain"  v-if="tabIndex == 0" >
			<view class="introduce" v-html="courseInfo.introduce"></view>
		</view>
		<view class="tabMain"  v-if="tabIndex == 1">
			<view class="fileList">
				<view class="fileItem" v-for="(item, index) in chapterList" :key="index">
					<view class="icon"></view>
					<view class="fileItemName">
						<text>{{ item.periodName }}</text>
						<view class="xiazai" @click="downloadFile(item)">
							<image src="../../static/images/xiazai.svg" mode="widthFix"></image>
							下载
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="footer" v-show="courseInfo.isFree != 1 && courseInfo.isPay != 1">
			<button  @click="buyCourse()">{{ isSeckill?'立即秒杀':'立即购买' }}</button>
		</view>
	</view>
</template>

<script>
	import * as auto from "../../api/user";
	import {courseInfo, authCourseInfo, chapterList, downloadAccessory} from "@/api/course.js"
	import auth from "@/utils/auth.js"
	import config from "@/config/index";
	import ActivityPanel from "@/components/activity/ActivityPanel";
	export default {
		components:{
			ActivityPanel
		},
		data() {
			return {
				courseInfo: {},
				teacherInfo: {},
				courseId: 0,
				isSeckill: false,
				tabIndex: 1,
				load: true,
				chapterList: []
			};
		},
		onLoad(param) {
			this.courseId = param.id
			this.getData(param.id)
			this.getChapterList();
		},
		methods: {
			selectTab(index) {
				this.tabIndex = index
			},
			startSeckill() {
				this.isSeckill = true;
			},
			getData(id) {
				const init = (res) => {
					this.courseInfo = res
					this.teacherInfo = res.lecturer
					setTimeout(()=>{
						this.load = false;
					}, 300)
					uni.setNavigationBarTitle({
					    title: this.courseInfo.courseName
					});
				}
				if(auth.isLogin()) {
					authCourseInfo({
						courseId: id,
					}).then(init)
				} else {
					courseInfo({
						courseId: id,
					}).then(init)
				}
				
			},
			atnClick() {
			  if (!uni.getStorageSync('userInfo')) {
			    login(() => {
			      this.atnClick();
			    });
			    return false;
			  }
			
			  if (this.courseInfo.isAttentionLecturer) {
			    auto.attentionDelete({
			      lecturerUserNo: this.teacherInfo.lecturerUserNo
			    }).then(res => {
			      this.setData({
			        isAttention: 0
			      });
			      uni.showToast({
			        title: '已取消关注'
			      });
				  this.courseInfo.isAttentionLecturer = 0;
			    }).catch(res => {
			      uni.showModal({
			        title: '错误',
			        content: res.msg,
			        showCancel: false
			      });
			    });
			  } else {
			    auto.attentionSave({
			      lecturerUserNo: this.teacherInfo.lecturerUserNo
			    }).then(res => {
			      this.setData({
			        isAttention: 1
			      });
			      uni.showToast({
			        title: '关注成功'
			      });
				  this.courseInfo.isAttentionLecturer = 1;
			    }).catch(res => {
			      if (res.code === 406) {
			        this.setData({
			          isCollection: 1
			        });
			      } else {
			        uni.showModal({
			          title: '错误',
			          content: res.msg,
			          showCancel: false,
			          success: res => {
			            if (res.confirm) {}
			          }
			        });
			      }
			    });
			  }
			},
			buyCourse() {
			  if(!auth.isLogin()) {
			  	uni.showToast({
				    icon: "none",
			  	    title: '请先登录！再来下载'
			  	});
			  	setTimeout(()=>{
					auth.login(()=>{
						this.getData()
					})
				}, 2000)
			  	return;
			  }
			  if(this.courseInfo.isPay) {
			  	uni.showToast({
					icon: "none",
			  	  title: '已经购买过了！'
			  	});
			  	return;
			  }
			  if (!this.courseInfo.isPutaway) {
			    uni.showToast({
			      title: '该课程已下架',
			      icon: 'none'
			    });
			    return false;
			  }
			  uni.navigateTo({
			    url: '/pages/order/order?no=' + this.courseInfo.id + '&t=4'
			  });
			},
			downloadFile(item) {
				var That = this;
				const localityFile = uni.getStorageSync('localityFile') || {}
				if(!auth.isLogin()) {
					uni.showToast({
						icon: "none",
					  title: '请先登录！再来下载'
					});
					setTimeout(auth.login, 2000)
					return;
				}
				console.log(this.courseInfo)
				if(this.courseInfo.isFree == 0 && this.courseInfo.isPay == 0) {
					uni.showToast({
						icon: "none",
					  title: '请先购买再下载！'
					});
					return;
				}
				const id =  item.accessoryList[0].id
				if(localityFile[id]) {
					That.openFie(localityFile[id])
				} else {
					downloadAccessory({id}).then(res=>{
						if(res) {
							// #ifdef  H5
							window.location.href = res
							return;
							// #endif
							uni.downloadFile({
								url: res, //仅为示例，并非真实的资源
								success: (res) => {
									if (res.statusCode === 200) {
										console.log(res);
										uni.saveFile({
										    tempFilePath: res.tempFilePath,
										    success: function (res) {
												console.log(res);
												var savedFilePath = res.savedFilePath;
												That.openFie(savedFilePath)
												localityFile[id] = savedFilePath;
												uni.setStorageSync('localityFile', localityFile)
										    }
										});
									}
								}
							});
						}
					})
				}
			},
			openFie (path) {
				console.log(path)
				uni.openDocument({
					filePath: path,
					fail() {
						uni.showModal({
							title: '提示',
							showCancel: false,
							content: '打开失败！ 不是文档类型文件 请到电脑端下载使用',
							success: function (res) {
								if (res.confirm) {
									console.log('用户点击确定');
								}
							}
						});
					}
				})
			},
			getChapterList () {
				chapterList({
					courseId: this.courseId,
					pageSize: 1,
					pageCurrent: 20
				}).then((res) => {
					this.chapterList = this.chapterList.concat(res.list[0].periodList)
				})
			}
		}
	}
</script>

<style lang="scss">
.details {
	padding-bottom: 160upx;
	&.load {
		opacity: 0;
	}
	.logo {
		width: 100%;
	}
	
	.footer {
		position: fixed;
		height: 110upx;
		left: 0px;
		right: 0;
		bottom: 0;
		padding: 13upx 36upx 0;
		
		background: #FFFFFF;
		button {
			margin-top: 8upx;
			height: 84upx;
			background: #EB5757;
			border-radius: 42upx;
			font-size: 14px;
			line-height: 86upx;
			text-align: center;	
			color: #FFFFFF;
		}
	}
	
	.SVIPPrice,
	.price {
		padding: 0 36upx;
		line-height: 80upx;
		border-bottom: 1px solid #ddd;
		font-weight: bold;
		font-size: 20px;
		background-color: #fff;
		color: #EB5757;
		
		.c_green {
			font-size: 14px;
		}
		.del {
			font-size: 13px;
			line-height: 18px;
			color: #999999;
			margin-left: 10upx;
			font-weight: normal;
			text-decoration:line-through
		}
		.people  {
			float: right;
			font-size: 12px;
			font-weight: normal;
			line-height: 80upx;
			color: #999999;
		}
	}
	
	.SVIPPrice {
		font-size: 14px;
		border-bottom: none;
	}
	
	
	.title {
		padding: 20upx 36upx;
		display: flex;
		background-color: #fff;
		.courseName {
			flex: 1;
			font-weight: bold;
			font-size: 36upx;
			line-height: 50upx;
			color: #333333;
		}
		
		.collect {
			text-align: center;
			font-size: 10px;
			padding-top: 12upx;
			line-height: 50upx;
			color: #999999;
			.likeImg {
				width: 44upx;
				height: 44upx;
				display: block;
				margin: 0 auto
			}
		}
		
		
	}
	
	
	.activity-panel {
		border-top: 20upx solid #F5F5F5;
		background-color: #fff;
	}
	.teacher {
		padding: 20upx 36upx 16upx;
		border-top: 20upx solid #F5F5F5;
		border-bottom: 20upx solid #F5F5F5;
		background-color: #fff;
		display: flex;
		.teacherLogo {
			width: 100upx;
			height: 100upx;
			margin-right: 20upx;
			border-radius: 50%;
		}
		
		.follow {
			width: 80px;
			height: 64upx;
			line-height: 62upx;
			background: #2488EC;
			border-radius: 18px;
			color: #FFFFFF;
			text-align: center;
			font-size: 28upx;
			margin-top: 16upx;
			&.active {
				background: #EB5757;
			}
		}
		.text {
			flex: 1;
			.teacherTitle {
				font-weight: bold;
				font-size: 16px;
				line-height: 44upx;
				padding: 10upx 0 6upx;
				color: #000000;
			}
			.teacherTip {
				font-size: 12px;
				line-height: 34upx;
				color: #999999;
			}
			
		}
		
	}
	.tab {
		background-color: #fff;
		height:100upx;
		line-height: 100upx;
		padding: 0 36upx;
		border-bottom: 2upx solid #ddd;
		.tabItem {
			margin: 0 20upx;
			font-size: 16px;
			width: 100upx;
			line-height: 96upx;
			text-align: center;
			display: inline-block;
			color: #333333;
			&.active {
				color: #2488EC;
				border-bottom: 4upx solid #2488EC;
			}
		}
	}
	.tabMain {
		background-color: #fff;
		.introduce {
			padding: 36upx;
		}
	}
	
	.fileList {
		padding: 0 36upx;
		.fileItem {
			display: flex;
			padding:  30upx 0;
			min-height: 40upx;;
			border-bottom: 1px solid #ddd;
			.fileItemName {
				flex: 1;
				display: flex;
				text {
					flex: 1;
					font-size: 14px;
					line-height: 20px;
					color: #333333;
				}
				.xiazai {
					position: relative;
					top: 50%;
					margin-top: -20upx;
					line-height: 40upx;
					font-size: 12px;
					line-height: 17px;
					color: #999999;
					image {
						width: 28upx;
						height: 28upx;
						display: inline-block;	
						position: relative;
						top: 4upx;
						margin-right: 6upx;
					}
					
				}
			}
		}
	}
}
</style>