<style lang="scss" scoped>
.head {
	position: fixed;
	left: 0;
	top: 0;
	/*  #ifdef  H5  */
	top: 44px;
	/*  #endif  */
	width: 100%;
	z-index: 100;
	background-color: #fff;
	
	.select {
		height: 100upx;
		line-height: 100upx;
		padding: 0 36upx;
		border-bottom: 1px solid #ddd;
		font-size: 12px;
		color: #333333;
		.icon {
			width: 12upx;
			height: 12upx;
			display: inline-block;
			border-right: 1px solid #333;
			border-bottom: 1px solid #333;
			transform:rotate(45deg);
			margin-left: 20upx;
			position: relative;
			top: -6upx;
		}
	}
	.seek {
		margin: 12upx 36upx;
		height: 60upx;
		padding-left: 60upx;
		background: #F5F5F5;
		border-radius: 6upx;
		.searchIcon{
			width: 24upx;
			height: 24upx;
			position: absolute;
			left: 58upx;
			top: 28upx;
		}
		.input {
			width: 100%;
			height: 100%;
			line-height: 60upx;
			font-size: 12px;
			color:#666;
		}
	}
	.priceSelect {
		padding: 20upx 18upx;
		.opt {
			margin: 0 18upx;
			min-width: 80upx;
			height: 56upx;
			padding: 0 10upx;
			font-size: 28upx;
			display: inline-block;
			line-height: 56upx;
			text-align: center;
			background: #F8F7FD;
			border-radius: 3px;
			color: #333333;
			&.active {
				color: #2488EC;
				background: rgba(36, 136, 236, 0.1)
			}
		}
	}
}


.hidden {
	display: none;
}

.selectName {
	display: inline-block;
}
.main {
	padding-top:280upx;
}
</style>

<template>
	<view class="main">
		<view class="head">
			<view class="seek">
				<image src="../../static/images/search.svg" class="searchIcon" mode="widthFix"></image>
				<input type="text" class="input" @confirm="search" confirm-type="搜索" v-model="text" placeholder="大数据" />
			</view>
			<view class="select" @click="openSelect">{{selectName}}<view class="icon"></view></view>
			<view class="priceSelect">
				<view 
				@click="priceSelect(index)" 
				:class="['opt', index === priceSelectIndex ? 'active' : '']" 
				v-for="(item, index) in priceSelectList" :key="index">
					{{ item.name }}
				</view>
			</view>
		</view>
		<select-tag :class="[!isselect?'hidden':'']"  @close="closeSelect" @submit="select"></select-tag >
		<resource-list :list="list" ></resource-list>
		<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
	</view>
</template>	

<script>
	import resourceList from "@/components/resource/resourceList.vue"
	import selectTag from "@/components/resource/select.vue"
	import {courseList} from "@/api/course.js"
	
	export default {
		data() {
			return {
				list: [],
				isselect: false,
				selectName: '全部',
				text: '',
				totalPage: 0,
				page: 1,
				loadMsg: "",
				priceSelectIndex: 0,
				seekObj: {
					courseCategory: 4,
				},
				priceSelectList: [
					{
						name: '全部',
					},
					{
						name: '付费',
					},
					{
						name: '免费',
					},
					{
						name: 'SVIP免费',
					},
				]
			};
		},
		components: {
			resourceList,
			selectTag
		},
		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function (e) {
		  if (this.page < this.totalPage) {
		    this.setData({
		      loadMsg: '加载中...'
		    });
			this.page ++;
		    this.getData();
		  } else {
		    this.setData({
		      loadMsg: '没有更多了...'
		    });
		  }
		},
		created() {
			this.getData();
		},
		methods: {
			select(item) {
				console.log(item)
				this.selectName = item.name;
				this.seekObj = {
					...this.seekObj,
					...item
				}
				this.list = [];
				this.page = 1;
				this.getData()
			},
			search() {
				this.list = [];
				this.page = 1;
				this.seekObj.courseName = this.text;
				this.getData()
			},
			priceSelect(index) {
				this.priceSelectIndex = index;
				if(index == 0) {
					this.seekObj.isFree = '';
					this.seekObj.isVipFree = '';
				}
				
				if(index == 1) {
					this.seekObj.isFree = 0;
					this.seekObj.isVipFree = '';
				}
				if(index == 2) {
					this.seekObj.isFree = 1;
					this.seekObj.isVipFree = '';
				}
				if(index == 3) {
					this.seekObj.isFree = '';
					this.seekObj.isVipFree = 1;
				}
				this.getData()
			},
			closeSelect() {
				this.isselect = !this.isselect;
			},
			openSelect() {
				this.isselect = !this.isselect;
			},
			getData() {
				courseList(this.page, 20, this.seekObj).then(res => {
					if(this.page == 1) {
						this.list = [];
					}
					this.totalPage = res.totalPage;
					if(res.list && res.list.length) {
						this.list = this.list.concat(res.list);
						this.setData({
						  loadMsg: ''
						});
					} else {
						this.setData({
						  loadMsg: '没有更多了...'
						});
					}
				})
			}
		}
	}
</script>

