<template>
  <div class="login_page">
    <div class="login_box clearfix">
      <div class="center_box">
        <div :class="{login_form: true}">
          <div :class="{tabs: true, clearfix: true}">
            <div @click="tab = 2" class="fl tab">
              <span :class="{on: tab == 2}">注册用户</span>
            </div>
            <nuxt-link :to="{ name: 'login' }" class="is_go fr">已有账号，立即登录</nuxt-link>
          </div>
          <div class="form_body reg_form_body">
            <div>
              <input
                type="text"
                name="loginName"
                style="position: absolute; left: -1000000px;"
                placeholder
              />
              <input
                type="password"
                name="loginPassword"
                style="position: absolute; left: -1000000px;"
                placeholder
              />
              <input v-model="pobj.mobile" type="text" name="refName" placeholder="请输入手机号" />
              <div class="phone_yzm">
                <input
                  v-model="pobj.code"
                  type="text"
                  name="code"
                  autocomplete="off"
                  placeholder="请输入手机验证码"
                  class="phone"
                  maxlength="6"
                />
                <y-button :mobile="pobj.mobile" :one-click="sendCode" />
              </div>
              <input
                v-model="pobj.password"
                type="password"
                name="regPwd"
                autocomplete="off"
                placeholder="6-20位密码，可用数字/字母/符号组合"
              />
              <input
                v-model="pobj.repassword"
                type="password"
                autocomplete="off"
                placeholder="确认密码"
              />
              <div class="tuijianma">
                <span class="label">推荐码</span>
                <input
                  v-model="pobj.referralCode"
                  type="text"
                  autocomplete="off"
                  placeholder="没有可不填"
                />
              </div>
              <div class="font_14">
                <input id="tonyi" v-model="pobj.check" type="checkbox" style="margin-top: 0;" />
                <label for="tonyi">我已经阅读并同意</label>
                <a @click="xieyi = true" href="jvascript:" class="c_blue">《用户协议》</a>
              </div>
              <input
                :disabled="!pobj.check"
                @click="regSubmit"
                @keyup.enter="regSubmit"
                type="submit"
                value="注册"
                class="btn"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- eslint-disable -->
    <div v-if="xieyi" class="xieyi" @click.self="xieyi = false">
      <div class="xieyi_content">
        <div class="xieyi_title">用户协议</div>
        <div
          v-if="service && service.userAgreement"
          class="xieyi_body"
          v-html="service.userAgreement"
        />
        <input type="button" class="xieyi_btn" value="确定" @click="xieyi = false" />
      </div>
    </div>
    <div class="login_footer">
      <p>
        <span v-html="service.copyright" />
      </p>
      <p>
        <a
          v-if="service && service.icp"
          href="http://www.beian.miit.gov.cn/"
          target="_blank"
        >{{ service.icp }}</a>
        <span v-if="service && service.prn">&nbsp;|&nbsp;</span>
        <a
          v-if="service.prn"
          :href="'http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=' + service.prnNo"
          target="_blank"
        >
          <img src="../../assets/image/prn_icon.png" class="prn_icon" alt />
          &nbsp;{{ service.prn }}
        </a>
      </p>
    </div>
  </div>
</template>
<script>
import YButton from '~/components/common/CodeButton';
import { register } from '~/api/user.js';
export default {
  components: {
    YButton
  },
  data() {
    return {
      sendCode: 1,
      number: 1,
      imageCode: '',
      imgCodeUrl: '',
      referralCode: '',
      tab: this.$route.query.tab || 1,
      tabp: this.$route.query.tab || 1,
      webInfo: this.$store.state.webInfo,
      clientData: this.$store.state.clientData,
      xieyi: false,
      service: {},
      errTip1: '',
      errTip2: '',
      ipInfo: {},
      obj: {
        clientId: this.$store.state.clientData.id,
        clientType: 1,
        mobile: '',
        password: ''
      },
      pobj: {
        mobile: '',
        code: '',
        headImgUrl: '/friend.jpg',
        password: '',
        repassword: '',
        check: false
      }
    };
  },
  head() {
    return {
      title: this.$store.state.clientData.name + '-用户注册',
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.webInfo.websiteKeyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.webInfo.websiteDesc
        }
      ]
    };
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo;
    }
  },
  watch: {
    $route() {
      this.tab = this.$route.query.tab || 1;
      this.tabp = this.$route.query.tab || 1;
    }
  },
  async asyncData(context) {},
  mounted() {
    if (this.$route.query.referralCode) {
      this.pobj = {
        referralCode: this.$route.query.referralCode,
        ...this.pobj
      };
    }
    if (this.webInfo) {
      this.service = this.webInfo;
    }
    this.obj.clientId = 1;
    if (this.$route.query.t === 'login') {
      this.errTip1 = '未登录或登录超时,请重新登录';
      this.signOut();
      // this.SIGN_OUT()
    } else if (this.$route.query.t) {
      this.$store.commit('SET_TOKEN', this.$route.query.t);
      this.$store.dispatch('GET_USERINFO', (store) => {
        window.location.href = '/account/info';
      });
    }
    this.$store.dispatch('main/GetReferralCode').then((res) => {
      this.pobj = {
        referralCode: res,
        ...this.pobj
      };
    });
  },
  methods: {
    signOut() {
      this.$store.commit('SIGN_OUT');
    },
    changetab(int) {
      this.tab = int;
      setTimeout((e) => {
        this.tabp = int;
      }, 200);
    },
    // 注册
    regSubmit: function (e) {
      e.preventDefault();
      if (!this.pobj.code) {
        this.$msgBox({ content: '请输入手机验证码' });
        return false;
      }
      if (this.pobj.password.length < 6 || this.pobj.password.length > 16) {
        this.$msgBox({
          content: '请输入6-16位的登录密码,区分大小写,不可有空格'
        });
        return false;
      }
      if (this.pobj.password !== this.pobj.repassword) {
        this.$msgBox({ content: '两次输入密码不一致' });
        return false;
      }
      if (!this.pobj.check) {
        this.$msgBox({ content: '请先阅读并同意用户协议' });
        return false;
      }
      this.pobj.clientId = this.clientData.id;
      register(this.pobj).then((res) => {
        this.$confirm('注册成功!', '提示', {
          confirmButtonText: '立即登录',
          type: 'warning'
        })
          .then(() => {
            this.imgCode = true;
            this.tab = 1;
            this.changeImgCode();
            this.imageCode = '';
          })
          .catch(() => {
            this.$router.push({ path: '/login' });
          });
        this.pobj = {
          mobile: '',
          code: '',
          password: '',
          repassword: '',
          check: false
        };
        this.$store.dispatch('main/RemoveReferralCode');
      });
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.login_page {
  .is_go {
    color: #0099ff;
    font-size: 13px;
    line-height: 60px;
    &:hover {
      text-decoration: none;
    }
  }
  .login_box {
    height: calc(100vh - 68px);
    position: relative;
    overflow: hidden;
    background: rgb(6, 97, 227) ;
    background-size: 100% auto;
    .center_box {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
    }
    .login_img {
      position: absolute;
      width: 613px;
      height: 383px;
      left: 176px;
      top: 108px;
    }
  }
  .login {
    .login_header {
      width: 1200px;
      margin: 0 auto;
      height: 132px;
      position: relative;
      span {
        position: absolute;
        height: 28px;
        line-height: 28px;
        font-size: 26px;
        color: #fff;
        border-left: 2px solid #fff;
        padding-left: 25px;
        top: 46px;
        left: 210px;
      }
    }
  }
  .login_logo {
    img {
      width: 186px;
      height: 52px;
      margin-top: 32px;
    }
  }
  .login_body {
    img {
      width: 186px;
      height: 52px;
      display: block;
      margin: 0 auto;
    }
    p {
      text-align: center;
      font-size: 14px;
      color: #fff;
      margin-top: 30px;
    }
  }
  .login_form {
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    background: #fff;
    transform: translate(-50%, -56%);
    transition: all 0.8s;
    .login_title {
      height: 95px;
      line-height: 95px;
      font-size: 18px;
      padding-left: 30px;
      color: #333;
      background: #fff;
      border-radius: 6px 6px 0 0;
      &.is_login {
        padding-left: 0px;
        text-align: center;
      }
    }
  }
  .form_body {
    background: #fff;
    padding: 0 30px 30px;
    border-radius: 0 0 6px 6px;
    input[type="text"],
    input[type="password"],
    input[type="button"],
    input[type="submit"] {
      width: 100%;
      height: 46px;
      padding-left: 10px;
      margin-top: 20px;
      border-radius: 6px;
      font-size: 14px;
      border-color: rgb(230, 230, 230);
      &.btn {
        background: #2388ec;
        width: 320px;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        margin-bottom: 20px;
        &:disabled {
          background: #ccc;
        }
      }
    }
    .error_msg {
      width: 310px;
      color: #d51423;
      font-size: 12px;
    }
    .next_auto {
      font-size: 14px;
      color: #333;
    }

    &.reg_form_body {
      input {
        height: 40px;
        margin-top: 12px;
      }
      .yzm_btn {
        top: 12px;
        height: 40px;
        left: 220px;
        line-height: 40px;
        background: #2388ec;
      }
    }
    .tuijianma {
      position: relative;
      .label {
        position: absolute;
        left: 11px;
        top: 24px;
        font-size: 14px;
      }
      input {
        padding-left: 70px;
      }
    }
  }
  .phone_yzm {
    position: relative;
    .phone {
      padding-right: 100px;
      width: 210px;
      font-size: 14px;
      border-color: rgb(230, 230, 230);
      padding-left: 10px;
      height: 46px;
      border-radius: 6px;
      margin-top: 20px;
    }
  }
  .yzm_btn {
    width: 100px;
    height: 46px;
    position: absolute;
    left: 210px;
    top: 20px;
    line-height: 48px;
    border-radius: 0 6px 6px 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  .login_footer {
    margin-top: -80px;
    position: relative;
    z-index: 100;
    p {
      text-align: center;
      font-size: 12px;
      color: #fff;
      margin-top: 10px;
      a {
        color: #fff;
      }
    }
  }
  .check {
    width: 14px;
    height: 14px;
    position: relative;
    top: -1px;
  }
  .img_box {
    height: 70px;
    img {
      width: 70px;
      height: 70px;
      display: block;
      border-radius: 50%;
      margin: 0 auto;
    }
  }
  .hellow_text {
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  .btn_box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    li {
      float: left;
      width: 140px;
      text-align: center;
      line-height: 30px;
      margin: 20px 10px 0;
      border-radius: 6px;
      a {
        display: block;
        background: rgb(245, 245, 245);
        border-radius: 6px;
        &:hover {
          color: #fff;
          text-decoration: none;
          background: skyblue;
        }
      }
    }
  }
  .out_btn {
    display: inline-block;
    margin: 10px 0 0 100px;
    font-size: 16px;
    color: #333;
    width: 120px;
    line-height: 30px;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
  .prn_icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
  }
  .tabs {
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
    background: #fff;
    border-radius: 8px 8px 0 0;
    .tab {
      font-size: 16px;
      width: 50%;
      font-weight: 500;
      color: #333333;
      text-align: left;
      cursor: pointer;
    }
    span {
      display: inline-block;
      height: 60px;
    }
    .on {
      color: #2388ec;
    }
  }
  .r180 {
    transform: rotateY(-180deg);
  }
  .xieyi {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    .xieyi_content {
      width: 900px;
      height: 500px;
      margin: 50px auto 0;
      border-radius: 8px;
      background: #fff;
      position: relative;
    }
    .xieyi_title {
      color: #333;
      font-size: 18px;
      line-height: 70px;
      text-align: center;
    }
    .xieyi_body {
      height: 350px;
      overflow-y: auto;
      padding: 0 20px;
    }
    .xieyi_btn {
      position: absolute;
      bottom: 10px;
      width: 166px;
      height: 46px;
      background: rgba(213, 20, 35, 1);
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      left: 50%;
      margin-left: -83px;
      border-radius: 6px;
    }
  }
}
</style>
