<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-tree
      ref="tree"
      :data="availableList"
      :props="defaultProps"
      accordion
      show-checkbox
      highlight-current
      node-key="id"
    />
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
  import { sysMenuAvailableList, sysRoleListSelectMenuAndPermission, sysRoleAllocationMenuAndPermission } from '@/api/system';

  export default {
    name: 'SysRoleSett',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        availableList: [],
        defaultProps: {
          children: 'children',
          label: 'label'
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form.id = this.info.id;

          // 获取可用菜单
          sysMenuAvailableList().then(res => {
            for (const index in res.data) {
              const info = res.data[index];
              const treeInfo = {};
              if (info.type === 2) {
                treeInfo.id = 'PMS_' + info.id;
              } else {
                treeInfo.id = 'MENU_' + info.id;
              }
              treeInfo.label = info.name;

              if (info.childrenList.length > 0) {
                treeInfo.children = this.recursiveTreeInfo(info.id, info.childrenList);
              }

              this.availableList.push(treeInfo);
            }

            // 设置选中
            this.settCheckMenu();
          })
        }
      }
    },
    methods: {
      settCheckMenu() {
        // 获取已选择菜单和权限
        sysRoleListSelectMenuAndPermission(this.info.id).then(res => {
          const checkedKeyList = [];
          for (const index in res.data.menuList) {
            checkedKeyList.push('MENU_' + res.data.menuList[index]);
          }

          for (const index in res.data.permissionList) {
            checkedKeyList.push('PMS_' + res.data.permissionList[index]);
          }

          // 设置选中
          checkedKeyList.forEach(item => {
            const node = this.$refs.tree.getNode(item);
            if (node.isLeaf) {
              this.$refs.tree.setChecked(node, true);
            }
          })
        })
      },
      handleClose() {
        this.availableList = [];
        this.checkedKeyList = [];
        this.$emit('close');
      },
      recursiveTreeInfo(parentId, infoList) {
        const resultList = [];
        for (const index in infoList) {
          const info = infoList[index];
          if (info.parentId !== parentId) {
            continue;
          }

          const treeInfo = {};
          if (info.type === 2) {
            treeInfo.id = 'PMS_' + info.id;
          } else {
            treeInfo.id = 'MENU_' + info.id;
          }
          treeInfo.label = info.name;

          if (info.childrenList != null && info.childrenList.length > 0) {
            treeInfo.children = this.recursiveTreeInfo(info.id, info.childrenList);
          }
          resultList.push(treeInfo);
        }
        return resultList;
      },
      submitForm() {
        const menuIdList = [];
        const permissionIdList = [];
        const checkedNodes = this.$refs.tree.getCheckedNodes()
        for (const index in checkedNodes) {
          const info = checkedNodes[index];
          if (info.id.indexOf('PMS_') === 0) {
            permissionIdList.push(info.id.substr(4))
          } else if (info.id.indexOf('MENU_') === 0) {
            menuIdList.push(info.id.substr(5))
          }
        }
        const halfCheckedKeys = this.$refs.tree.getHalfCheckedKeys()
        for (const index in halfCheckedKeys) {
          const idInfo = halfCheckedKeys[index];
          if (idInfo.indexOf('PMS_') === 0) {
            permissionIdList.push(idInfo.substr(4))
          } else if (idInfo.indexOf('MENU_') === 0) {
            menuIdList.push(idInfo.substr(5))
          }
        }

        this.form = {
          id: this.info.id,
          menuIdList: menuIdList,
          permissionIdList: permissionIdList
        }

        this.onSubmit()
      },
      onSubmit() {
        this.loading = true
        // 新增
        sysRoleAllocationMenuAndPermission(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>

<style scoped>

</style>
