<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item>
        <el-button v-if="checkPermission('add')" plain type="success" size="mini" @click="handleAddOneMenu">新增</el-button>
        &nbsp;
        <span class="c-brand"><i class="el-icon-info" />添加、编辑权限需手动刷新页面</span>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      row-key="id"
      lazy
      :load="loadTree"
      :tree-props="{children: 'childrenList', hasChildren: 'routerUrl'}"
    >

      <el-table-column label="名称" prop="name">
        <template slot-scope="scope">
          <svg-icon :icon-class="scope.row.icon || ''" />&nbsp;{{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="类型" width="50">
        <template slot-scope="scope">
          {{ menuTypeEnums[scope.row.type] }}
        </template>
      </el-table-column>
      <el-table-column label="路由地址" prop="routerUrl" />
      <el-table-column label="权限标识" prop="value" />
      <el-table-column label="状态" prop="statusId" width="50">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="50" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('add') && (scope.row.type === 0 || scope.row.type === 1)" plain type="success" size="mini" @click="handleAddSubMenu(scope.row)">添加
          </el-button>
          <el-button v-if="checkPermission('edit')" plain type="primary" size="mini" @click="handleEditRow(scope.row)">编辑</el-button>
          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item v-if="checkPermission('updateStatus')">
                <el-button v-if="scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
                <el-button v-if="scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
              </el-dropdown-item>
              <el-dropdown-item v-if="checkPermission('delete')">
                <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <add-sys-menu :title="addMenuCtr.title" :visible="addMenuCtr.visible" :info="addMenuCtr.info" @close="closeAddMenu" />
    <add-sys-permission :title="addPermissionCtr.title" :visible="addPermissionCtr.visible" :info="addPermissionCtr.info" @close="closeAddPermission" />
    <edit-sys-menu :title="editMenuCtr.title" :visible="editMenuCtr.visible" :info="editMenuCtr.info" @close="closeEditMenu" />
    <edit-sys-permission :title="editPermissionCtr.title" :visible="editPermissionCtr.visible" :info="editPermissionCtr.info" @close="closeEditPermission" />
  </div>
</template>

<script>
  import {sysMenuPermission, sysMenuDelete, sysMenuUpdateStatus, sysPermissionDelete, sysPermissionUpdateStatus, sysPermissionView, sysMenuView} from '@/api/system'
  import AddSysMenu from '@/views/system/sysMenu/add/index';
  import AddSysPermission from '@/views/system/sysMenu/permission/add';
  import EditSysMenu from '@/views/system/sysMenu/edit/index';
  import EditSysPermission from '@/views/system/sysMenu/permission/edit';

  export default {
    components: {EditSysMenu, AddSysMenu, AddSysPermission, EditSysPermission},
    data() {
      return {
        list: [],
        listLoading: true,
        menuTypeEnums: {},
        statusIdEnums: {},
        addMenuCtr: {
          title: '添加菜单',
          visible: false,
          info: {}
        },
        editMenuCtr: {
          title: '修改菜单',
          visible: false,
          info: {}
        },
        addPermissionCtr: {
          title: '添加权限',
          visible: false,
          info: {}
        },
        editPermissionCtr: {
          title: '修改权限',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listMenuPermission()
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'MenuTypeEnum', type: 'obj'}).then(res => {
        this.menuTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleEditRow(row) {
        if (row.type === 2) {
          this.handleEditPermission(row);
        } else {
          this.handleEditMenu(row);
        }
      },
      handleEditPermission(row) {
        sysPermissionView(row.id).then(res => {
          this.editPermissionCtr.info = res.data;
          this.editPermissionCtr.visible = true;
        })
      },
      loadTree(tree, treeNode, resolve) {
        sysMenuPermission(tree.id).then(res => {
          resolve(res.data)
        }).catch(() => {
          resolve([])
        })
      },
      handleEditMenu(row) {
        sysMenuView(row.id).then(res => {
          this.editMenuCtr.info = res.data;
          this.editMenuCtr.visible = true;
        })
      },
      closeEditMenu() {
        this.editMenuCtr.visible = false;
        this.listMenuPermission();
      },
      closeEditPermission() {
        this.editPermissionCtr.visible = false;
        // this.listMenuPermission();
      },
      handleDeleteRow(row) {
        if (row.type === 2) {
          this.handleDeletePermission(row);
        } else {
          this.handleDeleteMenu(row);
        }
      },
      handleDeleteMenu(row) {
        {
          let body = '确定要删除菜单【' + row.name + '】？';
          if (row.type === 0) {
            body = '确定要删除目录【' + row.name + '】？';
          }
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysMenuDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listMenuPermission();
            })
          })
        }
      },
      handleDeletePermission(row) {
        {
          const body = '确定要删除权限【' + row.name + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysPermissionDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listMenuPermission();
            })
          })
        }
      },
      handleAddOneMenu() {
        this.addMenuCtr.info = {
          parentId: 0
        }
        this.addMenuCtr.visible = true;
      },
      handleAddSubMenu(row) {
        if (row.type === 1) {
          this.addPermissionCtr.info = {
            menuId: row.id,
            menuName: row.name
          }
          this.addPermissionCtr.visible = true;
        } else {
          this.addMenuCtr.info = {
            parentId: row.id,
            parentName: row.name
          }
          this.addMenuCtr.visible = true;
        }
      },
      handleUpdateStatus(row) {
        if (row.type === 2) {
          this.handleUpdatePermissionStatus(row);
        } else {
          this.handleUpdateMenuStatus(row);
        }
      },
      handleUpdateMenuStatus(row) {
        {
          let body = '确定禁用' + this.menuTypeEnums[row.type] + '【' + row.name + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            statusId = 1;
            body = '确定启用' + this.menuTypeEnums[row.type] + '【' + row.name + '】？';
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysMenuUpdateStatus(row.id, statusId).then(res => {
              this.$message.success(res.data);
              this.listMenuPermission();
            })
          })
        }
      },
      handleUpdatePermissionStatus(row) {
        {
          let body = '确定禁用权限【' + row.name + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            statusId = 1;
            body = '确定启用权限【' + row.name + '】？';
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysPermissionUpdateStatus(row.id, statusId).then(res => {
              this.$message.success(res.data);
              this.listMenuPermission();
            })
          })
        }
      },
      closeAddMenu() {
        this.addMenuCtr.visible = false;
        this.listMenuPermission();
      },
      closeAddPermission() {
        this.addPermissionCtr.visible = false;
        // this.listMenuPermission();
      },
      listMenuPermission() {
        this.loading.start()
        this.list = []
        sysMenuPermission().then(res => {
          this.list = res.data
        })
      }
    }
  }
</script>
