<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="课程名称">
        <el-input v-model="map.courseName" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button type="success" plain size="mini" @click="handleAddCourseRow">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="课程封面" width="122">
        <template slot-scope="scope">
          <img :src="scope.row.courseInfo.courseLogo" width="100" alt="">
        </template>
      </el-table-column>
      <el-table-column label="课程名称">
        <template slot-scope="scope">
          <span style="font-size: 200%">{{ scope.row.courseInfo.courseName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="课程分类" width="80">
        <template slot-scope="scope">
          {{ courseCategoryEnum[scope.row.courseInfo.courseCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="课程价格" width="150">
        <template slot-scope="scope">
          <span class="c-info">普通价：{{ scope.row.courseInfo.courseOriginal | amountFormat }}</span>
          <br>
          <span class="c-danger">会员价：{{ scope.row.courseInfo.courseDiscount | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="秒杀价" width="100">
        <template slot-scope="scope">
          <span class="c-danger">{{ scope.row.seckillPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="60">
        <template slot-scope="scope">
          <span class="" :class="{'c-success': scope.row.statusId === 1, 'c-danger': scope.row.statusId === 0}">{{ statusIdEnum[scope.row.statusId] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="排序" width="60">
        <template slot-scope="scope">
          <span>{{ scope.row.sort }} </span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="230">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" disabled @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="scope.row.statusId === 0" disabled plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1" disabled plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
          <el-button disabled type="danger" plain size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-zone :title="zoneAddCtr.title" :act-type="zoneAddCtr.actType" :visible="zoneAddCtr.visible" @close-callback="closeAddCallback" />
    <edit-zone :title="zoneEditCtr.title" :visible="zoneEditCtr.visible" :info="zoneEditCtr.info" @close-callback="closeEditCallback" />
    <add-course :title="courseAddCtr.title" :zone-id="courseAddCtr.zoneId" :visible="courseAddCtr.visible" @close-callback="closeAddCourseCallback" />
  </div>
</template>

<script>
  import {actSeckillPage, actZoneDelete, actZoneUpdateStatus, actZoneView} from '@/api/marketing'
  import AddZone from '@/views/marketing/zone/add/index';
  import EditZone from '@/views/marketing/zone/edit/index';
  import AddCourse from '@/views/marketing/seckill/add/index';

  export default {
    components: {AddZone, EditZone, AddCourse},
    filters: {
      amountFormat(val = 0) {
        return `￥ ${val.toFixed(2).replace(/\d{1,3}(?=(\d{3})+(\.\d*)?$)/g, '$&,')}`
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        statusIdEnum: undefined,
        listLoading: true,
        courseCategoryEnum: undefined,
        courseAddCtr: {
          title: '课程设置',
          zoneId: undefined,
          visible: false
        },
        zoneAddCtr: {
          title: '专区信息',
          actType: 2,
          visible: false
        },
        zoneEditCtr: {
          title: '专区修改',
          info: {},
          visible: false
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
        this.statusIdEnum = res;
      })
      this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
        this.courseCategoryEnum = res;
      })
    },
    methods: {
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.zoneTitle + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.zoneTitle + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            actZoneUpdateStatus({id: row.id, statusId: statusId}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '是否删除【' + row.zoneTitle + '】该秒杀？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            actZoneDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleAddRow() {
        this.zoneAddCtr.visible = true;
      },
      closeAddCallback() {
        this.listForPage();
        this.zoneAddCtr.visible = false;
      },
      handleUpdateRow(id) {
        this.listForPage();
        this.zoneEditCtr.visible = false;
        actZoneView(id).then(res => {
          this.zoneEditCtr.info = res.data
          this.zoneEditCtr.visible = true
        })
      },
      closeEditCallback() {
        this.listForPage();
        this.zoneEditCtr.visible = false;
      },
      handleAddCourseRow(zoneId) {
        this.courseAddCtr.zoneId = zoneId;
        this.courseAddCtr.visible = true;
      },
      closeAddCourseCallback() {
        this.listForPage();
        this.courseAddCtr.visible = false;
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        actSeckillPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
