<template>
  <div class="">
    <div class="clearfix layout container">
      <div class="font14 mgt20 clearfix">
        <div class="fl mgt6">
          <nuxt-link :to="'/index'">
            首页
          </nuxt-link>
          <i class="iconfont palr10">></i>
          <nuxt-link :to="'/library'">
            题库专区
          </nuxt-link>
          <i class="iconfont palr10">></i>
          <span>{{ courseInfo.courseName }}</span>
        </div>
        <div class="fr">
          <button v-if="!isPay" @click="buyCourse" class="solid_btn">
            整套购买
            ¥{{ courseInfo.courseOriginal.toFixed(2) }}
          </button>
          <div v-if="!!courseInfo.accessory" class="ac_panel fr">
            <div v-if="courseInfo.accessory.length < 3" class="fr dow_one">
              <span
                v-for="(item, index) in courseInfo.accessory"
                :key="index"
                :download="item.acName"
                :title="item.acName"
                @click="goDown(item)"
                class="dow_btn"
                target="blank"
              >
                <i class="iconfont">&#xe602;</i>{{ item.acName }}
              </span>
            </div>
            <div v-else class="fr dow_panel">
              <div class="dow_btn">
                <i class="iconfont">&#xe602;</i>下载课程附件
              </div>
              <div class="dow_list">
                <span
                  v-for="(item, index) in courseInfo.accessory"
                  :key="index"
                  :download="item.acName"
                  :title="item.acName"
                  @click="goDown(item)"
                  class="dow_option"
                  target="blank"
                >
                  <i class="iconfont">&#xe602;</i>{{ item.acName }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="chapterList.length" class="pdb20 mgt20">
        <y-subject
          v-for="item in chapterList[0].periodList"
          :key="item.id"
          :category="0"
          :lecturerdto="teacherInfo"
          :data="item"
          @btnClick="showModal($event)"
        />
      </div>
    </div>
    <right-tap />
    <y-modal
      v-if="openModal"
      :type="modalType"
      :data="modalData"
      :category="0"
      :open="openModal"
      @hidefun="hideModal()"
      @change="changeTab($event)"
    />
    <y-pay
      v-if="showPay"
      :data="payData"
      :is-course="true"
      @hidefun="hidePay"
    />
  </div>
</template>
<script>
import YSubject from '~/components/library/Subject'
import YModal from '~/components/library/CourseModal'
import YPay from '~/components/PayModal'
import RightTap from '~/components/common/RightTap'
import { courseDetail, chapterDetail } from '~/api/preview.js'
export default {
  components: {
    YModal,
    YPay,
    YSubject,
    RightTap
  },
  head() {
    return {
      title: this.courseName + '-' + this.$store.state.clientData.name,
      meta: [
        {
          name: 'keywords',
          content: this.courseInfo.keywords
        },
        {
          name: 'description',
          content: this.courseInfo.description
        }
      ]
    }
  },
  data() {
    return {
      chapterList: [],
      isLogin: false,
      isFree: false,
      payData: null,
      showPay: false,
      courseInfo: {
        courseDiscount: 0,
        courseOriginal: 0
      },
      courseName: '',
      acList: null,
      list: [],
      modalData: null,
      pageCurrent: 1,
      openModal: false,
      modalType: 0
    }
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo
    try {
      const result = {}
      if (tk) {
        const data = await courseDetail({ id: context.params.id }, tk)
        // console.log(data)
        if (data.code === 200) {
          result.courseInfo = data.data
          result.teacherInfo = data.data.lecturer
          if (data.data.isFree) {
            result.isPay = true
          } else {
            result.isPay = false
          }
        } else {
          console.log(data)
          console.log('获取课程信息失败')
          result.courseInfo = null
        }
        return result
      } else {
        context.redirect('/login')
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    this.getChapterDetail()
    this.userInfo = this.$store.state.userInfo
    // console.log(this.$route)
    if (this.tokenInfo) {
      this.isLogin = true
    } else {
      this.isLogin = false
    }
  },
  methods: {
    // 获取章节
    getChapterDetail() {
      const courseId = this.courseInfo.id
      chapterDetail({
        courseId,
        pageSize: 1,
        pageCurrent: this.pageCurrent
      }).then((res) => {
        console.log(res)
        if (res.code === 200) {
          this.totalPage = res.data.totalPage
          if (res.data.list && res.data.list.length) {
            this.chapterList = this.chapterList.concat(res.data.list)
          }
          this.pageCurrent = this.pageCurrent + 1
          if (this.pageCurrent <= this.totalPage) {
            this.getChapterDetail()
          }
        }
      }).catch(() => {
        this.$msgBox({ content: '数据加载失败，请稍后重试' })
      })
    },
    // 下载附件
    goDown(item) {
    },
    signOut() {
      this.SIGN_OUT()
      window.location.reload()
      // console.log('退出登录')
    },
    showModal(cbdata) {
      if (cbdata.ty === 1) {
        // 查看视频
        this.$msgBox({ content: '视频暂时无法观看' })
        return false
      }
      this.openModal = true
      this.modalData = cbdata
      this.modalType = cbdata.ty
    },
    hideModal() {
      this.openModal = false
    },
    hidePay() {
      this.showPay = false
    },
    changeTab(int) {
      // console.log(int)
      // console.log(this.modalData)
      this.modalType = int
    },
    // 整套购买文库
    buyCourse() {
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
.pdb20 {
  padding-bottom: 20px;
}
.lh36 {
  line-height: 36px;
}
.menus_panel{
  left: 0;
  transition: all .5s ease;
}
.main_content{
  transition: all .5s ease;
  margin-left: 260px;
  .content{
    margin: 20px;
    padding: 0 30px;
    background-color: #fff;
  }
}

.mini_menu{
  .menus_panel{
    left: -260px;
    .mini_btn{
      right: -16px;
      transform:rotate(180deg);
    }
  }
  .main_content{
    margin-left: 0;
  }
}
.ac_panel{
  .dow_btn{
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 12px;
    color: #d51423;
    border: 1px solid #d51423;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 16px;
    cursor: pointer;
    i{
      font-size: 12px;
      margin-right: 3px;
    }
    &:hover{
      background-color:#e01c2b;
      color: #fff;
    }
  }
  .dow_panel{
    position: relative;
    &:hover{
      .dow_list{
        display: block;
      }
    }
  }
  .dow_list{
    display: none;
    position: absolute;
    right: 0;
    z-index: 9;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  .dow_option{
    display: block;
    white-space: nowrap;
    width: 200px;
    padding: 8px 10px;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
    i{
      font-size: 12px;
      margin-right: 3px;
    }
  }
}
</style>
