<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="讲师名称">
        <el-input v-model="map.lecturerName" />
      </el-form-item>
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="map.lecturerMobile" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="手机号码" prop="lecturerMobile" width="120">
        <template slot-scope="scope">
          <el-button type="text" @click="handleViewUserRow(scope.row.lecturerUserNo)">{{ scope.row.lecturerMobile }}</el-button>
        </template>
      </el-table-column>
      <el-table-column label="讲师名称" prop="lecturerName" />
      <el-table-column label="讲师邮箱" prop="lecturerEmail" width="160" />
      <el-table-column label="直播功能" width="80">
        <template slot-scope="scope">
          {{ isLiveEnums[scope.row.isLive] }}
        </template>
      </el-table-column>
      <el-table-column label="直播状态" width="80">
        <template v-if="scope.row.isLive === 1" slot-scope="scope">
          <span v-for="item in liveStatusEnumList" :key="item.code">
            <span v-if="item.code === scope.row.liveStatus" style="{'color': item.color }">{{ item.desc }}</span>
          </span>
        </template>
      </el-table-column>
      <el-table-column :label="'【类别】频道号/密码'" width="200">
        <template v-if="scope.row.isLive === 1" slot-scope="scope">
          【大班课】{{ scope.row.channelId }} / {{ scope.row.channelPasswd }}
          <br/>
          【三分屏】{{ scope.row.pptChannelId }} / {{ scope.row.pptChannelPasswd }}
        </template>
      </el-table-column>
      <el-table-column label="收益占比" width="80">
        <template slot-scope="scope">
          {{ scope.row.lecturerProportion * 100 }}%
        </template>
      </el-table-column>
      <el-table-column label="状态" width="50">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('lecturerEdit')" type="primary" plain size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="scope.row.statusId === 0 &&  checkPermission('lecturerUpdateStatus')" type="success" plain size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('lecturerUpdateStatus')" type="danger" plain size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-button v-if="checkPermission('lecturerProportionSet')" type="warning" plain size="mini" @click="handleLecturerProportionSet(scope.row)">设置分成</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('getRedirectLecturerCenterUrl')" size="mini" @click="handleRedirectLecturerCenter(scope.row)">讲师中心</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <set-lecturer-proportion :title="setCtrl.title" :visible="setCtrl.visible" :info="setCtrl.info" @close-callback="closeCallback" />
    <user-ext-info :title="userExtViewCtr.title" :visible="userExtViewCtr.visible" :info="userExtViewCtr.info" @close-callback="viewCloseCllback" />
  </div>
</template>

<script>
  import {getRedirectLecturerCenterUrl, lecturerPage, lecturerUpdateStatus, lecturerView, userExtView} from '@/api/user'
  import SetLecturerProportion from '@/views/user/lecturer/list/setLecturerProportion';
  import UserExtInfo from '@/views/user/userExt/view/index';

  export default {
    components: {SetLecturerProportion, UserExtInfo},
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        statusIdEnums: {},
        isLiveEnums: {},
        liveStatusEnumList: [],
        setCtrl: {
          title: null,
          visible: false,
          info: {}
        },
        userExtViewCtr: {
          title: '用户信息',
          info: {},
          visible: false
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'arr'}).then(res => {
        res.forEach((item) => {
          this.statusIdEnums[item.code] = item.desc;
        })
      });
      this.$store.dispatch('GetOpts', {enumName: 'IsLiveEnum', type: 'arr'}).then(res => {
        res.forEach((item) => {
          this.isLiveEnums[item.code] = item.desc;
        })
      });
      this.$store.dispatch('GetOpts', {enumName: 'LiveStatusEnum', type: 'arr'}).then(res => {
        this.liveStatusEnumList = res;
      });
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.$router.push('/user/lecturer/add')
      },
      handleUpdateRow(id) {
        this.$router.push({path: '/user/lecturer/edit', query: {id: id}})
      },
      handleViewUserRow(userNo) {
        this.loading.start()
        userExtView(userNo).then(res => {
          this.userExtViewCtr.info = res.data
          this.userExtViewCtr.visible = true
        })
      },
      viewCloseCllback() {
        this.userExtViewCtr.visible = false;
        this.listForPage()
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要禁用讲师【' + row.lecturerName + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用讲师【' + row.lecturerName + '】？';
            statusId = 1;
          }
          this.$confirm(body, '修改状态确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            lecturerUpdateStatus({id: row.id, statusId: statusId}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      closeCallback() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.setCtrl.visible = false;
      },
      handleLecturerProportionSet(row) {
        lecturerView(row.id).then((res) => {
          this.setCtrl.title = res.data.lecturerName + '--设置分成';
          this.setCtrl.info = res.data;
          this.setCtrl.visible = true;
        })
      },
      handleRedirectLecturerCenter(row) {
        getRedirectLecturerCenterUrl(row.lecturerUserNo).then((res) => {
          window.open(res.data, '_blank');
        });
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        lecturerPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
<style>
</style>
