<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="分成" prop="lecturerProportion">
        <el-input v-model="form.lecturerProportion" type="number" class="form-group">
          <template slot="append">%</template>
        </el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
  import { lecturerProportionSet } from '@/api/user';

  export default {
    name: 'SetLecturerProportion',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      const validateLecturerProportion = (rule, value, callback) => {
        const floatPatten = /^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/;
        if (value === undefined || value === '') {
          callback(new Error('请输入分成比例！'));
        } else if (!floatPatten.test(value)) {
          callback(new Error('请输入有效的分成比例，必须大于0%'));
        } else if (value > 100) {
          callback(new Error('分成比例不能大于100%'));
        } else {
          callback();
        }
      };
      return {
        form: {},
        rules: {
          lecturerProportion: [
            { validator: validateLecturerProportion, trigger: 'blur' }
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = {
            id: this.info.id,
            lecturerProportion: this.info.lecturerProportion * 100
          }
        }
      }
    },
    methods: {
      handleClose() {
        this.$emit('close-callback');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        lecturerProportionSet(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
