<template>
  <el-dialog
    v-loading="dialogLoading"
    :title="title"
    :visible.sync="visible"
    width="70%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="角色名称">
        <el-input v-model="map.roleName" />
      </el-form-item>
      <el-form-item class="filter-item" label="角色标识">
        <el-input v-model="map.roleValue" />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>

      <el-button plain type="success" size="mini" @click="handleRoleSett">设置角色</el-button>
    </el-form>

    <el-table
      ref="availableRoleTable"
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="selectionChange"
    >

      <el-table-column type="selection" width="55" />
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="角色名称" prop="roleName" />
      <el-table-column label="角色标识" prop="roleValue" />
      <el-table-column label="状态" width="80">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="备注" prop="remark" />
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[20, 50, 100, 200, 500, 1000]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import { sysUserListSelectRole, sysUserAllocationRole, sysRolePage } from '@/api/system';

  export default {
    name: 'AllocationSysRole',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      id: {
        type: String,
        default: undefined
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        loading: false,
        dialogLoading: false,
        list: [],
        map: {},
        listLoading: true,
        selectRoleIdList: [],
        currentSelectRoleIdList: [],
        statusIdEnums: {}
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          // 获取已选中角色
          sysUserListSelectRole(this.id).then(res => {
            this.selectRoleIdList = res.data;

            // 获取角色分页数据
            this.map = {
              statusId: 1
            };
            this.page.pageCurrent = 1;
            this.page.pageSize = 20;
            this.listForPage();
          });

          // 获取状态枚举
          this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
            this.statusIdEnums = res;
          });
        }
      }
    },
    methods: {
      // 选中角色
      selectionChange(selectList) {
        this.currentSelectRoleIdList = [];
        selectList.forEach(item => {
          this.currentSelectRoleIdList.push(item.id);
        })
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          statusId: 1
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading = true;
        sysRolePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize

          // 选中
          this.$nextTick(() => {
            this.$refs.availableRoleTable.clearSelection();
            if (this.list !== undefined && this.list !== null && this.list.length > 0) {
              this.list.forEach(item => {
                // 校验是否已选中
                if (this.selectRoleIdList.indexOf(item.id) !== -1) {
                  this.$refs.availableRoleTable.toggleRowSelection(item, true)
                  // 把当前页中选中的角色添加到当前选中的角色ID列表中
                }
              })
            }
          });
        }).finally(() => {
          this.loading = false;
        })
      },
      handleClose() {
        this.form = {}
        this.$emit('close');
      },
      handleRoleSett() {
        {
          let body = '当前没有选中角色，是否继续设置角色？'
          if (this.currentSelectRoleIdList !== undefined && this.currentSelectRoleIdList !== null && this.currentSelectRoleIdList.length > 0) {
            body = '当前选中【' + this.currentSelectRoleIdList.length + '】个角色，是否需要设置';
          }
          this.$confirm(body, '设置角色', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.dialogLoading = true
            sysUserAllocationRole({ id: this.id, roleIdList: this.currentSelectRoleIdList }).then(res => {
              this.dialogLoading = false;
              this.tips(res.data, 'success');
              this.handleClose();
            }).catch(() => {
              this.dialogLoading = false;
            })
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
