<template>
  <div>
    <div class="loading_panel" v-show="loading">
      <svg class="svg_icon" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" fill="none" r="20" />
      </svg>
    </div>
    <y-header :hide-nav="hideNav" :hide-top="hideTop" v-if="!hideHeader" />
    <div class="account_pages" id="app">
      <div class="container account_cont clearfix">
        <y-side />
        <nuxt />
      </div>
    </div>
    <!-- <y-footer v-if="!hideFooter" /> -->
    <y-min-footer v-if="!hideFooter" />
    <div v-if="isEnableStatistics == 1" v-html="statisticsCode"></div>
</div>
</template>

<script>
import YHeader from '~/components/common/Header.vue'
// import YFooter from '~/components/common/Footer.vue'
import YMinFooter from '~/components/common/minFooter.vue'
import YSide from '~/components/account/Side'

export default {
  components: {
    YHeader,
    // YFooter,
    YMinFooter,
    YSide
  },
  head() {
    return {
      title: this.$store.state.clientData.name || '',
      link: [
        {
          rel: 'icon',
          type: 'image/x-icon',
          href: this.$store.state.webInfo.ico || ''
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.keyword || ''
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.desc || ''
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$store.state.clientData.name || ''
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$store.state.webInfo.desc || ''
        }
      ],
      script: [{ src: 'https://player.polyv.net/script/polyvplayer.min.js', async: 'true' }]
    }
  },
  data() {
    return {
      showActivity: true,
      hideNav: false,
      hideTop: false,
      hideHeader: false,
      hideFooter: false
    }
  },
  computed: {
    loading() {
      return this.$store.state.loading
    },
    isEnableStatistics() {
      return this.$store.state.webInfo.isEnableStatistics
    },
    statisticsCode() {
      return this.$store.state.webInfo.statisticsCode
    }
  },
  created() {
    if (process.client) {
      this.$store.commit('INIT_WEB')
    }
  },
  mounted() {},
  methods: {}
}
</script>

<style lang="scss">
@import '~/assets/css/account.scss';

#app.account_pages {
  min-height: calc(100vh - 66px - 109px);
}
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
