<template>
  <div>
    <div v-show="loading" class="loading_panel">
      <svg class="svg_icon" viewBox="25 25 50 50">
        <circle cx="50" cy="50" r="20" fill="none" class="path" />
      </svg>
    </div>
    <div id="app">
      <nuxt />
    </div>
    <div v-if="isEnableStatistics == 1" v-html="statisticsCode"></div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: this.$store.state.clientData.name,
      link: [
        {
          rel: 'icon',
          type: 'image/x-icon',
          href: this.$store.state.webInfo.ico || ''
        }
      ],
      script: [
        { src: 'https://player.polyv.net/script/polyvplayer.min.js' }

      ]
    };
  },
  computed: {
    loading() {
      return this.$store.state.loading;
    },
    isEnableStatistics() {
      return this.$store.state.webInfo.isEnableStatistics;
    },
    statisticsCode() {
      return this.$store.state.webInfo.statisticsCode;
    }
  },
  created() {
    if (process.client) {
      this.$store.commit('INIT_WEB');
      const path = this.$route.path;
      if (!path.startsWith('/login') && this.$store.state.tokenInfo) {
        this.$store.dispatch('GET_USERINFO', (store, err) => {
          if (err === 304) {
            this.$msgBox({ content: '你的账户已在其他地方登录！' });
          }
        });
        this.$store.dispatch('blog/CHANGE_BLOGGER');
      }
    }
  },
  mounted() {
    document.addEventListener('click', () => {
      this.$store.commit('HIDE_EWM');
    });
  },
  methods: {}
};
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
