<template>
  <div>
    <div class="loading_panel" v-show="loading">
      <svg class="svg_icon" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" fill="none" r="20" />
      </svg>
    </div>
    <y-header :hide-nav="hideNav" :hide-top="hideTop" v-if="!hideHeader" />
    <div id="app">
      <nuxt />
    </div>
    <div v-if="!hideFooter">
      <y-footer v-if="isIndex" />
      <y-min-footer v-else />
    </div>
    <div v-if="isEnableStatistics == 1" v-html="statisticsCode"></div>
  </div>
</template>

<script>
import YHeader from '~/components/common/Header.vue'
import YFooter from '~/components/common/Footer.vue'
import YMinFooter from '~/components/common/minFooter.vue'

export default {
  components: {
    YHeader,
    YFooter,
    YMinFooter
  },
  head() {
    return {
      title: this.$store.state.clientData.name || '',
      link: [
        {
          rel: 'icon',
          type: 'image/x-icon',
          href: this.$store.state.webInfo.ico || ''
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.keyword || ''
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.desc || ''
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.$store.state.clientData.name || ''
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.$store.state.webInfo.desc || ''
        }
      ],
      script: [{ src: 'https://player.polyv.net/script/polyvplayer.min.js', async: 'true' }]
    }
  },
  data() {
    return {
      showActivity: true,
      hideNav: false,
      hideTop: false,
      hideHeader: false,
      hideFooter: false,
      whileObj: {
        reset: {
          hideFooter: true,
          hideNav: false
        },
        apply: {
          hideFooter: true,
          hideNav: true
        },
        login: {
          hideFooter: true,
          hideNav: false
        },
        register: {
          hideFooter: true,
          hideNav: false
        }
      }
    }
  },
  computed: {
    loading() {
      return this.$store.state.loading
    },
    isEnableStatistics() {
      return this.$store.state.webInfo.isEnableStatistics
    },
    statisticsCode() {
      return this.$store.state.webInfo.statisticsCode
    },
    // 是否是首页
    isIndex: {
      set(val) {
        this.showActivity = val
      },
      get() {
        return (
          (this.$route.name === 'index' || this.$route.path === '/index') &&
          this.showActivity
        )
      }
    }
  },
  watch: {
    $route: {
      handler(val) {
        if (val && val.path.includes('write')) {
          this.hideHeader = true
          this.hideFooter = true
        } else {
          this.hideHeader = false
          this.hideFooter = false
        }
        this.hideHeaderOrFooter()
      },
      immediate: true
    }
  },
  created() {
    if (process.client) {
      this.$store.commit('INIT_WEB')
    }
  },
  mounted() {
    if (this.$store.state.tokenInfo) {
      // 登录后 每次刷新页面更新用户信息
      this.$store.dispatch('GET_USERINFO')
    }
    if (this.$route.query.referralCode) {
      this.$store.dispatch('main/SetReferral', this.$route.query.referralCode)
    }
    this.hideHeaderOrFooter()
    document.addEventListener('click', () => {
      this.$store.commit('HIDE_EWM')
    })
    if (window.location.href.includes('write')) {
      this.hideHeader = true
      this.hideFooter = true
    }
    if (window.location.href.includes('blog/account')) {
      this.hideBtn = true
    }
    this.isCloseAd();
  },
  methods: {
    // 用户关闭了头部广告后 两个小时再显示
    isCloseAd() {
      const lastCloseTime = new Date().getTime() - this.lockr.get('_inadx_ad')
      if (lastCloseTime <= 2 * 60 * 1000) {
        this.isIndex = false
      }
    },
    // 关闭活动
    closeAct() {
      this.lockr.set('_inadx_ad', new Date().getTime())
      this.isIndex = false
    },
    hideHeaderOrFooter() {
      const whileArr = Object.keys(this.whileObj)
      const routeName = whileArr.find(item => item === this.$route.name)
      if (routeName) {
        this.hideFooter = this.whileObj[routeName].hideFooter
        this.hideNav = this.whileObj[routeName].hideNav
      } else {
        this.hideFooter = false
        this.hideNav = false
      }
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/css/blog.scss';
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

#app {
  min-height: calc(100vh - 140px - 90px);
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
