<style lang="scss" scoped>
.error-page {
  .box {
    text-align: center;
    .img404 {
      max-width: 20%;
      margin: 5% auto 0;
      padding: 20px;
    }
    .error-page-title {
      font-size: 40px;
      color: #333;
      margin-top: 75px;
    }
    .error-page-tip {
      font-size: 14px;
      color: #777;
      line-height: 80px;
      margin-top: 25px;
    }
    .error-page-btn {
      width: 180px;
      margin-top: 35px;
      background: #333;
      color: white;
      display: inline-block;
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      text-align: center;
      font-size: 18px;
      border-radius: 0;
      border: none;
      cursor: pointer;
    }
  }

  .full-screen {
    color: white;
    font-family: "Arial Black";
    text-align: center;
  }
  .container {
    padding-top: 130px;
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .error-num {
    font-size: 8em;
    color: #333;
  }
  .eye {
    background: #333;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    position: relative;
    width: 100px;
  }
  .eye::after {
    background: #fff;
    border-radius: 50%;
    bottom: 56.1px;
    content: " ";
    height: 33px;
    position: absolute;
    right: 33px;
    width: 33px;
  }
  .italic {
    font-style: italic;
  }
}
</style>

<template>
  <div>
    <div v-if="error.statusCode === 500" class="error-page">
      <div class="box">
        <div class="full-screen">
          <div class="container">
            <span class="error-num">5</span>
            <div class="eye" style="transform: rotate(222.923deg)"></div>
            <div class="eye" style="transform: rotate(222.923deg)"></div>
          </div>
        </div>
        <h4 class="error-page-title">啊呀，不小心页面出错！</h4>
        <p class="error-page-tip">此页面可能有bug，请联系管理员！</p>
        <a class="error-page-btn" href="/">光速返回</a>
      </div>
    </div>
    <div v-if="error.statusCode === 404" class="error-page">
      <div class="box">
        <img class="img404" src="../assets/image/404.png" />
        <h4 class="error-page-title">啊呀，不小心飞出地球了！</h4>
        <p class="error-page-tip">此页面已无法找到，可能已经被删除或地址错误</p>
        <a class="error-page-btn" href="/">光速返回</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Error",
  layout: "activity",
  props: {
    error: {
      type: Object,
      required: true,
    },
  },
  computed: {},
};
</script>
