<template>
  <div class="article_page blog_default mgb20">
    <div class="container mgt30">
      <div class="w300 fl clearfix">
        <div class="pad20 b_fff radius_box clearfix">
          <div class="default_photo fl btn" @click="goBlogger()">
            <img v-if="bolggerInfo.bloggerUserImg" :src="bolggerInfo.bloggerUserImg" alt />
            <img v-else src="../../../assets/image/blog/friend.jpg" alt />
          </div>
          <div class="w100 fl mgt10 mgl10">
            <p class="text_hidden font_b font_14 c_333 btn" @click="goBlogger()">
            {{ bolggerInfo.bloggerNickname }}
            </p>
            <p class="font_12 c_999 mgt10">{{ bolggerInfo.fansAccount }}人已关注</p>
          </div>
          <y-active-btn
            v-if="showActiveBtn"
            :blogger-info="bolggerInfo"
            @changeActive="changeActive"
          />
        </div>
        <div class="mgt10 clearfix">
          <y-new-article :new-obj="newObj" />
        </div>
        <div class="mgt10 clearfix">
          <y-hot-article v-affix :hot-obj="hotObj" />
        </div>
      </div>
      <div class="w890 fr clearfix">
        <div class="pad30 b_fff radius_box">
          <p class="font_20 font_b">
            <span class="tip red">{{ blogInfo.typeId == 1 ? '原' : '转' }}</span>
            {{ blogInfo.title }}
          </p>
          <div class="font_14 c_ccc mgt20 clearfix">
            <span class="fl">{{ blogInfo.gmtModified }}</span>
            <p class="fr">
              <span class="iconfont icon">&#xe685;</span>
              <span>{{ blogInfo.readAcount }}</span>
              <span class="padlr_10">|</span>
              <span class="iconfont icon">&#xe620;</span>
              <span>{{ blogInfo.commentAcount }}</span>
              <span class="padlr_10">|</span>
              <span
                :class="{c_red: blogInfo.isAdmire}"
                @click="setLikeOrColl(2)"
                class="iconfont btn"
              >&#xe601;</span>
              <span>{{ blogInfo.admireAcount }}</span>
            </p>
          </div>
        </div>
        <div class="radius_box mgt10 b_fff">
          <div class="pad40 border_b">
            <!-- eslint-disable -->
            <div class="blog_content" v-if="!blogInfo.mdContet" v-html="blogInfo.content" />
            <div class="vditor-reset" id="vditor-reset" v-else v-html="blogInfo.content" />
          </div>
          <div class="pad20 border_b">
            <div class="btn big_like clearfix" @click="setLikeOrColl(2)">
              <p class="mgt10">
                <span class="iconfont like_icon">&#xe60f;</span>
              </p>
              <p>{{ blogInfo.admireAcount }}</p>
            </div>
          </div>
          <div class="pad20 clearfix font_14 c_ccc">
            <div
              class="fr mgl20 btn default_btn"
              :class="{red: blogInfo.isCollection}"
              @click="setLikeOrColl(1)"
            >
              <span class="iconfont icon">&#xe618;</span>
              <span>{{ collStr }}</span>
            </div>
            <div class="fr btn default_btn" @click="hideShare = false">
              <span class="iconfont icon">&#xe6bf;</span>
              <span>分享</span>
            </div>
          </div>
        </div>
        <y-comment
          :page-obj="pageObj"
          :blog-info="blogInfo"
          @sendCommentOne="sendCommentOne"
          @sendCommentTwo="sendCommentTwo"
          @loadComment="loadComment"
        />
      </div>
    </div>
    <d-share-model v-if="!hideShare" :information-title="blogInfo.title" @closeShare="closeShare" />
    <y-right-tap />
  </div>
</template>
<script>
import YRightTap from '~/components/common/RightTap';
import YNewArticle from '~/components/blog/NewArticle';
import YHotArticle from '~/components/blog/HotArticle';
import YComment from '~/components/blog/Comment';
import YActiveBtn from '~/components/blog/ActiveBtn';
import DShareModel from '~/components/blog/ShareModel';
import { commentList } from '~/api/blog/community.js';
import { likeOrColl, delLikeOrColl } from '~/api/blog/user.js';

export default {
  components: {
    YHotArticle,
    YNewArticle,
    YComment,
    YActiveBtn,
    DShareModel,
    YRightTap
  },
  head() {
    return {
      title: this.blogInfo
        ? this.blogInfo.title + '-' + this.$store.state.clientData.name
        : '',
      link: [
        {
          rel: 'stylesheet',
          href: 'https://cdn.jsdelivr.net/npm/vditor/dist/index.css'
        }
      ],
      script: [
        {
          src: 'https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js'
        }
      ],
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.blogInfo ? this.blogInfo.keywords : ''
        },
        {
          hid: 'description',
          name: 'description',
          content: this.blogInfo ? this.blogInfo.summary : ''
        }
      ]
    };
  },
  data() {
    return {
      showActiveBtn: true,
      hideShare: true
    };
  },
  computed: {
    collStr() {
      if (this.blogInfo.isCollection) {
        return '已收藏';
      }
      return '收藏';
    }
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo;
    try {
      const detailParams = {
        id: context.params.id
      };
      let blogInfo = {};
      if (tk) {
        // console.log(tk)
        const detailParams = {
          id: context.params.id
        };
        const blogData = await context.store.dispatch(
          'blog/GET_USERBLOGDETAIL',
          detailParams
        );
        if (blogData.code === 200) {
          blogInfo = blogData.data;
        } else {
          blogInfo = await context.store.dispatch(
            'blog/GET_BLOGDETAIL',
            detailParams
          );
        }
      } else {
        console.log(detailParams);
        blogInfo = await context.store.dispatch(
          'blog/GET_BLOGDETAIL',
          detailParams
        );
      }
      const bloggerParams = {
        bloggerUserNo: blogInfo.bloggerUserNo || blogInfo.userNo
      };
      let bolggerInfo = {};
      if (tk) {
        const bolggerData = await context.store.dispatch(
          'blog/GET_USERBOLGGERINFO',
          bloggerParams
        );
        if (bolggerData.code === 200) {
          bolggerInfo = bolggerData.data;
        } else {
          bolggerInfo = await context.store.dispatch(
            'blog/GET_BOLGGERINFO',
            bloggerParams
          );
        }
      } else {
        bolggerInfo = await context.store.dispatch(
          'blog/GET_BOLGGERINFO',
          bloggerParams
        );
      }
      bolggerInfo.bloggerUserNo = blogInfo.bloggerUserNo || blogInfo.userNo;
      const commentParams = {
        pageCurrent: 1,
        pageSize: 10,
        blogId: context.params.id
      };
      const pageObj = await context.store.dispatch(
        'blog/GET_COMMENTLIST',
        commentParams
      );
      const hotParams = {
        pageCurrent: 1,
        pageSize: 10,
        sections: 2
      };
      const hotObj = await context.store.dispatch(
        'blog/GET_BLOGLIST',
        hotParams
      );
      const newParams = {
        pageCurrent: 1,
        pageSize: 10,
        sections: 1
      };
      const newObj = await context.store.dispatch(
        'blog/GET_BLOGLIST',
        newParams
      );
      return {
        blogInfo,
        bolggerInfo,
        commentParams,
        pageObj,
        hotObj,
        newObj
      };
    } catch (e) {
      context.error({ message: 'User not found', statusCode: 404 });
    }
  },
  mounted() {
    console.log(this.blogInfo);
    if (
      (this.$store.state.userInfo &&
        this.bolggerInfo.bloggerUserNo === this.$store.state.userInfo.userNo) ||
      this.blogInfo.bloggerStatusId === 0
    ) {
      this.showActiveBtn = false;
    }
    if (this.blogInfo.mdContet) {
      window.Vditor.preview(
        document.getElementById('vditor-reset'),
        this.blogInfo.mdContet
      );
    }
  },
  methods: {
    goBlogger() {
      console.log(this.blogInfo);
      if (this.blogInfo.bloggerStatusId === 0) return;
      const routeData = this.$router.resolve({
        name: 'blog-blogger-id',
        params: { id: this.bolggerInfo.bloggerUserNo }
      });
      window.open(routeData.href, '_blank');
    },
    closeShare() {
      this.hideShare = true;
    },
    setLikeOrColl(opType) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      let method = likeOrColl;
      let params = {
        opType,
        weblogId: this.$route.params.id,
        userIp: '127.0.0.1',
        userTerminal: 'PC',
        userBrowser: '谷歌'
      };
      if (
        (opType === 2 && this.blogInfo.isAdmire) ||
        (opType === 1 && this.blogInfo.isCollection)
      ) {
        method = delLikeOrColl;
        params = {
          opType,
          weblogId: this.$route.params.id
        };
      }
      method(params)
        .then((res) => {
          if (opType === 2) {
            this.blogInfo.isAdmire = !this.blogInfo.isAdmire;
            if (this.blogInfo.isAdmire) {
              this.blogInfo.admireAcount++;
            } else {
              this.blogInfo.admireAcount--;
            }
          } else {
            this.blogInfo.isCollection = !this.blogInfo.isCollection;
          }
        })
        .catch(() => {});
    },
    // 改变是否关注
    changeActive(isAttention) {
      this.bolggerInfo.isAttention = !isAttention;
    },
    sendCommentOne(data) {
      data.gmtModified = data.gmtCreate;
      this.$store.commit('CHANGE_TIME', data);
      this.pageObj.list.unshift(data);
      this.blogInfo.commentAcount++;
    },
    sendCommentTwo(data) {
      const findResult = this.pageObj.list.find((item) => {
        return item.id === data.findId;
      });
      // console.log(findResult)
      if (findResult.blogCommentList) {
        findResult.blogCommentList.push(data);
      } else {
        findResult.blogCommentList = [data];
      }
    },
    loadComment(context) {
      const params = this.commentParams;
      params.pageCurrent++;
      commentList(params).then((res) => {
        const list = this.pageObj.list;
        context.loadMore = false;
        res.data.list = list.concat(res.data.list);
        this.pageObj = res.data;
      });
    }
  }
};
</script>

<style lang="scss">
.article_page {
  .vditor-reset {
    ol {
      li {
        list-style-type: decimal !important;
      }
    }
    ul {
      li {
        list-style-type: disc !important;
      }
    }
  }
}
</style>
<style lang="scss">
.article_page {
  .w100 {
    width: 100px;
  }
  .w890 {
    width: 890px;
  }
  .tip {
    position: relative;
    top: -4px;
  }
  .icon {
    font-size: 20px;
    vertical-align: middle;
  }
  .big_like {
    width: 124px;
    height: 72px;
    border-radius: 36px;
    background: rgba(213, 20, 35, 1);
    margin: 0 auto;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 16px;
    .like_icon {
      font-size: 30px;
    }
  }
  .blog_content {
    font-size: 16px;
    word-break: break-all;
    line-height: 26px;
    pre {
      margin: 10px 0;
      padding: 8px 16px 4px 20px;
      background-color: #f6f8fa;
      overflow-x: auto;
    }
  }
}
</style>
