<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="名称" prop="configName">
            <el-input v-model="form.configName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="KEY" prop="configKey">
            <el-input v-model="form.configKey" disabled class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="配置类型" prop="configType">
            <el-radio-group v-model="form.configType">
              <el-radio v-for="item in sysConfigTypeEnum" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item label="value" prop="configValue">
            <el-input v-if="form.configType === 0" v-model="form.configValue" class="form-group" placeholder="请输入参数值" />
            <wangeditor v-if="form.configType === 1" v-model="form.configValue" />
            <upload-image v-if="form.configType === 2" :image-url="form.configValue" @success="val => {form.configValue = val.url}" />
          </el-form-item>
        </el-col>
      </el-row>
      <br>
      <el-row>
        <el-col :span="12">
          <el-form-item label="备注" prop="remark">
            <el-input v-model="form.remark" type="textarea" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="允许删除" prop="allowDelete">
            <el-radio v-for="item in allowDeleteEnum" :key="item.code" v-model="form.allowDelete" size="small" :label="item.code">{{ item.desc }}</el-radio>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="form.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {sysConfigView, sysConfigEdit} from '@/api/system'
import Wangeditor from '@/components/wangeditor/wangeditor';
import UploadImage from '@/components/Upload/UploadImage';

export default {
  name: 'EditSysConfig',
  components: {Wangeditor, UploadImage},
  data() {
    return {
      form: {},
      sysConfigTypeEnum: {},
      rules: {
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        configKey: [
          {required: true, message: '请输入参数键名', trigger: 'blur'}
        ],
        configName: [
          {required: true, message: '请输入参数名称', trigger: 'blur'}
        ],
        configValue: [
          {required: true, message: '请输入参数键值', trigger: 'blur'}
        ],
        allowDelete: [
          {required: true, message: '请选择是否允许删除', trigger: 'blur'}
        ],
        configType: [
          {required: true, message: '请选择配置类型', trigger: 'blur'}
        ]
      },
      isEdit: false,
      allowDeleteEnum: []
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'AllowDeleteEnum', type: 'arr'}).then(res => {
      this.allowDeleteEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'SysConfigTypeEnum', type: 'arr'}).then(res => {
      this.sysConfigTypeEnum = res;
    });
    const view = this.$route
    this.getViewInfo(view.query.id)
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/system/sys/config/list');
      })
    },
    getViewInfo(id) {
      this.loading = true
      sysConfigView(id).then(res => {
        this.loading = false
        this.form = res.data
        this.isEdit = true;
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      sysConfigEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
