<template>
    <div>
      <div v-if="hasLive" class="main_box">
        <ul class="tabs clearfix">
          <a :class="{on: tab == 3}" @click="clicktab(3)" class="tab">全部课程</a>
          <a :class="{on: tab == 1}" @click="clicktab(1)" class="tab">审核通过</a>
          <a :class="{on: tab == 0}" @click="clicktab(0)" class="tab">审核中</a>
          <a :class="{on: tab == 2}" @click="clicktab(2)" class="tab">审核失败</a>
          <nuxt-link :to="{ name:'account-live-add' }" class="fr solid_btn">
            添加直播
          </nuxt-link>
        </ul>
        <div class="main_cont">
          <div v-if="notdata" class="notdata">
            <i class="iconfont">&#xe6be;</i>暂时没有数据
          </div>
          <table v-else class="course_table table">
            <thead>
            <tr>
              <th>课程名称</th>
              <th>是否付费</th>
              <th>价格</th>
              <th>会员价</th>
              <th>状态</th>
              <th>排序</th>
              <th>上下架</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in pageObj.list" :key="item.id">
              <td class="name">
                <img :src="item.courseLogo" class="icon" alt="">
                <p class="fr txt">
                  {{ item.courseName }}
                </p>
              </td>
              <td v-if="item.isFree" class="c_orange">
                免费
              </td>
              <td v-else class="c_orange">
                付费
              </td>
              <td class="c_red">
                ¥{{ item.courseOriginal }}
              </td>
              <td class="c_red">
                ¥{{ item.courseDiscount }}
              </td>
              <td v-if="item.auditStatus === 1" class="c_green">
                审核通过
              </td>
              <td v-else-if="item.auditStatus === 2" class="c_red">
                审核不通过
              </td>
              <td v-else class="c_blue">
                待审核
              </td>
              <td>
                {{ item.sort }}
              </td>
              <td v-if="item.isPutaway">
                <button @click="putaWay(item)" class="gray_btn">
                  课程下架
                </button>
              </td>
              <td v-else>
                <button @click="putaWay(item)" class="orange_btn">
                  课程上架
                </button>
              </td>
              <td class="operate">
                  <span>
                    <nuxt-link :to="{ name: 'account-live-add', query: { no: item.id }}" class="text_link">修改</nuxt-link>
                  </span>
                <br>
                <span>
                <a
                  @click="toggleRefExam(item)"
                  href="javascript:"
                  class="text_link"
                  >关联试卷</a
                >
              </span>
                <br>
                <span>
                    <router-link :to="'/account/live/period?no=' +item.id" class="text_link">章节管理</router-link>
                  </span>
                <br>
                <span>
                    <a v-if="item.isDelete" @click="deleteLiveCourse(item.id)" href="javascript:" class="text_link">删除</a>
                  </span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="center">
            <el-pagination
              :page-size="pageObj.pageSize"
              :current-page="pageObj.pageCurrent"
              :total="pageObj.totalCount"
              @current-change="getPage"
              class="page-panel"
              background
              hide-on-single-page
              layout="prev, pager, next">
            </el-pagination>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="person_content">
          <div v-if="applyLive" class="suc_box center">
            <img class="suc_img" src="../../../assets/image/success.svg" alt="">
            <p class="mgt20 c_333 font16">
              申请审核中...
            </p>
            <p class="mgt10 c_999 pab20">
              审核结果将在3个工作日内完成，请留意。
            </p>
            <a @click="applyLive = false" href="javascript:">返回</a>
          </div>
          <div v-else>
            <img class="nolive_img" src="../../../assets/image/no_live.png" alt="">
            <p class="no_live">
              您当前没有直播权限，请点击按钮申请
            </p>
            <a @click="getApplyLive" href="javascript:" class="solid_btn b_red go_live">申请直播</a>
          </div>
        </div>
      </div>
      <ref-exam :refType="1" :courseInfo="courseInfo" @close="toggleRefExam" v-if="isRefExam"></ref-exam>
    </div>
</template>
<script>
import { lecturerCourseList, coursePutaway, deleteCourse } from '~/api/account/course.js'
import { getLive, getTeacherInfo } from '~/api/user.js'
import refExam from '~/components/course/refExam';

export default {
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 直播管理'
    }
  },
   components: {
    refExam
  },
  data() {
    return {
      hasLive: false,
      applyLive: false,
      tab: 3,
      pageCurrent: 1,
      courseList: [],
      courseInfo: {},
      isRefExam: false,
      pageObj: {
        list: [],
        pageCurrent: 1,
        pageSize: 1,
        totalCount: 1,
        totalPage: 1
      }
    }
  },
  computed: {
    notdata() {
      return !this.pageObj.list.length
    },
    userInfo() {
      return this.$store.state.userInfo
    }
  },
  mounted() {
    this.checkLive()
    this.tab = 3
  },
  methods: {
    toggleRefExam(row) {
      if (row && row.id) {
        row.refId = row.id;
        this.courseInfo = row;
      } else {
        this.getCourseList()
      }
      this.isRefExam = !this.isRefExam;
    },
    checkLive() {
      getTeacherInfo({
        lecturerUserNo: this.userInfo.userNo
      }).then((res) => {
        console.log(res)
        if (res.data.isLive) {
          this.hasLive = true
          this.getCourseList()
        } else {
          this.hasLive = false
        }
      }).catch(() => {})
    },
    // 删除课程
    deleteLiveCourse(id) {
      this.$confirm('确认删除该课程?', '提示', {
        type: 'warning'
      }).then(() => {
        deleteCourse({ id }).then((res) => {
          this.$msgBox({ content: '删除成功', type: 'success' })
          this.getCourseList()
        }).catch(() => {})
      }).catch(() => {
        // console.log('取消')
      })
    },
    // 申请直播
    getApplyLive() {
      getLive({
        lecturerUserNo: this.userInfo.userNo
      }).then((res) => {
        console.log(res)
        this.applyLive = true
      }).catch(() => {})
    },
    getPage(int) {
      this.pageCurrent = int
      this.getCourseList()
    },
    // 课程上下架
    putaWay(item) {
      // console.log(item)
      const isp = item.isPutaway ? 0 : 1
      let txt = '确定下架该课程?'
      if (isp) {
        txt = '确定上架该课程?'
      }
      this.$confirm(txt, '提示', {
        type: 'warning'
      }).then(() => {
        coursePutaway({
          id: item.id,
          isPutaway: isp
        }).then((res) => {
          item.isPutaway = isp
          this.clicktab()
        })
      })
    },
    clicktab(int) {
      this.tab = int
      this.pageCurrent = 1
      this.getCourseList()
    },
    getCourseList() {
      const astat = this.tab === 3 ? '' : this.tab
      // console.log(astat)
      const pda = {
        auditStatus: astat,
        courseCategory: 2,
        pageCurrent: this.pageCurrent,
        lecturerUserNo: this.userInfo.userNo,
        pageSize: 20
      }
      lecturerCourseList(pda).then((res) => {
        console.log(res)
        this.pageObj = res.data
      }).catch(() => {
        this.pageObj.totalPage = 0
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .course_table{
    .name{
      width: 400px;
      .txt{
        width: 190px;
        padding-top: 12px;
        font-size: 14px;
      }
    }
    .icon{
      width: 175px;
      vertical-align: middle;
    }
  }
  .person_content {
    width: 1012px;
    min-height: 500px;
    float: right;
    background: #fff;
    border-radius: 6px;
  }
</style>
