<template>
  <div>
    <div class="main_box">
      <ul class="person_title clearfix">
        <li>第{{ num }}章</li>
      </ul>
      <div class="person_info">
        <table class="table">
          <thead>
            <tr>
              <th>序号</th>
              <th>标题</th>
              <th>是否免费</th>
              <th>开课时间</th>
              <th>结束时间</th>
              <th>状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in list">
              <tr
                v-if="item.periodDesc != 'true'"
                :key="item.id"
                v-dragging="{ item: item, list: list, group: 'color' }"
              >
                <td>{{ index + 1 }}</td>
                <td class="name">{{ item.periodName }}</td>
                <td>
                  <span v-if="item.isFree" class="c_green">免费</span>
                  <span v-else class="c_red">收费</span>
                </td>
                <td class="c_green">{{ item.startTime }}</td>
                <td class="c_green">{{ item.endTime }}</td>
                <td v-if="item.auditStatus" class="c_green">已审核</td>
                <td v-else class="c_blue">待审核</td>
                <td class="operate">
                  <div class style="width: 180px;">
                     <a
                        @click="toggleRefExam(item)"
                        href="javascript:"
                        class="text_link"
                        >关联试卷</a
                      >
                    <a @click="edit1(index)" href="javascript:void(0)" class="text_link">修改</a>
                    <a @click="del(item.id)" href="javascript:void(0)" class="text_link">删除</a>
                    <el-dropdown @command="handleCommand($event, item)">
                      <span class="el-dropdown-link text_link">
                        更多操作
                        <i class="el-icon-arrow-down el-icon--right"></i>
                      </span>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-if="item.isHasAudit = 1" command="open">设置开播</el-dropdown-item>
                        <el-dropdown-item command="doc">
                          附件管理
                          <i class="num">({{ item.docNum }})</i>
                        </el-dropdown-item>
                        <el-dropdown-item v-if="isAllowLiveUploadVideo" command="upload">回放管理</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </div>
                </td>
              </tr>
              <tr v-else :key="item.id">
                <td>{{ index + 1 }}</td>
                <td class="name">
                  <input
                    v-model="item.periodName"
                    type="text"
                    class="form_input"
                    placeholder="请输入课时名称"
                  />
                </td>
                <td>
                  <input v-model="item.isFree" type="checkbox" value="1" />
                </td>
                <td>
                  <datetime
                    v-model="item.startTime"
                    type="datetime"
                    :phrases="phrases"
                    input-class="date_input"
                    format="yyyy-MM-dd HH:mm:ss"
                  />
                </td>
                <td>
                  <datetime
                    v-model="item.endTime"
                    type="datetime"
                    :phrases="phrases"
                    input-class="date_input"
                    format="yyyy-MM-dd HH:mm:ss"
                  />
                </td>
                <td>-</td>
                <td class="operate">
                  <button :disabled="solidBtn" @click="updatas(item)" class="solid_btn b_red">保存</button>
                </td>
              </tr>
            </template>
            <tr>
              <td>{{ sort }}</td>
              <td class="name">
                <input
                  v-model="obj.periodName"
                  type="text"
                  class="form_input"
                  placeholder="请输入课时名称"
                />
              </td>
              <td>
                <input v-model="obj.isFree" type="checkbox" value="1" />
              </td>
              <td>
                <datetime
                  v-model="obj.startTime"
                  type="datetime"
                  :phrases="phrases"
                  input-class="date_input"
                  format="yyyy-MM-dd HH:mm:ss"
                />
              </td>
              <td>
                <datetime
                  id="dt1"
                  v-model="obj.endTime"
                  type="datetime"
                  :phrases="phrases"
                  input-class="date_input"
                  format="yyyy-MM-dd HH:mm:ss"
                />
              </td>
              <td>-</td>
              <td class="operate">
                <button :disabled="solidBtn" @click="addPraxis" class="solid_btn b_red">保存</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="center">
          <a @click="$router.back(-1)" href="javascript:" class="cont_btn solid_btn b_red">完成返回</a>
        </div>
      </div>
    </div>
    <div class>
      <el-dialog
        :visible.sync="dialogVisible"
        :before-close="()=>{dialogVisible = false}"
        title="选择直播场景"
        width="400px"
      >
        <div class="center">
          <el-radio-group v-model="channelObj.scene" size="medium">
            <el-radio-button
              v-for="item in sceneList"
              :key="item.value"
              :label="item.value"
              :value="item.value"
            >
{{ item.name }}
</el-radio-button>
          </el-radio-group>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false" size="small">取 消</el-button>
          <el-button @click="saveLive" type="primary" size="small">确 定</el-button>
        </span>
      </el-dialog>
    </div>
    <y-video
      v-if="showVideo"
      :open="showVideo"
      :data="videoData"
      :type="videoType"
      @hidefun="hideModal()"
    />
    <d-accessory v-if="showModal" :data="modalData" @hidefun="hideAccessory" />
    <ref-exam :refType="3" :courseInfo="courseInfo" @close="toggleRefExam" v-if="isRefExam"></ref-exam>
  </div>
</template>
<script>
import DAccessory from '~/components/account/AccessoryModal';
import YVideo from '~/components/account/VideoModal';
import refExam from '~/components/course/refExam';

import {
  chapterPraxisList,
  savePraxis,
  deletePraxis,
  updatePraxis,
  updatePraxisSort,
  channelSave
} from '~/api/account/course.js';
export default {
  components: {
    DAccessory,
    YVideo,
    refExam
  },
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 直播管理'
    };
  },
  data() {
    return {
      isAllowLiveUploadVideo: 0, // 是否允许上传直播回放视频
      tab: 1,
      num: 1,
      list: [],
      isRefExam: false,
      courseInfo: {},
      dialogVisible: false,
      solidBtn: false,
      showModal: false,
      videoType: 1,
      modalData: null,
      showVideo: false,
      videoData: null,
      obj: {
        startTime: '',
        endTime: '',
        isFree: 0,
        chapterId: 0,
        periodName: ''
      },
      phrases: {
        ok: '确定',
        cancel: '取消'
      },
      channelObj: {
        scene: 'alone',
        periodId: undefined
      },
      sort: 0,
      docUrl: ''
    };
  },
  computed: {
    isUp() {
      if (this.docUrl) {
        return false;
      } else {
        return true;
      }
    },
    userInfo() {
      return this.$store.state.userInfo;
    },
    sceneList() {
      let array = [
        {
          value: 'alone',
          name: '活动拍摄'
        },
        {
          value: 'ppt',
          name: '三分屏'
        }
      ]
      if (this.$store.state.webInfo.livePlatform === 2) {
        array = [
          {
            value: 'alone',
            name: '活动拍摄'
          },
          {
            value: 'ppt',
            name: '二分屏'
          },
          {
            value: 'largeInteractive',
            name: '大班互动'
          }
        ]
      }
      return array
    }
  },
  mounted() {
    this.num = this.$route.query.i ? this.$route.query.i : 1;
    this.courseInfo.courseId = this.$route.query.courseId;
    this.obj.chapterId = this.$route.query.no;
    this.chapterList();
    this.$dragging.$on('dragend', ({ value }) => {
      // console.log(value.list)
      this.saveSort();
    });
  },
  methods: {
     toggleRefExam(row) {
      if (row && row.id) {
        this.courseInfo.refId = row.id;
        this.courseInfo.examName = row.examName;
        this.courseInfo.courseExamRefId = row.courseExamRefId;
        this.courseInfo.examId = row.examId;
      } else {
        this.chapterList()
      }
      this.isRefExam = !this.isRefExam;
    },
    handleCommand(command, row) {
      if (command === 'open') {
        // this.openLive(row)
        this.channelObj.periodId = row.id;
        this.dialogVisible = true;
      } else if (command === 'doc') {
        this.openAccessory(row);
      } else if (command === 'upload') {
        this.videoData = {
          cNo: this.$route.query.no, // 章节ID
          pNo: row.id // 课时ID
        };
        this.videoType = 2;
        this.showVideo = true;
      }
    },
    hideModal() {
      this.showVideo = false;
      this.chapterList();
    },
    // 展开视频选择
    openVideo(id, ty) {
      this.videoData = {
        cNo: this.$route.query.no,
        pNo: id
      };
      this.videoType = ty;
      this.showVideo = true;
    },
    openAccessory(data) {
      console.log(data);
      this.modalData = { refId: data.id, isFree: data.isFree };
      this.showModal = true;
    },
    // 隐藏课件
    hideAccessory() {
      this.showModal = false;
      this.chapterList();
    },
    // 加入频道
    openLive(item) {
      // this.dialogVisible = true
      this.channelObj.periodId = item.id;
      this.$confirm('确定把该课时加入直播频道?', '提示', {
        type: 'warning'
      }).then(() => {
        this.saveLive(item);
      });
      // this.$msgBox({
      //   content: '确定把该课时加入直播频道?'
      // }).then(() => {
      //   this.saveLive(item)
      // }).catch(() => {
      // })
    },
    saveLive() {
      if (!this.channelObj.scene) {
        this.$msgBox({ content: '请选择直播场景' });
        return false;
      }
      channelSave(this.channelObj).then((res) => {
        if (res.code === 200) {
          this.$msgBox({ content: '保存成功', type: 'success' });
          this.$router.push({ name: 'account-channel' });
        }
      });
    },
    // 修改例题
    edit1(no) {
      const arr = this.list;
      const item = arr[no];
      arr[no].periodDesc = 'true';
      arr[no].startTime = new Date(item.startTime).toJSON();
      arr[no].endTime = new Date(item.endTime).toJSON();
      this.list = arr;
      // console.log(no)
    },
    // 更新例题
    updatas(data) {
      if (data.periodName === '') {
        this.$msgBox({ content: '请输入课时名称' });
        return;
      }
      if (
        new Date(data.endTime).getTime() <= new Date(data.startTime).getTime()
      ) {
        this.$msgBox({ content: '直播开始时间不能晚于直播结束时间' });
        return;
      }
      this.solidBtn = true;
      data.periodDesc = '';
      data.isFree = data.isFree ? 1 : 0;
      updatePraxis(data)
        .then((res) => {
          this.solidBtn = false;
          this.chapterList();
        })
        .catch(() => {
          this.solidBtn = false;
          this.chapterList();
        });
    },
    // 删除例题
    del(no) {
      const that = this;
      this.$confirm('你确定要删除该课时吗?', '提示', {
        type: 'warning'
      }).then(() => {
        deletePraxis({ id: no }).then(() => {
          this.$msgBox({ content: '删除成功', type: 'success' });
          that.chapterList();
        });
      });
    },
    // 例题列表
    chapterList() {
      chapterPraxisList({
        chapterId: this.$route.query.no
      })
        .then((res) => {
          console.log(res);
          this.list = res.data.userPeriodAuditList || [];
          this.isAllowLiveUploadVideo = res.data.isAllowLiveUploadVideo; // 是否允许上传直播回放视频
          this.sort = this.list.length + 1;
        })
        .catch(() => {});
    },
    // 保存排序
    saveSort() {
      // console.log(this.list)
      if (!this.list.length) {
        return;
      }
      const list = this.list.map((item) => item.id);
      console.log(list);
      updatePraxisSort({ periodIdList: list })
        .then((res) => {
          console.log(res);
          if (res.code === 200) {
            this.isSort = 1;
          }
        })
        .catch(() => {
          this.$msgBox({ content: '排序保存失败' });
        });
    },
    // 添加例题
    addPraxis() {
      if (!this.obj.periodName) {
        this.$msgBox({ content: '课时名称不能为空' });
        return;
      }
      if (!this.obj.startTime) {
        this.$msgBox({ content: '请选择开课时间' });
        return;
      }
      if (!this.obj.endTime) {
        this.$msgBox({ content: '请选择结束时间' });
        return;
      }
      if (
        new Date(this.obj.endTime).getTime() <=
        new Date(this.obj.startTime).getTime()
      ) {
        this.$msgBox({ content: '直播开始时间不能晚于直播结束时间' });
        return;
      }
      this.solidBtn = true;
      // console.log(this.obj)
      this.obj.isFree = this.obj.isFree ? 1 : 0;
      this.obj.sort = this.sort;
      savePraxis(this.obj)
        .then((res) => {
          this.solidBtn = false;
          this.chapterList();
          this.obj.periodName = '';
          this.obj.isFree = '';
          this.obj.startTime = '';
          this.obj.endTime = '';
        })
        .catch(() => {
          this.solidBtn = false;
        });
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.main_box {
  .person_body {
    margin: 30px auto 0;
    min-height: 1000px;
  }
  .person_content {
    float: right;
    background: #fff;
    border-radius: 6px;
  }
  .person_title {
    border-bottom: 1px solid rgb(242, 242, 242);
    li {
      color: #d51423;
      float: left;
      line-height: 60px;
      padding: 0 30px;
      border-bottom: 2px solid #d51423;
      font-size: 14px;
    }
  }
  .person_info {
    padding-bottom: 40px;
  }
  .name {
    .form_input {
      margin: 10px 0;
      height: 34px;
      border: 1px solid #e7e7e7;
      width: 248px;
      text-indent: 1em;
    }
  }
  .cont_btn {
    width: 280px;
    display: block;
    margin: 20px auto 0;
  }
}
</style>
<style lang="scss" rel="stylesheet/scss">
.main_box {
  .date_input {
    width: 130px;
    text-align: center;
    height: 34px;
    border: 1px solid #e7e7e7;
  }
  .upload-btn {
    button {
      font-size: 12px;
      height: 26px;
      line-height: 26px;
      width: auto;
      min-width: auto;
    }
  }
}
</style>
