<template>
	<view>
		<view class="tabs b_fff">
			<view class="tab" @tap="changeTab" data-int="1">
				<text :class="int == 1 ? 'tab_text active' : 'tab_text'">点播</text>
			</view>
			<view class="tab" @tap="changeTab" data-int="2">
				<text :class="int == 2 ? 'tab_text active' : 'tab_text'">直播</text>
			</view>
			<view class="tab" @tap="changeTab" data-int="5">
				<text :class="int == 5 ? 'tab_text active' : 'tab_text'">试卷</text>
			</view>
		</view>
		<view v-for="(item, index) in collectList" v-if="int != 5" :key="index" class="b_fff mgt8px">
			<view class="result_item">
				<image v-if="item.courseImg && item.courseCategory != 0" :src="item.courseImg" class="result_img"></image>
				<view :class="item.courseImg && item.courseCategory != 0 ? 'course_msg' : 'course_msg w100'">
					<view class="font30 c_333 break_all">
						{{item.courseName}}
						<text v-if="item.courseCategory == 1">(点播)</text>
						<text v-if="item.courseCategory == 2">(直播)</text>
					</view>
					<!-- <text class="font33 c_red">￥999</text> -->
					<view v-if="item.courseCategory == 3" class="font25 c_999">{{item.chapterName}}</view>
				</view>
			</view>
			<view class="btn_box">
				<button class="order_btn c_999" @tap="delCollect" :data-item="item" :data-id="item.id">取消收藏</button>
				<navigator class="order_btn c_999" :url="'../../course/view/view?id=' + item.courseId">进入学习</navigator>
			</view>
		</view>
		<view class="examList">
			<view class="examItem" v-for="(item, index) in examList" @click="toExam(item)" :key="index">
				{{ item.collectionName }}
			</view>
		</view>
		<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
	</view>
</template>

<script>
	// pages/user_collect/user_collect.js
	import {
		collectionList,
		collectionDelete
	} from "../../../api/course";
	import {
		collectExamList
	} from "../../../api/exam";
	const app = getApp();

	export default {
		data() {
			return {
				int: 1,
				map: {
					courseCategory: 1,
					collectionType: 1
				},
				collectList: [],
				examList: [],
				userInfo: '',
				pageCurrent: 1,
				pageSize: 20,
				totalPage: 1,
				loadMsg: '没有更多了...',
				submit: false
			};
		},

		components: {},
		props: {},

		/**
		 * 生命周期函数--监听页面加载
		 */
		onLoad: function(options) {
			// uni.hideShareMenu();
			this.setData({
				userInfo: uni.getStorageSync('userInfo')
			});
			this.getCollectList();
		},

		/**
		 * 生命周期函数--监听页面初次渲染完成
		 */
		onReady: function() {},

		/**
		 * 生命周期函数--监听页面显示
		 */
		onShow: function() {},

		/**
		 * 生命周期函数--监听页面隐藏
		 */
		onHide: function() {},

		/**
		 * 生命周期函数--监听页面卸载
		 */
		onUnload: function() {},

		/**
		 * 页面相关事件处理函数--监听用户下拉动作
		 */
		onPullDownRefresh: function() {},

		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function() {
			this.setData({
				loadMsg: '没有更多了...'
			});

			if (this.pageCurrent < this.totalPage) {
				this.setData({
					loadMsg: '加载中...',
					pageCurrent: this.pageCurrent + 1
				});
				if (this.int !== '5') {
					this.getCollectList();
				} else {
					this.getExamCollectList();
				}
			}
		},

		/**
		 * 用户点击右上角分享
		 */
		onShareAppMessage: function() {},
		methods: {
			changeTab(e) {
				this.setData({
					collectList: [],
					examList: [],
					pageCurrent: 1,
					int: e.currentTarget.dataset.int
				});
				if (this.int !== '5') {
					this.getCollectList();
				} else {
					this.getExamCollectList();
				}
			},
			toExam(data) {
				uni.navigateTo({
				    url: '/pages/exam/details?id=' + data.collectionId
				});
			},
			getExamCollectList() {
				this.collectList = [];
				collectExamList({
					pageCurrent: this.pageCurrent,
					pageSize: this.pageSize
				}).then(res => {
					this.examList = this.examList.concat(res.list)
					this.pageSize = res.pageSize;
					this.totalPage = res.totalPage;
				}).catch(() => {});
			},
			getCollectList() {
				uni.showLoading({
					title: '加载中...'
				});
				this.setData({
					map: {
						courseCategory: this.int
					}
				});
				collectionList(this.map, this.pageCurrent, this.pageSize).then(res => {
					this.setData({
						pageSize: res.pageSize,
						totalPage: res.totalPage,
						collectList: this.collectList.concat(res.list)
					});
				}).catch(() => {});
			},

			delCollect(e) {
				const item = e.currentTarget.dataset.item;
				let id;

				if (item.collectionType === 3) {
					id = item.periodId;
				} else if (item.collectionType === 2) {
					id = item.chapterId;
				} else {
					id = item.courseId;
				}

				uni.showModal({
					title: '取消收藏',
					content: '是否取消收藏该课程？',
					success: res => {
						if (res.confirm) {
							collectionDelete({
								collectionId: id,
								collectionType: item.collectionType
							}).then(res => {
								console.log(res);
								uni.showToast({
									title: '取消收藏成功'
								});
								this.setData({
									collectList: []
								});
								this.getCollectList();
							}).catch(res => {
								uni.showModal({
									title: '删除失败',
									content: res.msg
								});
								uni.hideLoading();
								this.setData({
									submit: false
								});
							});
						}
					}
				});
			}
		}
	};
</script>
<style lang="scss" scoped>
	.examList {
		.examItem {
			background-color: #fff;
			padding: 30upx;
			font-weight: 400;
			font-style: normal;
			font-size: 15px;
			margin: 20upx 30upx;
			border-radius: 10upx;
			line-height: 24px;
			color: #333333;
		}
	}

	.result_item {
		padding: 30rpx 0;
		margin: 0 20rpx;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgb(235, 235, 235);
	}

	.result_img {
		width: 49%;
		height: 208rpx;
		border-radius: 6px;
	}

	.course_msg {
		width: 49%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.btn_box {
		padding: 20rpx;
		height: 50rpx;
	}

	.order_btn {
		width: 163rpx;
		height: 55rpx;
		line-height: 55rpx;
		font-size: 25rpx;
		background: #fff;
		float: right;
		margin-left: 20rpx;
		border-radius: 6px;
		text-align: center;
		border: 1rpx solid #999;
	}

	.tabs {
		display: flex;
		width: 100%;
	}

	.tab {
		flex: 1;
		text-align: center;
	}

	.tab_text {
		display: inline-block;
		height: 94rpx;
		line-height: 94rpx;
		font-size: 33rpx;
		color: #333;
	}

	.active {
		color: #2488EC;
		border-bottom: 1px solid #2488EC;
	}

	.w100 {
		width: 100%;
	}
</style>
