<template>
  <el-dialog
    :title="title"
    top="5vh"
    :visible.sync="visible"
    width="75%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="100px">
      <el-form-item label="是否置顶" prop="isTop">
        <el-radio v-for="item in isDefaultList" :key="item.code" v-model="form.isTop" :label="item.code">{{ item.desc }}</el-radio>
      </el-form-item>
      <el-form-item label="短信标题" prop="msgTitle">
        <el-input v-model="form.msgTitle" class="form-group" />
      </el-form-item>
      <el-form-item label="短信内容" prop="msgText">
        <wangeditor v-if="visible" v-model="form.msgText" :height="200" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import {msgEdit} from '@/api/user'
import Wangeditor from '@/components/wangeditor/wangeditor';

export default {
  name: 'EditMsg',
  components: {Wangeditor},
  props: {
    title: {
      type: String,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    },
    info: {
      type: Object,
      default: () => {
      }
    }
  },
  data() {
    return {
      form: {},
      rules: {
        msgTitle: [
          {required: true, message: '请输入短信标题', trigger: 'blur'}
        ],
        msgText: [
          {required: true, message: '请输入短信内容', trigger: 'blur'}
        ],
        isTop: [
          {required: true, message: '请选择是否置顶', trigger: 'blur'}
        ]
      },
      isDefaultList: []
    }
  },
  watch: {
    visible: function(val) {
      if (val) {
        this.form = {
          id: this.info.id,
          msgTitle: this.info.msgTitle,
          isTop: this.info.isTop,
          msgText: this.info.msgText
        }
      }
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'IsDefaultEnum', type: 'arr'}).then(res => {
      this.isDefaultList = res;
    });
  },
  methods: {
    handleClose() {
      this.form = {};
      this.isEdit = false;
      this.$emit('close');
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      msgEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
