<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item>
        <el-button v-if="checkPermission('sysConfigAdd')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
        <el-button v-if="checkPermission('sysConfigDeleteRedis')" plain type="danger" size="mini" @click="handleDeleteRedisRow">清空缓存</el-button>
      </el-form-item>
    </el-form>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="站点设置" name="1">
        <el-table
          :data="list"
          size="medium"
          element-loading-text="Loading"
          fit
          highlight-current-row
        >
          <el-table-column label="配置名称" prop="configName" width="250">
            <template slot-scope="scope">
              <span>{{ scope.row.configName }}</span>
              <el-tooltip class="item" effect="light" :content="scope.row.configKey" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="参数/描述" prop="configValue">
            <template slot-scope="scope">
              <span v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 0">{{ scope.row.configValue }}</span>
              <el-button v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 1" type="text" @click="openRow(scope.row)">
                【点击查看详情】
              </el-button>
              <img v-if="scope.row.configType === 3" :src="scope.row.configValue" alt="scope.row.configName">
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'videoType'">
                {{ videoTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'fileStorageType'">
                {{ fileStorageTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'vodPlatform'">
                {{ vodPlatformEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'livePlatform'">
                {{ livePlatformEnum[scope.row.configValue] }}
              </span>
              <br>
              <span style="color:#999">{{ scope.row.remark }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="220">
            <template slot-scope="scope">
              <!--      布尔类型        -->
              <el-switch
                v-if="scope.row.configType === 4  && checkPermission('sysConfigEdit') "
                v-model="scope.row.configValue"
                :disabled="!checkPermission('sysConfigEdit')"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-value="1"
                inactive-value="0"
                active-text="开启"
                inactive-text="关闭"
                @change="changBooleanValue(scope.row)"
              />
              <el-tooltip v-if="scope.row.configType === 4" class="item" effect="light" content="功能介绍" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
              <!--   不为布尔类型，且有编辑权限，显示编辑按钮           -->
              <el-button v-if="scope.row.configType != 4 && checkPermission('sysConfigEdit')" type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page="page.pageCurrent"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount"
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </el-tab-pane>
      <el-tab-pane label="系统设置" name="2">
        <el-table
          :data="list"
          size="medium"
          element-loading-text="Loading"
          fit
          highlight-current-row
        >
          <el-table-column label="配置名称" prop="configName" width="250">
            <template slot-scope="scope">
              <span>{{ scope.row.configName }}</span>
              <el-tooltip class="item" effect="light" :content="scope.row.configKey" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="参数/描述" prop="configValue">
            <template slot-scope="scope">
              <span v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 0">{{ scope.row.configValue }}</span>
              <el-button v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 1" type="text" @click="openRow(scope.row)">
                【点击查看详情】
              </el-button>
              <img v-if="scope.row.configType === 3" :src="scope.row.configValue" alt="scope.row.configName">
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'videoType'">
                {{ videoTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'fileStorageType'">
                {{ fileStorageTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'vodPlatform'">
                {{ vodPlatformEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'livePlatform'">
                {{ livePlatformEnum[scope.row.configValue] }}
              </span>
              <br>
              <span style="color:#999">{{ scope.row.remark }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="220">
            <template slot-scope="scope">
              <!--      布尔类型        -->
              <el-switch
                v-if="scope.row.configType === 4"
                v-model="scope.row.configValue"
                :disabled="!checkPermission('sysConfigEdit')"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-value="1"
                inactive-value="0"
                active-text="开启"
                inactive-text="关闭"
                @change="changBooleanValue(scope.row)"
              />
              <el-tooltip v-if="scope.row.configType === 4" class="item" effect="light" content="功能介绍" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
              <!--   不为布尔类型，且有编辑权限，显示编辑按钮           -->
              <el-button v-if="scope.row.configType != 4 && checkPermission('sysConfigEdit')" type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page="page.pageCurrent"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount"
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </el-tab-pane>
      <el-tab-pane label="微信设置" name="3">
        <el-table
          :data="list"
          size="medium"
          element-loading-text="Loading"
          fit
          highlight-current-row
        >
          <el-table-column label="配置名称" prop="configName" width="250">
            <template slot-scope="scope">
              <span>{{ scope.row.configName }}</span>
              <el-tooltip class="item" effect="light" :content="scope.row.configKey" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="参数/描述" prop="configValue">
            <template slot-scope="scope">
              <span v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 0">{{ scope.row.configValue }}</span>
              <el-button v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 1" type="text" @click="openRow(scope.row)">
                【点击查看详情】
              </el-button>
              <img v-if="scope.row.configType === 3" :src="scope.row.configValue" alt="scope.row.configName">
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'videoType'">
                {{ videoTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'fileStorageType'">
                {{ fileStorageTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'vodPlatform'">
                {{ vodPlatformEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'livePlatform'">
                {{ livePlatformEnum[scope.row.configValue] }}
              </span>
              <br>
              <span style="color:#999">{{ scope.row.remark }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="220">
            <template slot-scope="scope">
              <!--      布尔类型        -->
              <el-switch
                v-if="scope.row.configType === 4"
                v-model="scope.row.configValue"
                :disabled="!checkPermission('sysConfigEdit')"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-value="1"
                inactive-value="0"
                active-text="开启"
                inactive-text="关闭"
                @change="changBooleanValue(scope.row)"
              />
              <el-tooltip v-if="scope.row.configType === 4" class="item" effect="light" content="功能介绍" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
              <!--   不为布尔类型，且有编辑权限，显示编辑按钮           -->
              <el-button v-if="scope.row.configType != 4 && checkPermission('sysConfigEdit')" type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page="page.pageCurrent"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount"
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </el-tab-pane>
      <el-tab-pane label="阿里云设置" name="4">
        <el-table
          :data="list"
          size="medium"
          element-loading-text="Loading"
          fit
          highlight-current-row
        >
          <el-table-column label="配置名称" prop="configName" width="250">
            <template slot-scope="scope">
              <span>{{ scope.row.configName }}</span>
              <el-tooltip class="item" effect="light" :content="scope.row.configKey" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="参数/描述" prop="configValue">
            <template slot-scope="scope">
              <span v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 0">{{ scope.row.configValue }}</span>
              <el-button v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 1" type="text" @click="openRow(scope.row)">
                【点击查看详情】
              </el-button>
              <img v-if="scope.row.configType === 3" :src="scope.row.configValue" alt="scope.row.configName">
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'videoType'">
                {{ videoTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'fileStorageType'">
                {{ fileStorageTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'vodPlatform'">
                {{ vodPlatformEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'livePlatform'">
                {{ livePlatformEnum[scope.row.configValue] }}
              </span>
              <br>
              <span style="color:#999">{{ scope.row.remark }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="220">
            <template slot-scope="scope">
              <!--      布尔类型        -->
              <el-switch
                v-if="scope.row.configType === 4"
                v-model="scope.row.configValue"
                :disabled="!checkPermission('sysConfigEdit')"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-value="1"
                inactive-value="0"
                active-text="开启"
                inactive-text="关闭"
                @change="changBooleanValue(scope.row)"
              />
              <el-tooltip v-if="scope.row.configType === 4" class="item" effect="light" content="功能介绍" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
              <!--   不为布尔类型，且有编辑权限，显示编辑按钮           -->
              <el-button v-if="scope.row.configType != 4 && checkPermission('sysConfigEdit')" type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page="page.pageCurrent"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount"
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </el-tab-pane>
      <el-tab-pane label="保利威设置" name="5">
        <el-table
          :data="list"
          size="medium"
          element-loading-text="Loading"
          fit
          highlight-current-row
        >
          <el-table-column label="配置名称" prop="configName" width="250">
            <template slot-scope="scope">
              <span>{{ scope.row.configName }}</span>
              <el-tooltip class="item" effect="light" :content="scope.row.configKey" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="参数/描述" prop="configValue">
            <template slot-scope="scope">
              <span v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 0">{{ scope.row.configValue }}</span>
              <el-button v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 1" type="text" @click="openRow(scope.row)">
                【点击查看详情】
              </el-button>
              <img v-if="scope.row.configType === 3" :src="scope.row.configValue" alt="scope.row.configName">
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'videoType'">
                {{ videoTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'fileStorageType'">
                {{ fileStorageTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'vodPlatform'">
                {{ vodPlatformEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'livePlatform'">
                {{ livePlatformEnum[scope.row.configValue] }}
              </span>
              <br>
              <span style="color:#999">{{ scope.row.remark }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="220">
            <template slot-scope="scope">
              <!--      布尔类型        -->
              <el-switch
                v-if="scope.row.configType === 4"
                v-model="scope.row.configValue"
                :disabled="!checkPermission('sysConfigEdit')"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-value="1"
                inactive-value="0"
                active-text="开启"
                inactive-text="关闭"
                @change="changBooleanValue(scope.row)"
              />
              <el-tooltip v-if="scope.row.configType === 4" class="item" effect="light" content="功能介绍" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
              <!--   不为布尔类型，且有编辑权限，显示编辑按钮           -->
              <el-button v-if="scope.row.configType != 4 && checkPermission('sysConfigEdit')" type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page="page.pageCurrent"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount"
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </el-tab-pane>
      <el-tab-pane label="欢拓云设置" name="6">
        <el-table
          :data="list"
          size="medium"
          element-loading-text="Loading"
          fit
          highlight-current-row
        >
          <el-table-column label="配置名称" prop="configName" width="250">
            <template slot-scope="scope">
              <span>{{ scope.row.configName }}</span>
              <el-tooltip class="item" effect="light" :content="scope.row.configKey" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="参数/描述" prop="configValue">
            <template slot-scope="scope">
              <span v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 0">{{ scope.row.configValue }}</span>
              <el-button v-if="(scope.row.configType === 1 || scope.row.configType === 2) && scope.row.isHidden === 1" type="text" @click="openRow(scope.row)">
                【点击查看详情】
              </el-button>
              <img v-if="scope.row.configType === 3" :src="scope.row.configValue" alt="scope.row.configName">
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'videoType'">
                {{ videoTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'fileStorageType'">
                {{ fileStorageTypeEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'vodPlatform'">
                {{ vodPlatformEnum[scope.row.configValue] }}
              </span>
              <span v-if="scope.row.configType === 5 && scope.row.configKey === 'livePlatform'">
                {{ livePlatformEnum[scope.row.configValue] }}
              </span>
              <br>
              <span style="color:#999">{{ scope.row.remark }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="220">
            <template slot-scope="scope">
              <!--      布尔类型        -->
              <el-switch
                v-if="scope.row.configType === 4"
                v-model="scope.row.configValue"
                :disabled="!checkPermission('sysConfigEdit')"
                active-color="#13ce66"
                inactive-color="#ff4949"
                active-value="1"
                inactive-value="0"
                active-text="开启"
                inactive-text="关闭"
                @change="changBooleanValue(scope.row)"
              />
              <el-tooltip v-if="scope.row.configType === 4" class="item" effect="light" content="功能介绍" placement="top-start">
                <svg-icon class="svg-icon" icon-class="svg-icon-info" />
              </el-tooltip>
              <!--   不为布尔类型，且有编辑权限，显示编辑按钮           -->
              <el-button v-if="scope.row.configType != 4 && checkPermission('sysConfigEdit')" type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-pagination
          :current-page="page.pageCurrent"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount"
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </el-tab-pane>
      <sys-config-value
        v-if="sysConfigValueCtr.visible"
        :title="sysConfigValueCtr.title"
        :value="sysConfigValueCtr.value"
        :visible="sysConfigValueCtr.visible"
        @close-callback="closeCallback"
      />
      <sys-config-edit
        v-if="sysConfigEditCtr.visible"
        :width="sysConfigEditCtr.width"
        :title="sysConfigEditCtr.title"
        :value="sysConfigEditCtr.value"
        :form-data="sysConfigEditCtr.info"
        :visible="sysConfigEditCtr.visible"
        @close-callback="closeCallback"
      />
      <sys-config-add
        :title="sysConfigAddCtr.title"
        :visible="sysConfigAddCtr.visible"
        @close-callback="closeCallback"
      />
    </el-tabs>
  </div>
</template>
<script>
  import {
    sysConfigPage,
    sysConfigDelete,
    sysConfigUpdateStatus,
    sysConfigDeleteRedis, sysConfigEdit
  } from '@/api/system'
  import SysConfigAdd from '@/views/system/sysParamConfig/add/index';
  import SysConfigValue from '@/views/system/sysParamConfig/value/index';
  import SysConfigEdit from '@/views/system/sysParamConfig/edit/index';

  export default {
    components: { SysConfigValue, SysConfigEdit, SysConfigAdd },
    data() {
      return {
        activeName: '1',
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 100,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        allowDeleteEnum: [],
        statusIdEnum: [],
        videoTypeEnum: [],
        fileStorageTypeEnum: [],
        vodPlatformEnum: [],
        livePlatformEnum: [],
        map: {
          infoCategory: 1
        },
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        sysConfigValueCtr: {
          title: '查看配置',
          value: undefined,
          visible: false
        },
        sysConfigEditCtr: {
          width: '65%',
          title: undefined,
          value: undefined,
          visible: false,
          info: {}
        },
        sysConfigAddCtr: {
          title: undefined,
          visible: false
        },
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'VideoTypeEnum', type: 'obj' }).then(res => {
        this.videoTypeEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'FileStorageTypeEnum', type: 'obj' }).then(res => {
        this.fileStorageTypeEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'VodPlatformEnum', type: 'obj' }).then(res => {
        this.vodPlatformEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'LivePlatformEnum', type: 'obj' }).then(res => {
        this.livePlatformEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'AllowDeleteEnum', type: 'obj' }).then(res => {
        this.allowDeleteEnum = res;
      })
      this.listForPage()
    },
    created() {
      this.listForPage()
    },
    methods: {
      changBooleanValue(row) {
        this.loading = true;
        sysConfigEdit({id: row.id, configValue: row.configValue}).then(res => {
          this.loading = false;
          this.tips(res.data, 'success');
          this.handleClose('close-callback')
        }).catch(() => {
          this.loading = false
        })
      },
      handleClick(tab, event) {
        if (this.activeName === 'all') {
          this.map.infoCategory = null
        } else {
          this.map.infoCategory = this.activeName
        }
        this.listForPage()
      },
      openRow(row) {
        this.sysConfigValueCtr.title = row.configName;
        this.sysConfigValueCtr.value = row.configValue;
        this.sysConfigValueCtr.visible = true;
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.configName + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysConfigDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRedisRow() {
        {
          const body = '确定要清空缓存？'
          this.$confirm(body, '清空确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysConfigDeleteRedis({}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      closeCallback() {
        this.sysConfigValueCtr.visible = false;
        this.sysConfigEditCtr.visible = false;
        this.sysConfigAddCtr.visible = false;
        this.handleReset()
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          infoCategory: 1
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.sysConfigAddCtr.title = '添加参数配置';
        this.sysConfigAddCtr.visible = true;
      },
      handleUpdateRow(row) { // 1:文本;2:富文本,3图片
        console.info(row)
        this.sysConfigEditCtr.title = row.configName;
        this.sysConfigEditCtr.info = row;
        this.sysConfigEditCtr.visible = true;
        if (row.configType === 1) {
          this.sysConfigEditCtr.width = '40%'
        } else if (row.configType === 2) {
          this.sysConfigEditCtr.width = '80%'
        } else if (row.configType === 3) {
          this.sysConfigEditCtr.width = '250px'
        } else {
          this.sysConfigEditCtr.width = '40%'
        }
      },
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.configName + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.configName + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysConfigUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        sysConfigPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
<style scoped>
  img {
    max-width: 100px;
  }
</style>
