<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="支付名称">
        <el-input v-model="map.payChannelName" placeholder="" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('AddPayRule')" type="success" plain size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="listLoading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />

      <el-table-column label="支付名称">
        <template slot-scope="scope">
          {{ scope.row.payChannelName }}
        </template>
      </el-table-column>
      <el-table-column label="支付类型">
        <template slot-scope="scope">
          {{ payTypeEnum[scope.row.payType] }}
        </template>
      </el-table-column>
      <el-table-column label="修改时间" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.gmtModified }}</span>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="状态" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-success': scope.row.statusId === 1, 'c-danger': scope.row.statusId === 0}">{{ statusIdEnum[scope.row.statusId] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="优先等级" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.channelPriority }}</span>
        </template>
      </el-table-column>

      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('payRuleView')" type="primary" plain size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="scope.row.statusId === 0 && checkPermission('sysRoleUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('sysRoleUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('payRuleDelete')" type="danger" plain size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-pay-rule :title="addCtr.title" :visible="addCtr.visible" @close="closeAdd" />
    <edit-pay-rule :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="closeEdit" />
  </div>
</template>

<script>
  import { payRulePage, payRuleDelete, payRuleView, payRuleUpdateStatus } from '@/api/user'
  import AddPayRule from '@/views/user/payRule/add/index'
  import EditPayRule from '@/views/user/payRule/edit/index'

  export default {
    components: { AddPayRule, EditPayRule },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        payTypeEnum: [],
        statusIdEnum: [],
        listLoading: true,
        addCtr: {
          title: '添加支付路由',
          visible: false
        },
        editCtr: {
          title: '修改支付路由',
          visible: false,
          info: {}
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'PayTypeEnum', type: 'obj' }).then(res => {
        this.payTypeEnum = res;
      })
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '是否删除【' + row.payChannelName + '】该路由？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            payRuleDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.addCtr.visible = true;
      },
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.payChannelName + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.payChannelName + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            payRuleUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      closeAdd() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.addCtr.visible = false;
      },
      handleUpdateRow(id) {
        payRuleView(id).then(res => {
          this.editCtr.info = res.data;
          this.editCtr.visible = true;
        })
      },
      closeEdit() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.editCtr.visible = false;
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.listLoading = true
        payRulePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
          this.listLoading = false
        })
      }
    }
  }
</script>
