<template>
  <div>
    <div class="container mgt30 pdb30">
      <div class="fl w750">
        <y-banner v-if="bannerList.length" :banner-list="bannerList" />
        <y-info-list
          :list="classList"
          :page-obj="pageObj"
          @changeTab="changeTab"
          @changePage="changePage"
        />
      </div>
      <div class="fr w430">
        <y-recommend-list :zone-data="zoneData" />
        <div class="mgt20">
          <y-hot-recommend class="w430" v-affix :list="hotList" />
        </div>
      </div>
    </div>
    <right-tap />
  </div>
</template>
<script>
import YInfoList from '~/components/information/InfoList'
import YBanner from '~/components/information/Banner'
import YRecommendList from '~/components/information/RecommendList'
import YHotRecommend from '~/components/information/HotRecommend'
import RightTap from '~/components/common/RightTap'
import { searchBlog } from '~/api/blog/community.js'
export default {
  components: {
    YInfoList,
    YHotRecommend,
    RightTap,
    YBanner,
    YRecommendList
  },
  head() {
    return {
      title: this.$store.state.clientData.name,
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.keyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.desc
        }
      ]
    }
  },
  data() {
    return {
      params: {
        tagsName: '',
        pageCurrent: 1,
        pageSize: 20,
        articleType: 2
      }
    }
  },
  async asyncData(context) {
    try {
      const obj = {
        dataObj: {}
      }
      const advParams = {
        platShow: 1,
        advLocation: 3
      }
      const advList = await context.store.dispatch('main/getAdvList', advParams)
      obj.dataObj.bannerList = advList.data.advList || []
      const zoneParams = {
        pageSize: 3,
        pageCurrent: 1,
        platShow: 1
      }
      const zoneData = await context.store.dispatch(
        'blog/GET_ZONEINFO',
        zoneParams
      )
      obj.dataObj.zoneData = zoneData.list
      const classList = await context.store.dispatch('blog/GET_TABLIST', {
        question: true,
        labelType: 3
      })
      obj.dataObj.classList = classList
      const params = {
        pageCurrent: 1,
        tagsName: '',
        pageSize: 20,
        articleType: 2
      }
      // obj.dataObj.params = obj.params// 首次点击加载更多参数
      const pageObj = await context.store.dispatch('blog/GET_BLOGLIST', params)
      obj.dataObj.pageObj = pageObj
      const hotParams = {
        pageCurrent: 1,
        pageSize: 10,
        articleType: 2
      }
      const hotObj = await context.store.dispatch('blog/GET_HOTINFO', hotParams)
      obj.dataObj.hotList = hotObj.list
      return obj.dataObj
    } catch (e) {
      // console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  methods: {
    // 切换分类
    changeTab(tagsName) {
      this.params.tagsName = tagsName || ''
      this.params.pageCurrent = 1
      if (this.params.title) {
        this.getSearchList()
      } else {
        this.getList()
      }
    },
    // 切换分页
    changePage(int) {
      this.params.pageCurrent = int
      if (this.params.title) {
        this.getSearchList()
      } else {
        this.getList()
      }
    },
    // 搜索
    goSearch(title) {
      this.params.title = title || ''
      this.params.pageCurrent = 1
      this.params.isHfield = 1
      this.getSearchList()
    },
    getSearchList() {
      this.$store.commit('LOADING_START')
      searchBlog(this.params).then(res => {
        this.pageObj = res.data
        this.$store.commit('LOADING_FINISH')
      })
    },
    getList() {
      this.$store.commit('LOADING_START')
      this.$store.dispatch('blog/GET_BLOGLIST', this.params).then(res => {
        this.pageObj = res
        this.$store.commit('LOADING_FINISH')
      })
    }
  }
}
</script>
<style lang="scss">
.w750 {
  width: 750px;
}
.w430 {
  width: 430px;
}
.pdb30 {
  padding-bottom: 30px;
}
.info_title {
  font-size: 16px;
  color: #333;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid rgba(226, 226, 226, 1);
}
</style>
