<template>
  <div class="app-container record-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="100px">
      <el-form-item label="评论人名称" prop="nickname">
        <el-input v-model="form.nickname" :disabled="editData.id" />
      </el-form-item>
      <el-form-item label="评论内容" prop="content">
        <wangeditor v-model="form.content" />
      </el-form-item>
    </el-form>
    <div class="btn-lists">
      <el-button type="danger" @click="close">取消</el-button>
      <el-button type="success" @click="submit">提交</el-button>
    </div>
  </div>
</template>
<script>
  import wangeditor from '@/components/wangeditor/wangeditor';
  import {AddCourseCommentList, editCourseCommentList} from '@/api/course';

  export default {
    name: 'RecordContainer',
    components: {
      wangeditor
    },
    props: {
      editData: {
        type: Object,
        default() {
          return {};
        }
      },
      courseId: {
        type: String,
        default() {
          return '';
        }
      },
      parentId: {
        type: String,
        default() {
          return '';
        }
      }
    },
    data() {
      return {
        form: {
          nickname: '',
          content: ''
        },
        rules: {
          content: [
            {required: true, message: '请输入评论内容', trigger: 'blur'}
          ],
          nickname: [
            {required: true, message: '请输入评论人名称', trigger: 'blur'}
          ]
        }
      };
    },
    mounted() {
      if (this.editData && this.editData.id) {
        setTimeout(() => {
          this.form = this.editData;
        }, 20)
      }
    },
    methods: {
      submit() {
        this.$refs.form.validate((valid) => {
          if (valid) {
            if (this.form.id) {
              editCourseCommentList(this.form).then((res) => {
                this.$message({
                  message: '修改成功',
                  type: 'success'
                });
                this.$emit('updateList')
                this.close();
              });
            } else {
              this.form.courseId = this.courseId;
              if (this.parentId) {
                this.form.parentId = this.parentId
              }
              AddCourseCommentList(this.form).then((res) => {
                this.$message({
                  message: '添加成功',
                  type: 'success'
                });
                this.close();
                this.$emit('updateList')
              });
            }
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      close() {
        this.$emit('close');
      }
    }
  };
</script>
<style lang="scss" scoped>
  .record-container {
    .btn-lists {
      text-align: center;
    }
  }
</style>

