<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="频道号" prop="channelId">
            <el-input v-model="form.channelId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="回放" prop="playback">
            <el-input v-model="form.playback" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课时名称" prop="periodName">
            <el-input v-model="form.periodName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="保利威视类型ID" prop="polyvCategoryId">
            <el-input v-model="form.polyvCategoryId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="失败次数" prop="failCount">
            <el-input v-model="form.failCount" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">立即创建</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {crontabPlanPolyvSave} from '@/api/course'

export default {
  name: 'AddCrontabPlanPolyv',
  data() {
    return {
      form: {},
      opts: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        channelId: [
          {required: true, message: '请输入频道号', trigger: 'blur'}
        ],
        playback: [
          {required: true, message: '请输入回放', trigger: 'blur'}
        ],
        periodName: [
          {required: true, message: '请输入课时名称', trigger: 'blur'}
        ],
        polyvCategoryId: [
          {required: true, message: '请输入保利威视类型ID', trigger: 'blur'}
        ],
        failCount: [
          {required: true, message: '请输入失败次数', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/crontab/plan/polyv/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      crontabPlanPolyvSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
