<template>
  <div class="resource_page">
    <y-header-list :class-list="classList" :four-now="free" :course-type="'resource'" />
    <div class="container clearfix mgt30">
      <div class="resource-left fl">
        <y-resource-left v-affix style="width: 280px;" />
      </div>
      <div class="resource_box fr">
        <div class="resource_body">
          <ResourceList :list="pageObj.list"></ResourceList>
          <br />
          <div class="center" style="margin: 20px 0 16px;">
            <el-pagination
              :page-size="pageObj.pageSize"
              :current-page="pageObj.pageCurrent"
              :total="pageObj.totalCount"
              @current-change="getPage"
              class="page-panel"
              background
              layout="prev, pager, next"
            ></el-pagination>
          </div>
        </div>
      </div>
    </div>
    <right-tap />
  </div>
</template>
<script>
import YHeaderList from '~/components/HeaderList'
import RightTap from '~/components/common/RightTap'
import { courseList, getClassList, searchCourse } from '~/api/course.js'
import { courseChange } from '~/utils/commonfun.js'
import YResourceLeft from '~/components/resource/ResourceLeft'
import ResourceList from '~/components/resource/ResourceList'
export default {
  components: {
    YHeaderList,
    YResourceLeft,
    RightTap,
    ResourceList
  },
  head() {
    return {
      title: this.$store.state.clientData.name,
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.keyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.desc
        }
      ]
    }
  },
  data() {
    return {
      courseName: '',
      free: '',
      classList: []
    }
  },
  watch: {
    $route() {
      courseChange(this)
      this.getCourse()
    }
  },
  async asyncData(context) {
    const dataObj = {}
    const clientNo = context.store.state.clientData.no
    dataObj.clientNo = clientNo
    dataObj.webInfo = context.store.state.webInfo
    const categoryId1 = context.query.categoryno1 || ''
    const categoryId2 = context.query.categoryno2 || ''
    const categoryId3 = context.query.categoryno3 || ''
    let isFree = ''
    let free = 3
    let isVipFree = ''
    if (context.query.four) {
      const four = context.query.four
      if (parseInt(four) === 3) {
        isFree = ''
        isVipFree = ''
        free = 3
      } else if (parseInt(four) === 2) {
        isFree = 0
        isVipFree = ''
        free = 2
      } else if (parseInt(four) === 1) {
        isFree = 1
        isVipFree = ''
        free = 1
      } else if (parseInt(four) === 4) {
        isVipFree = 1
        isFree = ''
        free = 4
      }
    } else {
      isFree = ''
      free = 3
    }
    const obj = {
      courseCategory: 4,
      categoryId1,
      categoryId2,
      categoryId3,
      orgNo: clientNo,
      pageCurrent: 1,
      pageSize: 20,
      isFree,
      isVipFree
    }
    let pageObj = {
      list: [],
      pageCurrent: '',
      pageSize: '',
      totalCount: '',
      totalPage: ''
    }
    try {
      const allData = await Promise.all([
        courseList(obj),
        getClassList({ categoryType: 4 })
      ])
      // 课程列表
      const courseData = allData[0]
      // console.log(courseData)
      if (courseData.data.list.length > 0) {
        pageObj = courseData.data
      }
      // 分类
      const classData = await allData[1]
      let classList = []
      if (classData.code === 200) {
        classList = classData.data.courseCategoryList
      }
      dataObj.obj = obj
      dataObj.pageObj = pageObj
      dataObj.classList = classList
      dataObj.free = free
      return dataObj
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    console.log(this.pageObj)
    courseChange(this)
    if (this.$route.query.free) {
      this.obj.isFree = 1
      this.free = 1
    }
  },
  methods: {
    searchCourse() {
      searchCourse(this.obj)
        .then(res => {
          if (res.data.list.length > 0) {
            this.pageObj = res.data
          } else {
            this.pageObj = {}
          }
        })
        .catch(() => {
          this.pageObj = {}
        })
    },
    getCourse() {
      courseList(this.obj)
        .then(res => {
          if (res.data.list.length > 0) {
            this.pageObj = res.data
          } else {
            this.pageObj = {}
          }
        })
        .catch(() => {
          this.pageObj = {}
        })
    },
    getPage(int) {
      window.scrollTo(0, 0)
      this.obj.pageCurrent = int
      if (this.obj.courseName) {
        this.searchCourse()
      } else {
        this.getCourse()
      }
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
.resource_page {
  .resource-left {
    width: 280px;
  }

  
  .resource_box {
    width: 900px;
    margin: 0 auto 30px;
    background: #fff;
    border-radius: 6px;
    font-size: 14px;
    .arrow_r {
      position: relative;
      &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: 8px;
        left: 6px;
      }
    }
    .arrow_l {
      position: relative;
      &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        display: block;
        position: absolute;
        transform: rotate(-135deg);
        top: 8px;
        left: 10px;
      }
    }
  }
  .resource_header {
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 10px 15px;
    .page_num {
      color: #999;
      padding: 0 10px;
      margin-top: 5px;
      position: relative;
      top: -9px;
    }
    .page_btn {
      display: inline-block;
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      border-radius: 4px;
      border: 1px solid #ccc;
      color: #ccc;
      cursor: pointer;
      margin-top: 5px;
    }
    .search_box {
      position: relative;
      .is_search {
        width: 214px;
        padding: 0 36px 0 10px;
        height: 36px;
        border: 1px solid #ccc;
        border-radius: 18px;
        font-size: 14px;
      }
      .search_icon {
        position: absolute;
        color: #fff;
        right: 0px;
        top: 0px;
        text-align: center;
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 26px;
        background: rgb(242, 242, 242);
        border-radius: 0 18px 18px 0;
        cursor: pointer;
        &:hover {
          background: #d51423;
        }
      }
    }
  }
}
</style>
