<template>
<!--components/classList/class.wxml-->
<view class="class_list">
  <view class="header_box">
    <view :class="'class_header ' + (ctrl.optionVisible == '3' ? 'c_blue' : '')" @tap="showOption" data-type="3">
      {{className}}
      <view class="down"></view>
    </view>
    <view :class="'class_header ' + (ctrl.optionVisible == '2' ? 'c_blue' : '')" @tap="showOption" data-type="2" v-if="showPrice">
      {{freeName}}
      <view class="down"></view>
    </view>
  </view>
  <!-- 选择课程分类 -->
  <view class="class_box" v-if="isClass" @tap="showOption" data-type="0">
  <!-- 一级分类 -->
    <scroll-view scroll-y="true" class="class_items">
      <view :class="'class_item ' + (map.categoryId1 ? '' : 'c_blue')" @tap.stop="selectCate" :data-cate="'{floor: 1}'">全部</view>
      <view v-for="(item, index) in classList" :key="index" :class="'class_item ' + (map.categoryId1 === item.id ? 'c_blue' : '')" @tap.stop="selectCate" :data-cate="item">{{item.categoryName}}</view>
    </scroll-view>
    <!-- 二级分类 -->
    <scroll-view scroll-y="true" class="class_items" v-if="twoClassList.length">
      <view :class="'class_item ' + (!!map.categoryId2 ? '' : 'c_blue')" @tap.stop="selectCate" :data-cate="'{floor: 2}'">全部</view>
      <view v-for="(item, index) in twoClassList" :key="index" :class="'class_item ' + (map.categoryId2 === item.id ? 'c_blue' : '')" @tap.stop="selectCate" :data-cate="item">{{item.categoryName}}</view>
    </scroll-view>
    <!-- 三级分类 -->
    <scroll-view scroll-y="true" class="class_items" v-if="threeList.length">
      <view :class="three ? 'class_item' : 'class_item c_blue'" @tap.stop="changeThree">全部</view>
      <view v-for="(item, index) in threeList" :key="index" :class="three === item.categoryNo ? 'class_item c_blue' : 'class_item'" @tap.stop="changeThree" :data-three="item.categoryNo" :data-name="item.categoryName">{{item.categoryName}}</view>
    </scroll-view>
  </view>
  <!-- 是否免费 -->
  <scroll-view scroll-y="true" class="free_box" v-if="ctrl.optionVisible == 2" @tap="showOption" data-type="0">
    <view class="free_item" data-name="是否免费" @tap="selectOption">全部</view>
    <view v-for="(item, index) in opts.free" :key="index" :class="'free_item ' + (item.val == map.isFree? 'c_blue': '')" @tap="selectOption" :data-free="item.val" :data-name="item.key">{{item.key}}</view>
  </scroll-view>
</view>
</template>

<script>
// components/classList/class.js
import * as apis from "../../api/course";
/**
 * 课程类型筛选
 * @param classchange 选择筛选回调
 */

export default {
  data() {
    return {
      className: '分类',
      freeName: '是否免费',
      classList: [],
      twoClassList: [],
      threeClassList: [],
      map: {
        courseCategory: 3,
        categoryId1: '',
        categoryId2: '',
        categoryId3: '',
        isFree: ''
      },
      ctrl: {
        optionVisible: 0
      },
      opts: {
        free: [{
          key: '免费',
          val: '1'
        }, {
          key: '收费',
          val: '0'
        }]
      }
    };
  },

  components: {},
  props: {
    showPrice: {
      type: Boolean
    },
    coursetype: {
      type: String
    }
  },
  watch: {
    coursetype: function (newVal, oldVal, changedPath) {}
  },

  mounted() {
    this.getClassList();
  },

  methods: {
    sendNo() {
      let nObj = {
        one: this.one,
        two: this.two,
        three: this.three,
        free: this.free,
        isVipFree: this.isVipFree
      };
      this.$emit('classchange', {
        detail: nObj
      });
    },

    getClassList() {
      apis.categoryList({
        categoryType: this.map.courseCategory
      }).then(res => {
        this.setData({
          classList: res.courseCategoryList
        });
      });
    },

    // 选择课程分类
    selectCate(e) {
      const cate = e.target.dataset.cate;
      const map = this.map;
      let floor;

      if (cate.floor === undefined) {
        floor = JSON.parse(cate).floor;
      }

      if (cate.floor === 1 || floor == 1) {
        // 一级分类
        map.categoryId1 = cate.id;
        map.categoryId2 = '';
        map.categoryId3 = '';
        this.setData({
          className: cate.categoryName || '全部分类',
          twoClassList: cate.twoList || [],
          map: map
        });
        console.log('map', map);
        this.$emit('triggerchange', {
          detail: map
        });
      } else if (cate.floor == 2 || floor == 2) {
        // 二级分类
        map.categoryId2 = cate.id;
        map.categoryId3 = '';
        this.setData({
          className: cate.categoryName || '全部分类',
          threeClassList: cate.threeList || [],
          map: map
        });
        console.log('二级');
        this.$emit('triggerchange', {
          detail: map
        });

        if (!cate.threeList || !cate.threeList.length) {
          this.setData({
            ctrl: {
              optionVisible: 0
            }
          });
        }
      } else if (cate.floor == 3 || floor == 3) {
        // 三级分类
        map.categoryId3 = cate.id;
        this.setData({
          className: cate.categoryName || '全部分类',
          map: map
        });
        this.$emit('triggerchange', {
          detail: map
        });
        this.setData({
          ctrl: {
            optionVisible: 0
          }
        });
      }

      if (!cate.id) {
        this.setData({
          ctrl: {
            optionVisible: 0
          }
        });
      }
    },

    showOption(e) {
      const ctrl = this.ctrl;
      ctrl.optionVisible = e.target.dataset.type;
      this.setData({
        ctrl: ctrl
      });
    },

    selectOption(e) {
      const map = this.map;
      const ctrl = this.ctrl; // 是否免费

      if (this.ctrl.optionVisible === '2') {
        ctrl.optionVisible = 0;
        map.isFree = e.target.dataset.free;
        this.setData({
          freeName: e.target.dataset.name,
          map: map,
          ctrl: ctrl
        });
      }

      console.log('是否免费');
      this.$emit('triggerchange', {
        detail: map
      });
    }

  }
};
</script>
<style>
/* components/classList/class.wxss */
.class_list {
  width: 100%;
  position: fixed;
  top: 81rpx;
  z-index: 1;
}
.header_box {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(235, 235, 235);
  background: #fff;
}
.class_header {
  flex: 1;
  box-sizing: border-box;
  font-size: 25rpx;
  color: #333;
  text-align: center;
  height: 94rpx;
  line-height: 94rpx;
  /* padding: 0 131rpx; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}
.class_box {
  display: flex;
  height: 100%;
  position: fixed;
  top: 175rpx;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.class_items {
  width: 33.3%;
  font-size: 25rpx;
  color: #333;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 170rpx;
}
.class_item {
  width: 100%;
  height: 87rpx;
  line-height: 87rpx;
  padding-left: 20rpx;
  border-bottom: 1px solid rgb(245, 245, 245);
  background: #fff;
}
.class_items:nth-child(2n) .class_item {
  background: rgb(245, 245, 245);
}
.free_box {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 175rpx;
  bottom: 0;
  left: 0;
  right: 0;
}
.free_item {
  padding: 0 20px;
  height: 87rpx;
  line-height: 87rpx;
  color: #333;
  font-size: 25rpx;
  background: #fff;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.c_blue {
  color: #2488EC;
}
.down {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-right: 1rpx solid #333;
  border-bottom: 1rpx solid #333;
  transform: rotate(45deg);
  margin: 0 0 7rpx 10rpx;
}
</style>
