<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="状态(1:正常，0:禁用)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="排序" prop="sort">
            <el-input v-model="form.sort" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程ID" prop="courseId">
            <el-input v-model="form.courseId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="章节名称" prop="chapterName">
            <el-input v-model="form.chapterName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="章节描述" prop="chapterDesc">
            <el-input v-model="form.chapterDesc" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否免费：1免费，0收费" prop="isFree">
            <el-input v-model="form.isFree" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="原价" prop="chapterOriginal">
            <el-input v-model="form.chapterOriginal" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="优惠价" prop="chapterDiscount">
            <el-input v-model="form.chapterDiscount" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">立即创建</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {courseChapterSave} from '@/api/course'

export default {
  name: 'AddCourseChapter',
  data() {
    return {
      form: {},
      opts: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        gmtModified: [
          {required: true, message: '请输入修改时间', trigger: 'blur'}
        ],
        statusId: [
          {required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        courseId: [
          {required: true, message: '请输入课程ID', trigger: 'blur'}
        ],
        chapterName: [
          {required: true, message: '请输入章节名称', trigger: 'blur'}
        ],
        chapterDesc: [
          {required: true, message: '请输入章节描述', trigger: 'blur'}
        ],
        isFree: [
          {required: true, message: '请输入是否免费：1免费，0收费', trigger: 'blur'}
        ],
        chapterOriginal: [
          {required: true, message: '请输入原价', trigger: 'blur'}
        ],
        chapterDiscount: [
          {required: true, message: '请输入优惠价', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/course/chapter/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      courseChapterSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
