<template>
  <el-dialog
    top="8vh"
    :title="title"
    :visible.sync="visible"
    width="60%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="试卷名称" class="filter-container">
        <el-input v-model="params.gradeExamName"/>
      </el-form-item>
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="params.mobile" />
      </el-form-item>
      <el-form-item label="考试时间">
        <el-date-picker
          v-model="params.registerTime"
          type="daterange"
          align="right"
          unlink-panels
          range-separator="至"
          start-placeholder="这段时间"
          end-placeholder="这段时间"
        />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleQuery">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-form label-position="left" inline class="demo-table-expand">
            <el-form-item label="试卷名:">
              <span>{{ props.row.gradeExamName }}</span>
            </el-form-item>
            <el-form-item label="开始答题时间">
              <span>{{props.row.beginAnswerTime}}</span>
            </el-form-item>
            <el-form-item label="结束答题时间:">
              <span>{{ props.row.endAnswerTime }}</span>
            </el-form-item>
            <el-form-item label="考试完成分钟:">
              <span>{{ props.row.minute }}</span>
            </el-form-item>
          </el-form>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        label="序号"
        type="index">
      </el-table-column>
      <el-table-column
        label="姓名"
        prop="nickname">
      </el-table-column>
      <el-table-column
        label="身份证号"
        prop="idCardNo">
      </el-table-column>
      <el-table-column
        label="手机号"
        prop="mobile">
      </el-table-column>
      <el-table-column
        label="开始时间"
        prop="beginExamTime">
      </el-table-column>
      <el-table-column
        label="科目"
        prop="subjectName">
      </el-table-column>
      <el-table-column
        label="成绩"
        prop="score">
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import { gradeStudentSPage } from '@/api/exam';

  export default {
    name: 'GradeStudentScorePage',
    components: { },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: true
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 10,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        params: {},
        loading: false,
        pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
      }
    },
    mounted() {
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.page.pageCurrent = 1;
          this.params = {
            gradeId: this.info.id
          }
          this.listForPage();
        }
      }
    },
    methods: {
      listForPage() {
        this.loading = true;
        gradeStudentSPage(this.params, this.page.pageCurrent, this.page.pageSize).then(res => {
          console.debug(this.params)
          this.loading = false;
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleQuery() {
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      handleReset() {
        this.page.pageCurrent = 1;
        this.params = {
          gradeId: this.info.id
        };
        this.listForPage();
      },
      handleClose() {
        this.$emit('close');
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(pageCurrent) {
        this.page.pageCurrent = pageCurrent;
        this.listForPage();
      },
      created() {
        this.listForPage()
      }

    }
  }
</script>

<style scoped>

  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }

</style>
