<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="父id" prop="parentId">
            <el-input v-model="form.parentId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="级别" prop="level">
            <el-input v-model="form.level" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="区域编码（国标）" prop="provinceCode">
            <el-input v-model="form.provinceCode" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="中心经度" prop="centerLng">
            <el-input v-model="form.centerLng" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="中心维度" prop="centerLat">
            <el-input v-model="form.centerLat" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="省Id" prop="provinceId">
            <el-input v-model="form.provinceId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="省名称" prop="provinceName">
            <el-input v-model="form.provinceName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="市Id" prop="cityId">
            <el-input v-model="form.cityId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="城市编码" prop="cityCode">
            <el-input v-model="form.cityCode" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="市名称" prop="cityName">
            <el-input v-model="form.cityName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="区域名称" prop="regionName">
            <el-input v-model="form.regionName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="区名称" prop="districtName">
            <el-input v-model="form.districtName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="全路径名称" prop="mergerName">
            <el-input v-model="form.mergerName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">立即创建</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {regionSave} from '@/api/system'

export default {
  name: 'AddRegion',
  data() {
    return {
      form: {},
      opts: {},
      rules: {
        parentId: [
          {required: true, message: '请输入父id', trigger: 'blur'}
        ],
        level: [
          {required: true, message: '请输入级别', trigger: 'blur'}
        ],
        provinceCode: [
          {required: true, message: '请输入区域编码（国标）', trigger: 'blur'}
        ],
        centerLng: [
          {required: true, message: '请输入中心经度', trigger: 'blur'}
        ],
        centerLat: [
          {required: true, message: '请输入中心维度', trigger: 'blur'}
        ],
        provinceId: [
          {required: true, message: '请输入省Id', trigger: 'blur'}
        ],
        provinceName: [
          {required: true, message: '请输入省名称', trigger: 'blur'}
        ],
        cityId: [
          {required: true, message: '请输入市Id', trigger: 'blur'}
        ],
        cityCode: [
          {required: true, message: '请输入城市编码', trigger: 'blur'}
        ],
        cityName: [
          {required: true, message: '请输入市名称', trigger: 'blur'}
        ],
        regionName: [
          {required: true, message: '请输入区域名称', trigger: 'blur'}
        ],
        districtName: [
          {required: true, message: '请输入区名称', trigger: 'blur'}
        ],
        mergerName: [
          {required: true, message: '请输入全路径名称', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/system/region/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      regionSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
