<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="类型">
        <el-select v-model="map.categoryType" class="auto-width" clearable filterable placeholder="类型">
          <el-option
            v-for="(value, key) in categoryTypeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="名称">
        <el-input v-model.trim="map.categoryName" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="类型">
        <template slot-scope="scope">
          {{ categoryTypeEnums[scope.row.categoryType] }}
        </template>
      </el-table-column>
      <el-table-column label="名称" prop="categoryName" />
      <el-table-column label="备注" prop="remark" />
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('courseCategoryEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">排序</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('courseCategoryUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId === 0 && checkPermission('courseCategoryUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="checkPermission('courseRecommendPage')"  plain type="success" size="mini" @click="handleCourseRecommend(scope.row)">设置</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <edit :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import {courseCategoryPage, courseCategoryDelete, courseCategoryUpdateStatus} from '@/api/course'
  import Edit from '../edit';
  export default {
    components: { Edit },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        statusIdEnums: {},
        categoryTypeEnums: {},
        formData: {},
        list: [],
        map: {
          parentId: 0
        },
        listLoading: true,
        ctrl: {
          editDialogVisible: false
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'CourseCategoryEnum', type: 'obj' }).then(res => {
        this.categoryTypeEnums = res;
      });
    },
    methods: {
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.categoryName + '】？'
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.categoryName + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            courseCategoryUpdateStatus(row.id, statusId).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.dialogTitle = data.categoryName + '——排序'
        this.ctrl.editDialogVisible = true;
      },
      handleCourseRecommend(row) {
        this.$router.push({ path: '/course/course/recommend/list', query: { categoryId: row.id, categoryType: row.categoryType } })
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            courseCategoryDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        courseCategoryPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
