<template>
  <div class="person_content">
    <ul class="person_title clearfix">
      <li :class="{now: num == 1}">
        <a @click="clicktab(1)" href="javascript:">系统通知</a>
      </li>
      <el-button type="danger" class="fr read-all" @click="readAll">一键设置已读</el-button>
    </ul>
    <div v-if="notdata" class="notdata">
      <i class="iconfont">&#xe6be;</i>暂时没有数据
    </div>
    <div v-if="!notdata && !showInfo" class="person_info">
      <div v-if="pageObj.list && pageObj.list.length" class="message_items">
        <div
          v-for="(item, index) in pageObj.list"
          :key="index"
          :class="{c_999: item.isRead == 1, c_333: item.isRead == 0}"
          @click="showMessageInfo(item.id)"
          class="message_item clearfix"
        >
          <div class="message_title">{{ item.msgTitle }}</div>
          <div class="message_time">{{ item.gmtCreate }}</div>
        </div>
      </div>
      <div class="center">
        <br />
        <el-pagination
          :page-size="pageObj.pageSize"
          :current-page="pageObj.pageCurrent"
          :total="pageObj.totalCount"
          @current-change="getPage"
          class="page-panel"
          background
          layout="prev, pager, next"
        ></el-pagination>
      </div>
    </div>
    <div v-if="showInfo" class="person_info">
      <div class="auto_clear">
        <span @click="showInfo = false">&lt;&lt;返回</span>
        <span>|</span>
        <span v-if="showPre" @click="changeInfo('pre')">上一封</span>
        <span v-if="showNext" @click="changeInfo('next')">下一封</span>
      </div>
      <div class="message_info">
        <div class="info_title">{{ messageData.msgTitle }}</div>
        <div class="info_time">{{ changeTime(messageData.gmtCreate) }}</div>
        <div class="info_body" v-html="messageData.msgText" />
      </div>
    </div>
  </div>
</template>
<script>
import { messageList, messageInfo, readAllMessage } from '~/api/account/user.js'
export default {
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的通知'
    }
  },
  data() {
    return {
      showInfo: false,
      showPre: true,
      showNext: true,
      num: 1,
      messageData: '',
      nowMessageId: '',
      pageCurrent: 1,
      pageObj: {
        list: [],
        pageCurrent: 1,
        pageSize: 0,
        totalCount: 0,
        totalPage: 0
      }
    }
  },
  computed: {
    notdata() {
      return !this.pageObj.list.length
    }
  },
  watch: {
    '$route.query'() {
      this.showInfo = false
      this.pageObj.pageCurrent = 1
      this.getMessageList()
    }
  },
  mounted() {
    this.getMessageList()
  },
  methods: {
    getPage(int) {
      this.pageCurrent = int
      this.getMessageList()
    },
    // 改变时间格式
    changeTime(timeStr) {
      const timeData = new Date(timeStr)
      // console.log(timeData)
      const year = timeData.getFullYear()
      const mon = (timeData.getMonth() + 1).toString().padStart(2, '0')
      const day = timeData
        .getDate()
        .toString()
        .padStart(2, '0')
      const hours = timeData
        .getHours()
        .toString()
        .padStart(2, '0')
      const min = timeData
        .getMinutes()
        .toString()
        .padStart(2, '0')
      const sec = timeData
        .getSeconds()
        .toString()
        .padStart(2, '0')
      const dateStr =
        year + '-' + mon + '-' + day + ' ' + hours + ':' + min + ':' + sec
      return dateStr
    },
    readAll() {
      this.$confirm('确认设置所有信息都已读吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        readAllMessage().then(res => {
          this.$message({
            type: 'success',
            message: '设置成功!'
          })
          this.getMessageList()
        })
      })
    },
    clicktab(int) {
      this.num = int
    },
    showMessageInfo(id) {
      // this.showInfo = true
      this.getMessageInfo(id)
    },
    // 上下条
    changeInfo(type) {
      let pre = ''
      let next = ''
      let id = ''
      this.pageObj.list.forEach((item, index) => {
        if (item.id === this.nowMessageId) {
          pre = index - 1
          next = index + 1
        }
      })
      if (type === 'pre') {
        id = this.pageObj.list[pre].id
      } else if (type === 'next') {
        id = this.pageObj.list[next].id
      }
      if (!id) return
      this.getMessageInfo(id)
    },
    // 信息详情
    getMessageInfo(id) {
      const len = this.pageObj.list.length - 1
      messageInfo({ id })
        .then(res => {
          this.$store.dispatch('GET_USERMSGNUM')
          this.pageObj.list.forEach((item, index) => {
            if (item.id === id) {
              // console.log(item)
              item.isRead = 1
              // console.log(index, len)
              if (index >= len) {
                this.showNext = false
              } else {
                this.showNext = true
              }
              if (index === 0) {
                this.showPre = false
              } else {
                this.showPre = true
              }
            }
          })
          this.showInfo = true
          this.messageData = res.data || {}
          this.nowMessageId = id
        })
        .catch(() => {})
    },
    getMessageList() {
      messageList({
        pageCurrent: this.pageCurrent,
        pageSize: 20
      })
        .then(res => {
          console.log(res)
          this.pageObj = res.data
        })
        .catch(() => {
          this.pageObj = {
            list: [],
            pageCurrent: '',
            pageSize: '',
            totalCount: '',
            totalPage: ''
          }
        })
    }
  }
}
</script>
<style lang="scss">
.message-box .info_body a {
  color: #409eff;
}
</style>
<style lang="scss" rel="stylesheet/scss" scoped>
.read-all {
  margin: 20px 20px 0 0;
}
.person_body {
  width: 1200px;
  margin: 30px auto 0;
  min-height: 1000px;
}
.person_content {
  width: 1012px;
  float: right;
  background: #fff;
  border-radius: 6px;
}
.person_title {
  border-bottom: 1px solid rgb(242, 242, 242);
  position: relative;
  li {
    float: left;
    line-height: 60px;
    padding: 0 30px;
    font-size: 14px;
    &.now {
      border-bottom: 2px solid #d51423;
      a {
        color: #d51423;
      }
    }
    a:hover {
      color: #d51423;
    }
  }
  a:hover {
    color: #d51423;
  }
}

.person_info {
  min-height: 400px;
  padding-bottom: 30px;
  .auto_clear {
    height: 36px;
    line-height: 36px;
    background: rgba(247, 245, 248, 1);
    font-size: 12px;
    color: #999;
    padding-left: 20px;
    span {
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
.message_items {
  padding: 0 20px;
  cursor: pointer;
  .message_item {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid rgba(247, 245, 248, 1);
    &:hover {
      color: #d51423;
    }
  }
  .message_title {
    width: 750px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
  }
  .message_time {
    float: right;
  }
}
.message_info {
  padding: 20px;
  .info_title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
  }
  .info_time {
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-top: 20px;
  }
  .info_body {
    line-height: 28px;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
  }
}
.notdata {
  text-align: center;
  padding: 60px 0;
  font-size: 30px;
  color: #999;
  min-height: 400px;
  i {
    font-size: 30px;
    padding-right: 12px;
  }
}
</style>
