<template>
	<!--index.wxml-->
	<view class="main">
		<view class="search_box">
			<view class="p_relative">
				<image class="search_icon" src="../../static/images/search.svg"></image>
				<view class="search_input" @tap="goSearch">请输入搜索内容</view>
			</view>
		</view>
		<swiper class="swiper" indicator-dots="true" autoplay="true" interval="3000" duration="500" circular="true">
			<swiper-item v-for="(item, index) in advList" :key="index">
				<!--  #ifdef  MP-WEIXIN || APP-PLUS -->
				<navigator v-if="item.mobileTerminalCategory == 1" :url="'/pages/course/view/view?id=' + item.courseId" class="banner-link">
					<image :src="item.advImg" class="slide-image"></image>
				</navigator>
				<navigator v-else :url="item.advUrl" class="banner-link">
					<image :src="item.advImg" class="slide-image"></image>
				</navigator>
				<!--  #endif -->
				<!--  #ifdef H5  -->
				<navigator v-if="item.mobileTerminalCategory == 1" :url="'/pages/course/view/view?id=' + item.courseId" class="banner-link">
					<image :src="item.advImg" class="slide-image"></image>
				</navigator>
				<a v-else :href="item.advUrl" class="banner-link">
					<image :src="item.advImg" class="slide-image"></image>
				</a>
				<!--  #endif -->
			</swiper-item>
		</swiper>

		<view v-for="(item, index) in indexData" :key="index" class="mgb10 b_fff">
			<view class="course_header">
				<text class="title-icon"></text>
				<text class="font33_bold title-text">{{item.zoneName}}</text>
				<navigator open-type="switchTab" v-if="item.zoneCategory == 0" url="../resourcelist/resourcelist" class="font25 c_999">更多
					></navigator>
					<navigator open-type="switchTab" v-if="item.zoneCategory == 5" url="/pages/exam/list" class="font25 c_999">更多 ></navigator>
				<navigator open-type="switchTab" v-if=" item.zoneCategory == 1 || item.zoneCategory == 2 ||　item.zoneCategory == 3"
				 url="../course/list/list" class="font25 c_999">更多 ></navigator>
				<navigator v-if="item.zoneCategory === 4" url="/pages/resource/list" class="font25 c_999">更多 ></navigator>
				<navigator v-if="item.zoneCategory === 8" url="/pages/news/news" class="font25 c_999">更多 ></navigator>
			</view>

			<view class="examList" v-if="item.examList && item.examList.length">
				<navigator v-for="(exam, index) in item.examList" :url="'/pages/exam/details?id=' + exam.id" :key="index">
					<view class="examItem">
						<view class="examItemTitle">{{ exam.examName }}</view>
						<view class="examItemTip">
							{{ exam.subjectName || '' }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ exam.totalScore }}分
							<view class="fr">
								<view class="tipItem">
									<image class="icon" src="../../static/images/exam/u29.svg" alt=""></image>{{ exam.studyCount }}
								</view>
								<view class="tipItem">
									<image class="icon" src="../../static/images/exam/u31.svg" alt=""></image>{{ exam.downloadCount }}
								</view>
							</view>
						</view>
					</view>
				</navigator>
			</view>
			<course-list1 v-if="item.showType === 1 && item.zoneCategory < 4" :list="item.courseList"></course-list1>
			<course-list2 v-if="item.showType === 2 && item.zoneCategory < 4" :list="item.courseList"></course-list2>
			<course-list3 v-if="item.showType === 3 && item.zoneCategory < 4" :list="item.courseList"></course-list3>
			<resource-list :list="item.courseList" v-if="item.zoneCategory === 4"></resource-list>
			<news-list :list="item.blogList" v-if="item.zoneCategory === 8"></news-list>
		</view>
		<view class="no_more c_999 font25 text_center" v-if="showNoMore">没有更多了...</view>
		<nav-list v-if="isShowClass" @close="showClass"></nav-list>
		<!--#ifdef APP-PLUS-->
		<view v-if="!hideDialog" class="dialog-panel">
			<view class="mask"></view>
			<view class="dialog-container">
				<view class="head">用户协议和隐私政策</view>
				<view class="dialog-body">请你务必审慎阅读、充分理解"用户协议"和"隐私政策"各条款，包括但不仅限于：为了向你提供即时通讯、内容分享等服务，我们需要手机你但设备信息、操作日志等个人信息。你可以在"我的"中查看、变更、删除个人信息。<br>你可阅读<navigator class="link" url="../agreement/user">《用户协议》</navigator>和<navigator class="link" url="../agreement/privacy">《隐私协议》</navigator>了解详情信息。如你同意，请点击"同意"开始接受我们等服务</view>
				<view class="foot">
					<view @tap="handleQuit" class="btns close">暂不使用</view>
					<view @tap="handleCloseDialog" class="btns">同意</view>
				</view>
			</view>
		</view>
		<!--#endif-->
	</view>
</template>

<script>
	//index.js
	import courseList1 from "../../components/courseList1/courseList1.vue";
	import courseList2 from "../../components/courseList2/courseList2.vue";
	import courseList3 from "../../components/courseList3/courseList3.vue";
	import resourceList from "@/components/resource/resourceList.vue"
	import newsList from "@/components/news/newsList.vue"
	import {
		advList,
		zoneList
	} from "../../api/main"; //获取应用实例
	//获取应用实例
	const app = getApp();

	export default {
		data() {
			return {
				hideDialog: uni.getStorageSync('hidePrivacy'),
				isShowPay: false,
				showNoMore: false,
				isShowClass: false,
				showPrice: false,
				advList: [],
				indexData: [],
				activityObj: {},
				userInfo: "",
				hasUserInfo: false
			};
		},

		components: {
			courseList1,
			courseList2,
			courseList3,
			resourceList,
			newsList
		},
		props: {},
		onShareAppMessage: function() {
			const userInfo = uni.getStorageSync('userInfo');
			console.log(userInfo);
			let url = 'pages/index/index';

			if (userInfo) {
				url += '?referralCode=' + userInfo.referralCode;
			}

			return {
				path: url
			};
		},
		onLoad: function(options) {
			if (options.referralCode) {
				uni.setStorage({
					'key': 'referralCode',
					'data': options.referralCode
				});
			}

			const d = {
				platShow: 2,
				mobileTerminalCategory: 1,
				advLocation: 1
			};

			// #ifdef H5
			d.mobileTerminalCategory = 2;
			// #endif


			advList(d).then(res => {
				this.setData({
					advList: res.advList
				});
			}).catch((e) => {});
			zoneList({
				zoneLocation: 2
			}).then(res => {
				this.setData({
					indexData: res.list
				});
			}).catch((e) => {});
			// uni.showShareMenu({
			//   withShareTicket: true
			// });
		},
		methods: {
			//事件处理函数
			bindViewTap: function() {
				uni.navigateTo({
					url: '../logs/logs'
				});
			},
			goSearch: () => {
				uni.navigateTo({
					url: '../course/search/search'
				});
			},

			getUserInfo: function(e) {
				app.globalData.userInfo = e.detail.userInfo;
				this.setData({
					userInfo: e.detail.userInfo,
					hasUserInfo: true
				});
			},
			handleCloseDialog() {
				// 关闭隐私协议
				uni.setStorage({
					'key': 'hidePrivacy',
					'data': true
				});
				this.setData({
					hideDialog: true
				})
			},
			handleQuit() {
				plus.runtime.quit();
			}
		}
	};
</script>
<style lang="scss" scoped>
	/**index.wxss**/
	.main {
		padding-top: 78upx;
	}

	.examList {
		padding: 0 20upx;

		.examItem {
			padding: 30upx 0;
			border-bottom: 1px solid rgba(228, 228, 228, 1);

			&:last-child {
				border-bottom: none;
			}

			.examItemTitle {
				font-weight: 400;
				font-style: normal;
				line-height: 30px;
				color: #333333;
				font-size: 14px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.examItemTip {
				line-height: 30px;
				color: #666666;
				font-size: 13px;

				.fr {
					.tipItem {
						display: inline-block;
						padding: 0 20upx;
						.icon {
							width: 32upx;
							position: relative;
							top: 4px;
							height: 32upx;
							margin-right: 10upx;
						}
					}
				}
			}
		}
	}

	.swiper {
		margin-top: 0px;
	}

	.search_box {
		background: #fff;
		display: block;
		padding: 10rpx 20rpx;
		position: fixed;
		top: 0;
		/* #ifdef  H5 */
		top: 86rpx;
		/* #endif */
		left: 0;
		right: 0;
		z-index: 100;
	}

	.class_box {
		display: flex;
		flex-direction: column;
		font-size: 12px;
		color: #fff;
		text-align: center;
		margin: 0 20rpx;
	}

	.search_box .p_relative {
		border-radius: 6px;
		background: #F2F2F2;
		text-align: center;
	}

	.class_icon {
		width: 35rpx;
		height: 35rpx;
		margin: 0 auto;
	}

	.search_icon {
		width: 25rpx;
		height: 25rpx;
		display: inline-block;
	}

	.search_input {
		display: inline-block;
		height: 61rpx;
		line-height: 61rpx;
		color: #999;
		font-size: 14px;
		margin-left: 18rpx;
	}

	swiper {
		height: 280rpx;
		margin-top: 81rpx;
	}

	.slide-image {
		width: 100%;
		height: 250rpx;
		border-radius: 13rpx;
	}

	.banner-link {
		padding: 20rpx 30rpx;
		overflow: hidden;
		display: block
	}

	.course_header {
		padding: 0rpx 30rpx;
		height: 80rpx;
		line-height: 80rpx;
		display: flex;
		justify-content: space-between;
	}

	.title-text {
		flex: 1;
		margin-left: 20rpx;
		font-family: PingFang SC Regular, PingFang SC Regular-Regular;
		font-weight: 400;
		text-align: left;
		color: #222222;
	}

	.title-icon {
		display: inline-block;
		width: 10rpx;
		height: 36rpx;
		background: #02af74;
		border-radius: 5rpx;
		margin-top: 22rpx;
	}

	.teacher_info {
		width: 32%;
		border-radius: 6px;
		border: 1px solid rgb(245, 245, 245);
		position: relative;
	}

	.blue_box {
		height: 94rpx;
		background: rgba(36, 136, 236, 1);
		border-radius: 6px 6px 0 0;
	}

	.teacher_logo {
		position: absolute;
		width: 66rpx;
		height: 66rpx;
		top: 61rpx;
		left: 50%;
		margin-left: -33rpx;
		border-radius: 50%;
	}

	.teacher_msg {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 120rpx;
		padding: 54rpx 10rpx 10rpx;
	}

	.no_wrap {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dialog-panel{
		.mask{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 999;
			background-color: rgba(0, 0, 0, 0.6);
		}
		.dialog-container{
			position: fixed;
			top: 20%;
			left: 40rpx;
			right: 40rpx;
			background: #fff;
			z-index: 9999;
			font-size: 28rpx;
			border-radius: 12rpx;
		}
		.head{
			font-size: 36rpx;
			line-height: 40rpx;
			padding-top: 40rpx;
			text-align: center;
		}
		.dialog-body{
			padding: 30rpx;
			color: #666;
			.link{
				color: #2488EC;
				display: inline;
			}
		}
		.foot{
			border-top: 1px solid #eee;
			.btns{
				color: #2488EC;
				display: inline-block;
				width: 50%;
				text-align: center;
				line-height: 80rpx;
			}
			.close{
				color: #999;
			}
		}
	}
</style>
