<template>
  <div class="app-container record-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-row>
        <el-col :span="6">
          <el-form-item label="试题科目:" prop="subjectId">
            <el-cascader
              :options="kemuList"
              :props="optionProps"
              placeholder="请选择科目"
              popper-class="__category-id"
              v-model="form.subjectId "
            ></el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="18">
          <el-form-item label="排序:" prop="sort">
            <el-input-number v-model="form.sort" style="width: 200px;" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="6">
          <el-form-item label="试题年份:" prop="yearId">
            <el-select
              placeholder="请选择年份"
              popper-class="__category-id"
              style="width: 200px"
              v-model="form.yearId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in nianfenList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="18">
          <el-form-item label prop="region">
            <el-input
              class="form-group"
              placeholder="请输入地区"
              style="width: 200px;"
              v-model="form.region"
            ></el-input>
            <span>* 选填，试题年份和试题地区，地区需您输入，不得超过8个汉字。</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="题目" prop="problemContent">
          <Wangeditor v-model="form.problemContent" />
        </el-form-item>
      </el-row>
      <br>
      <!--单选题目-->
      <el-form-item label="试题答案:" v-if="form.problemType == 1">
        <el-radio-group v-model="form.resource" class="rd-group">
          <template v-for="(item, index) in opts.tm">
            <div :key="index" class="radio-card">
              <el-radio
                :key="item.label"
                :label="index"
                :value="item.label"
                v-if="item.statusId != 3"
                class="radio-item el-radio-re"
              >
                {{''}}
              </el-radio>
              <div :key="item.label" class="form-group-list">
                <problemInput style="width: 600px" v-model="item.val" :label="item.label"></problemInput>
                <div class="form-group-btn" @click="getUploadIndex(index)">
                  <i @click.prevent="rmOption(index)" class="del el-icon-close"></i>
                  <i @click.prevent="moveOption(index, -1)" class="up el-icon-caret-top"></i>
                  <i @click.prevent="moveOption(index, 1)" class="next el-icon-caret-bottom"></i>
                  <i
                    @click.prevent="addOption()"
                    class="next el-icon-plus"
                    v-if="index == (opts.tm.length - 1)"
                  ></i>
                </div>
              </div>
            </div>
          </template>
        </el-radio-group>
        <div class="tip" v-if="form.problemType < 4">单选题、多选题、判断题 的正确答案是直接按输入框前面的按钮</div>
      </el-form-item>

      <!--多选题目-->
      <el-form-item label="试题答案:" v-if="form.problemType == '2' || form.problemType == '7'">
        <el-checkbox-group v-model="form.checkboxresource">
          <template v-for="(item, index) in opts.tm">
            <div :key="index" class="radio-card">
              <el-checkbox
                :key="item.label"
                :label="item.label"
                :value="item.label"
                v-if="item.statusId != 3"
              >
                {{''}}
              </el-checkbox>
              <div :key="item.label" class="form-group-list">
                <problemInput style="width: 600px" v-model="item.val" :label="item.label"></problemInput>
                <div class="form-group-btn" @click="getUploadIndex(index)">
                  <i @click.prevent="rmOption(index)" class="del el-icon-close"></i>
                  <i @click.prevent="moveOption(index, -1)" class="up el-icon-caret-top"></i>
                  <i @click.prevent="moveOption(index, 1)" class="next el-icon-caret-bottom"></i>
                  <i
                    @click.prevent="addOption()"
                    class="next el-icon-plus"
                    v-if="index == (opts.tm.length - 1)"
                  ></i>
                </div>
              </div>
            </div>
          </template>
        </el-checkbox-group>
        <div class="tip" v-if="form.problemType < 4">单选题、多选题、判断题 的正确答案是直接按输入框前面的按钮</div>
      </el-form-item>
      <template v-if="form.problemType == '3'">
        <el-form-item label="试题答案:">
          <el-radio-group v-model="form.resource">
            <div :key="item.label" class="form-group-list" v-for="(item,index) in opts.judge">
              <div v-if="item.statusId != 3">
                <el-radio :key="item.label" :label="index" :value="item.label">
                  <el-input style="width: 600px;" disabled v-model="item.val"></el-input>
                </el-radio>
              </div>
            </div>
          </el-radio-group>
          <div class="tip" v-if="form.problemType < 4">单选题、多选题、判断题 的正确答案是直接按输入框前面的按钮</div>
        </el-form-item>
      </template>
      <template v-if="form.problemType == '4'">
        <el-form-item label="试题答案:">
          <div :key="item.label" class="form-group-list" v-for="(item, index) in opts.filling">
            <problemInput style="width: 600px" v-model="item.val" :label="index + 1" :placeholder="'请输入第'+ (index + 1) +'个空的答案'"></problemInput>
            <div class="form-group-btn">
              <i @click.prevent="rmOption(index)" class="del el-icon-close"></i>
              <i @click.prevent="moveOption(index, -1)" class="up el-icon-caret-top"></i>
              <i @click.prevent="moveOption(index, 1)" class="next el-icon-caret-bottom"></i>
              <i
                @click.prevent="addOption()"
                class="next el-icon-plus"
                v-if="index == (opts.filling.length - 1)"
              ></i>
            </div>
          </div>
        </el-form-item>
      </template>
      <br>
      <el-form-item label="是否免费:" prop="isFree">
        <el-radio-group v-model="form.isFree">
          <el-radio :label="1">免费</el-radio>
          <el-radio :label="0">收费</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="试题分数:" prop="score">
        <el-input
          :disabled="form.problemType == '6'"
          min="0"
          placeholder="请输入分数"
          type="number"
          v-model="form.score"
        >
          <template slot="append">分</template>
        </el-input>
      </el-form-item>

      <comprehend
        :dataList="form.itemList"
        @submit="onsubmitComprehend"
        v-if="form.problemType == '6'"></comprehend>
      <el-form-item label="试题解答:">
        <wangeditor :height="200" v-model="form.analysis"></wangeditor>
      </el-form-item>
      <el-row>
        <el-col :span="12">
          <el-form-item label="试题考点:" prop="emphasisId">
            <el-cascader
              :options="kiaoDianList"
              :props="optionProps"
              placeholder="请选择考点"
              popper-class="__category-id"
              v-model="form.emphasisId"
            ></el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="试题题类:" prop="topicId">
            <el-select
              placeholder="请选择试题题类"
              style="width: 200px"
              popper-class="__topic-id"
              v-model="form.topicId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in leixingList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="试题难度:" prop="difficultyId">
            <el-select
              placeholder="请选择试题难度"
              style="width: 200px"
              popper-class="__difficulty-id"
              v-model="form.difficultyId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in nanduList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="试题来源:" prop="sourceId">
            <el-select
              placeholder="请选择试题来源"
              style="width: 200px"
              popper-class="__source-id"
              v-model="form.sourceId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in laiyuanList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {examProblemView, examProblemEdit, categoryListEdit} from '@/api/exam'
import ProblemInput from '@/components/exam/problemInput.vue';
import Wangeditor from '@/components/wangeditor/wangeditor.vue';
import Comprehend from '@/components/exam/comprehend';
const letter = 'ABCDEFGHIJkLMNOPQRSTUVWXYZ'.split('');
export default {
  name: 'EditExamProblem',
  components: {
    Wangeditor,
    ProblemInput,
    Comprehend
  },
  data() {
    return {
      form: {},
      kemuList: [],
      nanduList: [],
      laiyuanList: [],
      leixingList: [],
      nianfenList: [],
      kiaoDianList: [],
      optionProps: {
        value: 'id',
        label: 'categoryName',
        children: 'childrenList',
        checkStrictly: true
      },
      opts: {
        tm: [
          { label: 'A', val: '' },
          { label: 'B', val: '' },
          { label: 'C', val: '' },
          { label: 'D', val: '' }
        ],
        judge: [
          { label: 'A', val: '对' },
          { label: 'B', val: '错' }
        ],
        filling: [
          { label: 'A', val: '' },
          { label: 'B', val: '' }
        ],
        nd: [
          { label: '简单', val: '' },
          { label: '较易', val: '' },
          { label: '中等', val: '' },
          { label: '较难', val: '' }
        ],
        type: [
          { label: '常见题', val: '' },
          { label: '易错题', val: '' },
          { label: '好题', val: '' },
          { label: '压轴', val: '' }
        ],
        ly: [
          { label: '中考真题', val: '' },
          { label: '自主招生', val: '' },
          { label: '中考模拟', val: '' },
          { label: '中考复习', val: '' }
        ]
      },
      rules: {
        statusId: [
          {required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ]
      },
      isFreeEnumList: {},
      videoFlag: false,
      videoUploadPercent: 0
    }
  },
  mounted() {
    const view = this.$route
    this.getViewInfo(view.query.id)
    this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'arr'}).then(res => {
      this.isFreeEnumList = res;
      this.getproblemLM();
      this.getproblemND();
      this.getproblemLY();
      this.getproblemLX();
      this.getproblemNF();
      this.getproblemKD();
    });
  },
  methods: {
    getUploadIndex(index) {
      this.uploadIndex = index;
    },
    // 删除答案
    rmOption(index) {
      if (this.form.problemType === '1' || this.form.problemType === '2') {
        if (this.opts.tm.length > 1) {
          this.opts.tm.splice(index, 1);
          this.opts.tm.forEach((item, index) => {
            item.label = letter[index];
          });
          if (this.form.resource === index && this.form.problemType === '1') {
            this.form.resource = '';
          }
          if (this.form.problemType === '2') {
            if (this.form.resource.indexOf(index) !== -1) {
              this.form.resource.splice(this.form.resource.indexOf(index), 1);
            }
          }
          console.log(this.form.resource, index);
        }
      }
    },
    // 答案位置移动
    moveOption(index, type = 1) {
      if (this.form.problemType === '1' || this.form.problemType === '2') {
        if (this.opts.tm[index + type] && this.opts.tm[index]) {
          const val = this.opts.tm[index + type].val;
          this.opts.tm[index + type].val = this.opts.tm[index].val;
          this.opts.tm[index].val = val;
        }
      }
      if (this.form.problemType === '4') {
        if (this.opts.filling[index + type] && this.opts.filling[index]) {
          const val = this.opts.filling[index + type].val;
          this.opts.filling[index + type].val = this.opts.filling[index].val;
          this.opts.filling[index].val = val;
        }
      }
    },
    // 添加答案
    addOption() {
      if (
        this.form.problemType === '1' ||
        this.form.problemType === '2' ||
        this.form.problemType === '7'
      ) {
        this.opts.tm.push({
          label: letter[this.opts.tm.length] || '',
          val: ''
        });
      }
      if (this.form.problemType === '4') {
        this.opts.filling.push({
          label: '',
          val: ''
        });
      }
    },
    onsubmitComprehend(list) {
      this.form.childrenList = list;
      let score = 0;
      list.forEach((e) => {
        score += +e.score;
      });
      this.form.score = score;
    },
    // 获取试题类目
    getproblemLM() {
      categoryListEdit({ examCategoryType: 1, categoryType: 1 }).then((res) => {
          this.kemuList = res.data.examCategoryList;
        });
    },
    // 获取试题难度
    getproblemND() {
      categoryListEdit({ examCategoryType: 4, categoryType: 1 }).then((res) => {
          this.nanduList = res.data.examCategoryList;
        });
    },
    // 获取试题来源
    getproblemLY() {
      categoryListEdit({ examCategoryType: 3, categoryType: 1 }).then((res) => {
          this.laiyuanList = res.data.examCategoryList;
        });
    },
    // 获取试题类型
    getproblemLX() {
      categoryListEdit({ examCategoryType: 5, categoryType: 1 }).then((res) => {
          this.leixingList = res.data.examCategoryList;
        });
    },
    // 获取试题年份
    getproblemNF() {
      categoryListEdit({ examCategoryType: 2, categoryType: 1 }).then((res) => {
          this.nianfenList = res.data.examCategoryList;
        });
    },
    // 获取试题考点
    getproblemKD() {
      categoryListEdit({ examCategoryType: 6, categoryType: 1 }).then((res) => {
          this.kiaoDianList = res.data.examCategoryList;
        });
    },
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/exam/problem/list');
      })
    },
    getViewInfo(id) {
      this.loading = true
      examProblemView(id).then(res => {
        this.loading = false
        this.loading = false;
        res.data.checkboxresource = [];
        res.data.resource = '';
        this.form = res.data;
        this.form.problemType += ''; // 数字转字符串
        // 单选和多选题目答案设置
        if (
          this.form.problemType === '1' ||
          this.form.problemType === '2' ||
          this.form.problemType === '7'
        ) {
          this.form.optionList.sort((a, b) => {
            return a.sort - b.sort;
          });
          this.opts.tm = [];
          this.form.optionList.forEach((e, i) => {
            if (
              this.form.problemAnswer.split('|').indexOf(e.optionContent) !== -1
            ) {
              if (
                this.form.problemType === '2' ||
                this.form.problemType === '7'
              ) {
                this.form.checkboxresource.push(letter[e.sort - 1] || '');
              } else {
                this.form.resource = i;
              }
            }
            this.opts.tm.push({
              label: letter[e.sort - 1] || '',
              val: e.optionContent,
              statusId: 1
            });
          });
        }

        // 判断题目答案设置
        if (this.form.problemType === '3') {
          this.opts.judge = [];
          this.form.optionList.forEach((e, i) => {
            this.opts.judge.push({
              label: letter[e.sort - 1] || '',
              val: e.optionContent,
              statusId: 1
            });
          });

          this.form.optionList.forEach((e, i) => {
            if (this.form.problemAnswer === e.optionContent) {
              this.form.resource = i;
            }
          });
        }

        // 填空题目答案设置
        if (this.form.problemType === '4') {
          this.opts.filling = [];
          this.form.problemAnswer.split('|').forEach((e) => {
            this.opts.filling.push({
              val: e
            });
          });
        }
        // 问答题目答案设置
        if (this.form.problemType === '5') {
          this.opts.filling = [];
          this.form.analysis = this.form.problemAnswer;
        }
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      examProblemEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
      })
    }
  }
}
</script>
<style lang="scss">
.el-radio-re {
  margin-right: 0;
}
.radio-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.form-group-list {
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.record-container {
  .rd-group{
    label{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 10px 0;
    }
    .radio-item{
      display: flex;
      align-items: center;
    }
  }
  .form-group {
    width: 100%;
    max-width: 300px;
  }

  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 178px;
    height: 178px;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    line-height: 178px;
    text-align: center;
  }

  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }

  .show-img {
    max-width: 200px;
    border-radius: 6px;
  }

  .form-group-btn {
    font-size: 0px;
    display: inline-block;
    i {
      width: 17px;
      height: 17px;
      color: #fff;
      font-size: 12px;
      display: inline-block;
      margin: 8px 3px;
      line-height: 17px;
      text-align: center;
      background: #a9b3bf;
    }
  }

}
</style>
