<template>
    <div class="app-container">
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="订单编号">
          <el-input v-model="map.orderNo" placeholder="" />
        </el-form-item>
        <el-form-item class="filter-item" label="手机号码">
          <el-input v-model="map.mobile" placeholder="" />
        </el-form-item>
        <el-form-item class="filter-item" label="产品名称">
          <el-input v-model="map.productName" placeholder="" />
        </el-form-item>
        <el-form-item class="filter-item" label="产品类型">
          <el-select v-model="map.productType" clearable placeholder="请选择">
            <el-option
              v-for="(value, key) in productTypeEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item class="filter-item" label="订单状态">
          <el-select v-model="map.orderStatus" clearable placeholder="请选择">
            <el-option
              v-for="(value, key) in orderStatusEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item class="filter-item" label="购买渠道">
          <el-select v-model="map.channelType" clearable placeholder="请选择">
            <el-option
              v-for="(value, key) in channelTypeEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item class="filter-item" label="支付方式">
          <el-select v-model="map.payType" clearable placeholder="请选择">
            <el-option
              v-for="(value, key) in payTypeEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item class="filter-item" label="交易类型">
          <el-select v-model="map.tradeType" clearable placeholder="请选择">
            <el-option
              v-for="(value, key) in tradeTypeEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item class="filter-item" label="">
            <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
            <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
        </el-form>

        <el-table
          :data="list"
          size="mini"
          element-loading-text="Loading"
          border
          fit
          highlight-current-row
        >
          <el-table-column align="center" type="index" label="序号" width="60" />
          <el-table-column label="创建时间" prop="gmtCreate" />
          <el-table-column label="讲师用户编号" prop="lecturerUserNo" />
          <el-table-column label="讲师名称" prop="lecturerName" />
          <el-table-column label="用户编号" prop="userNo" />
          <el-table-column label="用户电话" prop="mobile" />
          <el-table-column label="订单号" prop="orderNo" />
          <el-table-column label="产品名称" prop="productName" />
          <el-table-column label="产品类型" width="80">
            <template slot-scope="scope">
              {{ productTypeEnums[scope.row.productType] }}
            </template>
          </el-table-column>
          <el-table-column label="应付金额" prop="pricePayable" />
          <el-table-column label="优惠金额" prop="priceDiscount" />
          <el-table-column label="实付金额" prop="pricePaid" />
          <el-table-column label="平台收入" prop="platformIncome" />
          <el-table-column label="讲师收入" prop="lecturerIncome" />
          <el-table-column label="交易类型" width="80">
            <template slot-scope="scope">
              {{ tradeTypeEnums[scope.row.tradeType] }}
            </template>
          </el-table-column>
          <el-table-column label="支付方式" width="80">
            <template slot-scope="scope">
              {{ payTypeEnums[scope.row.payType] }}
            </template>
          </el-table-column>
          <el-table-column label="购买渠道" width="80">
            <template slot-scope="scope">
              {{ channelTypeEnums[scope.row.channelType] }}
            </template>
          </el-table-column>
          <el-table-column label="订单状态" width="80">
            <template slot-scope="scope">
              {{ orderStatusEnums[scope.row.orderStatus] }}
            </template>
          </el-table-column>
          <el-table-column label="支付时间" prop="payTime" />
          </el-table>
        <el-pagination
          :current-page="page.pageCurrent"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount"
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
    </div>
</template>

<script>
import { orderLogPage } from '@/api/data'

export default {
  data() {
    return {
      page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
      },
      list: [],
      map: {},
      tradeTypeEnums: {},
      payTypeEnums: {},
      channelTypeEnums: {},
      orderStatusEnums: {},
      productTypeEnums: {},
      listLoading: true
    }
  },
  created() {
      this.listForPage()
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'TradeTypeEnum', type: 'obj'}).then(res => {
      this.tradeTypeEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'PayTypeEnum', type: 'obj'}).then(res => {
      this.payTypeEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'ChannelTypeEnum', type: 'obj'}).then(res => {
      this.channelTypeEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'OrderStatusEnum', type: 'obj'}).then(res => {
      this.orderStatusEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'ProductTypeEnum', type: 'obj'}).then(res => {
      this.productTypeEnums = res;
    });
  },
  methods: {
    handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
    },
    handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
    },
    handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
        // this.listLoading = true
        this.loading.start()
        orderLogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
            this.list = res.data.list
            this.page.pageCurrent = res.data.pageCurrent
            this.page.totalCount = res.data.totalCount
            this.page.pageSize = res.data.pageSize
        })
    }
  }
}
</script>
