<template>
  <div class="exam-index">
    <div class="exam-center">
        <div class="logo">
          <nuxt-link :to="{name: 'index'}">
            <img v-if="webInfo && webInfo.logo" :src="webInfo.logo" class="logo" width="auto" alt="">
          </nuxt-link>
        </div>
        <div class="exam-center-title">
          {{ examData.examName }}
        </div>
        <div class="exam-center-data">
          试卷科目： {{ examData.subjectName || '' }}
        </div>
        <div class="exam-center-data">
          试卷年份： {{ examData.yearName || '' }}
        </div>
        <div class="exam-center-data">
          及格分数： {{ parseInt(examData.totalScore * 0.6) }} 分
        </div>
        <div class="exam-center-data">
          试卷总分： {{ examData.totalScore }} 分
        </div>
        <div class="exam-center-data" v-if="examData.answerTime">
          考试时长： {{ examData.answerTime }}分钟
        </div>
        <div class="exam-center-data" v-else>
          考试时间： {{ examData.beginTime + '-'+ examData.endTime }}
        </div>
        <div class="br"></div>
        <div class="exam-center-tip">
          考试须知：
          <div class="exam-center-tip-text" v-if="examData.answerTime">1、考试时间为{{ examData.answerTime }}分钟。</div>
          <div class="exam-center-tip-text" v-else>1、考试时间为{{ examData.beginTime + '-'+ examData.endTime }}</div>
          <div class="exam-center-tip-text">2、本考试为闭卷考试，请不要随意切换考试界面</div>
          <div class="exam-center-tip-text">3、交卷后，可查看答卷和解析。</div>
        </div>
        <div @click="toExam()" class="to">开始考试</div>
    </div>
  </div>
</template>

<script>
import * as apis from '~/api/account/exam.js'
import * as gradeApis from '~/api/account/grade.js'

export default {
  layout: 'activity',
  data() {
    return {
      examData: {},
      webInfo: this.$store.state.webInfo
    }
  },
  async asyncData(context) {
    const { route, store } = context
    const That = {};
    if (route && route.query && route.query.gradeExamId) {
      console.log(store.state.tokenInfo)
      const res = await gradeApis.examRelationView({
        id: route.query.gradeExamId
      }, store.state.tokenInfo)
      if (res.code === 200) {
        res.data.examName = res.data.gradeExamName
        That.examData = res.data;
      }
    } else if (route && route.query && route.query.id) {
      const res = await apis.getExamViewInfo({
        examId: route.query.id
      })
      if (res.code === 200) {
        That.examData = res.data;
      }
    } else {
      context.redirect('/404')
    }
    return That;
  },
  mounted() {},
  methods: {
    toExam() {
      const id = this.$route.query.id || ''
      let url = '/exam/startExam?id=' + (id || '')
      if (this.$route.query.gradeExamId) {
        url += '&gradeExamId=' + this.$route.query.gradeExamId
      }
      this.$router.push({
        path: url
      })
    }
  }
}
</script>

<style scoped lang="scss">

  .exam-index {
    background: rgba(185,190,203,1);
    padding: 5vh 0 5vh;
    .exam-center {
      width: 800px;
      overflow: hidden;
      min-height:  90vh;
      margin: 0 auto 0;
      padding:60px 60px 30px;
      background:#fff;
      border-radius: 6px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.098);
      .logo {
        display: block;
        margin: 0;
        position: relative;
        height: 40px;
        left: -5px;
        float: none;
      }
    }

    .text-box {
      display: inline-block;
      text-align: left;

    }
    .exam-center-title {
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 68px;
    }
    .exam-center-data {
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #555555;
      line-height: 36px;
    }

    .br {
      margin: 30px 0;
      border-bottom: 1px solid #eee;
    }

    .exam-center-tip {
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #555555;
      line-height: 36px;
      .exam-center-tip-text {
        color: red;
        font-size: 12px;
        line-height: 28px;
      }
    }

    .to {
      width: 180px;
      height: 36px;
      background: inherit;
      background-color: rgba(112, 182, 3, 1);
      border-radius: 3px;
      color:#fff;
      line-height: 36px;
      text-align:center;
      margin: 30px auto 0;
      cursor:pointer;
      &:hover {
        background-color: rgba(112, 182, 3, .6);
      }
    }

  }

</style>
