
<template>
  <div class="container account_cont" ref="container" v-loading="loading">
    <div class="header">
      <i class="el-icon-arrow-left" @click="$router.go(-1)"></i>
      <div class="title">{{ title }}</div>
      <i class="el-icon-arrow-left" style="font-size: 0px" @click="$router.go(-1)"></i>
    </div>
    <div class="preview-box" ref="preview">
      <div class="preview-main">
        <div v-for="(item, index) in tableData" class="issus-list" :key="index">
          <h5 class="issus-list-title">{{ (index+ 1) | ChineseToNumber }}、{{ item.titleName }}</h5>
          <div
            v-for="(problem, tindex) in item.problemList"
            class="issus-item"
            :ref="'problem' + problem.id + '-' + index"
            :key="tindex"
          >
            <div class="issus-item-title">
              {{ tindex + 1 }}、
              <div v-html="problem.problemContent" class="issus-item-title-text"></div>
            </div>
            <div
              v-if="problem.problemType == 1 || problem.problemType == 3 "
              class="issus-item-answer select-box"
            >
              <el-radio-group v-model="problem.value">
                <div
                  v-for="(ra, raindex) in problem.optionList"
                  class="issus-item-answer-radio"
                  :key="raindex"
                >
                  <div class="issus-item-answer-radio-box">
                    <div
                      class="issus-item-answer-radio-label"
                      v-if="problem.problemType == 1"
                    >
                    {{ letter[raindex] }}、
                    </div>
                    <div
                      class="issus-item-answer-radio-cintent w-e-text"
                      v-html="ra.optionContent || raindex"
                    ></div>
                  </div>
                </div>
              </el-radio-group>
            </div>
            <div v-if="problem.problemType == 2" class="issus-item-answer select-box">
              <el-checkbox-group v-model="problem.value">
                <div
                  v-for="(ra, raindex) in problem.optionList"
                  class="issus-item-answer-radio"
                  :key="raindex"
                >
                  <el-checkbox :label="ra.optionContent">
                    <div class="issus-item-answer-radio-box">
                      <div class="issus-item-answer-radio-label">{{ letter[raindex] }}、</div>
                      <div
                        class="issus-item-answer-radio-cintent w-e-text"
                        v-html="ra.optionContent || raindex"
                      ></div>
                    </div>
                  </el-checkbox>
                </div>
              </el-checkbox-group>
            </div>
            <Explain @playVideo="playVideo" :problem="problem" v-if="problem.problemType != 6"></Explain>
            <div v-if="problem.problemType == 6" class="issus-item-answer">
              <div
                v-for="(child, cindex) in problem.childrenList"
                class="issus-item"
                :ref="'problem' +problem.id+ '-' + child.id+ '-' + index"
                :key="cindex"
              >
                <div class="issus-item-title">
                  {{ cindex + 1 }}、
                  <div v-html="child.problemContent" class="issus-item-title-text"></div>
                </div>
                <div
                  v-if="child.problemType == 1 || child.problemType == 3 "
                  class="issus-item-answer select-box">
                  <el-radio-group v-model="child.value">
                    <div
                      v-for="(ra, raindex) in child.optionList"
                      class="issus-item-answer-radio"
                      :key="raindex"
                    >
                      <el-radio :label="ra.optionContent">
                        <div class="issus-item-answer-radio-box">
                          <div
                            class="issus-item-answer-radio-label"
                            v-if="child.problemType == 1"
                          >
                          {{ letter[raindex] }}、
                          </div>
                          <div
                            class="issus-item-answer-radio-cintent w-e-text"
                            v-html="ra.optionContent || raindex"
                          ></div>
                        </div>
                      </el-radio>
                    </div>
                  </el-radio-group>
                </div>
                <div v-if="child.problemType == 2" class="issus-item-answer select-box">
                  <el-checkbox-group v-model="child.value">
                    <div
                      v-for="(ra, raindex) in child.optionList"
                      class="issus-item-answer-radio"
                      :key="raindex"
                    >
                      <el-checkbox :label="ra.optionContent">
                        <div class="issus-item-answer-radio-box">
                          <div class="issus-item-answer-radio-label">{{ letter[raindex] }}、</div>
                          <div
                            class="issus-item-answer-radio-cintent w-e-text"
                            v-html="ra.optionContent || raindex"
                          ></div>
                        </div>
                      </el-checkbox>
                    </div>
                  </el-checkbox-group>
                </div>
                <Explain @playVideo="playVideo" :problem="child"></Explain>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preview-side" ref="previewSide">
        <div class="content">
          <div class="title">
            <i></i>答题卡
          </div>
          <div v-for="(item, index) in tableData" class="answer-list" :key="item.id">
            <div class="answer-title">{{ (index+ 1) | ChineseToNumber }}、{{ item.titleName }}</div>
            <template v-for="(problem, tindex) in item.problemList">
              <div
                @click="toProblem(problem.id, -1, index)"
                v-if="problem.problemType != 6"
                :class="['answer-item ', ['red', 'green', 'active'][problem.problemStatus - 1]]"
                :key="tindex"
              >
              {{ tindex + 1 }}
              </div>
              <div
                @click="toProblem(problem.id, -1, index)"
                v-else
                v-for="(child, cindex) in problem.childrenList"
                :class="['answer-item ', ['red', 'green', 'active'][child.problemStatus - 1]]"
                :key="cindex"
              >
              {{ cindex + 1 }}
              </div>
            </template>
          </div>
        </div>
        <div class="time">
          总分（系统评分+自评）
          <div class="red">{{ totalScore }}</div>
        </div>
        <el-button @click="submit()" class="submit" type="primary">确定</el-button>
        <el-button @click="submit(1)" plain class="submit" type="primary">返回首页</el-button>
      </div>
    </div>
    <d-video v-if="centerDialogVisible" :data="videoData" @hidefun="centerDialogVisible = false" />
  </div>
</template>

<script>
import * as apis from '~/api/account/exam.js';
import * as gradeApis from '~/api/account/grade.js';
import { toZhDigit } from '~/utils/utils.js';
import DVideo from '~/components/course/VideoModal';
import Explain from '~/components/userexam/explain';

export default {
  layout: 'activity',
  name: 'Preview',
  components: {
    DVideo,
    Explain
  },
  filters: {
    ChineseToNumber(chnStr) {
      return toZhDigit(chnStr);
    },
    initcontent(str) {
      if (str) {
        str = str.replace(/<[^>]+>|&[^>]+;/g, '').trim(); // 去掉所有的html标签和&nbsp;之类的特殊符合
        return str;
      } else {
        return '';
      }
    }
  },
  data() {
    return {
      videoData: {
        videoVid: '1255674890832760833'
      },
      centerDialogVisible: false,
      tableData: [],
      loading: true,
      text: '',
      title: '',
      answerScoreText: '',
      letter: 'ABCDEFGHIJkLMNOPQRSTUVWXYZ'.split('')
    };
  },
  computed: {
    totalScore() {
      let total = 0;
      this.tableData.forEach((t) => {
        t.problemList.forEach((e) => {
          let userScore = 0;
          if (e.childrenList && e.childrenList.length) {
            e.childrenList.forEach((c, cIndex) => {
              userScore += +c.userScore || 0;
            });
          } else {
            userScore = +e.userScore || 0;
          }
          total += userScore;
        });
      });
      return total;
    }
  },
  mounted() {
    if (this.$route.query && this.$route.query.id) {
      this.getData(this.$route.query.id);
    }
    if (this.$route.query && this.$route.query.gradeExamId) {
      this.isGradeExam = true;
      this.getGradeData(this.$route.query.gradeExamId);
    }
    this.initFn();
  },
  destroyed() {
    window.onbeforeunload = null;
  },
  methods: {
    toProblem(problemId, cindId, index) {
      const html = document.querySelector('html');
      let box = this.$refs['problem' + problemId + '-' + index];
      if (
        cindId !== -1 &&
        this.$refs['problem' + problemId + '-' + cindId + '-' + index]
      ) {
        box = this.$refs['problem' + problemId + '-' + cindId + '-' + index];
      }
      if (box && box[0]) {
        const top = box[0].offsetTop - 60;
        html.scrollTop = top;
        document.scrollTop = top;
      }
    },
    playVideo(data) {
      console.log(data);
      this.videoData = data;
      this.videoData.examId = this.examId;
      this.centerDialogVisible = true;
    },
    init(data = []) {
      const setUserAnswer = (e) => {
        // 设置答案的
        if (e.problemType < 4) {
          if (e.problemType === 2) {
            if (e.userAnswer && e.userAnswer.split) {
              e.value = e.userAnswer.split('|');
            } else {
              e.value = [];
            }
          } else {
            e.value = e.userAnswer || '';
            e.isEdit = false;
          }
          // 设置用户答案文字
          if (e.userAnswer) {
          }
          e.userAnswerText = e.userAnswer
            ? e.userAnswer.replace(/\|/g, '，')
            : '';
          e.problemAnswerText = e.problemAnswer
            ? e.problemAnswer.replace(/\|/g, '，')
            : '';
        }
        if (e.problemType === 4) {
          if (e.userAnswer) {
            e.userAnswerText = e.userAnswer.split
              ? e.userAnswer.split('|')
              : e.userAnswer;
            if (e.problemAnswer && e.problemAnswer.split) {
              e.problemAnswerText = e.problemAnswer.split('|');
            } else {
              e.problemAnswerText = [];
            }
          } else {
            e.userAnswerText = [];
            e.problemAnswerText = [];
          }
        }
        if (e.problemType === 5) {
          e.userAnswerText = e.userAnswer || '';
          e.problemAnswerText = e.problemAnswer;
        }

        // 讲师的设置
        if (data.answerShow === 1) {
          e.problemAnswerText = '不展示答案';
          if (e.problemType === 4) {
            e.problemAnswerText = ['不展示答案']
          }
        }
        if (data.answerShow === 3) {
          e.problemAnswerText = '考试结束后展示';
          if (e.problemType === 4) {
            e.problemAnswerText = ['考试结束后展示']
          }
        }
        if (data.answerShow === 4) {
          e.problemAnswerText = data.answerShowTime + '后展示';
           if (e.problemType === 4) {
            e.problemAnswerText = [data.answerShowTime + '后展示']
          }
        }
      };
      this.title = data.examName || data.gradeExamName || '标题';
      data.titleList.forEach((e) => {
        e.problemList.forEach((e) => {
          setUserAnswer(e);
          if (e.childrenList && e.childrenList.length) {
            e.childrenList.forEach((c, cIndex) => {
              setUserAnswer(c);
            });
          }
        });
      });
      this.tableData = data.titleList;
    },
    initFn() {},
    submit(is) {
      let url = '/account/exams/myExam';
      if (this.isGradeExam) {
        url = '/account/exams/myExamination';
      }
      if (is === 1) {
        url = '/';
      }
      this.$router.push({
        path: url
      });
    },
    getGradeData(id) {
      this.loading = true;
      gradeApis
        .getStudentAnswer({
          relationId: id,
          _No_dispose: true
        })
        .then((res) => {
          if (res && res.data && res.code === 200) {
            this.loading = false;
            this.examId = res.data.examId;
            res.data.titleList.forEach((e) => {
              e.problemList.forEach((e) => {
                e.userScore = e.score;
                if (e.childrenList && e.childrenList.length) {
                  e.childrenList.forEach((c, cIndex) => {
                    c.userScore = c.score;
                  });
                }
              });
            });
            this.init(res.data);
          } else {
            this.$alert(res.msg, '错误提示', {
              confirmButtonText: '确定',
              callback: (action) => {
                this.submit();
              }
            });
          }
        });
    },
    getData(id = '') {
      this.loading = true;
      apis.getExamAnswer(id).then((res) => {
        if (res && res.data) {
          this.loading = false;
          this.examId = res.data.examId;
          this.init(res.data);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.container {
  background: rgba(185, 190, 203, 1);
  padding-top: 76px;
  position: relative;
  width: 100%;
  .header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 66px;
    background: #fff;
    display: flex;
    z-index: 2002;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0980392156862745);

    .title {
      flex: 1;
      font-weight: 700;
      font-style: normal;
      font-size: 18px;
      line-height: 62px;
      letter-spacing: normal;
      color: #333333;
      text-align: center;
      vertical-align: none;
      text-transform: none;
    }

    .el-icon-arrow-left {
      width: 66px;
      display: block;
      text-align: center;
      line-height: 66px;
      height: 66px;
      font-weight: 700;
      font-size: 28px;
    }

    .time {
      width: 180px;
      text-align: left;
      line-height: 66px;
      font-size: 18px;
      .submit {
        margin-left: 20px;
        vertical-align: middle;
      }
    }
  }
}
.preview-box {
  padding-right: 290px;
  width: 1200px;
  margin: 0 auto;
  font-family: "MicrosoftYaHeiUI-Bold", "Microsoft YaHei UI Bold",
    "Microsoft YaHei UI";
  position: relative;
  .preview-main {
    width: 100%;
    padding-bottom: 9px;
    min-height: 100vh;

    .issus-list {
      .issus-list-title {
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        line-height: 30px;
        padding: 15px 30px;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 10px;
      }
      .issus-item {
        padding: 15px 30px;
        margin-bottom: 20px;
        background: #fff;
        margin-bottom: 10px;
        border-radius: 6px;

        .issus-item-answer {
          margin-top: 10px;
          position: relative;
          &.select-box::after {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
          }

          .issus-item-answer-text {
            border: 1px solid #eee;
            height: 200px;
            border-radius: 4px;
            padding: 10px;
          }

          .edit-btn {
            width: 100px;
            height: 36px;
            margin-top: 10px;
          }
          .issus-item-answer-radio {
            padding: 6px 0;
            .issus-item-answer-radio-box {
              display: flex;
              position: relative;
              top: 1px;
              .issus-item-answer-radio-label {
                font-size: 14px;
              }
              .issus-item-answer-radio-cintent {
                flex: 1;
                padding-left: 0px;
                font-size: 14px;
                overflow-y: hidden;
                vertical-align: top;
                white-space: normal;

              }
            }
          }
        }

        .issus-item-title {
          display: flex;
          font-weight: 500;
          font-style: normal;
          font-size: 14px;
          line-height: 40px;
          .issus-item-title-text {
            flex: 1;
            color: #333;
          }
        }
      }
    }
  }
  .preview-side {
    position: fixed;
    right: calc((100vw - 1200px) / 2);
    top: 76px;
    height: calc(100vh - 90px);
    margin-left: 10px;
    flex: 1;
    width: 270px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    .content {
      flex: 1;
      background: #fff;
      padding: 0 10px;
      border-radius: 6px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .title {
      padding: 10px 0;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border-bottom: 1px solid #eee;

      i {
        width: 3px;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 4px;
        height: 18px;
        background-color: rgba(36, 136, 236, 1);
      }
    }

    .answer-list {
      padding: 10px 0;
      width: 200px;
      border-bottom: 1px solid #eee;
      .answer-title {
        font-style: normal;
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 4px;
      }

      .answer-item {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 8px 8px 0 0;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        font-size: 12px;
        cursor: pointer;

        color: #999999;
        background-color: rgba(245, 245, 245, 1);
        &.active {
          color: #ffffff;
          background-color: rgba(36, 136, 236, 1);
          border-color: rgba(36, 136, 236, 1);
        }
        &.green {
          border-color: #7bcd30;
          background-color: #7bcd30;
          color: #fff;
        }
        &.red {
          color: #ffffff;
          background-color: red;
          border-color: red;
        }
      }
    }

    .time {
      background: #fff;
      padding: 12px 0;
      margin: 20px 0;
      font-weight: 400;
      border-radius: 6px;
      font-style: normal;
      font-size: 14px;
      text-align: center;
      line-height: 28px;
      .red {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #d51423;
        text-align: center;
        line-height: 28px;
      }
    }

    .submit {
      width: 270px;
      height: 36px;
      margin: 5px 0;
    }
  }
}
</style>

<style lang="scss">
.preview-box {
  .issus-item-answer-radio {
    .el-radio {
      width: 100%;
    }
    .el-radio__label {
      display: inline-block;
      min-width: 100%;
    }
    .issus-item-answer-radio-box {
      .issus-item-answer-radio-cintent {
        p:first-child {
          margin-top: -4px;
        }
        img {
          vertical-align: top;
        }
        img[style="font-size: 14px;"] {
          position: relative;
          top: -5px;
        }
      }
    }
    .el-checkbox__label {
      .issus-item-answer-radio-box {
        .issus-item-answer-radio-cintent {
          p:first-child {
            word-break:break-word;
            margin-top: -1px;
          }
        }
      }
    }
  }
}
</style>
