<template>
  <div class="container account_cont" ref="container">
    <div class="header">
      <i class="el-icon-arrow-left" @click="$router.go(-1)"></i>
      <div class="title">{{ title }}</div>
      <i class="el-icon-arrow-left" style="font-size: 0px" @click="$router.go(-1)"></i>
    </div>

    <div class="preview-box" ref="preview" v-loading="loading">
      <div class="preview-letf-side">
        <div class="head">
          学员
          <div class="num">
            <span>{{ studentIndex + 1 }}</span>
            /{{ studentList.length }}
          </div>
        </div>
        <div
          @click="select(index)"
          :class="['user-item', index==studentIndex ? 'active' : '', item.auditStatus == 4?'win':'']"
          v-for="(item, index) in studentList"
          :key="index"
        >
          <div>
            <img :src="item.headImgUrl" v-if="item.headImgUrl" alt />
            <span v-else>{{ item.nickname.slice(0, 2) }}</span>
          </div>
        </div>
      </div>
      <div v-loading="loading" class="preview-main">
        <div v-for="(item, index) in tableData" :key="index">
          <div class="issus-list" v-if="item.titleType > 3">
            <h5 class="issus-list-title">{{ (index+ 1) | ChineseToNumber }}、{{ item.titleName }}</h5>
            <div v-for="(problem, tindex) in item.problemList" :key="tindex">
              <div class="issus-item" :ref="'problem' + problem.id + '-' + index">
                <div class="issus-item-title">
                  {{ tindex + 1 }}、
                  <div
                    v-html="problem.problemContent"
                    @click="problem.isHidden = !problem.isHidden"
                    :class="['issus-item-title-text', (problem.isHidden) ? 'hidden' : '']"
                  ></div>
                  <i
                    class="icon el-icon-arrow-down"
                    v-if="problem.isHidden"
                    @click="problem.isHidden = false"
                  ></i>
                  <i
                    class="icon el-icon-arrow-up"
                    v-if="!problem.isHidden"
                    @click="problem.isHidden = true"
                  ></i>
                </div>
                <Explain
                  :type="2"
                  @playVideo="playVideo"
                  :problem="problem"
                  v-if="problem.problemType != 6"
                ></Explain>
                <div v-if="problem.problemType == 6" class="issus-item-answer">
                  <div v-for="(child, cindex) in problem.childrenList" :key="cindex">
                    <div
                      class="issus-item"
                      :ref="'problem' +problem.id+ '-' + child.id+ '-' + index"
                      v-if="child.problemType > 3"
                    >
                      <div class="issus-item-title">
                        {{ cindex + 1 }}、
                        <div
                          v-html="child.problemContent"
                          :class="['issus-item-title-text', (child.isHidden) ? 'hidden' : '']"
                        ></div>
                        <i
                          class="icon el-icon-arrow-down"
                          v-if="child.isHidden"
                          @click="child.isHidden = false"
                        ></i>
                        <i
                          class="icon el-icon-arrow-up"
                          v-if="!child.isHidden"
                          @click="child.isHidden = true"
                        ></i>
                      </div>
                      <Explain
                        :type="2"
                        @playVideo="playVideo"
                        :problem="child"
                      ></Explain>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="center">
          <el-button type="primary" v-if="studentIndex + 1 !== studentList.length" @click="next()">下一个</el-button>
        </div>
      </div>
      <div class="preview-side" ref="previewSide">
        <div class="content">
          <div class="title">
            <i></i>答题卡
          </div>
          <div v-for="(item, index) in tableData" class="answer-list" :key="item.id">
            <div class="answer-title">{{ (index+ 1) | ChineseToNumber }}、{{ item.titleName }}</div>
            <template v-for="(problem, tindex) in item.problemList">
              <div
                @click="toProblem(problem.id, -1, index)"
                v-if="problem.problemType != 6"
                :class="['answer-item ', ['red', 'green', 'active'][problem.problemStatus - 1]]"
                :key="tindex"
              >
{{ tindex + 1 }}
</div>
              <div
                @click="toProblem(problem.id, -1, index)"
                v-else
                v-for="(child, cindex) in problem.childrenList"
                :class="['answer-item ', ['red', 'green', 'active'][child.problemStatus - 1]]"
                :key="cindex"
              >
{{ cindex + 1 }}
</div>
            </template>
          </div>
        </div>
        <div class="time">
          总分（系统评分+自评）
          <div class="red">{{ totalScore }}</div>
        </div>
        <el-button @click="next()" class="submit" type="primary">确定</el-button>
        <el-button @click="submit()" plain class="submit" type="primary">返回首页</el-button>
      </div>
    </div>
    <d-video v-if="centerDialogVisible" :data="videoData" @hidefun="centerDialogVisible = false" />
  </div>
</template>

<script>
import * as gradeApis from '~/api/account/grade.js';
import { toZhDigit } from '~/utils/utils.js';
import DVideo from '~/components/course/VideoModal';
import Explain from '~/components/userexam/explain';

export default {
  layout: 'activity',
  name: 'Preview',
  components: {
    DVideo,
    Explain
  },
  filters: {
    ChineseToNumber(chnStr) {
      return toZhDigit(chnStr);
    },
    initcontent(str) {
      if (str) {
        str = str.replace(/<[^>]+>|&[^>]+;/g, '').trim(); // 去掉所有的html标签和&nbsp;之类的特殊符合
        return str;
      } else {
        return '';
      }
    }
  },
  data() {
    return {
      videoData: {
        videoVid: '1255674890832760833'
      },
      centerDialogVisible: false,
      tableData: [],
      loading: false,
      text: '',
      title: '',
      answerScoreText: '',
      studentList: [],
      studentIndex: 0,
      letter: 'ABCDEFGHIJkLMNOPQRSTUVWXYZ'.split('')
    };
  },
  computed: {
    totalScore() {
      let total = 0;
      this.tableData.forEach((t) => {
        t.problemList.forEach((e) => {
          let userScore = 0;
          if (e.childrenList && e.childrenList.length) {
            e.childrenList.forEach((c, cIndex) => {
              userScore += +c.userScore || 0;
            });
          } else {
            userScore = +e.userScore || 0;
          }
          total += userScore;
        });
      });
      return total;
    }
  },
  mounted() {
    // if (this.$refs.previewSide && this.$refs.container && this.$refs.preview) {
    //   this.$refs.previewSide.style.right =
    //     (this.$refs.container.offsetWidth - this.$refs.preview.offsetWidth) /
    //       2 +
    //     'px'
    // }
    if (this.$route.query && this.$route.query.examId) {
      this.getData(this.$route.query.examId);
    }
  },
  destroyed() {
    window.onbeforeunload = null;
  },
  methods: {
    toProblem(problemId, cindId, index) {
      const html = document.querySelector('html');
      let box = this.$refs['problem' + problemId + '-' + index];
      if (
        cindId !== -1 &&
        this.$refs['problem' + problemId + '-' + cindId + '-' + index]
      ) {
        box = this.$refs['problem' + problemId + '-' + cindId + '-' + index];
      }
      if (box && box[0]) {
        const top = box[0].offsetTop - 60;
        html.scrollTop = top;
        document.scrollTop = top;
      }
    },
    playVideo(data) {
      this.videoData = data;
      this.videoData.examId = this.examId;
      this.centerDialogVisible = true;
    },
    init(data = []) {
      const setUserAnswer = (e) => {
        // 设置答案的
        if (e.problemType < 4) {
          if (e.problemType === 2) {
            if (e.userAnswer && e.userAnswer.split) {
              e.value = e.userAnswer.split('|');
            } else {
              e.value = [];
            }
          } else {
            e.value = e.userAnswer || '';
            e.isEdit = false;
          }
          // 设置用户答案文字
          if (e.userAnswer) {
          }
          e.userAnswerText = e.userAnswer
            ? e.userAnswer.replace(/\|/g, '，')
            : '';
          e.problemAnswerText = e.problemAnswer
            ? e.problemAnswer.replace(/\|/g, '，')
            : '';
        }
        if (e.problemType === 4) {
          if (e.userAnswer) {
            e.userAnswerText = e.userAnswer.split
              ? e.userAnswer.split('|')
              : e.userAnswer;
            if (e.problemAnswer && e.problemAnswer.split) {
              e.problemAnswerText = e.problemAnswer.split('|');
            } else {
              e.problemAnswerText = [];
            }
          } else {
            e.userAnswerText = [];
            e.problemAnswerText = [];
          }
        }
        if (e.problemType === 5) {
          e.userAnswerText = e.userAnswer || '';
          e.problemAnswerText = e.problemAnswer;
        }
      };
      this.title = data.examName || data.gradeExamName || '标题';
      data.titleList.forEach((e) => {
        e.problemList.forEach((e) => {
          e.isHidden = true; // 是否展示题目
          e.isScore = true; // 是否评分
          setUserAnswer(e);
          e.userScore = e.score || 0;
          if (
            data.auditType === 1 ||
            data.auditStatus === 4 ||
            e.problemStatus !== 3
          ) {
            e.isScore = false;
          }
          if (e.childrenList && e.childrenList.length) {
            e.childrenList.forEach((c, cIndex) => {
              c.isHidden = true;
              c.isScore = true; // 是否评分
              c.userScore = c.score || 0;
              if (
                data.auditType === 1 ||
                data.auditStatus === 4 ||
                c.problemStatus !== 3
              ) {
                c.isScore = false;
              }
              setUserAnswer(c);
            });
          }
        });
      });
      this.tableData = data.titleList;
    },
    submit() {
      this.$router.push({
        path: '/'
      });
    },
    getExamData() {
      if (this.studentList[this.studentIndex]) {
        this.studentExamId = this.studentList[this.studentIndex].id;
        this.loading = true;
        gradeApis.getStudentAnswer({
          relationId: this.studentExamId
        }).then((res) => {
          if (res && res.data) {
            this.loading = false;
            this.examId = res.data.examId;
            this.exam = res.data;
            this.init(res.data);
          }
        });
      }
    },
    select(n, status) {
      if (status === 4) {
        return;
      }
      if (n !== this.studentIndex) {
        this.studentIndex = n;
        this.getExamData();
      }
    },
    next(n = -1) {
      if(this.studentList[this.studentIndex].auditStatus == 4) {
        this.studentIndex++;
        this.getExamData();
      }
      if (this.exam && this.exam.auditStatus === 4) {
        if (this.studentIndex === this.studentList.length) {
          this.$confirm('该试卷所有考试已经评阅完成！', '提示', {
            confirmButtonText: '确定',
            showCancelButton: false,
            showClose: false,
            closeOnClickModal: false,
            closeOnPressEscape: false,
            type: 'warning'
          }).then(() => {
            this.$router.go(-1);
          });
        }
        return;
      }
      this.$confirm('确定评卷完成了吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true;
        gradeApis.completeAuditExam({
          id: this.studentExamId
        }).then((res) => {
          this.loading = false;
          if (res.code === 200) {
            this.$message({
              message: '评卷完成！',
              type: 'success'
            });
          }
          this.exam.auditStatus = 4;
          this.studentList[this.studentIndex].auditStatus = 4;
          if (this.studentIndex + 1 === this.studentList.length) {
            this.$confirm('该试卷所有考试已经评阅完成！', '提示', {
              confirmButtonText: '确定',
              showCancelButton: false,
              showClose:false,
              closeOnClickModal: false,
              closeOnPressEscape: false,
              type: 'warning'
            }).then(() => {
              this.$router.go(-1);
            });
          } else {
            this.studentIndex++;
            this.getExamData();
          }
        });
      });
    },
    getData(id = '') {
      this.loading = false;
      gradeApis.getExamStudentList({
        gradeExamId: id
      }).then((res) => {
        this.studentList = res.data;
        this.getExamData();
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.container {
  background: rgba(185, 190, 203, 1);
  padding-top: 76px;
  position: relative;
  width: 100%;
  .header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 66px;
    background: #fff;
    display: flex;
    z-index: 100;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.098);

    .title {
      flex: 1;
      font-weight: 700;
      font-style: normal;
      font-size: 18px;
      line-height: 62px;
      letter-spacing: normal;
      color: #333333;
      text-align: center;
      vertical-align: none;
      text-transform: none;
    }

    .el-icon-arrow-left {
      width: 66px;
      display: block;
      text-align: center;
      line-height: 66px;
      height: 66px;
      font-weight: 700;
      font-size: 28px;
    }

    .time {
      width: 180px;
      text-align: left;
      line-height: 66px;
      font-size: 18px;
      .submit {
        margin-left: 20px;
        vertical-align: middle;
      }
    }
  }
}
.preview-box {
  padding-right: 290px;
  padding-left: 86px;
  width: 1300px;
  margin: 0 auto;
  min-height: calc(100% - 80px);
  font-family: "MicrosoftYaHeiUI-Bold", "Microsoft YaHei UI Bold",
    "Microsoft YaHei UI";
  position: relative;
  .preview-main {
    width: 100%;
    min-height: 100vh;

    .issus-list {
      .issus-list-title {
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        line-height: 30px;
        padding: 15px 30px;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 10px;
      }
      .issus-item {
        padding: 15px 30px;
        margin-bottom: 20px;
        background: #fff;
        margin-bottom: 10px;
        border-radius: 6px;

        .issus-item-answer {
          margin-top: 10px;

          &.select-box::after {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
          }

          .issus-item-answer-text {
            border: 1px solid #eee;
            height: 200px;
            border-radius: 4px;
            padding: 10px;
          }

          .edit-btn {
            width: 100px;
            height: 36px;
            margin-top: 10px;
          }
          .issus-item-answer-radio {
            padding: 6px 0;
          }
        }

        .issus-item-title {
          display: flex;
          font-weight: 500;
          font-style: normal;
          font-size: 14px;
          line-height: 40px;
          .icon {
            line-height: 40px;
            text-align: center;
            vertical-align: top;
            display: inline-block;
            height: 40px;
            width: 40px;
            font-size: 20px;
          }
          .issus-item-title-text {
            flex: 1;
            color: #333;
            &.hidden {
              overflow: hidden;
              height: 40px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  .preview-letf-side {
    position: fixed;
    left: calc((100% - 1300px) / 2);
    top: 76px;
    height: calc(100% - 80px);
    flex: 1;
    border-radius: 6px;
    width: 76px;
    max-height: 100vh;
    display: flex;
    background: #fff;
    flex-direction: column;

    .head {
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      border-bottom: 1px solid rgba(228, 228, 228, 1);
      span {
        font-size: 20px;
        color: #2388ec;
      }
    }

    .user-item {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      box-sizing: border-box;
      overflow: hidden;
      margin: 5px auto;
      border: 2px solid #fff;
      padding: 4px;
      text-align: center;
      &.win {
        border: 2px solid #7bcd30;
      }
      &.active {
        border: 2px solid #d51423;
      }
      div {
        width: 100%;
        border-radius: 50%;
        height: 100%;
        background: #ddd;
        span,
        img {
          width: 100%;
          height: 100%;
          font-size: 18px;
          border-radius: 50%;
          line-height: 40px;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
  .preview-side {
    position: fixed;
    right: calc((100% - 1300px) / 2);
    top: 76px;
    height: calc(100vh - 90px);
    margin-left: 10px;
    flex: 1;
    width: 270px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    .content {
      flex: 1;
      background: #fff;
      padding: 0 10px;
      border-radius: 6px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .title {
      padding: 10px 0;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border-bottom: 1px solid #eee;

      i {
        width: 3px;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 4px;
        height: 18px;
        background-color: rgba(36, 136, 236, 1);
      }
    }

    .answer-list {
      padding: 10px 0;
      width: 200px;
      border-bottom: 1px solid #eee;
      .answer-title {
        font-style: normal;
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 4px;
      }

      .answer-item {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 8px 8px 0 0;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        font-size: 12px;
        cursor: pointer;

        color: #999999;
        background-color: rgba(245, 245, 245, 1);
        &.active {
          color: #ffffff;
          background-color: rgba(36, 136, 236, 1);
          border-color: rgba(36, 136, 236, 1);
        }
        &.green {
          border-color: #7bcd30;
          background-color: #7bcd30;
          color: #fff;
        }
        &.red {
          color: #ffffff;
          background-color: red;
          border-color: red;
        }
      }
    }

    .time {
      background: #fff;
      padding: 12px 0;
      margin: 20px 0;
      font-weight: 400;
      border-radius: 6px;
      font-style: normal;
      font-size: 14px;
      text-align: center;
      line-height: 28px;
      .red {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #d51423;
        text-align: center;
        line-height: 28px;
      }
    }
    .submit {
      width: 270px;
      height: 36px;
      margin: 5px 0;
    }
  }
  .center {
    padding-bottom: 60px;
    padding-top: 20px;
  }
}
</style>
