
<template>
  <div class="user-exam-list-page">
    <nav class="user-exam-nav">
      <div class="nav-list container">
        <div class="nav-item">
          <span>科目：</span>
          <div
            :class="['nav-btn', seek.subjectId == item.id ? 'active' : '']"
            @click="select('subjectId', item.id)"
            v-for="item in kemuList"
            :key="item.id"
            v-html="item.categoryName"
          ></div>
        </div>
        <div class="nav-item">
          <span>来源：</span>
          <div
            :class="['nav-btn', seek.sourceId == item.id ? 'active' : '']"
            @click="select('sourceId', item.id)"
            v-for="item in laiyuanList"
            :key="item.id"
            v-html="item.categoryName"
          ></div>
          <el-button type="primary" round @click="toExercise()">随机练习</el-button>
        </div>
        <div class="nav-item">
          <span>年份：</span>
          <div
            :class="['nav-btn', seek.yearId == item.id ? 'active' : '']"
            @click="select('yearId', item.id)"
            v-for="item in nianfenList"
            class="nav-btn"
            :key="item.id"
            v-html="item.categoryName"
          ></div>
        </div>
        <div class="nav-item">
          <span>排序：</span>
          <div
            :class="['nav-btn', seek.sortType == index ? 'active' : '']"
            @click="select('sortType', index)"
            v-for="(item, index) in sortlist"
            :key="item.id"
            v-html="item"
          ></div>
        </div>
      </div>
    </nav>
    <div class="exam-content container">
      <div v-loading="loading" class="exam-list">
        <examList :list="list"></examList>
        <div style="text-align: center">
          <el-pagination
            :page-size="20"
            :current-page="page"
            :total="total"
            @current-change="getPage"
            class="page-panel"
            background
            layout="prev, pager, next"
          ></el-pagination>
        </div>
      </div>
      <div class="side-box">
        <div class="side" v-affix>
          <div class="side-content">
            <div class="side-title">试卷推荐</div>
            <div class="recommend">
              <nuxt-link
                v-for="(item, index) in RecommendList"
                :key="index"
                :to="{ path: '/exam/view/' + item.examId }"
                target="_blank"
              >
                <div class="recommend-item">
                  <div class="recommend-item-title">{{ item.examName }}</div>
                  <div class="recommend-item-tip">
                    <span>
                      更新: {{ item.gmtModified }}&nbsp;&nbsp;
                      浏览：{{ item.studyCount }}
                    </span>
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as apis from "~/api/account/exam.js";
import examList from "~/components/userexam/examList";

export default {
  components: { examList },
  head() {
    return {};
  },
  data() {
    return {
      kemuList: [],
      sortlist: ["综合排序", "浏览次数", "下载次数"],
      nanduList: [],
      laiyuanList: [],
      leixingList: [],
      nianfenList: [],
      RecommendList: [],
      list: [],
      total: 0,
      loading: false,
      page: 0,
      seek: {
        subjectId: "",
        gradeId: "",
        sourceId: "",
        yearId: "",
        sortType: 0,
      },
    };
  },
  watch: {},
  async asyncData(context) {
    const apiList = [
      ["categoryList", { examCategoryType: 1, categoryType: 2 }, "kemuList"],
      ["categoryList", { examCategoryType: 2, categoryType: 2 }, "nianfenList"],
      ["categoryList", { examCategoryType: 3, categoryType: 2 }, "laiyuanList"],
    ];
    const That = {};
    const promises = apiList.map((e) => {
      return apis[e[0]](e[1]);
    });
    const resList = await Promise.all(promises);
    apiList.map((e, i) => {
      if (resList[i] && resList[i].data && resList[i].data.examCategoryList) {
        const d = resList[i].data.examCategoryList;
        if (d && d.length) {
          d.unshift({
            categoryName: "全部",
            id: "",
          });
          That[e[2]] = d;
        }
      }
    });
    const res = await apis.getExamInfoList({
      sortType: 1,
      pageCurrent: 1,
      pageSize: 20,
    });
    if (res.code === 200 && res.data.list) {
      That.list = res.data.list;
      That.total = res.data.totalCount;
    }
    return That;
  },
  mounted() {
    this.getRecommendList();
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo || {};
    }
  },
  methods: {
    toExercise() {
      if (!this.$store.state.tokenInfo) {
        this.$confirm("请登录后再来练习!", "提示", {
          type: "warning",
        }).then((res) => {
          this.$store.dispatch("REDIRECT_LOGIN");
        });
        return;
      }
      apis.savePractice({
        ... this.seek,
        userNo: this.userInfo.userNo
      }).then((res) => {
        if(res && res.code == 200) {
          this.$router.push({
            path: "/exam/exercise/" + res.data,
          });
        }
      });
    },
    openExam(id) {
      this.$router.push({
        path: "/exam/view/" + (id || ""),
      });
    },
    getPage(page ) {
      this.page = page;
      this.getData();
    },
    async getRecommendList() {
      const res = await apis.getRecommendList();
      if (res.code === 200 && res.data.list) {
        this.RecommendList = res.data.list;
      }
    },
    async getData() {
      const d = {
        pageCurrent: this.page,
        pageSize: 20,
        ...this.seek,
      };
      this.loading = true;
      const res = await apis.getExamInfoList(d);
      this.loading = false;
      if (res.code === 200 && res.data.list) {
        this.list = res.data.list;
        this.total = res.data.totalCount;
      }
    },
    select(key , id) {
      this.seek[key] = id;
      this.getData();
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss">
@import "~/assets/css/account.scss";

.user-exam-list-page {
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .notdata {
    line-height: 120px;
    text-align: center;
    font-size: 18px;
  }

  .exam-content {
    margin: 20px auto;
    display: flex;
    .exam-list {
      flex: 1;
      background: #fff;
      border-radius: 8px;
    }
  }

  .user-exam-nav {
    background: #fff;
    .nav-list {
      .nav-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        line-height: 40px;
        padding: 10px 0;
        font-weight: 700;
        font-size: 14px;
        font-style: normal;
        cursor: pointer;
        padding-left: 40px;
        position: relative;
        & > span {
          position: absolute;
          left: 0;
          top: 0;
          line-height: 60px;
        }
        &:last-child {
          border-bottom: none;
        }
        .nav-btn {
          display: inline-block;
          margin: 0 8px;
          padding: 0 10px;
          border-radius: 3px;
          line-height: 25px;
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          position: relative;
          &:hover {
            color: red;
          }
          &.active {
            background-color: rgba(51, 51, 51, 1);
            color: #fff;
            top: 1px;
          }
        }
      }
    }
  }
  .exam-list {
    padding: 20px;
    .exam-item {
      width: 100%;
      height: 80px;
      padding: 10px 20px;
      border: 1px solid #eee;
      border-radius: 4px;
      margin-bottom: 20px;
      cursor: pointer;
      .exam-item-tip {
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #999999;
        line-height: 20px;
        padding-left: 28px;
      }
      .exam-item-title-box {
        display: flex;

        .exam-item-title {
          flex: 1;
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #333333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 36px;
        }
        .exam-item-icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border: 1px solid #0c9bff;
          color: #0c9bff;
          border-radius: 3px;
          display: inline-block;
          text-align: center;
          position: relative;
          line-height: 18px;
          position: relative;
          top: 8px;
        }
        .exam-item-price {
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #d51423;
          text-align: right;
          line-height: 36px;
          margin-left: 10px;
        }
      }
    }
  }

  .side-box {
    width: 260px;
    margin-left: 20px;
    min-height: 400px;
    .side {
      width: 260px;
    }
    .side-content {
      background: #fff;
      border-radius: 8px;
    }
    .side-title {
      font-weight: 700;
      font-style: normal;
      font-size: 14px;
      color: #333333;
      padding: 20px 20px;
      border-bottom: 1px solid #eee;
    }

    .recommend {
      padding: 0 20px;
      .recommend-item {
        cursor: pointer;
        padding: 10px 0px;
        border-bottom: 1px solid #eee;

        &:last-child {
          border-bottom: none;
        }
        .recommend-item-title {
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #333333;
          line-height: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .recommend-item-tip {
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          color: #999999;
          line-height: 24px;
        }
      }
    }
  }
}
</style>
