<template>
  <div class="exam-index">
    <div class="exam-center">
      <div class="text-box">
        <div class="exam-center-title">{{ resData.examName || resData.gradeExamName }}</div>
        <div class="exam-center-title">您本次考试成绩分数：</div>
        <div class="score">{{ resData.score }} </div>
        <div class="exam-center-data">本次试卷满分为 {{ resData.totalScore }} 分！</div>
      </div>
      <div class="br"></div>
      <div class="text-box">
        <div v-for="(item, index) in resData.titleScoreList" :key="index" class="exam-center-data">
          {{ item.titleName }}：
          <template v-if="item.needManualScore == 0">
            <span class="red">{{ item.score }}</span>分
          </template>
          <template v-else-if="item.needManualScore != 0 && item.score != 0">
             得分<span class="red">{{ item.score }}</span>分 此类题型需要人工判分{{ item.needManualScore }} 分，系统已经评分{{ item.totalScore - item.needManualScore }}分
          </template>
          <template v-else>
            此类题型需要人工判分
          </template>
          <span class="exam-center-data-tip">（总分：{{ item.totalScore }}  分）</span>
        </div>
      </div>
      <div class="br"></div>
      <div class="text-box">
        <div class="exam-center-tip">
          <div class="exam-center-tip-text">交卷时间：{{ resData.endTime }}</div>
          <div class="exam-center-tip-text">考试用时：{{ resData.answerTime }}分钟</div>
        </div>
      </div>
      <div @click="toExplain()" class="to">查看答案和解析</div>
    </div>
  </div>
</template>
<script>
import * as gradeApis from '~/api/account/grade.js'

export default {
  layout: 'activity',
  data() {
    return {
      resData: {

      }
    }
  },
  mounted() {
    console.log(this.$route)
    if (this.$route.query.type === '2') {
      gradeApis.relationExamScore({
        id: this.$route.query.gradeExamId
      }).then((res) => {
        if (res.code === 200) {
          res.data.titleScoreList = res.data.titleScoreDTOS
          res.data.totalScore = res.data.lecturerAuditTotalScore + res.data.sysAuditTotalScore
          this.resData = res.data;
        }
      })
    } else {
      this.resData = this.lockr.get('userexam-result')
    }
  },
  created() {

  },
  methods: {
    toExplain() {
      this.$router.push({
        path: '/exam/explain?id=' + this.resData.recordId
      })
    }
  }
}
</script>

<style scoped lang="scss">
  .exam-index {
    background: rgba(185,190,203,1);
    padding: 5vh 0 5vh;
    .exam-center {
      width: 800px;
      min-height:  90vh;
      margin: 0 auto 0;
      padding:60px 60px 30px;
      background:#fff;
      border-radius: 6px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0980392156862745);
      overflow: hidden;
      .logo {
        display: block;
        margin: 0;
        position: relative;
        height: 40px;
        left: -5px;
        float: none;
      }
    }

    .score {
      font-weight: 400;
      font-style: normal;
      font-size: 36px;
      color: #D51423;
      line-height: 58px;
      margin-top: -12px;
    }

    .text-box {
      display: inline-block;
      text-align: left;

    }
    .exam-center-title {
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 68px;
    }
    .exam-center-data {
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #555555;
      line-height: 36px;
    }

    .br {
      margin: 30px 0;
      border-bottom: 1px solid #eee;
    }

    .exam-center-tip {
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #555555;
      line-height: 36px;
      .exam-center-tip-text {
        color: red;
        font-size: 12px;
        line-height: 28px;

      }
    }

    .to {
      width: 180px;
      height: 36px;
      background: inherit;
      background-color: rgba(112, 182, 3, 1);
      border-radius: 3px;
      color:#fff;
      line-height: 36px;
      text-align:center;
      margin: 30px auto 0;
      cursor:pointer;
      &:hover {
        background-color: rgba(112, 182, 3, .6);
      }
    }
  }
.red {color:red}
</style>
