
<template>
  <div class="container account_cont start-exam" ref="container">
    <div class="header">
      <i class="el-icon-arrow-left" @click="$router.go(-1)"></i>
      <div class="title">{{ examData.examName }}</div>
      <div class="time">
        {{ answerTimeText }}
        <el-button @click="confirmSubmit()" class="submit" type="danger">交卷</el-button>
      </div>
    </div>
    <div class="preview-box" ref="preview" v-loading.fullscreen="loading">
      <div class="preview-main">
        <div v-for="(item, index) in examData.titleList" class="issus-list" :key="index">
          <h5 class="issus-list-title">{{ (index+ 1) | ChineseToNumber }}、{{ item.titleName }}</h5>
          <div
            v-for="(problem, tindex) in item.problemList"
            class="issus-item"
            :ref="'problem' + problem.id + '-' + index"
            :key="tindex"
          >
            <div class="issus-item-title">
              {{ tindex + 1 }}、
              <div v-html="problem.problemContent" class="issus-item-title-text"></div>
            </div>
            <div
              v-if="problem.problemType == 1 || problem.problemType == 3 "
              class="issus-item-answer"
            >
              <el-radio-group v-model="problem.value" @change="saveExamAnswer(index, tindex)">
                <div
                  v-for="(ra, raindex) in problem.optionList"
                  class="issus-item-answer-radio"
                  :key="raindex"
                >
                  <el-radio :label="ra.optionContent">
                    <div class="issus-item-answer-radio-box">
                      <div
                        class="issus-item-answer-radio-label"
                        v-if="problem.problemType == 1"
                      >
                      {{ letter[raindex] }}、
                      </div>
                      <div
                        class="issus-item-answer-radio-cintent w-e-text"
                        v-html="ra.optionContent || raindex"
                      ></div>
                    </div>
                  </el-radio>
                </div>
              </el-radio-group>
            </div>
            <div v-if="problem.problemType == 2" class="issus-item-answer">
              <el-checkbox-group v-model="problem.value" @change="saveExamAnswer(index, tindex)">
                <div
                  v-for="(ra, raindex) in problem.optionList"
                  class="issus-item-answer-radio"
                  :key="raindex"
                >
                  <el-checkbox :label="ra.optionContent">
                    <div class="issus-item-answer-radio-box">
                      <div class="issus-item-answer-radio-label">{{ letter[raindex] }}、</div>
                      <div
                        class="issus-item-answer-radio-cintent w-e-text"
                        v-html="ra.optionContent || raindex"
                      ></div>
                    </div>
                  </el-checkbox>
                </div>
              </el-checkbox-group>
            </div>
            <div v-if="problem.problemType == 4" class="issus-item-answer">
              <el-input
                v-for="oIndex in problem.optionCount"
                :key="oIndex"
                @blur="saveExamAnswer(index, tindex)"
                v-model="problem.value[oIndex - 1]"
                :placeholder="'请输入第' + oIndex +'个空的答案'"
                style="margin-bottom: 10px"
              >
                <template slot="prepend">{{ oIndex }}</template>
              </el-input>
            </div>
            <div v-if="problem.problemType == 5" class="issus-item-answer">
              <div v-if="!problem.isEdit" class="issus-item-answer-text" @click="edit(problem, index, tindex)">
                <div v-html="problem.value || '<span style=\'color:#aaa\'>请输入答案</span>'"></div>
              </div>
              <wangeditor v-model="problem.value" v-if="problem.isEdit"></wangeditor>
              <el-button
                @click="edit(problem, index, tindex)"
                class="edit-btn"
                type="primary"
              >
              {{ problem.isEdit ? '保存' : '编辑答案' }}
              </el-button>
            </div>

            <div v-if="problem.problemType == 6" class="issus-item-answer">
              <div
                v-for="(child, cindex) in problem.childrenList"
                class="issus-item"
                :ref="'problem' +problem.id+ '-' + child.id+ '-' + index"
                :key="cindex"
              >
                <div class="issus-item-title">
                  {{ cindex + 1 }}、
                  <div v-html="child.problemContent" class="issus-item-title-text"></div>
                </div>
                <div
                  v-if="child.problemType == 1 || child.problemType == 3 "
                  class="issus-item-answer"
                >
                  <el-radio-group
                    v-model="child.value"
                    @change="saveExamAnswer(index, tindex, cindex)"
                  >
                    <div
                      v-for="(ra, raindex) in child.optionList"
                      class="issus-item-answer-radio"
                      :key="raindex"
                    >
                      <el-radio :label="ra.optionContent">
                        <div class="issus-item-answer-radio-box">
                          <div
                            class="issus-item-answer-radio-label"
                            v-if="child.problemType == 1"
                          >
                          {{ letter[raindex] }}、
                          </div>
                          <div
                            class="issus-item-answer-radio-cintent w-e-text"
                            v-html="ra.optionContent || raindex"
                          ></div>
                        </div>
                      </el-radio>
                    </div>
                  </el-radio-group>
                </div>
                <div v-if="child.problemType == 2" class="issus-item-answer">
                  <el-checkbox-group
                    v-model="child.value"
                    @change="saveExamAnswer(index, tindex, cindex)"
                  >
                    <div
                      v-for="(ra, raindex) in child.optionList"
                      class="issus-item-answer-radio"
                      :key="raindex"
                    >
                      <el-checkbox :label="ra.optionContent">
                        <div class="issus-item-answer-radio-box">
                          <div class="issus-item-answer-radio-label">{{ letter[raindex] }}、</div>
                          <div
                            class="issus-item-answer-radio-cintent w-e-text"
                            v-html="ra.optionContent || raindex"></div>
                        </div>
                      </el-checkbox>
                    </div>
                  </el-checkbox-group>
                </div>
                <div v-if="child.problemType == 4" class="issus-item-answer">
                  <el-input
                    v-for="oIndex in child.optionCount"
                    :key="oIndex"
                    @blur="saveExamAnswer(index, tindex, cindex)"
                    v-model="child.value[oIndex - 1]"
                    :placeholder="'请输入第' + oIndex +'个空的答案'"
                    style="margin-bottom: 10px"
                  >
                    <template slot="prepend">{{ oIndex }}</template>
                  </el-input>
                </div>
                <div v-if="child.problemType == 5" class="issus-item-answer">
                  <div v-if="!child.isEdit" class="issus-item-answer-text" @click="edit(child, index, tindex, cindex)">
                    <div v-html="child.value || '<span style=\'color:#aaa\'>请输入答案</span>'"></div>
                  </div>
                  <wangeditor v-model="child.value" v-if="child.isEdit"></wangeditor>
                  <el-button
                    @click="edit(child, index, tindex, cindex)"
                    class="edit-btn"
                    type="primary"
                  >
                  {{ child.isEdit ? '保存' : '编辑答案' }}
                  </el-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="preview-side" ref="previewSide">
        <div class="content">
          <div class="title">
            <i></i>答题卡
          </div>
          <div v-for="(item, index) in examData.titleList" class="answer-list" :key="item.id">
            <div class="answer-title">{{ (index+ 1) | ChineseToNumber }}、{{ item.titleName }}</div>
            <template v-for="(problem, tindex) in item.problemList">
              <template v-if="problem.problemType != 6">
                <div
                  @click="toProblem(problem.id, -1, index)"
                  :key="tindex"
                  v-if="problem.problemType == 2 || problem.problemType == 4"
                  :class="['answer-item', (problem.value.length && problem.value[0]) ? 'active' : '']"
                >
                {{ tindex + 1 }}
                </div>
                <div
                  @click="toProblem(problem.id, -1, index)"
                  :key="tindex"
                  v-else
                  :class="['answer-item', problem.value ? 'active' : '']"
                >
                {{ tindex + 1 }}
                </div>
              </template>
              <template v-else>
                <div class="answer-list" :key="tindex" style="border-bottom:none">
                  <div
                    class="answer-title"
                  >
                  {{ (index+ 1) | ChineseToNumber }}、{{ problem.problemContent | initcontent }}
                  </div>
                  <template v-for="(child, cindex) in problem.childrenList">
                    <div
                      @click="toProblem(problem.id, child.id, index)"
                      :key="cindex"
                      v-if="child.problemType == 2 || child.problemType == 4"
                      :class="['answer-item', (child.value.length && child.value[0]) ? 'active' : '']"
                    >
                    {{ cindex + 1 }}
                    </div>
                    <div
                      @click="toProblem(problem.id, child.id, index)"
                      :key="cindex"
                      v-else
                      :class="['answer-item', child.value ? 'active' : '']"
                    >
                    {{ cindex + 1 }}
                    </div>
                  </template>
                </div>
              </template>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as apis from '~/api/account/exam.js';
import * as gradeApis from '~/api/account/grade.js';
import { toZhDigit } from '~/utils/utils.js';
import wangeditor from '~/components/wangeditor.vue';

export default {
  layout: 'activity',
  name: 'Preview',
  components: {
    wangeditor
  },
  filters: {
    ChineseToNumber(chnStr) {
      return toZhDigit(chnStr);
    },
    initcontent(str) {
      if (str) {
        str = str.replace(/<[^>]+>|&[^>]+;/g, '').trim(); // 去掉所有的html标签和&nbsp;之类的特殊符合
        return str;
      } else {
        return '';
      }
    }
  },
  data() {
    return {
      tableData: [],
      loading: false,
      text: '',
      title: '',
      isGradeExam: false,
      answerTime: 0,
      answerTimeText: '',
      examData: {},
      letter: 'ABCDEFGHIJkLMNOPQRSTUVWXYZ'.split('')
    };
  },
  async asyncData(context) {},
  async mounted() {
    if (this.$refs.previewSide && this.$refs.container && this.$refs.preview) {
      this.$refs.previewSide.style.right =
        (this.$refs.container.offsetWidth - this.$refs.preview.offsetWidth) /
          2 +
        'px';
    }
    if (
      this.$route.query &&
      (this.$route.query.id || this.$route.query.gradeExamId)
    ) {
      const route = this.$route;
      const That = this;
      const gradeExamId = route.query.gradeExamId;
      let res = {};
      if (gradeExamId) {
        // 班级考试
        That.isGradeExam = true;
        res = await gradeApis.examRelationView({
          id: gradeExamId
        });
      } else {
        res = await apis.getAuthExamViewInfo({
          examId: route.query.id || ''
        });
      }
      let record = {};
      if (res.code === 200) {
        if (gradeExamId) {
          // 班级考试的
          That.recordId = res.data.id;
          if (res.data.examStatus === 2) {
            // 如果用户有考试记录 就直接继续考试 没有就开始一个新的考试记录
            record = await gradeApis.continueExam({ id: res.data.id });
            if (record.code === 200) {
              record = record.data;
              res.data.titleList = record.titleList;
            }
          } else {
            record = await gradeApis.beginExam({ id: res.data.id });
            if (record.code === 200) {
              record = record.data;
              res.data.titleList = record.titleList;
            }
          }
        } else {
          // 常规试卷考试的
          That.recordId = res.data.recordId;
          if (res.data.recordId) {
            // 如果用户有考试记录 就直接继续考试 没有就开始一个新的考试记录
            record = await apis.recordExam({ recordId: res.data.recordId });
            if (record.code === 200) {
              record = record.data;
            }
          } else {
            record = await apis.examexamOnline({ examId: route.query.id });
            if (record.code === 200) {
              record = record.data;
              if (record && record.recordId) {
                That.recordId = record.recordId;
              }
            }
          }
        }

        res.data.titleList.forEach((e, tindex) => {
          e.problemList.forEach((e, qindex) => {
            let userAnswer = '';
            let problem = null;
            if (record.titleList && record.titleList[tindex]) {
              const t = record.titleList[tindex];
              if (t.problemList && t.problemList[qindex]) {
                problem = record.titleList[tindex].problemList[qindex];
                if (problem.userAnswer) {
                  userAnswer = problem.userAnswer.split('|');
                }
              }
            }
            console.log(userAnswer);
            if (e.problemType === 2 || e.problemType === 4) {
              e.value = userAnswer || [];
            } else {
              if (userAnswer && userAnswer.join) {
                e.value = userAnswer.join('|') || '';
              } else {
                e.value = userAnswer || '';
              }
              e.isEdit = false;
            }
            if (e.childrenList && e.childrenList.length) {
              e.childrenList.forEach((c, cIndex) => {
                let userAnswer = '';
                if (
                  problem &&
                  problem.childrenList &&
                  problem.childrenList[cIndex]
                ) {
                  if (problem.childrenList[cIndex].userAnswer) {
                    userAnswer = problem.childrenList[cIndex].userAnswer.split(
                      '|'
                    );
                  }
                }
                if (c.problemType === 2 || c.problemType === 4) {
                  c.value = userAnswer || [];
                } else {
                  if (userAnswer && userAnswer.join) {
                    c.value = userAnswer.join('|') || '';
                  } else {
                    c.value = userAnswer || '';
                  }
                  c.isEdit = false;
                }
              });
            }
          });
        });
        if (gradeExamId) {
          const dateToTime = (n = '') => {
            return parseInt(new Date(n).getTime() / 1000);
          };
          That.answerTime = parseInt(
            dateToTime(res.data.endTime) - dateToTime(res.data.beginTime)
          );
        } else {
          That.answerTime = res.data.answerTime * 60;
        }
        That.examData = res.data;
        this.initFn();
        this.initTime();
      }
    }
  },
  destroyed() {
    window.onbeforeunload = null;
    clearInterval(this.time);
    clearInterval(this.HeartBeatTime);
  },
  methods: {
    toProblem(problemId, cindId, index) {
      const html = document.querySelector('html');
      let box = this.$refs['problem' + problemId + '-' + index];
      if (
        cindId !== -1 &&
        this.$refs['problem' + problemId + '-' + cindId + '-' + index]
      ) {
        box = this.$refs['problem' + problemId + '-' + cindId + '-' + index];
      }
      if (box && box[0]) {
        const top = box[0].offsetTop - 60;
        html.scrollTop = top;
        document.scrollTop = top;
      }
    },
    edit(problem, tIndex, qindex, cIndex = false) {
      problem.isEdit = !problem.isEdit;
      if (!problem.isEdit) {
        this.saveExamAnswer(tIndex, qindex, cIndex);
      }
    },
    initFn() {
      window.onbeforeunload = (event) => {
        // this.submit();
        return '确定刷新页面? 所输入的答案将消除掉！';
      };
    },
    saveExamAnswer(tIndex, qindex, cIndex = false, isEdit = false) {
      let userAnswer = '';
      let t = {};
      let q = {};
      let c = null;
      if (this.examData.titleList[tIndex]) {
        t = this.examData.titleList[tIndex];
        if (t.problemList && t.problemList[qindex]) {
          q = t.problemList[qindex];
          userAnswer = q.value;
          if (cIndex !== false) {
            c = q.childrenList[cIndex];
            userAnswer = c.value;
          }
        }
      }
      const d = {
        titleId: t.id,
        problemId: q.id,
        recordId: this.recordId,
        relationId: this.recordId,
        answerContent: userAnswer.join ? userAnswer.join('|') : userAnswer,
        userAnswer: userAnswer.join ? userAnswer.join('|') : userAnswer
      };
      if (c) {
        d.problemId = c.id;
      }
      if (this.isGradeExam) {
        gradeApis.saveExamAnswer(d).then((res) => {
          console.log(res);
        });
      } else {
        apis.saveExamAnswer(d).then((res) => {
          console.log(res);
        });
      }
    },
    initTime() {
      function adds(n) {
        return n > 9 ? n : '0' + n;
      }
      const settime = () => {
        this.answerTime--;
        if (this.answerTime <= 0) {
          this.submit();
          this.$alert('考试时间已经结束！', {
            confirmButtonText: '确定',
            callback: (action) => {}
          });
        }
        this.answerTimeText =
          adds(parseInt(this.answerTime / 60)) +
          ':' +
          adds(parseInt(this.answerTime % 60));
      };
      settime();
      this.time = setInterval(settime, 1000);
    },
    confirmSubmit() {
      this.$confirm('确定提交试卷吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.submit();
      });
    },
    submit() {
      this.loading = true;
      if (this.isGradeExam) {
        const d = {
          id: this.recordId
        };
        gradeApis.submitExam(d).then((e) => {
          this.loading = false;
          this.$router.push({
            path: '/exam/gradeResult?type=2&gradeExamId=' + this.recordId
          });
        }, () => {
          this.loading = false;
        });
      } else {
        const d = {
          recordId: this.recordId
        };
        apis.examFinish(d).then((e) => {
          this.loading = false;
          e.data.examId = this.$route.query.id;
          e.data.recordId = this.recordId;
          this.lockr.set('userexam-result', e.data);
          this.$router.push({
            path: '/exam/result'
          });
        }, () => {
          this.loading = false;
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  background: rgba(185, 190, 203, 1);
  padding-top: 76px;
  position: relative;
  width: 100%;
  overflow-y: auto;
  .header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 66px;
    background: #fff;
    display: flex;
    z-index: 2002;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.098);

    .title {
      flex: 1;
      font-weight: 700;
      font-style: normal;
      font-size: 18px;
      line-height: 62px;
      letter-spacing: normal;
      color: #333333;
      text-align: center;
      vertical-align: none;
      text-transform: none;
    }

    .el-icon-arrow-left {
      width: 66px;
      display: block;
      text-align: center;
      line-height: 66px;
      height: 66px;
      font-weight: 700;
      font-size: 28px;
    }

    .time {
      width: 180px;
      text-align: left;
      line-height: 66px;
      font-size: 18px;
      .submit {
        margin-left: 20px;
        vertical-align: middle;
      }
    }
  }
}
.preview-box {
  padding-right: 290px;
  width: 1200px;
  margin: 0 auto;
  font-family: "MicrosoftYaHeiUI-Bold", "Microsoft YaHei UI Bold",
    "Microsoft YaHei UI";
  position: relative;
  .preview-main {
    width: 100%;
    min-height: 100vh;

    .issus-list {
      .issus-list-title {
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        line-height: 30px;
        padding: 15px 30px;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 10px;
      }
      .issus-item {
        padding: 15px 30px;
        margin-bottom: 20px;
        background: #fff;
        margin-bottom: 10px;
        border-radius: 6px;

        .issus-item-answer {
          margin-top: 10px;
          .issus-item-answer-text {
            border: 1px solid #eee;
            height: 200px;
            border-radius: 4px;
            color: #666;
            padding: 10px;
          }

          .edit-btn {
            width: 100px;
            height: 36px;
            margin-top: 10px;
          }
          .issus-item-answer-radio {
            padding: 6px 0;
            .issus-item-answer-radio-box {
              display: flex;
              position: relative;
              top: 1px;
              .issus-item-answer-radio-cintent {
                flex: 1;
                padding-left: 0px;
                overflow-y: hidden;
                vertical-align: top;
                white-space: normal;
                
              }
            }
          }
        }

        .issus-item-title {
          display: flex;
          font-weight: 500;
          font-style: normal;
          font-size: 14px;
          line-height: 40px;
          .issus-item-title-text {
            flex: 1;
            color: #333333;
          }
        }
      }
    }
  }
  .preview-side {
    position: fixed;
    right: calc((100% - 1300px) / 2);
    top: 76px;
    height: calc(100vh - 90px);
    margin-left: 10px;
    flex: 1;
    width: 270px;
    max-height: 100vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .content {
      flex: 1;
      background: #fff;
      padding: 0 10px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .title {
      padding: 10px 0;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border-bottom: 1px solid #eee;

      i {
        width: 3px;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        top: 4px;
        height: 18px;
        background-color: rgba(36, 136, 236, 1);
      }
    }

    .answer-list {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      .answer-title {
        font-style: normal;
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 4px;
      }

      .answer-item {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 8px 8px 0 0;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        font-size: 12px;
        color: #999999;
        cursor: pointer;
        background-color: rgba(245, 245, 245, 1);
        &.active {
          color: #ffffff;
          background-color: rgba(36, 136, 236, 1);
          border-color: rgba(36, 136, 236, 1);
        }
        &.red {
          color: #ffffff;
          background-color: red;
          border-color: red;
        }
      }
    }

    .time {
      background: #fff;
      padding: 12px 0;
      margin: 20px 0;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      text-align: center;
      line-height: 28px;
      .red {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #d51423;
        text-align: center;
        line-height: 28px;
      }
    }

    .submit {
      width: 200px;
      height: 36px;
      margin: 20px 0;
      background-color: rgba(213, 20, 35, 1);
    }
  }
}
</style>
<style lang="scss">
.preview-box {
  .issus-item-answer-radio {
    .el-radio {
      width: 100%;
    }
    .el-radio__label {
      display: inline-block;
      min-width: 100%;
    }
    .issus-item-answer-radio-box {
      .issus-item-answer-radio-cintent {
        img {
          vertical-align: top;
        }
        p:first-child {
          margin-top: -4px;
        }
        img[style="font-size: 14px;"] {
          position: relative;
          top: -5px;
        }
      }
    }
    .el-checkbox__label {
      .issus-item-answer-radio-box {
        .issus-item-answer-radio-cintent {
          p:first-child {
            word-break:break-word;
            margin-top: -1px;
          }
        }
      }
    }
  }
}
</style>
