<template>
  <div class="index_page">
    <activity-header @closeActive="closeAct" v-if="isheadAd" />

    <y-banner
      :data="advList"
      class="banner"
      :height="366"
      :class-list="classList"
    />
    <div v-for="(item, index) in zoneData" :key="index" class="i_content">
      <div class="i_zone">
        <div class="zone_header">
          <div class="big_text">
            {{ item.zoneName }}
            <span class="small_text">{{ item.zoneDesc }}</span>
            <nuxt-link
              v-if="item.zoneCategory == 1"
              :to="{ name: 'list' }"
              class="fr small_text link_text"
            >
              更多课程<i class="iconfont">&#xe60c;</i>
            </nuxt-link>
            <nuxt-link
              v-else-if="item.zoneCategory == 2"
              :to="{ name: 'live' }"
              class="fr small_text link_text"
            >
              更多直播 <i class="iconfont">&#xe60c;</i>
            </nuxt-link>
            <nuxt-link
              v-else-if="item.zoneCategory == 3"
              :to="{ name: 'library' }"
              class="fr small_text link_text"
            >
              更多题库 <i class="iconfont">&#xe60c;</i>
            </nuxt-link>
            <nuxt-link
              v-else-if="item.zoneCategory == 4"
              :to="{ name: 'resource' }"
              class="fr small_text link_text"
            >
              更多文库 <i class="iconfont">&#xe60c;</i>
            </nuxt-link>
            <nuxt-link
              v-else-if="item.zoneCategory == 5"
              :to="{ path: '/exam' }"
              class="fr small_text link_text"
            >
              更多试卷 <i class="iconfont">&#xe60c;</i>
            </nuxt-link>
            <nuxt-link
              v-else-if="item.zoneCategory == 8"
              :to="{ name: 'info' }"
              class="fr small_text link_text"
            >
              更多资讯 <i class="iconfont">&#xe60c;</i>
            </nuxt-link>
            <nuxt-link
              v-else-if="item.zoneCategory == 7"
              :to="{ name: 'blog' }"
              class="fr small_text link_text"
            >
              更多博客 <i class="iconfont">&#xe60c;</i>
            </nuxt-link>
            <nuxt-link
              v-else-if="item.zoneCategory == 12"
              :to="{ name: 'question' }"
              class="fr small_text link_text"
            >
              更多问答 <i class="iconfont">&#xe60c;</i>
            </nuxt-link>
          </div>
        </div>

        <div class="zone_body" v-if="item.zoneCategory == 1 && item.showType == 4">
          <ad-list :info="item">
            <course-list
              :list="item.courseList"
              :span="8"
            ></course-list>
          </ad-list>
        </div>
        <div class="zone_body" v-if="item.zoneCategory == 2 && item.showType == 4">
          <ad-list :info="item">
           <liveList
              :list="item.courseList"
              :span="8"
            ></liveList>
          </ad-list>
        </div>

        <div class="zone_body">
          <course-list
            v-if="item.zoneCategory == 1 && item.showType != 4"
            :list="item.courseList"
          ></course-list>

          <liveList
            v-if="item.zoneCategory == 2 && item.showType != 4"
            :list="item.courseList"
          ></liveList>

          <div v-if="item.zoneCategory == 4">
            <resource-list
              :no-border="true"
              :gutter="20"
              :span="12"
              :list="item.courseList"
            ></resource-list>
          </div>
          <y-question-list :list="item.questionsList" v-if="item.zoneCategory == 12"></y-question-list>
          <ul
            class="clearfix blog-list"
            v-if="item.blogList && item.blogList.length"
          >
            <y-info-list
              v-if="item.zoneCategory === 8"
              :page-obj="{ list: item.blogList }"
              :hide-class="true"
              :hide-page="true"
            />
            <y-blog-list
              :gutter="20"
              :span="12"
              v-else
              :page-obj="{ list: item.blogList }"
              :hide-load="true"
            />
          </ul>
           <ul
            style="background: #fff; border-radius: 4px;"
            v-if="item.examList && item.examList.length"
          >
            <examList :list="item.examList" :span="8"></examList>
          </ul>
          <ul class="clearfix course_list" v-if="item.defineList && item.defineList.length">
            <li v-for="(that, int) in item.defineList" :key="int">
              <a :href="that.url" target="_blank">
                <div class="img_box">
                  <img :src="that.img" alt />
                </div>
                <p>{{ that.title }}</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <right-tap />
    <alerts title="加入班级" width="400px" top="30vh" v-model="isJoinGrade">
      <join-grade
        @back="isJoinGrade = false"
        :code="invitationGradeCode"
        v-if="isJoinGrade"
        slot="contents"
      ></join-grade>
    </alerts>
  </div>
</template>

<script>
import YBanner from '~/components/index/Banner';
import RightTap from '~/components/common/RightTap';
import YInfoList from '~/components/information/indexList';
import YQuestionList from '~/components/question/indexList';
import YBlogList from '~/components/blog/indexList';
import examList from '~/components/userexam/examList'
import adList from '~/components/index/AdList';
import courseList from '~/components/course/List';
import alerts from '~/components/account/alert'
import joinGrade from '~/components/account/grade/joinGrade'
import liveList from '~/components/live/liveList';
import ResourceList from '~/components/resource/ResourceList';
import ActivityHeader from '~/components/activity/ActivityHeader'

export default {
  components: {
    YBanner,
    RightTap,
    YInfoList,
    YBlogList,
    examList,
    liveList,
    ResourceList,
    joinGrade,
    alerts,
    YQuestionList,
    courseList,
    adList,
    ActivityHeader
  },
  head() {
    return {
      title: this.$store.state.clientData.name
    };
  },
  data() {
    return {
      activityObj: {},
      isJoinGrade: false,
      invitationGradeCode: '',
      isheadAd: true
    }
  },
  computed: {
    isLogin() {
      return this.$store.state.tokenInfo
    }
  },
  async asyncData(context) {
    try {
      const dataObj = { advList: [] };
      const advList = await context.store.dispatch('main/getAdvList', {
        platShow: 1,
        advLocation: 1
      });
      if (
        advList &&
        advList.data &&
        advList.data.advList &&
        advList.data.advList.length
      ) {
        dataObj.advList = advList.data.advList || [];
      }
      const classList = await context.store.dispatch('main/getClassList', {});
      if (
        classList.code === 200 &&
        classList.data &&
        classList.data.courseCategoryList
      ) {
        dataObj.classList = classList.data.courseCategoryList;
      } else {
        dataObj.classList = [];
      }
      const zoneData = await context.store.dispatch('main/getZoneList');
      if (
        zoneData &&
        zoneData.data &&
        zoneData.data.list &&
        zoneData.data.list.length
      ) {
        dataObj.zoneData = zoneData.data.list || [];
      }
      return dataObj;
    } catch (e) {
      context.error({ message: 'User not found', statusCode: 404 });
    }
  },
  mounted() {
    this.invitationGrade()
    this.isCloseAd()
  },
  methods: {
     // 关闭活动
    closeAct() {
      this.lockr.set('_inadx_ad', new Date().getTime())
      this.isheadAd = false
    },
     // 用户关闭了头部广告后 两个小时再显示
    isCloseAd() {
      const lastCloseTime = new Date().getTime() - this.lockr.get('_inadx_ad')
      if (lastCloseTime <= 2 * 60 * 1000) {
        this.isheadAd = false;
      }
    },
    goBlogDetail(info) {
      const detailList = {
        1: {
          name: 'blog-article-id',
          params: { id: info.id }
        },
        2: {
          name: 'info-detail-id',
          params: { id: info.id }
        }
      }
      return detailList[info.articleType];
    },
    invitationGrade() {
      if (
        this.$route &&
        this.$route.query &&
        this.$route.query.invitationGradeCode
      ) {
        if (!this.isLogin) {
          this.$msgBox({
            content: '登录后才可以加入班级'
          })
          setTimeout(() => {
            this.$store.dispatch('REDIRECT_LOGIN')
          }, 1000)
          return false
        }
        this.invitationGradeCode = this.$route.query.invitationGradeCode
        this.isJoinGrade = true
      }
    },
    goDetail(info, type) {
      const detailList = {
        1: {
          name: 'view-id',
          params: { id: info.id }
        },
        2: {
          name: 'live-detail-id',
          params: {
            id: info.id
          }
        },
        3: {
          name: 'library-view-id',
          params: {
            id: info.id
          }
        },
        4: {
          name: 'resource-detail-id',
          params: {
            id: info.id
          }
        }
      };
      return detailList[type];
    }
  }
};
</script>
<style lang="scss" >
.index_page {
  background: #f5f5f5;
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }

  .banner {
    padding-bottom: 40px;
  }

  .i_zone {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}
.zone_header {
  .col_block {
    display: inline-block;
    width: 4px;
    height: 24px;
    background: #333;
    position: relative;
    top: 4px;
  }
  .big_text {
    font-size: 24px;
    color: #333333;
    font-weight: 500;
  }

  .small_text {
    font-size: 14px;
    color: #999;
    position: relative;
    top: -2px;
  }

  .link_text {
    position: relative;
    top: 10px;
    i {
      position: relative;
      top: 1px;
    }
  }
  .link_text:hover {
    text-decoration: none;
    color: #333;
  }
}
.zone_body {
  margin-top: 30px;
}

.blog-list {
  li {
    float: left;
    width: 285px;
    height: 80px;
    border-radius: 6px;
    margin: 0px 20px 20px 0px;
    &:nth-child(4n) {
      margin-right: 0px;
    }
    &:hover {
      box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      transition: all 0.3s;
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      background: #fff;
      border-radius: 6px;
      padding: 10px;
      p {
        line-height: 36px;
        font-size: 16px;
        padding-top: 1px;
      }
      span {
        line-height: 20px;
      }
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }
}
.test_list {
  .test_option {
    float: left;
    width: 520px;
    padding: 18px 25px;
    margin-right: 55px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
    &.right_0 {
      margin-right: 0px;
    }
  }
  .iconfont {
    margin-right: 6px;
  }
}
</style>
