<template>
  <div class="">
  </div>
</template>

<script>
export default {
  name: 'Null'
}
</script>

<style scoped>
  .no-data{
    font-size: 40px;
    padding: 40px 0;
    height: 400px;
    text-align: center;
    color: #666;
  }
</style>
