
<template>
  <div class="vips">
    <div class="cover">
      <h3 class="cover-title">超级会员（SVIP）享专属特权</h3>
      <p class="cover-tip">海量课程专享，付费课程免费学习，超低折扣课程，一切只为助力您的学习成长</p>
      <ul class="cover-activity">
        <li class="cover-activity-item">
          <img
            src="../assets/image/vip/vip01.png"
            alt
            style="width: 74px;height:74px; margin:20px 0 14px; "
            class="cover-activity-icon"
          />
          <h5 class="cover-activity-title">免费课程</h5>
          <p class="cover-activity-tip">专属课程免费看</p>
        </li>
        <li class="cover-activity-item">
          <img src="../assets/image/vip/vip02.png" alt class="cover-activity-icon" />
          <h5 class="cover-activity-title">超低折扣</h5>
          <p class="cover-activity-tip">最低5折起</p>
        </li>
        <li class="cover-activity-item">
          <img src="../assets/image/vip/vip04.png" alt class="cover-activity-icon" />
          <h5 class="cover-activity-title">活动专享</h5>
          <p class="cover-activity-tip">活动期享折上折</p>
        </li>
      </ul>
    </div>
    <div class="vip-box">
      <div class="vip-side">
        <img src="../assets/image/vip/u2875.svg" alt class="vip-img" />
        <h5 class="vip-side-title">超级会员</h5>
        <p class="vip-side-tip">开通即刻生效</p>
      </div>
      <div class="vip-main">
        <ul class="vip-list">
          <li
            v-for="(item, index) in list"
            :class="['vip-item',index == selectVipType?'active':'', userInfo.isVip ? 'isVip' : '']"
            :key="index"
            @click="selectVipTypeFn(index)"
          >
            <img src="../assets/image/vip/u2849.png" alt class="vip-icon" />
            <p class="vip-name">{{ userInfo.isVip ? '续费' : '' }}{{ vipType[item.setType].name }}</p>
            <div class="vip-price">
              ￥
              <span>{{ item.fabPrice_z }}</span>
              .{{ item.fabPrice_x }}/{{ vipType[item.setType].day }}天
            </div>
            <div class="vip-original">￥{{ item.orgPrice }}</div>
            <button class="vip-pay-btn" @click="showPayBox(item)">立即购买</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="vip-tip">
      <p class="vip-side-explain">会员权益与服务说明</p>
      <p class="vip-side-explain-text">
        <span>1、</span>会员有效期内可免费学习会员免费课。
        <br />
      </p>
      <p class="vip-side-explain-text">
        <span>2、</span>会员折扣：会员有效期内，购买学院付费课程可享有对应会员折扣。
        <br />
      </p>
      <p class="vip-side-explain-text">
        <span>3、</span>会员到期：自购买之日起，所购会员对应的权益随会员过期自动到期，临近到期您可进行会员续费。
        <br />
      </p>
      <p class="vip-side-explain-text">
        <span>4、</span>会员续费：当前会员未到期进行续费的用户，权益和有效期自动顺延。
        <br />
      </p>
      <p class="vip-side-explain-text">
        <span>5、</span>会员属于虚拟商品，一经售出，不予退费。
        <br />
      </p>
      <p class="vip-side-explain-text">
        <span>6、</span>禁止用户使用任何方式利用本站文库为他人提供有偿服务，一经发现，本站有权查封该账号并追究法律责任
        <br />
      </p>
    </div>
    <d-pay-vip v-if="showPay" :info="vipInfo" @hidefun="showPay = false" />
  </div>
</template>

<script>
import { vipList } from '~/api/system.js';
import DPayVip from '~/components/PayVipModal'

export default {
  name: 'Vips',
  components: {
    DPayVip
  },
  head() {
    return {
      title: '超级会员(SVIP)-' + this.$store.state.clientData.name,
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.websiteKeyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.websiteDesc
        }
      ]
    };
  },
  data() {
    return {
      list: [],
      selectVipType: 0,
      tokenInfo: this.$store.state.tokenInfo,
      showPay: false,
      vipInfo: {},
      vipType: [
        {},
        {
          name: '年度会员',
          day: 365
        },
        {
          name: '季度会员',
          day: 92
        },
        {
          name: '月度会员',
          day: 30
        }
      ]
    };
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo || {};
    }
  },
  async asyncData(context) {
    const dataObj = {};
    const clientNo = context.store.state.clientData.no;
    dataObj.clientNo = clientNo;
    try {
      const vipData = await vipList();
      const list = vipData.data.list || [];
      list.forEach((e) => {
        e.fabPrice = e.fabPrice.toFixed(2);
        const l = e.fabPrice.split('.');
        e.fabPrice_z = l[0];
        e.fabPrice_x = l[1];
      });
      dataObj.list = list.sort((a, b) => {
        return b.setType - a.setType;
      });
      return dataObj;
    } catch (e) {
      context.error({ message: 'User not found', statusCode: 404 });
    }
  },
  methods: {
    showPayBox(data) {
      if (!this.userInfo || !this.tokenInfo) {
        this.$confirm('请先登录再购买!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.commit('SET_TEMPORARYURL');
          this.$router.push({ name: 'login' })
        }).catch(() => {
          this.$store.commit('SET_TEMPORARYURL');
          this.$router.push({ name: 'login' })
        })
        return
      }
      this.showPay = true
      this.vipInfo = data
    },
    selectVipTypeFn(n) {
      this.selectVipType = n;
    }
  }
};
</script>
<style scoped lang="scss">
.cover {
  font-family: "PingFangSC-Regular", "PingFang SC";
  height: 420px;
  width: 100%;
  text-align: center;
  background: url(../assets/image/vip/cover.jpg) center no-repeat;
  background-size: auto 100%;

  .cover-title {
    font-weight: 800;
    font-size: 36px;
    color: #ffffff;
    line-height: 50px;
    padding-top: 46px;
  }

  .cover-tip {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    line-height: 50px;
  }

  .cover-activity {
    margin-top: 34px;
    .cover-activity-item {
      display: inline-block;
      width: 140px;
      height: 180px;
      margin: 0 24px;
      text-align: center;
      vertical-align: top;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 6px;
      .cover-activity-icon {
        width: 60px;
        height: 60px;
        margin: 24px 0 20px;
      }
      .cover-activity-title {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 1.6;
        color: #333333;
      }
      .cover-activity-tip {
        font-weight: 400;
        font-style: normal;
        color: #999999;
        font-size: 14px;
        line-height: 1.6;
      }
    }
  }
}

.vip-tip {
  width: 1200px;
  height: 215px;
  border-radius:0 0 6px 6px;
  background: #fff;
  margin: 0px auto 30px;
  box-sizing: border-box;
  padding:  30px 50px;
  border-top: 1px solid #E5E5E5;
  .vip-side-explain {
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 0px 0 10px;
    color: #333333;
  }
  .vip-side-explain-text {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 5px;
    color: #999999;
    padding-left: 20px;
    position: relative;
    span {
      position: absolute;
      width: 20px;
      left: 0;
      top: 0;
    }
  }
}

.vip-box {
  width: 1200px;
  height: 360px;
  border-radius: 6px 6px 0 0;
  background: #fff;
  margin: 30px auto 0;
  display: flex;
  .vip-side {
    width: 300px;
    padding: 0 30px;
    text-align: center;
    border-right: 1px solid rgba(228, 228, 228, 1);
    .vip-img {
      width: 90px;
      height: 90px;
      margin-top: 80px;
    }

    .vip-side-title {
      font-weight: 800;
      font-style: normal;
      font-size: 30px;
      line-height: 40px;
      margin-top: 20px;
      text-align: center;
    }

    .vip-side-tip {
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      line-height: 40px;
      text-align: center;
    }
  }
  .vip-main {
    flex: 1;
    .vip-list {
      padding: 30px 18px;
      text-align: center;
      .vip-item {
        width: 260px;
        height: 300px;
        display: inline-block;
        margin: 0 12px;
        position: relative;
        border-radius: 8px;
        text-align: center;
        border: 1px solid rgba(228, 228, 228, 1);
        .vip-icon {
          width: 50px;
          height: 50px;
          margin: 44px 0 20px;
        }
        .vip-name {
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          color: #333333;
        }

        &.active {
          .vip-pay-btn {
            background: #2388EC;
            color: #FFFFFF;
          }
        }

        .vip-pay-btn {
          width: 260px;
          height: 45px;
          left: 0px;
          bottom: -1px;
          position: absolute;
          right: 0px;
          border: none;
          outline: none;
          font-size: 16px;
          line-height: 45px;
          color: #666666;
          text-align: center;
          background: #E5E5E5;
          border-radius: 0px 0px 8px 8px;
        }
        .vip-price {
          font-weight: 400;
          font-style: normal;
          font-size: 16px;
          color: #d51423;
          padding: 15px 0 10px;
          span {
            font-size: 36px;
          }
        }
        .vip-original {
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #999999;
          text-decoration: line-through;
          text-rendering: optimizeLegibility;
        }
      }
    }
  }
}
.vips {
  background: rgb(245, 245, 245);
}

.modal_body {
  padding: 30px;
  min-height: 180px;
  .icon {
    font-size: 80px;
    width: 80px;
    margin: 0 auto;
    text-align: center;
  }
  .tip {
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
  }
  .c_green {
    color: #05d005;
  }
}
</style>
