<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item v-if="form.parentId === 0" label="学员编号" prop="userNo">
        <el-input v-model="form.userNo" disabled class="form-group">
          <el-button slot="append" icon="el-icon-search" @click="findUser" />
        </el-input>
      </el-form-item>
      <el-form-item v-if="form.parentId === 0" label="类型">
        <el-select v-model="form.categoryType" placeholder="请选择">
          <el-option
            v-for="(value, key) in categoryTypeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item v-if="form.parentId === 0" label="类型" prop="categoryType">
        <template>
          <el-radio v-model="form.categoryType" label="1">试题</el-radio>
          <el-radio v-model="form.categoryType" label="2">试卷</el-radio>
        </template>
      </el-form-item>
      <el-form-item label="分类名称" prop="categoryName">
        <el-input v-model="form.categoryName" class="form-group" />
      </el-form-item>
      <el-form-item label="备注">
        <el-input v-model="form.remark" type="textarea" class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button type="primary" size="mini" @click="submitForm('form')">确 定</el-button>
    </div>
    <find-user :title="userCtr.title" :visible="userCtr.visible" @close-callback="userCloseCallback" />
  </el-dialog>
</template>
<script>
  import { examUserCategorySave } from '@/api/exam'
  import FindUser from './findUser';

  export default {
    name: 'AddUserCategory',
    components: { FindUser },
    props: {
      title: {
        type: String,
        default: '添加用户分类'
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {
          categoryType: 1
        },
        opts: {},
        categoryTypeEnums: {},
        rules: {
          categoryName: [
            { required: true, message: '请输入分类名称', trigger: 'blur' }
          ]
        },
        userCtr: {
          title: '用户编号--查找带回',
          visible: false
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form.userNo = this.info.userNo;
          this.form.parentId = this.info.parentId;
          this.form.categoryType = this.info.categoryType;
          this.$store.dispatch('GetOpts', { enumName: 'ExamMainCategoryTypeEnum', type: 'obj' }).then(res => {
            this.categoryTypeEnums = res;
          });
        }
      }
    },
    mounted() {
    },
    methods: {
      handleClose() {
        this.form = {};
        this.$emit('close-callback');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        examUserCategorySave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      },
      findUser() {
        this.userCtr.visible = true;
      },
      userCloseCallback(row) {
        this.userCtr.visible = false;
        if (row) {
          this.form.userNo = row.userNo;
          this.form.userType = row.userType;
        }
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
