<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form :inline="true" size="mini">
        <el-form-item class="filter-item" label="名称">
          <el-input v-model.trim="map.navName" />
        </el-form-item>
        <el-form-item class="filter-item" label="状态">
          <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
            <el-option
              v-for="(value, key) in statusIdEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="">
          <el-button type="primary" @click="handleCheck">查询</el-button>
          <el-button @click="handleReset">重置</el-button>
          <el-button  v-if="checkPermission('websiteNavSave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
          <el-button  v-if="checkPermission('websiteNavDeleteRedis')" plain type="danger" size="mini" @click="handleDeleteRedisRow">清空缓存</el-button>
        </el-form-item>

      </el-form>

      <el-table
        v-loading="ctrl.loading"
        :data="list"
        size="mini"
        border
        fit
        highlight-current-row
        row-key="id"
        :default-expand-all="true"
      >

        <el-table-column prop="navName" label="名称" />
        <el-table-column label="状态" width="100">
          <template slot-scope="scope">
            {{ statusIdEnums[scope.row.statusId] }}
          </template>
        </el-table-column>
        <el-table-column prop="sort" label="排序" width="50" />
        <el-table-column label="操作" width="350">
          <template slot-scope="scope">
            <el-button  v-if="checkPermission('websiteNavEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
            <el-button v-if="checkPermission('websiteNavEdit') && scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
            <el-button v-if="checkPermission('websiteNavEdit') && scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
            <el-button v-if="checkPermission('websiteNavUpdateNavId') && scope.row.parentId !== '0' " plain type="primary" size="mini" @click="handleArticle(scope.row.id)">设置</el-button>
            <el-button v-if="checkPermission('websiteNavSave') && scope.row.parentId === '0'" plain type="warning" size="mini" @click="handleAddSonRow(scope.row.id)">添加</el-button>
            <el-button  v-if="checkPermission('websiteNavDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        :current-page="page.pageCurrent"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </el-form>
    <add v-if="ctrl.addDialogVisible" :visible="ctrl.addDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <edit v-if="ctrl.editDialogVisible" :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import {websiteNavPage, websiteNavDelete, websiteNavEdit, websiteNavDeleteRedis} from '@/api/system'
  import Edit from '../edit'
  import Add from '../add'

  export default {
    components: { Edit, Add },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        formData: {},
        list: [],
        map: {},
        ctrl: {
          loading: false,
          addDialogVisible: false,
          editDialogVisible: false
        },
        statusIdEnums: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.navName + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.navName + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            websiteNavEdit({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.navName + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            websiteNavDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRedisRow() {
        {
          const body = '确定要清空缓存？'
          this.$confirm(body, '清空确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            websiteNavDeleteRedis({}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow(id) {
        this.ctrl.dialogTitle = '添加'
        this.formData.parentId = 0
        this.formData.sort = 1
        this.ctrl.addDialogVisible = true
      },
      handleAddSonRow(id) {
        this.ctrl.dialogTitle = '添加'
        this.formData.parentId = id
        this.formData.sort = 1
        this.ctrl.addDialogVisible = true
      },
      handleUpdateRow(row) {
        this.formData = row
        this.ctrl.dialogTitle = row.navName + ' —— 编辑'
        this.ctrl.editDialogVisible = true
      },
      handleArticle(id) {
        this.$router.push({ path: '/system/website/nav/article', query: { navId: id }});
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        websiteNavPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
