<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="电话" prop="phone">
            <el-input v-model="form.phone" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="银行卡号" prop="bankCardNo">
            <el-input v-model="form.bankCardNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="银行名称" prop="bankName">
            <el-input v-model="form.bankName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="银行支行名称" prop="bankBranchName">
            <el-input v-model="form.bankBranchName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="银行开户名" prop="bankUserName">
            <el-input v-model="form.bankUserName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="银行身份证号" prop="bankIdCardNo">
            <el-input v-model="form.bankIdCardNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="提现状态（1申请中，2支付中，3确认中，4成功，5失败）" prop="extractStatus">
            <el-input v-model="form.extractStatus" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="提现金额" prop="extractMoney">
            <el-input v-model="form.extractMoney" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="用户收入" prop="userIncome">
            <el-input v-model="form.userIncome" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="备注" prop="remark">
            <el-input v-model="form.remark" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item>
        <el-button type="primary" @click="submitForm('form')">立即创建</el-button>
        <el-button @click="handleClose">关 闭</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { userAccountExtractLogSave } from '@/api/user'

  export default {
    name: 'AddUserAccountExtractLog',
    data() {
      return {
        form: {},
        opts: {},
        rules: {
          gmtCreate: [
            { required: true, message: '请输入创建时间', trigger: 'blur' }
          ],
          userNo: [
            { required: true, message: '请输入用户编号', trigger: 'blur' }
          ],
          phone: [
            { required: true, message: '请输入电话', trigger: 'blur' }
          ],
          bankCardNo: [
            { required: true, message: '请输入银行卡号', trigger: 'blur' }
          ],
          bankName: [
            { required: true, message: '请输入银行名称', trigger: 'blur' }
          ],
          bankBranchName: [
            { required: true, message: '请输入银行支行名称', trigger: 'blur' }
          ],
          bankUserName: [
            { required: true, message: '请输入银行开户名', trigger: 'blur' }
          ],
          bankIdCardNo: [
            { required: true, message: '请输入银行身份证号', trigger: 'blur' }
          ],
          extractStatus: [
            { required: true, message: '请输入提现状态（1申请中，2支付中，3确认中，4成功，5失败）', trigger: 'blur' }
          ],
          extractMoney: [
            { required: true, message: '请输入提现金额', trigger: 'blur' }
          ],
          userIncome: [
            { required: true, message: '请输入用户收入', trigger: 'blur' }
          ],
          remark: [
            { required: true, message: '请输入备注', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/user/user/account/extract/log/list');
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        userAccountExtractLogSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
