<template>
<view>
  <view class="tabs b_fff">
    <view class="tab" @tap="changeTab" data-int="1">
      <text :class="int == 1 ? 'tab_text active' : 'tab_text'">未使用</text>
    </view>
    <view class="tab" @tap="changeTab" data-int="2">
      <text :class="int == 2 ? 'tab_text active' : 'tab_text'">已使用</text>
    </view>
    <view class="tab" @tap="changeTab" data-int="3">
      <text :class="int == 3 ? 'tab_text active' : 'tab_text'">已过期</text>
    </view>
  </view>
  <view class="coupon_list" v-if="noCoupon">
    <image src="../../../static/images/activity/no_coupon.png" class="no_coupon"></image>
    <view class="text_center c_999">暂时还没有优惠券</view>
  </view>
  <view class="coupon_list" v-else>
    <view v-for="(item, index) in couponList" :key="index" :class="(item.statusId === 1 && !item.isUse) ? 'coupon_item border_blue' : 'coupon_item border_999'">
      <view :class="(item.statusId === 1 && !item.isUse) ? 'w230 text_center c_blue' : 'w230 text_center c_999'">
        <view class="font27 mgt40">优惠卷</view>
        <view class="mgt10">
          <text class="font27">￥</text>
          <text class="font48 font_b">{{item.couponPrice}}</text>
        </view>
      </view>
      <view>
        <view class="font32 c_666 mgt30">{{item.couponPrice}}元优惠券</view>
        <view class="c_999 font20 mgt10 text_hide">仅限课程：{{item.courseName}}</view>
        <view class="c_999 font20 mgt10">有效时间：{{item.endTime}}</view>
        <view class="c_blue font30 mgt30" v-if="item.statusId === 1 && !item.isUse" @tap="goPay" :data-info="item">立即使用</view>
        <view class="font30 mgt30 c_999" v-if="item.statusId === 1 && item.isUse">已使用</view>
        <view class="font30 mgt30 c_999" v-if="item.statusId === 3">已过期</view>
      </view>
    </view>
  </view>
</view>
</template>

<script>
// pages/account/my_coupon/my_coupon.js
import { myCouponList } from "../../../api/activity";

export default {
  data() {
    return {
      noCoupon: false,
      pageCurrent: 1,
      int: 1,
      totalPage: 1,
      isUse: 0,
      statusId: 1,
      couponList: []
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.getCouponList();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {
    if (this.pageCurrent < this.totalPage) {
      this.setData({
        pageCurrent: this.pageCurrent + 1
      });
      this.getCouponList();
    }
  },

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    changeTab(e) {
      let int = e.currentTarget.dataset.int;
      this.setData({
        pageCurrent: 1,
        int,
        couponList: [],
        totalPage: 1
      });
      let isUse = '';
      let statusId = 1;

      if (int == 1) {
        isUse = 0;
        statusId = 1;
      } else if (int == 2) {
        isUse = 1;
        statusId = 1;
      } else if (int == 3) {
        isUse = '';
        statusId = 3;
      }

      this.setData({
        isUse,
        statusId
      });
      this.getCouponList();
    },

    getCouponList() {
      uni.showLoading({
        title: '加载中...'
      });
      let obj = {
        isUse: this.isUse,
        pageCurrent: this.pageCurrent,
        pageSize: 10,
        statusId: this.statusId
      };
      myCouponList(obj).then(res => {
        this.setData({
          totalPage: res.totalPage
        });

        if (res.list && res.list.length) {
          this.setData({
            noCoupon: false,
            couponList: this.couponList.concat(res.list)
          });
        } else if (this.pageCurrent == 1) {
          this.setData({
            noCoupon: true
          });
        }
      }).catch(() => {
        this.setData({
          noCoupon: true
        });
      });
    },

    goPay(e) {
      let info = e.currentTarget.dataset.info;
      uni.navigateTo({
        url: '../../order/order?no=' + info.courseId + '&t=1'
      });
    },

    goDetail(e) {
      let info = e.currentTarget.dataset.info;
      if (info.courseCategory === 1) {
        uni.navigateTo({
          url: '/pages/course/view/view?id=' + info.courseId
        });
      }
    }

  }
};
</script>
<style scoped>
.tabs {
  display: flex;
  width: 100%;
}
.tab {
  flex: 1;
  text-align: center;
}
.tab_text {
  display: inline-block;
  height: 94rpx;
  line-height: 94rpx;
  font-size: 33rpx;
  color: #333;
}
.active {
  color: #2488EC;
  border-bottom: 1px solid #2488EC;
}
.coupon_list {
  padding: 0 20rpx;
}
.no_coupon {
  width: 400rpx;
  height: 267rpx;
  display: block;
  margin: 100rpx auto;
}
.coupon_item {
  height: 246rpx;
  background: #fff;
  display: flex;
  border-radius: 4px;
  margin-top: 20rpx;
  padding-bottom: 10rpx;
}
.w230 {
  width: 230rpx;
}
.border_blue {
  border-top: 2px solid #2488EC;
}
.border_999 {
  border-top: 2px solid #999;
}
.text_hide {
  width: 520rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>