<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="课程名称">
        <el-input v-model.trim="map.zoneTitle" />
      </el-form-item>
      <el-form-item label="">
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="课程封面" width="122">
        <template slot-scope="scope">
          <img :src="scope.row.courseLogo" :alt="scope.row.courseLogo" width="100">
        </template>
      </el-table-column>
      <el-table-column property="courseName" label="课程名称" />
      <el-table-column label="课程分类">
        <template slot-scope="scope">
          {{ courseCategoryEnums[scope.row.courseCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="价格">
        <template slot-scope="scope">
          <p class="course_p1">普通价：{{ scope.row.courseOriginal | formatAmount }}</p>
          <p class="course_p1">会员价：{{ scope.row.courseDiscount | formatAmount }}</p>
          <p class="course_p1" v-if="scope.row.actType === 1">优惠券面额：{{ scope.row.actPrice | formatAmount }}</p>
          <p class="course_p1" v-else>秒杀价：{{ scope.row.actPrice | formatAmount }}</p>
        </template>
      </el-table-column>
      <el-table-column label="配置信息">
        <template slot-scope="scope">
          <!--优惠券-->
          <span v-if="scope.row.actType === 1">
            发券总量：{{ scope.row.coupon.total }}<br>
            领取数量：{{ scope.row.coupon.receiveNum }}<br>
            使用数量：{{ scope.row.coupon.usedNum }}<br>
          </span>
          <!--秒杀-->
          <span v-else>
            <p class="course_p1">{{ scope.row.seckill.isLimit === 1 ? '限购': '不限购' }}</p>
            <p class="course_p1" v-if="scope.row.seckill.isLimit === 1">限购人数：{{ scope.row.seckill.buyer }}</p>
            <p class="course_p1" v-if="scope.row.seckill.isLimit === 1">已购人数：{{ scope.row.seckill.hasBuy }}</p>
          </span>
        </template>
      </el-table-column>
      <el-table-column property="address" label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" width="60">
        <template slot-scope="scope">
          <span>{{ scope.row.sort }} </span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="scope.row.statusId ===1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId ===0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-course v-if="ctrl.addCourseVisible" :title="ctrl.addCourseTitle" :form-data="formData" :visible="ctrl.addCourseVisible" @close-callback="closeCallback" />
    <edit-course v-if="ctrl.editCourseVisible" :title="ctrl.editCourseTitle" :form-data="formData" :visible="ctrl.editCourseVisible" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import { actZoneCoursePage, actZoneCourseDelete, actZoneCourseUpdateStatus } from '@/api/marketing'
  import AddCourse from '@/views/marketing/course/add/index';
  import EditCourse from '@/views/marketing/course/edit/index';

  export default {
    components: { AddCourse, EditCourse },
    filters: {
      formatAmount(val) {
        if (val) {
          return '¥ ' + val.toFixed(2)
        }
        return '¥ 0.00'
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          editCourseTitle: '编辑',
          editCourseVisible: false,
          addCourseTitle: '新增',
          addCourseVisible: false
        },
        actId: null, // 活动id
        zoneId: null, // 活动专区id
        actType: 0, // 活动类型 1优惠券 2秒杀
        formData: {},
        list: [],
        map: {},
        statusIdEnums: {},
        courseCategoryEnums: {},
        listLoading: true
      }
    },
    created() {
      this.actId = this.$route.query.actId
      this.zoneId = this.$route.query.zoneId
      this.actType = this.$route.query.actType
      this.listForPage()
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
        this.courseCategoryEnums = res;
      });
    },
    methods: {
      // 新增课程
      handleAddRow() {
        this.formData = {
          actId: this.actId,
          zoneId: this.zoneId,
          actType: this.actType
        }
        this.ctrl.addCourseVisible = true;
      },
      // 编辑专区
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.editCourseVisible = true;
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            actZoneCourseDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            actZoneCourseUpdateStatus({id: row.id, statusId: statusId}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.addCourseVisible = false;
        this.ctrl.editCourseVisible = false;
        this.reload();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleZoneRow(row) {
        this.$router.push({ path: '/system/zoneRef/list', query: { zoneId: row.id, zoneLocation: row.zoneLocation, zoneCategory: row.zoneCategory}});
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        this.map.zoneId = this.zoneId
        actZoneCoursePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>

<style scoped>
  .course_p1 {
    height: 10px;
  }
</style>
