<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="60%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="100px" size="mini">
      <el-form-item class="filter-item" label="开始关注时间">
        <el-date-picker
          v-model="map.beginGmtCreate"
          type="date"
          placeholder="选择日期"
        />
      </el-form-item>
      <el-form-item class="filter-item" label="结束关注时间">
        <el-date-picker
          v-model="map.endGmtCreate"
          type="date"
          placeholder="选择日期"
        />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="用户编号" prop="bloggerUserNo" />
      <el-table-column label="关注时间" prop="gmtCreate" width="180" />
      <el-table-column label="用户IP" prop="userIp" width="120" />
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import { bloggerUserRecordPage } from '@/api/community';

  export default {
    name: 'BlogUserCollect',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        loading: false
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.page.pageCurrent = 1;
          this.map = {
            bloggerUserNo: this.info.userNo,
            opType: this.info.opType
          }
          this.listForPage();
        }
      }
    },
    methods: {
      handleClose() {
        this.map = {}
        this.$emit('close')
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          bloggerUserNo: this.info.userNo,
          opType: this.info.opType
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.checkUserNos = '';
        this.loading = true;
        bloggerUserRecordPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>
