<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="60%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="100px" size="mini">
      <el-form-item class="filter-item" label="开始时间">
        <el-date-picker
          v-model="map.beginGmtCreate"
          type="date"
          placeholder="选择日期"
        />
      </el-form-item>
      <el-form-item class="filter-item" label="结束时间">
        <el-date-picker
          v-model="map.endGmtCreate"
          type="date"
          placeholder="选择日期"
        />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="博客标题 / 博主">
        <template slot-scope="scope">
          {{ scope.row.title }}
          <br>
          博主:【{{ scope.row.nickname }}】
        </template>
      </el-table-column>
      <el-table-column label="用户IP" prop="userIp" width="100" />
      <el-table-column label="用户终端" prop="userTerminal" width="80" />
      <el-table-column label="收藏时间" prop="gmtCreate" width="160" />
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="danger" plain size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import { blogUserRecordPage, blogUserRecordDelete } from '@/api/community';

  export default {
    name: 'BlogUserCollect',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        loading: false
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.page.pageCurrent = 1;
          this.map = {
            userNo: this.info.userNo,
            opType: this.info.opType
          }
          this.listForPage();
        }
      }
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.title + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            blogUserRecordDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleClose() {
        this.map = {}
        this.$emit('close')
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          userNo: this.info.userNo,
          opType: this.info.opType
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.checkUserNos = '';
        this.loading = true;
        blogUserRecordPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>
