<template>
  <div class="blog_default mgt20">
    <div class="container">
      <div class="sides fl">
        <y-side v-affix :tab-list="tabList" @changeTab="changeTab" />
      </div>
      <div class="fl mgl10" style="width: 820px;">
        <y-no-active v-if="(!pageObj.list.length || !pageObj.list[0]) && active" />
        <y-blog-list :page-obj="pageObj" @loadList="loadList" v-else />
      </div>
      <div class="fr" style="width:260px;">
        <nuxt-link :to="{ name: 'blog-account-write'}" target="_blank">
          <button class="add">写博客</button>
        </nuxt-link>
        <y-hot-article :width="260" />
        <div :class="{mgt10: hotObj.list.length}" class="clearfix">
          <y-new-article :new-obj="newObj" :width="260" />
        </div>
      </div>
    </div>
    <y-right-tap />
  </div>
</template>

<script>
import YRightTap from '~/components/common/RightTap'
import YSide from '~/components/blog/Side'
import YBlogList from '~/components/blog/BlogList'
import YHotArticle from '~/components/blog/HotArticle'
import YNewArticle from '~/components/blog/NewArticle'
import YNoActive from '~/components/blog/NoActive'
import listMixins from '~/utils/blog/listMixins.js'
export default {
  components: {
    YSide,
    YBlogList,
    YHotArticle,
    YNewArticle,
    YRightTap,
    YNoActive
  },
  mixins: [listMixins],
  head() {
    return {
      title: '博客-' + this.$store.state.clientData.name
    }
  },
  data() {
    return {
      active: false,
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      hotObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  async asyncData(context) {
    try {
      const obj = {
        dataObj: {}
      }
      const tabList = await context.store.dispatch(
        'blog/GET_TABLIST',
        obj.dataObj
      )
      obj.dataObj.tabList = tabList
      // 中间博客列表
      const params = {
        pageCurrent: 1,
        pageSize: 20,
        sections: 1
      }
      // obj.dataObj.params = obj.params// 首次点击加载更多参数
      const pageObj = await context.store.dispatch('blog/GET_BLOGLIST', params)
      const newParams = {
        pageCurrent: 1,
        pageSize: 10,
        sections: 1
      }
      const newObj = await context.store.dispatch(
        'blog/GET_BLOGLIST',
        newParams
      )
      return {
        tabList,
        pageObj,
        newObj,
        params
      }
    } catch (e) {
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    console.log(this.newObj)
  },
  methods: {
    // 获取关注的博客列表
    getActiveBlogList() {
      this.active = true
      this.params = {
        pageCurrent: 1,
        pageSize: 20
      }
      this.getBlogList(this.params)
    },
    // 博客分类切换
    changeTab(data) {
      this.active = false
      const notStr = '123'
      if (notStr.indexOf(data.labelNo) === 1) {
        this.active = true
        if (this.$store.state.tokenInfo) {
          this.getActiveBlogList()
        } else {
          this.pageObj = {
            list: []
          }
        }
        return
      }
      if (notStr.indexOf(data.labelNo) === -1) {
        this.params = {
          pageCurrent: 1,
          pageSize: 20,
          tagsName: data.labelName
        }
      } else if (notStr.indexOf(data.labelNo) === 0) {
        this.params = {
          pageCurrent: 1,
          pageSize: 20,
          sections: 1
        }
      } else if (notStr.indexOf(data.labelNo) === 2) {
        this.params = {
          pageCurrent: 1,
          pageSize: 20,
          sections: 3
        }
      }
      this.getBlogList(this.params)
    }
  }
}
</script>
<style lang="scss" scoped>
.sides {
  width: 100px;
  min-height: 400px;
}
.w760 {
  width: 760px;
}
.add {
  width: 260px;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  border: none;
  outline: none;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: rgba(213, 20, 35, 1);
  text-align: center;
}
</style>
