<template>
  <el-dialog
    width="60%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="标题">
        <el-input v-model="map.title" />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="博客标题 / 博主">
        <template slot-scope="scope">
          {{ scope.row.title }}
          <br>
          博主：【{{ scope.row.bloggerNickname }}】
        </template>
      </el-table-column>
      <el-table-column label="类型" prop="articleType" width="50">
        <template slot-scope="scope">
          {{ typeIdEnums[scope.row.typeId] }}
        </template>
      </el-table-column>
      <el-table-column label="标签" prop="tagsName" width="80" />
      <el-table-column label="公开博客" width="80">
        <template slot-scope="scope">
          {{ isOpenEnums[scope.row.isOpen] }}
        </template>
      </el-table-column>
      <el-table-column label="是否发布" width="80">
        <template slot-scope="scope">
          {{ isIssueEnums[scope.row.isIssue] }}
        </template>
      </el-table-column>
      <el-table-column label="是否置顶" width="80">
        <template slot-scope="scope">
          {{ isTopEnums[scope.row.isTop] }}
        </template>
      </el-table-column>
      <el-table-column label="收藏 / 点赞 / 评论 / 阅读" width="160">
        <template slot-scope="scope">
          {{ scope.row.collectionAcount }} / {{ scope.row.admireAcount }} / {{ scope.row.commentAcount }} / {{ scope.row.readAcount }}人
        </template>
      </el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleClose(scope.row)">选择</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import { blogPage } from '@/api/community'

export default {
  name: 'FindCourse',
  props: {
    title: {
      type: String,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 5,
        totalCount: 0,
        totalPage: 0
      },
      list: [],
      map: {},
      loading: false,
      typeIdEnums: {},
      isOpenEnums: {},
      isIssueEnums: {},
      isTopEnums: {},
      statusIdEnums: {}
    }
  },
  watch: {
    visible: function(val) {
      if (val) {
        this.listForPage();
        this.$store.dispatch('GetOpts', { enumName: 'TypeIdEnum', type: 'obj' }).then(res => {
          this.typeIdEnums = res;
        });
        this.$store.dispatch('GetOpts', { enumName: 'IsOpenEnum', type: 'obj' }).then(res => {
          this.isOpenEnums = res;
        });
        this.$store.dispatch('GetOpts', { enumName: 'IsIssueEnum', type: 'obj' }).then(res => {
          this.isIssueEnums = res;
        });
        this.$store.dispatch('GetOpts', { enumName: 'IsTopEnum', type: 'obj' }).then(res => {
          this.isTopEnums = res;
        });
        this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
          this.statusIdEnums = res;
        });
      }
    }
  },
  methods: {
    handleClose(row) {
      if (row.id) {
        this.map = {}
        this.page.pageCurrent = 1
      }
      this.$emit('close-callback', row)
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {}
      this.page.pageCurrent = 1
      this.listForPage();
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      this.loading = true;
      blogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      }).finally(() => {
        this.loading = false;
      })
    }
  }
}
</script>
