<template>
  <div id="axis" class="axis"></div>
</template>

<script>
  import echarts from 'echarts'

  export default {
    name: 'Axis',
    props: {
      data: {
        type: Object,
        default: () => {
          return []
        }
      }
    },
    watch: {
      data() {
        this.parseOption()
      }
    },
    data() {
      return {
        myChart: undefined
      }
    },
    mounted() {
      this.myChart = echarts.init(document.getElementById('axis'), 'light');
      this.parseOption()
    },
    methods: {
      parseOption: function() {
        const option = {
          title: {
            text: '最近7天访问'
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
              type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
          },
          legend: {
            data: ['WEB访问', '小程序访问']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          yAxis: {
            axisLabel: {
              interval: 0 // 设置成 0 强制显示所有标签。
            },
            splitLine: {
              lineStyle: {
                type: 'dashed'
              }
            },
            type: 'value'
          },
          xAxis: {
            axisLabel: {
              interval: 0 // 设置成 0 强制显示所有标签。
            },
            type: 'category',
            data: this.data.dataList
          },
          series: [
            {
              name: 'WEB访问',
              type: 'line',
              stack: 'line',
              data: this.data.pcList
            },
            {
              name: '小程序访问',
              type: 'line',
              stack: 'tiled',
              data: this.data.xcxList
            }
          ]
        };
        this.myChart.setOption(option)
      }
    }
  }
</script>

<style scoped>
  .axis{
    width: 600px;
    height: 400px;
  }
</style>
