<template>
  <div class="dashboard-container">
    <el-row>
      <el-col :span="24"><div class="grid-content bg-purple-dark">
        <span class="title">核心指标</span>
      </div></el-col>
    </el-row>
    <el-row :gutter="10" class="panel-group">
      <el-col :xs="12" :sm="12" :lg="4" class="card-panel-col">
        <el-link class="card-panel" :underline="false" @click="orderListForPage()">
          <div class="card-panel-description">
            <div class="card-panel-text">
              结算金额(元)
            </div>
            <div   v-if="checkPermission('orderStatView')" class="number">
              {{ orderStat.orderIncome }}
            </div>
          </div>
          <el-tooltip class="item" effect="light" content="0点截至当前时间，所有结算订单金额之和" placement="top-start">
            <svg-icon class="svg-icon" icon-class="svg-icon-info" />
          </el-tooltip>
        </el-link>
      </el-col>
      <el-col :xs="12" :sm="12" :lg="4" class="card-panel-col">
        <el-link class="card-panel" :underline="false" @click="orderListForPage()">
          <div class="card-panel-description">
            <div class="card-panel-text">
              平台收入(元)
            </div>
            <div v-if="checkPermission('orderStatView')" class="number">
              {{ orderStat.orderProfit }}
            </div>
          </div>
          <el-tooltip class="item" effect="light" content="0点截至当前时间，所有结算平台收入之和" placement="top-start">
            <svg-icon class="svg-icon" icon-class="svg-icon-info" />
          </el-tooltip>
        </el-link>
      </el-col>
      <el-col :xs="12" :sm="12" :lg="4" class="card-panel-col">
        <el-link class="card-panel" :underline="false" @click="orderListForPage()">
          <div class="card-panel-description">
            <div class="card-panel-text">
              成交订单
            </div>
            <div  v-if="checkPermission('orderStatView')" class="number">
              {{ orderStat.orderNum }}
            </div>
          </div>
          <el-tooltip class="item" effect="light" content="0点截至当前时间，所有结算成功订单数" placement="top-start">
            <svg-icon class="svg-icon" icon-class="svg-icon-info" />
          </el-tooltip>
        </el-link>
      </el-col>
      <el-col :xs="12" :sm="12" :lg="4" class="card-panel-col">
        <el-link class="card-panel" :underline="false" @click="userListForPage()">
          <div class="card-panel-description">
            <div class="card-panel-text">
              活跃用户
            </div>
            <div  v-if="checkPermission('userStatView')"   class="number">
              {{ userStat.loginSum }}
            </div>
          </div>
          <el-tooltip class="item" effect="light" content="0点截至当前时间，所有登录人数，同一访客多次访问会进行去重" placement="top-start">
            <svg-icon class="svg-icon" icon-class="svg-icon-info" />
          </el-tooltip>
        </el-link>
      </el-col>
      <el-col :xs="12" :sm="12" :lg="4" class="card-panel-col">
        <el-link class="card-panel" :underline="false" @click="registeredListForPage()">
          <div class="card-panel-description">
            <div class="card-panel-text">
              注册用户
            </div>
            <div  v-if="checkPermission('userStatView')" class="number">
              {{ userStat.newUserNum }}
            </div>
          </div>
          <el-tooltip class="item" effect="light" content="0点截至当前时间，所有注册人数" placement="top-start">
            <svg-icon class="svg-icon" icon-class="svg-icon-info" />
          </el-tooltip>
        </el-link>
      </el-col>
      <el-col :xs="12" :sm="12" :lg="4" class="card-panel-col">
        <el-link class="card-panel" :underline="false" @click="userListForPage()">
          <div class="card-panel-description">
            <div class="card-panel-text">
              登录人次
            </div>
            <div  v-if="checkPermission('userStatView')"  class="number">
              {{ userStat.loginNum }}
            </div>
          </div>
          <el-tooltip class="item" effect="light" content="0点截至当前时间，所有登录人次" placement="top-start">
            <svg-icon class="svg-icon" icon-class="svg-icon-info" />
          </el-tooltip>
        </el-link>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24"><div class="grid-content bg-purple-dark">
        <span class="title">数据看板</span>
      </div></el-col>
    </el-row>
    <el-row :gutter="10" class="panel-group" >
      <el-col v-if="checkPermission('userStatProvinceList')"  :span="12">
        <china-map :title="mapTitle"  :data="mapData" />
      </el-col>
      <el-col :span="12"  v-if="checkPermission('userLogDaysStat')" >
        <axis  :data="userLogMapData" />
      </el-col>
    </el-row>
    <el-row class="elRow">
      <el-col v-if="checkPermission('courserToday')" :span="12">
        <orderCourser :list="orderCourserTodayList" />
      </el-col>
      <el-col v-if="checkPermission('lecturerToday')" :span="12">
        <orderLecturer :list="orderLecturerTodayList" />
      </el-col>
    </el-row>
    <el-row class="elRow"  v-if="checkPermission('orderLogDaysStat')">
      <orderStat   :data="orderLogMapData" />
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ChinaMap from '@/components/ChinaMap'
import axis from './axis'
import orderStat from './orderStat'
import orderCourser from './orderCourser'
import orderLecturer from './orderLecturer'
import {orderStatView, userStatView, userStatProvinceList, userLogDaysStat, orderLogDaysStat, orderCourserToday, orderLecturerToday} from '@/api/dashboard'

export default {
  name: 'Dashboard',
  components: { ChinaMap, axis, orderStat, orderCourser, orderLecturer },
  data() {
    return {
      orderStat: {}, // 当天订单统计
      userStat: {}, // 当天登录统计
      userLogMapData: {},
      orderLogMapData: {},
      mapTitle: '访问地域分布',
      mapData: [],
      payTime: [],
      value: 1,
      orderCourserTodayList: [],
      orderLecturerTodayList: []
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  mounted() {
    this.loading.start()
    if (this.checkPermission('orderStatView')) {
      this.orderStatView()
    }
    if (this.checkPermission('userStatView')) {
      this.userStatView()
    }
    if (this.checkPermission('userStatProvinceList')) {
      this.userStatProvinceList()
    }
    if (this.checkPermission('userLogDaysStat')) {
      this.userLogDaysStat()
    }
    if (this.checkPermission('orderLogDaysStat')) {
      this.orderLogDaysStat()
    }
    if (this.checkPermission('courserToday')) {
      this.orderCourserToday()
    }
    if (this.checkPermission('lecturerToday')) {
      this.orderLecturerToday()
    }
  },
  methods: {
    orderListForPage() {
      const end = new Date();
      const start = new Date();
      this.payTime = [start, end]
      this.$router.push({ name: 'orderInfoList', params: { orderStatus: 2}})
    },
    // 今天登陆
    userListForPage() {
      const end = new Date();
      const start = new Date();
      this.payTime = [start, end]
      this.$router.push({ name: 'userLogList', params: { query: 1}})
    },
    // 今天注册
    registeredListForPage() {
      const end = new Date();
      const start = new Date();
      this.payTime = [start, end]
      this.$router.push({ name: 'userLogList', params: { query: 2}})
    },
    orderStatView() {
      // 当天订单汇总
      orderStatView().then(res => {
        this.orderStat = res.data
      })
    },
    // 当天用户登录汇总
    userStatView() {
      userStatView().then(res => {
        this.userStat = res.data
      })
    },
    // 用户省统计列表
    userStatProvinceList() {
      userStatProvinceList().then(res => {
        this.mapData = res.data.list
      })
    },
    // 获取当前时间与后七天的时间登录统计
    userLogDaysStat() {
      userLogDaysStat().then(res => {
        this.userLogMapData = res.data
      })
    },
    // 获取当前时间与后十天的时间登录统计
    orderLogDaysStat() {
      orderLogDaysStat().then(res => {
        this.orderLogMapData = res.data
      })
    },
    // 订单课程当天统计
    orderCourserToday() {
      orderCourserToday().then(res => {
        this.orderCourserTodayList = res.data.list
      })
    },
    // 订单讲师当天统计
    orderLecturerToday() {
      orderLecturerToday().then(res => {
        this.orderLecturerTodayList = res.data.list
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .option{
    position: absolute;
    right: 5px;
    top: 4px;
  }
  .form-control {
    width: 45%;
    height: 30px;
  }
  .svg-icon{
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 20px;
  }
  .grid-content {
    min-height: 36px;
  }
  .bg-purple-dark {
    background-color: #f8f8f8;
  }
  .title{
    position: absolute;
    top: 20%;
    padding-left: 7px;
    font-size: 16px;
  }
  .elRow {
    margin-top: 40px;
  }
  .dashboard {
    &-container {
      height: 100%;
      overflow: auto;
      padding: 30px;
    }

    &-text {
      font-size: 30px;
      line-height: 26px;
    }
  }
  .panel-group {
    margin-top: 18px;
    .card-panel-col {
      margin-bottom: 32px;
    }
    .card-panel {
      height: 80px;
      cursor: pointer;
      font-size: 12px;
      position: relative;
      overflow: hidden;
      color: #3b3b3b;
      background: #fff;
      box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
      border-color: rgba(0, 0, 0, .05);
      display: block;
      &:hover {
        .card-panel-icon-wrapper {
          color: #fff;
        }
        .icon-people {
          background: #40c9c6;
        }
        .icon-message {
          background: #36a3f7;
        }
        .icon-money {
          background: #f4516c;
        }
        .icon-shopping {
          background: #34bfa3
        }
      }
      .small-list{
        position: absolute;
        top: 24px;
        font-size: 14px;
        right: 20px;
        color: #b2b2b2;
        cursor: pointer;
        outline: none;
      }
      .icon-people {
        color: #40c9c6;
      }
      .icon-message {
        color: #36a3f7;
      }
      .icon-money {
        color: #f4516c;
      }
      .icon-shopping {
        color: #34bfa3
      }
      .card-panel-icon-wrapper {
        float: left;
        margin: 14px 0 0 14px;
        padding: 16px;
        transition: all 0.38s ease-out;
        border-radius: 6px;
      }
      .card-panel-icon {
        float: left;
        font-size: 48px;
      }
      .card-panel-description {
        float: left;
        margin: 10px;
        font-size: 20px;
        .card-panel-text {
          color: #666;
          font-size: 15px;
          margin-bottom: 15px;
        }
        .number {
          text-align: left;
          font-weight: bold;
          line-height: 18px;
          font-size: 20px;
          margin-bottom: 15px;
        }
        .card-panel-num {
          font-size: 20px;
        }
      }
    }
  }
  @media (max-width:550px) {
    .card-panel-description {
      display: none;
    }
    .card-panel-icon-wrapper {
      float: none !important;
      width: 100%;
      height: 100%;
      margin: 0 !important;
      .svg-icon {
        display: block;
        margin: 14px auto !important;
        float: none !important;
      }
    }
  }
</style>
