<template>
  <div id="orderLecturer" class="axis"></div>
</template>

<script>
  import echarts from 'echarts'
  export default {
    name: 'OrderLecturer',
    props: {
      list: {
        type: Array,
        default: () => {
          return []
        }
      }
    },
    watch: {
      list: function(val) {
        if (!val.length) {
          this.subtext = '暂无数据'
        }
        if (!this.myChart) {
          this.myChart = echarts.init(document.getElementById('orderLecturer'), 'light');
        }
        this.parseOption()
      }
    },
    data() {
      return {
        subtext: '',
        myChart: undefined
      }
    },
    methods: {
      parseOption: function() {
        const legend = []
        const selected = {}
        this.list.map((item, i) => {
          legend.push(item.name)
          selected[item.name] = i < 6; // 默认显示6条
        })

        const option = {
          title: {
            text: '今天讲师订单统计',
            left: 'center',
            subtext: this.subtext,
            // 副标题文本样式
            subtextStyle: {
              color: '#ccc',
              fontFamily: 'sans-serif',
              fontSize: 18
            }
          },
          tooltip: {
            trigger: 'item',
            // formatter: '{a} <br/>{b} : {c} '
            formatter: this.formatter
          },
          legend: {
            type: 'scroll',
            orient: 'vertical',
            left: 'left',
            data: legend,
            selected: selected // 默认显示6条
          },
          series: [
            {
              name: '订单数',
              type: 'pie',
              radius: '55%',
              center: ['50%', '60%'],
              data: this.list,
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        };
        this.myChart.setOption(option)
      },
      formatter: function(params, ticket, callback) {
        return '&nbsp;&nbsp;&nbsp;&nbsp;' + params.name + ': <br/>' + '日订单数：' + (params.value || 0) + ' (条) <br/>' + '日收入：' + params.data.lecturerIncome + '(元)';
      }
    }
  }
</script>

<style scoped>
  .title{
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
  }
  .no_data{
    text-align: center;
  }
  .axis{
    width: 600px;
    height: 400px;
  }
</style>
