<template>
  <div id="orderStat" class="axis"></div>
</template>

<script>
  import echarts from 'echarts'
  export default {
    name: 'OrderStat',
    props: {
      data: {
        type: Object,
        default: () => {
          return []
        }
      }
    },
    watch: {
      data() {
        this.parseOption()
      }
    },
    data() {
      return {
        myChart: undefined
      }
    },
    mounted() {
      this.myChart = echarts.init(document.getElementById('orderStat'), 'light');
      this.parseOption()
    },
    methods: {
      parseOption: function() {
        const option = {
          title: {
            text: '订单统计'
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
              type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
          },
          legend: {
            data: ['微信扫码支付', '支付宝扫码支付', '小程序支付', '线下支付']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          yAxis: {
            axisLabel: {
              interval: 0 // 设置成 0 强制显示所有标签。
            },
            splitLine: {
              lineStyle: {
                type: 'dashed'
              }
            },
            type: 'value'
          },
          xAxis: {
            axisLabel: {
              interval: 0 // 设置成 0 强制显示所有标签。
            },
            type: 'category',
            data: this.data.dataList
          },
          series: [
            {
              name: '微信扫码支付',
              type: 'line',
              stack: '微信扫码支付',
              smooth: true,
              data: this.data.weixinList
            },
            {
              name: '支付宝扫码支付',
              type: 'line',
              stack: '支付宝扫码支付',
              data: this.data.alipayList
            },
            {
              name: '小程序支付',
              type: 'line',
              stack: '线下支付',
              data: this.data.xcxList
            },
            {
              name: '线下支付',
              type: 'line',
              stack: '线下支付',
              data: this.data.manualList
            }
          ]
        };
        this.myChart.setOption(option)
      }
    }
  }
</script>

<style scoped>
  .axis{
    width: 100%;
    height: 400px;
  }
</style>
