<style scoped lang="scss">
.seek-bar {
  padding: 0 10px 15px ;
  .input {
    width: 220px;
  }
  span{
    display: inline-block;
    margin: 0 4px;
    margin-left: 20px;
  }
  .seek-btn {
    margin-left: 10px;
  }
}

.user-box {
  height: 490px;
  .user-select-list,
  .user-seek-list {
    height: 245px;
    padding: 10px 0;
  }

  .user-select-list {
    height: 225px;
    border-top: 1px solid #999;
 }

 .footer {
   text-align: right;
 }
 .user-item {
    width: 136px;
    height: 36px;
    border-radius:5px;
    display: inline-block;
    background-color: rgba(245, 245, 245, 1);
    font-style: normal;
    font-size: 14px;
    color: #999999;
    line-height: 36px;
    margin: 0 7px 7px 0;
    text-align: center;
    position: relative;

    &.active {
      color:#2388EC;
      box-sizing: border-box;
      line-height: 34px;
      border:1px solid #2388EC;
      background-color: rgba(35, 136, 236, 0.196078431372549);
    }

    .el-icon-error {
      display: none;
      position: absolute;
      font-size: 16px;
      color:red;
      right: -8px;
      top: -8px;

    }
    &.active:hover .el-icon-error {
      display: block;
    }
  }
}
</style>
<template>
<div class="seekUser">
    <div class="seek-bar">
      <el-button type="text" @click="back"> 返回 </el-button>
      <div class="fr">
        <span>关键字：</span>
        <el-input class="input" v-model="seek.name" placeholder="请输入关键字"></el-input>
        <el-button type="primary" class="seek-btn">搜索</el-button>
      </div>
    </div>
    <div class="user-box">
      <div class="user-seek-list">
        <div class="user-item" v-for="i in 20" :key="i">用户名字</div>
      </div>
      <div class="user-select-list">
        <div class="user-item active" v-for="i in 5" :key="i">
          用户名字
          <i class="el-icon-error"></i>
        </div>
      </div>
      <div class="footer"> <el-button type="primary">确认增加</el-button> </div>
    </div>
</div>
</template>

<script>
export default {
  name: 'SeekUser',
  data() {
    return {
      seek: {
        name: ''
      },
      tableData: [{ value: false }]
    }
  },
  methods: {
    back() {
      this.$emit('back');
    }
  }
}
</script>
