<style scoped lang="scss">
.seek-bar {
  padding-bottom: 15px;
  .input {
    width: 220px;
  }
  span{
    display: inline-block;
    margin: 0 4px;
    margin-left: 20px;
  }
  .seek-btn {
    margin-left: 10px;
  }
}
</style>
<template>
<div class="examAdmin">
  <div class="seek-bar">
      <el-button type="text" @click="back"> 返回 </el-button>
      <div class="fr">
          <el-button :disabled="!selectList.length" type="primary" @click="auditList(1)">同意</el-button>
          <el-button :disabled="!selectList.length" type="danger" @click="auditList(-1)">拒绝</el-button>
      </div>
    </div>
    <el-table
    :data="userList"
    height="450"
    border
    @selection-change="handleSelectionChange"
    style="width: 100%;margin-bottom:10px">
      <el-table-column
      type="selection"
       align="center"
      width="50">
    </el-table-column>
     <el-table-column
      type="index"
      label="序号"
      align="center"
      width="50">
    </el-table-column>
    <el-table-column
      prop="nickname"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="gradeName"
      label="班级"
      width="180">
    </el-table-column>
    <el-table-column
      prop="applyDescription"
      label="备注">
    </el-table-column>
    <el-table-column
      prop="applyDescription"
      label="状态">
       <template slot-scope="scope">
        <el-button type="text" v-if="scope.row.auditStatus === 1" style="color: #30ca2e">待审核</el-button>
        <el-button type="text" v-if="scope.row.auditStatus === 3" style="color: red">已拒绝</el-button>
        <el-button type="text" v-if="scope.row.auditStatus === 2">已同意</el-button>
      </template>
    </el-table-column>
      <el-table-column
      prop="address"
      label="操作">
      <template slot-scope="scope">
        <el-button type="text" v-if="scope.row.auditStatus === 1" @click="audit(1, scope.row.id)">同意</el-button>
        <el-button type="text" v-if="scope.row.auditStatus === 1" style="color: red" @click="audit(-1, scope.row.id)">拒绝</el-button>
      </template>
    </el-table-column>
</el-table>
 <div class="center">
    <el-pagination
      :current-page="pageObj.pageCurrent"
      :page-size="pageObj.pageSize"
      :total="pageObj.totalCount"
      @current-change="getData"
      background
      class="page-panel"
      layout="prev, pager, next"
    ></el-pagination>
  </div>
</div>
</template>

<script>
import * as apis from '~/api/account/grade.js'
export default {
  name: 'UserList',
  props: {
    grade: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      seek: {
        time: [],
        name: ''
      },
      pageObj: {
        pageCurrent: 1,
        pageSize: 10,
        totalCount: '',
        totalPage: ''
      },
      selectList: [],
      userList: []
    }
  },
  created() {
    this.getData();
  },
  methods: {
    addUser() {
      this.$emit('addUser')
    },
    back() {
      this.$emit('back')
    },
    handleSelectionChange(arr) {
      this.selectList = arr
    },
    auditList(item) {
      const ids = this.selectList.map((e) => e.id)
      this.$confirm(item === 1 ? '确定把所选学员加入班级吗?' : '确定拒绝所选学员加入班级吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true;
        apis.auditRecordList({
          auditOpinion: '备注',
          auditPassed: item === 1,
          recordIds: ids.join(','),
          gradeId: this.grade.id
        }).then((res) => {
          this.loading = false;
          if (res.code === 200) {
            this.$message({
              message: '操作成功!',
              type: 'success'
            });
            this.getData();
          }
        })
      })
    },
    audit(item, id) {
      this.$confirm(item === 1 ? '确定把该学员加入班级吗?' : '确定拒绝该学员加入班级吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true;
        apis.auditRecord({
          auditOpinion: '备注',
          auditPassed: item === 1,
          recordId: id
        }).then((res) => {
          this.loading = false;
          if (res.code === 200) {
            this.$message({
              message: '操作成功!',
              type: 'success'
            });
            this.getData();
          }
        }).catch(() => {
          this.loading = false
        })
      })
    },
    getData() {
      this.pageObj.gradeId = this.grade.id
      apis.applyRecordList(this.pageObj).then((res) => {
        this.pageObj = res.data
        this.loading = false;
        this.userList = res.data.list || [];
        if (res.data.list && res.data.list.length > 0) {
          this.pageObj = res.data
        } else {
          this.pageObj.totalPage = 0
        }
      }).catch(() => {
        this.userList = []
        this.loading = false
        this.pageObj.totalPage = 0
      })
    },
    addUserList() {
      this.$emit('addUserList')
    }
  }
}
</script>
