<style scoped lang="scss">
.seek-bar {
  padding-bottom: 15px;
  .input {
    width: 220px;
  }
  span{
    display: inline-block;
    margin: 0 4px;
    margin-left: 20px;
  }
  .seek-btn {
    margin-left: 10px;
  }
}
</style>
<template>
<div class="examAdmin">
  <div class="seek-bar">
    <span>用户姓名：</span>
    <el-input class="input" clearable v-model="pageObj.nickname" placeholder="请输入用户姓名"></el-input>
    <el-button type="primary" class="seek-btn" @click="seeks()">搜索</el-button>
    <!-- <el-button type="text" @click="addUser">添加用户</el-button> -->
    <el-dropdown>
      <el-button size="mini">
        导入学员<i class="el-icon-arrow-down el-icon--right" />
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item>
          <a href="/班级学员导入模板.xlsx">
            <el-button type="success" size="mini">导入学员模板</el-button>
          </a>
          <el-upload
            :accept="accept"
            :show-file-list="false"
            :http-request="upload"
            :before-upload="beforeAvatarUpload"
            class="xslx-uploader"
            name="picFile"
            action
          >
            <el-tooltip class="item" effect="dark" content="只支持xlsx文件格式！" placement="top">
              <el-button type="primary" size="mini">导入学员</el-button>
            </el-tooltip>
          </el-upload>
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <el-button type="text" @click="addUserList" class="fr">申请列表 <template v-if="auditRecordTotal">({{ auditRecordTotal }})</template> </el-button>
  </div>
    <el-table
    :data="userList"
    height="450"
    border
    v-loading="loading"
    style="width: 100%;margin-bottom:10px">
     <el-table-column
      type="index"
      align="center"
      width="40">
    </el-table-column>
    <el-table-column
      prop="nickname"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="remark"
      label="角色"
      width="180">
      <template slot-scope="scope">
        {{ scope.row.userRole == 1 ? '学员' : '管理员' }}
      </template>
    </el-table-column>
    <el-table-column
      prop="remark"
      label="备注">
    </el-table-column>
      <el-table-column
      prop="address"
      label="操作">
      <template slot-scope="scope">
        <el-button v-if="!isGradeAdmin" type="text" @click="updateAdmin(scope.row)">{{ scope.row.userRole == 2 ? '取消管理员' : '设为管理员' }}</el-button>
        <el-button type="text" @click="updateName(scope.row)">修改姓名</el-button>
        <el-button type="text" style="color:red" @click="GradeOutstudent(scope.row)">踢出</el-button>
      </template>
    </el-table-column>
</el-table>
 <div class="center">
    <el-pagination
      :current-page="pageObj.pageCurrent"
      :page-size="pageObj.pageSize"
      :total="pageObj.totalCount"
      @current-change="getData"
      background
      class="page-panel"
      layout="prev, pager, next"
    ></el-pagination>
  </div>
</div>
</template>

<script>
  import { uploadGradeStudent } from '~/api/upload.js'

  import * as apis from '~/api/account/grade.js'
export default {
  name: 'UserList',
  props: {
    grade: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      loading: true,
      auditRecordTotal: 0,
      seek: {
        time: [],
        name: ''
      },
      accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
      pageObj: {
        pageCurrent: 1,
        pageSize: 10,
        totalCount: 0,
        nickname: '',
        totalPage: 0
      },
      isGradeAdmin: false,
      userList: []
    }
  },
  created() {
    this.getData();
    this.getauditRecordTotal()
  },
  mounted() {
    this.isGradeAdmin = this.lockr.get('isGradeAdmin')
  },
  methods: {
    addUser() {
      this.$emit('addUser')
    },
    beforeAvatarUpload(file) {
      const isIMG = this.accept.indexOf(file.type);
      if (isIMG === -1) {
        this.$message.error('不支持上传该文件格式');
      }
      return isIMG !== -1;
    },
    upload(file) {
      this.loading = true;
      const param = new FormData()
      const typeFile = 'file'
      param.append(typeFile, file.file, file.file.name)
      uploadGradeStudent(param, (int, source) => {}).then(res => {
        this.loading = false;
        if (res && res.code === 200) {
          this.$message({
            type: 'success',
            message: '上传成功!'
          });
          this.getData();
        }
        if (res && res.code === 999) {
          this.$message.error(res.msg);
        }
      })
    },
    updateName(item) {
      this.$prompt('请输入学生名字', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        inputValidator(val) {
          if (!val) {
            return '请输入学生名字'
          }
          return true
        }
      }).then(({ value }) => {
        if (value) {
          apis.GradeEditStudent({
            id: item.id,
            nickname: value
          }).then(() => {
            this.$message({
              type: 'success',
              message: '修改成功！'
            });
            this.getData();
          })
        }
      })
    },
    back() {
      this.$emit('back')
    },
    getauditRecordTotal() {
      apis.auditRecordTotal({
        gradeId: this.grade.id
      }).then(res => {
        if (res.code === 200) {
          this.auditRecordTotal = res.data.waitCount
        }
      })
    },
    updateAdmin(item) {
      this.$confirm(item.userRole === 2 ? '确定把该管理员删除吗?' : '确定把该学员设置为管理员吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true;
        apis.updateGradeAdmin({
          gradeId: this.grade.id,
          studentUserNo: item.userNo
        }).then((res) => {
          this.loading = false;
          if (res.code === 200) {
            this.$message({
              message: item.userRole === 2 ? '删除成功！' : '设置成功!',
              type: 'success'
            });
            this.getData();
          }
        }).catch(() => {
          this.loading = false
        })
      })
    },
    GradeOutstudent(item) {
      this.$confirm('确定把该学员踢出班级吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true;
        apis.GradeOutstudent({
          gradeId: this.grade.id,
          studentUserNo: item.userNo
        }).then((res) => {
          this.loading = false;
          if (res.code === 200) {
            this.$message({
              message: '踢出班级成功！',
              type: 'success'
            });
            this.getData();
          }
        }).catch(() => {
          this.loading = false
        })
      })
    },
    addUserList() {
      this.$emit('addUserList')
    },
    seeks() {
      this.pageObj.pageCurrent = 1;
      this.getData();
    },
    getData(int = 1) {
      this.pageObj.pageCurrent = int
      this.loading = true;
      this.pageObj.gradeId = this.grade.id;
      apis.gradeStudentList(this.pageObj).then((res) => {
        res.data.nickname = this.pageObj.nickname;
        this.pageObj = res.data
        this.loading = false;
        this.userList = res.data.list || [];
        if (res.data.list && res.data.list.length > 0) {
          this.pageObj = res.data
        } else {
          this.pageObj.totalPage = 0
        }
      }).catch(() => {
        this.userList = []
        this.loading = false
        this.pageObj.totalPage = 0
      })
    }
  }
}
</script>
