<template>
<view>
  <form @submit="bindCard">
    <text class="h94 pdl20 c_999 font25">您的身份信息</text>
    <view class="b_fff p_relative border_b pdl20">
      <text class="label h94 inline_box c_333 font33">姓名</text>
      <input name="bankUserName" class="text_input font33" placeholder="请输入姓名"></input>
    </view>
    <view class="b_fff p_relative pdl20">
      <text class="label h94 inline_box c_333 font33">身份证</text>
      <input name="bankIdCardNo" class="text_input font33" placeholder="请输入身份证"></input>
    </view>
    <text class="h94 pdl20 c_999 font25">银行卡信息</text>
    <view class="b_fff p_relative pdl20 border_b">
      <text class="label h94 inline_box c_333 font33">银行卡号</text>
      <input name="bankCardNo" type="number" class="text_input font33" placeholder="请输入银行卡号"></input>
    </view>
    <view class="b_fff p_relative pdl20 border_b">
      <text class="label h94 inline_box c_333 font33">开户行</text>
      <input name="bankName" class="text_input font33" placeholder="请输入开户行"></input>
    </view>
    <view class="b_fff p_relative pdl20">
      <text class="label h94 inline_box c_333 font33">开户支行</text>
      <input name="bankBranchName" class="text_input font33" placeholder="请输入开户支行"></input>
    </view>
    <text class="h94 pdl20 c_999 font25">银行卡验证</text>
    <view class="b_fff p_relative pdl20 border_b">
      <text class="label h94 inline_box c_333 font33">手机号</text>
      <input @input="changePhone" name="bankMobile" class="text_input font33" type="number" maxlength="11" placeholder="绑定银行卡的手机号"></input>
    </view>
    <view class="b_fff p_relative pdl20">
      <text class="label h94 inline_box c_333 font33">验证码</text>
      <input name="smsCode" class="text_input sort_text font33" type="number" maxlength="6" placeholder="请输入验证码"></input>
      <code-btn @codeClick="changeBind" :mobile="phone"></code-btn>
    </view>
    <button form-type="submit" :disabled="btnDis" class="buy_btn">确认</button>
  </form>
</view>
</template>

<script>
// pages/card/add_card.js
import { addCard } from "../../../api/user";
const app = getApp();
import codeBtn from "../../../components/codebtn/codebtn";

export default {
  data() {
    return {
      phone: '',
      btnDis: true,
      userInfo: ""
    };
  },

  components: {
    codeBtn
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
    this.setData({
      userInfo: uni.getStorageSync('userInfo')
    });
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    changePhone(e) {
      console.log(e.detail.value);
      this.setData({
        phone: e.detail.value
      });
    },

    changeBind() {
      this.setData({
        btnDis: false
      });
    },

    bindCard(e) {
      console.log(e.detail.value);
      let obj = e.detail.value;

      if (!obj.bankUserName) {
        uni.showToast({
          title: '请输入姓名',
          icon: 'none'
        });
        return;
      }

      if (!obj.bankIdCardNo) {
        uni.showToast({
          title: '请输入身份证',
          icon: 'none'
        });
        return;
      }

      if (!obj.bankCardNo) {
        uni.showToast({
          title: '请输入银行卡号',
          icon: 'none'
        });
        return;
      }

      if (!obj.bankName) {
        uni.showToast({
          title: '请输入开户行',
          icon: 'none'
        });
        return;
      }

      if (!obj.bankBranchName) {
        uni.showToast({
          title: '请输入开户支行',
          icon: 'none'
        });
        return;
      }

      if (!/^1[3|4|5|8|7][0-9]\d{8}$/.test(parseInt(obj.bankMobile))) {
        uni.showToast({
          title: '请输入正确的手机号',
          icon: 'none'
        });
        return;
      }

      if (!obj.smsCode) {
        uni.showToast({
          title: '请输入验证码',
          icon: 'none'
        });
        return;
      }

      obj.userNo = this.userInfo.userNo;
      console.log(obj);
      uni.showLoading({
        title: '绑定银行卡中...',
        icon: 'none'
      });
      addCard(obj).then(res => {
        uni.redirectTo({
          url: '../bindSuccess/bindSuccess'
        });
      });
    }

  }
};
</script>
<style scoped>
.text_input {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 94rpx;
  height: 94rpx;
  width: 575rpx;
}
.sort_text {
  width: 300rpx;
  left: 175rpx;
}
</style>