<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="8">
          <el-form-item label="讲师手机" prop="lecturerMobile">
            <el-input v-model="form.lecturerMobile" disabled class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="邮箱" prop="lecturerEmail">
            <el-input v-model="form.lecturerEmail" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="讲师名称" prop="lecturerName">
            <el-input v-model="form.lecturerName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="职位">
            <el-input v-model="form.position" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="form.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="讲师简介" prop="introduce">
            <wangeditor v-model="form.introduce" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-alert class="title" :closable="false" title="银行卡信息" type="info" />
      <el-row>
        <el-col :span="8">
          <el-form-item label="银行名称" prop="userAccountVO.bankName">
            <el-input v-model="form.userAccountVO.bankName" disabled class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="支行名称" prop="userAccountVO.bankBranchName">
            <el-input v-model="form.userAccountVO.bankBranchName" disabled class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="银行卡号" prop="userAccountVO.bankCardNo">
            <el-input v-model="form.userAccountVO.bankCardNo" disabled class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="开户名称" prop="userAccountVO.bankUserName">
            <el-input v-model="form.userAccountVO.bankUserName" disabled class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="身份证号" prop="userAccountVO.bankIdCardNo">
            <el-input v-model="form.userAccountVO.bankIdCardNo" disabled class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {lecturerAuditView, lecturerAuditEdit} from '@/api/user'
import Wangeditor from '@/components/wangeditor/wangeditor';

export default {
  name: 'EditLecturerAudit',
  components: {Wangeditor},
  data() {
    return {
      form: {
        userAccountVO: {}
      },
      isEdit: false,
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        gmtModified: [
          {required: true, message: '请输入修改时间', trigger: 'blur'}
        ],
        statusId: [
          {required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        auditStatus: [
          {required: true, message: '请输入审核状态(0:待审核,1:审核通过,2:审核不通过)', trigger: 'blur'}
        ],
        auditOpinion: [
          {required: true, message: '请输入审核意见', trigger: 'blur'}
        ],
        lecturerUserNo: [
          {required: true, message: '请输入讲师用户编号', trigger: 'blur'}
        ],
        lecturerName: [
          {required: true, message: '请输入讲师名称', trigger: 'blur'}
        ],
        lecturerMobile: [
          {required: true, message: '请输入讲师手机', trigger: 'blur'}
        ],
        lecturerEmail: [
          {required: true, message: '请输入讲师邮箱', trigger: 'blur'}
        ],
        headImgUrl: [
          {required: true, message: '请输入头像', trigger: 'blur'}
        ],
        introduce: [
          {required: true, message: '请输入简介', trigger: 'blur'}
        ],
        lecturerProportion: [
          {required: true, message: '请输入讲师分成比例', trigger: 'blur'}
        ],
        isLive: [
          {required: true, message: '请输入是否拥有直播功能（0：否，1:  是）', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
    const view = this.$route
    this.getViewInfo(view.query.id)
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/user/lecturer/audit/list');
      })
    },
    getViewInfo(id) {
      this.loading = true
      lecturerAuditView(id).then(res => {
        this.loading = false
        this.form = res.data
        this.isEdit = true;
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      lecturerAuditEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
