<template>
  <div>
    <div v-if="couponData" class="mgt10">
      促销:<span class="favo">￥{{ couponData.couponPrice }}</span>
      <span class="small_favo">优惠券</span>
      <a href="javascript:" class="set_vip" @click="getActivityCoupon">立即领取 &gt;</a>
    </div>
    <div v-if="seckillData" class="mgt10">
      促销:<span class="favo">￥{{ seckillData.seckillPrice.toFixed(2) }}</span>
      <span class="small_favo">秒杀价</span>
      <span class="">{{ spikeStage }}</span>
      <span class="">{{ spikeTime }}</span>
    </div>
  </div>
</template>

<script>
import * as actApi from '~/api/activity.js'
export default {
  name: 'ActivityPanel',
  props: {
    courseInfo: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      spikeStage: '',
      spikeTime: '',
      seckillData: undefined,
      activityInfo: {},
      couponData: undefined
    }
  },
  mounted() {
    this.getActivityInfo()
  },
  methods: {
    getActivityInfo() {
      actApi.courseACTInfo({ courseId: this.courseInfo.id }).then(res => {
        if (res.data.actCouponDTO) {
          this.couponData = res.data.actCouponDTO
        }
        if (res.data.actSeckillDTOList.length) {
          const now = new Date()
          const nowTime = now.getTime()
          let loadySeckill // 未开始
          res.data.actSeckillDTOList.map(item => {
            const year = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
            const begin = new Date(year + ' ' + item.beginTime)
            const end = new Date(year + ' ' + item.endTime)
            const beginTime = begin.getTime()
            const endTime = end.getTime()
            if (nowTime > beginTime) {
              if (endTime > nowTime) {
                this.seckillData = {
                  status: 2, // 1:未开始，2：进行中，3：已结束
                  beginDate: beginTime,
                  endDate: endTime,
                  ...item
                }
              }
            } else if (!loadySeckill) {
              loadySeckill = {
                status: 1, // 未开始
                beginDate: beginTime,
                endDate: endTime,
                ...item
              }
            }
          })
          // 如果没有正在进行的，就取最近准备开始的
          if (!this.seckillData) {
            this.seckillData = loadySeckill
          }
          if (this.seckillData) {
            // 计算倒计时
            this.seckillTimeout()
          }
        }
      })
    },
    seckillTimeout() {
      const now = new Date()
      let timeDiff = 0
      if (this.seckillData.status === 1) {
        // 未开始
        this.spikeStage = '距开始'
        timeDiff = this.seckillData.beginDate - now.getTime()
      } else if (this.seckillData.status === 2) {
        this.spikeStage = '距结束'
        timeDiff = this.seckillData.endDate - now.getTime()
      }
      this.spikeTime = this.seckillData.beginTime
      if (timeDiff > 0) {
        this.spikeTime = this.formatDuring(timeDiff)
        setTimeout(() => {
          this.seckillTimeout()
        }, 1000)
      } else {
        this.getActivityInfo()
      }
    },
    formatDuring(mss) {
      // const days = parseInt(mss / (1000 * 60 * 60 * 24));
      const hours = parseInt((mss % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = parseInt((mss % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = parseInt((mss % (1000 * 60)) / 1000);
      return (hours < 10 ? '0' + hours : hours) + ' : ' + (minutes < 10 ? '0' + minutes : minutes) + ' : ' + (seconds < 10 ? '0' + seconds : seconds);
    },
    // 领取优惠券
    getActivityCoupon() {
      actApi.bindCoupon({ actId: this.couponData.actId, courseId: this.couponData.courseId }).then(res => {
        this.$alert('领取成功，请下单使用！')
      })
    }
  }
}
</script>

<style scoped>

</style>
