<template>
  <a v-if="activityLink" :href="activityLink" :style="'background: url('+ activityImg +') no-repeat center'" target="_blank" class="activity_header">
    <div class="container p_relative">
      <div @click="closeActive" class="close_img">
        <img src="../../assets/image/activity/close.png" alt="">
      </div>
    </div>
  </a>
</template>
<script>
export default {
  data() {
    return {
      activityImg: '',
      activityLink: ''
    }
  },
  mounted() {
    this.getArtivityHeader()
  },
  methods: {
    // 获取活动头部
    async getArtivityHeader() {
      const params = {
        advLocation: 2,
        platShow: 1
      }
      const data = await this.$store.dispatch('main/getAdvList', params)
      if (data.code === 200) {
        if (data.data.advList.length) {
          this.activityImg = data.data.advList[0].advImg || ''
          this.activityLink = data.data.advList[0].advUrl || ''
        }
      }
    },
    closeActive(e) {
      e.preventDefault()
      this.$emit('closeActive')
    }
  }
}
</script>
<style lang="scss" scoped>
  .activity_header {
    display: block;
    height: 100px;
    cursor: pointer;
  }
  .p_relative {
    position: relative;
  }
  .close_img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
    border-radius: 20px;
    img {
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
  }
</style>
