<template>
  <div class="zone-course-list clearfix">
    <div v-for="(that, int) in list" :key="int" class="course-item">
      <a :href="that | courseUrl " target="_blank" class="img-box">
        <img :src="that.courseLogo" :alt="that.courseName" />
      </a>
      <div class="act-price">
        <span class="icon">优惠券</span>
        <span>{{ that.actPrice.toFixed(2) }}元优惠券</span>
      </div>
      <a :href="that | courseUrl " target="_blank" class="name">{{ that.courseName }}</a>
      <div class="price">¥{{ that.courseOriginal.toFixed(2) }}</div>
      <div class="btn-box">
        <button class="get-coupon" @click="getCoupon(that)">领券</button>
        <span>|</span>
        <button class="buy-btn" @click="buyCourse(that)">立即购买</button>
      </div>
    </div>
    <d-pay v-if="showPay" :is-course="true" :data="payData" @hidefun="showPay = false" />
  </div>
</template>

<script>
// 活动列表单个课程
import DPay from '~/components/PayModal'
import * as actApi from '~/api/activity.js'
export default {
  name: 'CouponBox',
  components: { DPay },
  filters: {
    courseUrl(row) {
      if (row.courseCategory === 1) {
        return '/view/' + row.courseId
      } else if (row.courseCategory === 2) {
        return '/live/detail/' + row.courseId
      }
    }
  },
  props: {
    list: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      payData: undefined,
      showPay: false
    }
  },
  computed: {
    isLogin() {
      return this.$store.state.tokenInfo
    }
  },
  methods: {
    getCoupon(row) {
      actApi.bindCoupon({ actId: row.actId, courseId: row.courseId }).then(res => {
        this.$alert('领取成功，请下单使用！')
      })
    },
    // 购买视频
    buyCourse(event) {
      if (!this.isLogin) {
        this.$alert('请登录后再购买')
          .then(() => {
            this.$store.dispatch('REDIRECT_LOGIN')
          }).catch(() => {})
        return;
      }
      const pdata = { ...event }
      pdata.id = event.courseId
      this.showPay = true
      this.payData = {
        course: pdata,
        payType: 'course'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.course-item {
  width: 260px;
  height: 288px;
  padding: 10px;
  background: #fff;
  float: left;
  margin: 0 20px 20px 0;
  .img-box {
    display: block;
    width: 100%;
    height: 117px;
    position: relative;
  }
  .name {
    display: block;
    padding-top: 4px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .price {
    color: #d51423;
    font-size: 20px;
    margin: 10px 0 5px;
    font-family: arial;
  }
}
.act-price {
  margin-top: 10px;
  font-size: 14px;
  color: #d51423;
  .icon {
    padding: 0 3px;
    border: 1px solid #d51423;
    margin-right: 4px;
  }
}
.btn-box {
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #d51423;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  .buy-btn {
    width: 160px;
  }
}
</style>
