<template>
  <div class="clearfix">
    <div v-for="(item, index) in list" :key="index" class="course-item">
      <a :href="item | courseUrl " target="_blank" class="img-box">
        <img :src="item.courseLogo" :alt="item.courseName" />
      </a>
      <a :href="item | courseUrl " target="_blank" class="name">{{ item.courseName }}</a>
      <div class="btn-box">
        <span class="price">¥{{ item.actPrice.toFixed(2) }}</span>
        <s class="link-price">¥{{ item.courseOriginal.toFixed(2) }}</s>
        <button v-if="status === 1" disabled class="buy-btn">即将开始</button>
        <button v-else-if="status === 2" class="buy-btn" @click="buyCourse(item)">立即抢购</button>
        <button v-else disabled class="buy-btn end-btn">已结束</button>
      </div>
    </div>
    <d-pay v-if="showPay" :is-course="true" :data="payData" @hidefun="showPay = false" />
  </div>
</template>

<script>
import DPay from '~/components/PayModal'
export default {
  name: 'CourseSeckillPanel',
  components: { DPay },
  filters: {
    courseUrl(row) {
      if (row.courseCategory === 1) {
        return '/view/' + row.courseId
      } else if (row.courseCategory === 2) {
        return '/live/detail/' + row.courseId
      }
    }
  },
  props: {
    list: {
      type: Array,
      default: () => {
        return []
      }
    },
    status: {
      type: Number,
      default: 3
    }
  },
  data() {
    return {
      payData: undefined,
      showPay: false
    }
  },
  computed: {
    isLogin() {
      return this.$store.state.tokenInfo
    }
  },
  methods: {

    // 购买视频
    buyCourse(event) {
      console.log(event)
      if (!this.isLogin) {
        this.$alert('请登录后再购买')
          .then(() => {
            this.$store.dispatch('REDIRECT_LOGIN')
          })
          .catch(() => {})
        return
      }
      const pdata = { ...event }
      pdata.id = event.courseId
      this.showPay = true
      this.payData = {
        course: pdata,
        payType: 'course'
      }
    }
  }
}
</script>

<style lang="scss" scoped>

.course-item {
  width: 260px;
  height: 230px;
  padding: 10px;
  background: #fff;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  .img-box {
    display: block;
    width: 100%;
    height: 117px;
    position: relative;
  }
  .name {
    padding-top: 4px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .price {
    color: #d51423;
    font-size: 20px;
    margin: 10px 0 5px;
    font-family: arial;
  }
  .link-price{
    font-family: arial;
    color: #666;
  }
  .buy-btn{
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: block;
    margin-right: -10px;
    width: 80px;
    text-align: center;
    float: right;
    border: none;
    background: #df0021;
    &:disabled{
      background-color: #000;
    }
    &.end-btn{
      background-color: #999;
    }
  }
}
</style>
