<template>
  <div id="axis" class="axis"></div>
</template>
<script>
  import echarts from 'echarts'

  export default {
    name: 'Axis',
    props: {
      title: {
        type: String,
        default: null
      },
      data: {
        type: Object,
        default: () => {
          return []
        }
      }
    },
    watch: {
      data() {
        this.parseOption()
      }
    },
    data() {
      return {
        myChart: undefined
      }
    },
    mounted() {
      this.myChart = echarts.init(document.getElementById('axis'), 'light');
      this.parseOption()
    },
    methods: {
      parseOption: function() {
        const option = {
          title: {
            text: this.title,
            x: '35'
          },
          tooltip: {
            trigger: 'axis',
            formatter: this.formatter,
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
              type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
          },
          legend: {
            data: []
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          yAxis: {
            axisLabel: {
              interval: 0 // 设置成 0 强制显示所有标签。
            },
            type: 'value'
          },
          xAxis: {
            axisLabel: {
              interval: 0 // 设置成 0 强制显示所有标签。
            },
            type: 'category',
            data: this.data.axis
          },
          series: [
            {
              connectNulls: false,
              name: '时长',
              type: 'bar',
              stack: 'line',
              smooth: true,
              data: this.data.list,
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        };
        this.myChart.setOption(option)
      },
      formatter: function(params) {
        let res = '';
        for (let i = 0, l = params.length; i < l; i++) {
          res += '&nbsp;&nbsp;&nbsp;&nbsp;' + (params[i].name || '') + ': <br/>' +
          '总时长：' + (params[i].marker + (params[i].data.courseLength || 0)) + ' <br/>' +
          '观看时长：' + (params[i].marker + (params[i].value || 0)) + '(s) <br/>' +
          '学习进度：' + (params[i].marker + (params[i].data.studyProcess || 0)) + '(%) <br/>'
        }
        return res
      }
    }
  }
</script>

<style scoped>
  .axis{
    width: 100%;
    height: 300px;
  }
</style>
