<template>
  <div class="app-container">
    <el-row :gutter="40" class="panel-group">
      <el-col :xs="12" :sm="11" :lg="6" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-message">
            <svg-icon icon-class="number" class-name="card-panel-icon" />
          </div>
          <div class="card-panel-description">
            <div v-if="this.map.userNo !== undefined" class="card-panel-text">
              本周总观看课程数
            </div>
            <div v-if="this.map.courseId !== undefined" class="card-panel-text">
              本周总观看人数
            </div>
            {{ statisticalData.numberWeeks }}
          </div>
        </div>
      </el-col>
      <el-col :xs="12" :sm="11" :lg="6" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-message">
            <svg-icon icon-class="number" class-name="card-panel-icon" />
          </div>
          <div class="card-panel-description">
            <div v-if="this.map.userNo !== undefined" class="card-panel-text">
              总观看观看课程数
            </div>
            <div v-if="this.map.courseId !== undefined" class="card-panel-text">
              总观看观看人数
            </div>
            {{ statisticalData.numberTotal }}
          </div>
        </div>
      </el-col>
      <el-col :xs="12" :sm="11" :lg="6" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-message">
            <svg-icon icon-class="video" class-name="card-panel-icon" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">
              本周观看时长
            </div>
            {{ statisticalData.weeksWatchLength }}
          </div>
        </div>
      </el-col>
      <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-message">
            <svg-icon icon-class="video" class-name="card-panel-icon" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">
              总观看时长
            </div>
            {{ statisticalData.watchLengthTotal }}
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row class="elRow">
      <axis :title="title" :data="statisticalData"/>
    </el-row>
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item v-if="map.courseId" class="filter-item" label="手机号码">
        <el-input v-model="map.mobile" />
      </el-form-item>
      <el-form-item v-if="map.userNo" class="filter-item" label="课程名称">
        <el-input v-model="map.courseName" />
      </el-form-item>
      <el-form-item v-if="map.userNo" class="filter-item" label="课程类型">
        <el-select v-model="map.courseCategory" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in courseCategoryEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="手机号码" prop="mobile" width="150"/>
      <el-table-column label="课程名称" prop="courseName" />
      <el-table-column label="课程类型" width="80">
        <template slot-scope="scope">
          {{ courseCategoryEnums[scope.row.courseCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="课程总时长">
        <template slot-scope="scope">
          {{ scope.row.courseLength || 0 }}
        </template>
      </el-table-column>
      <el-table-column label="学习时长">
        <template slot-scope="scope">
          {{ scope.row.studyLength || 0 }}
        </template>
      </el-table-column>
      <el-table-column label="观看进度">
        <template slot-scope="scope">
          <el-progress v-if="scope.row.studyProcess == null"  :text-inside="true" :stroke-width="26" :percentage="0"></el-progress>
          <el-progress v-else :text-inside="true" :stroke-width="26" :percentage="scope.row.studyProcess" :color="colors" ></el-progress>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button plain size="mini" @click="handleStudyPeriodlogLogRow(scope.row)">学习记录</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>
<script>
  import { studyLogPage, courseUserStudyLogStatistical } from '@/api/course'
  import axis from './axis';
  export default {
    name: 'Dashboard',
    components: { axis },
    data() {
      return {
        colors: [
          {color: '#ff4949', percentage: 20},
          {color: '#e6a23c', percentage: 40},
          {color: '#6f7ad3', percentage: 60},
          {color: '#1989fa', percentage: 80},
          {color: '#03c642', percentage: 100}
        ],
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        courseCategoryEnums: {},
        title: '',
        statisticalData: {},
        list: [],
        map: {},
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
        this.courseCategoryEnums = res;
      });
    },
    created() {
      this.map.userNo = this.$route.query.userNo
      this.map.courseId = this.$route.query.courseId
      if (this.map.userNo !== undefined) {
        this.title = '前十播放课程排行榜'
      }
      if (this.map.courseId !== undefined) {
        this.title = '前十播放用户排行榜'
      }
      this.courseUserStudyLogStatistical()
      this.listForPage()
    },
    methods: {
      // 用户课程学习记录汇总
      courseUserStudyLogStatistical() {
        courseUserStudyLogStatistical(this.map).then(res => {
          this.statisticalData = res.data
        })
      },
      handleStudyPeriodlogLogRow(row) {
        this.$router.push({ path: '/course/course/user/study/log/period', query: { userNo: row.userNo, courseId: row.courseId }});
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        studyLogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .panel-group {
    margin-top: 18px;
    .card-panel-col {
      margin-bottom: 32px;
    }
    .card-panel {
      height: 80px;
      cursor: pointer;
      font-size: 12px;
      position: relative;
      overflow: hidden;
      color: #666;
      background: #fff;
      box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
      border-color: rgba(0, 0, 0, .05);
      &:hover {
        .card-panel-icon-wrapper {
          color: #fff;
        }
        .icon-people {
          background: #40c9c6;
        }
        .icon-message {
          background: #36a3f7;
        }
        .icon-money {
          background: #f4516c;
        }
        .icon-shopping {
          background: #34bfa3
        }
      }
      .icon-people {
        color: #40c9c6;
      }
      .icon-message {
        color: #36a3f7;
      }
      .icon-money {
        color: #f4516c;
      }
      .icon-shopping {
        color: #34bfa3
      }
      .card-panel-icon-wrapper {
        float: left;
        margin: 14px 0 0 14px;
        /*padding: 16px;*/
        transition: all 0.38s ease-out;
        border-radius: 6px;
      }
      .card-panel-icon {
        float: left;
        font-size: 48px;
      }
      .card-panel-description {
        float: left;
        font-weight: bold;
        margin: 16px;
        font-size: 18px;
        .card-panel-text {
          line-height: 18px;
          color: rgba(0, 0, 0, 0.45);
          font-size: 14px;
          margin-bottom: 12px;
        }
        .card-panel-num {
          font-size: 20px;
        }
      }
    }
  }
  .elRow {
    margin-bottom: 20px;
  }
</style>
