<style lang="scss" rel="stylesheet/scss">
  .wangeditor-box {
    box-sizing: content-box;
    position: relative;
    z-index: 1;
    .w-e-toolbar{
      line-height: 1.15;
    }
    .w-e-text-container{
      height: 100% !important;
    }
  }
</style>
<template>
  <div :id="ids" :style="{height: (height - 28) + 'px', 'margin-bottom': '28px'}" class="wangeditor-box" />
</template>
<script>
import { uploadPic } from '@/api/upload'
export default {
  props: {
    value: {
      type: String
    },
    height: {
      type: Number,
      default: 300
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      ids: '',
      hasInit: false,
      currentValue: ''
    }
  },
  watch: {
    disabled(val) {
      this.editor.$textElem.attr('contenteditable', !val)
    },
    value: {
      handler(val) {
        this.setContent(val)
      },
      immediate: true
    }
  },
  mounted() {},
  methods: {
    isdisabled(val) {
      this.editor.$textElem.attr('contenteditable', !this.disabled)
    },
    setContent(val) {
      const setValueFunc = () => {
        if (val !== this.currentValue) {
          this.editor && this.editor.txt && this.editor.txt.html(val)
        }
      }
      // 编辑器赋值
      if (!this.hasInit) {
        this.hasInit = true;
        this.$nextTick(() => {
          this.ids = 'e_' + parseInt(Math.random() * 1000, 10);
          this.$nextTick(() => {
            this.renderEditor()
            setValueFunc()
          })
        })
      } else {
        setValueFunc()
      }
    },
    editorUpload(files, insert) {
      const file = files[0];
      uploadPic({file: file}).then(res => {
        const imgUrl = res.data
        insert(imgUrl)
      })
    },
    renderEditor() {
      const E = require('wangeditor')
      this.editor = new E('#' + this.ids)
      this.editor.customConfig.menus = [
        'head', // 标题
        'bold', // 粗体
        'fontSize', // 字号
        'fontName', // 字体
        'italic', // 斜体
        'underline', // 下划线
        'strikeThrough', // 删除线
        'foreColor', // 文字颜色
        'backColor', // 背景颜色
        'link', // 插入链接
        'list', // 列表
        'justify', // 对齐方式
        'quote', // 引用
        'emoticon', // 表情
        'image', // 插入图片
        'table', // 表格
        'video', // 插入视频
        'code', // 插入代码
        'undo', // 撤销
        'redo' // 重复
      ]
      this.editor.customConfig.uploadImgMaxLength = 1
      this.editor.customConfig.customUploadImg = this.editorUpload
      this.editor.customConfig.onchange = () => {
        const html = this.editor.txt.html()
        this.currentValue = html;
        this.$emit('input', html)
      }
      this.editor.create();
      this.isdisabled();
    }
  }
}
</script>
