<template>
  <div class="blog_default">
    <div class="container mgt30">
      <div class="fl w930 mgr10">
        <y-question-list :page-obj="pageObj" @loadList="loadList" />
      </div>
      <div class="w260 fl">
        <nuxt-link :to="{ name: 'question-account-write'}" target="_blank">
          <button class="add">我要提问</button>
        </nuxt-link>
        <hotTag :width="260" :list="tabList" @changeTab="changeTab" />
        <newAnswer @changeTab="toQuestion" :width="260"></newAnswer>
      </div>
    </div>
    <y-right-tap />
  </div>
</template>

<script>
import YRightTap from '~/components/common/RightTap'
import YQuestionList from '~/components/question/QuestionList'
import newAnswer from '~/components/question/newAnswer'
import hotTag from '~/components/question/hotTag'
import listMixins from '~/utils/question/listMixins.js'
import { searchQuestions, questionsList } from '~/api/question.js'
export default {
  components: {
    hotTag,
    YQuestionList,
    YRightTap,
    newAnswer
  },
  mixins: [listMixins],
  head() {
    return {
      title: '问答-' + this.$store.state.clientData.name
    }
  },
  data() {
    return {
      active: false,
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      hotObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  watch: {
    '$route'(newRoute) {
      console.log(newRoute)
      this.getList()
    }
  },
  async asyncData(context) {
    try {
      const obj = {
        dataObj: {
          question: true,
          labelType: 2
        }
      }
      const tabList = await context.store.dispatch('blog/GET_TABLIST', obj.dataObj)
      obj.dataObj.tabList = tabList
      // 中间问答列表
      const params = {
        pageCurrent: 1,
        title: context.query.title || undefined,
        pageSize: 20,
        isHfield: 1
      }
      let pageObj
      if (params.title) {
        pageObj = await searchQuestions(params)
      } else {
        pageObj = await questionsList(params)
      }
      return {
        tabList,
        pageObj: pageObj.data,
        params
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  methods: {
    // 博客分类切换
    changeTab(data) {
      this.active = false
      // console.log(data)
      this.params.tagsName = data.labelName === '全部' ? undefined : data.labelName;
      this.params.pageCurrent = 1;
      this.getQuestionsList(this.params)
    },
    toQuestion(data) {
      this.$router.push({
        path: '/question/view/' + data.id
      })
    },
    getList() {
      this.params.pageCurrent = 1;
      this.params.isHfield = 1;
      this.params.title = this.$route.query.title || undefined;
      this.getQuestionsList(this.params)
    }
  }
}
</script>

<style lang="scss" scoped>
  .w930 {
    width: 930px;
  }
  .w260 {
    width: 260px;
  }
  .add {
    width: 260px;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgba(213, 20, 35, 1);
    text-align: center;
  }
</style>
