<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="状态(1:正常，0:禁用)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="手机号码" prop="mobile">
            <el-input v-model="form.mobile" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="密码盐" prop="mobileSalt">
            <el-input v-model="form.mobileSalt" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="登录密码" prop="mobilePsw">
            <el-input v-model="form.mobilePsw" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户来源(client_id)" prop="userSource">
            <el-input v-model="form.userSource" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="登录成功次数" prop="loginCount">
            <el-input v-model="form.loginCount" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="微信小程序" prop="uniconId">
            <el-input v-model="form.uniconId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item>
        <el-button type="primary" @click="submitForm('form')">立即创建</el-button>
        <el-button @click="handleClose">关 闭</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { userSave } from '@/api/user'

  export default {
    name: 'AddUser',
    data() {
      return {
        form: {},
        opts: {},
        rules: {
          gmtCreate: [
            { required: true, message: '请输入创建时间', trigger: 'blur' }
          ],
          gmtModified: [
            { required: true, message: '请输入修改时间', trigger: 'blur' }
          ],
          statusId: [
            { required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur' }
          ],
          userNo: [
            { required: true, message: '请输入用户编号', trigger: 'blur' }
          ],
          mobile: [
            { required: true, message: '请输入手机号码', trigger: 'blur' }
          ],
          mobileSalt: [
            { required: true, message: '请输入密码盐', trigger: 'blur' }
          ],
          mobilePsw: [
            { required: true, message: '请输入登录密码', trigger: 'blur' }
          ],
          userSource: [
            { required: true, message: '请输入用户来源(client_id)', trigger: 'blur' }
          ],
          loginCount: [
            { required: true, message: '请输入登录成功次数', trigger: 'blur' }
          ],
          uniconId: [
            { required: true, message: '请输入微信小程序', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/user/user/list');
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        userSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
