<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="内容">
        <el-input v-model="map.periodName" />
      </el-form-item>
      <el-form-item class="filter-item" label="是否收费">
        <el-select v-model="map.isFree" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isFreeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="审核情况">
        <el-select v-model="map.auditStatus" clearable placeholder="请选择">
          <el-option
            v-for="item in auditStatusArr"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button plain type="primary" size="mini" @click="handleAddRow(map.chapterId)">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="附件"  width="50">
        <template>
          <div class="fileIcon image7">
          </div>
        </template>
      </el-table-column>
      <el-table-column label="内容">
        <template slot-scope="scope">
          {{scope.row.periodName}}
        </template>
      </el-table-column>
      <el-table-column label="收费状态" width="120">
        <template slot-scope="scope">
          {{ isFreeEnums[scope.row.isFree] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="120" />
      <el-table-column label="审核情况" width="120">
        <template slot-scope="scope">
          {{ auditStatusEnums[scope.row.auditStatus] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add v-if="ctrl.addDialogVisible" :visible="ctrl.addDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
import {courseChapterPeriodAuditPage} from '@/api/course'
import Add from '../../resource/period/add'

export default {
  components: { Add },
  filters: {
    formatAmount(val) {
      if (val) {
        return '¥ ' + val.toFixed(2)
      }
      return '¥ 0.00'
    }
  },
  data() {
    return {
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      ctrl: {
        editDialogVisible: false,
        addDialogVisible: false
      },
      list: [],
      map: {},
      formData: {},
      listLoading: true,
      isFreeEnums: {},
      auditStatusEnums: {},
      auditStatusArr: [],
      auditCtr: {
        title: '审核',
        visible: false,
        info: {}
      }
    }
  },
  created() {
    this.listForPage()
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'obj'}).then(res => {
      this.isFreeEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'AuditStatusEnum', type: 'obj'}).then(res => {
      this.auditStatusEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'AuditStatusEnum', type: 'arr'}).then(res => {
      this.auditStatusArr = res;
    });
  },
  methods: {
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {
        auditStatus: 0,
        courseCategory: 4
      }
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleAddRow(chapterId) {
      this.formData.chapterId = chapterId
      this.ctrl.dialogTitle = '新增'
      this.ctrl.addDialogVisible = true
    },
    handleUpdateRow(id) {
      this.$router.push({path: '/course/course/audit/resource/edit', query: {id: id}})
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      // this.listLoading = true
      this.loading.start()
      this.map.chapterId = this.$route.query.chapterId
      courseChapterPeriodAuditPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    },
    // 关闭编辑弹窗回调
    closeCallback() {
      this.formData = {}
      this.ctrl.dialogVisible = false
      this.ctrl.addDialogVisible = false
      this.page.pageCurrent = 1
      this.listForPage()
    }
  }
}
</script>
<style lang="scss">
  .fileIcon {
    background-image: url('../../../../../assets/images/fileIcon.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 24px;
    height: 24px;
  }
  .image1 {
    background-position: 0 0;
  }
  .image2 {
    background-position: -30px 0;
  }
  .image3 {
    background-position: -60px 0;
  }
  .image4 {
    background-position: -90px 0;
  }
  .image5 {
    background-position: -120px 0;
  }
  .image6 {
    background-position: 0 -30px;
  }
  .image7 {
    background-position: -30px -30px;
  }
  .image8 {
    background-position: -60px -30px;
  }
  .image9 {
    background-position: -90px -30px;
  }
  .image10 {
    background-position: -120px -30px;
  }
  .image11 {
    background-position: 0 -60px;
  }
  .image12 {
    background-position: -30px -60px;
  }
</style>
