<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="讲师名称">
        <el-input v-model="map.lecturerName" />
      </el-form-item>
      <el-form-item class="filter-item" label="讲师手机">
        <el-input v-model="map.lecturerMobile" />
      </el-form-item>
      <el-form-item class="filter-item" label="审核状态">
        <el-select v-model="map.auditStatus" clearable placeholder="请选择">
          <el-option
            v-for="item in auditStatusArr"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('lecturerAuditSave')" type="success" plain size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="讲师手机" prop="lecturerMobile" width="100" />
      <el-table-column label="讲师名称" prop="lecturerName" width="100" />
      <el-table-column label="讲师邮箱" prop="lecturerEmail" />
      <el-table-column label="直播功能" prop="isLive" width="80">
        <template slot-scope="scope">
          {{ isLiveEnum[scope.row.isLive] }}
        </template>
      </el-table-column>
      <el-table-column label="分成比例" prop="lecturerProportion">
        <template slot-scope="scope">
          {{ scope.row.lecturerProportion * 100 }}%
        </template>
      </el-table-column>
      <el-table-column label="审核情况" prop="auditStatus" width="100">
        <template slot-scope="scope">
          {{ auditStatusEnum[scope.row.auditStatus] }}
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button  v-if="checkPermission('lecturerAuditEdit')"  type="primary" plain size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="scope.row.auditStatus === 0 || scope.row.auditStatus === 2 || checkPermission('lecturerAuditView') " type="danger" plain size="mini" @click="handleAuditRow(scope.row.id)">审核</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <audit-lecturer
      :title="lecturerAuditCtr.title"
      :visible="lecturerAuditCtr.visible"
      :info="lecturerAuditCtr.info"
      @close-callback="closeCllback"
    />
    <add-lecturer
      :title="lecturerAddCtr.title"
      :visible="lecturerAddCtr.visible"
      @close-callback="closeAddCllback"
    />
  </div>
</template>

<script>
import {lecturerAuditPage, lecturerAuditDelete, lecturerAuditView} from '@/api/user'
import AuditLecturer from '@/views/user/lecturerAudit/audit/index';
import AddLecturer from '@/views/user/lecturerAudit/add/index';

export default {
  components: {AuditLecturer, AddLecturer},
  data() {
    return {
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      lecturerAuditCtr: {
        title: '讲师审核',
        visible: false,
        info: {}
      },
      lecturerAddCtr: {
        title: '讲师添加',
        visible: false
      },
      list: [],
      map: {
        auditStatus: 0
      },
      isLiveEnum: {},
      auditStatusEnum: {},
      auditStatusArr: {},
      listLoading: true
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'IsLiveEnum', type: 'obj'}).then(res => {
      this.isLiveEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'AuditStatusEnum', type: 'obj'}).then(res => {
      this.auditStatusEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'AuditStatusEnum', type: 'arr'}).then(res => {
      this.auditStatusArr = res;
    })
  },
  created() {
    this.listForPage()
  },
  methods: {
    handleDeleteRow(row) {
      {
        const body = '确定要删除？'
        this.$confirm(body, '删除确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          lecturerAuditDelete(row.id).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {auditStatus: 0}
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleAddRow() {
      this.lecturerAddCtr.visible = true;
    },
    // 关闭编辑弹窗回调
    closeAddCllback() {
      this.lecturerAddCtr.visible = false;
      this.listForPage()
    },
    handleUpdateRow(id) {
      this.$router.push({path: '/user/lecturer/audit/edit', query: {id: id}})
    },
    handleAuditRow(id) {
      lecturerAuditView(id).then((res) => {
        this.lecturerAuditCtr.info = res.data;
        this.lecturerAuditCtr.visible = true;
      })
    },
    // 关闭编辑弹窗回调
    closeCllback() {
      this.lecturerAuditCtr.visible = false;
      this.listForPage()
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      // this.listLoading = true
      this.loading.start()
      lecturerAuditPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    }
  }
}
</script>
