<template>
    <grade :isGradeAdmin="true"></grade>
</template>

<script>
import grade from './teacher'
export default {
  name: 'GradeAdmin',
  layout: 'account',
  components: {
    grade
  }
}
</script>
