

<template>
<div class="main_box">
        <alerts title="加入班级" width="400px" top="30vh" v-model="isJoinGrade">
          <join-grade @back="isJoinGrade = false" @addWin="getData" v-if="isJoinGrade" slot="contents"></join-grade>
        </alerts>
        <alerts title="考试管理" width="70%" top="6vh" v-model="isExamAdmin">
          <exam-admin :type="2" :grade="grade" @back="isExamAdmin = false" v-if="isExamAdmin" slot="contents"></exam-admin>
        </alerts>
        <alerts title="班级信息" width="500px" top="20vh" v-model="isGradeInfo">
          <grade-info :grade="grade" v-if="isGradeInfo" slot="contents"></grade-info>
        </alerts>
        <ul class="tabs clearfix">
          <li :class="[type==1?'tab on':'tab']" @click="selectType(1)">
            <a>班级信息</a>
          </li>
        </ul>
        <div class="btn-content">
          <el-button
            @click="JoinGrade"
            icon="el-icon-edit"
            size="small"
            type="danger"
          >
          加入班级
          </el-button>
           <div class="fr">
            <el-input class="input-with-select" clearable placeholder="请输入内容" size="small" v-model="input">
              <el-button @click="seek()" icon="el-icon-search" slot="append" />
            </el-input>
          </div>
        </div>
        <div class="notdata" v-if="notdata">
          <div>
            <i class="iconfont">&#xe615;</i><br>
          </div>
          目前暂无班级信息，请<span style="color: red">“加入班级”</span><br>
          加入班级，即可体验“在线考试”等功能！
        </div>
        <div v-else>
          <!-- <div class="tip-box">
            <div class="tip">温馨提示：</div>
            <div class="tip-list">
              <div class="tip-item" v-for="i in 3" :key="i">
                <span>黄老师（老师昵称</span> 邀请你加入 <span>初三数学（1）</span> ！
                <div class="right-btn fr">
                  <el-button type="text">同意</el-button>
                  <el-button type="text">拒绝</el-button>
                </div>
              </div>
              <div class="tip-more">
                <span>更多></span>
              </div>
            </div>
          </div> -->
          <div class="grade-list" v-loading="loading">
            <div :key="item.id" class="grade-item" v-for="item in gradeList">
                <div class="grade-item-title">
                  <p class="grade-item-title-text">{{ item.gradeName }}</p>
                </div>
                <div class="grade-item-tip">
                  {{ item.gradeIntro }}
                </div>
                <div class="grade-item-footer">
                  <p class="grade-item-footer-time">
                    <span>创建人：{{ item.lecturerName }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <span>班级管理：{{ item.adminCount }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <span>班级人数：{{ item.studentCount }}</span>
                  </p>
                  <div class="course-item-footer-btn">
                    <el-badge :value="item.undoExamCount" :hidden="!item.undoExamCount" style="margin-right: 12px;">
                      <el-button @click="openExamAdmin(item)" type="text">试卷列表</el-button>
                    </el-badge>
                    <el-button @click="openGradeInfo(item)" type="text">班级信息</el-button>
                    <el-button @click="quit(item)" style="color:red" type="text">退出班级</el-button>
                  </div>
                </div>
              </div>
            <div class="center">
              <el-pagination
                :current-page="pageObj.pageCurrent"
                :page-size="pageObj.pageSize"
                :total="pageObj.totalCount"
                @current-change="getPage"
                background
                class="page-panel"
                layout="prev, pager, next"
              ></el-pagination>
            </div>
          </div>
        </div>
      </div>
</template>

<script>
import * as apis from '~/api/account/grade.js'
import alerts from '~/components/account/alert';
import joinGrade from '~/components/account/grade/joinGrade';
import GradeInfo from '~/components/account/grade/info';
import examAdmin from '~/components/account/grade/examAdmin';

export default {
  name: 'GradeMy',
  layout: 'account',
  components: {
    alerts,
    joinGrade,
    examAdmin,
    GradeInfo

  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 班级管理'
    }
  },
  data() {
    return {
      side: 'grade',
      type: 1,
      loading: true,
      isJoinGrade: false,
      isExamAdmin: false,
      isGradeInfo: false,
      gradeList: [{}],
      pageObj: {
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      input: ''
    }
  },
  computed: {
    notdata() {
      return !this.gradeList.length
    }
  },
  mounted() {
    this.obj = {
      gradeType: 1,
      pageCurrent: 1,
      pageSize: 10
    }
    this.getData()
  },
  methods: {
    seek() {
      this.pageObj.pageCurrent = 0;
      this.getData();
    },
    quit(item) {
      this.$confirm('确定退出该班级吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
        center: true
      }).then(() => {
        apis.studentQuitGrade({
          gradeId: item.id
        }).then(res => {
          this.getExamList();
          this.$message({
            type: 'success',
            message: '退出成功!'
          });
        })
      })
    },
    openGradeInfo(item) {
      this.grade = item
      this.isGradeInfo = true;
    },
    JoinGrade() {
      this.isJoinGrade = true;
    },
    openExamAdmin(item) {
      this.grade = item
      item.undoExamCount = 0;
      this.isExamAdmin = true
    },
    selectType(type) {
      this.type = type;
      this.pageObj.pageCurrent = 0
      this.getData();
    },
    getPage(int) {
      this.obj.pageCurrent = int
      this.getData()
    },
    getData() {
      this.loading = true;
      this.getExamList();
    },
    getExamList(int) {
      this.obj.gradeName = this.input;
      apis.myGradeList(this.obj).then((res) => {
        this.pageObj = res.data
        this.loading = false;
        this.gradeList = res.data.list || [];
        if (res.data.list && res.data.list.length > 0) {
          this.pageObj = res.data
        } else {
          this.pageObj.totalPage = 0
        }
      }).catch(() => {
        this.gradeList = []
        this.loading = false
        this.pageObj.totalPage = 0
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding: 10px 20px;
}
.boder1 {
  border: 1px solid;
}

.grade-list {
  padding: 10px 20px;
}

.account_pages .notdata {
  div {
    margin-bottom: 15px;
  }
  .iconfont {
    position: relative;
    top: 4px;
    font-size: 42px;
    display: inline-block;
  }
  font-size: 16px;
  font-width: 0;
  line-height: 30px;
  padding: 80px 0;
}

.grade-item {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 15px 20px;
  margin-bottom: 30px;

  .grade-item-footer {
    display: flex;
    line-height: 28px;
    .grade-item-footer-time {
      flex: 1;
    }
  }

  .grade-item-tip {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
    padding: 10px 0 ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    .fr {
      text-align: right;
      color: red;
      position: relative;
      line-height: 22px;
      top: 5px;
      overflow: hidden;
      max-width: 500px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .grade-item-title {
    display: flex;
    .grade-item-code {
      font-size: 14px;
      line-height: 32px;
      color: #333333;
    }
    .grade-item-title-text {
      flex: 1;
      font-family: 'MicrosoftYaHeiUI', 'Microsoft YaHei UI';
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.tip-box {
  background: rgba(245,245,245,1);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  margin: 10px 20px;

  .tip {
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #F59A23;
    padding: 0 8px;
  }
  .tip-list {
    flex: 1;
    .tip-more {
      color:#2388EC;
      line-height: 20px;
      margin: 0 3px;
    }
    .tip-item {
      line-height: 28px;
      margin-bottom: 5px;;
      span {
        color:#2388EC;
        display: inline-block;
        margin: 0 3px;
      }

      .right-btn {
        .el-icon-close {
          font-size: 16px;
          position: relative;
          top: 2px;
          margin-left: 10px;
        }
      }
    }
  }
}

</style>
