<template>
  <div class="main_box">
    <alerts :title="grade.id ? '修改班级信息' : '创建班级'" width="500px" top="20vh" v-model="isAddGrade">
      <add-grade
        @back="isAddGrade = false"
        @addWin="getData"
        :grade="grade"
        v-if="isAddGrade"
        slot="contents"
      ></add-grade>
    </alerts>
    <alerts title="邀请用户" width="440px" top="20vh" v-model="isInviteUser">
      <invite-user v-if="isInviteUser" :grade="grade" slot="contents"></invite-user>
    </alerts>
    <alerts :title="'解散班级 -'+ grade.gradeName" width="460px" top="20vh" v-model="isDissolve">
      <dissolve
        v-if="isDissolve"
        @win="getData"
        :ids="grade.id"
        @back="isDissolve = false"
        slot="contents"
      ></dissolve>
    </alerts>
    <alerts title="考试管理" width="70%" top="6vh" v-model="isExamAdmin">
      <exam-admin v-if="isExamAdmin" :grade="grade" @back="isExamAdmin = false" @findResult="findExamResult" slot="contents"></exam-admin>
    </alerts>
    <alerts title="考试情况" width="1200px" top="6vh" v-model="isExamResult">
      <exam-result :show="isExamResult" :examData="examResultData" slot="contents"></exam-result>
    </alerts>
    <alerts :title="'用户管理 - '+ grade.gradeName" width="70%" top="6vh" v-model="isUserAdmin">
      <user-admin :type="UserAdminType" :grade="grade" v-if="isUserAdmin" slot="contents"></user-admin>
    </alerts>
    <ul class="tabs clearfix">
      <li :class="[type==1?'tab on':'tab']" @click="selectType(1)">
        <a>班级信息</a>
      </li>
    </ul>
    <div class="btn-content" v-if="!isGradeAdmin">
      <el-button @click="addGrade(-1)" icon="el-icon-edit" size="small" type="danger">创建班级</el-button>&nbsp;&nbsp;&nbsp;&nbsp;* 班级创建成功后，邀请用户加入班级，即可体验“布置考试”等功能！
      <div class="fr">
        <el-input
          class="input-with-select"
          clearable
          placeholder="请输入内容"
          size="small"
          v-model="input"
        >
          <el-button @click="seek()" icon="el-icon-search" slot="append" />
        </el-input>
      </div>
    </div>
    <div class="notdata" v-if="notdata">
      <div>
        <i class="iconfont">&#xe615;</i>
        <br />
      </div>目前暂无班级信息，请
      <span style="color: red">“创建班级”</span>
      <br />创建班级邀请用户加入班级，即可体验“布置考试”等功能！
    </div>
    <div v-else>
      <div class="tip-box" v-if="tipList.length">
        <div class="tip">温馨提示：</div>
        <div class="tip-list">
          <div v-for="(item, index) in tipList" :key="index">
            <div class="tip-item" v-if="index < 3">
              <span>{{ item.nickname }}</span> 用户申请加入
              <span>{{ item.gradeName }}</span> ！
              <div class="right-btn fr">
                <el-button type="text" @click="audit(1, item.id)">同意</el-button>
                <el-button type="text" @click="audit(-1, item.id)">拒绝</el-button>
                <i class="el-icon-close" @click="ignoreAuditRecordTipList(item.id)"></i>
              </div>
            </div>
          </div>
          <div class="tip-more" @click="openUserAdmin({}, -1)" v-if="tipList.length > 3">
            <span>更多></span>
          </div>
        </div>
      </div>
      <div class="grade-list" v-loading="loading">
        <div :key="item.id" class="grade-item" v-for="item in gradeList">
          <div class="grade-item-title">
            <p class="grade-item-title-text">{{ item.gradeName }}</p>
            <span class="grade-item-code">班级邀请码：<span class="c_blue">{{ item.invitationCode }}</span></span>
            <i @click="openInviteUser(item)" class="iconfont grade-code" title="邀请二维码">&#xe6bd;</i>
          </div>
          <div class="grade-item-tip">{{ item.gradeIntro }}</div>
          <div class="grade-item-footer">
            <p class="grade-item-footer-time">
              <span>创建人：{{ item.lecturerName }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
              <span>班级管理：{{ item.adminCount }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
              <span>班级人数：{{ item.studentCount }}</span>
            </p>
            <div class="course-item-footer-btn">
              <el-badge
                :value="item.toAuditCount"
                :hidden="!item.toAuditCount"
                style="margin-right: 12px;"
              >
                <el-button @click="openUserAdmin(item)" type="text">用户管理</el-button>
              </el-badge>
              <el-button @click="openExamAdmin(item)" type="text">考试管理</el-button>
              <el-button @click="addGrade(item)" type="text">班级信息</el-button>
              <el-button @click="openInviteUser(item)" type="text">邀请用户</el-button>
              <el-button
                v-if="!isGradeAdmin"
                @click="openDissolve(item)"
                style="color:red"
                type="text"
              >
解散班级
</el-button>
            </div>
          </div>
        </div>
        <div class="center">
          <el-pagination
            :current-page="pageObj.pageCurrent"
            :page-size="pageObj.pageSize"
            :total="pageObj.totalCount"
            @current-change="getPage"
            background
            class="page-panel"
            layout="prev, pager, next"
          ></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as apis from '~/api/account/grade.js';
import alerts from '~/components/account/alert';
import addGrade from '~/components/account/grade/addGrade';
import examAdmin from '~/components/account/grade/examAdmin';
import examResult from '~/components/account/grade/examResult';
import userAdmin from '~/components/account/grade/userAdmin';
import inviteUser from '~/components/account/grade/inviteUser';
import dissolve from '~/components/account/grade/dissolve';

export default {
  name: 'GradetTeacher',
  layout: 'account',
  components: {
    alerts,
    addGrade,
    examAdmin,
    userAdmin,
    inviteUser,
    dissolve,
    examResult
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 班级管理'
    };
  },
  props: {
    isGradeAdmin: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  data() {
    return {
      side: 'grade',
      type: 1,
      UserAdminType: 1,
      loading: true,
      isAddGrade: false,
      isUserAdmin: false,
      isExamAdmin: false,
      isInviteUser: false,
      isExamResult: false,
      isDissolve: false,
      examResultData: undefined,
      gradeList: [{}],
      tipList: [],
      grade: {},
      pageObj: {},
      input: ''
    };
  },
  computed: {
    notdata() {
      return !this.gradeList.length;
    }
  },
  mounted() {
    this.obj = {
      gradeType: 1,
      pageCurrent: 1,
      pageSize: 10
    };
    this.getData();
    this.getTipList();
  },
  methods: {
    getTipList() {
      apis
        .auditRecordTipList({
          num: 5,
          isLecturer: !this.isGradeAdmin
        })
        .then((res) => {
          if (res.code === 200) {
            this.tipList = res.data;
          }
        });
    },
    seek() {
      this.pageObj.pageCurrent = 0;
      this.getData();
    },
    ignoreAuditRecordTipList(id) {
      apis
        .ignoreAuditRecordTipList({
          id
        })
        .then((res) => {
          this.$message({
            message: '操作成功!',
            type: 'success'
          });
          this.getTipList();
        });
    },
    audit(item, id) {
      this.$confirm(
        item === 1 ? '确定把该学员加入班级吗?' : '确定拒绝该学员加入班级吗?',
        '提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).then(() => {
        this.loading = true;
        apis
          .auditRecord({
            auditOpinion: '备注',
            auditPassed: item === 1,
            recordId: id
          })
          .then((res) => {
            this.loading = false;
            if (res.code === 200) {
              this.$message({
                message: '操作成功!',
                type: 'success'
              });
              this.getTipList();
              this.getData();
            }
          });
      });
    },
    addGrade(item) {
      if (item !== -1) {
        this.grade = item;
      } else {
        this.grade = {};
      }
      this.isAddGrade = true;
    },
    openDissolve(item) {
      this.grade = item;
      this.isDissolve = true;
    },
    openInviteUser(item) {
      this.grade = item;
      this.isInviteUser = true;
    },
    openExamAdmin(item) {
      this.grade = item;
      this.isExamAdmin = true;
    },
    openUserAdmin(item, type) {
      this.grade = item;
      item.totalCount = 0;
      this.UserAdminType = type;
      this.isUserAdmin = true;
    },
    selectType(type) {
      this.type = type;
      this.pageObj.pageCurrent = 0;
      this.getData();
    },
    getPage(int) {
      this.obj.pageCurrent = int;
      this.getData();
    },
    getData() {
      this.loading = true;
      this.getGradeList();
    },
    // 查看考试成绩
    findExamResult(row) {
      console.log(row)
      this.isExamResult = true
      this.examResultData = row
    },
    getGradeList(int) {
      let fn = 'getGradeList';
      this.obj.isLecturer = true;
      if (this.isGradeAdmin) {
        fn = 'myGradeList';
        this.obj.userRole = 2;
        this.obj.isLecturer = false;
      }
      this.obj.gradeName = this.input;
      apis[fn](this.obj).then((res) => {
        this.pageObj = res.data;
        this.loading = false;
        this.gradeList = res.data.list || [];
        if (res.data.list && res.data.list.length > 0) {
          this.pageObj = res.data;
        } else {
          this.pageObj.totalPage = 0;
        }
      }).catch(() => {
        this.gradeList = [];
        this.loading = false;
        this.pageObj.totalPage = 0;
      });
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding: 10px 20px;
}
.boder1 {
  border: 1px solid;
}

.grade-list {
  padding: 10px 20px;
}

.account_pages .notdata {
  div {
    margin-bottom: 15px;
  }
  .iconfont {
    position: relative;
    top: 4px;
    font-size: 42px;
    display: inline-block;
  }
  font-size: 16px;
  font-weight: 0;
  line-height: 30px;
  padding: 80px 0;
}

.grade-item {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 15px 20px;
  margin-bottom: 30px;

  .grade-item-footer {
    display: flex;
    line-height: 28px;
    .grade-item-footer-time {
      flex: 1;
    }
  }

  .grade-item-tip {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
    padding: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    .fr {
      text-align: right;
      color: red;
      position: relative;
      line-height: 22px;
      top: 5px;
      overflow: hidden;
      max-width: 500px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .grade-item-title {
    display: flex;
    .grade-item-code {
      font-size: 14px;
      line-height: 32px;
      color: #333333;
    }
    .grade-item-title-text {
      flex: 1;
      font-family: "MicrosoftYaHeiUI", "Microsoft YaHei UI";
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .grade-code{
      color: #333;
      vertical-align: sub;
      line-height: 30px;
      padding-left: 12px;
    }
  }
}

.tip-box {
  background: rgba(245, 245, 245, 1);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  margin: 10px 20px;

  .tip {
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #f59a23;
    padding: 0 8px;
  }
  .tip-list {
    flex: 1;
    .tip-more {
      color: #2388ec;
      line-height: 20px;
      margin: 0 3px;
    }
    .tip-item {
      line-height: 28px;
      margin-bottom: 5px;
      span {
        color: #2388ec;
        display: inline-block;
        margin: 0 3px;
      }

      .right-btn {
        .el-icon-close {
          font-size: 16px;
          position: relative;
          top: 2px;
          margin-left: 10px;
        }
      }
    }
  }
}
</style>
