<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="标题">
        <el-input v-model.trim="map.zoneTitle" />
      </el-form-item>
      <el-form-item label="">
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column v-if="actType === '1'" label="活动信息">
        <template slot-scope="scope">
          <span>
            {{ scope.row.zoneTitle }}
            <br>
          </span>
        </template>
      </el-table-column>
      <el-table-column v-else label="活动信息">
        <template slot-scope="scope">
          <span v-if="actType === 1">
            {{ scope.row.zoneTitle }}
          </span>
          <span v-else>
            {{ scope.row.zoneTitle }}
            <br>
            【{{ scope.row.beginTime }} ~ {{ scope.row.endTime }}】
          </span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" width="60">
        <template slot-scope="scope">
          <span>{{ scope.row.sort }} </span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="400">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="scope.row.statusId ===1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId ===0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
          <el-button v-if="scope.row.actType ===2" plain type="primary" size="mini" @click="handleCopy(scope.row)">复制专区</el-button>
          <el-button plain type="success" size="mini" @click="handleCourseRow(scope.row)">课程</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <edit-zone v-if="ctrl.editZoneVisible" :title="ctrl.editZoneTitle" :info="formData" :visible="ctrl.editZoneVisible" @close-callback="closeCallback" />
    <add-zone v-if="ctrl.addZoneVisible" :title="ctrl.addZoneTitle" :info="formData" :visible="ctrl.addZoneVisible" @close-callback="closeCallback" />
    <copy-zone v-if="ctrl.copyZoneVisible" :title="ctrl.copyZoneTitle" :form-data="formData" :visible="ctrl.copyZoneVisible" @close-callback="closeCallback" />
  </div>
</template>
<script>
  import {actZoneDelete, actZoneUpdateStatus, actZonePage} from '@/api/marketing'
  import AddZone from '@/views/marketing/zone/add/index';
  import EditZone from '@/views/marketing/zone/edit/index';
  import CopyZone from '@/views/marketing/zone/copy/index';
  export default {
    components: { EditZone, AddZone, CopyZone },

    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          editZoneTitle: '编辑',
          editZoneVisible: false,
          addZoneTitle: '新增',
          addZoneVisible: false,
          copyZoneTitle: '活动复制',
          copyZoneVisible: false
        },
        actId: null, // 活动id
        actType: 0, // 活动类型 1优惠券 2秒杀
        formData: {},
        list: [],
        map: {},
        statusIdEnums: {},
        zoneCategoryEnums: {},
        listLoading: true
      }
    },
    created() {
      this.actId = this.$route.query.actId
      this.actType = this.$route.query.actType
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'ZoneCategoryEnum', type: 'obj' }).then(res => {
        this.zoneCategoryEnums = res;
      });
    },
    methods: {
      // 新增专区
      handleAddRow() {
        this.formData = {
          actId: this.actId,
          actType: this.actType
        }
        this.ctrl.addZoneVisible = true;
      },
      // 复制专区
      handleCopy(data) {
        this.formData = data;
        this.ctrl.copyZoneVisible = true;
      },
      // 编辑专区
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.editZoneVisible = true;
      },
      // 课程列表
      handleCourseRow(row) {
        this.$router.push({ path: '/marketing/course/list', query: { actId: row.actId, zoneId: row.id, actType: row.actType}});
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.zoneTitle + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.zoneTitle + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            actZoneUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            actZoneDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.addZoneVisible = false;
        this.ctrl.editZoneVisible = false;
        this.ctrl.copyZoneVisible = false;
        this.reload();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        this.map.actId = this.actId
        actZonePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
