<template>
  <!--弹窗-->
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="90px">
      <el-row>
        <el-col :span="19">
          <el-form-item label="标题" prop="title">
            <el-input v-model="formData.title"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="跳转分类">
            <el-select v-model="formData.jumpCategory" clearable filterable placeholder="跳转分类" class="auto-width">
              <el-option
                v-for="item in jumpCategoryEnums"
                :key="item.code"
                :label="item.desc"
                :value="item.code"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="内容" prop="content">
            <el-input
              v-model="formData.content"
              type="textarea"
              :rows="3"
              placeholder="请输入内容"
              class="form-group"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="立即发送">
            <template>
              <el-radio v-model="formData.isPromptlySend" label="1">立即发送</el-radio>
              <el-radio v-model="formData.isPromptlySend" label="0">不发送</el-radio>
            </template>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm()">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { appMessageEdit } from '@/api/system'

  export default {
    name: 'Edit',
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        rules: {
          title: [
            { required: true, message: '请输入推送标题', trigger: 'blur' }
          ],
          content: [
            { required: true, message: '请输入推送内容', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'JumpCategoryEnum', type: 'arr' }).then(res => {
        this.jumpCategoryEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsSendEnum', type: 'obj' }).then(res => {
        this.isSendEnums = res;
      });
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields();
        this.$emit('close-callback')
      },
      submitForm() {
        if (this.formData === undefined) {
          this.$message({
            showClose: true,
            message: '提交失败',
            type: 'error'
          });
        } else {
          if (!this.formData.title) {
            this.$message({
              type: 'error',
              message: '请输入推送标题'
            });
            return false
          }
          if (!this.formData.content) {
            this.$message({
              type: 'error',
              message: '请输入内容'
            });
            return false
          }
          if (!this.formData.isPromptlySend) {
            this.$message({
              type: 'error',
              message: '请选择是否立即发送'
            });
            return false
          }
          if (!this.formData.jumpCategory) {
            this.$message({
              type: 'error',
              message: '请选择跳转分类'
            });
            return false
          }
          // 编辑
          this.loading = true;
          appMessageEdit(this.formData).then(res => {
            this.loading = false;
            this.load = false;
            if (res.code === 200) {
              // 提交成功, 关闭窗口, 刷新列表
              this.handleClose('close-callback')
            } else {
              this.$message({
                showClose: true,
                message: '提交失败',
                type: 'error'
              });
            }
          }).catch(() => {
            this.loading = false
          })
        }
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
