<template>
    <div class="app-container">
      <div class="title">
        <div>手机号码: {{ mobile }}</div>
        <div>课程名称: {{ courseName }}</div>
      </div>
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="课时名称">
          <el-input v-model="map.periodName" />
        </el-form-item>
        <el-form-item class="filter-item" label="">
          <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
          <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
      </el-form>
      <el-table
        :data="list"
        size="mini"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >
        <el-table-column align="center" type="index" label="序号" width="50" />
        <el-table-column label="学习时间" prop="gmtCreate" />
        <el-table-column label="课时名称" prop="periodName" />
        <el-table-column label="课时总时长">
          <template slot-scope="scope">
            {{ scope.row.vidLength || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="学习时长">
          <template slot-scope="scope">
            {{ scope.row.stringBiggestWatchLength || 0 }}
          </template>
        </el-table-column>
        <el-table-column label="观看进度">
          <template slot-scope="scope">
            <el-progress v-if="scope.row.watckProgress == null"  :text-inside="true" :stroke-width="26" :percentage="0"></el-progress>
            <el-progress v-else :text-inside="true" :stroke-width="26" :percentage="scope.row.watckProgress" :color="colors" ></el-progress>
          </template>
        </el-table-column>
        <el-table-column label="人脸对比结果" prop="contrastResult" />
      </el-table>
      <el-pagination
        :current-page="page.pageCurrent"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
</template>
<script>
  import { studyLogPeriodPage } from '@/api/data'
  export default {
    data() {
      return {
        colors: [
          {color: '#ff4949', percentage: 20},
          {color: '#e6a23c', percentage: 40},
          {color: '#6f7ad3', percentage: 60},
          {color: '#1989fa', percentage: 80},
          {color: '#03c642', percentage: 100}
        ],
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        courseCategoryEnums: {},
        list: [],
        map: {},
        courseName: '',
        mobile: '',
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
        this.courseCategoryEnums = res;
      });
    },
    created() {
      this.courseName = this.$route.query.courseName
      this.mobile = this.$route.query.mobile
      this.listForPage()
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        this.map.userNo = this.$route.query.userNo
        this.map.courseId = this.$route.query.courseId
        studyLogPeriodPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
<style lang="scss">
.title {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  font-family: '微软雅黑';
  font-weight: 600;
}
</style>
