<!-- 直播课程信息 -->
<template>
  <div class="detail_body">
    <ul class="detail_header clearfix">
      <li>
        <nuxt-link :to="{name: 'index'}">
          首页
        </nuxt-link>
        <span>></span>
      </li>
      <li>
        <nuxt-link :to="{name: 'live'}">
          直播中心
        </nuxt-link>
        <span>></span>
      </li>
      <li>
        {{ courseInfo.courseName }}
      </li>
    </ul>
    <div class="clearfix position_s">
      <div :style="'background-image: url('+courseInfo.courseLogo+');'" class="detail_view" />
      <div class="view_info">
        <p>
          {{ courseInfo.courseName }}（{{ type == 'bunch' ? '组合' : '直播' }}）
        </p>
        <div class="view_price">
          <div>
            价格:<span v-if="!courseInfo.isFree">￥{{ courseInfo.courseOriginal ? courseInfo.courseOriginal.toFixed(2) : '0.00' }}</span>
            <span v-else>免费</span>
            <div class="chosenPercent" @click="openChosenPercent()" v-if="courseInfo.chosenPercent">分享赚￥{{ courseInfo.chosenPercent }}</div>
          </div>
          <div v-if="!courseInfo.isFree" class="mgt10">
            SVIP:<span class="font_16">{{ courseInfo.courseDiscount ? '￥' + courseInfo.courseDiscount.toFixed(2) : '免费' }}</span>
            <nuxt-link :to="{name: 'vip'}" class="set_vip">更多权益>></nuxt-link>
          </div>
          <activity-panel :course-info="courseInfo" />
        </div>
        <div class="view_teacher">
          <span>主讲老师:</span>
          {{ teacherInfo.lecturerName }}
        </div>
        <div v-if="courseData.periodName" class="view_teacher">
          <span>课时名称:</span>
          {{ courseData.periodName }}
        </div>
        <div v-if="courseData.startTime" class="view_teacher">
          <span>开播时间:</span>
          {{ courseData.startTime }}
        </div>
        <div v-else class="view_teacher">
          <span>开播时间:</span>
          已结束
        </div>
        <div v-if="courseData.courseValidity" class="view_teacher">
          <span>有效期:</span>
          从购买之日起365天
        </div>
        <div v-if="!courseInfo.isFree" class="view_teacher">
          <span class="text_b">报名人数:</span>
          {{ courseInfo.countBuy || 0 }} 人
        </div>
        <div v-if="type == 'bunch'" class="foot_box">
          <!-- 组合 -->
          <div v-if="courseData.isShowStudyCount" class="study_num">
            <span class="iconfont mgr10">&#xe60a;</span>
            {{ courseInfo.studyCount || 0 }} 人已学习
          </div>
          <div class="bunch_list">
            <p>
              直播课程:
              <router-link :to="{name: 'live-detail-id', params: {id: courseData.liveList.courseId}}" target="_blank" class="">
                {{ courseData.liveList.courseName }} 查看详情>>
              </router-link>
            </p>
            <p>
              点播课程:
              <router-link :to="{name: 'view-id', params: {id: courseData.courseList.courseId}}" target="_blank" class="">
                {{ courseData.courseList.courseName }} 查看详情>>
              </router-link>
            </p>
          </div>
          <button v-if="!courseData.isPay" @click="buyCourse" class="live_btn">
            立即购买
          </button>
          <!-- <a :class="{collect_btn: true, c_red: isCollect}" href="javascript:" @click="setCollection"><span class="iconfont">&#xe670;</span>&nbsp;收藏</a> -->
        </div>
        <div v-else class="foot_box">
          <!-- 直播 -->
          <div class="study_num">
            <span class="iconfont mgr10">&#xe60a;</span>
            {{ courseInfo.countStudy || 0 }} 人已学习
          </div>
          <button v-if="courseInfo.isPutaway === 0" class="live_btn disabled" disabled>
            课程已下架
          </button>
          <button v-else-if="!courseData.isFree && !courseData.isPay" @click="buyCourse" class="live_btn">
            立即报名
          </button>
          <button v-else-if="courseData.liveStatus == 2" @click="goLiveUrl" class="live_btn">进入直播频道</button>
          <button v-else-if="courseData.liveStatus == 3" class="live_btn disabled" disabled="disabled">
            已结束
          </button>
          <button v-else class="live_btn disabled" disabled="disabled">
            还未开播
          </button>
          <a :class="{collect_btn: true, c_red: isCollect}" @click="setCollection" href="javascript:"><span class="iconfont">&#xe670;</span>&nbsp;收藏</a>
        </div>
      </div>
    </div>
    <el-dialog
  title=""
  :visible.sync="dialogVisible"
  width="500px">
  <div class="chosenPercent-box">
    <div class="title-box">
      <div class="title">邀请好友学习</div>
      <div class="tip">每邀请一位你将得<span>￥{{ courseInfo.chosenPercent }}</span></div>
    </div>
    <div class="share-List">
      <div class="share-input">
        链接邀请
        <el-input disabled="" v-model="InvitLink" class="input">
        </el-input>
        <el-button type="primary" @click="copy()">复制链接</el-button>
     </div>
    </div>
  </div>
</el-dialog>
</div>
</template>

<script>
import activityPanel from '../activity/ActivityPanel'
import { courseACTInfo } from '~/api/activity.js'
import { collectionSave, removeCollection } from '~/api/course.js'
export default {
  components: {
    activityPanel
  },
  props: {
    courseInfo: {
      type: Object,
      default: null
    },
    courseData: {
      type: Object,
      default: null
    },
    type: {
      type: String,
      default: 'live'
    },
    teacherInfo: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      couponData: undefined,
      dialogVisible: false,
      isCollect: this.courseInfo.isCollectionCourse,
      isLogin: this.$store.state.tokenInfo,
      InvitLink: ''
    }
  },
  mounted() {
    function makeQuery(queryObject) {
      const query = Object.entries(queryObject)
        .reduce((result, entry) => {
          result.push(entry.join('='))
          return result
        }, []).join('&')
      return `?${query}`
    }
    this.getActivity()
    const query = Object.assign({}, this.$route.query);
    query.referralCode = this.courseInfo.referralCode;
    this.InvitLink = window.location.origin + this.$route.path + makeQuery(query);
  },
  methods: {
    openChosenPercent() {
      if (!this.isLogin) {
        this.$confirm('登录后才可以分享赚钱！', '提示', {
          type: 'warning'
        }).then(res => {
          this.$store.dispatch('REDIRECT_LOGIN');
        })
        return false;
      }
      this.dialogVisible = true;
    },
    goLogin() {
      this.$store.dispatch('REDIRECT_LOGIN')
    },
    // 取消收藏
    removeCollection() {
      removeCollection({
        collectionId: this.courseInfo.id,
        collectionType: 1
      }).then(res => {
        this.$msgBox({ content: '成功取消收藏' })
        this.isCollect = false
      })
    },
    copy() {
      const transfer = document.createElement('input');
      document.body.appendChild(transfer);
      transfer.value = this.InvitLink // 这里表示想要复制的内容
      transfer.focus();
      transfer.select();
      if (document.execCommand('copy')) {
        document.execCommand('copy');
      }
      transfer.blur();
      this.$message({
        message: '复制成功!',
        type: 'success'
      });
      document.body.removeChild(transfer);
    },
    // 收藏课程
    setCollection() {
      if (this.$route.name === 'preview-live-id') {
        return false
      }
      if (!this.isLogin) {
        this.$confirm('登录后才可以收藏!', '提示', {
          type: 'warning'
        }).then(res => {
          this.$store.dispatch('REDIRECT_LOGIN');
        })
        return false;
      }
      if (this.isCollect) {
        this.removeCollection()
        return false
      }
      collectionSave({
        collectionType: 1,
        courseCategory: this.courseInfo.courseCategory,
        collectionId: this.courseInfo.id
      }).then(res => {
        console.log(res)
        if (res.code === 200) {
          this.$msgBox({ content: '收藏成功' })
          this.isCollect = true
        } else if (res.code === 406) {
          this.isCollect = true
        }
      })
    },
    // 购买视频
    buyCourse(event) {
      console.log(this.courseInfo)
      this.$emit('buyClick', event)
    },
    goLiveUrl() {
      this.$emit('livefunc', this.courseInfo.periodId)
      return false
    },
    getActivity() {
      courseACTInfo({ courseId: this.$route.params.id }).then(res => {
        console.log(res)
        if (res.data.actCouponDTO) {
          this.couponData = res.data.actCouponDTO
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .chosenPercent-box {
    .title-box {
      text-align: center;
      .title {
        font-size: 27px;
      }
      .tip {
        font-size: 16px;
        line-height: 1.4;
        span {
          color:red
        }
      }
    }

    .share-List {
      text-align: center;
      padding: 100px 0 50px;
    }

    .share-input {
      .input {
        width: 300px;
      }
    }
  }
  .detail_body {
    width: 1200px;
    margin: 0 auto;
    height: 408px;
  }
  .detail_header {
    li {
      float: left;
      line-height: 57px;
      margin: 0 10px;
      color: #fff;
      font-size: 14px;
      span {
        margin-left: 20px;
      }
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .chosenPercent {
    line-height: 32px;
    height: 32px;
    padding: 0 15px;
    float: right;
    color:#fff;
    border-radius: 20px 16px 16px 0;
    background-image: linear-gradient(to right, rgb(235,106,34), rgb(193,33,133));
  }
  .detail_view {
    width: 600px;
    height: 333px;
    float: left;
    background: rgb(102, 102, 102);
    background-size: 100%;
  }
  .view_info {
    float: right;
    width: 570px;
    height: 333px;
    position: relative;
    p {
      font-size: 18px;
      color: #fff;
      word-break: break-all;
    }
    .foot_box {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
    .buy_btn {
      display: block;
      width: 136px;
      height: 36px;
      color: #fff;
      background: #D51423;
      border: none;
      border-radius: 6px;
      line-height: 36px;
      text-align: center;
      font-size: 14px;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
    .study_num {
      float: right;
      height: 36px;
      line-height: 36px;
      color: #999;
      font-size: 14px;
    }
    .huabei {
      color: #fff;
      font-size: 13px;
      position: absolute;
      bottom: 0;
      padding-left: 25px;
      img {
        width: 17px;
        height: 17px;
        position: absolute;
        left: 0;
      }
    }
  }
  .view_price {
    border-bottom: 1px solid rgb(102, 102, 102);
    padding-bottom: 10px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin: 20px 0;
    span {
      font-size: 18px;
      color: #D51423;
      font-weight: bold;
      margin-left: 20px;
    }
    .font_16 {
      font-size: 16px;
      font-weight: 400;
    }
    .set_vip {
      color: #0099FF;
      margin-left: 6px;
    }
    .favo {
      font-size: 10px;
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      color: #f80;
      margin-left: 22px;
    }
    .small_favo {
      font-size: 12px;
      font-weight: 400;
      border: 1px solid #f80;
      height: 13px;
      line-height: 14px;
      color: #f80;
      padding: 0px 5px;
    }
    .big_favo {
      color: #999;
      font-size: 14px;
      font-weight: 400;
      margin-left: 3px;
    }
  }
  .view_teacher {
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-top: 20px;
    span {
      margin-right: 20px;
      font-weight: bold;
    }
  }
  .live_btn {
    width: 260px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-align: center;
    background: rgba(213, 20, 35, 1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    &.disabled {
      background: rgb(102, 102, 102);
    }
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
  .bunch_list{
    p{
      padding-bottom: 12px;
      font-size: 14px;
    }
    a{
      padding-left: 12px;
      font-size: 14px;
      color: #D51423;
    }
  }
  .coupon-panel{
    margin-top: 10px;
    span{
      font-weight: 500;
    }
  }
</style>
