
<template>
  <ul class="clearfix course_list">
    <el-row :gutter="20">
      <el-col :span="span" v-for="(that, int) in list" :key="int">
        <nuxt-link
          class="course_item"
          :to="{ name: 'live-detail-id', params: { id: that.id } }"
          target="_blank"
        >
          <li>
            <div class="img_box">
              <img :src="that.courseLogo" :alt="that.courseName" />
              <p class="live_time">开播时间：{{ that.startTime }}</p>
              <act-mark
                v-if="markList[int]"
                :act-list="markList[int].actZoneCourseUserViewDTO"
              />
            </div>
            <p>
              {{ that.courseName }}
            </p>
            <div>
              <span v-if="that.isFree" class="price_box isFree">免费</span>
              <span v-else class="price_box">
                ￥{{ that.courseOriginal.toFixed(2) }}
                <span
                  v-if="that.courseOriginal !== that.courseDiscount"
                  class="font_12 padl_10 SVIP"
                  >SVIP:{{
                    that.courseDiscount
                      ? "￥" + that.courseDiscount.toFixed(2)
                      : "免费"
                  }}</span
                >
              </span>
            </div>

            <div class="teacher">
              <nuxt-link target="_blank" :to="{ name: 'lecturer-id', params: { id: that.lecturerUserNo } }">
                <img
                  :src="that.headImgUrl"
                  v-if="that.headImgUrl"
                  class="teacher_img"
                  alt="" />
                  <img
                  v-else
                  src="/friend.jpg"
                  class="teacher_img"
                  alt="" />
                  {{ that.lecturerName }}
              </nuxt-link>
              <span class="countStudy_box">{{ that.countStudy }} 人已学习</span>
            </div>
          </li>
        </nuxt-link>
      </el-col>
    </el-row>
  </ul>
</template>
<script>
import actMark from '~/components/activity/Mark';
import { getCourseListMark } from '~/api/activity.js';
export default {
  name: 'CourseList',
  components: { actMark },
  props: {
    list: {
      type: Array,
      default: () => {
        return [];
      }
    },
    span: {
      type: Number,
      default: () => {
        return 6;
      }
    }
  },
  data() {
    return {
      markList: [],
      img: require('~/assets/image/friend.jpg')
    };
  },
  watch: {
    list(val) {
      this.getMarks();
    }
  },
  mounted() {
    this.getMarks();
  },
  methods: {
    getMarks() {
      const idList = [];
      if (this.list && this.list.length) {
        this.list.map((item) => {
          idList.push(item.id);
        });
        getCourseListMark({ courseIds: idList }).then((res) => {
          console.log(res);
          this.markList = res.data.courseIdList;
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.course_list {
  margin-bottom: -20px;

  li {
    background: #fff;
    margin: 0px 0px 20px 0px;
    &:hover {
      box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      transition: all 0.3s;
    }
  }
  .course_item,
  li {
    float: left;
    width: 285px;
    border-radius: 8px;
    .teacher {
      margin: 10px 10px 0;
      border-top: 1px solid #e9e9e9;
      line-height: 44px;
      height: 44px;
      font-size: 12px;
      color: #999999;
      a {
        color: #999999;
      }
      & > a:hover {
        color: #19be6b;
      }
      .teacher_img {
        height: 24px;
        width: 24px;
        border-radius: 24px;
        margin-right: 5px;
        margin-top: 10px;
        vertical-align: top;
      }
      .countStudy_box {
        font-size: 12px;
        color: #9199a1;
        float: right;
      }
    }

    .img_box {
      width: 285px;
      height: 158px;
      position: relative;

      .live_time {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        padding-left: 10px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        color: #ffffff;
      }
      img {
        width: 285px;
        height: 158px;
        border-radius: 6px 6px 0 0;
      }
    }

    &:hover {
      color: #000;
      text-decoration: none;
    }

    & > p {
      margin-top: 10px;
      margin-bottom: 5px;
      padding-left: 10px;
      display: -webkit-box;
      overflow: hidden;
      line-height: 22px;
      color: #333333;
      min-height: 44px;
      font-size: 16px;
      font-weight: 500;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
    .price_box {
      font-size: 14px;
      padding-left: 10px;
      line-height: 20px;
      color: #333333;
      &.isFree {
        font-size: 13px;
        color: #19be6b;
      }
      .SVIP {
        color: #fb6260;
        margin-left: 8px;
        font-size: 13px;
      }
    }
  }
}
</style>
