<!-- 直播课程大纲 -->
<template>
  <div class="info_body">
    <div class="info_title">
      <span />直播课程列表
    </div>
    <table class="live_table">
      <thead>
        <tr>
          <th>课程名称</th>
          <th>开播时间</th>
          <th>结束时间</th>
          <th>直播状态</th>
          <th>课件下载</th>
        </tr>
      </thead>
      <tbody v-for="(item, index) in list" :key="index">
        <tr>
          <td class="cate_td" colspan="5">
            第{{ index+1 }}章 <span>{{ item.chapterName }}</span>
          </td>
        </tr>
        <tr v-for="(that, now) in item.periodList" :key="now">
          <td class="name">
            <div>
              <span v-if="that.isFree" class="c_blue free_icon">(免费)</span>
              第{{ now + 1 }}讲&nbsp;{{ that.periodName }}
            </div>
          </td>
          <td class="c_999">
            {{ that.startTime }}
          </td>
          <td class="c_999">
            {{ that.endTime }}
          </td>
          <td v-if="that.liveStatus == 1" class="c_blue">未开播</td>
          <td v-else-if="that.liveStatus == 2" class="c_red">
            <button @click="goLiveUrl(that)" class="d_btn">进入直播间</button>
          </td>
          <td v-else-if="that.liveStatus == 5">
            <button @click="playback(that)" class="d_btn">查看回放</button>
          </td>
          <td v-else>
            <span class="c_999">已结束</span>
          </td>
          <td>
            <a v-if="that.accessoryList && that.accessoryList.length" @click="noDown(that)" href="javascript:" class="d_btn">下载课件</a>
          </td>
        </tr>
      </tbody>
    </table>
    <d-video v-if="showVideo" :data="videoData" @hidefun="showVideo = false" />
  </div>
</template>
<script>
import DVideo from '~/components/course/VideoModal'
import { downAc, playback } from '~/api/course.js'
export default {
  components: {
    DVideo
  },
  props: {
    isPay: {
      type: Boolean,
      default() {
        return false
      }
    },
    list: {
      type: Array,
      default() {
        return []
      }
    },
    courseInfo: {
      type: Object,
      default: null
    },
    courseData: {
      type: Object,
      default: null
    },
    nowNo: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      videoData: null,
      showVideo: false
    }
  },
  methods: {
    videoPlay(data) {
    },
    noDown(item) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('登录后才可以下载!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return false
      }
      if (!this.isPay && !item.isFree) {
        this.$confirm('购买后才可以下载!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$emit('buyClick')
        })
        return false
      }
      this.$nuxt.$loading.start()
      downAc({
        id: item.accessoryList[0].id
      }).then((res) => {
        console.log(res)
        window.location.href = res.data
      }).catch(() => {})
    },
    goLiveUrl(that) {
      if (!that.isFree && !this.courseData.isPay) {
        this.$confirm('购买后才可以观看哦!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$emit('buyClick')
        })
        return
      }
      this.$emit('livefunc', that.id)
    },
    // 查看回放
    playback(item) {
      console.log('item', item)
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请登录后再观看!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return false
      }
      if (!item.isFree && !this.courseData.isPay) {
        this.$confirm('请购买后再观看!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$emit('buyClick')
        })
        return
      }
      // this.videoData = item
      // this.showVideo = true
      // 获取回放地址
      playback({ periodId: item.id }).then(res => {
        // console.log(res)
        // 不存在回放地址就使用本地播放
        if (res.data) {
          window.open(res.data)
        } else {
          this.videoData = item
          this.showVideo = true
        }
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
  .info_title {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .info_title {
    span {
      display: inline-block;
      width: 4px;
      height: 14px;
      background: #000;
      position: relative;
      top: 2px;
      margin-right: 8px;
    }
  }
  .live_table{
    width: 100%;
    th{
      height: 28px;
      line-height: 28px;
      padding: 9px 30px;
      background: #f2f2f2;
    }
    td{
      text-align: center;
      padding: 10px;
      font-size: 14px;
    }
    .cate_td{
      line-height: 46px;
      padding-left: 20px;
      font-weight: bold;
      text-align: left;
    }
    .name{
      position: relative;
      text-align: left;
      padding-left: 30px;
      div {
        width: 250px;
      }
      .free_icon{
        position: absolute;
        left: -15px;
      }
    }
    .d_btn {
      background: #fff;
      outline: none;
      display: inline-block;
      height: 26px;
      line-height: 26px;
      border: 1px solid #999;
      border-radius: 13px;
      font-size: 12px;
      color: #999;
      &:hover {
        text-decoration: none;
        border: 1px solid #D51423;
        color: #D51423;
        cursor: pointer;
      }
    }
  }
</style>
