<template>
  <el-dialog
    title="发送短信"
    :visible.sync="visible"
    :before-close="handleClose"
    width="30%"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="手机号码">
        <el-input ref="mobile" v-model="form.mobile" name="mobile" class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">关 闭</el-button>
      <el-button size="mini" type="primary" @click="onSubmit()">发送</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { userLogSmsSend } from '@/api/user'
  import { isPhoneNo } from '@/utils/validate';

  export default {
    name: 'UserSmsSend',
    props: {
      // route object
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      const validateMobile = (rule, value, callback) => {
        if (!isPhoneNo(value)) {
          callback(new Error('请输入正确的手机号'))
        } else {
          callback()
        }
      }
      return {
        rules: {
          mobile: [{ required: true, trigger: 'blur', validator: validateMobile }]
        },
        form: {}
      }
    },
    methods: {
      handleClose() {
        this.$emit('close-callback')
      },
      onSubmit() {
        this.$refs.form.validate((valid) => {
          if (valid) {
            userLogSmsSend(this.form.mobile).then(res => {
              this.$message.success(res.data);
            })
          } else {
            return false;
          }
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
