<template>
<view>
  <view class="no_card text_center" v-if="noCard">
    <image src="../../../static/images/no_card.svg" class="no_card_img"></image>
    <view class="font25 c_999">添加银行卡</view>
    <view class="font25 c_999 mgt20">完成即可提现</view>
    <button class="add_btn" @tap="goAdd">+添加银行卡</button>
  </view>
  <view class="card_list" v-else>
    <view class="card_item">
      <view class="flex_box">
        <view class="circle">
          <image src="../../../static/images/card.svg" class="card_img"></image>
        </view>
        <view class="flex_column_around c_fff">
          <text class="font33">{{cardData.bankName}}</text>
          <text class="font25">储蓄卡</text>
        </view>
      </view>
      <view class="font50 text_center c_fff mgt30">{{cardData.bankCardNo}}</view>
    </view>
    <button class="replace_btn" @tap="goAdd">替换</button>
  </view>
</view>
</template>

<script>
// pages/card_list/card_ist.js
import { cardInfo } from "../../../api/user";
const app = getApp();

export default {
  data() {
    return {
      userInfo: '',
      noCard: true,
      cardData: ''
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
    this.setData({
      userInfo: uni.getStorageSync('userInfo')
    });
    this.getCardList();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    goAdd() {
      uni.navigateTo({
        url: '../note/note?mobile=' + uni.getStorageSync('userInfo').mobile
      });
    },

    getCardList() {
      uni.showLoading({
        title: '加载中...'
      });
      cardInfo({
        lecturerUserNo: this.userInfo.userNo
      }).then(res => {
        console.log(res);

        if (res.bankCardNo) {
          this.setData({
            noCard: false
          });
        }

        this.setData({
          cardData: res
        });
      }).catch(() => {
        this.setData({
          noCard: true
        });
      });
    }

  }
};
</script>
<style scoped>
.no_card_img {
  width: 277rpx;
  height: 185rpx;
  margin: 90rpx auto;
}
.add_btn {
  width: 680rpx;
  height: 94rpx;
  line-height: 94rpx;
  background: rgba(247, 245, 248, 1);
  border: 1px dashed #999;
  color: #999;
  margin-top: 90rpx;
  font-size: 33rpx;
}
.card_item {
  padding: 20rpx;
  margin: 20rpx;
  background: orange;
  border-radius: 6px;
}
.circle {
  height: 80rpx;
  width: 80rpx;
  background: #fff;
  border-radius: 50%;
  position: relative;
  margin-right: 20rpx;
}
.card_img {
  width: 46rpx;
  height: 38rpx;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -19rpx 0 0 -23rpx;
}
.replace_btn {
  height: 94rpx;
  line-height: 94rpx;
  color: #2388EC;
  border: 1rpx solid #2388EC;
  font-size: 33rpx;
  background: rgba(247, 245, 248, 1);
  margin: 30rpx 20rpx;
}
</style>