<template>
	<view>
		<view v-for="(item, index) in studyList" :key="index"  @click="goDetail(item)" class="b_fff mgt8px font25 c_999 study_box">
			<text class="mgt30">{{item.gmtCreate}}</text>
			<view class="mgt20 o_hide">
				<text class="mgr20">课程名称</text>
				<text class="courseName" :data-info="item">{{item.courseName}}</text>
			</view>
			<view class="mgt20 o_hide">
				<text class="mgr20">课程章节</text>
				<text class="c_333">{{item.periodName}}</text>
			</view>
			<view class="flex_box mgt20 o_hide">
				<text class="mgr20">学习内容</text>
				<text class="c_333 w487">{{item.periodName}}</text>
			</view>
			<view class="flex_box mgt20 o_hide">
				<text class="mgr20">学习进度</text>
				<view class="progress-box">
					<progress :percent="item.watckProgress || 0" show-info active />
				</view>
			</view>
			<view class="flex_box  o_hide">
				<text class="mgr20" style="opacity: 0;">学习进度</text>
				<view class="progress-box">
					{{ item.stringWatchLength }}/
					{{ item.vidLength }}
				</view>
			</view>
			<view class="mgt20 o_hide">
				<text class="mgr20">学习时间</text>
				<text class="c_333 w487">{{item.gmtCreate}}</text>
			</view>
		</view>
	</view>
</template>

<script>
	import * as apis from "../../../api/user";
	export default {
		data() {
			return {
				studyList: []
			};
		},
		onLoad: function(options) {
			this.getStudy(1);
		},
		methods: {
			getStudy(page) {
				apis.studyLog({}, page).then(res => {
					this.setData({
						studyList: res.list
					});
				});
			},
			goDetail(info) {
				if (info.courseCategory === 1) {
					uni.navigateTo({
						url: '/pages/course/view/view?id=' + info.courseId
					});
				}
				if (info.courseCategory === 2) {
					uni.navigateTo({
						url: '/pages/course/live/live?id=' + info.courseId
					});
				}
				if (info.courseCategory === 3) {
					uni.navigateTo({
						url: '/pages/library/view/view?id=' + info.courseId
					});
				}
			}
		}
	};
</script>
<style scoped>
	.study_box {
		padding: 30rpx 20rpx;
	}

	.tabs {
		display: flex;
		width: 100%;
	}

	.tab {
		flex: 1;
		text-align: center;
	}

	.progress-box {
		width: 100%;
		;
	}

	.tab_text {
		display: inline-block;
		height: 94rpx;
		line-height: 94rpx;
		font-size: 33rpx;
		color: #333;
	}

	.active {
		color: #2488EC;
		border-bottom: 1px solid #2488EC;
	}

	.courseName {
		color: #2488EC;
	}
</style>
