<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="用户手机号">
        <el-input v-model="map.mobile" placeholder="只支持精准查询" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('bloggerSave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="昵称" prop="mobile" />
      <el-table-column label="博客数量" prop="weblogAccount" />
      <el-table-column label="关注人数" prop="attentionAcount" />
      <el-table-column label="粉丝人数" prop="fansAccount" />
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button  v-if="checkPermission('bloggerView')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-dropdown @command="handleCollectCommand($event, scope.row )">
            <el-button size="mini">
              更多收藏<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item  v-if="checkPermission('blogUserRecordPage')"   command="blogCollect">博客收藏</el-dropdown-item>
              <el-dropdown-item  v-if="checkPermission('bloggerUserRecordPage')"  command="bloggerCollect">博主收藏</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <el-dropdown @command="handleLikeCommand($event, scope.row )">
            <el-button size="mini">
              更多点赞<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item  v-if="checkPermission('bloggerUserRecordPage1')" command="blogLike">博客点赞</el-dropdown-item>
              <el-dropdown-item  v-if="checkPermission('bloggerUserRecordPage1')"  command="bloggerLike">博主点赞</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-blogger :title="addCtr.title" :visible="addCtr.visible" @close="closeAdd" />
    <edit-blogger :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="closeEdit" />
    <blog-user-collect :title="collectUserCtr.title" :visible="collectUserCtr.visible" :info="collectUserCtr.info" @close="closeCollectUser" />
    <blog-info-collect :title="collectInfoCtr.title" :visible="collectInfoCtr.visible" :info="collectInfoCtr.info" @close="closeCollectInfo" />
  </div>
</template>

<script>
  import { bloggerPage, bloggerView } from '@/api/community'
  import EditBlogger from '@/views/community/blogger/edit/index';
  import AddBlogger from '@/views/community/blogger/add/index';
  import BlogUserCollect from '@/views/community/blogger/collect/user';
  import BlogInfoCollect from '@/views/community/blogger/collect/info';

  export default {
    components: { BlogUserCollect, BlogInfoCollect, AddBlogger, EditBlogger },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        addCtr: {
          title: '添加博主',
          visible: false
        },
        editCtr: {
          title: '修改博主',
          visible: false,
          info: {}
        },
        collectUserCtr: {
          title: '博客收藏',
          visible: false,
          info: {}
        },
        collectInfoCtr: {
          title: '博主收藏',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.addCtr.visible = true;
      },
      closeAdd() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.addCtr.visible = false;
      },
      handleUpdateRow(id) {
        bloggerView(id).then(res => {
          this.editCtr.info = res.data;
          this.editCtr.visible = true;
        })
      },
      closeEdit() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.editCtr.visible = false;
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        bloggerPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      handleCollectCommand(command, row) {
        switch (command) {
          case 'blogCollect':
            this.collectUserCtr.title = '博客收藏';
            this.collectUserCtr.info = {
              userNo: row.userNo,
              opType: 1
            }
            this.collectUserCtr.visible = true;
            break;
          case 'bloggerCollect':
            this.collectInfoCtr.title = '博主收藏';
            this.collectInfoCtr.info = {
              userNo: row.userNo,
              opType: 1
            }
            this.collectInfoCtr.visible = true;
            break;
        }
      },
      handleLikeCommand(command, row) {
        switch (command) {
          case 'blogLike':
            this.collectUserCtr.title = '博客点赞';
            this.collectUserCtr.info = {
              userNo: row.userNo,
              opType: 2
            }
            this.collectUserCtr.visible = true;
            break;
          case 'bloggerLike':
            this.collectInfoCtr.title = '博主点赞';
            this.collectInfoCtr.info = {
              userNo: row.userNo,
              opType: 2
            }
            this.collectInfoCtr.visible = true;
            break;
        }
      },
      closeCollectUser() {
        this.collectUserCtr.visible = false;
      },
      closeCollectInfo() {
        this.collectInfoCtr.visible = false;
      }
    }
  }
</script>
