<template>
  <el-dialog
    :visible.sync="visible"
    :before-close="handleClose"
    width="450px"
    title="修改密码"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="原密码" prop="oldPassword">
        <el-input v-model="form.oldPassword" type="password" class="form-group" />
      </el-form-item>
      <el-form-item label="登录密码" prop="loginPassword">
        <el-input v-model="form.loginPassword" type="password" class="form-group" />
      </el-form-item>
      <el-form-item label="确认密码" prop="confirmPassword">
        <el-input v-model="form.confirmPassword" type="password" class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>

</template>

<script>
import { sysUserUpdatePasswordCurrent } from '@/api/system';
  export default {
    name: 'ResetPassword',
    props: {
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      const validateConfirmPassword = (rule, value, callback) => {
        if (value === undefined || value === null || value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.form.loginPassword !== value) {
            callback(new Error('登录密码和确认密码不一致'));
          }
          callback();
        }
      };
      return {
        form: {},
        rules: {
          oldPassword: [
            { required: true, message: '请输入原密码', trigger: 'blur' }
          ],
          loginPassword: [
            { required: true, message: '请输入登录密码', trigger: 'blur' }
          ],
          confirmPassword: [
            { required: true, validator: validateConfirmPassword, trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      handleClose() {
        this.$emit('close-callback');
      },
      submitForm() {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.loading.show('正在发起请求···');
            sysUserUpdatePasswordCurrent(this.form).then(res => {
              this.$store.dispatch('user/logout').then(() => {
                this.loading = false
                this.$alert('修改成功，请重新登录').then(() => {
                  location.reload()
                }).catch(() => {
                  location.reload()
                })
              })
            }).catch(() => {
              this.loading = false
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

  .form-mobile-group{
    .form-input{
      display: inline-block;
      width: 230px;
      margin-right: 8px;
    }
    .form-btn{
      width: 150px;
    }
  }
</style>
