<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="用户手机">
        <el-input v-model="map.mobile" placeholder="" />
      </el-form-item>
      <el-form-item class="filter-item" label="短信标题">
        <el-input v-model="map.msgTitle" placeholder="" />
      </el-form-item>
      <el-form-item class="filter-item" label="是否阅读">
        <el-select v-model="map.isRead" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isReadEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="是否已发送">
        <el-select v-model="map.isSend" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isSendEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="用户手机" prop="mobile" width="120" />
      <el-table-column label="短信类型" prop="msgType" width="120">
        <template slot-scope="scope">
          <span>{{ msgTypeEnums[scope.row.msgType] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="短信标题" prop="msgTitle" />
      <el-table-column label="是否置顶" width="100">
        <template slot-scope="scope">
          {{ isTopEnums[scope.row.isTop] }}
        </template>
      </el-table-column>
      <el-table-column label="是否已经发送" width="100">
        <template slot-scope="scope">
          {{ isSendEnums[scope.row.isSend] }}
        </template>
      </el-table-column>
      <el-table-column label="是否阅读" width="100">
        <template slot-scope="scope">
          {{ isReadEnums[scope.row.isRead] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="200">
        <template slot-scope="scope">
          <el-button  v-if="checkPermission('userMsgView')"  plain size="mini" @click="handleViewRow(scope.row.id)">查看</el-button>
          <el-button  v-if="checkPermission('userMsgDelete')"  type="danger" plain size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <user-msg-view-info
      :visible="ctrl.viewVisible"
      :form-data="formData"
      :title="ctrl.dialogTitle"
      @close-callback="closeCllback"
    />
  </div>
</template>

<script>
  import { userMsgPage, userMsgDelete, userMsgView } from '@/api/user'
  import userMsgViewInfo from '@/views/user/userMsg/view'

  export default {
    components: { userMsgViewInfo },
    data() {
      return {
        ctrl: {
          load: false,
          viewVisible: false
        },
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        formData: {},
        list: [],
        map: {},
        isDefaultEnums: {},
        msgTypeEnums: [],
        isReadEnums: [],
        isSendEnums: [],
        isTopEnums: [],
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'MsgTypeEnum', type: 'obj' }).then(res => {
        this.msgTypeEnums = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'IsReadEnum', type: 'obj' }).then(res => {
        this.isReadEnums = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'IsTopEnum', type: 'obj' }).then(res => {
        this.isTopEnums = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'IsSendEnum', type: 'obj' }).then(res => {
        this.isSendEnums = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'IsDefaultEnum', type: 'obj' }).then(res => {
        this.isDefaultEnums = res;
      })
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            userMsgDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleViewRow(id) {
        this.ctrl.load = true
        userMsgView(id).then(res => {
          this.ctrl.load = false
          this.formData = res.data
          this.ctrl.dialogTitle = '消息详情'
          this.ctrl.viewVisible = true
        }).catch(() => {
          this.ctrl.load = false
        })
      },
      // 关闭编辑弹窗回调
      closeCllback() {
        this.ctrl.viewVisible = false;
        this.handleReset()
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        userMsgPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
