<template>
	<swiper indicator-dots="true" autoplay="true" interval="3000" duration="500" circular="true" class="course-swiper">
		<swiper-item v-for="(item, index) in list" :key="index">
			<navigator v-if="item.courseCategory === 1" :url="'/pages/course/view/view?id=' + item.id" class="course-link">
				<image :src="item.courseLogo" class="slide-image"></image>
				<view class="couese_name">
					<view class="name text-ov-2">{{item.courseName}}</view>
					<view class="price" v-if="showPrice">{{!item.isFree ? '￥' + item.courseOriginal : '免费'}}</view>
				</view>
			</navigator>
			<navigator v-else-if="item.courseCategory === 2" :url="'../course/live/live?id=' + item.id" class="course-link">
				<image :src="item.courseLogo" class="slide-image"></image>
				<view class="couese_name">
					<view class="name text-ov-2">{{item.courseName}}(直播)</view>
					<view class="price" v-if="showPrice">{{!item.isFree ? '￥' + item.courseOriginal : '免费'}}</view>
				</view>
				<Mark v-if="markList[index]" :act-list="markList[index].actZoneCourseUserViewDTO"></Mark>
			</navigator>

		</swiper-item>
	</swiper>
</template>

<script>
	import {
		getCourseListMark
	} from "../../api/activity";
	import Mark from "../activity/Mark.vue"
	export default {
		data() {
			return {
				showPrice: false,
				markList: []
			};
		},

		components: {
			Mark
		},
		props: {
			list: {
				type: [Array]
			}
		},
		watch: {
			list(val) {
				this.getMarks();
			}
		},
		mounted() {
			this.setData({
				showPrice: uni.getStorageSync('showPrice')
			});
			this.getMarks();
		},
		methods: {
			getMarks() {
				if (this.list && this.list.length) {
					const idList = []
					this.list.map(item => {
						idList.push(item.courseId || item.id)
					})
					getCourseListMark({
						courseIds: idList
					}).then(res => {
						console.log(res.courseIdList)
						this.markList = res.courseIdList
					})
				}
			}
		}
	};
</script>
<style>
	.course-swiper {
		margin-top: 0;
		height: 540rpx;
	}

	.course-link {
		margin: 0 30rpx;
		border-radius: 10rpx;
		overflow: hidden;
		position: relative;
		box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.1);
	}

	.slide-image {
		width: 100%;
		height: 383rpx;
	}

	.couese_name {
		display: flex;
		height: 88rpx;
		line-height: 88rpx;
		padding: 0 20rpx;
	}

	.couese_name .name {
		font-size: 30rpx;
		flex: 1;
	}

	.couese_name .price {
		font-size: 30rpx;
		color: #FF7607;
	}
</style>
