<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="用户编号">
        <el-input v-model="map.userNo" placeholder="" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="创建时间" prop="gmtCreate" width="150" />
      <el-table-column label="用户编号" prop="userNo" width="150" />
      <el-table-column label="登录状态" prop="loginStatus" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-success': scope.row.loginStatus === 1, 'c-danger': scope.row.loginStatus === 0}">{{ loginStatusEnum[scope.row.loginStatus] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="登录IP" prop="loginIp" />
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
  import { userLogLoginPage } from '@/api/user'

  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        loginStatusEnum: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'LoginStatusEnum', type: 'obj' }).then(res => {
        this.loginStatusEnum = res;
      })
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        userLogLoginPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
