<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="标题">
        <el-input v-model.trim="map.zoneName" />
      </el-form-item>
      <el-form-item label="是否已发送">
        <el-select v-model="map.isSend" class="auto-width" clearable filterable placeholder="是否已发送">
          <el-option
            v-for="(value, key) in isSendEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="跳转分类">
        <el-select v-model="map.jumpCategory" class="auto-width" clearable filterable placeholder="跳转分类">
          <el-option
            v-for="(value, key) in JumpCategoryEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="">
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('appMessageAdd')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="标题" prop="title" />
      <el-table-column label="内容" prop="content" />
      <el-table-column label="产品名称" prop="productName" />
      <el-table-column label="跳转分类" width="150">
        <template slot-scope="scope">
          {{ JumpCategoryEnums[scope.row.jumpCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="是否已发送" width="100">
        <template slot-scope="scope">
          {{ isSendEnums[scope.row.isSend] }}
        </template>
      </el-table-column>
      <el-table-column label="发送时间" prop="sendTime" />
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('appMessageEdit')"  plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="scope.row.isSend === 0 && checkPermission('appMessageSend')" plain type="success" size="mini" @click="handleIsSend(scope.row)">发送</el-button>
          <el-button v-if="checkPermission('appMessageDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"/>
    <edit :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <add :visible="ctrl.addDialogVisible" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import {appMessagePage, appMessageDelete, appMessageSend} from '@/api/system'
  import Add from '../add/index'
  import Edit from '../edit/index'

  export default {
    components: { Add, Edit },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          editDialogVisible: false,
          addDialogVisible: false
        },
        formData: {},
        list: [],
        map: {},
        statusIdEnums: {},
        JumpCategoryEnums: {},
        isSendEnums: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'JumpCategoryEnum', type: 'obj' }).then(res => {
        this.JumpCategoryEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsSendEnum', type: 'obj' }).then(res => {
        this.isSendEnums = res;
      });
    },
    methods: {
      // 新增
      handleAddRow() {
        this.ctrl.dialogTitle = '新增APP推送';
        this.ctrl.addDialogVisible = true;
      },
      // 编辑
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.dialogTitle = '编辑';
        this.ctrl.editDialogVisible = true;
      },
      handleIsSend(row) {
        {
          const body = '确定要发送【' + row.title + '】？';
          this.$confirm(body, '发送确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            appMessageSend({ id: row.id}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            appMessageDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.reload();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        appMessagePage(this.map, this.ctrl.zoneLocation, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
