// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

.app-container {
  .el-pagination {
    text-align: right;
    margin-top: 12px;
  }
}

.el-dialog__body {
  .el-pagination {
    text-align: right;
    margin-top: 12px;
  }
}
.el-table{
  .el-input-number--mini{
    width: 110px;
    max-width: 100%;
    .el-input__inner{
      padding-left: 10px;
      padding-right: 30px;
    }
  }
}
