@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  min-height: 640px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.fixed-main-container{
  height: 100%;
  .app-main{
    height: 100%;
  }
  .app-container{
    height: 100%;
    overflow: auto;
  }
}
.center {
  text-align: center;
}
.c_999 {
  color: #999;
}
.c-brand {
  color: #409EFF;
}
.c-success {
  color: #67C23A;
}
.c-warning {
  color: #E6A23C;
}
.c-danger {
  color: #F56C6C;
}
.c-info {
  color: #909399;
}
.b_999 {
  background: #f5f7f8;
  line-height: 36px;
}
.font_12 {
  font-size: 12px;
}
.font_14 {
  font-size: 14px;
}

.filter-container {
  .filter-item{
    &.el-form-item--mini{
      .el-form-item__content{
        width: 170px;
        .el-input{
          width: 100%;
        }
      }
    }
  }
}
.fixed-page-bottom-panel{
  height: 40px;
  .page-bottom-content{
    position: fixed;
    left: $sideBarWidth;
    right: 0;
    bottom: 0;
    z-index: 99999;
    text-align: right;
    padding: 5px 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
}
