<template>
<!--pages/course/search/search.wxml-->
<view>
  <view class="search_box">
    <!-- <view class="class_box" bindtap="showClass" data-draw="{{true}}">
      <image class="class_icon" src="../../images/class.svg"></image>
      <text>{{searchText}}</text>
    </view> -->
    <view class="p_relative">
      <image class="search_icon" @tap="beginSearch" src="../../../static/images/search.svg"></image>
      <input focus="true" type="text" :placeholder="plaText" class="search_input" confirm-type="search" @confirm="beginSearch"></input>
    </view>
    <text @tap="closeSearch" class="close_search c_fff font33">取消</text>
  </view>
  <view class="history" v-if="list.length">
    <text class="search_history">历史搜索</text>
    <text class="font25 c_999 h80 fr" @tap="clearHistory">清空历史记录</text>
    <view class="history_items">
      <view v-for="(item, index) in list" :key="index" class="history_item font25 c_999" @tap="setSearch" :data-name="item.name" :data-type="item.type">{{item.name}}</view>
    </view>
  </view>
</view>
</template>

<script>

export default {
  data() {
    return {
      list: [],
      searchType: '1',
      plaText: '请输入搜索内容',
      isDraw: false
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    console.log(options);
    this.setData({
      searchType: options.type ? options.type : '1',
      plaText: '请输入搜索内容'
    });
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {
    this.getHistorySearch();
  },

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    beginSearch(e) {
      console.log(e);
      let searchName = e.detail.value;

      if (!searchName) {
        uni.showToast({
          title: '搜索内容不能为空',
          icon: 'none'
        });
        return;
      }

      this.setData({
        isDraw: false
      });
      uni.navigateTo({
        url: '../searchList/list?name=' + searchName + '&type=' + this.searchType
      });
    },

    closeSearch() {
      this.setData({
        isDraw: false
      });
      uni.navigateBack({
        delta: 1
      });
    },

    getHistorySearch() {
      let storaName = 'searchHistory';

      if (this.searchType == '3') {
        storaName = 'libraryHistory';
      }

      let historyList = uni.getStorageSync(storaName) || [];

      if (historyList.length) {
        for (let i = 0; i < historyList.length - 1; i++) {
          for (let j = 0; j < historyList.length - 1 - i; j++) {
            if (historyList[j].count < historyList[j + 1].count) {
              let temp = historyList[j];
              historyList[j] = historyList[j + 1];
              historyList[j + 1] = temp;
            }
          }
        }

        this.setData({
          list: historyList.slice(-10)
        });
      }
    },

    setSearch(e) {
      const searchType = e.currentTarget.dataset.type || '';
      let searchName = e.currentTarget.dataset.name;
      uni.navigateTo({
        url: '../searchList/list?name=' + searchName + '&type=' + searchType
      });
    },

    clearHistory() {
      let storaName = 'searchHistory';

      if (this.searchType == '3') {
        storaName = 'libraryHistory';
      }

      uni.removeStorage({
        key: storaName,
        success: () => {
          this.setData({
            list: []
          });
        }
      });
    }

  }
};
</script>
<style scoped>
/* pages/course/search/search.wxss */
.search_box {
  background: #2388EC;
  display: flex;
  padding: 10rpx 0;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-left: 20rpx;
  padding-top: 100rpx;
}
.class_box {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 20rpx;
}
.class_icon {
  width: 35rpx;
  height: 35rpx;
  margin: 0 auto;
}
.search_icon {
  width: 25rpx;
  height: 25rpx;
  position: absolute;
  top: 19rpx;
  right: 20rpx;
}
.search_input {
  background: #fff;
  height: 61rpx;
  width: 550rpx;
  border-radius: 6px;
  font-size: 14px;
  padding-left: 20rpx;
  padding-right: 55rpx;
}
.close_search {
  margin-left: 20rpx;
  line-height: 61rpx;
}
.history {
  margin-top: 81rpx;
  padding: 0 20rpx;
}
.search_history {
  font-size: 25rpx;
  color: #333;
  height: 80rpx;
  line-height: 80rpx;
}
.history_items {
  display: flex;
  flex-wrap: wrap;
}
.history_item {
  height: 73rpx;
  line-height: 73rpx;
  padding: 0 20rpx;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 30rpx;
  margin-bottom: 20rpx;
}
.search_result {
  margin-top: 81rpx;
}
.result_item {
  padding: 30rpx 20rpx;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.result_img {
  width: 49%;
  height: 169rpx;
  border-radius: 6px;
}
.course_msg {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>
