<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="活动标题">
        <el-input v-model="map.msgTitle" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('msgSave')" type="success" size="mini" plain @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="短信标题" prop="msgTitle" />
      <el-table-column label="是否置顶" width="100">
        <template slot-scope="scope">
          {{ isDefaultEnums[scope.row.isTop] }}
        </template>
      </el-table-column>
      <el-table-column label="发送状态" width="100">
        <template slot-scope="scope">
          {{ isSendEnums[scope.row.isSend] }}
        </template>
      </el-table-column>
      <el-table-column label="定时发送" width="100">
        <template slot-scope="scope">
          {{ isTimeSendEnums[scope.row.isTimeSend] }}
        </template>
      </el-table-column>
      <el-table-column label="发送时间" width="160">
        <template slot-scope="scope">
          <span v-if="scope.row.isSend === 1 || scope.row.isTimeSend === 1">{{ scope.row.sendTime }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('msgEdit')" type="primary" plain size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('msgDelete')" type="danger" plain size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
          <el-button v-if="scope.row.isSend === 0 && checkPermission('magPush')" size="mini" @click="handleSendRow(scope.row)">发送</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-msg v-if="addCtr.visible" :title="addCtr.title" :visible="addCtr.visible" @close="closeAdd" />
    <edit-msg :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="closeEdit" />
  </div>
</template>

<script>
  import { msgPage, msgSend, msgDelete, msgView } from '@/api/user'
  import AddMsg from '@/views/user/msg/add/index';
  import EditMsg from '@/views/user/msg/edit/index';

  export default {
    components: { AddMsg, EditMsg },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        isDefaultEnums: {},
        isSendEnums: {},
        isTimeSendEnums: {},
        addCtr: {
          title: '添加消息',
          visible: false
        },
        editCtr: {
          title: '修改消息',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'IsDefaultEnum', type: 'obj' }).then(res => {
        this.isDefaultEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsSendEnum', type: 'obj' }).then(res => {
        this.isSendEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsTimeSendEnum', type: 'obj' }).then(res => {
        this.isTimeSendEnums = res;
      });
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.msgTitle + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            msgDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSendRow(row) {
        {
          const body = '确定要发送【' + row.msgTitle + '】？'
          this.$confirm(body, '发送确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            msgSend(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.addCtr.visible = true;
      },
      handleUpdateRow(id) {
        msgView(id).then(res => {
          this.editCtr.visible = true;
          this.editCtr.info = res.data;
        })
      },
      closeAdd() {
        this.handleReset();
        this.addCtr.visible = false;
      },
      closeEdit() {
        this.handleReset();
        this.editCtr.visible = false;
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        msgPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
