<template>
  <div class="person_info" v-loading="load">
    <div class="form_group">
      <div class="label">直播课程:</div>
      <el-select
        v-model="courseId"
        class="form-cascader"
        filterable
        remote
        reserve-keyword
        placeholder="请输入关键词"
        size="medium"
        :remote-method="getCourseList"
        :loading="inputLoading"
      @change="selectCourse">
        <el-option
          v-for="item in courseList"
          :key="item.id"
          :label="item.courseName"
          :value="item.id">
        </el-option>
      </el-select>
    </div>
    <div v-if="courseId" class="form_group">
      <div class="label">直播章节:</div>
        <el-cascader
          v-model="praxisId"
          class="form-cascader"
          ref="formCascader"
          :options="chapterList"
          :props="props"
          size="medium" />
    </div>
    <div class="form_group">
      <div class="label">直播场景:</div>
      <el-select style="margin-left: 12px;" v-model="scene" size="medium" placeholder="请选择">
        <el-option
          v-for="item in sceneList"
          :key="item.value"
          :label="item.name"
          :value="item.value">
        </el-option>
      </el-select>
      <div class="tip">
        <span v-if="scene === 'alone'">适用于:活动拍摄,屏幕共享直播,使用 直播助手 发起</span>
        <span v-if="scene === 'ppt'">适用于:PPT三分屏,多人音视频通话,使用 云课堂 发起</span>
      </div>
    </div>
    <div v-if="scene === 'smallClass'" class="form_group">
      <div class="label">小班课类型:</div>
      <el-select style="margin-left: 12px;" v-model="smallType" size="medium" placeholder="请选择">
        <el-option
          v-for="item in arraysmallTypeList"
          :key="item.value"
          :label="item.name"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <div class="form_group">
      <div class="label">&nbsp;</div>
      <button @click="getChannelInfo" class="submit_btn plain_red">频道信息</button>
      <button @click="saveLiveInfo" class="submit_btn b_red">确认开播</button>
    </div>
    <div v-if="channelInfo">
      <div v-if="channelInfo.livePlatform === 2">
        <div class="form_group">
          <div class="label">主播ID:</div>
          <div class="form_ctl">
            <div class="text">{{ channelInfo.bid }}</div>
          </div>
        </div>
        <div class="form_group">
          <div class="label">主播密码:</div>
          <div class="form_ctl">
            <div class="text">{{ channelInfo.channelPasswd }}</div>
          </div>
        </div>
      </div>
      <div class="form_group" v-if="channelInfo.livePlatform === 1">
        <div class="label">频道号:</div>
        <div class="form_ctl">
          <div class="text">{{ channelInfo.channelId }}</div>
        </div>
      </div>
      <div class="form_group" v-if="channelInfo.livePlatform === 1">
        <div class="label">频道密码:</div>
        <div class="form_ctl">
          <div class="text">{{ channelInfo.channelPasswd }}</div>
        </div>
        <a @click="dialogVisible = true" href="javascript:" class="reset_pwd">修改密码 ></a>
      </div>
      <div class="form_group" v-if="channelInfo.livePlatform === 1">
        <div class="label">助教号:</div>
        <div class="form_ctl">
          <div class="text">{{ channelInfo.assistantChannelId }}</div>
        </div>
      </div>
      <div class="form_group" v-if="channelInfo.livePlatform === 1">
        <div class="label">助教密码:</div>
        <div class="form_ctl">
          <div class="text">{{ channelInfo.assistantPasswd }}</div>
        </div>
      </div>
      <div class="form_group">
        <div class="label">助教地址:</div>
        <div class="form_ctl max">
          <div class="text">
            <a :href="channelInfo.assistantUrl" target="_blank">{{ channelInfo.assistantUrl }}</a>
          </div>
        </div>
        <a :copy-text="channelInfo.assistantUrl" href="javascript:" class="copy">复制</a>
      </div>
      <div v-if="courseId" class="form_group">
        <div class="label">学员观看地址:</div>
        <div class="form_ctl max">
          <div class="text">
            <nuxt-link
              :to="{name: 'live-detail-id', params: {id: courseId}}"
              target="_blank"
            >
              <span>{{ mainUrl + '/live/detail/' + courseId }}</span>
            </nuxt-link>
          </div>
        </div>
        <a
          :copy-text="mainUrl + '/live/detail/' + courseId"
          href="javascript:"
          class="copy"
        >复制</a>
      </div>
      <div v-if="channelInfo.webLiveUrl" class="form_group">
        <div class="label">网页开播地址:</div>
        <div class="form_ctl max">
          <div class="text">
            <a :href="channelInfo.webLiveUrl" target="_blank">{{ channelInfo.webLiveUrl }}</a>
          </div>
        </div>
        <a :copy-text="channelInfo.webLiveUrl" href="javascript:" class="copy">复制</a>
      </div>
      <div class="form_group">
        <div class="label">直播推流地址:</div>
        <div class="form_ctl max">
          <div class="text">{{ channelInfo.pushFlowUrl }}</div>
        </div>
        <a :copy-text="channelInfo.pushFlowUrl" href="javascript:" class="copy">复制</a>
      </div>
    </div>
    <el-dialog title="修改频道密码" :visible.sync="dialogVisible" width="600px" center>
      <editPassword v-if="channelInfo" :channelId="channelInfo.channelId" @closeEditPass="closeEditPass"></editPassword>
    </el-dialog>
  </div>
</template>
<script>
import ClipboardJS from 'clipboard'
import editPassword from '~/components/account/channel/editPassword'
import { channelCourseInfo, lecturerCourseList, getliveChapterNoAuditList, getPeriodNoAuditList, channelSave } from '~/api/account/course.js'
export default {
  name: 'EditChannel',
  components: {
    editPassword
  },
  data() {
    return {
      courseId: undefined,
      courseList: [],
      chapterList: [],
      channelInfo: undefined,
      praxisId: '',
      load: false,
      inputLoading: true,
      dialogVisible: false,
      scene: 'alone',
      smallType: 3,
      mainUrl: '',
      props: {
        lazy: true,
        label: 'name',
        value: 'id',
        lazyLoad(node, resolve) {
          if (node.level && node.level === 1) {
            getPeriodNoAuditList({ chapterId: node.value }).then(res => {
              const nodes = res.data.userPeriodList
                .map(item => ({
                  name: `${item.periodName}:${item.startTime}`,
                  id: item.id,
                  leaf: node.level >= 1
                }));
              // 通过调用resolve将子节点数据返回，通知组件数据加载完成
              resolve(nodes);
            })
          }
        }
      }
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    },
    arraysmallTypeList() {
      const array = [
        {
          value: 1,
          name: '1V1'
        },
        {
          value: 2,
          name: '1V6'
        },
        {
          value: 3,
          name: '1V16'
        }
      ]
      return array
    },
    sceneList() {
      let array = [
        {
          value: 'alone',
          name: '活动拍摄'
        },
        {
          value: 'ppt',
          name: '三分屏'
        }
      ]
      if (this.$store.state.webInfo.livePlatform === 2) {
        array = [
          {
            value: 'alone',
            name: '活动拍摄'
          },
          {
            value: 'ppt',
            name: '二分屏'
          },
          {
            value: 'largeInteractive',
            name: '大班互动'
          },
          {
            value: 'smallClass',
            name: '小班'
          }
        ]
      }
      return array
    }
  },
  mounted() {
    this.mainUrl = window.location.origin
    // this.getChannelInfo()
    this.getCourseList()
    const clipboard = new ClipboardJS('.copy', {
      text(trigger) {
        return trigger.getAttribute('copy-text')
      }
    })

    let a = '';
    clipboard.on('success', e => {
     a && a.close();
     a = this.$message({
        message: '复制成功',
        type: 'success'
      })
    })
    this.clipboard = clipboard;
  },
  destroyed() {
    this.clipboard.destroy();
  },
  methods: {
    closeEditPass() {
      this.dialogVisible = false
      this.saveLive()
    },
    getCourseList(name = '') {
      // console.log(astat)
      const pda = {
        auditStatus: 1,
        courseCategory: 2,
        pageCurrent: 1,
        courseName: name,
        lecturerUserNo: this.userInfo.userNo,
        pageSize: 30
      }
      this.inputLoading = true
      lecturerCourseList(pda).then((res) => {
        this.inputLoading = false
        this.courseList = res.data.list
      }).catch(() => {
        this.inputLoading = true
      })
    },
    getChannelInfo() {
      if (!this.courseId) {
        this.$msgBox({ content: '请选择课程信息' })
        return false
      }
      this.load = true
      channelCourseInfo({
        periodId: this.praxisId[1],
        courseId: this.courseId,
        scene: this.scene,
      }).then(res => {
        this.load = false
        this.channelInfo = res.data
        this.$emit('selectLiveSuccess', res.data)
      }).catch(() => {
        this.load = false
      })
    },
    // 设置开播
    saveLiveInfo() {
      if (!this.courseId) {
        this.$msgBox({ content: '请选择开播课程', type: 'error' })
        return false
      }
      if (!this.praxisId[1]) {
        this.$msgBox({ content: '请选择开播章节', type: 'error' })
        return false
      }
      this.load = true;
      channelSave({ periodId: this.praxisId[1], scene: this.scene, smallType: this.smallType
      }).then(res => {
        this.load = false;
        this.getChannelInfo();
        this.$msgBox({ content: '设置成功，请准备开播', type: 'success' })
        this.$emit('saveLiveSuccess')
      }).catch(() => {
        this.load = false;
      })
    },
    selectCourse() {
      getliveChapterNoAuditList({ courseId: this.courseId }).then(res => {
        // 清空章节选择
        this.$refs.formCascader.$refs.panel.clearCheckedNodes()
        this.$refs.formCascader.$refs.panel.activePath = []
        const arr = []
        res.data.chapterList.map(item => {
          arr.push({
            name: item.chapterName,
            ...item
          })
        })
        this.chapterList = arr
      })
    }
  }
}
</script>
<style scoped lang="scss">
.form_group {
  margin-bottom: 20px;
  font-size: 14px;
  .label {
    text-align: right;
    float: left;
    display: block;
    width: 140px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999999;
  }
  .form_ctl {
    margin-left: 12px;
    float: left;
    width: 700px;
    position: relative;
    width: 200px;
    background-color: rgba(245, 245, 245, 1);
    height: 40px;
    font-weight: 400;
    border-radius: 3px;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    padding: 0 10px;
    line-height: 40px;

    &.max {
      width: 600px;
    }
    input {
      width: 310px;
      height: 46px;
      padding-left: 10px;
      border-radius: 6px;
      font-size: 14px;
      margin-top: -5px;
      &.reset_yzm {
        padding-right: 110px;
      }
    }
    .yzm_btn {
      width: 100px;
      height: 46px;
      position: absolute;
      left: 210px;
      top: -5px;
      line-height: 48px;
      background: rgb(213, 20, 35);
      border-radius: 0 6px 6px 0;
      text-align: center;
      color: #fff;
      cursor: pointer;
      border: none;
      &:disabled {
        background: rgb(204, 204, 204);
      }
    }
  }
  .text {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .mgl20 {
      margin-left: 20px;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .form-cascader{
    width: 400px;
    margin-left: 12px;
  }
}
.submit_btn {
  height: 40px;
  width: 230px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #ccc;
  &.b_red {
    border-color: rgb(213, 20, 35);
    background-color: rgb(213, 20, 35);
    &:hover{
      background-color: #e84451;
    }
  }
  &.plain_red{
    color: #f56c6c;
    background-color: #fef0f0;
    border-color: #fbc4c4;
    &:hover{
      color: #fff;
      border-color: rgb(213, 20, 35);
      background-color: rgb(213, 20, 35);
    }
  }
}
.copy,
.reset_pwd {
  color: #0c9bff;
  margin-left: 20px;
  margin-top: 12px;
  display: inline-block;
}

.tip {
  float: left;
  width: 100%;
  padding-left: 156px;
  line-height: 30px;
  color: red;
}
.form_input_min {
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #333;
  position: relative;
  top: -2px;
  background: none;
  border: none;
}
</style>
