<style scoped lang="scss">
.form_group {
  margin-bottom: 20px;
  font-size: 14px;
  .label {
    text-align: right;
    float: left;
    display: block;
    width: 140px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999999;
  }
  .form_ctl {
    margin-left: 22px;
    float: left;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    line-height: 40px;
    &.max {
      width: 600px;
    }
    input {
      width: 310px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      border-radius: 6px;
      font-size: 14px;
      margin-top: -5px;
      &.reset_yzm {
        padding-right: 110px;
      }
    }
    .yzm_btn {
      width: 100px;
      height: 40px;
      position: absolute;
      right: 0px;
      top: -1px;
      line-height: 42px;
      background: rgb(213, 20, 35);
      border-radius: 0 6px 6px 0;
      text-align: center;
      color: #fff;
      cursor: pointer;
      border: none;
      &:disabled {
        background: rgb(204, 204, 204);
      }
    }
  }
  .text {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .mgl20 {
      margin-left: 20px;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.submit_btn {
  height: 46px;
  border: none;
  width: 320px;
  line-height: 46px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 40px auto 0;
  background-color: #ccc;

  &.b_red {
    background-color: rgb(213, 20, 35);
  }
}
.copy,
.reset_pwd {
  color: #0c9bff;
  margin-left: 20px;
  margin-top: 12px;
  display: inline-block;
}
</style>
<template>
  <div class="EditPassword">
    <form @submit="regSubmit" action>
      <input type="text" name="loginName" style="position: absolute; left: -1000000px;" placeholder />
      <input
        type="password"
        name="loginPassword"
        style="position: absolute; left: -1000000px;"
        placeholder
      />
      <div class="form_group">
        <div class="label">频道号:</div>
        <div class="form_ctl">
          <input v-model="channelId" type="text" disabled="disabled" maxlength="11" readonly />
        </div>
      </div>
      <div class="form_group">
        <div class="label">新的密码:</div>
        <div class="form_ctl">
          <input v-model="pobj.passwd" type="password" name="passwd" placeholder="请输入新密码" />
        </div>
      </div>
      <div class="form_group">
        <div class="label">确定密码:</div>
        <div class="form_ctl">
          <input
            v-model="pobj.confirmPassword"
            type="password"
            name="confirmPassword"
            placeholder="请再次输入新密码"
          />
        </div>
      </div>
      <div class="form_group">
        <button :disabled="!submitBtn" class="submit_btn b_red">确认</button>
      </div>  
    </form>
  </div>
</template>

<script>
import { updateChannelPasswd } from '~/api/user.js'
export default {
  name: 'EditPassword',
  props: {
    channelId: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      submitBtn: true,
      resetPwd: true,
      pobj: {
        lecturerUserNo: '',
        mobile: '',
        code: '',
        passwd: '',
        confirmPassword: ''
      }
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    }
  },
  mounted() {
    this.pobj.mobile = this.userInfo.mobile
  },
  methods: {
    regSubmit(e) {
      e.preventDefault()
      if (!/^1[3|4|5|6|7|8|9][0-9]\d{4,8}$/.test(this.pobj.mobile)) {
        this.$msgBox({ content: '请输入正确手机号码' })
        return false
      }
      if (!this.pobj.code) {
        this.$msgBox({ content: '请输入手机验证码' })
        return false
      }
      if (this.pobj.passwd.length < 6 || this.pobj.passwd.length > 16) {
        this.$msgBox({
          content: '请输入6-16位的登录密码,区分大小写,不可有空格'
        })
        return false
      }
      if (this.pobj.passwd !== this.pobj.confirmPassword) {
        this.$msgBox({ content: '两次输入密码不一致' })
        return false
      }
      const uobj = {
        channelId: this.channelId,
        passwd: this.pobj.passwd
      }
      updateChannelPasswd(uobj).then(res => {
        this.$emit('closeEditPass')
        this.$message({
          message: '修改成功',
          type: 'success'
        })
      })
    }
  }
}
</script>
