<style scoped lang="scss">
</style>
<template>
  <div class="person_info padt20">
    <div v-if="notdata" class="notdata">
      <i class="iconfont">&#xe6be;</i>暂时没有数据
    </div>
    <table v-else class="course_table table">
      <thead>
        <tr>
          <th width="524px">课程名称</th>
          <th width="166px">开播时间</th>
          <th width="166px">结束时间</th>
          <th width="106px">状态</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in pageLog.list" :key="index">
          <td width="524px">{{ item.courseName + ' ('+ item.periodName +')' }}</td>
          <td width="166px">{{ item.beginTime }}</td>
          <td width="166px">{{ item.endTime }}</td>
          <td width="106px" class="c_blue">{{ liveStatus[item.liveStatus] }}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <div class="center">
      <el-pagination
        :page-size="pageLog.pageSize"
        :current-page="pageLog.pageCurrent"
        :total="pageLog.totalCount"
        @current-change="getPage"
        class="page-panel"
        background
        layout="prev, pager, next"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { liveLogList } from '~/api/account/course.js'
export default {
  name: 'ExamAdmin',
  data() {
    return {
      liveStatus: ['', '未开播', '正在直播', '待生成回放', '待转存', '结束'],
      pageLog: {
        list: [],
        lecturerUserNo: '',
        liveStatus: 2,
        pageCurrent: 1,
        pageSize: 20,
        totalCount: 0,
        totalPage: 20
      }
    }
  },
  computed: {
    notdata() {
      return !this.pageLog.list.length
    },
    userInfo() {
      return this.$store.state.userInfo
    }
  },
  mounted() {
    this.getLiveLogList()
  },
  methods: {
    getPage(int) {
      this.pageLog.pageCurrent = int
      this.getLiveLogList()
    },
    getLiveLogList() {
      this.pageLog.lecturerUserNo = this.userInfo.userNo
      this.pageLog.liveStatus = 2;
      liveLogList(this.pageLog).then(res => {
        this.pageLog = res.data
      })
    }
  }
}
</script>
