<template>
  <div>
    <div v-if="selectBox" class="select_channel">
      <div class="channel_box" v-loading="loading">
        <div class="select_header">
          <span>选择直播课程</span>
          <a @click="$emit('closeSelect')" href="javascript:" class="close fr iconfont">&#xe616;</a>
        </div>
        <div>
          <!-- <div class="form_group mgt30">
            <div class="label">
              直播场景:
            </div>
            <div class="form_ctl">
              <select v-model="scene" name="" class="form_input_min" placeholder="请选择直播场景">
                <option v-for="i in sceneListt" :key="i.value" :value="i.value" :selected="scene === i.value">{{ i.name }}</option>
              </select>
              <span v-if="scene === 'alone'">适用于:活动拍摄,屏幕共享直播,使用 直播助手 发起</span>
              <span v-if="scene === 'ppt'">适用于:PPT三分屏,多人音视频通话,使用 云课堂 发起</span>
            </div>
          </div>-->
          <div class="form_group mgt30">
            <div class="label">选择课程:</div>
            <div v-if="!liveMsg.courseName" class="text">
              <a @click="showBox('live')" href="javascript:" class="c_blue mgl20">点击选择 ></a>
            </div>
            <div v-else class="text">
              &nbsp;&nbsp;&nbsp;&nbsp;{{ liveMsg.courseName }}
              <a
                @click="showBox('live')"
                href="javascript:"
                class="c_blue mgl20"
              >去修改 ></a>
            </div>
          </div>
          <div v-if="liveMsg.courseName && two" class="form_group">
            <div class="label">选择章节:</div>
            <div v-if="!chapterMsg.courseName" class="text">
              <a @click="showBox('chapter')" href="javascript:" class="c_blue mgl20">点击选择 ></a>
            </div>
            <div v-else class="text">
              &nbsp;&nbsp;&nbsp;&nbsp;{{ chapterMsg.courseName }}
              <a
                @click="showBox('chapter')"
                href="javascript:"
                class="c_blue mgl20"
              >去修改 ></a>
            </div>
          </div>
          <div v-if="chapterMsg.courseName && three" class="form_group">
            <div class="label">选择课时:</div>
            <div v-if="!periodMsg.courseName" class="text">
              <a @click="showBox('period')" href="javascript:" class="c_blue mgl20">点击选择 ></a>
            </div>
            <div v-else class="text">
              &nbsp;&nbsp;&nbsp;&nbsp;{{ periodMsg.courseName }}
              <a
                @click="showBox('period')"
                href="javascript:"
                class="c_blue mgl20"
              >去修改 ></a>
            </div>
          </div>
        </div>
        <a @click="logSave" href="javascript:" class="submit_btn live_btn b_red">保存</a>
      </div>
    </div>
    <div v-if="searchBox" class="select_channel">
      <div class="channel_box">
        <div class="select_header">
          <span>{{ boxTitle }}</span>
          <a @click="closeBox" href="javascript:" class="close fr iconfont">&#xe616;</a>
        </div>
        <div class="search_box">
          <input
            v-model="searchStr"
            :placeholder="placeText"
            @input="searchStart"
            type="input"
            class="search"
          />
          <span class="iconfont icon_search">&#xe633;</span>
        </div>
        <ul class="search_title clearfix">
          <li class="check">选择</li>
          <li class="course_name">课件名称</li>
          <li class="course_pric">价格</li>
        </ul>
        <ul class="search_body clearfix">
          <template v-for="(item, index) in searchList">
            <li
              v-if="item.courseName"
              :key="index"
              :class="{search_active: activeNo === item.id}"
              @click="selectOk(item)"
            >
              <span class="iconfont draw">&#xe6b1;</span>
              <span class="list_name">{{ item.courseName }}</span>
              <span v-if="!item.courseOriginal" class="list_pric">免费</span>
              <span v-else class="list_pric">￥{{ item.courseOriginal }}</span>
            </li>
            <li
              v-else-if="item.chapterName"
              :key="index"
              :class="{search_active: activeNo === item.id}"
              @click="selectOk(item)"
            >
              <span class="iconfont draw">&#xe6b1;</span>
              <span class="list_name">{{ item.chapterName }}</span>
            </li>
            <li
              v-else-if="item.periodName"
              :key="index"
              :class="{search_active: activeNo === item.id}"
              @click="selectOk(item)"
            >
              <span class="iconfont draw">&#xe6b1;</span>
              <span class="list_name">
                {{ item.periodName }}&nbsp;&nbsp;
                <span
                  v-if="item.startTime"
                  class="c_blue"
                >(开播时间:{{ item.startTime }})</span>
              </span>
            </li>
          </template>
        </ul>
        <div class="btn_box">
          <a @click="closeBox('ok')" href="javascript:" class="ok">确定</a>
          <a @click="closeBox" href="javascript:" class="cancel">取消</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  channelSave,
  liveSelect,
  getliveChapterNoAuditList,
  getPeriodNoAuditList
} from '~/api/account/course.js'
export default {
  props: {
    selectBox: {
      type: Boolean
    },
    channelId: {
      type: [Number, String],
      default: 0
    }
  },
  data() {
    return {
      id: '',
      searchStr: '',
      activeNo: '',
      searchList: [],
      courseList: [],
      loading: false,
      courseMsg: {
        courseName: '',
        courseNo: '',
        courseId: ''
      },
      liveMsg: {
        courseName: '',
        courseNo: '',
        courseId: ''
      },
      chapterMsg: {
        courseName: '',
        courseNo: '',
        courseId: ''
      },
      periodMsg: {
        courseName: '',
        courseNo: '',
        courseId: '',
        beginTime: '',
        endTime: ''
      },
      searchBox: false,
      two: false,
      three: false,
      searchTime: null,
      sceneListt: [
        {
          value: 'alone',
          name: '活动拍摄'
        },
        {
          value: 'ppt',
          name: '三分屏'
        }
      ],
      scene: 'alone'
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    }
  },
  methods: {
    logSave() {
      if (!this.periodMsg.courseNo) {
        this.$msgBox({ content: '没有选择到课时' })
        return
      }
      if (!this.scene) {
        this.$msgBox({ content: '没有选择直播场景' })
        return
      }
      const sobj = {
        // scene: this.scene,
        // channelId: this.channelId,
        periodId: this.periodMsg.courseNo
      }
      this.loading = true
      channelSave(sobj)
        .then(res => {
          this.loading = false
          if (res && res.code === 200) {
            this.$confirm('保存成功!', '提示', {
              type: 'success',
              showCancelButton: false
            }).then(() => {
              window.location.reload()
            })
          }
        })
        .catch(() => {
          this.loading = false
        })
    },
    showBox(type) {
      this.searchList = []
      this.courseList = []
      this.pageCurrent = 1
      this.activeName = ''
      this.activeNo = ''
      this.id = ''
      if (type === 'live') {
        this.boxTitle = '选择直播课程'
        this.placeText = '请输入课程名称'
        this.getCourseList(type)
      } else if (type === 'course') {
        this.boxTitle = '选择点播课程'
        this.getCourseList(type)
      } else if (type === 'chapter') {
        this.boxTitle = '选择直播章节'
        this.placeText = '请输入章节名称'
        this.getCourseList(type)
      } else if (type === 'period') {
        this.boxTitle = '选择直播课时'
        this.placeText = '请输入课时名称'
        this.getCourseList(type)
      }
      this.searchBox = true
    },
    closeBox(type) {
      if (!this.activeNo) {
        this.searchBox = false
        this.pageCurrent = 1
        this.searchList = []
        this.courseList = []
        this.searchStr = ''
        return
      }
      if (type === 'ok') {
        if (this.boxTitle === '选择直播课程') {
          this.liveMsg.courseName = this.activeName
          this.liveMsg.courseNo = this.activeNo
          this.liveMsg.courseId = this.id
          this.chapterMsg.courseName = ''
          this.chapterMsg.courseNo = ''
          this.chapterMsg.courseId = ''
          this.periodMsg.courseName = ''
          this.periodMsg.courseNo = ''
          this.periodMsg.courseId = ''
          this.two = false
          this.three = false
          this.getChapterList()
        } else if (this.boxTitle === '选择点播课程') {
          this.courseMsg.courseName = this.activeName
          this.courseMsg.courseNo = this.activeNo
          this.courseMsg.courseId = this.id
        } else if (this.boxTitle === '选择直播章节') {
          this.chapterMsg.courseName = this.activeName
          this.chapterMsg.courseNo = this.activeNo
          this.chapterMsg.courseId = this.id
          this.periodMsg.courseName = ''
          this.periodMsg.courseNo = ''
          this.periodMsg.courseId = ''
          this.getPeriodList()
        } else if (this.boxTitle === '选择直播课时') {
          this.periodMsg.courseName = this.activeName
          this.periodMsg.courseNo = this.activeNo
          this.periodMsg.courseId = this.id
        }
      }
      this.searchBox = false
      this.pageCurrent = 1
      this.searchList = []
      this.courseList = []
      this.searchStr = ''
    },
    searchStart() {
      clearTimeout(this.searchTime)
      this.searchTime = setTimeout(() => {
        if (this.searchStr) {
          this.searchList = []
          let name = ''
          if (this.boxTitle === '选择直播课程') {
            name = 'courseName'
          } else if (this.boxTitle === '选择直播章节') {
            name = 'chapterName'
          } else if (this.boxTitle === '选择直播课时') {
            name = 'periodName'
          }
          for (let i = 0; i < this.courseList.length; i++) {
            if (this.courseList[i][name].indexOf(this.searchStr) !== -1) {
              this.searchList.push(this.courseList[i])
            }
          }
        } else {
          this.searchList = this.courseList
        }
        clearTimeout(this.searchTime)
      }, 500)
    },
    selectOk(item) {
      if (item.chapterName) {
        this.activeNo = item.id
        this.activeName = item.chapterName
      } else if (item.courseName) {
        this.activeNo = item.id
        this.activeName = item.courseName
      } else if (item.periodName) {
        this.activeNo = item.id
        this.activeName = item.periodName
        this.periodMsg.beginTime = item.startTime
        this.periodMsg.endTime = item.endTime
      }
      this.id = item.id
    },
    getCourseList(type) {
      let selectList = ''
      const cobj = {
        lecturerUserNo: this.userInfo.userNo,
        pageCurrent: this.pageCurrent,
        pageSize: 1
      }
      if (type === 'live') {
        cobj.courseCategory = 2
        selectList = liveSelect
      } else if (type === 'chapter') {
        this.getChapterList()
        return
      } else if (type === 'period') {
        this.getPeriodList()
        return
      } else {
        return
      }
      selectList(cobj)
        .then(res => {
          if (res.data.list.length) {
            this.totalPage = res.data.totalPage
            for (let i = 0; i < res.data.list.length; i++) {
              this.courseList.push(res.data.list[i])
              this.searchList.push(res.data.list[i])
            }
            if (this.pageCurrent < this.totalPage) {
              this.pageCurrent += 1
              this.getCourseList(type)
            }
          }
        })
      // selectList(cobj).then((res) => {
      //   console.log(res)
      //   if (res.code === 200 && res.data.list.length) {
      //     this.totalPage = res.data.totalPage
      //     for (let i = 0; i < res.data.list.length; i++) {
      //       this.courseList.push(res.data.list[i])
      //       this.searchList.push(res.data.list[i])
      //     }
      //     if (this.pageCurrent < this.totalPage) {
      //       this.pageCurrent += 1
      //       this.getCourseList(type)
      //     }
      //   }
      // })
    },
    getChapterList() {
      getliveChapterNoAuditList({
        courseId: this.liveMsg.courseNo
      })
        .then(res => {
          if (res.data.chapterList && res.data.chapterList.length) {
            this.courseList = res.data.chapterList
            this.searchList = res.data.chapterList
            this.two = true
          } else {
            this.courseList = []
            this.searchList = []
            this.two = false
          }
        })
        .catch(() => {})
      // getliveChapterNoAuditList({
      //   courseId: this.liveMsg.courseNo
      // }).then((res) => {
      //   console.log(res)
      //   if (res.code === 200 && res.data.chapterList && res.data.chapterList.length) {
      //     this.courseList = res.data.chapterList
      //     this.searchList = res.data.chapterList
      //     this.two = true
      //   } else {
      //     this.courseList = []
      //     this.searchList = []
      //     this.two = false
      //   }
      // })
    },
    getPeriodList() {
      getPeriodNoAuditList({
        chapterId: this.chapterMsg.courseNo
      })
        .then(res => {
          if (res.data.userPeriodList && res.data.userPeriodList.length) {
            this.courseList = res.data.userPeriodList
            this.searchList = res.data.userPeriodList
            this.three = true
          } else {
            this.courseList = []
            this.searchList = []
            this.three = false
          }
        })
        .catch(() => {})
      // getPeriodNoAuditList({
      //   chapterId: this.chapterMsg.courseNo
      // }).then((res) => {
      //   console.log(res)
      //   if (res.code === 200 && res.data.userPeriodList && res.data.userPeriodList.length) {
      //     this.courseList = res.data.userPeriodList
      //     this.searchList = res.data.userPeriodList
      //     this.three = true
      //   } else {
      //     this.courseList = []
      //     this.searchList = []
      //     this.three = false
      //   }
      // })
    }
  }
}
</script>
<style lang="scss" scoped>
.select_channel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.channel_box {
  width: 890px;
  min-height: 305px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -445px;
  .select_header {
    background: rgba(245, 245, 245, 1);
    height: 46px;
    padding: 0 20px;
    line-height: 46px;
    color: #333;
    font-size: 14px;
    font-weight: 650;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #ccc;
  }
  .close {
    color: #999;
    &:hover {
      color: #d51423;
    }
  }
  .channel_sel {
    width: 164px;
    height: 46px;
    margin: -5px 0 0 20px;
  }
  .live_btn {
    border-radius: 6px;
    display: block;
    width: 320px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 30px 0 30px 189px;
    color: #fff;
  }
}
.form_group {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 36px;
  .label {
    text-align: right;
    float: left;
    display: block;
    width: 110px;
    line-height: 36px;
    color: #333;
  }
  .form_ctl {
    margin-left: 12px;
    float: left;
    width: 550px;
    position: relative;
    .form_input_min {
      width: 120px;
      height: 35px;
      border-radius: 6px;
      margin-top: -5px;
    }
  }
  .text {
    color: #333;
    line-height: 36px;
    .mgl20 {
      margin-left: 20px;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
.search_box {
  padding: 4px 0 4px 260px;
  position: relative;
  border-bottom: 1px solid #ccc;
  .search {
    padding: 0 30px 0 20px;
    display: block;
    width: 350px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border-color: rgb(220, 220, 220);
  }
  .icon_search {
    font-size: 26px;
    color: rgb(220, 220, 220);
    position: absolute;
    right: 35px;
    top: 6px;
  }
}
.search_body {
  height: 300px;
  overflow-y: auto;
  li {
    color: #333;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    .draw {
      display: inline-block;
      width: 70px;
      color: green;
      font-size: 20px;
      opacity: 0;
      text-align: center;
    }
    .list_name {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 700px;
      vertical-align: top;
    }
    .list_pric {
      display: inline-block;
      width: 90px;
      text-align: center;
      color: #d51423;
    }
    &.search_active {
      background: rgb(240, 240, 240);
      .draw {
        opacity: 1;
      }
    }
  }
}
.btn_box {
  padding: 4px 0;
  border-top: 1px solid #ccc;
  text-align: center;
  a {
    display: inline-block;
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    &.cancel {
      color: #999;
      border: 1px solid rgb(220, 220, 220);
      margin-left: 20px;
    }
    &.ok {
      background-color: #d51423;
      color: #fff;
      border: 1px solid #d51423;
    }
  }
}
.search_title {
  li {
    float: left;
    height: 40px;
    line-height: 40px;
    color: #333;
    background: rgb(245, 245, 245);
    text-align: center;
    font-size: 14px;
    &.course_name {
      width: 700px;
    }
    // 689
    &.check {
      width: 70px;
    }
    &.course_pric {
      width: 119px;
    }
  }
}
</style>
