
<template>
  <div class="tool">
    <template v-for="(toolItem, index) in toolList">
      <h5 class="title" :key="'h' + index" v-html="toolItem.name"></h5>
      <ul class="list" :key="index">
        <li class="item" v-for="(item, i) in toolItem.list" :key="'i' + i">
          <img :src="item.img" class="item-img" alt />
          <div class="item-text-box">
            <h5 class="item-title" v-html="item.title"></h5>
            <div class="item-tip" v-for="(tip, t) in item.tip" :key="'t' + t">{{ tip }}</div>
          </div>
          <div class="right" v-if="!item.rightImg">
            <div v-if="!toolItem.isWebLive">
              <a
                :href="btn.url"
                target="_blank"
                v-for="(btn, bIndex) in item.rightBtn"
                :key="bIndex"
              >
                <button class="right-btn">{{ btn.name }}</button>
              </a>
            </div>
            <button
              v-else
              class="right-btn"
              v-for="(btn, bIndex) in item.rightBtn"
              :key="bIndex"
              @click="ToWebLive(btn)"
            >
              <span>{{ btn.name }}</span>
            </button>
          </div>
          <div class="right" v-else>
            <img class="code-img" :src="item.rightImg" alt />
            <div class="img-tip">{{ item.rightImgtTip }}</div>
          </div>
        </li>
      </ul>
    </template>
  </div>
</template>

<script>
export default {
  name: 'Tool',
  props: {
    liveData: {
      type: Object,
      default() {
        return null
      }
    }
  },
  data() {
    return {
      webInfo: '',
      toolList: [
        {
          name: '网页WEB <span>（无需安装）</span>',
          isWebLive: true,
          list: [
            {
              img: require('assets/image/channel/5.png'),
              title: '网页直播 <span class="red">推荐</span>',
              tip: [
                '• 无需下载客户端，便捷开播',
                '• 全新UI界面，提升用户体验',
                '• 不受设备系统限制，更新迅速',
                '注：优先使用谷歌浏览器开启直播，上课稳定速度快'
              ],
              rightBtn: [
                {
                  url: 'waitLive',
                  name: '开始直播'
                }
              ]
            }
          ]
        },
        {
          name: '微信小程序',
          list: [
            {
              img: require('../../../assets/image/channel/8.png'),
              title: 'LIVE推一推',
              tip: [
                '• 小程序进行直播，更方便，更简单',
                '• 无需下载APP，轻量，用完即走',
                '• 登录频道后即可开始直播'
              ],
              rightImg: require('../../../assets/image/channel/u156.png'),
              rightImgtTip: '微信扫码体验'
            }
          ]
        },
        {
          name: '桌面客户端',
          list: [
            {
              img: require('../../../assets/image/channel/1.png'),
              title: '直播助手',
              tip: [
                '• 适用于软件操作教学或峰会活动等直播场景',
                '• 视频图层可自定义，支持本地场景切换',
                '• 支持异地多场景导播切换',
                '• 支持大型活动延时直播'
              ],
              rightBtn: [
                {
                  url: 'https://soft.polyv.net/download/PolyvLiveSetup64.exe',
                  name: 'Win版本下载'
                },
                {
                  url: 'https://soft.polyv.net/download/PolyvLiveSetup.dmg',
                  name: 'Mac版本下载'
                }
              ]
            },
            {
              img: require('../../../assets/image/channel/2.png'),
              title: '云课堂',
              tip: [
                '• 适用于PPT文档教学',
                '• 支持美颜、变声、双向画笔等功能',
                '• 最高可支持17人音视频实时连线',
                '• 支持签到、问卷、答题、评分等教学互动',
                '• 直播课堂视频可回放、剪辑合并、下载'
              ],
              rightBtn: [
                {
                  url: 'https://soft.polyv.net/download/PolyvClassSetup64.exe',
                  name: 'Win版本下载'
                }
              ]
            }
          ]
        },
        {
          name: 'APP',
          list: [
            {
              img: require('../../../assets/image/channel/6.png'),
              title: '云直播',
              tip: [
                '适用于手机直播，随时随地直播',
                '• 支持美颜，打造最美直播间',
                '• 支持弹幕、聊天等多样互动',
                '• 支持横竖屏模式，自动对焦，推流清晰度选择等',
                '• 支持打赏功能，展示打赏排行榜'
              ],
              rightImg: require('../../../assets/image/channel/yzb.jpg'),
              rightImgtTip: '二维码直接安装'
            },
            {
              img: require('../../../assets/image/channel/7.png'),
              title: '讲课啦',
              tip: [
                '• 适用于iPad直播，讲师随时随地开课',
                '• 实时答疑，支持讲师学员音视频连麦',
                '• 多维教学形式，支持PPT文档、白板画笔',
                '• 分享便捷，社交平台任意推送'
              ],
              rightImg: require('../../../assets/image/channel/jkl.jpg'),
              rightImgtTip: '二维码直接安装'
            }
          ]
        }
      ]
    }
  },
  watch: {
    liveData(newData) {
      this.toolList.forEach(e => {
        if (e.isWebLive) {
          e.list[0].rightBtn[0].url = newData.webLiveUrl
        }
      })
      this.toolList = this.toolList.concat([])
    }
  },
  mounted() {
    this.webInfo = this.$store.state.webInfo
    this.toolList = this.toolList.concat([])
  },
  methods: {
    ToWebLive(btn) {
      if (btn.url === 'waitLive') {
        console.log(this.liveData)
        if (this.liveData && this.liveData.channelId) {
           window.open('https://live.polyv.net/web-start/login?channelId=' + this.liveData.channelId, '_blank')
        } else {
          this.$router.push('/account/channel?t=4')
        }
      } else if (btn.url) {
        window.open(btn.url, '_blank')
      } else {
        this.$message.error('请在频道信息页面设置直播再来开播！')
      }
    }
  }
}
</script>
<style  lang="scss">
.tool {
  .title {
    span {
      font-weight: 400;
      font-size: 14px;
    }
  }
  .list {
    .item-title {
      .red {
        width: 39px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        background-color: rgba(213, 20, 35, 1);
        display: inline-block;
        font-weight: 400;
        font-style: normal;
        margin-left: 4px;
        font-size: 12px;
        border-radius: 3px;
        color: #ffffff;
      }
    }
  }
}
</style>
<style scoped lang="scss">
.tool {
  width: 1012px;
  background: #fff;
  margin: 30px auto;
  border-radius: 5px;

  .title {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    padding: 0 30px;
    line-height: 30px;
    padding-top: 20px;
    color: #333333;
  }

  .list {
    border-bottom: 1px solid #ddd;
    padding: 0 30px;
    &:last-child {
      border-bottom: none;
    }
    .item {
      display: flex;
      padding: 30px 0;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: none;
      }
      .item-text-box {
        flex: 1;

        .item-title {
          font-weight: 700;
          font-style: normal;
          font-size: 14px;
          color: #333333;
          line-height: 30px;
          margin-bottom: 6px;
        }

        .item-tip {
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #999999;
          line-height: 24px;
        }
      }

      .right {
        padding-top: 10px;
        .code-img {
          width: 100px;
          height: 100px;
        }
        .img-tip {
          text-align: center;
          font-weight: 400;
          font-style: normal;
          font-size: 13px;
          line-height: 30px;
          color: #999999;
        }
        .right-btn {
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          color: #999999;
          width: 96px;
          height: 36px;
          line-height: 34px;
          background-color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(153, 153, 153, 1);
          border-radius: 3px;
          margin-right: 6px;
        }
      }
      .item-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
  }
}
</style>
