<template>
  <div class="person_info padt20">
    <div v-if="notdata" class="notdata">
      <i class="iconfont">&#xe6be;</i>暂时没有数据
    </div>
    <table v-else class="course_table table">
      <thead>
      <tr>
        <th width="524px">课程名称</th>
        <th width="524px">频道号</th>
        <th width="524px">频道密码</th>
        <th width="524px">直播场景</th>
        <th width="166px">开播时间</th>
        <th width="106px">状态</th>
        <th width="106px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item, index) in list" :key="index">
        <td width="224px">{{ item.courseName + ' ('+ item.periodName +')' }}</td>
         <td width="60px">
          <span v-if="item.livePlatform === 1">{{ item.channelId }}</span>
          <span v-else>授权开播</span>
        </td>
        <td width="60px">
          <span v-if="item.livePlatform === 1">{{ item.channelPasswd }}</span>
          <span v-else>无</span>
        </td>
        <td width="60px">
          <span>{{item.scene | sceneFilter(webInfo.livePlatform)}}</span>
        </td>
        <td width="366px">{{ item.beginTime }}</td>
        <td width="160px" class="c_blue">{{ liveStatus[item.liveStatus] }}</td>
        <td width="380px" class="c_blue">
          <el-button type="text" class="find-btn" @click="openLive(item)">立即开播</el-button>
          <el-button type="text" class="find-btn" @click="showChannel(item)">查看频道信息</el-button>
        </td>
      </tr>
      </tbody>
    </table>
    <el-dialog
      title="频道信息"
      :visible.sync="dialogVisible"
      width="500"
      :before-close="handleClose">
      <el-form inline label-width="80px">
        <el-form-item label="开播课程:">
          <div class="form-group">{{ channelData.courseName + ' ('+ channelData.periodName +')' }}</div>
        </el-form-item>
        <el-form-item label="开播时间">
          <div class="form-group">{{ channelData.beginTime }}</div>
        </el-form-item>
        <div v-if="channelData.livePlatform === 2" class="">
          <el-form-item label="主播ID">
            <div class="form-group">{{ channelData.bid }}</div>
          </el-form-item>
          <el-form-item label="主播密码">
            <div class="form-group">{{ channelData.channelPasswd }}</div>
          </el-form-item>
        </div>
        <el-form-item label="频道号" v-if="channelData.livePlatform === 1">
          <div class="form-group">{{ channelData.channelId }}</div>
        </el-form-item>
        <el-form-item label="频道密码" v-if="channelData.livePlatform === 1">
          <div class="form-group">{{ channelData.channelPasswd }}</div>
        </el-form-item>
        <el-form-item label="助教号" v-if="channelData.livePlatform === 1">
          <div class="form-group">{{ channelData.assistantChannelId }}</div>
        </el-form-item>
        <el-form-item label="助教密码" v-if="channelData.livePlatform === 1">
          <div class="form-group">{{ channelData.assistantPasswd }}</div>
        </el-form-item>
        <el-form-item label="助教地址">
          <el-input class="form-group-block" v-model="channelData.assistantUrl" readonly>
          </el-input>
          <a :copy-text="channelData.assistantUrl" href="javascript:" class="copy">复制</a>
        </el-form-item>
        <el-form-item label="开播地址">
          <el-input class="form-group-block" v-model="channelData.webLiveUrl" readonly>
          </el-input>
          <a :href="channelData.webLiveUrl" target="_blank" class="c_blue">立即开播</a>
        </el-form-item>
        <el-form-item label="观看地址">
          <el-input class="form-group-block" v-model="viewUrl" readonly></el-input>
          <a :copy-text="viewUrl" href="javascript:" class="copy">复制</a>
        </el-form-item>
        <el-form-item label="推流地址">
          <el-input class="form-group-block" v-model="channelData.pushFlowUrl" readonly></el-input>
          <a :copy-text="channelData.pushFlowUrl" href="javascript:" class="copy">复制</a>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">关 闭</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import { channelInfo } from '~/api/account/course.js'
  export default {
    name: 'WaitLive',
    filters: {
      viewUrl(val) {
        return ''
      },
      sceneFilter(val, livePlatform) {
        let type = {
          'alone': '活动拍摄',
          'ppt': '三分屏'
        }
        if (livePlatform == 2) {
          type = {
            'alone': '活动拍摄',
            'ppt': '二分屏',
            'largeInteractive': '大班互动',
            'smallClass': '小班'
          }
        }
        return type[val] || '其他场景'
      }
    },
    props: {
      list: {
        type: Array,
        default: () => {
          return []
        }
      }
    },
    data() {
      return {
        liveStatus: ['', '未开播', '正在直播', '待生成回放', '待转存', '结束'],
        dialogVisible: false,
        channelData: {}
      }
    },
    computed: {
      notdata() {
        return !this.list.length
      },
      viewUrl() {
        return window.location.origin + '/live/detail/' + this.channelData.courseId
      },
      userInfo() {
        return this.$store.state.userInfo
      },
      webInfo() {
        return this.$store.state.webInfo
      }
    },
    mounted() {
    },
    methods: {
      showChannel(row) {
        this.dialogVisible = true
        channelInfo({ periodId: row.periodId }).then(res => {
          this.channelData = res.data
        })
      },
      openLive(row) {
        window.open(row.liveUrl, '_blank')
      },
      handleClose() {
        this.dialogVisible = false
      }
    }
  }
</script>
<style scoped lang="scss">
  .form-group {
    width: 240px;
  }
  .form-group-block{
    width: 500px;
  }
</style>
