<template>
      <div class="person_content">
        <ul class="person_title clearfix">
          <li :class="{now: num == 1}">
            <a @click="clicktab(1)" href="javascript:">点播课程</a>
          </li>
          <li :class="{now: num == 2}">
            <a @click="clicktab(2)" href="javascript:">直播课程</a>
          </li>
          <li :class="{now: num == 4}">
            <a @click="clicktab(4)" href="javascript:">文库中心</a>
          </li>
        </ul>
        <div v-if="notdata" class="notdata">
          <i class="iconfont">&#xe6be;</i>暂时没有数据
        </div>
        <div v-if="!notdata" class="person_info">
          <div v-for="(list, index) in pageObj.list" :key="index" :class="{no_left: num == 5}" class="course_content">
            <div v-if="list.courseLogo" class="img_box fl">
              <img :src="list.courseLogo" :alt="list.courseName">
            </div>
            <div class="fl clearfix">
              <p class="course_study course_name">
                {{ list.courseName }}
              </p>
              <p class="course_study">
                上次学习：
                <span v-if="list.periodName">{{ list.periodName }}</span>
                <span v-else>{{ list.chapterName }}</span>
              </p>
              <div class="course_study">
                学习进度：
                <div class="study-progress">
                  <el-progress v-if="list.studyProcess == null" :text-inside="true" :stroke-width="14" :percentage="0"></el-progress>
                  <el-progress v-else :text-inside="true" :stroke-width="14" :percentage="list.studyProcess"></el-progress>
                </div>
              </div>
              <p v-if="list.lastStudyTime" class="course_study">
                学习时间：{{ list.lastStudyTime }}
              </p>
            </div>
            <nuxt-link v-if="num == 1" :to="{ name: 'view-id', params: { id: list.courseId } }" target="_blank">
              进入学习
            </nuxt-link>
            <nuxt-link v-else-if="num == 2" :to="{ name: 'live-detail-id', params: { id: list.courseId } }" target="_blank">
              进入学习
            </nuxt-link>
            <nuxt-link v-else-if="num == 4" :to="{ name: 'resource-detail-id', params: { id: list.courseId } }" target="_blank">
              进入学习
            </nuxt-link>
          </div>
          <br>
          <div class="center">
            <el-pagination
              :page-size="pageObj.pageSize"
              :current-page="pageObj.pageCurrent"
              :total="pageObj.totalCount"
              @current-change="getPage"
              class="page-panel"
              background
              hide-on-single-page
              layout="prev, pager, next">
            </el-pagination>
          </div>
        </div>
      </div>
</template>
<script>
import { myCourseList } from '~/api/account/course.js'
export default {
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的课程'
    }
  },
  data() {
    return {
      num: 1,
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    },
    notdata() {
      return !this.pageObj.list.length
    }
  },
  mounted() {
    this.obj = {
      courseType: 1,
      pageCurrent: 1,
      pageSize: 5
    }
    this.getCourseList(this.num)
  },
  methods: {
    getPage(int) {
      this.obj.pageCurrent = int
      this.getCourseList(this.num)
    },
    getCourseList(int) {
      this.obj.courseCategory = int
      myCourseList(this.obj).then((res) => {
        this.pageObj = res.data
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      })
    },
    clicktab(int) {
      this.num = int;
      this.obj.orderStatus = int;
      this.obj.pageCurrent = 1;
      this.getCourseList(int);
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .person_body {
    width: 1200px;
    margin: 30px auto 0;
    min-height: 1000px;
  }
  .person_content {
    width: 1012px;
    float: right;
    background: #fff;
    border-radius: 6px;
  }
  .person_title {
    border-bottom: 1px solid rgb(242, 242, 242);
    position: relative;
    li {
      float: left;
      line-height: 60px;
      padding: 0 30px;
      font-size: 14px;
      &.now {
        border-bottom: 2px solid #D51423;
        a {
          color: #D51423;
        }
      }
      a:hover {
        color: #D51423;
      }
    }
  }
  .person_info {
    min-height: 400px;
    padding-bottom: 30px;
  }
  .course_content {
    padding: 25px 0;
    height: 136px;
    margin: 0 25px;
    border-bottom: 2px solid rgb(242, 242, 242);
    position: relative;
    .img_box {
      display: inline-block;
      width: 175px;
      height: 86px;
    }
    img {
      width: 175px;
      height: 86px;
    }
    .course_study{
      margin-top: 10px;
      margin-left: 20px;
      font-size: 14px;
      color: #999;
      &.course_name {
        color: #333;
      }
      span {
        color: #333;
        font-size: 12px;
      }
    }
    &.no_left {
      p {
        left: 20px;
      }
    }
    a {
      display: block;
      width: 106px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border-radius: 6px;
      font-size: 14px;
      border: 1px solid #999;
      color: #999;
      background: #fff;
      position: absolute;
      top: 25px;
      right: 0;
      cursor: pointer;
      &:hover {
        color: #D51423;
        border-color: #D51423;
      }
    }
    .study-progress{
      position: relative;
      display: inline-block;
      width: 200px;
      .text{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 100%;
        text-align: left;
        margin-left: 12px;
      }
    }
  }
  .notdata{
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    color: #999;
    min-height: 400px;
    i{
      font-size: 30px;
      padding-right: 12px;
    }
  }
</style>
