<template>
<!--index.wxml-->
<view class="main">
  <view class="search_box">
    <view class="p_relative">
    <image class="search_icon" src="../../static/images/search.svg"></image>
      <view class="search_input" @tap="goSearch">请输入搜索内容</view>
    </view>
  </view>
  <swiper class="swiper" indicator-dots="true" autoplay="true" interval="3000" duration="500" circular="true">
    <swiper-item v-for="(item, index) in advList" :key="index">
     <!--  #ifdef  MP-WEIXIN -->
     <navigator v-if="item.mobileTerminalCategory == 1" :url="'/pages/course/view/view?id=' + item.courseId" class="banner-link">
        <image :src="item.advImg" class="slide-image"></image>
      </navigator>
      <navigator v-else :url="item.advUrl" class="banner-link">
       <image :src="item.advImg" class="slide-image"></image>
     </navigator>
     <!--  #endif -->
     	
       
      <!--  #ifndef  MP-WEIXIN  -->
      <a v-if="item.mobileTerminalCategory == 1" :href="'/pages/course/view/view?id=' + item.courseId" class="banner-link">
     	<image :src="item.advImg" class="slide-image"></image>
       </a>
       <a v-else :href="item.advUrl" class="banner-link">
        <image :src="item.advImg" class="slide-image"></image>
      </a>
      <!--  #endif -->
    </swiper-item>
  </swiper>

  <view v-for="(item, index) in indexData" :key="index" class="mgb10 b_fff">
    <view class="course_header">
      <text class="font33_bold">{{item.zoneName}}</text>
      <navigator open-type="switchTab" v-if="item.zoneCourseCategory == 0" url="../resourcelist/resourcelist" class="font25 c_999">查看更多题 ></navigator>
      <navigator open-type="switchTab" v-if="item.zoneCategory < 3" url="../course/list/list" class="font25 c_999">查看更多课程 ></navigator>
      <navigator v-if="item.zoneCategory === 4" url="/pages/resource/list" class="font25 c_999">查看更多文库 ></navigator>
      <navigator open-type="switchTab" v-if="item.zoneCategory == 5" url="/pages/exam/list" class="font25 c_999">查看更多试卷 ></navigator>
      <navigator v-if="item.zoneCategory === 8" url="/pages/news/news" class="font25 c_999">更多 ></navigator>
    </view>
    <view class="course_box" v-if="item.zoneCategory < 3">
      <view v-for="(that, index2) in item.courseList" :key="index2" class="course_info">
        <navigator v-if="that.courseCategory === 1" :url="'../course/view/view?id=' + that.id">
          <view class="img_box">
            <view class="qizi" v-if="activityObj['a' + that.courseNo] && showPrice">
              <view>
                <view>优惠卷</view>
                <view>{{activityObj['a' + that.courseNo]}}</view>
              </view>
            </view>
            <image :src="that.courseLogo" class="course_img"></image>
          </view>
          <view class="font25 couese_name mgt10 c_333">
			  <text class="text-ov-2">
				  {{that.courseName}}
			  </text>
		  </view>
          <text class="font33 c_red" v-if="showPrice">{{!that.isFree ? '￥' + that.courseOriginal : '免费'}}</text>
		  <text class="font25 c_gold mgl20" v-if="showPrice">SVIP:{{that.courseDiscount ? '￥' + that.courseDiscount : '免费'}}</text>
        </navigator>
        <navigator v-else-if="that.courseCategory === 2" :url="'../course/live/live?id=' + that.id">
          <view class="img_box">
          <view class="qizi" v-if="activityObj['a' + that.courseNo] && showPrice">
            <view>
                <view>优惠卷</view>
                <view>{{activityObj['a' + that.courseNo]}}</view>
              </view>
            </view>
            <image :src="that.courseLogo" class="course_img"></image>
          </view>
          <view class="font25 couese_name mgt10 c_333">
			<text class="text-ov-2">
				{{that.courseName}}(直播)
			</text>
		  </view>
          <text class="font33 c_red" v-if="showPrice">{{!that.isFree ? '￥' + that.courseOriginal : '免费'}}</text>
		  <text class="font25 c_gold mgl20" v-if="showPrice">SVIP:{{that.courseDiscount ? '￥' + that.courseDiscount : '免费'}}</text>
        </navigator>
		
		<navigator v-else-if="that.courseCategory === 2" :url="'../course/live/live?id=' + that.id">
		  <view class="img_box">
		  <view class="qizi" v-if="activityObj['a' + that.courseNo] && !hidePrice">
		    <view>
		        <view>优惠卷</view>
		        <view>{{activityObj['a' + that.courseNo]}}</view>
		      </view>
		    </view>
		    <image :src="that.courseLogo" class="course_img"></image>
		  </view>
		  <text class="font25 couese_name mgt10 c_333">{{that.courseName}}(直播)</text>
		  <text class="font33 c_red" v-if="!hidePrice">{{!that.isFree ? '￥' + that.courseOriginal : '免费'}}</text>
		</navigator>
      </view>
    </view>
	<view class="examList" v-if="item.examList && item.examList.length" >
		<navigator v-for="(exam, index) in item.examList" :url="'/pages/exam/details?id=' + exam.id" :key="index">
			<view class="examItem" >
				<view class="examItemTitle">{{ exam.examName }}</view>
				<view class="examItemTip">
					{{ exam.subjectName || '' }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ exam.totalScore }}分
					<view class="fr">
						<view class="tipItem">
							<image class="icon" src="../../static/images/exam/u29.svg" alt=""></image>{{ exam.studyCount }}
						</view>
						<view class="tipItem">
							<image class="icon" src="../../static/images/exam/u31.svg" alt=""></image>{{ exam.downloadCount }}
						</view>
					</view>
				</view>
			</view>
		</navigator>
	</view>
	<resource-list :list="item.courseList" v-if="item.zoneCategory === 4"></resource-list>
	<news-list :list="item.blogList" v-if="item.zoneCategory === 8"></news-list>
  </view>
  <view class="no_more c_999 font25 text_center" v-if="showNoMore">没有更多了...</view>
  <nav-list v-if="isShowClass" @close="showClass"></nav-list>
</view>
</template>

<script>
//index.js
import { advList, zoneList } from "../../api/main"; //获取应用实例
//获取应用实例
const app = getApp();

import resourceList from "@/components/resource/resourceList.vue"
import newsList from "@/components/news/newsList.vue"

export default {
  data() {
    return {
      isShowPay: false,
      showNoMore: false,
      isShowClass: false,
	  showPrice:false,
      advList: [],
      indexData: [],
	  activityObj: {},
      userInfo: "",
      hasUserInfo: false
    };
  },

  components: {resourceList, newsList},
  props: {},
  onShareAppMessage: function () {
    const userInfo = uni.getStorageSync('userInfo');
    console.log(userInfo);
    let url = 'pages/index/index';

    if (userInfo) {
      url += '?referralCode=' + userInfo.referralCode;
    }
	
    return {
      path: url
    };
  },
  onLoad: function (options) {
    if (options.referralCode) {
      uni.setStorage({
        'key': 'referralCode',
        'data': options.referralCode
      });
    }
    this.setData({
      showPrice: uni.getStorageSync('showPrice')
    });


	const d = {
	  platShow: 2,
	  mobileTerminalCategory: 1,
	  advLocation: 1
	};

	// #ifdef H5
		d.mobileTerminalCategory = 2;
	// #endif
	
	advList(d).then(res => {
	  this.setData({
	    advList: res.advList
	  });
	}).catch((e) => {});
    zoneList({
      zoneLocation: 2
    }).then(res => {
      this.setData({
        indexData: res.list
      });
    }).catch((e) => {});
    // uni.showShareMenu({
    //   withShareTicket: true
    // });
  },
  methods: {
    //事件处理函数
    bindViewTap: function () {
      uni.navigateTo({
        url: '../logs/logs'
      });
    },
    goSearch: () => {
      uni.navigateTo({
        url: '../course/search/search'
      });
    },

    getUserInfo: function (e) {
      app.globalData.userInfo = e.detail.userInfo;
      this.setData({
        userInfo: e.detail.userInfo,
        hasUserInfo: true
      });
    }
  }
};
</script>
<style lang="scss" scoped>
/**index.wxss**/
.main {
	padding-top: 78upx;
}

.examList {
	padding: 0 20upx;
	.examItem {
		padding: 30upx 0;
		border-bottom: 1px solid rgba(228, 228, 228, 1);
		
		&:last-child {
			border-bottom: none;
		}
		.examItemTitle {
			font-weight: 400;
			font-style: normal;
			line-height: 30px;
			color: #333333;
			font-size: 14px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		
		.examItemTip {
			line-height: 30px;
			color: #666666;
			font-size: 13px;
			.fr {
				.tipItem {
					display: inline-block;
					padding: 0 20upx;
					.icon {
						width: 32upx;
						position: relative;
						top: 4px;
						height: 32upx;
						margin-right: 10upx;
					} 
				}
			}
		}
	}
}
.swiper {
	margin-top: 0px;
}
.search_box {
  background: #2388EC;
  display: flex;
  padding: 10rpx 0;
  position: fixed;
  top: 0;
  /*  #ifdef  H5  */
  top: 44px;
  /*  #endif  */
  
  z-index: 1;
  width: 100%;
}
.class_box {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 20rpx;
}
.class_icon {
  width: 35rpx;
  height: 35rpx;
  margin: 0 auto;
}
.search_icon {
  width: 25rpx;
  height: 25rpx;
  position: absolute;
  top: 19rpx;
  left: 30rpx;
}
.search_input {
  background: #fff;
  height: 61rpx;
  line-height: 61rpx;
  color: #999;
  width: 670rpx;
  border-radius: 6px;
  font-size: 14px;
  padding-left: 45rpx;
  margin-left: 20rpx;
}
swiper {
  height: 325rpx;
  margin-top: 81rpx;
}
.slide-image {
  width: 100%;
  height: 325rpx;
}
.course_header {
  padding: 0rpx 20rpx;
  height: 80rpx;
  line-height: 80rpx;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.course_box {
  padding: 20rpx 20rpx 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course_info {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20rpx;
}
.img_box {
  width: 100%;
  height: 166rpx;
  position: relative;
}
.course_img {
  width: 100%;
  height: 166rpx;
  border-radius: 3px;
}
.couese_name{
  display: block;
  height: 68rpx;
  overflow: hidden;
}

.c_gold {
	float: right;
	margin-top: 12upx;
}
.teacher_info {
  width: 32%;
  border-radius: 6px;
  border: 1px solid rgb(245, 245, 245);
  position: relative;
}
.blue_box {
  height: 94rpx;
  background: rgba(36, 136, 236, 1);
  border-radius: 6px 6px 0 0;
}
.teacher_logo {
  position: absolute;
  width: 66rpx;
  height: 66rpx;
  top: 61rpx;
  left: 50%;
  margin-left: -33rpx;
  border-radius: 50%;
}
.teacher_msg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120rpx;
  padding: 54rpx 10rpx 10rpx;
}
.no_wrap {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
</style>
