<template>
	<view class="vipMain">
		<view class="content">
			<view class="vip">
				<view class="logo">
					<image src="../../static/images/vip/viplogo.svg" mode="aspectFill"></image>
				</view>
				<view class="text">
					<view class="vipName">超级会员（SVIP）</view>
					<view class="vipTip"> {{ userInfo.isVip ? '已开通,可以续费!' : '未开通' }}</view>
				</view>
			</view>

			<view class="vipInfo">
				<view class="bg">
					<view class="privilege">
						<view class="title">享专属特权</view>
						<view class="privilegeList">
							<view class="privilegeItem" v-for="(item, index) in privilegeList" :key="index">
								<image mode="aspectFill" :src="item.image"></image>
								<view class="privilegeItemTitle">{{ item.title }}</view>
								<view class="privilegeItemTip">{{ item.tip }}</view>
							</view>
						</view>
					</view>

					<view class="vipBox">
						<view class="title">开通即刻生效</view>
						<view class="vipList">
							<view v-for="(item, index) in vipList" :key="index" :class="['vipItem', selectIndex == index?'active':'']" @click="select(index)">
								<view class="name">{{ userInfo.isVip ? '续费' : '' }}{{  vipType[item.setType].name  }}</view>
								<view class="price">￥<text>{{ item.fabPrice_z }}</text>.{{ item.fabPrice_x }}</view>
								<view class="time">/{{ vipType[item.setType].day }}天</view>
								<view class="original">￥{{ item.orgPrice }}</view>
								<view class="seelct">
									<uni-icons class="checkmarkempty" color="#613616" type="checkmarkempty" size="20" />
								</view>
							</view>
						</view>
					</view>



					<view class="vipExplain">
						<view class="vipExplainTitle">会员权益与服务说明</view>
						<view class="vipExplainText">
							<text>1、</text>会员有效期内可免费学习会员免费课。
						</view>
						<view class="vipExplainText">
							<text>2、</text>会员折扣：会员有效期内，购买学院付费课程可享有对应会员折扣。
						</view>
						<view class="vipExplainText">
							<text>3、</text>会员到期：自购买之日起，所购会员对应的权益随会员过期自动到期，临近到期您可进行会员续费。
						</view>
						<view class="vipExplainText">
							<text>4、</text>会员续费：当前会员未到期进行续费的用户，权益和有效期自动顺延
						</view>
						<view class="vipExplainText">
							<text>5、</text>会员属于虚拟商品，一经售出，不予退费。
						</view>
						<view class="vipExplainText">
							<text>6、</text>禁止用户使用任何方式利用本站文库为他人提供有偿服务，一经发现，本站有权查封该账号并追究法律责任
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="footer">
			<view class="buyBtn" @click="toBuy()">￥{{ selectVip.fabPrice }}立即开通</view>
		</view>
	</view>
</template>

<script>
	import {
		vipList
	} from "@/api/main.js"
	import auth from "@/utils/auth.js"
	import uniStatusBar from "@/components/uni-status-bar/uni-status-bar.vue";
	export default {
		components: {
			uniStatusBar
		},
		data() {
			return {
				vipList: [],
				selectIndex: 0,
				selectVip: {},
				userInfo: uni.getStorageSync('userInfo'),
				vipType: [
				        {},
				        {
				          name: '年度会员',
				          day: 365
				        },
				        {
				          name: '季度会员',
				          day: 92
				        },
				        {
				          name: '月度会员',
				          day: 30
				        }
				      ],
				privilegeList: [{
					title: '免费课程',
					tip: '专属课程免费看',
					image: require("../../static/images/vip/mian.png"),
				}, {
					title: '超低折扣',
					tip: '最低五折起',
					image: require("../../static/images/vip/zhe.png"),
				}, {
					title: '活动专享',
					tip: '活动期享折上折',
					image: require("../../static/images/vip/act.png"),
				}]
			};
		},
		mounted() {
			this.getVipList()
		},
		methods: {
			async getVipList() {
				const vipData = await vipList()
				const list = vipData.list || []
				list.forEach(e => {
					e.fabPrice = e.fabPrice.toFixed(2)
					const l = e.fabPrice.split('.')
					e.fabPrice_z = l[0]
					e.fabPrice_x = l[1]
				})
				this.vipList = list.sort((a, b) => {
					return b.setType - a.setType
				})
				this.selectVip = this.vipList[0];
			},
			toBuy() {
				if(!auth.isLogin()) {
					uni.showToast({
						icon: "none",
					    title: '请先登录！再来下载'
					});
					setTimeout(()=>{
						auth.login()
					}, 2000)
					return;
				}
				this.selectVip.name = this.vipType[this.selectVip.setType].name
				this.selectVip.day = this.vipType[this.selectVip.setType].day
				uni.navigateTo({
				  url: '../order_vip/order?info=' + JSON.stringify(this.selectVip)
				});
			},
			select(Index) {
				this.selectIndex = Index
				this.selectVip = this.vipList[Index];
			}
		}
	}
</script>
<style lang="scss" scoped>
	.vipMain {
		background: #2B2C34;
	}

	.content {
		padding: 60upx 0upx 0;

		.vip {
			height: 310upx;
			border-radius: 8px;
			margin: 0 36upx;
			background: url('../../static/images/vip/vip.jpg') center no-repeat;
			background-size: 100%;
			display: flex;
			box-sizing: border-box;
			padding: 36upx;

			.text {
				flex: 1;

				.vipName {
					font-weight: bold;
					font-size: 16px;
					line-height: 46upx;
					padding-top: 10upx;
					color: #613616;
				}

				.vipTip {
					font-size: 12px;
					line-height: 17px;
					color: #855936;
				}
			}

			.logo {
				width: 100upx;
				height: 100upx;
				text-align: center;
				margin-right: 18upx;

				image {
					height: 100%;
					width: 100%;
				}
			}

		}

		.vipInfo {
			background: url(../../static/images/vip/Rectangle%207-min.png) center no-repeat;
			background-size: 100% auto;
			background-position: top center;
			margin-top: -160upx;
			padding: 36upx 0 0;

			.bg {
				margin-top: 60upx;
				background: rgb(55, 56, 64);
				padding: 0 36upx 160upx;

				.privilege {
					background-color: #fff;
					border-radius: 8px;

					.title {
						margin: 0 30upx;
						font-weight: bold;
						font-size: 16px;
						padding-top: 8upx;
						line-height: 80upx;
						color: #333333;
						border-bottom: 1px solid #E5E5E5;
					}

					.privilegeList {
						font-size: 0px;

						.privilegeItem {
							padding: 40upx 0;
							display: inline-block;
							width: 33.33%;
							text-align: center;

							image {
								width: 80upx;
								height: 80upx;
								margin-bottom: 16upx;
							}

							.privilegeItemTitle {
								font-weight: bold;
								font-size: 14px;
								line-height: 68upx;
								color: #E9B384;
							}

							.privilegeItemTip {
								font-size: 11px;
								line-height: 40upx;
								color: #E9B384;
							}
						}
					}
				}

				.vipBox {
					.title {
						margin: 30upx 0;
						font-weight: bold;
						font-size: 16px;
						line-height: 44upx;
						color: #77798E
					}

					.vipList {
						font-size: 0px;
						margin-bottom: 60upx;

						.vipItem {
							font-size: 12px;
							display: inline-block;
							width: 206upx;
							margin-right: 30upx;
							background: #FFFFFF;
							border: 1px solid #E5E5E5;
							box-sizing: border-box;
							border-radius: 8px;
							text-align: center;
							padding: 4upx 0 20upx;

							&:last-child {
								margin-right: 0;
							}

							&.active {
								border: 2px solid #E9B384;
								position: relative;

								.seelct {
									display: block;
									position: absolute;
									right: -1px;
									bottom: -1px;
									width: 60upx;
									height: 60upx;
									background: url(../../static/images/vip/selectBg.png) center no-repeat;
									background-size: 98%;
									border-radius: 0 0 8px 0;

									.checkmarkempty {
										position: relative;
										left: 6px;
										top: 8px;
									}
								}
							}

							.seelct {
								display: none;
							}


							.name {
								font-weight: bold;
								font-size: 16px;
								line-height: 44px;
								color: #333333;
							}

							.price {
								font-weight: bold;
								font-size: 14px;
								line-height: 50upx;
								color: #E9B384;

								text {
									font-size: 22px;
								}
							}

							.original,
							.time {
								font-size: 12px;
								line-height: 44upx;
								color: #999999;
							}

							.time {
								margin-top: 12upx;
							}

							.original {
								text-decoration: line-through
							}
						}
					}
				}
			}
		}

		.vipExplain {
			margin-top: 40upx;

			.vipExplainTitle {
				font-weight: bold;
				font-size: 14px;
				line-height: 50upx;
				color: #77798E;
				margin-bottom: 20upx;
			}

			.vipExplainText {
				font-size: 12px;
				line-height: 36upx;
				color: #77798E;
				padding-left: 40upx;
				position: relative;
				margin-bottom: 4upx;

				text {
					position: absolute;
					left: 0;
					top: 0;
					width: 40upx;
				}
			}
		}
	}


	.buyBtn {
		width: 100%;
		height: 84upx;
		background: linear-gradient(97.06deg, #F3D2B1 0%, #E9B384 100%);
		border-radius: 42upx;
		font-weight: bold;
		font-size: 16px;
		line-height: 84upx;
		text-align: center;
		color: #613616;
	}

	.footer {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 20upx 36upx;
		background: rgb(55, 56, 64);
	}
</style>
