<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose">
    <el-form ref="form" :model="info" :rules="rules" label-width="80px">
      <el-form-item label="学员手机" prop="mobile">
        <el-input v-model="info.mobile" disabled class="form-group">
        </el-input>
      </el-form-item>
      <el-form-item label="推广下级" prop="isAllowInvitation">
        <el-radio-group v-model="info.isAllowInvitation">
          <el-radio v-for="item in isAllowInvitations" :key="item.code" :label="''+ item.code">{{ item.desc }}</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="推广比例" prop="spreadProfit">
        <el-input class="form-group" v-model="info.spreadProfit" type="number" controls-position="right" :min="0" :max="100">
          <template slot="append">%</template>
        </el-input>
      </el-form-item>
      <el-form-item label="邀请比例" prop="inviteProfit">
        <el-input class="form-group" v-model="info.inviteProfit" type="number" controls-position="right" :min="0" :max="100">
          <template slot="append">%</template>
        </el-input>
      </el-form-item>
      <el-form-item label="描述" prop="remark">
        <el-input v-model="info.remark" type="textarea" class="form-group"  />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { distributionEdit } from '@/api/user'

  export default {
    name: 'EditAgent',
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        isAllowInvitations: [],
        rules: {
          mobile: [
            { required: true, message: '选择用户', trigger: 'blur' }
          ],
          isAllowInvitation: [
            { required: true, message: '请选择是否允许推广下级', trigger: 'blur' }
          ],
          spreadProfit: [
            { required: true, message: '请输入推广比例', trigger: 'blur' }
          ],
          inviteProfit: [
            { required: true, message: '请输入邀请比例', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'IsAllowInvitationEnum', type: 'arr' }).then(res => {
        this.isAllowInvitations = res;
      });
    },
    methods: {
      handleClose() {
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        distributionEdit(this.info).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
.form-group {
  width: 100%;
  max-width: 300px;
}
</style>
