<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="状态(1:正常，2:禁用)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="讲师用户编号" prop="lecturerUserNo">
            <el-input v-model="form.lecturerUserNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="讲师名称" prop="lecturerName">
            <el-input v-model="form.lecturerName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户手机号" prop="mobile">
            <el-input v-model="form.mobile" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="订单号" prop="orderNo">
            <el-input v-model="form.orderNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="订单流水号" prop="serialNumber">
            <el-input v-model="form.serialNumber" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="关联ID" prop="refId">
            <el-input v-model="form.refId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="关联名称" prop="refName">
            <el-input v-model="form.refName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程ID" prop="courseId">
            <el-input v-model="form.courseId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课程名称" prop="courseName">
            <el-input v-model="form.courseName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程类型：1课程，2章节，3课时" prop="courseType">
            <el-input v-model="form.courseType" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="订单状态：1待支付，2成功支付，3支付失败，4已关闭，4已退款" prop="orderStatus">
            <el-input v-model="form.orderStatus" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="订单价格（元）" prop="orderPrice">
            <el-input v-model="form.orderPrice" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="支付时间" prop="payTime">
            <el-input v-model="form.payTime" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="支付方式：1微信支付，2支付宝支付，4手工录单" prop="payType">
            <el-input v-model="form.payType" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="平台收入" prop="platformIncome">
            <el-input v-model="form.platformIncome" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="讲师收入" prop="lecturerIncome">
            <el-input v-model="form.lecturerIncome" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="错误日志信息" prop="statusMsg">
            <el-input v-model="form.statusMsg" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item>
        <el-button type="primary" @click="submitForm('form')">更新数据</el-button>
        <el-button @click="handleClose">关 闭</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { orderLogView, orderLogEdit } from '@/api/user'

  export default {
    name: 'EditOrderLog',
    data() {
      return {
        form: {},
        rules: {
          gmtCreate: [
            { required: true, message: '请输入创建时间', trigger: 'blur' }
          ],
          gmtModified: [
            { required: true, message: '请输入修改时间', trigger: 'blur' }
          ],
          statusId: [
            { required: true, message: '请输入状态(1:正常，2:禁用)', trigger: 'blur' }
          ],
          lecturerUserNo: [
            { required: true, message: '请输入讲师用户编号', trigger: 'blur' }
          ],
          lecturerName: [
            { required: true, message: '请输入讲师名称', trigger: 'blur' }
          ],
          userNo: [
            { required: true, message: '请输入用户编号', trigger: 'blur' }
          ],
          mobile: [
            { required: true, message: '请输入用户手机号', trigger: 'blur' }
          ],
          orderNo: [
            { required: true, message: '请输入订单号', trigger: 'blur' }
          ],
          serialNumber: [
            { required: true, message: '请输入订单流水号', trigger: 'blur' }
          ],
          refId: [
            { required: true, message: '请输入关联ID', trigger: 'blur' }
          ],
          refName: [
            { required: true, message: '请输入关联名称', trigger: 'blur' }
          ],
          courseId: [
            { required: true, message: '请输入课程ID', trigger: 'blur' }
          ],
          courseName: [
            { required: true, message: '请输入课程名称', trigger: 'blur' }
          ],
          courseType: [
            { required: true, message: '请输入课程类型：1课程，2章节，3课时', trigger: 'blur' }
          ],
          orderStatus: [
            { required: true, message: '请输入订单状态：1待支付，2成功支付，3支付失败，4已关闭，4已退款', trigger: 'blur' }
          ],
          orderPrice: [
            { required: true, message: '请输入订单价格（元）', trigger: 'blur' }
          ],
          payTime: [
            { required: true, message: '请输入支付时间', trigger: 'blur' }
          ],
          payType: [
            { required: true, message: '请输入支付方式：1微信支付，2支付宝支付，4手工录单', trigger: 'blur' }
          ],
          platformIncome: [
            { required: true, message: '请输入平台收入', trigger: 'blur' }
          ],
          lecturerIncome: [
            { required: true, message: '请输入讲师收入', trigger: 'blur' }
          ],
          statusMsg: [
            { required: true, message: '请输入错误日志信息', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      const view = this.$route
      this.getViewInfo(view.query.id)
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/user/order/log/list');
        })
      },
      getViewInfo(id) {
        this.loading = true
        orderLogView(id).then(res => {
          this.loading = false
          this.form = res.data
        }).catch(() => {
          this.loading = false
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        orderLogEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
