<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="状态(1:正常，0:禁用)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="排序" prop="sort">
            <el-input v-model="form.sort" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课程ID" prop="courseId">
            <el-input v-model="form.courseId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="章节ID" prop="chapterId">
            <el-input v-model="form.chapterId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课时名称" prop="periodName">
            <el-input v-model="form.periodName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课时描述" prop="periodDesc">
            <el-input v-model="form.periodDesc" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否免费：1免费，0收费" prop="isFree">
            <el-input v-model="form.isFree" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="原价" prop="periodOriginal">
            <el-input v-model="form.periodOriginal" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="优惠价" prop="periodDiscount">
            <el-input v-model="form.periodDiscount" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="购买人数" prop="countBuy">
            <el-input v-model="form.countBuy" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="学习人数" prop="countStudy">
            <el-input v-model="form.countStudy" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="是否存在视频(1存在，0否)" prop="isVideo">
            <el-input v-model="form.isVideo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="视频ID" prop="videoId">
            <el-input v-model="form.videoId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="视频名称" prop="videoName">
            <el-input v-model="form.videoName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="时长" prop="videoLength">
            <el-input v-model="form.videoLength" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="视频VID" prop="videoVid">
            <el-input v-model="form.videoVid" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="直播状态(1:未开播,2:正在直播,3:待回放)" prop="liveStatus">
            <el-input v-model="form.liveStatus" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="直播回放url" prop="playback">
            <el-input v-model="form.playback" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="直播开始时间" prop="startTime">
            <el-input v-model="form.startTime" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="直播结束时间" prop="endTime">
            <el-input v-model="form.endTime" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {courseChapterPeriodView, courseChapterPeriodEdit} from '@/api/course'

export default {
  name: 'EditCourseChapterPeriod',
  data() {
    return {
      form: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        gmtModified: [
          {required: true, message: '请输入修改时间', trigger: 'blur'}
        ],
        statusId: [
          {required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        courseId: [
          {required: true, message: '请输入课程ID', trigger: 'blur'}
        ],
        chapterId: [
          {required: true, message: '请输入章节ID', trigger: 'blur'}
        ],
        periodName: [
          {required: true, message: '请输入课时名称', trigger: 'blur'}
        ],
        periodDesc: [
          {required: true, message: '请输入课时描述', trigger: 'blur'}
        ],
        isFree: [
          {required: true, message: '请输入是否免费：1免费，0收费', trigger: 'blur'}
        ],
        periodOriginal: [
          {required: true, message: '请输入原价', trigger: 'blur'}
        ],
        periodDiscount: [
          {required: true, message: '请输入优惠价', trigger: 'blur'}
        ],
        countBuy: [
          {required: true, message: '请输入购买人数', trigger: 'blur'}
        ],
        countStudy: [
          {required: true, message: '请输入学习人数', trigger: 'blur'}
        ],
        isVideo: [
          {required: true, message: '请输入是否存在视频(1存在，0否)', trigger: 'blur'}
        ],
        videoId: [
          {required: true, message: '请输入视频ID', trigger: 'blur'}
        ],
        videoName: [
          {required: true, message: '请输入视频名称', trigger: 'blur'}
        ],
        videoLength: [
          {required: true, message: '请输入时长', trigger: 'blur'}
        ],
        videoVid: [
          {required: true, message: '请输入视频VID', trigger: 'blur'}
        ],
        liveStatus: [
          {required: true, message: '请输入直播状态(1:未开播,2:正在直播,3:待回放)', trigger: 'blur'}
        ],
        playback: [
          {required: true, message: '请输入直播回放url', trigger: 'blur'}
        ],
        startTime: [
          {required: true, message: '请输入直播开始时间', trigger: 'blur'}
        ],
        endTime: [
          {required: true, message: '请输入直播结束时间', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
    const view = this.$route
    this.getViewInfo(view.query.id)
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/course/chapter/period/list');
      })
    },
    getViewInfo(id) {
      this.loading = true
      courseChapterPeriodView(id).then(res => {
        this.loading = false
        this.form = res.data
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      courseChapterPeriodEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
