<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="会员类型">
        <el-select v-model="map.setType" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in setTypeEnum"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnum"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('vipSetSave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="会员类型" prop="setType" width="100">
        <template slot-scope="scope">
          <span class="" :class="{'c-danger': scope.row.setType === 1, 'c-brand': scope.row.setType === 2, 'c-success': scope.row.setType === 3}">{{ setTypeEnum[scope.row.setType] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="会员原价" prop="orgPrice">
        <template slot-scope="scope">
          <span>{{ scope.row.orgPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="会员优惠价" prop="fabPrice">
        <template slot-scope="scope">
          <span>{{ scope.row.fabPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="续费价格" prop="renewalPrice">
        <template slot-scope="scope">
          <span>{{ scope.row.renewalPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" prop="statusId" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-success': scope.row.statusId === 1, 'c-danger': scope.row.statusId === 0}">{{ statusIdEnum[scope.row.statusId] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('vipSetView')"  plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="scope.row.statusId === 0 && checkPermission('vipSetUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('vipSetUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('vipSetDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-vip-set :title="addCtr.title" :visible="addCtr.visible" @close="closeAdd" />
    <edit-vip-set :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="closeEdit" />
  </div>
</template>

<script>
  import { vipSetPage, vipSetDelete, vipSetView, vipSetUpdateStatus } from '@/api/system'
  import AddVipSet from '@/views/system/vipSet/add/index';
  import EditVipSet from '@/views/system/vipSet/edit/index';

  export default {
    components: { EditVipSet, AddVipSet },
    filters: {
      amountFormat(val = 0) {
        return `￥ ${val.toFixed(2).replace(/\d{1,3}(?=(\d{3})+(\.\d*)?$)/g, '$&,')}`
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        statusIdEnum: [],
        setTypeEnum: [],
        list: [],
        map: {},
        listLoading: true,
        addCtr: {
          title: '添加会员等级',
          visible: false
        },
        editCtr: {
          title: '修改会员等级',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'VipTypeEnum', type: 'obj' }).then(res => {
        this.setTypeEnum = res;
      })
    },
    methods: {
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + this.setTypeEnum[row.setType] + '会员】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + this.setTypeEnum[row.setType] + '会员】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            vipSetUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + this.setTypeEnum[row.setType] + '会员】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            vipSetDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.addCtr.visible = true;
      },
      closeAdd() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.addCtr.visible = false;
      },
      handleUpdateRow(id) {
        vipSetView(id).then(res => {
          this.editCtr.info = res.data;
          this.editCtr.title = '修改会员等级--' + this.setTypeEnum[res.data.setType]
          this.editCtr.visible = true;
        })
      },
      closeEdit() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.editCtr.visible = false;
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        vipSetPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
