<template>
<view>
  <view class="success_box b_fff">
    <view class="success_text">
      <icon class="success_icon" type="success" size="50"></icon>
      <view class="success_msg">
        <text class="font33_bold c_333">绑定成功！</text>
        <!-- <text class="font25 c_999">审核时间需要3天，请耐心等待</text> -->
      </view>
    </view>
    <view class="btn_box mgt100">
      <navigator open-type="switchTab" class="link_btn font25" url="../index/index">返回</navigator>
    </view>
  </view>
</view>
</template>

<script>

export default {
  data() {
    return {};
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {},

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {}
};
</script>
<style scoped>
page {
  background: #fff;
}
.success_box {
  padding: 80rpx 50rpx 50rpx;
}
.success_text {
  display: flex;
}
.success_icon {
  margin: 0 40rpx 0 160rpx;
}
.success_msg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn_box {
  display: flex;
  justify-content: space-around;
}
.link_btn {
  width: 291rpx;
  height: 88rpx;
  line-height: 88rpx;
  border: 1rpx solid #2488EC;
  color: #2488EC;
  text-align: center;
  border-radius: 6px;
}
</style>