<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="100px" size="mini">
      <el-form-item class="filter-item" label="文章标题">
        <el-input v-model="map.title" />
      </el-form-item>
      <el-form-item class="filter-item" label="标签">
        <el-select v-model="map.tagsName" clearable placeholder="请选择">
          <el-option
            v-for="item in blogLabelList"
            :key="item.id"
            :label="item.labelName"
            :value="item.labelName"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="是否置顶">
        <el-select v-model="map.isTop" clearable placeholder="请选择">
          <el-option
            v-for="(key, value) in isTopEnums"
            :key="key"
            :label="key"
            :value="value"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(key, value) in statusIdEnums"
            :key="key"
            :label="key"
            :value="value"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="是否公开">
        <el-select v-model="map.isOpen" clearable placeholder="请选择">
          <el-option
            v-for="(key, value) in isOpenEnums"
            :key="key"
            :label="key"
            :value="value"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="类型">
        <el-select v-model="map.typeId" clearable placeholder="请选择">
          <el-option
            v-for="(key, value) in typeIdEnums"
            :key="key"
            :label="key"
            :value="value"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="是否发布">
        <el-select v-model="map.isIssue" clearable placeholder="请选择">
          <el-option
            v-for="(key, value) in isIssueEnums"
            :key="key"
            :label="key"
            :value="value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="更新日期">
        <el-date-picker
          v-model="map.gmtModified"
          type="daterange"
          align="right"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="pickerOptions"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('blogSave')"  plain type="success" size="mini" @click="handleAddRow">新增</el-button>
        <el-button v-if="checkPermission('blogImportEs')"  plain type="success" size="mini" @click="handleImportEs">导入ES(重建索引)</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="文章标题" prop="title" width="250" />
      <el-table-column label="标签" prop="tagsName" width="80" />
      <el-table-column label="是否公开" width="80">
        <template slot-scope="scope">
          {{ isOpenEnums[scope.row.isOpen] }}
        </template>
      </el-table-column>
      <el-table-column label="类型" prop="articleType" width="60">
        <template slot-scope="scope">
          {{ typeIdEnums[scope.row.typeId] }}
        </template>
      </el-table-column>
      <el-table-column label="是否发布" width="80">
        <template slot-scope="scope">
          {{ isIssueEnums[scope.row.isIssue] }}
        </template>
      </el-table-column>
      <el-table-column label="是否置顶" width="80">
        <template slot-scope="scope">
          {{ isTopEnums[scope.row.isTop] }}
        </template>
      </el-table-column>
      <el-table-column label="收藏 / 点赞 / 评论 / 阅读" width="160">
        <template slot-scope="scope">
          {{ scope.row.collectionAcount }} / {{ scope.row.admireAcount }} / {{ scope.row.commentAcount }} / {{ scope.row.readAcount }}人
        </template>
      </el-table-column>
      <el-table-column label="更新时间" prop="gmtModified" width="90" />
      <el-table-column label="状态" width="60">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="质量度" prop="qualityScore" width="60" />
      <el-table-column label="排序" prop="sort" width="60" />
      <el-table-column label="操作" fixed="right" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('blogEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('blogCommentPage')" plain type="warning" size="mini" @click="handleCommentaryList(scope.row.id)">评论</el-button>
          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-button v-if="scope.row.statusId === 1 && checkPermission('blogUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
                <el-button v-if="scope.row.statusId === 0 && checkPermission('blogUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button  v-if="checkPermission('blogDelete')"  plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
import {blogPage, labelListByType, blogUpdateStatus, blogImportEs, blogDelete} from '@/api/community'

export default {
  data() {
    return {
      pickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      list: [],
      map: {
        articleType: 2
      },
      listLoading: true,
      blogLabelList: [],
      typeIdEnums: {},
      isOpenEnums: {},
      isIssueEnums: {},
      isTopEnums: {},
      statusIdEnums: {}
    }
  },
  created() {
    this.listForPage()
    labelListByType(3).then(res => {
      this.blogLabelList = res.data;
    })
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'TypeIdEnum', type: 'obj'}).then(res => {
      this.typeIdEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'IsOpenEnum', type: 'obj'}).then(res => {
      this.isOpenEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'IsIssueEnum', type: 'obj'}).then(res => {
      this.isIssueEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'IsTopEnum', type: 'obj'}).then(res => {
      this.isTopEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
      this.statusIdEnums = res;
    });
  },
  methods: {
    handleImportEs() {
      {
        const body = '确定全部资讯导入ES？';
        this.$confirm(body, '导入ES', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          blogImportEs(2).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleUpdateStatus(row) {
      {
        let body = '确定要禁用【' + row.title + '】？'
        let statusId = 0;
        if (row.statusId === 0) {
          body = '确定要启用【' + row.title + '】？'
          statusId = 1;
        }
        this.$confirm(body, '修改确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          blogUpdateStatus(row.id, statusId).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleDeleteRow(row) {
      {
        const body = '确定要删除【' + row.title + '】？'
        this.$confirm(body, '删除确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          blogDelete(row.id).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {
        articleType: 2
      }
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleAddRow() {
      this.$router.push('/community/blog/message/add')
    },
    handleUpdateRow(id) {
      this.$router.push({path: '/community/blog/message/edit', query: {id: id}})
    },
    handleCommentaryList(id) {
      this.$router.push({path: '/community/blog/comment/list', query: {blogId: id, parentId: 0}})
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      // this.listLoading = true
      if (this.map.gmtModified !== undefined) {
        this.map.beginGmtModified = this.map.gmtModified[0];
        this.map.endGmtModified = this.map.gmtModified[1];
      }
      this.loading.start()
      blogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    }
  }
}
</script>
