<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="标签名称" prop="labelName">
        <el-input v-model="form.labelName" class="form-group" />
      </el-form-item>
      <el-form-item label="排序" prop="sort">
        <el-input-number v-model="form.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { labelSave } from '@/api/community'

  export default {
    name: 'AddLabel',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {
        },
        opts: {},
        rules: {
          labelName: [
            { required: true, message: '请输入标签名称', trigger: 'blur' }
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = {
            labelType: 2,
            sort: 1
          }
        }
      }
    },
    methods: {
      handleClose() {
        this.form = {};
        this.$emit('close-callback');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        labelSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 180px;
  }
</style>
