<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="状态(1:正常，0:禁用)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="讲师用户编号" prop="lecturerUserNo">
            <el-input v-model="form.lecturerUserNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程分类(1:普通课程;2:直播课程,3:题库,4文库，5:试卷)" prop="courseCategory">
            <el-input v-model="form.courseCategory" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课程类型：1课程，2章节，3课时" prop="courseType">
            <el-input v-model="form.courseType" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程ID" prop="courseId">
            <el-input v-model="form.courseId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="关联ID" prop="refId">
            <el-input v-model="form.refId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="是否支付：1是，0:否" prop="isPay">
            <el-input v-model="form.isPay" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否学习：1是，0:否" prop="isStudy">
            <el-input v-model="form.isStudy" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="订单号" prop="orderNo">
            <el-input v-model="form.orderNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="过期时间" prop="expireTime">
            <el-input v-model="form.expireTime" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {userOrderCourseRefView, userOrderCourseRefEdit} from '@/api/course'

export default {
  name: 'EditUserOrderCourseRef',
  data() {
    return {
      form: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        gmtModified: [
          {required: true, message: '请输入修改时间', trigger: 'blur'}
        ],
        statusId: [
          {required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur'}
        ],
        lecturerUserNo: [
          {required: true, message: '请输入讲师用户编号', trigger: 'blur'}
        ],
        userNo: [
          {required: true, message: '请输入用户编号', trigger: 'blur'}
        ],
        courseCategory: [
          {required: true, message: '请输入课程分类(1:普通课程;2:直播课程,3:题库,4文库，5:试卷)', trigger: 'blur'}
        ],
        courseType: [
          {required: true, message: '请输入课程类型：1课程，2章节，3课时', trigger: 'blur'}
        ],
        courseId: [
          {required: true, message: '请输入课程ID', trigger: 'blur'}
        ],
        refId: [
          {required: true, message: '请输入关联ID', trigger: 'blur'}
        ],
        isPay: [
          {required: true, message: '请输入是否支付：1是，0:否', trigger: 'blur'}
        ],
        isStudy: [
          {required: true, message: '请输入是否学习：1是，0:否', trigger: 'blur'}
        ],
        orderNo: [
          {required: true, message: '请输入订单号', trigger: 'blur'}
        ],
        expireTime: [
          {required: true, message: '请输入过期时间', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
    const view = this.$route
    this.getViewInfo(view.query.id)
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/user/order/course/ref/list');
      })
    },
    getViewInfo(id) {
      this.loading = true
      userOrderCourseRefView(id).then(res => {
        this.loading = false
        this.form = res.data
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      userOrderCourseRefEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
