<template>
<view>
  <view class="head">
    <view class="ref_code">我的推荐码: <text>{{userInfo.referralCode}}</text></view>
    <view class="ref_btn"><button @tap="handleSharing">马上分享</button></view>
  </view>
  <view v-for="(item, index) in list" :key="index" class="recommend_box b_fff mgt8px">
    <image src="../../../static/images/ewm.png" class="recommend_img"></image>
    <view class="flex_column_around pdl114">
      <view class="recommend_header">
        <text class="font33 c_333">{{item.mobile}}</text>
      </view>
      <text class="font25 c_999">加入时间：{{item.gmtCreate}}</text>
    </view>
  </view>
  <view class="no_more c_999 font25 text_center" v-show="notData">没有更多了...</view>
  <share-image v-if="showImage" :shareUrl="codeUrl" @closeewm="closeShare"></share-image>
</view>
</template>

<script>
// pages/account/referral/referral.js
import * as apis from "../../../api/user";
import * as website from '../../../api/website';
const app = getApp();
import shareImage from "../../../components/shareImage/shareImage";

export default {
  data() {
    return {
      codeUrl: '',
      notData: true,
      options: null,
      userInfo: {},
      token: '',
      list: [],
      showImage: false
    };
  },

  components: {
    shareImage
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
    const userInfo = uni.getStorageSync('userInfo');
    console.log(userInfo);
    this.setData({
      userInfo
    });
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {
    let uinfo = uni.getStorageSync('userInfo');
    let cl = app.globalData.clientData;
    this.setData({
      token: uinfo.token,
      options: {
        pageCurrent: 1,
        pageSize: 8
      }
    });
    this.getList();
    // uni.showShareMenu({
    //   withShareTicket: true
    // });
  },

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {
    this.getAgent();
  },

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {
    const userInfo = uni.getStorageSync('userInfo');
    const serviceInfo = uni.getStorageSync('serviceInfo');
    return {
      title: serviceInfo.websiteTitle,
      path: '/pages/index/index?referralCode=' + userInfo.referralCode,
      imageUrl: "/static/static/images/share.jpg"
    };
  },
  methods: {
    handleSharing: function () {
      uni.showLoading({
        title: '正在生成图片...'
      });
      website.getSharingCode().then(res => {
        this.setData({
          codeUrl: res,
          showImage: true
        });
      });
    },
    closeShare: function () {
      this.setData({
        showImage: false
      });
    },
    getList: function () {
      let options = this.options;
      console.log('userNo', options);
      let that = this;

      if (this.notData) {
        uni.showNavigationBarLoading();
        apis.recommendList(options).then(result => {
          uni.hideNavigationBarLoading();
          options.pageCurrent = options.pageCurrent + 1;
          that.setData({
            list: that.list.concat(result.list),
            options: options
          });

          if (result.pageCurrent == result.totalPage) {
            that.setData({
              notData: false
            });
          }

          if (!result.list.length) {
            that.setData({
              notData: false
            });
          }
        }).catch(() => {
          uni.hideNavigationBarLoading();
        });
      }
    }
  }
};
</script>
<style scoped>
.recommend_box {
  padding: 30rpx 20rpx;
  height:60rpx;
  line-height: 60rpx;
  position: relative;
}
.recommend_img {
  width: 60rpx;
  height: 60rpx;
  border-radius: 50%;
  margin-right: 20rpx;
  position: absolute;
}
.pdl114 {
  box-sizing: border-box;
  margin-left: 80rpx
}
.head{
  padding: 30rpx 0;
  background: #fff;
}
.ref_code{
  line-height: 80rpx;
  text-align: center;
}
.ref_code text{
  font-size: 40rpx;
  color: coral;
}
.ref_btn button{
  width: 220rpx;
  font-size: 28rpx;
}
</style>