<template>
  <div class="librarylist_page">
    <y-header-list :class-list="classList" :four-now="free" :course-type="'library'" />
    <div class="course_content">
      <div v-if="pageObj.list && pageObj.list.length != 0" class="container">
        <ul class="test_list clearfix">
          <li v-for="(item, index) in pageObj.list" :key="index" :class="{no_right: index % 2 === 1}" class="test_option">
            <nuxt-link :to="{ path: '/library/view/' + item.id}" target="_blank">
              <i class="iconfont">&#xe6be;</i>{{ item.courseName }}
            </nuxt-link>
          </li>
        </ul>
      <br>
      <div class="center">
        <el-pagination
          :page-size="pageObj.pageSize"
          :current-page="pageObj.pageCurrent"
          :total="pageObj.totalCount"
          @current-change="getPage"
          class="page-panel"
          background
          layout="prev, pager, next">
        </el-pagination>
      </div>
      </div>
      <div v-else class="notdata">
        暂时还没有相关题库!
      </div>
    </div>
    <right-tap />
  </div>
</template>
<script>
import YHeaderList from '~/components/HeaderList'
import RightTap from '~/components/common/RightTap'
import { courseList, getClassList } from '~/api/course.js'
import { courseChange } from '~/utils/commonfun.js'
export default {
  components: {
    YHeaderList,
    RightTap
  },
  head() {
    return {
      title: this.$store.state.clientData.name,
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.keyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.desc
        }
      ]
    }
  },
  data() {
    return {
      free: '',
      activityList: [],
      classList: []
    }
  },
  watch: {
    '$route'() {
      courseChange(this)
      this.getCourse()
    }
  },
  async asyncData(context) {
    const dataObj = {}
    const clientNo = context.store.state.clientData.no
    dataObj.clientNo = clientNo
    dataObj.webInfo = context.store.state.webInfo
    const categoryId1 = context.query.categoryno1 || ''
    const categoryId2 = context.query.categoryno2 || ''
    const categoryId3 = context.query.categoryno3 || ''
    let isFree = ''
    let free = 3
    let isVipFree = ''
    if (context.query.four) {
      const four = context.query.four
      if (parseInt(four) === 3) {
        isFree = ''
        isVipFree = ''
        free = 3
      } else if (parseInt(four) === 2) {
        isFree = 0
        isVipFree = ''
        free = 2
      } else if (parseInt(four) === 1) {
        isFree = 1
        isVipFree = ''
        free = 1
      } else if (parseInt(four) === 4) {
        isVipFree = 1
        isFree = ''
        free = 4
      }
    } else {
      isFree = ''
      free = 3
    }
    const obj = {
      courseCategory: 3,
      categoryId1,
      categoryId2,
      categoryId3,
      orgNo: clientNo,
      pageCurrent: 1,
      pageSize: 20,
      isFree,
      isVipFree
    }
    let pageObj = {
      list: [],
      pageCurrent: '',
      pageSize: '',
      totalCount: '',
      totalPage: ''
    }
    try {
      const allData = await Promise.all([courseList(obj), getClassList({ categoryType: 3 })])
      // 课程列表
      const courseData = allData[0]
      console.log(courseData)
      if (courseData.data.list.length > 0) {
        pageObj = courseData.data
      }
      // 分类
      const classData = await allData[1]
      let classList = []
      if (classData.code === 200) {
        classList = classData.data.courseCategoryList
      }
      dataObj.obj = obj
      dataObj.pageObj = pageObj
      dataObj.classList = classList
      dataObj.free = free
      return dataObj
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    courseChange(this)
    if (this.$route.query.free) {
      this.obj.isFree = 1
      this.free = 1
    }
  },
  methods: {
    getCourse() {
      courseList(this.obj).then((res) => {
        console.log(res)
        if (res.code === 200) {
          if (res.data.list.length > 0) {
            this.pageObj = res.data
          } else {
            this.pageObj = {}
          }
        } else {
          this.pageObj = {}
        }
      }).catch(() => {
        this.$msgBox({ content: '数据加载失败，请稍后重试' })
      })
    },
    getPage(int) {
      window.scrollTo(0, 0)
      this.obj.pageCurrent = int
      this.getCourse()
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
.librarylist_page {
  .course_content {
    background: rgb(245, 245, 245);
    padding: 30px 0 10px 0;
  }
  .test_list{
    // margin-right: -80px;
    .test_option{
      float: left;
      width: 570px;
      padding: 18px 25px;
      margin-right: 45px;
      margin-bottom: 20px;
      border-radius: 8px;
      font-size: 14px;
      background-color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.no_right{
        margin-right: 0px;
      }
    }
    .iconfont{
      margin-right: 6px;
    }
  }
  .notdata{
    text-align: center;
    padding: 60px 0;
    color: #999;
    font-size: 30px;
    i{
      font-size: 30px;
      padding-right: 12px;
    }
  }
}
</style>
