<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="状态(1:有效;0:无效)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="排序" prop="sort">
            <el-input v-model="form.sort" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="博主用户编号" prop="bloggerUserNo">
            <el-input v-model="form.bloggerUserNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="操作类型(1收藏，2点赞)" prop="opType">
            <el-input v-model="form.opType" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="关注者用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="用户IP" prop="userIp">
            <el-input v-model="form.userIp" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户终端" prop="userTerminal">
            <el-input v-model="form.userTerminal" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {bloggerUserRecordView, bloggerUserRecordEdit} from '@/api/community'

export default {
  name: 'EditBloggerUserRecord',
  data() {
    return {
      form: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        gmtModified: [
          {required: true, message: '请输入修改时间', trigger: 'blur'}
        ],
        statusId: [
          {required: true, message: '请输入状态(1:有效;0:无效)', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        bloggerUserNo: [
          {required: true, message: '请输入博主用户编号', trigger: 'blur'}
        ],
        opType: [
          {required: true, message: '请输入操作类型(1收藏，2点赞)', trigger: 'blur'}
        ],
        userNo: [
          {required: true, message: '请输入关注者用户编号', trigger: 'blur'}
        ],
        userIp: [
          {required: true, message: '请输入用户IP', trigger: 'blur'}
        ],
        userTerminal: [
          {required: true, message: '请输入用户终端', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
    const view = this.$route
    this.getViewInfo(view.query.id)
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/community/blogger/user/record/list');
      })
    },
    getViewInfo(id) {
      this.loading = true
      bloggerUserRecordView(id).then(res => {
        this.loading = false
        this.form = res.data
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      bloggerUserRecordEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
