<template>
    <div class="app-container">
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="敏感词">
          <el-input v-model="map.badword" />
        </el-form-item>
        <el-form-item>
            <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
            <el-button class="filter-item" @click="handleReset">重置</el-button>
            <el-button v-if="checkPermission('add')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
            <el-upload
              action=""
              class="txtImport-upload"
              :multiple="false"
              :show-file-list="false"
              :http-request="upload">
              <el-button plain size="mini"  v-if="checkPermission('txtImport')">导入敏感词</el-button>
            </el-upload>
            <el-tooltip class="item"  effect="light" content="上传文件格式为txt, 一行为一个敏感词" placement="top-start">
              <svg-icon class="svg-icon" icon-class="question" />
            </el-tooltip>
          <el-button plain type="danger" size="mini" @click="handleDeleteRedisRow" v-if="checkPermission('sensitiveWordLibraryDeleteRedis')">清空缓存</el-button>
        </el-form-item>
      </el-form>
      <el-table
        :data="list"
        size="mini"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >
        <el-table-column align="center" type="index" label="序号" width="50" />
        <el-table-column label="敏感词" prop="badword" />
        <el-table-column label="日期" prop="gmtCreate" />
        <el-table-column label="操作" width="300">
          <template slot-scope="scope">
            <el-button v-if="checkPermission('edit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
            <el-button v-if="checkPermission('sensitiveWordLibraryDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page.pageCurrent"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
      <add :title="addCtr.title" :visible="addCtr.visible" @close-callback="closeCallback" />
      <edit :title="addCtr.title" :visible="addCtr.editDialogVisible" :form-data="formData"  @close-callback="closeCallback" />
    </div>
</template>

<script>
  import {sensitiveWordLibraryPage, sensitiveWordLibraryDelete, txtImport, sensitiveWordLibraryDeleteRedis} from '@/api/system'
  import Add from '@/views/system/sensitiveWordLibrary/add/index';
  import Edit from '@/views/system/sensitiveWordLibrary/edit/index';
  export default {
    components: { Add, Edit },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        addCtr: {
          title: '',
          visible: false,
          editDialogVisible: false
        },
        formData: {},
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    methods: {
      upload(file) {
        {
          const body = '确定要导入敏感词吗？'
          this.$confirm(body, '导入确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            txtImport(file).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 添加
      handleAddRow() {
        this.addCtr.title = '添加敏感词'
        this.addCtr.visible = true;
      },
      // 编辑
      handleUpdateRow(data) {
        console.log(data)
        this.formData = data;
        this.addCtr.title = '编辑';
        this.addCtr.editDialogVisible = true;
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sensitiveWordLibraryDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRedisRow() {
        {
          const body = '确定要清空缓存？'
          this.$confirm(body, '清空确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sensitiveWordLibraryDeleteRedis({}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      closeCallback() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.formData = {}
        this.addCtr.visible = false;
        this.addCtr.editDialogVisible = false;
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        sensitiveWordLibraryPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
<style lang="scss" scoped>
  .txtImport-upload {
    display: inline-block;
    margin-left: 10px
  }
</style>
