<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="关联类型">
        <el-select v-model="map.refType" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in refTypeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="课程分类" width="100">
        <template slot-scope="scope">
          {{ courseCategoryEnums[scope.row.courseCategory] }}
          </template>
      </el-table-column>
      <el-table-column label="关联信息">
        <template slot-scope="scope">
          <span v-if="scope.row.refType === 1">课程名称：{{ scope.row.refName }}</span>
          <span v-if="scope.row.refType === 2">课程名称：{{ scope.row.courseName }}<br>章节名称：{{ scope.row.refName }}</span>
          <span v-if="scope.row.refType === 3">课程名称：{{ scope.row.courseName }}<br>章节名称：{{ scope.row.chapterName }}<br>课时名称：{{ scope.row.refName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="关联类型" width="100">
        <template slot-scope="scope">
          {{ refTypeEnums[scope.row.refType] }}
        </template>
      </el-table-column>
      <el-table-column label="试卷名称" prop="examName"/>
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>
<script>
  import {courseExamRefPage} from '@/api/exam'
  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        courseCategoryEnums: {},
        refTypeEnums: {},
        statusIdEnums: {},
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
        this.courseCategoryEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'RefTypeEnum', type: 'obj'}).then(res => {
        this.refTypeEnums = res;
      });
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 4
        this.listForPage();
      },
      handleViewRow(id) {
        this.$router.push({path: '/user/user/research/view', query: {id: id}})
      },
      closeCllback() {
        this.viewCtr.visible = false;
        this.listForPage()
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        this.map.courseCategory = 2
        courseExamRefPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
