<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="40%"
    :before-close="handleClose"
    append-to-body
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="考试名称" prop="gradeExamName">
        <el-input v-model="form.gradeExamName" class="form-group" />
      </el-form-item>
      <el-form-item label="答卷时间" prop="datetimeRangeVal">
        <el-date-picker
          v-model="datetimeRangeVal"
          type="datetimerange"
          value-format="yyyy-MM-dd HH:mm:ss"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-form-item label="评阅类型" prop="auditType">
        <el-radio-group v-model="form.auditType">
          <el-radio v-for="examAuditType in examAuditTypeEnumList" :key="examAuditType.code" :label="examAuditType.code">{{ examAuditType.desc }}</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="补交状态" prop="compensateStatus">
        <el-radio-group v-model="form.compensateStatus">
          <el-radio v-for="compensateStatusEnum in gradeExamCompensateStatusEnumList" :key="compensateStatusEnum.code" :label="compensateStatusEnum.code">{{ compensateStatusEnum.desc }}</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="查看答案" prop="answerShow">
        <el-select v-model="form.answerShow" placeholder="请选择" class="form-group">
          <el-option
            v-for="item in gradeExamAnswerShowEnumList"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item v-if="form.answerShow === 4" label="查看时间" prop="answerShowTime">
        <el-date-picker
          v-model="form.answerShowTime"
          type="datetime"
          placeholder="选择日期时间"
          class="form-group"
        />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" plain @click="handleClose">取 消</el-button>
      <el-button size="mini" plain type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
  import { gradeExamUpdate } from '@/api/exam';

  export default {
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      gradeExam: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      const checkDatetimeRangeVal = (rule, value, callback) => {
        if (this.datetimeRangeVal == null || this.datetimeRangeVal.length < 0) {
          callback(new Error('请选择答卷时间'));
        } else {
          callback();
        }
      };
      return {
        form: {},
        rules: {
          gradeExamName: [
            { required: true, message: '请输入考试名称', trigger: 'blur' }
          ],
          datetimeRangeVal: [
            { validator: checkDatetimeRangeVal, trigger: 'blur' }
          ],
          auditType: [
            { required: true, message: '请选择评阅类型', trigger: 'blur' }
          ],
          compensateStatus: [
            { required: true, message: '请选择用户角色', trigger: 'change' }
          ],
          answerShowTime: [
            { required: true, message: '请选择查看时间', trigger: 'change' }
          ]
        },
        loading: false,
        examAuditTypeEnumList: [],
        gradeExamAnswerShowEnumList: {},
        gradeExamCompensateStatusEnumList: {},
        datetimeRangeVal: []
      }
    },
    mounted() {
      this.form = this.gradeExam;
      this.datetimeRangeVal = [this.gradeExam.beginTime, this.gradeExam.endTime];
      this.$store.dispatch('GetOpts', { enumName: 'ExamAuditTypeEnum', type: 'arr' }).then(res => {
        this.examAuditTypeEnumList = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'GradeExamAnswerShowEnum', type: 'arr' }).then(res => {
        this.gradeExamAnswerShowEnumList = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'GradeExamCompensateStatusEnum', type: 'arr' }).then(res => {
        this.gradeExamCompensateStatusEnumList = res;
      });
    },
    methods: {
      handleClose() {
        this.$emit('close');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.form.beginTime = new Date(this.datetimeRangeVal[0]);
            this.form.endTime = new Date(this.datetimeRangeVal[1]);
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true;
        // 新增
        gradeExamUpdate(this.form).then(res => {
          this.tips(res.data, 'success');
          this.handleClose();
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style scoped>
  .form-group {
    width: 100%;
    max-width: 400px;
  }
</style>
