<template>
  <el-dialog
    top="8vh"
    :title="title"
    :visible.sync="visible"
    width="80%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="考试名称">
        <el-input v-model="params.gradeExamName" />
      </el-form-item>
      <el-form-item class="filter-item" label="评阅类型">
        <el-select v-model="params.auditType" clearable placeholder="请选择">
          <el-option
            v-for="item in examAuditTypeEnumList"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="补交类型">
        <el-select v-model="params.compensateStatus" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in gradeExamCompensateStatusEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleQuery">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="考试名称" prop="gradeExamName" min-width="100" />
      <el-table-column label="考试时间" min-width="160">
        <template slot-scope="scope">
          开始时间：{{ scope.row.beginTime }}
          <br>
          结束时间：{{ scope.row.endTime }}
        </template>
      </el-table-column>
      <el-table-column label="展示答案" min-width="160">
        <template slot-scope="scope">
          {{ gradeExamAnswerShowEnums[scope.row.answerShow] }}
          <br>
          <span v-if="scope.row.answerShow === 4" style="color: #F56C6C">展示时间：【{{ scope.row.answerShowTime }}】</span>
        </template>
      </el-table-column>
      <el-table-column label="评阅类型" width="80">
        <template slot-scope="scope">
          {{ examAuditTypeEnums[scope.row.auditType] }}
        </template>
      </el-table-column>
      <el-table-column label="补交状态" width="80">
        <template slot-scope="scope">
          {{ gradeExamCompensateStatusEnums[scope.row.compensateStatus] }}
        </template>
      </el-table-column>
      <el-table-column label="考生情况" min-width="160">
        <template slot-scope="scope">
          参考人数: {{ scope.row.studentCount }}
          <br>
          完成人数：{{ scope.row.completeCount }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="180">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleEdit(scope.row)">修改</el-button>
          <el-button type="primary" plain size="mini" @click="handleStudentShow(scope.row)">考生</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
    <grade-exam-edit v-if="editCtr.visible" :title="editCtr.title" :visible="editCtr.visible" :grade-exam="editCtr.gradeExam" @close="editClose" />
    <grade-exam-student v-if="studentCtr.visible" :title="studentCtr.title" :visible="studentCtr.visible" :grade-exam="studentCtr.gradeExam" @close="studentPageClose" />
  </el-dialog>
</template>

<script>
  import { gradeExamPage, gradeExamView } from '@/api/exam'
  import GradeExamEdit from '@/views/exam/grade/info/list/gradeExam/edit';
  import GradeExamStudent from '@/views/exam/grade/info/list/gradeExam/student';

  export default {
    name: 'GradeStudent',
    components: { GradeExamEdit, GradeExamStudent },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 10,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        params: {},
        examAuditTypeEnums: {},
        examAuditTypeEnumList: [],
        gradeExamCompensateStatusEnums: {},
        gradeExamAnswerShowEnums: {},
        statusIdEnums: {},
        loading: false,
        editCtr: {
          title: '考试修改',
          visible: false,
          gradeExam: {}
        },
        studentCtr: {
          title: '考试人员',
          visible: false,
          gradeExam: {}
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'ExamAuditTypeEnum', type: 'arr' }).then(res => {
        this.examAuditTypeEnumList = res;
        res.forEach((item) => {
          this.examAuditTypeEnums[item.code] = item.desc;
        })
      });
      this.$store.dispatch('GetOpts', { enumName: 'GradeExamAnswerShowEnum', type: 'obj' }).then(res => {
        this.gradeExamAnswerShowEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'GradeExamCompensateStatusEnum', type: 'obj' }).then(res => {
        this.gradeExamCompensateStatusEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });

      this.params = {
        gradeId: this.info.id
      }
      this.listForPage();
    },
    methods: {
      listForPage() {
        this.loading = true;
        gradeExamPage(this.params, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleQuery() {
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      handleReset() {
        this.page.pageCurrent = 1;
        this.params = {
          gradeId: this.info.id
        }
        this.listForPage();
      },
      handleClose() {
        this.$emit('close');
      },
      handleCurrentChange(pageCurrent) {
        this.pageCurrent = pageCurrent;
        this.listForPage();
      },
      handleEdit(gradeExam) {
        gradeExamView(gradeExam.id).then(res => {
          this.editCtr.gradeExam = res.data;
          this.editCtr.visible = true;
        })
      },
      editClose() {
        this.editCtr.visible = false;
        this.listForPage();
      },
      handleStudentShow(gradeExam) {
        this.studentCtr.gradeExam = gradeExam;
        this.studentCtr.visible = true;
      },
      studentPageClose() {
        this.studentCtr.visible = false;
        this.listForPage();
      }
    }
  }
</script>

<style scoped>

</style>
