<template>
  <div class="app-container">
    <el-dialog
      v-loading="loading"
      append-to-body
      :title="title"
      top="8vh"
      :visible.sync="visible"
      width="60%"
      :before-close="handleClose"
    >

      <el-table
        :data="list"
        size="mini"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >

        <el-table-column align="center" type="index" label="序号" width="50" />
        <el-table-column label="用户编号" prop="userNo" min-width="150" />
        <el-table-column label="学员姓名" prop="nickname" min-width="100" />
        <el-table-column label="学员角色" width="80">
          <template slot-scope="scope">
            {{ gradeStudentUserRoleEnums[scope.row.userRole] }}
          </template>
        </el-table-column>
        <el-table-column label="考试状态" width="80">
          <template slot-scope="scope">
            {{ gradeExamStatusEnums[scope.row.examStatus] }}
          </template>
        </el-table-column>
        <el-table-column label="考试时间" min-width="160">
          <template slot-scope="scope">
            开考时间：【{{ scope.row.beginTime }}】
            <br>
            交卷时间：【{{ scope.row.endTime }}】
          </template>
        </el-table-column>
        <el-table-column label="系统评分" min-width="100">
          <template slot-scope="scope">
            分值：{{ scope.row.sysAuditTotalScore }}
            <br>
            得分：{{ scope.row.sysAuditScore }}
          </template>
        </el-table-column>
        <el-table-column label="讲师评分" min-width="100">
          <template slot-scope="scope">
            分值：{{ scope.row.lecturerAuditTotalScore }}
            <br>
            得分：{{ scope.row.lecturerAuditScore }}
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        :current-page="page.pageCurrent"
        :page-size="page.pageSize"
        layout="total, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @current-change="handleCurrentChange"
      />
    </el-dialog>
  </div>
</template>

<script>
  import { gradeExamStudentPage } from '@/api/exam'

  export default {
    name: 'FindSubLecturer',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      gradeExam: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 10,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        params: {},
        gradeStudentUserRoleEnums: {},
        gradeExamStatusEnums: {},
        loading: false
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'GradeStudentUserRoleEnum', type: 'obj' }).then(res => {
        this.gradeStudentUserRoleEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'GradeExamStatusEnum', type: 'obj' }).then(res => {
        this.gradeExamStatusEnums = res;
      });

      this.params = {
        gradeExamId: this.gradeExam.id
      }
      this.listForPage();
    },
    methods: {
      handleClose() {
        this.$emit('close');
      },
      listForPage() {
        this.loading = true;
        gradeExamStudentPage(this.params, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      }
    }
  }
</script>

<style scoped>

</style>
