<template>
  <el-dialog
    width="60%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="标题">
        <el-input v-model="map.title" />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
      <el-button plain type="success" size="mini" @click="handleChoiceBatch">批量选择</el-button>
    </el-form>
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" type="selection" width="50" />
      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="文章标题 / 作者">
        <template slot-scope="scope">
          {{ scope.row.title }}
          <br>
          作者：【{{ scope.row.bloggerNickname }}】
        </template>
      </el-table-column>
      <el-table-column label="状态" width="60">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="60" />
      <el-table-column label="创建时间" prop="gmtCreate" width="140" />
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleSelect(scope.row)">添加</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>
<script>
  import {articleRecommendSave, articleRecommendSaveBatch, blogPage} from '@/api/community'

  export default {
    name: 'AddArticleRecommend',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          load: false
        },
        list: [],
        map: {},
        loading: false,
        statusIdEnums: {},
        checkIds: ''
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.map = {
            articleType: 2
          }
          this.listForPage();
          this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
            this.statusIdEnums = res;
          });
        }
      }
    },
    methods: {
      handleSelectionChange(checkList) {
        let resultIds = '';
        for (const index in checkList) {
          resultIds += checkList[index].id;
          if ((parseInt(index) + 1) < checkList.length) {
            resultIds += ',';
          }
        }
        this.checkIds = resultIds;
      },
      handleChoiceBatch() {
        if (this.checkIds === undefined || this.checkIds === '') {
          this.$message.error('请选中添加的文章')
          return false;
        }
        {
          const body = '确定要批量添加文章吗？';
          this.$confirm(body, '批量推荐', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.load = true
            articleRecommendSaveBatch({articleIds: this.checkIds}).then(res => {
              this.ctrl.load = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            })
          })
        }
      },
      handleClose() {
        this.map = {}
        this.$emit('close')
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          articleType: 2
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading = true;
        blogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleSelect(row) {
        {
          const body = '确定要选择【' + row.title + '】？'
          this.$confirm(body, '添加确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading = true;
            articleRecommendSave({ artcleId: row.id, articleType: 2 }).then(res => {
              this.$message.success(res.data);
              this.handleClose();
            }).finally(() => {
              this.loading = false;
            })
          })
        }
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
