<template>
  <div>
    <div class="container pdb30">
      <div class="spans font_hidden">
        <span>
          <router-link :to="{name: 'index'}">首页</router-link>
        </span>
        <span class="pdlr10">&gt;</span>
        <span>
          <router-link :to="{name: 'info'}">新闻资讯</router-link>
        </span>
        <span class="pdlr10">&gt;</span>
        <span>{{ info.title }}</span>
      </div>
      <div class="container">
        <div class="w750 fl">
          <div class="detail_info">
            <div class="pd20 c_ccc font14 b_fff">
              <p class="font24 font_b c_333">{{ info.title }}</p>
              <!-- <p class="mgt20">金融科技(分类)</p> -->
              <p class="clearfix mgt40">
                <span v-if="info.showTime">{{ info.showTime }}</span>
                <span v-else>{{ info.gmtModified }}</span>
                <span class="fr icons">
                  <span>
                    <span class="iconfont big">&#xe685;</span>
                    {{ info.readAcount }}
                  </span>
                  <!-- <span class="mgl10"><span class="iconfont big">&#xe620;</span>29</span> -->
                  <span
                    :class="{is_like: info.isAdmire}"
                    @click="setLikeOrColl(2)"
                    class="mgl10 hover_btn"
                  >
                    <span class="iconfont">&#xe601;</span>
                    {{ info.admireAcount }}
                  </span>
                </span>
              </p>
            </div>
            <!-- eslint-disable -->
            <div
              class="mgt10 b_fff pd40 border_b border_c c_333 font16 lh30"
              v-html="info.content"
            />
            <div class="b_fff pd20 clearfix">
              <span
                class="fr share_btn mgl20"
                :class="{is_like: info.isCollection}"
                @click="setLikeOrColl(1)"
              >
                <span class="iconfont">&#xe618;</span>
                {{ isColl }}
              </span>
              <span class="fr share_btn" @click="openShare">
                <span class="iconfont">&#xe6bf;</span>分享
              </span>
            </div>
          </div>
        </div>
        <div class="w430 fr">
          <y-hot-recommend v-affix class="w430" :list="hotList" />
        </div>
      </div>
    </div>
    <right-tap />
    <d-share-model v-if="!hideShare" :information-title="info.title" @closeShare="closeShare" />
  </div>
</template>
<script>
import YHotRecommend from '~/components/information/HotRecommend'
import DShareModel from '~/components/blog/ShareModel'
import RightTap from '~/components/common/RightTap'
import { likeOrColl, delLikeOrColl } from '~/api/blog/user.js'
export default {
  components: {
    YHotRecommend,
    RightTap,
    DShareModel
  },
  head() {
    return {
      title: this.info ? this.info.title + '-' + this.$store.state.clientData.name : '',
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.info ? this.info.keywords : ''
        },
        {
          hid: 'description',
          name: 'description',
          content: this.info ? this.info.summary : ''
        }
      ]
    }
  },
  data() {
    return {
      hideShare: true,
      info: {},
      isLogin: false
    }
  },
  computed: {
    // 是否已收藏
    isColl() {
      if (this.info.isCollection) {
        return '已收藏'
      } else {
        return '收藏'
      }
    }
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo
    try {
      const detailParams = {
        id: context.params.id
      }
      let info = {}
      if (tk) {
        // console.log(tk)
        const detailParams = {
          id: context.params.id
        }
        const blogData = await context.store.dispatch(
          'blog/GET_USERBLOGDETAIL',
          detailParams
        )
        if (blogData.code === 200) {
          info = blogData.data
        } else {
          info = await context.store.dispatch(
            'blog/GET_BLOGDETAIL',
            detailParams
          )
        }
      } else {
        info = await context.store.dispatch('blog/GET_BLOGDETAIL', detailParams)
      }
      const commentParams = {
        pageCurrent: 1,
        pageSize: 10,
        blogId: context.params.id
      }
      const pageObj = await context.store.dispatch(
        'blog/GET_COMMENTLIST',
        commentParams
      )
      const hotParams = {
        pageCurrent: 1,
        pageSize: 10,
        sections: 2,
        articleType: 2
      }
      const hotObj = await context.store.dispatch('blog/GET_HOTINFO', hotParams)
      return {
        info,
        commentParams,
        pageObj,
        hotList: hotObj.list
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    console.log(this.info)
    if (this.tokenInfo) {
      this.isLogin = true
    } else {
      this.isLogin = false
    }
  },
  methods: {
    // 关闭分享
    closeShare() {
      this.hideShare = true
    },
    // 打开分享
    openShare() {
      this.hideShare = false
    },
    // 点赞或收藏
    setLikeOrColl(opType) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录再操作！', '提示', {
          type: 'warning'
        })
          .then(() => {
            this.$store.dispatch('REDIRECT_LOGIN')
          })
          .catch(() => {
            this.$store.dispatch('REDIRECT_LOGIN')
          })
        return
      }
      let method = likeOrColl
      let params = {
        opType,
        weblogId: this.$route.params.id,
        userIp: '127.0.0.1',
        userTerminal: 'PC',
        userBrowser: '谷歌'
      }
      if (
        (opType === 2 && this.info.isAdmire) ||
        (opType === 1 && this.info.isCollection)
      ) {
        method = delLikeOrColl
        params = {
          opType,
          weblogId: this.$route.params.id
        }
      }
      method(params)
        .then(res => {
          if (opType === 2) {
            this.info.isAdmire = !this.info.isAdmire
            if (this.info.isAdmire) {
              this.info.admireAcount++
            } else {
              this.info.admireAcount--
            }
          } else {
            this.info.isCollection = !this.info.isCollection
          }
        })
        .catch(() => {})
    }
  }
}
</script>
<style lang="scss">
.lh30 {
  line-height: 30px;
}
.w750 {
  width: 750px;
}
.w430 {
  width: 430px;
}
.info_title {
  font-size: 16px;
  color: #333;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid rgba(226, 226, 226, 1);
}
.spans {
  width: 310px;
  line-height: 56px;
  font-size: 14px;
  color: #999;
}
.pdlr10 {
  padding: 0 10px;
}
.pd20 {
  padding: 20px;
}
.pd40 {
  padding: 40px;
}
.pdb30 {
  padding-bottom: 30px;
}
.border_c {
  border-color: rgb(230, 230, 230);
}
.detail_info {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
.icons {
  .iconfont {
    font-size: 16px;
    margin-right: 3px;
  }
  .big {
    font-size: 22px;
    vertical-align: middle;
  }
}
.hover_btn {
  cursor: pointer;
  &:hover {
    color: #d51423;
  }
}
.is_like {
  color: #d51423;
}
.share_btn {
  width: 86px;
  line-height: 35px;
  display: inline-block;
  border: 1px solid rgb(230, 230, 230);
  color: #ccc;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #d51423;
    border-color: #d51423;
  }
  &.is_like {
    color: #d51423;
    border-color: #d51423;
  }
}
</style>
