<template>
  <div class="live_page pab20">
    <y-header-list
      :class-list="classList"
      :four-now="free"
      :course-type="'live'"
    />
    <div class="course_content">
      <liveList :list="pageObj.list"></liveList>
      <br />
      <div class="center">
        <el-pagination
          :page-size="pageObj.pageSize"
          :current-page="pageObj.pageCurrent"
          :total="pageObj.totalCount"
          @current-change="getPage"
          class="page-panel"
          background
          layout="prev, pager, next"
        >
        </el-pagination>
      </div>
    </div>
    <right-tap />
  </div>
</template>
<script>
import YHeaderList from '~/components/HeaderList';
import RightTap from '~/components/common/RightTap';
import liveList from '~/components/live/liveList';
import { courseList, getClassList } from '~/api/course.js';
import { courseChange } from '~/utils/commonfun.js';
export default {
  components: {
    YHeaderList,
    RightTap,
    liveList
  },
  head() {
    return {
      title: this.$store.state.clientData.name,
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.keyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.desc
        }
      ]
    };
  },
  data() {
    return {
      free: '',
      classList: []
    };
  },
  watch: {
    $route() {
      courseChange(this);
      this.getCourse();
    }
  },
  async asyncData(context) {
    const dataObj = {};
    const clientNo = context.store.state.clientData.no;
    dataObj.clientNo = clientNo;
    dataObj.webInfo = context.store.state.webInfo;
    const categoryId1 = context.query.categoryno1 || '';
    const categoryId2 = context.query.categoryno2 || '';
    const categoryId3 = context.query.categoryno3 || '';
    let isFree = '';
    let free = 3;
    let isVipFree = '';
    if (context.query.four) {
      const four = context.query.four;
      if (parseInt(four) === 3) {
        isFree = '';
        isVipFree = '';
        free = 3;
      } else if (parseInt(four) === 2) {
        isFree = 0;
        isVipFree = '';
        free = 2;
      } else if (parseInt(four) === 1) {
        isFree = 1;
        isVipFree = '';
        free = 1;
      } else if (parseInt(four) === 4) {
        isVipFree = 1;
        isFree = '';
        free = 4;
      }
    } else {
      isFree = '';
      free = 3;
    }
    const obj = {
      courseCategory: 2,
      categoryId1,
      categoryId2,
      categoryId3,
      orgNo: clientNo,
      pageCurrent: 1,
      pageSize: 20,
      isFree,
      isVipFree
    };
    let pageObj = {
      list: [],
      pageCurrent: '',
      pageSize: '',
      totalCount: '',
      totalPage: ''
    };
    try {
      const allData = await Promise.all([
        courseList(obj),
        getClassList({ categoryType: 2 })
      ]);
      // 课程列表
      const courseData = allData[0];
      // console.log(courseData)
      if (courseData.data.list.length > 0) {
        pageObj = courseData.data;
      }
      // 分类
      const classData = await allData[1];
      let classList = [];
      if (classData.code === 200) {
        classList = classData.data.courseCategoryList;
      }
      dataObj.obj = obj;
      dataObj.pageObj = pageObj;
      dataObj.classList = classList;
      dataObj.free = free;
      return dataObj;
    } catch (e) {
      console.log(e);
      context.error({ message: 'User not found', statusCode: 404 });
    }
  },
  mounted() {
    console.log(this.pageObj);
    courseChange(this);
    if (this.$route.query.free) {
      this.obj.isFree = 1;
      this.free = 1;
    }
  },
  methods: {
    getCourse() {
      courseList(this.obj)
        .then((res) => {
          if (res.data.list.length > 0) {
            this.pageObj = res.data;
          } else {
            this.pageObj = {};
          }
        })
        .catch(() => {
          this.pageObj = {};
        });
    },
    getPage(int) {
      window.scrollTo(0, 0);
      this.obj.pageCurrent = int;
      this.getCourse();
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss">
.live_page {
  .course_content {
    width: 1200px;
    margin: 20px auto 0;
  }
  .center {
    margin-top: 10px;
    text-align: center;
  }
}
</style>
