<template>

  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="参数名称">
        <el-input v-model="map.configName" placeholder="" />
      </el-form-item>
      <el-form-item class="filter-item" label="KEY">
        <el-input v-model="map.configKey" placeholder="" />
      </el-form-item>
      <el-form-item class="filter-item" label="VALUE">
        <el-input v-model="map.configValue" placeholder="" />
      </el-form-item>
      <el-form-item class="filter-item" label="备注描述">
        <el-input v-model="map.remark" placeholder="" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button plain type="success" size="mini" @click="handleAddRow">新增</el-button>
        <el-button plain type="danger" size="mini" @click="handleDeleteRedisRow">清空缓存</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row>
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="参数名称" prop="configName" width="180" />
      <el-table-column label="KEY" prop="configKey" width="150" />
      <el-table-column label="VALUE" prop="configValue">
        <template slot-scope="scope">
          <span v-if="scope.row.configType === 0">{{ scope.row.configValue }}</span>
          <el-button v-if="scope.row.configType === 1" type="text" @click="openRow(scope.row)">
            【点击查看详情】
          </el-button>
          <img v-if="scope.row.configType === 2" :src="scope.row.configValue" alt="scope.row.configName">
        </template>
      </el-table-column>
      <el-table-column label="备注描述" prop="remark" width="160" />
      <el-table-column label="允许删除" prop="allowDelete" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-success': scope.row.allowDelete === 1, 'c-danger': scope.row.allowDelete === 0}">{{ allowDeleteEnum[scope.row.allowDelete] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" prop="statusId" width="60">
        <template slot-scope="scope">
          <span class="" :class="{'c-success': scope.row.statusId === 1, 'c-danger': scope.row.statusId === 0}">{{ statusIdEnum[scope.row.statusId] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="60" />
      <el-table-column label="操作" width="220">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.allowDelete === 1  " plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <sys-config-value
      :title="sysConfigValueCtr.title"
      :value="sysConfigValueCtr.value"
      :visible="sysConfigValueCtr.visible"
      @close-callback="closeCallback"
    />
  </div>
</template>

<script>
  import { sysConfigPage, sysConfigDelete, sysConfigUpdateStatus, sysConfigDeleteRedis } from '@/api/system'
  import SysConfigValue from '@/views/system/sysConfig/value/index';

  export default {
    components: { SysConfigValue },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        allowDeleteEnum: [],
        statusIdEnum: [],
        map: {},
        sysConfigValueCtr: {
          title: undefined,
          value: undefined,
          visible: false
        },
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'AllowDeleteEnum', type: 'obj' }).then(res => {
        this.allowDeleteEnum = res;
      })
    },
    created() {
      this.listForPage()
    },
    methods: {
      openRow(row) {
        this.sysConfigValueCtr.title = row.configName;
        this.sysConfigValueCtr.value = row.configValue;
        this.sysConfigValueCtr.visible = true;
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.configName + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysConfigDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRedisRow() {
        {
          const body = '确定要清空缓存？'
          this.$confirm(body, '清空确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysConfigDeleteRedis({}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      closeCallback() {
        this.listForPage();
        this.sysConfigValueCtr.visible = false;
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.$router.push('/system/sys/config/add')
      },
      handleUpdateRow(id) {
        this.$router.push({ path: '/system/sys/config/edit', query: { id: id } })
      },
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.configName + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.configName + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysConfigUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        sysConfigPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
<style scoped>
  img {
    max-width: 100px;
  }
</style>
