<template>
  <div class="app-container">
    <el-form class="filter-container problem" inline label-width="90px" size="mini">
      <el-form-item label="题目类型">
        <el-select v-model="map.problemType" placeholder="请选择" clearable>
          <el-option
            v-for="(value, key) in problemTypeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="题目名称">
        <el-input v-model="map.problemContent" clearable />
      </el-form-item>
      <el-form-item class="filter-item filter-item-btn ">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
        <el-dropdown v-if="checkPermission('ExamProblemUploadExcel')">
          <el-button size="mini">
            导入试题<i class="el-icon-arrow-down el-icon--right" />
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <a href="vcode/题目导入模板.xlsx" ><el-button plain size="mini">模板下载</el-button></a>
              <el-upload
                action=""
                style="display: inline-block"
                class="filter-item"
                :multiple="false"
                :accept="accept"
                :show-file-list="false"
                :http-request="upload">
                <el-button plain size="mini">模板导入</el-button>
              </el-upload>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <el-tooltip class="item"  effect="light" content="上传文件格式为xlsx，请注意试题编辑格式" placement="top-start">
          <svg-icon class="svg-icon" icon-class="question" />
        </el-tooltip>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="题目 / 讲师名称">
        <template slot-scope="scope">
          {{ scope.row.problemContent | initContent }}
          <br>
          【{{ scope.row.lecturerName }}】
        </template>
      </el-table-column>
      <el-table-column label="类型" width="80">
        <template slot-scope="scope">
          {{ problemTypeEnums[scope.row.problemType] }}
        </template>
      </el-table-column>
      <el-table-column label="科目" width="80">
        <template slot-scope="scope">
          {{ scope.row.subjectParentName }}{{ scope.row.subjectName }}
        </template>
      </el-table-column>
      <el-table-column label="来源" width="80">
        <template slot-scope="scope">
          {{ scope.row.sourceView }}
        </template>
      </el-table-column>
      <el-table-column label="年份" width="60">
        <template slot-scope="scope">
          {{ scope.row.year }}
        </template>
      </el-table-column>
      <el-table-column label="状态" width="60">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="60" />
      <el-table-column label="操作" width="200">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('ExamProblemEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('ExamProblemUpdateStatus') && scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('ExamProblemUpdateStatus') && scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

  </div>
</template>

<script>
  import { examProblemPage, examProblemStatusUpdate, uploadExcel } from '@/api/exam'

  export default {
    filters: {
      initContent(str) {
        // eslint-disable-next-line eqeqeq
        if (str != null && str !== '') {
          str = str.replace(/<[^>]+>|&[^>]+;/g, '').trim();// 去掉所有的html标签和&nbsp;之类的特殊符合
        }
        return str;
      }
    },
    data() {
      return {
        accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        formData: {},
        map: {},
        listLoading: true,
        problemTypeEnums: {},
        statusIdEnums: {}
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'ProblemTypeEnum', type: 'obj' }).then(res => {
        this.problemTypeEnums = res;
      });
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      upload(file) {
        {
          const body = '确定要导入试题吗？'
          this.$confirm(body, '导入确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            uploadExcel(file).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUpdateRow(id) {
        this.$router.push({ path: '/exam/problem/edit', query: { id: id } })
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        examProblemPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            examProblemStatusUpdate({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.auditCtr.visible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
<style lang="scss">
  .problem {
    .filter-item-btn{
      &.el-form-item--mini{
        .el-form-item__content{
          width: 270px;
        }
      }
    }
  }
</style>
