<template>
  <el-dialog
    width="60%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="课程名称">
        <el-input v-model="map.courseName" />
      </el-form-item>
      <el-form-item class="filter-item" label="课程类型">
        <el-select v-model="map.courseCategory" class="auto-width" clearable filterable placeholder="课程类型">
          <el-option
            v-for="item in courseCategoryList"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column property="courseName" label="课程名称" />
      <el-table-column label="课程分类">
        <template slot-scope="scope">
          {{ courseCategoryEnums[scope.row.courseCategory] }}
          <br>
          {{ scope.row.categoryName1 }}<span v-if="scope.row.categoryName2">/{{ scope.row.categoryName2 }}</span><span
            v-if="scope.row.categoryName3"
          >/{{ scope.row.categoryName3 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="价格">
        <template slot-scope="scope">
          <span>
            普通价：{{ scope.row.courseOriginal | formatAmount }}<br>
            会员价：{{ scope.row.courseDiscount | formatAmount }}
          </span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleClose(scope.row)">选择</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import {courseFindBack} from '@/api/course';

  export default {
    name: 'FindCourse',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    filters: {
      formatAmount(val) {
        if (val) {
          return '¥ ' + val.toFixed(2)
        }
        return '¥ 0.00'
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        courseCategoryList: [
          {
            value: 1,
            label: '点播课程'
          },
          {
            value: 2,
            label: '直播课程'
          }
        ],
        list: [],
        map: {},
        loading: false,
        courseCategoryEnums: {},
        statusIdEnums: {}
      }
    },
    created() {
      this.listForPage();
      this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
        this.courseCategoryEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleClose(row) {
        if (row.id) {
          this.map = {}
          this.page.pageCurrent = 1
        }
        this.$emit('close-callback', row)
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading = true;
        this.map.isFree = 0
        courseFindBack(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>
