<template>
  <div id="editor" class="editorDiv" />
</template>

<script>
  import * as commonalityApi from '@/api/commonality';

  export default {
    name: 'Editor',
    props: {
      content: {
        type: String,
        default: ''
      },
      initEditor: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        editorText: '',
        editor: undefined
      }
    },
    watch: {
      initEditor: function(val) {
        if (val) {
          this.$nextTick(() => {
            this.editor.txt.html(this.content)
          })
        }
      }
    },
    mounted() {
      const E = require('wangeditor')
      this.editor = new E('#editor')
      // 设置图片上传
      this.editor.customConfig.customUploadImg = this.editorUpload
      // 当编辑器内容变化的时候this.initEditor通知父组件
      this.editor.customConfig.onchange = (html) => {
        this.editorText = html;
        // 通知父级控件方法，富组件可以通过 editorContent 事件去获取最新的编辑器内容
        this.$emit('success', html)
      }
      this.editor.create();
      if (this.initEditor) {
        this.editor.txt.html(this.content)
      }
    },
    methods: {
      // 清空编辑器
      handleClear() {
        this.editor.txt.clear()
      },
      // 编辑器上传图片
      editorUpload(files, insert) {
        const file = files[0];
        const param = new FormData();
        param.append('picFile', file, file.name);
        commonalityApi.uploadPic(param).then(res => {
          if (res.code === 200) {
            const imgUrl = res.data
            insert(imgUrl)
          }
        }).catch(() => {
          this.$message({
            type: 'error',
            message: '上传图片出错，请稍后重试'
          })
        })
      }
    }
  }
</script>

<style scoped>
  .editorDiv {
    height: 400px;
    width: 90%;
    position: relative;
    z-index: 10;
  }
</style>
