<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="状态(1:正常，0:禁用)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="用户类型(1用户，2讲师，3代理，4讲师（代理）)" prop="userType">
            <el-input v-model="form.userType" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户手机" prop="mobile">
            <el-input v-model="form.mobile" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="性别(1男，2女，3保密)" prop="sex">
            <el-input v-model="form.sex" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="年龄" prop="age">
            <el-input v-model="form.age" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="昵称" prop="nickname">
            <el-input v-model="form.nickname" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="头像地址" prop="headImgUrl">
            <el-input v-model="form.headImgUrl" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="备注" prop="remark">
            <el-input v-model="form.remark" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否是会员（0：不是，1:是）" prop="isVip">
            <el-input v-model="form.isVip" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="会员类型(1.年费，2.季度，3.月度)" prop="vipType">
            <el-input v-model="form.vipType" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否是企业用户（1：是；0：否）" prop="isEnterpriseUser">
            <el-input v-model="form.isEnterpriseUser" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="过期时间" prop="expireTime">
            <el-input v-model="form.expireTime" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="推荐码" prop="referralCode">
            <el-input v-model="form.referralCode" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="二维码url" prop="codeUrl">
            <el-input v-model="form.codeUrl" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item>
        <el-button type="primary" @click="submitForm('form')">立即创建</el-button>
        <el-button @click="handleClose">关 闭</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
  import { userExtSave } from '@/api/user'

  export default {
    name: 'AddUserExt',
    data() {
      return {
        form: {},
        opts: {},
        rules: {
          gmtCreate: [
            { required: true, message: '请输入创建时间', trigger: 'blur' }
          ],
          gmtModified: [
            { required: true, message: '请输入修改时间', trigger: 'blur' }
          ],
          statusId: [
            { required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur' }
          ],
          userNo: [
            { required: true, message: '请输入用户编号', trigger: 'blur' }
          ],
          userType: [
            { required: true, message: '请输入用户类型(1用户，2讲师，3代理，4讲师（代理）)', trigger: 'blur' }
          ],
          mobile: [
            { required: true, message: '请输入用户手机', trigger: 'blur' }
          ],
          sex: [
            { required: true, message: '请输入性别(1男，2女，3保密)', trigger: 'blur' }
          ],
          age: [
            { required: true, message: '请输入年龄', trigger: 'blur' }
          ],
          nickname: [
            { required: true, message: '请输入昵称', trigger: 'blur' }
          ],
          headImgUrl: [
            { required: true, message: '请输入头像地址', trigger: 'blur' }
          ],
          remark: [
            { required: true, message: '请输入备注', trigger: 'blur' }
          ],
          isVip: [
            { required: true, message: '请输入是否是会员（0：不是，1:是）', trigger: 'blur' }
          ],
          vipType: [
            { required: true, message: '请输入会员类型(1.年费，2.季度，3.月度)', trigger: 'blur' }
          ],
          isEnterpriseUser: [
            { required: true, message: '请输入是否是企业用户（1：是；0：否）', trigger: 'blur' }
          ],
          expireTime: [
            { required: true, message: '请输入过期时间', trigger: 'blur' }
          ],
          referralCode: [
            { required: true, message: '请输入推荐码', trigger: 'blur' }
          ],
          codeUrl: [
            { required: true, message: '请输入二维码url', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/user/user/ext/list');
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        userExtSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
