<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="购买手机">
        <el-input v-model="form.mobile" disabled class="form-group" />
      </el-form-item>
      <el-form-item label="购买课程">
        <el-input v-model="form.courseName" disabled class="form-group" />
      </el-form-item>
      <el-form-item label="改后价格">
        <el-input-number v-model="form.pricePaid" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="danger" @click="submitForm('form')">改 价</el-button>
    </span>
  </el-dialog>
</template>
<script>
import {orderInfoPrice} from '@/api/user'

export default {
  name: 'OrderInfoPrice',
  props: {
    title: {
      type: String,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    },
    info: {
      type: Object,
      default: () => {
      }
    }
  },
  data() {
    return {
      form: {}
    }
  },
  watch: {
    visible: function(val) {
      if (val) {
        this.form = {
          id: this.info.id,
          courseName: this.info.courseName,
          pricePaid: this.info.pricePaid,
          mobile: this.info.mobile
        }
      }
    }
  },
  methods: {
    handleClose() {
      this.$emit('close-callback');
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      orderInfoPrice(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
