<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="标题" prop="title">
            <el-input v-model="form.title" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="模板类型" prop="remark">
            <el-radio-group v-model="form.msgTemplateType" prop="msgTemplateType">
              <el-radio disabled v-for="item in msgTemplateTypeEnums" :key="item.code" v-model="form.msgTemplateType" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="是否使用模板" prop="remark">
            <el-radio-group v-model="form.isUseTemplate" prop="msgTemplateType">
              <el-radio v-for="item in isUseTemplateEnums" :key="item.code" v-model="form.isUseTemplate" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="模板内容" prop="remark">
          <wangeditor v-model="form.remark" />
        </el-form-item>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
  import { msgTemplateView, msgTemplateEdit } from '@/api/user'
  import UploadImage from '@/components/Upload/UploadImage';
  import Wangeditor from '@/components/wangeditor/wangeditor';

  export default {
    name: 'EditMsgTemplate',
    components: {Wangeditor, UploadImage},
    data() {
      return {
        form: {},
        msgTemplateTypeEnums: [],
        isUseTemplateEnums: [],
        rules: {
          title: [
            { required: true, message: '请输入标题', trigger: 'blur' }
          ],
          remark: [
            { required: true, message: '请输入备注', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      const view = this.$route
      this.getViewInfo(view.query.id)
      this.$store.dispatch('GetOpts', { enumName: 'MsgTemplateTypeEnum', type: 'arr' }).then(res => {
        this.msgTemplateTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsUseTemplateEnum', type: 'arr' }).then(res => {
        this.isUseTemplateEnums = res;
      });
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/user/msg/template/list');
        })
      },
      getViewInfo(id) {
        this.loading = true
        msgTemplateView(id).then(res => {
          this.loading = false
          this.form = res.data
        }).catch(() => {
          this.loading = false
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        msgTemplateEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
