<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="审核结果" prop="auditStatus">
        <el-radio-group v-model="auditStatus">
          <el-radio :label="1">通过</el-radio>
          <el-radio :label="2">不通过</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="审核意见" prop="auditOpinion">
        <el-input v-model="form.auditOpinion" autosize type="textarea" class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button type="primary" size="mini" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { courseAuditAudit } from '@/api/course'

  export default {
    name: 'AuditCourseRecord',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        auditStatus: 1,
        form: {
          auditOpinion: ''
        },
        opts: {},
        rules: {
          auditStatus: [
            { required: true, message: '请选择审核状态', trigger: 'blur' }
          ],
          auditOpinion: [
            { required: true, message: '请输入审核意见', trigger: 'blur' }
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = {
            id: this.info.id,
            auditStatus: 1,
            auditOpinion: '系统默认通过'
          }
        }
      },
      auditStatus: function(val) {
        if (val === 1) {
          this.form = {
            id: this.info.id,
            auditStatus: val,
            auditOpinion: '系统默认通过'
          }
        } else {
          this.form = {
            id: this.info.id,
            auditStatus: val,
            auditOpinion: ''
          }
        }
      }
    },
    mounted() {
    },
    methods: {
      handleClose() {
        this.form = {};
        this.auditStatus = 1;
        this.$emit('close-callback');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        if (!this.form.auditOpinion) {
          this.loading = false
          this.$message({
            type: 'error',
            message: '请输入审核原因'
          });
          return false
        }
        courseAuditAudit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
