<template>
<view>
<view>
	<view class="top"></view>
  <view class="user_box">
    <view class="center_box">
      <view v-if="userInfo">
        <image v-if="userInfo.headImgUrl" :src="userInfo.headImgUrl" class="user_img"></image>
        <image v-else src="/static/images/account/friend.jpg" class="user_img"></image>
      </view>
      <view class="user_img" @tap="goLogin" v-else>
        登录
      </view>
      <view class="text_center c_fff mgt10">
        <text class="font33">{{userInfo.nickname || userInfo.mobile}}</text>
      </view>
    </view>
    <image src="../../../static/images/account/set.svg" @tap="goSet" class="set_img"></image>
  </view>
  <view v-if="userInfo && userInfo.userType !== 1 && showPrice">
    <text class="h60 font25 c_999 pdl20">讲师中心</text>
    <navigator class="index_btn b_fff" url="../earning/earning">
      <image src="../../../static/images/account/icon-2.svg" class="index_icon"></image>
      <text class="c_333 font33">收益</text>
      <text class="c_333 font33 fr arrows"></text>
    </navigator>
	
    <navigator class="index_btn b_fff" url="../earningHistory/earningHistory" >
      <image src="../../../static/images/account/tixian.svg" class="index_icon"></image>
      <text class="c_333 font33">提现</text>
      <text class="c_333 font33 fr arrows"></text>
    </navigator>
    <navigator class="index_btn b_fff" url="../cardList/cardList" >
      <image src="../../../static/images/account/icon-3.svg" class="index_icon"></image>
      <text class="c_333 font33">银行卡</text>
      <text class="c_333 font33 fr arrows"></text>
    </navigator>
  </view>
  <view v-if="userInfo && (userInfo.userType == 3 || userInfo.userType == 4)">
    <view class="index_btn b_fff" @tap="opentjm">
      <image src="../../../static/images/account/erwma.svg" class="index_icon"></image>
      <text class="c_333 font33">推荐码</text>
      <text class="c_333 font33 fr arrows"></text>
    </view>
    <navigator class="index_btn b_fff" url="../recommend/recommend">
      <image src="../../../static/images/account/daili.svg" class="index_icon"></image>
      <text class="c_333 font33">代理推荐</text>
      <text class="c_333 font33 fr arrows"></text>
    </navigator>
  </view>
  <view>
	  <text class="h60 font25 c_999 pdl20">班级中心</text>
	  <navigator class="index_btn b_fff" url="../classes/myClasses">
	    <image src="../../../static/images/account/banji_11.svg" class="index_icon"></image>
	    <text class="c_333 font33">我的班级</text>
	    <text class="c_333 font33 fr arrows"></text>
	  </navigator>
	  <navigator class="index_btn b_fff" url="../exam/myExam">
	    <image src="../../../static/images/account/xuexijilu_11.svg" style="" class="index_icon"></image>
	    <text class="c_333 font33">我的考试</text>
	    <text class="c_333 font33 fr arrows"></text>
	  </navigator>
  </view>


  <view>
    <text class="h60 font25 c_999 pdl20">用户中心</text>
    <view>

      <navigator class="index_btn b_fff" url="../course/course">
        <image src="../../../static/images/account/wode-kecheng1.svg" class="index_icon"></image>
        <text class="c_333 font33">我的课程</text>
        <text class="c_333 font33 fr arrows"></text>
      </navigator>
      <navigator class="index_btn b_fff" url="../order/order">
        <image src="../../../static/images/account/icon-4.svg" class="index_icon"></image>
        <text class="c_333 font33">我的订单</text>
        <text class="c_333 font33 fr arrows"></text>
      </navigator>
	  <navigator class="index_btn b_fff" url="../exam/exam">
	    <image src="../../../static/images/account/shijuan1.svg" style="" class="index_icon"></image>
	    <text class="c_333 font33">我的试卷</text>
	    <text class="c_333 font33 fr arrows"></text>
	  </navigator>
	  <navigator class="index_btn b_fff" url="../exam/record">
	    <image src="../../../static/images/account/jilu.svg" style="" class="index_icon"></image>
	    <text class="c_333 font33">考试记录</text>
	    <text class="c_333 font33 fr arrows"></text>
	  </navigator>
      <navigator class="index_btn b_fff" url="../study/study">
        <image src="../../../static/images/account/xuexijilu_huaban11.svg" class="index_icon"></image>
        <text class="c_333 font33">学习记录</text>
        <text class="c_333 font33 fr arrows"></text>
      </navigator>
	 
    </view>
	
    <navigator class="index_btn b_fff" url="../message/list/list">
      <image src="../../../static/images/account/icon-1.svg" class="index_icon"></image>
      <text class="c_333 font33">我的通知</text>
      <text class="c_333 font20 fr c_red pdr20 arrows"><text v-if="msgNum">{{msgNum}}条消息未读</text></text>
    </navigator>
      <navigator class="index_btn b_fff" url="../collect/collect">
        <image src="../../../static/images/account/icon.svg" class="index_icon"></image>
        <text class="c_333 font33">我的收藏</text>
        <text class="c_333 font33 fr arrows"></text>
      </navigator>
      <navigator class="index_btn b_fff" url="../attention/attention">
        <image src="../../../static/images/account/guanzhu1.svg" class="index_icon"></image>
        <text class="c_333 font33">我的关注</text>
        <text class="c_333 font33 fr arrows"></text>
      </navigator>
    <navigator  v-if="userInfo && userInfo.isRecommended == 1" class="index_btn b_fff" url="../referral/referral">
      <image src="../../../static/images/account/tuijian.svg" class="index_icon"></image>
      <text class="c_333 font33">我的推荐</text>
      <text class="c_333 font33 fr arrows"></text>
    </navigator>
  </view>
</view>
  <!--  #ifdef  APP-PLUS -->
  <view class="foot-panel">
    <navigator class="a-link" url="../../agreement/user">《用户协议》</navigator>
    |<navigator class="a-link" url="../../agreement/privacy">《隐私协议》</navigator>
    <view class="copyright">{{webInfo.copyright}}</view>
  </view>
<!--  #endif -->
<view class="ewm_model" v-show="hideEWM">
  <view class="mask" @tap="closetjm"></view>
  <view class="ewm_box b_fff">
    <!-- <image src="../../images/logo.png" class="top_img"></image> -->
    <image src="../../../static/images/close.svg" class="close" @tap="closetjm"></image>
    <view class="text_center mgt98 c_999 font33">{{userInfo.mobile}}</view>
    <view class="content_img">
      <text v-if="loadEWM">{{loadEWM}}</text>
      <image v-else :src="wxacode"></image>
    </view>
    <view class="ewm_num">
      <view class="text_center font50 c_333">推荐号：{{userInfo.referralCode}}</view>
    <view class="text_center font25 mgt30 c_999">扫一扫上面的二维码注册，或填写对应的推荐号</view>
    </view>
  </view>
</view>
</view>
</template>

<script>
// pages/account/index/index.js
import { getUserInfo, login, hideLogin } from "../../../utils/auth";
import { msgNum } from "../../../utils/website";
import * as agent from "../../../api/agent";
const app = getApp();

export default {
  data() {
    return {
      wxacode: '',
      hideEWM: false,
      loadEWM: null,
      userInfo: '',
      msgNum: 0,
      showPrice: uni.getStorageSync('showPrice'),
      webInfo: uni.getStorageSync('website')
    };
  },

  components: {},
  props: {},
  onShareAppMessage: function () {
    const userInfo = uni.getStorageSync('userInfo');
    let url = 'pages/index/index';

    if (userInfo) {
      url += '?referralCode=' + userInfo.referralCode;
    }

    return {
      path: url
    };
  },

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();


  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {
   if (!uni.getStorageSync('userInfo')) {
     login(res => {
       this.setData({
         userInfo: res
       });
     });
   } else {
     getUserInfo(res => {
       this.setData({
         userInfo: res
       });
     });
     msgNum(res => {
       this.setData({
         msgNum: res.num
       });
     });
   }
  },

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    goLogin() {
      login((data)=>{
        console.log('data')
        console.log(data)
        this.userInfo = data
      })
    },
    goSet() {
      uni.navigateTo({
        url: '../info/info'
      });
    },

    // 打开推荐吗
    opentjm() {
      this.setData({
        hideEWM: false,
        loadEWM: '正在生成推荐二维码···'
      });
      let data = {
        page: 'pages/verify/verify',
        // page: 'pages/index/index',
        referralCode: this.userInfo.referralCode
      };
      agent.referralCode(data).then(res => {
        this.setData({
          loadEWM: false,
          wxacode: res
        });
        console.log(res);
      }).catch(() => {
        this.setData({
          loadEWM: '生成二维码失败!'
        });
      });
    },

    // 关闭推荐
    closetjm() {
      this.setData({
        hideEWM: true
      });
    }

  }
};
</script>
<style lang="scss" scoped>
/* pages/account/index/index.wxss */


.top {
	background: #2388EC;
	/*  #ifdef MP-WEIXIN */
	padding-top: 60px;
	/*  #endif  */
}
.user_box {
  width: 100%;
  box-sizing: border-box;
  padding: 40rpx 20rpx;
  height: 277rpx;
  background: #2388EC;
  display: flex;

  justify-content: space-between;
}
.is_vip {
  height: 247rpx;
}
.user_img {
  display: block;
  width: 158rpx;
  height: 158rpx;
  line-height: 158rpx;
  text-align: center;
  border-radius: 50%;
  color: #999;
  margin: 0 auto;
  background-color: #fff;
}
.no_block {
  display: inline-block;
  height: 158rpx;
  margin-left: 30rpx;
  vertical-align: text-top;
}
.set_img {
  width: 34rpx;
  height: 34rpx;
}
.nav_box {
  width: 708rpx;
  height: 219rpx;
  margin: -108rpx auto 0;
  border-radius: 6px;
  display: flex;
  z-index: 1;
}
.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.icon_img {
  width: 41rpx;
  height: 41rpx;
  margin: 50rpx auto;
}
.index_btn {
  padding: 0 20rpx;
  height: 94rpx;
  line-height: 94rpx;
  border-bottom: 1rpx solid rgba(247, 245, 248, 1);
}
.index_icon {
  width: 41rpx;
  height: 41rpx;
  vertical-align: middle;
  margin-right: 30rpx;
}

/* 二维码 */
.ewm_model {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.ewm_model .mask{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}
.ewm_model .ewm_box {
  width: 666rpx;
  height: 916rpx;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -458rpx 0 0 -333rpx;
}
.ewm_model .top_img {
  width: 156rpx;
  height: 156rpx;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin: -78rpx 0 0 -78rpx;
}
.ewm_model .mgt98 {
  margin: 98rpx;
}
.ewm_model .content_img {
  width: 500rpx;
  height: 500rpx;
  position: absolute;
  left: 83rpx;
  top: 200rpx;
  text-align: center;
}
.ewm_model .content_img image {
  width: 100%;
  height: 100%;
}
.ewm_model .ewm_num {
  width: 100%;
  position: absolute;
  bottom: 40rpx;
}
.ewm_model .close {
  width: 40rpx;
  height: 40rpx;
  position: absolute;
  right: 20rpx;
  top: 20rpx;
}
.go_vip {
  height: 122rpx;
  width: 15rpx;
  background: #000;
  border-radius: 7rpx;
  margin-top: 23rpx;
  position: relative;
}
.vip_card {
  width: 182rpx;
  height: 96rpx;
  position: absolute;
  top: 15rpx;
  left: -172rpx;
  border-radius: 4px 0 0 4px;
}
.vip_icon {
  width: 45rpx;
  height: 45rpx;
  position: relative;
  top: 10rpx;
}
.foot-panel{
  text-align: center;
  font-size: 28rpx;
  padding-top: 90rpx;
  padding-bottom: 12rpx;
  .a-link{
    display: inline;
    color: #2488EC;
  }
  .copyright{
    color: #999;
    font-size: 20rpx;
  }
}
</style>
