<template>
  <div class="question_page mgt30 blog_default">
    <div :class="{hide_btn: hideBtnBox}" class="btn_box">
      <div
        :class="{is_like: questionInfo.isPraise}"
        @click="setLikeOrColl(2)"
        class="btn big_like clearfix"
      >
        <p class="mgt10">
          <span class="iconfont like_icon">&#xe60f;</span>
        </p>
      </div>
      <div class="btn clearfix mgt20 center font14">
        <a @click="hideShare = false" href="javascript:">
          <p>分享</p>
        </a>
      </div>
      <div class="btn clearfix mgt20 center font14">
        <a href="#commentInput">评论</a>
      </div>
    </div>
    <div class="auto_box clearfix mgt30">
      <div class="auto_box clearfix fl">
        <div class="pad30 b_fff radius_box">
          <p class="font_20 font_b">{{ questionInfo.title }}</p>
          <p class="c_999 font14 mgt20">
            <span>编辑于：{{ questionInfo.gmtModified }}</span>
          </p>
        </div>
        <div class="b_fff">
          <div class="padlr_40">
            <!-- eslint-disable -->
            <div class="blog_content" v-html="questionInfo.content" />
          </div>
          <div class="w300 mgt20 clearfix">
            <div class="pad20 b_fff radius_box clearfix">
              <div class="default_photo fl btn" @click="goBlogger()">
                <img v-if="bolggerInfo.bloggerUserImg" :src="bolggerInfo.bloggerUserImg" alt />
                <img v-else src="../../../assets/image/blog/friend.jpg" alt />
              </div>
              <div class="w100 fl mgt10 mgl10">
                <p
                  class="text_hidden font_b font_14 c_333 btn"
                  @click="goBlogger()"
                >{{ bolggerInfo.bloggerNickname }}</p>
                <p class="font_12 c_999 mgt10">{{ bolggerInfo.fansAccount }}人已关注</p>
              </div>
              <y-active-btn
                v-if="showActiveBtn"
                :blogger-info="bolggerInfo"
                @changeActive="changeActive"
              />
            </div>
          </div>
          <div class="pad20 clearfix font_12 c_ccc">
            <div
              class="fl mgl20 btn"
              :class="{c_red: questionInfo.isCollection}"
              @click="setLikeOrColl(1)"
            >
              <span class="iconfont small_icon">&#xe618;</span>
              <span>{{ collStr }}</span>
            </div>
            <div class="fl mgl20 btn" @click="hideShare = false">
              <span class="iconfont small_icon">&#xe6bf;</span>
              <span>分享</span>
            </div>
            <p class="fr font_14 c_ccc">
              <span class="iconfont icon">&#xe685;</span>
              <span>{{ questionInfo.readAcount }}</span>
              <span class="padlr_10">|</span>
              <span class="iconfont icon">&#xe620;</span>
              <span>{{ questionInfo.commentAcount }}</span>
              <span class="padlr_10">|</span>
              <span
                class="iconfont btn"
                :class="{c_red: questionInfo.isPraise}"
                @click="setLikeOrColl(2)"
              >&#xe601;</span>
              <span>{{ questionInfo.admireAcount }}</span>
            </p>
          </div>
        </div>
        <y-question-comment
          :page-obj="pageObj"
          :question-info="questionInfo"
          @sendCommentOne="sendCommentOne"
          @sendCommentTwo="sendCommentTwo"
          @loadComment="loadComment"
          @flatComment="flatComment"
        />
      </div>
    </div>
    <d-share-model
      v-if="!hideShare"
      :information-title="questionInfo.title"
      @closeShare="closeShare"
    />
    <y-right-tap />
  </div>
</template>
<script>
import YRightTap from '~/components/common/RightTap'
import YQuestionComment from '~/components/question/QuestionComment'
import DShareModel from '~/components/blog/ShareModel'
import YActiveBtn from '~/components/blog/ActiveBtn'
import {
  likeOrCollQuestion,
  delLikeOrCollQuestion,
  questionsComment
} from '~/api/question.js'
export default {
  components: {
    YQuestionComment,
    DShareModel,
    YRightTap,
    YActiveBtn
  },
  head() {
    return {
      title: this.questionInfo.title + '-问答',
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.questionInfo.keywords
        },
        {
          hid: 'description',
          name: 'description',
          content: this.questionInfo.summary
        }
      ]
    }
  },
  data() {
    return {
      hideBtnBox: false,
      oneList: '',
      showActiveBtn: true,
      hideShare: true
    }
  },
  computed: {
    collStr() {
      if (this.questionInfo.isCollection) {
        return '已收藏'
      }
      return '收藏'
    }
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo
    try {
      const detailParams = {
        id: context.params.id
      }
      let questionInfo = {}
      if (tk) {
        // console.log(tk)
        const detailParams = {
          id: context.params.id
        }
        const blogData = await context.store.dispatch(
          'question/GET_USERQUESTIONDETAIL',
          detailParams
        )
        if (blogData.code === 200) {
          questionInfo = blogData.data
        } else {
          questionInfo = await context.store.dispatch(
            'question/GET_QUESTIONDETAIL',
            detailParams
          )
        }
      } else {
        console.log(detailParams)
        questionInfo = await context.store.dispatch(
          'question/GET_QUESTIONDETAIL',
          detailParams
        )
      }
      const bloggerParams = {
        bloggerUserNo: questionInfo.bloggerUserNo || questionInfo.userNo
      }
      let bolggerInfo = {}
      if (tk) {
        const bolggerData = await context.store.dispatch(
          'blog/GET_USERBOLGGERINFO',
          bloggerParams
        )
        if (bolggerData.code === 200) {
          bolggerInfo = bolggerData.data
        } else {
          bolggerInfo = await context.store.dispatch(
            'blog/GET_BOLGGERINFO',
            bloggerParams
          )
        }
      } else {
        bolggerInfo = await context.store.dispatch(
          'blog/GET_BOLGGERINFO',
          bloggerParams
        )
      }
      bolggerInfo.bloggerUserNo =
        questionInfo.bloggerUserNo || questionInfo.userNo
      const commentParams = {
        pageCurrent: 1,
        pageSize: 10,
        questionsId: context.params.id
      }
      const pageObj = await context.store.dispatch(
        'question/GET_COMMENTLIST',
        commentParams
      )
      return {
        questionInfo,
        bolggerInfo,
        commentParams,
        pageObj
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    this.listtenerScroll()
    if (
      (this.$store.state.userInfo &&
        this.bolggerInfo.bloggerUserNo === this.$store.state.userInfo.userNo) ||
      this.questionInfo.bloggerStatusId === 0
    ) {
      this.showActiveBtn = false
    }
  },
  methods: {
    listtenerScroll() {
      window.addEventListener('scroll', e => {
        const top = e.target.scrollingElement.scrollTop
        if (top > document.getElementById('footerBox').offsetTop - 400) {
          this.hideBtnBox = true
        } else {
          this.hideBtnBox = false
        }
      })
    },
    goBlogger() {
      console.log(this.questionInfo)
      if (this.questionInfo.bloggerStatusId === 0) return
      const routeData = this.$router.resolve({
        name: 'blog-blogger-id',
        params: { id: this.bolggerInfo.bloggerUserNo }
      })
      window.open(routeData.href, '_blank')
    },
    closeShare() {
      this.hideShare = true
    },
    setLikeOrColl(opType) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      let method = likeOrCollQuestion
      let params = {
        opType,
        questionsId: this.$route.params.id
      }
      if (
        (opType === 2 && this.questionInfo.isPraise) ||
        (opType === 1 && this.questionInfo.isCollection)
      ) {
        method = delLikeOrCollQuestion
        params = {
          opType,
          questionsId: this.$route.params.id
        }
      }
      console.log(params)
      method(params)
        .then(res => {
          if (opType === 2) {
            this.questionInfo.isPraise = !this.questionInfo.isPraise
            if (this.questionInfo.isPraise) {
              this.questionInfo.admireAcount++
            } else {
              this.questionInfo.admireAcount--
            }
          } else {
            this.questionInfo.isCollection = !this.questionInfo.isCollection
          }
        })
        .catch(() => {})
    },
    // 改变是否关注
    changeActive(isAttention) {
      if (!isAttention) {
        this.bolggerInfo.fansAccount += 1
      } else {
        this.bolggerInfo.fansAccount -= 1
      }
      this.bolggerInfo.isAttention = !isAttention
    },
    sendCommentOne(data) {
      this.$store.commit('CHANGE_TIME', data, { root: true })
      this.pageObj.list.unshift(data)
      this.questionInfo.commentAcount++
    },
    sendCommentTwo(data) {
      console.log('触发')
      const findResult = this.pageObj.list.find(item => {
        return item.id === data.findId
      })
      if (findResult.list) {
        findResult.list.push(data)
      } else {
        findResult.list = [data]
      }
      this.questionInfo.commentAcount++
    },
    loadComment(context) {
      const params = this.commentParams
      params.pageCurrent++
      questionsComment(params).then(res => {
        const list = this.pageObj.list
        context.loadMore = false
        this.flatComment(res.data.list)
        res.data.list = list.concat(res.data.list)
        this.pageObj = res.data
      })
    },
    flatComment(list) {
      console.log(list)
      list.forEach(item => {
        this.oneList = item.list
        if (item.list && item.list.length) {
          item.list.forEach(that => {
            if (that.list && that.list.length) {
              this.flatTwo(that.list)
            }
          })
        }
      })
      console.log(this.pageObj)
    },
    flatTwo(list) {
      list.forEach(item => {
        this.oneList.push(item)
        if (item.list && item.list.length) {
          this.flatTwo(item.list)
        }
      })
    }
  }
}
</script>
<style lang="scss">
.question_page {
  .auto_box {
    width: 880px;
    margin: 0 auto;
  }
  .w100 {
    width: 100px;
  }
  .tip {
    position: relative;
    top: -4px;
  }
  .icon {
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    .small_icon {
      font-size: 14px;
    }
  }
  .btn_box {
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-520px);
    transition: opacity 0.3s;
    &.hide_btn {
      opacity: 0;
    }
  }
  .big_like {
    width: 60px;
    height: 60px;
    border-radius: 35px;
    background: rgba(220, 220, 220, 1);
    color: #fff;
    text-align: center;
    font-size: 16px;
    &.is_like {
      background: rgba(213, 20, 35, 1);
    }
    .like_icon {
      font-size: 30px;
    }
  }
  .blog_content {
    font-size: 16px;
    word-break: break-all;
    line-height: 26px;
    pre {
      margin: 10px 0;
      padding: 8px 16px 4px 20px;
      background-color: #f6f8fa;
      overflow-x: auto;
    }
  }
  .tap {
    padding: 0px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    line-height: 24px;
    border-radius: 12px;
  }
}
</style>
