<template>
  <div class="app-container record-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="博客标签" prop="tagsName">
            <el-select v-model="form.tagsName" placeholder="请选择">
              <el-option
                v-for="item in blogLabelList"
                :key="item.id"
                :label="item.labelName"
                :value="item.labelName"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="公开设置" prop="isOpen">
            <el-radio-group v-model="form.isOpen">
              <el-radio v-for="item in isOpenEnumList" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="分类设置" prop="typeId">
            <el-radio-group v-model="form.typeId">
              <el-radio v-for="item in typeIdEnumList" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="置顶设置" prop="isTop">
            <el-radio-group v-model="form.isTop">
              <el-radio v-for="item in isTopEnumList" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="form.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="收藏人数">
            <el-input-number v-model="form.collectionAcount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="点赞人数">
            <el-input-number v-model="form.admireAcount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="评论人数">
            <el-input-number v-model="form.commentAcount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="阅读人数">
            <el-input-number v-model="form.readAcount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="标题" prop="title">
            <el-input v-model="form.title" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="关键词" prop="keywords">
            <el-input v-model="form.keywords" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="摘要" prop="summary">
            <el-input v-model="form.summary" type="textarea" autosize />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="博客内容" prop="content">
            <Wangeditor v-model="form.content" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-form-item label="LOGO">
            <upload-image :image-url="form.blogImg" @success="val => {form.blogImg = val.url}" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
  import { blogEdit, blogView, labelListByType } from '@/api/community'
  import Wangeditor from '@/components/wangeditor/wangeditor';
  import UploadImage from '@/components/Upload/UploadImage';

  export default {
    name: 'EditBlogMessage',
    components: {Wangeditor, UploadImage},
    data() {
      return {
        form: {},
        opts: {},
        blogLabelList: [],
        typeIdEnumList: {},
        isOpenEnumList: {},
        isTopEnumList: {},
        videoFlag: false,
        videoUploadPercent: 0,
        rules: {
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ],
          title: [
            { required: true, message: '请输入博客标题', trigger: 'blur' }
          ],
          tagsName: [
            { required: true, message: '请输入博客标签', trigger: 'blur' }
          ],
          content: [
            { required: true, message: '请输入博客内容', trigger: 'blur' }
          ],
          isOpen: [
            { required: true, message: '请选择是否公开', trigger: 'blur' }
          ],
          typeId: [
            { required: true, message: '请选择博客类型', trigger: 'blur' }
          ],
          isTop: [
            { required: true, message: '请选择是否置顶', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      const view = this.$route
      this.getViewInfo(view.query.id)
      labelListByType(1).then(res => {
        this.blogLabelList = res.data;
      });
      this.$store.dispatch('GetOpts', { enumName: 'TypeIdEnum', type: 'arr' }).then(res => {
        this.typeIdEnumList = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsOpenEnum', type: 'arr' }).then(res => {
        this.isOpenEnumList = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsTopEnum', type: 'arr' }).then(res => {
        this.isTopEnumList = res;
      });
      this.form = {
        articleType: 1,
        isOpen: 1,
        isTop: 0,
        sort: 1
      }
    },
    methods: {
      handleClose() {
        const view = {
          key: this.$route.fullPath
        }
        this.$store.dispatch('delView', view).then(() => {
          this.$router.push('/community/blog/blog/list');
        })
      },
      getViewInfo(id) {
        this.loading = true
        blogView(id).then(res => {
          this.loading = false
          this.form = res.data
        }).catch(() => {
          this.loading = false
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        blogEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style lang="scss">
  .record-container {

    .title {
      margin-bottom: 20px;
    }

    .form-group {
      width: 100%;
      max-width: 300px;
    }

    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      line-height: 178px;
      text-align: center;
    }

    .avatar {
      display: block;
    }

    .show-img {
      max-width: 200px;
      border-radius: 6px;
    }

  }
</style>

