<template>
	<!--components/shareImage/shareImage.wxml-->
	<view class="share_ewm" @tap="closeEwm">
		<view class="ewm_box">
			<!--  #ifdef  H5 -->
			<img v-if="shareUrl" @tap.stop="showImg" id="ewm_img" class="ewm_img" :src="shareUrl" />
			<button class="save_btn" @tap.stop="saveImgh5">长按保存图片</button>
			<a href="" id="saveImg"></a>
			<!-- #endif -->
			<!--  #ifndef H5 -->
			<image v-if="shareUrl" @tap.stop="showImg" id="ewm_img" class="ewm_img" mode="widthFix" :src="shareUrl"></image>
			<button class="save_btn" @tap.stop="saveImg">保存图片</button>
			<!-- #endif -->
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {};
		},

		components: {},
		props: {
			shareUrl: {
				type: String
			}
		},
		mounted() {
			console.log(this.shareUrl)
		},
		methods: {
			closeEwm() {
				this.$emit('closeewm');
			},

			showImg() {
				uni.previewImage({
					urls: [this.shareUrl]
				});
			},

			saveImgh5() {
				var That = this;
				function saveImg() {
					// var sampleImage = document.getElementById("ewm_img"); // 找到图片所在的img标签
					// var canvas = convertImageToCanvas(sampleImage); //创建画板
					// var url = canvas.toDataURL("image/png"); //生成下载的url
					var saveImg = document.getElementById("saveImg");
					saveImg.setAttribute("href", That.shareUrl)
					saveImg.setAttribute("download", "ewm.png")
					saveImg.click(); //模拟点击一下a标签，即可下载啦！
				}

				/**
				 * 根据图片生成画布
				 */
				function convertImageToCanvas(image) {
					var canvas = document.createElement("canvas");
					canvas.width = image.width;
					canvas.height = image.height;
					canvas.getContext("2d").drawImage(image, 0, 0);
					return canvas;
				}
				saveImg();

			},
			saveImg() {
				console.log('save');
				uni.showLoading({
					title: '保存中...'
				});
				
				if (this.shareUrl.indexOf('http:') != -1 && this.shareUrl.indexOf('https:') != -1) {
					
					uni.downloadFile({
						url: this.shareUrl, //仅为示例，并非真实的资源
						success: (res) => {
							if (res.statusCode === 200) {
								uni.hideLoading()
								uni.saveImageToPhotosAlbum({
									filePath: res.tempFilePath,
									success: () => {
										uni.showToast({
											title: '保存成功'
										});
										this.closeEwm();
									},
									fail: (err) => {
										console.log(err)
										uni.showToast({
											title: '取消保存',
											icon: 'none'
										});
									}
								});
							}
						}
					});
				} else {
					var fileManager = uni.getFileSystemManager();
					const re = /data:image\/\w+\.\w{2,8};base64,/gi
					let type = this.shareUrl.match(re); //["data:image/pxz3xyfqrpkzrm6xi4zmdgfsfsfsqrmca1qdq.png;base64,"]
					if(type && type.length) {
						type = type[0] // 'data:image/pxz3xyfqrpkzrm6xi4zmdgfsfsfsqrmca1qdq.png;base64,'
						type = type.split('.');
						if(type.length > 1) {
							type = type[1].replace(';base64,', '') // 'png;base64,''
						}
					} else {
						type = 'png'
					}
					const filePath = wx.env.USER_DATA_PATH + '/img.' + type;
					
					console.log(filePath)
					fileManager.writeFile({
						filePath: filePath, // 指定图片的临时路径
						data: this.shareUrl.replace(/data:image\/\w+\.\w{2,8};base64/gi, ''), // 要写入的文本或二进制数据
						encoding: 'base64', // 指定写入文件的字符编码
						fail: (err) => {
							uni.hideLoading()
							console.log(err)
							uni.showToast({
								title: '保存出错，无法写入文件',
								icon: 'none'
							});
						},
						success: res => {
							uni.saveImageToPhotosAlbum({
								filePath: filePath,
								success: () => {
									uni.hideLoading()
									uni.showToast({
										title: '保存成功'
									});
									this.closeEwm();
								},
								fail: (err) => {
									uni.hideLoading()
									console.log(err)
									uni.showToast({
										title: '保存出错，无法把照片添加到相册',
										icon: 'none'
									});
								}
							});
						}
					})
				}
			}
		}
	};
</script>
<style>
	/* components/shareImage/shareImage.wxss */
	.share_ewm {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.3);
		z-index: 30;
	}

	.ewm_box {
		width: 530rpx;
		padding: 10rpx;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.ewm_img {
		display: block;
		width: 530rpx;
	}

	.close_ewm {
		border-radius: 23rpx;
		width: 46rpx;
		height: 46rpx;
		position: absolute;
		top: -13rpx;
		right: -36rpx;
	}

	.save_btn {
		width: 530rpx;
		height: 90rpx;
		line-height: 90rpx;
		color: #fff;
		background: rgba(236, 126, 0, 1);
		font-size: 30rpx;
		margin-top: 40rpx;
	}
</style>
