<template>
  <div>
    <div v-if="hasLive === 1">
      <div class="person_content">
        <ul class="tabs clearfix">
          <a :class="{on: tab == 1}" @click="clicktab(1)" class="tab">频道信息</a>
          <a :class="{on: tab == 4}" @click="clicktab(4)" class="tab">等待开播 <span class="c_red" v-if="liveList.totalCount">({{ liveList.totalCount }})</span></a>
          <a :class="{on: tab == 2}" @click="clicktab(2)" class="tab">直播记录</a>
          <a :class="{on: tab == 3}" @click="clicktab(3)" class="tab">开播工具</a>
        </ul>
        <edit @saveLiveSuccess="LiveDataChange" @selectLiveSuccess="selectLiveSuccess" v-show="tab == 1"></edit>
        <record v-if="tab == 2"></record>
        <tool :liveData="LiveData" v-if="tab == 3"></tool>
        <wait-live :list="liveList.list" v-if="tab == 4"></wait-live>
      </div>
    </div>
    <div v-else-if="hasLive === 2">
      <div class="person_content">
        <div v-if="applyLive" class="suc_box center">
          <img class="suc_img" src="../../../assets/image/success.svg" alt />
          <p class="mgt20 c_333 font16">申请审核中...</p>
          <p class="mgt10 c_999">审核结果将在3个工作日内完成，请留意。</p>
        </div>
        <div v-else>
          <img class="nolive_img" src="../../../assets/image/no_live.png" alt />
          <p class="no_live">您当前没有直播权限，请点击按钮申请</p>
          <a @click="getApplyLive" href="javascript:" class="solid_btn b_red go_live">申请直播</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getLive, getTeacherInfo } from '~/api/user.js'
import { liveLogList } from '~/api/account/course.js'
import edit from '~/components/account/channel/edit'
import record from '~/components/account/channel/record'
import waitLive from '~/components/account/channel/waitLive'
import tool from '~/components/account/channel/tool'
export default {
  layout: 'account',
  components: {
    edit,
    record,
    waitLive,
    tool
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 频道信息'
    }
  },
  data() {
    return {
      liveList: {},
      lecturerUserNo: '',
      tab: 1,
      applyLive: false,
      hasLive: 0,
      LiveData: {}
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    }
  },
  watch: {
    $route(newRoute) {
      if (newRoute.query.t) {
        this.tab = parseInt(newRoute.query.t)
      }
    }
  },
  mounted() {
    this.checkLive()
    this.getLiveLogList()
  },
  methods: {
    selectLiveSuccess(data) {
      this.LiveData = data;
    },
    LiveDataChange(data) {
      console.log(data);
      this.getLiveLogList()
    },
    clicktab(num) {
      this.tab = num
      this.$router.push({ name: 'account-channel', query: { t: num } })
    },
    checkLive() {
      getTeacherInfo({
        lecturerUserNo: this.userInfo.userNo
      }).then(res => {
          this.applyLive = res.data.liveAudit
          if (res.data.isLive) {
            this.hasLive = 1
          } else {
            this.hasLive = 2
          }
        })
        .catch(() => {})
    },
    // 申请直播
    getApplyLive() {
      getLive({
        lecturerUserNo: this.userInfo.userNo
      }).then(res => {
        this.applyLive = true
      })
    },
    // 待开播列表
    getLiveLogList() {
      liveLogList({ lecturerUserNo: this.userInfo.userNo, liveStatus: 1 }).then(res => {
        this.liveList = res.data
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.person_content {
  width: 1012px;
  min-height: 500px;
  float: right;
  background: #fff;
  border-radius: 6px;
}
.person_info {
  padding: 50px 0;
  min-height: 400px;
  &.padt20 {
    padding: 20px 20px 50px;
  }
}
.person_title {
  border-bottom: 1px solid rgb(242, 242, 242);
  li {
    float: left;
    line-height: 60px;
    padding: 0 30px;
    font-size: 14px;
    &.now {
      border-bottom: 2px solid #d51423;
      color: #d51423;
      a {
        color: #d51423;
      }
    }
    a:hover {
      color: #d51423;
    }
  }
}
</style>
