<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="map.phone" placeholder="" />
      </el-form-item>
      <el-form-item class="filter-item" label="申请状态">
        <el-select v-model="map.extractStatus" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in extractStatusEnum"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="申请时间">
        <el-date-picker
          v-model="dateRange"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button  v-if="checkPermission('userAccountExtractLogBatchAudit')"  plain type="success" size="mini" @click="handleChoiceBatch">批量标记</el-button>
        <el-button   v-if="checkPermission('')" type="warning" plain size="mini" @click="handleOrderExport">报表导出</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" type="selection" width="50" />
      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="手机号" prop="phone" width="100" />
      <el-table-column label="银行卡号" prop="bankCardNo" width="150" />
      <el-table-column label="银行名称" prop="bankName" />
      <el-table-column label="银行开户名" prop="bankUserName" />
      <el-table-column label="提现金额" prop="extractMoney" />
      <el-table-column label="用户收入" prop="userIncome" />
      <el-table-column label="提现状态" prop="extractStatus" width="100">
        <template slot-scope="scope">
          <span class="c-info">{{ extractStatusEnum[scope.row.extractStatus] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="申请时间" prop="gmtCreate" width="140" />
      <el-table-column label="操作" width="80">
        <template slot-scope="scope">
          <el-button  v-if="checkPermission('userAccountExtractLogView')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">打款</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <edit-extract-log
      :title="extractLogEditCtr.title"
      :visible="extractLogEditCtr.visible"
      :info="extractLogEditCtr.info"
      @close-callback="closeCllback"
    />
  </div>
</template>

<script>
import {userAccountExtractLogPage, userAccountExtractLogView, userAccountExtractLogBatchAudit} from '@/api/user'
import EditExtractLog from '@/views/user/userAccountExtractLog/edit/index';

export default {
  components: {EditExtractLog},
  data() {
    return {
      extractLogEditCtr: {
        title: '打款状态',
        visible: false,
        info: {},
        enum: {}
      },
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      list: [],
      map: {},
      dateRange: [],
      extractStatusEnum: {},
      listLoading: true,
      checkIds: ''
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'ExtractStatusEnum', type: 'obj'}).then(res => {
      this.extractStatusEnum = res;
    })
  },
  created() {
    this.listForPage()
  },
  methods: {
    handleSelectionChange(checkList) {
      let resultIds = '';
      for (const index in checkList) {
        resultIds += checkList[index].id;
        if ((parseInt(index) + 1) < checkList.length) {
          resultIds += ',';
        }
      }
      this.checkIds = resultIds;
    },
    handleChoiceBatch() {
      if (this.checkIds === undefined || this.checkIds === '') {
        this.$message.error('请选中需要的记录')
        return false;
      }
      {
        const body = '确定要批量标为成功吗？';
        this.$confirm(body, '批量标记', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start()
          userAccountExtractLogBatchAudit(this.checkIds).then(res => {
            this.tips(res.data, 'success');
          })
        })
      }
    },
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {}
      this.dateRange = {}
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleOrderExport() {
      this.$message.warning('暂时未实现导出功能');
    },
    handleUpdateRow(id) {
      userAccountExtractLogView(id).then((res) => {
        this.extractLogEditCtr.info = res.data;
        this.extractLogEditCtr.visible = true;
      })
    },
    // 关闭编辑弹窗回调
    closeCllback() {
      this.extractLogEditCtr.visible = false;
      this.handleReset()
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      this.loading.start()
      if (this.dateRange && this.dateRange.length) {
        this.map.beginTime = this.dateRange[0];
        this.map.endTime = this.dateRange[1];
      } else {
        this.map.beginTime = undefined;
        this.map.endTime = undefined;
      }
      userAccountExtractLogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    }
  }
}
</script>
