<template>
  <div class="AddGrade" v-loading="loading">
      <el-form ref="form" :rules="rules" :model="form" label-width="80px">
        <el-form-item label="班级名称" prop="gradeName">
          <el-input clearable v-model="form.gradeName" placeholder="请输入班级名称"></el-input>
        </el-form-item>
        <el-form-item label="班级简介" prop="gradeIntro">
          <el-input clearable type="textarea" :rows="4" placeholder="请输入班级简介" v-model="form.gradeIntro"></el-input>
        </el-form-item>
        <el-form-item label="班级权限" prop="verificationSet">
            <el-radio-group v-model="form.verificationSet">
            <el-radio :label="1">允许任何人加入</el-radio>
            <el-radio :label="2">加入时需要验证</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="创建日期">
          {{ form.gmtCreate }}
        </el-form-item>
        <div style="text-align:center">
          <el-button type="primary" @click="onSubmit">提交</el-button>
          <el-button @click="$emit('back')">取消</el-button>
        </div>
      </el-form>
</div>
</template>

<script>
import * as apis from '~/api/account/grade.js'

export default {
  name: 'AddGrade',
  props: {
    grade: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      loading: false,
      form: {
        gradeIntro: '',
        gradeName: '',
        verificationSet: 2,
        gmtCreate: (new Date()).Format('yyyy-MM-dd hh:mm:ss')
      },
      rules: {
        gradeName: [
          { required: true, message: '请输入班级名称', trigger: 'blur' },
          { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur' }
        ],
        gradeIntro: [
          { required: true, message: '请输入班级简介', trigger: 'blur' }
        ],
        verificationSet: [
          { required: true, message: '请输入班级简介', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    if (this.grade.id) {
      this.form = this.grade
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.loading = true;
          const init = (res) => {
            this.loading = false;
            if (res.code === 200) {
              this.$message({
                message: this.grade.id ? '更新成功' : '创建班级成功！',
                type: 'success'
              });
              this.$emit('addWin');
              this.$emit('back');
            }
          }
          if (this.grade.id) {
            this.form.gradeId = this.grade.id
            apis.updateGrade(this.form).then(init, () => {
              this.loading = false;
            })
          } else {
            apis.saveGrade(this.form).then(init, () => {
              this.loading = false;
            })
          }
        }
      });
    }
  }
}
</script>

<style scoped>

</style>
