<style scoped lang="scss">
.tip {
    padding: 0px 0 60px;
    line-height: 40px;
    color:red
}
</style>
<template>
<div v-loading="loading">
    <div class="tip">
    注意：<br>

    1. 解散班级将解除班级成员关系，同时删除作业空间的所有资料！<br>

    2. 请提前通知班级成员备份好班级空间资料！
    </div>
    <div style="text-align:center">
        <el-button type="primary" @click="onSubmit">提交</el-button>
        <el-button @click="$emit('back')">取消</el-button>
    </div>
</div>
</template>

<script>
import * as apis from '~/api/account/grade.js'
export default {
  name: 'Dissolve',
  props: {
    ids: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      loading: false
    }
  },
  methods: {
    onSubmit() {
      this.loading = true;
      apis.disbandGrade({ id: this.ids }).then((res) => {
        this.loading = false;
        if (res.code === 200) {
          this.$message({
            message: '解散班级成功！',
            type: 'success'
          });
          this.$emit('win');
          this.$emit('back');
        }
      }).catch(() => {
        this.loading = false;
      })
    }
  }
}
</script>
