<style scoped lang="scss">
.seek-bar {
  padding-bottom: 15px;
  text-align: right;

  .input {
    width: 220px;
  }
  span{
    display: inline-block;
    margin: 0 4px;
    margin-left: 20px;
  }
  .seek-btn {
    margin-left: 10px;
  }
}
</style>
<template>
<div class="examAdmin">
  <div class="seek-bar">
    <span>开考时间：</span><el-date-picker
      v-model="seek.time"
      type="datetimerange"
      range-separator="至"
      clearable
      value-format="yyyy-MM-dd HH:mm:ss"
      start-placeholder="开始日期"
      end-placeholder="结束日期">
    </el-date-picker>
    <span>考试名称：</span>
    <el-input class="input" clearable v-model="seek.name" placeholder="请输入考试名称"></el-input>
    <el-button type="primary" class="seek-btn" @click="seeks()">搜索</el-button>
    </div>
    <el-table
    :data="examList"
    height="450"
    border
    style="width: 100%;margin-bottom: 10px">
     <el-table-column
      type="index"
      align="center"
      width="40">
    </el-table-column>
    <el-table-column
      prop="gradeExamName"
      label="考试名称"
      >
    </el-table-column>
    <el-table-column
      prop="examName"
      label="考试内容"
      width="180">
</el-table-column>
    <el-table-column
      prop="address"
       width="280"
      label="考试时间">
      <template slot-scope="scope">
        <span v-if="type == 1">
          {{ scope.row.beginTime + '-' + scope.row.endTime }}
        </span>
         <span v-else>
          {{ scope.row.beginExamTime + '-' + scope.row.endExamTime }}
        </span>
      </template>
    </el-table-column>
     <el-table-column
      prop="address"
      width="70"
      align="center"
      v-if="type == 1"
      label="是否评卷">
      <template slot-scope="scope">
        <span>
          {{ scope.row.auditType == 2 ? '是' : '否' }}
        </span>
      </template>
    </el-table-column>
     <el-table-column
      prop="address"
      width="80"
      align="center"
      v-if="type == 1"
      label="完成情况">
      <template slot-scope="scope">
         {{ scope.row.examFinishCount + '/' + scope.row.examCount }}
      </template>
    </el-table-column>
      <el-table-column
      prop="address"
      width="70"
      v-if="type == 1"
      align="center"
      label="开启补交">
      <template slot-scope="scope">
        <el-switch v-model="scope.row.compensateStatus" :active-value="2" :inactive-value="1" @change="compensateStatusFn(scope.row)"></el-switch>
      </template>
    </el-table-column>
      <el-table-column
      prop="address"
      align="center"
      width="180"
      v-if="type == 1"
      label="操作">
      <template slot-scope="scope">
        <div v-if="!scope.row.isFinish">
          <el-button type="text" v-if="scope.row.examFinishCount > 0 && scope.row.auditType == 2" @click="toGradeExplain(scope.row)">进入评卷</el-button>
          <!-- <el-button type="text" v-if="scope.row.examFinishCount > 0" @click="toGradeExplain(scope.row)">查看答案</el-button> -->
          <el-button type="text" v-if="!scope.row.isStartEaxm && !isGradeAdmin" @click="edit(scope.row)">编辑</el-button>
          <el-button type="text" v-if="!scope.row.examFinishCount > 0 && !isGradeAdmin" style="color:red" @click="remove(scope.row.id)">删除</el-button>
        </div>
        <el-button v-else type="text">已完成</el-button>
        <el-button v-if="scope.row.isFinish && !isGradeAdmin" type="text" @click="showResult(scope.row)">学员成绩</el-button>
      </template>
    </el-table-column>
     <el-table-column
      prop="endAnswerTime"
      width="160"
      align="center"
      v-if="type == 2"
      label="完成时间">
      </el-table-column>

    <el-table-column
      prop="address"
      align="center"
      width="180"
      v-if="type == 2"
      label="操作">
      <template slot-scope="scope">
        <el-button type="text" v-if="scope.row.examStatus > 2" @click="toExplain(scope.row)">查看试卷</el-button>
        <el-button type="text" v-if="scope.row.examStatus === 1 && scope.row.isStartEaxm" @click="toExam(scope.row)">开始考试</el-button>
        <el-button type="text" v-if="scope.row.examStatus === 2" @click="toExam(scope.row)">继续考试</el-button>
      </template>
    </el-table-column>
</el-table>
 <div class="center">
    <el-pagination
      :current-page="pageObj.pageCurrent"
      :page-size="pageObj.pageSize"
      :total="pageObj.totalCount"
      @current-change="getData"
      background
      class="page-panel"
      layout="prev, pager, next"
    ></el-pagination>
  </div>
  <alerts :appendToBody="true" title="修改考试" width="880px" top="7vh" v-model="isAddClassExam">
    <add-class-exam
      @back="isAddClassExam = false"
      @addWin="getData()"
      v-if="isAddClassExam"
      :editData="editData"
      slot="contents"
    ></add-class-exam>
  </alerts>
</div>
</template>

<script>
import * as apis from '~/api/account/grade.js'
import alerts from '~/components/account/alert'
import addClassExam from '~/components/account/exam/addClassExam'

export default {
  name: 'ExamList',
  components: {
    addClassExam,
    alerts
  },
  props: {
    grade: {
      type: Object,
      default() {
        return {}
      }
    },
    type: {
      type: Number,
      default() {
        return 1
      }
    }
  },
  data() {
    return {
      loading: true,
      auditRecordTotal: 0,
      seek: {
        time: [],
        name: ''
      },
      pageObj: {
        pageCurrent: 1,
        pageSize: 10,
        totalCount: '',
        nickname: '',
        totalPage: ''
      },
      isAddClassExam: false,
      isGradeAdmin: false,
      examList: []
    }
  },
  mounted() {
    this.getData();
    this.getauditRecordTotal()
    this.isGradeAdmin = this.lockr.get('isGradeAdmin')
  },
  methods: {
    addUser() {
      this.$emit('addUser')
    },
    back() {
      this.$emit('back');
    },
    toGradeExplain(item) {
      this.$router.push({
        path: '/exam/gradeExplain?examId=' + item.id
      })
    },
    edit(item) {
      this.editData = item;
      this.isAddClassExam = true;
    },
    toExplain(item) {
      this.$router.push({
        path: '/exam/explain?gradeExamId=' + item.id
      })
    },
    toExam(item) {
      const time = (new Date(item.beginTime || item.beginExamTime)).getTime();
      const endTime = (new Date(item.endTime || item.endExamTime)).getTime();
      const newTime = (new Date()).getTime();
      if (newTime < time) {
        this.$alert('考试时间还没有开始！请等待', '提示', {
          confirmButtonText: '确定',
          callback: action => {}
        });
        return;
      }

      if (newTime >= endTime && item.compensateStatus !== 2) {
        this.$alert('考试已经结束！', '提示', {
          confirmButtonText: '确定',
          callback: action => {}
        });
        return;
      }

      this.$router.push({
        path: '/exam/exam?gradeExamId=' + item.id
      })
    },
    getauditRecordTotal() {
      apis.auditRecordTotal({
        gradeId: this.grade.id
      }).then(res => {
        if (res.code === 200) {
          this.auditRecordTotal = res.data.waitCount
        }
      })
    },
    remove(id) {
      this.$confirm('确定把该考试记录删除吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true;
        apis.GradeRemoveExam({
          id
        }).then((res) => {
          this.loading = false;
          if (res.code === 200) {
            this.$message({
              message: '删除成功！',
              type: 'success'
            });
            this.getData();
          }
        })
      })
    },
    compensateStatusFn(item) {
      apis.compensate(item).then((res) => {
        this.$message({
          message: '设置成功!',
          type: 'success'
        });
      })
    },
    showResult(row) {
      this.$emit('findResult', row)
    },
    addexamList() {
      this.$emit('addexamList')
    },
    seeks() {
      this.pageObj.pageCurrent = 1;
      this.getData();
    },
    getData() {
      this.loading = true;
      this.pageObj.gradeId = this.grade.id;
      this.pageObj.gradeExamName = this.seek.name
      if (this.seek.time && this.seek.time.length) {
        this.pageObj.beginExamTime = this.seek.time[0];
        this.pageObj.endExamTime = this.seek.time[1];
      }
      let fn = 'GradeAdminExamList';
      if (this.type === 2) {
        fn = 'StudentGradeExamList'
      }
      apis[fn](this.pageObj).then((res) => {
        this.pageObj = res.data
        this.loading = false;
        const time = (new Date()).getTime();
        res.data.list.forEach(e => {
          if (e.auditType === 2) {
            e.isFinish = e.examIsFinishAudit
          } else {
            e.isFinish = e.examCount === e.examFinishCount
          }
          const examTime = (new Date(e.beginExamTime)).getTime();
          e.isStartEaxm = time >= examTime
        })
        this.examList = res.data.list || [];
        if (res.data.list && res.data.list.length > 0) {
          this.pageObj = res.data
        } else {
          this.pageObj.totalPage = 0
        }
      }).catch(() => {
        this.examList = []
        this.loading = false
        this.pageObj.totalPage = 0
      })
    }
  }
}
</script>
