<template>
  <div class="" :loading="loading">
    <div class="seek-bar">
      <span>学员姓名：</span>
      <el-input
        class="input"
        clearable
        v-model="nikename"
        placeholder="请输入考试名称"
      ></el-input>
      <el-button type="primary" class="seek-btn" @click="getExamsData(1)">
        搜索
      </el-button>

        <el-button
          class="seek-btn"
          type="success"
          @click="Download(1)"
          >
      导出数据
      </el-button
        >
    </div>
    <el-table
      :data="examResultData"
      height="450"
      border
      style="width: 100%; margin-bottom: 10px"
    >
      <el-table-column type="index" align="center" width="40">
      </el-table-column>
      <el-table-column prop="nickname" label="姓名"> </el-table-column>
      <el-table-column prop="idCardNo" label="身份证号"> </el-table-column>
      <el-table-column prop="beginExamTime" label="考试时间"> </el-table-column>
      <el-table-column prop="subjectName" label="科目"> </el-table-column>
      <el-table-column prop="score" label="总得分" width="80">
      </el-table-column>
      <el-table-column label="分数明细">
        <template slot-scope="scope">
          <div v-for="item in scope.row.titlelist" :key="item.id" class="">
            {{ item.titleName + ":" + item.score }}
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="examName" label="操作" width="100">
        <template slot-scope="scope">
          <a
            :href="`/exam/explain?gradeExamId=${scope.row.id}`"
            class="c_blue"
            target="_blank"
            >查看详情</a
          >
        </template>
      </el-table-column>
    </el-table>

    <div class="center">
      <el-pagination
        :current-page="pageObj.pageCurrent"
        :page-size="pageObj.pageSize"
        :total="pageObj.totalCount"
        @current-change="getExamsData"
        background
        class="page-panel"
        layout="prev, pager, next"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import * as apis from '~/api/account/grade.js';
import { formDownloadFile } from '~/utils/frmDownload.js';

export default {
  name: 'ExamResult',
  props: {
    examData: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      loading: false,
      examResultData: [],

      nikename: '',
      pageObj: {
        pageCurrent: 1,
        pageSize: 20,
        totalCount: 0
      }
    };
  },
  computed: {
    tokenInfo() {
      return this.$store.state.tokenInfo || '';
    }
  },
  watch: {
    examData(row) {
      console.log(row);
      if (row) {
        this.examResultData = [];
        this.getExamsData();
      }
    }
  },
  mounted() {
    this.getExamsData();
  },
  methods: {
    Download() {
      formDownloadFile(
        '/exam/auth/grade/exam/student/relation/export',
        {
        gradeExamId: this.examData.id,
         nickname: this.nikename || ''
        },
        'post'
      );
    },
    getExamsData(page = 1) {
      this.loading = true;
      apis
        .examResult({
          pageCurrent: page,
          nickname: this.nikename || '',
          gradeExamId: this.examData.id
        })
        .then((res) => {
          console.log('result==>', res);
          this.examResultData = res.data.list;
          this.pageObj = res.data;
          this.loading = false;
        });
    }
  }
};
</script>

<style scoped lang="scss">
.seek-bar {
  padding-bottom: 15px;
  text-align: right;

  .input {
    width: 220px;
  }
  span {
    display: inline-block;
    margin: 0 4px;
    margin-left: 20px;
  }
  .seek-btn {
    margin-left: 10px;
  }
}
</style>
