<template>
  <div class="GradeInfo">
      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="班级名称">
         {{ grade.gradeName }}
        </el-form-item>
        <el-form-item label="班级简介">
         {{ grade.gradeIntro }}
        </el-form-item>
        <el-form-item label="班级人数">
            <span>{{ grade.studentCount }}</span>人
        </el-form-item>
        <el-form-item label="管理老师">
          <div v-html="adminList"></div>
        </el-form-item>
        <el-form-item label="创建日期">
           {{ grade.gmtCreate }}
        </el-form-item>
      </el-form>
</div>
</template>

<script>
export default {
  name: 'GradeInfo',
  props: {
    grade: {
      type: Object,
      default() {
        return {

        }
      }
    }
  },
  data() {
    return {
      adminList: ''
    }
  },
  mounted() {
    if (this.grade && this.grade.adminList) {
      this.adminList = this.grade.adminList.map(e => {
        return '<span style="color:#2388EC">' + e.nickname + '</span>'
      })
      this.adminList.push('<span style="color:#2388EC">' + this.grade.lecturerName + '</span>');
      this.adminList = this.adminList.join(';')
    }
  }

}
</script>

<style scoped lang="scss">
    .GradeInfo {
        span {
            color:#2388EC
        }
    }
</style>
