<style scoped lang="scss">
.title {
    line-height: 50px;
    span {
        color:#2388EC;
    }
    .input{
        width: 200px;
        margin-right: 20px;
    }
}
.code {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    #canvas {
        display: inline-block;
        width: 150px;
        height: 150px;
    }
}
</style>
<template>
<div class="inviteUser">
    <div class="title">班级邀请码：<span>{{ grade.invitationCode }}</span> </div>
    <div v-if="verifySrc" class="title">微信扫一扫以下二维码加入班级！</div>
    <div class="code">
      <img :src="verifySrc" alt="">
    </div>
    <div class="title">
        邀请链接：
        <el-input disabled="" v-model="InviteUserLink" class="input"></el-input>
        <el-button type="primary" @click="copy()">复制链接</el-button>
     </div>
</div>
</template>

<script>
import * as apis from '~/api/system.js'
import QRCode from 'qrcode'
export default {
  name: 'InviteUser',
  props: {
    grade: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      verifySrc: '',
      InviteUserLink: ''
    }
  },
  mounted() {
    this.InviteUserLink = window.location.origin + '/?invitationGradeCode=' + this.grade.invitationCode;
    this.getReferralCode(this.grade.invitationCode)
    QRCode.toCanvas(document.getElementById('canvas'), this.InviteUserLink, {
      width: 150,
      height: 150
    }, function (error) {
      if (error) console.error(error)
    })
  },
  methods: {
    getReferralCode(code) {
      apis.referralCode({ scene: code, page: 'pages/account/classes/join' }).then(res => {
        this.verifySrc = res.data;
      })
    },
    copy() {
      const transfer = document.createElement('input');
      document.body.appendChild(transfer);
      transfer.value = this.InviteUserLink // 这里表示想要复制的内容
      transfer.focus();
      transfer.select();
      if (document.execCommand('copy')) {
        document.execCommand('copy');
      }
      transfer.blur();
      this.$message({
        message: '复制成功!',
        type: 'success'
      });
      document.body.removeChild(transfer);
    }
  }
}
</script>
