<template>
  <div class="AddGrade" v-loading="loading">
      <el-form ref="form" :rules="rules" :model="form" label-width="100px">
        <el-form-item label="班级邀请码" prop="invitationCode">
          <el-input :disabled="code != ''" clearable v-model="form.invitationCode" placeholder="请输入班级邀请码"></el-input>
        </el-form-item>
         <el-form-item label="姓名" prop="nickname">
          <el-input v-model="form.nickname" clearable placeholder="请输入姓名"></el-input>
        </el-form-item>
        <el-form-item label="申请备注" prop="applyDescription">
          <el-input v-model="form.applyDescription" type="textarea" :rows="3" clearable placeholder="请输入申请备注"></el-input>
        </el-form-item>
        <div style="text-align:center">
          <el-button type="primary" @click="onSubmit">申请</el-button>
          <el-button @click="$emit('back')">取消</el-button>
        </div>
      </el-form>
</div>
</template>

<script>
import * as apis from '~/api/account/grade.js'

export default {
  name: 'JoinGrade',
  props: {
    code: {
      type: String,
      default() {
        return ''
      }
    }
  },
  data() {
    return {
      loading: false,
      form: {
        invitationCode: '',
        nickname: '',
        applyDescription: ''
      },
      rules: {
        nickname: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur' }
        ],
        invitationCode: [
          { required: true, message: '请输入班级邀请码', trigger: 'blur' },
          { min: 6, max: 10, message: '长度在 6 到 10 个字符', trigger: 'blur' }
        ],
        applyDescription: [
          { required: true, message: '请输入申请备注', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    if (this.code) {
      this.form.invitationCode = this.code;
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          this.loading = true;
          const init = (res) => {
            this.loading = false;
            if (res.code === 200) {
              this.$message({
                message: '加入班级成功，等待老师审核！',
                type: 'success'
              });
              this.$emit('addWin');
              this.$emit('back');
            }
          }
          apis.studentAddGrade(this.form).then(init).catch(() => {
            this.loading = false;
          })
        }
      });
    }
  }
}
</script>

<style scoped>

</style>
