<style scoped lang="scss">

</style>
<template>
<div class="userAdmin">
    <user-list :grade="grade" @addUser="addUser" @addUserList="addUserList"></user-list>
    <alerts :appendToBody="true" :title="'添加用户 - ' + grade.gradeName" width="50%" top="6vh" v-model="isaddUser">
      <add-user :grade="grade" @back="isaddUser = false" v-if="isaddUser" slot="contents"></add-user>
    </alerts>

    <alerts :appendToBody="true" :title="'申请列表 -' + grade.gradeName" width="70%" top="6vh" v-model="isaddUserList">
      <add-user-list :grade="grade" @back="isaddUserList = false" v-if="isaddUserList" slot="contents"></add-user-list>
    </alerts>
</div>
</template>

<script>
import userList from './user/userList';
import addUser from './user/addUser';
import addUserList from './user/addUserList';
import alerts from '~/components/account/alert';

export default {
  name: 'UserAdmin',
  components: {
    userList,
    addUser,
    alerts,
    addUserList
  },
  props: {
    grade: {
      type: Object,
      default() {
        return {}
      }
    },
    type: {
      type: Number,
      default() {
        return 1
      }
    }
  },
  data() {
    return {
      seek: {
        time: [],
        name: ''
      },
      isaddUser: false,
      isaddUserList: false,
      tableData: [{ value: false }]
    }
  },
  created() {
    if (this.type === -1) {
      this.isaddUserList = true;
    }
  },
  methods: {
    addUserList() {
      this.isaddUserList = true;
    },
    addUser() {
      this.isaddUser = true;
    }
  }
}
</script>
