<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="渠道信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="支付名称" prop="payChannelName">
            <el-input v-model="form.payChannelName" class="form-group" />
            <el-tooltip class="item" effect="light" content="推荐命名规则：龙果微信扫码支付，注意不可修改" placement="top-start">
              <svg-icon icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="渠道实现" prop="payObject">
            <el-select v-model="form.payObject" class="auto-width form-group" filterable @change="handleChangePayObject">
              <el-option
                v-for="item in payObjectCodeEnum"
                :key="item.name"
                :label="item.desc"
                :value="item.name + '=' + item.desc"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-alert class="title" :closable="false" title="渠道配置" type="info" />
      <el-row>
        <el-row>
          <el-col :span="20">
            <el-form-item label="下单地址" prop="requestUrl">
              <el-input v-model="form.requestUrl" />
              <el-tooltip class="item" effect="light" :content="payTips.requestUrl || '未匹配的渠道实现'" placement="top-start">
                <svg-icon class="svg-icon-question" icon-class="question" />
              </el-tooltip>
            </el-form-item>
          </el-col>
          <el-col :span="20">
            <el-form-item label="查单地址" prop="queryUrl">
              <el-input v-model="form.queryUrl" />
              <el-tooltip class="item" effect="light" :content="payTips.queryUrl || '未匹配的渠道实现'" placement="top-start">
                <svg-icon class="svg-icon-question" icon-class="question" />
              </el-tooltip>
            </el-form-item>
          </el-col>
        </el-row>
        <el-col :span="20">
          <el-form-item label="支付KEY" prop="payKey">
            <el-input v-model="form.payKey" max="100" />
            <el-tooltip class="item" effect="light" :content="payTips.payKey || '未匹配的渠道实现'" placement="top-start">
              <svg-icon class="svg-icon-question" icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="20">
          <el-form-item label="支付密钥" prop="paySecret">
            <el-input v-model="form.paySecret" />
              <el-tooltip class="item" effect="light" :content="payTips.paySecret || '未匹配的渠道实现'" placement="top-start">
                <svg-icon class="svg-icon-question" icon-class="question" />
              </el-tooltip>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="20">
          <el-form-item label="备用字段1">
            <el-input v-model="form.field1" />
            <el-tooltip class="item" effect="light" :content="payTips.field1 || '未匹配的渠道实现'" placement="top-start">
              <svg-icon class="svg-icon-question" icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="20">
          <el-form-item label="备用字段2">
            <el-input v-model="form.field2" />
            <el-tooltip class="item" effect="light" :content="payTips.field2[payObjectCode] || '未匹配的渠道实现'" placement="top-start">
              <svg-icon class="svg-icon-question" icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="20">
          <el-form-item label="备用字段3">
            <el-input v-model="form.field3" />
            <el-tooltip class="item" effect="light" :content="payTips.field3[payObjectCode] || '未匹配的渠道实现'" placement="top-start">
              <svg-icon class="svg-icon-question" icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">立即创建</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {payChannelSave} from '@/api/user'

export default {
  name: 'AddChannel',
  data() {
    return {
      form: {},
      payObjectCodeEnum: [],
      payObjectCode: undefined,
      rules: {
        payChannelName: [
          {required: true, message: '请输入支付名称', trigger: 'blur'}
        ],
        payObject: [
          {required: true, message: '请选择支付实现类', trigger: 'blur'}
        ],
        payKey: [
          {required: true, message: '请输入支付支付编号', trigger: 'blur'}
        ],
        paySecret: [
          {required: true, message: '请输入支付支付密钥', trigger: 'blur'}
        ],
        requestUrl: [
          {required: true, message: '请输入下单地址', trigger: 'blur'}
        ],
        queryUrl: [
          {required: true, message: '请输入查单地址', trigger: 'blur'}
        ]
      },
      variableName: {
        payKey: {
          WX_PAY_APP: '微信支付分配的商户号， 变量名：mch_id',
          WX_PAY_XCX: '微信支付分配的商户号， 变量名：mch_id',
          WX_PAY_SCAN: '微信支付分配的商户号， 变量名：mch_id',
          ALI_PAY_APP: '支付宝分配给开发者的应用ID，变量名：app_id',
          ALI_PAY_SCAN: '支付宝分配给开发者的应用ID，变量名：app_id',
          RONCOO_PAY_WX_XCX: '龙果支付分配给开发者的应用ID，变量名：payKey',
          RONCOO_PAY_WX_SCAN: '龙果支付分配给开发者的应用ID，变量名：payKey',
          RONCOO_PAY_ALI_SCAN: '龙果支付分配给开发者的应用ID，变量名：payKey'
        },
        paySecret: {
          WX_PAY_APP: '微信生成公众账号密钥，获取方式:登录你的微信服务号后台，在 开发-基本配置/开发者密码(AppSecret)/重置 中查看微信支付 appsecret',
          WX_PAY_XCX: '微信生成公众账号密钥，获取方式:登录你的微信服务号后台，在 开发-基本配置/开发者密码(AppSecret)/重置 中查看微信支付 appsecret',
          WX_PAY_SCAN: '微信生成公众账号密钥，获取方式:登录你的微信服务号后台，在 开发-基本配置/开发者密码(AppSecret)/重置 中查看微信支付 appsecret',
          ALI_PAY_APP: '支付宝密钥：自己生成RSA的应用密钥。',
          ALI_PAY_SCAN: '支付宝密钥：自己生成RSA的应用密钥。应用公钥需提供给支付宝账号管理者上传到支付宝开放平台',
          RONCOO_PAY_WX_XCX: '龙果支付分配给开发者的应用密钥：paySecret',
          RONCOO_PAY_WX_SCAN: '龙果支付分配给开发者的应用密钥：paySecret',
          RONCOO_PAY_ALI_SCAN: '龙果支付分配给开发者的应用密钥：paySecret'
        },
        field1: {
          WX_PAY_APP: '公众账号ID：微信支付分配的公众账号ID（企业号corpid即为此appId）',
          WX_PAY_XCX: '公众账号ID：微信支付分配的公众账号ID（企业号corpid即为此appId）',
          WX_PAY_SCAN: '公众账号ID：微信支付分配的公众账号ID（企业号corpid即为此appId）',
          ALI_PAY_APP: '支付宝应用公钥: 自己生成RSA的应用公钥 需提供给支付宝账号管理者上传到支付宝开放平台',
          ALI_PAY_SCAN: '支付宝应用公钥: 自己生成RSA的应用公钥 需提供给支付宝账号管理者上传到支付宝开放平台',
          RONCOO_PAY_WX_XCX: '不用配置',
          RONCOO_PAY_WX_SCAN: '不用配置',
          RONCOO_PAY_ALI_SCAN: '不用配置'
        }
      },
      payTips: {
        requestUrl: '',
        queryUrl: '',
        payKey: '',
        paySecret: '',
        field1: '',
        field2: {
          WX_PAY_APP: '不用配置',
          WX_PAY_XCX: '不用配置',
          WX_PAY_SCAN: '不用配置',
          ALI_PAY_APP: '不用配置',
          ALI_PAY_SCAN: '不用配置',
          RONCOO_PAY_WX_XCX: '不用配置',
          RONCOO_PAY_WX_SCAN: '不用配置',
          RONCOO_PAY_ALI_SCAN: '不用配置'
        },
        field3: {
          WX_PAY_APP: '不用配置',
          WX_PAY_XCX: '不用配置',
          WX_PAY_SCAN: '不用配置',
          ALI_PAY_APP: '不用配置',
          ALI_PAY_SCAN: '不用配置',
          RONCOO_PAY_WX_XCX: '不用配置',
          RONCOO_PAY_WX_SCAN: '不用配置',
          RONCOO_PAY_ALI_SCAN: '不用配置'
        }
      }
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'PayObjectCodeEnum', type: 'arr'}).then(res => {
      this.payObjectCodeEnum = res;
    })
  },
  methods: {
    handleChangePayObject() {
      const payObj = this.form.payObject.split('=')
      if (payObj) {
        this.payTips.requestUrl = payObj[1] + '：下单创建地址'
        this.payTips.queryUrl = payObj[1] + '：下单查询地址'
        this.payTips.payKey = payObj[1] + '：支付KEY,' + this.variableName.payKey[payObj[0]]
        this.payTips.paySecret = payObj[1] + '：支付密钥,' + this.variableName.paySecret[payObj[0]]
        this.payTips.field1 = payObj[1] + '：支付密钥,' + this.variableName.field1[payObj[0]]
      }
      this.payObjectCode = payObj[0]
    },
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/user/pay/channel/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const payObj = this.form.payObject.split('=')
          this.form.payObjectCode = payObj[0]
          this.form.payObjectName = payObj[1]
          this.onSubmit()
        } else {
          console.log('error submit!!');
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      payChannelSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }
  .svg-icon-question {
    position: absolute;
    right: -20px
  }
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
