<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="40%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="100px">
      <el-form-item label="支付名称">
        <el-input v-model="info.payChannelName" disabled class="form-group" />
      </el-form-item>
      <el-form-item label="支付类型">
        <el-input v-model="payTypeName" disabled class="form-group" />
      </el-form-item>
      <el-form-item label="优先等级" prop="channelPriority">
        <el-input-number v-model="form.channelPriority" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { payChannelListUsable, payRuleEdit } from '@/api/user'

  export default {
    name: 'EditRule',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        channelList: [],
        rules: {
          channelPriority: [
            { required: true, message: '请输入优先等级'}
          ]
        },
        payTypeName: ''
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.$store.dispatch('GetOpts', { enumName: 'PayTypeEnum', type: 'obj' }).then(res => {
            this.payTypeName = res[this.info.payType];
          })
          this.channelListUsable()
          this.form = this.info;
        }
      }
    },
    methods: {
      channelListUsable() {
        payChannelListUsable().then(res => {
          this.channelList = res.data
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        payRuleEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      },
      handleClose() {
        this.form = {};
        this.$emit('close');
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
