<template>
  <el-dialog
    width="60%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="map.mobile" />
      </el-form-item>
      <el-form-item class="filter-item" label="昵称">
        <el-input v-model="map.nickname" />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
      <el-button plain type="success" size="mini" @click="handleBatchSelect">批量新增</el-button>
    </el-form>
    <el-table
      v-loading="loading"
      size="mini"
      :data="list"
      stripe
      border
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" />
      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="手机" prop="mobile" />
      <el-table-column label="昵称" prop="nickname" />
      <el-table-column label="用户类型" width="80">
        <template slot-scope="scope">
          {{ userTypeEnums[scope.row.userType] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="selectHand(scope.row)">选择</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import { userExtPage } from '@/api/user';

  export default {
    name: 'FindUser',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 10,
          totalCount: 0,
          totalPage: 0
        },
        checkUserNos: undefined,
        checkNicknames: undefined,
        userTypeEnums: {},
        statusIdEnums: {},
        list: [],
        map: {},
        loading: false
      }
    },
    created() {
      this.listForPage()
      this.$store.dispatch('GetOpts', { enumName: 'UserTypeEnum', type: 'obj' }).then(res => {
        this.userTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {

      // 单选
      selectHand(row) {
        this.checkUserNos = row.userNo
        this.checkNicknames = row.nickname
        this.handleClose()
      },
      handleClose() {
        this.$emit('close-callback', this.checkUserNos, this.checkNicknames)
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading = true;
        userExtPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleSelectionChange(val) {
        let resultUserNos = '';
        for (const i in val) {
          resultUserNos += val[i].userNo;
          if ((parseInt(i) + 1) !== val.length) {
            resultUserNos += ',';
          }
        }
        this.checkUserNos = resultUserNos;

        let resultNicknames = '';
        if (val.length === 1) {
          resultNicknames += val[0].nickname
        }
        if (val.length > 1) {
          resultNicknames += val[0].nickname + '等'
        }

        this.checkNicknames = resultNicknames;
      },
      handleBatchSelect() {
        if (this.checkUserNos === undefined || this.checkUserNos === '') {
          this.$message.error('请选择需要添加的用户');
          return;
        }
        this.handleClose()
      }
    }
  }
</script>
