<template>
  <el-dialog
    :title="title"
    top="5vh"
    :visible.sync="visible"
    width="75%"
    class="user-msg-add-dialog"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="100px">
      <el-form-item label="发送对象" prop="isTimeSend">
        <el-radio-group v-model="form.isToPart" @change="handleIsTimeSendChange">
          <el-radio :label="0">所有用户</el-radio>
          <el-radio :label="1">指定用户</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-if="form.isToPart ===1" label="接收方昵称" prop="mobile">
        <el-input v-model="form.checkNicknames" disabled class="form-group">
          <el-button slot="append" icon="el-icon-search" @click="findUser" />
        </el-input>
      </el-form-item>
      <el-form-item label="定时发送" prop="isTimeSend">
        <el-radio-group v-model="form.isTimeSend" @change="handleIsTimeSendChange">
          <el-radio :label="0">关闭</el-radio>
          <el-radio :label="1">开启</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-if="form.isTimeSend === 1" label="发送时间" prop="sendTime">
        <el-date-picker
          v-model="form.sendTime"
          type="datetime"
          placeholder="选择日期时间"
          align="right"
          :picker-options="pickerOptions"
        />
      </el-form-item>
      <el-form-item label="是否置顶" prop="isTop">
        <el-radio v-model="form.isTop" :label="1">是</el-radio>
        <el-radio v-model="form.isTop" :label="0">否</el-radio>
      </el-form-item>
      <el-form-item label="短信标题" prop="msgTitle">
        <el-input v-model="form.msgTitle" class="form-group" />
      </el-form-item>
      <el-form-item label="短信内容" prop="msgText">
        <wangeditor v-if="visible" v-model="form.msgText" :height="200" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
    <find-user v-if="userCtr.visible" :title="userCtr.title" :visible="userCtr.visible" @close-callback="userCloseCallback" />
  </el-dialog>
</template>
<script>
import {msgSave} from '@/api/user'
import FindUser from '@/views/user/msg/add/findUser';

import Wangeditor from '@/components/wangeditor/wangeditor';

export default {
  name: 'AddMsg',
  components: {Wangeditor, FindUser},
  props: {
    title: {
      type: String,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isEdit: false,
      pickerOptions: {
        shortcuts: [{
          text: '今天',
          onClick(picker) {
            picker.$emit('pick', new Date());
          }
        }, {
          text: '明天',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() + 3600 * 1000 * 24);
            picker.$emit('pick', date);
          }
        }, {
          text: '后天',
          onClick(picker) {
            const date = new Date();
            date.setTime(date.getTime() + 3600 * 1000 * 24 * 2);
            picker.$emit('pick', date);
          }
        }]
      },
      userCtr: {
        title: '用户信息--查找带回',
        visible: false
      },
      form: {
        // nickname: [],
        // userNo: [],
        isTimeSend: 0,
        msgText: undefined,
        isTop: 0,
        isToPart: 0
      },
      opts: {},
      rules: {
        msgTitle: [
          {required: true, message: '请输入短信标题', trigger: 'blur'}
        ],
        msgText: [
          {required: true, message: '请输入短信内容', trigger: 'blur'}
        ],
        isTimeSend: [
          {required: true, message: '请选择是否定时发送', trigger: 'blur'}
        ],
        sendTime: [
          {required: true, message: '请输入发送时间', trigger: 'blur'}
        ],
        isTop: [
          {required: true, message: '请选择是否置顶', trigger: 'blur'}
        ]
      },
      isShowSendTime: false
    }
  },
  mounted() {
    this.isEdit = true;
  },
  methods: {
    findUser() {
      this.userCtr.visible = true;
    },
    userCloseCallback(checkUserNos, checkNicknames) {
      this.userCtr.visible = false;
      this.form.checkNicknames = checkNicknames;
      this.form.userNos = checkUserNos;
    },
    handleClose() {
      this.$emit('close');
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      msgSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.form = {
          isTimeSend: 0,
          msgText: undefined,
          isTop: 0
        };
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    },
    handleIsTimeSendChange(val) {
      if (val === 1) {
        this.isShowSendTime = true;
      } else {
        this.form.sendTime = null;
        this.isShowSendTime = false;
      }
    }
  }
}
</script>
<style lang="scss">
  .user-msg-add-dialog{
    .el-dialog__body{
      padding-bottom: 0;
    }
    .form-group {
      width: 100%;
      max-width: 300px;
    }
  }
</style>
