<template>
  <el-dialog :title="title" :visible.sync="visible" width="35%" :before-close="handleClose">
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="课程名称" prop="courseName">
        <el-input v-model="form.courseName" disabled class="form-group">
          <el-button slot="append" icon="el-icon-search" @click="findCourse" />
        </el-input>
      </el-form-item>
      <el-form-item label="原价" prop="courseOriginal">
        <el-input v-model="form.courseOriginal" disabled class="form-group" />
      </el-form-item>
      <el-form-item label="优惠价" prop="courseDiscount">
        <el-input v-model="form.courseDiscount" disabled class="form-group" />
      </el-form-item>
      <!--  活动类型(1优惠券)    -->
      <el-form-item v-if="form.actType === 1" label="面额" prop="actPrice">
        <el-input-number v-model="form.actPrice" controls-position="right" :min="0" />
        <el-tooltip class="item"  effect="light" content="面额必须大于零且小于优惠价。（下单价格=课程价格-优惠券）" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-form-item>
      <el-form-item v-if="form.actType === 1" label="发券数量" prop="sort">
        <el-input-number v-model="form.total" controls-position="right" :min="1" />
        <el-tooltip class="item"  effect="light" content="用户能领取的券最大数，默认为0，即不做限制" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-form-item>
      <!--  活动类型(2秒杀)    -->
      <el-form-item v-if="form.actType === 2" label="秒杀价格" prop="actPrice">
        <el-input-number v-model="form.actPrice" controls-position="right" :min="0" />
        <el-tooltip class="item"  effect="light" content="秒杀价格必须大于零且小于优惠价。（下单价格=秒杀价格）" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-form-item>
      <el-form-item v-if="form.actType === 2" label="是否限购" prop="isLimit">
        <template>
          <el-radio v-model="form.isLimit" :label="1">是</el-radio>
          <el-radio v-model="form.isLimit" :label="0">否</el-radio>
        </template>
      </el-form-item>
      <el-form-item v-if="form.actType === 2 && form.isLimit === 1" label="限购人数" prop="sort">
        <el-input-number v-model="form.buyer" controls-position="right" :min="0" />
      </el-form-item>

    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
    <find-course v-if="findCourseCtr.visible" :title="findCourseCtr.title" :visible="findCourseCtr.visible" @close-callback="courseCloseCallback" />
  </el-dialog>
</template>
<script>
  import { actZoneCourseSave } from '@/api/marketing'
  import FindCourse from '@/views/marketing/course/findCourse/index';
  export default {
    name: 'AddCourse',
    components: { FindCourse },
    props: {
      formData: {
        type: Object,
        default: null
      },
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        findCourseCtr: {
          title: '课程信息--查找带回',
          visible: false
        },
        form: {
          isLimit: 0,
          limitReceive: 0
        },
        rules: {
          zoneTitle: [
            {required: true, message: '请输入专区标题', trigger: 'blur'}
          ]
        }
      }
    },
    created() {
      this.form.actId = this.formData.actId;
      this.form.zoneId = this.formData.zoneId
      this.form.actType = this.formData.actType
    },
    methods: {
      courseCloseCallback(row) {
        this.findCourseCtr.visible = false;
        if (row) {
          this.form.courseId = row.id
          this.form.courseName = row.courseName
          this.form.courseLogo = row.courseLogo
          this.form.courseOriginal = row.courseOriginal
          this.form.courseDiscount = row.courseDiscount
          this.form.courseCategory = row.courseCategory
        }
      },
      findCourse() {
        this.findCourseCtr.courseCategory = this.form.courseCategory
        this.findCourseCtr.visible = true;
      },
      handleClose() {
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        actZoneCourseSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
