<template>
  <el-dialog :title="title" :visible.sync="visible" width="30%" :before-close="handleClose">
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="课程名称" prop="courseName">
        <el-input v-model="form.courseName" disabled class="form-group" />
      </el-form-item>
      <el-form-item v-if="form.courseName" label="课程价格">
        <span class="c-info">普通价：{{ form.courseOriginal | amountFormat }}</span>
        <span v-if="form.chosenPercent" class="c-warning">&nbsp;&nbsp;&nbsp;&nbsp;预计收益: {{ (form.courseOriginal * form.chosenPercent)/100 | amountFormat }}/单 </span>
        <br>
        <span class="c-danger">会员价：{{ form.courseDiscount | amountFormat }}</span>
        <span v-if="form.chosenPercent" class="c-warning">&nbsp;&nbsp;&nbsp;&nbsp;预计收益: {{ (form.courseDiscount * form.chosenPercent)/100 | amountFormat }}/单</span>
      </el-form-item>
      <el-form-item v-if="form.courseName" label="分销比例" prop="chosenPercent">
        <el-input-number v-model="form.chosenPercent" placeholder="请输入百分比" :precision="2" controls-position="right" :min="0" :max="100" />
      </el-form-item>
      <el-form-item v-if="form.courseName" label="收益说明">
        <span class="c-warning">分销收益 = 商品售价 x 分销比例</span>
        <br>
        <span class="c-warning">讲师收益 = 商品售价 x (100% - 分销比例) x 讲师比例 </span>
        <br>
        <span class="c-warning">平台收益 = 商品售价 - (分销收益 + 讲师收益)</span>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import {chosenEdit} from '@/api/user'

  export default {
    name: 'EditOrderInfo',
    filters: {
      amountFormat(val = 0) {
        return `￥ ${val.toFixed(2).replace(/\d{1,3}(?=(\d{3})+(\.\d*)?$)/g, '$&,')}`
      }
    },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {courseName: ''},
        rules: {
          chosenPercent: [
            {required: true, message: '请输入分销比例', trigger: 'blur'}
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = {
            courseName: this.info.courseInfo.courseName,
            courseOriginal: this.info.courseInfo.courseOriginal,
            courseDiscount: this.info.courseInfo.courseDiscount,
            id: this.info.id,
            chosenPercent: this.info.chosenPercent
          }
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'VipTypeEnum', type: 'obj'}).then(res => {
        this.setTypeEnums = res;
      })
    },
    methods: {
      handleClose() {
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        chosenEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
