<template>
<view>
<form v-if="step == 1" @submit="checkPhone">
  <text class="c_999 phone_verify">手机号验证</text>
  <view class="text_group">
    <text class="label">手机号</text>
    <input placeholder="请输入手机号" name="mobile" type="number" maxlength="11" class="phone_input"></input>
  </view>
  <button formType="submit" class="next_btn">下一步</button>
</form>
<view v-if="step == 2">
  <text class="c_999 phone_verify">你还没有注册账号,请注册账号绑定代理</text>
  <form @submit="registerUser">
    <view class="text_group">
      <text class="label">手机号码</text>
      <input placeholder="请输入手机号" name="mobile" type="number" maxlength="11" class="phone_input" @input="changePhone" disabled="true" :value="phone"></input>
    </view>
    <view class="text_group p_relative">
      <text class="label">验 证 码</text>
      <input placeholder="请输入验证码" name="code" type="number" maxlength="6" class="yzm_input"></input>
      <code-btn :mobile="phone" @codeClick="changeRegister"></code-btn>
    </view>
    <view class="text_group">
      <text class="label">登录密码</text>
      <input placeholder="请输入登录密码" password="true" class="phone_input" name="password"></input>
    </view>
    <view class="text_group">
      <text class="label">确认密码</text>
      <input placeholder="请再次输入密码" password="true" class="phone_input" name="repassword"></input>
    </view>
    <view class="text_group">
      <text class="label">昵称</text>
      <input placeholder="请输入昵称" class="phone_input" name="nickname"></input>
    </view>
    <button form-type="submit" :disabled="isNext" class="next_btn">注册</button>
    <text class="fr font25 c_999 go_back" @tap="goBack">返回</text>
  </form>
</view>
<view v-if="step == 3">
  <text class="c_999 phone_verify">你已注册账号,请输入密码以绑定代理</text>
  <form @submit="bindAgent">
    <view class="text_group">
      <text class="label">手机号码</text>
      <input placeholder="请输入手机号" name="mobile" disabled="true" :value="phone" type="number" maxlength="11" class="phone_input"></input>
    </view>
    <view class="text_group">
      <text class="label">登录密码</text>
      <input placeholder="请输入登录密码" password="true" class="phone_input" name="password"></input>
    </view>
    <view class="text_group">
      <text class="label">昵称</text>
      <input placeholder="请输入昵称" class="phone_input" name="nickname"></input>
    </view>
    <button form-type="submit" class="next_btn">绑定</button>
    <text class="fr font25 c_999 go_back" @tap="goBack">返回</text>
  </form>
</view>
<view class="verify_tip" v-if="step == 4">
  <text class="c_999 tip">{{tipText}}</text>
  <navigator open-type="switchTab" class="link_btn font25" url="../account/index/index">进入个人中心</navigator>
  <!-- <button class="next_btn">下一步</button> -->
</view>
</view>
</template>

<script>
// pages/verify/verify.js
import * as agent from "../../api/agent";
import codeBtn from "../../components/codebtn/codebtn";

export default {
  data() {
    return {
      isNext: true,
      phone: '',
      referralCode: 'Y38500',
      orgNo: '',
      step: 1,
      tipText: '你已存在代理关系，无需重复绑定'
    };
  },

  components: {
    codeBtn
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    let scene = options.scene ? decodeURIComponent(options.scene) : 'Y38500';
    console.log(scene);
    this.setData({
      referralCode: scene
    });
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    goBack() {
      this.setData({
        step: 1
      });
    },

    checkPhone: function (e) {
      let detail = e.detail.value;
      console.log(detail);

      if (!/^1[3|4|5|8|7][0-9]\d{8}$/.test(parseInt(detail.mobile))) {
        uni.showToast({
          title: '请输入正确手机号码',
          icon: 'none'
        });
        return false;
      }

      uni.showLoading({
        title: '校验中...'
      });
      agent.checkAgent({
        mobile: detail.mobile
      }).then(result => {
        console.log(result);

        if (result.isUserAgent == 1) {
          this.setData({
            step: 2,
            phone: detail.mobile
          });
        } else if (result.isUserAgent == 2) {
          this.setData({
            step: 3,
            phone: detail.mobile
          });
        } else if (result.isUserAgent == 3) {
          this.setData({
            step: 4,
            tipText: '你已存在代理关系，无需重复绑定'
          });
        }
      }).catch(() => {
        uni.hideLoading();
      });
    },

    changePhone(e) {
      this.setData({
        phone: e.detail.value
      });
    },

    changeRegister() {
      this.setData({
        isNext: false
      });
    },

    registerUser(e) {
      console.log(e.detail);
      let robj = e.detail.value;

      if (!robj.mobile || !/^1[3|4|5|8|7][0-9]\d{8}$/.test(parseInt(robj.mobile))) {
        uni.showToast({
          title: '请输入正确手机号码',
          icon: 'none'
        });
        return;
      }

      if (!robj.code) {
        uni.showToast({
          title: '请输入验证码',
          icon: 'none'
        });
        return;
      }

      if (!robj.password || robj.password.length < 6 || robj.password.length > 16) {
        uni.showToast({
          title: '请输入6-16位的登录密码,区分大小写,不可有空格',
          icon: 'none'
        });
        return;
      }

      if (!robj.repassword || robj.repassword !== robj.password) {
        uni.showToast({
          title: '两次输入密码不一致，请确认密码',
          icon: 'none'
        });
        return;
      }

      if (!robj.nickname) {
        uni.showToast({
          title: '请输入昵称',
          icon: 'none'
        });
        return;
      }

      console.log(this.referralCode);
      robj.referralCode = this.referralCode;
      uni.showLoading({
        title: '注册中...'
      });
      agent.bindAgent(robj).then(res => {
        uni.hideLoading();
        this.setData({
          step: 4,
          tipText: '注册成功，请耐心等待审核！'
        });
      }).catch(() => {
        uni.hideLoading();
      });
    },

    bindAgent(e) {
      console.log(e.detail.value);
      let aobj = e.detail.value;

      if (!aobj.mobile || !/^1[3|4|5|8|7][0-9]\d{8}$/.test(parseInt(aobj.mobile))) {
        uni.showToast({
          title: '请输入正确手机号码',
          icon: 'none'
        });
        return;
      }

      if (!aobj.password) {
        uni.showToast({
          title: '请输入密码',
          icon: 'none'
        });
        return;
      }

      if (!aobj.nickname) {
        uni.showToast({
          title: '请输入昵称',
          icon: 'none'
        });
        return;
      }

      aobj.referralCode = this.referralCode;
      uni.showLoading({
        title: '绑定中...'
      });
      agent.bindAgent(aobj).then(res => {
        uni.hideLoading();
        this.setData({
          step: 4,
          tipText: '注册成功，请耐心等待审核！'
        });
      }).catch(() => {
        uni.hideLoading();
      });
    }

  }
};
</script>
<style scoped>
.phone_verify {
  font-size: 33rpx;
  height: 94rpx;
  line-height: 94rpx;
  padding-left: 40rpx;
}
.text_group {
  font-size: 33rpx;
  height: 94rpx;
  line-height: 94rpx;
  display: flex;
  background: #fff;
  margin-bottom: 1rpx;
}
.label {
  width: 200rpx;
  text-align: center;
}
.phone_input, .yzm_input {
  height: 94rpx;
  line-height: 94rpx;
}
.next_btn {
  background: #2388EC;
  height: 94rpx;
  line-height: 100rpx;
  color: #fff;
  margin: 30rpx;
}
.verify_tip{
  margin: 80rpx 30rpx;
}
.verify_tip .tip{
  margin-top: 30rpx;
}
.verify_tip .link_btn{
  display: block;
  width: 320rpx;
  text-align: center;
  margin: 30rpx auto;
  height: 90rpx;
  line-height: 90rpx;
  background-color: #2388EC;
  font-size: 28rpx;
  color: #fff;
}
.go_back {
  display: inline-block;
  width: 100rpx;
  height: 50rpx;
  text-align: center;
}
</style>