<template>
<view class="catalogue_box" @tap="hideCatalogue">
  <scroll-view scroll-y="true">
    <view class="text_box">
      {{course}}
    </view>
    <view v-for="(item, index) in list" :key="index" :class="item.chapterNo == no ? 'text_box c_orange' : 'text_box'" @tap="changeChapter" :data-that="item" :data-no="item.chapterNo" :data-index="index + 1">
      <text class="tip c_orange b_orange" v-if="item.isFree">免费</text>
        第{{index + 1}}讲:{{item.chapterName}}
    </view>
  </scroll-view>
</view>
</template>

<script>

export default {
  data() {
    return {};
  },

  components: {},
  props: {
    list: {
      type: ['Array', 'Object']
    },
    course: {
      type: ['String']
    },
    no: {
      type: ['String', 'Number']
    },
    courseId: {
      type: ['String', 'Number']
    }
  },
  beforeMount() {},
  methods: {
    hideCatalogue() {
      this.$emit('hidecatalogue');
    },

    changeChapter(e) {
      console.log(e.currentTarget.dataset.no);
      let item = e.currentTarget.dataset.that;

      if (!item.isPay && !item.isFree) {
        uni.showModal({
          title: '提示',
          content: '请先购买，再查看',
          showCancel: false,
          success: res => {
            if (res.confirm) {
              uni.navigateTo({
                url: '../order/order?no=' + this.courseId + '&t=1'
              });
            }
          }
        });
        return;
      }

      let no = e.currentTarget.dataset.no;
      let index = e.currentTarget.dataset.index;
      this.$emit('changedetail', {
        detail: {
          no,
          index
        }
      });
    }

  }
};
</script>
<style>
.catalogue_box {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  top: 120rpx;
  bottom: 0;
}
.text_box {
  width: 600rpx;
  height: 120rpx;
  background: #fff;
  line-height: 120rpx;
  font-size: 28rpx;
  color: #333;
  box-sizing: border-box;
  padding: 0 20rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1rpx solid rgb(230, 230, 230);
}
.tip {
  padding: 5rpx 20rpx;
  box-sizing: border-box;
  border: 1rpx solid #999;
  border-radius: 4px;
  font-size: 24rpx;
}
.c_999 {
  color: #999;
}
.c_orange {
  color: #EC7E00;
}
.b_orange {
  border-color: #EC7E00;
}
scroll-view {
  height: 100%;
  width: 600rpx;
}
</style>