<template>
      <div class="main_box">
        <ul class="tabs clearfix">
          <a :class="{on: tab == 3}" @click="clicktab(3)" class="tab">全部文库</a>
          <a :class="{on: tab == 1}" @click="clicktab(1)" class="tab">审核通过</a>
          <a :class="{on: tab == 0}" @click="clicktab(0)" class="tab">审核中</a>
          <a :class="{on: tab == 2}" @click="clicktab(2)" class="tab">审核失败</a>
          <nuxt-link :to="{ name:'account-resource-add' }" class="fr solid_btn">
            新增文库
          </nuxt-link>
        </ul>
        <div class="main_cont">
          <div v-if="notdata" class="notdata">
            <i class="iconfont">&#xe6be;</i>暂时没有数据
          </div>
          <table v-else class="course_table table">
            <thead>
            <tr>
              <th>文库名称</th>
              <th>是否付费</th>
              <th>价格</th>
              <th>会员价</th>
              <th>状态</th>
              <th>排序</th>
              <th>上下架</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in courseList" :key="item.courseNo">
              <td class="name">
                <img :src="item.courseLogo" class="icon" alt="">
                <p class="fr txt">
                  {{ item.courseName }}
                </p>
              </td>
              <td v-if="item.isFree" class="c_orange">
                免费
              </td>
              <td v-else class="c_orange">
                付费
              </td>
              <td class="c_red">
                ¥{{ item.courseOriginal }}
              </td>
              <td class="c_red">
                ¥{{ item.courseDiscount }}
              </td>
              <td v-if="item.auditStatus === 1" class="c_green">
                审核通过
              </td>
              <td v-else-if="item.auditStatus === 2" class="c_red">
                审核不通过
              </td>
              <td v-else class="c_blue">
                待审核
              </td>
              <td>
                {{ item.sort }}
              </td>
              <td v-if="item.isPutaway">
                <button @click="putaWay(item)" class="gray_btn">
                  文库下架
                </button>
              </td>
              <td v-else>
                <button @click="putaWay(item)" class="orange_btn">
                  文库上架
                </button>
              </td>
              <td class="operate">
                  <span>
                    <nuxt-link :to="{ name: 'account-resource-add', query: { no: item.id }}" class="text_link">修改</nuxt-link>
                  </span>
                <br>
                <span>
                    <router-link :to="'/account/resource/period?no=' + item.chapterId" class="text_link">附件管理</router-link>
                  </span>
                <br>
                <span>
                    <a v-if="item.isDelete" @click="deleteItem(item.id)" href="javascript:" class="text_link">删除</a>
                  </span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="center">
            <el-pagination
              :page-size="pageObj.pageSize"
              :current-page="pageObj.pageCurrent"
              :total="pageObj.totalCount"
              @current-change="getPage"
              class="page-panel"
              background
              layout="prev, pager, next">
            </el-pagination>
          </div>
        </div>
      </div>
</template>
<script>
import { lecturerCourseList, coursePutaway, deleteCourse } from '~/api/account/course.js'
export default {
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 点播管理'
    }
  },
  data() {
    return {
      tab: 3,
      pageCurrent: 1,
      courseList: [],
      pda: {
        courseCategory: 4,
        auditStatus: '',
        lecturerUserNo: '',
        pageCurrent: 1,
        pageSize: 20
      },
      pageObj: {
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  computed: {
    webInfo() {
      return this.$store.state.webInfo
    },
    notdata() {
      return !this.courseList.length
    }
  },
  mounted() {
    // console.log('文库列表')
    this.getCourseList()
    this.pda.lecturerUserNo = this.$store.state.userInfo.userNo
  },
  methods: {
    // 删除文库
    deleteItem(id) {
      this.$confirm('确认删除该文库?', '提示', {
        type: 'warning'
      }).then(() => {
        deleteCourse({ id }).then((res) => {
          this.$msgBox({ type: 'success', content: '删除成功' })
          this.getCourseList()
        })
      })
    },
    getPage(int) {
      this.pageCurrent = int
      this.getCourseList()
    },
    // 文库上下架
    putaWay(item) {
      // console.log(item)
      const isp = item.isPutaway ? 0 : 1
      let txt = '确定下架该文库?'
      if (isp) {
        txt = '确定上架该文库?'
      }
      this.$confirm(txt, '提示', {
        type: 'warning'
      }).then((res) => {
        coursePutaway({
          id: item.id,
          isPutaway: isp
        }).then((res) => {
          item.isPutaway = isp
          this.clicktab()
        })
      })
    },
    clicktab(int) {
      this.tab = int
      this.pageCurrent = 1
      this.getCourseList()
    },
    getCourseList() {
      const astat = this.tab === 3 ? '' : this.tab
      this.pda.auditStatus = astat
      this.pda.pageCurrent = this.pageCurrent
      lecturerCourseList(this.pda).then((res) => {
        this.courseList = res.data.list
        if (res.data.list.length > 0) {
          this.pageObj = res.data
        } else {
          this.pageObj.totalPage = 0
        }
      }).catch(() => {
        this.courseList = []
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .course_table{
    .name{
      width: 400px;
      .txt{
        width: 190px;
        padding-top: 12px;
        font-size: 14px;
      }
    }
    .icon{
      width: 175px;
      vertical-align: middle;
    }
  }
</style>
