<template>
  <div class="main_box">
    <div class="step_panel">
      <div class="step on">1.填写文库信息</div>
      <div class="step on">2.上传文库内容</div>
      <div class="step">3.提交审核</div>
    </div>
    <div class="main_cont course_period">
      <div class="tip">
        可
        <span class="c_red">"拖动"</span>文库名称调整先后顺序
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>序号</th>
            <th>附件</th>
            <th>内容</th>
            <th>是否免费</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(item, index) in list">
            <tr
              v-if="item.periodDesc != 'true'"
              :key="item.id"
              v-dragging="{ item: item, list: list }"
            >
              <td>{{ index+1 }}</td>
              <td>
                <img v-if="item.isVideo == 1" src="~/assets/image/vdo.png" class="upload_img" alt />
                <img v-else src="~/assets/image/word.png" class="upload_img" alt />
              </td>
              <td class="name">{{ item.periodName }}</td>
              <td class="c_red">{{ item.isFree ? '免费' : '收费' }}</td>
              <td class="c_blue">待审核</td>
              <td class="operate">
                <a @click="edit1(index)" href="javascript:void(0)" class="text_link">修改</a>
                <br />
                <a @click="del(item.id)" href="javascript:void(0)" class="text_link">删除</a>
              </td>
            </tr>
            <tr v-else :key="item.id">
              <td>{{ index+1 }}</td>
              <td>
                <img v-if="item.isVideo == 1" src="~/assets/image/vdo.png" class="upload_img" alt />
                <img v-else src="~/assets/image/word.png" class="upload_img" alt />
              </td>
              <td class="name">
                <input
                  v-model="item.periodName"
                  :class="{ form_input: true }"
                  type="text"
                  placeholder="请输入名称"
                />
              </td>
              <td>
                <input
                  v-model="item.isFree"
                  class="checkbox"
                  style="width: 60px"
                  type="checkbox"
                  value="1"
                />
              </td>
              <td>-</td>
              <td class="operate">
                <button @click="updatas(item)" class="solid_btn">保存</button>
              </td>
            </tr>
          </template>
          <tr>
            <td>{{ int }}</td>
            <td>
              <d-upload
                :key="random"
                :isresource="true"
                :up-ok="true"
                :btntxt="'添加附件'"
                @uploadStart="uploadStart"
                @rtnUrl="setAc"
              />
            </td>
            <td class="name">
              <input
                v-model="obj.periodName"
                :class="{form_input: true}"
                type="text"
                placeholder="请输入名称"
              />
            </td>
            <td style="text-align: center;">
              <input v-model="obj.isFree" value="1" class="checkbox" type="checkbox" />
            </td>
            <td>-</td>
            <td class="operate">
              <button @click="addPraxis" class="solid_btn">保存</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button @click="submitForm" class="cont_btn solid_btn">提交审核</button>
    </div>
  </div>
</template>
<script>
import DUpload from '~/components/account/Upload'
import {
  chapterPraxisList,
  savePraxis,
  deletePraxis,
  updatePraxis,
  updatePraxisSort,
  accessoryChapterSave,
  periodVideoUpdate
} from '~/api/account/course.js'
export default {
  components: {
    DUpload
  },
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 文库管理'
    }
  },
  data() {
    return {
      random: '123',
      side: 'zygl',
      uploading: false, // 正在上传
      num: 1,
      int: 1,
      title: '',
      edit: true,
      list: [],
      obj: {
        auditStatus: 0,
        courseNo: 0,
        orgPrice: 0,
        periodName: '',
        labelName: ''
      },
      acParams: {
        acName: '',
        acUrl: '',
        courseCategory: 4,
        refId: this.$route.query.no,
        refType: 3
      }
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    }
  },
  mounted() {
    this.chapterList()
    // this.getTag()
    this.num = parseInt(this.$route.query.i) + 1
    this.obj.chapterId = this.$route.query.no
    this.$dragging.$on('dragend', ({ value }) => {
      // console.log(value.list)
      this.saveSort()
    })
  },
  methods: {
    setAc(res) {
      this.uploading = false
      this.acParams.acName = res.name
      this.acParams.acUrl = res.url
      this.obj.periodName = res.name
    },
    submitForm() {
      if (this.obj.periodName !== '') {
        this.$msgBox({ content: '有数据尚未保存，提交审核会造成数据丢失' })
        return false
      }
      if (this.uploading) {
        this.$msgBox({ content: '正在上传附件，提交审核会造成数据丢失' })
        return false
      } else {
        this.$router.push('/account/vod/check?t=4')
      }
    },
    uploadStart(b) {
      this.uploading = b
      if (b === false) {
        this.obj.periodName = ''
      }
    },
    // 添加文库
    addPraxis() {
      if (this.acParams.acUrl === '') {
        this.$msgBox({ content: '请上传附件' })
        return
      }
      if (this.obj.periodName === '') {
        this.$msgBox({ content: '请输入题目名称' })

        return false
      }
      if (!this.obj.isFree) {
        this.obj.isFree = 0
      } else {
        this.obj.isFree = 1
      }
      this.obj.sort = this.int
      savePraxis(this.obj)
        .then(async res => {
          try {
            await this.saveAc(res.data.id)
          } catch (e) {
            this.del(res.data.id, true)
            return
          }
          this.int = this.list.length + 1
          this.obj.periodName = ''
          this.obj.labelName = ''
          this.obj.isFree = 0
          this.chapterList()
          this.acParams.acUrl = ''
          this.random = Math.random()
        })
        .catch(() => {})
    },
    // 修改文库
    edit1(no) {
      const arr = this.list
      arr[no].periodDesc = 'true'
      this.list = Object.assign([], arr)
      // console.log(no)
    },
    // 更新文库
    updatas(data) {
      if (data.periodName === '') {
        this.$msgBox({ content: '请输入文库名称' })

        return
      }
      if (!data.isFree) {
        data.isFree = 0
      } else {
        data.isFree = 1
      }
      data.periodDesc = ''
      console.log(data)
      updatePraxis(data)
        .then(res => {
          console.log(res)
        })
        .catch(() => {})
    },
    saveAc(id) {
      this.acParams.refId = id
      let params = this.acParams
      let method = accessoryChapterSave
      if (/^\d+$/.test(this.acParams.acUrl)) {
        method = periodVideoUpdate
        params = {
          periodId: id,
          videoId: this.acParams.acUrl
        }
      }
      return method(params)
    },
    // 删除文库
    del(no, noTip) {
      if (noTip) {
        deletePraxis({ id: no }).then(res => {
          this.chapterList()
        })
        return
      }
      this.$confirm('确定删除该项?', '提示', {
        type: 'warning'
      }).then(() => {
        deletePraxis({ id: no }).then(res => {
          this.$msgBox({ content: '删除成功' })
          this.chapterList()
        })
      })
    },
    // 保存排序
    saveSort() {
      const periodIdList = this.list.map(item => item.id)
      updatePraxisSort({ periodIdList })
        .then(res => {
          this.load = false
        })
        .catch(() => {
          this.load = false
          this.$msgBox({ content: '排序保存失败' })
        })
    },
    // 文库列表
    chapterList() {
      chapterPraxisList({ chapterId: this.$route.query.no }).then(res => {
        if (!res.data.userPeriodAuditList.length) {
          this.list = []
          this.int = 1
        } else {
          this.list = res.data.userPeriodAuditList
          this.int = res.data.userPeriodAuditList.length + 1
        }
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.step_panel {
  overflow: hidden;
  background-color: #eee;
  .step {
    float: left;
    width: 33.33333%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -12px;
      top: -5px;
      z-index: 1;
      width: 60px;
      height: 60px;
      box-shadow: 1px 1px 0 #fff;
      transform: rotate(-45deg);
    }
    &.on {
      color: #fff;
      background-color: #eb000e;
      &:after {
        background-color: #eb000e;
      }
    }
  }
}
.tabs {
  .tab {
    width: auto;
    padding: 0 30px;
  }
}
.course_period {
  label {
    margin-right: 8px;
    color: #333;
  }
  .name {
    text-align: left;
  }
  .form_input {
    margin: 10px 0;
    height: 34px;
    border: 1px solid #e7e7e7;
    width: 250px;
    text-indent: 1em;
  }
  .form_input_min {
    text-indent: 1em;
    width: 130px;
    height: 34px;
    margin-right: 10px;
    border: 1px solid #e7e7e7;
  }
  .cont_btn {
    width: 280px;
    display: block;
    margin: 20px auto 0;
  }
  .checkbox {
    input {
      display: none;
      &:checked + i {
        color: #ec7e00;
      }
    }
    i {
      font-size: 20px;
      color: #ccc;
      cursor: pointer;
    }
  }
  .select_ctl {
    position: relative;
    .select_p {
      position: absolute;
      width: 100px;
      left: 0;
      top: 35px;
      z-index: 99;
      border: 1px solid #ddd;
      background-color: #fff;
    }
    .option {
      line-height: 30px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
    }
  }
}
.dragging {
  color: #ec7e00;
}
.upload_img {
  width: 30px;
  height: 36px;
}
</style>
