<template>
  <div class="library-view">
    <div class="clearfix layout container">
      <div class="font14 mgt20 clearfix">
        <div class="fl mgt6">
          <nuxt-link :to="'/index'">
            首页
          </nuxt-link>
          <i class="iconfont palr10">></i>
          <nuxt-link :to="'/library'">
            题库专区
          </nuxt-link>
          <i class="iconfont palr10">></i>
          <span>{{ courseName }}</span>
          <span :class="{'c_red': isCollect}" @click="setCollection" class="c_666"><span class="iconfont">&#xe670;</span>  收藏</span>
        </div>
        <div class="fr">
          <activity-panel :course-info="courseInfo" class="fl activity-panel" />
          <button v-if="!courseInfo.isPutaway" class="solid_btn no_top b_red fr" disabled>
            已下架
          </button>
          <button v-else-if="!courseInfo.isFree && !courseInfo.isPay" @click="buyCourse" class="solid_btn">
            <span v-if="userInfo.isVip">
              SVIP购买
              ¥{{ courseInfo.courseDiscount.toFixed(2) }}
            </span>
            <span v-else>
              整套购买
              ¥{{ courseInfo.courseOriginal.toFixed(2) }}
            </span>
          </button>
          <div v-if="acList != null" class="ac_panel fr">
            <div v-if="acList.length < 3" class="fr dow_one">
              <span
                v-for="(item, index) in acList"
                :key="index"
                :download="item.acName"
                :title="item.acName"
                @click="goDown(item)"
                class="dow_btn"
                target="blank"
              >
                <i class="iconfont">&#xe602;</i>{{ item.acName }}
              </span>
            </div>
            <div v-else class="fr dow_panel">
              <div class="dow_btn">
                <i class="iconfont">&#xe602;</i>下载课程附件
              </div>
              <div class="dow_list">
                <span
                  v-for="(item, index) in acList"
                  :key="index"
                  :download="item.acName"
                  :title="item.acName"
                  @click="goDown(item)"
                  class="dow_option"
                  target="blank"
                >
                  <i class="iconfont">&#xe602;</i>{{ item.acName }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="chapterList.length" class="pdb20 mgt20">
        <y-subject
          v-for="item in chapterList[0].periodList"
          :key="item.id"
          :category="0"
          :lecturerdto="lecturerInfo"
          :data="item"
          @btnClick="showModal($event)"
        />
      </div>
    </div>
    <right-tap />
    <y-modal
      v-if="openModal"
      :type="modalType"
      :data="modalData"
      :category="0"
      :open="openModal"
      @hidefun="hideModal()"
      @change="changeTab($event)"
    />
    <y-pay
      v-if="showPay"
      :data="payData"
      :is-course="true"
      @hidefun="hidePay"
    />
  </div>
</template>
<script>
import YSubject from '~/components/library/Subject'
import YModal from '~/components/library/CourseModal'
import YPay from '~/components/PayModal'
import RightTap from '~/components/common/RightTap'
// import activityPanel from '~/components/activity/ActivityPanel'
import { downAc, chapterDetail, collectionSave, removeCollection } from '~/api/course.js'
export default {
  components: {
    YModal,
    YPay,
    YSubject,
    // activityPanel,
    RightTap
  },
  head() {
    return {
      title: this.courseName + '-' + this.$store.state.clientData.name,
      meta: [
        {
          name: 'keywords',
          content: this.courseInfo.keywords
        },
        {
          name: 'description',
          content: this.courseInfo.description
        }
      ]
    }
  },
  data() {
    return {
      chapterList: [],
      isLogin: false,
      isFree: false,
      payData: null,
      showPay: false,
      isCollect: false,
      courseInfo: {
        courseDiscount: 0,
        courseOriginal: 0
      },
      courseName: '',
      acList: null,
      list: [],
      pageCurrent: 1,
      openModal: false,
      modalType: 0
    }
  },
  async asyncData(context) {
    const obj = {
      dataObj: {
        list: [],
        tokenInfo: context.store.state.tokenInfo || '',
        userInfo: context.store.state.userInfo || '',
        params: {
          courseId: context.params.id,
          pageCurrent: 1,
          pageSize: 10
        }
      }
    }
    try {
      if (context.store.state.tokenInfo) {
        const library = await context.store.dispatch('library/GET_USERLIBRARYDETAIL', obj).catch(res => {
          if (res.code === 408) {
            context.redirect('/404')
          }
        })
        if (library.code === 408) {
          context.redirect('/404')
        }
      } else {
        await context.store.dispatch('library/GET_LIBRARYDETAIL', obj).catch(res => {
          if (res.code === 408) {
            context.redirect('/404')
          }
        })
      }
      return obj.dataObj
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    this.getChapterDetail()
    this.userInfo = this.$store.state.userInfo
    if (this.tokenInfo) {
      this.isLogin = true
    } else {
      this.isLogin = false
    }
    if (this.courseInfo.isCollectionCourse) {
      this.isCollect = true
    }
  },
  methods: {
    // 获取章节
    getChapterDetail() {
      const courseId = this.courseInfo.id
      chapterDetail({
        courseId,
        pageSize: 1,
        pageCurrent: this.pageCurrent
      }).then((res) => {
        if (res.code === 200) {
          this.totalPage = res.data.totalPage
          if (res.data.list && res.data.list.length) {
            this.chapterList = this.chapterList.concat(res.data.list)
          }
          this.pageCurrent = this.pageCurrent + 1
          if (this.pageCurrent <= this.totalPage) {
            this.getChapterDetail()
          }
        }
      })
    },
    // 下载附件
    goDown(item) {
      if (!this.isLogin) {
        this.$confirm('登录后才能下载!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      if (!this.courseInfo.isPutaway) {
        this.$msgBox({ content: '题库已下架' })
        return false
      }
      if (!this.isPay && !this.isFree && !item.isFree) {
        this.$confirm('购买后才能下载?', '提示', {
          type: 'warning'
        }).then(() => {
          this.payData = { course: this.courseInfo, payType: 'course' }
          this.showPay = true
        })
        return
      }
      downAc({
        id: item.id
      }).then((res) => {
        window.location.href = res.data
      })
    },
    signOut() {
      this.SIGN_OUT()
      window.location.reload()
    },
    showModal(cbdata) {
      if (!this.isLogin) {
        this.$confirm('请先登录!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return false
      }
      if (cbdata.ty === 1 && cbdata.data.isFree === 0 && !this.isPay) {
        // 查看视频
        this.$confirm('收费视频购买后才可以观看!', '提示', {
          type: 'warning'
        }).then((res) => {
          if (!this.courseInfo.isPutaway) {
            this.$msgBox({ content: '题库已下架' })
            return false
          }
          this.payData = { course: this.courseInfo }
          this.showPay = true
        })
        return false
      }
      this.openModal = true
      this.modalData = cbdata
      this.modalType = cbdata.ty
    },
    hideModal() {
      this.openModal = false
    },
    hidePay() {
      this.showPay = false
    },
    changeTab(int) {
      this.modalType = int
    },
    // 取消收藏
    removeCollection() {
      removeCollection({
        collectionId: this.courseInfo.id,
        collectionType: 1
      }).then(res => {
        this.$msgBox({ content: '取消收藏成功!', type: 'success' })
        this.isCollect = false
      })
    },
    // 收藏课程
    setCollection() {
      if (this.$route.name === 'preview-library-id') {
        return false
      }
      if (!this.isLogin) {
        this.$confirm('登录后才可以收藏！', '提示', {
          type: 'warning'
        }).then(res => {
          this.$store.dispatch('REDIRECT_LOGIN');
        })
        return false;
      }
      if (this.isCollect) {
        this.removeCollection()
        return false
      }
      collectionSave({
        collectionType: 1,
        courseCategory: this.courseInfo.courseCategory,
        collectionId: this.courseInfo.id
      }).then(res => {
        if (res.code === 200) {
          this.$msgBox({ type: 'success', content: '收藏成功' })
          this.isCollect = true
        } else if (res.code === 406) {
          this.isCollect = true
        }
      })
    },
    // 整套购买文库
    buyCourse() {
      if (!this.tokenInfo) {
        this.$confirm('请登录后再购买！', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      if (!this.courseInfo.isPutaway) {
        this.$msgBox({ content: '题库已下架' })
        return false
      }
      this.payData = { course: this.courseInfo, payType: 'course' }
      this.showPay = true
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
  .library-view{
    .activity-panel{
      margin-right: 16px;
      font-size: 14px;
      color: #999;
      .set_vip {
        color: #0099FF;
        margin-left: 6px;
      }
      .favo {
        font-size: 10px;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        color: #999;
        margin-left: 4px;
      }
      .favo_right {
        background: none;
        border: 1px solid #D51423;
        height: 13px;
        color: #D51423;
        margin-left: -5px;
        border-radius: 7px 0 0 7px;
      }
      .small_favo {
        font-size: 12px;
        font-weight: 400;
        border: 1px solid #D51423;
        height: 13px;
        line-height: 14px;
        color: #D51423;
        padding: 0 5px;
      }
      .big_favo {
        color: #999;
        font-size: 14px;
        font-weight: 400;
        margin-left: 3px;
      }
    }
  }
</style>
<style lang="scss" rel="stylesheet/scss" scoped>
.pdb20 {
  padding-bottom: 20px;
}
.lh36 {
  line-height: 36px;
}
.menus_panel{
  left: 0;
  transition: all .5s ease;
}
.main_content{
  transition: all .5s ease;
  margin-left: 260px;
  .content{
    margin: 20px;
    padding: 0 30px;
    background-color: #fff;
  }
}

.mini_menu{
  .menus_panel{
    left: -260px;
    .mini_btn{
      right: -16px;
      transform:rotate(180deg);
    }
  }
  .main_content{
    margin-left: 0;
  }
}
.ac_panel{
  .dow_btn{
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 12px;
    color: #d51423;
    border: 1px solid #d51423;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 16px;
    cursor: pointer;
    i{
      font-size: 12px;
      margin-right: 3px;
    }
    &:hover{
      background-color:#e01c2b;
      color: #fff;
    }
  }
  .dow_panel{
    position: relative;
    &:hover{
      .dow_list{
        display: block;
      }
    }
  }
  .dow_list{
    display: none;
    position: absolute;
    right: 0;
    z-index: 9;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  .dow_option{
    display: block;
    white-space: nowrap;
    width: 200px;
    padding: 8px 10px;
    border-bottom: 1px dashed #ddd;
    cursor: pointer;
    i{
      font-size: 12px;
      margin-right: 3px;
    }
  }
}
.act-panel{
  display: inline-block;
  font-size: 12px;
  margin-right: 12px;
  .small_favo{
    margin: 0 4px;
    padding: 0 2px;
    color: #e00;
    border: 1px solid #e00;
  }
  .favo{
    color: #ec7e00;
  }
  .set_vip{
    color: #1c879c;
  }
}
</style>
