<template>
  <el-dialog :title="title" :visible.sync="visible" width="40%" :before-close="handleClose">
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="活动标题" prop="actTitle">
        <el-input v-model="form.actTitle" class="form-group" />
      </el-form-item>
      <el-form-item label="活动图片" prop="actImg">
        <upload-image :image-url="form.actImg" @success="val => {form.actImg = val.url}" />
      </el-form-item>
      <el-form-item label="活动时效" prop="actTime">
        <el-date-picker
          v-model="form.actTime"
          type="datetimerange"
          range-separator="至"
          value-format="yyyy-MM-dd HH:mm:ss"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
        />
      </el-form-item>
      <el-form-item label="活动排序" prop="sort">
        <el-input-number v-model="form.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import {actCopy} from '@/api/marketing'
  import UploadImage from '@/components/Upload/UploadImage';

  export default {
    name: 'EditAct',
    components: {UploadImage},
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      formData: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        rules: {
          actImg: [
            {required: true, message: '活动图片', trigger: 'blur'}
          ],
          actTitle: [
            {required: true, message: '请输入活动标题', trigger: 'blur'}
          ],
          actTime: [
            {required: true, message: '活动时效', trigger: 'blur'}
          ],
          sort: [
            {required: true, message: '活动排序', trigger: 'blur'}
          ]
        }
      }
    },
    created() {
      this.form = {
        actTime: [this.formData.endTime, this.formData.endTime],
        sort: this.formData.sort,
        actTitle: this.formData.actTitle,
        actImg: this.formData.actImg,
        id: this.formData.id
      }
    },
    methods: {
      handleClose() {
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if (this.form.actTime === undefined) {
              this.tips('请选择活动时效');
              return false;
            }
            this.form.beginTime = this.form.actTime[0];
            this.form.endTime = this.form.actTime[1];
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        actCopy(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
