<template>
  <div class="course_detail">
    <y-watch-video
      ref="watchVideo"
      v-if="isPay"
      :course-info="courseInfo"
      :now-no="nowPeriodNo"
      :chapter-list="chapterList"
      @playfunc="videoPlay"
      @startDown="startDown"
      @setCollection="setCollection"
      @buyCourse="buyCourse"
    />
    <y-display
      ref="watchVideo"
      v-else
      :course-info="courseInfo"
      @buyCourse="buyCourse"
    />
    <div class=" detail_info detail_box clearfix">
      <div class="layout_left">
        <ul class="course_tab clearfix">
          <li :class="{on: tab == 'info'}">
            <a @click="tab = 'info'" href="javascript:">课程介绍</a>
          </li>
          <li :class="{on: tab == 'big'}">
            <a @click="tab = 'big'" href="javascript:">点播课程</a>
          </li>
        </ul>
        <div v-if="tab == 'info'" class="content_info">
          <!-- eslint-disable -->
          <div class="introduce" v-html="courseInfo.introduce" />
          <y-syllabus
            :list="chapterList"
            :now-no="nowPeriodNo"
            :is-pay="isPay"
            @playfunc="videoPlay"
            @startDown="startDown"
            @buyCourse="buyCourse"
          />
        </div>
        <div v-if="tab == 'big'" class="content_info">
          <y-syllabus
            :list="chapterList"
            :now-no="nowPeriodNo"
            :is-pay="isPay"
            @playfunc="videoPlay"
            @startDown="startDown"
            @buyCourse="buyCourse"
          />
        </div>
      </div>
      <div class="layout_right">
        <div class="teacher_info clearfix">
          <span class="head">讲师简介</span>
          <div class="teacher_msg">
            <div class="teacher_msg_right">
              <img v-if="teacherInfo.headImgUrl" class="teacher_phone" :src="teacherInfo.headImgUrl" alt="">
              <img v-else class="teacher_phone" src="~/assets/image/friend.jpg" alt="">
              <div class="teacher_name">
                {{ teacherInfo.lecturerName }}
                <a href="javascript:" @click="setAttention" :class="{atten_btn: true, c_red: isAttention}"><span class="iconfont">&#xe670;</span>&nbsp;关注</a>
              </div>
              <!-- eslint-disable -->
              <div class="info_box" v-html="teacherInfo.introduce" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <d-pay v-if="showPay" :is-course="true" :data="payData" @hidefun="showPay = false" />
  </div>
</template>
<script>
import YDisplay from '~/components/course/Display'
import YSyllabus from '~/components/course/Syllabus'
import DPay from '~/components/PayModal'
import YWatchVideo from '~/components/course/WatchVideo'
import { courseDetail, chapterDetail } from '~/api/preview.js'
export default {
  layout: 'course',
  components: {
    YDisplay,
    YSyllabus,
    YWatchVideo,
    DPay
  },
  head() {
    return {
      title: this.courseInfo.courseName + '-' + this.$store.state.clientData.name
    }
  },
  data() {
    return {
      isAttention: false,
      isPay: false,
      payData: null,
      showPay: false,
      courseInfo: {},
      teacherInfo: {
        lecturerName: ''
      },
      tab: 'info',
      nowPeriodNo: '', // 当前播放章节
      pageCurrent: 1, // 章节页数
      totalPage: 1,
      chapterList: [] // 章节列表
    }
  },
  computed: {
    isLogin() {
      return this.$store.state.tokenInfo
    }
  },
  validate({ params }) {
    // 必须是number类型
    return /^\d+$/.test(params.id)
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo
    try {
      const result = {}
      if (tk) {
        const data = await courseDetail({ id: context.params.id }, tk)
        // console.log(data)
        if (data.code === 200) {
          result.courseInfo = data.data
          result.teacherInfo = data.data.lecturer
          if (data.data.isFree) {
            result.isPay = true
          } else {
            result.isPay = false
          }
        } else {
          console.log('获取课程信息失败')
          result.courseInfo = null
        }
        return result
      } else {
        context.redirect('/login')
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    this.getChapterDetail()
  },
  methods: {
    // 关注讲师
    setAttention() {
    },
    // 购买视频
    buyCourse(event) {
    },
    videoPlay(data) {
    },
    /*eslint-disable*/
    play(data) {
      console.log(data)
      const box = this.$refs.watchVideo.$refs.videobox
      if (this.player) {
        this.player.changeVid({
          vid: data.vid,
          playsafe: data.token,
          ts: data.ts,
          sign: data.sign,
          autoplay: true
        })
      } else {
        const userInfo = this.$store.state.userInfo
        this.player = polyvObject('#player').videoPlayer({
          'width': box.offsetWidth,
          'height': box.offsetHeight,
          'forceH5': true,
          'code': data.code,
          'playsafe': data.token,
          'ts': data.ts,
          'sign': data.sign,
          'vid': data.vid,
          'viewerInfo': {
            'viewerId': userInfo.userNo,
            'viewerName': userInfo.nickname
          }
        })
      }
    },
    // 获取章节
    getChapterDetail() {
      const courseId = this.courseInfo.id
      chapterDetail({
        courseId,
        pageSize: 1,
        pageCurrent: this.pageCurrent
      }).then((res) => {
        console.log(res)
        if (res.code === 200) {
          this.totalPage = res.data.totalPage
          if (res.data.list && res.data.list.length) {
            this.chapterList = this.chapterList.concat(res.data.list)
          }
          this.pageCurrent = this.pageCurrent + 1
          if (this.pageCurrent <= this.totalPage) {
            this.getChapterDetail()
          }
        } else {
          this.$msgBox({
            content: res.data.msg,
            isShowCancelBtn: false
          })
        }
      }).catch(() => {
        this.$msgBox({
          content: '数据加载失败，请稍后重试',
          isShowCancelBtn: false
        })
      })
    },
    // 下载附件
    startDown(acInfo) {
    },
    // 收藏
    setCollection() {
      console.log(this.courseInfo)
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
.course_detail{
  .detail_info {
    margin: 20px auto 60px;
    width: 1200px;
  }
  .layout_left {
    width: 920px;
    float: left;
    .info_body {
      margin-bottom: 30px;
    }
  }
  .course_tab{
    padding-left: 30px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    li {
      float: left;
      height: 66px;
      line-height: 66px;
      margin-right: 80px;
      &.on {
        border-bottom: 2px solid #D51423;
        a {
          color: #D51423;
        }
      }
      a {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        &:hover {
          text-decoration: none;
          color: #D51423;
        }
      }
    }
  }
  .content_info{
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    min-height: 400px;
    .title {
      border-left: 3px solid #000;
      padding-left: 12px;
      font-size: 16px;
      color: #000;
      font-weight: 700;
      margin-bottom: 25px;
    }
    .introduce{
      font-size: 14px;
      line-height: 30px;
      color: #333;
      padding-left: 8px;
    }
  }
  .layout_right{
    width: 260px;
    float: right;
  }
  .teacher_info {
    background: #fff;
    border-radius: 8px;
    position: relative;
    min-height: 180px;
    .head {
      display: block;
      line-height: 60px;
      height: 60px;
      padding-left: 20px;
      font-size: 14px;
      color: #333;
      border-bottom: 1px solid rgb(228, 228, 228);
    }
    .teacher_phone {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background: rgb(228, 228, 228);
      text-align: center;
      line-height: 46px;
      font-size: 13px;
      color: #999;
      float:left;
      margin: 0px 10px 0 10px;
      img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
      }
    }
    .teacher_msg_right {
      width: 235px;
      float: right;
      margin: 12px 15px 12px 12px;
      line-height: 20px;
    }
    .teacher_name {
      font-size: 14px;
      font-weight: 700;
      color: #333;
      margin-bottom: 10px;
    }
  }
}
</style>
