<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="25%"
    :before-close="handleClose">
    <br>
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="学员手机" prop="mobile">
        <el-input v-model="form.mobile" disabled class="form-group">
          <el-button slot="append" icon="el-icon-search" @click="findStudent"/>
        </el-input>
      </el-form-item>
      <el-form-item label="推广下级" prop="isAllowInvitation">
        <el-radio-group v-model="form.isAllowInvitation">
          <el-radio v-for="item in isAllowInvitations" :key="item.code" :label="''+item.code">{{ item.desc }}</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="推广比例" prop="spreadProfit">
        <el-input class="form-group" v-model="form.spreadProfit" type="number" controls-position="right" :min="0" :max="100">
          <template slot="append">%</template>
        </el-input>
      </el-form-item>
      <el-form-item label="邀请比例" prop="inviteProfit">
        <el-input class="form-group" v-model="form.inviteProfit" type="number" controls-position="right" :min="0" :max="100">
          <template slot="append">%</template>
        </el-input>
      </el-form-item>
      <el-form-item label="描述" prop="remark">
        <el-input v-model="form.remark" type="textarea" class="form-group"  />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
    <find-user :title="studentCtr.title" :visible="studentCtr.visible" @close-callback="studentCloseCallback" />
  </el-dialog>
</template>
<script>
  import { distributionSave } from '@/api/user'
  import FindUser from '@/views/user/distribution/add/findUser';

  export default {
    components: { FindUser },
    name: 'AddAgent',
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      },
      parentId: {
        type: Number,
        default: 0
      }
    },
    data() {
      return {
        rules: {
          mobile: [
            { required: true, message: '选择用户', trigger: 'blur' }
          ],
          isAllowInvitation: [
            { required: true, message: '请选择是否允许推广下级', trigger: 'blur' }
          ],
          spreadProfit: [
            { required: true, message: '请输入推广比例', trigger: 'blur' }
          ],
          inviteProfit: [
            { required: true, message: '请输入邀请比例', trigger: 'blur' }
          ]
        },
        studentCtr: {
          title: '学生手机--查找带回',
          visible: false
        },
        form: {},
        isAllowInvitations: []
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'IsAllowInvitationEnum', type: 'arr' }).then(res => {
        this.isAllowInvitations = res;
      });
    },
    methods: {
      findStudent() {
        this.studentCtr.visible = true;
      },
      studentCloseCallback(row) {
        this.studentCtr.visible = false;
        if (row) {
          this.form.mobile = row.mobile;
          this.form.userNo = row.userNo;
        }
      },
      handleClose() {
        this.form = {}
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        this.form.parentId = this.parentId
        distributionSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
.form-group {
  width: 100%;
  max-width: 300px;
}
</style>
