<template>
<view>
  <view v-for="(item, index) in msgList" :key="index" class="msg_box">
    <navigator :url="'../view/view?id=' + item.id" class="info_box b_fff mgt20">
      <text class="font33 c_333">{{item.msgTitle}}</text>
      <view class="hr"></view>
      <view class="flex_row_between font25 mgt10">
        <text class="c_999">{{item.gmtCreate}}</text>
        <text class="c_blue">查看详情></text>
      </view>
    </navigator>
  </view>
  <view class="no_more c_999 font25 text_center" v-if="noMore">没有更多了...</view>
</view>
</template>

<script>
// pages/user_msg/user_msg.js
import { myMessageList } from "../../../../api/user";
let app = getApp();

export default {
  data() {
    return {
      pageCurrent: 1,
      totalPage: 1,
      msgList: [],
      noMore: false
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.getMessageList();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {
    if (this.pageCurrent < this.totalPage) {
      this.setData({
        pageCurrent: this.pageCurrent + 1
      });
      this.getMessageList();
    }
  },

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    // 获取消息列表
    getMessageList() {
      uni.showLoading({
        title: '加载中...'
      });
      myMessageList({
        pageCurrent: this.pageCurrent,
        pageSize: 10
      }).then(res => {
        console.log(res);
        this.setData({
          totalPage: res.totalPage,
          msgList: this.msgList.concat(res.list)
        });

        if (res.totalPage == res.pageCurrent) {
          this.setData({
            noMore: true
          });
        }
      });
    }

  }
};
</script>
<style scoped>
.msg_box {
  padding: 30rpx 20rpx 0;
}
.info_box {
  padding: 20rpx;
  display: block;
  border-radius: 6px;
}
.msg_img {
  width: 100%;
  height: 288rpx;
}
.hr {
  height: 1px;
  width: 100%;
  margin-top: 5px;
  background: rgba(247, 245, 248, 1);
}
.msg_text {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
</style>