<template>
  <!--弹窗-->
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="100px">
      <el-form-item label="链接名称" prop="linkName">
        <el-input v-model="formData.linkName" placeholder="请输入链接名称" class="form-group" />
      </el-form-item>
      <el-form-item label="链接地址" prop="linkUrl">
        <el-input v-model="formData.linkUrl" placeholder="请输入链接地址" class="form-group" />
      </el-form-item>
      <el-form-item label="打开方式" width="200">
        <el-radio-group v-model="formData.linkTarget">
          <el-radio label="_blank">新窗口打开</el-radio>
          <el-radio label="_self">同窗口打开</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="排序">
        <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { websiteLinkSave } from '@/api/system'

  export default {
    name: 'Edit',
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        ctrl: {
          dialogVisible: true
        },
        formData: {
          linkTarget: '_blank',
          sort: 1
        },
        rules: {
          linkUrl: [
            { required: true, message: '请输入链接地址', trigger: 'blur', autocomplete: 'on' }
          ],
          linkName: [
            { required: true, message: '请输入链接名称', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields()
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (!this.formData.linkUrl) {
            this.$message({
              type: 'error',
              message: '请输入链接地址'
            });
            return false
          }
          if (!this.formData.linkName) {
            this.$message({
              type: 'error',
              message: '请输入链接名称'
            });
            return false
          }
          if (valid) {
            this.loading = true
            websiteLinkSave(this.formData).then(res => {
              this.loading = false
              if (res.code === 200) {
                this.tips('操作成功', 'success')
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '提交失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          } else {
            this.$message({
              type: 'error',
              message: '提交失败'
            });
          }
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
