<template>
  <div>
    <div class="container mgt30 blog_default">
      <div class="fl w300 clearfix radius_box">
        <div class="radius_box b_fff">
          <div class="pad20 clearfix border_b">
            <div class="fl default_photo small_photo">
              <img v-if="bolggerInfo.bloggerUserImg" :src="bolggerInfo.bloggerUserImg" alt="">
              <img v-else src="/assets/images/blog/friend.jpg" alt="">
            </div>
            <p class="fl mgl20 mgt10 w120 text_hidden font_14">
              {{ bolggerInfo.bloggerNickname }}
            </p>
            <y-active-btn
              v-if="showActiveBtn"
              :blogger="true"
              :blogger-info="bolggerInfo"
              @changeActive="changeActive"
            />
          </div>
          <div class="pad20">
            <table width="260px">
              <tbody>
                <tr>
                  <td>博客</td>
                  <td>粉丝</td>
                  <td>关注</td>
                  <td>问答</td>
                  <td>回答</td>
                </tr>
                <tr class="font_b">
                  <td>
                    {{ setNumber(bolggerInfo.weblogAccount) }}
                  </td>
                  <td>
                    {{ setNumber(bolggerInfo.fansAccount) }}
                  </td>
                  <td>
                    {{ setNumber(bolggerInfo.attentionAcount) }}
                  </td>
                  <td>
                    {{ setNumber(bolggerInfo.questionsAccount) }}
                  </td>
                  <td>
                    {{ setNumber(bolggerInfo.answerAccount) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mgt10">
          <y-new-article :new-obj="newObj" />
        </div>
        <div class="mgt10">
          <y-hot-article :hot-obj="hotObj" />
        </div>
      </div>
      <div class="fr w880 radius_box b_fff">
        <div class="padlr_20 border_b clearfix blogger_nav">
          <span class="nav_item font_14 fl">博客列表</span>
          <!-- <y-search :small="true" :blogger-user-no="bolggerInfo.bloggerUserNo" /> -->
        </div>
        <y-blog-list :page-obj="pageObj" @loadList="loadList" />
      </div>
    </div>
    <y-right-tap />
  </div>
</template>
<script>
import YRightTap from '~/components/common/RightTap'
import YBlogList from '~/components/blog/BlogList'
import YNewArticle from '~/components/blog/NewArticle'
import YHotArticle from '~/components/blog/HotArticle'
// import YSearch from '~/components/blog/Search'
import YActiveBtn from '~/components/blog/ActiveBtn'
import listMixins from '~/utils/blog/listMixins.js'
export default {

  components: {
    YBlogList,
    YHotArticle,
    YNewArticle,
    // YSearch,
    YActiveBtn,
    YRightTap
  },
  mixins: [listMixins],
  head() {
    return {
      title: this.bolggerInfo.bloggerNickname + '-个人主页'
    }
  },
  data() {
    return {
      showActiveBtn: true
    }
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo
    try {
      const params = {
        bloggerUserNo: context.params.id,
        pageCurrent: 1,
        pageSize: 20
      }
      const pageObj = await context.store.dispatch('blog/GET_BLOGLIST', params)
      const bloggerParams = {
        bloggerUserNo: context.params.id
      }
      let bolggerInfo = {}
      if (tk) {
        const bolggerData = await context.store.dispatch('blog/GET_USERBOLGGERINFO', bloggerParams)
        if (bolggerData.code === 200) {
          bolggerInfo = bolggerData.data
        } else {
          bolggerInfo = await context.store.dispatch('blog/GET_BOLGGERINFO', bloggerParams)
        }
      } else {
        bolggerInfo = await context.store.dispatch('blog/GET_BOLGGERINFO', bloggerParams)
      }
      bolggerInfo.bloggerUserNo = context.params.id
      const hotParams = {
        pageCurrent: 1,
        pageSize: 10,
        sections: 2
      }
      const hotObj = await context.store.dispatch('blog/GET_BLOGLIST', hotParams)
      const newParams = {
        pageCurrent: 1,
        pageSize: 10,
        sections: 1
      }
      const newObj = await context.store.dispatch('blog/ ', newParams)
      return {
        params,
        pageObj,
        bolggerInfo,
        hotObj,
        newObj
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    console.log(this.bolggerInfo)
    if (this.$store.state.userInfo && this.bolggerInfo.bloggerUserNo === this.$store.state.userInfo.userNo) {
      this.showActiveBtn = false
    }
  },
  methods: {
    // 数字处理
    setNumber(num) {
      if (num >= 10000000) {
        return '1000万+'
      }
      if (num >= 1000000) {
        return '100万+'
      }
      if (num >= 100000) {
        return '10万+'
      }
      if (num >= 10000) {
        return '1万+'
      }
      return num
    },
    // 改变是否关注
    changeActive(isAttention) {
      this.bolggerInfo.isAttention = !isAttention
    }
  }
}
</script>
<style lang="scss" scoped>

  .w120 {
    width: 120px;
  }
  .nav_item {
    display: inline-block;
    color: #D51423;
    border-bottom: 2px solid #D51423;
    line-height: 56px;
  }
</style>
