<template>
  <!--弹窗-->
  <el-dialog
    width="80%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <div class="pad20">
      <div>
        <el-form :inline="true" size="mini">
          <el-form-item label="课程名称">
            <el-input v-model="map.courseName" />
          </el-form-item>
          <el-form-item>
            <el-button icon="el-icon-search" type="primary" @click="handleCheck">查询</el-button>
            <el-button icon="el-icon-refresh" class="filter-item" @click="handleReset">重置</el-button>
          </el-form-item>
          <el-button plain type="success" size="mini" @click="handleChoiceBatch">批量选择</el-button>
        </el-form>
      </div>
      <div>
        <el-table
          v-loading="ctrl.load"
          size="mini"
          :data="list"
          border
          stripe
          @selection-change="handleSelectionChange"
        >
          <el-table-column align="center" type="selection" width="50" />
          <el-table-column align="center" type="index" label="序号" width="50" />
          <el-table-column prop="courseName" label="课程名称" />
          <el-table-column label="课程类型">
            <template slot-scope="scope">
              {{ courseCategoryEnums[scope.row.courseCategory] }}
            </template>
          </el-table-column>
          <el-table-column label="课程分类" width="180">
            <template slot-scope="scope">
              {{ scope.row.categoryName1 }}/{{ scope.row.categoryName2 }}/{{ scope.row.categoryName3 }}
            </template>
          </el-table-column>
          <el-table-column label="是否收费" width="90">
            <template slot-scope="scope">
              <span :class="textClass(scope.row.isFree)">{{ textIsFree[scope.row.isFree] }}</span>
            </template>
          </el-table-column>
          <el-table-column label="原价" width="100">
            <template slot-scope="scope">
              {{ scope.row.courseOriginal.toFixed(2) }}
            </template>
          </el-table-column>
          <el-table-column label="是否收费" width="90">
            <template slot-scope="scope">
              <span :class="textClass(scope.row.isPutaway)">{{ textIsPutaway[scope.row.isPutaway] }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="sort" label="排序" width="70" />
          <el-table-column
            fixed="right"
            label="操作"
            width="100"
          >
            <template slot-scope="scope">
              <el-button type="primary" plain size="mini" @click="handleChoice(scope.row)">选择</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div>
        <el-pagination
          background
          style="float: right;margin-top: 20px; margin-bottom: 22px"
          :page-size="page.pageSize"
          layout="total,  prev, pager, next, jumper"
          :total="page.totalCount"
          @current-change="handleCurrentChange"
        />
      </div>
      <br>
      <br>
    </div>
  </el-dialog>
</template>
<script>
  import {courseRecommendSaveBatch, courseRecommendCoursePage, courseRecommendSave} from '@/api/course'

  export default {
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        map: {},
        list: [],
        ctrl: {
          load: false
        },
        textIsFree: {
          1: '免费',
          0: '收费'
        },
        textIsPutaway: {
          1: '上架',
          2: '下架'
        },
        categoryId: 0,
        categoryType: 1,
        courseCategoryEnums: {},
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        formData: {},
        checkIds: ''
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.categoryId = this.info.categoryId;
          this.categoryType = this.info.categoryType;
          this.$store.dispatch('GetOpts', { enumName: 'CourseCategoryEnum', type: 'obj' }).then(res => {
            this.courseCategoryEnums = res;
          });
          setTimeout(() => {
            this.pageList()
          }, 500)
        }
      }
    },
    methods: {
      handleCurrentChange(val) {
        this.page.pageCurrent = val
        this.pageList()
        // console.log(`当前页: ${val}`)
      },
      handleSelectionChange(checkList) {
        let resultIds = '';
        for (const index in checkList) {
          resultIds += checkList[index].id;
          if ((parseInt(index) + 1) < checkList.length) {
            resultIds += ',';
          }
        }
        this.checkIds = resultIds;
      },
      handleChoiceBatch() {
        if (this.checkIds === undefined || this.checkIds === '') {
          this.$message.error('请选中需要被推荐的课程')
          return false;
        }
        {
          const body = '确定要批量推荐这批课程吗？';
          this.$confirm(body, '批量推荐', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            courseRecommendSaveBatch(this.categoryId, this.checkIds).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            })
          })
        }
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.pageList()
      },
      // 重置查询条件
      handleReset() {
        this.reload()
      },
      // 分页列出课程信息
      pageList() {
        this.ctrl.load = true
        this.map.courseCategory = this.categoryType
        this.map.categoryId = this.categoryId
        courseRecommendCoursePage(this.map, this.map.categoryId, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
          this.ctrl.load = false
        }).catch(() => {
          this.ctrl.load = false
        })
      },
      // 刷新当前页面
      reload() {
        this.map = {}
        this.map.zoneId = this.zoneId
        this.pageList()
      },
      handleChoice(row) {
        {
          const body = '确定选择【' + row.courseName + '】？'
          this.$confirm(body, '选择确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            courseRecommendSave(this.categoryId, row.id).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          })
        }
      },
      handleClose() {
        this.$emit('close-callback')
      },
      textClass(isFree) {
        return {
          c_red: isFree === 0,
          c_blue: isFree === 1
        }
      }
    }
  }
</script>
<style scoped>
</style>
