<template>
  <!--弹窗-->
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="100px">
      <el-form-item label="专区名称" prop="zoneName">
        <el-input v-model="formData.zoneName" class="form-group" />
      </el-form-item>
      <!--  段需要设置展示方式     -->
      <el-row>
        <el-col :span="24">
          <el-form-item label="展示方式" prop="advTarget">
            <el-tooltip class="item"  effect="light" content="决定内容在页面的展示方式" placement="top-start">
              <svg-icon class="svg-icon" icon-class="svg-icon-info" />
            </el-tooltip>
            <template>
              <el-radio v-model="formData.showType" :label="1">横向</el-radio>
              <el-radio v-if="formData.zoneLocation === 2" v-model="formData.showType" :label="2">纵向</el-radio>
              <el-radio v-if="formData.zoneLocation === 2" v-model="formData.showType" :label="3">轮播</el-radio>
              <el-radio v-if="formData.zoneLocation === 1" v-model="formData.showType" :label="4">推荐</el-radio>
            </template>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24" v-if="formData.showType === 4">
          <el-form-item v-if="formData.zoneLocation === 2" abel="产品名称">
            <el-input v-model="formData.productName" disabled class="form-group">
              <el-button v-if="formData.zoneCategory === 1 || formData.zoneCategory === 2 || formData.zoneCategory === 4" slot="append" icon="el-icon-search" @click="findCourse" />
              <el-button v-if="formData.zoneCategory === 7 || formData.zoneCategory === 8" slot="append" icon="el-icon-search" @click="findBlog" />
            </el-input>
          </el-form-item>
          <el-form-item v-if="formData.zoneLocation === 1"  label="外部链接">
            <el-input v-model="formData.url" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col v-if="formData.showType === 4" :span="24" >
          <el-form-item v-if="formData.zoneCategory === 1" label="推荐图片">
            <upload-image  :width="200" :height="120" :image-url="formData.img" @success="val => {formData.img = val.url}" />
            <span>推荐图片分辨率：285px*602px</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="描述" prop="zoneDesc">
        <el-input
          v-model="formData.zoneDesc"
          type="textarea"
          :rows="3"
          placeholder="请输入内容"
          class="form-group"
        />
      </el-form-item>
      <el-form-item label="排序:" prop="sort">
        <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm()">保存</el-button>
    </div>
    <find-course :title="courseCtr.title" :visible="courseCtr.visible" @close-callback="courseCloseCallback" />
    <find-blog :title="blogCtr.title" :visible="blogCtr.visible" @close-callback="blogCloseCallback" />
  </el-dialog>
</template>
<script>
  import { zoneEdit } from '@/api/system'
  import UploadImage from '@/components/Upload/UploadImage'
  import FindCourse from '@/views/system/zone/find/findCourse';
  import FindBlog from '@/views/system/zone/find/findBlog';

  export default {
    components: { FindCourse, FindBlog, UploadImage},
    name: 'Edit',
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        courseCtr: {
          title: '课程信息--查找带回',
          visible: false
        },
        blogCtr: {
          title: '文章信息--查找带回',
          visible: false
        },
        rules: {
          zoneName: [
            { required: true, message: '请输入名称', trigger: 'blur', autocomplete: 'on' }
          ],
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields();
        this.$emit('close-callback')
      },
      findCourse() {
        this.courseCtr.visible = true;
      },
      findBlog() {
        this.blogCtr.visible = true;
      },
      courseCloseCallback(row) {
        this.courseCtr.visible = false;
        if (row) {
          this.formData.productName = row.courseName;
          this.formData.productId = row.id;
        }
      },
      blogCloseCallback(row) {
        this.blogCtr.visible = false;
        if (row) {
          this.formData.productName = row.title;
          this.formData.productId = row.id;
        }
      },
      submitForm() {
        if (this.formData === undefined) {
          this.$message({
            showClose: true,
            message: '提交失败',
            type: 'error'
          });
        } else {
          if (!this.formData.zoneName) {
            this.$message({
              type: 'error',
              message: '请输入名称'
            });
            return false
          }
          if (!this.formData.sort) {
            this.$message({
              type: 'error',
              message: '请输入排序'
            });
            return false
          }
          this.loading = true;
          // 编辑
          this.loading = true;
          zoneEdit(this.formData).then(res => {
            this.loading = false;
            this.load = false;
            if (res.code === 200) {
              // 提交成功, 关闭窗口, 刷新列表
              this.handleClose('close-callback')
            } else {
              this.$message({
                showClose: true,
                message: '提交失败',
                type: 'error'
              });
            }
          }).catch(() => {
            this.loading = false
          })
        }
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
