<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="模板类型">
        <el-select v-model="map.templateType" class="auto-width" clearable filterable placeholder="模板类型">
          <el-option
            v-for="(value, key) in templateTypeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="使用模板">
        <el-select v-model="map.isUseTemplate" class="auto-width" clearable filterable placeholder="使用模板">
          <el-option
            v-for="(value, key) in isUseTemplateEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('templateSave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="模板图片">
        <template slot-scope="scope">
          <img :src="scope.row.templateUrl" width="100">
        </template>
      </el-table-column>
      <el-table-column label="模板类型">
        <template slot-scope="scope">
          {{ templateTypeEnums[scope.row.templateType] }}
        </template>
      </el-table-column>
      <el-table-column label="使用模板">
        <template slot-scope="scope">
          {{ isUseTemplateEnums[scope.row.isUseTemplate] }}
        </template>
      </el-table-column>
      <el-table-column label="小程序二维码位置">
        <template slot-scope="scope">
          【x位置：{{ scope.row.picx }}】
          <br>
          【 y位置：{{ scope.row.picy }}】
        </template>
      </el-table-column>
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button  v-if="checkPermission('sharingTemplateEdit')"  plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button  v-if="checkPermission('templateDelete')"  plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
          <el-button v-if="scope.row.statusId === 0 && checkPermission('templateUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('templateUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <edit :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <add :visible="ctrl.addDialogVisible" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>
<script>
  import {sharingTemplatePage, sharingTemplateDelete, sharingTemplateUpdateStatus} from '@/api/system'
  import Add from '@/views/system/sharingTemplate/add';
  import Edit from '@/views/system/sharingTemplate/edit';
  export default {
    components: {Add, Edit},
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        formData: {},
        map: {},
        ctrl: {
          dialogTitle: '',
          editDialogVisible: false,
          addDialogVisible: false
        },
        templateTypeEnums: {},
        isUseTemplateEnums: {},
        statusIdEnums: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'TemplateTypeEnum', type: 'obj'}).then(res => {
        this.templateTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'IsUseTemplateEnum', type: 'obj'}).then(res => {
        this.isUseTemplateEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      // 编辑
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.dialogTitle = '编辑';
        this.ctrl.editDialogVisible = true;
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sharingTemplateDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.loginName + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.loginName + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sharingTemplateUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 新增
      handleAddRow() {
        this.ctrl.dialogTitle = '新增分享模板';
        this.ctrl.addDialogVisible = true;
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.editDialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.handleReset();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.formData = {}
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        sharingTemplatePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
