<template>
<view class="resource_detail">
  <view class="b_fff chapter_header">
    <view :class="!isFree && showPrice ? 'font30 c_333 chapter_title w550' : 'font30 c_333 chapter_title'">
      <text>{{courseInfo.courseName}} </text>
      <like-btn class="like-btn" :collectionId="courseInfo.id" :isCollection="courseInfo.isCollectionCourse" :courseCategory="courseInfo.courseCategory"></like-btn>
    </view>
    <view class="btn_box" v-if="!isPay && showPrice">
    <view v-if="!courseInfo.isPutaway" class="resource_btn disabled">课程已下架</view>
      <view v-else @tap="goOrder" class="resource_btn">购买</view>
    </view>
  </view>
  <view class="chapter_items" v-if="!noData">
      <view v-if="showPrice" class="price_panel">
        <text class="c_red">{{!courseInfo.isFree ? '￥' + courseInfo.courseOriginal : '免费'}} </text>
        <text class="c_gold">SVIP会员:{{courseInfo.courseDiscount ? '￥' + courseInfo.courseDiscount : '免费'}}</text>
      </view>
    <library-item v-for="(item, index) in chapterList[0].periodList" :key="index" :chapterInfo="item" :courseInfo="courseInfo"></library-item>
  </view>
  <view class="chapter_items c_999 text_center mgt30" v-else>
    导师正在紧张筹备中...
  </view>
  <float-tab shareImg="true" :coursetype="resourceInfo.courseCategory"></float-tab>
</view>
</template>

<script>
// pages/course/view/view.js
import * as apis from "../../../api/course";
import * as auth from "../../../api/user";
import * as activity from "../../../api/activity";
import { login } from "../../../utils/auth";
const app = getApp();
import likeBtn from "../../../components/likebtn/likebtn";
import libraryItem from "../../../components/libraryItem/libraryItem";
import floatTab from "../../../components/floatTab/floatTab";

export default {
  data() {
    return {
      tab: 2,
      courseInfo: {},//课程基本信息
      showPrice: false,
      actData: {},
      hideVideo: false,
      isPay: true,
      chapterList: [],//章节列表
      loaddingEnd: false, //章节加载完毕
      courseId: "",
      userInfo: "",
      pageCurrent: 0,
      totalPage: 0
    };
  },

  components: {
    likeBtn,
    libraryItem,
    floatTab
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.setData({
      showPrice: uni.getStorageSync('showPrice')
    });
    console.log(options);
    let courseId = '';

    if (options.scene) {
      courseId = decodeURIComponent(options.scene);
      console.log("courseId=" + courseId);
    } else {
      courseId = options.id;
    }

    this.setData({
      courseId: courseId
    });

    if (uni.getStorageSync('userInfo')) {
      this.setData({
        userInfo: uni.getStorageSync('userInfo')
      });
      this.getUserCourse(courseId);
      this.getUserChapterList(1);
    } else {
      this.getCourse(courseId);
      this.getChapterList(1);
    }

    this.getActivityInfo();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {
    this.setData({
      // chapterList: [],
      pageCurrent: 1,
      totalPage: 1
    });
  },

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    // 下单
    goOrder() {
      if (!this.courseInfo.isPutaway) {
        uni.showToast({
          title: '该课程已下架',
          icon: 'none'
        });
        return false;
      }

      if (!uni.getStorageSync('userInfo')) {
        login(() => {
          this.goOrder();
        });
      } else {
        uni.navigateTo({
          url: '../../order/order?no=' + this.courseId + '&t=1'
        });
      }
    },

    // 获取课程详情
    getCourse(id) {
      uni.showLoading({
        title: '加载中...'
      });
      apis.courseInfo({
        courseId: id
      }).then(res => {
        console.log(res);
        this.setData({
          courseInfo: res,
          hideVideo: true,
          isPay: res.isFree
        });
      });
    },

    // 登录后详情
    getUserCourse(id) {
      uni.showLoading({
        title: '加载中...'
      });
      auth.courseInfo({
        courseId: id
      }).then(res => {
        console.log(res);
        this.setData({
          courseInfo: res,
          hideVideo: true,
          isPay: res.isPay
        });
      });
    },

    // 登录后分页获取章节列表
    getUserChapterList(page) {
      auth.chapterList({
        courseId: this.courseId,
        pageCurrent: page
      }).then(res => {
        console.log(res);
        this.setData({
          chapterList: this.chapterList.concat(res.list)
        });

        if (res.pageCurrent === res.totalPage) {
          this.setData({
            loaddingEnd: false
          });
        } else {
          this.getUserChapterList(page + 1);
        }
      });
    },

    // 分页获取章节列表
    getChapterList(page) {
      console.log(this.courseInfo.courseNo);
      apis.chapterList({
        courseId: this.courseId,
        pageCurrent: page
      }).then(res => {
        console.log(res);
        this.setData({
          chapterList: this.chapterList.concat(res.list)
        });

        if (res.pageCurrent === res.totalCount) {
          this.setData({
            loaddingEnd: false
          });
        } else {
          this.getChapterList(page + 1);
        }
      });
    },

    buyCourse() {
      if (!uni.getStorageSync('userInfo')) {
        login();
      }

      if (!this.courseInfo.isPutaway) {
        uni.showToast({
          title: '该课程已下架',
          icon: 'none'
        });
        return false;
      }

      uni.navigateTo({
        url: '../order/order?no=' + this.courseId + '&t=1'
      });
    },

    // 获取活动信息
    getActivityInfo() {
      activity.getActivityInfo({
        courseId: this.courseId
      }).then(res => {
        console.log(res);
        this.setData({
          actData: res
        });
      });
    }

  }
};
</script>
<style scoped>
.resource_detail {
  padding-bottom: 104rpx;
}
.chapter_header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 120rpx;
  display: flex;
  z-index: 2;
}
.class_box {
  display: flex;
  flex-direction: column;
  padding: 0rpx 30rpx;
}
.class_icon {
  width: 36rpx;
  height: 36rpx;
}
.chapter_title {
  width: 100%;
  height: 100rpx;
  padding: 20rpx 20rpx;
}
.w550 {
  width: 550rpx;
}
.btn_box {
  height: 50rpx;
  margin-top: 35rpx;
  padding-left: 20rpx;
  border-left: 1px solid rgb(230, 230, 230);
}
.resource_btn {
  height: 50rpx;
  width: 112rpx;
  line-height: 50rpx;
  color: #fff;
  font-size: 25rpx;
  background: #EC7E00;
  border-radius: 6px;
  text-align: center;
}
.resource_btn.disabled{
  background: #ddd;
  color: #888;
}
.chapter_items {
  padding-top: 120rpx;
}
.width40 {
  width: 40rpx;
}
.buy_btn {
  height: 80rpx;
  line-height: 80rpx;
}
.like-btn{
  vertical-align: sub;
}
.price_panel{
  padding: 20rpx 40rpx 0;
}
</style>
