<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="50%">
    <el-form ref="form" :model="form" :rules="rules" label-width="90px">
      <el-row>
        <el-col :span="10">
          <el-form-item label="参数名称" prop="configName">
            <el-input v-model="form.configName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="参数 KEY" prop="configKey">
            <el-input v-model="form.configKey" class="form-group" />
            <el-tooltip class="item" effect="light" content="注意: 添加后，不能修改" placement="top-start">
              <svg-icon icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="配置分类" prop="configType">
            <template>
              <el-select v-model="form.infoCategory" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </template>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="form.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="配置类型" prop="configType">
            <el-radio-group v-model="form.configType">
              <el-radio :label="1">文本</el-radio>
              <el-radio :label="2">富文本</el-radio>
              <el-radio :label="3">图片</el-radio>
              <el-radio :label="4">开关</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="备注">
            <el-input
              v-model="form.remark"
              type="textarea"
              :rows="2"
              class="form-group"
              placeholder="请输入内容"/>
          </el-form-item>
        </el-col>
        <el-col>
          <el-form-item>
            <!--      文本类型       -->
            <el-input
              v-if="form.configType === 1"
              v-model="form.configValue"
              type="textarea"
              :rows="2"
              class="form-group"
              placeholder="请输入内容"/>
            <!--      富文本类型       -->
            <wangeditor v-if="form.configType === 2" v-model="form.configValue" />
            <!--      图片类型       -->
            <upload-image class="avatar" v-if="form.configType === 3" :image-url="form.configValue" @success="val => {form.configValue = val.url}" />
            <el-radio-group v-if="form.configType === 4" v-model="form.configValue">
              <el-radio :label="1">开启</el-radio>
              <el-radio :label="0">关闭</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <br>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { sysConfigSave } from '@/api/system'
import Wangeditor from '@/components/wangeditor/wangeditor';
import UploadImage from '@/components/Upload/UploadImage';
export default {
  name: 'AddSysConfig',
  components: {Wangeditor, UploadImage},
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      options: [
        {
          value: 1,
          label: '站点设置'
        },
        {
          value: 2,
          label: '系统设置'
        },
        {
          value: 3,
          label: '微信设置'
        },
        {
          value: 4,
          label: '阿里云设置'
        },
        {
          value: 5,
          label: '保利威设置'
        },
        {
          value: 6,
          label: '欢拓云设置'
        }
      ],
      form: {
        sort: 1,
        allowDelete: 1,
        infoCategory: 1,
        configType: 1
      },
      sysConfigTypeEnum: {},
      fileStorageTypeEnum: {},
      vodPlatformEnum: {},
      livePlatformEnum: {},
      videoTypeEnum: {},
      opts: {},
      rules: {
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        configName: [
          {required: true, message: '请输入参数名称', trigger: 'blur'}
        ],
        configKey: [
          {required: true, message: '请输入参数键名', trigger: 'blur'}
        ],
        allowDelete: [
          {required: true, message: '请选择是否允许删除', trigger: 'blur'}
        ],
        configType: [
          {required: true, message: '请选择配置类型', trigger: 'blur'}
        ]
      },
      allowDeleteEnum: [],
      isEdit: false
    }
  },
  mounted() {
    this.isEdit = true;
    // 枚举类型
    if (this.form.configType === 5) {
      this.$store.dispatch('GetOpts', {enumName: 'FileStorageTypeEnum', type: 'arr'}).then(res => {
        this.fileStorageTypeEnum = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'VideoTypeEnum', type: 'arr'}).then(res => {
        this.videoTypeEnum = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'VodPlatformEnum', type: 'arr' }).then(res => {
        this.vodPlatformEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'LivePlatformEnum', type: 'arr' }).then(res => {
        this.livePlatformEnum = res;
      })
    }
    this.$store.dispatch('GetOpts', {enumName: 'SysConfigTypeEnum', type: 'arr'}).then(res => {
      this.sysConfigTypeEnum = res;
    });
  },
  methods: {
    handleClose() {
      this.$emit('close-callback')
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      sysConfigSave(this.form).then(res => {
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
