<template>
  <!--弹窗-->
  <el-dialog
    width="65%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="120px">
      <el-row>
        <el-col :span="20">
          <el-form-item label="图片" prop="advImg">
            <upload-image :width="780" :image-url="formData.img" @success="val => {formData.img = val.url}" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form-item label="标题" prop="title">
            <el-input v-model="formData.title" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="10">
          <el-form-item label="链接" prop="url">
            <el-input v-model="formData.url" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">提交</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { zoneRefEdit } from '@/api/system'
  import UploadImage from '@/components/Upload/UploadImage'

  export default {
    name: 'Add',
    components: {
      UploadImage
    },
    props: {
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }

    },
    data() {
      return {
        opts: {},
        img: '',
        rules: {
          title: [
            { required: true, message: '请输入标题', trigger: 'blur' }
          ],
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
    },
    methods: {
      handleClose() {
        this.advImg = '';
        this.$refs['formData'].resetFields();
        this.$emit('close-callback')
      },
      uploadSuccess(res) {
        this.img = res.url;
        this.formData.img = res.url
      },
      submitForm() {
        if (this.formData === undefined) {
          this.$message({
            showClose: true,
            message: '提交失败',
            type: 'error'
          });
        } else {
          if (!this.formData.title) {
            this.$message({
              type: 'error',
              message: '请输入标题'
            });
            return false
          }
          if (!this.formData.sort) {
            this.$message({
              type: 'error',
              message: '请输入排序'
            });
            return false
          }
          this.loading = true;
          // 新增
          zoneRefEdit(this.formData).then(res => {
            this.loading = false;
            this.tips(res.data, 'success');
            this.handleClose('close-callback')
          }).catch(() => {
            this.loading = false
          })
        }
      }
    }
  }
</script>
<style>
  .form-group {
    width: 100%;
    max-width: 300px;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }

  .avatar {
    width: 150px;
    height: 150px;
    display: block;
  }
</style>
