<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="试卷名称">
        <el-input v-model="map.examName" />
      </el-form-item>
      <el-form-item class="filter-item" label="上下架">
        <el-select v-model="map.isPutaway" class="auto-width" clearable filterable placeholder="请选择">
          <el-option
            v-for="(value, key) in isPutawayEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="是否收费">
        <el-select v-model="map.isFree" class="auto-width" clearable filterable placeholder="请选择">
          <el-option
            v-for="(value, key) in isFreeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="审核状态">
        <el-select v-model="map.auditStatus" class="auto-width" clearable filterable placeholder="请选择">
          <el-option
            v-for="item in auditStatusEnums"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="试卷名称 / 讲师名称">
        <template slot-scope="scope">
          {{ scope.row.examName }}
          <br>
          【{{ scope.row.lecturerName }}】
        </template>
      </el-table-column>
      <el-table-column label="科目">
        <template slot-scope="scope">
          {{ scope.row.subjectName }}
        </template>
      </el-table-column>
      <el-table-column label="年份">
        <template slot-scope="scope">
          {{ scope.row.year }}
        </template>
      </el-table-column>
      <el-table-column label="来源">
        <template slot-scope="scope">
          {{ scope.row.sourceView }}
        </template>
      </el-table-column>
      <el-table-column label="价格" width="140">
        <template slot-scope="scope">
          <span v-if="scope.row.isFree === 0">普通价：{{ scope.row.orgPrice | formatAmount }}<br>会员价：{{ scope.row.fabPrice | formatAmount }}</span>
          <span v-else>免费</span>
        </template>
      </el-table-column>
      <el-table-column label="提交审核">
        <template slot-scope="scope">
          {{ submitAuditEnums[scope.row.auditStatus].desc }}
        </template>
      </el-table-column>
      <el-table-column label="审核状态">
        <template slot-scope="scope">
          {{ auditStatusEnums[scope.row.auditStatus].desc }}
        </template>
      </el-table-column>
      <el-table-column label="上下架">
        <template slot-scope="scope">
          {{ isPutawayEnums[scope.row.isPutaway] }}
        </template>
      </el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" />
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('examAuditEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('examAuditUpdateStatus') && scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('examAuditUpdateStatus') && scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button v-if="checkPermission('examAuditIsPutawayUpdate') && scope.row.isPutaway === 1" plain type="danger" size="mini" @click="handleUpdateIsPutaway(scope.row)">下架</el-button>
          <el-button v-if="checkPermission('examAuditIsPutawayUpdate') && scope.row.isPutaway === 0" plain type="success" size="mini" @click="handleUpdateIsPutaway(scope.row)">上架</el-button>
          <el-button v-if="checkPermission('examAudit') && scope.row.auditStatus !== 1" plain type="warning" size="mini" @click="handleAudit(scope.row.id)">审核</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <audit v-if="auditCtr.visible" :title="auditCtr.title" :visible="auditCtr.visible" :info="auditCtr.info" @close-callback="closeCallback" />

  </div>
</template>

<script>
  import { examAuditPage, examAuditStatusUpdate, examAuditIsPutawayUpdate, examAuditView } from '@/api/exam'
  import Audit from '../audit'

  export default {
    components: { Audit },
    filters: {
      formatAmount(val) {
        if (val) {
          return '¥ ' + val.toFixed(2)
        }
        return '¥ 0.00'
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        formData: {},
        map: {
          auditStatus: 0
        },
        listLoading: true,
        statusIdEnums: {},
        isPutawayEnums: {},
        isFreeEnums: {},
        auditStatusEnums: {},
        submitAuditEnums: {},
        auditCtr: {
          title: '审核',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsPutawayEnum', type: 'obj' }).then(res => {
        this.isPutawayEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsFreeEnum', type: 'obj' }).then(res => {
        this.isFreeEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'AuditStatusEnum', type: 'arr' }).then(res => {
        this.auditStatusEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsSubmitAuditEnum', type: 'arr' }).then(res => {
        this.submitAuditEnums = res;
      });
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          auditStatus: 0
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleUpdateRow(id) {
        this.$router.push({ path: '/exam/exam/audit/edit', query: { id: id } })
      },
      handleAudit(id) {
        examAuditView(id).then(res => {
          if (res.data.auditStatus === 0 || res.data.auditStatus === 2) {
            this.auditCtr.title = res.data.examName + '--审核'
            this.auditCtr.info = res.data;
            this.auditCtr.visible = true;
          } else {
            this.$message.error('该试卷已审核，不能再审核');
          }
        })
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        examAuditPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.examName + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.examName + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            examAuditStatusUpdate({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUpdateIsPutaway(row) {
        {
          let body = '确定要上架【' + row.examName + '】？';
          let isPutaway = 1;
          if (row.isPutaway === 1) {
            body = '确定要下架【' + row.examName + '】？';
            isPutaway = 0;
          }
          this.$confirm(body, '上下架变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            examAuditIsPutawayUpdate({ id: row.id, isPutaway: isPutaway }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.auditCtr.visible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {
          auditStatus: 0
        };
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
