<template>
  <div class="app-container record-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="试题科目:" prop="subjectId">
            <el-cascader
              :options="kemuList"
              :props="optionProps"
              placeholder="请选择科目"
              popper-class="__category-id"
              v-model="form.subjectId "
            ></el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="试题来源:" prop="sourceId">
            <el-select
              placeholder="请选择试题来源"
              style="width: 200px"
              popper-class="__source-id"
              v-model="form.sourceId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in laiyuanList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="试题年份:" prop="yearId">
            <el-select
              placeholder="请选择年份"
              popper-class="__category-id"
              style="width: 200px"
              v-model="form.yearId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in nianfenList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label prop="region">
            <el-input
              class="form-group"
              placeholder="请输入地区"
              style="width: 200px;"
              v-model="form.region"
            ></el-input>
            <span>* 选填，试题年份和试题地区，地区需您输入，不得超过8个汉字。</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="试卷名称">
            <el-input v-model="form.examName" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="答卷时长" prop="answerTime">
            <el-input v-model="form.answerTime" type="number" class="form-group" />&nbsp;&nbsp;分钟
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="试卷总分" prop="totalScore">
            <el-input v-model="form.totalScore" type="number" class="form-group"/>&nbsp;&nbsp;分
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="试卷题数" prop="problemQuantity">
            <el-input v-model="form.problemQuantity" type="number" class="form-group" :disabled="true" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-alert class="title" :closable="false" title="试卷信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="购买人数" prop="countBuy">
            <el-input-number v-model="form.countBuy" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="学习人数" prop="studyCount">
            <el-input-number v-model="form.studyCount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="收藏人数" prop="collectionCount">
            <el-input-number v-model="form.collectionCount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="下载人数" prop="downloadCount">
            <el-input-number v-model="form.downloadCount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-divider/>
      <el-row>
        <el-col :span="12">
          <el-form-item label="收费设置" prop="isFree">
            <el-radio-group v-model="form.isFree">
              <el-radio v-for="item in isFreeEnumList" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="展示排序" prop="examSort">
            <el-input-number v-model="form.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="form.isFree === 0">
        <el-col :span="12">
          <el-form-item label="原价(元)" prop="orgPrice">
            <el-input-number v-model="form.orgPrice" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="会员价(元)" prop="fabPrice">
            <el-input-number v-model="form.fabPrice" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="关键字">
            <el-input v-model="form.keyword" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="试卷描述" prop="description">
          <Wangeditor v-model="form.description" />
        </el-form-item>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {examView, examEdit, categoryListEdit} from '@/api/exam'
import Wangeditor from '@/components/wangeditor/wangeditor.vue';

export default {
  name: 'EditExam',
  components: {Wangeditor},

  data() {
    return {
      form: {},
      rules: {
        statusId: [
          {required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        examName: [
          {required: true, message: '请输入名称', trigger: 'blur'}
        ],
        isFree: [
          {required: true, message: '请输入是否免费：1免费，0收费', trigger: 'blur'}
        ]
      },
      optionProps: {
        value: 'id',
        label: 'categoryName',
        children: 'childrenList',
        checkStrictly: true
      },
      kemuList: [],
      laiyuanList: [],
      nianfenList: [],
      isFreeEnumList: {},
      videoFlag: false,
      videoUploadPercent: 0
    }
  },
  mounted() {
    const view = this.$route
    this.getViewInfo(view.query.id)
    this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'arr'}).then(res => {
      this.isFreeEnumList = res;
    });
    this.getproblemLM();
    this.getproblemNF();
    this.getproblemLY();
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/exam/exam/list');
      })
    },
    // 获取试题类目
    getproblemLM() {
      categoryListEdit({ examCategoryType: 1, categoryType: 2 }).then((res) => {
        this.kemuList = res.data.examCategoryList;
      });
    },
    // 获取试题年份
    getproblemNF() {
      categoryListEdit({ examCategoryType: 2, categoryType: 2 }).then((res) => {
        this.nianfenList = res.data.examCategoryList;
      });
    },
    // 获取试题来源
    getproblemLY() {
      categoryListEdit({ examCategoryType: 3, categoryType: 2 }).then((res) => {
        this.laiyuanList = res.data.examCategoryList;
      });
    },
    getViewInfo(id) {
      this.loading = true
      examView(id).then(res => {
        this.loading = false
        this.form = res.data
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      examEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style lang="scss">
  .record-container {

    .title {
      margin-bottom: 20px;
    }

    .form-group {
      width: 100%;
      max-width: 300px;
    }

    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 178px;
      height: 178px;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      line-height: 178px;
      text-align: center;
    }

    .avatar {
      width: 178px;
      height: 178px;
      display: block;
    }

    .show-img {
      max-width: 200px;
      border-radius: 6px;
    }

  }
</style>
