<template>
  <div class="app-container record-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="收费设置" prop="statusId">
            <el-radio-group v-model="form.isFree">
              <el-radio v-for="item in isFreeEnumList" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="排序" prop="courseOriginal">
            <el-input-number v-model="form.courseSort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="form.isFree === 0">
        <el-col :span="12">
          <el-form-item label="原价" prop="courseOriginal">
            <el-input-number v-model="form.courseOriginal" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="会员价" prop="courseOriginal">
            <el-input-number v-model="form.courseDiscount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="购买人数">
            <el-input-number v-model="form.countBuy" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="学习人数">
            <el-input-number v-model="form.countStudy" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="课程名称" prop="courseName">
            <el-input v-model="form.courseName" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="SEO关键词">
            <el-input type="textarea" autosize v-model="form.keywords" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="SEO描述">
            <el-input type="textarea" autosize v-model="form.description" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="课程简介" prop="introduce">
          <wangeditor v-model="form.introduce" />
        </el-form-item>
      </el-row>
      <br>
      <el-row>
        <el-col>
          <el-form-item label="课程封面">
            <upload-image :image-url="form.courseLogo" @success="val => {form.courseLogo = val.url}" />
            <span>课程封面分辨率：900*500</span>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">更新数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {courseView, courseEdit} from '@/api/course'
import UploadImage from '@/components/Upload/UploadImage';
import Wangeditor from '@/components/wangeditor/wangeditor';

export default {
  name: 'EditCourseLive',
  components: {Wangeditor, UploadImage},
  data() {
    return {
      form: {},
      rules: {
        statusId: [
          {required: true, message: '请输入状态(1:正常，0:禁用)', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        courseName: [
          {required: true, message: '请输入课程名称', trigger: 'blur'}
        ],
        courseLogo: [
          {required: true, message: '请输入课程封面', trigger: 'blur'}
        ],
        isFree: [
          {required: true, message: '请输入是否免费：1免费，0收费', trigger: 'blur'}
        ],
        courseOriginal: [
          {required: true, message: '请输入原价', trigger: 'blur'}
        ],
        courseDiscount: [
          {required: true, message: '请输入会员价', trigger: 'blur'}
        ],
        isPutaway: [
          {required: true, message: '请输入是否上架(1:上架，0:下架)', trigger: 'blur'}
        ]
      },
      isFreeEnumList: {},
      videoFlag: false,
      videoUploadPercent: 0,
      editorCtr: false
    }
  },
  mounted() {
    const view = this.$route
    this.getViewInfo(view.query.id)
    this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'arr'}).then(res => {
      this.isFreeEnumList = res;
    });
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/course/live/list');
      })
    },
    getViewInfo(id) {
      this.loading = true
      courseView(id).then(res => {
        this.loading = false
        this.form = res.data
        this.editorCtr = true;
      }).catch(() => {
        this.loading = false
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      courseEdit(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style lang="scss">
  .record-container {

    .title {
      margin-bottom: 20px;
    }

    .form-group {
      width: 100%;
      max-width: 300px;
    }

    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      line-height: 178px;
      text-align: center;
    }

    .avatar {
      display: block;
    }

    .show-img {
      max-width: 200px;
      border-radius: 6px;
    }

  }
</style>
