<template>
  <div class="resource-detail">
    <div class="container clearfix">
      <ul class="breads clearfix">
        <li class="fl">
          <nuxt-link :to="{name: 'index'}">首页</nuxt-link>&nbsp;&nbsp;>
        </li>
        <li class="fl">
          &nbsp;&nbsp;
          <nuxt-link :to="{name: 'resource'}">文库中心</nuxt-link>&nbsp;&nbsp;>
        </li>
        <li class="fl breads_title">
          &nbsp;&nbsp;
          {{ courseInfo.courseName }}
        </li>
      </ul>
      <div class="side">
        <y-resource-right
          v-affix
          :detail="true"
          :teacherInfo="teacherInfo"
          :categoryId1="courseInfo.categoryId1"
        />
      </div>
      <div class="fr w920">
        <div class="title_box">
          <p class="rd_title clearfix">
            {{ courseInfo.courseName }}
            <button
              v-if="!courseInfo.isPutaway"
              class="down_btn no_top b_red fr"
              disabled
            >
文库已下架
</button>
            <button
              v-else-if="!courseInfo.isPay"
              @click="goPay"
              class="down_btn no_top b_red fr"
            >
立即购买
</button>
          </p>

          <div class="clearfix lh30">
            <p class="fl font20 font_b">
              <span
                class="c_red item_price"
              >{{ courseInfo.isFree ? '免费' : '￥' + courseInfo.courseOriginal }}</span>
              <span
                v-if="!courseInfo.isFree"
                class="dis_price"
              >SVIP：{{ courseInfo.courseDiscount ? '¥' + courseInfo.courseDiscount : '免费' }}</span>
            </p>

            <span class="fr">
              <div
                class="chosenPercents"
                v-if="courseInfo.chosenPercent"
                @click="openChosenPercent()"
              >分享赚￥{{ courseInfo.chosenPercent }}</div>
              <span class="pdr10 font12">
                <span class="pdr10">学习人数:</span>
                <span>{{ courseInfo.countStudy }}</span>
              </span>
            </span>
          </div>
          <activity-panel :course-info="courseInfo" class="act-panel" />
        </div>
        <div class="info_box mgt10">
          <div class="info_title">
            简介
             <a
                :class="{collect_btn: true, c_red: isCollect}"
                @click="setCollection"
                href="javascript:"
              >
                <span class="iconfont">&#xe670;</span>&nbsp;收藏
              </a>
          </div>
          <!-- eslint-disable -->
          <div class="info_text" v-html="courseInfo.introduce" />
        </div>



        <div class="info_box auto_height mgt10">
          <div class="info_title">
             <ul class="course_tab clearfix">
            <li :class="{on: tab == 'info'}">
              <a @click="tab = 'info'" href="javascript:">文库</a>
            </li>
            <li :class="{on: tab == 'comment'}">
              <a @click="tab = 'comment'" href="javascript:">评论</a>
            </li>
          </ul>
          </div>
           <div class="content_info" v-show="tab == 'comment'" style="padding: 1px 0px;">
            <comment  :course-info="courseInfo"></comment>
          </div>
          <div v-if="tab == 'info'">
            <div v-for="(item, index) in chapterList" :key="index" class="down_item clearfix">
              <div class="img_box fl">
                <img v-if="item.isVideo" src="~/assets/image/vdo.png" alt />
                <img v-else src="~/assets/image/word.png" alt />
              </div>
              <div class="fl ac_name" :title="item.acName">
                {{ item.isVideo ? item.videoName : item.accessoryList[0].acName }} -
                <span
                  v-if="item.isVideo"
                >视频</span>
                <span v-else>文档</span>
              </div>
              <a
                v-if="item.isVideo"
                href="javascript:"
                :class="{down_btn: true, b_red: true, fr: true, b_blue: item.isFree || courseInfo.isPay}"
                @click="lookVideo(item)"
              >观看</a>
              <a
                v-if="(item.isFree || courseInfo.isPay) && !item.isVideo"
                href="javascript:"
                class="down_btn b_blue fr"
                @click="goDown(item)"
              >下载</a>
              <button
                v-else-if="!item.isVideo"
                class="down_btn b_red fr"
                @click="downResource(item)"
              >下载</button>
            </div>
          </div>
          
          <!-- <div v-if="!chapterList.length" class="down_item c_999 text_center">
            暂时没有文库
          </div>-->
        </div>
      </div>
    </div>
    <d-video v-if="showVideo" :data="videoData" @hidefun="showVideo = false" />
    <d-pay v-if="showPay" :is-course="true" :data="payData" @hidefun="showPay = false" />
    <right-tap />
    <el-dialog title :visible.sync="dialogVisible" width="500px">
      <div class="chosenPercent-box">
        <div class="title-box">
          <div class="title">邀请好友学习</div>
          <div class="tip">
            每邀请一位你将得
            <span>￥{{ courseInfo.chosenPercent }}</span>
          </div>
        </div>
        <div class="share-List">
          <div class="share-input">
            链接邀请
            <el-input disabled v-model="InvitLink" class="input"></el-input>
            <el-button type="primary" @click="copy()">复制链接</el-button>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import DPay from '~/components/PayModal';
import DVideo from '~/components/course/VideoModal';
import RightTap from '~/components/common/RightTap';
import YResourceRight from '~/components/resource/ResourceRight';
import comment from '~/components/course/comment'
import {
 collectionSave, removeCollection,
  courseDetail,
  userCourseDetail,
  chapterDetail,
  downAc
} from '~/api/course.js'
import activityPanel from '~/components/activity/ActivityPanel';

export default {
  components: {
    DPay,
    DVideo,
    RightTap,
    activityPanel,
    YResourceRight,
    comment
  },
  head() {
    return {
      title: this.courseInfo
        ? this.courseInfo.courseName + '-' + this.$store.state.clientData.name
        : '',
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.courseInfo ? this.courseInfo.keywords : ''
        },
        {
          hid: 'description',
          name: 'description',
          content: this.courseInfo ? this.courseInfo.description : ''
        }
      ]
    };
  },
  data() {
    return {
      showVideo: false,
      isLogin: false,
      isAttention: false,
      payData: null,
      showPay: false,
      tab: 'info',
      isCollect: false,
      dialogVisible: false,
      nowPeriodNo: '', // 当前播放章节
      pageCurrent: 1, // 章节页数
      totalPage: 1,
      InvitLink: '',
      chapterList: [] // 章节列表
    };
  },
  computed: {
    tokenInfo() {
      return this.$store.state.tokenInfo;
    }
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo;
    try {
      const result = {};
      if (tk) {
        result.isLogin = true;
        const data = await userCourseDetail(
          { courseId: context.params.id },
          tk
        );
        if (data.code === 200) {
          result.courseInfo = data.data;
          result.teacherInfo = data.data.lecturer;
          result.isCollect = data.data.isCollectionCourse;
          if (data.data.isPay) {
            result.isPay = true;
          } else {
            result.isPay = false;
          }
        } else if (data.code === 408) {
          context.redirect('/404');
        } else {
          result.courseInfo = null;
        }
      } else {
        result.isLogin = false;
        const data = await courseDetail({ courseId: context.params.id });
        if (data.code === 200) {
          result.isPay = false;
          result.courseInfo = data.data;
          result.teacherInfo = data.data.lecturer;
          result.isCollect = data.data.isCollectionCourse;
        } else if (data.code === 408) {
          context.redirect('/404');
        } else {
          result.courseInfo = null;
        }
      }
      return result;
    } catch (e) {
      console.log(e);
      context.error({ message: 'User not found', statusCode: 404 });
    }
  },
  mounted() {
    this.getChapterDetail();
    function makeQuery(queryObject) {
      const query = Object.entries(queryObject)
        .reduce((result, entry) => {
          result.push(entry.join('='));
          return result;
        }, [])
        .join('&');
      return `?${query}`;
    }
    console.log(this.$route);
    const query = Object.assign({}, this.$route.query);
    query.referralCode = this.courseInfo.referralCode;
    this.InvitLink =
      window.location.origin + this.$route.path + makeQuery(query);
  },
  methods: {
     // 取消收藏
    removeCollection() {
      removeCollection({
        collectionId: this.courseInfo.id,
        collectionType: 1
      }).then(res => {
        this.$msgBox({ content: '成功取消收藏' })
        this.isCollect = false
      })
    },
    // 收藏课程
    setCollection() {
      if (!this.isLogin) {
        this.$confirm('登录后才可以收藏?', '提示', {
          type: 'warning'
        }).then(res => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return false
      }
      if (this.isCollect) {
        this.removeCollection()
        return false
      }
      collectionSave({
        collectionType: 1,
        courseCategory: this.courseInfo.courseCategory,
        collectionId: this.courseInfo.id
      }).then(res => {
        // console.log(res)
        if (res.code === 200) {
          this.$msgBox({ content: '收藏成功' })
          this.isCollect = true
        } else if (res.code === 406) {
          this.isCollect = true
        }
      })
    },
    copy() {
      const transfer = document.createElement('input');
      document.body.appendChild(transfer);
      transfer.value = this.InvitLink; // 这里表示想要复制的内容
      transfer.focus();
      transfer.select();
      if (document.execCommand('copy')) {
        document.execCommand('copy');
      }
      transfer.blur();
      this.$message({
        message: '复制成功!',
        type: 'success'
      });
      document.body.removeChild(transfer);
    },
    goPay() {
      if (!this.courseInfo.isPutaway) {
        this.$msgBox({ content: '文库已下架' });
        return false;
      }
      if (!this.tokenInfo) {
        this.$confirm('请登录后再购买!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      this.payData = { course: this.courseInfo, payType: 'course' };
      this.showPay = true;
    },
    openChosenPercent() {
      if (!this.isLogin) {
        this.$confirm('登录后才可以分享赚钱！', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return false;
      }
      this.dialogVisible = true;
    },
    // 获取章节
    getChapterDetail() {
      const courseId = this.courseInfo.id;
      chapterDetail({
        courseId,
        pageSize: 1,
        pageCurrent: this.pageCurrent
      }).then((res) => {
        if (res.code === 200) {
          this.totalPage = res.data.totalPage;
          if (res.data.list && res.data.list.length) {
            this.chapterList = this.chapterList.concat(
              res.data.list[0].periodList
            );
          }
          this.pageCurrent = this.pageCurrent + 1;
          if (this.pageCurrent <= this.totalPage) {
            this.getChapterDetail();
          }
        }
      });
    },
    lookVideo(data) {
      if (!this.tokenInfo) {
        this.$confirm('请登录后再观看!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      if (!data.isFree && !this.courseInfo.isPay) {
        this.$confirm('请先购买后再观看!', '提示', {
          type: 'warning'
        }).then(() => {
          this.goPay();
        });
        return;
      }
      this.videoData = data;
      this.showVideo = true;
    },
    goDown(acInfo) {
      if (!this.tokenInfo) {
        this.$confirm('请登录后再下载!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      downAc({
        id: acInfo.accessoryList[0].id
      })
        .then((res) => {
          console.log(res);
          window.location.href = res.data;
        })
        .catch(() => {});
    },
    downResource(data) {
      if (!this.tokenInfo) {
        this.$confirm('请登录后再下载!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      if (!data.isFree && !this.courseInfo.isPay) {
        this.$confirm('请先购买后再下载', '提示', {
          type: 'warning'
        }).then(() => {
          this.goPay();
        });
      }
    },
    // 点赞
    setLike() {
      // if (!this.isLogin) {
      // this.$confirm('登录后才可以点赞!', '提示', {
      //   type: 'warning'
      // }).then(() => {
      //   this.$store.dispatch('REDIRECT_LOGIN')
      // })
      //   return false
      // }
      // addLike({
      //   id: this.courseInfo.id
      // }).then((res) => {
      //   // console.log(res.data)
      //   if (res.code === 200) {
      //     if (this.courseInfo.isPraise) {
      //       this.isPraise = false
      //       this.courseInfo.praiseCount -= 1
      //       this.courseInfo.isPraise = 0
      //     } else {
      //       this.isPraise = true
      //       this.courseInfo.praiseCount += 1
      //       this.courseInfo.isPraise = 1
      //     }
      //   } else {
      //     // console.log('点赞错误')
      //   }
      // }).catch(() => {
      // })
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss">
.chosenPercent-box {
  .title-box {
    text-align: center;
    .title {
      font-size: 27px;
    }
    .tip {
      font-size: 16px;
      line-height: 1.4;
      span {
        color: red;
      }
    }
  }

  .share-List {
    text-align: center;
    padding: 100px 0 50px;
  }

  .share-input {
    .input {
      width: 300px;
    }
  }
}
.detail_body {
  width: 1200px;
  margin: 0 auto;
  height: 408px;
}
.detail_header {
  li {
    float: left;
    line-height: 57px;
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
    span {
      margin-left: 20px;
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.course_tab {
    padding-left: 30px;
    background: #fff;
    border-radius: 8px;
    li {
      float: left;
      height: 66px;
      line-height: 66px;
      margin-right: 80px;
      &.on {
        border-bottom: 2px solid #d51423;
        a {
          color: #d51423;
        }
      }
      a {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        &:hover {
          text-decoration: none;
          color: #d51423;
        }
      }
    }
  }
.chosenPercents {
  line-height: 36px;
  height: 36px;
  padding: 0px;
  color: #fff;
  text-align: center;
  width: 106px;
  margin: 10px 0;
  border-radius: 6px;
  background-image: linear-gradient(
    to right,
    rgb(235, 106, 34),
    rgb(193, 33, 133)
  );
}
.resource-detail {
  .act-panel {
    color: #333;
    height: 20px;
    position: relative;
    margin-top: -40px;
    .small_favo {
      margin: 0 4px;
      padding: 0 2px;
      color: #e00;
      border: 1px solid #e00;
    }
    .favo {
      color: #ec7e00;
    }
    .set_vip {
      color: #1c879c;
    }
  }
}
</style>
<style lang="scss" rel="stylesheet/scss" scoped>
.lh30 {
  line-height: 30px;
}
.collect_btn {
  border:1px solid #999;
  border-radius: 6px;
  line-height: 34px;
  padding: 0 26px 0px;
  display: inline-block;
  margin-top: 13px;
  margin-right: 0px;

  span {
    background: none;
    margin-right: 0;
    width: 16px;
    top: 0;
  }
  &.c_red,
  &:hover {
    border-color: #D51423;

  }
}
a:hover {
  text-decoration: none;
}
.breads {
  line-height: 40px;
  font-size: 14px;
  color: #999;
  .breads_title {
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  a {
    color: #999;
    &:hover {
      color: #333;
    }
  }
}
.w920 {
  width: 920px;
}
.pdr10 {
  padding-right: 10px;
}
.title_box {
  width: 920px;
  min-height: 123px;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  font-size: 14px;
  color: #999;
  .rd_title {
    font-size: 20px;
    font-weight: 700;
    color: #333;
  }
}
.star_btn {
  color: #999;
  &.b_red {
    color: #d51423;
  }
  &:hover {
    color: #d51423;
  }
}
.info_box {
  width: 920px;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
  color: #333;
  &.auto_height {
    margin-bottom: 30px;
  }
  .info_title {
    font-weight: 700;
    padding: 0 20px;
    border-bottom: 1px solid rgb(242, 242, 242);
    line-height: 60px;
  }
  .info_text {
    padding: 20px;
    line-height: 28px;
  }
}
.dis_price {
  font-size: 14px;
  color: #ec7e11;
  font-weight: normal;
}
.down_item {
  line-height: 80px;
  border-bottom: 1px solid rgb(242, 242, 242);
  padding: 0 20px;
  font-size: 16px;
  .img_box {
    width: 30px;
    height: 36px;
    margin: 12px 20px 0 0;
    img {
      width: 30px;
      height: 36px;
    }
  }
  .ac_name {
    width: 640px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &.text_center {
    text-align: center;
  }
}
.down_btn {
  display: block;
  width: 106px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  margin-top: 22px;
  text-align: center;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  &.b_red {
    background: #d51423;
  }
  &.b_blue {
    background: #107ec4;
  }
  &.no_top {
    margin-top: 0px;
  }
  &:disabled {
    background-color: #ddd;
    color: #999;
  }
}
</style>
