<template>
<view :class="long ? 'foot_view' : ''">
  <view class="foot_tabs">
    <view :class="resource ? 'foot_tab b_fff' : 'foot_tab'" v-if="answerList.length && !long" @tap="sendAnswer">
      <image class="icon_img mgt20" src="/static/images/library/jieda.png"></image>
      <text class="mgt20">思路&解答</text>
    </view>
    <view :class="resource ? 'foot_tab b_fff' : 'foot_tab'" v-if="videoVid" @tap="showVideo">
      <image class="icon_img mgt20" src="/static/images/library/video.png"></image>
      <text class="mgt20">视频解答</text>
    </view>
   
  </view>
  <look-video v-if="video" :info="info" @hidevideo="hideVideo"></look-video>
</view>
</template>

<script>
// components/foot_tap/foot_tap.js
import { login } from "../../utils/auth";
import * as apis from "../../api/course";
let app = getApp();
import lookVideo from "../lookVideo/lookVideo";

export default {
  data() {
    return {
      video: false,
      resource: true,
      answerList: [],
      videoVid: '',
      practiveList: [],
      courseId: '',
      periodNo: '',
      orderInfo: "",
      submit: false
    };
  },

  components: {
    lookVideo
  },
  props: {
    long: {
      type: Boolean
    },
    info: {
      type: [Array, Object]
    },
    courseInfo: {
      type: [Array, Object]
    },
    hide: {
      type: Boolean
    }
  },
  watch: {
    info: function () {
      this.dataLoad();
    }
  },

  beforeMount() {},

  mounted() {
    this.dataLoad();
  },

  methods: {
    // 呼起支付
    sandPay(payMessage) {
      let paymentObj = {
        timeStamp: payMessage.timeStamp,
        nonceStr: payMessage.nonceStr,
        package: payMessage.packageStr,
        signType: payMessage.signType,
        paySign: payMessage.paySign,
        success: () => {
          console.log('支付成功');
          uni.navigateTo({
            url: '../ordersuccess/ordersuccess?no=' + this.orderInfo.orderNo + '&p=' + this.orderInfo.price
          });
        },
        fail: () => {
          uni.showToast({
            title: '取消支付',
            icon: 'none'
          });
        }
      };
      console.log(payMessage);
      uni.requestPayment(paymentObj);
    },

    // 提交订单
    subOrder() {
      uni.showLoading({
        title: '提交中...'
      });
      let pushData = {
        channelType: 3,
        courseType: 3,
        payType: 5,
        refNo: this.info.periodNo,
        courseNo: this.courseInfo.courseNo,
        userNo: uni.getStorageSync('userInfo').userNo,
        remark: ''
      };
      uni.request({
        method: 'POST',
        url: app.globalData.apiUrl + '/user/course/api/order/info/pay',
        data: pushData,
        header: {
          'orgno': app.globalData.clientData.no,
          'token': uni.getStorageSync('userInfo').token
        },
        success: res => {
          let result = res.data;
          uni.hideLoading();

          if (result.code === 200) {
            this.setData({
              orderInfo: result.data
            });
            let payMessage = JSON.parse(result.data.payMessage);
            this.sandPay(payMessage);
          } else {
            uni.showModal({
              title: '错误',
              content: result.msg,
              showCancel: false,
              success: res => {
                if (res.confirm) {
                  if (result.code > 300 && result.code < 400) {
                    uni.removeStorage({
                      key: 'userInfo',
                      success: () => {
                        app.globalData.loginRoncoo();
                      }
                    });
                  }
                }
              }
            });
          }
        },
        fail: msg => {
          uni.showModal({
            title: '错误',
            content: '数据加载错误,请稍后重试'
          });
        },
        complete: () => {
          uni.hideLoading();
        }
      });
    },

    // 显示视频
    showVideo() {
      if (!uni.getStorageSync('userInfo')) {
        login();
        return;
      }

      let that = this;

      if (!this.courseInfo.isPay && !this.info.isFree) {
        uni.showModal({
          title: '提示',
          content: '观看该视频解答需要支付 ' + this.courseInfo.courseOriginal + ' 元',
          success: function (res) {
            if (res.confirm) {
              console.log('用户点击确定');
              that.subOrder();
            }
          }
        });
        return;
      }

      this.setData({
        video: true
      });
    },

    // 关闭视频
    hideVideo() {
      this.setData({
        video: false
      });
    },

    // 思路解答
    sendAnswer(e) {
      if (!uni.getStorageSync('userInfo')) {
        login();
        return;
      }

      let that = this;
      if (this.long) return;
      let info = encodeURIComponent(JSON.stringify(this.info));
      let courseInfo = encodeURIComponent(JSON.stringify(this.courseInfo));
      uni.navigateTo({
        url: '/pages/topicdetail/topicdetail?info=' + info + '&hide=1&courseInfo=' + courseInfo
      });
    },

    // 收藏
    addColl() {
      if (!uni.getStorageSync('userInfo')) {
        app.globalData.loginRoncoo();
        return;
      }

      let courseCategory = this.courseInfo ? this.courseInfo.courseCategory == null ? 1 : this.courseInfo.courseCategory : 1;
      uni.showLoading({
        title: '收藏中'
      });
      let obj = {
        courseCategory: this.courseInfo.courseCategory,
        collectionType: 3,
        collectionId: this.info.id
      };
      const info = this.info;
      apis.collectionSave(obj).then(res => {
        uni.showToast({
          title: '收藏成功',
          icon: 'none'
        });
        info.isCollectionCourse = 1;
        this.setData({
          info: info
        });
      }).catch(res => {
        if (result.code === 406) {
          info.isCollectionCourse = 1;
          this.setData({
            info: info
          });
        }

        uni.showToast({
          title: result.msg,
          icon: 'none'
        });
      });
    },

    deleteColl() {
      const info = this.info;
      apis.collectionDelete({
        collectionId: info.id,
        collectionType: 3
      }).then(res => {
        uni.showToast({
          title: '取消收藏成功'
        });
        info.isCollectionCourse = 0;
        this.setData({
          info: info
        });
      }).catch(res => {
        uni.showModal({
          title: '删除失败',
          content: res.msg
        });
        uni.hideLoading();
        this.setData({
          submit: false
        });
      });
    },

    dataLoad() {
      // console.log(this.data.info)
      let answerList = [];

      if (this.info.resultPicList) {
        answerList = this.info.resultPicList;
      }

      this.setData({
        answerList: answerList,
        videoVid: this.info.videoVid || '',
        practiveList: this.info.periodPracticeDTOList || []
      });
    }

  }
};
</script>
<style>
.foot_view {
  position: fixed;
  bottom: 0;
  right: 0;
}
.foot_tabs {
  /* height: 120rpx; */
  display: flex;
  float: right;
  margin: 0 25rpx;
}
.foot_tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140rpx;
  height: 120rpx;
  background: rgba(247, 245, 248, 1);
  font-size: 20rpx;
  color: #999;
}
.icon_img {
  width: 39rpx;
  height: 36rpx;
}
.mgt20 {
  margin-top: 20rpx;
}
.b_fff {
  background: #fff;
}
</style>