<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="订单编号">
        <el-input v-model="map.orderNo" placeholder="" />
      </el-form-item>
      <el-form-item class="filter-item" label="用户编号">
        <el-input v-model="map.userNo" placeholder="" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="下单时间" width="140">
        <template slot-scope="scope">
          {{ scope.row.gmtCreate }}
        </template>
      </el-table-column>
      <el-table-column label="用户编号" width="140">
        <template slot-scope="scope">
          {{ scope.row.userNo }}
        </template>
      </el-table-column>
      <el-table-column label="订单号" width="140">
        <template slot-scope="scope">
          {{ scope.row.orderNo }}
        </template>
      </el-table-column>
      <el-table-column label="会员类型" prop="vipType" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-danger': scope.row.vipType === 1, 'c-brand': scope.row.vipType === 2, 'c-success': scope.row.vipType === 3}">{{ vipTypeEnum[scope.row.vipType] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="订单状态" prop="orderStatus" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-brand': scope.row.orderStatus === 1, 'c-success': scope.row.orderStatus === 2, 'c-danger': scope.row.orderStatus === 3}">{{ orderStatusEnum[scope.row.orderStatus] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="订单价格" prop="orderPrice" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.orderPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="支付方式" prop="payType" width="120">
        <template slot-scope="scope">
          <span class="c-info">{{ payTypeEnum[scope.row.payType] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="平台收入" prop="platformIncome" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.orderPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="错误日志信息" prop="statusMsg" />
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
  import { userOrderLogPage } from '@/api/user'

  export default {
    filters: {
      amountFormat(val = 0) {
        return `￥ ${val.toFixed(2).replace(/\d{1,3}(?=(\d{3})+(\.\d*)?$)/g, '$&,')}`
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        vipTypeEnum: [],
        orderStatusEnum: [],
        payTypeEnum: [],
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'VipTypeEnum', type: 'obj' }).then(res => {
        this.vipTypeEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'OrderStatusEnum', type: 'obj' }).then(res => {
        this.orderStatusEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'PayTypeEnum', type: 'obj' }).then(res => {
        this.payTypeEnum = res;
      })
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        userOrderLogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
