<template>
  <div class="blog_default">
    <div id="mgt30" class="container mgt30">
      <div class="w260 fl">
        <y-user-side :blogger-info="info" :type="type" />
      </div>
      <div class="w920 fr b_fff radius_box">
        <y-my-blog v-if="type == 'bk'" />
        <y-my-active v-if="type == 'gz' || type == 'fs' " :type="type" />
        <y-my-collection v-if="type == 'sc'" />
        <y-my-comment v-if="type == 'pl'" :info="info" />
        <y-my-question v-if="type == 'wd' || type == 'hd'" :type="type" />
        <y-my-info v-if="type == 'info'" :info="info" @getSelfInfo="getSelfInfo" />
      </div>
    </div>
  </div>
</template>
<script>
import YUserSide from '~/components/blog/account/UserSide'
import YMyBlog from '~/components/blog/account/MyBlog'
import YMyActive from '~/components/blog/account/MyActive'
import YMyCollection from '~/components/blog/account/MyCollection'
import YMyComment from '~/components/blog/account/MyComment'
import YMyQuestion from '~/components/blog/account/MyQuestion'
import YMyInfo from '~/components/blog/account/MyInfo'
import { selfInfo } from '~/api/blog/user.js'
export default {

  components: {
    YUserSide,
    YMyBlog,
    YMyActive,
    YMyCollection,
    YMyComment,
    YMyQuestion,
    YMyInfo
  },
  head() {
    return {
      title: '社区-' + this.$store.state.clientData.name
    }
  },
  data() {
    return {
      fs: '',
      type: this.$route.query.type || 'bk',
      info: {}
    }
  },
  watch: {
    '$route'(newRoute) {
      console.log(this.type)
      this.type = newRoute.query.type || 'bk'
    }
  },
  mounted() {
    this.getSelfInfo()
  },
  methods: {
    // 获取博主信息
    getSelfInfo() {
      selfInfo().then((res) => {
        this.info = res.data
      }).catch(() => {})
    }
  }
}
</script>
<style lang="scss">

  #mgt30 {
    margin-top: 30px;
  }
  .w260 {
    width: 260px;
  }
  .w920 {
    width: 920px;
  }
</style>
