<template>
  <div @click="hideDraft = true" class="write_box blog_default">
    <div class="mgt20 clearfix">
      <nuxt-link :to="{name: 'blog-account'}" class="fl btn circle_btn">&lt; 我的博客</nuxt-link>
      <div class="fr p_relative">
        <span @click.stop="changeDraft" class="btn circle_btn p_relative">
          我的草稿
          <span class="c_red">({{ writeList.length }})</span>
        </span>
        <d-draft class="draft" v-if="!hideDraft" :write-list="writeList" />
      </div>
    </div>
    <div class="radius_box">
      <div class="title">
        <span class="label">博客标题：</span>
        <input v-model="blogTitle" type="text" class="blog_title" placeholder="请在此处输入标题" />
      </div>
      <div class="title">
        <span class="label">博客关键词：</span>
        <input
          v-model="blogkKywords"
          type="text"
          class="blog_title"
          placeholder="请在此处输入博客关键词， 多个请用英文逗号隔开！"
        />
      </div>
      <el-tabs v-model="activeName" class="tabs" @tab-click="handleClick">
        <el-tab-pane label="富文本编辑器" name="1">
          <wangeditor :height="524" v-model="Content"></wangeditor>
        </el-tab-pane>
        <el-tab-pane label="Markdown编辑器" name="2">
          <div id="edit"></div>
        </el-tab-pane>
      </el-tabs>
      <div class="pad20 border_b" style="margin-top: -20px;">
        <div class="clearfix">
          <div class="fl lh30">博客分类：</div>
          <div class="fl clearfix class_tip">
            <span
              v-for="(item, index) in tabList"
              :key="index"
              :class="{red: tagsName == item.labelName}"
              @click="changeTap(item.labelName)"
              class="btn tap_btn"
            >{{ item.labelName }}</span>
          </div>
        </div>
        <div class="clearfix mgt20">
          <div class="fl lh30">博客类型：</div>
          <div class="fl clearfix">
            <select id v-model="typeId" name class="select_box">
              <option value>请选择(原创/转载)</option>
              <option value="1">原创</option>
              <option value="2">转载</option>
            </select>
          </div>
        </div>
        <div class="clearfix mgt20">
          <div class="fl lh30">私密博客：</div>
          <div class="fl clearfix clearfix">
            <div :class="{b_blue: !isOpen}" @click="changeCheck" class="check_box fl">
              <div :class="{circle_move: !isOpen}" class="circle" />
            </div>
            <span class="lh30 mgl10 c_999">{{ openStr }}</span>
          </div>
        </div>
      </div>
      <div class="pad20 clearfix btn-list">
        <el-button @click="saveBlog(1)" type="success">发布博客</el-button>
        <el-button @click="saveBlog(0)" type="warning">保存为草稿</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import DDraft from '~/components/blog/account/Draft';
import {
  userBlogList,
  blogView,
  addBlog,
  changeBlog
} from '~/api/blog/user.js';
import wangeditor from '~/components/wangeditor.vue';
import { uploadPic } from '~/api/upload.js';

export default {
  components: {
    DDraft,
    wangeditor
  },
  layout: 'activity',
  head() {
    return {
      title: this.$store.state.clientData.name + '-博客',
      link: [
        {
          rel: 'stylesheet',
          href: 'https://cdn.jsdelivr.net/npm/vditor/dist/index.css'
        }
      ],
      script: [
        {
          src: 'https://cdn.jsdelivr.net/npm/vditor/dist/index.min.js'
        }
      ]
    };
  },
  data() {
    return {
      typeId: '1',
      isOpen: 1,
      tagsName: '',
      isCheck: false,
      dataObj: {
        client: true,
        tabList: []
      },
      blogTitle: '',
      blogContent: '',
      Content: '',
      blogkKywords: '',
      activeName: '1',
      hideDraft: true,
      mdContet: '',
      hideSave: true,
      writeList: [],
      pageCurrent: 1
    };
  },
  computed: {
    tabList() {
      return this.dataObj.tabList;
    },
    openStr() {
      if (this.isOpen) {
        return '公开';
      }
      return '已设置为私密';
    }
  },
  watch: {
    $route(newRouter) {
      if (this.$route.query.id) {
        this.getChangeView();
      }
    }
  },
  destroyed() {
    this.Vditor.destroy();
  },
  mounted() {
    const that = this;
    this.Vditor = new window.Vditor('edit', {
      height: '524px',
      placeholder: '请输入内容..',
      lang: 'zh_CN',
      value: '',
      mode: 'sv',
      icon: 'material',
      theme: 'classic',
      ctrlEnter() {
        that.openSave();
      },
      upload: {
        async handler(files, fn) {
          const file = files[0];
          const param = new FormData();
          param.append('picFile', file, file.name);
          that.$store.commit('LOADING_START');
          const res = await uploadPic(param, function (int) {});
          that.$store.commit('LOADING_FINISH');
          if (res.code === 200) {
            that.Vditor.insertValue('![' + file.name + '](' + res.data + ')');
          } else {
            that.$msgBox({ content: '上传图片出错，请稍后重试' });
          }
        }
      }
    });
    if (!this.$store.state.tokenInfo) {
      this.$confirm('请先登录!', '提示', {
        type: 'warning'
      }).then(() => {
        this.$store.dispatch('REDIRECT_LOGIN');
      });
      this.$router.push({ name: 'index' });
    }
    if (this.$store.state.tokenInfo) {
      this.getWriteList();
    }
    if (this.$route.query.id) {
      this.getChangeView();
    }
    this.$store.dispatch('blog/GET_TABLIST', this.dataObj).then((res) => {
      this.dataObj.tabList = res;
    });
  },
  methods: {
    changeCheck() {
      if (this.isOpen) {
        this.isOpen = 0;
      } else {
        this.isOpen = 1;
      }
    },
    handleClick() {
      console.log(!this.Content || this.Content === this.blogContent);
      console.log(this.activeName);
      if (this.activeName === '1') {
        // 判断内容是不是没有 或者是没有修改过 如果就直接切换到富文本编辑器
        this.Content = this.Vditor.getHTML();
      } else if (this.Content) {
        this.mdContet = this.Vditor.html2md(this.Content);
        this.Vditor.setValue(this.mdContet, true);
      }
    },
    changeTap(labelName) {
      console.log(999);
      this.tagsName = labelName;
    },
    // 保存博客
    saveBlog(isIssue) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      if (!this.blogTitle) {
        this.$msgBox({ content: '博客标题不能为空' });
        return;
      }

      if (this.activeName === '2') {
        this.blogContent = this.Vditor.getHTML();
        this.mdContet = this.Vditor.getValue();
      } else {
        this.blogContent = this.Content;
        this.mdContet = '';
      }

      if (!this.blogContent) {
        this.$msgBox({ content: '博客内容不能为空' });
        return;
      }
      if (!this.tagsName) {
        this.$msgBox({ content: '请选择博客分类' });
        return;
      }
      if (!this.typeId) {
        this.$msgBox({ content: '请选择博客类型' });
        return;
      }

      let msg = '保存草稿成功';
      if (isIssue) {
        msg = '保存博客成功';
      }
      const params = {
        content: this.blogContent,
        isIssue,
        isOpen: this.isOpen,
        tagsName: this.tagsName,
        mdContet: this.mdContet,
        title: this.blogTitle,
        typeId: this.typeId,
        keywords: this.blogkKywords
      };
      let method = addBlog;
      if (this.$route.query.id) {
        method = changeBlog;
        params.id = this.$route.query.id;
      }
      method(params).then((res) => {
        this.$confirm(msg, '提示', {
          type: 'success'
        }).then(
          () => {
            this.$router.push({ name: 'blog-account' });
          },
          () => {
            this.$router.push({ name: 'blog-account' });
          }
        );
      });
    },
    changeDraft() {
      this.hideDraft = !this.hideDraft;
    },

    // 获取草稿列表
    getWriteList() {
      userBlogList({
        pageCurrent: this.pageCurrent,
        pageSize: 20,
        tagTypes: 3
      }).then((res) => {
        this.writeList = this.writeList.concat(res.data.list);
        // console.log(this.writeList)
        if (res.data.pageCurrent < res.data.totalPage) {
          this.pageCurrent++;
          this.getWriteList();
        }
      });
    },
    getChangeView() {
      blogView({
        id: this.$route.query.id
      })
        .then((res) => {
          this.tagsName = res.data.tagsName;
          this.isOpen = res.data.isOpen;
          this.typeId = res.data.typeId;
          this.blogTitle = res.data.title;
          this.blogkKywords = res.data.keywords;
          this.Content = res.data.content;
          if (res.data.mdContet) {
            this.Vditor.setValue(res.data.mdContet);
            this.activeName = '2';
          } else {
            this.activeName = '1';
          }
        })
        .catch(() => {});
    }
  }
};
</script>
<style lang="scss">
.write_box {
  .w-e-text-container,
  .vditor-reset {
    ol {
      li {
        list-style-type: decimal !important;
      }
    }
    ul {
      li {
        list-style-type: disc !important;
      }
    }
  }
  .el-tabs__header {
    margin-bottom: 10px;
  }
  .w-e-text-container {
    height: 454px !important;
  }
  #edit {
    .vditor-preview__action {
      display: none;
    }
  }
}
</style>
<style lang="scss" scoped>
.draft {
  left: -140px;
  top: 50px;
}
.radius_box {
  min-height: 600px;
  margin-top: 20px;
  margin-bottom: 60px;
  background: #fff;
  overflow: hidden;
  .tabs {
    height: 580px;
    overflow: hidden;
  }
  .title {
    height: 60px;
    line-height: 56px;
    padding: 0 20px;
    padding-left: 120px;
    position: relative;
    .label {
      position: absolute;
      left: 20px;
      font-size: 16px;
      top: 0;
    }
  }
}

#edit {
  height: 480px;
  margin-bottom: 60px;
}
.write_box {
  width: 1200px;
  margin: 0 auto;
}
.circle_btn {
  display: inline-block;
  padding: 0px 20px;
  line-height: 36px;
  border-radius: 18px;
  background: rgba(226, 226, 226, 1);
  font-size: 14px;
  color: #999;
  &.b_blue {
    background: rgba(36, 136, 236, 1);
    color: #fff;
  }
}
.blog_title {
  width: 100%;
  display: block;
  height: 42px;
  padding: 0px 12px;
  font-size: 16px;
  position: relative;
  top: 9px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
}

.w490 {
  width: 490px;
}
.lh30 {
  line-height: 30px;
  padding-right: 12px;
}
.mask {
  z-index: 10008;
}
.save_box {
  width: 600px;
  margin: 50px auto;
  background: #fff;
  overflow: hidden;
}
.box_title {
  background: rgba(247, 245, 248, 1);
  line-height: 46px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 650;
}

.btn-list {
  text-align: center;
}
.tap_btn {
  display: inline-block;
  line-height: 30px;
  padding: 0 16px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  color: #999;
  margin: 0 8px 8px 0;
  &.red {
    color: #d51423;
    border-color: #d51423;
  }
}
.select_box {
  width: 120px;
  height: 30px;
  border-radius: 4px;
  color: #999;
  .select_item {
    line-height: 30px;
  }
}
.check_box {
  width: 54px;
  height: 30px;
  border-radius: 15px;
  background: rgba(226, 226, 226, 1);
  overflow: hidden;
  &.b_blue {
    background: rgba(36, 136, 236, 1);
  }
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 5px;
  background: #fff;
  transition: all 0.2s;
}
.circle_move {
  transform: translateX(24px);
}
.class_tip {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
  }
}
</style>
