<template>
    <view class="">
        <!--pages/verifyFace/verifyFace.wxml-->
        <view v-if="startCamera == 1" class="camera_container" :style="'background-color: ' + bgc">
            <view class="camera_panel">
                <view v-if="num" class="mask">{{num}}</view>
                <camera class="camera" style="width: 100%;height:100%;z-index: 9;" device-position="front" flash="auto" @initdone="handleReady" @error="error"></camera>
            </view>
            <view v-if="time > 0" class="camera_time">{{time}}S</view>
            <button v-else-if="time == 0" class="start_btn" type="primary" @tap="handlestart">重新认证</button>
        </view>
        <view v-else-if="startCamera == 2">
            <view class="camera_tips cus">
                认证成功!
            </view>
            <button class="start_btn" type="primary" @tap="handleGoUrl">返回首页</button>
        </view>
        <view v-else>
            <view class="camera_tips">
                当前操作需要先进行活体认证!
            </view>
            <button class="start_btn" type="primary" @tap="handleLoadCamera">开始认证</button>
        </view>
    </view>
</template>

<script>
    // pages/verifyFace/verifyFace.js
    import * as auth from '../../api/user.js'
    import { hideLogin } from '../../utils/auth.js'
    export default {
        name: "verifyFace",
        data() {
            return {
                courseId: '', //  课程ID 如果存在则验证完跳转到课程
                periodNo: '',
                userInfo: {},
                tempVideoPath: '',
                cameraContext: undefined,
                startCamera: 0,
                num: 0,
                time: -1,
                bgc: '#fff'
            }
        },
        onLoad: function(options) {
            console.log('options', options)
            let scene = options.scene ? decodeURIComponent(options.scene) : 'Y38500'
            this.setData({
                userInfo: uni.getStorageSync('userInfo'),
                periodNo: scene,
                courseId: options.courseId || ''
            })
            if (uni.getStorageSync('userInfo')) {
                this.setData({
                    userInfo: uni.getStorageSync('userInfo'),
                })
            } else {
                hideLogin(() => {
                    this.setData({
                        userInfo: uni.getStorageSync('userInfo')
                    })
                    // this.buyCourse()
                })
            }
        },
        methods: {

            handleReady() {
                console.log('准备')
                let num = this.num
                if(num == 0) {
                    num = 3
                } else {
                    num --
                }
                this.setData({
                    num: num
                })
                if(num == 0) {
                    this.handlestart()
                    return
                }
                setTimeout(() => {
                    this.handleReady()
                }, 1000)
            },
            handleLoadCamera() {
                this.setData({
                    startCamera: 1
                })
            },
            handlestart() {
                const ctx = uni.createCameraContext()
                this.setData({
                    cameraContext: ctx
                })
                ctx.startRecord({
                    quality: 'high',
                    success: (res) => {
                        this.startTiming(0)
                        this.setData({
                            src: res.tempImagePath
                        })
                    },
                    complete: (res) => {
                        console.log(22222)
                    }
                })
            },
            startTiming(int) {
                const colors = ['#32e', '#f00', '#29e', '#2e5', '#ea2', '#0ff']
                this.setData({
                    time: 3 - int,
                    bgc: colors[int]
                })
                if(int === 3) {
                    int = 0
                } else {
                    int ++
                }
                if( int == 0) {
                    this.stopVideo()
                    return
                }
                setTimeout(() => {
                    this.startTiming(int )
                }, 1000)
            },
            stopVideo() {
                this.cameraContext.stopRecord({
                    compressed: true,
                    success: (res) => {
                        this.setData({
                            tempVideoPath: res.tempVideoPath
                        })
                        uni.getFileSystemManager().readFile({
                            filePath: res.tempVideoPath,
                            encoding: 'base64',
                            success: (result) => {
                                console.log('base64', res)
                                uni.getFileSystemManager().readFile({
                                    filePath: res.tempThumbPath,
                                    encoding: 'base64',
                                    success: (result1) => {
                                        this.verifyVideo(result.data, result1.data)
                                    }
                                })
                            }
                        })
                    },
                    complete: (res) => {
                    }
                })
            },
            verifyVideo(data, data1) {
                console.log('提交后台')
                // this.setData({
                //   startCamera: false
                // })
                if (this.userInfo.faceContrasImg) {
                    data1 = undefined
                }
                uni.showLoading({
                    title: '正在认证...'
                })
                console.log('=========>', this.periodNo)
                auth.verifyFace({
                    periodId: this.periodNo,
                    imageBase64: data1,
                    videoBase64: data
                }).then(res => {
                    if (this.courseId) {
                        uni.showToast({
                            title: '认证成功'
                        })
                        uni.navigateTo({
                            url: '../course/view/view?id=' + this.courseId +'&periodNo=' + this.periodNo
                        })
                    } else {
                        // 扫码认证
                        this.setData({
                            startCamera: 2
                        })
                    }
                }).catch(err => {
                    console.log('err', err)
                })
            },
            handleGoUrl() {
                uni.switchTab({
                    url: '/pages/index/index'
                })
            },
            error(e) {
                console.log(e.detail)
            },
        }
    }
</script>

<style scoped>
    /* pages/verifyFace/verifyFace.wxss */
    .camera_panel{
        height: 400rpx;
        width: 400rpx;
        border-radius: 50%;
        margin: 60rpx auto;
        overflow: hidden;
        position: relative;
        background-color: #666;
    }
    .camera_tips{
        padding-top: 140rpx;
        padding-bottom: 40rpx;
        text-align: center;
        color: #666;
    }
    .camera_tips.cus{
        font-size: 60rpx;
    }
    .start_btn{
        width: 400rpx;
    }
    .camera_container{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: #fff;
    }
    .camera_time{
        text-align: center;
    }
    .mask{
        width: 400rpx;
        height: 400rpx;
        position: absolute;
        z-index: 999;
        line-height: 400rpx;
        font-size: 120rpx;
        text-align: center;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.3);
        color: #1aad19;
    }
    .camera{
        border-radius: 50%;
    }
</style>
