<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="分类名称" prop="categoryName">
        <el-input v-model="form.categoryName" class="form-group" />
      </el-form-item>
      <el-form-item label="排序" prop="sort">
        <el-input-number v-model="form.sort" controls-position="right" :min="0" />
      </el-form-item>
      <el-form-item label="备注">
        <el-input v-model="form.remark" type="textarea" autosize class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button type="primary" size="mini" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import {courseCategorySave} from '@/api/course'

export default {
  name: 'AddCourseCategory',
  props: {
    title: {
      type: String,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    },
    info: {
      type: Object,
      default: () => {
      }
    }
  },
  data() {
    return {
      form: {},
      opts: {},
      rules: {
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        categoryName: [
          {required: true, message: '请输入分类名称', trigger: 'blur'}
        ]
      }
    }
  },
  watch: {
    visible: function(val) {
      if (val) {
        this.form = {
          parentId: this.info.parentId,
          floor: this.info.floor,
          categoryType: this.info.categoryType,
          sort: 1
        }
      }
    }
  },
  mounted() {
  },
  methods: {
    handleClose() {
      this.form = {};
      this.$emit('close-callback');
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      courseCategorySave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
