<template>
<div class="main_box">
        <div class="tabs">
          <a :class="{on: tab == 3}" @click="clicktab(3)" href="javascript:" class="tab">全部课程</a>
          <a :class="{on: tab == 1}" @click="clicktab(1)" href="javascript:" class="tab">审核通过</a>
          <a :class="{on: tab == 0}" @click="clicktab(0)" href="javascript:" class="tab">审核中</a>
          <a :class="{on: tab == 2}" @click="clicktab(2)" href="javascript:" class="tab">审核失败</a>
          <nuxt-link :to="{ name:'account-library-add' }" class="fr solid_btn">
            添加题库
          </nuxt-link>
        </div>
        <div class="main_cont">
          <div v-if="notdata" class="notdata">
            <i class="iconfont">&#xe6be;</i>暂时没有数据
          </div>
          <table v-else class="order_table table">
            <thead>
              <tr>
                <th>课程名称</th>
                <th>是否付费</th>
                <th>价格</th>
                <th>会员价</th>
                <th>状态</th>
                <th>上下架</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in courseList.list" :key="item.courseNo">
                <td class="name">
                  <img :src="item.courseImg" class="icon" alt="">{{ item.courseName }}
                </td>
                <td v-if="item.isFree" class="c_orange">
                  免费
                </td>
                <td v-else class="c_orange">
                  付费
                </td>
                <td class="c_red">
                  ¥{{ item.courseOriginal }}
                </td>
                <td class="c_red">
                  ¥{{ item.courseDiscount }}
                </td>
                <td v-if="item.auditStatus === 1" class="c_green">
                  审核通过
                </td>
                <td v-else-if="item.auditStatus === 2" class="c_red">
                  审核不通过
                </td>
                <td v-else class="c_blue">
                  待审核
                </td>
                <td v-if="item.isPutaway">
                  <button @click="putaWay(item)" class="gray_btn">
                    课程下架
                  </button>
                </td>
                <td v-else>
                  <button @click="putaWay(item)" class="orange_btn">
                    课程上架
                  </button>
                </td>
                <td class="operate">
                  <span>
                    <nuxt-link :to="{ name: 'account-library-add', query: { no: item.id }}" class="text_link">修改</nuxt-link>
                  </span>
                  <br>
                  <span>
                    <router-link :to="{path: '/account/library/period', query: {no: item.chapterId}}" class="text_link">课时管理</router-link>
                  </span>
                  <br>
                  <span>
                    <a v-if="item.isDelete" @click="deleteItem(item.id)" href="javascript:" class="text_link">删除</a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="center">
            <el-pagination
              :page-size="courseList.pageSize"
              :current-page="courseList.pageCurrent"
              :total="courseList.totalCount"
              @current-change="getPage"
              class="page-panel"
              background
              layout="prev, pager, next">
            </el-pagination>
          </div>
        </div>
      </div>
</template>
<script>
import { lecturerCourseList, coursePutaway, deleteCourse } from '~/api/account/course.js'
export default {
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 题库管理'
    }
  },
  data() {
    return {
      side: 'tkgl',
      tab: 3,
      notdata: true,
      pageCurrent: 1,
      courseList: [],
      categoryNo1: '',
      categoryNo2: '',
      courseName: ''
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    }
  },
  mounted() {
    this.getCourseList()
  },
  methods: {
    deleteItem(id) {
      this.$confirm('是否删除该题库?', '提示', {
        type: 'warning'
      }).then(() => {
        deleteCourse({ id }).then(() => {
          this.$msgBox({ content: '删除成功', type: 'success' })
          this.getCourseList()
        }).catch(() => {})
      })
    },
    getPage(int) {
      this.pageCurrent = int
      this.getCourseList()
    },
    clicktab(int) {
      this.tab = int
      this.pageCurrent = 1
      this.getCourseList()
    },
    // 课程上下架
    putaWay(item) {
      const isp = item.isPutaway ? 0 : 1
      let txt = '确定下架该课程?'
      if (isp) {
        txt = '确定上架该课程?'
      }
      this.$confirm(txt, '提示', {
        type: 'warning'
      }).then(() => {
        coursePutaway({
          courseNo: item.courseNo,
          id: item.id,
          isPutaway: isp
        }).then((res) => {
          if (res.code === 200) {
            item.isPutaway = isp
          }
        })
      })
    },
    // 重新获取数据
    reSet(e) {
      this.pageCurrent = 1
      this.categoryNo1 = e.categoryNo1 || ''
      this.categoryNo2 = e.categoryNo2 || ''
      this.courseName = e.courseName || ''
      this.getCourseList()
    },
    getCourseList() {
      const astat = this.tab === 3 ? '' : this.tab
      lecturerCourseList({
        courseCategory: 3,
        auditStatus: astat,
        lecturerUserNo: this.userInfo.userNo,
        orgNo: this.userInfo.orgNo,
        token: this.tokenInfo,
        pageCurrent: this.pageCurrent,
        pageSize: 10,
        categoryNo1: this.categoryNo1,
        categoryNo2: this.categoryNo2,
        categoryNo3: '',
        courseName: this.courseName
      }).then((res) => {
        if (res.data.list.length > 0) {
          this.courseList = res.data
          this.notdata = false
        } else {
          this.notdata = true
          this.courseList = []
        }
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .my_study{
    padding: 0;
  }
  .order_table{
    td{
      &.name{
        text-align: left;
      }
      .icon{
        display: inline-block;
        min-width: 60px;
        height: 60px;
        background-color: #ef7d40;
        vertical-align: middle;
        margin-right: 12px;
        background: url(../../../assets/image/ci1.png) no-repeat -5px -6px;
        -webkit-background-size: 180px;
        background-size: 180px;
        border-radius: 6px;
      }
      .icon5{
        background-position: -112px -6px;
      }
      .icon6{
        background-position: -5px -95px;
      }
      .icon7{
        background-position: -112px -95px;
      }
      .icon8{
        background-position: -5px -186px;
      }
      .icon9{
        background-position: -112px -186px;
      }
      &.name{
        text-align: left;
      }
    }
  }
  .notdata{
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    i{
      font-size: 30px;
      padding-right: 12px;
    }
  }
  .operate span {
    display: inline-block;
    margin-bottom: 5px;
  }
</style>
