<template>
  <div class="main_box">
    <div class="step_panel">
      <div class="step on">1.填写题库信息</div>
      <div class="step on">2.上传题库内容</div>
      <div class="step">3.提交审核</div>
    </div>
    <div class="main_cont course_period">
      <div class="tip">
        可
        <span class="c_red">"拖动"</span>课时名称调整先后顺序
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>序号</th>
            <th>题目</th>
            <th>是否免费</th>
            <th>题目图片</th>
            <th>解答图片</th>
            <th>视频解答</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(item, index) in list">
            <tr
              v-if="item.periodDesc != 'true'"
              :key="item.id"
              v-dragging="{ item: item, list: list }"
            >
              <td>{{ index+1 }}</td>
              <td class="name">{{ item.periodName }}</td>
              <td class="c_red">{{ item.isFree ? '免费' : '收费' }}</td>
              <td>
                <button
                  :class="{on: item.captionCount}"
                  @click="openModal(item.id,1)"
                  class="gray_btn"
                >
                  题目管理
                  <i class="num">{{ item.captionCount }}</i>
                </button>
              </td>
              <td>
                <button
                  :class="{on: item.resultCount}"
                  @click="openModal(item.id,2)"
                  class="gray_btn"
                >
                  答案管理
                  <i class="num">{{ item.resultCount }}</i>
                </button>
              </td>
              <td class="c_green">
                <button
                  :class="{ on: item.isVideo }"
                  @click="openVideo(item.id,2)"
                  class="gray_btn"
                >
                  视频管理
                  <i class="num">1</i>
                </button>
              </td>
              <td class="c_blue">待审核</td>
              <td class="operate">
                <a @click="edit1(index)" href="javascript:void(0)" class="text_link">修改</a>
                <br />
                <a @click="del(item.id)" href="javascript:void(0)" class="text_link">删除</a>
              </td>
            </tr>
            <tr v-else :key="item.id">
              <td>{{ index+1 }}</td>
              <td class="name">
                <input
                  v-model="item.periodName"
                  :class="{ form_input: true }"
                  type="text"
                  placeholder="请输入例题名称"
                />
              </td>
              <td>
                <input
                  v-model="item.isFree"
                  class="checkbox"
                  style="width: 60px"
                  type="checkbox"
                  value="1"
                />
              </td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td class="operate">
                <button :disabled="solidBtn" @click="updatas(item)" class="solid_btn">保存</button>
              </td>
            </tr>
          </template>
          <tr>
            <td>{{ int }}</td>
            <td class="name" width="220">
              <input
                v-model="obj.periodName"
                :class="{form_input: true}"
                type="text"
                placeholder="请输入例题名称"
              />
            </td>
            <td>
              <input
                v-model="obj.isFree"
                value="1"
                class="checkbox"
                style="width: 60px"
                type="checkbox"
              />
            </td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td class="operate">
              <button :disabled="solidBtn" @click="addPraxis" class="solid_btn">保存</button>
            </td>
          </tr>
        </tbody>
      </table>
      <router-link to="/account/vod/check?t=5" class="cont_btn solid_btn">提交审核</router-link>
    </div>
    <y-image
      v-if="showModal"
      :open="showModal"
      :data="modalData"
      :type="modalType"
      @hidefun="hideModal()"
    />
    <y-video
      v-if="showVideo"
      :open="showVideo"
      :data="videoData"
      :type="videoType"
      @hidefun="hideModal()"
    />
  </div>
</template>
<script>
import YImage from '~/components/account/ImageModal'
import YVideo from '~/components/account/VideoModal'
import {
  chapterPraxisList,
  savePraxis,
  deletePraxis,
  updatePraxis,
  updatePraxisSort
} from '~/api/account/course.js'
export default {
  components: {
    YVideo,
    YImage
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 题库管理'
    }
  },
  data() {
    return {
      solidBtn: false,
      side: 'tkgl',
      num: 1,
      int: 1,
      title: '',
      step: 1,
      edit: true,
      eds: [],
      modalType: 1,
      modalData: null,
      showModal: false,
      videoType: 1,
      videoData: null,
      showVideo: false,
      tags: [],
      list: [],
      obj: {
        auditStatus: 0,
        courseNo: 0,
        orgPrice: 0,
        periodName: '',
        labelName: ''
      }
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    }
  },
  mounted() {
    this.chapterList()
    // this.getTag()
    this.num = parseInt(this.$route.query.i) + 1
    this.obj.chapterId = this.$route.query.no
    this.$dragging.$on('dragend', ({ value }) => {
      // console.log(value.list)
      this.saveSort()
    })
  },
  methods: {
    // 展开图片选择
    openModal(id, ty) {
      this.modalData = {
        cNo: this.$route.query.no,
        pNo: id
      }
      this.modalType = ty
      this.showModal = true
    },
    // 展开视频选择
    openVideo(id, ty) {
      this.videoData = {
        cNo: this.$route.query.no,
        pNo: id
      }
      this.videoType = ty
      this.showVideo = true
    },
    hideModal() {
      this.showModal = false
      this.showVideo = false
      this.showLore = false
      this.chapterList()
    },
    blurtab(obj) {
      setTimeout(() => {
        obj.auditStatus = false
      }, 100)
    },
    setTab(obj, tab) {
      // console.log(tab.labelName)
      obj.labelName = tab.labelName
      obj.auditStatus = false
    },
    // 添加例题
    addPraxis() {
      if (this.obj.periodName === '') {
        this.$msgBox({ content: '请输入题目名称' })
        return false
      }
      if (!this.obj.isFree) {
        this.obj.isFree = 0
      } else {
        this.obj.isFree = 1
      }
      this.obj.sort = this.int
      this.solidBtn = true
      // console.log(this.obj)
      savePraxis(this.obj)
        .then(res => {
          this.solidBtn = false
          this.list.push(res.data)
          this.int = this.list.length + 1
          this.obj.periodName = ''
          this.obj.labelName = ''
          this.obj.isFree = 0
          this.chapterList()
        })
        .catch(() => {
          this.solidBtn = false
        })
    },
    // 修改例题
    edit1(no) {
      const arr = this.list
      arr[no].periodDesc = 'true'
      this.list = Object.assign([], arr)
      // console.log(no)
    },
    // 更新例题
    updatas(data) {
      if (data.periodName === '') {
        this.$msgBox({ content: '请输入例题名称' })
        return
      }
      if (!data.isFree) {
        data.isFree = 0
      } else {
        data.isFree = 1
      }
      data.periodDesc = ''
      console.log(data)
      this.solidBtn = true
      updatePraxis(data)
        .then(res => {
          this.solidBtn = false
        })
        .catch(() => {
          this.solidBtn = false
        })
      // updatePraxis(data).then((res) => {
      //   this.solidBtn = false
      //   console.log(res)
      // }).catch(() => {
      //   this.solidBtn = false
      //   this.$msgBox({
      //     content: '修改失败',
      //     isShowCancelBtn: false
      //   })
      // })
    },
    // 删除例题
    del(no) {
      this.$confirm('确定删除该项?', '提示', {
        type: 'warning'
      }).then(() => {
        deletePraxis({ id: no }).then(res => {
          this.$msgBox({ content: '删除成功', type: 'success' })
          this.chapterList()
        })
      })
    },
    // 保存排序
    saveSort() {
      const periodIdList = this.list.map(item => item.id)
      updatePraxisSort({ periodIdList })
        .then(res => {
          this.load = false
          if (res.code === 200) {
          }
        })
        .catch(() => {
          this.load = false
          this.$msgBox({ content: '排序保存失败' })
        })
    },
    // 例题列表
    chapterList() {
      chapterPraxisList({ chapterId: this.$route.query.no }).then(res => {
        if (!res.data.userPeriodAuditList.length) {
          this.list = []
          this.int = 1
        } else {
          this.list = res.data.userPeriodAuditList
          this.int = res.data.userPeriodAuditList.length + 1
        }
      })
    }
    // getTag() {
    //   tagList({
    //     lecturerUserNo: this.userInfo.userNo,
    //     orgNo: this.userInfo.orgNo
    //   }).then((res) => {
    //     // console.log(res)
    //     if (res.code === 200) {
    //       this.tags = res.data.list
    //     }
    //   })
    // }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.step_panel {
  overflow: hidden;
  background-color: #eee;
  .step {
    float: left;
    width: 33.33333%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -12px;
      top: -5px;
      z-index: 1;
      width: 60px;
      height: 60px;
      box-shadow: 1px 1px 0 #fff;
      transform: rotate(-45deg);
    }
    &.on {
      color: #fff;
      background-color: #eb000e;
      &:after {
        background-color: #eb000e;
      }
    }
  }
}
.tabs {
  .tab {
    width: auto;
    padding: 0 30px;
  }
}
.course_period {
  label {
    margin-right: 8px;
    color: #333;
  }
  .name {
    text-align: left;
  }
  .form_input {
    margin: 10px 0;
    height: 34px;
    border: 1px solid #e7e7e7;
    width: 250px;
    text-indent: 1em;
  }
  .form_input_min {
    text-indent: 1em;
    width: 130px;
    height: 34px;
    margin-right: 10px;
    border: 1px solid #e7e7e7;
  }
  .cont_btn {
    width: 280px;
    display: block;
    margin: 20px auto 0;
  }
  .checkbox {
    input {
      display: none;
      &:checked + i {
        color: #ec7e00;
      }
    }
    i {
      font-size: 20px;
      color: #ccc;
      cursor: pointer;
    }
  }
  .select_ctl {
    position: relative;
    .select_p {
      position: absolute;
      width: 100px;
      left: 0;
      top: 35px;
      z-index: 99;
      border: 1px solid #ddd;
      background-color: #fff;
    }
    .option {
      line-height: 30px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
    }
  }
}
.dragging {
  color: #ec7e00;
}
</style>
