<template>
    <div class="app-container">
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="课程名称">
          <el-input v-model="map.courseName" />
        </el-form-item>
        <el-form-item class="filter-item" label="状态">
          <el-select v-model="map.courseCategory" clearable placeholder="请选择">
            <el-option
              v-for="(value, key) in courseCategoryEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item class="filter-item" label="">
            <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
            <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
      </el-form>
      <el-table
        :data="list"
        size="mini"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >
        <el-table-column align="center" type="index" label="序号" width="50" />
        <el-table-column label="课程名称" prop="courseName" />
        <el-table-column label="课程分类">
          <template slot-scope="scope">
            {{ courseCategoryEnums[scope.row.courseCategory] }}
          </template>
        </el-table-column>
        <el-table-column label="日期" prop="gmtCreate" />
        <el-table-column label="观看人次" prop="views" />
        <el-table-column label="观看人数" prop="sums" />
        <el-table-column label="课程总时长" prop="courseLength" />
        <el-table-column label="学习时长" prop="studyLength" />
      </el-table>
      <el-pagination
        :current-page="page.pageCurrent"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
</template>

<script>
  import { courseStatPage } from '@/api/data'
  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        courseCategoryEnums: {},
        list: [],
        map: {
          courseCategory: ''
        },
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
        this.courseCategoryEnums = res;
      });
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        courseStatPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
