<template>
  <!--弹窗-->
  <el-dialog
    width="35%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="100px">
      <el-form-item label="排序：">
        <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="handleClose">取 消</el-button>
      <el-button type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { articleZoneRefEdit } from '@/api/community'
  export default {
    name: 'Edit',
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {}
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        ctrl: {
          dialogVisible: true
        },
        form: { },
        rules: {
          sort: [
            { required: true, message: '请输入排序', trigger: 'blur', autocomplete: 'on' }
          ]
        }
      }
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields()
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (!this.formData.sort) {
            this.$message({
              type: 'error',
              message: '请输入排序'
            });
            return false
          }
          if (this.formData.id !== undefined) {
            this.loading = true
            articleZoneRefEdit({id: this.formData.id, sort: this.formData.sort }).then(res => {
              this.loading = false
              if (res.code === 200) {
                this.tips('操作成功', 'success')
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '提交失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          } else {
            this.$message({
              type: 'error',
              message: '提交失败'
            });
          }
        })
      }
    }
  }
</script>
