<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="60%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="收藏类型">
        <el-select v-model="map.collectionType" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in collectionTypeEnum"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="手机号码" prop="mobile" width="100" />
      <el-table-column label="课程分类" prop="courseCategory" width="80">
        <template slot-scope="scope">
          {{ courseCategoryEnum[scope.row.courseCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="收藏类型" prop="collectionType" width="80">
        <template slot-scope="scope">
          {{ collectionTypeEnum[scope.row.collectionType] }}
        </template>
      </el-table-column>
      <el-table-column label="收藏详情">
        <template slot-scope="scope">
          <span v-if="scope.row.collectionType === 1">{{ scope.row.courseName }}</span>
          <span v-if="scope.row.collectionType === 2">{{ scope.row.courseName }} |--> {{ scope.row.chapterName }}</span>
          <span v-if="scope.row.collectionType === 3">{{ scope.row.courseName }} |--> {{ scope.row.chapterName }} |--> {{ scope.row.periodName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="收藏时间" prop="gmtCreate" width="140" />
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import { userCollectionCoursePage, userCollectionCourseDelete } from '@/api/course'

  export default {
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.page.pageCurrent = 1;
          this.map = {
            userNo: this.info.userNo
          }
          this.listForPage();
        }
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        courseCategoryEnum: [],
        collectionTypeEnum: [],
        map: {},
        listLoading: true
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'CourseCategoryEnum', type: 'obj' }).then(res => {
        this.courseCategoryEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'CollectionTypeEnum', type: 'obj' }).then(res => {
        this.collectionTypeEnum = res;
      })
    },
    methods: {
      handleClose() {
        this.map = {}
        this.$emit('close-callback')
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            userCollectionCourseDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = { userNo: this.info.userNo }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        userCollectionCoursePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
