<template>
  <div class>
    <div v-if="courseInfo" class="course_detail">
      <y-watch-video
        ref="watchVideo"
        v-if="courseInfo.isPay"
        :course-info="courseInfo"
        :now-no="nowPeriodNo"
        :chapter-list="chapterList"
        @playfunc="videoPlay"
        @startDown="startDown"
        @setCollection="setCollection"
        @buyCourse="buyCourse"
      />
      <y-display ref="watchVideo" v-else :course-info="courseInfo" @buyCourse="buyCourse" />
      <div class="detail_info detail_box clearfix">
        <div class="layout_left">
          <ul class="course_tab clearfix">
            <li :class="{on: tab == 'info'}">
              <a @click="tab = 'info'" href="javascript:">课程介绍</a>
            </li>
            <li :class="{on: tab == 'big'}">
              <a @click="tab = 'big'" href="javascript:">点播课程</a>
            </li>
            <li :class="{on: tab == 'comment'}">
              <a @click="tab = 'comment'" href="javascript:">课程评论</a>
            </li>
            <a
              v-if="courseInfo.isPay"
              :class="{collect_btn: true, noposi: true, c_red: isCollect, fr:true}"
              @click="setCollection"
              href="javascript:"
            >
              <span class="iconfont">&#xe670;</span>&nbsp;收藏
            </a>
          </ul>
          <div v-if="tab == 'info'" class="content_info">
            <!-- eslint-disable -->
            <div class="introduce" v-html="courseInfo.introduce" />
            <y-syllabus
              :list="chapterList"
              :now-no="nowPeriodNo"
              :is-pay="isPay"
              @playfunc="videoPlay"
              @startDown="startDown"
              @buyCourse="buyCourse"
            />
          </div>
          <div v-if="tab == 'big'" class="content_info">
            <y-syllabus
              :list="chapterList"
              :now-no="nowPeriodNo"
              :is-pay="isPay"
              @playfunc="videoPlay"
              @startDown="startDown"
              @buyCourse="buyCourse"
            />
          </div>
          <div class="content_info" v-show="tab == 'comment'" style="padding: 1px 0px;">
            <comment  :course-info="courseInfo"></comment>
          </div>
        </div>
        <div class="layout_right">
          <div v-if="teacherInfo" class="teacher_info clearfix">
            <span class="head">讲师简介</span>
            <div class="teacher_msg">
              <div class="teacher_msg_right">
                <nuxt-link target="_blank" :to="{ name: 'lecturer-id', params: {id: teacherInfo.lecturerUserNo} }">
                  <img
                    v-if="teacherInfo.headImgUrl"
                    class="teacher_phone"
                    :src="teacherInfo.headImgUrl"
                    alt
                  />
                  <img v-else class="teacher_phone" src="~/assets/image/friend.jpg" alt />
                </nuxt-link>
                <div class="teacher_name">
                  <nuxt-link target="_blank" :to="{ name: 'lecturer-id', params: {id: teacherInfo.lecturerUserNo} }">
                  {{ teacherInfo.lecturerName }}
                  </nuxt-link>
                  <a
                    href="javascript:"
                    @click="setAttention"
                    :class="{atten_btn: true, c_red: isAttention}"
                  >
                    <span class="iconfont">&#xe670;</span>&nbsp;关注
                  </a>
                </div>
                <!-- eslint-disable -->
                <div class="info_box" v-html="teacherInfo.introduce" />
              </div>
            </div>
          </div>
          <recommend-block style="width:260px" v-affix :categoryNo="courseInfo.categoryId1"></recommend-block>
        </div>
      </div>
      <d-pay v-if="showPay" :is-course="true" :data="payData" @hidefun="showPay = false" />
    </div>
    <div v-else class>
      <div class="no_data">
        暂无数据
        <a href="/">返回首页></a>
      </div>
    </div>
    <el-dialog
      title="请先按照步骤完成个人实名信息"
      :visible.sync="dialogVisible"
      width="1000px"
      :before-close="handleDialog">
      <el-steps :active="4" align-center>
        <el-step title="扫描二维码进入小程序">
          <template slot="description">
            <img :src="webInfo.minappCode" style="margin-top: 35px;" alt="">
          </template>
        </el-step>
        <el-step title="点击我的设置个人信息">
          <template slot="description">
            <img src="@/assets/image/sm1.jpg" alt="">
          </template>
        </el-step>
        <el-step title="点击认证信息">
          <template slot="description">
            <img src="@/assets/image/sm2.png" alt="">
          </template>
        </el-step>
        <el-step title="完成个人信息并提交">
          <template slot="description">
            <img src="@/assets/image/sm3.png" alt="">
          </template>
        </el-step>
      </el-steps>
      <span slot="footer" class="dialog-footer">
        <el-button @click="handleDialog">取 消</el-button>
        <el-button type="primary" @click="handleDialog">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="请先扫描二维码完成认证"
      :visible.sync="verifyVisible"
      width="300px"
      :before-close="handleCloseVerify">
      <div style="text-align:center;">
        <img :src="verifySrc" width="200px" height="200" alt="">
      </div>
    </el-dialog>
  </div>
</template>
<script>
import YDisplay from '~/components/course/Display'
import YSyllabus from '~/components/course/Syllabus'
import DPay from '~/components/PayModal'
import RecommendBlock from '~/components/course/RecommendBlock'
import YWatchVideo from '~/components/course/WatchVideo'
import comment from '~/components/course/comment'

import {
  courseDetail,
  userCourseDetail,
  chapterSign,
  chapterDetail,
  downAc,
  collectionSave,
  removeCollection,
  userCourseProgress
} from '~/api/course.js'
import { attentionSave, saveCourseLog, verifyFace, verifyFail } from '~/api/user.js'
import { attentionDelete } from '~/api/account/user.js'

export default {
  components: {
    YDisplay,
    YSyllabus,
    YWatchVideo,
    RecommendBlock,
    DPay,
    comment
  },
  head() {
    return {
      title: this.courseInfo ? this.courseInfo.courseName + '-' + this.$store.state.clientData.name : '',
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.courseInfo ? this.courseInfo.keywords : ''
        },
        {
          hid: 'description',
          name: 'description',
          content: this.courseInfo ? this.courseInfo.description : ''
        }
      ]
    }
  },
  data() {
    return {
      dialogVisible: false,
      faceContrast: 0, // 活体认证次数
      constrastTimes: null, // 认证时间点
      verifySrc: '',
      verifyVisible: false,
      videoPeriodId: '', // 正在播放课时ID
      startPlay: false, // 开始播放
      isAttention: false,
      payData: null,
      showPay: false,
      tab: 'info',
      isCollect: false,
      userInfo: this.$store.state.userInfo,
      webInfo: this.$store.state.webInfo,
      nowPeriodNo: '', // 当前播放章节
      nowPlayPeriod: undefined,
      pageCurrent: 1, // 章节页数
      totalPage: 1,
      chapterList: [], // 章节列表
      userProgress: {} // 用户进度

    }
  },
  computed: {
    isLogin() {
      return this.$store.state.tokenInfo
    }
  },
  validate({ params }) {
    // 必须是number类型
    return /^\d+$/.test(params.id)
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo
    try {
      const result = {}
      if (tk) {
        const data = await userCourseDetail({ courseId: context.params.id }, tk)
        if (data.code === 200) {
          result.courseInfo = data.data
          result.teacherInfo = data.data.lecturer
          if (data.data.isPay) {
            result.isPay = true
          } else {
            result.isPay = false
          }
        } else if (data.code === 408) {
          context.redirect('/404')
        } else {
          result.courseInfo = null
        }
      } else {
        const data = await courseDetail({ courseId: context.params.id })
        if (data.code === 200) {
          result.isPay = false
          result.courseInfo = data.data
          result.teacherInfo = data.data.lecturer
        } else if (data.code === 408) {
          context.redirect('/404')
        } else {
          result.courseInfo = null
        }
      }
      return result
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    console.log('courseInfo', this.courseInfo, this.teacherInfo)
    this.isCollect = this.courseInfo.isCollectionCourse
    this.userInfo = this.$store.state.userInfo
    this.isAttention = this.courseInfo.isAttentionLecturer
    // 继续播放用户历史记录
    if (this.courseInfo.authCourseUserStudyLog) {
      this.playUserLog()
    }
    this.getChapterDetail()
    window.s2j_onVideoPlay = () => {
      this.startPlay = true
      this.getPlayTime()
    }
    // 播放结束
    window.s2j_onPlayOver = () => {
      this.startPlay = false
      this.getPlayTime()
      this.playNext()
    }
    window.s2j_onVideoPause = () => {
      this.startPlay = false
      this.getPlayTime()
    }
    this.getUserCourseProgress();
  },
  methods: {
    handleDialog() {
      this.dialogVisible = false
      this.isFaceContras = 1
    },
     getUserCourseProgress() {
      if (!this.isLogin) return;
      userCourseProgress({
        courseId: this.courseInfo.id
      }).then(res => {
        if (res.data && res.data.list && res.data.list.length) {
           res.data.list.forEach((e) => {
            if (e.periodId && e.watckProgress) {
              this.userProgress[e.periodId] = e.watckProgress
            }
          })
          this.initProgress();
        }
      })
    },
    initProgress() {
      console.log(this.chapterList, this.userProgress)
      this.chapterList.forEach(e => {
        if (e && e.periodList && e.periodList.length) {
          e.periodList.forEach(p => {
            p.progress = this.userProgress[p.id]
          })
        }
      })
      this.chapterList = this.chapterList.concat([]);
    },
    handleCloseVerify() {
      this.dialogVisible = false
      this.verifyVisible = false
      this.isFaceContras = 1
      // 认证失败
      verifyFail({ periodId: this.videoPeriodId }).then(res => {
        console.log(res)
        this.faceContrast = this.faceContrast - 1 // 活体认证次数
        const arr = this.constrastTimes
        arr.splice(0, 1);
        this.constrastTimes = arr // 认证时间点
        this.player.j2s_resumeVideo()
      })
    },
    removeAttention(lecturerUserNo) {
      attentionDelete({ lecturerUserNo }).then(res => {
        this.isAttention = false
        this.$msgBox({
          content: '取消成功',
          type: 'success'
        })
      })
    },
    // 播放下一节
    playNext() {
      const id = this.nowPeriodNo
      const list = this.chapterList
      let nextObj
      for (let i = 0; i < list.length; i++) {
        const item = list[i].periodList
        for (let j = 0; j < item.length; j++) {
          if (item[j].id === id) {
            if (item[j+1]) {
              nextObj = item[j+1]
            } else if (list[i+1] && list[i+1].periodList[0]) {
              nextObj = list[i+1].periodList[0]
            }
          }
        }
      }
      if (nextObj) {
        this.videoPlay(nextObj)
      }
    },
    // 关注讲师
    setAttention() {
      if (!this.isLogin) {
        this.$confirm('登录后才可以关注?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return false
      }
      if (this.isAttention) {
        this.removeAttention(this.teacherInfo.lecturerUserNo)
        return false
      }
      attentionSave({
        lecturerUserNo: this.teacherInfo.lecturerUserNo
      }).then(res => {
        if (res.code === 200) {
          this.$msgBox({
            content: '关注成功',
            type: 'success',
            isShowCancelBtn: false
          })
          this.isAttention = true
        } else {
          this.$msgBox({
            content: res.msg,
            isShowCancelBtn: false
          })
          if (res.code === 506) {
            this.isAttention = true
          }
        }
      })
    },
    // 取消收藏
    removeCollection() {
      removeCollection({
        collectionId: this.courseInfo.id,
        collectionType: 1
      }).then(res => {
        this.$msgBox({ content: '成功取消收藏', type: 'success' })
        this.isCollect = false
      })
    },
    // 收藏课程
    setCollection() {
      if (this.$route.name === 'preview-course-id') {
        return false
      }
      if (this.isCollect) {
        this.removeCollection()
        return false
      }
      collectionSave({
        collectionType: 1,
        courseCategory: this.courseInfo.courseCategory,
        collectionId: this.courseInfo.id
      }).then(res => {
        console.log(res)
        if (res.code === 200) {
          this.$msgBox({ content: '收藏成功', type: 'success' })
          this.isCollect = true
        } else if (res.code === 406) {
          this.isCollect = true
        } 
      })
    },
    // 购买视频
    buyCourse(event) {
      if (!this.courseInfo.isPutaway) {
        this.$msgBox({
          content: '课程已下架'
        })
        return false
      }
      if (!this.isLogin) {
        this.$confirm('请登录后再购买?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      this.showPay = true
      this.payData = { course: this.courseInfo, payType: 'course' }
      console.log({ course: this.courseInfo, payType: 'course' })
    },
    videoPlay(data) {
      if (this.courseInfo.isPay || data.isFree) {
        window.scrollTo(0, 0)
        this.nowPeriodNo = data.id
        chapterSign({
          ip: 'string',
          periodId: data.id,
          videoVid: data.videoVid
        })
          .then(res => {
            this.isResetVideo = false
            if (res.code === 200) {
              this.videoPeriodId = data.id
              this.play(Object.assign({ vid: data.videoVid }, res.data))
            } else if (res.code === 402) {
              this.$confirm('购买后才可以观看?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
              })
                .then(res => {
                  this.buyCourse()
                })
                .catch(() => {
                  this.buyCourse()
                })
            }
          })
          .catch(() => {
            this.isResetVideo = false
          })
      } else {
        this.$confirm('购买后才可以播放?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
          .then(res => {
            this.buyCourse()
          })
          .catch(() => {
            this.buyCourse()
          })
        return false
      }
    },
    // 播放用户学习记录
    playUserLog() {
      const periodId = this.courseInfo.authCourseUserStudyLog.lastStudyPeriodId;
      const videoVid = this.courseInfo.authCourseUserStudyLog.videoVid;
      const startTime = this.courseInfo.authCourseUserStudyLog.watchLength;
      this.nowPeriodNo = periodId
      chapterSign({
        ip: 'string',
        periodId: periodId,
        videoVid: videoVid
      }).then(res => {
        this.videoPeriodId = periodId
        this.play(Object.assign({ vid: videoVid }, res.data), startTime)
      })
    },
    /*eslint-disable*/
    play(data, startTime) {
      // 是否需要认证
      if (data.residueContrastTotal) {
        this.faceContrast= data.residueContrastTotal
      }
      const box = this.$refs.watchVideo.$refs.videobox
      if (this.player) {
        this.player.changeVid({
          vid: data.vid,
          playsafe: data.token,
          ts: data.ts,
          sign: data.sign,
          autoplay: true
        })
      } else {
        this.player = polyvObject('#player').videoPlayer({
          width: box.offsetWidth,
          height: box.offsetHeight,
          history_video_duration: 2,
          forceH5: true,
          code: data.code,
          playsafe: data.token,
          ts: data.ts,
          sign: data.sign,
          vid: data.vid,
          // watchStartTime: startTime,
          viewerInfo: {
            viewerId: this.userInfo.userNo,
            viewerName: this.userInfo.nickname
          }
        })
      }
    },
    // 获取播放时长
    getPlayTime() {
      const currentSpeed = this.player.j2s_getCurrentTime()
      const countSpeed = this.player.j2s_getDuration()
      if (this.faceContrast) { // 校验认证信息
        this.checkContrast({currentTime: currentSpeed, duration: countSpeed})
      }
      saveCourseLog({
        periodId: this.videoPeriodId,
        watckProgress: countSpeed,
        watchLength: currentSpeed
      }).then(res => {
        console.log(res)
      })
      if (this.startPlay) {
        setTimeout(() => {
          this.getPlayTime()
        }, 3000)
      }
    },
    // 活体认证
    checkContrast(playObj) {
      console.log('ontrastTotal', playObj, this.faceContrast)
      if (!this.constrastTimes) { // 判断是否已经生成验证时间点
        const times = []
        for (let i = this.faceContrast; i > 0; i--) {
          const randomTime = Math.random() * playObj.duration / 3 + (playObj.duration / 3 * (3 - i))
          times.push(randomTime)
        }
        this.constrastTimes = times
      }
      const currentContrastTime = this.constrastTimes[0] // 获得当前认证时间点
      if (playObj.currentTime > currentContrastTime) { // 需要活体认证
        this.startPlay = false
        this.player.j2s_pauseVideo();
        if (this.userInfo.idCardAfterImg) {
          verifyFace({ periodId: this.videoPeriodId, page: 'pages/verifyFace/verifyFace' }).then(res => {
            this.verifySrc = res.data;
            this.verifyVisible = true;
            this.checkVerifyFace()
          })
        } else {
          this.dialogVisible = true
        }
      }
    },
    checkVerifyFace(data) {
      if (!this.verifyVisible) {
        return
      }
      checkVerifyFace({
        periodId: this.videoPeriodId
      }).then(res => {
        if (res.data) {
          console.log('通过，可以播放')
          this.verifyVisible = false
          this.isFaceContras = false
          this.player.j2s_resumeVideo();
        } else {
          setTimeout(() => {
            this.checkVerifyFace()
          }, 1000)
        }
      })
    },
    // 获取章节
    getChapterDetail() {
      if (!this.courseInfo) {
        this.$msgBox({
          content: '课程信息加载失败',
          isShowCancelBtn: false
        })
        return false
      }
      const courseId = this.courseInfo.id
      chapterDetail({
        courseId,
        pageSize: 20,
        pageCurrent: this.pageCurrent
      })
        .then(res => {
          console.log(res)
          if (res.code === 200) {
            this.totalPage = res.data.totalPage
            if (res.data.list && res.data.list.length) {
              this.chapterList = this.chapterList.concat(res.data.list)
            }
            this.pageCurrent = this.pageCurrent + 1
            if (this.pageCurrent <= this.totalPage) {
              this.getChapterDetail()
            } else {
              this.initProgress();
            }
          } else {
            this.$msgBox({
              content: res.data.msg,
              isShowCancelBtn: false
            })
          }
        })
        .catch(() => {
          this.$msgBox({
            content: '数据加载失败，请稍后重试',
            isShowCancelBtn: false
          })
        })
    },
    // 下载附件
    startDown(acInfo) {
      downAc({
        id: acInfo.accessoryList[0].id
      })
        .then(res => {
          window.location.href = res.data
        })
        .catch(() => {})
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
.course_detail {
  .detail_info {
    margin: 20px auto 60px;
    width: 1200px;
  }
  .layout_left {
    width: 920px;
    float: left;
    .info_body {
      margin-bottom: 30px;
    }
  }
  .course_tab {
    padding-left: 30px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    li {
      float: left;
      height: 66px;
      line-height: 66px;
      margin-right: 80px;
      &.on {
        border-bottom: 2px solid #d51423;
        a {
          color: #d51423;
        }
      }
      a {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        &:hover {
          text-decoration: none;
          color: #d51423;
        }
      }
    }
  }
  .content_info {
    padding: 30px;
    background: #fff;
    border-radius: 8px;
    min-height: 400px;
    .title {
      border-left: 3px solid #000;
      padding-left: 12px;
      font-size: 16px;
      color: #000;
      font-weight: 700;
      margin-bottom: 25px;
    }
    .introduce {
      font-size: 14px;
      line-height: 30px;
      color: #333;
      padding-left: 8px;
    }
  }
  .layout_right {
    width: 260px;
    float: right;
  }
  .teacher_info {
    background: #fff;
    border-radius: 8px;
    position: relative;
    min-height: 180px;
    .head {
      display: block;
      line-height: 60px;
      height: 60px;
      padding-left: 20px;
      font-size: 14px;
      color: #333;
      border-bottom: 1px solid rgb(228, 228, 228);
    }
    .teacher_phone {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background: rgb(228, 228, 228);
      text-align: center;
      line-height: 46px;
      font-size: 13px;
      color: #999;
      float: left;
      margin: 0px 10px 0 10px;
      img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
      }
    }
    .teacher_msg_right {
      width: 235px;
      float: right;
      margin: 12px 15px 12px 12px;
      line-height: 20px;
    }
    .teacher_name {
      font-size: 14px;
      font-weight: 700;
      color: #333;
      margin-bottom: 10px;
    }
  }
}
.no_data {
  font-size: 20px;
  // font-weight: 700;
  text-align: center;
  line-height: 100px;
  color: #999;
  background: #fff;
  margin: 20px 0;
  border-radius: 6px;
}
</style>
