<template>
  <div>
    <div class="navs">
      <div class="container">
        <ul class="fl clearfix">
          <li class="fl">
            <nuxt-link :to="{name: 'index'}" target="_blank" class="nav">
              首页
            </nuxt-link>
          </li>
          <li class="fl">
            <nuxt-link :to="{name: 'blog'}" target="_blank" class="nav">
              博客
            </nuxt-link>
          </li>
          <li class="fl">
            <nuxt-link :to="{name: 'question'}" target="_blank" class="nav">
              问答
            </nuxt-link>
          </li>
        </ul>
        <ul v-show="userInfo" class="fr c_ccc account_nav">
          <li>
            <nuxt-link :to="{name: 'recruit'}" target="_blank">
              讲师招募
            </nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{name: 'account-info'}" target="_blank">
              用户中心
            </nuxt-link>
          </li>
          <li class="">
            <nuxt-link :to="{name: 'blog-account', query: { type: 'wd' }}">
              我的问答
            </nuxt-link>
          </li>
          <li class="">
            <nuxt-link :to="{name: 'blog-account'}">
              我的博客
            </nuxt-link>
          </li>
          <li>
            <a @click="signOut" href="javascript:">退出</a>
          </li>
        </ul>
        <ul v-show="!userInfo">
          <li class="fr">
            <nuxt-link :to="{name: 'recruit'}" target="_blank" class="nav">
              讲师招募
            </nuxt-link>
          </li>
          <li class="fr">
            <nuxt-link :to="{name: 'login', query: {tab: 2}}" class="c_ccc">
              注册
            </nuxt-link>
          </li>
          <li class="fr padlr_10">
            <a @click="login" href="javascript:" class="c_ccc">登录</a>
          </li>
          <li class="fr">
            <nuxt-link :to="{name: 'recruit'}" target="_blank" class="c_ccc">
              讲师招募
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="header_body">
      <div class="container">
        <nuxt-link v-if="isQuestion" :to="{name: 'question'}" class="logo">
          问答
        </nuxt-link>
        <nuxt-link v-else :to="{name: 'blog'}" class="logo">
          博客
        </nuxt-link>
        <nuxt-link v-if="isQuestion" :to="{name: 'question-account-write'}" class="write_btn fr center" target="_blank">
          我要提问
        </nuxt-link>
        <nuxt-link v-else :to="{name: 'blog-account-write'}" class="write_btn fr center" target="_blank">
          写博客
        </nuxt-link>
         <y-search :is-question="isQuestion" />
      </div>
    </div>
  </div>
</template>
<script>
import YSearch from '~/components/blog/Search'
export default {
  components: {
    YSearch
  },
  props: {
    isQuestion: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    tokenInfo() {
      return this.$store.state.tokenInfo
    },
    userInfo() {
      return this.$store.state.userInfo
    },
    webInfo() {
      return this.$store.state.webInfo
    }
  },
  methods: {
    login() {
      this.$store.commit('SET_TEMPORARYURL')
      this.$router.push({ name: 'login' })
    },
    signOut() {
      this.$store.commit('SIGN_OUT')
      window.location.reload()
    }
  }
}
</script>
<style lang="scss">
  .account_nav{
    li{
      float: left;
    }
    a{
      color: #ccc;
      padding: 0 10px;
    }
  }
  .navs {
    height: 30px;
    line-height: 30px;
    background: rgba(51, 51, 51, 1);
  }
  .nav {
    color: #ccc;
    display: block;
    height: 30px;
    font-size: 12px;
    padding: 0 10px;
    &:hover {
      background: rgba(255, 255, 255, 0.3);
      color: #fff;
      text-decoration: none;
    }
  }
  .header_body {
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .logo {
    font-size: 25px;
    margin: 15px 25px;
    display: block;
    float: left;
  }
  .write_btn {
    width: 86px;
    height: 36px;
    line-height: 36px;
    background: rgba(213, 20, 35, 1);
    color: #fff;
    display: block;
    margin-top: 12px;
    font-size: 13px;
    border-radius: 6px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
</style>
