<template>
<!--components/codebtn/codebtn.wxml-->
<button :disabled="disabled" class="code_btn" @tap.stop="getCode">{{txt}}</button>
</template>

<script>
// components/codebtn/codebtn.js
import * as apis from "../../api/website";
const app = getApp();

export default {
  data() {
    return {
      txt: '获取验证码',
      disabled: false
    };
  },

  components: {},
  props: {
    mobile: {
      type: [String, Number]
    }
  },
  methods: {
    timeOut() {
      let num = 60;
      this.setData({
        disabled: true,
        txt: num
      });
      let nt = setInterval(() => {
        if (num <= 0) {
          clearInterval(nt);
          this.setData({
            txt: '重新获取',
            disabled: false
          });
        } else {
          num--;
          this.setData({
            txt: num + 's'
          });
        }
      }, 1000);
    },

    getCode() {
      console.log(this.mobile);

      if (!/^1\d{10,10}$/.test(parseInt(this.mobile))) {
        uni.showModal({
          title: '手机号错误',
          content: '请输入正确的手机号'
        });
        return false;
      }

      uni.showLoading({
        title: '获取验证码中...'
      });
      this.$emit('codeClick');
      apis.sendCode(this.mobile).then(res => {
        uni.showToast({
          title: '验证码发送成功',
          icon: 'none'
        });
        this.timeOut();
      });
    }

  }
};
</script>
<style>
/* components/codebtn/codebtn.wxss */
.code_btn {
  width: 233rpx;
  height: 94rpx;
  line-height: 94rpx;
  font-size: 33rpx;
  color: #fff;
  position: absolute;
  background: rgba(35, 136, 236, 1);
  right: 0;
  top: 0;
  border-radius: 0;
  z-index: 9;
  text-align: center;
}
</style>