<template>
    <div class="app-container">
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="手机号码">
          <el-input v-model="map.mobile" />
        </el-form-item>
        <el-form-item class="filter-item" label="">
            <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
            <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
      </el-form>
      <el-table
        :data="list"
        size="mini"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >
        <el-table-column align="center" type="index" label="序号" width="50" />
          <el-table-column label="手机号码" prop="mobile" />
          <el-table-column label="日期" prop="gmtCreate" />
          <el-table-column label="观看时长" prop="watchLength" />
          <el-table-column label="观看课程数" prop="watchCourseSums" />
          <el-table-column label="操作">
            <template slot-scope="scope">
               <el-button plain type="primary" size="mini" @click="handleStudyLogRow(scope.row.userNo)">学习记录</el-button>
            </template>
          </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page.pageCurrent"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
</template>

<script>
  import { courseStatUserPage } from '@/api/data'
  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleStudyLogRow(userNo) {
        this.$router.push({ path: '/course/course/user/study/log/list', query: { userNo: userNo }});
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        courseStatUserPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
