<template>
<view>
  <view class="mgt8px">
  <view class="index_btn photo b_fff">
      <text class="c_333 font33">头像</text>
      <view v-if="uploadProgress" class="fr uploading" @tap="chooseImage">{{uploadProgress}}%</view>
      <image v-else-if="photoSrc" :src="photoSrc" class="fr user_photo" @tap="chooseImage"></image>
      <image v-else src="../../../static/images/account/friend.jpg" class="fr user_photo" @tap="chooseImage"></image>
    </view>
    <view class="index_btn b_fff">
      <text class="c_333 font33">用户名</text>
      <text class="c_333 font33 fr"><text class="c_999 mgr20">{{mobile}}</text></text>
    </view>
    <view @tap="showChange" class="index_btn b_fff">
      <text class="c_333 font33">昵称</text>
      <text class="c_333 font33 fr"><text class="c_999 mgr20 ">{{userName}}</text><text class="arrows"></text></text>
    </view>
    <picker mode="selector" :range="sexList" @change="changeSex" class="index_btn b_fff">
      <text class="c_333 font33">性别</text>
      <text class="c_333 font33 fr"><text class="c_999 mgr20 ">{{sex}}</text><text class="arrows"></text></text>
    </picker>
    <navigator v-if="webInfo.isFaceContras" class="index_btn b_fff" url="../verify/verify">
      <text class="c_333 font33">认证信息</text>
      <text v-if="!userInfo.idCardAfterImg" class="c_333 font33 fr"><text class="c_999 mgr20 ">未认证</text><text class="arrows"></text></text>
      <text v-else class="c_333 font33 fr arrows"></text>
    </navigator>
  </view>
  <!--  #ifndef  MP-WEIXIN  -->
  <button class="logout-btn" @tap="handleLogout">退出登录</button>
  <!--  #endif  -->
  <view class="mgt8px">
    <change-name @getname="getNewName" :defaultName="userName" v-if="changeName"></change-name>
  </view>
  <button class="buy_btn" @tap="changeOk">确认</button>
</view>
</template>

<script>
// pages/user_info/user_info.js
import { changeUserInfo } from "../../../api/user";
import { uploadPic } from "../../../api/upload";
import auth from "../../../utils/auth";
const app = getApp();
import changeName from "../../../components/changeName/changeName";

export default {
  data() {
    return {
      id: '',
      changeName: false,
      sexList: ['男', '女', '保密'],
      sex: '男',
      date: '',
      photoSrc: '',
      webInfo: uni.getStorageSync('serviceInfo'),
      uploadProgress: 0,
	  isUpload: false,
      userInfo: '',
      mobile: '',
      userName: '',
      sexNo: ''
    };
  },

  components: {
    changeName
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
    this.setData({
      userInfo: uni.getStorageSync('userInfo')
    });
    this.getInfo(options);
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    handleLogout(e) {
      auth.logout(() => {
        uni.switchTab({
          url: '/pages/index/index'
        });
      })
    },
    getNewName(e) {
      console.log(e);
      this.setData({
        userName: e.detail,
        changeName: false
      });
    },

    showChange() {
      this.setData({
        changeName: true
      });
    },

    upload11(task) {
      task.onProgressUpdate(res => {
		 if(!this.isUpload) {
			this.setData({
			  uploadProgress: res.progress
			}); 
		 }
      });
    },

    // 拍照上传
    chooseImage() {
      const _that = this;

      uni.chooseImage({
        count: 1,
        success: function (res) {
          _that.setData({
            uploadProgress: 0
          });
		console.log(42)
          uploadPic(res.tempFilePaths[0], {}, _that.upload11).then(res => {
			  console.log(res);
            _that.setData({
              photoSrc: res,
			  isUpload: true,
              uploadProgress: 0
            });
			setTimeout(() => {
				_that.isUpload = false;
			}, 1000)
          }, (res)=>{
			  console.log(res)
		  });
        }
      });
    },
    changeSex(e) {
      this.setData({
        sex: this.sexList[e.detail.value],
        sexNo: parseInt(e.detail.value) + 1
      });
    },
    getInfo() {
      uni.showLoading({
        title: '加载中...'
      });
      auth.getUserInfo(res => {
        this.setData({
          id: res.id,
          sex: res.sex ? this.sexList[res.sex - 1] : this.sexList[2],
          sexNo: res.sex || 2,
          photoSrc: res.headImgUrl || '',
          mobile: res.mobile || '',
          userName: res.nickname || ''
        });
      })
    },

    changeOk() {
      let cobj = {
        id: this.id,
        nickname: this.userName,
        headImgUrl: this.photoSrc,
        sex: this.sexNo
      };

      if (this.uploadProgress != 0) {
        uni.showToast({
          title: '正在上传头像,请稍后',
          icon: 'none'
        });
        return false;
      }

      uni.showLoading({
        title: '修改中...'
      });
      console.log(cobj);
      changeUserInfo(cobj).then(res => {
        uni.showToast({
          title: '修改成功'
        });
        let userInfo = uni.getStorageSync('userInfo');
        res.token = userInfo.token;
        uni.setStorage({
          'key': 'userInfo',
          'data': res
        });
        console.log(uni.getStorageSync('userInfo'));
        uni.switchTab({
          url: '../index/index'
        });
      });
    }

  }
};
</script>
<style scoped>
.index_btn {
  padding: 0 20rpx;
  height: 94rpx;
  line-height: 94rpx;
  border-bottom: 1rpx solid rgba(247, 245, 248, 1);
}
.photo {
  height: 150rpx;
  line-height: 150rpx;
}
.user_photo {
  width: 129rpx;
  height: 129rpx;
  vertical-align: middle;
  margin: 10rpx 20rpx;
  border-radius: 50%;
}
.uploading{
  width: 129rpx;
  height: 129rpx;
  vertical-align: middle;
  margin: 10rpx 20rpx;
  border-radius: 50%;
  background-color: #eee;
  text-align: center;
}
  .logout-btn{
    width: 50%;
    margin: 20px auto;
    line-height: 40px;
    font-size: 14px;
  }
</style>
