<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="课程名称">
        <el-input v-model="map.courseName" disabled placeholder="请选择课程" class="input-with-select">
          <el-button slot="append" icon="el-icon-search" @click="findCourse" />
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('addChosen')" type="success" plain size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="课程封面" width="122">
        <template slot-scope="scope">
          <img :src="scope.row.courseLogo" width="100" alt="logo">
        </template>
      </el-table-column>
      <el-table-column label="课程名称">
        <template slot-scope="scope">
          <span>{{ scope.row.courseName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="课程类别" width="80">
        <template slot-scope="scope">
          {{ courseCategoryEnum[scope.row.courseCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="课程价格" width="150">
        <template slot-scope="scope">
          <span class="c-info">普通价：{{ scope.row.courseOriginal | amountFormat }}</span>
          <br>
          <span class="c-danger">会员价：{{ scope.row.courseDiscount | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="分销情况" width="160">
        <template slot-scope="scope">
          <span class="c-warning">普通价：{{ (scope.row.courseOriginal * scope.row.chosenPercent)/100 | amountFormat }}/单</span>
          <br>
          <span class="c-warning">会员价：{{ (scope.row.courseDiscount * scope.row.chosenPercent)/100 | amountFormat }}/单</span>
        </template>
      </el-table-column>
      <el-table-column label="分销比例" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.chosenPercent }}% </span>
        </template>
      </el-table-column>
      <el-table-column label="成功分销" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.chosenCount }} 单</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="60">
        <template slot-scope="scope">
          <span class="" :class="{'c-success': scope.row.statusId === 1, 'c-danger': scope.row.statusId === 0}">{{ statusIdEnum[scope.row.statusId] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('viewChosen')" type="primary" plain size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="scope.row.statusId === 0 && checkPermission('chosenUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('chosenUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('deleteChosen')" type="danger" plain size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-chosen :title="chosenAddCtr.title" :visible="chosenAddCtr.visible" @close-callback="closeAddCallback" />
    <edit-chosen :title="chosenEditCtr.title" :visible="chosenEditCtr.visible" :info="chosenEditCtr.info" @close-callback="closeEditCallback" />
    <find-course :title="courseCtr.title" :visible="courseCtr.visible" @close-callback="courseCloseCallback" />
  </div>
</template>

<script>
  import {chosenPage, chosenDelete, chosenUpdateStatus, chosenView} from '@/api/user'
  import AddChosen from '@/views/user/chosen/add/index';
  import EditChosen from '@/views/user/chosen/edit/index';
  import FindCourse from '@/views/user/chosen/add/findCourse';

  export default {
    components: {AddChosen, EditChosen, FindCourse},
    filters: {
      amountFormat(val = 0) {
        return `￥ ${val.toFixed(2).replace(/\d{1,3}(?=(\d{3})+(\.\d*)?$)/g, '$&,')}`
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        statusIdEnum: undefined,
        listLoading: true,
        courseCategoryEnum: undefined,
        chosenAddCtr: {
          title: '课程分销',
          visible: false
        },
        chosenEditCtr: {
          title: '课程分销',
          info: {},
          visible: false
        },
        courseCtr: {
          title: '课程信息--查找带回',
          visible: false
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
        this.statusIdEnum = res;
      })
      this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
        this.courseCategoryEnum = res;
      })
    },
    methods: {
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.courseInfo.courseName + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.courseInfo.courseName + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            chosenUpdateStatus({id: row.id, statusId: statusId}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '是否删除【' + row.courseName + '】该分销？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            chosenDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      findCourse() {
        this.courseCtr.visible = true;
      },
      courseCloseCallback(row) {
        this.courseCtr.visible = false;
        if (row) {
          this.map.courseName = row.courseName;
          this.map.courseId = row.id;
        }
      },
      handleAddRow() {
        this.chosenAddCtr.visible = true;
      },
      closeAddCallback() {
        this.listForPage();
        this.chosenAddCtr.visible = false;
      },
      handleUpdateRow(id) {
        this.listForPage();
        this.chosenEditCtr.visible = false;
        chosenView(id).then(res => {
          this.chosenEditCtr.info = res.data
          this.chosenEditCtr.visible = true
        })
      },
      closeEditCallback() {
        this.listForPage();
        this.chosenEditCtr.visible = false;
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        chosenPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
