<template>
  <div>
    <div class="search_box clearfix">
      <form @submit="goSearch">
        <span class="iconfont">&#xe633;</span>
        <input v-model="searchStr" type="text" class="search_input">
        <button class="search_btn">
          搜索
        </button>
      </form>
    </div>
    <div class="container">
      <ul class="tabs clearfix mgt20">
        <li :class="{active: int == 1}" v-if="showList.indexOf(1) != -1" @click="changeTab(1)" class="tab fl">
          点播
        </li>
        <li :class="{active: int == 2}" v-if="showList.indexOf(2) != -1" @click="changeTab(2)" class="tab fl">
          直播
        </li>
        <li :class="{active: int == 4}" v-if="showList.indexOf(4) != -1" @click="changeTab(4)" class="tab fl">
          文库
        </li>
        <li :class="{active: int == 5}" v-if="showList.indexOf(5) != -1" @click="changeTab(5)" class="tab fl">
          试卷
        </li>
        <li :class="{active: int == 8}" v-if="showList.indexOf(8) != -1" @click="changeTab(8)" class="tab fl">
          资讯
        </li>
        <li :class="{active: int == 6}" v-if="showList.indexOf(6) != -1" @click="changeTab(6)" class="tab fl">
          博客
        </li>
        <li :class="{active: int == 7}" v-if="showList.indexOf(7) != -1" @click="changeTab(7)" class="tab fl">
          问答
        </li>
      </ul>
      <div v-if="int < 3">
        <ul class="list">
          <li v-for="(item, index) in pageObj.list" :key="index" @click="goDateil(item)" class="item">
            <div class="icon">
              <img :src="item.courseLogo" alt="">
            </div>
            <div class="info">
              <!-- eslint-disable -->
              <div class="name" v-html="item.courseName" />
              <span v-if="item.isFree" class="price_box">免费</span>
              <span v-else class="price_box">
                ￥{{ item.courseOriginal.toFixed(2) }}
              </span>
              <span class="countStudy_box">{{ item.countStudy }} 人已学习</span>
            </div>
          </li>
        </ul>
      </div>
      <div v-if="int == 4" class="mgt20">
        <ResourceList :noBorder="true" :gutter="20" :span="12" :list="pageObj.list"></ResourceList>
      </div>
      <div  v-if="int == 5"  class="mgt20" style="background: #fff;">
        <examList :list="pageObj.list" :hideNoData="true" :span="8"></examList>
      </div>
      <div  v-if="int == 6"  class="mgt20" >
        <y-blog-list :page-obj="pageObj" :hideLoad="true" />
      </div>
      <div  v-if="int == 7"  class="mgt20" >
        <y-question-list    :page-obj="pageObj" :hideLoad="true" />
      </div>
      <div  v-if="int == 8"  class="mgt20" >
        <y-info-list :pageObj="pageObj" :hideClass="true" :hidePage="true" />
      </div>
      <div v-if="(!pageObj.list || !pageObj.list.length)" class="no_data">
        暂时没有数据
      </div>
      <br>
      <div class="center">
        <el-pagination
          class="page-panel"
          background
          layout="prev, pager, next"
          :page-size="pageObj.pageSize"
          :current-page="pageObj.pageCurrent"
          :total="pageObj.totalCount"
          @current-change="getPage">
        </el-pagination>
      </div>
    </div>
    <div class="h20" />
  </div>
</template>
<script>
import { searchCourse } from '~/api/course.js'
import * as apis from '~/api/account/exam.js'
import examList from '~/components/userexam/examList'
import ResourceList from '~/components/resource/ResourceList'
import YBlogList from '~/components/blog/BlogList'
import YQuestionList from '~/components/question/QuestionList'
import YInfoList from '~/components/information/InfoList'
import { searchBlog } from '~/api/blog/community.js'
import { searchQuestions } from '~/api/question.js'

export default {
  components: {
    examList,
    YInfoList,
    ResourceList,
    YBlogList,
    YQuestionList
  },
  head() {
    return {
      title: this.$store.state.clientData.name + '-搜索',
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.$store.state.webInfo.keyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$store.state.webInfo.desc
        }
      ]
    }
  },
  data() {
    return {
      webInfo: this.$store.state.webInfo,
      activityList: [],
      int: 1,
      showList: [],
      searchStr: '',
      isHfield: 1,
      pageCurrent: 1,
      pageObj: {
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  watch: {
    '$route'() {
      if (this.$route.params.str) {
        this.pageCurrent = 1
        this.searchStr = this.$route.params.str
        this.biginSearch()
      }
    }
  },
  async asyncData(context) {
    const { store } = context;
    const navList = store.state.navList.list;
    const showList = [1];
    navList.forEach((e) => {
      const path = e.navUrl;
      let type = 1;
      if (path.indexOf('live') !== -1) {
        type = 2
      }
      if (path.indexOf('resource') !== -1) {
        type = 4
      }
      if (path.indexOf('exam') !== -1) {
        type = 5
      }
      if (path.indexOf('blog') !== -1) {
        type = 6
      }
      if (path.indexOf('question') !== -1) {
        type = 7
      }

      if (path.indexOf('/info') !== -1) {
        type = 8
      }
      showList.push(type);
    })

    const dataObj = {
      searchStr: context.params.str,
      showList
    }
    const type = parseInt(context.query.type || 1)
    dataObj.int = type;
    const searchStr = context.params.str
    try {
      let obj = {
        isHfield: 1,
        courseCategory: 1,
        courseName: searchStr,
        pageCurrent: 1,
        pageSize: 20
      }
      let searchData = {};
      if (type < 5) {
        obj.courseCategory = type
        searchData = await searchCourse(obj)
      }
      if (type === 5) {
        obj = {
          pageCurrent: 1,
          pageSize: 20,
          isHfield: 1,
          examName: searchStr
        }
        searchData = await apis.examSearchList(obj)
      }

      if (type === 6) {
        obj = {
          articleType: 1,
          isHfield: 1,
          pageCurrent: 1,
          title: searchStr
        }
        searchData = await searchBlog(obj)
      }
      if (type === 7) {
        obj = {
          pageCurrent: 1,
          title: searchStr,
          pageSize: 20,
          isHfield: 1
        }
        searchData = await searchQuestions(obj)
      }
      if (type === 8) {
        obj = {
          articleType: 2,
          isHfield: 1,
          pageCurrent: 1,
          title: searchStr
        }
        searchData = await searchBlog(obj)
      }
      const pageObj = searchData.data || {}
      dataObj.pageObj = pageObj
      return dataObj
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {},
  methods: {
    changeTab(int) {
      this.pageCurrent = 1
      this.int = int
      this.getData();
    },
    getPage(int) {
      this.pageCurrent = int
      this.getData();
    },
    getData() {
      const int = this.int;
      if (int < 5) {
        this.biginSearch()
      } else if (int === 5) {
        this.searchExam();
      } else if (int === 6) {
        this.searchBlog();
      } else if (int === 7) {
        this.searchQuestions();
      } else if (int === 8) {
        this.searchInfo();
      }
    },
    searchQuestions() {
      searchQuestions({
        pageCurrent: this.pageCurrent,
        title: this.searchStr,
        pageSize: 20,
        isHfield: 1
      }).then((res) => {
        if (res.code === 200) {
          this.pageObj = res.data
        }
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: 1,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        }
      })
    },
    searchBlog() {
      searchBlog({
        articleType: 1,
        isHfield: 1,
        pageCurrent: this.pageCurrent,
        title: this.searchStr
      }).then((res) => {
        if (res.code === 200) {
          this.pageObj = res.data
        }
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: 1,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        }
      })
    },
    async searchExam() {
      const res = await apis.examSearchList({
        pageCurrent: this.pageCurrent,
        pageSize: 20,
        isHfield: 1,
        examName: this.searchStr
      })
      if (res.code === 200 && res.data.list) {
        res.data.list = res.data.list || [];
        this.pageObj = res.data;
      }
    },

    searchInfo() {
      searchBlog({
        articleType: 2,
        isHfield: 1,
        pageCurrent: this.pageCurrent,
        title: this.searchStr
      }).then((res) => {
        if (res.code === 200) {
          this.pageObj = res.data
        }
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: 1,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        }
      })
    },
    goSearch(e) {
      e.preventDefault()
      this.getData();
    },
    biginSearch() {
      this.$nuxt.$loading.start()
      searchCourse({
        isHfield: this.isHfield,
        courseCategory: this.int,
        courseName: this.searchStr,
        pageCurrent: this.pageCurrent,
        pageSize: 20
      }).then((res) => {
        this.$nuxt.$loading.hide()
        if (res.code === 200) {
          res.data.list = res.data.list || [];
          this.pageObj = res.data
        }
      })
    },
    // 跳转详情页
    goDateil(item) {
      let routeData = ''
      if (item.courseCategory === 1) {
        routeData = this.$router.resolve({ name: 'view-id', params: { id: item.id } })
      } else if (item.courseCategory === 2) {
        routeData = this.$router.resolve({ name: 'live-detail-id', params: { id: item.id } })
      } else if (item.courseCategory === 4) {
        routeData = this.$router.resolve({ name: 'resource-detail-id', params: { id: item.id } })
      }
      window.open(routeData.href, '_blank')
    }
  }
}
</script>
<style lang="scss" scoped>
  .search_box {
    padding-top: 30px;
    background: rgba(226, 226, 226, 1);
    border-radius: 6px;
    height: 120px;
    form {
      width: 830px;
      margin: 0 auto;
      position: relative;
      .iconfont {
        position: absolute;
        left: 10px;
        top: 2px;
        line-height: 50px;
        font-size: 22px;
        margin-right: 2px;
        color: #999;
        font-weight: 700;
      }
    }
    .keys {
      width: 830px;
      margin: 20px auto 0;
      color: #999;
      .key_word {
        display: inline-block;
        padding: 0 10px;
      }
    }
    .search_input {
      width: 690px;
      padding-left: 40px;
      height: 50px;
      line-height: 50px;
      background: rgba(247, 245, 248, 1);
      border-radius: 4px 0 0 4px;
      font-size: 13px;
      color: #333;
    }
    .search_btn {
      width: 93px;
      height: 51px;
      background: rgba(236, 126, 0, 1);
      color: #fff;
      border-radius: 0 4px 4px 0;
      position: relative;
      top: 2px;
      left: -5px;
      border: none;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .h50 {
    height: 50px;
    line-height: 50px;
  }
  .tabs {
    background: #fff;
    padding-left: 30px;
    border-radius: 6px;
    .tab {
      height: 66px;
      line-height: 66px;
      font-size: 14px;
      margin-right: 30px;
      color: #999;
      cursor: pointer;
      &:hover {
        color: #D51423;
      }
      &.active {
        color: #D51423;
        border-bottom: 2px solid #D51423;
        font-weight: 700;
      }
    }
  }
  .list{
    padding-top: 10px;
    &:after{
      content: "";
      display: block;
      clear: both;
    }
    .item{
      margin: 15px 24px 15px 0;
      width: 280px;
      border-radius: 6px;
      background-color: #fff;
      float: left;
      border: 1px solid rgb(245, 245, 245);
      &:nth-child(4n) {
        margin-right: 0
      }
      &:hover {
        text-decoration: none;
        color: #000;
        box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
        transition: all .3s;
      }
      .icon{
        width: 280px;
        height: 168px;
        border-radius: 6px 6px 0 0;
        background-color: #eee;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        img {
          width: 280px;
          height: 168px;
        }
      }
      .info{
        width: 268px;
        // height: 122px;
        font-size: 14px;
        color: #333;
        overflow: hidden;
        padding-bottom: 10px;
        position: relative;
        .price_box {
          font-size: 16px;
          color: red;
          padding-left: 10px;
        }
        .countStudy_box {
          font-size: 12px;
          position: absolute;
          bottom: 10px;
          right: 10px;
          color: #9199A1;
        }
      }
      .name{
        display: block;
        color: #333;
        font-size: 14px;
        cursor: pointer;
        line-height: 44px;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .test_list{
    .test_option{
      float: left;
      width: 570px;
      padding: 18px 25px;
      margin-right: 55px;
      margin-bottom: 20px;
      border-radius: 8px;
      font-size: 14px;
      background-color: #fff;
      &.right_0 {
        margin-right: 0px;
      }
    }
    .iconfont{
      margin-right: 6px;
    }
  }
  .no_data {
    font-size: 20px;
    // font-weight: 700;
    text-align: center;
    line-height: 100px;
    color: #999;
    background: #fff;
    margin: 20px 0;
    border-radius: 6px;
  }
  .h20 {
    height: 20px;
  }
</style>
