<template>
<view>
  <view class="video_box" @tap="goBack"></view>
  <view class="controller">
    <view class="beisu" v-show="!playstatu">
      <text class="text" @tap="showbei">倍速</text>
      <view class="bei_list" v-show="showjs">
        <view @tap="jiasu" :class="bei == 0.8 ? 'on' : ''" data-b="0.8">0.8X</view>
        <view @tap="jiasu" :class="bei == 1.0 ? 'on' : ''" data-b="1.0">1.0X</view>
        <view @tap="jiasu" :class="bei == 1.25 ? 'on' : ''" data-b="1.25">1.25X</view>
        <view @tap="jiasu" :class="bei == 2 ? 'on' : ''" data-b="2">1.5X</view>
      </view>
    </view>
    <view class="video_list" @tap="goBack">
      <image src="../../static/images/close.svg" class="close"></image>
    </view>
  </view>
  <video id="polyvVideo" @timeupdate="sendanmu" enable-danmu="true" autoplay="false" @play="isPlay" @pause="pausevideo" class="show_video" :src="videoSrc">
  </video>
</view>
</template>

<script>
// components/look_video/look_video.js
import { getVideoSign } from "../../api/user";
const app = getApp();
const polyv = require("../../utils/polyv.js");
function getRandomColor() {
  let rgb = [];

  for (let i = 0; i < 3; ++i) {
    let color = Math.floor(Math.random() * 256).toString(16);
    color = color.length == 1 ? '0' + color : color;
    rgb.push(color);
  }

  return '#' + rgb.join('');
}

export default {
  data() {
    return {
      userInfo: '',
      videoSrc: '',
      videoContext: '',
      danmu: false,
      playstatu: false,
      bei: 1.0,
      showjs: true
    };
  },

  components: {},
  props: {
    info: {
      type: ['Array', 'Object']
    }
  },

  beforeMount() {
    this.videoContext = uni.createVideoContext('polyvVideo');
    this.setData({
      userInfo: uni.getStorageSync('userInfo'),
      videoContext: uni.createVideoContext('polyvVideo')
    });
    console.log(this.info);
    this.playVideo(this.info.id, this.info.videoVid);
  },

  methods: {
    goBack() {
      console.log(1);
      this.$emit('hidevideo');
    },

    // 播放
    isPlay: function (e) {
      this.setData({
        playstatu: true
      });
    },
    // 暂停播放
    pausevideo: function () {
      this.setData({
        playstatu: false
      });
    },
    // 显示加速列表
    showbei: function () {
      console.log(this.showjs);
      this.setData({
        showjs: !this.showjs
      });
    },
    // 选择倍速
    jiasu: function (e) {
      let beisu = parseFloat(e.currentTarget.dataset.b);
      console.log(beisu);
      console.log(this.videoContext);
      const aa = this.videoContext.playbackRate(beisu);
      console.log(aa);
      this.setData({
        bei: beisu,
        showjs: true
      });
    },

    // 播放视频
    playVideo(no, vid) {
      uni.showLoading({
        title: '加载中'
      });
      let that = this;
      console.log(no, vid);
      getVideoSign({
        videoVid: vid,
        periodId: no
      }).then(res => {
        console.log(res);
        polyv.getVideo(vid, function (playInfo) {
          uni.hideLoading();
          console.log(playInfo);
          that.setData({
            videoSrc: playInfo.src[0]
          });
          console.log(that.videoSrc);
        }, res.ts, res.sign);
      });
    },

    sendanmu: function (e) {
      // console.log(this.danmu)
      let sj = parseInt(3000 * Math.random()) + 10000;
      let num = parseInt(10 * Math.random());

      if (sj < 10000 || this.danmu) {
        return false;
      }

      this.setData({
        danmu: true
      });
      let v1 = this.userInfo;
      let that = this;

      for (let i = 0; i <= num; i++) {
        if (i == 1) {
          this.videoContext.sendDanmu({
            text: v1.mobile,
            color: getRandomColor()
          });
        } else {
          this.videoContext.sendDanmu({
            text: "                                    ",
            color: 'transparent'
          });
        }
      }

      setTimeout(function () {
        that.setData({
          danmu: false
        });
      }, 90000);
    }
  }
};
</script>
<style>
.video_box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.show_video {
  width: 100%;
  height: 450rpx;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 12;
}
.go_back {
  width: 20rpx;
  height: 36rpx;
  z-index: 12;
  position: fixed;
  left: 10rpx;
  top: 50%;
  margin-top: -210rpx;
}
.beisu {
  z-index: 14;
}
.beisu .text{
  display:block;
  background-color:rgba(0,0,0,0.6);
  color:#fff;
  font-size:30rpx;
  width:100rpx;
  line-height:100rpx;
  text-align:center;
  border-radius:6rpx;

}
.beisu .bei_list{
  padding: 10rpx 0;
  background-color:rgba(0,0,0,0.8);
  color:#fff;
  border-radius:4rpx;
  font-size:30rpx;
  line-height:50rpx;
  text-align:center;
  transform: translateY(-300rpx);
  z-index: 14;
}
.beisu .bei_list .on{
  color: springgreen;
}
.video_list {
  line-height: 100rpx;
  z-index: 15;
  color: #fff;
  padding: 0rpx 10rpx;
}
.list {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-325rpx);
  width: 250rpx;
  height: 250rpx;
  background: rgba(255, 255, 255, 0.9);
  z-index: 11;
  color: #fff;
  transition: all 0.3s;
}
.controller {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 100rpx;
  width: 100%;
  background: #000;
  top: 50%;
  left: 0;
  transform: translateY(-324rpx);
  z-index: 12;
}
.list_item {
  font-size: 36rpx;
  color: #333;
  line-height: 60rpx;
  height: 60rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20rpx;
}
.w250 {
  transform: translateY(-575rpx);
}
.active {
  color: #EC7E00;
}
.close {
  width: 40rpx;
  height: 40rpx;
  margin: 0 10rpx;
}
</style>