<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="文章标题">
        <el-input v-model.trim="map.title" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('articleRecommendSave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="文章标题 / 作者">
        <template slot-scope="scope">
          {{ scope.row.title }}
          <br>
          作者：{{ scope.row.bloggerNickname }}
        </template>
      </el-table-column>
      <el-table-column label="创建时间" prop="gmtCreate" width="160" />
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="100" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('articleRecommendView')"  plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">排序</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('articleRecommendUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId === 0 && checkPermission('articleRecommendUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="checkPermission('articleRecommendDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-article-recommend :title="addCtr.title" :visible="addCtr.visible" @close="closeAdd" />
    <edit-article-recommend :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="closeEdit" />
  </div>
</template>

<script>
  import { articleRecommendPage, articleRecommendDelete, articleRecommendUpdateStatus, articleRecommendView } from '@/api/community'
  import AddArticleRecommend from '@/views/community/articleRecommend/message/add/index';
  import EditArticleRecommend from '@/views/community/articleRecommend/message/edit/index';

  export default {
    components: { EditArticleRecommend, AddArticleRecommend },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {
          articleType: 2
        },
        listLoading: true,
        statusIdEnums: {},
        addCtr: {
          title: '添加文章推荐',
          visible: false
        },
        editCtr: {
          title: '修改文章推荐',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.title + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            articleRecommendDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.title + '】？'
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.title + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            articleRecommendUpdateStatus(row.id, statusId).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          articleType: 2
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.addCtr.visible = true;
      },
      closeAdd() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.addCtr.visible = false;
      },
      handleUpdateRow(id) {
        articleRecommendView(id).then(res => {
          this.editCtr.info = res.data;
          this.editCtr.visible = true;
        })
      },
      closeEdit() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.editCtr.visible = false;
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        articleRecommendPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
