<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程简介" prop="introduce">
            <el-input v-model="form.introduce" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">立即创建</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {courseIntroduceAuditSave} from '@/api/course'

export default {
  name: 'AddCourseIntroduceAudit',
  data() {
    return {
      form: {},
      opts: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        gmtModified: [
          {required: true, message: '请输入修改时间', trigger: 'blur'}
        ],
        introduce: [
          {required: true, message: '请输入课程简介', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/course/introduce/audit/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      courseIntroduceAuditSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
