<template>
<view class="page_view" >
  <view class="activity_top">
    <image v-if="actInfo" :src="actInfo.actImg" class="top_img" mode="aspectFill"></image>
  </view>
  <view>
    <view>
   
      <view class="list_box">
        <view v-for="(that, index) in actZoneCourseList" :key="index" class="course_box">
          <view @tap="goDetail" :data-info="that" class="img_box">
            <image class="course_img" :src="that.courseImg"></image>
          </view>
          <view @tap="goDetail" :data-info="that" class="course_name">
            {{that.courseName}}
          </view>
          <view class="course_price">
            <text class="c_red font32">秒杀价:￥{{that.actPrice}}</text>
            <text class="c_999 font20 del_text">原价:￥{{that.orgPrice}}</text>
          </view>
          <button class="activity_btn" @tap="goDetail" :data-info="that" :data-act="item.timeZone">立即抢购</button>
        </view>
        <view class="w340"></view>
      </view>
    </view>
  </view>
  <float-tab shareImg="true" :actid="actInfo.id"></float-tab>
</view>
</template>

<script>
// pages/activity_list/activity_list.js
import { actList } from "../../../api/activity";
let app = getApp();
import timer from './timer.js'
import floatTab from "../../../components/floatTab/floatTab";

export default {
  data() {
    return {
      actZoneCourseList: [],
      actId: '',
      actInfo: ''
    };
  },

  components: {
    floatTab
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.timer = timer;
    this.getActivityList();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    getActivityList() {
      uni.showLoading({
        title: '加载中...'
      });
      actList({
        actType: 3
      }).then(result => {
        uni.hideLoading();
        let actInfo = result.actDTO || {};
        let actZoneCourseList = result.actZoneCourseList || [];
        this.setData({
          actInfo,
          actZoneCourseList
        }); // activityList = activityList.filter(item => {
        //   return item.actType === 3
        // })
        // this.setZoneSpikeTime()
      });
    },

    // 跳转详情
    goDetail(e) {
      let info = e.currentTarget.dataset.info; // console.log(info)

      if (info.courseCategory == 1) {
        uni.navigateTo({
          url: '../../course/view/view?id=' + info.courseId
        });
      } else if (info.courseCategory == 2) {
        uni.navigateTo({
          url: '../../course/live/live?id=' + info.courseId
        });
      } else if (info.courseCategory == 3) {
        uni.navigateTo({
          url: '/pages/library/view/view?id=' + info.courseId
        });
      }
    }

  }
};
</script>
<style scoped>
page {
  background: rgba(29, 44, 150, 1);
  height: 100%;
}
.page_view {
  min-height: 100%;
}
.activity_top {
  height: 297rpx;
}
.top_img {
  width: 100%;
  height: 297rpx;
}
.title_text {
  position: relative;
  display: inline-block;
  padding: 0 50rpx;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36rpx;
  /* color: #fff; */
  font-weight: 650;
}
.title_img {
  position: absolute;
  width: 28rpx;
  height: 16rpx;
  top: 20rpx;
}
.left_img {
  left: 0;
}
.right_img {
  right: 0;
}
.zone_img {
  width: 700rpx;
  height: 95rpx;
  display: block;
  margin: 20rpx auto 0;
}
.list_box {
  width: 700rpx;
  margin: 20rpx auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.course_box {
  background: #fff;
  width: 320rpx;
  height: 360rpx;
  padding: 10rpx;
  margin-bottom: 20rpx;
}
.img_box {
  width: 320rpx;
  height: 156rpx;
  position: relative;
}
.course_img {
  width: 100%;
  height: 100%;
}
.course_name {
  margin-top: 10rpx;
  height: 72rpx;
  font-size: 28rpx;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.course_price {
  height: 42rpx;
  margin-top: 10rpx;
}
.activity_btn {
  height: 50rpx;
  width: 100%;
  background: rgba(213, 20, 35, 1);
  line-height: 50rpx;
  color: #fff;
  font-size: 24rpx;
  margin-top: 20rpx;
}
.w340 {
  width: 340rpx;
}
.del_text {
  text-decoration:line-through;
}
.zone_time {
  display: flex;
  justify-content: center;
}
.time_item {
  flex: 1;
  height: 80rpx;
  font-size: 12px;
  background: rgba(51, 51, 51, 1);
  float: left;
}
.b_red {
  background: rgba(213, 20, 35, 1);
}
.c_yellow {
  color: yellow;
}
</style>