<template>
	<!--pages/account/order/order.wxml-->
	<view>
		<view class="tabs b_fff">
			<view class="tab" @tap="changeTab" data-int="0">
				<text :class="int == 0 ? 'tab_text active' : 'tab_text'">全部</text>
			</view>
			<view class="tab" @tap="changeTab" data-int="1">
				<text :class="int == 1 ? 'tab_text active' : 'tab_text'">未付款</text>
			</view>
			<view class="tab" @tap="changeTab" data-int="2">
				<text :class="int == 2 ? 'tab_text active' : 'tab_text'">已付款</text>
			</view>
		</view>
		<view v-for="(item, index) in orderList" :key="index" class="b_fff mgt8px">
			<view class="order_num">
				<text>订单号：{{item.orderNo}}</text>
				<text class="c_blue">{{status[item.orderStatus]}}</text>
			</view>
			<view class="result_item">
				<image v-if="item.courseLogo" :src="item.courseLogo" class="result_img"></image>
				<view :class="item.courseLogo ? 'course_msg' : 'course_msg flex_row'">
					<text v-if="item.productType !== 5" class="font25 c_333">{{item.productName}}<text v-if="item.courseCategory == 1">(点播)</text><text
						 v-if="item.courseCategory == 2">(直播)</text><text v-if="item.courseCategory == 3">(点播+直播)</text></text>
					<text v-else>{{item.productName}}</text>
					<text class="font33 c_red">￥{{item.pricePaid}}</text>
				</view>
			</view>
			<view class="btn_box" v-if="item.orderStatus == 1 || item.orderStatus == 3">
				<button class="order_btn c_red border_red" @tap="payOrder" :data-orderNo="item.orderNo" :data-payType="item.payType">继续支付</button>
				<button class="order_btn c_999" @tap="closeOrder" :data-orderNo="item.orderNo">取消订单</button>
			</view>
			<view class="btn_box" v-else>
				<navigator v-if="item.courseCategory === 1" :url="'../../course/view/view?id=' + item.courseId" class="order_btn c_red border_red">进入学习</navigator>
				<navigator v-if="item.courseCategory == 2" :url="'../../resourcedetail/resourcedetail?id=' + item.courseId" class="order_btn c_red border_red">进入学习</navigator>
			</view>
		</view>
		<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
	</view>
</template>

<script>
	// pages/account/order/order.js
	import * as apis from "../../../api/user";

	export default {
		data() {
			return {
				map: {
					orderStatus: ''
				},
				status: [0, '待支付', '成功支付', '支付失败', '已关闭'],
				int: 0,
				loadMsg: "",
				orderList: [],
				pageCurrent: 1,
				totalPage: 1,
				submit: false
			};
		},

		components: {},
		props: {},

		/**
		 * 生命周期函数--监听页面加载
		 */
		onLoad: function(options) {
			this.getOrder(1);
		},

		/**
		 * 生命周期函数--监听页面初次渲染完成
		 */
		onReady: function() {},

		/**
		 * 生命周期函数--监听页面显示
		 */
		onShow: function() {},

		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function(e) {
			if (this.pageCurrent < this.totalPage) {
				this.setData({
					loadMsg: '加载中...'
				});
				this.getOrder(this.pageCurrent + 1);
			} else {
				this.setData({
					loadMsg: '没有更多了...'
				});
			}
		},

		/**
		 * 生命周期函数--监听页面隐藏
		 */
		onHide: function() {},
		methods: {
			// 取消支付
			closeOrder(e) {
				let orderNo = e.currentTarget.dataset.orderno;
				uni.showModal({
					title: '取消订单',
					content: '是否取消该订单？',
					success: res => {
						if (res.cancel) {} else {
							apis.closePay({
								orderNo: orderNo
							}).then(result => {
								if (result === '订单关闭成功') {
									uni.showToast({
										title: '取消订单成功'
									});
									this.setData({
										orderList: []
									});
									this.getOrder(1);
								} else {
									uni.showModal({
										title: '删除失败',
										content: result.msg
									});
								}
							}).catch(res => {
								uni.hideLoading();
								this.setData({
									submit: false
								});
							});
						}
					},
					fail: () => {
						uni.showToast({
							title: '系统繁忙，请稍后重试'
						});
					}
				});
			},
			// 呼起支付
			sandPay(payMessage, orderInfo) {
				console.log(payMessage, orderInfo)
				// #ifdef MP || APP-PLUS
				if (orderInfo.payType != 7) {
					let payMessage = JSON.parse(orderInfo.payMessage);
					let paymentObj = {
						timeStamp: payMessage.timeStamp,
						nonceStr: payMessage.nonceStr,
						package: payMessage.packageStr,
						signType: payMessage.signType,
						paySign: payMessage.paySign,
						success: () => {
							console.log('支付成功');
							uni.navigateTo({
								url: '../orderResult/result?no=' + orderInfo.orderNo + '&p=' + orderInfo.price
							});
						},
						fail: (err) => {
							console.log(err)
							this.setData({
								submit: false
							});
							uni.showToast({
								title: '取消支付',
								icon: 'none'
							});
						}
					}; // console.log(payMessage)
					uni.requestPayment(paymentObj);
				} else {
					var GetQueryJson1 = function(url) {
						let arr = []; // 存储参数的数组
						let res = {}; // 存储最终JSON结果对象
						arr = url.split('&'); // 获取浏览器地址栏中的参数

						for (let i = 0; i < arr.length; i++) { // 遍历参数
							if (arr[i].indexOf('=') != -1) { // 如果参数中有值
								let str = arr[i].split('=');
								res[str[0]] = str[1];
							} else { // 如果参数中无值
								res[arr[i]] = '';
							}
						}
						return res;
					}
					let paymentObj = {
						provider: 'alipay',
						orderInfo: orderInfo.payMessage,
						success: () => {
							uni.navigateTo({
								url: '../orderResult/result?no=' + orderInfo.orderNo + '&p=' + orderInfo.price
							});
						},
						fail: (err) => {
							console.log(err)
							this.setData({
								submit: false
							});
							uni.showToast({
								title: '取消支付',
								icon: 'none'
							});
						}
					}; // console.log(payMessage)
					uni.requestPayment(paymentObj);
				}
				return false
				// #endif

				console.log(orderInfo)
				if (orderInfo.payType == 9) { // 微信h5支付
					const href = orderInfo.payMessage
					var a = document.createElement('a');
					a.setAttribute('href', href);
					a.setAttribute('id', 'startTelMedicine');
					// 防止反复添加
					if (document.getElementById('startTelMedicine')) {
						document.body.removeChild(document.getElementById('startTelMedicine'));
					}
					document.body.appendChild(a);
					a.click();
				} else { // 支付宝h5支付
					const div = document.createElement('div')
					/* 此处form就是后台返回接收到的数据 */
					div.innerHTML = orderInfo.payMessage
					document.body.appendChild(div)
					document.forms[0].submit();
				}
			},

			// 继续支付
			payOrder(e) {
				console.log(e.currentTarget.dataset)
				let orderNo = e.currentTarget.dataset.orderno;
				let payType = e.currentTarget.dataset.paytype;
				uni.showLoading({
					title: '提交中...'
				});
				apis.continuePay({
					orderNo: orderNo,
					payType
				}).then(res => {
					uni.hideLoading();
					console.log(res);
					let payMessage = '';
					try {
						payMessage = JSON.parse(res.payMessage || '{}');
					} catch (err) {
						//在此处理错误
					}
					this.sandPay(payMessage, res);
				}).catch(res => {
					uni.hideLoading();
					this.setData({
						submit: false
					});
				});
			},

			changeTab(e) {
				this.setData({
					orderList: [],
					int: e.currentTarget.dataset.int,
					map: {
						orderStatus: e.currentTarget.dataset.int
					}
				});
				this.getOrder(1);
			},

			getOrder(page) {
				// console.log('获取订单列表')
				apis.orderList(this.map, page).then(res => {
					if (res.totalCount === 0) {
						this.setData({
							loadMsg: '暂时没有数据'
						});
					} else {
						res.list.forEach((e) => {
							if (e.productType == 5) {
								e.courseLogo = require('../../../static/images/orderExam.jpg')
							}
							if (e.productType == 3) {
								e.courseLogo = require('../../../static/images/orderVip.jpg')
							}
						})
						this.setData({
							pageCurrent: res.pageCurrent,
							totalPage: res.totalPage,
							orderList: this.orderList.concat(res.list)
						});
					}
				});
			}

		}
	};
</script>
<style scoped>
	/* pages/account/order/order.wxss */
	.tabs {
		display: flex;
		width: 100%;
	}

	.tab {
		flex: 1;
		text-align: center;
	}

	.tab_text {
		display: inline-block;
		height: 94rpx;
		line-height: 94rpx;
		font-size: 33rpx;
		color: #333;
	}

	.active {
		color: #2488EC;
		border-bottom: 1px solid #2488EC;
	}

	.result_item {
		padding: 30rpx 0;
		margin: 0 20rpx;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgb(235, 235, 235);
	}

	.result_img {
		width: 49%;
		height: 208rpx;
		border-radius: 6px;
	}

	.course_msg {
		width: 49%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.flex_row {
		width: 100%;
		flex-direction: row;
	}

	.order_num {
		color: #999;
		font-size: 25rpx;
		display: flex;
		justify-content: space-between;
		margin: 0 20rpx;
		padding: 30rpx 0 10rpx 0;
		border-bottom: 1px solid rgba(247, 245, 248, 1);
	}

	.btn_box {
		padding: 20rpx;
		height: 50rpx;
	}

	.order_btn {
		width: 163rpx;
		height: 55rpx;
		line-height: 55rpx;
		font-size: 25rpx;
		background: #fff;
		float: right;
		margin-left: 20rpx;
		border: 1rpx solid #999;
		border-radius: 6px;
		text-align: center;
	}

	.border_red {
		border: 1rpx solid #D51423;
	}
</style>
