<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
    width="50%"
  >
    <el-form inline label-width="100px">
      <el-form-item class="form-group" label="短信标题:">
        <span>{{ formData.msgTitle }}</span>
      </el-form-item>
      <el-form-item class="form-group" label="创建时间:">
        <span>{{ formData.gmtCreate }}</span>
      </el-form-item>
      <el-form-item class="form-group" label="用户手机:">
        <span>{{ formData.mobile }}</span>
      </el-form-item>
      <el-form-item class="form-group" label="用户编号:">
        <span>{{ formData.userNo }}</span>
      </el-form-item>
      <el-form-item class="form-group" label="短信ID:">
        <span>{{ formData.msgId }}</span>
      </el-form-item>
      <el-form-item class="form-group" label="短信类型:">
        <span>{{ msgTypeEnum[formData.msgType] }}</span>
      </el-form-item>
      <el-form-item class="form-group" label="是否阅读:">
        <span>{{ isReadEnum[formData.isRead] }}</span>
      </el-form-item>
      <el-form-item class="form-group" label="是否置顶:">
        <span>{{ isTopEnum[formData.isTop] }}</span>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>
<script>
export default {
  name: 'UserMsgView',
  props: {
    // route object
    formData: {
      type: Object,
      default: () => {
      }
    },
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      msgTypeEnum: [],
      isReadEnum: [],
      isTopEnum: []
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'MsgTypeEnum', type: 'obj'}).then(res => {
      this.msgTypeEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'IsReadEnum', type: 'obj'}).then(res => {
      this.isReadEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'IsTopEnum', type: 'obj'}).then(res => {
      this.isTopEnum = res;
    })
  },
  methods: {
    handleClose() {
      this.$emit('close-callback')
    }
  }
}
</script>
<style scoped>
  .form-group {
    width: 49%;
    margin-bottom: 0;
    margin-right: 0;
  }
</style>
