<template>
  <div>
    <div class="exam-list" v-if="list.length">
      <el-row :gutter="20">
        <el-col :span="span" v-for="(item, index) in list" :key="index">
          <nuxt-link :to="{ path: '/exam/view/' + item.id }" target="_blank">
            <div class="exam-item">
              <div class="exam-item-title-box">
                <i class="exam-item-icon">{{
                  item.subjectName ? item.subjectName[0] : "卷"
                }}</i>
                <div class="exam-item-title" v-html="item.examName"></div>
                <div class="exam-item-price">
                  {{ item.orgPrice ? "￥" + item.orgPrice : "免费" }}
                </div>
              </div>
              <div class="exam-item-tip">
                <span v-if="item.gmtModified">更新: {{ item.gmtModified }}</span> &nbsp;
                 <span v-if="item.studyCount">浏览：{{ item.studyCount }}</span>&nbsp;&nbsp;
                <span v-if="item.downloadCount">下载：{{ item.downloadCount }}&nbsp;次</span>
              </div>
            </div>
          </nuxt-link>
        </el-col>
      </el-row>
    </div>
    <div v-if="!list.length && !hideNoData" class="notdata">
      暂时还没有相关试卷!
    </div>
  </div>
</template>

<script>
export default {
  name: 'ExamListVue',
  props: {
    hideNoData: {
      type: Boolean
    },
    list: {
      type: [Object, Array],
      default() {
        return [];
      }
    },
    span: {
      type: Number,
      default: 12
    }
  }
};
</script>

<style scoped lang="scss">
.exam-list {
  padding: 20px;
  .exam-item {
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    .exam-item-tip {
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
      color: #999999;
      line-height: 20px;
      padding-left: 28px;
    }
    .exam-item-title-box {
      display: flex;

      .exam-item-title {
        flex: 1;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 36px;
      }
      .exam-item-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border: 1px solid #0c9bff;
        color: #0c9bff;
        border-radius: 3px;
        display: inline-block;
        text-align: center;
        position: relative;
        line-height: 18px;
        position: relative;
        top: 8px;
      }
      .exam-item-price {
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #d51423;
        text-align: right;
        line-height: 36px;
        margin-left: 10px;
      }
    }
  }
}

.notdata {
  line-height: 120px;
  text-align: center;
  font-size: 18px;
}
</style>
