<template>
  <div class="explain-box">
    <div v-if="problem.problemStatus == 2 && type != 2" class="status">
      <i class="el-icon-success"></i>答对了
    </div>
    <div v-if="problem.problemStatus == 1 && type != 2" class="status red">
      <i class="el-icon-error"></i>答错了
    </div>
    <div v-if="problem.problemStatus == 3 && type != 2" class="status blue">
      <i class="el-icon-info"></i>此题型要人工评分
    </div>
    <div class="explain-box-item">
      <div class="explain-box-item-title">学员答案：</div>
      <div v-if="problem.problemType == 4" class="explain-box-item-centent">
        <div class="issus-item-answer" style="margin-top: 0px">
          <el-card shadow="hover" style="margin-bottom: 10px" v-for="(item,index) in problem.userAnswerText" :key="index">
            <div style="display:flex">
              <el-tag class="explain-box-item-tag">{{ index + 1 }}</el-tag> <div style="flex:1" v-html="item"></div>
            </div>
          </el-card>
        </div>
      </div>
      <div v-if="problem.problemType != 4" class="explain-box-item-centent">
        <div class="issus-item-answer-text green w-e-text">
          <div v-html="problem.userAnswerText || '<span style=\'color:#aaa\'>请输入答案</span>'"></div>
        </div>
      </div>
      <!-- <div v-if="problem.problemType < 4" class="explain-box-item-centent green">{{ problem.userAnswerText }}</div> -->
    </div>
    <div class="explain-box-item" v-if="problem.problemAnswerText && isHidden">
      <div class="explain-box-item-title">标准答案：</div>
      <div v-if="problem.problemType == 4" class="explain-box-item-centent">
        <div class="issus-item-answer" style="margin-top: 0px">
           <el-card shadow="hover" style="margin-bottom: 10px" v-for="(item,index) in problem.problemAnswerText" :key="index">
            <div style="display:flex">
              <el-tag class="explain-box-item-tag">{{ index + 1 }}</el-tag> <div style="flex:1" v-html="item"></div>
            </div>
          </el-card>
        </div>
      </div>
      <div v-else v-html="problem.problemAnswerText" class="explain-box-item-centent  w-e-text"></div>
    </div>

    <div class="explain-box-item" v-if="type == 2 && (problem.score || problem.userScore)">
      <div class="explain-box-item-title">讲师评分：</div>
      <div class="explain-box-item-centent">
        <span class="red">{{ problem.userScore }}</span>分
      </div>
    </div>

    <div class="explain-box-item" v-if="isHidden">
      <div class="explain-box-item-title">得&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分：</div>
      <div class="explain-box-item-centent">
        <span v-if="problem.problemStatus == 3" class="red">此题型要人工评分</span>
        <span v-else>
          <span class="red">{{ problem.userScore }}</span>分
        </span>
      </div>
    </div>

    <div v-if="type == 1 && problem.problemStatus == 3" class="explain-box-item">
      <div class="explain-box-item-title">{{ type == 2?'学员得分': '自评得分' }}：</div>
      <div class="explain-box-item-centent">
        <el-button v-for="item in scoreList" :key="item" @click="setUserScore(item)" :type="item == problem.userScore?'primary' : ''">{{ item }}分</el-button>
        <el-input @input="test" v-model="problem.userScore" class="explain-box-item-score" placeholder="自定义"></el-input>
      </div>
    </div>
    <div v-if="type == 2 && problem.isScore" class="explain-box-item">
      <div class="explain-box-item-title">{{ type == 2?'学员得分': '自评得分' }}：</div>
      <div class="explain-box-item-centent">
        <el-button v-for="item in scoreList" :key="item" @click="setUserScore(item)" :type="item == problem.userScore?'primary' : ''">{{ item }}分</el-button>
        <el-input @input="test" v-model="problem.userScore" class="explain-box-item-score" placeholder="自定义"></el-input>
        <el-button type="danger" v-if="type == 2" @click="submit()">确定</el-button>
      </div>
    </div>

    <div v-if="problem.analysis && isHidden" class="explain-box-item">
      <div class="explain-box-item-title">解&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;析：</div>
      <div v-html="problem.analysis" class="explain-box-item-centent green"></div>
    </div>
     <div v-if="problem.emphasis && isHidden" class="explain-box-item">
      <div class="explain-box-item-title">考&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点：</div>
      <div v-html="problem.emphasis" class="explain-box-item-centent green"></div>
    </div>

    <div v-if="problem.videoId && problem.videoVid && isHidden" class="explain-box-item">
      <div class="explain-box-item-title">解析视频：</div>
      <div class="explain-box-item-centent green">
        <el-button @click="playVideo(problem)" type="success">点击播放</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import * as gradeApis from '~/api/account/grade.js'
export default {
  name: 'ExplainVue',
  props: {
    problem: {
      type: Object,
      default() {
        return {}
      }
    },
    type: {
      type: Number,
      default() {
        return 1
      }
    }
  },
  data() {
    return {
      scoreList: [1, 3, 5, 10]
    }
  },
  computed: {
    isHidden() {
      return !((this.type === 2) && this.problem.isHidden)
    }
  },
  mounted() {
    console.log(this.problem)
  },
  methods: {
    setUserScore(userScore) {
      this.problem.userScore = userScore;
      this.$forceUpdate()
    },
    submit() {
      gradeApis.auditExamWnswer({
        id: this.problem.userAnswerId,
        remark: '',
        score: this.problem.userScore
      }).then(res => {
        if (res.code === 200) {
          this.$message({
            message: '评分成功！',
            type: 'success'
          });
        }
      })
    },
    playVideo(item) {
      this.$emit('playVideo', {
        id: item.id,
        videoVid: item.videoVid,
        type: 'exam'
      })
    }
  }
}
</script>

<style lang="scss">
.explain-box-item-centent {
  .el-card__body {
    padding: 6px 10px;
  }
}

.explain-box {
  .explain-box-item-centent,
  .issus-item-answer-text {
    overflow-y: auto;
    padding-left: 0px;
    p:first-child {
      margin-top: 4px;
    }
  }
}
</style>

<style scoped lang="scss">

  .explain-box {
    background-color: #f5f5f5;
    padding: 15px 15px 10px;
    border-radius: 3px;
    margin: 30px 0;
    position: relative;

    .explain-btn {
      position: absolute;
      right:20px;
      top: 16px;
      font-size: 13px;

    i {
      font-size: 19px;
      position: relative;
      top:2px;
      color: rgba(36, 136, 236, 1);;
    }
    }

    .explain-box-item {
      line-height: 26px;
      display: flex;
      padding: 0 30px;
      margin: 10px 0;
      font-size: 13px;
    .explain-box-item-centent {
      flex: 1;
      .explain-box-item-tag {
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
        top: 3px;
      }
    }
    }

    .explain-box-item-score {
      width: 70px;
      display: inline-block;
      margin-left: 6px;
      margin-right: 6px;
    }
    .status {
      font-weight: 700;
      font-style: normal;
      font-size: 15px;
      color:rgb(112, 182, 3);
      line-height: 28px;
      i {
        font-size: 22px;
        margin-right: 10px;
        position: relative;
        top: 3px;
        color:rgb(112, 182, 3);

      }
    }

    .green {
      color:rgb(112, 182, 3);
      .el-icon-error {
        color:rgb(112, 182, 3);
      }
    }
    .red {
      color:red;
      .el-icon-error {
        color:red;
      }
    }

    .blue {
      color: #2488ec;
      .el-icon-info {
        color: #2488ec;
      }
    }

  }
</style>
