<template>
    <div class="app-container">
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="用户电话">
          <el-input v-model="map.mobile" />
        </el-form-item>
        <el-form-item class="filter-item" label="登录类型">
          <el-select v-model="map.loginType" clearable placeholder="请选择">
            <el-option
              v-for="(value, key) in lognTypeEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="登陆日期">
          <el-date-picker
            v-model="gmtCreate"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="gmtCreatePickerOptions"
          />
        </el-form-item>
        <el-form-item label="注册日期">
          <el-date-picker
            v-model="registerTime"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="gmtCreatePickerOptions"
          />
        </el-form-item>
        <el-form-item class="filter-item" label="">
            <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
            <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
        </el-form>
        <el-table
                :data="list"
                size="mini"
                element-loading-text="Loading"
                border
                fit
                highlight-current-row
        >
          <el-table-column align="center" type="index" label="序号" width="50" />
          <el-table-column label="用户电话" prop="mobile" width="100"/>
          <el-table-column label="登录类型" width="70">
            <template slot-scope="scope">
              {{ lognTypeEnums[scope.row.loginType] }}
            </template>
          </el-table-column>
            <el-table-column label="登录IP" prop="loginIp" width="120"/>
          <el-table-column label="国家" prop="country" />
          <el-table-column label="省" prop="province" />
          <el-table-column label="市" prop="city" />
          <el-table-column label="浏览器" prop="browser" />
          <el-table-column label="操作系统" prop="os" />
          <el-table-column label="注册时间" prop="registerTime" />
          <el-table-column label="登录时间" prop="gmtCreate" />
        </el-table>
        <el-pagination
          :current-page="page.pageCurrent"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="page.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount"
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
    </div>
</template>

<script>
import { userLogPage } from '@/api/data'
export default {
  data() {
      return {
        gmtCreatePickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        page: {
            beginPageIndex: 1,
            pageCurrent: 1,
            endPageIndex: 8,
            pageSize: 20,
            totalCount: 0,
            totalPage: 0
        },
        gmtCreate: [],
        registerTime: [],
        list: [],
        map: {},
        lognTypeEnums: {},
        listLoading: true
      }
  },
  created() {
    this.listForPage()
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'LognTypeEnum', type: 'obj'}).then(res => {
      this.lognTypeEnums = res;
    });
  },
  methods: {
      handleSizeChange(size) {
          this.page.pageSize = size
          this.page.pageCurrent = 1
          this.listForPage();
      },
      handleCurrentChange(current) {
          this.page.pageCurrent = current
          this.listForPage();
      },
      handleReset() {
        this.$route.params.query = '';
        this.gmtCreate = '';
        this.registerTime = '';
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
          // this.listLoading = true
        if (this.$route.params.query) {
          const end = new Date();
          const start = new Date();
          if (this.$route.params.query === 1) {
            this.gmtCreate = [start, end]
          } else if (this.$route.params.query === 2) {
            this.registerTime = [start, end]
          }
        }
        if (this.gmtCreate) {
          this.map.beginGmtCreate = this.gmtCreate[0];
          this.map.endGmtCreate = this.gmtCreate[1];
        }
        if (this.registerTime) {
          this.map.beginRegisterTime = this.registerTime[0];
          this.map.endRegisterTime = this.registerTime[1];
        }
        this.loading.start()
        userLogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
            this.list = res.data.list
            this.page.pageCurrent = res.data.pageCurrent
            this.page.totalCount = res.data.totalCount
            this.page.pageSize = res.data.pageSize
        })
      }
  }
}
</script>
