<template>
	<view class="searchMap">

		<view v-if="int != '3'" class="tabs b_fff">
			<view class="tab" @tap="changeTab" data-int="1">
				<text :class="int == 1 ? 'tab_text active' : 'tab_text'">点播</text>
			</view>
			<view class="tab" @tap="changeTab" data-int="2">
				<text :class="int == 2 ? 'tab_text active' : 'tab_text'">直播</text>
			</view>
			<view class="tab" @tap="changeTab" data-int="5">
				<text :class="int == 5 ? 'tab_text active' : 'tab_text'">试卷</text>
			</view>
			<view class="tab" @tap="changeTab" data-int="4">
				<text :class="int == 4 ? 'tab_text active' : 'tab_text'">文库</text>
			</view>
			<view class="tab" @tap="changeTab" data-int="8">
				<text :class="int == 8 ? 'tab_text active' : 'tab_text'">资讯</text>
			</view>

		</view>
		<scroll-view scroll-y="true" class="scroll-Y">

			<!--pages/course/searchList/list.wxml-->
			<view v-if="int == '3'" class="libbrary_list">
				<!-- 题库 -->
				<view class="resource_items">
					<navigator v-for="(item, index) in courseList" :key="index" :url="'/pages/library/view/view?id=' + item.id" class="resource_item mgt20">
						<image class="resource_icon" src="../../../static/images/resource_icon.png"></image>
						<rich-text class="w487 c_333" :nodes="item.courseName"></rich-text>
						<view v-if="showPrice" class="font25">
							<text class="c_red">{{!item.isFree ? '￥' + item.courseOriginal : '免费'}} </text>
							<text v-if="!item.isFree" class="c_gold">SVIP会员:{{item.courseDiscount ? '￥' + item.courseDiscount : '免费'}}</text>
						</view>
					</navigator>
				</view>
				<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
			</view>
			<view v-else class="course_list">
				<!-- 课程 -->
				<view v-if="int < 3" v-for="(item, index) in courseList" :key="index" @tap="goDetail" :data-id="item.id" :data-type="int"
				 class="result_item">
					<view class="img_box">
						<view class="qizi" v-if="activityList[index] && showPrice">
							<view v-if="activityList[index].actType == 2">
								<view>优惠卷</view>
								<view>{{activityList[index].actPrice}}</view>
							</view>
						</view>
						<image :src="item.courseLogo" class="result_img"></image>
					</view>
					<view class="course_msg">
						<rich-text class="font25 c_333" :nodes="item.courseName"></rich-text>
						<text class="font25 c_gold" v-if="!hidePrice && !item.isFree">SVIP会员:{{item.courseDiscount ? '￥' + item.courseDiscount : '免费'}}</text>
						<text class="font33 c_red" v-if="!hidePrice">{{!item.isFree ? '￥' + item.courseOriginal : '免费'}}</text>
						<text v-else></text>
					</view>
				</view>
			</view>
			<examList v-if="int == 5" :examList="examList"></examList>
			<resource-list :list="courseList" v-if="int == '4'"></resource-list>
			<news-list :list="courseList" v-if="int == '8'"></news-list>
			<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
		</scroll-view>
	</view>
</template>

<script>
	// pages/course/searchList/list.js
	let app = getApp();
	import * as apis from "../../../api/course";
	import examList from "@/components/exam/examList";
	import {
		examSearchList
	} from "@/api/exam";
	import * as blogApis from "../../../api/blog";
	import resourceList from "@/components/resource/resourceList.vue"
	import newsList from "@/components/news/newsList.vue"
	export default {
		data() {
			return {
				int: 1,
				showPrice: true,
				loadMsg: '没有更多了...',
				pageCurrent: 1,
				totalPage: 1,
				courseName: '',
				courseList: [],
				examList: [],
				activityList: []
			};
		},

		components: {
			examList,
			resourceList,
			newsList
		},
		props: {},

		/**
		 * 生命周期函数--监听页面加载
		 */
		onLoad: function(options) {
			this.setData({
				showPrice: uni.getStorageSync('showPrice'),
				courseList: [],
				courseName: options.name,
				int: options.type ? options.type : 1
			});
			if (this.courseName) {
				this.historySearch();
			}
			this.getCourseList();
		},

		/**
		 * 生命周期函数--监听页面初次渲染完成
		 */
		onReady: function() {},

		/**
		 * 生命周期函数--监听页面显示
		 */
		onShow: function() {},

		/**
		 * 生命周期函数--监听页面隐藏
		 */
		onHide: function() {},

		/**
		 * 生命周期函数--监听页面卸载
		 */
		onUnload: function() {},

		/**
		 * 页面相关事件处理函数--监听用户下拉动作
		 */
		onPullDownRefresh: function() {},

		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function() {
			this.setData({
				loadMsg: '没有更多了...'
			});

			if (this.pageCurrent < this.totalPage) {
				this.setData({
					loadMsg: '加载中...',
					pageCurrent: this.pageCurrent + 1
				});
				this.getCourseList();
			}
		},

		/**
		 * 用户点击右上角分享
		 */
		onShareAppMessage: function() {},
		methods: {
			async getCourseList(page = 1) {
				uni.showLoading({
					title: '加载中..'
				});
				if (this.int < 5) {
					let obj = {
						courseCategory: this.int,
						courseName: this.courseName
					};
					apis.searchList(this.pageCurrent, 20, obj).then(res => {
						const totalPage = res.totalPage;
						const courseList = res.list;
						courseList.map(item => {
							item.courseName = item.courseName.replace(/mark/g, "b");
						});
						this.setData({
							totalPage,
							courseList: this.courseList.concat(courseList)
						});
					});
				}

				if (this.int == 5) {
					const res = await examSearchList({
						pageCurrent: this.pageCurrent,
						pageSize: 20,
						isHfield: 1,
						examName: this.courseName
					})
					if (res.list) {
						res.list = res.list || [];
						this.examList = res.list;
					}
				}

				if (this.int == '8') {
					let obj = {
						articleType: 2,
						isHfield: 1,
						title: this.courseName
					}
					blogApis.searchBlog(this.pageCurrent, 20, obj).then((res) => {
						const totalPage = res.totalPage;
						const courseList = res.list;
						courseList.map(item => {
							item.title = item.title.replace(/mark/g, "b");
						});
						this.setData({
							totalPage,
							courseList: this.courseList.concat(courseList)
						});
					});
				}
			},

			// 跳转课程详情
			goDetail(e) {
				let id = e.currentTarget.dataset.id;
				if (this.int == '1') {
					uni.navigateTo({
						url: '../view/view?id=' + id
					});
				} else {
					uni.navigateTo({
						url: '../live/live?id=' + id
					});
				}
			},
			changeTab(e) {
				this.setData({
					int: e.currentTarget.dataset.int,
					pageCurrent: 1,
					courseList: [],
					activityList: []
				});
				this.getCourseList();
			},
			historySearch() {
				let historyList = [];
				let flag = false;
				let storaName = 'searchHistory';
				if (this.int == '3') {
					storaName = 'libraryHistory';
				}
				if (uni.getStorageSync(storaName)) {
					historyList = uni.getStorageSync(storaName);
					for (let i = 0; i < historyList.length; i++) {
						if (historyList[i].name === this.courseName) {
							flag = true;
							historyList[i].count += 1;
							historyList[i].time = Date.now();
						}
					}
				}
				if (!flag) {
					let obj = {
						name: this.courseName,
						type: this.int,
						count: 1,
						time: Date.now()
					};
					historyList.push(obj);
				}

				historyList = historyList.slice(-10);
				uni.setStorage({
					key: storaName,
					data: historyList
				});
			}
		}
	};
</script>
<style scoped>
	page {
		height: 100%;
	}

	.searchMap {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.scroll-Y {
		height: 100%;
		flex: 1;
	}

	.result_item {
		padding: 30rpx 20rpx;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgb(235, 235, 235);
	}

	.img_box {
		width: 49%;
		height: 166rpx;
		position: relative;
	}

	.result_img {
		width: 100%;
		height: 166rpx;
		border-radius: 3px;
	}

	.course_msg {
		width: 49%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.tabs {
		display: flex;
		width: 100%;
		top: 0;
		z-index: 1;
	}

	.tab {
		flex: 1;
		text-align: center;
	}

	.tab_text {
		display: inline-block;
		height: 94rpx;
		line-height: 94rpx;
		font-size: 33rpx;
		color: #333;
	}

	.active {
		color: #2488EC;
		border-bottom: 1px solid #2488EC;
	}

	.libbrary_list .resource_items {
		margin-top: 20rpx;
		padding: 0rpx 25rpx 30rpx;
	}

	.libbrary_list .resource_item {
		background: #fff;
		font-size: 30rpx;
		padding: 30rpx;
		color: #333;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		border-radius: 6px;
	}

	.libbrary_list .resource_icon {
		width: 26rpx;
		height: 26rpx;
		position: relative;
		top: 2rpx;
		margin-right: 14rpx;
	}

	.libbrary_list .search_box {
		background: #2488EC;
		display: flex;
		padding: 10rpx 0;
		position: fixed;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 70rpx;
	}

	.libbrary_list .search_icon {
		width: 25rpx;
		height: 25rpx;
		position: absolute;
		top: 19rpx;
		left: 40rpx;
	}

	.libbrary_list .search_input {
		background: #fff;
		height: 61rpx;
		line-height: 61rpx;
		color: #999;
		width: 655rpx;
		border-radius: 6px;
		font-size: 14px;
		padding-left: 45rpx;
		margin-left: 25rpx;
	}
</style>
