<template>
  <!--弹窗-->
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="100px">
      <el-form-item label="导航标题" prop="navTitle">
        <el-input v-model="formData.navTitle" class="form-group" />
      </el-form-item>
      <el-form-item v-if="formData.navUrl === '/link'" label="外部链接" prop="remark">
        <el-input v-model="formData.remark" class="form-group" />
      </el-form-item>
      <el-form-item label="平台" prop="platShow">
        <template>
          <el-radio v-model="formData.platShow" :label="1">电脑端</el-radio>
          <el-radio v-model="formData.platShow" :label="2">移动端</el-radio>
        </template>
      </el-form-item>
      <el-form-item label="打开方式" prop="target">
        <template>
          <el-radio v-model="formData.target" label="_blank">新窗口打开</el-radio>
          <el-radio v-model="formData.target" label="_self">同窗口打开</el-radio>
        </template>
      </el-form-item>
      <el-form-item label="导航排序">
        <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { navBarEdit } from '@/api/system'

  export default {
    name: 'Edit',
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        ctrl: {
          dialogVisible: true
        },
        opts: {
          navList: []
        },
        form: {
          sort: 1
        },
        rules: {
          navTitle: [
            { required: true, message: '请输入导航标题', trigger: 'blur' }
          ],
          target: [
            { required: true, message: '请选择打开方式', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'NavEnum', type: 'arr' }).then(res => {
        this.opts.navList = res
      })
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields()
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (!this.formData.navTitle) {
            this.$message({
              type: 'error',
              message: '请输入导航标题'
            });
            return false
          }
          if (!this.formData.target) {
            this.$message({
              type: 'error',
              message: '请选择打开方式'
            });
            return false
          }
          if (this.formData.id !== undefined) {
            // 编辑
            this.loading = true
            navBarEdit(this.formData).then(res => {
              this.loading = false
              if (res.code === 200) {
                // 提交成功, 关闭窗口, 刷新列表
                this.tips('操作成功', 'success')
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '提交失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          } else {
            this.$message({
              type: 'error',
              message: '提交失败'
            });
          }
        });
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 200px;
  }
</style>
