<template>
  <div class="person_content">
    <ul class="person_title clearfix">
      <li :class="{ now: num == 1 }">
        <a @click="clicktab(1)" href="javascript:">点播课程</a>
      </li>
      <li :class="{ now: num == 2 }">
        <a @click="clicktab(2)" href="javascript:">直播课程</a>
      </li>
      <li :class="{now: num == 4}">
        <a @click="clicktab(4)" href="javascript:">文库中心</a>
      </li>
      <li :class="{ now: num == 5 }">
        <a @click="clicktab(5)" href="javascript:">试卷中心</a>
      </li>
    </ul>
    <div class="notdata" v-if="notdata">
      <i class="iconfont">&#xe6be;</i>暂时没有数据
    </div>
    <div class="person_info" v-if="!notdata">
      <div v-if="num < 5">
        <div
          :class="{ no_left: 1 }"
          :key="index"
          class="course_content"
          v-for="(list, index) in pageObj.list"
        >
          <div class="img_box fl" v-if="list.courseImg">
            <img :src="list.courseImg" alt />
          </div>
          <div class="fl clearfix">
            <p class="course_name">{{ list.courseName }}</p>
          </div>
          <li>
            <nuxt-link
              :to="{ name: 'view-id', params: { id: list.courseId } }"
              class="go_btn"
              target="_blank"
              v-if="list.courseCategory === 1"
            >
              进入学习
            </nuxt-link>
            <nuxt-link
              :to="{ name: 'live-detail-id', params: { id: list.courseId } }"
              class="go_btn"
              target="_blank"
              v-if="list.courseCategory === 2"
            >
              进入学习
            </nuxt-link>
            <nuxt-link
              :to="{
                name: 'resource-detail-id',
                params: { id: list.courseId },
              }"
              class="go_btn"
              target="_blank"
              v-if="list.courseCategory === 4"
            >
              进入学习
            </nuxt-link>
          </li>
          <li>
            <a
              @click="cancelCourse(list)"
              class="close_collect"
              href="javascript:"
            >取消收藏</a
            >
          </li>
        </div>
      </div>

      <div class="course-table table" v-if="num == 5">
        <div :key="item.id" class="course-item" v-for="item in pageObj.list">
          <div class="course-item-title">
            <i class="course-item-icon">{{
              item.courseName ? item.courseName[0] : "卷"
              }}</i>
            <p class="course-item-title-text">{{ item.collectionName }}</p>
            <div class="course-item-footer-btn">
              <el-button @click="openExam(item.collectionId)" plain type="text">
                查看试卷
              </el-button>
              <el-button
                @click="removeCollectionExam(item.collectionId)"
                plain
                style="color: red"
                type="text"
              >
                取消收藏
              </el-button>
            </div>
          </div>
          <div class="course-item-footer">
            <p class="course-item-footer-time">
              <span>创建于{{ item.gmtCreate }}</span>
            </p>
          </div>
        </div>
      </div>

      <br />
      <div class="center">
        <el-pagination
          :current-page="pageObj.pageCurrent"
          :page-size="pageObj.pageSize"
          :total="pageObj.totalCount"
          @current-change="getPage"
          background
          class="page-panel"
          layout="prev, pager, next"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
  import { collectionList, collectionDelet } from '~/api/account/course.js';
  import * as apis from '~/api/account/exam.js';
  export default {
    layout: 'account',
    head() {
      return {
        title: this.$store.state.clientData.name + ' - 我的课程'
      };
    },
    data() {
      return {
        num: 1,
        pageObj: {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        },
        examList: []
      };
    },
    computed: {
      userInfo() {
        return this.$store.state.userInfo;
      },
      notdata() {
        return !this.pageObj.list.length;
      }
    },
    mounted() {
      this.obj = {
        courseCategory: 1,
        courseType: 1,
        pageCurrent: 1,
        pageSize: 5
      };
      this.getCourseList(this.num);
    },
    methods: {
      getPage(int) {
        this.obj.pageCurrent = int;
        this.getCourseList(this.num);
      },
      getCourseList() {
        if (this.num === 5) {
          apis
            .collectExamList(this.obj)
            .then((res) => {
              this.pageObj = res.data;
            })
            .catch(() => {
              this.pageObj = {
                list: [],
                pageCurrent: '',
                pageSize: '',
                totalCount: '',
                totalPage: ''
              };
            });
        } else {
          this.obj.collectionType = ""
          collectionList(this.obj)
            .then((res) => {
              this.pageObj = res.data;
            })
            .catch(() => {
              this.pageObj = {
                list: [],
                pageCurrent: '',
                pageSize: '',
                totalCount: '',
                totalPage: ''
              };
            });
        }
      },
      removeCollectionExam(id) {
        this.$confirm('确定取消此项收藏吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          apis.deleteCollectExam({
            collectionType: 4,
            collectionId: id
          }).then(() => {
            this.getCourseList(this.num);
            this.$message({
              type: 'success',
              message: '取消收藏成功!'
            });
          });
        });
      },

      openExam(id) {
        this.$router.push({
          path: '/exam/view/' + (id || '')
        });
      },
      cancelCourse(row) {
        let id;
        if (row.collectionType === 3) {
          id = row.periodId;
        }
        if (row.collectionType === 2) {
          id = row.chapterId;
        }
        if (row.collectionType === 1) {
          id = row.courseId;
        }
        collectionDelet({
          collectionId: id,
          collectionType: row.collectionType
        }).then((res) => {
          this.getCourseList();
          this.$msgBox({ type: 'success', content: '取消成功' });
        });
      },
      clicktab(int) {
        this.num = int;
        this.obj.courseCategory = int;
        this.obj.pageCurrent = 1;
        this.getCourseList();
      }
    }
  };
</script>
<style lang="scss"  scoped>
  .person_body {
    width: 1200px;
    margin: 20px auto 0;
  }
  .person_content {
    width: 1012px;
    float: right;
    background: #fff;
    border-radius: 6px;
  }
  .course-table {
    padding: 10px 20px;
  }
  .course-item {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 10px 20px 5px;
    margin: 10px 0;
    .course-item-footer {
      padding-left: 20px;
      display: flex;
      line-height: 28px;
      .course-item-footer-time {
        flex: 1;
        padding-left: 10px;
      }
    }
    .course-item-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 1px solid #0c9bff;
      color: #0c9bff;
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      position: relative;
      line-height: 18px;
      position: relative;
      top: 4px;
    }
    .course-item-title {
      display: flex;
      .course-item-title-text {
        flex: 1;
        font-family: 'MicrosoftYaHeiUI', 'Microsoft YaHei UI';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 28px;
        color: #333333;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .person_body {
    width: 1200px;
    margin: 20px auto 0;
    min-height: 1000px;
  }
  .person_content {
    width: 1012px;
    float: right;
    background: #fff;
    border-radius: 6px;
  }
  .person_title {
    border-bottom: 1px solid rgb(242, 242, 242);
    position: relative;
    li {
      float: left;
      line-height: 60px;
      padding: 0 30px;
      font-size: 14px;
      &.now {
        border-bottom: 2px solid #d51423;
        a {
          color: #d51423;
        }
      }
      a:hover {
        color: #d51423;
      }
    }
  }
  .person_info {
    min-height: 400px;
    padding-bottom: 30px;
  }
  .course_content {
    padding: 25px 0;
    height: 136px;
    margin: 0 25px;
    border-bottom: 2px solid rgb(242, 242, 242);
    position: relative;
    .img_box {
      display: inline-block;
      width: 175px;
      height: 86px;
    }
    img {
      width: 175px;
      height: 86px;
    }
    p {
      margin-left: 20px;
      font-size: 14px;
      color: #999;
      &.course_name {
        color: #333;
      }
      &.course_study {
        margin-top: 20px;
        span {
          color: #d51423;
        }
      }
      &.course_time {
        position: absolute;
        bottom: 25px;
      }
    }
    &.no_left {
      p {
        left: 20px;
      }
    }
    a {
      display: block;
      width: 106px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border-radius: 6px;
      font-size: 14px;
      border: 1px solid #999;
      color: #999;
      background: #fff;
      position: absolute;
      top: 25px;
      right: 0;
      cursor: pointer;
      &:hover {
        color: #d51423;
        border-color: #d51423;
      }
      &.close_collect {
        top: 80px;
        border: none;
      }
    }
  }
  .notdata {
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    color: #999;
    min-height: 400px;
    i {
      font-size: 30px;
      padding-right: 12px;
    }
  }
</style>
