<template>
<view>
  <view class="h164 b_fff mgt8px">
    <text class="c_333 font83">￥</text>
    <input class="money_input" @input="changeCash" :value="cashCount" type="number" placeholder="请输入取出的金额"></input>
  </view>
  <view class="pdl20 h94 c_999 b_fff font25">
    <text>可提取余额 </text>
    <text class="c_red">￥{{cardData.enableBalances}}</text>
    <!-- <text>，每次提现最小额度 </text> -->
    <!-- <text class="c_red">￥{{cardData.extractMinMoney}}</text> -->
  </view>
  <view class="mgt8px">
    <view class="pdl20 c_333 font25 b_fff h94">
      <text class="c_999">到账银行</text>
      <text class="mgl20">{{cardData.bankName}}</text>
    </view>
    <view class="pdl20 c_333 font25 b_fff h94">
      <text class="c_999">银行卡号</text>
      <text class="mgl20">{{cardData.bankCardNo}}</text>
    </view>
    <view class="pdl20 c_333 font25 b_fff h94">
      <text class="c_999">手机号</text>
      <text class="mgl20">{{hidePhone}}</text>
    </view>
  </view>
  <view class="b_fff p_relative pdl20">
    <text class="label h94 inline_box c_999 font33">验证码</text>
    <input name="code" @input="changeCode" class="text_input font33" type="number" maxlength="6" placeholder="请输入验证码"></input>
    <code-btn :mobile="cardData.bankMobile"></code-btn>
  </view>
  <button class="buy_btn" @tap="getCash">申请提现</button>
</view>
</template>

<script>
// pages/cash_count/cash_count.js
import { cardInfo, getCash } from "../../../api/user";
let app = getApp();
import codeBtn from "../../../components/codebtn/codebtn";

export default {
  data() {
    return {
      userInfo: '',
      cardData: '',
      extractFee: '',
      cashCount: '',
      smsCode: '',
      hidePhone: ''
    };
  },

  components: {
    codeBtn
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
    this.setData({
      userInfo: uni.getStorageSync('userInfo')
    });
    this.getCardInfo();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    changeCode(e) {
      this.setData({
        smsCode: e.detail.value
      });
    },

    changeCash(e) {
      if (this.cardData.extractType === 1 && e.detail.value.length) {
        this.setData({
          extractFee: parseFloat(e.detail.value) * this.cardData.extractFee
        });
      } else {
        this.setData({
          extractFee: 0
        });
      }

      if (parseFloat(e.detail.value) > this.cardData.enableBalances) {
        this.setData({
          cashCount: this.cardData.enableBalances,
          extractFee: this.cardData.enableBalances * this.cardData.extractFee
        });
      } else {
        this.setData({
          cashCount: parseFloat(e.detail.value)
        });
      }
    },

    getCash() {
      if (!this.cashCount) {
        uni.showToast({
          title: '提现金额不能为空',
          icon: 'none'
        });
        return;
      } // if (this.data.cashCount < this.data.cardData.extractMinMoney) {
      //   wx.showToast({
      //     title: '每次提现金额不能小于' + this.data.cardData.extractMinMoney,
      //     icon: 'none'
      //   })
      //   return
      // }


      if (!this.smsCode) {
        uni.showToast({
          title: '请输入验证码',
          icon: 'none'
        });
        return;
      }

      uni.showLoading({
        title: '提现中...'
      });
      getCash({
        userNo: this.userInfo.userNo,
        extractMoney: this.cashCount,
        bankMobile: this.cardData.bankMobile,
        smsCode: this.smsCode
      }).then(res => {
        uni.showModal({
          title: '提示',
          content: '申请成功',
          showCancel: false,
          success: res => {
            console.log(res.confirm);

            if (res.confirm) {
              uni.switchTab({
                url: '../index/index'
              });
            }
          }
        });
      });
    },

    getCardInfo() {
      uni.showLoading({
        title: '加载中...'
      });
      cardInfo({
        userNo: this.userInfo.userNo
      }).then(res => {
        if (res.bankCardNo) {
          console.log(res);
          this.setData({
            cardData: res,
            hidePhone: res.bankMobile.slice(0, 3) + '****' + res.bankMobile.slice(7)
          });
        } else {
          uni.showModal({
            title: '提示',
            content: '你还没有绑定银行卡，请先前往绑定',
            showCancel: false,
            success: res => {
              if (res.confirm) {
                uni.navigateTo({
                  url: '../cardList/cardList'
                });
              }
            }
          });
        }
      });
    }

  }
};
</script>
<style scoped>
.h164 {
  height: 164rpx;
  line-height: 164rpx;
}
.font83 {
  font-size: 83rpx;
}
.money_input {
  display: inline-block;
  width: 548rpx;
  height: 71rpx;
  font-size: 33rpx;
}
.text_input {
  position: absolute;
  top: 0;
  left: 175rpx;
  line-height: 94rpx;
  height: 94rpx;
  width: 300rpx;
}
</style>