<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>${msg.msgTitle}</title>
</head>
<body style="padding:20px 30px">
    ${msg.msgText}
  
<script type="text/javascript">window.onload = function(){var as = document.getElementsByTagName("a");for(i=0;i<as.length;i++){as[i].onclick=function(){return false;}}}</script>
</body>
</html>