<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="40%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="博主介绍" prop="introduction">
        <el-input v-model="form.introduction" :autosize="{ minRows: 6, maxRows: 10}" type="textarea" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { bloggerEdit } from '@/api/community'

  export default {
    name: 'EditBlogger',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        rules: {
          introduction: [
            { required: true, message: '请输入博主简介', trigger: 'blur' }
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = {
            id: this.info.id,
            introduction: this.info.introduction
          }
        }
      }
    },
    methods: {
      handleClose() {
        this.form = {};
        this.$emit('close');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        bloggerEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
