<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="活动标题">
        <el-input v-model.trim="map.actTitle" />
      </el-form-item>
      <el-form-item label="">
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('actSave')"  plain type="success" size="mini"   @click="handleAddRow">新增</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="活动图片" width="120">
        <template slot-scope="scope">
          <img :src="scope.row.actImg" :alt="scope.row.actImg" width="100">
        </template>
      </el-table-column>
      <el-table-column label="活动信息">
        <template slot-scope="scope">
          <span v-if="scope.row.actTitle">
            {{ scope.row.actTitle }}
            <br>
            【{{ scope.row.beginTimeStr }} ~ {{ scope.row.endTimeStr }}】
          </span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" width="60">
        <template slot-scope="scope">
          <span>{{ scope.row.sort }} </span>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="400">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('actEdit')"  plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="scope.row.statusId ===1 &&  checkPermission('actUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId ===0 &&  checkPermission('actUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button v-if="checkPermission('actDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
          <el-button v-if="checkPermission('actCopy')" plain type="primary" size="mini" @click="handleCopy(scope.row)">复制活动</el-button>
          <el-button v-if="checkPermission('actZoneList')" plain type="success" size="mini" @click="handleZoneRow(scope.row)">设置</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <copy-act v-if="ctrl.copyActVisible" :title="ctrl.copyActTitle" :form-data="formData" :visible="ctrl.copyActVisible" @close-callback="closeCallback" />
    <edit-act v-if="ctrl.editActVisible" :title="ctrl.editActTitle" :form-data="formData" :visible="ctrl.editActVisible" @close-callback="closeCallback" />
    <add-act v-if="ctrl.addActVisible" :title="ctrl.addActTitle" :act-type="ctrl.actType" :visible="ctrl.addActVisible" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import { actPage, actUpdateStatus, actDelete } from '@/api/marketing'
  import AddAct from '@/views/marketing/act/add/index';
  import EditAct from '@/views/marketing/act/edit/index';
  import CopyAct from '@/views/marketing/act/copy/index';

  export default {
    components: { AddAct, EditAct, CopyAct },

    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          actType: 1, // 活动类型 1优惠券 2秒杀
          editDialogVisible: false,
          addDialogVisible: false,
          addActTitle: '活动添加',
          addActVisible: false,
          editActTitle: '活动修改',
          editActVisible: false,
          copyActTitle: '活动复制',
          copyActVisible: false
        },
        formData: {},
        list: [],
        map: {},
        statusIdEnums: {},
        zoneCategoryEnums: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'ZoneCategoryEnum', type: 'obj' }).then(res => {
        this.zoneCategoryEnums = res;
      });
    },
    methods: {
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.actTitle + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.actTitle + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            actUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            actDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 新增活动
      handleAddRow() {
        this.ctrl.addActVisible = true;
      },
      // 编辑活动
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.editActVisible = true;
      },
      // 复制活动
      handleCopy(data) {
        this.formData = data;
        this.ctrl.copyActVisible = true;
      },
      // 专区列表
      handleZoneRow(row) {
        this.$router.push({ path: '/marketing/zone/list', query: { actId: row.id, actType: row.actType}});
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.addActVisible = false;
        this.ctrl.editActVisible = false;
        this.ctrl.copyActVisible = false;
        this.reload();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleCourseRow(row) {
        this.$router.push({ path: '/system/zoneRef/list', query: { zoneId: row.id, zoneLocation: row.zoneLocation, zoneCategory: row.zoneCategory}});
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        this.map.actType = this.ctrl.actType
        actPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
