<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="评论昵称" placeholder="">
        <el-input v-model="nickname" />
      </el-form-item>
      <el-form-item class="filter-item" label="评论内容">
        <el-input v-model="content" />
      </el-form-item>
      <el-form-item label>
        <el-button class="" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="" @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('commentAdd')" plain type="success" size="mini" @click="handleAddOneRow">添加</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      border
      fit
      row-key="id"
      highlight-current-row
      default-expand-all
      :tree-props="{ children: 'courseCommentList'}">
      <el-table-column label="评论用户名" prop="nickname" width="140" />
      <el-table-column label="评论时间" prop="gmtCreate" width="140" />
      <el-table-column label="评论内容" prop="content" show-overflow-tooltip>
        <template slot-scope="scope">
          <div class="content-box" v-html="scope.row.content" />
        </template>
      </el-table-column>
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button v-if="scope.row && checkPermission('commentEdit')" plain type="primary" size="mini" @click="edit(scope.row)">编辑</el-button>
          <el-button v-if="scope.row && checkPermission('commentDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)" >删除</el-button>
          <el-button v-if="scope.row.parentId == '0' && checkPermission('commentAdd')" plain type="danger" size="mini" @click="add2Comment(scope.row)">添加二级评论</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />

    <el-dialog
      :title="isAdd ? '添加评论' : '修改评论'"
      :visible.sync="dialogVisible"
      width="900px"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
    >
      <add
        v-if="dialogVisible"
        :edit-data="editData"
        :parent-id="parentId"
        :course-id="courseId"
        @updateList="listForPage()"
        @close="closeDialog()"
      />
    </el-dialog>
  </div>
</template>

<script>
  import {courseCommentList, deleteCourseComment} from '@/api/course';
  import add from '../add';

  export default {
    components: {
      add
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        isAdd: false,
        courseId: '',
        nickname: '',
        content: '',
        parentId: '',
        dialogVisible: false
      };
    },
    created() {
      this.courseId = this.$route.query.courseId;
      this.listForPage();
    },
    mounted() {
      this.$store
        .dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'})
        .then((res) => {
          this.statusIdEnums = res;
        });
    },
    methods: {
      handleDeleteRow(row) {
        const body = '确定要删除？';
        this.$confirm(body, '提示', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          deleteCourseComment({id: row.id}).then((res) => {
            this.$message.success(res.data);
            this.listForPage();
          });
        });
      },
      handleSizeChange(size) {
        this.page.pageSize = size;
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current;
        this.listForPage();
      },
      handleReset() {
        this.nickname = '';
        this.content = '';
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      closeDialog() {
        this.dialogVisible = false;
      },
      edit(row) {
        this.editData = row;
        this.isAdd = false;
        this.dialogVisible = true;
      },
      add2Comment(row) {
        this.editData = {};
        this.parentId = row.id;
        this.isAdd = true;
        this.dialogVisible = true;
      },
      handleAddOneRow() {
        this.editData = {};
        this.parentId = '';
        this.isAdd = true;
        this.dialogVisible = true;
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start();
        courseCommentList({
          pageCurrent: this.page.pageCurrent,
          pageSize: this.page.pageSize,
          courseId: this.courseId,
          nickname: this.nickname,
          content: this.content
        }).then((res) => {
          this.list = res.data.list;
          this.page.pageCurrent = res.data.pageCurrent;
          this.page.totalCount = res.data.totalCount;
          this.page.pageSize = res.data.pageSize;
        });
      }
    }
  };
</script>

<style lang="scss" scoped>
  .content-box {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
</style>
