<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="修改时间" prop="gmtModified">
            <el-input v-model="form.gmtModified" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="状态(1:有效;0:无效)" prop="statusId">
            <el-input v-model="form.statusId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="排序" prop="sort">
            <el-input v-model="form.sort" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="问题标题" prop="title">
            <el-input v-model="form.title" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="问题标签" prop="tagsName">
            <el-input v-model="form.tagsName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="问题关键词" prop="keywords">
            <el-input v-model="form.keywords" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="问题内容" prop="content">
            <el-input v-model="form.content" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="摘要" prop="summary">
            <el-input v-model="form.summary" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="质量度" prop="qualityScore">
            <el-input v-model="form.qualityScore" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="收藏人数" prop="collectionAcount">
            <el-input v-model="form.collectionAcount" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="点赞人数" prop="admireAcount">
            <el-input v-model="form.admireAcount" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="评论人数" prop="commentAcount">
            <el-input v-model="form.commentAcount" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="阅读人数" prop="readAcount">
            <el-input v-model="form.readAcount" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否置顶(1置顶，0否)" prop="isTop">
            <el-input v-model="form.isTop" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="是否悬赏积分(1悬赏，0不悬赏)" prop="isReward">
            <el-input v-model="form.isReward" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="悬赏积分" prop="rewardIntegral">
            <el-input v-model="form.rewardIntegral" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="是否关联课程(1关联，0不关联)" prop="isCourse">
            <el-input v-model="form.isCourse" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课程ID" prop="courseId">
            <el-input v-model="form.courseId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="是否存在最佳回答(1有，0无)" prop="isGood">
            <el-input v-model="form.isGood" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="最佳回答ID" prop="goodCommentId">
            <el-input v-model="form.goodCommentId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="最佳回答用户编号" prop="goodUserNo">
            <el-input v-model="form.goodUserNo" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="最佳回答内容" prop="goodContent">
            <el-input v-model="form.goodContent" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">立即创建</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {questionsSave} from '@/api/community'

export default {
  name: 'AddQuestions',
  data() {
    return {
      form: {},
      opts: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        gmtModified: [
          {required: true, message: '请输入修改时间', trigger: 'blur'}
        ],
        statusId: [
          {required: true, message: '请输入状态(1:有效;0:无效)', trigger: 'blur'}
        ],
        sort: [
          {required: true, message: '请输入排序', trigger: 'blur'}
        ],
        userNo: [
          {required: true, message: '请输入用户编号', trigger: 'blur'}
        ],
        title: [
          {required: true, message: '请输入问题标题', trigger: 'blur'}
        ],
        tagsName: [
          {required: true, message: '请输入问题标签', trigger: 'blur'}
        ],
        keywords: [
          {required: true, message: '请输入问题关键词', trigger: 'blur'}
        ],
        content: [
          {required: true, message: '请输入问题内容', trigger: 'blur'}
        ],
        summary: [
          {required: true, message: '请输入摘要', trigger: 'blur'}
        ],
        qualityScore: [
          {required: true, message: '请输入质量度', trigger: 'blur'}
        ],
        collectionAcount: [
          {required: true, message: '请输入收藏人数', trigger: 'blur'}
        ],
        admireAcount: [
          {required: true, message: '请输入点赞人数', trigger: 'blur'}
        ],
        commentAcount: [
          {required: true, message: '请输入评论人数', trigger: 'blur'}
        ],
        readAcount: [
          {required: true, message: '请输入阅读人数', trigger: 'blur'}
        ],
        isTop: [
          {required: true, message: '请输入是否置顶(1置顶，0否)', trigger: 'blur'}
        ],
        isReward: [
          {required: true, message: '请输入是否悬赏积分(1悬赏，0不悬赏)', trigger: 'blur'}
        ],
        rewardIntegral: [
          {required: true, message: '请输入悬赏积分', trigger: 'blur'}
        ],
        isCourse: [
          {required: true, message: '请输入是否关联课程(1关联，0不关联)', trigger: 'blur'}
        ],
        courseId: [
          {required: true, message: '请输入课程ID', trigger: 'blur'}
        ],
        isGood: [
          {required: true, message: '请输入是否存在最佳回答(1有，0无)', trigger: 'blur'}
        ],
        goodCommentId: [
          {required: true, message: '请输入最佳回答ID', trigger: 'blur'}
        ],
        goodUserNo: [
          {required: true, message: '请输入最佳回答用户编号', trigger: 'blur'}
        ],
        goodContent: [
          {required: true, message: '请输入最佳回答内容', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/community/questions/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      questionsSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
