<template>
  <div class="main_box">
    <ul v-if="type == 0" class="tabs clearfix">
      <li class="tab on">
        <a>1.基础信息</a>
      </li>
      <li :class="index>=1?'tab on':'tab'">
        <a>2.选择试题</a>
      </li>
      <li :class="index>=2?'tab on':'tab'">
        <a>3.完成</a>
      </li>
    </ul>
    <ul v-if="type != 0" class="tabs clearfix">
      <li v-if="type == 1" class="tab on">
        <a>基础信息</a>
      </li>
      <li v-if="type == 2" :class="index>=1?'tab on':'tab'">
        <a>编辑试题</a>
      </li>
    </ul>

    <el-form
      ref="form"
      v-if="index === 0"
      :rules="rules"
      :model="form"
      label-width="100px"
      class="form"
    >
      <el-form-item label="试卷科目:" prop="subjectId ">
        <el-cascader
          v-model="form.subjectId "
          :props="optionProps"
          :options="kemuList"
          style="width: 200px"
          placeholder="请选择科目"
          popper-class="__category-id"
        ></el-cascader>
      </el-form-item>
      <el-form-item label="试卷来源:" prop="sourceId">
        <el-select
          v-model="form.sourceId"
          style="width: 200px"
          placeholder="请选择试卷来源"
          popper-class="__category-id"
        >
          <el-option
            v-for="item in laiyuanList"
            :label="item.categoryName"
            :key="item.id"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-row>
        <el-col :span="6">
          <el-form-item label="试卷年份:" prop="yearId">
            <el-select
              v-model="form.yearId"
              style="width: 200px"
              placeholder="请选择年份"
              popper-class="__category-id"
            >
              <el-option
                v-for="item in nianfenList"
                :label="item.categoryName"
                :key="item.id"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="18">
          <el-form-item label prop="region">
            <el-input
              v-model="form.region"
              class="form-group"
              placeholder="请输入地区"
              style="width: 200px;"
            ></el-input>
            <span>* 选填，试卷年份和试卷地区，地区需您输入，不得超过8个汉字。</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="试卷名称:" prop="examName">
        <el-input v-model="form.examName" style="width: 100%;" placeholder="请输入试卷名称" clearable></el-input>
      </el-form-item>
      <div class="br"></div>
      <el-form-item label="试卷信息"></el-form-item>
      <el-row>
        <el-form-item label="课程试卷:" prop="isPublic">
          <el-radio-group v-model="form.isPublic">
            <el-radio :label="0">是</el-radio>
            <el-radio :label="1">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="是否付费:" prop="isFree" v-if="form.isPublic != 0">
          <el-radio-group v-model="form.isFree">
            <el-radio :label="1">免费</el-radio>
            <el-radio :label="0">付费</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-col :span="12" v-if="form.isFree == 0 && form.isPublic != 0">
          <el-form-item label="试卷价格:" prop="orgPrice">
            <el-input v-model="form.orgPrice" placeholder="请输入试卷价格" step="0.01" type="number">
              <template slot="append">元</template>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12" v-if="form.isFree == 0 && form.isPublic != 0">
          <el-form-item label="优惠价格:">
            <el-input v-model="form.fabPrice" placeholder="请输入试卷优惠价格" type="number" step="0.01">
              <template slot="append">元</template>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="答卷时长:" prop="answerTime">
            <el-input v-model="form.answerTime" placeholder="请输入答卷时长" type="number">
              <template slot="append">分钟</template>
            </el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item v-if="form.id" label="试卷排序:" prop="answerTime">
            <el-input v-model="form.examSort" placeholder="请输入试卷排序" type="number"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="关键字:" prop="subjectContent">
        <el-input v-model="form.keyword" style="width: 100%;" placeholder="请输入关键字" clearable></el-input>
      </el-form-item>

      <el-form-item label="描述：" prop="description">
        <wangeditor v-model="form.description"></wangeditor>
      </el-form-item>
      <div class="br"></div>
      <div style="text-align: center">
        <el-button @click="onSubmit()" type="primary">{{ type == 0? '下一步' : '保存' }}</el-button>
        <el-button @click="back()">取消</el-button>
      </div>
    </el-form>

    <div v-if="index === 1" style="border-top: 10px solid #f5f5f5">
      <selectIssue :title="form.examName" @next="next" @prev="prev()" :exam-id="examId"></selectIssue>
    </div>

    <div v-if="index == 2" class="achieve">
      <div class="icon">
        <i class="el-icon-success"></i>试卷创建成功
      </div>
      <div class="tip">{{ form.examName }}</div>
      <div class="btn-list">
        <el-button @click="$router.go(-1)" class="btn" type="primary" plain>返回列表</el-button>
        <el-button @click="openPreview()" class="btn" type="primary" plain>预览</el-button>
        <el-button v-if="isPutaway == 1" @click="submitAudit(0, examId)">取消审核</el-button>
        <el-button v-else @click="submitAudit(1, examId)" type="primary">提交审核</el-button>
      </div>
    </div>
  </div>
</template>



<script>
import selectIssue from './selectIssue'
import * as apis from '~/api/account/exam.js'
import wangeditor from '~/components/wangeditor.vue'

export default {
  name: 'ExamAdd',
  layout: 'account',
  components: {
    wangeditor,
    selectIssue
  },
  data() {
    return {
      index: 0,
      isPutaway: 0,
      rules: {
        subjectId: [
          { required: true, message: '请选择试卷科目', trigger: 'blur' }
        ],
        yearId: [
          { required: true, message: '请选择试卷年份', trigger: 'blur' }
        ],
        topicId: [
          { required: true, message: '请选择试卷类型', trigger: 'blur' }
        ],
        difficultyId: [
          { required: true, message: '请选择试卷难度', trigger: 'blur' }
        ],
        sourceId: [
          { required: true, message: '请选择试卷来源', trigger: 'blur' }
        ],
        analysis: [
          { required: true, message: '请选择试卷解答', trigger: 'blur' }
        ],
        answerTime: [
          { required: true, message: '请输入答卷时长', trigger: 'blur' }
        ],
        examName: [
          { required: true, message: '请选择试卷名称', trigger: 'blur' }
        ],
        isPublic: [
          { required: true, message: '请选择是否绑定课程', trigger: 'blur' }
        ],
        score: [{ required: true, message: '请输入试卷分数', trigger: 'blur' }],
        isFree: [{ required: true, message: '请选择是否免费', trigger: 'blur' }]
      },
      side: 'exam',
      examId: '',
      kemuList: [],
      nanduList: [],
      laiyuanList: [],
      leixingList: [],
      nianfenList: [],
      optionProps: {
        value: 'id',
        label: 'categoryName',
        children: 'children',
        checkStrictly: true
      },
      form: {
        subjectType: '6',
        name: '',
        region: '',
        resource: '',
        isPublic: 1,
        subjectId: [],
        examName: '',
        checkboxresource: [],
        description: ' ',
        videoId: ''
      },
      type: 0
    }
  },
  mounted() {
    this.getSubjectLM()
    this.getSubjectND()
    this.getSubjectLY()
    this.getSubjectLX()
    this.getSubjectNF()
    // 编辑试卷
    if (this.$route.query && this.$route.query.type) {
      this.form = this.lockr.get('_editExamData')
      this.type = this.$route.query.type
      this.index = this.type - 1
      this.examId = this.form.id
    }
  },
  methods: {
    openPreview() {
      const routeData = this.$router.resolve({
        name: 'account-exams-preview',
        query: {
          type: 2,
          id: this.examId
        }
      })
      window.open(routeData.href, '_blank')
    },
    wayExam(type, id) {
      const tip = type === 0 ? '下架' : '上架'

      this.$confirm('确定' + tip + '吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        apis
          .wayExam({
            id,
            isPutaway: type
          })
          .then(res => {
            this.isPutaway = type
            if (res.code === 200) {
              this.$message({
                message: tip + '成功！',
                type: 'success'
              })
              this.getExamList(this.num)
            }
          })
      })
    },
    submitAudit(type = 1, id = '') {
      const tip = type === 0 ? '取消审核' : '提交审核'
      this.$confirm('确定' + tip + '吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        apis
          .submitAuditExam({
            id: id,
            submitAudit: type
          })
          .then(res => {
            this.isPutaway = type
            if (res.code === 200) {
              this.$message({
                message: tip + '成功！',
                type: 'success'
              })
              this.getExamList(this.num)
            }
          })
      })
    },
    getData() {},
    prev() {
      this.index--
    },
    next() {
      this.index++
    },
    // 获取试卷类目
    getSubjectLM() {
      apis.categoryList({ examCategoryType: 1, categoryType: 2 }).then(res => {
        this.kemuList = res.data.examCategoryList
      })
    },
    // 获取试卷难度
    getSubjectND() {
      apis.categoryList({ examCategoryType: 4, categoryType: 2 }).then(res => {
        this.nanduList = res.data.examCategoryList
      })
    },
    // 获取试卷来源
    getSubjectLY() {
      apis.categoryList({ examCategoryType: 3, categoryType: 2 }).then(res => {
        this.laiyuanList = res.data.examCategoryList
      })
    },
    // 获取试卷类型
    getSubjectLX() {
      apis.categoryList({ examCategoryType: 5, categoryType: 2 }).then(res => {
        this.leixingList = res.data.examCategoryList
      })
    },
    // 获取试卷年份
    getSubjectNF() {
      apis.categoryList({ examCategoryType: 2, categoryType: 2 }).then(res => {
        this.nianfenList = res.data.examCategoryList
      })
    },
    onSubmit() {
      let subjectId = ''
      if (Array.isArray(this.form.subjectId) && this.form.subjectId.length) {
        subjectId = this.form.subjectId[this.form.subjectId.length - 1]
      } else {
        subjectId = this.form.subjectId
      }
      this.loading = true
      if(this.form.isPublic == 0) {
        this.form.isFree = 1
      }

      this.$refs.form.validate(valid => {
        if (valid) {
          if (this.form.id) {
            apis
              .updateExam({
                ...this.form,
                subjectId: subjectId
              }).then(res => {
                console.log(res)
                if (res && res.code === 200) {
                  if (this.type === 0) {
                    this.next()
                  } else {
                    this.$message({
                      message: '保存成功！',
                      type: 'success'
                    })
                    this.$router.go(-1)
                  }
                }
              })
          } else {
            apis
              .saveExam({
                ...this.form,
                subjectId: subjectId
              })
              .then(res => {
                this.form.id = res.data
                this.examId = res.data
                this.next()
              })
          }
        }
      })
    },
    back() {
      history.go(-1)
    }
  }
}
</script>

<style lang="scss">
</style>

<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding-bottom: 20px;
  .btn-item {
    margin: 0 15px;
  }
}

.editor-box {
  height: 300px;
}
.form {
  border-top: 10px solid #f5f5f5;
  padding: 20px;

  .br {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }
  .form-group {
    width: 300px;
  }
  .form-group-list {
    padding-bottom: 12px;
    display: inline-block;
    .el-icons {
      position: relative;
      top: 2px;
    }
  }
}
</style>

<style lang="scss" scoped>
.achieve {
  text-align: center;
  padding: 110px 0 120px;
  .tip {
    line-height: 60px;
    font-size: 14px;
  }
  .icon {
    line-height: 30px;
    font-size: 14px;
    .el-icon-success {
      font-size: 30px;
      margin-right: 5px;
      color: #0099ff;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }
  .btn-list {
    button {
      width: 100px;
    }
  }
}
</style>
