

<template>
<div class="main_box">
        <alerts title="试卷报告" width="70%" top="6vh" v-model="isGradeExamRecord">
          <grade-exam-record v-if="isGradeExamRecord" slot="contents"></grade-exam-record>
        </alerts>
        <alerts title="布置考试" width="800px" top="7vh" v-model="isAddClassExam">
          <add-class-exam v-if="isAddClassExam" slot="contents"></add-class-exam>
        </alerts>
        <ul class="tabs clearfix">
          <li :class="[type==1?'tab on':'tab']" @click="selectType(1)">
            <a>考试管理</a>
          </li>
           <li :class="[type==2?'tab on':'tab']" @click="selectType(2)">
            <a>完成动态</a>
          </li>
        </ul>
        <div class="btn-content ">
           <el-button
            icon="el-icon-edit"
            size="small"
            type="danger"
          >
          布置考试
          </el-button>&nbsp;&nbsp;&nbsp;&nbsp;* 可对您创建的班级进行布置考试，考试完成后也可以查看完成情况等功能。
        </div>

        <div class="btn-content seek">
          分类学科
          <el-select class="select" v-model="value" clearable placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          布置时间
           <el-date-picker
            v-model="value1"
            class="picker"
            type="datetimerange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
          考试名称
          <el-input class="input" placeholder="请输入考试名称"></el-input>
          <el-button type="danger">搜索</el-button>
        </div>
        <div class="notdata" v-if="notdata">
          <i class="iconfont">&#xe6be;</i>暂时没有数据
        </div>
        <div v-else>
          <div class="exam-table table" v-if="type == 1" v-loading="loading">
            <div :key="item.id" class="exam-item" v-for="item in examList">
              <div class="exam-item-title">
                <p class="exam-item-title-text">{{ item.examName }}</p>
                <div class="exam-item-title-right-btn">
                  开启补交
                  <el-switch v-model="item.beginTime"></el-switch>
                </div>
              </div>
              <div class="exam-item-tip"></div>
              <div class="exam-item-footer">
                <p class="exam-item-footer-time" v-if="type == 1">
                  <span>创建于{{ item.gmtCreate }}</span>
                </p>
                <p class="exam-item-footer-time" v-else>
                  <span>考试时间: {{ item.beginTime }}</span>
                  <span class="mgl10" v-if="item.endTime ">交卷时间: {{ item.endTime }}</span>
                </p>
                <div class="exam-item-footer-btn">
                  <el-button type="text">进入评卷</el-button>
                  <el-button type="text" @click="openGradeExamRecord()">查看报告</el-button>
                  <el-button type="text" @click="addClassExam()">作业详情</el-button>
                  <el-button type="text">下载</el-button>
                </div>
              </div>
            </div>
          </div>
          <div v-else class="record-list">
            <div class="record-item" v-for="item in 10" :key="item">
              <span>黄小米</span>&nbsp;&nbsp;完成了&nbsp;&nbsp;<span>“考试名称1”</span>
              <div class="fr">
                2020-05-25 14:31
              </div>
            </div>
          </div>
          <div class="center">
            <el-pagination
              :current-page="pageObj.pageCurrent"
              :page-size="pageObj.pageSize"
              :total="pageObj.totalCount"
              @current-change="getPage"
              background
              class="page-panel"
              layout="prev, pager, next"
            ></el-pagination>
          </div>
        </div>
      </div>
</template>

<script>
import * as apis from '~/api/account/exam.js'
import alerts from '~/components/account/alert';
import gradeExamRecord from '~/components/account/exam/gradeExamRecord';
import addClassExam from '~/components/account/exam/addClassExam'

export default {
  name: 'ExamAdmin',
  layout: 'account',
  components: {
    alerts,
    addClassExam,
    gradeExamRecord
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的试卷'
    }
  },
  data() {
    return {
      value1: [],
      options: [],
      side: 'my-examination',
      type: 1,
      loading: true,
      isGradeExamRecord: false,
      isAddClassExam: false,
      examList: [],
      pageObj: {
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      input: ''
    }
  },
  computed: {
    notdata() {
      return !this.examList.length
    }
  },
  mounted() {
    this.obj = {
      examType: 1,
      pageCurrent: 1,
      pageSize: 10
    }
    this.getData()
  },
  methods: {
    addClassExam(item) {
      this.isAddClassExam = true
    },
    openGradeExamRecord() {
      this.isGradeExamRecord = true;
    },
    selectType(type) {
      this.type = type;
      this.pageObj.pageCurrent = 0
      this.getData();
    },
    getPage(int) {
      this.obj.pageCurrent = int
      this.getData()
    },
    seek() {
      this.obj.examName = this.input;
      this.getData()
    },
    getData() {
      this.loading = true;
      if (this.type === 2) {
        this.getUserRecord();
      } else {
        this.getExamList();
      }
    },
    getUserRecord() {
      apis.getUserRecord(this.obj).then((res) => {
        this.loading = false
        this.pageObj = res.data
        this.examList = res.data.list || [];
        if (res.data.list && res.data.list.length > 0) {
          this.pageObj = res.data
        } else {
          this.pageObj.totalPage = 0
        }
      }).catch(() => {
        this.loading = false
        this.examList = []
        this.pageObj.totalPage = 0
      })
    },
    getExamList(int) {
      apis.getUserExam(this.obj).then((res) => {
        this.pageObj = res.data
        this.loading = false

        this.examList = res.data.list || [];
        if (res.data.list && res.data.list.length > 0) {
          this.pageObj = res.data
        } else {
          this.pageObj.totalPage = 0
        }
      }).catch(() => {
        this.examList = []
        this.loading = false
        this.pageObj.totalPage = 0
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding: 10px 20px;
}
.boder1 {
  border: 1px solid;
}

.exam-table {
  padding: 10px 20px;
}

.account_pages .notdata {
  .iconfont {
    position: relative;
    top: 4px;
  }
  font-size: 16px;
  font-width: 0;
  line-height: 140px;
}

.select-all {
  margin-top: 20px;
}

.exam-item {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 10px 20px 5px;
  margin: 10px 0;

  .exam-item-tip {
     font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
    padding: 10px 0 ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .exam-item-footer {
    display: flex;
    line-height: 28px;
    .exam-item-footer-time {
      flex: 1;
    }
  }
  .exam-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #0c9bff;
    color: #0c9bff;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    position: relative;
    line-height: 18px;
    position: relative;
    top: 4px;
  }
  .exam-item-title {
    display: flex;
    .exam-item-title-right-btn {
      position: relative;
      top: 5px;
    }
    .exam-item-title-text {
      flex: 1;
      font-family: 'MicrosoftYaHeiUI', 'Microsoft YaHei UI';
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
.btn-content.seek {
  text-align: right;
  .select {
    width: 140px;
    margin-right: 10px;
  }
  .picker {
    width: 330px;
    margin-right: 10px;
  }
  .input {
    width: 180px;
    margin-right: 10px;
  }
}

.record-list {
  border-top: 1px solid #eee;
  margin-bottom: 20px;;
  padding: 0 20px;
  .record-item {
    line-height: 44px;
    border-bottom: 1px solid #eee;
    span {
      color: #2388EC;
    }
  }
}

</style>