

<template>
  <!-- <div class="account_pages">

    <div class="container account_cont">
  <y-side :type="side" />-->
  <div class="main_box">
    <alerts title="布置考试" width="880px" top="7vh" v-model="isAddClassExam">
      <add-class-exam
        @back="isAddClassExam = false"
        v-if="isAddClassExam"
        :exam="exam"
        slot="contents"
      ></add-class-exam>
    </alerts>
    <ul class="tabs clearfix">
      <li class="tab on">
        <a>试卷列表</a>
      </li>
    </ul>
    <div class="btn-content">
      <el-button
        @click="$router.push({name: 'account-exams-add'})"
        icon="el-icon-edit"
        size="small"
        type="danger"
      >
新建试卷
</el-button>
      <!--          <el-button :disabled="isSelect" type="warning" size="small" plain>移到分类</el-button>-->
      <!--          <el-button-->
      <!--            :disabled="isSelectItem"-->
      <!--            @click="remove()"-->
      <!--            type="danger"-->
      <!--            size="small"-->
      <!--            plain>-->
      <!--            删除试卷-->
      <!--            </el-button>-->
      <div class="fr">
        <!--            <el-select v-model="value" placeholder="请选择">-->
        <!--              <el-option-->
        <!--                label="上架"-->
        <!--                value="1">-->
        <!--              </el-option>-->
        <!--              <el-option-->
        <!--                label="上架"-->
        <!--                value="">-->
        <!--              </el-option>-->
        <!--            </el-select>-->
        <el-input class="input-with-select" clearable placeholder="请输入内容" size="small" v-model="input">
          <el-button @click="seek()" icon="el-icon-search" slot="append" />
        </el-input>
      </div>
      <br />
      <!-- <el-checkbox class="select-all" v-model="isSelectAll">全选</el-checkbox> -->
    </div>
    <div v-loading="loading">
      <div class="notdata" v-if="notdata">
        <i class="iconfont">&#xe6be;</i>暂时没有数据
      </div>
      <div class="course-table table" v-else>
        <div :key="item.id" class="course-item" v-for="item in examList">
          <div class="course-item-title">
            <!-- <el-checkbox class="course-item-checkbox" v-model="item.isSelect"></el-checkbox> -->
            <p class="course-item-title-text">{{ item.examName }}</p>
            <div class="course-item-title-btn" v-if="item.auditStatus== 1">
              <el-button @click="wayExam(0, item.id)" type="danger" v-if="item.isPutaway == 1">下架</el-button>
              <el-button @click="wayExam(1, item.id)" type="primary" v-else>上架</el-button>
            </div>
            <div class="course-item-title-btn" v-if="item.auditStatus== 0">
              <el-button
                @click="submitAudit(1, item.id)"
                type="success"
                v-if="item.submitAudit == 0"
              >
提交审核
</el-button>
              <el-button
                @click="submitAudit(0, item.id)"
                type="danger"
                v-if="item.submitAudit == 1"
              >
取消审核
</el-button>
            </div>
          </div>
          <div class="course-item-tip">
            <span>{{ item.subjectParentName ? item.subjectParentName + '/' + item.subjectName:item.subjectName }}</span>
            <span v-if="item.scoreAccount">总分:{{ item.scoreAccount }}分</span>
            <span v-if="item.subjectAccount">| 共{{ item.subjectAccount }}道题</span>
            <span v-if="item.answerTime">| 限制{{ item.answerTime }}分钟</span>
            <span>| {{ item.isFree == 0?'收费':'免费开放' }}</span>
            <div class="fr" v-if="item.auditStatus== 2 ">
              <div>审核失败 请重新编辑</div>
              {{ item.auditOpinion }}
            </div>
            <div class="fr" v-if="item.auditStatus== 0 && item.submitAudit == 1">
              <div>审核中</div>
            </div>
          </div>
          <div class="course-item-footer">
            <p class="course-item-footer-time">
              试卷排序: {{ item.examSort }} &nbsp;&nbsp;&nbsp;&nbsp;
              <span>创建于{{ item.gmtCreate }}</span>
            </p>
            <div class="course-item-footer-btn">
              <el-button v-if="item.isAudit = 1" @click="addClassExam(item)" plain type="primary">布置考试</el-button>
              <el-button @click="openPreview(item.id)" plain type="primary">预览考试</el-button>
              <el-button @click="editData(item)" plain type="primary">编辑试卷</el-button>
              <el-button @click="editTopic(item)" plain type="primary">管理试题</el-button>
              <el-button v-if="item.isAudit = 1" plain type="primary" @click="download(item)">下载</el-button>
            </div>
          </div>
        </div>
        <div class="center">
          <el-pagination
            :current-page="pageObj.pageCurrent"
            :page-size="pageObj.pageSize"
            :total="pageObj.totalCount"
            @current-change="getPage"
            background
            class="page-panel"
            layout="prev, pager, next"
          ></el-pagination>
        </div>
      </div>
    </div>
    <el-dialog
      title="选择下载类型"
      :visible.sync="centerDialogVisible"
      width="30%"
      center>
      是否展示答案：
      <el-radio-group v-model="downloadExam.showAnswer">
        <el-radio :label="false">不展示正确答案</el-radio>
        <el-radio :label="true">展示正确答案</el-radio>
      </el-radio-group>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="userDownloadExam()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import alerts from '~/components/account/alert'
import * as apis from '~/api/account/exam.js'
import { myExamList } from '~/api/account/exam.js'
import addClassExam from '~/components/account/exam/addClassExam'
import { formDownloadFile } from '~/utils/frmDownload.js'

export default {
  name: 'ExamIndex',
  layout: 'account',
  components: {
    // YSide,
    addClassExam,
    alerts
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的试卷'
    }
  },
  data() {
    return {
      centerDialogVisible: false,
      downloadExam: {
        showAnswer: false,
        examId: 0
      },
      isSelectAll: false,
      side: 'exam',
      loading: true,
      num: 1,
      isAddClassExam: false,
      is: false,
      examList: [],
      exam: {},
      pageObj: {
        pageCurrent: '',
        pageSize: 10,
        totalCount: '',
        totalPage: ''
      },
      input: ''
    }
  },
  computed: {
    webInfo() {
      return this.$store.state.webInfo
    },
    notdata() {
      return !this.examList.length
    },
    // 是否有选择了项目
    isSelectItem() {
      let is = false
      this.examList.forEach(e => {
        if (e.isSelect) {
          is = e.isSelect
        }
      })
      return !is
    }
  },
  watch: {
    isSelectAll() {
      this.examList.forEach(e => {
        e.isSelect = this.isSelectAll
      })
    }
  },
  mounted() {
    this.obj = {
      pageCurrent: 1,
      pageSize: 10
    }
    this.obj.lecturerUserNo = this.$store.state.userInfo.userNo
    console.info(this.obj)
    this.getExamList(this.num)
  },
  methods: {
    userDownloadExam() {
      formDownloadFile('/exam/auth/user/exam/download/export', this.downloadExam, 'post')
      this.centerDialogVisible = false;
    },
    download(item) {
      this.centerDialogVisible = true;
      this.downloadExam.examId = item.id
    },
    addClassExam(item) {
      this.exam = item
      this.isAddClassExam = true
    },
    openPreview(id) {
      const routeData = this.$router.resolve({
        name: 'account-exams-preview',
        query: {
          type: 2,
          id: id
        }
      })
      window.open(routeData.href, '_blank')
    },
    submitAudit(type = 1, id = '') {
      const tip = type === 0 ? '取消审核' : '提交审核'
      this.$confirm('确定' + tip + '吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        apis
          .submitAuditExam({
            id: id,
            submitAudit: type
          })
          .then(res => {
            if (res.code === 200) {
              this.$message({
                message: tip + '成功！',
                type: 'success'
              })
              this.getExamList(this.num)
            }
          })
      })
    },
    wayExam(type, id) {
      const tip = type === 0 ? '下架' : '上架'
      this.$confirm('确定' + tip + '吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        apis
          .wayExam({
            id,
            isPutaway: type
          })
          .then(res => {
            if (res.code === 200) {
              this.$message({
                message: tip + '成功！',
                type: 'success'
              })
              this.getExamList(this.num)
            }
          })
      })
    },
    editData(item) {
      this.lockr.set('_editExamData', item)
      this.$router.push({ name: 'account-exams-add', query: { type: 1 } })
    },
    editTopic(item) {
      this.lockr.set('_editExamData', item)
      this.$router.push({ name: 'account-exams-add', query: { type: 2 } })
    },
    remove() {},
    getPage(int) {
      this.obj.pageCurrent = int
      this.getExamList(this.num)
    },
    seek() {
      this.obj.examName = this.input
      this.getExamList(this.num)
    },
    getExamList(int) {
      this.loading = true
      this.obj.subjectCategory = int
      myExamList(this.obj)
        .then(res => {
          this.loading = false
          this.pageObj = res.data
          this.examList = res.data.list
          this.examList.forEach(e => {
            this.$set(e, 'isSelect', false)
          })
          if (res.data.list.length > 0) {
            this.pageObj = res.data
          } else {
            this.pageObj.totalPage = 0
          }
        })
        .catch(() => {
          this.examList = []
        })
    }
  }
}
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding: 10px 20px;
}
.boder1 {
  border: 1px solid;
}

.course-table {
  padding: 10px 20px;
  .course-item {
    margin-bottom: 20px;
  }
}

.account_pages .notdata {
  .iconfont {
    position: relative;
    top: 4px;
  }
  font-size: 16px;
  font-width: 0;
  line-height: 140px;
}

.select-all {
  margin-top: 20px;
}

.course-item {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 30px;

  .course-item-footer {
    display: flex;
    line-height: 28px;
    .course-item-footer-time {
      flex: 1;
    }
  }

  .course-item-tip {
    font-family: 'MicrosoftYaHeiUI', 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: 26px;
    margin-bottom: 30px;

    .fr {
      text-align: right;
      color: red;
      position: relative;
      line-height: 22px;
      top: 5px;
      overflow: hidden;
      max-width: 500px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .course-item-title {
    display: flex;
    .course-item-checkbox {
      margin-right: 5px;
      position: relative;
      top: 4px;
    }
    .course-item-title-text {
      flex: 1;
      font-family: 'MicrosoftYaHeiUI', 'Microsoft YaHei UI';
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
</style>
