

<template>
  <div class="main_box">
    <ul class="tabs clearfix">
      <li :class="[type==1?'tab on':'tab']" @click="selectType(1)">
        <a>我的考试</a>
      </li>
    </ul>
    <div class="btn-content seek">
      <!-- 分类学科
            <el-cascader
                v-model="seek.subjectId "
                :props="optionProps"
                :options="kemuList"
                style="width: 200px"
                placeholder="请选择科目"
                popper-class="__category-id"
              >
      </el-cascader>-->
      开考时间
      <el-date-picker
        v-model="seek.time"
        class="picker"
        type="datetimerange"
        range-separator="至"
        value-format="yyyy-MM-dd HH:mm:ss"
        clearable
        start-placeholder="开始日期"
        end-placeholder="结束日期"
      ></el-date-picker>考试名称
      <el-input class="input" clearable v-model="seek.gradeExamName" placeholder="请输入考试名称"></el-input>
      <el-button type="danger" @click="getData()">搜索</el-button>
    </div>
    <div class="notdata" v-if="notdata">
      <i class="iconfont">&#xe6be;</i>暂时没有数据
    </div>
    <div v-else>
      <div class="tip-box" v-if="tipList.length">
        <div class="tip">温馨提示：</div>
        <div class="tip-list">
          <div v-for="(item, index) in tipList" :key="index">
            <div class="tip-item" v-if="index < 3">
              <span>{{ item.lecturerName }}</span> 给你发送一份试卷
              <span>{{ item.gradeExamName }}</span> ！
              <div class="right-btn fr">
                <el-button type="text" @click="toExam(item)">进入考试</el-button>
                <i class="el-icon-close" @click="ignoreRelationTips(item.id)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grade-list" v-loading="loading">
        <div :key="item.id" class="grade-item" v-for="item in gradeList">
          <span v-if="item.examStatus == 3" class="grade-score">{{ item.score }}分</span>
          <div class="grade-item-title">
            <p class="grade-item-title-text">{{ item.gradeExamName }}</p>
            <el-button v-if="item.examStatus < 3 && item.studentExamShowStatus == 1 && item.isStartExam" type="primary" @click="toExam(item)">
              进入考试
            </el-button>
            <el-button v-if="item.examStatus < 3 && item.studentExamShowStatus == 2" type="primary" @click="toExam(item)">
              补交考试
            </el-button>
            <el-button v-if="item.examStatus < 3 && item.studentExamShowStatus == 3" disabled type="danger" @click="toExam(item)">
              已经超时
            </el-button>
            <el-button v-if="item.examStatus == 3" type="success" @click="toExamAnswer(item)">查看答案</el-button>
            <el-button v-if="item.examStatus == 4" type="success" @click="toExamAnswer(item)">老师批阅中</el-button>
            <el-button v-if="item.examStatus == 5" type="success" @click="toExamAnswer(item)">老师已批阅</el-button>
          </div>
          <div class="grade-item-tip">{{ item.examName }}</div>
          <div class="grade-item-footer">
            <p class="grade-item-footer-time">
              {{ item.lecturerUserName }}&nbsp;&nbsp;|&nbsp;&nbsp;
              <span>{{ item.subjectName }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
              <span>{{ item.beginExamTime }}至{{ item.endExamTime }}</span>
            </p>
          </div>
        </div>
        <div class="center">
          <el-pagination
            :current-page="pageObj.pageCurrent"
            :page-size="pageObj.pageSize"
            :total="pageObj.totalCount"
            @current-change="getPage"
            background
            class="page-panel"
            layout="prev, pager, next"
          ></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as examapis from '~/api/account/exam.js'
import * as gradeApis from '~/api/account/grade.js'

export default {
  name: 'MyExamination',
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的考试'
    }
  },
  data() {
    return {
      side: 'grade',
      type: 1,
      tipList: [],
      loading: true,
      isJoinGrade: false,
      isExamAdmin: false,
      isGradeInfo: false,
      gradeList: [{}],
      seek: {
        time: [],
        gradeExamName: '',
        subjectId: ''
      },
      pageObj: {
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      kemuList: [],
      optionProps: {
        value: 'id',
        label: 'categoryName',
        children: 'children',
        checkStrictly: true
      },
      input: ''
    }
  },
  computed: {
    notdata() {
      return !this.gradeList.length
    }
  },
  mounted() {
    this.obj = {
      gradeType: 1,
      pageCurrent: 1,
      pageSize: 10
    }
    this.getData()
    this.getSubjectLM()
    this.getTipList()
  },
  methods: {
    getTipList() {
      gradeApis.relationTips({ num: 5 }).then(res => {
        this.tipList = res.data || []
      })
    },
    ignoreRelationTips(id) {
      gradeApis.ignoreRelationTips({ id }).then(res => {
        this.$message({
          type: 'success',
          message: '操作成功!'
        })
        this.getTipList()
      })
    },
    // 获取试卷类目
    getSubjectLM() {
      examapis
        .categoryList({ examCategoryType: 1, categoryType: 2 })
        .then(res => {
          this.kemuList = res.data.examCategoryList
        })
    },
    openGradeInfo() {
      this.isGradeInfo = true
    },
    JoinGrade() {
      this.isJoinGrade = true
    },
    openExamAdmin(item) {
      this.isExamAdmin = true
    },
    selectType(type) {
      this.type = type
      this.pageObj.pageCurrent = 0
      this.getData()
    },
    toExamAnswer(item) {
      this.$router.push({
        path: '/exam/explain?gradeExamId=' + item.id
      })
    },
    toExam(item) {
      const time = new Date(item.beginTime || item.beginExamTime).getTime()
      const endTime = new Date(item.endTime || item.endExamTime).getTime()
      const newTime = new Date().getTime()
      if (newTime < time) {
        this.$alert('考试时间还没有开始！请等待', '提示', {
          confirmButtonText: '确定',
          callback: action => {}
        })
        return
      }
      if (newTime >= endTime && item.compensateStatus !== 2) {
        this.$alert('考试已经结束！', '提示', {
          confirmButtonText: '确定',
          callback: action => {}
        })
        return
      }
      this.$router.push({
        path: '/exam/exam?id=' + item.examId + '&gradeExamId=' + item.id
      })
    },
    getPage(int) {
      this.obj.pageCurrent = int
      this.getData()
    },
    getData() {
      this.loading = true
      this.getExamList()
    },
    getExamList(int) {
      if (this.seek.subjectId && this.seek.subjectId.length) {
        this.obj.subjectId = this.seek.subjectId[this.seek.subjectId.length - 1]
      }

      if (this.seek.gradeExamName) {
        this.obj.gradeExamName = this.seek.gradeExamName
      }

      if (this.seek.time && this.seek.time.length) {
        this.obj.beginExamTime = this.seek.time[0]
        this.obj.endExamTime = this.seek.time[1]
      } else {
        this.obj.beginExamTime = ''
        this.obj.endExamTime = ''
      }
      gradeApis
        .StudentGradeExamList(this.obj)
        .then(res => {
          this.pageObj = res.data
          this.loading = false
          this.gradeList = res.data.list || []
          if (res.data.list && res.data.list.length > 0) {
            res.data.list.forEach(e => {
              const time = new Date(e.beginTime || e.beginExamTime).getTime()
              const newTime = new Date().getTime()
              if (newTime < time) {
                e.isStartExam = false
              } else {
                e.isStartExam = true
              }
            });
            this.pageObj = res.data
          } else {
            this.pageObj.totalPage = 0
          }
        })
        .catch(() => {
          this.gradeList = []
          this.loading = false
          this.pageObj.totalPage = 0
        })
    }
  }
}
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding: 10px 20px;
}
.boder1 {
  border: 1px solid;
}

.grade-list {
  padding: 10px 20px;
}

.account_pages .notdata {
  div {
    margin-bottom: 15px;
  }
  .iconfont {
    position: relative;
    top: 4px;
    font-size: 42px;
    display: inline-block;
  }
  font-size: 16px;
  font-width: 0;
  line-height: 30px;
  padding: 80px 0;
}

.grade-item {
  position: relative;
  z-index: 99;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 15px 20px;
  margin-bottom: 30px;

  .grade-item-footer {
    display: flex;
    line-height: 28px;
    .grade-item-footer-time {
      flex: 1;
    }
  }

  .grade-item-tip {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
    padding: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    .fr {
      text-align: right;
      color: red;
      position: relative;
      line-height: 22px;
      top: 5px;
      overflow: hidden;
      max-width: 500px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .grade-item-title {
    display: flex;
    .grade-item-code {
      font-size: 14px;
      line-height: 32px;
      color: #333333;
    }
    .grade-item-title-text {
      flex: 1;
      font-family: 'MicrosoftYaHeiUI', 'Microsoft YaHei UI';
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .grade-score{
    position: absolute;
    top: 10px;
    right: 130px;
    z-index: -1;
    font-size: 80px;
  }
}

.tip-box {
  background: rgba(245, 245, 245, 1);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  margin: 10px 20px;

  .tip {
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #f59a23;
    padding: 0 8px;
  }
  .tip-list {
    flex: 1;
    .tip-more {
      color: #2388ec;
      line-height: 20px;
      margin: 0 3px;
    }
    .tip-item {
      line-height: 28px;
      margin-bottom: 5px;
      span {
        color: #2388ec;
        display: inline-block;
        margin: 0 3px;
      }

      .right-btn {
        .el-icon-close {
          font-size: 16px;
          position: relative;
          top: 2px;
          margin-left: 10px;
        }
      }
    }
  }
}

.btn-content.seek {
  text-align: right;
  .select {
    width: 140px;
    margin-right: 10px;
  }
  .picker {
    width: 330px;
    margin-right: 10px;
  }
  .input {
    width: 180px;
    margin-right: 10px;
  }
}
</style>