

<template>
  <div class="main_box">
    <ul class="tabs clearfix">
      <li :class="[type == 1 ? 'tab on' : 'tab']" @click="selectType(1)">
        <a>试卷列表</a>
      </li>
      <li :class="[type == 2 ? 'tab on' : 'tab']" @click="selectType(2)">
        <a>考试记录</a>
      </li>
    </ul>
    <div class="btn-content">
      <div class="fr">
        <el-input class="input-with-select" placeholder="请输入内容" size="small" v-model="input">
          <el-button @click="seek()" icon="el-icon-search" slot="append" />
        </el-input>
      </div>
      <br />
    </div>
    <div class="notdata" v-if="notdata">
      <i class="iconfont">&#xe6be;</i>暂时没有数据
    </div>
    <div class="course-table table" v-else v-loading="loading">
      <div :key="item.id" class="course-item" v-for="item in examList">
        <div class="course-item-title">
          <i class="course-item-icon">{{ item.courseName ? item.courseName[0] : '卷' }}</i>
          <p class="course-item-title-text">{{ item.examName }}</p>
          <el-button
            @click="startExam(item.examId)"
            style="color:red"
            type="text"
            v-if="item.examStatus == 1 && type == 2"
          >
          继续考试
          </el-button>
        </div>
        <div class="course-item-footer">
          <p class="course-item-footer-time" v-if="type == 1">
            <span>创建于{{ item.gmtCreate }}</span>
          </p>
          <p class="course-item-footer-time" v-else>
            <span>考试时间: {{ item.beginTime }}</span>
            <span class="mgl10" v-if="item.endTime">交卷时间: {{ item.endTime }}</span>
          </p>
          <div class="course-item-footer-btn">
            <el-button @click="openPreview(item.id)" type="text">浏览</el-button>
            <el-button type="text" v-if="type==1" @click="download()">下载</el-button>
          </div>
        </div>
      </div>
      <div class="center">
        <el-pagination
          :current-page="pageObj.pageCurrent"
          :page-size="pageObj.pageSize"
          :total="pageObj.totalCount"
          @current-change="getPage"
          background
          class="page-panel"
          layout="prev, pager, next"
        ></el-pagination>
      </div>
         <el-dialog title="选择下载类型" :visible.sync="centerDialogVisible" width="30%" center>
      是否展示答案：
      <el-radio-group v-model="showAnswer">
        <el-radio :label="false">不展示正确答案</el-radio>
        <el-radio :label="true">展示正确答案</el-radio>
      </el-radio-group>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="userDownloadExam()">确 定</el-button>
      </span>
    </el-dialog>
    </div>
  </div>
</template>

<script>
import * as apis from '~/api/account/exam.js'
import { formDownloadFile } from '~/utils/frmDownload.js';

export default {
  name: 'MyExam',
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的试卷'
    }
  },
  data() {
    return {
      isSelectAll: false,
      type: 1,
      loading: true,
      is: false,
      centerDialogVisible: false,
      showAnswer: false,
      examList: [],
      pageObj: {
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      },
      input: ''
    }
  },
  computed: {
    webInfo() {
      return this.$store.state.webInfo
    },
    notdata() {
      return !this.examList.length
    }
  },
  mounted() {
    this.obj = {
      courseType: 1,
      pageCurrent: 1,
      pageSize: 10
    }
    this.getData()
  },
  methods: {
      userDownloadExam() {
      formDownloadFile(
        '/apis/exam/auth/user/exam/download/export',
        {
          examId: this.id,
          showAnswer: this.showAnswer
        },
        'post'
      );
      this.centerDialogVisible = false;
    },
    download() {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请登录后再下载试卷!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      this.centerDialogVisible = true;
    },
    openPreview(id) {
      if (this.type === 1) {
        window.open('/exam/view/' + id, '_blank')
      } else {
        window.open('/exam/explain?id=' + id, '_blank')
      }
    },
    selectType(type) {
      this.type = type
      this.pageObj.pageCurrent = 0
      this.getData()
    },
    getPage(int) {
      this.obj.pageCurrent = int
      this.getData()
    },
    startExam(id) {
      window.open('/exam/startExam?id=' + id, '_blank')
    },
    seek() {
      this.obj.examName = this.input
      this.getData()
    },
    getData() {
      this.loading = true
      if (this.type === 2) {
        this.getUserRecord()
      } else {
        this.getExamList()
      }
    },
    getUserRecord() {
      apis
        .getUserRecord(this.obj)
        .then(res => {
          this.loading = false
          this.pageObj = res.data
          this.examList = res.data.list || []
          if (res.data.list && res.data.list.length > 0) {
            this.pageObj = res.data
          } else {
            this.pageObj.totalPage = 0
          }
        })
        .catch(() => {
          this.loading = false

          this.examList = []
          this.pageObj.totalPage = 0
        })
    },
    getExamList(int) {
      apis
        .getUserExam(this.obj)
        .then(res => {
          this.pageObj = res.data
          this.loading = false

          this.examList = res.data.list || []
          if (res.data.list && res.data.list.length > 0) {
            this.pageObj = res.data
          } else {
            this.pageObj.totalPage = 0
          }
        })
        .catch(() => {
          this.examList = []
          this.loading = false

          this.pageObj.totalPage = 0
        })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding: 10px 20px;
}
.boder1 {
  border: 1px solid;
}

.course-table {
  padding: 10px 20px;
}

.account_pages .notdata {
  .iconfont {
    position: relative;
    top: 4px;
  }
  font-size: 16px;
  font-width: 0;
  line-height: 140px;
}

.select-all {
  margin-top: 20px;
}

.course-item {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 10px 20px 5px;
  margin: 10px 0;
  .course-item-footer {
    padding-left: 20px;
    display: flex;
    line-height: 28px;
    .course-item-footer-time {
      flex: 1;
      padding-left: 10px;
    }
  }
  .course-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #0c9bff;
    color: #0c9bff;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    position: relative;
    line-height: 18px;
    position: relative;
    top: 4px;
  }
  .course-item-title {
    display: flex;
    .course-item-title-text {
      flex: 1;
      font-family: 'MicrosoftYaHeiUI', 'Microsoft YaHei UI';
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
</style>
