

<template>
  <div class="container account_cont">
    <div class="header">
      <!-- <i class="el-icon-arrow-left" @click="$router.go(-1)"></i> -->
      <div class="title">{{ title }}</div>
    </div>
    <div class="preview-box">
      <div v-loading="loading" class="preview-main">
        <div v-for="(item, index) in tableData" class="issus-list" :key="index">
          <h5 class="issus-list-title">{{ (index+ 1) | ChineseToNumber }}、{{ item.titleName }}</h5>
          <div v-for="(topic, pindex) in item.problemList" class="issus-item" :key="pindex">
            <div class="issus-item-title">
              {{ pindex + 1 }}、
              <div v-html="topic.problemContent" class="issus-item-title-text"></div>
            </div>
            <div v-if="topic.problemType == 1 || topic.problemType == 3 " class="issus-item-answer">
              <el-radio-group v-model="topic.value">
                <div
                  v-for="(ra, raindex) in topic.optionList"
                  :key="raindex"
                  class="issus-item-answer-radio"
                >
                  <el-radio :label="ra.sort">
                    <div class="issus-item-answer-radio-box">
                      <div
                        class="issus-item-answer-radio-label"
                        v-if="topic.problemType == 1"
                      >
                      {{ letter[raindex] }}、
                      </div>
                      <div
                        class="issus-item-answer-radio-cintent w-e-text"
                        v-html="ra.optionContent || raindex"
                      ></div>
                    </div>
                  </el-radio>
                </div>
              </el-radio-group>
            </div>
            <div v-if="topic.problemType == 2" class="issus-item-answer">
              <el-checkbox-group v-model="topic.value">
                <div
                  v-for="(ra, raindex) in topic.optionList"
                  :key="raindex"
                  class="issus-item-answer-radio"
                >
                  <el-checkbox :label="ra.sort">
                    <div class="issus-item-answer-radio-box">
                      <div class="issus-item-answer-radio-label">{{ letter[raindex] }}、</div>
                      <div
                        class="issus-item-answer-radio-cintent w-e-text"
                        v-html="ra.optionContent || raindex"
                      ></div>
                    </div>
                  </el-checkbox>
                </div>
              </el-checkbox-group>
            </div>

            <div v-if="topic.problemType == 4" class="issus-item-answer">
              <el-input
                v-for="oindex in topic.optionCount"
                :key="oindex"
                v-model="topic.value[oindex - 1]"
                :placeholder="'请输入第' + index +'个空的答案'"
                style="margin-bottom: 10px"
              >
                <template slot="prepend">{{ oindex }}</template>
              </el-input>
            </div>
            <div v-if="topic.problemType == 5" class="issus-item-answer">
              <wangeditor v-model="topic.value"></wangeditor>
            </div>

            <div v-if="topic.problemType == 6" class="issus-item-answer">
              <div v-for="(child, cindex) in topic.childrenList" :key="cindex" class="issus-item">
                <div class="issus-item-title">
                  {{ cindex + 1 }}、
                  <div v-html="child.problemContent" class="issus-item-title-text"></div>
                </div>
                <div
                  v-if="child.problemType == 1 || child.problemType == 3 "
                  class="issus-item-answer"
                >
                  <el-radio-group v-model="child.value">
                    <div
                      v-for="(ra, raindex) in child.optionList"
                      class="issus-item-answer-radio"
                      :key="raindex"
                    >
                      <el-radio :label="ra.sort">
                        <div class="issus-item-answer-radio-box">
                          <div
                            class="issus-item-answer-radio-label"
                            v-if="child.problemType == 1"
                          >
                          {{ letter[raindex] }}、
                          </div>
                          <div
                            class="issus-item-answer-radio-cintent w-e-text"
                            v-html="ra.optionContent || raindex"
                          ></div>
                        </div>
                      </el-radio>
                    </div>
                  </el-radio-group>
                </div>
                <div v-if="child.problemType == 2" class="issus-item-answer">
                  <el-checkbox-group v-model="child.value">
                    <div
                      v-for="(ra, raindex) in child.optionList"
                      class="issus-item-answer-radio"
                      :key="raindex"
                    >
                      <el-checkbox :label="ra.sort">
                        <div class="issus-item-answer-radio-box">
                          <div class="issus-item-answer-radio-label">{{ letter[raindex] }}、</div>
                          <div
                            class="issus-item-answer-radio-cintent w-e-text"
                            v-html="ra.optionContent || raindex"
                          ></div>
                        </div>
                      </el-checkbox>
                    </div>
                  </el-checkbox-group>
                </div>
                <div v-if="child.problemType == 4" class="issus-item-answer">
                  <el-input
                    v-for="oindex in child.optionCount"
                    :key="oindex"
                    v-model="child.value[oindex - 1]"
                    :placeholder="'请输入第' + oindex +'个空的答案'"
                    style="margin-bottom: 10px"
                  >
                    <template slot="prepend">{{ oindex }}</template>
                  </el-input>
                </div>
                <div v-if="child.problemType == 5" class="issus-item-answer">
                  <wangeditor v-model="child.value"></wangeditor>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="false" class="preview-side"></div>
    </div>
  </div>
</template>

<script>
import * as apis from '~/api/account/exam.js';
import { toZhDigit } from '~/utils/utils.js';
import wangeditor from '~/components/wangeditor.vue';
export default {
  layout: 'activity',
  name: 'Preview',
  components: {
    wangeditor
  },
  filters: {
    ChineseToNumber(chnStr) {
      return toZhDigit(chnStr);
    }
  },
  data() {
    return {
      tableData: [],
      loading: false,
      title: '',
      letter: 'ABCDEFGHIJkLMNOPQRSTUVWXYZ'.split('')
    };
  },
  mounted() {
    if (this.$route.query.id) {
      this.getData(this.$route.query.id);
    }
  },
  methods: {
    init(data = []) {
      this.title = data.examName;
      data.titleList.forEach((e) => {
        e.problemList.forEach((e) => {
          if (e.problemType === 2) {
            e.value = [];
          } else {
            e.value = '';
          }
          if (e.childrenList && e.childrenList.length) {
            e.childrenList.forEach((c) => {
              if (c.problemType === 2) {
                c.value = [];
              } else {
                c.value = '';
              }
            });
          }
        });
      });
      this.tableData = data.titleList;
    },
    getData(id = '') {
      this.loading = true;
      apis.getExamPreview(id).then((res) => {
        if (res && res.data) {
          this.loading = false;
          this.init(res.data);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.container {
  background: rgba(185, 190, 203, 1);
  padding-top: 76px;
  position: relative;
  padding-bottom: 3px;
  width: 100%;
  .header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 66px;
    background: #fff;
    display: flex;
    z-index: 2000;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.09);

    .title {
      flex: 1;
      font-weight: 700;
      font-style: normal;
      font-size: 18px;
      line-height: 62px;
      letter-spacing: normal;
      color: #333333;
      text-align: center;
      vertical-align: none;
      text-transform: none;
    }

    .el-icon-arrow-left {
      width: 66px;
      display: block;
      text-align: center;
      line-height: 66px;
      height: 66px;
      font-weight: 700;
      font-size: 28px;
    }

    .time {
      width: 180px;
      text-align: left;
      line-height: 66px;
      font-size: 18px;
      .submit {
        margin-left: 20px;
        vertical-align: middle;
      }
    }
  }
}
.preview-box {
  width: 1000px;
  margin: 0 auto;
  font-family: "MicrosoftYaHeiUI-Bold", "Microsoft YaHei UI Bold",
    "Microsoft YaHei UI";
  position: relative;
  .preview-main {
    width: 100%;
    min-height: 100vh;

    .issus-list {
      .issus-list-title {
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        line-height: 30px;
        padding: 15px 30px;
        border-radius: 6px;
        background: #fff;
        margin-bottom: 10px;
      }
      .issus-item {
        padding: 15px 30px;
        margin-bottom: 20px;
        background: #fff;
        margin-bottom: 10px;
        border-radius: 6px;

        .issus-item-answer {
          margin-top: 10px;
          .issus-item-answer-text {
            border: 1px solid #eee;
            height: 200px;
            border-radius: 4px;
            padding: 10px;
          }

          .edit-btn {
            width: 100px;
            height: 36px;
            margin-top: 10px;
          }
          .issus-item-answer-radio {
            padding: 6px 0;
            .issus-item-answer-radio-box {
              display: flex;
              position: relative;
              top: 1px;
              .issus-item-answer-radio-cintent {
                flex: 1;
                padding-left: 0px;
                overflow-y: hidden;
                vertical-align: top;
              }
            }
          }
        }

        .issus-item-title {
          display: flex;
          font-weight: 700;
          font-style: normal;
          font-size: 14px;
          line-height: 40px;
          .issus-item-title-text {
            flex: 1;
          }
        }
      }
    }
  }
  .preview-side {
    width: 200px;
    min-height: 200px;
    margin-left: 10px;
    background: #fff;
  }
}
</style>
<style lang="scss">
.preview-box {
  .issus-item-answer-radio {
    .el-radio {
      width: 100%;
    }
    .el-radio__label {
      display: inline-block;
      min-width: 100%;
    }
    .issus-item-answer-radio-box {
      .issus-item-answer-radio-cintent {
        img {
          vertical-align: top;
        }
        p:first-child {
          margin-top: -4px;
        }
        img[style="font-size: 14px;"] {
          position: relative;
          top: -5px;
        }
      }
    }
  }
}
</style>
