

<template>
  <div class="select-issus">
    <div class="sidebar">
      <div
        v-for="(item, index) in issueList"
        :key="index"
        class="issus-data"
        @click="toIssus(index)"
      >
        <div class="issus-title">{{ item.title || typeList[item.type] }}</div>
        <div class="number-box">
          总题数
          <span class="num">{{ item.topicList.length }}</span>题，共
          <span class="score">{{ item.topicList | countScore }}</span> 分
        </div>
      </div>
      <div class="tip">
        总题数：
        <span class="num">{{ countIssueNum }}</span>题
      </div>
      <div class="tip">
        总分数：
        <span class="score">{{ countTotalScore }}</span>分
      </div>
      <el-button @click="validate()" class="btn" type="primary">{{ type == 0? '下一步' : '保存' }}</el-button>
      <el-button @click="prev()" v-if="type == 0" class="btn" type="primary" plain>上一步</el-button>
      <el-button @click="openPreview()" class="btn" type="primary" plain>预览</el-button>
    </div>
    <div class="issus-main">
      <div class="title">{{ title }}</div>
      <div class="list">
        <el-card
          v-for="(item, index) in issueList"
          :key="item"
          class="big-issus"
          :id="'big-issus' + index"
          shadow="never"
        >
          <div slot="header" class="clearfix">
            <el-form ref="Form" :model="item" style="display: inline-block" label-width="0px">
              <el-form-item
                :rules="[
                { required: true, message: '请输入标题', trigger: 'blur' }
              ]"
                prop="title"
                label
              >
                <el-input
                  v-model="item.title"
                  class="issus-list-title"
                  :placeholder="typeList[item.type]"
                  clearable
                ></el-input>
              </el-form-item>
            </el-form>
            <span class="issus-type">{{ typeList[item.type] }}</span>
            <el-button @click="addTopic(index, item.type)" type="primary">添加试题</el-button>
            <div class="sort-box">
              <i @click="rmIssus(index)" class="del el-icon-close"></i>
              <i @click="upIssus(index)" class="up el-icon-caret-top"></i>
              <i @click="nextIssus(index)" class="next el-icon-caret-bottom"></i>
            </div>
          </div>
          <div v-if="!item.topicList.length" class="nodata">
            此大题还未添加试题，请点击"
            <span>添加试题</span>"按钮选择试题
          </div>
          <div v-else class="issus-list">
            <div v-for="(topicItem, tindex) in item.topicList" :key="tindex" class="item">
              <div class="right">
                <div class="type">{{ typeList[topicItem.problemType - 1] }}</div>
                <div class="title">{{ topicItem.problemContent | initcontent }}</div>
                <div class="sort-box">
                  <i @click="rmTopic(index,tindex)" class="del el-icon-close"></i>
                  <i @click="upTopic(index,tindex)" class="up el-icon-caret-top"></i>
                  <i @click="nextTopic(index,tindex)" class="next el-icon-caret-bottom"></i>
                </div>
                <div class="issus-score">
                  <input
                    v-model="topicItem.score"
                    :disabled="topicItem.problemType == 6"
                    type="number"
                    class="issus-score-input"
                  />&nbsp;&nbsp;分
                </div>
              </div>
            </div>
          </div>
        </el-card>

        <div v-loading="addLoading" class="add-type">
          <div class="text">
            <i class="el-icon-circle-plus"></i>
            <br />创建新的大题
          </div>
          <div class="btn-list">
            <el-button
              v-for="(item, types) in typeList"
              :key="types"
              @click="showTopicList(types)"
              type="primary"
              plain
            >
            {{ item }}
            </el-button>
          </div>
        </div>
      </div>
    </div>
    <el-dialog :visible.sync="centerDialogVisible" title="手动从题库中选择试题" width="80%"  top="4vh" center>
      <template>
        <div class="seek-bar">
          <!--        <template v-if="!isEdit">-->
          <!--        试题分类： <el-select v-model="topicList.seek.problemType" clearable placeholder="请选择">-->
          <!--                    <el-option-->
          <!--                      v-for="(item, index) in typeList"-->
          <!--                      :label="item"-->
          <!--                      :key="index + 1"-->
          <!--                      :value="index + 1"></el-option>-->
          <!--                    </el-select>&nbsp;&nbsp;&nbsp;-->
          <!--        </template>-->
          试题科目：
          <el-cascader
            v-model="topicList.seek.subjectId "
            :props="optionProps"
            :options="kemuList"
            clearable
            placeholder="请选择科目"
            popper-class="__category-id"
          ></el-cascader>&nbsp;
          试题难度：
          <el-select v-model="topicList.seek.difficultyId" clearable placeholder="请选择">
            <el-option
              v-for="(item) in nanduList"
              :label="item.categoryName"
              :key="item.id"
              :value="item.id"
            ></el-option>
          </el-select>&nbsp;&nbsp;&nbsp;
          <div class="fr">
            <el-button @click="reset()">重置</el-button>
            <el-button @click="getTopicList()" type="danger">搜索</el-button>
          </div>
        </div>
        <el-table
          ref="multipleTable"
          :data="topicList.list"
          v-loading="addLoading"
          @selection-change="handleSelectionChange"
          border
          height="360"
          tooltip-effect="dark"
          style="width: 100%"
        >
          <el-table-column type="selection" align="center" width="55"></el-table-column>
          <el-table-column label="题型" align="center" prop="topicName" width="120">
            <template slot-scope="scope">{{ typeList[scope.row.problemType - 1] }}</template>
          </el-table-column>
          <el-table-column prop="name" label="分类" align="center" width="220">
            <template slot-scope="scope">
              {{ scope.row.subjectParentName?scope.row.subjectParentName+'/' + scope.row.subjectName: scope.row.subjectName }}
            </template>
          </el-table-column>
          <el-table-column prop="content" label="试题" align="center" show-overflow-tooltip>
            <template slot-scope="scope">{{ scope.row.problemContent | initcontent }}</template>
          </el-table-column>
          <el-table-column prop="difficulty" label="难度" align="center" width="90"></el-table-column>
          <el-table-column prop="gmtCreate" align="center" label="创建时间" width="160">
            <template slot-scope="scope">
              {{ scope.row.gmtCreate.split?scope.row.gmtCreate.split('T')[0]:scope.row.gmtCreate }}
            </template>
          </el-table-column>
        </el-table>
        <div style="text-align: center; padding: 20px 0 0;">
          <el-pagination
            :current-page.sync="topicList.page"
            @size-change="sizeChange"
            @current-change="getTopicList"
            :page-size="topicList.pageSize"
            :total="topicList.total"
            background
            :page-sizes="[10, 20, 30, 50, 80, 100, 200, 300, 400]"
            layout="prev, pager, next, sizes"
          ></el-pagination>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="hideTopicList()">取 消</el-button>
          <el-button @click="addIssus()" type="primary">确 定</el-button>
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import * as apis from '~/api/account/exam.js'
export default {
  name: 'SelectIssue',
  filters: {
    initcontent(str) {
      if (str && str.replace) {
        str = str.replace(/<[^>]+>|&[^>]+;/g, '').trim() // 去掉所有的html标签和&nbsp;之类的特殊符合
      }
      return str
    },
    countScore(arr) {
      let t = 0
      arr.forEach(e => {
        t += parseInt(e.score || 0)
      })
      return t
    }
  },
  props: {
    examId: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      addLoading: false,
      typeList: ['单选题', '多选题', '判断题', '填空题', '问答题', '组合题'],
      optionProps: {
        value: 'id',
        label: 'categoryName',
        children: 'children',
        checkStrictly: true
      },
      kemuList: [],
      nanduList: [],
      centerDialogVisible: false,
      topicList: {
        list: [],
        total: 0,
        page: 0,
        pageSize: 10,
        seek: {
          subjectId: '',
          difficultyId: '',
          problemType: ''
        }
      },
      addIssusData: {},
      issueList: [],
      selectTopicList: [],
      isEdit: false,
      editNum: 0,
      type: 0
    }
  },
  computed: {
    countIssueNum() {
      let t = 0
      this.issueList.forEach(e => {
        if (e.topicList) {
          t += e.topicList.length
        }
      })
      return t
    },
    countTotalScore() {
      let t = 0
      this.issueList.forEach(e => {
        if (e.topicList) {
          e.topicList.forEach(e => {
            t += parseInt(e.score || 0)
          })
        }
      })
      return t
    }
  },
  created() {
    this.getproblemLM()
    this.getproblemND()
    if (this.$route.query && this.$route.query.type) {
      const d = this.lockr.get('_editExamData')
      this.getData(d.id)
      this.type = this.$route.query.type
      this.examId = d.id
      this.title = d.examName
    }
  },
  mounted() {},
  methods: {
    reset() {
      this.reTopicListSeek(); this.getTopicList();
    },
    toIssus(index) {
      const html = document.querySelector('html')
      const box = document.querySelector('#big-issus' + index)
      if (box) {
        const top = box.offsetTop - 60
        html.scrollTop = top
        document.scrollTop = top
      }
    },
    getData(id) {
      apis.getExamPreview(id).then(res => {
        if (res && res.data && res.data.titleList) {
          res.data.titleList.forEach(t => {
            const d = {
              type: +t.titleType - 1,
              id: t.id,
              topicList: t.problemList || [],
              title: t.titleName
            }
            this.issueList.push(d)
          })
        }
      })
    },
    reTopicListSeek() {
      this.topicList.seek.difficultyId = ''
      this.topicList.seek.subjectId = ''
    },
    openPreview() {
      this.submit(true)
    },
    addIssus() {
      this.centerDialogVisible = false
      this.reTopicListSeek()
      if (this.isEdit) {
        if (this.issueList[this.editNum]) {
          const topicIdList = this.issueList[this.editNum].topicList.map(e => {
            return e.id
          })
          const TopicList = []
          // 过滤重复的题目
          if (this.selectTopicList && this.selectTopicList.forEach) {
            this.selectTopicList.forEach(e => {
              if (topicIdList.indexOf(e.id) === -1) {
                TopicList.push(e)
              }
            })
          }
          console.log(TopicList)
          this.issueList[this.editNum].topicList = this.issueList[this.editNum].topicList.concat(TopicList || [])
        }
      } else {
        const d = {
          type: this.addIssusData.type,
          topicList: this.selectTopicList || [],
          title: this.typeList[this.addIssusData.type]
        }
        this.issueList.push(d)
      }
      this.isEdit = false
    },
    addTopic(index = 0, type = 1) {
      this.isEdit = true
      this.editNum = index
      this.showTopicList(type)
    },
    hideTopicList() {
      this.reTopicListSeek()
      this.centerDialogVisible = false
      this.isEdit = false
    },
    showTopicList(type) {
      this.addIssusData.type = type
      this.topicList.seek.problemType = type + 1
      this.getTopicList()
    },
    // 获取试题难度
    getproblemND() {
      apis.categoryList({ examCategoryType: 4, categoryType: 1 }).then(res => {
        this.nanduList = res.data.examCategoryList
      })
    },
    // 获取试题类目
    getproblemLM() {
      apis.categoryList({ examCategoryType: 1, categoryType: 1 }).then(res => {
        this.kemuList = res.data.examCategoryList
      })
    },
    sizeChange(val) {
      this.topicList.pageSize = val;
      this.getTopicList();
    },
    getTopicList() {
      this.addLoading = true
      const seek = this.topicList.seek
      apis
        .myproblemList({
          ...seek,
          subjectId: Array.isArray(seek.subjectId)
            ? seek.subjectId[seek.subjectId.length - 1]
            : seek.subjectId,
          pageCurrent: this.topicList.page || 0,
          pageSize: this.topicList.pageSize
        })
        .then(res => {
          this.addLoading = false
          this.topicList.list = res.data.list
          this.topicList.total = res.data.totalCount
          this.centerDialogVisible = true
        })
        .catch(() => {
          this.topicList.list = []
          this.topicList.total = 0
        })
    },
    next() {
      this.$emit('next')
    },
    prev() {
      this.$emit('prev')
    },
    validate() {
      let is = true
      if (this.$refs.Form && this.$refs.Form.length) {
        this.$refs.Form.forEach(e => {
          e.validate(valid => {
            if (!valid) {
              is = false
            }
          })
        })
      }
      if (!is) {
        this.$message.error('请输入大题题目标题！')
        return
      }
      this.submit()
    },
    submit(isPreview = false) {
      const is = false
      if (is) {
        return
      }
      if (!this.issueList.length) {
        this.$message.error('请选择试题，再点击下一步')
        return
      }
      const d = {
        id: this.examId,
        totalScore: this.countTotalScore,
        problemQuantity: this.countIssueNum,
        titleList: []
      }
      this.issueList.forEach((e, i) => {
        const data = {
          sort: i + 1,
          titleName: e.title,
          titleType: e.type + 1,
          problemList: []
        }
        if (e.id) {
          data.id = e.id
        }
        e.topicList.forEach((e, i) => {
          const d = {
            problemId: e.id,
            score: e.score,
            sort: i + 1
          }
          if (e.refId) {
            d.refId = e.refId
          }
          if (e.childrenList && e.childrenList.length) {
            d.childrenList = []
            e.childrenList.forEach((c, i) => {
              const data = {
                score: c.score,
                sort: i + 1,
                problemId: c.id
              }
              if (c.refId) {
                data.refId = c.refId
              }
              d.childrenList.push(data)
            })
          }
          data.problemList.push(d)
        })
        d.titleList.push(data)
      })

      apis.saveExamRef(d).then(res => {
        if (res.code === 200) {
          if (isPreview) {
            const routeData = this.$router.resolve({
              name: 'account-exams-preview',
              query: {
                id: this.examId
              }
            })
            window.open(routeData.href, '_blank')
          } else if (this.$route.query && this.$route.query.type === 2) {
            this.$message({
              message: '更新成功！',
              type: 'success'
            })
            this.$router.go(-1)
          } else {
            this.next()
          }
        }
      })
    },
    handleSelectionChange(val) {
      this.selectTopicList = val
    },
    upTopic(index, tindex) {
      if (tindex !== 0 && this.issueList[index]) {
        const item = this.issueList[index].topicList[tindex]
        this.issueList[index].topicList.splice(tindex, 1)
        this.issueList[index].topicList.splice(tindex - 1, 0, item)
      }
    },
    nextTopic(index, tindex) {
      if (this.issueList[index] && this.issueList[index].topicList) {
        if (tindex !== this.issueList[index].topicList.length - 1) {
          const item = this.issueList[index].topicList[tindex]
          this.issueList[index].topicList.splice(tindex + 2, 0, item)
          this.issueList[index].topicList.splice(tindex, 1)
        }
      }
    },
    rmTopic(index, tindex) {
      if (this.issueList[index] && this.issueList[index].topicList) {
        this.issueList[index].topicList.splice(tindex, 1)
      }
    },
    nextIssus(index) {
      if (index !== this.issueList.length - 1) {
        const item = this.issueList[index]
        this.issueList.splice(index + 2, 0, item)
        this.issueList.splice(index, 1)
      }
    },
    rmIssus(index) {
      this.issueList.splice(index, 1)
    },
    upIssus(index) {
      if (index !== 0) {
        const item = this.issueList[index]
        this.issueList.splice(index, 1)
        this.issueList.splice(index - 1, 0, item)
      }
    }
  }
}
</script>

<style scoped  lang="scss"  >
.select-issus {
  padding-right: 160px;
  background: #f5f5f5;
  position: relative;
  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    background: #fff;
    padding: 10px;

    .btn {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
    }

    .tip {
      font-size: 14px;
      line-height: 30px;
      .num,
      .score {
        margin: 0 5px;
        font-size: 16px;
        color: #0c9bff;
      }
    }

    .issus-data {
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
      .issus-title {
        line-height: 36px;
        font-size: 13px;
        color: #000;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .number-box {
        .num,
        .score {
          margin: 0 5px;
          font-size: 14px;
          color: #0c9bff;
        }
      }
    }
  }

  .issus-main {
    padding: 20px;
    border-right: 10px solid #f5f5f5;
    background: #fff;
    .big-issus {
      margin-bottom: 40px;
    }
    & > .title {
      line-height: 80px;
      font-size: 17px;
      color: #666;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }

    .issus-list-title {
      width: 240px;
    }

    .issus-type {
      margin: 0 20px;
      color: #0c9bff;
    }

    .sort-box {
      font-size: 0px;
      display: inline-block;
      float: right;
      i {
        width: 17px;
        height: 17px;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        margin: 8px 3px;
        line-height: 17px;
        text-align: center;
        background: #a9b3bf;
      }
    }

    .nodata {
      line-height: 120px;
      font-size: 15px;
      text-align: center;
      span {
        margin: 0 5px;
        color: #0c9bff;
      }
    }

    .issus-list {
      .item {
        height: 36px;
        line-height: 35px;
        margin: 5px auto;
        font-size: 0px;
        .title {
          line-height: 35px;
          border-bottom: none;
        }
        .right {
          padding: 0 10px;
          border: 1px solid #c2cedb;
          border-radius: 5px;
          height: 34px;
          font-size: 12px;
          line-height: 34px;
          vertical-align: top;
          margin-left: -2px;
          div {
            display: inline-block;
          }

          .title {
            width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .issus-score {
            width: 90px;
            float: right;
            margin-right: 10px;
            .issus-score-input {
              width: 46px;
              text-align: center;
              height: 20px;
              border-radius: 3px;
              line-height: 20px;
            }
          }
          .type {
            background: #5d9cec;
            color: #fff;
            line-height: 20px;
            height: 20px;
            font-size: 10px;
            text-align: center;
            padding: 0 6px;
            border-radius: 3px;
            vertical-align: top;
            margin: 7px 8px 0;
          }
        }

        .num {
          width: 50px;
          height: 34px;
          font-size: 16px;
          vertical-align: top;
          border-radius: 5px 0 0 5px;
          text-align: center;
          line-height: 36px;
          background: #c2cedb;
          color: #fff;
        }
      }
    }

    .add-type {
      text-align: center;
      height: 160px;
      position: relative;
      border: 1px solid #ebeef5;
      border-radius: 4px;

      &:hover {
        .btn-list {
          display: block;
        }
      }
      .btn-list {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        line-height: 160px;
        display: none;
      }
      .text {
        margin-top: 45px;
        height: 70px;
        display: inline-block;
        line-height: 10px;
        .el-icon-circle-plus {
          font-size: 30px;
          line-height: 50px;
          color: #2488ec;
        }
      }
    }
  }
}
.seek-bar {
  margin-bottom: 20px;
}
</style>

<style lang="scss">
.select-issus {
  .el-card__header {
    padding: 14px 12px 10px;
  }
}
</style>