<style lang="scss" scoped>
	.exam {
		padding-top: 100upx;
		.examList {
			.examItem {
				background-color: #fff;
				padding: 30upx;
				font-weight: 400;
				font-style: normal;
				font-size: 15px;
				margin: 20upx 30upx;
				border-radius: 10upx;
				line-height: 24px;
				color: #333333;
			}
		}
	}
	
</style>
<template>
	<view class="exam">
		<class-tag @seek="seek"></class-tag>
		<view class="examList">
			<view class="examItem" v-for="(item, index) in examList" @click="toExam(item)" :key="index">
				{{ item.examName }}
			</view>
		</view>
		<view v-if="examList.length" class="no_more c_999 font25 text_center">{{loadMsg}}</view>
		<view v-if="!examList.length" class="no_more c_999 font25 text_center" style="line-height: 300px; font-size: 20px;">暂无试卷</view>
	</view>
</template>

<script>
	import {
		getUserExam
	} from "../../../api/exam";
	import classTag from "@/components/exam/class";
	export default {
		components: {
			classTag
		},
		data() {
			return {
				examList: [],
				loadMsg: '没有更多了...',
				param: {},
				pageCurrent: 1,
				pageSize: 20,
			};
		},
		onLoad () {
			this.getExamList();
		},
		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function() {
			this.setData({
				loadMsg: '没有更多了...'
			});
		
			if (this.pageCurrent < this.totalPage) {
				this.setData({
					loadMsg: '加载中...',
					pageCurrent: this.pageCurrent + 1
				});
				this.getExamList();
			}
		},
		methods:{
			toExam(data) {
				uni.navigateTo({
				    url: '/pages/exam/details?id=' + data.id
				});
			},
			seek(param) {
				this.param = param
				this.getExamList()
			},
			getExamList() {
				getUserExam({
					pageCurrent: this.pageCurrent,
					pageSize: this.pageSize,
					... this.param
				}).then(res => {
					if(this.pageCurrent == 1) {
						this.examList = []
					}
					this.examList = this.examList.concat(res.list)
					this.pageSize = res.pageSize;
					this.totalPage = res.totalPage;
				}).catch(() => {});
			},
		}
	}
</script>


