<style lang="scss">
	.examList {
		padding-top: 1px;
		.examItem {
			background-color: #fff;
			padding: 26upx 30upx 18upx;
			margin: 20upx 30upx;
			border-radius: 10upx;
			display: flex;

			.examItemTitle {
				font-style: normal;
				font-size: 14px;
				line-height: 24px;
				color: #333333;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}

			.examItemTime {
				font-weight: 400;
				font-size: 12px;
				color: #999999;
				line-height: 20px;
				margin-bottom: 20upx;
				margin-top: 10upx;
			}

			.examItemMain {
				flex: 1;
			}


			.examItemIcon {
				width: 32upx;
				height: 32upx;
				margin-right: 20upx;
				border: 1px solid #0C9BFF;
				color: #0C9BFF;
				border-radius: 6upx;
				display: inline-block;
				text-align: center;
				position: relative;
				font-size: 26upx;
				line-height: 30upx;
				position: relative;
				top: -4upx;
			}

			.examItemTip {
				line-height: 30px;
				color: #666666;
				font-size: 13px;

				.fr {
					line-height: 20px;
					margin-top: 10upx
				}

				.tipItem {
					display: inline-block;
					margin-right: 20upx;
					line-height: 20px;

					.icon {
						width: 32upx;
						position: relative;
						top: 4px;
						height: 32upx;
						margin-right: 10upx;
					}
				}
			}
		}
	}
</style>


<template>
	<view class="examList">
		<view class="examItem" v-for="(exam, index) in examList" @click="toExam(exam)" :key="index">
			<view class="examItemSide">
				<view class="examItemIcon">
					{{ exam.subjectName ? exam.subjectName[0] : '卷' }}
				</view>
			</view>
			<view class="examItemMain">
				<view class="examItemTitle" v-html="exam.gradeExamName"> </view>
				<view class="examItemTime">
					考试时间：{{ exam.beginExamTime }}&nbsp;&nbsp;至&nbsp;&nbsp;{{ exam.endExamTime }}
				</view>
				<view class="examItemTip">
					{{ exam.lecturerUserName }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ exam.subjectName }}
					<view :class="['fr', (exam.examStatus < 3 && exam.studentExamShowStatus == 3) ? 'c_red' : 'c_green']">
						<text v-if="exam.examStatus < 3 && exam.studentExamShowStatus == 1 && exam.isStartExam" type="primary">
							进入考试
						</text>
						<text v-if="exam.examStatus < 3 && exam.studentExamShowStatus == 2" type="primary">
							补交考试
						</text>
						<text v-if="exam.examStatus < 3 && exam.studentExamShowStatus == 3" disabled type="danger">
							已经超时
						</text>
						<text v-if="exam.examStatus == 3" type="success">查看答案</text>
						<text v-if="exam.examStatus == 4" type="success">老师批阅中</text>
						<text v-if="exam.examStatus == 5" type="success">老师已批阅</text>
					</view>
				</view>
			</view>
		</view>
		<view v-if="examList.length" class="no_more c_999 font25 text_center">{{loadMsg}}</view>
		<view v-if="!examList.length" class="no_more c_999 font25 text_center" style="line-height: 300px; font-size: 20px;">暂无考试</view>
	</view>
</template>
<script>
	import * as gradeApis from '@/api/grade.js'

	export default {
		data() {
			return {
				examList: [],
				loadMsg: '没有更多了...',
				pageCurrent: 1,
				total: 0,
			}
		},
		onReachBottom: function() {
			this.setData({
				loadMsg: '没有更多了...'
			});

		
			if (this.obj.pageCurrent < this.total) {
				this.loadMsg = '加载中...'
				this.obj.pageCurrent = this.obj.pageCurrent + 1;
				this.getExamList();
			}
		},
		mounted() {
			uni.$on('open-userexam-result', () => {
				uni.showLoading()
				setTimeout(() => {
					uni.hideLoading()
					uni.navigateTo({
						url: '/pages/exam/gradeResult'
					});
				}, 700)
			})
			this.obj = {
				gradeType: 1,
				pageCurrent: 1,
				pageSize: 10
			}
			this.getData()
		},
		methods: {
			toExamAnswer(item) {
				uni.navigateTo({
				    url: '/pages/exam/explain?gradeExamId=' + item.id
				});
				
			},
			toExam(item) {
				if (item.examStatus < 3 && item.studentExamShowStatus == 3) {
					return;
				}
				if (item.examStatus > 2) {
					return this.toExamAnswer(item);
				}
				let beginTime = (item.beginTime || item.beginExamTime).replace(/-/g, '/');
				let endTimes = (item.endTime || item.endExamTime).replace(/-/g, '/');
				const time = new Date(beginTime).getTime()
				const endTime = new Date(endTimes).getTime()
				const newTime = new Date().getTime()
				if (newTime < time) {
					uni.showModal({
						title: '提示',
						content: '考试时间还没有开始！请等待',
						success(res) {}
					});
					return
				}
				if (newTime >= endTime && item.compensateStatus !== 2) {
					uni.showModal({
						title: '提示',
						content: '考试已经结束',
						success(res) {}
					});
					return
				}
				uni.navigateTo({
				    url:'/pages/exam/examInfo?id=' + item.examId + '&gradeExamId=' + item.id
				});
			},
			getData() {
				this.getExamList()
			},
			getExamList(int) {
				gradeApis.StudentGradeExamList(this.obj).then(res => {
					if (res.list && res.list.length > 0) {
						res.list.forEach(e => {
							let beginTime = (e.beginTime || e.beginExamTime).replace(/-/g, '/');
							const time = new Date(beginTime).getTime()
							const newTime = new Date().getTime()
							if (newTime < time) {
								e.isStartExam = false
							} else {
								e.isStartExam = true
							}
						});
						this.examList = this.examList.concat(res.list)
						this.total = res.totalPage;
					} else {
						this.examList = []
						this.total = 0;
					}
				}).catch(() => {
					this.examList = []
					this.total = 0;
					this.obj.pageCurrent = 1;
				})
			}
		}
	}
</script>
