<style lang="scss" scoped>
	.exam {
		.examList {
			.examItem {
				background-color: #fff;
				padding: 30upx;
				font-weight: 400;
				font-style: normal;
				font-size: 15px;
				margin: 20upx 30upx;
				border-radius: 10upx;
				line-height: 24px;
				color: #333333;
				
				.title {
					margin-bottom: 12upx;
				}
				
				.status {
					color: #409eff;
				}
				.tip {
					color:#999;
					font-size: 13px;
					line-height: 20px;
				}
			}
		}
	}
	
</style>
<template>
	<view class="exam">
		<view class="examList">
			<view class="examItem" v-for="(item, index) in examList" @click="toExam(item)" :key="index">
				<view class="title">
					{{ item.examName }}
				</view>
				<view class="tip">
					<text>考试时间: {{ item.beginTime }}</text>
					<view class="status fr" v-if="item.examStatus == 1">继续考试</view>
				</view>
				<view class="tip" v-if="item.endTime">
					<text >交卷时间: {{ item.endTime }}</text>
				</view>
			</view>
		</view>
		<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
	</view>
</template>

<script>
	import {
		getUserRecord
	} from "../../../api/exam";
	export default {
		components: {},
		data() {
			return {
				examList: [],
				loadMsg: '没有更多了...',
				param: {},
				pageCurrent: 1,
				pageSize: 20,
			};
		},
		onLoad () {
			this.getExamList();
		},
		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function() {
			this.setData({
				loadMsg: '没有更多了...'
			});
		
			if (this.pageCurrent < this.totalPage) {
				this.setData({
					loadMsg: '加载中...',
					pageCurrent: this.pageCurrent + 1
				});
				this.getExamList();
			}
		},
		methods:{
			toExam(data) {
				if(data.examStatus == 1) {
					uni.navigateTo({
					    url: '/pages/exam/startExam?id=' + data.examId
					});
				} else {
					uni.navigateTo({
					    url: '/pages/exam/explain?recordId=' + data.id
					});
				}
			},
			seek(param) {
				this.param = param
				this.getExamList()
			},
			getExamList() {
				getUserRecord({
					pageCurrent: this.pageCurrent,
					pageSize: this.pageSize,
					... this.param
				}).then(res => {
					if(this.pageCurrent == 1) {
						this.examList = []
					}
					this.examList = this.examList.concat(res.list)
					this.pageSize = res.pageSize;
					this.totalPage = res.totalPage;
				}).catch(() => {});
			},
		}
	}
</script>


