<template>
    <view>
        <form @submit="bindCard">
            <text class="h94 pdl20 c_999 font25">请输入您的身份信息</text>
            <view class="b_fff p_relative border_b pdl20">
                <text class="label h94 inline_box c_333 font33">邀请码</text>
                <input name="invitationCode" v-model="code" class="text_input font33" placeholder="请输入班级邀请码"></input>
            </view>
            <view class="b_fff p_relative border_b pdl20">
                <text class="label h94 inline_box c_333 font33">姓名</text>
                <input name="nickname" class="text_input font33" placeholder="请输入姓名"></input>
            </view>
            <view class="b_fff p_relative border_b pdl20">
                <text class="label h94 inline_box c_333 font33">备注</text>
                <input name="applyDescription" class="text_input font33" placeholder="请输入相关备注信息"></input>
            </view>
            <button form-type="submit" :disabled="btnDis" class="buy_btn">提交申请</button>
        </form>
    </view>
</template>

<script>
    import * as apis from '../../../api/grade.js'
    export default {
        data() {
            return {
                code: undefined,
                btnDis: false
            };
        },

        components: {},
        props: {},

        /**
         * 生命周期函数--监听页面加载
         */
        onLoad: function(options) {
            console.log(options);

            if (options.scene) {
                const classId = decodeURIComponent(options.scene);
                this.setDate({
                    code: classId
                })
            }
        },

        /**
         * 生命周期函数--监听页面初次渲染完成
         */
        onReady: function () {},

        /**
         * 生命周期函数--监听页面显示
         */
        onShow: function () {},

        /**
         * 生命周期函数--监听页面隐藏
         */
        onHide: function () {},

        /**
         * 生命周期函数--监听页面卸载
         */
        onUnload: function () {},

        /**
         * 页面相关事件处理函数--监听用户下拉动作
         */
        onPullDownRefresh: function () {},

        /**
         * 页面上拉触底事件的处理函数
         */
        onReachBottom: function () {},

        /**
         * 用户点击右上角分享
         */
        onShareAppMessage: function () {},
        methods: {
            bindCard(e) {
                console.log(e)
                const _map = e.detail.value

                if (!_map.invitationCode) {
                    uni.showToast({
                        title: '请输入班级邀请码',
                        icon: 'none'
                    });
                    return;
                }
                if (!_map.nickname) {
                    uni.showToast({
                        title: '请输入您的姓名',
                        icon: 'none'
                    });
                    return;
                }
                if (!_map.applyDescription) {
                    uni.showToast({
                        title: '请输入您的备注信息，方便老师通过申请',
                        icon: 'none'
                    });
                    return;
                }
                console.log(_map)
                apis.joinGrade(_map).then(res => {
                    console.log(res)
                    uni.showToast({
                        title: res,
                        icon: 'none'
                    });
                    setTimeout(() => {
                        uni.redirectTo({
                            url: './myClasses'
                        });
                    }, 2000)
                })
            }
        }
    };
</script>
<style scoped>
    .text_input {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 94rpx;
        height: 94rpx;
        width: 575rpx;
    }
    .sort_text {
        width: 300rpx;
        left: 175rpx;
    }
</style>
