<template>
	<view>
		<view class="top-panel">
			<navigator url="./join" class="add-btn">+</navigator>
		</view>
		<view class="examList">
			<view class="examItem" v-for="(cla, index) in list" :key="index">
				<view class="examItemSide">
					<view class="examItemIcon">
						班
					</view>
				</view>
				<view class="examItemMain">
					<view class="examItemTitle" v-html="cla.examName"> </view>
					<view class="examItemTime">
						{{ cla.gradeName }}
					</view>
					<view class="examItemTip">
						<view class="tipItem">
							创建人：{{ cla.lecturerName }}
						</view>
						<view class="tipItem">
							班级人数：{{ cla.studentCount }}
						</view>
						<view class="fr">
							<button class="exit-btn" @tap="exitGrade(cla)">退出班级</button>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view v-if="!list.length" class="no_more c_999 font25 text_center" style="line-height: 300px; font-size: 20px;">暂无班级</view>
	</view>
</template>

<script>
	import * as apis from '../../../api/grade.js'
	export default {
		data() {
			return {
				list: []
			};
		},

		components: {},
		props: {},

		/**
		 * 生命周期函数--监听页面加载
		 */
		onLoad: function(options) {
			console.log(options);
			this.getData()
		},

		/**
		 * 生命周期函数--监听页面初次渲染完成
		 */
		onReady: function() {},

		/**
		 * 生命周期函数--监听页面显示
		 */
		onShow: function() {},

		/**
		 * 生命周期函数--监听页面隐藏
		 */
		onHide: function() {},

		/**
		 * 生命周期函数--监听页面卸载
		 */
		onUnload: function() {},

		/**
		 * 页面相关事件处理函数--监听用户下拉动作
		 */
		onPullDownRefresh: function() {},

		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function() {},

		/**
		 * 用户点击右上角分享
		 */
		onShareAppMessage: function() {},
		methods: {
			getData() {
				apis.gradeList().then((res) => {
					console.log(res)
					this.setData({
						list: res.list
					})
				})
			},
			exitGrade(row) {
				console.log(row)
				uni.showModal({
					title: '提示',
					content: '你确定退出' + row.gradeName + '?',
					success: res => {
						if (res.confirm) {
							apis.quitGrade({
								gradeId: row.id
							}).then(() => {
								this.getData();
								uni.showToast({
									title: '退出成功',
									icon: 'success'
								});
							})
						}
					}
				});
				return false
			}
		}
	};
</script>
<style lang="scss" scoped>
	.top-panel {
		padding: 20upx;
		text-align: center;
	}

	.add-btn {
		display: inline-block;
		height: 80upx;
		width: 80upx;
		text-align: center;
		font-size: 30px;
		position: fixed;
		bottom: 40upx;
		right: 40upx;
		line-height: 74upx;
		color: #fff;
		border-radius: 50%;
		background-color: #ff583d;
	}

	.examList {
		.examItem {
			background-color: #fff;
			padding: 26upx 30upx 18upx;
			margin: 20upx 30upx;
			border-radius: 10upx;
			display: flex;

			.examItemTitle {
				font-style: normal;
				font-size: 14px;
				line-height: 24px;
				color: #333333;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}

			.examItemTime {
				font-weight: 400;
				font-size: 32upx;
				color: #999999;
				line-height: 20px;
				margin-bottom: 20upx;
			}

			.examItemMain {
				flex: 1;
			}


			.examItemIcon {
				width: 32upx;
				height: 32upx;
				margin-right: 20upx;
				border: 1px solid #0C9BFF;
				color: #0C9BFF;
				border-radius: 6upx;
				display: inline-block;
				text-align: center;
				position: relative;
				font-size: 26upx;
				line-height: 30upx;
				position: relative;
				top: -6upx;
			}

			.examItemTip {
				line-height: 30px;
				color: #666666;
				font-size: 26upx;

				.fr {
					line-height: 20px;
					margin-top: 10upx
				}

				.tipItem {
					display: inline-block;
					margin-right: 20upx;
					line-height: 20px;

					.icon {
						width: 32upx;
						position: relative;
						top: 4px;
						height: 32upx;
						margin-right: 10upx;
					}
				}
			}
		}

		.exit-btn {
			border: 1px solid #007aff;
			background-color: #fff;
			color: #007aff;
			border-radius: 3px;
			font-size: 26upx;
			line-height: 50upx;
		}
	}
</style>
