<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="登录密码" prop="loginPassword">
        <el-input v-model="form.loginPassword" type="password" class="form-group" />
      </el-form-item>
      <el-form-item label="确认密码" prop="confirmPassword">
        <el-input v-model="form.confirmPassword" type="password" class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
  import { sysUserUpdatePassword } from '@/api/system';

  export default {
    name: 'ResetPasswordSysUser',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      const validateConfirmPassword = (rule, value, callback) => {
        if (value === undefined || value === null || value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.form.loginPassword !== value) {
            callback(new Error('登录密码和确认密码不一致'));
          }
          callback();
        }
      };
      return {
        form: {},
        rules: {
          loginPassword: [
            { required: true, message: '请输入登录密码', trigger: 'blur' }
          ],
          confirmPassword: [
            { required: true, validator: validateConfirmPassword, trigger: 'blur' }
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form.id = this.info.id;
        }
      }
    },
    methods: {
      handleClose() {
        this.form = {};
        this.$emit('close');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        sysUserUpdatePassword(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>

<style scoped>

</style>
