<template>
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="班级学员" prop="mobile">
        <el-input v-model="form.mobile" class="form-group" disabled>
          <el-button slot="append" icon="el-icon-search" @click="handleUserQuery" />
        </el-input>
      </el-form-item>
      <el-form-item label="学员昵称" prop="nickname">
        <el-input v-model="form.nickname" class="form-group" />
      </el-form-item>
      <el-form-item label="班级权限" prop="userRole">
        <el-radio-group v-model="form.userRole">
          <el-radio v-for="userRoleEnum in gradeStudentUserRoleEnumList" :key="userRoleEnum.code" :label="userRoleEnum.code">{{ userRoleEnum.desc }}</el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>

    <find-user :title="userCtr.title" :visible="userCtr.visible" @callback="userQueryClose" />
  </el-dialog>
</template>

<script>
  import { gradeStudentSave } from '@/api/exam';
  import FindUser from '@/views/exam/grade/info/list/student/findUser';

  export default {
    name: 'GradeStudentAdd',
    components: { FindUser },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      gradeInfo: {
        type: Object,
        default: () => {
        }
      },
      gradeStudentUserRoleEnumList: {
        type: Array,
        default: () => []
      }
    },
    data() {
      return {
        form: {
          userRole: 1,
          mobile: '',
          gradeId: '',
          nickname: ''
        },
        rules: {
          mobile: [
            { required: true, message: '请选择班级学员', trigger: 'blur' }
          ],
          nickname: [
            { required: true, message: '请输入学员昵称', trigger: 'blur' }
          ],
          userRole: [
            { required: true, message: '请选择用户角色', trigger: 'change' }
          ]
        },
        userCtr: {
          title: '用户查找',
          visible: false
        }
      }
    },
    mounted() {
      this.form.gradeId = this.gradeInfo.id
    },
    methods: {
      handleUserQuery() {
        this.userCtr.visible = true;
      },
      userQueryClose(data) {
        if (data.id) {
          this.form.mobile = data.mobile;
          this.form.userNo = data.userNo;
          this.form.nickname = data.nickname;
        }
        this.userCtr.visible = false;
      },
      handleClose() {
        this.$emit('close');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true;
        // 新增
        gradeStudentSave(this.form).then(res => {
          this.tips(res.data, 'success');
          this.handleClose();
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
