<template>
  <el-dialog
    v-loading="loading"
    width="30%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="班级学员">
        <el-input v-model="form.userNo" class="form-group" disabled />
      </el-form-item>
      <el-form-item label="学员昵称" prop="nickname">
        <el-input v-model="form.nickname" class="form-group" />
      </el-form-item>
      <el-form-item label="班级权限" prop="userRole">
        <el-radio-group v-model="form.userRole">
          <el-radio v-for="userRoleEnum in gradeStudentUserRoleEnumList" :key="userRoleEnum.code" :label="userRoleEnum.code">{{ userRoleEnum.desc }}</el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>

  </el-dialog>
</template>

<script>
  import { gradeStudentUpdate } from '@/api/exam';

  export default {
    name: 'GradeStudentAdd',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        rules: {
          mobile: [
            { required: true, message: '请选择班级学员', trigger: 'blur' }
          ],
          nickname: [
            { required: true, message: '请输入学员昵称', trigger: 'blur' }
          ],
          userRole: [
            { required: true, message: '请选择用户角色', trigger: 'change' }
          ]
        },
        loading: false,
        gradeStudentUserRoleEnumList: []
      }
    },
    mounted() {
      this.form = this.info
      this.$store.dispatch('GetOpts', { enumName: 'GradeStudentUserRoleEnum', type: 'arr' }).then(res => {
        this.gradeStudentUserRoleEnumList = res;
      });
    },
    methods: {
      handleClose() {
        this.$emit('close');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true;
        // 新增
        gradeStudentUpdate(this.form).then(res => {
          this.tips(res.data, 'success');
          this.handleClose();
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
