<template>
  <el-dialog
    top="8vh"
    :title="title"
    :visible.sync="visible"
    width="60%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="学生姓名">
        <el-input v-model="params.nickname" />
      </el-form-item>
      <el-form-item class="filter-item" label="角色类型">
        <el-select v-model="params.userRole" clearable placeholder="请选择">
          <el-option
            v-for="item in gradeStudentUserRoleEnumList"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleQuery">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
      <el-button plain type="success" size="mini" @click="handleStudentAdd">新增</el-button>
    </el-form>

    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="用户编号" prop="userNo" min-width="100" />
      <el-table-column label="学生名称" prop="nickname" min-width="160" />
      <el-table-column label="角色类型" min-width="100">
        <template slot-scope="scope">
          {{ gradeStudentUserRoleEnums[scope.row.userRole] }}
        </template>
      </el-table-column>
      <el-table-column label="状态" width="80">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="200">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleStudentEdit(scope.row)">修改</el-button>
          <el-button type="danger" plain size="mini" @click="handleDelete(scope.row)">踢除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />

    <grade-student-add v-if="addCtr.visible" :title="addCtr.title" :visible="addCtr.visible" :grade-info="addCtr.gradeInfo" :grade-student-user-role-enum-list="gradeStudentUserRoleEnumList" @close="studentAddClose" />
    <grade-student-edit v-if="editCtr.visible" :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="studentEditClose" />
  </el-dialog>
</template>

<script>
  import { gradeStudentPage, gradeStudentView, gradeStudentDelete } from '@/api/exam'
  import GradeStudentAdd from '@/views/exam/grade/info/list/student/add';
  import GradeStudentEdit from '@/views/exam/grade/info/list/student/edit';

  export default {
    name: 'GradeStudent',
    components: { GradeStudentAdd, GradeStudentEdit },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 10,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        params: {},
        gradeStudentUserRoleEnums: {},
        gradeStudentUserRoleEnumList: [],
        statusIdEnums: {},
        loading: false,
        addCtr: {
          title: '添加学员',
          visible: false,
          gradeInfo: {}
        },
        editCtr: {
          title: '修改学生信息',
          visible: false,
          info: {}
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.page.pageCurrent = 1;
          this.params = {
            gradeId: this.info.id
          }
          this.listForPage();
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'GradeStudentUserRoleEnum', type: 'arr' }).then(res => {
        this.gradeStudentUserRoleEnumList = res;
        res.forEach((item) => {
          this.gradeStudentUserRoleEnums[item.code] = item.desc;
        })
      });
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'arr' }).then(res => {
        res.forEach((item) => {
          this.statusIdEnums[item.code] = item.desc;
        })
      });
    },
    methods: {
      listForPage() {
        this.loading = true;
        gradeStudentPage(this.params, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleQuery() {
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      handleReset() {
        this.page.pageCurrent = 1;
        this.params = {
          gradeId: this.info.id
        }
        this.listForPage();
      },
      handleClose() {
        this.$emit('close');
      },
      handleCurrentChange(pageCurrent) {
        this.page.pageCurrent = pageCurrent;
        this.listForPage();
      },
      handleAddRow() {
      },
      handleStudentAdd() {
        this.addCtr.gradeInfo = this.info;
        this.addCtr.visible = true;
      },
      studentAddClose() {
        this.addCtr.visible = false;
        this.listForPage();
      },
      handleStudentEdit(gradeStudent) {
        this.loading = true;
        gradeStudentView(gradeStudent.id).then(res => {
          this.editCtr.info = res.data;
          this.editCtr.visible = true;
        }).catch(() => {
          this.$message.error('获取学员信息异常');
        }).finally(() => {
          this.loading = false;
        })
      },
      studentEditClose() {
        this.editCtr.visible = false;
        this.listForPage();
      },
      handleDelete(gradeStudent) {
        {
          const body = '确定踢出' + this.info.gradeName + '学员【' + gradeStudent.nickname + '】？';
          this.$confirm(body, '踢出确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading = true;
            gradeStudentDelete(gradeStudent.id).then(res => {
              this.listForPage();
              this.$message.success(res.data);
            }).finally(() => {
              this.loading = false;
            })
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
