<template>
  <div>
    <div class="container mgt30 blog_default">
      <div class="fl w880 radius_box b_fff">
        <div class="padlr_20 border_b clearfix blogger_nav">
          <span class="nav_item font_14 fl">博客</span>
        </div>
        <y-blog-list :page-obj="pageObj" @loadList="loadList" />
      </div>
      <div class="fr w300 clearfix radius_box">
        <div>
          <y-new-article :new-obj="newObj" />
        </div>
        <div class="mgt10">
          <y-hot-article :hot-obj="hotObj" />
        </div>
      </div>
    </div>
    <y-right-tap />
  </div>
</template>
<script>
import YRightTap from '~/components/common/RightTap'
import YBlogList from '~/components/blog/BlogList'
import YNewArticle from '~/components/blog/NewArticle'
import YHotArticle from '~/components/blog/HotArticle'
import listMixins from '~/utils/blog/listMixins.js'
import { searchBlog } from '~/api/blog/community.js'

export default {

  components: {
    YBlogList,
    YHotArticle,
    YNewArticle,
    YRightTap
  },
  mixins: [listMixins],
  head() {
    return {
      title: this.$store.state.clientData.name
    }
  },
  data() {
    return {
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  watch: {
    '$route.query'() {
      this.getData();
    }
  },
  async asyncData(context) {
    try {
      const hotParams = {
        pageCurrent: 1,
        pageSize: 10,
        sections: 2
      }
      const hotObj = await context.store.dispatch('blog/GET_BLOGLIST', hotParams)
      const newParams = {
        pageCurrent: 1,
        pageSize: 10,
        sections: 1
      }
      const newObj = await context.store.dispatch('blog/GET_BLOGLIST', newParams)
      return {
        hotObj,
        newObj
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      searchBlog({
        articleType: 1,
        isHfield: 1,
        title: this.$route.query.title
      }).then((res) => {
        if (res.code === 200) {
          this.pageObj = res.data
        }
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: 1,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        }
      })
    },
    // 改变是否关注
    changeActive(isAttention) {
      this.bolggerInfo.isAttention = !isAttention
    }
  }
}
</script>
<style lang="scss" scoped>

  .w120 {
    width: 120px;
  }
  .nav_item {
    display: inline-block;
    color: #D51423;
    border-bottom: 2px solid #D51423;
    line-height: 56px;
  }
</style>
