<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="分类名称">
        <el-input v-model.trim="map.articleZoneName" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('articleZoneCategorySave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="名称" prop="articleZoneName" width="250" />
      <el-table-column label="描述" prop="articleZoneDesc" />
      <el-table-column label="状态" width="120">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="120" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('articleZoneCategoryEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="checkPermission('articleZoneRefPage')" plain type="primary" size="mini" @click="handleArticle(scope.row)">设置</el-button>
          <el-button v-if="checkPermission('articleZoneCategoryDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>

        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add :visible="ctrl.addDialogVisible" :plat-show="ctrl.platShow" :adv-location="ctrl.advLocation" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <edit :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import { articleZoneCategoryPage, articleZoneCategoryDelete } from '@/api/community'
  import Add from '../add';
  import Edit from '../edit';

  export default {
    components: { Edit, Add },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          platShow: 1, // PC
          editDialogVisible: false,
          addDialogVisible: false
        },
        statusIdEnums: {},
        formData: {},
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            articleZoneCategoryDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.ctrl.dialogTitle = '新增';
        this.ctrl.addDialogVisible = true
      },
      handleUpdateRow(row) {
        this.formData = row
        this.ctrl.dialogTitle = '编辑';
        this.ctrl.editDialogVisible = true
      },
      handleArticle(row) {
        this.$router.push({ path: '/community/article/zone/ref/list', query: { articleZoneId: row.id, platShow: row.platShow } })
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        this.map.platShow = this.ctrl.platShow
        articleZoneCategoryPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
