<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
    width="50%"
  >
    <el-form ref="form" :model="form" label-width="80px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="头像">
            <upload-image :width="120" :height="120" :image-url="form.headImgUrl" @success="val => {form.headImgUrl = val.url}" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="手机">
            <el-input v-model="form.mobile" readonly class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="昵称">
            <el-input v-model="form.nickname" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="性别" prop="status">
            <el-radio v-for="item in sexEnum" :key="item.code" v-model="form.sex" size="small" :label="item.code">{{ item.desc }}</el-radio>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="年龄">
            <el-input v-model="form.age" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="推荐" prop="status">
            <el-radio v-for="item in isRecommendedEnums" :key="item.code" v-model="form.isRecommended " size="small" :label="item.code">{{ item.desc }}</el-radio>
            <el-tooltip class="item"  effect="light" content="开启后，该用户拥有推荐用户功能" placement="top-start">
              <svg-icon class="svg-icon" icon-class="question" />
            </el-tooltip>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="备注">
            <el-input v-model="form.remark" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="onSubmit()">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { userExtEdit } from '@/api/user'
  import UploadImage from '@/components/Upload/UploadImage';

  export default {
    name: 'EditUserExt',
    components: { UploadImage },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        sexEnum: {},
        statusIdEnum: {},
        isRecommendedEnums: {}
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = this.info
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'SexEnum', type: 'arr' }).then(res => {
        this.sexEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'arr' }).then(res => {
        this.statusIdEnum = res;
      })
      this.$store.dispatch('GetOpts', { enumName: 'IsRecommendedEnum', type: 'arr' }).then(res => {
        this.isRecommendedEnums = res;
      })
    },
    methods: {
      uploadSuccess(res) {
        this.formData.headImgUrl = res.url
      },
      handleClose() {
        this.$emit('close-callback');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading.start()
        userExtEdit(this.form).then(res => {
          this.tips(res.data, 'success');
          this.handleClose();
        })
      }
    }
  }
</script>
<style scoped>

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
