<template>
  <div v-if="status === 1 || status === 2" class="avatar-uploader" :style=" 'height:' + height + 'px;width:' + width + 'px;'">
    <el-progress :stroke-width="26" :text-inside="true" :percentage="int" />
  </div>
  <el-upload
    v-else
    class="upload-demo"
    action=""
    multiple
    :limit="1"
    :http-request="upload">
    <el-button size="small" type="primary">点击上传</el-button>
  </el-upload>
</template>

<script>
  import uploadmixin from '@/utils/mixin/uploadVideo'
  export default {
    name: 'UploadFile',
    mixins: [uploadmixin],
    props: {
      width: {
        type: Number,
        default: 356
      },
      height: {
        type: Number,
        default: 178
      },
      fileType: { // 文件类型
        type: Number,
        default: 1
      },
      imageUrl: { // 默认图片路径
        type: String,
        default: ''
      }
    },
    data() {
      return {
        accept: '',
        imageType: 'image/jpeg,image/png,image/gif,image/x-icon',
        videoType: 'video/mp4,video/avi,video/mpg,video/mpeg,video/ram,video/flv,video/mov,video/asf,video/3gp,video/f4v,video/wmv,video/x-ms-wmv',
        status: 0, //  0:未上传， 1：正在上传， 2：已完成
        int: 50,
        url: ''
      };
    },
    watch: {
      imageUrl(newData) {
        if (newData) {
          this.url = newData
          this.status = 2
        } else {
          this.url = ''
          this.status = 0
        }
      }
    },
    mounted() {
      if (this.fileType === 2) {
        this.accept = this.imageType
      }
      if (this.fileType === 3) {
        this.accept = this.videoType
      }
      if (this.imageUrl) {
        this.url = this.imageUrl
        this.status = 2
      } else {
        this.url = ''
        this.status = 0
      }
    },
    methods: {
      upload(file) {
        this.status = 1
          this.startUpload([file.file])
      },
      closeUpload() {
        this.status = 0
      },
      // 视频
      savaVideo(data, int) {
        if (data.ossUrl) {
          this.status = 2
          this.int = int
          this.url = data.ossUrl
          this.$emit('success', {name: data.file.name, url: data.ossUrl})
        }
      },
      handleAvatarSuccess(res, file) {
        this.url = URL.createObjectURL(file.raw);
      },
      beforeAvatarUpload(file) {
        const isIMG = this.accept.indexOf(file.type);
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (isIMG === -1) {
          this.$message.error('不支持上传该文件格式');
        }
        if (!isLt2M) {
          this.$message.error('上传图片大小不能超过 2MB!');
        }
        return isIMG !== -1 && isLt2M;
      }
    }
  }
</script>

<style lang="scss">
  .avatar-uploader {
    position: relative;

    .el-upload, .upload-progress {
      width: 100%;
      height: 100%;
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &:hover {
        border-color: #409EFF;
      }
    }

    .avatar-uploader-icon {
      width: 100%;
      font-size: 28px;
      line-height: 0;
      color: #8c939d;
      text-align: center;
      height: 0;
      position: absolute;
      top: 50%;
      left: 0;
    }

    .avatar {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden;
    }

    .el-progress-circle {
      width: 100% !important;
      height: 100% !important;
      svg{
        padding: 10px;
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
      }
    }

    .close-dialog {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 6px;

      .avatar-uploader-icon {
        color: #fff;
        font-size: 42px;
      }

      .reset-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -14px;
        margin-left: -40px;
      }
    }

    &:hover {
      .close-dialog {
        display: block;
      }
    }
  }
</style>
