
<template>
  <div class="main_box">
    <div class="btn-content">
      <div class="fr">
        <el-input
          class="input-with-select"
          clearable
          placeholder="请输入内容"
          size="small"
          v-model="input"
        >
          <el-button @click="seek()" icon="el-icon-search" slot="append" />
        </el-input>
      </div>
      <br />
    </div>
    <div v-loading="loading">
      <div class="notdata" v-if="notdata">
        <i class="iconfont">&#xe6be;</i>暂时没有数据
      </div>
      <div class="course-table table" v-else>
        <div :key="item.id" class="course-item" v-for="item in examList">
          <div class="course-item-title">
            <p class="course-item-title-text">{{ item.examName }}</p>
          </div>
          <div class="course-item-tip">
            <span>{{
              item.subjectParentName
                ? item.subjectParentName + "/" + item.subjectName
                : item.subjectName
            }}</span>
            <span v-if="item.scoreAccount">总分:{{ item.scoreAccount }}分</span>
            <span v-if="item.subjectAccount">| 共{{ item.subjectAccount }}道题</span>
            <span v-if="item.answerTime">| 限制{{ item.answerTime }}分钟</span>
            <span>| 创建于{{ item.gmtCreate }}</span>
          </div>
          <el-button type="success" class="course-item-select" @click="select(item)">选择</el-button>
        </div>
      </div>
      <div class="center">
        <el-pagination
          :current-page="pageObj.pageCurrent"
          :page-size="pageObj.pageSize"
          :total="pageObj.totalCount"
          @current-change="getPage"
          background
          class="page-panel"
          layout="prev, pager, next"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { myExamList } from '~/api/account/exam.js';

export default {
  name: 'ExamIndex',
  components: {},
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的试卷'
    };
  },
  data() {
    return {
      loading: true,
      num: 1,
      examList: [],
      exam: {},
      pageObj: {
        pageCurrent: 1,
        pageSize: 10,
        totalCount: 0,
        totalPage: 0
      },
      input: ''
    };
  },
  computed: {
    webInfo() {
      return this.$store.state.webInfo;
    },
    notdata() {
      return !this.examList.length;
    }
  },
  mounted() {
    this.obj = {
      pageCurrent: 1,
      pageSize: 10
    };
    this.obj.lecturerUserNo = this.$store.state.userInfo.userNo;
    console.info(this.obj);
    this.getExamList(this.num);
  },
  methods: {
    getPage(int) {
      this.obj.pageCurrent = int;
      this.getExamList(this.num);
    },
    select(item) {
      this.$emit('change', item)
    },
    seek() {
      this.obj.examName = this.input;
      this.getExamList(this.num);
    },
    getExamList(int) {
      this.loading = true;
      this.obj.subjectCategory = int;
      this.obj.auditStatus = 1;
      myExamList(this.obj)
        .then((res) => {
          this.loading = false;
          this.pageObj = res.data;
          this.examList = res.data.list;
          if (res.data.list.length > 0) {
            this.pageObj = res.data;
          } else {
            this.pageObj.totalPage = 0;
          }
        })
        .catch(() => {
          this.examList = [];
        });
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding: 10px 20px;
  height: 70px;
}
.boder1 {
  border: 1px solid;
}

.course-table {
  height: 400px;
  overflow-y: auto;
  padding: 10px 20px;
  .course-item {
    margin-bottom: 20px;
  }
}

.account_pages .notdata {
  .iconfont {
    position: relative;
    top: 4px;
  }
  font-size: 16px;
  line-height: 140px;
}

.select-all {
  margin-top: 20px;
}

.course-item {
  border: 1px solid #eee;
  border-radius: 2px;
  padding:10px 20px;
  margin-bottom: 30px;
  padding-right: 100px;;
  position: relative;

  .course-item-footer {
    display: flex;
    line-height: 28px;
    .course-item-footer-time {
      flex: 1;
    }
  }

  .course-item-select {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -12px;
  }

  .course-item-tip {
    font-family: "MicrosoftYaHeiUI", "Microsoft YaHei UI";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: 26px;
    .fr {
      text-align: right;
      color: red;
      position: relative;
      line-height: 22px;
      top: 5px;
      overflow: hidden;
      max-width: 500px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .course-item-title {
    display: flex;
    .course-item-checkbox {
      margin-right: 5px;
      position: relative;
      top: 4px;
    }
    .course-item-title-text {
      flex: 1;
      font-family: "MicrosoftYaHeiUI", "Microsoft YaHei UI";
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #333333;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
</style>

