<template>
  <div class="courseComment">
    <div class="inputBox" style="margin: 0 15px;">
      <input type="text" class="commentInput" v-model="text" />
      <!-- <span class="textNum">{{ 500 - text.length }}</span> -->
      <el-button :class="['submitBtn', isText ? 'primary' : '']" @click="submit()">评论</el-button>
    </div>
    <div class="tip" v-if="list.length">
      全部评论
      <span>{{ totalCount }}</span>
    </div>
    <div class="courseCommentList">
      <div class="courseCommentItem" v-for="(item, index) in list" :key="index">
        <div class="courseCommentItemBox">
          <div class="userLogo">
            <img :src="item.userImg" :alt="item.nickname" />
          </div>
          <div class="courseCommentItemText">
            <div class="userName">{{ item.nickname }}</div>
            <div class="commentText w-e-text" v-html="item.content"></div>
            <div class="courseCommentItemfooter">
              {{ item.gmtCreate | timesFun }}
              <div class="right">
                <div class="commentBtn" @click="showComment(index)">
                  <i class="iconfont">&#xe620;</i>
                  {{ item.courseCommentList?(item.courseCommentList.length || ''):'' }}
                </div>
                <div class="likeBtn" v-if="userNo == item.userNo" @click="del(index)">
                  <i class="iconfont">&#xe616;</i>
                </div>
              </div>
            </div>
            <!-- 二级评论 -->
            <div
              class="courseCommentList"
              v-if="item.courseCommentList && item.courseCommentList.length">
              <div
                class="courseCommentItem"
                v-for="(citem, cindex) in item.courseCommentList"
                :key="cindex">
                <div class="courseCommentItemBox">
                  <div class="userLogo">
                    <img :src="citem.userImg" :alt="citem.nickname" />
                  </div>
                  <div class="courseCommentItemText">
                    <div class="userName">{{ citem.nickname }}</div>
                    <div class="commentText w-e-text" v-html="citem.content"></div>
                    <div class="courseCommentItemfooter">
                      {{ citem.gmtCreate | timesFun }}
                      <div class="right">
                        <div
                          class="likeBtn"
                          v-if="userNo == citem.userNo"
                          @click="del(index, cindex)"
                        >
                          <i class="iconfont">&#xe616;</i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 二级评论 -->
            <!-- 评论模块 -->
            <div v-if="item.isShow">
              <div class="inputBox" style="border-bottom: none">
                <input type="text" class="commentInput" v-model="commentText" />
                <span class="textNum">{{ 500 - commentText.length }}</span>
                <el-button
                  :class="['submitBtn', isCommentText ? 'primary' : '']"
                  @click="submit(index)"
                >
                评论
                </el-button>
              </div>
            </div>
            <!-- 评论模块 -->
          </div>
        </div>
      </div>
    </div>
    <div class="loading" @click="getList()">{{ totalPage>page?'查看更多评论':'没有更多评论了' }}</div>
  </div>
</template>

<script>
import {
  courseCommentSave,
  courseCommentList,
  courseCommentDelete
} from '~/api/course.js';
export default {
  name: 'CourseComment',
  components: {},
  filters: {
    timesFun(timesData) {
      // 如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
      const dateBegin = new Date(timesData.replace(/-/g, '/')); // 将-转化为/，使用new Date
      const dateEnd = new Date(new Date().getTime() + 10 * 1000); // 获取当前时间
      const dateDiff = dateEnd.getTime() - dateBegin.getTime(); // 时间差的毫秒数
      const dayDiff = Math.abs(Math.floor(dateDiff / (24 * 3600 * 1000))); // 计算出相差天数
      const leave1 = dateDiff % (24 * 3600 * 1000); // 计算天数后剩余的毫秒数
      const hours = Math.floor(leave1 / (3600 * 1000)); // 计算出小时数
      // 计算相差分钟数
      const leave2 = leave1 % (3600 * 1000); // 计算小时数后剩余的毫秒数
      const minutes = Math.floor(leave2 / (60 * 1000)); // 计算相差分钟数
      // 计算相差秒数
      let timesString = '';
      console.log('-dayDiff-',dayDiff)
      if (dayDiff > 7) {
        return timesData;
      }

      if (dayDiff !== 0) {
        timesString = dayDiff + '天之前';
      } else if (dayDiff === 0 && hours !== 0) {
        timesString = hours + '小时之前';
      } else if (dayDiff === 0 && hours === 0) {
        timesString = minutes + '分钟之前';
      }
      return timesString;
    }
  },
  props: {
    courseInfo: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      text: '',
      page: 0,
      totalCount: 0,
      list: [],
      showIndex: 0,
      parentId: '',
      totalPage: 0,
      commentText: '',
      ipInfo: {}
    };
  },
  computed: {
    isText() {
      return this.text.replace(/<[^>]+>|&[^>]+;/g, '').trim();
    },
    isCommentText() {
      return this.commentText.replace(/<[^>]+>|&[^>]+;/g, '').trim();
    },
    isLogin() {
      return this.$store.state.tokenInfo;
    },
    userNo() {
      return this.$store.state.userInfo.userNo;
    },
    userInfo() {
      return this.$store.state.userInfo;
    },
    test() {
      return '';
    }
  },
  mounted() {
    this.$jsonp('//gateway.doityun.com/ip/info').then((res) => {
      this.ipInfo = res;
    });
  },
  created() {
    this.getList();
  },
  methods: {
    del(index, cindex = -1) {
      let item = this.list[index];
      if (cindex !== -1) {
        item = this.list[index].courseCommentList[cindex];
      }
      this.$confirm('确定删除这条评论?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        courseCommentDelete({
          courseId: this.courseInfo.id,
          id: item.id,
          parentId: item.parentId,
          userNo: this.userNo
        }).then((res) => {
          if (res.code === 200) {
            this.$message({
              message: '删除评论成功！',
              type: 'success'
            });
            if (cindex !== -1) {
              this.list[index].courseCommentList.splice(cindex, 1);
            } else {
              this.list.splice(index, 1);
            }
          }
        });
      });
    },
    showComment(index) {
      if (index !== this.showIndex) {
        this.list[this.showIndex].isShow = false;
      }
      this.list[index].isShow = !this.list[index].isShow;
      if (this.list[index].isShow) {
        this.parentId = this.list[index].id;
      } else {
        this.parentId = '';
      }
      this.showIndex = index;
      this.list = this.list.concat([]);
    },
    getList() {
      if (this.totalPage <= this.page && this.page !== 0) {
        return;
      }
      this.page++;
      const init = (res) => {
        if (this.page === 1) {
          this.list = [];
        }
        this.totalPage = res.data.totalPage;
        this.totalCount = res.data.totalCount;
        if (res && res.code === 200) {
          res.data.list.forEach((e) => {
            e.isShow = false;
          });
          this.list = this.list.concat(res.data.list || []);
        }
      };
      courseCommentList({
        courseId: this.courseInfo.id,
        pageCurrent: this.page,
        pageSize: 20
      }).then(init);
    },
    submit(index = -1) {
      if (!this.isLogin) {
        this.$confirm('登录后才可以评论?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return false;
      }
      let text = this.text;
      if (index !== -1) {
        text = this.commentText;
      } else {
        this.parentId = '0';
      }

      if (!this.isText && !this.isCommentText) {
        return this.$message.error('请输入请内容！');
      }

      courseCommentSave({
        content: text,
        courseId: this.courseInfo.id,
        courseUserNo: this.courseInfo.lecturerUserNo,
        parentId: this.parentId || 0,
        userIp: this.ipInfo.ip,
        userNo: this.userInfo.userNo,
        userTerminal: this.getBrowserInfo().name + ':' + this.getBrowserInfo().version
      }).then((res) => {
        this.$message({
          message: '评论成功！',
          type: 'success'
        });
        this.text = '';
        this.commentText = '';
        this.page = 0;
        if (index !== -1) {
          this.showComment(index);
        }
        this.getList();
        console.log(res);
      });
    },
    getBrowserInfo: function () {
      /* eslint-disable */
      const Sys = {};
      const ua = navigator.userAgent.toLowerCase();
      let s;
      (s = ua.match(/rv:([\d.]+)\) like gecko/))
        ? (Sys.ie = s[1])
        : (s = ua.match(/msie ([\d]+)/))
        ? (Sys.ie = s[1])
        : (s = ua.match(/edge\/([\d]+)/))
        ? (Sys.edge = s[1])
        : (s = ua.match(/firefox\/([\d]+)/))
        ? (Sys.firefox = s[1])
        : (s = ua.match(/(?:opera|opr).([\d]+)/))
        ? (Sys.opera = s[1])
        : (s = ua.match(/chrome\/([\d]+)/))
        ? (Sys.chrome = s[1])
        : (s = ua.match(/version\/([\d]+).*safari/))
        ? (Sys.safari = s[1])
        : 0;
      // 根据关系进行判断
      if (Sys.ie) return { name: "IE", version: Sys.ie };
      if (Sys.edge) return { name: "EDGE", version: Sys.edge };
      if (Sys.firefox) return { name: "Firefox", version: Sys.firefox };
      if (Sys.chrome) return { name: "Chrome", version: Sys.chrome };
      if (Sys.opera) return { name: "Opera", version: Sys.opera };
      if (Sys.safari) return { name: "Safari", version: Sys.safari };
      return { name: "Unkonwn", version: "0.0.0" };
    },
  },
};
</script>

<style scoped lang="scss">
.courseComment {
  padding: 30px 0;
  .loading {
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
  }
  .tip {
    padding: 30px 15px 20px;  
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    span {
      color: #999999;
      margin-left: 6px;
    }
  }
  .inputBox {
    margin-top: 10px;
    padding: 0 0px;
    padding-right: 115px;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 1px solid #ddd;

    .textNum {
      position: absolute;
      right: 140px;
      height: 40px;
      color: #666;
      line-height: 40px;
    }
    .commentInput {
      height: 40px;
      line-height: 40px;
      padding: 0 50px 0 10px;
      width: 100%;
      color: #666;
      border: none;
      background: rgb(244, 244, 244);
      border-radius: 8px;
      box-sizing: border-box;
    }
    .submitBtn {
      width: 100px;
      height: 40px;
      position: absolute;
      right: 0px;
      top: 0;
      outline: none;
      border: none;
      background: rgb(244, 244, 244);
      border-radius: 8px;
      color: #666;
      &.primary {
        background: #2388ec;
        color: #fff;
      }
    }
  }
  .courseCommentList {
    padding: 0 15px;

    .courseCommentItem {
      padding: 20px 0;
      border-bottom: 1px solid #e5e5e5;
      &:last-child {
        border-bottom: none;
      }
      .courseCommentItemBox {
        display: flex;
      }

      .courseCommentWangeditor {
        margin: 20px 0 0;
      }
      .btnBar {
        padding-right: 0;
        padding-bottom: 10px;
        border-bottom: none;
      }

      .courseCommentItemText {
        flex: 1;

        .courseCommentList {
          background: #f4f4f4;
          border-radius: 3px;
          margin-top: 26px;
          padding: 10px 20px;
          position: relative;
          overflow-y: auto;
          max-height: 278px;
          &::after {
            content: " ";
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-bottom: 14px solid #f4f4f4;
            position: absolute;
            left: 20px;
            top: -13px;
          }
        }

        .userName {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #333333;
          margin-top: 2px;
          margin-bottom: 15px;
        }

        .commentText {
          font-size: 14px;
          line-height: 20px;
          color: #666666;
          margin-bottom: 10px;
          overflow-y: auto;
        }

        .courseCommentItemfooter {
          font-size: 14px;
          line-height: 20px;
          color: #999999;

          .right {
            overflow: hidden;
            vertical-align: top;
            float: right;
            .likeBtn,
            .commentBtn {
              cursor: pointer;
              display: inline-block;
              padding: 0 10px;
              font-size: 12px;
              line-height: 20px;
              color: #bdbdbd;
            }

            .likeBtn {
              .iconfont {
                font-size: 14px;
                vertical-align: top;
              }
            }

            .commentBtn {
              .iconfont {
                font-size: 24px;
                vertical-align: top;
              }
            }
          }
        }
      }
      .userLogo {
        width: 63px;
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
    }
  }
}
</style>
