<!-- 课程信息展示 -->
<template>
  <div class>
    <div class="detail_content">
      <div class="detail_body">
        <ul class="detail_header clearfix">
          <li>
            <nuxt-link :to="{name: 'index'}">首页</nuxt-link>
            <span>></span>
          </li>
          <li>
            <nuxt-link :to="{name: 'list'}">点播中心</nuxt-link>
            <span>></span>
          </li>
          <li>{{ courseInfo.courseName }}</li>
        </ul>
        <div class="clearfix">
          <div class="video_box">
            <div
              id="player"
              ref="videobox"
              :style="'background-image:url('+courseInfo.courseLogo+')'"
              class="detail_view"
            />
            <!-- <span class="iconfont close_video" @click="stopVideo">&#xe616;</span> -->
          </div>
          <div class="view_info">
            <p>{{ courseInfo.courseName }}</p>
            <div class="view_price">
              <div>
                价格:<span v-if="!courseInfo.isFree">￥{{ courseInfo.courseOriginal ? courseInfo.courseOriginal.toFixed(2) : '0.00' }}</span>
                <span v-else>免费</span>
                <div
                  class="chosenPercent"
                  @click="openChosenPercent()"
                  v-if="courseInfo.chosenPercent"
                >
                分享赚￥{{ courseInfo.chosenPercent }}
              </div>
              </div>
              <div v-if="!courseInfo.isFree" class="mgt10">
                SVIP:<span class="font_16">{{ courseInfo.courseDiscount ? '￥' + courseInfo.courseDiscount.toFixed(2) : '免费' }}</span>
                <nuxt-link :to="{name: 'vip'}" class="set_vip">更多权益>></nuxt-link>
              </div>
              <activity-panel :course-info="courseInfo" />
            </div>
            <div v-if="courseInfo.countBuy" class="view_teacher">
              <span class="text_b">讲师:</span>
              {{ courseInfo.lecturer.lecturerName }}
            </div>
            <div class="view_teacher mgt20">
              <span class="text_b">购买人数:</span>
              {{ courseInfo.countBuy || 0 }} 人
            </div>
            <div class="foot_box">
              <div class="study_num">
                <span class="iconfont mgr10">&#xe60a;</span>
                {{ courseInfo.countStudy || 0 }} 人已学习
              </div>
              <a
                :class="{collect_btn: true, c_red: isCollect}"
                @click="setCollection"
                href="javascript:"
              >
                <span class="iconfont">&#xe670;</span>&nbsp;收藏
              </a>
              <button v-if="courseInfo.isPutaway === 0" class="buy_btn" disabled>课程已下架</button>
              <button
                v-else-if="courseInfo.isFree && !isLogin"
                @click="goLogin"
                class="buy_btn"
              >
              登录观看
              </button>
              <button id="buyBtn" v-else @click="buyCourse" class="buy_btn">立即购买</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog title :visible.sync="dialogVisible" width="500px">
      <div class="chosenPercent-box">
        <div class="title-box">
          <div class="title">邀请好友学习</div>
          <div class="tip">
            每邀请一位你将得
            <span>￥{{ courseInfo.chosenPercent }}</span>
          </div>
        </div>
        <div class="share-List">
          <div class="share-input">
            链接邀请
            <el-input disabled v-model="InvitLink" class="input"></el-input>
            <el-button type="primary" @click="copy()">复制链接</el-button>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import activityPanel from '../activity/ActivityPanel'
import { collectionSave, removeCollection } from '~/api/course.js'
export default {
  components: { activityPanel },
  props: {
    courseInfo: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      couponData: undefined,
      dialogVisible: false,
      isCollect: this.courseInfo.isCollectionCourse,
      isLogin: this.$store.state.tokenInfo,
      InvitLink: ''
    }
  },
  mounted() {
    function makeQuery(queryObject) {
      const query = Object.entries(queryObject)
        .reduce((result, entry) => {
          result.push(entry.join('='))
          return result
        }, []).join('&')
      return `?${query}`
    }
    console.log(this.$route)
    const query = Object.assign({}, this.$route.query)
    query.referralCode = this.courseInfo.referralCode
    this.InvitLink = window.location.origin + this.$route.path + makeQuery(query)
  },
  methods: {
    openChosenPercent() {
      if (!this.isLogin) {
        this.$confirm('登录后才可以分享赚钱！', '提示', {
          type: 'warning'
        }).then(res => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return false
      }
      this.dialogVisible = true
    },
    copy() {
      const transfer = document.createElement('input')
      document.body.appendChild(transfer)
      transfer.value = this.InvitLink // 这里表示想要复制的内容
      transfer.focus()
      transfer.select()
      if (document.execCommand('copy')) {
        document.execCommand('copy')
      }
      transfer.blur()
      this.$message({
        message: '复制成功!',
        type: 'success'
      })
      document.body.removeChild(transfer)
    },
    goLogin() {
      this.$store.dispatch('REDIRECT_LOGIN')
    },
    // 购买视频
    buyCourse(event) {
      this.$emit('buyCourse')
    },
    // 取消收藏
    removeCollection() {
      removeCollection({
        collectionId: this.courseInfo.id,
        collectionType: 1
      }).then(res => {
        this.$msgBox({ content: '成功取消收藏' })
        this.isCollect = false
      })
    },
    // 收藏课程
    setCollection() {
      if (this.$route.name === 'preview-course-id') {
        return false
      }
      if (!this.isLogin) {
        this.$confirm('登录后才可以收藏?', '提示', {
          type: 'warning'
        }).then(res => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return false
      }
      if (this.isCollect) {
        this.removeCollection()
        return false
      }
      collectionSave({
        collectionType: 1,
        courseCategory: this.courseInfo.courseCategory,
        collectionId: this.courseInfo.id
      }).then(res => {
        if (res.code === 200) {
          this.$msgBox({ content: '收藏成功' })
          this.isCollect = true
        } else if (res.code === 406) {
          this.isCollect = true
        }
      })
    }
  }
}
</script>

<style lang="scss"  scoped>
.chosenPercent-box {
  .title-box {
    text-align: center;
    .title {
      font-size: 27px;
    }
    .tip {
      font-size: 16px;
      line-height: 1.4;
      span {
        color: red;
      }
    }
  }

  .share-List {
    text-align: center;
    padding: 100px 0 50px;
  }

  .share-input {
    .input {
      width: 300px;
    }
  }
}
.detail_body {
  width: 1200px;
  margin: 0 auto;
  height: 408px;
}
.detail_header {
  li {
    float: left;
    line-height: 57px;
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
    span {
      margin-left: 20px;
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.chosenPercent {
  line-height: 32px;
  height: 32px;
  padding: 0 15px;
  float: right;
  color: #fff;
  border-radius: 20px 16px 16px 0;
  background-image: linear-gradient(
    to right,
    rgb(235, 106, 34),
    rgb(193, 33, 133)
  );
}
.detail_content {
  background: rgb(51, 51, 51);
  .detail_body {
    width: 1200px;
    margin: 0 auto;
    height: 410px;
  }
}
.detail_header {
  li {
    float: left;
    line-height: 57px;
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
    span {
      margin-left: 20px;
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.view_info {
  float: right;
  width: 570px;
  height: 333px;
  position: relative;
  p {
    font-size: 18px;
    color: #fff;
    word-break: break-all;
  }
  .foot_box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 36px;
  }
  .buy_btn {
    display: block;
    width: 136px;
    height: 36px;
    color: #fff;
    background: #d51423;
    border: none;
    border-radius: 6px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    // position: absolute;
    // bottom: 0px;
    &:hover {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }
    &:disabled {
      background-color: #ddd;
      color: #888;
      border: 1px solid #aaa;
    }
  }
  .study_num {
    float: right;
    height: 36px;
    line-height: 36px;
    color: #999;
    font-size: 14px;
  }
  .huabei {
    color: #fff;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    img {
      width: 17px;
      height: 17px;
      position: absolute;
      left: 0;
    }
  }
}
.view_price {
  border-bottom: 1px solid rgb(102, 102, 102);
  padding-bottom: 10px;
  color: #bbb;
  font-size: 14px;
  margin: 20px 0;
  span {
    font-size: 18px;
    color: #d51423;
    font-weight: bold;
    margin-left: 20px;
  }
  .font_16 {
    font-size: 16px;
    font-weight: 400;
  }
  .set_vip {
    color: #0099ff;
    margin-left: 6px;
  }
  .favo {
    font-size: 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #f80;
    margin-left: 22px;
  }
  .favo_right {
    background: none;
    border: 1px solid #d51423;
    height: 13px;
    color: #d51423;
    margin-left: -5px;
    border-radius: 7px 0 0 7px;
  }
  .small_favo {
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #f80;
    height: 13px;
    line-height: 14px;
    color: #f80;
    padding: 0 5px;
  }
  .big_favo {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
  }
}
.detail_view {
  float: left;
  width: 600px;
  height: 333px;
  background: rgb(102, 102, 102);
  background-size: 100%;
  background-repeat: no-repeat;
  &.float_win {
    position: fixed;
    right: 10px;
    bottom: 30px;
    z-index: 9999;
  }
}
.view_teacher {
  color: #bbb;
  font-size: 14px;
  .text_b {
    margin-right: 20px;
    font-weight: bold;
  }
}
</style>
