<!-- 推荐课程 -->
<template>
  <div v-if="recommendList.length" class="recommend_box">
    <div class="header">
      热门推荐
    </div>
    <div class="course_items">
      <div v-for="(item, index) in recommendList" :key="index" class="course_item">
        <div class="img_box inline_box">
          <nuxt-link v-if="item.courseCategory === 1" :to="{name: 'view-id', params: {id: item.courseId}}" target="_blank">
            <img :src="item.courseLogo" class="course_img" alt="">
          </nuxt-link>
          <nuxt-link v-if="item.courseCategory === 2" :to="{name: 'live-id', params: {id: item.courseId}}" target="_blank">
            <img :src="item.courseLogo" class="course_img" alt="">
          </nuxt-link>
          <nuxt-link v-if="item.courseCategory === 3" :to="{ path: '/library/view/' + that.courseId}" target="_blank">
            <img :src="item.courseLogo" class="course_img" alt="">
          </nuxt-link>
          <nuxt-link v-if="item.courseCategory === 4" :to="{name: 'resource-detail-id', params: {id: item.courseId}}" target="_blank">
            <img :src="item.courseLogo" class="course_img" alt="">
          </nuxt-link>
        </div>
        <div class="course_info inline_box">
          <nuxt-link v-if="item.courseCategory === 1" :to="{name: 'view-id', params: {id: item.courseId}}" target="_blank" class="course_name course_text c_999">
            {{ item.courseName }}
          </nuxt-link>
          <nuxt-link v-if="item.courseCategory === 2" :to="{name: 'live-id', params: {id: item.courseId}}" target="_blank" class="course_name course_text c_999">
            {{ item.courseName }}
          </nuxt-link>
          <nuxt-link v-if="item.courseCategory === 3" :to="{ path: '/library/view/' + that.courseId}" target="_blank" class="course_name course_text c_999">
            {{ item.courseName }}
          </nuxt-link>
          <nuxt-link v-if="item.courseCategory === 4" :to="{name: 'resource-detail-id', params: {id: item.courseId}}" target="_blank" class="course_name course_text c_999">
            {{ item.courseName }}
          </nuxt-link>
          <p v-if="item.isFree" class="course_price course_text c_red">
            免费
          </p>
          <div v-else class="course_price course_text c_red">
            ￥{{ item.courseOriginal }}
            <p v-if=" item.courseDiscount != item.courseOriginal" class="c_gold font_12 mgt3">
              SVIP:{{ item.courseDiscount ? '￥' + item.courseDiscount : '免费' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { recommendList } from '~/api/course.js'
export default {
  props: {
    categoryNo: {
      type: [String, Number],
      default: 0
    }
  },
  data() {
    return {
      recommendList: []
    }
  },
  watch: {
    categoryNo() {
      this.getRecommendCourse()
    }
  },
  mounted() {
    if (this.categoryNo) {
      this.getRecommendCourse()
    }
  },
  methods: {
    getRecommendCourse() {
      recommendList({ categoryId: this.categoryNo }).then((res) => {
        if (res.code === 200) {
          if (res.data) {
            this.recommendList = res.data.list
          }
        }
      }).catch(() => {
        console.log('推荐课程')
      })
    },
    // 跳转详情页
    goDetail(id, type) {
      let name = ''
      if (type === 1) {
        name = 'view-id'
      } else if (type === 2) {
        name = 'live-id'
      } else if (type === 3) {
        name = 'liveAndBunch'
      }
      this.$router.push({ name, params: { id } })
    }
  }
}
</script>
<style lang="scss" scoped>
  .recommend_box {
    color: #333;
    background: #fff;
    margin-top: 30px;
    border-radius: 8px;
    font-size: 14px;
    padding-bottom: 20px;
    .header {
      padding-left: 20px;
      line-height: 60px;
      border-bottom: 1px solid #e4e4e4;
    }
    .course_item {
      padding: 20px 20px 0;
    }
    .inline_box {
      position: relative;
      display: inline-block;
    }
    .img_box {
      width: 120px;
      height: 60px;
    }
    .course_img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
    .course_info {
      height: 60px;
    }
    .course_text {
      width: 100px;
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .course_name {
      top: 0;
      &:hover {
        color: #D51423;
        text-decoration: none;
      }
    }
    .course_price {
      bottom: 0;
    }
  }
</style>
