<template>
  <div class="refExam">
    <alerts
      :title="'修改关联试卷'"
      @close="close"
      width="700px"
      top="20vh"
      v-model="isView"
    >
      <div slot="contents">
        <div class="exam-item" v-if="item.id">
          <div class="exam-item-title-box">
            <i class="exam-item-icon">{{
              item.subjectName ? item.subjectName[0] : "卷"
            }}</i>
            <div class="exam-item-title" v-html="item.examName"></div>
          </div>
          <div class="exam-item-tip">
            <span v-if="item.gmtModified">更新: {{ item.gmtModified }}</span>
            &nbsp;
          </div>
        </div>
        <div v-else class="notdata">没有关联试卷</div>
        <div style="text-align: center">
          <el-button type="primary" @click="toggleAdd()">
            {{ item.id ? "修改" : "添加" }}关联试卷
          </el-button>
          <el-button type="success" @click="submit()">确定</el-button>
          <el-button type="danger" @click="deletes()">删除关联试卷</el-button>
        </div>
      </div>
    </alerts>
    <alerts
      :appendToBody="true"
      :title="'修改关联试卷'"
      width="700px"
      top="6vh"
      v-model="isadd"
    >
      <add-ref-exam slot="contents" @change="addExam"></add-ref-exam>
    </alerts>
  </div>
</template>

<script>
import alerts from "~/components/account/alert";
import addRefExam from "~/components/course/addRefExam";

import { saveRefExam, deleteSaveRef } from "~/api/account/course.js";
export default {
  name: "RefExam",
  components: {
    alerts,
    addRefExam,
  },
  props: {
    courseInfo: {
      type: Object,
      default() {
        return {};
      },
    },
    refType: {
      type: Number,
      default() {
        return 1;
      },
    },
  },
  data() {
    return {
      item: {},
      isadd: false,
      isView: true,
    };
  },
  created() {
    this.item.examName = this.courseInfo.examName;
    this.item.id = this.courseInfo.examId;
  },
  methods: {
    async submit() {
      if (!this.item.id) {
        this.$message.error("请先添加试卷！");
        return;
      }
      const data = {
        courseId: this.courseInfo.id || this.courseInfo.courseId,
        examId: this.item.id,
        refId: this.courseInfo.refId,
        refType: this.refType,
      };
      if (this.courseInfo.courseExamRefId) {
        data.id = this.courseInfo.courseExamRefId;
      }
      const res = await saveRefExam(data);
      if (res && res.code === 200) {
        this.$message({
          message: "操作成功",
          type: "success",
        });
        this.close();
      }
    },
    deletes() {
      this.$confirm("确定删除关联试卷?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
        customClass: "__deleteSaveRef"
      }).then(() => {
        if(this.courseInfo.courseExamRefId) {
          deleteSaveRef({
            id: this.courseInfo.courseExamRefId
          }).then((res) => {
            if (res && res.code === 200) {
              this.$message({
                type: "success",
                message: "删除成功!",
              });
            }
            this.close();
          });
        } else {
          this.item = {};
        }
      });
    },
    addExam(row) {
      this.item = row;
      this.toggleAdd();
    },
    toggleAdd() {
      this.isadd = !this.isadd;
    },
    close() {
      this.$emit("close");
    },
  },
};
</script>
<style scoped lang="scss">
.exam-item {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 30px 0 60px;
  cursor: pointer;
  .exam-item-tip {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
    padding-left: 28px;
  }
  .exam-item-title-box {
    display: flex;

    .exam-item-title {
      flex: 1;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: #333333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 36px;
    }
    .exam-item-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 1px solid #0c9bff;
      color: #0c9bff;
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      position: relative;
      line-height: 18px;
      position: relative;
      top: 8px;
    }
  }
}
.notdata {
  line-height: 120px;
  text-align: center;
  font-size: 18px;
  margin: 30px 0;
}
</style>
<style lang="scss">
  .__deleteSaveRef {
    z-index: 3002;
  }
</style>