<!-- 课程大纲列表 -->
<template>
  <div class="font14 c_999">
    <div class="font16 c_333 font_b mgt20">
      <span class="col" />
      课程大纲
    </div>
    <div v-for="(item, index) in list" :key="index">
      <div class="mgl10 h46 clearfix">
        <span>第{{ index + 1 }}章</span>
        <span class="mgl10">{{ item.chapterName }}</span>
        <div v-if="item.examId" @click="toExam(item)"  class="btn fr down_btn mgt10">
            练习
        </div>
      </div>
      <div
        v-for="(that, num) in item.periodList"
        :key="that.id"
        class="mgl10 h46 w751 clearfix periodItem"
        @click="videoPlay(that)"
      >
        <p
          
          :class="{ c_red: that.id == nowNo }"
          class="w550 fl font_hidden"
        >
          <span class="iconfont icon_v">&#xe61e;</span>
          <span class="font_hidden">第{{ num + 1 }}讲</span>
          <span class="mgl10">
            {{ that.periodName }}
          </span>
        </p>
        <el-progress v-if="isLogin" :text-inside="true" class="course-progress" :stroke-width="18" :percentage="that.progress || 0"></el-progress>
        <div class="fr">
          <span v-if="!that.videoVid || !that.videoLength" class="c_blue"
            >未更新</span
          >
          <span v-if="that.isFree" class="c_blue">免费</span>
          <span v-if="that.videoVid" class="c_999 w56 mgl10">{{
            that.videoLength || "00:00"
          }}</span>
          <div
            v-if="that.accessoryList && that.accessoryList.length"
            @click.stop="noDown(that)"
            class="btn down_btn"
          >
            下载课件
          </div>
          <div v-if="that.examId" @click.stop="toExam(that)" class="btn down_btn">
            练习
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { examRecordCheck } from '~/api/account/exam.js';

export default {
  props: {
    isPay: {
      type: Boolean,
    },
    list: {
      type: Array,
      default() {
        return [];
      },
    },
    nowNo: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
  
  computed: {
    isLogin() {
      return this.$store.state.tokenInfo
    }
  },
  methods: {
    toExam(item) {
      this.$store.commit("LOADING_START");
      examRecordCheck().then((res) => {
        this.$store.commit("LOADING_FINISH");
        if (res.code === 200) {
          if (res.data.isExamination) {
            const examId = res.data.examId;
            if (examId !== item.examId) {
              this.$confirm(
                "你正在考" + res.data.examName +"; 请先考完这个试卷再考其他试卷！",
                "提示",
                {
                  type: "warning",
                  confirmButtonText: "去考试",
                }
              ).then((res) => {
                const routeData = this.$router.resolve({ path: '/exam/startExam', query: {  id: examId } });
                window.open(routeData.href, '_blank');
              });
            } else {
              const routeData = this.$router.resolve({ path: '/exam/startExam', query: {  id: item.examId } });
              window.open(routeData.href, '_blank');
            }
          } else {
            const routeData = this.$router.resolve({ path: '/exam/startExam', query: {  id: item.examId } });
            window.open(routeData.href, '_blank');
          }
        }
      });
    },
    noDown(item) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm("登录后才可以下载!", "提示", {
          type: "warning",
        }).then((res) => {
          this.$store.dispatch("REDIRECT_LOGIN");
        });
        return false;
      }
      if (!this.isPay && !item.isFree) {
        this.$confirm("购买后才可以下载!", "提示", {
          type: "warning",
        }).then(() => {
          this.$emit("buyCourse");
        });
        return false;
      }
      this.$emit("startDown", item);
    },
    videoPlay(data) {
      if (!data.videoVid || !data.videoLength) {
        this.$msgBox({ content: "该视频未更新" });
        return false;
      }
      if (!this.$store.state.tokenInfo) {
        this.$confirm("请先登录!", "提示", {
          type: "warning",
        }).then((res) => {
          this.$store.dispatch("REDIRECT_LOGIN");
        });
        return false;
      }
      this.$emit("playfunc", data);
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss">
.h46 {
  height: 46px;
  line-height: 46px;
}
 .course-progress {
    width: 180px;
    display: inline-block;
    margin: 12px 10px 0;
  }
  .w56 {
    width: 56px;
    display: inline-block;
  }
  .w550 {
    width: 340px;
  }
.periodItem {
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background: rgb(245, 245, 245);
  }
}
.col {
  width: 4px;
  height: 14px;
  background: #333;
  display: inline-block;
}
.video_title {
  display: inline-block;
  width: 450px;
}
.btn:hover {
  background: rgb(245, 245, 245);
}
.down_btn {
  width: 66px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  margin-left: 20px;
  &:hover {
    color: #d51423;
    border-color: #d51423;
  }
}
</style>
