<!-- 播放视频窗口 -->
<template>
  <div class="video_modal">
    <div @click="close()" class="mask" />
    <div class="video_content">
      <div class="modal_head">
        <a @click="close()" class="close iconfont" href="javascript:">&#xe616;</a>
      </div>
      <div class="modal_body" ref="playerbox">
        <div id="player" />
      </div>
    </div>
  </div>
</template>
<script>
import { chapterSign } from '~/api/course.js'
import { getproblemVideoSign, getPracticeSign} from '~/api/account/exam.js'
export default {
  props: {
    data: {
      type: [Object, Array],
      default: null
    }
  },
  mounted() {
    console.log(this.data)
    /* eslint-disable*/
    this.videoPlay(this.data);
  },
  methods: {
    videoPlay(data) {
      if (data.type === 'exercise') { // 练习的视频
        getPracticeSign({
          problemId: data.id,
          videoVid: data.videoVid
        }).then(res => {
          if (res.code === 200) {
            this.play(Object.assign({ vid: data.videoVid }, res.data));
          } else if (res.code === 402) {
            this.$msgBox({ content: '播放出错！' })
          }
        })
        return;
      }

      if (data.type === 'exam') { // 试卷的视频
        getproblemVideoSign({
          problemId: data.id,
          videoVid: data.videoVid,
          examId: data.examId
        }).then(res => {
          if (res.code === 200) {
            this.play(Object.assign({ vid: data.videoVid }, res.data));
          } else if (res.code === 402) {
            this.$msgBox({ content: '播放出错！' })
          }
        })
      } else {
        let vobj = {
          periodId: this.data.id,
          videoVid: data.videoVid,
        }
        if (this.data.accessoryNo) {
          vobj.courseCategory = 3
          vobj.periodNo = this.data.accessoryNo
        }
        chapterSign(vobj).then(res => {
          if (res.code === 200) {
            this.play(Object.assign({ vid: vid }, res.data));
          } else if (res.code === 402) {
            this.$msgBox({ content: '购买后才可以观看' })
          }
        })
      }
    },
    play(data) {
      const userInfo = this.$store.state.userInfo
      let box = this.$refs.playerbox;
      if (this.player) {
        this.player.changeVid({
          vid: data.vid,
          playsafe: data.token,
          ts: data.ts,
          sign: data.sign,
          autoplay: true
        });
      } else {
        this.player = polyvObject('#player').videoPlayer({
          'width': box.offsetWidth,
          'height': box.offsetHeight,
          'forceH5': true,
          'code': data.code,
          'playsafe': data.token,
          'ts': data.ts,
          'sign': data.sign,
          'vid': data.vid,
          'viewerInfo': {
            'viewerId': userInfo.userNo,
            'viewerName': userInfo.nickname
          }
        });
      }
    },
    close() {
      this.$emit('hidefun', event);
    },
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 888;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.video_content {
  position: fixed;
  z-index: 999;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.modal_head {
  line-height: 46px;
  background-color: #f9f9f9;
  text-align: right;
  padding: 0 20px;
  .close {
    font-size: 14px;
  }
}
.modal_body {
  height: 460px;
  flex: 1;
  overflow: auto;
  position: relative;
  .img {
    padding: 30px;
  }
  .more {
    margin: 0 30px;
    border-top: 1px solid #ddd;
    a {
      color: #106af6;
      display: inline-block;
      margin-bottom: 8px;
      margin-right: 8px;
      text-decoration: underline;
    }
    .text {
      line-height: 30px;
    }
  }
}
</style>
