<template>
  <div class="detail_video">
    <!-- <div class="video_header clearfix">
      <ul v-if="userInfo" class="header_left clearfix">
        <router-link :to="{name: 'index'}">
          <li class="return_btn">
            <img class="return_img" src="~/assets/image/return.svg" alt="">
          </li>
        </router-link>
        <li class="vider_title">
          {{ courseInfo.courseName }}
          <a :class="{collect_btn: true, noposi: true, c_red: isCollect}" @click="setCollection" href="javascript:"><span class="iconfont">&#xe670;</span>&nbsp;收藏</a>
        </li>
      </ul>
      <ul class="header_right clearfix">
        <li v-if="userInfo.userType === 2">
          <nuxt-link :to="{name: 'account-vod'}" class="left_col">
            讲师中心
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="{name: 'account-order'}" class="left_col">
            我的订单
          </nuxt-link>
        </li>
        <li>
          <nuxt-link :to="{name: 'account-info'}" :class="{left_col: true}">
            {{ userInfo.mobile }}
          </nuxt-link>
        </li>
      </ul>
    </div> -->
    <div class="video_body">
      <div :class="{show_panel: cateType}" class="video_content clearfix">
        <div class="win_box">
          <div id="player" ref="videobox" :style="'background-image:url('+courseInfo.courseLogo+')'" class="video_win" />
          <span v-if="showTop" @click="stopVideo" class="iconfont close_video">&#xe616;</span>
        </div>
        <div class="video_info">
          <a :class="{on: cateType == 1}" @click="changeTab(1)" href="javascript:">
            <i class="iconfont">&#xe908;</i>
            <p>章节</p>
          </a>
          <a :class="{on: cateType == 2}" @click="changeTab(2)" href="javascript:">
            <i class="iconfont">&#xe602;</i>
            <p>课件</p>
          </a>
          <a :class="{on: cateType == 3}" v-if="courseInfo.examId" @click="changeTab(3)" href="javascript:">
            <i class="iconfont">&#xe600;</i>
            <p>考试</p>
          </a>
        </div>
        <div class="cate_panel">
          <div v-if="cateType == 1">
            <dl v-for="(one, index) in chapterList" :key="index">
              <dt>第{{ index + 1 }}章：{{ one.chapterName }}</dt>
              <dd v-for="(two, num) in one.periodList" :key="num" :class="{on : nowNo == two.id}" @click="videoPlay(two)">
                <i class="iconfont">&#xe690;</i><span>第{{ num + 1 }}讲：</span>
                {{ two.periodName }}
                <span v-if="!two.videoVid" class="no_video2">(未更新)</span>
                <span v-if="two.isFree" class="c_blue">(免费)</span>
              </dd>
            </dl>
          </div>
          <div v-if="cateType == 2">
            <dl v-for="(one, index) in chapterList" :key="index">
              <dt>第{{ index + 1 }}章：{{ one.chapterName }}</dt>
              <template v-for="(two, num) in one.periodList">
                <dd v-if="two.accessoryList && two.accessoryList.length" :key="num">
                  <a @click="noDown(two)" href="javascript:">
                    <i class="iconfont">&#xe602;</i>
                    {{ two.accessoryList[0].acName }}
                  </a>
                </dd>
              </template>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { collectionSave, removeCollection } from '~/api/course.js'
import { examRecordCheck } from '~/api/account/exam.js';

export default {
  props: {
    courseInfo: {
      type: Object,
      default: null
    },
    nowNo: {
      type: String,
      default: ''
    },
    chapterList: {
      type: [Array, Object],
      default() {
        return []
      }
    }
  },
  data() {
    return {
      isCollect: this.courseInfo.isCollectionCourse,
      showTop: false,
      cateType: 0,
      clientData: this.$store.state.clientData,
      userInfo: ''
    }
  },
  mounted() {
    this.userInfo = this.$store.state.userInfo
  },
  methods: {
    changeTab(int) {
      if(int === 3) {
        this.toStartExam();
        return;
      }
      if (int === this.cateType) {
        this.cateType = 0
      } else {
        this.cateType = int
      }
    },
    toStartExam() {
        this.$store.commit('LOADING_START');
      examRecordCheck().then((res) => {
        this.$store.commit('LOADING_FINISH');
        if (res.code === 200) {
          if (res.data.isExamination) {
            const examId = res.data.examId;
            if (examId !== this.courseInfo.examId) {
              this.$confirm(
                '你正在考' +
                  res.data.examName +
                  '; 请先考完这个试卷再考其他试卷！',
                '提示',
                {
                  type: 'warning',
                  confirmButtonText: '去考试'
                }
              ).then((res) => {
                const routeData = this.$router.resolve({ path: '/exam/startExam', query: {  id: examId } });
                window.open(routeData.href, '_blank');
              });
            } else {
              const routeData = this.$router.resolve({ path: '/exam/startExam', query: {  id: this.courseInfo.examId } });
              window.open(routeData.href, '_blank');
            }
          } else {
            const routeData = this.$router.resolve({ path: '/exam/startExam', query: {  id: this.courseInfo.examId } });
            window.open(routeData.href, '_blank');
          }
        }
      });
    },
    // 下载附件
    noDown(item) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('登录后才可以下载!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return false
      }
      if (!this.courseInfo.isPay && !item.isFree) {
        this.$confirm('购买后才可以下载!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$emit('buyCourse')
        })
        return false
      }
      this.$emit('startDown', item)
    },
    // 取消收藏
    removeCollection() {
      removeCollection({
        collectionId: this.courseInfo.id,
        collectionType: 1
      }).then(res => {
        this.$msgBox({ content: '成功取消收藏' })
        this.isCollect = false
      })
    },
    // 收藏课程
    setCollection() {
      if (this.$route.name === 'preview-course-id') {
        return false
      }
      if (this.isCollect) {
        this.removeCollection()
        return false
      }
      collectionSave({
        collectionType: 1,
        courseCategory: this.courseInfo.courseCategory,
        collectionId: this.courseInfo.id
      }).then(res => {
        console.log(res)
        if (res.code === 200) {
          this.$msgBox({ content: '收藏成功' })
          this.isCollect = true
        } else if (res.code === 406) {
          this.isCollect = true
        }
      })
    },
    videoPlay(data) {
      console.log(data)
      if (!data.videoVid) {
        this.$msgBox({ content: '该视频未更新' })
        return false
      }
      this.$emit('playfunc', data)
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
  .detail_video {
    background: #fff;
  }
  .video_header {
    height: 66px;
    width: 1200px;
    margin: 0 auto;
    li {
      float: left;
      line-height: 66px;
    }
    .header_left {
      float: left;
      a {
        color: #999;
        margin-left: 10px;
        &:hover {
          text-decoration: none;
          color: #333;
        }
      }
      .left_30 {
        margin-left: 30px;
      }
      .return_btn {
        width: 66px;
        height: 66px;
        &:hover {
          background: rgb(245, 245, 245);
        }
      }
      .return_img {
        width: 20px;
        height: 20px;
        margin-left: 23px;
        margin-top: 23px;
      }
      .vider_title {
        font-size: 16px;
        font-weight: 700;
        color: #333;
        margin-left: 20px;
        a:hover {
          color: #d51423;
        }
        .c_red {
          color: #d51423;
        }
      }
    }
    .header_right {
      float: right;
      a {
        padding: 0 10px;
        font-size: 12px;
        color: #333;
        &:hover {
          text-decoration: none;
          color: #D51423;
        }
        &.c_gold {
          color: #CA9E70;
        }
        &.no_left {
          padding-left: 0px;
        }
      }
      .left_col {
        border-left: 1px solid #ccc;
      }
      .pd_0 {
        padding-left: 0px;
      }
      .vip_icon {
        width: 14px;
        height: 13px;
        position: relative;
        left: -10px;
        top: 1px;
        cursor: pointer;
      }
    }
  }
  .video_body {
    background: rgb(51, 51, 51);
    .video_content {
      width: 1200px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
    }
    .win_box {
      overflow: hidden;
      float: left;
      width: 1120px;
      height: 622px;
      margin: 5px 0;
      border-radius: 8px;
      border: 5px solid #000;
    }
    .video_win {
      width: 100%;
      height: 100%;
      -webkit-background-size: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      &.mini_win {
        width: 600px;
        height: 295px;
        position: fixed;
        right: 10px;
        bottom: 30px;
        z-index: 9999;
      }
    }
    .close_video {
      position: fixed;
      right: 10px;
      bottom: 325px;
      background: #000;
      color: #fff;
      cursor: pointer;
      z-index: 9999
    }
    .video_info {
      position: relative;
      z-index: 41;
      float: right;
      padding-top: 20px;
      height: 622px;
      background-color: #333;
      a {
        overflow: hidden;
        display: block;
        height: 86px;
        width: 69px;
        color: #ccc;
        &:hover,&.on {
          text-decoration: none;
          background: #000;
        }
      }
      i {
        display: block;
        width: 24px;
        height: 23px;
        margin: 20px 20px 10px 20px;
        font-size: 26px;
      }
      p {
        font-size: 14px;
        text-align: center;
        color: #ccc;
      }
    }
  }
  .cate_panel{
    position: absolute;
    z-index: 11;
    top: 0;
    right: -392px;
    background-color: #000;
    height: 627px;
    width: 400px;
    padding: 20px 30px;
    overflow: auto;
    transition: all .5s;
    z-index: 40;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.4);
    }
    dt{
      color: #fff;
      font-size: 14px;
      line-height: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    dd{
      color: #999;
      line-height: 26px;
      padding-left: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      i{
        font-size: 14px;
        margin-right: 8px;
      }
      a {
        color: #999;
      }
      &:hover, &.on, a:hover {
        color: #D51423;
        cursor: pointer;
        text-decoration: none;
      }
    }
    .load_more {
      text-align: center;
      color: #ccc;
    }
  }
  .show_panel{
    .cate_panel{
      right: 69px;
    }
  }
  .no_video {
    color: #999;
  }
  .no_video2 {
    color: #eee;
  }
  .info_box {
    pre {
      white-space: inherit;
    }
  }
</style>
