<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="讲师用户编号" prop="lecturerUserNo">
            <el-input v-model="form.lecturerUserNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程id" prop="courseId">
            <el-input v-model="form.courseId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课程名称" prop="courseName">
            <el-input v-model="form.courseName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="章节id" prop="chapterId">
            <el-input v-model="form.chapterId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="章节名称" prop="chapterName">
            <el-input v-model="form.chapterName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课时id" prop="periodId">
            <el-input v-model="form.periodId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课时名称" prop="periodName">
            <el-input v-model="form.periodName" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="频道号" prop="channelId">
            <el-input v-model="form.channelId" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="开始时间" prop="beginTime">
            <el-input v-model="form.beginTime" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="结束时间" prop="endTime">
            <el-input v-model="form.endTime" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="直播状态(1:未开播,2:正在直播,3:待生成回放,4:待转存,5:结束)" prop="liveStatus">
            <el-input v-model="form.liveStatus" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="场次id" prop="sessionId">
            <el-input v-model="form.sessionId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">立即创建</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {courseLiveLogSave} from '@/api/course'

export default {
  name: 'AddCourseLiveLog',
  data() {
    return {
      form: {},
      opts: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        lecturerUserNo: [
          {required: true, message: '请输入讲师用户编号', trigger: 'blur'}
        ],
        courseId: [
          {required: true, message: '请输入课程id', trigger: 'blur'}
        ],
        courseName: [
          {required: true, message: '请输入课程名称', trigger: 'blur'}
        ],
        chapterId: [
          {required: true, message: '请输入章节id', trigger: 'blur'}
        ],
        chapterName: [
          {required: true, message: '请输入章节名称', trigger: 'blur'}
        ],
        periodId: [
          {required: true, message: '请输入课时id', trigger: 'blur'}
        ],
        periodName: [
          {required: true, message: '请输入课时名称', trigger: 'blur'}
        ],
        channelId: [
          {required: true, message: '请输入频道号', trigger: 'blur'}
        ],
        beginTime: [
          {required: true, message: '请输入开始时间', trigger: 'blur'}
        ],
        endTime: [
          {required: true, message: '请输入结束时间', trigger: 'blur'}
        ],
        liveStatus: [
          {required: true, message: '请输入直播状态(1:未开播,2:正在直播,3:待生成回放,4:待转存,5:结束)', trigger: 'blur'}
        ],
        sessionId: [
          {required: true, message: '请输入场次id', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/course/live/log/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      courseLiveLogSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
