<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="35%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-form-item label="讲师名称" prop="lecturerName">
        <el-input v-model="form.lecturerName" placeholder="讲师名称" class="form-group" />
      </el-form-item>
      <el-form-item label="手机号码" prop="lecturerMobile">
        <el-input v-model="form.lecturerMobile" class="form-group" placeholder="手机号码" @blur="checkMobile" />
      </el-form-item>
      <el-form-item label="讲师邮箱" prop="lecturerEmail">
        <el-input v-model="form.lecturerEmail" placeholder="讲师邮箱" class="form-group" />
      </el-form-item>
      <el-form-item v-if="userMobile" label="登陆密码" prop="mobilePsw">
        <el-input v-model="form.mobilePsw" placeholder="登陆密码" class="form-group" />
      </el-form-item>
      <el-form-item v-if="userMobile" label="确认密码" prop="confirmPasswd">
        <el-input v-model="form.confirmPasswd" placeholder="确认密码" class="form-group" />
      </el-form-item>
      <el-form-item label="推荐码">
        <el-input v-model="form.referralCode" placeholder="推荐码" class="form-group" />
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
import {lecturerAuditSave, lecturerAuditCheckMobile} from '@/api/user'
import {isPhoneNo} from '@/utils/validate'

export default {
  name: 'AddLecturerAudit',
  props: {
    title: {
      type: String,
      default: null
    },
    visible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {},
      opts: {},
      userMobile: false,
      rules: {
        lecturerName: [
          {required: true, message: '请输入讲师名称', trigger: 'blur'}
        ],
        lecturerMobile: [
          {required: true, message: '请输入讲师手机', trigger: 'blur'}
        ],
        lecturerEmail: [
          {required: true, message: '请输入讲师邮箱', trigger: 'blur'}
        ],
        mobilePsw: [
          {required: true, message: '请输入登陆密码111', trigger: 'blur'}
        ],
        confirmPasswd: [
          {required: true, message: '请输入确认密码', trigger: 'blur'}
        ]
      }
    }
  },
  methods: {
    checkMobile(cb) {
      if (!isPhoneNo(this.form.lecturerMobile)) {
        this.tips('请输入正确的手机号', 'error');
        return false;
      }
      this.loading.start();
      lecturerAuditCheckMobile(this.form.lecturerMobile).then(res => {
        this.userMobile = res.data;
        if (res.code === 200 && cb) {
          cb()
        }
      });
    },
    handleClose() {
      this.userMobile = false
      this.$emit('close-callback');
    },
    submitForm(formName) {
      this.checkMobile(() => {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      lecturerAuditSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
