<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="角色名称">
        <el-input v-model="map.roleName" />
      </el-form-item>
      <el-form-item class="filter-item" label="角色标识">
        <el-input v-model="map.roleValue" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('sysRoleSave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="角色名称" prop="roleName" />
      <el-table-column label="角色标识" prop="roleValue" />
      <el-table-column label="备注描述" prop="remark" />
      <el-table-column label="创建时间" prop="gmtCreate" />
      <el-table-column label="状态" width="80">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="80" />
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('sysRoleEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('sysRoleAllocationMenuAndPermission')"  plain type="warning" size="mini" @click="handleSettRow(scope.row)">分配菜单权限</el-button>
          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-button v-if="scope.row.statusId ===1 && checkPermission('sysRoleUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
                <el-button v-if="scope.row.statusId ===0 && checkPermission('sysRoleUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('sysRoleDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-sys-role :title="addCtr.title" :visible="addCtr.visible" @close="closeAdd" />
    <edit-sys-role :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="closeEdit" />
    <sett-sys-role :title="settCtr.title" :visible="settCtr.visible" :info="settCtr.info" @close="closeSett" />
  </div>
</template>

<script>
  import { sysRolePage, sysRoleDelete, sysRoleUpdateStatus, sysRoleView } from '@/api/system'
  import AddSysRole from '@/views/system/sysRole/add/index';
  import EditSysRole from '@/views/system/sysRole/edit/index';
  import SettSysRole from '@/views/system/sysRole/sett/index';

  export default {
    components: { EditSysRole, AddSysRole, SettSysRole },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        statusIdEnums: {},
        addCtr: {
          title: '添加角色',
          visible: false
        },
        editCtr: {
          title: '修改角色',
          visible: false,
          info: {}
        },
        settCtr: {
          title: '分配菜单权限',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.roleName + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysRoleDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.addCtr.visible = true;
      },
      closeAdd() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.addCtr.visible = false;
      },
      handleUpdateRow(id) {
        sysRoleView(id).then(res => {
          this.editCtr.info = res.data;
          this.editCtr.visible = true;
        })
      },
      closeEdit() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.editCtr.visible = false;
      },
      handleSettRow(row) {
        this.settCtr.info = row;
        this.settCtr.visible = true;
      },
      closeSett() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.settCtr.visible = false;
      },
      handleUpdateStatus(row) {
        {
          let body = '确定禁用角色【' + row.roleName + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            statusId = 1;
            body = '确定启用角色【' + row.roleName + '】？';
          }
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysRoleUpdateStatus(row.id, statusId).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        sysRolePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
