<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-button plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      <br>
      <br>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="课程名称" prop="courseName" />
      <el-table-column label="课程类型">
        <template slot-scope="scope">
          {{ courseCategoryEnums[scope.row.courseCategory] }}
        </template>
      </el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" />
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">排序</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add :visible="ctrl.addDialogVisible" :info="ctrl.info" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <edit :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import { courseRecommendPage, courseRecommendDelete } from '@/api/course'
  import Edit from '../edit';
  import Add from '../add';

  export default {
    components: { Edit, Add },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          editDialogVisible: false,
          addDialogVisible: false,
          info: {}
        },
        list: [],
        formData: {},
        courseCategoryEnums: {},
        statusIdEnums: {},
        categoryId: 0,
        categoryType: 1,
        map: {},
        listLoading: true
      }
    },
    created() {
      this.categoryId = this.$route.query.categoryId
      this.categoryType = this.$route.query.categoryType
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'CourseCategoryEnum', type: 'obj' }).then(res => {
        this.courseCategoryEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleSelectionChange(checkList) {
        let resultIds = '';
        for (const index in checkList) {
          resultIds += checkList[index].id;
          if ((parseInt(index) + 1) < checkList.length) {
            resultIds += ',';
          }
        }
        this.checkIds = resultIds;
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.courseName + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            courseRecommendDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.ctrl.dialogTitle = '新增'
        this.ctrl.addDialogVisible = true
        this.ctrl.info.categoryId = this.categoryId
        this.ctrl.info.categoryType = this.categoryType
      },
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.dialogTitle = data.courseName + '——排序'
        this.ctrl.editDialogVisible = true;
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        courseRecommendPage(this.map, this.categoryId, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
