<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :rules="rules" :model="form" label-width="80px">
      <el-form-item v-if="info.parentName" label="上级菜单">
        <el-input v-model="info.parentName" disabled class="form-group" />
      </el-form-item>
      <el-form-item label="菜单名称" prop="menuName">
        <el-input v-model="form.menuName" class="form-group" />
      </el-form-item>
      <el-form-item label="菜单类型" prop="menuType">
        <el-radio-group v-model="form.menuType">
          <template v-for="item in menuTypeEnumList">
            <el-radio v-if="true === item.isShow" :key="item.code" :label="item.code">
              {{ item.desc }}
            </el-radio>
          </template>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="路由地址" prop="routerUrl">
        <el-input v-model="form.routerUrl" class="form-group" />
      </el-form-item>
      <el-form-item label="菜单图标">
        <el-select v-model="form.icon" placeholder="请选择">
          <el-option
            v-for="item in svgIconList"
            :key="item.icon"
            :label="item.label"
            :value="item.icon"
          >
            <span style="float: left">{{ item.label }}</span>
            <span style="float: right; color: #8492a6; font-size: 13px">
              <svg-icon :icon-class="item.icon || ''" />
            </span>
          </el-option>
        </el-select>
        <span>&nbsp;&nbsp;<svg-icon :icon-class="form.icon || ''" /></span>
      </el-form-item>
      <el-form-item label="排序数值" prop="sort">
        <el-input-number v-model="form.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import {sysMenuSave} from '@/api/system'

  export default {
    name: 'AddSysMenu',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        opts: {},
        svgIconList: [],
        rules: {
          menuName: [
            {required: true, message: '请输入菜单名称', trigger: 'blur'}
          ],
          menuType: [
            {required: true, message: '请输入菜单类型(0:目录;1菜单)', trigger: 'blur'}
          ],
          routerUrl: [
            {required: true, message: '请输入路由地址', trigger: 'blur'}
          ]
        },
        menuTypeEnumList: []
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = {
            sort: 1,
            parentId: this.info.parentId,
            menuType: 0
          }
        }
      }
    },
    mounted() {
      this.svgIconList = this.$store.state.user.svgIconList
      this.$store.dispatch('GetOpts', {enumName: 'MenuTypeEnum', type: 'arr'}).then(res => {
        this.menuTypeEnumList = res;
      });
    },
    methods: {
      handleClose() {
        this.form = {}
        this.$emit('close')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        sysMenuSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
