<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="100px" size="mini">
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="map.mobile" />
      </el-form-item>
      <el-form-item class="filter-item" label="产品名称">
        <el-input v-model="map.productName" />
      </el-form-item>
      <el-form-item class="filter-item" label="订单状态">
        <el-select v-model="map.orderStatus" clearable placeholder="不包含已关闭">
          <el-option
            v-for="(value, key) in orderStatusEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="产品类型">
        <el-select v-model="map.productType" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in productTypeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="订单编号">
        <el-input v-model="map.orderNo" />
      </el-form-item>
      <el-form-item class="filter-item" label="讲师名称">
        <el-input v-model="map.lecturerName" />
      </el-form-item>
      <el-form-item class="filter-item" label="后台备注">
        <el-input v-model="map.remark" />
      </el-form-item>
      <el-form-item class="filter-item" label="购买渠道">
        <el-select v-model="map.channelType" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in channelTypeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="支付方式">
        <el-select v-model="map.payType" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in payTypeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="支付日期">
        <el-date-picker
          v-model="map.payTime"
          type="daterange"
          align="right"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="payTimePickerOptions"
        />
      </el-form-item>
      <el-form-item>
        <el-button size="mini" type="primary" @click="handleCheck">查询</el-button>
        <el-button size="mini" @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('orderManual')" size="mini" @click="handleOrderAdd">手工录单</el-button>
        <el-button v-if="checkPermission('orderExport')" size="mini" @click="handleOrderExport">导出报表</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="订单编号" width="180">
        <template slot-scope="scope">
          <el-button type="text" @click="handleViewOrderRow(scope.row.id)">{{ scope.row.orderNo }}</el-button>
        </template>
      </el-table-column>
      <el-table-column label="产品信息/讲师信息">
        <template slot-scope="scope">
          {{ scope.row.productName }}
          <br>
          【{{ productTypeEnums[scope.row.productType] }}】【{{ scope.row.lecturerName }}】
        </template>
      </el-table-column>
      <el-table-column label="用户手机/用户备注" prop="mobile" width="130">
        <template slot-scope="scope">
          <el-button type="text" @click="handleViewUserRow(scope.row.userNo)">{{ scope.row.mobile }}</el-button>
          <br>
          {{ scope.row.remarkCus }}
        </template>
      </el-table-column>
      <el-table-column label="支付方式 / 价格" width="110">
        <template slot-scope="scope">
          {{ payTypeEnums[scope.row.payType] }}
          <br>
          ￥{{ scope.row.pricePaid }}
        </template>
      </el-table-column>
      <el-table-column label="交易类型/渠道" width="100">
        <template slot-scope="scope">
          {{ tradeTypeEnums[scope.row.tradeType] }}
          <br>
          {{ channelTypeEnums[scope.row.channelType] }}
        </template>
      </el-table-column>
      <el-table-column label="订单状态/支付时间" width="140">
        <template slot-scope="scope">
          <span class="" :class="{'c-brand': scope.row.orderStatus === 1, 'c-success': scope.row.orderStatus === 2, 'c-danger': scope.row.orderStatus === 3}">{{ orderStatusEnums[scope.row.orderStatus] }}</span>
          <br>
          {{ scope.row.payTime }}
        </template>
      </el-table-column>
      <el-table-column label="备注" prop="remark" width="120">
        <template slot-scope="scope" >
          {{ scope.row.remark || scope.row.payChannelName }}
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope" >
          <el-button v-if="checkPermission('orderInfoView')" type="primary" plain size="mini" @click="handleUpdateRow(scope.row.id)">备注</el-button>
          <el-button v-if="(scope.row.orderStatus === 1 && scope.row.orderStatus === 4) && checkPermission('orderInfoQuery')" type="primary" plain size="mini" @click="handleQueryRow(scope.row.orderNo)">查单</el-button>
          <el-button v-if=" scope.row.orderStatus === 1 && checkPermission('orderInfoView')" type="danger" plain size="mini" @click="handlePriceRow(scope.row.id)">改价</el-button>
          <el-button v-if="checkPermission('orderUnbind') && scope.row.orderStatus === 2" type="danger" plain size="mini" @click="handleUnbindRow(scope.row)">解绑</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-order-info :title="orderAddCtr.title" :visible="orderAddCtr.visible" @close-callback="closeAddCallback" />
    <edit-order-info :title="orderEditCtr.title" :visible="orderEditCtr.visible" :info="orderEditCtr.info" @close-callback="closeEditCallback" />
    <view-order-info :title="orderViewCtr.title" :visible="orderViewCtr.visible" :info="orderViewCtr.info" @close-callback="closeViewCallback" />
    <price-order-info :title="orderPriceCtr.title" :visible="orderPriceCtr.visible" :info="orderPriceCtr.info" @close-callback="closePriceCallback" />
    <user-ext-info :title="userExtViewCtr.title" :visible="userExtViewCtr.visible" :info="userExtViewCtr.info" @close-callback="viewCloseCllback" />
  </div>
</template>

<script>
  import {orderInfoPage, orderInfoView, orderInfoQuery, userExtView, orderInfoUnbind} from '@/api/user'
  import AddOrderInfo from '@/views/user/orderInfo/add/index';
  import EditOrderInfo from '@/views/user/orderInfo/edit/index';
  import ViewOrderInfo from '@/views/user/orderInfo/view/index';
  import PriceOrderInfo from '@/views/user/orderInfo/price/index';
  import UserExtInfo from '@/views/user/userExt/view/index';
  import {exportXls} from '@/utils';

  export default {
    components: {EditOrderInfo, AddOrderInfo, ViewOrderInfo, UserExtInfo, PriceOrderInfo},
    data() {
      return {
        payTimePickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {
          orderStatus: ''
        },
        listLoading: true,
        orderStatusEnums: {},
        tradeTypeEnums: {},
        productTypeEnums: {},
        channelTypeEnums: {},
        payTypeEnums: {},
        orderViewCtr: {
          title: '订单信息',
          info: {},
          visible: false
        },
        orderPriceCtr: {
          title: '订单改价',
          info: {},
          visible: false
        },
        userExtViewCtr: {
          title: '用户信息',
          info: {},
          visible: false
        },
        orderAddCtr: {
          title: '手工录单',
          visible: false
        },
        orderEditCtr: {
          title: '备注订单',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'OrderStatusEnum', type: 'obj'}).then(res => {
        this.orderStatusEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'TradeTypeEnum', type: 'obj'}).then(res => {
        this.tradeTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'ProductTypeEnum', type: 'obj'}).then(res => {
        this.productTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'ChannelTypeEnum', type: 'obj'}).then(res => {
        this.channelTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', {enumName: 'PayTypeEnum', type: 'obj'}).then(res => {
        this.payTypeEnums = res;
      });
    },
    methods: {
      // 检验数字
      isValueNumber(val) {
        const value = val.replace('/(^\s*)|(\s*$)', '') // 去除字符串前后空格
        const num = Number(value) // 将字符串转换为数字
        if (isNaN(num)) { // 判断是否是非数字
          return false
        } else {
          return !(value === '' || value === null);
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.$route.params.orderStatus = '';
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleOrderAdd() {
        this.orderAddCtr.visible = true;
      },
      handleUpdateRow(id) {
        orderInfoView(id).then((res) => {
          this.orderEditCtr.info = res.data;
          this.orderEditCtr.visible = true;
        })
      },
      handlePriceRow(id) {
        this.loading.start()
        orderInfoView(id).then(res => {
          this.orderPriceCtr.info = res.data
          this.orderPriceCtr.visible = true
        })
      },
      handleViewOrderRow(id) {
        this.loading.start()
        orderInfoView(id).then(res => {
          this.orderViewCtr.info = res.data
          this.orderViewCtr.visible = true
        })
      },
      handleViewUserRow(userNo) {
        this.loading.start()
        userExtView(userNo).then(res => {
          this.userExtViewCtr.info = res.data
          this.userExtViewCtr.visible = true
        })
      },
      handleQueryRow(orderNo) {
        {
          const body = '查询【' + orderNo + '】状态'
          this.$confirm(body, '查单确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            orderInfoQuery(orderNo).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUnbindRow(row) {
        {
          const body = '解绑【' + row.productName + '】'
          this.$confirm(body, row.mobile, {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            orderInfoUnbind(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // 检验订单编号是否为数字
        if (this.map.orderNo !== '' && this.map.orderNo != null && !this.isValueNumber(this.map.orderNo)) {
          this.$message.error('订单编号只能输入数字类型');
          return false
        }
        // 检验手机是否为数字
        if (this.map.mobile !== '' && this.map.mobile != null && !this.isValueNumber(this.map.mobile)) {
          this.$message.error('手机号只能输入数字类型');
          return false
        }
        if (this.$route.params.orderStatus) {
          const end = new Date();
          const start = new Date();
          this.map.payTime = [start, end]
          this.map.orderStatus = this.$route.params.orderStatus + '';
        }
        if (this.map.payTime !== undefined) {
          this.map.beginPayTime = this.map.payTime[0];
          this.map.endPayTime = this.map.payTime[1];
        }
        this.loading.start()
        orderInfoPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      // 导出数据
      handleOrderExport() {
        if (this.map.payTime !== undefined) {
          this.map.beginPayTime = new Date(this.map.payTime[0]).toJSON();
          this.map.endPayTime = new Date(this.map.payTime[1]).toJSON();
        }
        const location = window.location
        const url = `${location.origin}${process.env.VUE_APP_BASE_API}/user/pc/order/info/export`;
       exportXls(url, this.map, 'POST')
      },
      viewCloseCllback() {
        this.userExtViewCtr.visible = false;
        this.listForPage()
      },
      closeAddCallback() {
        this.listForPage();
        this.orderAddCtr.visible = false;
      },
      closeViewCallback() {
        this.listForPage();
        this.orderViewCtr.visible = false;
      },
      closeEditCallback() {
        this.listForPage();
        this.orderEditCtr.visible = false;
      },
      closePriceCallback() {
        this.listForPage();
        this.orderPriceCtr.visible = false;
      }
    }
  }
</script>
