<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="40%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="100px">
      <el-form-item label="支付名称" prop="payChannel">
        <el-select v-model="form.payChannel" class="auto-width form-group" filterable>
          <el-option
            v-for="item in channelList"
            :key="item.payChannelCode"
            :label="item.payChannelName"
            :value="item.payChannelCode + '=' + item.payChannelName"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="支付类型" prop="payType">
        <el-select v-model="form.payType" class="auto-width form-group" filterable>
          <el-option
            v-for="item in payTypeEnum"
            :key="item.name"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="优先等级" prop="channelPriority">
        <el-input-number v-model="form.channelPriority" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { payChannelListUsable, payRuleSave } from '@/api/user'

  export default {
    name: 'AddRule',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {
          channelPriority: 1
        },
        payTypeEnum: [],
        channelList: [],
        rules: {
          payChannel: [
            { required: true, message: '请选择渠道', trigger: 'blur' }
          ],
          payType: [
            { required: true, message: '请选择支付类型', trigger: 'blur' }
          ],
          channelPriority: [
            { required: true, message: '请输入优先等级'}
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.$store.dispatch('GetOpts', { enumName: 'PayTypeEnum', type: 'arr' }).then(res => {
            this.payTypeEnum = res;
          })
          this.channelListUsable()
        }
      }
    },
    methods: {
      channelListUsable() {
        payChannelListUsable().then(res => {
          this.channelList = res.data
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            const channelObj = this.form.payChannel.split('=')
            this.form.payChannelCode = channelObj[0]
            this.form.payChannelName = channelObj[1]
            this.onSubmit()
          } else {
            console.log('error submit!!');
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        payRuleSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      },
      handleClose() {
        this.form = {channelPriority: 1};
        this.$emit('close');
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
