// 资讯轮播图
<template>
  <div @mouseenter="finish" @mouseleave="start" class="banner_com">
    <ul class="banner_box">
      <li v-for="(item, index) in bannerList" :key="index" :class="{on: num == index}" class="banner_item">
        <a :href="item.advUrl" target="_blank">
          <img :src="item.advImg" alt="">
        </a>
      </li>
    </ul>
    <div class="banner_footer clearfix">
      <div class="fl banner_title">
        {{ bannerTitle }}
      </div>
      <ul class="fr docs">
        <li v-for="(item, index) in bannerList" :key="index" :class="{active: num == index}" @mouseenter="tabBanner(index)" class="fl doc" />
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    bannerList: {
      type: [Array, Object],
      default() {
        return []
      }
    }
  },
  data() {
    return {
      num: 0,
      run: null
    }
  },
  computed: {
    bannerTitle() {
      return this.bannerList[this.num].advTitle
    }
  },
  mounted() {
    this.start()
  },
  methods: {
    tabBanner(int) {
      this.num = int
    },
    start() {
      this.run = window.setInterval(() => {
        if (this.num < this.bannerList.length - 1) {
          this.num++
        } else {
          this.num = 0
        }
        // console.log(this.num)
      }, 3000)
    },
    finish() {
      window.clearInterval(this.run)
    }
  }
}
</script>
<style lang="scss" scoped>
  .w520 {
    width: 520px;
  }
  .banner_com {
    position: relative;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    padding-bottom: 10px;
  }
  .banner_box {
    width: 750px;
    height: 366px;
    background: #fff;
    position: relative;
    img {
      width: 750px;
      height: 366px;
      border-radius: 8px;
    }
  }
  .banner_item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 1s;
    &.on {
      opacity: 1;
      z-index: 2;
    }
  }
  .banner_footer {
    padding: 0 20px;
    width: 750px;
    height: 56px;
    line-height: 56px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 3;
    border-radius: 0 0 8px 8px;
  }
  .banner_title {
    width: 520px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
  }
  .docs {
    display: inline-block;
    .doc {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.3);
      margin: 20px 0 0 10px;
      &.active {
        background: rgba(255, 255, 255, 0.8);
      }
    }
  }
</style>
