// 热门推荐
<template>
  <div v-if="list.length" class="recommend_text">
    <p class="info_title">
      <span class="mgl20">热门推荐</span>
    </p>
    <ul class="text_list font_14 c_ccc">
      <li v-for="(item, index) in list" :key="index" class="font_hidden text_item">
        <span class="default_block">{{ index + 1 }}</span>
        <nuxt-link :to="{name: 'info-detail-id', params: {id: item.artcleId}}" target="_blank">
          {{ item.title }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    list: {
      type: [Object, Array],
      default() {
        return []
      }
    }
  },
  mounted() {
    console.log(this.list)
  }
}
</script>
<style lang="scss" scoped>
  .recommend_text {
    border-radius: 8px;
    background: #fff;
  }
  .info_title {
    font-size: 16px;
    color: #333;
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid rgba(226, 226, 226, 1);
  }
  .text_list {
    padding: 10px 20px 20px;
  }
  .default_block {
    display: inline-block;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: rgba(204, 204, 204, 1);
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    &.b_red {
      background: rgba(213, 20, 35, 1);
    }
  }
  .text_item {
    margin-top: 10px;
    cursor: pointer;
    line-height: 18px;
    &:hover {
      color: rgba(213, 20, 35, 1);
      .default_block {
        background: rgba(213, 20, 35, 1);
      }
    }
  }
</style>
