<template>
  <div class="info_list">
    <div
      v-for="(item, index) in pageObj.list"
      :key="index"
      class="info_item clearfix"
    >
      <nuxt-link
        target="_blank"
        :to="{ name: 'info-detail-id', params: { id: item.id } }"
      >
        <nuxt-link
          target="_blank"
          :to="{ name: 'info', query: { tagsName: item.tagsName } }"
        >
          <div class="info_class">
            <i></i>
            {{ item.tagsName }}
            <span>更多 <i class="iconfont">&#xe60c;</i></span>
          </div>
        </nuxt-link>
        <div class="img_box">
          <img :src="item.blogImg" alt />
        </div>
        <div>
          <p class="info_titles font_hidden" v-html="item.title"></p>
          <div class="summary font_hidden_2" v-html="item.summary" />
          <div class="info_footer">
            <span v-if="item.showTime" class="showTime">{{
              item.showTime
            }}</span>
            <span v-else class="showTime">{{ item.gmtModified }}</span>
            <span class="fr icons">
              <span>
                <span class="iconfont big">&#xe685;</span>
                {{ item.readAcount }}
              </span>
              <span class="mgl10">
                <span class="iconfont">&#xe601;</span>
                {{ item.admireAcount }}
              </span>
            </span>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  props: {
    hideClass: {
      type: Boolean
    },
    hidePage: {
      type: Boolean
    },
    list: {
      type: [Array, Object],
      default() {
        return [];
      }
    },
    searchName: {
      type: String,
      default: ''
    },
    pageObj: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: 10,
          totalCount: '',
          totalPage: ''
        };
      }
    }
  },
  data() {
    return {
      pageCurrent: 1
    };
  },
  computed: {
    notData() {
      if (this.pageObj.list && this.pageObj.list.length) {
        return false;
      }
      return true;
    }
  },
  mounted() {},
  methods: {
    getPage(int) {
      window.scrollTo(0, 0);
      this.pageCurrent = int;
      this.$emit('changePage', int);
    },
    changeTab(id) {
      this.$emit('changeTab', id);
    }
  }
};
</script>
<style lang="scss" scoped>
.w450 {
  width: 450px;
}
.h28 {
  height: 28px;
}
.h20 {
  line-height: 20px;
}
.info_list {
  min-height: 100px;
  margin-bottom:-20px;
}
.no_data {
  font-size: 20px;
  color: #999;
  text-align: center;
  line-height: 100px;
}

.info_class {
  line-height: 22px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  & > i {
    background: #2388ec;
    height: 16px;
    display: inline-block;
    width: 3px;
    position: relative;
    top: 2px;
  }

  span {
    float: right;
    font-size: 12px;
    line-height: 22px;
    font-weight: normal;
    color: #999999;
    i {
      font-size: 13px;
    }
  }
}
.info_footer {
  font-size: 12px;
  line-height: 17px;
  color: #999999;
  margin-top: 10px;
}
.info_item {
  padding: 20px;
  width: 384px;
  background: #fff;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:hover {
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s;
  }
}
.summary {
  font-size: 12px;
  line-height: 17px;
  color: #999999;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.info_titles {
  font-size: 16px;
  line-height: 22px;
  color: #2388ec;
  margin-top: 10px;
}
.img_box {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}
.icons {
  .iconfont {
    font-size: 12px;
    margin-right: 3px;
  }
  .big {
    font-size: 21px;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
}
</style>
