// 资讯tab
<template>
  <div class="tab_box">
    <ul class="tabs clearfix">
      <li v-for="(item, index) in list" :key="index" :class="{active: item.id == active}" @click="changeTab(item)" class="tab">
        {{ item.labelName }}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    list: {
      type: [Array, Object],
      default() {
        return []
      }
    }
  },
  data() {
    return {
      active: this.list[0].id
    }
  },
  created() {
    if (this.$route.query && this.$route.query.tagsName) {
      this.list.forEach((e) => {
        if (e.labelName === this.$route.query.tagsName) {
          this.changeTab(e)
        }
      })
    }
  },
  methods: {
    // 切换分类
    changeTab(item) {
      this.active = item.id
      const labelName = item.labelName === '全部' ? '' : item.labelName
      this.$emit('changeTab', labelName)
    }
  }
}
</script>
<style lang="scss" scoped>
  .tab_box {
    font-size: 14px;
    padding: 0 30px 0 20px;
    color: #999;
    position: relative;
    background: #fff;
    border-radius: 8px;
    .row {
      width: 10px;
      height: 10px;
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      transform: rotate(45deg) translateY(-50%);
      position: absolute;
      right: 20px;
      top: 50%;
    }
  }
  .tabs {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    line-height: 64px;
    height: 66px;
    color:#333;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .tab {
      display: inline-block;
      // float: left;
      margin: 0 20px;
      cursor: pointer;
      &:hover {
        color: #D51423;
      }
      &.active {
        color: #D51423;
        border-bottom: 2px solid #D51423;
      }
    }
    &::-webkit-scrollbar {/*滚动条整体样式*/
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: rgb(245, 245, 245);
    }
    &::-webkit-scrollbar-track {/*滚动条里面轨道*/
        // -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        // border-radius: 10px;
        background: #fff;
    }
  }
</style>
