// 资讯列表
<template>
  <div>
    <y-info-tab v-if="!hideClass" :list="list" @changeTab="changeTab" />
    <div v-if="notData && !hideClass" class="info_list">
      <p class="no_data">暂时没有数据</p>
    </div>
    <div v-if="!notData" class="info_list">
      <div v-for="(item, index) in pageObj.list" :key="index" class="info_item clearfix">
        <nuxt-link target="_blank" :to="{name: 'info-detail-id', params: {id: item.id}}">
          <div class="img_box fl">
            <img :src="item.blogImg" alt />
          </div>
          <div style="margin-left: 220px;">
            <p class="font16 c_333 font_hidden  font_16" style="margin-top: 8px;" v-html="item.title"></p>
            <div class="font14 c_999 mgt10 font_hidden_2 h28" v-html="item.summary" />
            <div class="font12 c_333 mgt20 clearfix h20">
              <span v-if="item.showTime" class>{{ item.showTime }}</span>
              <span v-else class>{{ item.gmtModified }}</span>
              <span class="fr icons">
                <span>
                  <span class="iconfont big">&#xe685;</span>
                  {{ item.readAcount }}
                </span>
                <span class="mgl10">
                  <span class="iconfont">&#xe601;</span>
                  {{ item.admireAcount }}
                </span>
              </span>
            </div>
          </div>
        </nuxt-link>
      </div>
      <br />
      <div class="center" v-if="!hidePage">
        <el-pagination
          class="page-panel"
          background
          layout="prev, pager, next"
          :page-size="pageObj.pageSize"
          :current-page="pageObj.pageCurrent"
          :total="pageObj.totalCount"
          @current-change="getPage"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import YInfoTab from '~/components/information/InfoTab';
export default {
  components: {
    YInfoTab
  },
  props: {
    hideClass: {
      type: Boolean
    },
    hidePage: {
      type: Boolean
    },
    list: {
      type: [Array, Object],
      default() {
        return [];
      }
    },
    searchName: {
      type: String,
      default: ''
    },
    pageObj: {
      type: [Object, Array],
      default() {
        return {
          list: [],
          pageCurrent: '',
          pageSize: 10,
          totalCount: '',
          totalPage: ''
        };
      }
    }
  },
  data() {
    return {
      pageCurrent: 1
    };
  },
  computed: {
    notData() {
      if (this.pageObj.list && this.pageObj.list.length) {
        return false;
      }
      return true;
    }
  },
  mounted() {
    console.log(this.pageObj);
  },
  methods: {
    getPage(int) {
      window.scrollTo(0, 0);
      this.pageCurrent = int;
      this.$emit('changePage', int);
    },
    changeTab(id) {
      // console.log(id)
      this.$emit('changeTab', id);
    }
  }
};
</script>
<style lang="scss" scoped>
.w450 {
  width: 450px;
}
.h28 {
  height: 28px;
}
.h20 {
  line-height: 20px;
}
.info_list {
  min-height: 100px;
  margin-top: 20px;
  padding: 0 30px 30px;
  background: #fff;
  border-radius: 8px;
}
.no_data {
  font-size: 20px;
  color: #999;
  text-align: center;
  line-height: 100px;
}
.info_item {
  padding: 20px 0;
  border-bottom: 1px solid rgba(226, 226, 226, 1);
}
.img_box {
  width: 200px;
  height: 111px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;;
  }
}
.icons {
  .iconfont {
    font-size: 16px;
    margin-right: 3px;
  }
  .big {
    font-size: 22px;
    vertical-align: middle;
  }
}
</style>
