// 资讯图文推荐
<template>
  <div class="recommend_info">
    <ul class="tabs">
      <li v-for="(item, index) in zoneData" :key="index" @click="changeZone(item)" class="tab fl">
        <span :class="{active: active == item.id}">{{ item.articleZoneName }}</span>
      </li>
    </ul>
    <div v-if="noData" class="recommend_list">
      <p class="no_data">
        暂时没有数据
      </p>
    </div>
    <div class="recommend_list">
      <template v-for="(item, index) in list">
        <div v-if="index < 3" :key="index" class="recommend_item border_b clearfix">
          <div class="img_box fl">
            <nuxt-link :to="{name: 'info-detail-id', params: {id: item.id}}" target="_blank">
              <img :src="item.blogImg" alt="">
            </nuxt-link>
          </div>
          <div class="w280 fr font12 c_ccc">
            <p class="font14 c_333 font_hidden" style="margin-top: 3px;">
              <nuxt-link :to="{name: 'info-detail-id', params: {id: item.id}}" target="_blank">
                {{ item.title }}
              </nuxt-link>
            </p>
            <p class="c_999 font_hidden" style="margin-top: 4px;">{{ item.summary }}</p>
            <p class="clearfix mgt10">
              <span v-if="item.showTime" class="fr">{{ item.showTime }}</span>
              <span v-else class="fl">{{ item.gmtModified }}</span>
            </p>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
import { infoZoneList } from '~/api/blog/community.js'
export default {
  props: {
    zoneData: {
      type: [Object, Array],
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      activeId: '',
      list: []
    }
  },
  computed: {
    active() {
      if (this.activeId) {
        return this.activeId
      } else
      if (this.zoneData[0]) {
        return this.zoneData[0].id
      } else {
        return ''
      }
    },
    noData() {
      if (this.list.length) {
        return false
      }
      return true
    }
  },
  mounted() {
    this.getZoneList()
  },
  methods: {
    changeZone(item) {
      this.activeId = item.id
      this.getZoneList()
    },
    getZoneList() {
      if (!this.active) {
        return false
      }
      infoZoneList({
        articleZoneId: this.active
      }).then((res) => {
        this.list = res.data.list || []
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .w280 {
    width: 280px;
  }
  .recommend_info {
    width: 100%;
    height: 366px;
    border-radius: 8px;
    background: #fff;
  }
  .tabs {
    height: 56px;
    line-height: 54px;
    border-bottom: 1px solid rgba(226, 226, 226, 1);
    font-size: 16px;
    color: #999;
    .tab {
      width: 33%;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: #D51423;
      }
      .active {
        display: inline-block;
        border-bottom: 2px solid #D51423;
        color: #D51423;
      }
    }
  }
  .no_data {
    font-size: 30px;
    color: #999;
    line-height: 100px;
    text-align: center;
  }
  .recommend_list {
    padding: 0 20px;
  }
  .recommend_item {
    padding: 15px 0;
    .img_box {
      width: 95px;
      height: 66px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
