<template>
  <el-dialog :title="title" :visible.sync="visible" width="30%" :before-close="handleClose">
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="课程名称" prop="courseName">
        <el-input v-model="form.courseName" disabled class="form-group">
          <el-button slot="append" icon="el-icon-search" @click="findCourse" />
        </el-input>
      </el-form-item>
      <el-form-item v-if="form.courseName" label="课程价格">
        <span class="c-info">普通价：{{ form.courseOriginal | amountFormat }}</span>
        <span v-if="form.chosenPercent" class="c-warning"> 分销收益: {{ (form.courseOriginal * form.chosenPercent)/100 | amountFormat }}/单 </span>
        <br>
        <span class="c-danger">会员价：{{ form.courseDiscount | amountFormat }}</span>
        <span v-if="form.chosenPercent" class="c-warning"> 分销收益: {{ (form.courseDiscount * form.chosenPercent)/100 | amountFormat }}/单</span>
      </el-form-item>
      <el-form-item v-if="form.courseName" label="分销比例" prop="chosenPercent">
        <el-input-number v-model="form.chosenPercent" placeholder="请输入百分比" :precision="2" controls-position="right" :min="0" :max="100" />
      </el-form-item>
      <div v-if="form.chosenPercent">
        <span class="c-warning">分销收益 = 商品售价 * 分销比例</span>
        <br>
        <span class="c-warning">讲师收益 = 商品售价 * (100% - 分销比例) * 讲师比例 </span>
        <br>
        <span class="c-warning">平台收益 = 商品售价 - (分销收益 + 讲师收益)</span>
      </div>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">保存</el-button>
    </div>
    <find-course :title="courseCtr.title" :visible="courseCtr.visible" @close-callback="courseCloseCallback" />
  </el-dialog>
</template>
<script>
  import {chosenSave} from '@/api/user'
  import FindCourse from '@/views/user/chosen/add/findCourse';

  export default {
    name: 'AddOrderInfo',
    components: {FindCourse},
    filters: {
      amountFormat(val = 0) {
        return `￥ ${val.toFixed(2).replace(/\d{1,3}(?=(\d{3})+(\.\d*)?$)/g, '$&,')}`
      }
    },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {courseName: ''},
        rules: {
          courseName: [
            {required: true, message: '请选择课程名称', trigger: 'blur'}
          ],
          chosenPercent: [
            {required: true, message: '请输入分销比例', trigger: 'blur'}
          ]
        },
        courseCtr: {
          title: '课程信息--查找带回',
          visible: false
        }
      }
    },
    methods: {
      handleClose() {
        this.form = {courseName: ''}
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        chosenSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      },
      findCourse() {
        this.courseCtr.visible = true;
      },
      courseCloseCallback(row) {
        this.courseCtr.visible = false;
        if (row) {
          this.form.courseName = row.courseName;
          this.form.courseOriginal = row.courseOriginal;
          this.form.courseDiscount = row.courseDiscount;
          this.form.courseId = row.id;
        }
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
