<template>
  <div class="search_tab clearfix">
    <div class="class_items fl clearfix">
      <div @click="goSearch(1)" class="class_item">
        <span class="class_one">全部</span>
      </div>
      <div v-for="(item, index) in classList" :key="index" class="class_item">
        <span :class="{class_one: true, active: item.categoryNo == one}">
          {{ item.categoryName }}
        </span>
        <img class="is_rotate" src="../../../assets/image/down.png" alt="">
        <ul class="tow_list">
          <li v-for="(that, num) in item.list" :key="num" :class="{list: true, active: that.categoryNo == two}" @click="saveNo(that, item)">
            {{ that.categoryName }}
          </li>
        </ul>
      </div>
    </div>
    <div class="fr">
      <form @submit="search" action="" class="clearfix search_form">
        <button class="fr search_btn">
          <span class="iconfont">&#xe633;</span>
        </button>
        <input v-model="searchName" placeholder="请输入搜索内容" type="text" class="search_input">
      </form>
    </div>
  </div>
</template>
<script>
import { infiniteCate } from '@/api/course.js'
export default {
  data() {
    return {
      classList: [],
      one: '',
      two: '',
      searchName: ''
    }
  },
  mounted() {
    this.getClass()
  },
  methods: {
    getClass() {
      infiniteCate({
        categoryType: 2
      }).then((res) => {
        if (res.code === 200) {
          this.classList = res.data.list
        }
      })
    },
    // 保存分类编号
    saveNo(two, one) {
      this.one = one.categoryNo
      this.two = two.categoryNo
      this.goSearch()
    },
    search(e) {
      e.preventDefault()
      if (!this.searchName) {
        this.$msgBox({ content: '搜索内容不能为空' })
        return
      }
      this.goSearch()
    },
    // 开始查询
    goSearch(all) {
      let sobj = {}
      if (all) {
        this.one = ''
        this.two = ''
        this.searchName = ''
        sobj = {}
      } else {
        sobj = {
          categoryNo1: this.one,
          categoryNo2: this.two,
          courseName: this.searchName
        }
      }
      this.$emit('startSearch', sobj)
    }
  }
}
</script>
<style lang="scss" scoped>
  .search_tab {
    height: 40px;
    background: rgba(247, 245, 248, 1);
  }
  .class_item {
    position: relative;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 40px;
    color: #999;
    padding: 0 30px;
    &:hover {
      .class_one {
        color: #EC7E00;
      }
      .tow_list {
        display: block;
      }
      .is_rotate {
        transform: rotate(-180deg);
      }
    }
    .is_rotate {
      width: 8px;
      margin-left: 3px;
      vertical-align: middle;
      position: relative;
      top: -2px;
      transition: all 0.3s;
    }
  }
  .tow_list {
    display: none;
    width: 100%;
    position: absolute;
    background: #fff;
    z-index: 2;
    left: 0;
    padding-left: 10px;
    border: 1px solid rgb(230, 230, 230);
  }
  .list {
    &:hover {
      color: #EC7E00;
    }
  }
  .search_form {
    width: 260px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
    margin-top: 4px;
    background: #fff;
    margin-right: 10px;
  }
  .search_btn {
    background: #fff;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    .iconfont {
      font-size: 24px;
      color: #999;
    }
  }
  .search_input {
    width: 188px;
    height: 24px;
    line-height: 24px;
    background: #fff;
    border: none;
    outline: none;
    margin-left: 20px;
    font-size: 14px;
  }
  .active {
    color: #EC7E00;
  }
</style>
