<style lang="scss" scoped>
	page {
		height: 100%;
		overflow-y: auto;
	}
	.coupon {
		min-height: 100%;
		background-repeat: repeat;
		background-position: top center;
		.actImg {
			width: 100%;
		}
		.course_header {
			padding: 0rpx 30rpx;
			height: 80rpx;
			line-height: 80rpx;
			display: flex;
			justify-content: space-between;
		}
		.title-text {
			flex: 1;
			margin-left: 20rpx;
			font-family: PingFang SC Regular, PingFang SC Regular-Regular;
			font-weight: 400;
			text-align: left;
			color: #fff;
		}
		.title-icon {
			display: inline-block;
			width: 10rpx;
			height: 36rpx;
			background: #02af74;
			border-radius: 5rpx;
			margin-top: 22rpx;
		}
		.teacher_info {
			width: 32%;
			border-radius: 6px;
			border: 1px solid rgb(245, 245, 245);
			position: relative;
		}
	}
</style>


<template>
	<view class="coupon" :style="{ 'backgroundImage': `url(${info.actBackImg})`, 'backgroundColor': info.actBackColor }">
		<img :src="info.actImg" class="actImg" :alt="info.actTitle">
		<view class="ma" v-for="(item, index) in info.actZoneList" :key="index">
			<view class="course_header">
				<text class="title-icon"></text>
				<text class="font33_bold title-text">{{item.zoneTitle}}</text>
			</view>
			<course-list1 :list="item.aoneCourseList"></course-list1>
		</view>
	</view>
</template>

<script>
	import * as actApi from '@/api/activity.js'
	import courseList1 from "@/components/courseList1/courseList1.vue";
	export default {
		components: {
			courseList1
		},
		data() {
			return {
				spikeStage: '',
				spikeTime: '',
				timeout: '',
				seckillData: '',
				seckillZone: null,
				info: {}
			}
		},
		async created() {
			const res = await actApi.nowACTView({
				actType: 1
			})
			this.actType = 1;
			this.info = res;
			this.getNowAct()
		},
		methods: {
			getNowAct() {
				// 获取正在进行的活动
				let nowRow, nextRow
				this.info.actZoneList.map((item, index) => {
					const {
						status
					} = this.countStatus(item)
					if (status === 1 && !nextRow) {
						nextRow = index
					}
					if (status === 2) {
						nowRow = index
					}
				})
				if (!nowRow) {
					nowRow = nextRow
				}
				this.countTIme(nowRow)
			}
		}
	}
</script>
