<style lang="scss" scoped>
	
	page {
		height: 100%;
		overflow: hidden;
	}	
	.seckill {
		height: 100%;
		background-repeat: repeat;
		background-position: top center;
		display: flex;
		flex-direction: column;
		flex-basis: auto;		
		.main {
			flex:1;
			overflow-y: auto;
			flex-basis: auto;
			padding-bottom: 50px;
			.scroll-Y {
				height: 100%;
			}
		}
		.actImg {
			width: 100%;
			vertical-align: top;
		}

		.course_header {
			padding: 0rpx 30rpx;
			height: 80rpx;
			line-height: 80rpx;
			display: flex;
			justify-content: space-between;
		}

		.title-text {
			flex: 1;
			margin-left: 20rpx;
			font-family: PingFang SC Regular, PingFang SC Regular-Regular;
			font-weight: 400;
			text-align: left;
			color: #fff;
		}

		.title-icon {
			display: inline-block;
			width: 10rpx;
			height: 36rpx;
			background: #02af74;
			border-radius: 5rpx;
			margin-top: 22rpx;
		}

		.teacher_info {
			width: 32%;
			border-radius: 6px;
			border: 1px solid rgb(245, 245, 245);
			position: relative;
		}
		
		.timeList {
			display: block;
			overflow-x: auto;
			white-space: nowrap;
			height: 102upx;
			background-color: rgb(242,242,242);
			padding: 20upx;
			.timeItem {
				padding: 0 20upx;
				width: 168upx;
				text-align: center;
				display:inline-block;
				.timeItemTime {
					color:rgb(48,48,48);
					position: relative;
					top: 2upx;
					font-weight: bold;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				
				
				.timeItembtn {
					display: inline-block;
					font-size: 12px;
					padding: 4upx 16upx 6upx;
					border-radius: 5px;
					color:rgb(97,97,97);
					top: -2upx;
					position: relative;
				}
				
				&.active {
					
					.timeItemTime {
						color:rgb(235,81,1)
					}
					.timeItembtn {
						border-radius: 10px;
						color:#fff;
						background-color: rgb(255,52, 13);
					}
					
				}
			}
		}
		
		.footer {
			position: fixed;
			bottom: 0 ;
			left: 0;
			right: 0;
			line-height: 80upx;
			height: 80upx;
			background-color: red;
			color:#fff;
			font-size: 14px;
			z-index: 100;
			text-align: center;
		}
	}
</style>


<template>
	<view class="seckill" :style="{ 'backgroundImage': `url(${info.actBackImg})`, 'backgroundColor': info.actBackColor }">
		
		<view>
			<img :src="info.actImg" class="actImg" :alt="info.actTitle">
			<view class="timeList" ref="timeList">
				<view ref="timeItem"  @click="select(index)" :class="['timeItem', selectIndex==index?'active':'']" v-for="(item, index) in info.actZoneList"  :key="index">
					<view class="timeItemTime">{{item.beginTimeText}}</view>
					<view class="timeItembtn">{{ statusList[item.status]  }}</view>
				</view>
			</view>
		</view>
		<view class="main" v-if="actZone">
			<course-list1 :list="actZone.aoneCourseList"></course-list1>
		</view>
		<view class="footer">
			{{ spikeStage }} {{ spikeTime }}
		</view>
	</view>
</template>

<script>
	import * as actApi from '@/api/activity.js'
	import courseList1 from "@/components/courseList1/courseList1.vue";
	export default {
		components: {
			courseList1
		},
		data() {
			return {
				spikeStage: '',
				spikeTime: '',
				selectIndex: 0,
				statusList: ['', '即将开始', '正在秒杀', '已结束'],
				timeout: '',
				seckillData: '',
				seckillZone: '',
				actZone: '',
				info: {}
			}
		},
		async mounted() {
			const res = await actApi.nowACTView({
				actType: 2
			})
			this.actType = 2;
			this.info = res;
			this.getNowAct()
		},
		methods: {
			select(index) {
				this.selectIndex = index;
				this.actZone = this.info.actZoneList[index]
				this.countTIme();
			},
			getNowAct() {
				// 获取正在进行的活动
				let nowRow, nextRow
				this.info.actZoneList.map((item, index) => {
					const statusInfo = this.countStatus(item)
					item.beginTimeText = item.beginTime.slice(0, item.beginTime.length - 3)
					item.endTimeText = item.endTime.slice(0, item.endTime.length - 3)
					this.info.actZoneList[index] = {
						...item,
						...statusInfo
					}
				})
				this.info.actZoneList.sort((a, b)=>{
					return a.beginTime - b.beginTime
				})
				this.info.actZoneList.forEach((item, index)=>{
					if (item.status === 1 && !nextRow) {
						nextRow = index
					}
					if (item.status === 2) {
						nowRow = index
					}
				})
				if (!nowRow) {
					nowRow = nextRow
				}
				this.actZone = this.info.actZoneList[nowRow]
				this.selectIndex = nowRow 
				this.countTIme();
				// 设置滚动条到当前选择模块位置
				this.$nextTick(() => {
					const left = this.$refs['timeItem'][this.selectIndex].$el.offsetLeft
					const w = this.$refs['timeList'].$el.offsetWidth / 2 - 40;
					if(left > w) {
						this.$refs['timeList'].$el.scrollLeft  = left - w;
					}
				})
				
			},
			// 计算状态
			countStatus(row) {
				const now = new Date()
				const nowTime = now.getTime()
				const year = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
				const begin = new Date(year + ' ' + row.beginTime)
				const end = new Date(year + ' ' + row.endTime)
				const beginTime = begin.getTime()
				const endTime = end.getTime()
				if (nowTime < beginTime) {
					return {
						status: 1,
						beginTime,
						endTime
					}
				} else if (endTime > nowTime) {
					return {
						status: 2,
						beginTime,
						endTime
					}
				} else {
					return {
						status: 3,
						beginTime,
						endTime
					}
				}
			},
			// 计算时间
			countTIme() {
				clearTimeout(this.timeout)
				this.seckillData = {
					status: this.actZone.status, // 1:未开始，2：进行中，3：已结束
					beginDate: this.actZone.beginTime,
					endDate: this.actZone.endTime,
					...this.actZone
				}
				this.seckillTimeout()
			},
			seckillTimeout() {
				const now = new Date()
				let timeDiff = 0
				if (this.seckillData.status === 1) {
					// 未开始
					this.spikeStage = '距开始'
					timeDiff = this.seckillData.beginDate - now.getTime()
				} else if (this.seckillData.status === 2) {
					this.spikeStage = '距结束'
					timeDiff = this.seckillData.endDate - now.getTime()
				}
				this.spikeTime = this.seckillData.beginTime
				if (timeDiff > 0) {
					this.spikeTime = this.formatDuring(timeDiff)
					this.timeout = setTimeout(() => {
						this.seckillTimeout()
					}, 1000)
				} else {
					this.spikeStage = '已经结束'
					this.spikeTime = ''
					// this.getNowAct()
				}
			},
			formatDuring(mss) {
				// const days = parseInt(mss / (1000 * 60 * 60 * 24));
				const hours = parseInt((mss % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				const minutes = parseInt((mss % (1000 * 60 * 60)) / (1000 * 60));
				const seconds = parseInt((mss % (1000 * 60)) / 1000);
				return (hours < 10 ? '0' + hours : hours) + ':' + (minutes < 10 ? '0' + minutes : minutes) + ':' + (seconds < 10 ?
					'0' + seconds : seconds);
			}
		}
	}
</script>
