<template>
  <div class="login_page">
    <div class="login_box clearfix">
      <div class="center_box">
        <img class="login_img" src="../../assets/image/logins.png" alt />
        <div v-show="!(userInfo)" :class="{login_form: true, rotate: tab == 2}">
          <div :class="{tabs: true, clearfix: true, r180: tab == 2}">
            <div @click="tab = 1" class="fl tab">
              <span :class="{on: tab == 1}">账号登录</span>
            </div>
            <div @click="tab = 2" class="fl tab">
              <span :class="{on: tab == 2}">短信登录</span>
            </div>
          </div>
          <div v-show="tab == 1" class="form_body">
            <div>
              <input v-model="obj.mobile" type="text" name="loginName" placeholder="请输入手机号或邮箱" />
              <div class="error_msg">{{ errTip1 }}</div>
              <input
                v-model="obj.password"
                type="password"
                name="loginPassword"
                placeholder="6-20位密码，可用数字/字母/符号组合"
              />
              <div class="error_msg">{{ errTip2 }}</div>
              <input
                type="submit"
                @click="loginSubmit"
                @keyup.enter="loginSubmit"
                value="登录"
                class="btn"
              />
            </div>
            <nuxt-link :to="{ name: 'register' }" class="is_go fl">用户注册</nuxt-link>
            <nuxt-link :to="{ name: 'reset' }" class="is_go fr">忘记密码</nuxt-link>
          </div>
          <div v-show="tab == 2" class="form_body reg_form_body r180">
            <div>
              <input
                type="text"
                name="loginName"
                style="position: absolute; left: -1000000px;"
                placeholder
              />
              <input
                type="password"
                name="loginPassword"
                style="position: absolute; left: -1000000px;"
                placeholder
              />
              <input v-model="pobj.mobile" type="text" name="refName" placeholder="请输入手机号" />
              <div class="phone_yzm">
                <input
                  v-model="pobj.code"
                  type="text"
                  name="code"
                  autocomplete="off"
                  placeholder="请输入手机验证码"
                  class="phone"
                  maxlength="6"
                />
                <y-button :mobile="pobj.mobile" :one-click="sendCode" />
              </div>
              <input @click="msgLogin" @keyup.enter="msgLogin" type="submit" value="登录" class="btn" />
            </div>
            <nuxt-link :to="{ name: 'register' }" class="is_go fl">用户注册</nuxt-link>
            <nuxt-link :to="{ name: 'reset' }" class="is_go fr">忘记密码</nuxt-link>
          </div>
        </div>
        <div v-show="userInfo" class="login_form is_user_info">
          <div class="login_title is_login">欢迎来到{{ clientData.name }}</div>
          <div class="form_body">
            <div class="img_box">
              <img v-if="userInfo && userInfo.headImgUrl" :src="userInfo.headImgUrl" />
              <img v-else src="../../assets/image/friend.jpg" />
            </div>
            <p class="hellow_text">欢迎来到{{ clientData.name }}</p>
            <ul class="btn_box clearfix">
              <li>
                <nuxt-link :to="{name: 'account-info'}">用户中心</nuxt-link>
              </li>
              <li>
                <nuxt-link :to="{name: 'account-course'}">我的课程</nuxt-link>
              </li>
              <li>
                <nuxt-link :to="{name: 'account-study'}">学习记录</nuxt-link>
              </li>
              <li>
                <nuxt-link :to="{name: 'account-order'}">我的订单</nuxt-link>
              </li>
            </ul>
            <div>
              <a @click="signOut" href="javascript:" class="out_btn">退出登录</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- eslint-disable -->
    <div v-if="xieyi" class="xieyi" @click.self="xieyi = false">
      <div class="xieyi_content">
        <div class="xieyi_title">用户协议</div>
        <div
          v-if="service && service.userAgreement"
          class="xieyi_body"
          v-html="service.userAgreement"
        />
        <input type="button" class="xieyi_btn" value="确定" @click="xieyi = false" />
      </div>
    </div>
    <div class="login_footer">
      <p>
        <span v-html="service.copyright" />
      </p>
      <p>
        <a
          v-if="service && service.icp"
          href="http://www.beian.miit.gov.cn/"
          target="_blank"
        >{{ service.icp }}</a>
        <span v-if="service && service.prnNo">&nbsp;|&nbsp;</span>
        <a
          v-if="service.prnNo"
          :href="'http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=' + service.prnNo"
          target="_blank"
        >
          <img src="../../assets/image/prn_icon.png" class="prn_icon" alt />
          &nbsp;{{ service.prn }}
        </a>
      </p>
    </div>
  </div>
</template>
<script>
import YButton from '~/components/common/CodeButton';
import { userLogin, userMsgLogin } from '~/api/user.js';
export default {
  components: {
    YButton
  },
  data() {
    return {
      sendCode: 1,
      number: 1,
      imageCode: '',
      imgCodeUrl: '',
      referralCode: '',
      tab: this.$route.query.tab || 1,
      tabp: this.$route.query.tab || 1,
      webInfo: this.$store.state.webInfo,
      clientData: this.$store.state.clientData,
      xieyi: false,
      service: {},
      errTip1: '',
      errTip2: '',
      ipInfo: {},
      obj: {
        clientId: this.$store.state.clientData.id,
        clientType: 1,
        mobile: '',
        password: ''
      },
      pobj: {
        mobile: '',
        code: '',
        password: '',
        repassword: '',
        check: false
      }
    };
  },
  head() {
    return {
      title: this.$store.state.clientData.name + '-用户登录',
      meta: [
        {
          hid: 'keywords',
          name: 'keywords',
          content: this.webInfo.websiteKeyword
        },
        {
          hid: 'description',
          name: 'description',
          content: this.webInfo.websiteDesc
        }
      ]
    };
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo;
    }
  },
  watch: {
    $route() {
      this.tab = this.$route.query.tab || 1;
      this.tabp = this.$route.query.tab || 1;
    }
  },
  async asyncData(context) {},
  mounted() {
    this.$jsonp('//gateway.doityun.com/ip/info').then(res => {
      this.ipInfo = res
    })
    if (this.$route.query.referralCode) {
      this.pobj = {
        referralCode: this.$route.query.referralCode,
        ...this.pobj
      };
    }
    if (this.webInfo) {
      this.service = this.webInfo;
    }
    this.obj.clientId = 1;
    if (this.$route.query.t === 'login') {
      this.errTip1 = '未登录或登录超时,请重新登录';
      this.signOut();
      // this.SIGN_OUT()
    } else if (this.$route.query.t) {
      this.$store.commit('SET_TOKEN', this.$route.query.t);
      this.$store.dispatch('GET_USERINFO', (store) => {
        window.location.href = '/account/info';
      });
    }
    this.$store.dispatch('main/GetReferralCode').then((res) => {
      this.pobj = {
        referralCode: res,
        ...this.pobj
      };
    });
  },
  methods: {
    msgLogin() {
      if (this.pobj.mobile.length === 11) {
        if (!/^(0|86|17951)?1[0-9]{10}$/.test(this.pobj.mobile.trim())) {
          this.$msgBox({
            content: '请输入正确手机号码',
            isShowCancelBtn: false
          });
          return;
        } else {
          this.errTip1 = '';
        }
      } else {
        this.$msgBox({
          content: '请输入正确手机号码',
          isShowCancelBtn: false
        });
        return;
      }
      if (!this.pobj.code) {
        this.$msgBox({
          content: '请输入手机验证码',
          isShowCancelBtn: false
        });
        return false;
      }
      this.pobj.clientId = this.clientData.id;
      this.pobj.city = this.ipInfo.city;
      this.pobj.province = this.ipInfo.pro;
      this.pobj.loginIp = this.ipInfo.ip;
      this.pobj.os = this.getOsInfo().name + ':' + this.getOsInfo().version;
      this.pobj.browser =
        this.getBrowserInfo().name + ':' + this.getBrowserInfo().version;
      userMsgLogin(this.pobj)
        .then((res) => {
          if (res.code === 200) {
            this.$store.commit('SET_TOKEN', res.data.token);
            this.$store.commit('GET_TEMPORARYURL');
            this.$store
              .dispatch('GET_USERINFO', (store, err) => {
                this.$store.commit('LOADING_FINISH');
                if (err) {
                  this.$msgBox({ content: '获取用户信息失败，请稍后重试' });
                } else if (this.$store.state.temporaryUrl) {
                  window.location.href = this.$store.state.temporaryUrl;
                } else {
                  this.$router.push({ name: 'index' });
                }
              })
              .then(() => {})
              .catch((res) => {
                this.$store.commit('LOADING_FINISH');
              });
          } else {
            this.$store.commit('LOADING_FINISH');
            this.errTip2 = res.msg;
          }
        })
        .catch(() => {
          this.$store.commit('LOADING_FINISH');
        });
    },
    signOut() {
      this.$store.commit('SIGN_OUT');
    },
    changetab(int) {
      this.tab = int;
      setTimeout((e) => {
        this.tabp = int;
      }, 200);
    },
    loginSubmit(e) {
      e.preventDefault();
      this.errTip1 = '';
      this.errTip2 = '';
      if (this.obj.password.length < 6) {
        this.errTip2 = '请输入正确的账号或密码';
        return false;
      }

      this.obj.clientId = this.clientData.id;
      this.obj.city = this.ipInfo.city;
      this.obj.province = this.ipInfo.pro;
      this.obj.loginIp = this.ipInfo.ip;
      this.obj.os = this.getOsInfo().name + ':' + this.getOsInfo().version;
      this.obj.browser =
      this.getBrowserInfo().name + ':' + this.getBrowserInfo().version
      this.$store.commit('LOADING_START')
      userLogin(this.obj).then(res => {
          if (res.code === 200) {
            this.$store.commit('SET_TOKEN', res.data.token);
            this.$store.commit('GET_TEMPORARYURL');
            this.$store
              .dispatch('GET_USERINFO', (store, err) => {
                this.$store.commit('LOADING_FINISH');
                if (err) {
                  this.$msgBox({ content: '获取用户信息失败，请稍后重试' });
                } else if (this.$store.state.temporaryUrl) {
                  window.location.href = this.$store.state.temporaryUrl;
                } else {
                  this.$router.push({ name: 'index' });
                }
              })
              .then(() => {})
              .catch((res) => {
                this.$store.commit('LOADING_FINISH');
              });
          } else {
            this.$store.commit('LOADING_FINISH');
            this.errTip2 = res.msg;
          }
        })
        .catch(() => {
          this.$store.commit('LOADING_FINISH');
        });
      return false;
    },
    getBrowserInfo: function () {
      /* eslint-disable */
      const Sys = {};
      const ua = navigator.userAgent.toLowerCase();
      let s;
      (s = ua.match(/rv:([\d.]+)\) like gecko/))
        ? (Sys.ie = s[1])
        : (s = ua.match(/msie ([\d]+)/))
        ? (Sys.ie = s[1])
        : (s = ua.match(/edge\/([\d]+)/))
        ? (Sys.edge = s[1])
        : (s = ua.match(/firefox\/([\d]+)/))
        ? (Sys.firefox = s[1])
        : (s = ua.match(/(?:opera|opr).([\d]+)/))
        ? (Sys.opera = s[1])
        : (s = ua.match(/chrome\/([\d]+)/))
        ? (Sys.chrome = s[1])
        : (s = ua.match(/version\/([\d]+).*safari/))
        ? (Sys.safari = s[1])
        : 0;
      // 根据关系进行判断
      if (Sys.ie) return { name: "IE", version: Sys.ie };
      if (Sys.edge) return { name: "EDGE", version: Sys.edge };
      if (Sys.firefox) return { name: "Firefox", version: Sys.firefox };
      if (Sys.chrome) return { name: "Chrome", version: Sys.chrome };
      if (Sys.opera) return { name: "Opera", version: Sys.opera };
      if (Sys.safari) return { name: "Safari", version: Sys.safari };
      return { name: "Unkonwn", version: "0.0.0" };
    },
    // 获取系统信息
    getOsInfo: function () {
      const userAgent = navigator.userAgent.toLowerCase();
      let name = "Unknown";
      let version = "Unknown";
      if (userAgent.indexOf("win") > -1) {
        name = "Windows";
        if (userAgent.indexOf("windows nt 5.0") > -1) {
          version = "Windows 2000";
        } else if (
          userAgent.indexOf("windows nt 5.1") > -1 ||
          userAgent.indexOf("windows nt 5.2") > -1
        ) {
          version = "Windows XP";
        } else if (userAgent.indexOf("windows nt 6.0") > -1) {
          version = "Windows Vista";
        } else if (
          userAgent.indexOf("windows nt 6.1") > -1 ||
          userAgent.indexOf("windows 7") > -1
        ) {
          version = "Windows 7";
        } else if (
          userAgent.indexOf("windows nt 6.2") > -1 ||
          userAgent.indexOf("windows 8") > -1
        ) {
          version = "Windows 8";
        } else if (userAgent.indexOf("windows nt 6.3") > -1) {
          version = "Windows 8.1";
        } else if (
          userAgent.indexOf("windows nt 6.2") > -1 ||
          userAgent.indexOf("windows nt 10.0") > -1
        ) {
          version = "Windows 10";
        } else {
          version = "Unknown";
        }
      } else if (userAgent.indexOf("iphone") > -1) {
        name = "Iphone";
      } else if (userAgent.indexOf("mac") > -1) {
        name = "Mac";
      } else if (
        userAgent.indexOf("x11") > -1 ||
        userAgent.indexOf("unix") > -1 ||
        userAgent.indexOf("sunname") > -1 ||
        userAgent.indexOf("bsd") > -1
      ) {
        name = "Unix";
      } else if (userAgent.indexOf("linux") > -1) {
        if (userAgent.indexOf("android") > -1) {
          name = "Android";
        } else {
          name = "Linux";
        }
      } else {
        name = "Unknown";
      }
      return { name, version };
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.login_page {
  .login_box {
    height: calc(100vh - 68px);
    position: relative;
    overflow: hidden;
    background: rgb(6, 97, 227);
    background-size: 100% auto;
    .center_box {
      width: 1200px;
      margin: 0 auto;
      height: 100%;
      position: relative;
    }
    .login_img {
      position: absolute;
      width: 613px;
      height: 383px;
      left: -76px;
      top: 50%;
      margin-top: -196px;
    }
  }
  .login {
    background: rgb(0, 153, 255);
    .login_header {
      width: 1200px;
      margin: 0 auto;
      height: 132px;
      position: relative;
      span {
        position: absolute;
        height: 28px;
        line-height: 28px;
        font-size: 26px;
        color: #fff;
        border-left: 2px solid #fff;
        padding-left: 25px;
        top: 46px;
        left: 210px;
      }
    }
  }
  .login_logo {
    img {
      width: 186px;
      height: 52px;
      margin-top: 32px;
    }
  }
  .login_body {
    img {
      width: 186px;
      height: 52px;
      display: block;
      margin: 0 auto;
    }
    p {
      text-align: center;
      font-size: 14px;
      color: #fff;
      margin-top: 30px;
    }
  }
  .login_form {
    width: 380px;
    position: absolute;
    top: 50%;
    right: 0px;
    border-radius: 6px;
    transform:translate(0,-50%);
    &.is_user_info {
      .form_body {
        padding: 0 30px 30px;
      }
    }
    &.rotate {
      transform:translate(0,-50%) rotateY(-180deg);
    }
    .login_title {
      height: 95px;
      line-height: 95px;
      font-size: 18px;
      padding-left: 30px;
      color: #333;
      background: #fff;
      border-radius: 6px 6px 0 0;
      &.is_login {
        padding-left: 0px;
        text-align: center;
      }
    }
  }
  .form_body {
    background: #fff;
    padding: 0 30px 60px;
    border-radius: 0 0 6px 6px;
    input[type="text"],
    input[type="password"],
    input[type="button"],
    input[type="submit"] {
      width: 310px;
      height: 46px;
      padding-left: 10px;
      margin-top: 20px;
      border-radius: 6px;
      font-size: 14px;
      border-color: rgb(230, 230, 230);
      &.btn {
        background: #2388ec;
        width: 320px;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        margin-bottom: 20px;
        &:disabled {
          background: #ccc;
        }
      }
    }
    .error_msg {
      width: 310px;
      color: #d51423;
      font-size: 12px;
    }
    .next_auto {
      font-size: 14px;
      color: #333;
    }
    .is_go {
      color: #0099ff;
      height: 18px;
      line-height: 18px;
      font-size: 14px;
      display: inline-block;
      padding: 0 10px;
      &.c_333 {
        color: #333;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &.reg_form_body {
      .yzm_btn {
        border: none;
        background: #2388ec;
      }
    }
    .tuijianma {
      position: relative;
      .label {
        position: absolute;
        left: 11px;
        top: 24px;
        font-size: 14px;
      }
      input {
        padding-left: 70px;
      }
    }
  }
  .phone_yzm {
    position: relative;
    .phone {
      padding-right: 100px;
      width: 210px;
      font-size: 14px;
      border-color: rgb(230, 230, 230);
      padding-left: 10px;
      height: 46px;
      border-radius: 6px;
      margin-top: 20px;
    }
  }
  .yzm_btn {
    width: 100px;
    height: 46px;
    position: absolute;
    left: 210px;
    top: 20px;
    line-height: 48px;
    border-radius: 0 6px 6px 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  .login_footer {
    margin-top: -80px;
    position: relative;
    z-index: 100;
    p {
      text-align: center;
      font-size: 12px;
      color: #fff;
      margin-top: 10px;
      a {
        color: #fff;
      }
    }
  }
  .check {
    width: 14px;
    height: 14px;
    position: relative;
    top: -1px;
  }
  .img_box {
    height: 70px;
    img {
      width: 70px;
      height: 70px;
      display: block;
      border-radius: 50%;
      margin: 0 auto;
    }
  }
  .hellow_text {
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  .btn_box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

    li {
      float: left;
      width: 140px;
      text-align: center;
      line-height: 30px;
      margin: 20px 10px 0;
      border-radius: 6px;
      a {
        display: block;
        background: rgb(245, 245, 245);
        border-radius: 6px;
        &:hover {
          color: #fff;
          text-decoration: none;
          background: skyblue;
        }
      }
    }
  }
  .out_btn {
    display: inline-block;
    margin: 10px 0 0 100px;
    font-size: 16px;
    color: #333;
    width: 120px;
    line-height: 30px;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
  .prn_icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
  }
  .tabs {
    height: 60px;
    line-height: 60px;
    background: #fff;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid rgb(230, 230, 230);
    .tab {
      font-size: 18px;
      width: 50%;
      text-align: center;
      cursor: pointer;
    }
    span {
      display: inline-block;
      height: 60px;
    }
    .on {
      border-bottom: 2px solid #2388ec;
      color: #2388ec;
    }
  }
  .r180 {
    transform: rotateY(-180deg);
  }
  .xieyi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
    .xieyi_content {
      width: 900px;
      height: 500px;
      margin: 50px auto 0;
      border-radius: 8px;
      background: #fff;
      position: relative;
    }
    .xieyi_title {
      color: #333;
      font-size: 18px;
      line-height: 70px;
      text-align: center;
    }
    .xieyi_body {
      height: 350px;
      overflow-y: auto;
      padding: 0 20px;
    }
    .xieyi_btn {
      position: absolute;
      bottom: 10px;
      width: 166px;
      height: 46px;
      background: rgba(213, 20, 35, 1);
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      left: 50%;
      margin-left: -83px;
      border-radius: 6px;
    }
  }
}
</style>

