<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="">
        <el-button plain type="success" size="mini" @click="handleAddOneRow">新增</el-button>
      </el-form-item>

    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      default-expand-all
      row-key="id"
      :tree-props="{children: 'blogCommentList', hasChildren: 'hasChildren'}"
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="用户昵称">
        <template slot-scope="scope">
          {{ scope.row.nickname }}-回复-{{ scope.row.bloggerNickname }}
        </template>
      </el-table-column>
      <el-table-column label="评论内容" prop="content" />
      <el-table-column label="用户IP" prop="userIp" />
      <el-table-column label="评论时间" prop="gmtCreate" />
      <el-table-column label="用户终端" prop="userTerminal" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleViewRow(scope.row.id)">详情</el-button>
          <el-button plain type="success" size="mini" @click="handleAddRow(scope.row)">添加</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-blog-comment v-if="addCtr.visible" :title="addCtr.title" :visible="addCtr.visible" :formData="addCtr.info" @close-callback="closeCallback" />
    <view-blog-comment v-if="viewCtr.visible" :title="viewCtr.title" :visible="viewCtr.visible" :info="viewCtr.info" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import { blogCommentPage, blogCommentStatusDel, blogCommentView } from '@/api/community'
  import ViewBlogComment from '@/views/community/blogComment/view/index';
  import AddBlogComment from '@/views/community/blogComment/add/index';

  export default {
    components: { ViewBlogComment, AddBlogComment },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        viewCtr: {
          title: '查看评论详情',
          visible: false,
          info: {}
        },
        addCtr: {
          title: '添加评论',
          visible: false,
          info: {}
        }
      }
    },
    created() {
      const view = this.$route;
      this.map = {
        blogId: view.query.blogId,
        parentId: view.query.parentId
      }
      this.listForPage()
    },
    methods: {
      handleReset() {
        const view = this.$route;
        this.map = {
          blogId: view.query.blogId,
          parentId: view.query.parentId
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 新增 第一级评论
      handleAddOneRow() {
        this.addCtr.info = {
          blogId: this.map.blogId,
          parentId: 0,
          sort: 1,
          nickname: '王***'
        };
        this.addCtr.visible = true;
      },
      // 新增 非第一级评论
      handleAddRow(row) {
        this.addCtr.info = {
          blogId: this.map.blogId,
          parentId: row.id,
          sort: 1,
          nickname: '王***'
        };
        this.addCtr.visible = true;
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            blogCommentStatusDel({ id: row.id, parentId: row.parentId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleViewRow(id) {
        blogCommentView(id).then(res => {
          this.viewCtr.info = res.data;
          this.viewCtr.visible = true;
        })
      },
      closeCallback() {
        this.viewCtr.visible = false;
        this.addCtr.visible = false;
        this.handleReset()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        blogCommentPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
