<template>
  <!--弹窗-->
  <el-dialog
    width="80%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <div class="pad20">
      <div>
        <el-form :inline="true" size="mini">
          <el-form-item label="标题">
            <el-input v-model="map.title" />
          </el-form-item>
          <el-form-item>
            <el-button icon="el-icon-search" type="primary" @click="handleCheck">查询</el-button>
            <el-button icon="el-icon-refresh" class="filter-item" @click="handleReset">重置</el-button>
          </el-form-item>
          <el-button plain type="success" size="mini" @click="handleChoiceBatch">批量选择</el-button>
        </el-form>
      </div>
      <div>
        <el-table
          v-loading="ctrl.load"
          size="mini"
          :data="list"
          border
          stripe
          @selection-change="handleSelectionChange"
        >
          <el-table-column align="center" type="selection" width="50" />
          <el-table-column align="center" type="index" label="序号" width="50" />
          <el-table-column label="文章标题/作者">
            <template slot-scope="scope">
              <br>
              {{ scope.row.title }}/{{ scope.row.bloggerNickname }}
            </template>
          </el-table-column>
          <el-table-column label="文章类型" width="80">
            <template slot-scope="scope">
              {{ articleTypeEnums[scope.row.articleType] }}
            </template>
          </el-table-column>
          <el-table-column prop="tagsName" label="标签" />
          <el-table-column prop="qualityScore" label="质量度" />
          <el-table-column label="公开博客" width="80">
            <template slot-scope="scope">
              {{ isOpenEnums[scope.row.isOpen] }}
            </template>
          </el-table-column>
          <el-table-column label="是否置顶" width="80">
            <template slot-scope="scope">
              {{ isTopEnums[scope.row.isTop] }}
            </template>
          </el-table-column>
          <el-table-column label="状态" width="80">
            <template slot-scope="scope">
              {{ statusIdEnums[scope.row.statusId] }}
            </template>
          </el-table-column>
          <el-table-column prop="sort" label="排序" />
          <el-table-column prop="gmtModified" label="更新时间" />
          <el-table-column
            fixed="right"
            label="操作"
            width="100"
          >
            <template slot-scope="scope">
              <el-button type="primary" plain size="mini" @click="handleChoice(scope.row)">选择</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div>
        <el-pagination
          background
          style="float: right;margin-top: 20px; margin-bottom: 22px"
          :page-size="page.pageSize"
          layout="total,  prev, pager, next, jumper"
          :total="page.totalCount"
          @current-change="handleCurrentChange"
        />
      </div>
      <br>
      <br>
    </div>
  </el-dialog>
</template>
<script>
  import {articleZoneRefSaveBatch, blogPage, articleZoneRefSave} from '@/api/community'

  export default {
    props: {
      formData: {
        type: Object,
        default: () => {}
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        map: {
          articleType: 2 // 1博客 2资讯
        },
        list: [],
        articleTypeEnums: {},
        ctrl: {
          load: false
        },
        courseCategoryEnums: {},
        isOpenEnums: {},
        isTopEnums: {},
        statusIdEnums: {},
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        form: { },
        checkIds: ''
      }
    },
    mounted() {
      this.pageList()
      this.$store.dispatch('GetOpts', { enumName: 'ArticleTypeEnum', type: 'obj' }).then(res => {
        this.articleTypeEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsOpenEnum', type: 'obj' }).then(res => {
        this.isOpenEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsTopEnum', type: 'obj' }).then(res => {
        this.isTopEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleCurrentChange(val) {
        this.page.pageCurrent = val
        this.pageList()
        // console.log(`当前页: ${val}`)
      },
      handleSelectionChange(checkList) {
        let resultIds = '';
        for (const index in checkList) {
          resultIds += checkList[index].id;
          if ((parseInt(index) + 1) < checkList.length) {
            resultIds += ',';
          }
        }
        this.checkIds = resultIds;
      },
      handleChoiceBatch() {
        if (this.checkIds === undefined || this.checkIds === '') {
          this.$message.error('请选中需要被推荐的资讯')
          return false;
        }
        {
          const body = '确定要批量推荐这批资讯吗？';
          this.$confirm(body, '批量推荐', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            articleZoneRefSaveBatch({articleZoneId: this.formData.articleZoneId, articleIds: this.checkIds}).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            })
          })
        }
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.pageList()
      },
      // 重置查询条件
      handleReset() {
        this.reload()
      },
      // 分页列出课程信息
      pageList() {
        this.ctrl.load = true
        blogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
          this.ctrl.load = false
        }).catch(() => {
          this.ctrl.load = false
        })
      },
      // 刷新当前页面
      reload() {
        this.map = {
          articleType: 2
        }
        this.pageList()
      },
      handleChoice(row) {
        {
          const body = '确定选择【' + row.title + '】？'
          this.$confirm(body, '选择确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            articleZoneRefSave({articleZoneId: this.formData.articleZoneId, articleId: row.id}).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          })
        }
      },
      handleClose() {
        this.$emit('close-callback')
      }
    }
  }
</script>
<style scoped>
</style>
