<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="60%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="讲师手机">
        <el-input v-model="map.lecturerMobile" placeholder="" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="讲师名称" prop="lecturerName" />
      <el-table-column label="讲师手机" prop="lecturerMobile" />
      <el-table-column label="用户手机" prop="userMobile" />
      <el-table-column label="关注时间" prop="gmtCreate" />
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import { userLecturerAttentionPage } from '@/api/user'

  export default {
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.page.pageCurrent = 1;
          this.map = {
            userNo: this.info.userNo
          }
          this.listForPage();
        }
      }
    },
    methods: {
      handleClose() {
        this.map = {}
        this.$emit('close-callback')
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = { userNo: this.info.userNo }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        userLecturerAttentionPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
