<template>
  <div>
    <div class="teacher_bg"></div>
    <div class="b_fff">
      <div class="container">
        <div class="fl img_box">
          <img v-if="teacherData.headImgUrl" :src="teacherData.headImgUrl" alt="">
          <img v-else src="../../assets/image/friend.jpg" alt="">
        </div>
        <div class="fl teacher_info">
          <p class="font_18 font_b c_fff">{{ teacherData.lecturerName }}</p>
          <div class="mgt20 font_14 c_999" v-html="teacherData.introduce"></div>
        </div>
      </div>
      <div class="container">
        <ul class="clearfix tabs">
          <li class="tab fl" :class="{ active: tabType === 'course' }" @click="changeTab('course')">
            点播课
          </li>
          <li class="tab fl" :class="{ active: tabType === 'live' }" @click="changeTab('live')" v-if="openLive">
            直播课
          </li>
          <li class="tab fl" :class="{ active: tabType === 'resource' }" @click="changeTab('resource')" v-if="openResource">
            文库
          </li>
          <li class="tab fl" :class="{ active: tabType === 'blob' }" @click="changeTab('blob')" v-if="openBlob">
            博客
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <y-course :lecturerUserNo="lecturerUserNo" v-if="tabType === 'course'" />
      <y-live :lecturerUserNo="lecturerUserNo" v-if="tabType === 'live'" />
      <y-resource :lecturerUserNo="lecturerUserNo" v-if="tabType === 'resource'" />
      <y-blob :lecturerUserNo="lecturerUserNo" v-if="tabType === 'blob'" />
    </div>
  </div>
</template>
<script>
  import YCourse from '~/components/Lecturer/Course'
  import YLive from '~/components/Lecturer/Live'
  import YResource from '~/components/Lecturer/Resource'
  import YBlob from '~/components/Lecturer/Blob'
  import { getLecturer } from '~/api/user.js'
  export default {
    components: {
      YCourse,
      YLive,
      YResource,
      YBlob
    },
     head() {
      return {
        lecturerUserNo: '',
        title: this.teacherData.lecturerName + '-' + this.$store.state.clientData.name,
        meta: [
          {
            hid: 'keywords',
            name: 'keywords',
            content: this.$store.state.webInfo.keyword
          },
          {
            hid: 'description',
            name: 'description',
            content: this.$store.state.webInfo.desc
          }
        ]
      }
    },
    data() {
      return {
        tabType: 'course',
        webInfo: '',
        openLive: true,
        openResource: true,
        openBlob: true
      }
    },
    computed: {
      typeStr() {
        const strObj = {
          course: '点播课程',
          live: '直播课程',
          resource: '文库',
          blob: '博客'
        }
        return strObj[this.tabType]
      }
    },
    async asyncData(context) {
      try {
        const lecturerUserNo = context.params.id
        const { data } = await getLecturer({ lecturerUserNo })
        return { teacherData: data || {}, lecturerUserNo }
      } catch (e) {
        context.error({ message: 'User not found', statusCode: 404 })
      }
    },
    methods: {
      changeTab(type) {
        this.tabType = type
      }
    }
  }
</script>
<style lang="scss" scoped>
  .h60 {
    height: 60px;
    line-height: 60px;
  }
  .teacher_bg {
    height: 120px;
    background: url(../../assets/image/lecturer.jpg) no-repeat center center;
  }
  .img_box {
    width: 88px;
    height: 88px;
    border-radius: 44px;
    overflow: hidden;
    border: 2px solid #fff;
    margin-top: -50px;
  }
  .teacher_info {
    width: 1060px;
    margin: -30px 0 0 20px;
    line-height: 20px;
  }
  .tabs {
    line-height: 60px;
    margin-top: 30px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .tab {
    margin: 0 30px;
    cursor: pointer;
    &.active {
      color: #D51423;
      border-bottom: 1px solid #D51423;
    }
  }
  .no_data {
    min-height: 300px;
  }
  .no_data_img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 100px auto 20px;
  }
</style>
