<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="分类名称">
        <el-input v-model.trim="map.articleZoneName" />
      </el-form-item>
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>

      <el-button plain type="success" size="mini" @click="handleAddRow">新增</el-button>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="文章标题 / 作者">
        <template slot-scope="scope">
          {{ scope.row.title }}【{{ scope.row.bloggerNickname }}】
        </template>
      </el-table-column>
      <el-table-column label="显示平台" prop="platShow">
        <template slot-scope="scope">
          {{ platShowEnums[scope.row.platShow] }}
        </template>
      </el-table-column>
      <el-table-column label="状态" prop="platShow">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="80" />
      <el-table-column label="添加时间" prop="gmtCreate" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">排序</el-button>
          <el-button v-if="scope.row.statusId === 1" plain type="danger" size="mini" @click="handleChangeStatus(scope.row.id,0)">禁用</el-button>
          <el-button v-if="scope.row.statusId === 0" plain type="success" size="mini" @click="handleChangeStatus(scope.row.id,1)">启用</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add v-if="ctrl.addDialogVisible" :visible="ctrl.addDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <edit v-if="ctrl.editDialogVisible" :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />

  </div>
</template>

<script>
  import { articleZoneRefPage, articleZoneRefDelete, articleZoneUpdateStatus } from '@/api/community'
  import Edit from '../edit';
  import Add from '../add';

  export default {
    components: { Edit, Add },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          loading: false,
          addDialogVisible: false,
          editDialogVisible: false
        },
        formData: {},
        articleZoneId: '',
        platShow: 1, // PC
        platShowEnums: {},
        statusIdEnums: {},
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.articleZoneId = this.$route.query.articleZoneId
      this.platShow = this.$route.query.platShow
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'PlatShowEnum', type: 'obj' }).then(res => {
        this.platShowEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleChangeStatus(id, statusId) {
        const title = { 0: '禁用', 1: '启用' };
        this.$confirm(`确定要${title[statusId]}吗?`, {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // this.ctrl.loading = true;
          this.changeStatus(id, statusId)
        }).catch(() => {
          this.reload()
        })
      },
      // 改变状态
      changeStatus(id, statusId) {
        articleZoneUpdateStatus({ id: id, statusId: statusId }).then(res => {
          // this.ctrl.loading = false;
          if (res.code === 200) {
            const msg = { 0: '禁用成功', 1: '启用成功' };
            this.$message({
              type: 'success',
              message: msg[statusId]
            });
            this.reload()
          } else {
            const msg = { 0: '禁用失败', 1: '启用失败' };
            this.$message({
              type: 'error',
              message: msg[statusId]
            });
            this.reload();
          }
        }).catch(() => {
          this.ctrl.loading = false;
          this.reload()
        })
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            articleZoneRefDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.formData.articleZoneId = this.articleZoneId
        this.ctrl.dialogTitle = '添加'
        this.ctrl.addDialogVisible = true
      },
      handleUpdateRow(row) {
        this.formData = row
        this.ctrl.dialogTitle = '编辑';
        this.ctrl.editDialogVisible = true
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        this.map.articleZoneId = this.articleZoneId
        this.map.platShow = this.platShow
        articleZoneRefPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      // 关闭编辑弹窗回调1
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
