<template>
  <el-dialog :title="title" :visible.sync="visible" width="30%" :before-close="handleClose">
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="课程名称" prop="courseName">
        <el-input v-model="form.courseName" disabled class="form-group">
          <el-button slot="append" icon="el-icon-search" @click="findCourse" />
        </el-input>
      </el-form-item>
      <el-form-item v-if="form.courseName" label="课程价格">
        <span class="c-info">普通价：{{ form.courseOriginal | amountFormat }}</span>
        <br>
        <span class="c-danger">会员价：{{ form.courseDiscount | amountFormat }}</span>
      </el-form-item>
      <el-form-item v-if="form.actType" label="秒杀价" prop="seckillPrice">
        <el-input-number v-model="form.seckillPrice" placeholder="请输入秒杀价" :precision="2" controls-position="right" :min="0" :max="form.courseOriginal" />
      </el-form-item>
      <el-form-item v-if="form.courseName" label="是否限购" prop="isLimit">
        <el-radio-group v-model="form.isLimit">
          <el-radio :label="1">是</el-radio>
          <el-radio :label="0">否</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item v-if="form.isLimit === 1" label="限购人数" prop="buyer">
        <el-input-number v-model="form.buyer" placeholder="请输入限购人数" :precision="0" controls-position="right" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">保存</el-button>
    </div>
    <find-course :title="courseCtr.title" :visible="courseCtr.visible" @close-callback="courseCloseCallback" />
  </el-dialog>
</template>
<script>
  import {actSeckillSave} from '@/api/marketing'
  import FindCourse from '@/views/course/course/findBack/findCourse';

  export default {
    name: 'AddOrderInfo',
    components: {FindCourse},
    filters: {
      amountFormat(val = 0) {
        return `￥ ${val.toFixed(2).replace(/\d{1,3}(?=(\d{3})+(\.\d*)?$)/g, '$&,')}`
      }
    },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {isLimit: 0},
        rules: {
          courseName: [
            {required: true, message: '请选择课程名称', trigger: 'blur'}
          ],
          seckillPrice: [
            {required: true, message: '请输入秒杀价', trigger: 'blur'}
          ],
          isLimit: [
            {required: true, message: '是否限购', trigger: 'blur'}
          ],
          buyer: [
            {required: true, message: '限购人数', trigger: 'blur'}
          ]
        },
        courseCtr: {
          title: '课程信息',
          visible: false
        }
      }
    },
    methods: {
      handleClose() {
        this.form = {isLimit: 0}
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        actSeckillSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      },
      findCourse() {
        this.courseCtr.visible = true;
      },
      courseCloseCallback(row) {
        this.courseCtr.visible = false;
        if (row) {
          this.form.courseName = row.courseName;
          this.form.courseImg = row.courseLogo;
          this.form.courseCategory = row.courseCategory;
          this.form.courseOriginal = row.courseOriginal;
          this.form.courseDiscount = row.courseDiscount;
          this.form.courseId = row.id;
        }
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
