<template>
  <div class="app-container record-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-row>
        <el-col :span="18">
          <el-form-item label="课程分类" prop="category">
            <el-cascader
              v-model="form.category"
              :options="categoryList"
              @change="handleChange"></el-cascader>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="18">
          <el-form-item label="课程名称" prop="courseName">
            <el-input v-model="form.courseName" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="课程简介" prop="introduce">
          <wangeditor v-model="form.introduce" />
        </el-form-item>
      </el-row>
      <br>
      <el-row>
        <el-col :span="12">
          <el-form-item label="收费设置" prop="isFree">
            <el-radio-group v-model="form.isFree">
              <el-radio v-for="item in isFreeEnumList" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="form.isFree === 0">
        <el-col :span="12">
          <el-form-item label="原价" prop="courseOriginal">
            <el-input-number v-model="form.courseOriginal" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="会员价" prop="courseOriginal">
            <el-input-number v-model="form.courseDiscount" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="SEO关键词">
            <el-input type="textarea" autosize v-model="form.keywords" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="SEO描述">
            <el-input type="textarea" autosize v-model="form.description" />
          </el-form-item>
        </el-col>
      </el-row>
      <br>
      <el-row>
        <el-col>
          <el-form-item label="课程封面">
            <upload-image class="image" :image-url="form.courseLogo" @success="val => {form.courseLogo = val.url}" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">保存数据</el-button>
      </div>
    </div>
  </div>
</template>
<script>
  import {getCategory, courseAuditSave} from '@/api/course'
import Wangeditor from '@/components/wangeditor/wangeditor';
import UploadImage from '@/components/Upload/UploadImage';

export default {
  name: 'EditCourseResource',
  components: {Wangeditor, UploadImage},
  data() {
    return {
      form: {},
      rules: {
        category: [
          {required: true, message: '请选择课程分类', trigger: 'blur'}
        ],
        courseName: [
          {required: true, message: '请输入课程名称', trigger: 'blur'}
        ],
        courseLogo: [
          {required: true, message: '请输入课程封面', trigger: 'blur'}
        ],
        isFree: [
          {required: true, message: '请选择收费设置', trigger: 'blur'}
        ],
        courseOriginal: [
          {required: true, message: '请输入原价', trigger: 'blur'}
        ],
        courseDiscount: [
          {required: true, message: '请输入会员价', trigger: 'blur'}
        ]
      },
      categoryList: [],
      isFreeEnumList: {},
      videoFlag: false,
      videoUploadPercent: 0,
      editCtr: false
    }
  },
  mounted() {
    this.getCategory()
    this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'arr'}).then(res => {
      this.isFreeEnumList = res;
    });
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/course/resource/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    handleChange(value) {
      if (value[0]) {
        this.form.categoryId1 = value[0]
      }
      if (value[1]) {
        this.form.categoryId2 = value[1]
      }
      if (value[2]) {
        this.form.categoryId3 = value[2]
      }
    },
    getCategory() {
      this.loading = true
      getCategory({ categoryType: 4}).then(res => {
        this.loading = false
        this.categoryList = res.data.list
        this.isEdit = true;
      }).catch(() => {
        this.loading = false
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      courseAuditSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style lang="scss">
  .record-container {

    .title {
      margin-bottom: 20px;
    }

    .form-group {
      width: 100%;
      max-width: 300px;
    }

    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      line-height: 178px;
      text-align: center;
    }
    .image {
      .avatar-uploader-icon {
        top: 0%;
      }
    }
    .avatar {
      display: block;
    }

    .show-img {
      max-width: 200px;
      border-radius: 6px;
    }

  }
</style>
