<template>
  <!--弹窗-->
  <el-dialog
    width="65%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="formData" :rules="rules" label-width="150px">
      <el-row>
        <el-col :span="18">
          <el-form-item label="附件">
            <upload-file class="image" :image-url="acUrl" :fileType="1" @success="file"  />
          </el-form-item>
        </el-col>
      </el-row>
      <br>
      <el-row>
        <el-col :span="18">
          <el-form-item label="内容" prop="periodName">
            <el-input v-model="formData.periodName" />
          </el-form-item>
        </el-col>
      </el-row>
      <br>
      <el-row>
        <el-col :span="12">
          <el-form-item label="收费设置" prop="isFree">
            <el-radio-group v-model="isFree">
              <el-radio v-for="item in isFreeEnumList" :key="item.code" :label="item.code">{{ item.desc }}</el-radio>
            </el-radio-group>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import {courseChapterPeriodAuditSave, courseAccessorySave} from '@/api/course'
import UploadFile from '@/components/Upload/UploadFile';

export default {
  name: 'Add',
  components: {UploadFile},
  props: {
    formData: {
      type: Object,
      default: () => {

      }
    },
    visible: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    }

  },
  data() {
    return {
      rules: {
        periodName: [
          {required: true, message: '请输入内容', trigger: 'blur'}
        ],
        isFree: [
          {required: true, message: '请选择收费设置', trigger: 'blur'}
        ]
      },
      isFree: 1,
      courseCategory: 4,
      acUrl: '',
      isFreeEnumList: {},
      videoFlag: false,
      videoUploadPercent: 0,
      editCtr: false
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'arr'}).then(res => {
      this.isFreeEnumList = res;
    });
  },
  methods: {
    handleClose() {
      this.$emit('close-callback')
    },
    file(val) {
      this.acUrl = val.url
      this.formData.periodName = val.name
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 编辑
      this.formData.isFree = this.isFree
      this.formData.chapterId = this.$route.query.chapterId
      courseChapterPeriodAuditSave(this.formData).then(res => {
        this.loading = false
        this.formData.acUrl = this.acUrl
        this.formData.acName = this.formData.periodName
        this.formData.refId = res.data.id
        this.formData.courseCategory = this.courseCategory
        this.formData.refType = 3
        courseAccessorySave(this.formData).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style lang="scss">
  .record-container {

    .title {
      margin-bottom: 20px;
    }

    .form-group {
      width: 100%;
      max-width: 300px;
    }

    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }

    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      line-height: 178px;
      text-align: center;
    }
    .image {
      .avatar-uploader-icon {
        top: 0%;
      }
    }
    .avatar {
      display: block;
    }

    .show-img {
      max-width: 200px;
      border-radius: 6px;
    }

  }
</style>
