<template>
  <div class="main_box">
    <ul class="tabs clearfix">
      <li class="tab on">
        <a>{{ editId?'修改试题':'新建试题' }}</a>
      </li>
    </ul>
    <el-form
      :model="form"
      :rules="rules"
      class="form"
      label-width="100px"
      ref="form"
      v-loading="loading"
    >
      <div class="btn-content" v-if="!editId">
        <el-button
          :key="index"
          :type="form.problemType == item.type?'primary':''"
          @click="form.problemType = item.type"
          class="btn-item"
          size="small"
          v-for="(item, index) in typeList"
        >
          {{ item.name }}
        </el-button>
      </div>
      <el-row>
        <el-col :span="6">
          <el-form-item label="试题科目:" prop="subjectId">
            <el-cascader
              :options="kemuList"
              :props="optionProps"
              placeholder="请选择科目"
              popper-class="__category-id"
              v-model="form.subjectId "
            ></el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="18">
          <el-form-item label="排序:" prop="sort">
            <el-input
              class="form-group"
              placeholder="请输入排序"
              style="width: 200px;"
              v-model="form.sort"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="6">
          <el-form-item label="试题年份:" prop="yearId">
            <el-select
              placeholder="请选择年份"
              popper-class="__category-id"
              style="width: 200px"
              v-model="form.yearId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in nianfenList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="18">
          <el-form-item label prop="region">
            <el-input
              class="form-group"
              placeholder="请输入地区"
              style="width: 200px;"
              v-model="form.region"
            ></el-input>
            <span>* 选填，试题年份和试题地区，地区需您输入，不得超过8个汉字。</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="试题题目:" prop="problemContent">
        <wangeditor :height="200" v-model="form.problemContent"></wangeditor>
      </el-form-item>

      <!--单选题目-->
      <el-form-item label="试题答案:" v-if="form.problemType == '1'">
        <el-radio-group v-model="form.resource">
          <template v-for="(item, index) in opts.tm">
            <div :key="index" class="radio-card">
              <el-radio
                :key="item.label"
                :label="index"
                :value="item.label"
                v-if="item.statusId != 3"
                class="el-radio-re"
              >
              {{''}}
              </el-radio>
              <div class="form-group-list">
                <problemInput style="width: 600px" v-model="item.val" :label="item.label"></problemInput>
                <div class="form-group-btn" @click="getUploadIndex(index)">
                  <i @click.prevent="rmOption(index)" class="del el-icon-close"></i>
                  <i @click.prevent="moveOption(index, -1)" class="up el-icon-caret-top"></i>
                  <i @click.prevent="moveOption(index, 1)" class="next el-icon-caret-bottom"></i>

                  <i
                    @click.prevent="addOption()"
                    class="next el-icon-plus"
                    v-if="index == (opts.tm.length - 1)"
                  ></i>
                </div>
              </div>
            </div>
          </template>
        </el-radio-group>
        <div class="tip" v-if="form.problemType < 4">单选题、多选题、判断题 的正确答案是直接按输入框前面的按钮</div>
      </el-form-item>

      <!--多选题目-->
      <el-form-item label="试题答案:" v-if="form.problemType == '2' || form.problemType == '7'">
        <el-checkbox-group v-model="form.checkboxresource">
          <template v-for="(item, index) in opts.tm">
            <div :key="index" class="radio-card">
              <el-checkbox
                :key="item.label"
                :label="item.label"
                :value="item.label"
                v-if="item.statusId != 3"
              >
              {{''}}
              </el-checkbox>
              <div :key="item.label" class="form-group-list">
                <problemInput style="width: 600px" v-model="item.val" :label="item.label"></problemInput>
                <div class="form-group-btn" @click="getUploadIndex(index)">
                  <i @click.prevent="rmOption(index)" class="del el-icon-close"></i>
                  <i @click.prevent="moveOption(index, -1)" class="up el-icon-caret-top"></i>
                  <i @click.prevent="moveOption(index, 1)" class="next el-icon-caret-bottom"></i>
                  <i
                    @click.prevent="addOption()"
                    class="next el-icon-plus"
                    v-if="index == (opts.tm.length - 1)"
                  ></i>
                </div>
              </div>
            </div>  
          </template>
        </el-checkbox-group>
        <div class="tip" v-if="form.problemType < 4">单选题、多选题、判断题 的正确答案是直接按输入框前面的按钮</div>
      </el-form-item>
      <template v-if="form.problemType == '3'">
        <el-form-item label="试题答案:">
          <el-radio-group v-model="form.resource">
            <div :key="item.label" class="form-group-list" v-for="(item,index) in opts.judge">
              <div v-if="item.statusId != 3">
                <el-radio :key="item.label" :label="index" :value="item.label">
                  <el-input style="width: 600px;" disabled v-model="item.val"></el-input>
                </el-radio>
              </div>
            </div>
          </el-radio-group>
          <div class="tip" v-if="form.problemType < 4">单选题、多选题、判断题 的正确答案是直接按输入框前面的按钮</div>
        </el-form-item>
      </template>
      <template v-if="form.problemType == '4'">
        <el-form-item label="试题答案:">
          <div :key="item.label" class="form-group-list" v-for="(item, index) in opts.filling">
            <problemInput style="width: 600px" v-model="item.val" :label="index + 1" :placeholder="'请输入第'+ (index + 1) +'个空的答案'"></problemInput>
            <div class="form-group-btn">
              <i @click.prevent="rmOption(index)" class="del el-icon-close"></i>
              <i @click.prevent="moveOption(index, -1)" class="up el-icon-caret-top"></i>
              <i @click.prevent="moveOption(index, 1)" class="next el-icon-caret-bottom"></i>
              <i
                @click.prevent="addOption()"
                class="next el-icon-plus"
                v-if="index == (opts.filling.length - 1)"
              ></i>
            </div>
          </div>
        </el-form-item>
      </template>
      <el-form-item label="是否免费:" prop="isFree">
         <el-radio-group v-model="form.isFree">
          <el-radio :label="1">免费</el-radio>
          <el-radio :label="0">收费</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="试题分数:" prop="score">
        <el-input
          :disabled="form.problemType == '6'"
          min="0"
          placeholder="请输入分数"
          type="number"
          v-model="form.score"
        >
          <template slot="append">分</template>
        </el-input>
      </el-form-item>

      <comprehend
        :dataList="form.itemList"
        @submit="onsubmitComprehend"
        v-if="form.problemType == '6'"
      ></comprehend>
      <el-form-item label="试题解答:">
        <wangeditor :height="200" v-model="form.analysis"></wangeditor>
      </el-form-item>
      <el-form-item label="解答视频:">
        <div v-show="form.videoId">
          有一个视频
          <el-button @click="setAc({url: ''})" type="danger">移除文件</el-button>
        </div>
        <d-upload
          :btntxt="'添加视频'"
          :isExam="true"
          :isresource="true"
          @rtnUrl="setAc"
          @uploadStart="uploadStart"
          v-show="!form.videoId"
        />
      </el-form-item>
      <el-row>
        <el-col :span="12">
          <el-form-item label="试题考点:" prop="emphasisId">
            <el-cascader
              :options="kiaoDianList"
              :props="optionProps"
              placeholder="请选择考点"
              popper-class="__category-id"
              v-model="form.emphasisId"
            ></el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="试题题类:" prop="topicId">
            <el-select
              placeholder="请选择试题题类"
              style="width: 200px"
              popper-class="__topic-id"
              v-model="form.topicId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in leixingList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="试题难度:" prop="difficultyId">
            <el-select
              placeholder="请选择试题难度"
              style="width: 200px"
              popper-class="__difficulty-id"
              v-model="form.difficultyId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in nanduList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="试题来源:" prop="sourceId">
            <el-select
              placeholder="请选择试题来源"
              style="width: 200px"
              popper-class="__source-id"
              v-model="form.sourceId"
            >
              <el-option
                :key="item.id"
                :label="item.categoryName"
                :value="item.id"
                v-for="item in laiyuanList"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item>
        <el-button @click="onSubmit" type="primary">确认提交</el-button>
        <el-button @click="back()">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import comprehend from './comprehend';
import cookie from '~/utils/cookies';
import * as apis from '~/api/account/exam.js';
import DUpload from '~/components/account/exam/Upload';
import wangeditor from '~/components/wangeditor.vue';
import problemInput from '~/components/account/exam/problemInput.vue';
const letter = 'ABCDEFGHIJkLMNOPQRSTUVWXYZ'.split('');

export default {
  name: 'ProblemAdd',
  layout: 'account',
   head() {
    return {
      script: [{ src: '//player.polyv.net/resp/vod-upload-js-sdk/latest/vod-upload-js-sdk.min.js' }]
    }
  },
  components: {
    DUpload,
    comprehend,
    wangeditor,
    problemInput
  },
  data() {
    return {
      loading: false,
      editId: '',
      uploadIndex: 0,
      uploadHeader: {
        token: ''
      },
      rules: {
        isFree:  [
          { required: true, message: '请选择是否收费', trigger: 'blur' }
        ],
        subjectId: [
          { required: true, message: '请选择试题科目', trigger: 'blur' }
        ],
        yearId: [
          { required: true, message: '请选择试题年份', trigger: 'blur' }
        ],
        // region: [{ required: true, message: '请输入试题地区', trigger: 'blur' }],
        topicId: [
          { required: true, message: '请选择试题类型', trigger: 'blur' }
        ],
        difficultyId: [
          { required: true, message: '请选择试题难度', trigger: 'blur' }
        ],
        sourceId: [
          { required: true, message: '请选择试题来源', trigger: 'blur' }
        ],
        // analysis: [
        //   { required: true, message: '请输入试题解答', trigger: 'blur' }
        // ],
        emphasis: [
          { required: true, message: '请输入试题考点', trigger: 'blur' }
        ],
        problemContent: [
          { required: true, message: '请输入试题题目', trigger: 'blur' }
        ],
        score: [{ required: true, message: '请输入试题分数', trigger: 'blur' }]
      },
      acList: [],
      editor: {},
      typeList: [
        {
          type: '1',
          name: '单选题'
        },
        {
          type: '2',
          name: '多选题'
        },
        {
          type: '3',
          name: '判断题'
        },
        {
          type: '4',
          name: '填空题'
        },
        {
          type: '5',
          name: '问答题'
        },
        {
          type: '6',
          name: '组合题'
        }
      ],
      side: 'stgl',
      kemuList: [],
      nanduList: [],
      laiyuanList: [],
      leixingList: [],
      nianfenList: [],
      kiaoDianList: [],
      optionProps: {
        value: 'id',
        label: 'categoryName',
        children: 'children',
        checkStrictly: true
      },
      form: {
        problemType: '1',
        name: '',
        region: '',
        isFree: 1,
        resource: '',
        subjectId: [],
        sort: '1',
        checkboxresource: [],
        itemList: [],
        videoId: '',
        score: ''
      },

      input: '1',
      opts: {
        tm: [
          { label: 'A', val: '' },
          { label: 'B', val: '' },
          { label: 'C', val: '' },
          { label: 'D', val: '' }
        ],
        judge: [
          { label: 'A', val: '对' },
          { label: 'B', val: '错' }
        ],
        filling: [
          { label: 'A', val: '' },
          { label: 'B', val: '' }
        ],
        nd: [
          { label: '简单', val: '' },
          { label: '较易', val: '' },
          { label: '中等', val: '' },
          { label: '较难', val: '' }
        ],
        type: [
          { label: '常见题', val: '' },
          { label: '易错题', val: '' },
          { label: '好题', val: '' },
          { label: '压轴', val: '' }
        ],
        ly: [
          { label: '中考真题', val: '' },
          { label: '自主招生', val: '' },
          { label: '中考模拟', val: '' },
          { label: '中考复习', val: '' }
        ]
      },
      crossheadList: []
    };
  },
  mounted() {
    this.uploadHeader.token = cookie.getInClient('RC_WEB_TOKEN');
    this.getproblemLM();
    this.getproblemND();
    this.getproblemLY();
    this.getproblemLX();
    this.getproblemNF();
    this.getproblemKD();
    // 编辑试题
    if (this.$route.query && this.$route.query.id) {
      this.editId = this.$route.query.id;
      this.getData();
    }
  },
  methods: {
    getUploadIndex(index) {
      this.uploadIndex = index;
    },
    onsubmitComprehend(list) {
      this.form.childrenList = list;
      let score = 0;
      list.forEach((e) => {
        score += +e.score;
      });
      this.form.score = score;
    },
    getData() {
      this.loading = true;
      apis.getproblem({ id: this.editId }).then((res) => {
        this.loading = false;
        res.data.checkboxresource = [];
        res.data.resource = '';
        this.form = res.data;
        this.form.problemType += ''; // 数字转字符串
        // 单选和多选题目答案设置
        if (
          this.form.problemType === '1' ||
          this.form.problemType === '2' ||
          this.form.problemType === '7'
        ) {
          this.form.optionList.sort((a, b) => {
            return a.sort - b.sort;
          });
          this.opts.tm = [];
          this.form.optionList.forEach((e, i) => {
            if (
              this.form.problemAnswer.split('|').indexOf(e.optionContent) !== -1
            ) {
              if (
                this.form.problemType === '2' ||
                this.form.problemType === '7'
              ) {
                this.form.checkboxresource.push(letter[e.sort - 1] || '');
              } else {
                this.form.resource = i;
              }
            }
            this.opts.tm.push({
              label: letter[e.sort - 1] || '',
              val: e.optionContent,
              statusId: 1
            });
          });
        }

        // 判断题目答案设置
        if (this.form.problemType === '3') {
          this.opts.judge = [];
          this.form.optionList.forEach((e, i) => {
            this.opts.judge.push({
              label: letter[e.sort - 1] || '',
              val: e.optionContent,
              statusId: 1
            });
          });

          this.form.optionList.forEach((e, i) => {
            if (this.form.problemAnswer === e.optionContent) {
              this.form.resource = i;
            }
          });
        }

        // 填空题目答案设置
        if (this.form.problemType === '4') {
          this.opts.filling = [];
          this.form.problemAnswer.split('|').forEach((e) => {
            this.opts.filling.push({
              val: e
            });
          });
        }
        // 问答题目答案设置
        if (this.form.problemType === '5') {
          this.opts.filling = [];
          this.form.analysis = this.form.problemAnswer;
        }
      });
    },
    setAc(res) {
      this.form.videoType = '1';
      this.form.videoId = res.url;
    },
    uploadStart(b) {
      this.uploading = b;
    },
    // 添加答案
    addOption() {
      if (
        this.form.problemType === '1' ||
        this.form.problemType === '2' ||
        this.form.problemType === '7'
      ) {
        this.opts.tm.push({
          label: letter[this.opts.tm.length] || '',
          val: ''
        });
      }
      if (this.form.problemType === '4') {
        this.opts.filling.push({
          label: '',
          val: ''
        });
      }
      console.log('addOPtions')
    },
    // 删除答案
    rmOption(index) {
      if (this.form.problemType === '1' || this.form.problemType === '2') {
        if (this.opts.tm.length > 1) {
          this.opts.tm.splice(index, 1);
          this.opts.tm.forEach((item, index) => {
            item.label = letter[index];
          });
          if (this.form.resource === index && this.form.problemType === '1') {
            this.form.resource = '';
          }
          if (this.form.problemType === '2') {
            if (this.form.resource.indexOf(index) !== -1) {
              this.form.resource.splice(this.form.resource.indexOf(index), 1);
            }
          }
          console.log(this.form.resource, index);
        }
      }
      if (this.form.problemType === '4') {
        if (this.opts.filling.length > 1) {
          this.opts.filling.splice(index, 1);

          if (this.form.resource === index) {
            this.form.resource = '';
          }
        }
      }
      console.log(this.form.resource, index);
    },

    // 答案位置移动
    moveOption(index, type = 1) {
      if (this.form.problemType === '1' || this.form.problemType === '2') {
        if (this.opts.tm[index + type] && this.opts.tm[index]) {
          const val = this.opts.tm[index + type].val;
          this.opts.tm[index + type].val = this.opts.tm[index].val;
          this.opts.tm[index].val = val;
        }
      }
      if (this.form.problemType === '4') {
        if (this.opts.filling[index + type] && this.opts.filling[index]) {
          const val = this.opts.filling[index + type].val;
          this.opts.filling[index + type].val = this.opts.filling[index].val;
          this.opts.filling[index].val = val;
        }
      }
    },
    // 获取试题类目
    getproblemLM() {
      apis
        .categoryList({ examCategoryType: 1, categoryType: 1 })
        .then((res) => {
          this.kemuList = res.data.examCategoryList;
        });
    },
    // 获取试题难度
    getproblemND() {
      apis
        .categoryList({ examCategoryType: 4, categoryType: 1 })
        .then((res) => {
          this.nanduList = res.data.examCategoryList;
        });
    },
    // 获取试题来源
    getproblemLY() {
      apis
        .categoryList({ examCategoryType: 3, categoryType: 1 })
        .then((res) => {
          this.laiyuanList = res.data.examCategoryList;
        });
    },
    // 获取试题类型
    getproblemLX() {
      apis
        .categoryList({ examCategoryType: 5, categoryType: 1 })
        .then((res) => {
          this.leixingList = res.data.examCategoryList;
        });
    },
    // 获取试题年份
    getproblemNF() {
      apis
        .categoryList({ examCategoryType: 2, categoryType: 1 })
        .then((res) => {
          this.nianfenList = res.data.examCategoryList;
        });
    },
    // 获取试题考点
    getproblemKD() {
      apis
        .categoryList({ examCategoryType: 6, categoryType: 1 })
        .then((res) => {
          this.kiaoDianList = res.data.examCategoryList;
        });
    },
    onSubmit() {
      if (
        this.form.problemType === '1' ||
        this.form.problemType === '2' ||
        this.form.problemType === '7'
      ) {
        if (!this.opts.tm.every((e) => e.val !== '')) {
          this.$message.error('试题答案还有空答案，请先补全再提交');
          return;
        }
        if (this.form.problemType === '2' || this.form.problemType === '7') {
          if (!this.form.checkboxresource.length) {
            this.$message.error('请添加正确答案！');
            return;
          }
        } else if (this.form.resource === '') {
          this.$message.error('请添加正确答案！');
          return;
        }
      }

      if (this.form.problemType === '3') {
        if (!this.opts.judge.every((e) => e.val !== '')) {
          this.$message.error('试题答案还有空答案，请先补全再提交');
          return;
        }
        if (this.form.resource === '') {
          this.$message.error('请添加正确答案！');
          return;
        }
      }

      if (this.form.problemType === '4') {
        if (!this.opts.filling.every((e) => e.val !== '')) {
          this.$message.error('试题答案还有空答案，请先补全再提交');
          return;
        }
      }

      if (!this.form.analysis && this.form.problemType === '5') {
        this.$message.error('请先补全试题答案再提交');
        return;
      }

      if (
        (!this.form.childrenList || !this.form.childrenList.length) &&
        this.form.problemType === '6'
      ) {
        this.$message.error('请添加小题目再提交试题！');
        return;
      }

      this.form.problemAnswer = [];
      if (this.form.problemType === '3') {
        this.form.optionList = this.opts.judge.map((item, index) => {
          if (index === this.form.resource) {
            this.form.problemAnswer = [item.val];
          }
          const d = {
            optionContent: item.val,
            sort: index + 1
          };
          return d;
        });
      }
      if (
        this.form.problemType === '1' ||
        this.form.problemType === '2' ||
        this.form.problemType === '7'
      ) {
        this.form.optionList = this.opts.tm.map((item, index) => {
          if (this.form.problemType === '1') {
            if (index === this.form.resource) {
              this.form.problemAnswer = [item.val];
            }
          }
          if (this.form.problemType === '2') {
            if (this.form.checkboxresource.indexOf(item.label) !== -1) {
              this.form.problemAnswer.push(item.val);
            }
          }
          const d = {
            optionContent: item.val,
            sort: index + 1
          };
          return d;
        });
      }

      if (this.form.problemType === '4') {
        this.form.problemAnswer = this.opts.filling.map((item, index) => {
          return item.val;
        });
      }

      if (this.form.problemType === '5') {
        this.form.problemAnswer = [this.form.analysis];
      }

      if (this.form.problemType === '6') {
        this.form.itemList = null;
      }

      let subjectId = '';
      if (Array.isArray(this.form.subjectId) && this.form.subjectId.length) {
        subjectId = this.form.subjectId[this.form.subjectId.length - 1];
      } else {
        subjectId = this.form.subjectId;
      }

      let emphasis = '';
      if (Array.isArray(this.form.emphasisId) && this.form.emphasisId.length) {
        emphasis = this.form.emphasisId[this.form.emphasisId.length - 1];
      } else {
        emphasis = this.form.emphasisId;
      }

      this.$refs.form.validate((valid) => {
        if (valid) {
          const re = /<!--\[.*\]>[\s\S]*?<!\[.*\]-->/g;
          this.form.problemContent = this.form.problemContent.replace(re, '');
          if (this.form.analysis) {
            this.form.analysis = this.form.analysis.replace(re, '');
          }
          if (this.form.problemType === '5') {
            this.form.analysis = '';
          }
          if (this.editId) {
            delete this.form.answerList;
            console.log(
              JSON.stringify({
                ...this.form,
                subjectId: subjectId,
                emphasisId: emphasis,
                problemAnswer: this.form.problemAnswer.join('|')
              })
            );
            apis
              .updateproblem({
                ...this.form,
                subjectId: subjectId,
                emphasisId: emphasis,
                problemAnswer: this.form.problemAnswer.join('|')
              })
              .then((res) => {
                if (res.code === 200) {
                  this.$message({
                    message: '更新成功！',
                    type: 'success'
                  });
                  this.back();
                }
              });
          } else {
            apis
              .saveproblem({
                ...this.form,
                subjectId: subjectId,
                emphasisId: emphasis,
                problemAnswer: this.form.problemAnswer.join('|')
              })
              .then((res) => {
                if (res.code === 200) {
                  this.$message({
                    message: '添加成功！',
                    type: 'success'
                  });
                  this.back();
                }
              });
          }
        }
      });
    },
    back() {
      history.go(-1);
    }
  }
};
</script>

<style lang="scss">
.__source-id,
.__difficulty-id,
.__topic-id,
.__category-id {
  background: #fff;
  z-index: 10002 !important;
}
.account_pages {
  .w-e-text-container {
    height: 160px !important; /*!important是重点，因为原div是行内样式设置的高度300px*/
  }
}
</style>

<style lang="scss" rel="stylesheet/scss" scoped>
.btn-content {
  padding-bottom: 20px;
  .btn-item {
    margin: 0 15px;
  }
}
.el-radio-re{
  margin-right: 0;
}
.form {
  padding: 20px;
  .form-group {
    width: 300px;
  }
  .radio-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
  }
  .form-group-list {
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
    .el-icons {
      position: relative;
      top: 2px;
    }

    .form-group-btn {
      font-size: 0px;
      display: inline-block;
      i {
        width: 17px;
        height: 17px;
        color: #fff;
        font-size: 12px;
        display: inline-block;
        margin: 8px 3px;
        line-height: 17px;
        text-align: center;
        background: #a9b3bf;
      }
    }
  }
}
</style>
