
<template>
  <div class="comprehend">
    <div class="tip-box">
      <span>小题</span> 选择录入题型，并按格式输入题目，保存后将录入题目
    </div>
    <div class="list">
      <div v-for="(item, index) in topicList" :key="item.title" class="item">
        <div class="num">{{ index + 1 }}</div>
        <div class="right">
          <div class="type">{{ typeList[item.type] }}</div>
          <div class="title">{{ item.title }}</div>
          <div class="issus-score">
            <input
              @change="onsubmit()"
              v-model="item.score"
              type="number"
              class="issus-score-input"
            />&nbsp;&nbsp;分
          </div>
        </div>
        <div class="btn">
          <i @click="rmTopic(index)" class="del el-icon-close"></i>
          <i @click="upTopic(index)" class="up el-icon-caret-top"></i>
          <i @click="nextTopic(index)" class="next el-icon-caret-bottom"></i>
        </div>
      </div>
    </div>

    <div class="edit">
      <div class="btn-list">
        <el-button
          v-for="(item, index) in typeList"
          @click="selectType(index)"
          :key="item"
          :plain="type != index"
          size="small"
          type="primary"
        >
{{ item }}
</el-button>
        <el-button @click="addTopic()" size="small" class="submit" type="warning">保存</el-button>
      </div>
      <el-row>
        <el-col :span="12">
          <div class="import">
            <div class="tip">
              输入区:
              <span
                @click="openTip()"
                :style="{color:isTip?'red':'' }"
                class="tip-btn"
              >{{ isTip?'关闭':'查看例题' }}</span>
              <div :style="{height: isTip?'240px': '0px'}" class="tip-box">
                <div v-if="type == 0">
                  <span class="c_green">单选题</span>
                  <br />
                  <span class="c_blue">输入规范</span>
                  <br />1、题号支持1.和1、和(1)三种格式。
                  <br />2、选项支持A.和A、两种格式，最多支持 20 个选项。
                  <br />3、答案中请勿加分隔符或空格
                  <br />
                  <span class="c_blue">输入范例</span>
                  <br />1.驾驶人有下列哪种违法行为一次记6分
                  <br />A、使用其他车辆行驶证
                  <br />B、饮酒后驾驶机动车
                  <br />C、车速超过规定时速50%以上
                  <br />D、违法占用应急车道行驶
                  <br />答案:D
                  <br />分数:10
                  <br />解析:请仔细阅读交规
                  <span class="c_red">(若无解析本行可不填)</span>
                </div>

                <div v-if="type == 1">
                  <span class="c_green">多选题</span>
                  <br />
                  <span class="c_blue">输入规范</span>
                  <br />1、题号支持1.和1、和(1)三种格式。
                  <br />2、选项支持A.和A、两种格式，最多支持 20 个选项。
                  <br />3、答案中请勿加分隔符或空格
                  <br />
                  <span class="c_blue">输入范例</span>
                  <br />1.数学0+3等于多少
                  <br />A、等于3
                  <br />B、等于3
                  <br />C、等于4
                  <br />D、等于3
                  <br />答案:ABD
                  <br />分数:10
                  <br />解析:请仔细阅读交规
                  <span class="c_red">(若无解析本行可不填)</span>
                </div>

                <div v-if="type == 2">
                  <span class="c_green">判断题</span>
                  <br />
                  <span class="c_blue">输入规范</span>
                  <br />1、题号支持1.和1、和(1)三种格式。
                  <br />2、答案支持正确、错误和对、错两种格式。
                  <br />
                  <span class="c_blue">输入范例</span>
                  <br />1.自行车起源于美国吗？
                  <br />答案:对
                  <br />分数:10
                  <br />解析:请
                  <span class="c_red">(若无解析本行可不填)</span>
                </div>

                <div v-if="type == 3">
                  <span class="c_green">填空题</span>
                  <br />
                  <span class="c_blue">输入规范</span>
                  <br />1、题号支持1.和1、和(1)三种格式。
                  <br />2、若有多空，请使用竖线|分隔。
                  <br />3、填空答案支持输入同义词，用&&连接多个同义词答案。
                  <br />
                  <span class="c_blue">输入范例</span>
                  <br />1.我国四大姓是 ( ) ( ) ( ) ( )
                  <br />答案:王&&李|刘|张|谢
                  <br />分数:10
                  <br />解析:请
                  <span class="c_red">(若无解析本行可不填)</span>
                </div>
                <div v-if="type == 4">
                  <span class="c_green">问题</span>
                  <br />
                  <span class="c_blue">输入规范</span>
                  <br />1、题号支持1.和1、和(1)三种格式。
                  <br />2、支持人工判卷。
                  <br />
                  <span class="c_blue">输入范例</span>
                  <br />1.我国那个城市被叫羊城
                  <br />答案：广州
                  <br />分数:10
                  <br />解析:请
                  <span class="c_red">(若无解析本行可不填)</span>
                </div>
              </div>
            </div>
            <textarea @focus="isTip = false" v-model="text" class="textarea" cols="30" rows="10"></textarea>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="examine">
            <div class="tip">检查区:</div>
            <div class="content">
              <el-card v-for="(item, index) in issueList" :key="index" class="topic-item">
                <div v-if="type == 0" class>
                  <div slot="header" class="topic-title">
                    <span class="num c_blue">{{ item.number }}.</span>
                    {{ item.title }}
                  </div>
                  <el-radio-group v-model="item.answer" class="el-radio-group">
                    <div class="bg"></div>
                    <div v-for="op in item.option" :key="op.t" class="radio-item">
                      <el-radio :label="op.t">
                        <span class="c_blue ml">{{ op.t }}</span>
                        {{ op.text }}
                      </el-radio>
                    </div>
                  </el-radio-group>
                  <div ref="err" v-if="!item.answer" class="err-box">缺少正确答案</div>
                  <div ref="err" v-if="!item.score" class="err-box">缺少试题分数</div>
                  <div v-if="item.parse" class="parse">解析： {{ item.parse }}</div>
                </div>
                <div v-else-if="type == 1" class>
                  <div slot="header" class="topic-title">
                    <span class="num c_blue">{{ item.number }}.</span>
                    {{ item.title }}
                  </div>
                  <el-checkbox-group v-model="item.answer" class="el-checkbox-group">
                    <div v-for="(op, indexs) in item.option" :key="indexs" class="checkbox-item">
                      <el-checkbox :label="op.t">
                        <span class="c_blue ml">{{ op.t }}</span>
                        {{ op.text }}
                      </el-checkbox>
                    </div>
                  </el-checkbox-group>
                  <div ref="err" v-if="!item.answer.length" class="err-box">缺少正确答案</div>
                  <div ref="err" v-if="!item.score" class="err-box">缺少试题分数</div>
                  <div v-if="item.parse" class="parse">解析： {{ item.parse }}</div>
                </div>
                <div v-else-if="[2,3,4].indexOf(type) != -1" class>
                  <div slot="header" class="topic-title">
                    <span class="num c_blue">{{ item.number }}.</span>
                    {{ item.title }}
                  </div>
                  <span class="title">答案:</span>
                  {{ item.answer }}
                  <div ref="err" v-if="!item.answer" class="err-box">缺少正确答案</div>
                  <div ref="err" v-if="!item.score" class="err-box">缺少试题分数</div>
                  <div v-if="item.parse" class="parse">解析： {{ item.parse }}</div>
                </div>
              </el-card>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
const letter = 'ABCDEFGHIJkLMNOPQRSTUVWXYZ'.split('');
export default {
  name: 'Comprehend',
  props: {
    dataList: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data() {
    return {
      typeList: ['单选题', '多选题', '判断题', '填空题', '问答题'],
      topicList: [],
      issueList: [],
      type: 0,
      text: '',
      isTip: false
    };
  },
  watch: {
    dataList: {
      handler(newVal) {
        if (newVal && newVal.forEach) {
          const list = [];
          newVal.forEach((e, i) => {
            const d = {
              number: i + 1,
              id: e.id,
              title: e.problemContent,
              statusId: e.statusId || 1,
              parse: e.analysis,
              score: e.score,
              type: e.problemType - 1,
              answer: []
            };
            if (
              e.problemType === 1 ||
              e.problemType === 2 ||
              e.problemType === 3
            ) {
              if (e.optionList && e.optionList.map) {
                d.option = e.optionList.map((e) => {
                  return {
                    t: letter[e.sort - 1],
                    text: e.optionContent
                  };
                });
                e.optionList.forEach((o) => {
                  if (
                    e.problemAnswer.split('|').indexOf(o.optionContent) !== -1
                  ) {
                    d.answer.push(letter[e.sort - 1]);
                  }
                });
              }
              if (e.problemType === 1) {
                d.answer = d.answer.join('');
              }
            } else if (e.problemAnswer) {
              d.answer = e.problemAnswer;
            }
            list.push(d);
          });
          this.topicList = this.topicList.concat(list);
          this.onsubmit();
        }
      },
      immediate: true
    },
    text(newVal) {
      if (newVal) {
        // 如果用户输入太快就会占用大量的内存来做题目识别 所以要开一个定时器 300 毫秒后再识别 如果300毫秒内用户有输入就停止识别
        if (this.inputTimer) {
          clearTimeout(this.inputTimer)
        }
        this.inputTimer = setTimeout(() => {
          if (this.type === 0) {
            this.getRadio(newVal);
          }
          if (this.type === 1) {
            this.getCheckbox(newVal);
          }
          if ([2, 3, 4].indexOf(this.type) !== -1) {
            this.getJudge(newVal);
          }
        }, 300);
      } else {
        this.issueList = [];
      }
    }
  },
  methods: {
    onsubmit() {
      const list = [];
      this.topicList.forEach((e) => {
        const d = {
          problemContent: e.title,
          problemType: e.type + 1,
          analysis: e.parse,
          score: e.score
        };
        if (e.id) {
          d.id = e.id;
        }
        const answer = e.answer;
        d.problemAnswer = [];
        if (e.option && e.option.length) {
          d.optionList = e.option.map((e, i) => {
            const o = {
              optionContent: e.text,
              sort: i + 1
            };
            if (answer.indexOf(e.t) !== -1) {
              d.problemAnswer.push(e.text);
            }
            return o;
          });
        } else {
          d.problemAnswer = [e.answer];
        }
        d.problemAnswer = d.problemAnswer.join('|');
        list.push(d);
      });
      this.$emit('submit', list);
    },
    getCheckbox(text) {
      this.getRadio(text);
      this.issueList.forEach((e) => {
        e.answer = e.answer.split('');
      });
    },
    getRadio(text) {
      const issue = [];
      const numRE = /(\d+[.|、]|[(|（]\d+[)|）])/; // 搜索题目数字
      const textArr = text.split(numRE);
      textArr.splice(0, 1); // 删除前面空字符串
      function getTitle(text) {
        const a = text.split(/[a-zA-Z]、/);
        return a && a.length ? a[0] : '';
      }

      function getOption(text) {
        const arr = text.match(/[a-zA-Z]、\s*.+/g);
        const option = [];
        if (arr && arr.forEach) {
          arr.forEach((e) => {
            let t = e.match(/[a-zA-Z]、/g);
            t && t.length ? (t = t[0]) : (t = '');
            option.push({
              t: t.replace('、', '').toUpperCase(),
              text: e.replace(/[a-zA-Z]、/g, '')
            });
          });
        }
        return option;
      }
      function getAnswer(text) {
        const re = /答案[:|：]\s*[a-zA-Z]+/g;
        const t = text.match(re);
        let answer = '';
        if (t && t.length) {
          const ans = t[0].match(/[a-zA-Z]+/g);
          answer = ans && ans.length ? ans[0] : '';
        } else {
          answer = '';
        }
        return answer.toUpperCase();
      }

      function getScore(text) {
        const re = /分数[:|：]\s*[0-9]+/g;
        const t = text.match(re);
        let score = '';
        if (t && t.length) {
          const scorelist = t[0].match(/[0-9]+/g);
          score = scorelist && scorelist.length ? scorelist[0] : '';
        } else {
          score = '';
        }
        return score || 0;
      }

      function getParse(text) {
        const re = /解析[:|：]\s*.+/g;
        const t = text.match(re);
        let Parse = '';
        if (t && t.length) {
          Parse = t[0].replace(/解析[:|：]/g, '');
        } else {
          Parse = '';
        }
        return Parse;
      }

      for (let i = 0; i < textArr.length; i++) {
        if (numRE.test(textArr[i])) {
          if (textArr[i + 1]) {
            const t = textArr[i + 1];
            const n = textArr[i].match(/\d+/g);
            issue.push({
              number: n[0],
              title: getTitle(t),
              option: getOption(t),
              answer: getAnswer(t),
              parse: getParse(t),
              type: this.type,
              score: getScore(t)
            });
          }
        }
      }
      this.issueList = issue;
    },
    getJudge(text) {
      const issue = [];
      const numRE = /(\d+[.|、]|^[(|（]\d+[)|）])/; // 搜索题目数字
      const textArr = text.split(numRE);
      console.log(textArr);
      textArr.splice(0, 1); // 删除前面空字符串
      function getTitle(text) {
        const a = text.split(/[a-zA-Z]、/);
        let t = '';
        if (a && a.length) {
          const b = a[0].split(/答案[:|：]\s*/g);
          if (b && b.length) {
            t = b[0];
          } else {
            t = a[0];
          }
        }
        return t;
      }

      function getParse(text) {
        const re = /解析[:|：]\s*.+/g;
        const t = text.match(re);
        let Parse = '';
        if (t && t.length) {
          Parse = t[0].replace(/解析[:|：]\s*/g, '');
        } else {
          Parse = '';
        }
        return Parse;
      }

      function getAnswer(text) {
        const re = /答案[:|：].*/gm;
        const t = text.match(re);
        let answer = '';
        if (t && t.length) {
          const ans = t[0].replace(/答案[:|：]\s*/g, '');
          const a = ans.split(/分数[:|：]\s*/g);
          if (a && a.length) {
            answer = a[0];
          } else {
            answer = ans && ans.length ? ans : '';
          }
        } else {
          answer = '';
        }
        return answer;
      }

      function getScore(text) {
        const re = /分数[:|：]\s*[0-9]+/g;
        const t = text.match(re);
        let score = '';
        if (t && t.length) {
          const scorelist = t[0].match(/[0-9]+/g);
          score = scorelist && scorelist.length ? scorelist[0] : '';
        } else {
          score = '';
        }
        return score || 0;
      }

      for (let i = 0; i < textArr.length; i++) {
        if (numRE.test(textArr[i])) {
          if (textArr[i + 1]) {
            const t = textArr[i + 1];
            const n = textArr[i].match(/\d+/g);
            const d = {
              number: n[0],
              title: getTitle(t),
              answer: getAnswer(t),
              parse: getParse(t),
              type: this.type,
              score: getScore(t)
            };
            if (this.type === 2) {
              d.option = [
                { text: '对', t: '对' },
                { text: '错', t: '错' }
              ];
            }
            issue.push(d);
          }
        }
      }
      this.issueList = issue;
    },
    openTip() {
      this.isTip = !this.isTip;
    },
    selectType(index) {
      if (this.text) {
        this.$confirm('此操作将会把输入框清空, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.type = index;
          this.text = '';
        });
      } else {
        this.type = index;
      }
    },
    upTopic(index) {
      if (index !== 0) {
        const item = this.topicList[index];
        this.topicList.splice(index, 1);
        this.topicList.splice(index - 1, 0, item);
      }
    },
    addTopic() {
      let is = false;
      let isScore = false;
      this.issueList.forEach((e) => {
        if (!e.answer || !e.answer.length) {
          is = true;
        }
        if (!e.score) {
          isScore = true;
        }
      });
      if (is) {
        return this.$message.error('有试题没有正确答案，请补全答案再保存！');
      }

      if (isScore) {
        return this.$message.error('有试题没有分数，请补全试题分数再保存！');
      }
      this.topicList = this.topicList.concat(this.issueList);
      this.text = '';
      this.onsubmit();
    },
    nextTopic(index) {
      if (index !== this.topicList.length - 1) {
        const item = this.topicList[index];
        this.topicList.splice(index + 2, 0, item);
        this.topicList.splice(index, 1);
      }
    },
    rmTopic(index) {
      this.topicList.splice(index, 1);
      this.onsubmit();
    }
  }
};
</script>
<style lang="scss"  scoped>
$borderColor: #ddd;
.comprehend {
  padding-left: 22px;
  & > .tip-box {
    line-height: 30px;
    font-size: 14px;
    margin: 20px 0;
    span {
      width: 60px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff;
      display: inline-block;
      background: #bbb;
    }
  }
  .list {
    .item {
      height: 36px;
      margin: 5px 0;
      font-size: 0px;
      display: flex;

      .right {
        flex: 1;
        border: 1px solid #c2cedb;
        border-radius: 0 5px 5px 0;
        height: 34px;
        font-size: 12px;
        width: 70%;
        line-height: 34px;
        vertical-align: top;
        margin-left: -2px;
        display: flex;

        .title {
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .issus-score {
          width: 90px;
          float: right;
          margin-right: 10px;
          .issus-score-input {
            width: 46px;
            text-align: center;
            height: 20px;
            border-radius: 3px;
            line-height: 20px;
          }
        }

        .type {
          background: #5d9cec;
          color: #fff;
          line-height: 20px;
          height: 20px;
          font-size: 10px;
          text-align: center;
          padding: 0 6px;
          border-radius: 3px;
          vertical-align: top;
          margin: 7px 8px 0;
        }
      }

      .num {
        width: 50px;
        height: 34px;
        font-size: 16px;
        vertical-align: top;
        border-radius: 5px 0 0 5px;
        text-align: center;
        line-height: 36px;
        background: #c2cedb;
        color: #fff;
      }

      .btn {
        font-size: 0px;
        i {
          width: 17px;
          height: 17px;
          color: #fff;
          font-size: 12px;
          display: inline-block;
          margin: 8px 3px;
          line-height: 17px;
          text-align: center;
          background: #a9b3bf;
        }
      }
    }
  }
}

.edit {
  border: 1px solid $borderColor;
  height: 500px;
  margin-bottom: 40px;
  .btn-list {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid $borderColor;
    padding: 0 20px;
    .submit {
      float: right;
      margin-top: 15px;
    }
  }
  .import,
  .examine {
    width: 100%;
    height: 440px;
    padding-top: 50px;
    font-size: 0px;
    position: relative;
    display: inline-block;
    .tip {
      line-height: 40px;
      height: 40px;
      padding: 0 20px;
      right: 0;
      font-size: 18px;
      position: absolute;
      background: #f3f3f5;
      left: 0;
      top: 0;
    }
  }
  .examine {
    .content {
      height: 99%;
      overflow: auto;
      padding: 0 10px;
    }
    .topic-item {
      font-size: 14px;
      margin-bottom: 20px;
      .parse {
        padding: 5px 0;
        line-height: 20px;
        font-size: 13px;
        color: #999;
      }
      .err-box {
        background: red;
        color: #fff;
        line-height: 30px;
        border-radius: 4px;
        padding: 0 20px;
        margin: 10px 0;
      }
      .num {
        font-size: 20px;
        position: relative;
        top: 2px;
      }

      .title {
        font-size: 13px;
        color: #adc0d4;
      }
      .checkbox-item,
      .radio-item {
        border: 1px solid $borderColor;
        padding: 3px;
        height: 26px;
        width: 100%;
        line-height: 29px;
        margin-bottom: 10px;

        .ml {
          margin: 0 8px 0 0px;
        }
      }

      .checkbox-item {
        line-height: 19px;
      }
      .el-checkbox-group,
      .el-radio-group {
        width: 100%;
        position: relative;
        .bg {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
        }
      }
    }
  }
  .import {
    box-sizing: border-box;
    border-right: 1px solid $borderColor;
    overflow: hidden;
    .tip {
      .tip-btn {
        float: right;
        color: #5d9cec;
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;
      }

      .tip-box {
        position: absolute;
        width: 100%;
        top: 40px;
        right: 0;
        left: 0;
        font-size: 13px;
        line-height: 30px;
        background: #fff;
        padding: 0 10px;
        box-sizing: border-box;
        overflow: auto;
        transition: height 0.5s;
        height: 0px;
        border-bottom: 1px solid $borderColor;
      }
    }
    .textarea {
      box-sizing: border-box;
      font-size: 14px;
      padding: 0 10px;
      width: 100%;
      height: 98%;
      border: none;
      line-height: 20px;
      overflow: auto;
    }
  }
}
</style>
