<template>
<div class="main_box">
        <ul class="tabs clearfix">
          <li class="tab on"><a>试题列表</a></li>
<!--          <li class="tab"><a>导入记录</a></li>-->
        </ul>
        <div class="btn-content">
          <el-button @click="add()" type="danger" size="small" icon="el-icon-edit">新建试题</el-button>
<!--          <el-button type="primary" size="small" plain>题库查重</el-button>-->
<!--          <el-button type="success" size="small" plain>导入试题</el-button>-->
<!--          <el-button :disabled="isSelect" type="warning" size="small" plain>移到分类</el-button>-->
          <el-button :disabled="isSelect" @click="remove()" type="danger" size="small" plain>删除试题</el-button>
           <el-upload
          :accept="accept"
          :show-file-list="false"
          :http-request="upload"
          :before-upload="beforeAvatarUpload"
          class="xslx-uploader"
          name="picFile"
          action
        >
        <el-tooltip class="item" effect="dark" content="只支持xlsx文件格式！" placement="top">
          <el-button type="primary" size="small">上传试题</el-button>
        </el-tooltip>
        </el-upload>
        <a href="/题目导入模板.xlsx" style="margin-left: 10px">
          <el-button type="success" size="small">试题上传模板</el-button>
        </a>
          <div class="fr">
             <el-select
              placeholder="请选择试题分类"
              style="width: 200px;  position: relative; top: -1px; margin-right: 10px;"
              clearable
              size="small"
              @change="getData()"
              v-model="problemType"
            >
              <el-option
                :key="key"
                :label="item"
                :value="key"
                v-for="(item, key) in type"
              ></el-option>
            </el-select>
            <el-input v-model="input" clearable placeholder="请输入内容" style="width: 260px" size="small">
              <el-button slot="append" @click="getData()" icon="el-icon-search" />
            </el-input>
          </div>
        </div>
        <el-table
          :data="tableData"
          v-loading="loading"
          @selection-change="handleSelectionChange"
          border
          style="width: 100%">
          <el-table-column
            align="center"
            type="selection">
          </el-table-column>
          <el-table-column
            type="index"
            width="55"
            align="center"
            label="序号">
          </el-table-column>
          <el-table-column
            prop="problemContent"
            label="题目标题"
            width="240">
            <template slot-scope="scope">{{ scope.row.problemContent | initcontent }}</template>
          </el-table-column>
          <el-table-column
            prop="address"
            label="题目科目">
            <template slot-scope="scope">
              {{ scope.row.subjectParentName ? scope.row.subjectParentName + '/' + scope.row.subjectName:scope.row.subjectName }}
            </template>
          </el-table-column>
          <el-table-column
            prop="topicName"
            label="题型">
            <template slot-scope="scope">
              {{ type[scope.row.problemType] }}
            </template>
          </el-table-column>
          <el-table-column
            prop="score"
            label="分数"
            align="center"
            width="60">
          </el-table-column>
          <el-table-column
            prop="difficulty"
            label="题目难度"
            align="center"
            width="80">
          </el-table-column>
          <el-table-column
            prop="address"
            align="center"
            label="操作">
            <template slot-scope="scope">
              <el-button @click="edit(scope.row)" type="text">编辑</el-button>
              <el-button @click="remove(scope.row)" type="text" style="color:red">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="page">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page"
            :page-sizes="[20, 30, 50, 100, 200]"
            :page-size="20"
            :total="total"
            background
            layout="prev, pager, next">
          </el-pagination>
        </div>
      </div>
</template>

<script>
import { uploadProblem } from '~/api/upload.js'
import * as apis from '~/api/account/exam.js'
export default {
  name: 'Problem',
  layout: 'account',
  filters: {
    initcontent(str) {
      if (str) {
        str = str.replace(/<[^>]+>|&[^>]+;/g, '').trim();// 去掉所有的html标签和&nbsp;之类的特殊符合
        return str;
      } else {
        return ''
      }
    }
  },
  data() {
    return {
      side: 'stgl',
      input: '',
      tableData: [],
      page: 0,
      total: 0,
      accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
      pageSize: 20,
      isSelect: true,
      loading: true,
      problemType: '',
      multipleSelection: [],
      type: {
        1: '单选题',
        2: '多选题',
        3: '判断题',
        4: '填空题',
        5: '问答题',
        6: '组合题'
      }
    }
  },
  created() {
    this.getData();
  },
  methods: {
    add() {
      this.$router.push({ name: 'account-subject-add' })
    },
    edit(row) {
      this.$router.push({ name: 'account-subject-add', query: { id: row.id } })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
      this.isSelect = !(val && val.length)
    },
    handleSizeChange(val) {
      this.pageSize = val;
      this.getData();
    },
    handleCurrentChange(val) {
      this.page = val;
      this.getData()
    },
    remove(row) {
      const arr = [];
      if (row) {
        arr.push(row.id)
      } else {
        this.multipleSelection.forEach((e) => {
          arr.push(e.id)
        })
      }
      this.$confirm('确定把所选项删除吗? 删除了可能导致包含这个试题的试卷出问题！', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        apis.removeproblem({
          idList: arr
        }).then(res => {
          if (res && res.code === 200) {
            if (!res.data) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              });
            } else {
              this.$message.error(res.data);
            }
            this.getData()
          } else {
            this.$message.error(res.msg);
          }
        })
      })
    },
    getData() {
      this.loading = true;
      apis.myproblemList({
        pageCurrent: this.page,
        problemContent: this.input,
        pageSize: this.pageSize,
        problemType: this.problemType || ''
      }).then(res => {
        this.loading = false
        if (res && res.code === 200) {
          const data = res.data;
          this.tableData = data.list;
          this.total = data.totalCount;
        }
      })
    },
    upload(file) {
      this.loading = true;
      const param = new FormData()
      const typeFile = 'file'
      param.append(typeFile, file.file, file.file.name)
      uploadProblem(param, (int, source) => {}).then(res => {
        this.loading = false;
        this.$message({
          type: 'success',
          message: '上传成功!'
        });
        this.getData();
      })
    },
    handleClose() {
      this.status = 0
      if (this.source) {
        this.source.cancel('取消上传');
      }
    },
    beforeAvatarUpload(file) {
      const isIMG = this.accept.indexOf(file.type);
      if (isIMG === -1) {
        this.$message.error('不支持上传该文件格式');
      }
      return isIMG !== -1;
    }
  }
}
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  .btn-content {
    padding: 10px 20px;
  }
  .page {
    padding: 20px 0;
    text-align: center;
  }

  .xslx-uploader {
    display: inline-block;
    margin-left: 10px;;
  }
</style>
