<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="用户昵称" prop="nickname">
        <el-input v-model="form.nickname" class="form-group" />
      </el-form-item>
      <el-form-item label="登录账号" prop="loginName">
        <el-input v-model="form.loginName" class="form-group" />
      </el-form-item>
      <el-form-item label="登录密码" prop="loginPassword">
        <el-input v-model="form.loginPassword" type="password" class="form-group" />
      </el-form-item>
      <el-form-item label="确认密码" prop="confirmPassword">
        <el-input v-model="form.confirmPassword" type="password" class="form-group" />
      </el-form-item>
      <el-form-item label="描述" prop="remark">
        <el-input v-model="form.remark" type="textarea" class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { sysUserSave } from '@/api/system'

  export default {
    name: 'AddSysUser',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      const validateConfirmPassword = (rule, value, callback) => {
        if (value === undefined || value === null || value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.form.loginPassword !== value) {
            callback(new Error('登录密码和确认密码不一致'));
          }
          callback();
        }
      };
      return {
        form: {},
        opts: {},
        rules: {
          nickname: [
            { required: true, message: '请输入昵称', trigger: 'blur' }
          ],
          loginName: [
            { required: true, message: '请输入登录账号', trigger: 'blur' }
          ],
          loginPassword: [
            { required: true, message: '请输入登录密码', trigger: 'blur' }
          ],
          confirmPassword: [
            { validator: validateConfirmPassword, trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      handleClose() {
        this.form = {};
        this.$emit('close');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        sysUserSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
