<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="后台备注" prop="remark">
        <el-input v-model="form.remark" type="textarea" class="form-group" />
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
  import { orderInfoEdit } from '@/api/user'

  export default {
    name: 'EditOrderInfo',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        rules: {
          remark: [
            { required: true, message: '请输入后台备注', trigger: 'blur' }
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = {
            id: this.info.id,
            remark: this.info.remark
          }
        }
      }
    },
    methods: {
      handleClose() {
        this.$emit('close-callback');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        orderInfoEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
