<template>
  <div class="write_box blog_default">
    <div class="mgt20 clearfix">
      <nuxt-link :to="{name: 'blog-account', query: { type: 'wd' }}" class="fl btn circle_btn">
        &lt; 我的问答
      </nuxt-link>
      <span @click="openSave" class="fr btn circle_btn b_blue mgl20">
        {{ edit ? '修改' : '提问' }}
      </span>
    </div>
    <div class="clearfix mgt20">
      <div class="fl lh30">
        问答分类：
      </div>
      <div class="fl clearfix w700 class_tip">
        <span v-for="(item, index) in tabList" :key="index" :class="{red: tagsName == item.labelName}" @click="changeTap(item.labelName)" class="btn tap_btn">
          {{ item.labelName }}
        </span>
      </div>
    </div>
    <div class="mgt20 pad30 radius_box b_fff">
      <input v-model="questionTitle" type="text" class="blog_title" placeholder="请在此处输入标题">
      <div class="mgt20">
        <div id="lecturerInfo" style="margin: 0 auto" />
        <div id="lecturerInfo2" style="height: 400px; font-size: 14px;" />
      </div>
    </div>
  </div>
</template>
<script>
import { uploadPic } from '~/api/upload.js'
import { addQuestion, userQuestionsDetail, updateQuestion } from '~/api/question.js'
export default {

  head() {
    return {
      title: this.$store.state.clientData.name + '-问答'
    }
  },
  data() {
    return {
      edit: '',
      questionTitle: '',
      questionContent: '',
      editor2: null,
      writeList: [],
      pageCurrent: 1,
      tagsName: '',
      dataObj: {
        client: true,
        tabList: []
      }
    }
  },
  computed: {
    tabList() {
      return this.dataObj.tabList
    }
  },
  mounted() {
    this.edit = this.$route.query.id || ''
    this.dataObj.labelType = 2;
    this.$store.dispatch('blog/GET_TABLIST', this.dataObj).then((res) => {
      this.dataObj.tabList = res
    })
    if (!this.$store.state.tokenInfo) {
      this.$confirm('请先登录!', '提示', {
        type: 'warning'
      }).then(() => {
        this.$store.dispatch('REDIRECT_LOGIN')
      })
      this.$router.push({ name: 'index' })
    }
    const E = require('wangeditor')
    this.editor2 = new E('#lecturerInfo', '#lecturerInfo2')
    this.editor2.customConfig.menus = [
      'head', // 标题
      'bold', // 粗体
      'fontSize', // 字号
      'fontName', // 字体
      'italic', // 斜体
      'underline', // 下划线
      'strikeThrough', // 删除线
      'foreColor', // 文字颜色
      'backColor', // 背景颜色
      'link', // 插入链接
      'list', // 列表
      'justify', // 对齐方式
      'quote', // 引用
      // 'emoticon', // 表情
      'image', // 插入图片
      'table', // 表格
      'video', // 插入视频
      'code', // 插入代码
      'undo', // 撤销
      'redo' // 重复
    ]
    this.editor2.customConfig.uploadImgMaxLength = 1
    this.editor2.customConfig.customUploadImg = this.editorUpload
    this.editor2.create()
    if (this.$route.query.id) {
      this.getChangeView()
    }
  },
  methods: {
    changeTap(labelName) {
      this.tagsName = labelName
    },
    openSave() {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请先登录!', '提示', {
          type: 'warning'
        }).then(() => {
          this.$store.dispatch('REDIRECT_LOGIN')
        })
        return
      }
      this.questionContent = this.editor2.txt.html()
      if (!this.questionTitle) {
        this.$msgBox({ content: '问题标题不能为空' })
        return
      }
      if (this.questionContent === '<p><br></p>') {
        this.$msgBox({ content: '问题内容不能为空' })
        return
      }
      if (!this.tagsName) {
        this.$msgBox({ content: '请选择问答分类' })
        return
      }
      const questionParams = {
        content: this.questionContent,
        tagsName: this.tagsName,
        title: this.questionTitle
      }
      let method = addQuestion
      let content = '添加成功'
      if (this.edit) {
        method = updateQuestion
        content = '修改成功'
        questionParams.id = this.edit
      }
      method(questionParams).then((res) => {
        this.$router.push({ name: 'blog-account', query: { type: 'wd' } })
        this.$msgBox({ content: content, type: 'success' })
      })
    },
    // 编辑器上传图片
    editorUpload(files, insert) {
      // console.log(files)
      const file = files[0]
      const param = new FormData()
      param.append('picFile', file, file.name)
      this.$store.commit('LOADING_START')
      uploadPic(param, function (int) {
        // console.log(int)
      }).then((res) => {
        this.$store.commit('LOADING_FINISH')
        // console.log(res)
        if (res.code === 200) {
          const imgUrl = res.data
          insert(imgUrl)
        }
      }).catch(() => {
        this.$store.commit('LOADING_FINISH')
        this.$msgBox({ content: '上传图片出错，请稍后重试' })
      })
    },
    getChangeView() {
      userQuestionsDetail({
        id: this.$route.query.id
      }).then((res) => {
        console.log(res)
        this.editor2.txt.html(res.data.content)
        this.questionTitle = res.data.title
        this.tagsName = res.data.tagsName
      }).catch(() => {})
    }
  }
}
</script>
<style lang="scss" scoped>
  .write_box {
    width: 800px;
    margin: 0 auto;
  }
  .w700 {
    width: 700px;
  }
  .circle_btn {
    display: inline-block;
    padding: 0px 20px;
    line-height: 36px;
    border-radius: 18px;
    background: rgba(226, 226, 226, 1);
    font-size: 14px;
    color: #999;
    &.b_blue {
      background: rgba(36, 136, 236, 1);
      color: #fff;
    }
  }
  .blog_title {
    width: 740px;
    height: 25px;
    font-size: 16px;
    border: none;
  }
  .lh30 {
    line-height: 30px;
  }
  .tap_btn {
    display: inline-block;
    line-height: 30px;
    padding: 0 16px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    color: #999;
    margin: 0 8px 8px 0;
    &.red {
      color: #D51423;
      border-color: #D51423;
    }
  }
  .class_tip {
  }
</style>
