<template>
    <div class="app-container">
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="操作人">
          <el-input v-model="map.loginName"/>
        </el-form-item>
        <el-form-item class="filter-item" label="IP地址">
          <el-input v-model="map.loginIp"/>
        </el-form-item>
        <el-form-item class="filter-item" label="">
            <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
            <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
      </el-form>
      <el-table
        :data="list"
        size="mini"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >
      <el-table-column align="center" type="index" label="序号" width="50" />
        <el-table-column label="操作人" prop="loginName" width="100"/>
        <el-table-column label="IP地址" prop="loginIp" width="100" />
        <el-table-column label="用户操作" prop="operation" width="150"/>
        <el-table-column label="请求方法" prop="method" width="80"/>
        <el-table-column label="请求路径" prop="path" width="180" />
        <el-table-column label="操作时间" prop="gmtCreate" width="150"/>
        <el-table-column label="内容" prop="content">
          <template slot-scope="scope">
            <span v-if="JSON.stringify(scope.row.content).length < 55" class="overText">{{scope.row.content}}</span>
            <el-popover v-if="JSON.stringify(scope.row.content).length > 55" placement="top-start" width="500" trigger="hover" >
              <div>{{scope.row.content}}</div>
              <span slot="reference">{{ scope.row.content.substr(0,55) + '...' }}</span>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :current-page="page.pageCurrent"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
</template>

<script>
  import { sysLogPage } from '@/api/data'
  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        sysLogPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
<style lang="scss">
</style>
