<template>
  <el-dialog
    width="60%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="文库名称">
        <el-input v-model="map.courseName" />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
      <el-button plain type="success" size="mini" @click="handleChoiceBatch">批量选择</el-button>
    </el-form>
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" type="selection" width="50" />
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column property="courseName" label="文库名称" />
      <el-table-column label="文库分类">
        <template slot-scope="scope">
          {{ courseCategoryEnums[scope.row.courseCategory] }}
          <br>
          {{ scope.row.categoryName1 }}<span v-if="scope.row.categoryName2">/{{ scope.row.categoryName2 }}</span><span v-if="scope.row.categoryName3">/{{ scope.row.categoryName3 }}</span>
        </template>
      </el-table-column>
      <el-table-column property="address" label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleSelect(scope.row)">添加</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import {resourceRecommendSave, resourceRecommendSaveBatch, coursePage} from '@/api/course';

  export default {
    name: 'AddResourceRecommend',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        ctrl: {
          load: false
        },
        map: {},
        loading: false,
        courseCategoryEnums: {},
        statusIdEnums: {},
        checkIds: ''
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.map = {
            courseCategory: 4
          }
          this.listForPage();
          this.$store.dispatch('GetOpts', { enumName: 'CourseCategoryEnum', type: 'obj' }).then(res => {
            this.courseCategoryEnums = res;
          });
          this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
            this.statusIdEnums = res;
          });
        }
      }
    },
    methods: {
      handleChoiceBatch() {
        if (this.checkIds === undefined || this.checkIds === '') {
          this.$message.error('请选中需要被推荐的文库')
          return false;
        }
        {
          const body = '确定要批量推荐这批文库吗？';
          this.$confirm(body, '批量推荐', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            resourceRecommendSaveBatch({resourceIds: this.checkIds}).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            })
          })
        }
      },
      handleSelectionChange(checkList) {
        let resultIds = '';
        for (const index in checkList) {
          resultIds += checkList[index].id;
          if ((parseInt(index) + 1) < checkList.length) {
            resultIds += ',';
          }
        }
        this.checkIds = resultIds;
      },
      handleClose() {
        this.map = {};
        this.$emit('close-callback')
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          courseCategory: 4
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading = true;
        coursePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleSelect(row) {
        {
          const body = '确定要选择【' + row.courseName + '】？'
          this.$confirm(body, '添加确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading = true;
            resourceRecommendSave({ resourceId: row.id }).then(res => {
              this.$message.success(res.data);
              this.handleClose();
            }).finally(() => {
              this.loading = false;
            })
          })
        }
      }
    }
  }
</script>
