<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="formData" label-width="80px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="昵称" prop="nickname">
            <el-input v-model="formData.nickname" class="form-group" placeholder="昵称不能为空"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="内容" prop="content">
            <el-input
              v-model="formData.content"
              type="textarea"
              :rows="4"
              placeholder="请输入内容"
              class="form-group"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { questionsCommentSave } from '@/api/community'
  export default {
    name: 'ViewQuestionsComment',
    props: {
      formData: {
        type: Object,
        default: () => {
        }
      },
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {}
      }
    },
    methods: {
      submitForm() {
        if (this.formData === undefined) {
          this.$message({
            showClose: true,
            message: '提交失败',
            type: 'error'
          });
        } else {
          if (!this.formData.content) {
            this.$message({
              type: 'error',
              message: '请输入内容'
            });
            return false
          }
          if (!this.formData.nickname) {
            this.$message({
              type: 'error',
              message: '请输入昵称'
            });
            return false
          }
          if (!this.formData.sort) {
            this.$message({
              type: 'error',
              message: '请输入排序'
            });
            return false
          }
          this.loading = true;
          // 新增
          this.formData.userTerminal = 'PC'
          this.formData.userNo = '2018033111202589416'
          questionsCommentSave(this.formData).then(res => {
            this.loading = false;
            this.tips(res.data, 'success');
            this.handleClose('close-callback')
          }).catch(() => {
            this.loading = false
          })
        }
      },
      handleClose() {
        this.$emit('close-callback');
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
