<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="60%"
    :before-close="handleClose"
  >
    <div class="dialog-content">
      <div class="" v-html="value" />
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
    </span>
  </el-dialog>
</template>
<script>
  export default {
    name: 'SysConfigValue',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      value: {
        type: String,
        default: null
      }
    },
    data() {
      return {}
    },
    methods: {
      handleClose() {
        this.$emit('close-callback');
      }
    }
  }
</script>
