<template>
  <el-dialog :title="title" :act-type="actType" :visible.sync="visible" width="65%" :before-close="handleClose">
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="活动标题" prop="actTitle">
            <el-input v-model="form.actTitle" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="7">
          <el-form-item label="活动时间" prop="beginTime">
            <el-date-picker
              v-model="form.beginTime"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetime"
              placeholder="选择活动开始时间"
              default-time="00:00:00"
            />
          </el-form-item>
        </el-col>
        <el-col :span="9">
          <el-form-item prop="endTime">
            <el-date-picker
              v-model="form.endTime"
              format="yyyy-MM-dd HH:mm:ss"
              type="datetime"
              placeholder="选择活动结束时间"
              default-time="00:00:00"
            />
          </el-form-item>
        </el-col>
        <el-tooltip class="item" effect="light" content="同一类型的活动时间不可以重叠" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="活动图片" prop="actImg">
            <upload-image @success="val => {form.actImg = val.url}" />
            <span>活动图片分辨率：1920*456</span>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="背景图片">
            <upload-image @success="val => {form.actBackImg = val.url}" />
            <span>背景图片分辨率：宽1920，高不限</span>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="3">
          <el-form-item label="背景颜色">
            <el-color-picker v-model="form.actBackColor" />
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="排序" prop="sort">
            <el-input-number v-model="form.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import {actSave} from '@/api/marketing'
  import UploadImage from '@/components/Upload/UploadImage';

  export default {
    name: 'AddAct',
    components: {UploadImage},
    props: {
      title: {
        type: String,
        default: null
      },
      actType: {
        type: Number,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        value3: '',
        form: {
          sort: 1
        },
        rules: {
          actImg: [
            {required: true, message: '活动图片', trigger: 'blur'}
          ],
          actTitle: [
            {required: true, message: '请输入活动标题', trigger: 'blur'}
          ],
          beginTime: [
            {required: true, message: '活动开始时间', trigger: 'blur'}
          ],
          endTime: [
            {required: true, message: '活动结束时间', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      handleClose() {
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if (this.form.beginTime === undefined || this.form.beginTime === '') {
              this.tips('请选择活动开始时间');
              return false;
            }
            if (this.form.endTime === undefined || this.form.endTime === '') {
              this.tips('请选择活动结束时间');
              return false;
            }
            this.form.actType = this.actType;
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        actSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
