<style lang="scss">
	.newsDetails {
		background-color: #fff;
		border-top: 20upx solid #f5f5f5;
		padding: 36upx;
		padding-bottom: 120upx;

		.title {
			font-weight: bold;
			font-size: 22px;
			line-height: 30px;
			color: #333333;
			padding-bottom: 20upx;
		}

		.writer {
			padding-left: 100upx;
			position: relative;
			padding: 36upx 0 36upx 100upx;
			border-bottom: 1px solid #ddd;

			.writerText {
				flex: 1;

				.writerTitle {
					font-size: 16px;
					line-height: 22px;
					color: #333333;
				}

				.writerTtip {
					font-size: 13px;
					line-height: 18px;
					color: #999999;

					.right {
						float: right;

						.dz,
						.eye {
							width: 28upx;
							height: 28upx;
							margin-right: 8upx;
							position: relative;
							top: 4upx;
						}

						.dz {
							margin-left: 20upx;
						}
					}
				}
			}

			.writerLogo {
				width: 80upx;
				height: 80upx;
				border-radius: 50%;
				display: block;
				position: absolute;
				left: 0;
				top: 36upx;
				margin-right: 20upx;
				;
			}
		}

		.content {
			padding: 36upx 0;
			font-size: 14px;
			line-height: 1.6;
			word-break:break-all;
		}

		.footer {
			height: 100upx;
			line-height: 106upx;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
			display: flex;
			border-top: 1px solid #eee;

			.footerItem {
				flex: 1;
				text-align: center;

				image {
					display: inline-block;
					width: 36upx;
					height: 36upx;
				}
			}
		}
	}
	
	.shareBox {
		position: fixed;
		left: 0;
		bottom:-100%;
		z-index: 101;;
		right: 0;
		transition: bottom .3s;
		&.active {
			bottom: 0;
			.shareBg {
				top: 0;
			}
		}
		.shareBg {
			position: fixed;
			left: 0;
			transition: top .3s;
			bottom:0;
			right: 0;
			top: 200%;
			z-index: 20;
			background-color: rgba(0,0,0,0.5);
		}
		.shareTitle {
			width: 100%;
			height: 100upx;
			background: #FFFFFF;
			border-radius: 16upx 16upx 0px 0px;
			font-size: 32upx;
			line-height: 100upx;
			position: relative;
			z-index: 40;
			text-align: center;
			color: #333333;
			border-bottom: 1px solid #ddd;
		}
		.shareList {
			background: #FFFFFF;
			padding: 40upx 0;
			position: relative;
			z-index: 40;
			text-align: center;
			font-size: 0;
			.shareItem {
				width: 25%;
				display: inline-block;
				font-size: 22upx;
				line-height: 32upx;
				text-align: center;
				color: #999999;
				image {
					width: 90upx;
					height: 90upx;
					display: block;
					margin:0 auto;
					border-radius: 50%;
				}
			}
		}
		
		.closeBtn {
			border-top: 20upx solid #f5f5f5;
			height: 100upx;
			background: #FFFFFF;
			font-size: 32upx;
			line-height: 100upx;
			position: relative;
			z-index: 40;
			text-align: center;
			color: #333333;
		}
		
		
	}
</style>


<template>
	<view class="newsDetails">
		<view class="title">{{ news.title }}</view>
		<view class="writer">
			<image class="writerLogo" mode="aspectFill" :src="news.bloggerHeadImgUrl"></image>
			<view class="writerText">
				<view class="writerTitle">{{ news.bloggerNickname }}</view>
				<view class="writerTtip">
					{{ news.gmtModified }}
					<view class="right">
						<image src="../../static/images/eye.svg" class="eye" mode="widthFix"></image> {{ news.readAcount }}
						<image src="../../static/images/dz.svg" class="dz" mode="widthFix"></image> {{ news.admireAcount }}
					</view>
				</view>
			</view>
		</view>
		<view class="content" v-html="news.content"></view>
		<view :class="['shareBox', isShare?'active':'']">
			<view class="shareBg" @click="isShare = false"></view>
			<view class="shareTitle">分享到</view>
			<view class="shareList">
				<view class="shareItem" v-for="(item, index) in shareList" @click="share(item)" :key="index">
					<image :src="item.img" mode="aspectFill"></image>
					{{ item.name }}
				</view>
			</view>
			<view class="closeBtn" @click="isShare = false">取消</view>
		</view>
		
		<view class="footer">
			<view class="footerItem">
				<image mode="aspectFill" @click="setLikeOrColl(1)" v-if="!news.isCollection" src="../../static/images/share/Vector.svg"></image>
				<image mode="aspectFill" @click="setLikeOrColl(1)" v-else src="../../static/images/share/VectorActive.svg"></image>
			</view>
			<view class="footerItem">
				<image mode="aspectFill"  @click="setLikeOrColl(2)" v-if="!news.isAdmire" src="../../static/images/share/dz.svg"></image>
				<image mode="aspectFill"  @click="setLikeOrColl(2)" v-else src="../../static/images/share/dzActive.svg"></image>
			</view>
			<!--  #ifdef  MP-WEIXIN-->
			<view class="footerItem">
				<image mode="aspectFill" @click="isShare = true" src="../../static/images/share/fx.svg"></image>
			</view>
			<!--  #endif -->
		</view>
	</view>
</template>

<script>
	import auth from "@/utils/auth.js"
	import {
		blogView,
		blogDetail,
		likeOrColl,
		delLikeOrColl
	} from "@/api/blog.js"
	export default {
		data() {
			return {
				news: {},
				isShare: false,
				shareList: [
					{
						name: '微信好友',
						scene: "WXSceneSession",
						img: require("../../static/images/share/wx.svg")
					},
					{
						name: '朋友圈',
						scene: "WXSenceTimeline",
						img: require("../../static/images/share/pyq.svg")
					},
					{
						name: '复制链接',
						img: require("../../static/images/share/fzlj.svg")
					}
				],
			};
		},
		onLoad(param) {
			this.newsId = param.id;
			this.getNewsDetails(param.id)
		},
		onShareAppMessage(res) {
		    return {
		      title: this.news.title,
		      path: '/pages/news/details?id=' + this.news.id
		    }
		 },
		methods: {
			share(item) {
				let serverInfo = uni.getStorageInfoSync("serviceInfo") || {}
				// 去掉所有的html标签和&nbsp;之类的特殊符合
				let summary = this.news.content.replace(/<[^>]+>|&[^>]+;/g, '').trim().slice(0, 50) 
				+ '快来看看吧:' 
				+ serverInfo.domain + '/#/pages/news/details?id=' + this.news.id ;
				
				if(item.scene) {
					uni.share({
					    provider: "weixin",
					    scene: item.scene,
					    type: 1,
						summary: summary,
					    title: this.news.title,
					    success: function (res) {
					        uni.showToast({
					        	icon: 'success',
					        	title: '分享成功!'
					        })
					    },
					    fail: function (err) {
					        uni.showToast({
					        	icon: 'none',
								title: '分享失败! 请重试'
					        })
					    }
					});
				} else {
					uni.setClipboardData({
					    data: serverInfo.domain + '/#/pages/news/details?id=' + this.news.id ,
					    success: function () {
					        uni.showToast({
					        	icon: 'success',
					        	title: '复制链接成功!'
					        })
					    }
					});
				}
			},
			getNewsDetails(id) {
				const init = (res) => {
					this.news = res;
					uni.setNavigationBarTitle({
						title: this.news.title
					});
				}
				if (auth.isLogin()) {
					blogView({
						id
					}).then(init)
				} else {
					blogDetail({
						id
					}).then(init)
				}
			},
			// 点赞或收藏
			setLikeOrColl(opType) {
				if (!auth.isLogin()) {
					uni.showToast({
						icon: "none",
						title: '请先登录！再来操作'
					});
					setTimeout(() => {
						auth.login(() => {
							this.getNewsDetails()
						})
					}, 2000)
					return;
				}
				let method = likeOrColl
				let params = {
					opType,
					weblogId: this.newsId,
					userIp: '127.0.0.1',
					userTerminal: 'PC',
					userBrowser: '谷歌'
				}
				
				if ((opType === 2 && this.news.isAdmire) ||(opType === 1 && this.news.isCollection)) {
					method = delLikeOrColl
					params = {
						opType,
						weblogId: this.newsId
					}
				}
				
				method(params).then(res => {
					if (opType === 2) {
						this.news.isAdmire = !this.news.isAdmire
						if (this.news.isAdmire) {
							this.news.admireAcount++
						} else {
							this.news.admireAcount--
						}
					} else {
						this.news.isCollection = !this.news.isCollection
					}
				})
			}
		}
	}
</script>
