<style lang="scss" scoped>
	.head {
	position: fixed;
	left: 0;
	top: 0;
	/*  #ifdef  H5  */
	top: 44px;
	/*  #endif  */
	width: 100%;
	z-index: 100;
	background-color: #fff;
	
	.select {
		height: 100upx;
		line-height: 100upx;
		padding: 0 36upx;
		border-bottom: 1px solid #ddd;
		font-size: 12px;
		color: #333333;
		.icon {
			width: 12upx;
			height: 12upx;
			display: inline-block;
			border-right: 1px solid #333;
			border-bottom: 1px solid #333;
			transform:rotate(45deg);
			margin-left: 20upx;
			position: relative;
			top: -6upx;
		}
	}
	.seek {
		margin: 12upx 36upx;
		height: 60upx;
		padding-left: 60upx;
		background: #F5F5F5;
		border-radius: 6upx;
		.searchIcon{
			width: 24upx;
			height: 24upx;
			position: absolute;
			left: 58upx;
			top: 28upx;
		}
		.input {
			width: 100%;
			height: 100%;
			line-height: 60upx;
			font-size: 12px;
			color:#666;
		}
	}
	.tab {
		background-color: #fff;
		height:100upx;
		line-height: 100upx;
		padding: 0 36upx;
		border-bottom: 2upx solid #ddd;
		.tabItem {
			margin-right: 40upx;
			font-size: 16px;
			min-width: 100upx;
			line-height: 84upx;
			text-align: center;
			display: inline-block;
			color: #333333;
			&.active {
				color: #2488EC;
				border-bottom: 4upx solid #2488EC;
			}
		}
	}
	
	.swiperBox {
		padding: 0 36upx;
		height: calc(100vw / 16 * 8);
	}
	.slideItem {
		width:100%;
		border-radius: 16upx;
		overflow: hidden;
	}
	.slideImage {
		width:100%;
	}
}

.content {
	margin-top: 20upx;
	background-color: #fff;
}

.news-main {
	padding-top: 570upx
}
</style>


<template>
	<view class="news-main">
		<view class="head">
			<view class="seek">
				<image src="../../static/images/search.svg" class="searchIcon" mode="widthFix"></image>
				<input type="text" class="input" @confirm="search" confirm-type="搜索" v-model="text" placeholder="大数据" />
			</view>
			<swiper class="swiperBox" indicator-dots="true" autoplay="true" interval="3000" duration="500" circular="true">
				<swiper-item v-for="(item, index) in advList" :key="index" @click="toAd(item)" class="slideItem">
					<image :src="item.advImg" mode="aspectFill" class="slideImage"></image>
				</swiper-item>
			</swiper>
			<view class="tab">
				<view v-for="(item, index) in tabList" :key="index" :class="['tabItem', tabIndex == index?'active': '']" @click="selectTab(index, item.labelName )">{{ item.labelName }}</view>
			</view>
		</view>
		<view class="content">
			<news-list :list="newsList"></news-list>
			<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
		</view>
	</view>
</template>

<script>
	import {
		advList
	} from "@/api/main.js"
	import {
		blogTab,
		blogList
	} from "@/api/blog.js"
	import newsList from "@/components/news/newsList.vue"
	export default {
		data() {
			return {
				advList: [],
				tabIndex: 0,
				tabList: [],
				totalPage: 0,
				newsList: [],
				text: '',
				loadMsg: '',
				page: 1,
				tagsName: ''
			};
		},
		components: {
			newsList
		},
		created() {
			this.getNewsList();
			this.getAdvList();
			this.getBlogList()
		},
		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function(e) {
			if (this.page < this.totalPage) {
				this.setData({
					loadMsg: '加载中...'
				});
				this.page++;
				this.getNewsList();
			} else {
				this.setData({
					loadMsg: '没有更多了...'
				});
			}
		},
		methods: {
			toAd (item) {
				uni.navigateTo({
				    url: '/pages/webview/webview?url=' + item.advUrl
				});
			},
			selectTab(index, tagsName) {
				this.tabIndex = index;
				this.tagsName = tagsName.indexOf('全部') != -1 ? '' : tagsName;
				this.search();
			},
			getBlogList() {
				blogTab({
					labelType: 3
				}).then(res => {
					const l = [{
						labelNo: '',
						labelName: '全部'
					}]
					this.tabList = l.concat(res.list)
				})
			},
			search() {
				this.page = 1;
				this.getNewsList();
			},
			getNewsList() {
				let d = {
					pageCurrent: this.page,
					pageSize: 20,
					articleType: 2
				}


				if (this.text) {
					d.title = this.text;
				}

				if (this.tagsName) {
					d.tagsName = this.tagsName;
				}
				blogList(d).then(res => {
					if (this.page == 1) {
						this.newsList = [];
					}
					this.totalPage = res.totalPage;
					if (res.list && res.list.length) {
						this.newsList = this.newsList.concat(res.list);
						this.setData({
							loadMsg: ''
						});
					} else {
						this.setData({
							loadMsg: '没有更多了...'
						});
					}
				})
			},
			getAdvList() {
				advList({
					platShow: 1,
					advLocation: 3
				}).then(res => {
					this.advList = res.advList;
				})
			}
		}
	}
</script>
