<style lang="scss" scoped>
	.classify {
		padding-top: 100upx;
	}
	
	.toExercise {
		width: 80rpx;
		height: 80rpx;
		position: fixed;
		z-index: 200;
		right: 20px;
		bottom: 80px;
		font-size: 12px;
		border-radius: 40rpx;
		text-align: center;
		line-height: 80rpx;
		color:#fff;
		background-color: $uni-color-primary;
	}
</style>
<template>
	<view class="classify">
		<class-tag @seek="seek" ></class-tag>
		<examList :examList="examList"></examList>
		<view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
		<view class="toExercise" @tap="toExercise()">练习</view>
	</view>
</template>

<script>
	import {
		getExamInfoList,
		savePractice
	} from "@/api/exam";
	import classTag from "@/components/exam/class";
	import examList from "@/components/exam/examList";
	import auth from "../../utils/auth";
	export default {
		components: {
			classTag,
			examList
		},
		data() {
			return {
				examList: [],
				loadMsg: '没有更多了...',
				param: {},
				pageCurrent: 1,
				pageSize: 20,
			};
		},
		onLoad() {
			this.getExamList();
		},
		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function() {
			this.setData({
				loadMsg: '没有更多了...'
			});

			if (this.pageCurrent < this.totalPage) {
				this.setData({
					loadMsg: '加载中...',
					pageCurrent: this.pageCurrent + 1
				});
				this.getExamList();
			}
		},
		methods: {
			toExercise() {
				if (!auth.isLogin()) {
					uni.showToast({
						title: '请先登录！',
						icon: 'none'
					});
					setTimeout(auth.login, 2000)
					return;
				}
				auth.getUserInfo((userInfo) => {
					savePractice({
						...this.param,
						userNo: userInfo.userNo
					}).then((res) => {
						console.log(res)
						if (res) {
							uni.navigateTo({
							    url: "/pages/exam/exercise?id=" + res
							});
						}
					});
				})
			},
			seek(param) {
				this.param = param;
				this.getExamList()
			},
			getExamList() {
				getExamInfoList({
					pageCurrent: this.pageCurrent,
					pageSize: this.pageSize,
					...this.param
				}).then(res => {
					if (this.pageCurrent == 1) {
						this.examList = []
					}
					this.examList = this.examList.concat(res.list)
					this.pageSize = res.pageSize;
					this.totalPage = res.totalPage;
				})
			}
		}
	}
</script>
