<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="">
        <el-button plain type="success" size="mini" @click="handleAddOneRow">新增</el-button>

      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      default-expand-all
      row-key="id"
      :tree-props="{children: 'questionsCommentList', hasChildren: 'hasChildren'}"
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="内容" prop="content" />
      <el-table-column label="回答者" width="150">
        <template slot-scope="scope">
          {{ scope.row.nickname }}
        </template>
      </el-table-column> 
      <el-table-column label="评论者" width="150">
        <template slot-scope="scope">
          {{ scope.row.commentNickname }}
        </template>
      </el-table-column>      
      <el-table-column label="评论时间" prop="gmtModified" width="150" />
      <el-table-column label="IP" prop="userIp" width="100" />
      <el-table-column label="终端" prop="userTerminal" width="60" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleViewRow(scope.row.id)">详情</el-button>
          <el-button plain type="success" size="mini" @click="handleAddRow(scope.row)">添加</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-questions-comment v-if="addCtr.visible" :title="addCtr.title" :visible="addCtr.visible" :formData="addCtr.info" @close-callback="closeCallback" />
    <view-questions-comment v-if="viewCtr.visible" :title="viewCtr.title" :visible="viewCtr.visible" :info="viewCtr.info" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import {questionsCommentPage, questionsCommentDelete, questionsCommentView} from '@/api/community'
  import ViewQuestionsComment from '../view';
  import AddQuestionsComment from '../add';

  export default {
    components: { ViewQuestionsComment, AddQuestionsComment },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        questionsId: '',
        viewCtr: {
          title: '查看评论详情',
          visible: false,
          info: {}
        },
        addCtr: {
          title: '添加评论',
          visible: false,
          info: {}
        },
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.questionsId = this.$route.query.questionsId
      this.listForPage()
    },
    methods: {
      // 新增 第一级评论
      handleAddOneRow() {
        this.addCtr.info = {
          questionsId: this.map.questionsId,
          parentId: 0,
          sort: 1,
          nickname: '王***'
        };
        this.addCtr.visible = true;
      },
      // 新增 非第一级评论
      handleAddRow(row) {
        this.addCtr.info = {
          questionsId: this.map.questionsId,
          parentId: row.id,
          sort: 1,
          nickname: '王***'
        };
        this.addCtr.visible = true;
      },
      handleViewRow(id) {
        questionsCommentView(id).then(res => {
          this.viewCtr.info = res.data;
          this.viewCtr.visible = true;
        })
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            questionsCommentDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleReset() {
        const view = this.$route;
        this.map = {
          questionsId: view.query.questionsId
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleUpdateRow(id) {
        this.$router.push({ path: '/community/questions/comment/edit', query: { id: id } })
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      closeCallback() {
        this.viewCtr.visible = false;
        this.addCtr.visible = false;
        this.handleReset()
      },
      listForPage() {
        // this.listLoading = true
        this.map.questionsId = this.questionsId
        this.loading.start()
        questionsCommentPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
