
<template>
  <div class="user-exam">
    <div class="container path-list">
      当前位置：
      <el-breadcrumb
        style="display: inline-block;"
        class="breadcrumb"
        separator-class="el-icon-arrow-right"
      >
        <el-breadcrumb-item :to="{ path: '/exam' }">
          <span class="text">试卷中心</span>
        </el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: '/exam' }">
          <span class="text">试卷</span>
        </el-breadcrumb-item>
        <el-breadcrumb-item :to="{ path: $route.fullPath }">
          <span class="text">{{ examData.examName }}</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="exam-content container">
      <div v-loading="loading" class="exam-list container">
        <div class="issus-item">
          <div class="issus-item-title">{{ examData.examName }}</div>
          <div v-html="examData.description" class="issus-item-tip"></div>
        </div>
        <template v-for="(item,index) in examData.titleList">
          <div class="issus-item" :key="index">
            <div class="issus-item-title">{{ (index+ 1) | ChineseToNumber }}、{{ item.titleName }}</div>
          </div>
          <div
            v-for="(problem,problemindex) in item.problemList"
            class="issus-item"
            :key="problemindex"
          >
            <div class="issus-item-title">
              {{ problemindex + 1 }}、
              <div v-html="problem.problemContent " class="issus-item-title-text"></div>
            </div>
            <div class="issus-item-answer" v-if="problem.problemType != 3">
              <div
                class="issus-item-answer-box"
                v-for="(Option,Optionindex) in problem.optionList"
                :key="Optionindex"
              >
                <div class="issus-item-answer-label">{{ letter[Optionindex] }}．</div>
                <div class="issus-item-answer-content w-e-text" v-html="Option.optionContent"></div>
              </div>
              <div
                v-for="(child,childindex) in problem.childrenList"
                class="issus-item"
                :key="childindex"
              >
                <div class="issus-item-title">
                  {{ childindex + 1 }}、
                  <div v-html="child.problemContent " class="issus-item-title-text"></div>
                </div>
                <div class="issus-item-answer" v-if="child.problemType != 3">
                  <div
                    class="issus-item-answer-box"
                    v-for="(Option,Optionindex) in child.optionList"
                    :key="Optionindex"
                  >
                    <div class="issus-item-answer-label">{{ letter[Optionindex] }}．</div>
                    <div class="issus-item-answer-content w-e-text" v-html="Option.optionContent"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
      <div class="side-box">
        <div class="side" v-affix>
          <div class="side-content">
            <div class="side-title">试卷信息</div>
            <div class="side-tip">
              <el-row>
                <el-col :span="12">总分：&nbsp;&nbsp;{{ examData.totalScore }}分</el-col>
                <el-col :span="12">浏览：&nbsp;&nbsp;{{ examData.studyCount }}次</el-col>
                <el-col :span="12">下载：&nbsp;&nbsp;{{ examData.downloadCount }}次</el-col>
                <el-col :span="12">来源：&nbsp;&nbsp;{{ examData.sourceName }}</el-col>
              </el-row>
            </div>
            <div class="side-price" v-if="!examData.isPay">
              <div v-if="examData.isFree !== 0" class="side-price-text">
                价格：
                <span>免费</span>
              </div>
              <el-row v-else>
                <el-col :span="12">
                  <div class="side-price-text">
                    价格：
                    <span>￥{{ examData.orgPrice }}</span>
                  </div>
                </el-col>
                <el-col :span="12">
                  <div class="side-price-text">
                    SVIP：
                    <span>{{ examData.fabPrice > 0 ? '￥' + examData.fabPrice : '免费' }}</span>
                  </div>
                </el-col>
              </el-row>
              <el-button
                v-if="examData.isFree == 0"
                @click="showPayFn()"
                type="danger"
                class="buy"
              >
              购买
              </el-button>
            </div>
            <div class="side-download">
              <el-button class="exam" type="primary" @click="startExam()">在线考试</el-button>
              <el-row :gutter="20">
                <el-col :span="12">
                  <el-button class="download" @click="download()">
                    <i class="el-icon-download"></i>下载试卷
                  </el-button>
                </el-col>
                <el-col :span="12">
                  <el-button @click="collect()" v-if="!examData.isCollect" class="collect">收藏试卷</el-button>
                  <el-button @click="collect()" v-else type="danger" plain class="collect">取消收藏</el-button>
                </el-col>
              </el-row>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog title="选择下载类型" :visible.sync="centerDialogVisible" width="30%" center>
      是否展示答案：
      <el-radio-group v-model="showAnswer">
        <el-radio :label="false">不展示正确答案</el-radio>
        <el-radio :label="true">展示正确答案</el-radio>
      </el-radio-group>
      <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="userDownloadExam()">确 定</el-button>
      </span>
    </el-dialog>
    <y-pay v-if="showPay" :is-course="true" :data="payData" @hidefun="showPay = false" />
  </div>
</template>
<script>
import * as apis from '~/api/account/exam.js';
import { toZhDigit } from '~/utils/utils.js';
import { formDownloadFile } from '~/utils/frmDownload.js';
import YPay from '~/components/userexam/PayModal';

export default {
  components: {
    YPay
  },
  head() {
    return {};
  },
  filters: {
    ChineseToNumber(chnStr) {
      return toZhDigit(chnStr);
    }
  },
  data() {
    return {
      examData: {},
      loading: false,
      iscollect: false,
      showPay: false,
      payData: {},
      showAnswer: false,
      centerDialogVisible: false,
      letter: 'ABCDEFGHIJkLMNOPQRSTUVWXYZ'.split('')
    };
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo;
    }
  },
  async asyncData(context) {
    const { route, store } = context;
    const That = {};
    let method = 'getExamViewInfo';
    if (store.state.tokenInfo) {
      method = 'getAuthExamViewInfo';
    }
    const res = await apis[method](
      {
        examId: route.params.id || ''
      },
      store.state.tokenInfo
    );
    if (res.code === 200) {
      That.examData = res.data;
    } else {
      context.redirect('/404');
    }
    return That;
  },
  mounted() {
    if (this.$route.params && this.$route.params.id) {
      this.id = this.$route.params.id;
    } else {
      this.$confirm('关键参数丢失 将回到上一步!', '提示', {
        confirmButtonText: '确定',
        showCancelButton: false,
        type: 'warning'
      }).then(() => {
        this.$router.go(-1);
      });
    }
  },
  methods: {
    showPayFn() {
      this.payData = {
        examId: this.id,
        pricePaid: this.userInfo.isVip
          ? this.examData.fabPrice
          : this.examData.orgPrice
      };
      this.showPay = true;
    },
    userDownloadExam() {
      formDownloadFile(
        '/exam/auth/user/exam/download/export',
        {
          examId: this.id,
          showAnswer: this.showAnswer
        },
        'post'
      );
      this.centerDialogVisible = false;
    },
    download() {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请登录后再下载试卷!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      if (this.examData.isFree === 0 && !this.examData.isPay) {
        this.$confirm('请先购买！再下载试卷!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.showPayFn();
        });
        return;
      }
      this.centerDialogVisible = true;
    },
    startExam(id) {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请登录后再考试!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      if (this.examData.isFree === 0 && !this.examData.isPay) {
        this.$confirm('请先购买！再考试!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.showPayFn();
        });
        return;
      }

      this.$store.commit('LOADING_START');
      apis.examRecordCheck().then((res) => {
        this.$store.commit('LOADING_FINISH');
        if (res.code === 200) {
          if (res.data.isExamination) {
            const examId = res.data.examId;
            if (examId !== this.id) {
              this.$confirm(
                '你正在考' +
                  res.data.examName +
                  '; 请先考完这个试卷再考其他试卷！',
                '提示',
                {
                  type: 'warning',
                  confirmButtonText: '去考试'
                }
              ).then((res) => {
                this.$router.push({
                  path: '/exam/startExam?id=' + examId
                });
              });
            } else {
              this.$router.push({
                path: '/exam/startExam?id=' + this.id
              });
            }
          } else {
            this.$router.push({
              path: '/exam/exam?id=' + (this.id || '1260830491766341635')
            });
          }
        }
      });
    },
    collect() {
      if (!this.$store.state.tokenInfo) {
        this.$confirm('请登录后再收藏!', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$store.dispatch('REDIRECT_LOGIN');
        });
        return;
      }
      if (this.examData.isCollect) {
        this.examData.isCollect = false;
        apis
          .deleteCollectExam({
            collectionType: 4,
            collectionId: this.$route.params.id
          })
          .then((res) => {
            if (res.code === 200) {
              this.$message({
                message: '取消收藏成功!',
                type: 'success'
              });
            }
          });
      } else {
        this.examData.isCollect = true;
        apis.collectExam(this.$route.params.id).then((res) => {
          if (res.code === 200) {
            this.$message({
              message: '收藏成功!',
              type: 'success'
            });
          }
        });
      }
    }
  }
};
</script>
<style lang="scss">
.user-exam {
  .issus-item-answer-content {
    p:first-child {
      margin-top: 6px;
    }
  }
}
</style>
<style lang="scss" scoped>
.user-exam {
  font-family: "MicrosoftYaHeiUI-Bold", "Microsoft YaHei UI Bold",
    "Microsoft YaHei UI";
  .path-list {
    font-size: 14px;
    color: #999;
    line-height: 60px;
    .breadcrumb {
      position: relative;
      top: 3px;
    }
    .text {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-height: 120px;
      font-size: 14px;
      color: #999;
      font-weight: normal;
    }
  }

  .exam-content {
    margin: 0px auto 20px;
    display: flex;
    .exam-list {
      flex: 1;
      min-height: 400px;

      .issus-item {
        padding: 10px 20px;
        background: #fff;
        margin-bottom: 10px;
        border-radius: 8px;
        overflow: hidden;
        .issus-item-title {
          font-weight: 500;
          font-style: normal;
          font-size: 16px;
          line-height: 42px;
          display: flex;
          .issus-item-title-text {
            flex: 1;
            color: #333333;
          }
        }
        .issus-item-tip {
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          color: #aaaaaa;
          line-height: 20px;
        }
        .issus-item-answer {
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          padding-left: 26px;
          color: #666;
          line-height: 28px;
          .issus-item-answer-box {
            display: flex;
            .issus-item-answer-content {
              flex: 1;
              padding-left: 0px;
              white-space: normal;
              overflow-y: hidden;
            }
          }
        }
      }
    }
  }

  .side-box {
    width: 260px;
    margin-left: 20px;
    min-height: 300px;
    .side {
      width: 260px;
    }
    .side-content {
      background: #fff;
      border-radius: 8px;
      .side-title {
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
        color: #333333;
        padding: 20px 20px;
        border-bottom: 1px solid #eee;
        text-align: center;
      }
      .side-tip {
        padding: 20px;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #333333;
        border-bottom: 1px solid #eee;
      }

      .side-download {
        padding: 20px;
        border-bottom: 1px solid #eee;
        .exam {
          width: 220px;
          height: 36px;
          color: #fff;
          margin-bottom: 14px;
        }
        .download,
        .collect {
          width: 100%;
        }
      }
      .side-price {
        padding: 20px;
        border-bottom: 1px solid #eee;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 28px;
        color: #333333;

        .side-price-text {
          span {
            color: #d51423;
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
            line-height: 28px;
          }
        }
        .buy {
          width: 220px;
          height: 36px;
          background-color: rgba(213, 20, 35, 1);
          margin-top: 6px;
        }
      }
    }
  }
}
</style>
