<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="章节名称">
        <el-input v-model="map.chapterName" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button plain type="primary" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="章节名称">
        <template slot-scope="scope">
          {{scope.row.chapterName}}
        </template>
      </el-table-column>
      <el-table-column label="审核情况" width="60">
        <template slot-scope="scope">
          {{ auditStatusEnums[scope.row.auditStatus] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="60" />
      <el-table-column label="操作" width="280">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>
<script>
import {coursePage} from '@/api/course'

export default {
  filters: {
    formatAmount(val) {
      if (val) {
        return '¥ ' + val.toFixed(2)
      }
      return '¥ 0.00'
    }
  },
  data() {
    return {
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      list: [],
      map: {},
      auditStatusEnums: {},
      listLoading: true
    }
  },
  created() {
    this.listForPage()
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'AuditStatusEnum', type: 'obj'}).then(res => {
      this.auditStatusEnums = res;
    });
  },
  methods: {
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {
        courseCategory: 4
      }
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleAddRow() {
      this.$router.push({path: '/course/course/resource/add'})
    },
    handleUpdateRow(id) {
      this.$router.push({path: '/course/course/resource/edit', query: {id: id}})
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      // this.listLoading = true
      this.loading.start()
      coursePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    }
  }
}
</script>
