<template>
  <div class="app-container">
    <el-form ref="form" :model="form" :rules="rules" label-width="150px">
      <el-alert class="title" :closable="false" title="基础信息" type="info" />
      <el-row>
        <el-col :span="12">
          <el-form-item label="创建时间" prop="gmtCreate">
            <el-input v-model="form.gmtCreate" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课程编号" prop="courseId">
            <el-input v-model="form.courseId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程名称" prop="courseName">
            <el-input v-model="form.courseName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="章节编号" prop="chapterId">
            <el-input v-model="form.chapterId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="章节名称" prop="chapterName">
            <el-input v-model="form.chapterName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="课时编号" prop="periodId">
            <el-input v-model="form.periodId" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课时名称" prop="periodName">
            <el-input v-model="form.periodName" class="form-group" />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="用户编号" prop="userNo">
            <el-input v-model="form.userNo" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="课程分类(1:普通课程;2:直播课程,3:题库,4文库)" prop="courseCategory">
            <el-input v-model="form.courseCategory" class="form-group" />
          </el-form-item>
        </el-col>
      </el-row>

    </el-form>
    <div class="fixed-page-bottom-panel">
      <div class="page-bottom-content">
        <el-button size="mini" @click="handleClose">关 闭</el-button>
        <el-button size="mini" type="primary" plain @click="submitForm('form')">立即创建</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import {courseUserStudyLogSave} from '@/api/course'

export default {
  name: 'AddCourseUserStudyLog',
  data() {
    return {
      form: {},
      opts: {},
      rules: {
        gmtCreate: [
          {required: true, message: '请输入创建时间', trigger: 'blur'}
        ],
        courseId: [
          {required: true, message: '请输入课程编号', trigger: 'blur'}
        ],
        courseName: [
          {required: true, message: '请输入课程名称', trigger: 'blur'}
        ],
        chapterId: [
          {required: true, message: '请输入章节编号', trigger: 'blur'}
        ],
        chapterName: [
          {required: true, message: '请输入章节名称', trigger: 'blur'}
        ],
        periodId: [
          {required: true, message: '请输入课时编号', trigger: 'blur'}
        ],
        periodName: [
          {required: true, message: '请输入课时名称', trigger: 'blur'}
        ],
        userNo: [
          {required: true, message: '请输入用户编号', trigger: 'blur'}
        ],
        courseCategory: [
          {required: true, message: '请输入课程分类(1:普通课程;2:直播课程,3:题库,4文库)', trigger: 'blur'}
        ]
      }
    }
  },
  mounted() {
  },
  methods: {
    handleClose() {
      const view = {
        key: this.$route.fullPath
      }
      this.$store.dispatch('delView', view).then(() => {
        this.$router.push('/course/course/user/study/log/list');
      })
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.onSubmit()
        } else {
          return false;
        }
      })
    },
    onSubmit() {
      this.loading = true
      // 新增
      courseUserStudyLogSave(this.form).then(res => {
        this.loading = false
        this.tips(res.data, 'success');
        this.handleClose();
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
