<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="课程名称">
        <el-input v-model="map.courseName" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="上下架">
        <el-select v-model="map.isPutaway" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isPutawayEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="是否收费">
        <el-select v-model="map.isFree" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isFreeEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('recordEsAdd')"  plain type="success" size="mini" @click="handleImportEs">导入ES(重建索引)</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="课程封面" width="122">
        <template slot-scope="scope">
          <img :src="scope.row.courseLogo" :alt="scope.row.courseName" width="100">
        </template>
      </el-table-column>
      <el-table-column label="课程名称">
        <template slot-scope="scope">
          <el-link type="primary" :underline="false" :href="`${scope.row.domain}/view/${scope.row.id}`" target="_blank">{{scope.row.courseName}}</el-link>
        </template>
      </el-table-column>
      <el-table-column label="课程分类">
        <template slot-scope="scope">
          【{{ courseCategoryEnums[scope.row.courseCategory] }}】
          <br>
          【 {{ scope.row.categoryName1 }}】>【{{ scope.row.categoryName2 }}】>【{{ scope.row.categoryName3 }}】
        </template>
      </el-table-column>
      <el-table-column label="价格" prop="courseOriginal" width="140">
        <template slot-scope="scope">
          <span v-if="scope.row.isFree === 0">普通价：{{ scope.row.courseOriginal | formatAmount }}<br>会员价：{{ scope.row.courseDiscount | formatAmount }}</span>
          <span v-else>免费</span>
        </template>
      </el-table-column>
      <el-table-column label="上下架" width="70">
        <template slot-scope="scope">
          {{ isPutawayEnums[scope.row.isPutaway] }}
        </template>
      </el-table-column>
      <el-table-column label="状态" width="60">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="courseSort" width="60" />
      <el-table-column label="操作" width="280">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('recordCourseEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('recordCourseStudyLog')" plain size="mini" @click="handleStudyLogRow(scope.row)">学习记录</el-button>

          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-button v-if="checkPermission('recordCourseComment')" plain size="mini" @click="handleCommentRow(scope.row)">课程评论</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('recordUpdateStatus') && scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
                <el-button v-if="checkPermission('recordUpdateStatus') && scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('recordUpdatePutaway') && scope.row.isPutaway === 1" plain type="danger" size="mini" @click="handleUpdateIsPutaway(scope.row)">下架</el-button>
                <el-button v-if="checkPermission('recordUpdatePutaway') && scope.row.isPutaway === 0" plain type="success" size="mini" @click="handleUpdateIsPutaway(scope.row)">上架</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
import {coursePage, courseStatusUpdate, courseIsPutawayUpdate, courseImportEs} from '@/api/course'

export default {
  filters: {
    formatAmount(val) {
      if (val) {
        return '¥ ' + val.toFixed(2)
      }
      return '¥ 0.00'
    }
  },
  data() {
    return {
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      list: [],
      map: {
        courseCategory: 1
      },
      listLoading: true,
      courseCategoryEnums: {},
      statusIdEnums: {},
      isPutawayEnums: {},
      isFreeEnums: {},
      checkIds: ''
    }
  },
  created() {
    this.listForPage()
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
      this.courseCategoryEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
      this.statusIdEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'IsPutawayEnum', type: 'obj'}).then(res => {
      this.isPutawayEnums = res;
    });
    this.$store.dispatch('GetOpts', {enumName: 'IsFreeEnum', type: 'obj'}).then(res => {
      this.isFreeEnums = res;
    });
  },
  methods: {
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleChange(row) {
      console.log('修改排序', row)
    },
    handleReset() {
      this.map = {
        courseCategory: 1
      }
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleUpdateRow(id) {
      this.$router.push({path: '/course/course/record/edit', query: {id: id}})
    },
    handleStudyLogRow(row) {
      this.$router.push({ path: '/course/course/record/study/log', query: { courseId: row.id, name: row.courseName }});
    },
    handleCommentRow(row) {
      this.$router.push({ path: '/course/course/comment/list', query: { courseId: row.id, name: row.courseName }});
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      // this.listLoading = true
      this.loading.start()
      coursePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    },
    handleUpdateStatusId(row) {
      {
        let body = '确定要启用【' + row.courseName + '】？';
        let statusId = 1;
        if (row.statusId === 1) {
          body = '确定要禁用【' + row.courseName + '】？';
          statusId = 0;
        }
        this.$confirm(body, '状态变更', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          courseStatusUpdate({id: row.id, statusId: statusId}).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleUpdateIsPutaway(row) {
      {
        let body = '确定要上架【' + row.courseName + '】？';
        let isPutaway = 1;
        if (row.isPutaway === 1) {
          body = '确定要下架【' + row.courseName + '】？';
          isPutaway = 0;
        }
        this.$confirm(body, '上下架变更', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          courseIsPutawayUpdate({id: row.id, isPutaway: isPutaway}).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleSelectionChange(checkList) {
      let resultIds = '';
      for (const index in checkList) {
        resultIds += checkList[index].id;
        if ((parseInt(index) + 1) < checkList.length) {
          resultIds += ',';
        }
      }
      this.checkIds = resultIds;
    },
    handleImportEs() {
      {
        const body = '确定全部点播课程导入ES？';
        this.$confirm(body, '导入ES', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          courseImportEs(1).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    }
  }
}
</script>
