<template>
      <div class="person_content">
        <ul class="person_title clearfix">
          <li :class="{now: true}">
            <a @click="clicktab(1)" href="javascript:">我的关注</a>
          </li>
        </ul>
        <div v-if="notdata" class="notdata">
          <i class="iconfont">&#xe6be;</i>暂时没有数据
        </div>
        <div v-if="!notdata" class="person_info">
          <div v-for="(list, index) in pageObj.list" :key="index" class="course_content">
            <div class="img_box">
              <img v-if="list.headImgUrl" :src="list.headImgUrl" alt="">
              <img v-else src="@/assets/image/friend.jpg" alt="">
            </div>
            <p class="course_name">
              {{ list.lecturerUserName || '匿名' }}
              <br>
              <br>
              {{ list.gmtCreate }}
            </p>
            <a @click="cancel(list.lecturerUserNo)" href="javascript:" class="close_collect">取消关注</a>
          </div>
          <br>
          <div class="center">
            <el-pagination
              :page-size="pageObj.pageSize"
              :current-page="pageObj.pageCurrent"
              :total="pageObj.totalCount"
              @current-change="getPage"
              class="page-panel"
              background
              layout="prev, pager, next">
            </el-pagination>
          </div>
        </div>
      </div>
</template>
<script>
import { attentionList, attentionDelete } from '~/api/account/user.js'
export default {
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 我的关注'
    }
  },
  data() {
    return {
      num: 1,
      pageObj: {
        list: [],
        pageCurrent: '',
        pageSize: '',
        totalCount: '',
        totalPage: ''
      }
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    },
    notdata() {
      return !this.pageObj.list.length
    }
  },
  mounted() {
    this.obj = {
      pageCurrent: 1,
      pageSize: 5
    }
    this.getCourseList()
  },
  methods: {
    getPage(int) {
      this.obj.pageCurrent = int
      this.getCourseList()
    },
    getCourseList(int) {
      attentionList(this.obj).then((res) => {
        this.pageObj = res.data
      }).catch(() => {
        this.pageObj = {
          list: [],
          pageCurrent: '',
          pageSize: '',
          totalCount: '',
          totalPage: ''
        }
      })
    },
    cancel(lecturerUserNo) {
      attentionDelete({ lecturerUserNo }).then((res) => {
        this.getCourseList()
        this.$msgBox({ content: '取消成功' })
      })
    },
    clicktab() {
      this.getCourseList()
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .person_body {
    width: 1200px;
    margin: 30px auto 0;
    min-height: 1000px;
  }
  .person_content {
    width: 1012px;
    float: right;
    background: #fff;
    border-radius: 6px;
  }
  .person_title {
    border-bottom: 1px solid rgb(242, 242, 242);
    position: relative;
    li {
      float: left;
      line-height: 60px;
      padding: 0 30px;
      font-size: 14px;
      &.now {
        border-bottom: 2px solid #D51423;
        a {
          color: #D51423;
        }
      }
      a:hover {
        color: #D51423;
      }
    }
  }
  .cancel {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #999;
    &:hover {
      color: #D51423;
    }
  }
  .person_info {
    min-height: 400px;
    padding-bottom: 30px;
  }
  .course_content {
    padding: 25px 0;
    margin: 0 25px;
    border-bottom: 2px solid #f2f2f2;
    position: relative;
    .img_box {
      display: inline-block;
      width: 86px;
      height: 86px;
      border-radius: 50%;
    }
    img {
      width: 86px;
      height: 86px;
      border-radius: 50%;
    }
    p {
      position: absolute;
      font-size: 14px;
      left: 115px;
      color: #999;
      &.course_name {
        top: 25px;
        color: #333;
      }
      &.course_study {
        margin-top: 20px;
        span {
          color: #D51423;
        }
      }
      &.course_time {
        position: absolute;
        bottom: 25px;
      }
    }
    &.no_left {
      p {
        left: 20px;
      }
    }
    a {
      display: block;
      width: 106px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border-radius: 6px;
      font-size: 14px;
      border: 1px solid #999;
      color: #999;
      background: #fff;
      position: absolute;
      top: 25px;
      right: 0;
      cursor: pointer;
      &:hover {
        color: #D51423;
        border-color: #D51423;
      }
      &.close_collect{
        top: 80px;
        border: none;
      }
    }
  }
  .notdata{
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
    color: #999;
    min-height: 400px;
    i{
      font-size: 30px;
      padding-right: 12px;
    }
  }
</style>
