<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="30%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="提现状态" prop="extractStatus">
        <el-select v-model="form.extractStatus" placeholder="请选择">
          <el-option
            v-for="item in extractStatusEnum"
            :key="item.code"
            :label="item.desc"
            :value="item.code"
          />
        </el-select>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="handleClose">取 消</el-button>
      <el-button type="primary" @click="submitForm('form')">确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
  import { userAccountExtractLogEdit } from '@/api/user'

  export default {
    name: 'EditExtractLog',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {
          extractStatus: undefined
        },
        extractStatusEnum: {},
        rules: {
          extractStatus: [
            { required: true, message: '请选择提现状态', trigger: 'blur' }
          ]
        }
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = {
            id: this.info.id,
            extractStatus: this.info.extractStatus
          }
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'ExtractStatusEnum', type: 'arr' }).then(res => {
        this.extractStatusEnum = res;
      })
    },
    methods: {
      handleClose() {
        this.$emit('close-callback');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 编辑
        userAccountExtractLogEdit(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
</style>
