<template>
  <div class="">
    <div @click="close()" class="mask" />
    <div class="modal_panel accessory_panel">
      <div class="modal_head">
        <a @click="close()" href="javascript:" class="close iconfont">&#xe616;</a>
      </div>
      <div class="modal_body">
        <div class="upload_box clearfix">
          <span>请上传课程附件</span>
          <div class="fr">
            <span>大小不超过200M</span>
            <input id="file" @change="addUpload" type="file" style="display: none;">
            <button :disabled="!upbtn" @click="upimg" class="solid_btn">
              本地上传
            </button>
          </div>
        </div>
        <div class="ac_list">
          <ul class="">
            <li v-for="(item, index) in list" :key="index" class="item_ac clearfix">
              <a href="javascript:" class="name">{{ item.acName }}</a>
              <a @click="del(item.id)" href="javascript:" class="c_blue del">删除</a>
            </li>
            <template v-for="(item, index) in uploadStatus">
              <li v-if="item.status !== 7" :key="index + 'ls'" class="item_ac">
                <div class="name">
                  {{ item.status }}
                </div>
                <div class="progress">
                  <div :style="{width: item.progress + '%'}" class="entity" />
                  <div class="tip">
                    {{ item.tip }}
                  </div>
                </div>
              </li>
            </template>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { accessoryList, accessoryChapterSave, accessoryRemove } from '~/api/account/course.js'
  import { downAc } from '~/api/course.js'
  import uploadMiXin from '@/utils/mixin/uploadDoc';
  export default {
    mixins: [uploadMiXin],
    props: {
      data: {
        type: [Object, String],
        default: null
      },
      type: {
        // 1问题图片，2问题答案，3习题图片，4习题答案
        type: [String, Number],
        default: 1
      },
      live: {
        type: [Boolean],
        default: false
      }
    },
    data() {
      return {
        load: false,
        kg: true,
        upbtn: true,
        list: null,
        uploadList: []
      }
    },
    computed: {
      userInfo() {
        return this.$store.state.userInfo
      }
    },
    mounted() {
      this.kg = false
      this.getAc()
    },
    methods: {
      // 选择上传附件
      upimg() {
        if (this.list && this.list.length) {
          this.$msgBox({ content: '只能上传一个,请先删除其他课件！' })
          return
        }
        const myfile = document.getElementById('file')
        myfile.click()
      },
      // 加入上传列表
      addUpload(e) {
        const files = e.target.files;
        console.log(files);
        this.receiveFile(files);
        e.target.value = '';
      },
      // 保存视频
      savaVideo(data, int) {
        this.uploadStatus[int].status = 6;
        this.savaPic(data.ossUrl, data.file.name, int)
      },
      goDown(id) {
        downAc({ id }).then((res) => {
          window.location.href = res.data
        }).catch(() => {})
      },
      // 保存附件
      savaPic(ossUrl, tit, int) {
        console.log('ossUrl===>', ossUrl)
        const cobj = {
          acName: tit,
          acUrl: ossUrl,
          courseCategory: 1,
          refType: 3,
          refId: this.data.refId
        }
        if (this.live) {
          cobj.courseCategory = 2
        }
        accessoryChapterSave(cobj).then((res) => {
          this.getAc()
          if (int !== undefined) {
            this.uploadStatus[int].status = 7;
          }
        }).catch(() => {})
      },
      // 删除i
      del(id) {
        this.$confirm('你确定需要删除该课件吗?', '提示', {
          type: 'warning'
        }).then((res) => {
          accessoryRemove({ id: id }).then((res) => {
            this.$msgBox({ type: 'success', content: '删除成功' })
            this.getAc()
          })
        }).catch(() => {
          console.log('取消删除')
        })
      },
      // 提交保存选中图片
      submit() {
        this.close()
      },
      close() {
        if (this.upbtn) {
          this.$emit('hidefun', event)
        } else {
          this.$confirm('文件正在上传,确定关闭上传窗口吗?', '提示', {
            type: 'warning'
          }).then((res) => {
            this.$emit('hidefun', event)
          })
        }
      },
      btnClick(event) {
        this.$emit('btnClick', event)
      },
      changeTab(int) {
        this.$emit('change', int)
      },
      // 获取该例题已选中的图片
      getAc() {
        this.load = true
        accessoryList({ refId: this.data.refId }).then((res) => {
          this.list = res.data.list || []
        }).catch(() => {
          this.list = []
        })
      }
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .modal_panel.accessory_panel{
    width: 720px;
    margin-left: -360px;
    .modal_body{
      overflow: hidden;
    }
    .modal_foot{
      border-top: 1px solid #e7e7eb;
      padding: 20px;
      text-align: center;
    }
  }
  .upload_box{
    line-height: 36px;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7eb;
    span{
      margin-right: 12px;
      color: #666;
    }
  }
  .ac_list{
    margin: 12px;
  }
  .item_ac{
    position: relative;
    line-height: 30px;
    border-bottom: 1px dashed #ddd;
    .name{
      float: left;
      position: relative;
      width: 500px;
      z-index: 3;
      text-indent: .5em;
    }
    .progress{
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 500px;
      height: 28px;
      border: 1px solid #ddd;
      .tip{
        position: absolute;
        left: 101%;
        top: 0;
        width: 150px;
      }
    }
    .entity{
      height: 100%;
      background-color: rgba(0, 204, 0, 0.59);
    }
    .del{
      float: right;
    }
  }
</style>
