<style lang="scss">
.alert-box {
  .el-dialog__header {
    background: #d51423;
    text-align: left;
    padding: 15px 20px;

    .el-dialog__title {
      color: #fff;
    }
    .el-dialog__close {
      color: #fff;
    }
  }
  .el-dialog__body {
     padding: 20px;
  }
}
</style>

<template>
  <div id="alert">
    <el-dialog
      custom-class="alert-box"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :title="title"
      :top="top"
      :visible.sync="value"
      @close="closeFn"
      :append-to-body="appendToBody"
      :width="width"
    >
      <slot name="contents"></slot>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'Alert',
  props: {
    title: {
      type: String,
      default() {
        return '标题'
      }
    },
    width: {
      type: String,
      default() {
        return '50%'
      }
    },
    top: {
      type: String,
      default() {
        return '10vh'
      }
    },
    appendToBody: {
      type: Boolean,
      default() {
        return false
      }
    },
    value: {
      type: Boolean,
      default() {
        return false
      }
    }
  },
  data() {
    return {}
  },
  methods: {
    closeFn() {
      this.$emit('input', false);
      this.$emit('close')
    }
  }
}
</script>
