<template>
  <div :class="{on: open}" class="">
    <div @click="close()" class="mask" />
    <div class="modal_panel image_panel">
      <div class="modal_head">
        <a @click="close()" href="javascript:" class="close iconfont">&#xe616;</a>
      </div>
      <div class="modal_body">
        <div class="upload_box clearfix">
          <span>上传图片后，请选择图片顺序</span>
          <div class="fr">
            <span>大小不超过200M</span>
            <input
              id="file"
              @change="addUpload"
              type="file"
              style="display: none;"
              accept="image/png,image/gif,image/jpeg"
              multiple="multiple"
            >
            <button :disabled="!upbtn" @click="upimg" class="solid_btn">
              本地上传
            </button>
          </div>
        </div>
        <div class="image_list">
          <div class="left_list">
            <div class="title">
              已选题目
            </div>
            <ul class="">
              <li v-for="(item, index) in periodImages" :key="index" class="img">
                <div class="oper">
                  <i @click="maxImages(item.picUrl)" class="iconfont fd" title="查看大图">&#xe66b;</i>
                  <i @click="removeImg(item.id)" class="iconfont gb" title="移除">&#xe68c;</i>
                </div>
                <img :src="item.picUrl" alt="">
                <a href="javascript:">{{ item.title }}</a>
              </li>
            </ul>
          </div>
          <div class="right_list">
            <div class="title">
              题库列表
            </div>
            <ul class="">
              <li v-for="(item, index) in chapterImages" :key="index" class="img">
                <div class="oper">
                  <i @click="maxImages(item.picUrl)" class="iconfont fd" title="查看大图">&#xe66b;</i>
                  <i @click="delImg(item.id)" class="iconfont gb" title="从库移除">&#xe68c;</i>
                </div>
                <img :src="item.picUrl" :alt="item.title" :title="item.title">
                <a @click="selImg(item)" href="javascript:"><i class="iconfont sel">&#xe69f;</i>{{ item.title }}</a>
              </li>
              <template v-for="(item, index) in uploadList">
                <li v-if="item.tip !== '上传成功'" :key="index + 'ls'" class="img">
                  <div class="tip">
                    {{ item.tip }}
                  </div>
                  <div class="progress">
                    <div :style="{width: item.jd + '%'}" class="entity" />
                  </div>
                  <img :src="item.wait" alt="">
                  <a href="javascript:">{{ item.name }}</a>
                </li>
              </template>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal_foot">
        <button @click="submit" class="solid_btn">
          确定
        </button>
        <button @click="close()" class="hollow_btn">
          取消
        </button>
      </div>
    </div>
    <div v-if="maxImg" class="max_img_panel">
      <div @click="hideMaxImg" class="mask" />
      <div class="img_panel">
        <div class="img_box">
          <div class="img">
            <i @click="hideMaxImg" class="iconfont" title="关闭">&#xe68c;</i>
            <img :src="maxImgUrl" alt="预览失败">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { uploadPic } from '~/api/upload.js'
import { periodPic, periodPicSave, chapterPic, chapterPicSave, chapterPicDel } from '~/api/account/course.js'
export default {
  props: {
    open: {
      type: Boolean,
      default: false
    },
    data: {
      type: [Object],
      default() {
        return {}
      }
    },
    type: {
      // 1问题图片，2问题答案，3习题图片，4习题答案
      type: [String, Number],
      default: 1
    }
  },
  data() {
    return {
      alertOpen: false,
      maxImg: false,
      maxImgUrl: '',
      kg: true,
      upbtn: true,
      chapterImages: [],
      periodImages: null,
      savePic: {
        title: '',
        periodNo: 0,
        picType: this.type,
        picUrl: ''
      },
      imgsrc: '',
      uploadList: []
    }
  },
  mounted() {
    this.kg = false
    // console.log(this.type)
    this.periodPicList()
    this.timuPic()
  },
  methods: {
    // 选择上传图片
    upimg() {
      const myfile = document.getElementById('file')
      myfile.click()
    },
    // 加入上传列表
    addUpload(e) {
      const files = e.target.files
      for (let i = 0; i < files.length; i++) {
        const file = files[i]
        file.wait = URL.createObjectURL(file)
        file.tip = '等待上传'
        file.jd = 0
        this.uploadList.push(file)
      }
      // console.log(this.uploadList)
      if (this.upbtn) {
        this.upload()
      }
    },
    // 上传图片
    upload() {
      this.upbtn = false
      const pics = this.uploadList
      let itemfile = null
      for (let i = 0; i < pics.length; i++) {
        console.log(i)
        if (pics[i].jd === 0 && itemfile === null) {
          itemfile = pics[i]
        }
      }
      if (itemfile) {
        const file = itemfile
        const that = this
        /* eslint-disable no-undef */
        const param = new FormData()
        param.append('picFile', file, file.name)
        uploadPic(param, function (int) {
          itemfile.jd = int
          itemfile.tip = '上传中'
          that.uploadList = Object.assign([], that.uploadList)
        }).then((res) => {
          console.log(res)
          if (res.code === 200) {
            itemfile.tip = '上传成功'
            that.upload()
            that.savaPic(res.data, itemfile.name)
          } else {
            itemfile.tip = res.msg
            that.upload()
          }
          that.uploadList = pics
          // console.log(res)
        }).catch((msg) => {
          itemfile.tip = '上传失败'
          that.upload()
        })
      } else {
        this.upbtn = true
      }
    },
    // 保存图片
    savaPic(src, tit) {
      chapterPicSave({
        chapterId: this.data.cNo,
        picType: this.type,
        picUrl: src,
        title: tit
      }).then((res) => {
        this.timuPic()
      })
    },
    // 选择图片,加入选中列表,并从
    selImg(obj) {
      console.log(obj)
      let imgData = null
      this.periodImages.map(function (item, i) {
        if (item.picId === obj.id) {
          imgData = item
        }
      })
      if (imgData === null) {
        this.periodImages.push(obj)
      } else {
        this.$msgBox({ content: '该选项已经被选中' })
      }
    },
    // 从选中列表中移除图片
    removeImg(id) {
      const that = this
      that.periodImages.map(function (item, i) {
        if (item.id === id) {
          that.periodImages.splice(i, 1)
        }
      })
    },
    // 从图片库删除图片
    delImg(id) {
      const that = this
      this.$confirm('你确定要从图片库删除该图片吗?', '提示', {
        type: 'warning'
      }).then((val) => {
        const isCheck = this.periodImages.find(item => item.picId === id)
        if (isCheck) {
          this.$msgBox({ content: '该图片已被选中，请先删除' })
          return
        }
        chapterPicDel({ id }).then((res) => {
          that.$msgBox({ type: 'success', content: '删除成功' })
          that.timuPic()
        })
      })
    },
    // 最大化预览图片
    maxImages(url) {
      this.maxImgUrl = url
      this.maxImg = true
    },
    // 隐藏图片预览
    hideMaxImg() {
      this.maxImg = false
    },
    // 提交保存选中图片
    submit() {
      const list = this.periodImages.map((item) => {
        return {
          picId: item.id
        }
      })
      periodPicSave({
        list,
        picType: this.type,
        periodId: this.data.pNo
      }).then((res) => {
        this.close()
      })
    },
    close() {
      if (this.upbtn) {
        this.$emit('hidefun', event)
      } else {
        this.$confirm('图片正在上传,确定关闭上传窗口吗?', '提示', {
          type: 'warning'
        }).then((res) => {
          this.$emit('hidefun', event)
        })
      }
    },
    btnClick(event) {
      this.$emit('btnClick', event)
    },
    changeTab(int) {
      this.$emit('change', int)
    },
    timuPic() {
      chapterPic({
        chapterId: this.data.cNo,
        picType: this.type
      }).then((res) => {
        this.chapterImages = res.data.list || []
      }).catch(() => {
        this.chapterImages = []
      })
    },
    // 获取该例题已选中的图片
    periodPicList() {
      periodPic({
        periodId: this.data.pNo,
        picType: this.type
      }).then((res) => {
        this.periodImages = res.data.list || []
      }).catch(() => {
        this.periodImages = []
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
div.image_panel{
  width: 720px;
  margin-left: -360px;
  .modal_body{
    overflow: hidden;
  }
  .upload_box{
    line-height: 36px;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7eb;
    span{
      margin-right: 12px;
      color: #666;
    }
  }
  .modal_foot{
    border-top: 1px solid #e7e7eb;
    padding: 20px;
    text-align: center;
  }
  .image_list{
    overflow: hidden;
    height: 403px;
    .title{
      line-height: 30px;
      padding: 0 20px;
      font-size: 14px;
      background-color: #eee;
    }
    .left_list{
      float: left;
      width: 187px;
      border-right: 2px solid #ddd;
    }
    .right_list{
      float: right;
      width: 531px;
    }
    ul{
      height: 373px;
      overflow: auto;
    }
    .img{
      position: relative;
      float: left;
      margin-left: 16px;
      margin-top: 16px;
      width: 153px;
      border: 1px solid #e7e7eb;
      .oper{
        display: none;
      }
      .gb{
        position: absolute;
        right: -10px;
        top: -10px;
        font-size: 18px;
        cursor: pointer;
        color: #666;
      }
      .fd{
        display: block;
        line-height: 60px;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
      }
      img{
        display: block;
        height: 60px;
      }
      a{
        display: block;
        text-align: center;
        line-height: 30px;
        border-top: 1px solid #e7e7eb;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .sel{
        color: #eee;
        margin: 0 3px;
      }
      &:hover{
        border-color: #ed7d03;
        .oper{
          display: block;
        }
      }
    }
    .tip{
      text-align: center;
      font-size: 16px;
      line-height: 60px;
    }
    .progress,.tip,.oper{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 9;
      height: 60px;
      .entity{
        height: 100%;
        background-color: rgba(0, 204, 0, 0.59);
      }
    }
  }
}
.max_img_panel{
  position: relative;
  z-index: 999999;
  .img_panel{
    display: table;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .img_box{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .img{
    display: inline-block;
    position: relative;
    max-width: 80%;
    min-width: 400px;
    min-height: 300px;
    background: rgba(255,255,255,0.5);
    i{
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
      font-size: 30px;
      cursor: pointer;
      &:hover{
        color: #e00;
      }
    }
  }
}
</style>
