<template>
  <div :class="{on: open}" class="">
    <div @click="close()" class="mask" />
    <div id="image_panel_importance" class="modal_panel image_panel">
      <div class="modal_head">
        <span class="fl">知识点管理</span>
        <a @click="close()" href="javascript:" class="close iconfont">&#xe616;</a>
      </div>
      <div class="modal_body">
        <table class="table">
          <thead>
            <tr>
              <th>知识点</th>
              <th>链接</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in loreList" :key="item.id">
              <td>
                {{ item.title }}
              </td>
              <td>
                {{ item.titleUrl }}
              </td>
              <td class="operate">
                <a @click="delLore(item.id)" href="javascript:" class="text_link">删除</a>
              </td>
            </tr>
            <tr>
              <td class="name">
                <input v-model="loreObj.title" type="text" class="form_input" placeholder="请输入知识点">
              </td>
              <td class="lore_link">
                <input v-model="loreObj.titleUrl" type="text" class="form_input" placeholder="请输入知识点连接">
              </td>
              <td>
                <button @click="addLore" class="solid_btn">
                  保存
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal_foot">
        <button @click="submit" class="solid_btn">
          确定
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import { periodLore, periodLoreSave, periodLoreDel } from '@/api/course.js'
export default {
  props: {
    open: {
      type: Boolean,
      default: false
    },
    data: {
      type: [Object, String],
      default: null
    },
    type: {
      // 1问题图片，2问题答案，3习题图片，4习题答案
      type: [String, Number],
      default: 1
    }
  },
  data() {
    return {
      maxImg: false,
      maxImgUrl: '',
      kg: true,
      upbtn: true,
      loreList: [],
      loreObj: {
        title: '',
        periodNo: 0,
        titleUrl: '',
        orgNo: '',
        lecturerUserNo: ''
      },
      imgsrc: '',
      uploadList: []
    }
  },
  mounted() {
    this.kg = false
    this.loreObj.lecturerUserNo = this.userInfo.userNo
    this.loreObj.orgNo = this.userInfo.orgNo
    this.periodLoreList()
  },
  methods: {
    // 删除知识点
    delLore(id) {
      // console.log(id)
      const that = this
      this.$confirm('你确定删除该数据吗?', '提示', {
        type: 'warning'
      }).then((val) => {
        periodLoreDel(id).then((res) => {
          that.alertOpen = false
          if (res.code === 200) {
            that.periodLoreList()
          }
        })
      })
    },
    // 添加知识点
    addLore() {
      this.loreObj.periodNo = this.data.pNo
      periodLoreSave(this.loreObj).then((res) => {
        if (res.code === 200) {
          this.loreList.push(res.data)
        } else {
          alert(res.msg)
        }
      })
    },
    // 提交保存选中图片
    submit() {
      this.$emit('hidefun', event)
    },
    close() {
      this.$emit('hidefun', event)
    },
    btnClick(event) {
      this.$emit('btnClick', event)
    },
    changeTab(int) {
      this.$emit('change', int)
    },
    // 获取该例题已选中的图片
    periodLoreList() {
      // console.log(this.data)
      periodLore(this.data.pNo).then((res) => {
        // console.log(res)
        if (res.code === 200 && res.data.list !== null) {
          this.loreList = res.data.list
        } else {
          this.loreList = []
        }
        // console.log(res)
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
#image_panel_importance {
  width: 720px;
}
.modal_head {
  background-color: #fff;
}
.image_panel{
  width: 720px;
  margin-left: -360px;
  .upload_box{
    line-height: 36px;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7eb;
    span{
      margin-right: 12px;
      color: #666;
    }
  }
  .modal_foot{
    border-top: 1px solid #e7e7eb;
    padding: 20px;
    text-align: center;
  }
  .image_list{
    overflow: hidden;
    height: 403px;
    ul{
      height: 373px;
      overflow: auto;
    }
    .icon{
      text-align: center;
      line-height: 80px;
      font-size: 50px;
      color: #999;
    }
    .img{
      position: relative;
      float: left;
      margin-left: 16px;
      margin-top: 16px;
      width: 153px;
      border: 1px solid #e7e7eb;
      .oper{
        display: none;
      }
      .gb{
        position: absolute;
        right: -10px;
        top: -10px;
        font-size: 18px;
        cursor: pointer;
        color: #666;
      }
      img{
        display: block;
        height: 80px;
      }
      a{
        display: block;
        text-align: center;
        line-height: 30px;
        border-top: 1px solid #e7e7eb;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .sel{
        color: #eee;
        margin: 0 3px;
      }
      &:hover{
        border-color: #ed7d03;
        .oper{
          display: block;
        }
        .icon {
          color: #ed7d03;
        }
      }
    }
    .tip{
      text-align: center;
      font-size: 16px;
      line-height: 60px;
    }
    .progress,.tip,.oper{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 9;
      height: 80px;
      .entity{
        height: 100%;
        background-color: rgba(0, 204, 0, 0.59);
      }
    }
  }
}
.form_input {
  margin: 10px 0;
  height: 34px;
  border: 1px solid #e7e7e7;
  width: 200px;
  text-indent: 1em;
}
.lore_link .form_input{
  width: 280px;
}
</style>
