<template>
  <header class="side_box">
    <div v-for="(item,index) in menuList" :key="index">
      <div class="menu_panel" v-if="item.type == type">
        <h3 class="title">
          <i class="iconfont" v-html="item.icon"></i>{{ item.name }}
        </h3>
        <ul class="menus">
          <li v-for="(me, meIndex) in item.list" :key="meIndex" :class="{on: isActive == me.is}">
            <nuxt-link :to="me.path">{{ me.name }}</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
</header>
</template>
<script>
import { getUserInfo } from '~/api/user.js'
import { isGradeAdmin } from '~/api/account/grade.js'
export default {
  data() {
    return {
      isActive: '',
      type: 1,
      webInfo: this.$store.state.webInfo,
      tokenInfo: this.$store.state.tokenInfo,
      userInfo: this.$store.state.userInfo,
      menuList: [
        {
          name: '课程管理',
          icon: '&#xe640;',
          type: 2,
          list: [
            {
              name: '点播管理',
              is: '/vod',
              path: { name: 'account-vod' }
            },
            {
              name: '文库管理',
              is: '/resource',
              path: { name: 'account-resource' }
            },
            {
              name: '直播管理',
              is: '/live',
              path: { name: 'account-live' }
            },
            {
              name: '开播设置',
              is: '/channel',
              path: { name: 'account-channel' }
            }
          ]
        },
        {
          name: '试卷管理',
          icon: '&#xe640;',
          type: 2,
          list: [
            {
              name: '试题管理',
              is: '/subject',
              path: { name: 'account-subject' }
            },
            {
              name: '试卷管理',
              is: '/account/exams',
              path: { name: 'account-exams' }
            }
          ]
        },
        {
          name: '班级管理',
          icon: '&#xe640;',
          type: 2,
          list: [
            {
              name: '班级管理',
              is: '/account/grades/teacher',
              path: { name: 'account-grades-teacher' }
            }
          ]
        },
        {
          name: '讲师中心',
          icon: '&#xe640;',
          type: 2,
          list: [
            {
              name: '收益情况',
              is: '/earnings',
              path: { name: 'account-earnings' }
            },
            {
              name: '讲师信息',
              is: '/account/teacher',
              path: { name: 'account-teacher' }
            }
          ]
        },
        {
          name: '课程中心',
          icon: '&#xe60a;',
          type: 1,
          list: [
            {
              name: '我的课程',
              is: '/account/course',
              path: { name: 'account-course' }
            },
            {
              name: '我的试卷',
              is: '/account/exams/myExam',
              path: { name: 'account-exams-myExam' }
            },
            {
              name: '我的收藏',
              is: '/account/collection',
              path: { name: 'account-collection' }
            },
            {
              name: '学习记录',
              is: '/account/study',
              path: { name: 'account-study' }
            }
          ]
        },
        {
          name: '班级中心',
          icon: '&#xe60a;',
          isGrade: true,
          type: 1,
          list: [
            {
              name: '我的班级',
              is: '/account/grades/my',
              path: { name: 'account-grades-my' }
            },
            {
              name: '我的考试',
              is: '/account/exams/myExamination',
              path: { name: 'account-exams-myExamination' }
            }]
        },
        {
          name: '个人中心',
          icon: '&#xe60a;',
          isRecommend: true, // 因为要做用户推荐注册权限控制
          type: 1,
          list: [
            {
              name: '我的订单',
              is: '/account/order',
              path: { name: 'account-order' }
            },
            {
              is: '/account/attention',
              name: '我的关注',
              path: { name: 'account-attention' }
            },
            {
              name: '我的通知',
              is: '/account/message',
              path: { name: 'account-message' }
            },
            {
              name: '个人信息',
              is: '/account/info',
              path: { name: 'account-info' }
            },
            {
              name: '修改密码',
              is: '/account/reset',
              path: { name: 'account-reset' }
            }, {
              name: '培训需求问询表',
              is: '/account/ques',
              path: { name: 'account-ques' }
            }
          ]
        }
      ]
    }
  },
  watch: {
    $route(val) {
      this.menuList.forEach((item, index) => {
        item.list.forEach((ro) => {
          if (this.$route.path.indexOf(ro.is) !== -1) {
            this.isActive = ro.is;
            this.type = item.type;
            if (this.type === 1) {
              this.isGradeAdminfn();
            } else {
              this.lockr.set('isGradeAdmin', false);
            }
          }
        })
      })
    }
  },
  mounted() {
    this.menuList.forEach((item, index) => {
      item.list.forEach((ro) => {
        if (this.$route.path.indexOf(ro.is) !== -1) {
          this.isActive = ro.is;
          this.type = item.type;
          if (this.type === 1) {
            this.isGradeAdminfn();
          } else {
            this.lockr.set('isGradeAdmin', false);
          }
        }
      })
    })
    getUserInfo().then((res) => {
      if (res.code === 200) {
        // 有推荐权限 就显示出来
        if (res.data.isRecommended) {
          this.menuList.forEach((item, index) => {
            if (item.isRecommend) {
              item.list.push({
                name: '我的推荐',
                is: '/account/recommend',
                path: { name: 'account-recommend' }
              })
            }
          })
        }
      }
    })
  },
  methods: {
    isGradeAdminfn() {
      isGradeAdmin().then(res => {
        if (res.data) {
          this.lockr.set('isGradeAdmin', true);
          this.isGradeAdmin = true;
          this.menuList.forEach((item, index) => {
            if (item.isGrade) {
              let is = false;
              const data = {
                name: '班级管理',
                is: '/account/grades/admin',
                path: { name: 'account-grades-admin' }
              }
              item.list.forEach((e) => {
                if (e.is === data.is) {
                  is = true;
                }
              })
              if (!is) {
                item.list.push(data);
              }
            }
          })
          this.menuList = this.menuList.concat([]);
        } else {
          this.isGradeAdmin = false;
          this.lockr.set('isGradeAdmin', false);
        }
      })
    },
    close() {
      this.$emit('close')
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
#big_icon {
  font-size: 20px;
}
.side_box {
  border-radius: 6px 6px 0 0;
  float: left;
  width: 168px;
}
.menu_panel {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 6px 6px 0 0;
  .act_icon {
    width: 16px;
    margin-right: 2px;
  }
  .title {
    font-size: 14px;
    color: #333;
    line-height: 60px;
    padding: 0 35px;
    border-bottom: 1px solid rgb(242, 242, 242);
    i {
      padding-right: 6px;
      font-size: 16px;
      position: relative;
      left: -5px;
    }
  }
}
.menus {
  li {
    line-height: 40px;
    // padding-left: 35px;
    text-align: center;
    &:hover,
    &.on {
      a {
        color: #d51423;
      }
    }
  }
  a {
    color: #333;
    font-size: 14px;
  }
}
</style>
