<template>
  <div class="upload_com">
    <div v-if="ov == 1" class="progress">
      <div :style="{width: jd + '%'}" class="entity">
        {{ tip }}
      </div>
    </div>
    <button v-else @click="upimg" class="solid_btn" type="button">
      {{ btntxt }}
    </button>
    <span v-if="jd" @click="closeUpload" class="">移除</span>
    <div v-if="ov == 2 && !upOk" class="tip">
      {{ tip }}
    </div>
    <input
      :id="docId"
      :accept="accept"
      @change="update"
      name="file"
      style="display: none;"
      type="file"
      multiple="multiple"
    >
  </div>
</template>
<script>
import { uploadPic, uploadDoc, uploadResVideo, uploadExamResVideo } from '~/api/upload.js'
export default {
  props: {
    isresource: {
      type: Boolean,
      default: false
    },
    isTiku: {
      type: Boolean
    },
    accept: {
      type: String,
      default: ''
    },
    btntxt: {
      type: String,
      default: '选择文件'
    },
    isExam: { // 因为试卷的视频上传接口路径不一样的 所以要一个属性判断
      type: Boolean,
      default: false
    },
    upOk: {
      type: Boolean
    }
  },
  data() {
    return {
      source: null,
      docId: '',
      ov: 0,
      jd: 0,
      tip: ''
    }
  },
  watch: {
    upOk(newData) {
      if (newData) {
        this.ov = 0
      }
    }
  },
  created() {
    this.docId = this.randomString(6)
  },
  mounted() {
    this.tip = ''
  },
  methods: {
    // 选择上传图片
    upimg() {
      const myfile = document.getElementById(this.docId)
      myfile.click()
    },
    closeUpload() {
      if (this.source) {
        this.$emit('uploadStart', false)
        this.$emit('rtnUrl', { name: '', url: '' })
        this.jd = 0;
        this.ov = 0;
        this.source.cancel('取消上传');
      }
    },
    update(e) {
      const file = e.target.files[0]
      console.log(file)
      const that = this
      let uploadType = uploadPic
      let typeFile = 'picFile'
      /* eslint-disable no-undef */
      const param = new FormData()
      if (this.isresource) {
        uploadType = uploadDoc
        typeFile = 'docFile'
        let suffix = ''
        if (file) {
          suffix = /\.(\w+)$/.exec(file.name)[1]
        }
        if (['mp4', 'avi', 'mpg', 'mpeg', 'ram', 'flv', 'mov', 'asf', '3gp', 'f4v', 'wmv', 'FLV', 'MOV', 'ASF', '3GP', 'F4V', 'WMV'].indexOf(suffix) !== -1) {
          uploadType = uploadResVideo
          if (this.isExam) {
            uploadType = uploadExamResVideo
          }
          typeFile = 'videoFile'
        }
      }
      param.append(typeFile, file, file.name)
      // console.log(param)
      that.$emit('uploadStart', true)
      uploadType(param, function (int, source) {
        that.source = source
        that.jd = int
        that.ov = 1
        that.tip = '上传中...'
        // console.log(int)
      }).then((res) => {
        e.target.value = ''
        // console.log(res)
        // console.log('upload--------')
        that.ov = 2
        if (res.code === 200) {
          e.target.value = ''
          that.tip = '上传成功'
          that.jd = 100
          that.$emit('rtnUrl', { name: file.name, url: res.data })
        } else {
          that.tip = res.msg
        }
        // console.log(res)
      }).catch(() => {
        that.ov = 2
        that.tip = '上传失败'
      })
    },
    randomString(len) {
      len = len || 32
      const $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'
      const maxPos = $chars.length
      let pwd = ''
      for (let i = 0; i < len; i++) {
        pwd += $chars.charAt(Math.floor(Math.random() * maxPos))
      }
      return pwd
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.progress{
  display: inline-block;
  line-height: 34px;
  height: 34px;
  width: 110px;
  border-radius: 3px;
  background-color: #ddd;
  color: #333;
  text-align: center;
  box-shadow: 0 0 4px #a2a2a2 inset;
  vertical-align: middle;
  overflow: hidden;
  .entity{
    height: 100%;
    background-color: #0c0;
    border-radius: 6px;
  }
}
.upload_com {
  .tip{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: none;
    color: #333;
  }
}
</style>
