<template>
  <div :class="{on: open}" class>
    <div @click="close()" class="mask" style="z-index: 2999" />
    <div id="image_panel_importance" class="modal_panel image_panel" style="z-index: 2999">
      <div class="modal_head">
        <span class="fl">视频管理</span>
        <a @click="close()" href="javascript:" class="close iconfont">&#xe616;</a>
      </div>
      <div class="modal_body">
        <div class="upload_box clearfix">
          <span />
          <div class="fr">
            <span>相同视频上传两次，第二次不上传！</span>
            <input
              id="file"
              @change="addUpload"
              type="file"
              multiple="multiple"
              :accept="videoType"
              style="display: none;"
            />
            <button @click="upimg" class="solid_btn">本地上传</button>
          </div>
        </div>
        <div class="image_list">
          <div class="left_list">
            <div data-v-1300c342 class="title">已选视频</div>
            <ul class>
              <li v-for="(item, index) in videoList" :key="index" class="img">
                <div class="oper">
                  <i @click="delVideo(item.videoId, 1)" class="iconfont gb" title="从库移除">&#xe68c;</i>
                </div>
                <div :title="item.videoName" class="icon iconfont">&#xe690;</div>
                <a :title="item.videoName" href="javascript:">{{ item.videoName }}</a>
              </li>
            </ul>
          </div>
          <div class="right_list" v-loading="loading">
            <div data-v-1300c342 class="title">视频库列表</div>
            <ul>
              <li
                v-for="(item, index) in chapterVideoList"
                :key="index"
                @click="selVideo(item)"
                class="img"
                title="点击选择"
              >
                <div class="oper">
                  <i
                    @click.stop="delVideo(item.id, 0, item.id)"
                    class="iconfont gb"
                    title="从库移除"
                  >&#xe68c;</i>
                </div>
                <div :title="item.videoName" class="icon iconfont">&#xe690;</div>
                <a :title="item.videoName" href="javascript:">{{ item.videoName }}</a>
              </li>
              <li
                :class="{ 'error': item.status == 4 }"
                class="img"
                v-for="(item, index) in uploadStatus"
                :hidden="item.status == 7"
                :key="index + 'ls'"
              >
                <div class="tip">{{ item.status | uploadStatus }}</div>
                <div class="progress">
                  <div class="entity" :style="{ width: item.progress + '%' }"></div>
                </div>
                <button v-if="item.status == 2" class="reput-btn" @click="stopUpload(index)">暂停上传</button>
                <button v-if="item.status == 4" class="reput-btn" @click="resumeUpload(index)">重新上传</button>
                <button v-if="item.status == 5" class="reput-btn" @click="resumeUpload(index)">继续上传</button>
                <a href="javascript:">{{ item.name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal_foot">
        <button @click="submit" class="solid_btn">确定</button>
        <button @click="close()" class="hollow_btn">取消</button>
      </div>
    </div>
  </div>
</template>
<script>
import uploadMiXin from '@/utils/mixin/uploadVideo';
import {
  periodVideoUpdate,
  chapterVideoSave,
  periodVideo,
  chapterVideo,
  chapterVideodel
} from '~/api/account/course.js';
export default {
  mixins: [uploadMiXin],
  props: {
    open: {
      type: Boolean,
      default: false
    },
    data: {
      type: [Object, String],
      default: null
    },
    type: {
      // 1问题图片，2问题答案，3习题图片，4习题答案
      type: [String, Number],
      default: 1
    }
  },
  data() {
    return {
      flag: true,
      kg: true,
      loading: false,
      chapterVideoList: [],
      videoList: [],
      videoType:
        'video/mp4,video/avi,video/mpg,video/mpeg,video/ram,video/flv,video/mov,video/asf,video/3gp,video/f4v,video/wmv,video/x-ms-wmv'
    };
  },
  mounted() {
    this.kg = false;
    this.periodVideoList();
    this.loading = true;
    this.getChapterVideo();
    this.initOssConfig();
  },
  methods: {
    // 选择上传视频
    upimg() {
      const myfile = document.getElementById('file');
      myfile.click();
    },
    // 选择视频
    selVideo(obj) {
      if (this.videoList && this.videoList.length) {
        this.$msgBox({ content: '只能选择一个视频' });
        return;
      }
      obj.videoId = obj.id;
      this.videoList = [obj];
    },
    // 加入上传列表
    addUpload(e) {
      const files = e.target.files;
      this.receiveFile(files);
      e.target.value = '';
    },
    // 保存视频
    savaVideo(data, int) {
      this.uploadStatus[int].status = 6;
      const params = {
        periodId: this.data.pNo,
        ...data
      };
      chapterVideoSave(params).then((res) => {
        this.getChapterVideo(int);
      });
    },
    // 删除视频
    delVideo(vNo, ty, id) {
      if (ty) {
        this.$confirm('你确定要删除该视频吗?', '提示', {
          type: 'warning'
        }).then(() => {
          for (let i = 0; i < this.videoList.length; i++) {
            if (this.videoList[i].videoId === vNo) {
              this.videoList.splice(i, 1);
            }
          }
        });
      } else {
        this.flag = true;
        for (let i = 0; i < this.videoList.length; i++) {
          if (this.videoList[i].videoId === vNo) {
            this.flag = false;
          }
        }
        if (this.flag) {
          this.$confirm('你确定要删除该视频吗?', '提示', {
            type: 'warning'
          }).then(() => {
            this.loading = true;
            chapterVideodel({ id: vNo }).then((res) => {
              this.loading = false;
              if (res.code === 200) {
                this.initOssConfig();
                this.$msgBox({ type: 'success', content: '删除成功' });
                this.getChapterVideo();
              }
            });
          }).catch(() => {
            this.loading = false;
          });
        } else {
          this.$msgBox({ content: '该视频已被使用，请先删除' });
        }
      }
    },
    // 提交保存选中视频
    submit() {
      const su = () => {
        const videoId =
          this.videoList && this.videoList.length
            ? this.videoList[0].videoId
            : '';
        const params = {
          videoId,
          periodId: this.data.pNo
        };
        this.loading = true;
        periodVideoUpdate(params)
          .then((res) => {
            this.loading = false;
            this.$emit('hidefun', event);
          })
          .catch(() => {
            this.loading = false;
            this.$emit('hidefun', event);
          });
      };
      if (this.uploading) {
        this.$confirm('视频正在上传,确定关闭上传窗口吗?', '提示', {
          type: 'warning'
        }).then(() => {
          this.stopAllUpload();
          su();
        });
      } else {
        su();
      }
    },
    close() {
      if (this.uploading) {
        this.$confirm('视频正在上传,确定关闭上传窗口吗?', '提示', {
          type: 'warning'
        }).then(() => {
          this.stopAllUpload();
          this.$emit('hidefun', event);
        });
      } else {
        this.$emit('hidefun', event);
      }
    },
    btnClick(event) {
      this.$emit('btnClick', event);
    },
    changeTab(int) {
      this.$emit('change', int);
    },
    // 获取该例题已选中的视频
    periodVideoList() {
      periodVideo({ periodId: this.data.pNo })
        .then((res) => {
          if (res.data.isVideo) {
            this.videoList = [res.data];
          } else {
            this.videoList = [];
          }
        })
        .catch(() => {
          this.videoList = [];
        });
    },
    getChapterVideo(int) {
      chapterVideo({ chapterId: this.data.cNo })
        .then((res) => {
          if (this.uploadStatus[int]) {
            this.uploadStatus[int].status = 7;
          }
          this.loading = false;
          this.chapterVideoList = res.data.list || [];
          this.uploadUploading();
        })
        .catch(() => {
          this.chapterVideoList = [];
        });
    },
    uploadSuccess(fileData, fileIndex) {
      if (fileData.vid) {
        this.savaVideo(
          {
            vid: fileData.vid,
            videoName: fileData.file.name
          },
          fileIndex
        );
      } else {
        this.savaVideo(
          {
            ossUrl: fileData.url.substr(0, fileData.url.indexOf('?')),
            videoName: fileData.name
          },
          fileIndex
        );
      }
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss">
#image_panel_importance {
  width: 720px;
  margin-left: -360px;
}
.image_panel {
  width: 720px;
  margin-left: -360px;
  div.modal_body {
    overflow: hidden;
  }
  .upload_box {
    line-height: 36px;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7eb;
    span {
      margin-right: 12px;
      color: #666;
    }
  }
  .modal_foot {
    border-top: 1px solid #e7e7eb;
    padding: 20px;
    text-align: center;
  }
  .image_list {
    overflow: hidden;
    height: 403px;
    .title {
      line-height: 30px;
      padding: 0 20px;
      font-size: 14px;
      background-color: #eee;
    }
    .left_list {
      float: left;
      width: 187px;
      border-right: 2px solid #ddd;
    }
    .right_list {
      float: right;
      width: 531px;
    }
    ul {
      height: 373px;
      overflow: auto;
    }
    .icon {
      text-align: center;
      line-height: 80px;
      font-size: 50px;
      color: #999;
    }
    .img {
      position: relative;
      float: left;
      margin-left: 16px;
      margin-top: 16px;
      width: 153px;
      border: 1px solid #e7e7eb;
      .oper {
        display: none;
      }
      .gb {
        position: absolute;
        right: -10px;
        top: -10px;
        font-size: 18px;
        cursor: pointer;
        color: #666;
      }
      img {
        display: block;
        height: 80px;
      }
      a {
        display: block;
        text-align: center;
        line-height: 30px;
        border-top: 1px solid #e7e7eb;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .sel {
        color: #eee;
        margin: 0 3px;
      }
      &:hover {
        border-color: #ed7d03;
        .oper {
          display: block;
        }
        .icon {
          color: #ed7d03;
        }
      }
    }
    .tip {
      height: 80px;
      text-align: center;
      font-size: 16px;
      line-height: 60px;
    }
    .progress,
    .oper {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 9;
      height: 80px;
      .entity {
        height: 100%;
        background-color: rgba(0, 204, 0, 0.59);
      }
    }
    .reput-btn {
      position: absolute;
      width: 70px;
      top: 50%;
      margin-top: -12px;
      left: 50%;
      margin-left: -35px;
      background: #bbb;
      border: 1px solid #aaa;
      z-index: 9;
      color: #666;
      cursor: pointer;
      border-radius: 3px;
      &:hover {
        color: #fff;
        background: #e6202f;
        border-color: #e61932;
      }
    }
  }
}
.max_img_panel {
  position: relative;
  z-index: 1000;
  .img_panel {
    display: table;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .img_box {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .img {
    display: inline-block;
    position: relative;
    max-width: 80%;
    i {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 9;
      font-size: 30px;
      cursor: pointer;
      &:hover {
        color: #e00;
      }
    }
  }
}
</style>
