<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="40%"
    :before-close="handleClose"
  >
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="内容">
        <el-input v-model="info.content" :autosize="{ minRows: 6, maxRows: 10}" disabled type="textarea" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="handleClose">关闭</el-button>
    </div>
  </el-dialog>
</template>
<script>
  export default {
    name: 'ViewBlogComment',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {}
      }
    },
    methods: {
      handleClose() {
        this.$emit('close-callback');
      }
    }
  }
</script>
<style scoped>
  .title {
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
