<template>
  <div class="app-container">

    <el-dialog
      v-loading="loading"
      :title="title"
      :visible.sync="visible"
      width="30%"
      :before-close="handleClose"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="班级讲师" prop="lecturerName">
          <el-input v-model="form.lecturerName" class="form-group" disabled>
            <el-button slot="append" icon="el-icon-search" @click="handleLecturerQuery" />
          </el-input>
        </el-form-item>
        <el-form-item label="班级名称" prop="gradeName">
          <el-input v-model="form.gradeName" class="form-group" />
        </el-form-item>
        <el-form-item label="班级权限" prop="verificationSet">
          <el-radio-group v-model="form.verificationSet">
            <el-radio v-for="verificationSet in gradeVerificationSetEnumList" :key="verificationSet.code" :label="verificationSet.code">{{ verificationSet.desc }}</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="班级简介" prop="gradeIntro">
          <el-input v-model="form.gradeIntro" type="textarea" :autosize="{ minRows: 4}" class="form-group" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" @click="handleClose">取 消</el-button>
        <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
      </div>
    </el-dialog>
    <find-sub-lecturer :title="lecturerQueryCtr.title" :visible="lecturerQueryCtr.visible" @callback="lecturerQueryCallback" />
  </div>
</template>
<script>
  import { gradeInfoSave } from '@/api/exam';
  import FindSubLecturer from '@/views/exam/grade/info/list/findSubLecturer';

  export default {
    name: 'GradeInfoAdd',
    components: { FindSubLecturer },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {
          verificationSet: 1
        },
        rules: {
          lecturerName: [
            { required: true, message: '请选择班级讲师', trigger: 'blur' }
          ],
          gradeName: [
            { required: true, message: '请输入班级名称', trigger: 'blur' }
          ],
          verificationSet: [
            { required: true, message: '请选择班级权限', trigger: 'change' }
          ],
          gradeIntro: [
            { required: true, message: '班级简介不能为空', trigger: 'blur' }
          ]
        },
        gradeVerificationSetEnumList: [],
        loading: false,
        lecturerQueryCtr: {
          visible: false,
          title: '讲师查找带回'
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'GradeVerificationSetEnum', type: 'arr' }).then(res => {
        this.gradeVerificationSetEnumList = res;
      });
    },
    methods: {
      handleClose() {
        this.$emit('close');
        this.form = {
          verificationSet: 1
        }
      },
      handleLecturerQuery() {
        this.lecturerQueryCtr.visible = true;
      },
      lecturerQueryCallback(data) {
        this.lecturerQueryCtr.visible = false;
        if (data.id) {
          this.form.lecturerUserNo = data.lecturerUserNo;
          this.form.lecturerName = data.lecturerName;
        }
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true;
        // 新增
        gradeInfoSave(this.form).then(res => {
          this.tips(res.data, 'success');
          this.handleClose();
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
