<template>
  <div class="app-container">

    <el-dialog
      v-loading="loading"
      :title="title"
      :visible.sync="visible"
      width="30%"
      :before-close="handleClose"
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="班级讲师" prop="lecturerName">
          <el-input v-model="form.lecturerName" class="form-group" disabled />
        </el-form-item>
        <el-form-item label="班级名称" prop="gradeName">
          <el-input v-model="form.gradeName" class="form-group" />
        </el-form-item>
        <el-form-item label="班级权限" prop="verificationSet">
          <el-radio-group v-model="form.verificationSet">
            <el-radio v-for="verificationSet in gradeVerificationSetEnumList" :key="verificationSet.code" :label="verificationSet.code">{{ verificationSet.desc }}</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="班级排序" prop="backstageSort">
          <el-input-number v-model="form.backstageSort" controls-position="right" :min="1" class="form-group" />
        </el-form-item>
        <el-form-item label="班级简介" prop="gradeIntro">
          <el-input v-model="form.gradeIntro" type="textarea" :autosize="{ minRows: 4}" class="form-group" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" @click="handleClose">取 消</el-button>
        <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import { gradeInfoUpdate } from '@/api/exam';

  export default {
    name: 'GradeInfoEdit',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        form: {},
        gradeVerificationSetEnumList: [],
        rules: {
          lecturerName: [
            { required: true, message: '请选择班级讲师', trigger: 'blur' }
          ],
          gradeName: [
            { required: true, message: '请输入班级名称', trigger: 'blur' }
          ],
          verificationSet: [
            { required: true, message: '请选择班级权限', trigger: 'change' }
          ],
          backstageSort: [
            { required: true, message: '班级排序不能为空', trigger: 'blur' },
            { type: 'number', message: '班级排序必须为数字值' }
          ],
          gradeIntro: [
            { required: true, message: '班级简介不能为空', trigger: 'blur' }
          ]
        },
        loading: false
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.form = this.info
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'GradeVerificationSetEnum', type: 'arr' }).then(res => {
        this.gradeVerificationSetEnumList = res;
      });
    },
    methods: {
      handleClose() {
        this.$emit('close');
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true;
        // 新增
        gradeInfoUpdate(this.form).then(res => {
          this.tips(res.data, 'success');
          this.handleClose();
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style scoped>

</style>
