<template>
  <div class="app-container">
    <el-dialog
      v-loading="loading"
      :title="title"
      top="8vh"
      :visible.sync="visible"
      width="60%"
      :before-close="handleClose"
    >

      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="讲师名称">
          <el-input v-model="params.lecturerName" />
        </el-form-item>
        <el-form-item class="filter-item" label="手机号码">
          <el-input v-model="params.lecturerMobile" />
        </el-form-item>
        <el-form-item class="filter-item">
          <el-button class="filter-item" type="primary" @click="handleQuery">查询</el-button>
          <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
      </el-form>

      <el-table
        :data="list"
        size="mini"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >

        <el-table-column align="center" type="index" label="序号" width="50" />
        <el-table-column label="手机号码" prop="lecturerMobile" min-width="100" />
        <el-table-column label="讲师名称" prop="lecturerName" min-width="100" />
        <el-table-column label="讲师邮箱" prop="lecturerEmail" min-width="160" />
        <el-table-column label="状态" width="80">
          <template slot-scope="scope">
            {{ statusIdEnums[scope.row.statusId] }}
          </template>
        </el-table-column>
        <el-table-column label="操作" width="80">
          <template slot-scope="scope">
            <el-button type="primary" plain size="mini" @click="handleClose(scope.row)">选择</el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        :current-page="page.pageCurrent"
        :page-size="page.pageSize"
        layout="total, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @current-change="handleCurrentChange"
      />
    </el-dialog>
  </div>
</template>

<script>
  import { lecturerPage } from '@/api/user'

  export default {
    name: 'FindLecturer',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 10,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        params: {},
        statusIdEnums: {},
        loading: false
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.page.pageCurrent = 1;
          this.params = {};
          this.listForPage();
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'arr' }).then(res => {
        res.forEach((item) => {
          this.statusIdEnums[item.code] = item.desc;
        })
      });
    },
    methods: {
      handleClose(data) {
        this.$emit('callback', data);
      },
      listForPage() {
        this.loading = true;
        lecturerPage(this.params, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleQuery() {
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      handleReset() {
        this.params = {};
        this.page.pageCurrent = 1;
        this.listForPage();
      }
    }
  }
</script>

<style scoped>

</style>
