<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="班级名称">
        <el-input v-model="params.gradeName" clearable />
      </el-form-item>
      <el-form-item class="filter-item" label="班级讲师">
        <el-input v-model="params.lecturerName" :disabled="true">
          <el-button slot="append" icon="el-icon-search" @click="handleLecturerQuery" />
        </el-input>
      </el-form-item>
      <el-form-item class="filter-item" label="邀请码">
        <el-input v-model="params.invitationCode" clearable />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="params.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="验证设置">
        <el-select v-model="params.verificationSet" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in gradeVerificationSetEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleQuery">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button  v-if="checkPermission('gradeInfoSave')"  plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="班级名称" prop="gradeName">
        <template slot-scope="scope">
          <el-link type="primary" :underline="false" @click="handleViewRow(scope.row)">{{ scope.row.gradeName }}</el-link>
        </template>
      </el-table-column>
      <el-table-column label="讲师名称" prop="lecturerName" />
      <el-table-column label="邀请码" prop="invitationCode" />
      <el-table-column label="验证设置">
        <template slot-scope="scope">
          {{ gradeVerificationSetEnums[scope.row.verificationSet] }}
        </template>
      </el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="backstageSort" />
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button  v-if="checkPermission('gradeInfoView')"  plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="scope.row.statusId ===1 && checkPermission('gradeInfoUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateRowStatus(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId ===0 && checkPermission('gradeInfoUpdateStatus')" plain type="success" size="mini" @click="handleUpdateRowStatus(scope.row)">启用</el-button>
          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-button v-if="checkPermission('gradeStudentPage')" plain size="mini" @click="handleStudentPageShow(scope.row)">学生管理</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('gradeExamPage')" plain size="mini" @click="handleExamPageShow(scope.row)">考试管理</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('gradeInfoDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">班级删除</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('gradeInfoView')" plain size="mini" @click="handleStudentScorePageShow(scope.row)">考试成绩</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <find-lecturer :title="lecturerQueryCtr.title" :visible="lecturerQueryCtr.visible" @callback="lecturerQueryCallback" />
    <grade-info-add :title="addCtr.title" :visible="addCtr.visible" @close="addGradeInfoClose" />
    <grade-info-edit :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="updateClose" />
    <grade-info-view :title="viewCtr.title" :visible="viewCtr.visible" :info="viewCtr.info" :grade-verification-set-enums="gradeVerificationSetEnums" @close="viewClose" />

    <grade-student-page :title="studentCtr.title" :visible="studentCtr.visible" :info="studentCtr.gradeInfo" @close="gradeStudentPageClose" />
    <grade-exam-page v-if="examCtr.visible" :title="examCtr.title" :visible="examCtr.visible" :info="examCtr.gradeInfo" @close="gradeExamPageClose" />
    <grade-student-score-page  :title="gradeStudentScoreCtr.title" :visible="gradeStudentScoreCtr.visible" :info="gradeStudentScoreCtr.gradeInfo" @close="gradeStudentScorePageClose"/>
  </div>
</template>

<script>
  import { gradeInfoPage, gradeInfoView, gradeInfoUpdateStatus, gradeInfoDelete } from '@/api/exam'
  import FindLecturer from '@/views/exam/grade/info/list/findLecturer';
  import GradeInfoAdd from '@/views/exam/grade/info/list/add';
  import GradeInfoEdit from '@/views/exam/grade/info/list/edit';
  import GradeInfoView from '@/views/exam/grade/info/list/view';
  import GradeStudentPage from '@/views/exam/grade/info/list/student/student';
  import GradeExamPage from '@/views/exam/grade/info/list/gradeExam/list';
  import GradeStudentScorePage from '@/views/exam/grade/info/list/studentScore/list';

  export default {
    name: 'GradeInfoList',
    components: { GradeInfoAdd, GradeInfoEdit, GradeInfoView, GradeStudentPage, FindLecturer, GradeExamPage, GradeStudentScorePage },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        params: {},
        statusIdEnums: {},
        gradeVerificationSetEnums: {},
        lecturerQueryCtr: {
          visible: false,
          title: '讲师查找带回'
        },
        addCtr: {
          visible: false,
          title: '班级添加'
        },
        editCtr: {
          visible: false,
          title: '班级修改',
          info: {}
        },
        viewCtr: {
          visible: false,
          title: '班级查看',
          info: {}
        },
        studentCtr: {
          visible: false,
          title: '学生管理',
          gradeInfo: {}
        },
        examCtr: {
          visible: false,
          title: '学生管理',
          gradeInfo: {}
        },
        gradeStudentScoreCtr: {
          visible: false,
          title: '学员成绩',
          gradeInfo: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'GradeVerificationSetEnum', type: 'obj' }).then(res => {
        this.gradeVerificationSetEnums = res;
      });
    },
    methods: {
      listForPage() {
        this.loading.start();
        gradeInfoPage(this.params, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      handleQuery() {
        this.page.pageCurrent = 1;
        this.listForPage();
      },
      handleReset() {
        this.page.pageCurrent = 1;
        this.params = {};
        this.listForPage();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleLecturerQuery() {
        this.lecturerQueryCtr.visible = true;
      },
      lecturerQueryCallback(data) {
        this.lecturerQueryCtr.visible = false;
        if (data.id) {
          this.params.lecturerUserNo = data.lecturerUserNo;
          this.params.lecturerName = data.lecturerName;
        }
      },
      handleAddRow() {
        this.addCtr.visible = true;
      },
      addGradeInfoClose() {
        this.addCtr.visible = false;
        this.listForPage();
      },
      handleUpdateRow(gradeInfo) {
        this.loading = true;
        gradeInfoView(gradeInfo.id).then(res => {
          this.editCtr.visible = true;
          this.editCtr.info = res.data;
        }).catch(() => {
          this.$message.error('获取班级信息异常');
        }).finally(() => {
          this.loading = false;
        })
      },
      updateClose() {
        this.editCtr.visible = false;
        this.listForPage();
      },
      handleUpdateRowStatus(gradeInfo) {
        {
          let body = '确定禁用班级【' + gradeInfo.gradeName + '】？';
          if (gradeInfo.statusId === 0) {
            body = '确定启用班级【' + gradeInfo.gradeName + '】？';
          }
          this.$confirm(body, '修改状态', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            gradeInfoUpdateStatus(gradeInfo.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            }).finally(() => {
              this.loading = false;
            })
          })
        }
      },
      handleViewRow(gradeInfo) {
        this.loading = true;
        gradeInfoView(gradeInfo.id).then(res => {
          this.viewCtr.visible = true;
          this.viewCtr.info = res.data;
        }).catch(() => {
          this.$message.error('获取班级信息异常');
        }).finally(() => {
          this.loading = false;
        })
      },
      viewClose() {
        this.viewCtr.visible = false;
      },
      handleDeleteRow(gradeInfo) {
        {
          const body = '确定删除班级【' + gradeInfo.gradeName + '】？';
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading = true;
            gradeInfoDelete(gradeInfo.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            }).finally(() => {
              this.loading = false;
            })
          })
        }
      },
      handleStudentPageShow(gradeInfo) {
        this.studentCtr.gradeInfo = gradeInfo;
        this.studentCtr.visible = true;
        this.studentCtr.title = gradeInfo.gradeName + '--学生管理';
      },
      gradeStudentPageClose() {
        this.studentCtr.visible = false;
      },
      handleExamPageShow(gradeInfo) {
        this.examCtr.gradeInfo = gradeInfo;
        this.examCtr.visible = true;
        this.examCtr.title = gradeInfo.gradeName + '--学生管理';
      },
      gradeExamPageClose() {
        this.examCtr.visible = false;
      },
      handleStudentScorePageShow(gradeInfo) {
        this.gradeStudentScoreCtr.gradeInfo = gradeInfo
        this.gradeStudentScoreCtr.visible = true
        this.gradeStudentScoreCtr.title = gradeInfo.gradeName + '--学员成绩'
      },
      gradeStudentScorePageClose() {
        this.gradeStudentScoreCtr.visible = false;
      }

    }
  }
</script>

<style scoped>

</style>
