<template>
  <div class="app-container">
    <el-dialog
      :title="title"
      :visible.sync="visible"
      width="30%"
      :before-close="handleClose"
    >

      <el-row :gutter="20">
        <el-col :span="24">
          <label>班级名称：</label>{{ info.gradeName }}
        </el-col>
      </el-row>
      <el-row :gutter="20" class="view-row">
        <el-col :span="12">
          <label>讲师名称：</label>{{ info.lecturerName }}
        </el-col>
        <el-col :span="12">
          <label>讲师编号：</label>{{ info.lecturerUserNo }}
        </el-col>
      </el-row>

      <el-row :gutter="20" class="view-row">
        <el-col :span="12">
          <label>班级权限：</label>{{ gradeVerificationSetEnums[info.verificationSet] }}
        </el-col>
        <el-col :span="12">
          <label>邀请码：</label>{{ info.invitationCode }}
        </el-col>
      </el-row>

      <el-row :gutter="20" class="view-row">
        <el-col :span="12">
          <label>学生人数：</label>{{ info.studentCount }}人
        </el-col>
        <el-col :span="12">
          <label>考试次数：</label>{{ info.gradeExamCount }}次
        </el-col>
      </el-row>

      <el-row :gutter="20" class="view-row">
        <el-col :span="24">
          <label>班级简介：</label>
          <br>
          <br>
          <el-input
            type="textarea"
            disabled
            :autosize="{ minRows: 2, maxRows: 6}"
            :value="info.gradeIntro"
          />
        </el-col>
      </el-row>

      <div slot="footer" class="dialog-footer">
        <el-button size="mini" type="primary" @click="handleClose">关 闭</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    name: 'GradeInfoView',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: () => {
        }
      },
      gradeVerificationSetEnums: {
        type: Object,
        default: () => {
        }
      }
    },
    methods: {
      handleClose() {
        this.$emit('close');
      }
    }
  }
</script>

<style scoped>
  .view-row {
    margin-top: 20px;
  }
</style>
