<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="用户编号">
        <el-input v-model="map.userNo" />
      </el-form-item>
      <el-form-item class="filter-item" label="用户手机">
        <el-input v-model="map.mobile" />
      </el-form-item>
      <el-form-item class="filter-item" label="用户类型">
        <el-select v-model="map.isVip" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isVipEnum"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="推荐功能">
        <el-select v-model="map.isRecommended" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isRecommendedEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="注册时间">
        <el-date-picker
          v-model="registerTime"
          type="daterange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('exportXls')" @click="handleUserExtExport">导出报表</el-button>
        <el-dropdown v-if="checkPermission('userExtUpload')">
          <el-button size="mini">
            导入用户<i class="el-icon-arrow-down el-icon--right" />
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <a href="vcode/用户导入模板.xlsx" ><el-button plain size="mini">模板下载</el-button></a>
              <el-upload
                action=""
                style="display: inline-block"
                :multiple="false"
                :accept="accept"
                :show-file-list="false"
                :http-request="upload">
                <el-button plain size="mini">模板导入</el-button>
              </el-upload>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <el-tooltip class="item"  effect="light" content="上传文件格式为xlsx，请注意用户信息编辑格式" placement="top-start">
          <svg-icon class="svg-icon" icon-class="question" />
        </el-tooltip>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="用户编号" prop="userNo" width="150"/>
      <el-table-column label="用户手机" prop="mobile" width="120">
        <template slot-scope="scope">
          <el-button type="text" @click="handleViewUserRow(scope.row.userNo)">{{ scope.row.mobile }}</el-button>
        </template>
      </el-table-column>
      <el-table-column label="昵称" prop="nickname" width="120"/>
      <el-table-column label="用户角色" prop="userType" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-info': scope.row.userType === 1, 'c-warning': scope.row.userType === 2}">{{ userTypeEnum[scope.row.userType] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="用户类型" prop="isVip" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-info': scope.row.isVip === 0, 'c-success': scope.row.isVip === 1}">{{ isVipEnum[scope.row.isVip] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="推荐功能" prop="isRecommended" width="80">
        <template slot-scope="scope">
          <span class="" :class="{'c-info': scope.row.isRecommended === 0, 'c-success': scope.row.isRecommended === 1}">{{ isRecommendedEnums[scope.row.isRecommended] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="注册时间" prop="gmtCreate" width="150"/>
      <el-table-column label="状态" prop="statusId" width="50">
        <template slot-scope="scope">
          <span class="" :class="{'c-success': scope.row.statusId === 1, 'c-danger': scope.row.statusId === 0}">{{ statusIdEnum[scope.row.statusId] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('userExtView')"  type="primary" plain size="mini" @click="handleUpdateRow(scope.row.userNo)">编辑</el-button>
          <el-button v-if="checkPermission('courseUserStudyLogStatistical')" plain size="mini" @click="handleStudyLogRow(scope.row)">学习记录</el-button>
          <el-button v-if="scope.row.statusId === 0 && checkPermission('userExtUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('userExtUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>

          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-button  v-if="checkPermission('userLecturerAttention')"  plain size="mini" @click="handleUserLecturerRow(scope.row)">关注的讲师</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="checkPermission('userCollectionCoursePage')"  plain size="mini" @click="handleCollectionCourseRow(scope.row)">收藏的课程</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="scope.row.isBinding === 1 && checkPermission('userExtUnbind')" type="danger" plain size="mini" @click="handleUnbindRow(scope.row)">解绑小程序</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="scope.row.isRecommended === 1 && checkPermission('userRecommendPage')" plain size="mini" @click="handleRecommendedRow(scope.row)">我的推荐列表</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button
                  v-if="new Date(scope.row.expireTime).getTime() > currentTime && scope.row.isVip === 0 && checkPermission('userExtUpdateStatus')"
                  plain
                  type="success"
                  size="mini"
                  @click="handleUpdateVip(scope.row)"
                >恢复会员功能
                </el-button>
                <el-button v-if="scope.row.isVip === 1 && checkPermission('userExtUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateVip(scope.row)">冻结会员功能</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button  v-if="checkPermission('userExtResetError')"  plain size="mini" @click="handleResetErrorRow(scope.row)">重置登录错误次数</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <user-ext-edit
      :title="userExtEditCtr.title"
      :visible="userExtEditCtr.visible"
      :info="userExtEditCtr.info"
      @close-callback="closeCllback"
    />
    <user-lecturer
      :title="userLecturerCtr.title"
      :visible="userLecturerCtr.visible"
      :info="userLecturerCtr.info"
      @close-callback="closeUserLecturerCllback"
    />
    <user-collection-course
      :title="userCollectionCourseCtr.title"
      :visible="userCollectionCourseCtr.visible"
      :info="userCollectionCourseCtr.info"
      @close-callback="closeCollectionCourseCllback"
    />
    <user-ext-info
      :title="userExtViewCtr.title"
      :visible="userExtViewCtr.visible"
      :info="userExtViewCtr.info"
      @close-callback="viewCloseCllback"
    />
  </div>
</template>

<script>
import {userExtPage, userExtResetError, userExtUnbind, userExtView, userExtUpdateStatus, userExtUploadExcel} from '@/api/user'
import userExtEdit from '@/views/user/userExt/edit/index';
import userExtInfo from '@/views/user/userExt/view/index';
import userLecturer from '@/views/user/userLecturerAttention/list/index';
import userCollectionCourse from '@/views/course/userCollectionCourse/list/index';
import {exportXls} from '@/utils';

export default {
  components: {userExtEdit, userLecturer, userCollectionCourse, userExtInfo},
  data() {
    return {
      userExtViewCtr: {
        title: '用户信息',
        info: {},
        visible: false
      },
      userExtEditCtr: {
        title: '编辑用户',
        info: {},
        visible: false
      },
      userLecturerCtr: {
        title: '关注讲师',
        visible: false,
        info: {}
      },
      userCollectionCourseCtr: {
        title: '收藏课程',
        visible: false,
        info: {}
      },
      accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      list: [],
      map: {},
      registerTime: [],
      userTypeEnum: {},
      isVipEnum: {},
      isRecommendedEnums: {},
      statusIdEnum: {},
      currentTime: '',
      listLoading: true
    }
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'UserTypeEnum', type: 'obj'}).then(res => {
      this.userTypeEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'IsVipEnum', type: 'obj'}).then(res => {
      this.isVipEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
      this.statusIdEnum = res;
    })
    this.$store.dispatch('GetOpts', {enumName: 'IsRecommendedEnum', type: 'obj'}).then(res => {
      this.isRecommendedEnums = res;
    })
  },
  created() {
    this.listForPage()
  },
  methods: {
    handleUserLecturerRow(row) {
      this.userLecturerCtr.visible = true;
      this.userLecturerCtr.info = {
        userNo: row.userNo
      }
    },
    closeUserLecturerCllback() {
      this.userLecturerCtr.visible = false;
      this.listForPage()
    },
    handleCollectionCourseRow(row) {
      this.userCollectionCourseCtr.visible = true;
      this.userCollectionCourseCtr.info = {
        userNo: row.userNo
      }
    },
    closeCollectionCourseCllback() {
      this.userCollectionCourseCtr.visible = false;
      this.listForPage()
    },
    upload(file) {
      {
        const body = '确定要导入用户吗？'
        this.$confirm(body, '导入确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          userExtUploadExcel(file).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleUpdateStatus(row) {
      {
        let body = '确定要禁用【' + row.mobile + '】？';
        let statusId = 0;
        if (row.statusId === 0) {
          body = '确定要启用【' + row.mobile + '】？'
          statusId = 1;
        }
        this.$confirm(body, '修改确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          userExtUpdateStatus({id: row.id, statusId: statusId}).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleUpdateVip(row) {
      {
        let body = '要冻结【' + row.mobile + '】会员权限吗？';
        let isVip = 0;
        if (row.isVip === 0) {
          body = '要恢复【' + row.mobile + '】会员权限吗？'
          isVip = 1;
        }
        this.$confirm(body, '超级会员', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          userExtUpdateStatus({id: row.id, isVip: isVip}).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    // 导出数据
    handleUserExtExport() {
      if (this.registerTime && this.registerTime.length) {
        this.map.beginRegisterTime = new Date(this.registerTime[0]).toJSON();
        this.map.endRegisterTime = new Date(this.registerTime[1]).toJSON();
      } else {
        this.map.beginRegisterTime = '';
        this.map.endRegisterTime = '';
      }
      const location = window.location
      console.log(this.map)
      const url = `${location.origin}${process.env.VUE_APP_BASE_API}/user/pc/user/ext/export`;
      exportXls(url, this.map, 'POST')
    },
    viewCloseCllback() {
      this.userExtViewCtr.visible = false;
      this.listForPage()
    },
    handleResetErrorRow(row) {
      {
        const body = '【' + row.mobile + '】将重置登录错误次数'
        this.$confirm(body, '重置确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          userExtResetError(row.userNo).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleUnbindRow(row) {
      {
        const body = '【' + row.mobile + '】将解绑小程序'
        this.$confirm(body, '解绑确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          userExtUnbind(row.userNo).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleStudyLogRow(row) {
      this.$router.push({ path: '/course/course/record/study/log', query: { userNo: row.userNo, name: row.mobile }});
    },
    // 推荐
    handleRecommendedRow(row) {
      this.$router.push({ path: '/user/user/recommend/list', query: { referralCode: row.referralCode }});
    },
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {}
      this.registerTime = []
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleUpdateRow(userNo) {
      this.loading.start()
      userExtView(userNo).then(res => {
        this.userExtEditCtr.info = res.data
        this.userExtEditCtr.visible = true
      })
    },
    handleViewUserRow(userNo) {
      this.loading.start()
      userExtView(userNo).then(res => {
        this.userExtViewCtr.info = res.data
        this.userExtViewCtr.visible = true
      })
    },
    closeCllback() {
      this.userExtEditCtr.visible = false;
      this.handleReset()
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      if (this.registerTime && this.registerTime.length) {
        this.map.beginRegisterTime = this.registerTime[0];
        this.map.endRegisterTime = this.registerTime[1];
      } else {
        this.map.beginRegisterTime = '';
        this.map.endRegisterTime = '';
      }
      this.loading.start()
      userExtPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.currentTime = (new Date()).getTime();
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    }
  }
}
</script>
