<template>
  <!--弹窗-->
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="100px">
      <el-form-item label="排序">
        <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { examRecommendUpdate } from '@/api/exam'

  export default {
    name: 'Edit',
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        ctrl: {
          dialogVisible: true
        },
        opts: {
          navList: []
        },
        form: {
          sort: 1
        },
        rules: {
          navTitle: [
            { required: true, message: '请输入导航标题', trigger: 'blur' }
          ],
          target: [
            { required: true, message: '请选择打开方式', trigger: 'blur' }
          ]
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'NavEnum', type: 'arr' }).then(res => {
        this.opts.navList = res
      })
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields()
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (!this.formData.sort) {
            this.$message({
              type: 'error',
              message: '排序不能为空'
            });
            return false
          }
          // 编辑
          this.loading = true
          examRecommendUpdate({id: this.formData.id, sort: this.formData.sort}).then(res => {
            this.loading = false
            if (res.code === 200) {
              // 提交成功, 关闭窗口, 刷新列表
              this.tips('操作成功', 'success')
              this.handleClose()
            } else {
              this.$message({
                type: 'error',
                message: '提交失败'
              });
            }
          }).catch(() => {
            this.loading = false
          })
        });
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 200px;
  }
</style>
