<template>
  <div v-if="info" class="activity-page" :style="{ 'backgroundImage': `url(${info.actBackImg})`, 'backgroundColor': info.actBackColor }">
    <div class="banner" :style="{ 'backgroundImage': `url(${info.actImg})` }">
      <!--<img :src="info.actImg" :alt="info.actTitle">-->
    </div>
    <div v-if="actType == 1" class="">
      <div v-for="(item, index) in info.actZoneList" :key="index" class="zone-content">
        <div class="container">
          <div class="zone-title">{{ item.zoneTitle }}</div>
          <course-coupon :list="item.aoneCourseList" />
        </div>
      </div>
    </div>
    <div v-if="actType == 2" class="container">
      <div class="tabs-panel clearfix">
        <div v-for="(item, index) in info.actZoneList" :key="index" class="tab" :class="{'on' : seckillZone === index}" @click="countTIme(index)">
          <span class="tab-title">{{ item.zoneTitle }}</span>
          <span class="status">{{ item | countStatus }}</span>
          <div class="count-box">
            <span class="">{{ item | countStatus1 }}</span>
            <div v-if="seckillData && seckillData.status === 3" class="count-time"><span>已结束</span> 00:00:00 </div>
            <div v-else class="count-time"><span>{{ spikeStage }}</span> {{ spikeTime }}</div>
          </div>
        </div>
      </div>
      <div v-for="(item, index) in info.actZoneList" :key="index" class="course-list">
        <seckill v-if="seckillZone === index" :list="item.aoneCourseList" :status="seckillData.status" />
      </div>
    </div>
  </div>
</template>

<script>
import CourseCoupon from '~/components/activity/CourseCouponBox'
import seckill from '~/components/activity/CourseSeckillPanel'
import * as actApi from '~/api/activity.js'
export default {
  // name: 'Sale',
  layout: 'activity',
  components: { CourseCoupon, seckill },
  head() {
    return {
      title: this.info
        ? this.info.actTitle
        : ''
    }
  },
  filters: {
    countStatus(row) {
      const now = new Date()
      const nowTime = now.getTime()
      const year = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
      const begin = new Date(year + ' ' + row.beginTime)
      const end = new Date(year + ' ' + row.endTime)
      const beginTime = begin.getTime()
      const endTime = end.getTime()
      if (nowTime < beginTime) {
        return '即将开始'
      } else if (endTime > nowTime) {
        return '正在进行'
      } else {
        return '已结束'
      }
    },
    countStatus1(row) {
      const now = new Date()
      const nowTime = now.getTime()
      const year = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
      const begin = new Date(year + ' ' + row.beginTime)
      const end = new Date(year + ' ' + row.endTime)
      const beginTime = begin.getTime()
      const endTime = end.getTime()
      if (nowTime < beginTime) {
        return '即将开始'
      } else if (endTime > nowTime) {
        return '正在秒杀'
      } else {
        return '已结束'
      }
    }
  },
  data() {
    return {
      spikeStage: '',
      spikeTime: '',
      timeout: undefined,
      seckillData: undefined,
      seckillZone: null
    }
  },
  async asyncData(context) {
    const type = context.params.type
    const data = await actApi.nowACTView({ actType: type })
    return {
      actType: type,
      info: data.data
    }
  },
  mounted() {
    this.getNowAct()
  },
  methods: {
    getNowAct() {
      // 获取正在进行的活动
      let nowRow, nextRow
      this.info.actZoneList.map((item, index) => {
        const { status } = this.countStatus(item)
        if (status === 1 && !nextRow) {
          nextRow = index
        }
        if (status === 2) {
          nowRow = index
        }
      })
      if (!nowRow) {
        nowRow = nextRow
      }
      this.countTIme(nowRow)
    },
    // 计算状态
    countStatus(row) {
      const now = new Date()
      const nowTime = now.getTime()
      const year = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate()
      const begin = new Date(year + ' ' + row.beginTime)
      const end = new Date(year + ' ' + row.endTime)
      const beginTime = begin.getTime()
      const endTime = end.getTime()
      if (nowTime < beginTime) {
        return {
          status: 1,
          beginTime,
          endTime
        }
      } else if (endTime > nowTime) {
        return {
          status: 2,
          beginTime,
          endTime
        }
      } else {
        return {
          status: 3,
          beginTime,
          endTime
        }
      }
    },
    // 计算时间
    countTIme(index = 0) {
      const row = this.info.actZoneList[index]
      this.seckillZone = index
      clearTimeout(this.timeout)
      const { status, beginTime, endTime } = this.countStatus(row)

      this.seckillData = {
        status: status, // 1:未开始，2：进行中，3：已结束
        beginDate: beginTime,
        endDate: endTime,
        ...row
      }
      this.seckillTimeout()
    },
    seckillTimeout() {
      const now = new Date()
      let timeDiff = 0
      if (this.seckillData.status === 1) {
        // 未开始
        this.spikeStage = '距开始'
        timeDiff = this.seckillData.beginDate - now.getTime()
      } else if (this.seckillData.status === 2) {
        this.spikeStage = '距结束'
        timeDiff = this.seckillData.endDate - now.getTime()
      }
      this.spikeTime = this.seckillData.beginTime
      if (timeDiff > 0) {
        this.spikeTime = this.formatDuring(timeDiff)
        this.timeout = setTimeout(() => {
          this.seckillTimeout()
        }, 1000)
      } else {
        // this.getNowAct()
      }
    },
    formatDuring(mss) {
      // const days = parseInt(mss / (1000 * 60 * 60 * 24));
      const hours = parseInt((mss % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = parseInt((mss % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = parseInt((mss % (1000 * 60)) / 1000);
      return (hours < 10 ? '0' + hours : hours) + ':' + (minutes < 10 ? '0' + minutes : minutes) + ':' + (seconds < 10 ? '0' + seconds : seconds);
    }
  }
}
</script>

<style lang="scss" scoped>
  .activity-page{
    background-repeat: repeat;
    background-position: top center;
  }
  .banner{
    height: 400px;
    min-width: 1200px;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .zone-title{
    text-align: center;
    font-size: 26px;
    line-height: 60px;
  }
  .tabs-panel{
    margin-left: 60px;
    .tab{
      margin-top: 12px;
      height: 60px;
      background-color: #fff;
      float: left;
      width: 20%;
      position: relative;
      text-align: center;
      transition: all .3s;
      &:before{
        display: block;
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 60px 60px;
        border-color: transparent transparent #fff;
        transition: all .3s;
        position: absolute;
        left: -60px;
        top: 0;
        zoom: 1;
      }
      &:after{
        display: block;
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 60px 60px 0 0;
        border-color: #fff transparent transparent;
        transition: all .3s;
        position: absolute;
        right: -60px;
        top: 0;
        zoom: 1;
      }
      &:hover{
        .tab-title{
          color: #e01222;
        }
      }
      &.on{
        padding-left: 20px;
        background-color: #e01222;
        color: #fff;
        z-index: 99;
        &:before{
          border-bottom-color: #e01222;
        }
        &:after{
          border-top-color: #e01222;
        }
        &>.status{
          display: none;
        }
        .tab-title{
          text-align: center;
          float: left;
          font-size: 20px;
          width: 80px;
          color: #fff;
        }
        .count-box{
          display: block;
        }
      }
    }
    .tab-title{
      width: 70px;
      display: inline-block;
      font-size: 16px;
      line-height: 50px;
      overflow: hidden;
      margin-top: 4px;
      margin-right: 10px;
      vertical-align: middle;
    }
    .status{
      border: 1px solid #666;
      padding: 0 14px;
      vertical-align: middle;
      height: 26px;
      line-height: 25px;
      color: #666;
      -moz-border-radius: 22px;
      border-radius: 22px;
      font-size: 12px;
      display: inline-block;

    }
    .count-box{
      float: left;
      display: none;
      font-size: 14px;
      margin-top: 12px;
    }
  }
  .course-list{
    margin-top: 30px;
  }
</style>
