<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="登录账号">
        <el-input v-model="map.loginName" />
      </el-form-item>
      <el-form-item class="filter-item" label="用户昵称">
        <el-input v-model="map.nickname" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('sysUserSave')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="登录账号" prop="loginName" />
      <el-table-column label="用户昵称" prop="nickname" />
      <el-table-column label="备注描述" prop="remark" />
      <el-table-column label="创建时间" prop="gmtCreate" />
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" />
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('sysUserView')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('sysUserAllocationRole')" plain type="warning" size="mini" @click="handleAllocation(scope.row.id)">角色分配</el-button>
          <el-dropdown>
            <el-button size="mini">
              更多操作<i class="el-icon-arrow-down el-icon--right" />
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <el-button  v-if="checkPermission('sysUserUpdatePassword')" plain type="warning" size="mini" @click="handleUpdatePassword(scope.row.id)">密码</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button v-if="scope.row.statusId === 0 && checkPermission('sysUserUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
                <el-button v-if="scope.row.statusId === 1 && checkPermission('sysUserUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
              </el-dropdown-item>
              <el-dropdown-item>
                <el-button  v-if="checkPermission('sysUserDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-sys-user :title="addCtr.title" :visible="addCtr.visible" @close="closeAdd" />
    <edit-sys-user :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close="closeEdit" />
    <reset-password-sys-user :title="resetPasswordCtr.title" :visible="resetPasswordCtr.visible" :info="resetPasswordCtr.info" @close="closeUpdatePassword" />
    <allocation-sys-role :id="allocationCtr.id" :title="allocationCtr.title" :visible="allocationCtr.visible" @close="closeAllocation" />
  </div>
</template>

<script>
  import { sysUserPage, sysUserDelete, sysUserView, sysUserUpdateStatus } from '@/api/system'
  import AddSysUser from '@/views/system/sysUser/add/index';
  import EditSysUser from '@/views/system/sysUser/edit/index';
  import ResetPasswordSysUser from '@/views/system/sysUser/reset/index';
  import AllocationSysRole from '@/views/system/sysUser/allocation/index';

  export default {
    components: { AllocationSysRole, ResetPasswordSysUser, EditSysUser, AddSysUser },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        statusIdEnums: {},
        addCtr: {
          title: '添加用户',
          visible: false
        },
        editCtr: {
          title: '修改用户',
          visible: false,
          info: {}
        },
        resetPasswordCtr: {
          title: '修改密码',
          visible: false,
          info: {}
        },
        allocationCtr: {
          title: '分配角色',
          visible: false,
          id: undefined
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysUserDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.addCtr.visible = true;
      },
      closeAdd() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.addCtr.visible = false;
      },
      handleUpdateRow(id) {
        sysUserView(id).then(res => {
          this.editCtr.info = res.data;
          this.editCtr.visible = true;
        })
      },
      closeEdit() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.editCtr.visible = false;
      },
      handleUpdateStatus(row) {
        {
          let body = '确定要禁用【' + row.loginName + '】？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用【' + row.loginName + '】？'
            statusId = 1;
          }
          this.$confirm(body, '修改确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            sysUserUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUpdatePassword(id) {
        this.resetPasswordCtr.info = {
          id: id
        };
        this.resetPasswordCtr.visible = true;
      },
      closeUpdatePassword() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.resetPasswordCtr.visible = false;
      },
      handleAllocation(id) {
        this.allocationCtr.id = id;
        this.allocationCtr.visible = true;
      },
      closeAllocation() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.allocationCtr.visible = false;
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        sysUserPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
