<style lang="scss" scoped>
.bg,
.selectBox {
	position: fixed;
	left: 0;
	right: 0 ;
	bottom: 0;
	top: 0;
	/*  #ifdef  H5  */
	top: 44px;
	/*  #endif  */
	z-index: 100;
	.bg {
		background: rgba(0,0,0,0.5);
	}
	.head {
		background-color: #fff;
		line-height: 100upx;
		padding: 0 36upx;
		z-index: 101;
		position: relative;
		font-size: 30upx;
		color: #2488EC;
		text {
			color:#333;
			margin: 0 10upx;
		}
	}
	
	.main {
		background-color: #fff;
		display: flex;
		z-index: 101;
		position: relative;
		padding:  0 36upx;
		.selectList {
			flex: 1;
			max-height: 80vh;
			overflow-y: auto;
			.selectItem {
				font-size: 28upx;
				line-height: 80upx;
				text-align: center;
				padding-left: 20upx;
				color: #333333;
				&.active {
					color: #2488EC;
				}
			}
		}
	}
	
}
</style>

<template>
	<view class="selectBox">
		<view class="bg" @click="close"></view>
		<view class="head" v-if="activeClass.categoryName ">
			{{ activeClass.categoryName || '' }} <text v-if="activeTwo.id">></text>{{ activeTwo.categoryName || '' }} <text v-if="activeThree.id">></text>{{ activeThree.categoryName || '' }}
		</view>
		<view class="head" v-else>
			请选择
		</view>
		<view class="main">
			<view class="selectList">
				<view :class="['selectItem', activeClass.id == item.id?'active':'']" v-for="(item, index) in classList" :key="index" @click="selectClass(item)">{{ item.categoryName }}</view>
			</view>
			<view class="selectList" >
				<view :class="['selectItem', activeTwo.id == item.id?'active':'']" v-for="(item, index) in twoList" :key="index" @click="selectTwoList(item)">{{ item.categoryName }}</view>
			</view>
			<view class="selectList" >
				<view :class="['selectItem', activeThree.id == item.id?'active':'']" v-for="(item, index) in threeList" :key="index" @click="selectThreeList(item)">{{ item.categoryName }}</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {categoryList} from "@/api/course.js"
 	export default {
		data() {
			return {
				classList: [],
				twoList: [],
				threeList: [],
				activeClass: {id: ''},
				activeTwo: {id: ''},
				activeThree: {id: ''}
			};
		},
		created() {
			this.getClassList();
		},
		methods:  {
			close() {
				this.$emit('close')
			},
			getClassList () {
				categoryList({
					categoryType: 4 
				}).then(res=>{
					if(res && res.courseCategoryList) {
						res.courseCategoryList.forEach((item)=>{
							if(item && item.twoList && item.twoList.length) {
								item.twoList.unshift({
									categoryName: '全部'
								})
								item.twoList.forEach((e)=>{
									if(e && e.threeList && e.threeList.length) {
										e.threeList.unshift({
											categoryName: '全部'
										})
									}
								})
							}
						})
						this.classList = res.courseCategoryList
					}
				})
			},
			selectClass(item) {
				this.activeClass = item || {};
				if(item && item.twoList && item.twoList.length) {
					this.twoList = item.twoList;
				} else {
					this.twoList = []
					this.activeTwo = {};
					this.submit(item)
				}
			},
			selectTwoList(item) {
				this.activeTwo = item || {};
				if(item && item.threeList && item.threeList.length) {
					this.threeList = item.threeList;
				} else {
					this.threeList = [];
					this.activeThree = {};
					this.submit(item)
				}
			},
			selectThreeList(item) {
				this.activeThree = item || {};
				this.submit(item)
			},
			submit() {
				this.$emit('close')
				let t = '>'
				let name = this.activeClass.categoryName + 
				(this.activeTwo.id ? t + this.activeTwo.categoryName:'') + 
				(this.activeThree.id ? t + this.activeThree.categoryName:'') 
				this.$emit('submit', {
					categoryId1: this.activeClass.id,
					categoryId2: this.activeTwo.id,
					categoryId3: this.activeThree.id,
					name: name
				})
			}
		}
	}
</script>

