<template>
  <!--弹窗-->
  <el-dialog
    width="80%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <div class="pad20">
      <div>
        <el-form :inline="true" size="mini">
          <el-form-item label="试卷名称">
            <el-input v-model="map.examName" />
          </el-form-item>
          <el-form-item>
            <el-button icon="el-icon-search" type="primary" @click="handleCheck">查询</el-button>
            <el-button icon="el-icon-refresh" class="filter-item" @click="handleReset">重置</el-button>
          </el-form-item>
          <el-button plain type="success" size="mini" @click="handleChoiceBatch">批量选择</el-button>
        </el-form>
      </div>
      <div>
        <el-table
          v-loading="ctrl.load"
          size="mini"
          :data="list"
          border
          stripe
          @selection-change="handleSelectionChange"
        >
          <el-table-column align="center" type="selection" width="50" />
          <el-table-column align="center" type="index" label="序号" width="50" />
          <el-table-column label="试卷名称" prop="examName" />
          <el-table-column label="科目">
            <template slot-scope="scope">
              {{ scope.row.courseParentName }}{{ scope.row.courseName }}
            </template>
          </el-table-column>
          <el-table-column label="年份">
            <template slot-scope="scope">
              {{ scope.row.year }}
            </template>
          </el-table-column>
          <el-table-column label="来源">
            <template slot-scope="scope">
              {{ scope.row.sourceView }}
            </template>
          </el-table-column>
          <el-table-column label="是否收费">
            <template slot-scope="scope">
              {{ isFreeEnums[scope.row.isFree] }}
            </template>
          </el-table-column>
          <el-table-column label="价格">
            <template slot-scope="scope">

              原价：{{ scope.row.orgPrice }}
              <br>
              <span style="color: #F56C6C">会员价：{{ scope.row.fabPrice }}</span>
            </template>
          </el-table-column>
          <el-table-column label="上下架">
            <template slot-scope="scope">
              {{ isPutawayEnums[scope.row.isPutaway] }}
            </template>
          </el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              {{ statusIdEnums[scope.row.statusId] }}
            </template>
          </el-table-column>
          <el-table-column label="排序" prop="sort" />
          <el-table-column
            fixed="right"
            label="操作"
            width="100"
          >
            <template slot-scope="scope">
              <el-button type="primary" plain size="mini" @click="handleChoice(scope.row)">选择</el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div>
        <el-pagination
          background
          style="float: right;margin-top: 20px; margin-bottom: 22px"
          :page-size="page.pageSize"
          layout="total,  prev, pager, next, jumper"
          :total="page.totalCount"
          @current-change="handleCurrentChange"
        />
      </div>
      <br>
      <br>
    </div>
  </el-dialog>
</template>
<script>
  import {examRecommendSaveBatch, examPage, examRecommendSave} from '@/api/exam'

  export default {
    props: {
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      },
      formData: {
        type: Object,
        default: () => {
        }
      }
    },
    data() {
      return {
        map: {},
        list: [],
        ctrl: {
          load: false
        },
        statusIdEnums: {},
        isPutawayEnums: {},
        isFreeEnums: {},
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        checkIds: ''
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsPutawayEnum', type: 'obj' }).then(res => {
        this.isPutawayEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsFreeEnum', type: 'obj' }).then(res => {
        this.isFreeEnums = res;
      });
      this.pageList()
    },
    methods: {
      handleCurrentChange(val) {
        this.page.pageCurrent = val
        this.pageList()
        // console.log(`当前页: ${val}`)
      },
      handleSelectionChange(checkList) {
        let resultIds = '';
        for (const index in checkList) {
          resultIds += checkList[index].id;
          if ((parseInt(index) + 1) < checkList.length) {
            resultIds += ',';
          }
        }
        this.checkIds = resultIds;
      },
      handleChoiceBatch() {
        if (this.checkIds === undefined || this.checkIds === '') {
          this.$message.error('请选中需要被推荐的试卷')
          return false;
        }
        {
          const body = '确定要批量推荐这批试卷吗？';
          this.$confirm(body, '批量推荐', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            examRecommendSaveBatch({examIds: this.checkIds}).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            })
          })
        }
      },
      // 查询条件
      handleCheck() {
        this.pageList()
      },
      // 重置查询条件
      handleReset() {
        this.reload()
      },
      // 分页列出课程信息
      pageList() {
        this.ctrl.load = true
        examPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
          this.ctrl.load = false
        }).catch(() => {
          this.ctrl.load = false
        })
      },
      // 刷新当前页面
      reload() {
        this.map = {}
        this.pageList()
      },
      handleChoice(row) {
        {
          const body = '确定选择【' + row.examName + '】？'
          this.$confirm(body, '选择确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            examRecommendSave({examId: row.id}).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          })
        }
      },
      handleClose() {
        this.$emit('close-callback')
      },
      textClass(isFree) {
        return {
          c_red: isFree === 0,
          c_blue: isFree === 1
        }
      }
    }
  }
</script>
<style scoped>
</style>
