<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    width="60%"
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="手机号码">
        <el-input v-model="map.mobile" />
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>

      <el-button plain type="success" size="mini" @click="handleBatchSelect">批量新增</el-button>
    </el-form>
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" />
      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="手机" prop="mobile" />
      <el-table-column label="昵称" prop="nickname" />
      <el-table-column label="用户类型" width="80">
        <template slot-scope="scope">
          {{ userTypeEnums[scope.row.userType] }}
        </template>
      </el-table-column>
      <el-table-column label="状态" width="80">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="注册时间" prop="gmtCreate" width="140" />
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleSelect(scope.row)">添加</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>
<script>
  import { bloggerSave, bloggerBatchSave } from '@/api/community'
  import { userExtPage } from '@/api/user'

  export default {
    name: 'AddBlogger',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        loading: false,
        checkUserNos: undefined,
        userTypeEnums: {},
        statusIdEnums: {}
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.map = {
            statusId: 1
          }
          this.listForPage();
          this.$store.dispatch('GetOpts', { enumName: 'UserTypeEnum', type: 'obj' }).then(res => {
            this.userTypeEnums = res;
          });
          this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
            this.statusIdEnums = res;
          });
        }
      }
    },
    methods: {
      handleClose() {
        this.map = {}
        this.$emit('close')
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {
          statusId: 1
        }
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.checkUserNos = '';
        this.loading = true;
        userExtPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      },
      handleSelect(row) {
        {
          const body = '确定要选择【' + row.mobile + '】？'
          this.$confirm(body, '添加确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading = true;
            bloggerSave({ userNo: row.userNo }).then(res => {
              this.$message.success(res.data);
              this.handleClose();
            }).finally(() => {
              this.loading = false;
            })
          })
        }
      },
      handleSelectionChange(val) {
        let resultUserNos = '';
        for (const i in val) {
          resultUserNos += val[i].userNo;
          if ((parseInt(i) + 1) !== val.length) {
            resultUserNos += ',';
          }
        }
        this.checkUserNos = resultUserNos;
      },
      handleBatchSelect() {
        if (this.checkUserNos === undefined || this.checkUserNos === '') {
          this.$message.error('请选择需要添加的用户');
          return;
        }
        {
          const body = '确定要添加选中项吗？'
          this.$confirm(body, '添加确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading = true;
            bloggerBatchSave({ userNos: this.checkUserNos }).then(res => {
              this.$message.success(res.data);
              this.handleClose();
            }).finally(() => {
              this.loading = false;
            })
          })
        }
      }
    }
  }
</script>
