<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>

      <el-button plain type="success" size="mini" @click="handleAddRow">新增</el-button>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="创建时间" prop="gmtCreate" />
      <el-table-column label="修改时间" prop="gmtModified" />
      <el-table-column label="课程简介" prop="introduce" />
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
  import { courseIntroduceAuditPage, courseIntroduceAuditDelete } from '@/api/course'

  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    methods: {
      handleDeleteRow(row) {
        {
          const body = '确定要删除？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            courseIntroduceAuditDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.$router.push('/course/course/introduce/audit/add')
      },
      handleUpdateRow(id) {
        this.$router.push({ path: '/course/course/introduce/audit/edit', query: { id: id }})
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        courseIntroduceAuditPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
