<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="名称">
        <el-input v-model.trim="map.title" />
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
        <el-button plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <!-- 课程     -->
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column v-if="zoneCategory === 1 || zoneCategory === 2 || zoneCategory === 4" label="封面" width="120">
        <template slot-scope="scope">
          <img :src="scope.row.course.courseLogo" :alt="scope.row.courseName" width="100">
        </template>
      </el-table-column>
      <el-table-column v-if="zoneCategory === 1" label="点播名称">
        <template slot-scope="scope">
          {{ scope.row.course.courseName }}
        </template>
      </el-table-column>
      <el-table-column v-if="zoneCategory === 2" label="直播名称">
        <template slot-scope="scope">
          {{ scope.row.course.courseName }}
        </template>
      </el-table-column>
      <el-table-column v-if="zoneCategory === 4" label="文库名称">
        <template slot-scope="scope">
          {{ scope.row.course.courseName }}
        </template>
      </el-table-column>

      <!-- 试卷     -->
      <el-table-column v-if="zoneCategory === 5 " label="试卷名称">
        <template slot-scope="scope">
          {{ scope.row.exam.examName }}
        </template>
      </el-table-column>

      <!-- 博文     -->
      <el-table-column v-if="zoneCategory === 8" label="封面" width="120">
        <template slot-scope="scope">
          <img :src="scope.row.blog.blogImg" width="100" alt="">
        </template>
      </el-table-column>
      <el-table-column v-if="zoneCategory === 7" label="博文标题">
        <template slot-scope="scope">
          {{ scope.row.blog.title }}
        </template>
      </el-table-column>
      <el-table-column v-if="zoneCategory === 8" label="资讯标题">
        <template slot-scope="scope">
          {{ scope.row.blog.title }}
        </template>
      </el-table-column>
      <!-- 自定义 -->
      <el-table-column v-if="zoneCategory === 9" label="封面" width="120">
        <template slot-scope="scope">
          <img :src="scope.row.img" width="100" alt="">
        </template>
      </el-table-column>
      <el-table-column v-if="zoneCategory === 9" prop="title,url" label="名称">
        <template slot-scope="scope">
          <el-link type="primary" target="_blank" @click="jumpUrl(scope.row.url)">{{ scope.row.title }}</el-link>
        </template>
      </el-table-column>
      <el-table-column v-if="zoneCategory === 9" prop="url" label="链接地址">
        <template slot-scope="scope">
          {{ scope.row.url }}
        </template>
      </el-table-column>
      <el-table-column v-if="zoneCategory === 12" label="问答标题">
        <template slot-scope="scope">
          {{ scope.row.questions.title }}
        </template>
      </el-table-column>
      <el-table-column label="展示平台" width="100">
        <template slot-scope="scope">
          <span>{{ textZoneLocation[scope.row.zoneLocation] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column prop="sort" label="排序" width="100" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="zoneCategory === 9" plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button v-if="zoneCategory != 9" plain type="primary" size="mini" @click="handleUpdateSortRow(scope.row)">排序</el-button>
          <el-button v-if="scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId === 0 " plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-course v-if="ctrl.addCourseDialogVisible" :visible="ctrl.addCourseDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <add-exam v-if="ctrl.addExamDialogVisible" :visible="ctrl.addExamDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <add-blog v-if="ctrl.addBlogDialogVisible" :visible="ctrl.addBlogDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <add-define v-if="ctrl.addDefineDialogVisible" :visible="ctrl.addDefineDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <add-questions v-if="ctrl.addQuestionsDialogVisible" :visible="ctrl.addQuestionsDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <sort v-if="ctrl.sortDialogVisible" :visible="ctrl.sortDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <edit v-if="ctrl.editDefineDialogVisible" :visible="ctrl.editDefineDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>

</template>

<script>
  import {zoneRefPage, zoneRefDelete, zoneRefUpdateStatus} from '@/api/system'
  import Sort from '../sort'
  import Edit from '../edit'
  import AddCourse from '../add/findCourse'
  import AddBlog from '../add/findBlog'
  import AddExam from '../add/findExam'
  import AddQuestions from '../add/findQuestions'
  import AddDefine from '../add/findDefine'

  export default {
    components: { Sort, AddBlog, AddCourse, AddExam, AddDefine, AddQuestions, Edit },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        textZoneLocation: { // 1电脑端，2微信端
          1: 'PC端',
          2: '移动端'
        },
        zoneId: '', // 专区id
        zoneLocation: '', // 专区展示位置  1电脑端，2微信端
        ctrl: {
          addExamDialogVisible: false, // 添加试卷
          addCourseDialogVisible: false, // 添加课程
          addBlogDialogVisible: false, // 添加博客
          addDefineDialogVisible: false, // 添加自定义
          sortDialogVisible: false, // 排序
          editDefineDialogVisible: false, // 修改自定义
          addQuestionsDialogVisible: false // 添加问答
        },
        formData: {},
        list: [],
        map: {},
        statusIdEnums: {},
        listLoading: true
      }
    },
    computed: {
      zoneCategory() {
        return parseInt(this.$route.query.zoneCategory)
      }
    },
    created() {
      this.zoneId = this.$route.query.zoneId
      this.zoneLocation = this.$route.query.zoneLocation
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
    },
    methods: {
      // 链接跳转
      jumpUrl(url) {
        window.open(url)
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            zoneRefUpdateStatus({id: row.id, statusId: statusId}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            zoneRefDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.sortDialogVisible = false;
        this.ctrl.addCourseDialogVisible = false;
        this.ctrl.addExamDialogVisible = false;
        this.ctrl.addBlogDialogVisible = false;
        this.ctrl.addDefineDialogVisible = false;
        this.ctrl.editDefineDialogVisible = false;
        this.ctrl.addQuestionsDialogVisible = false;
        this.reload();
      },
      handleChangeStatus(id, statusId) {
        const title = {0: '禁用', 1: '启用'};
        this.$confirm(`确定要${title[statusId]}吗?`, {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // this.ctrl.loading = true;
          this.changeStatus(id, statusId)
        }).catch(() => {
          this.reload()
        })
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleUpdateSortRow(data) {
        this.formData = data;
        this.ctrl.dialogTitle = '排序';
        this.ctrl.sortDialogVisible = true;
      },
      handleUpdateRow(data) {
        this.formData = data;
        this.ctrl.dialogTitle = data.title;
        this.ctrl.editDefineDialogVisible = true;
      },
      handleAddRow() {
        // 根据不同类型打开不同的增加页面
        this.formData = {
          zoneId: this.zoneId,
          zoneLocation: this.zoneLocation
        }
        if (this.zoneCategory === 1) {
          this.ctrl.dialogTitle = '添加点播课程'
          this.formData.courseCategory = this.zoneCategory
          this.formData.sort = 10
          this.ctrl.addCourseDialogVisible = true
        } else if (this.zoneCategory === 2) {
          this.ctrl.dialogTitle = '添加直播课程'
          this.formData.courseCategory = this.zoneCategory
          this.formData.sort = 20
          this.ctrl.addCourseDialogVisible = true
        } else if (this.zoneCategory === 4) {
          this.ctrl.dialogTitle = '添加文库'
          this.formData.courseCategory = this.zoneCategory
          this.formData.sort = 40
          this.ctrl.addCourseDialogVisible = true
        } else if (this.zoneCategory === 5) {
          this.ctrl.dialogTitle = '添加试卷'
          this.formData.sort = 50
          this.ctrl.addExamDialogVisible = true
        } else if (this.zoneCategory === 7) {
          this.formData.articleType = 1
          this.formData.sort = 70
          this.ctrl.dialogTitle = '添加博客'
          this.ctrl.addBlogDialogVisible = true
        } else if (this.zoneCategory === 8) {
          this.ctrl.dialogTitle = '添加资讯'
          this.formData.articleType = 2
          this.formData.sort = 80
          this.ctrl.addBlogDialogVisible = true
        } else if (this.zoneCategory === 9) {
          this.ctrl.dialogTitle = '添加自定义'
          this.formData.sort = 90
          this.ctrl.addDefineDialogVisible = true
        } else if (this.zoneCategory === 12) {
          this.ctrl.dialogTitle = '问答'
          this.formData.sort = 120
          this.ctrl.addQuestionsDialogVisible = true
        }
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        console.log('===>', this.zoneCategory)
        // this.listLoading = true
        this.map.zoneId = this.$route.query.zoneId
        this.map.zoneLocation = this.zoneLocation
        this.loading.start()
        zoneRefPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
