<template>
  <div :id="elementById" :style="'height:' + height + 'px;width:' + width +'px;'">
    {{ title }}
  </div>
</template>

<script>
  import echarts from 'echarts'
  import 'echarts/map/js/china.js';
  export default {
      name: 'Map',
      props: {
        title: {
          type: String,
          default: ''
        },
        data: {
          type: Array,
          default: () => {
            return []
          }
        },
        height: {
          type: Number,
          default: 400
        },
        width: {
          type: Number,
          default: 600
        }
      },
      watch: {
        data() {
          this.parseOption()
        }
      },
      data() {
          return {
            elementById: 'main',
            myChart: undefined
          }
      },
      created() {
        this.elementById = 'map' + parseInt(Math.random() * 10000)
      },
      mounted() {
        this.myChart = echarts.init(document.getElementById(this.elementById), 'light');
        this.parseOption()
      },
      methods: {
        parseOption() {
          const list = this.data
          let max = 0; let min = 0;
          list.map(item => {
            if (item.value > max) max = item.value
            if (item.value < min || min === 0) min = item.value
          })
          let maxStr = parseInt(parseInt(max).toString().substr(0, 1)) + 1
          let minStr = parseInt(min).toString().substr(0, 1)
          const maxLength = parseInt(max).toString().length
          const minLength = parseInt(min).toString().length
          for (let i = 1; i < maxLength; i++) {
            maxStr += '0'
          }
          if (min !== 0) {
            minStr = parseInt(parseInt(min).toString().substr(0, 1)) - 1
            for (let i = 1; i < minLength; i++) {
              minStr += '0'
            }
          }
          this.setOption(list, parseInt(maxStr), parseInt(minStr))
        },
        setOption(list, max, min) {
          this.myChart.setOption({
            title: {
              text: this.title
            },
            tooltip: {
              trigger: 'item',
              formatter: this.formatter
            },
            toolbox: {
              show: true,
              orient: 'vertical',
              left: 'right',
              top: 'center',
              feature: {
                dataView: {readOnly: false},
                restore: {},
                saveAsImage: {}
              }
            },
            visualMap: {
              min: min,
              max: max,
              text: ['高', '低'],
              realtime: false,
              calculable: true,
              inRange: {
                color: ['lightskyblue', 'yellow', 'orangered']
              }
            },
            series: [
              {
                name: this.title,
                type: 'map',
                mapType: 'china', // 自定义扩展图表类型
                label: {
                  show: true
                },
                data: list
              }
            ]
          });
        },
        formatter: function(params, ticket, callback) {
          return params.name + ': ' + (params.value || 0) + ' (人)';
        }
      }
    }
</script>

<style scoped>
  .map-container{
    border: 1px solid #ddd;
  }
</style>
