<template>
<view>
  <view class="activity_top">
    <image v-if="actInfo.actImg" :src="actInfo.actImg" class="top_img" mode="aspectFill"></image>
  </view>
  <view>
    <view>
      <view class="list_box">
        <view v-for="(item, index) in actZoneCourseList" :key="index" class="course_box">
          <view @tap="goDetail" :data-info="item" class="img_box">
            <image class="course_img" :src="item.courseImg"></image>
          </view>
          <view class="font20 mgt10 c_red" v-if="showPrice">
            <text class="border_red">优惠券</text>
            <text>{{item.actPrice}}元优惠券</text>
          </view>
          <view @tap="goDetail" :data-info="item" class="course_name">
            {{item.courseName}}
          </view>
          <view class="course_price" v-if="showPrice">
            <text class="c_red font32">￥{{item.orgPrice}}</text>
          </view>
          <view class="btn_box" v-if="showPrice">
          <view class="get_btn activity_btn" :data-info="item" @tap="getCouponTotal">领券</view>
          <text class="fl clo">|</text>
            <view class="activity_btn activity_pay" @tap="goPay" :data-info="item">立即购买</view>
          </view>
        </view>
        <view class="w340"></view>
      </view>
    </view>
  </view>
  <float-tab shareImg="true" :actid="actInfo.id"></float-tab>
</view>
</template>

<script>
// pages/activity_list/activity_list.js
import { checkVip, getCoupon, actList } from "../../../api/activity";
let app = getApp();
import floatTab from "../../../components/floatTab/floatTab";

export default {
  data() {
    return {
      actZoneCourseList: [],
      actId: '',
      actInfo: "",
      showPrice: false
    };
  },

  components: {
    floatTab
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.setData({
      showPrice: app.globalData.temData.showPrice
    });
    this.getActivityList();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {
    return saveShare(2);
  },
  methods: {
    getActivityList() {
      uni.showLoading({
        title: '加载中...'
      });
      actList({
        actType: 1
      }).then(result => {
        uni.hideLoading();
        if (app.globalData.temData.openVip && uni.getStorageSync('userInfo')) {// checkVip(this)
        }
        let actInfo = result.actDTO || {};
        let actZoneCourseList = result.actZoneCourseList || [];
        this.setData({
          actInfo,
          actZoneCourseList
        });
      });
    },

    // 购买课程
    goPay(e) {
      if (!uni.getStorageSync('userInfo')) {
        app.globalData.loginRoncoo();
        return;
      }
      let info = e.currentTarget.dataset.info;
      let activity = JSON.stringify(info);
      uni.navigateTo({
        url: '../../order/order?no=' + info.courseId + '&t=' + info.courseCategory + '&act=' + activity
      });
    },

    // 跳转详情
    goDetail(e) {
      let info = e.currentTarget.dataset.info;
      if (info.courseCategory == 1) {
        uni.navigateTo({
          url: '../../course/view/view?id=' + info.courseId
        });
      } else if (info.courseCategory == 2) {
        uni.navigateTo({
          url: '../../course/live/live?id=' + info.courseId
        });
      }
    },
    // 领卷
    getCouponTotal(e) {
      let no = e.currentTarget.dataset.info.courseId;
      let actId = e.currentTarget.dataset.info.actId;
      getCoupon({
        courseNo: no,
        actId: actId
      }).then(res => {
        uni.showToast({
          title: '领取成功'
        });
      });
    }
  }
};
</script>
<style scoped>
page {
  background: rgba(29, 44, 150, 1);
}
.activity_top {
  height: 297rpx;
}
.top_img {
  width: 100%;
  height: 297rpx;
}
.title_text {
  position: relative;
  display: inline-block;
  padding: 0 50rpx;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36rpx;
  color: #fff;
  font-weight: 650;
}
.title_img {
  position: absolute;
  width: 28rpx;
  height: 16rpx;
  top: 20rpx;
}
.left_img {
  left: 0;
}
.right_img {
  right: 0;
}
.zone_img {
  width: 700rpx;
  height: 95rpx;
  display: block;
  margin: 20rpx auto 0;
}
.list_box {
  width: 700rpx;
  margin: 20rpx auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.course_box {
  background: #fff;
  width: 320rpx;
  padding: 10rpx;
  margin-bottom: 20rpx;
}
.img_box {
  width: 320rpx;
  height: 156rpx;
  position: relative;
}
.course_img {
  width: 100%;
  height: 100%;
}
.course_name {
  margin-top: 10rpx;
  height: 75rpx;
  font-size: 28rpx;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.course_price {
  height: 42rpx;
  margin-top: 10rpx;
}
.btn_box {
  height: 50rpx;
  width: 100%;
  background: rgba(213, 20, 35, 1);
  line-height: 50rpx;
  color: #fff;
  margin-top: 20rpx;
  border-radius: 4px;
  overflow: hidden;
}
.get_btn {
  width: 95rpx;
}
.activity_pay {
  width: 210rpx;
}
.activity_btn {
  text-align: center;
  padding: 0;
  line-height: 50rpx;
  height: 50rpx;
  background: rgba(213, 20, 35, 1);
  font-size: 24rpx;
  color: #fff;
  float: left;
}
.w340 {
  width: 340rpx;
}
.del_text {
  text-decoration:line-through;
}
.border_red {
  border: 1rpx solid #D51423;
  padding: 0 2px;
  margin-right: 10rpx;
}
.clo {
  font-size: 20rpx;
}
</style>
