<template>
<view>
  <view class="note_text c_333 font33">
    您的绑定手机号码是{{hidePhone}}，请点击“获取验证码”
  </view>
  <form @submit="getCode">
    <view class="p_relative">
      <input name="code" class="yzm_input b_fff" type="number" maxlength="6" placeholder="请输入验证码"></input>
      <code-btn :mobile="phone"></code-btn>
    </view>
    <button class="buy_btn" form-type="submit" @tap="checkMobile">下一步</button>
  </form>
</view>
</template>

<script>
// pages/note/note.js
import { checkCode } from "../../../api/website";
let app = getApp();
import codeBtn from "../../../components/codebtn/codebtn";

export default {
  data() {
    return {
      code: '',
      phone: '',
      hidePhone: '',
      goType: ''
    };
  },

  components: {
    codeBtn
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.setData({
      phone: '17520365175' || options.mobile,
      hidePhone: options.mobile.slice(0, 3) + '****' + options.mobile.slice(7),
      goType: options.goType || ''
    });
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    getCode(e) {
      this.setData({
        code: e.detail.value.code
      });
    },

    checkMobile() {
      if (!this.code) {
        uni.showToast({
          title: '请输入验证码',
          icon: 'none'
        });
        return;
      }

      if (!this.phone) {
        return;
      }

      checkCode({
        mobile: this.phone,
        code: this.code
      }).then(res => {
        console.log(res);

        if (this.goType) {
          uni.navigateTo({
            url: '../cashCount/cashCount'
          });
        } else {
          uni.navigateTo({
            url: '../addCard/addCard'
          });
        }
      });
    }

  }
};
</script>
<style scoped>
.note_text {
  width: 588rpx;
  line-height: 62rpx;
  padding: 30rpx;
}
.yzm_input {
  height: 94rpx;
  padding: 0 233rpx 0 30rpx;
}
</style>
