<!-- 直播详情 -->
<template>
  <div class="live_detail_page">
    <div v-if="courseInfo" class="detail_content">
      <y-display
        :course-info="courseInfo"
        :course-data="courseData"
        :teacher-info="teacherInfo"
        @buyClick="buyCourse"
        @livefunc="goLiveUrl"
      />
    </div>
    <div class=" detail_info detail_box clearfix">
      <div class="info_left">
        <ul class="left_header clearfix">
          <li :class="{now: course == 'info'}">
            <a @click="course = 'info'" href="javascript:">课程介绍</a>
          </li>
          <li :class="{now: course == 'live'}">
            <a @click="showChapter" href="javascript:">直播课程</a>
          </li>
        </ul>
        <div v-if="course == 'info'" class="left_info">
          <div v-if="courseInfo" class="info_body">
            <!-- eslint-disable -->
            <div class="info_p" v-html="courseInfo.introduce" />
          </div>
          <y-syllabus
            :list="chapterList"
            :now-no="nowPeriodNo"
            :is-pay="isPay"
            :course-info="courseInfo"
            :course-data="courseData"
            @livefunc="goLiveUrl"
            @buyClick="buyCourse"
          />
        </div>
        <div v-if="course == 'live'" class="left_info">
          <y-syllabus
            :list="chapterList"
            :now-no="nowPeriodNo"
            :is-pay="isPay"
            :course-info="courseInfo"
            :course-data="courseData"
            @livefunc="goLiveUrl"
            @buyClick="buyCourse"
          />
        </div>
      </div>
      <div class="info_right">
        <div v-if="teacherInfo" class="teacher_info clearfix">
          <span class="info_header">讲师简介</span>
          <div class="teacher_msg">
            <div class="teacher_msg_right">
              <img v-if="teacherInfo.headImgUrl" class="teacher_phone" :src="teacherInfo.headImgUrl" alt="">
              <img v-else class="teacher_phone" src="~/assets/image/friend.jpg" alt="">
              <div class="teacher_name">
                {{ teacherInfo.lecturerName }}
                <!-- <a href="javascript:" :class="{atten_btn: true, c_red: isAttention}" @click="setAttention">
                  <span class="iconfont">&#xe670;</span>&nbsp;关注
                </a> -->
              </div>
              <!-- eslint-disable -->
              <div class="info_box" v-html="teacherInfo.introduce" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <y-pay v-if="showPay" :is-course="true" :data="payData" @hidefun="showPay = false" />
    <right-tap />
  </div>
</template>
<script>
import YPay from '~/components/PayModal'
import RightTap from '~/components/common/RightTap'
import YSyllabus from '~/components/live/Syllabus'
import YDisplay from '~/components/live/Display'
import { courseDetail, chapterDetail } from '~/api/preview.js'
export default {
  components: {
    YPay,
    YDisplay,
    YSyllabus,
    RightTap
  },
  head() {
    return {
      title: this.courseInfo.courseName + '-' + this.$store.state.clientData.name,
      meta: [
        {
          name: 'keywords',
          content: this.courseInfo.keywords
        },
        {
          name: 'description',
          content: this.courseInfo.description
        }
      ]
    }
  },
  data() {
    return {
      nowPeriodNo: '',
      courseName: '',
      isLogin: false,
      course: 'info',
      courseInfo: null,
      lecturerInfo: null,
      showPay: false,
      payData: null,
      hasPlay: false,
      isCollect: false,
      isAttention: false,
      pageCurrent: 1,
      totalPage: 1,
      chapterList: []
    }
  },
  validate({ params }) {
    // 必须是number类型
    return /^\d+$/.test(params.id)
  },
  watch: {
    '$route'() {
      if (this.userInfo && this.tokenInfo) {
        this.isLogin = true
        this.getUserLiveView()
      } else {
        this.isLogin = false
        this.getLiveView()
      }
    }
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo
    try {
      const result = {}
      if (tk) {
        const data = await courseDetail({ id: context.params.id }, tk)
        if (data.code === 200) {
          result.courseInfo = data.data
          result.teacherInfo = data.data.lecturer
          result.courseData = data.data
          result.isLogin = true
          if (data.data.isFree) {
            result.isPay = true
          } else {
            result.isPay = false
          }
        }
        return result
      } else {
        context.redirect('/login')
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    this.userInfo = this.$store.state.userInfo
    // console.log(this.courseData)
    this.getLiveChapterDetail()
  },
  methods: {
    goLiveUrl(periodId) {
    },
    // 关注讲师
    setAttention() {
    },
    buyCourse() {
    },
    showChapter() {
      this.course = 'live'
    },
    // 获取章节
    getLiveChapterDetail() {
      const courseId = this.courseInfo.id
      chapterDetail({
        courseId,
        pageSize: 1,
        pageCurrent: this.pageCurrent
      }).then((res) => {
        // console.log(res)
        if (res.code === 200) {
          this.totalPage = res.data.totalPage
          if (res.data.list && res.data.list.length) {
            this.chapterList = this.chapterList.concat(res.data.list)
          }
          this.pageCurrent = this.pageCurrent + 1
          if (this.pageCurrent <= this.totalPage) {
            this.getLiveChapterDetail()
          }
        } else {
          this.$msgBox({
            content: res.data.msg,
            isShowCancelBtn: false
          })
        }
      }).catch(() => {
        this.$msgBox({
          content: '数据加载失败，请稍后重试',
          isShowCancelBtn: false
        })
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
  .live_detail_page {
    .detail_content {
      background: rgb(51, 51, 51);
      height: 438px;
    }
    .position_s {
      position: relative;
    }
    .detail_info {
      margin: 20px auto 60px;
      width: 1200px;
    }
    .info_left {
      width: 920px;
      float: left;
      .info_body {
        margin-bottom: 30px;
      }
      .left_header {
        padding-left: 30px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 20px;
        li {
          float: left;
          height: 66px;
          line-height: 66px;
          margin-right: 80px;
          &.now {
            border-bottom: 2px solid #D51423;
            a {
              color: #D51423;
            }
          }
          a {
            color: #000;
            font-size: 14px;
            font-weight: 700;
            &:hover {
              text-decoration: none;
              color: #D51423;
            }
          }
        }
      }
    }
    .left_info {
      padding: 30px;
      background: #fff;
      border-radius: 8px;
      min-height: 400px;
      .info_title {
        font-size: 16px;
        color: #000;
        font-weight: 700;
        margin-bottom: 25px;
      }
      .info_title {
        span {
          display: inline-block;
          width: 4px;
          height: 14px;
          background: #000;
          position: relative;
          top: 2px;
          margin-right: 8px;
        }
      }
      .info_p {
        font-size: 14px;
        line-height: 30px;
        color: #333;
        padding-left: 8px;
      }
    }
    .chapter_info {
      width: 839px;
      margin: 0 auto;
      font-size: 14px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;
      padding-bottom: 50px;
      &:last-child {
        border: none;
      }
      .chapter_title {
        font-size: 14px;
        font-weight: 700;
        color: #333;
      }
    }
    .chapter_body {
      position: relative;
      a {
        display: inline-block;
        font-size: 12px;
        width: 66px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        color: #999;
        position: absolute;
        right: 0px;
        top: 10px;
        border: 1px solid rgb(153, 153, 153);
        border-radius: 13px;
        &:hover {
          color: rgb(213, 20, 35);
          text-decoration: none;
          border: 1px solid rgb(213, 20, 35);
          cursor: pointer;
        }
      }
    }
    .info_right {
      width: 260px;
      float: right;
    }
    .teacher_info {
      background: #fff;
      border-radius: 8px;
      position: relative;
      min-height: 180px;
      .info_header {
        display: block;
        line-height: 60px;
        height: 60px;
        padding-left: 20px;
        font-size: 14px;
        color: #333;
        border-bottom: 1px solid rgb(228, 228, 228);
      }
      .teacher_phone {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: rgb(228, 228, 228);
        text-align: center;
        line-height: 46px;
        font-size: 13px;
        color: #999;
        float:left;
        margin: 0px 10px 0 10px;
        img {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }
      .teacher_msg_right {
        width: 235px;
        float: right;
        margin: 12px 15px 12px 12px;
        line-height: 20px;
      }
      .teacher_name {
        font-size: 14px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
      }
    }
    .firend {
      margin-top: 20px;
      padding-bottom: 20px;
      li {
        float: left;
        width: 46px;
        margin: 20px 20px 0;
        .friend_phone {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          background: rgb(228, 228, 228);
          text-align: center;
          line-height: 46px;
          font-size: 13px;
          color: #999;
          img {
            width: 46px;
            height: 46px;
            border-radius: 50%;
          }
        }
        .friend_name {
          text-align: center;
          margin-top: 10px;
          font-size: 12px;
          color: #333;
        }
      }
    }
    .detail_video {
      background: #fff;
    }
    .video_header {
      height: 66px;
      width: 1200px;
      margin: 0 auto;
      li {
        float: left;
        line-height: 66px;
      }
      .header_left {
        float: left;
        a {
          color: #999;
          margin-left: 10px;
          &:hover {
            text-decoration: none;
            color: #333;
          }
        }
        .left_30 {
          margin-left: 30px;
        }
        .return_btn {
          width: 66px;
          height: 66px;
          &:hover {
            background: rgb(245, 245, 245);
          }
        }
        .return_img {
          width: 20px;
          height: 20px;
          margin-left: 23px;
          margin-top: 23px;
        }
        .vider_title {
          font-size: 16px;
          font-weight: 700;
          color: #333;
          margin-left: 20px;
        }
      }
      .header_right {
        float: right;
        a {
          padding: 0 10px;
          font-size: 12px;
          color: #333;
          &:hover {
            text-decoration: none;
            color: #D51423;
          }
        }
        .left_col {
          border-left: 1px solid #ccc;
        }
        .pd_0 {
          padding-left: 0px;
        }
      }
    }
    .video_body {
      background: rgb(51, 51, 51);
      .video_content {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
      }
      .video_win {
        float: left;
        width: 1120px;
        height: 380px;
        margin: 5px 0;
        border-radius: 8px;
        border: 5px solid #000;
      }
      .video_info {
        position: relative;
        z-index: 22;
        float: right;
        padding-top: 20px;
        height: 380px;
        background-color: #333;
        a {
          overflow: hidden;
          display: block;
          height: 86px;
          width: 69px;
          color: #ccc;
          &:hover,&.on {
            text-decoration: none;
            background: #000;
          }
        }
        i {
          display: block;
          width: 24px;
          height: 23px;
          margin: 20px 20px 10px 20px;
          font-size: 26px;
        }
        p {
          font-size: 14px;
          text-align: center;
          color: #ccc;
        }
      }
    }
    .cate_panel{
      position: absolute;
      z-index: 11;
      top: 0;
      right: -202px;
      background-color: #000;
      height: 360px;
      width: 210px;
      padding: 20px 30px;
      overflow: auto;
      transition: all .5s;
      dt{
        color: #fff;
        font-size: 14px;
        line-height: 18px;
      }
      dd{
        color: #999;
        line-height: 26px;
        padding-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        i{
          font-size: 14px;
          margin-right: 8px;
        }
        a {
          color: #999;
        }
        &:hover, &.on, a:hover {
          color: #D51423;
          cursor: pointer;
          text-decoration: none;
        }

      }
    }
    .show_panel{
      .cate_panel{
        right: 69px;
      }
    }
    .no_video {
      color: #999;
    }
    .no_video2 {
      color: #eee;
    }
    .info_box {
      pre {
        white-space: inherit;
      }
    }
    .load_more {
      font-size: 16px;
      margin-top: 10px;
    }
  }
</style>
