<template>
<!--components/navlist/navlist.wxml-->
<text>components/navlist/navlist.wxml</text>
</template>

<script>

export default {
  data() {
    return {};
  },

  components: {},
  props: {},
  methods: {}
};
</script>
<style>
/* components/navlist/navlist.wxss */
</style>