<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item class="filter-item" label="频道编码">
        <el-input v-model="map.channelId" />
      </el-form-item>
      <el-form-item class="filter-item" label="直播场景">
        <el-select v-model="map.scene" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in liveSceneEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="直播状态">
        <el-select v-model="map.liveStatus" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in liveStatusEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item" label="是否被使用">
        <el-select v-model="map.isUse" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in isUseEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>

      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" clearable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="频道编码" prop="channelId" width="100" />
      <el-table-column label="直播场景">
        <template slot-scope="scope">
          {{ liveSceneEnums[scope.row.scene] }}
        </template>
      </el-table-column>
      <el-table-column label="直播状态">
        <template slot-scope="scope">
          {{ liveStatusEnums[scope.row.liveStatus] }}
        </template>
      </el-table-column>
      <el-table-column label="是否被使用">
        <template slot-scope="scope">
          {{ isUseEnums[scope.row.isUse] }}
        </template>
      </el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="scope.row.statusId === 0 && checkPermission('channelUpdateStatus')" type="success" plain size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('channelUpdateStatus')" type="danger" plain size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('deleteChannel')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <set-lecturer-proportion :title="setCtrl.title" :visible="setCtrl.visible" :info="setCtrl.info" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import {channelPage, channelUpdateStatus, deleteChannel } from '@/api/user'

  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        listLoading: true,
        statusIdEnums: {},
        liveSceneEnums: {},
        liveStatusEnums: {},
        isUseEnums: {},
        setCtrl: {
          title: null,
          visible: false,
          info: {}
        }
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'arr' }).then(res => {
        res.forEach((item) => {
          this.statusIdEnums[item.code] = item.desc;
        })
      });
      this.$store.dispatch('GetOpts', { enumName: 'LiveSceneEnum', type: 'arr' }).then(res => {
        res.forEach((item) => {
          this.liveSceneEnums[item.code] = item.desc;
        })
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsUseEnum', type: 'arr' }).then(res => {
        res.forEach((item) => {
          this.isUseEnums[item.code] = item.desc;
        })
      });
      this.$store.dispatch('GetOpts', { enumName: 'LiveStatusEnum', type: 'arr' }).then(res => {
        res.forEach((item) => {
          this.liveStatusEnums[item.code] = item.desc;
        })
      });
    },
    methods: {
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      closeCallback() {
        this.page.pageCurrent = 1;
        this.listForPage();
        this.setCtrl.visible = false;
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要禁用频道【' + row.channelId + '】吗？';
          let statusId = 0;
          if (row.statusId === 0) {
            body = '确定要启用频道【' + row.channelId + '】吗？';
            statusId = 1;
          }
          this.$confirm(body, '修改状态确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            channelUpdateStatus({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
          var body = '确定要删除频道【' + row.channelId + '】吗？';
          this.$confirm(body, '修改状态确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            deleteChannel({id: row.id }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading.start()
        channelPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
