<template>
  <el-dialog
    width="60%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="会员类型" prop="setType" width="100">
        <template slot-scope="scope">
          <span class="" :class="{'c-danger': scope.row.setType === 1, 'c-brand': scope.row.setType === 2, 'c-success': scope.row.setType === 3}">{{ setTypeEnums[scope.row.setType] }}</span>
        </template>
      </el-table-column>
      <el-table-column label="会员原价" prop="orgPrice">
        <template slot-scope="scope">
          <span>{{ scope.row.orgPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="会员优惠价" prop="fabPrice">
        <template slot-scope="scope">
          <span>{{ scope.row.fabPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column label="续费价格" prop="renewalPrice">
        <template slot-scope="scope">
          <span>{{ scope.row.renewalPrice | amountFormat }}</span>
        </template>
      </el-table-column>
      <el-table-column property="address" label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleClose(scope.row)">选择</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import {vipSetPage} from '@/api/system';

  export default {
    name: 'FindVipSet',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        loading: false,
        setTypeEnums: [],
        statusIdEnums: {}
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.listForPage();
          this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
            this.statusIdEnums = res;
          });
          this.$store.dispatch('GetOpts', {enumName: 'VipTypeEnum', type: 'obj'}).then(res => {
            this.setTypeEnums = res;
          })
        }
      }
    },
    methods: {
      handleClose(row) {
        if (row.id) {
          this.map = {}
          this.page.pageCurrent = 1
        }
        this.$emit('close-callback', row)
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      listForPage() {
        this.loading = true;
        vipSetPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>
