<template>
  <el-dialog
    width="60%"
    :title="title"
    :visible.sync="visible"
    append-to-body
    :before-close="handleClose"
  >
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="试卷名称">
        <el-input v-model="map.examName" />
      </el-form-item>
      <el-form-item class="filter-item" label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item class="filter-item">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="loading"
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="试卷名称" prop="examName" />
      <el-table-column label="科目">
        <template slot-scope="scope">
          {{ scope.row.courseParentName }}{{ scope.row.subjectName }}
        </template>
      </el-table-column>
      <el-table-column label="年份">
        <template slot-scope="scope">
          {{ scope.row.year }}
        </template>
      </el-table-column>
      <el-table-column label="来源">
        <template slot-scope="scope">
          {{ scope.row.sourceView }}
        </template>
      </el-table-column>
      <el-table-column label="是否收费">
        <template slot-scope="scope">
          {{ isFreeEnums[scope.row.isFree] }}
        </template>
      </el-table-column>
      <el-table-column label="价格">
        <template slot-scope="scope">
          原价：{{ scope.row.orgPrice }}
          <br>
          <span style="color: #F56C6C">会员价：{{ scope.row.fabPrice }}</span>
        </template>
      </el-table-column>
      <el-table-column label="上下架">
        <template slot-scope="scope">
          {{ isPutawayEnums[scope.row.isPutaway] }}
        </template>
      </el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="primary" plain size="mini" @click="handleClose(scope.row)">选择</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>

<script>
  import {examPage} from '@/api/exam';

  export default {
    name: 'FindExam',
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        },
        list: [],
        map: {},
        loading: false,
        statusIdEnums: {},
        isPutawayEnums: {},
        isFreeEnums: {}
      }
    },
    watch: {
      visible: function(val) {
        if (val) {
          this.listForPage();
          this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
            this.statusIdEnums = res;
          });
          this.$store.dispatch('GetOpts', { enumName: 'IsPutawayEnum', type: 'obj' }).then(res => {
            this.isPutawayEnums = res;
          });
          this.$store.dispatch('GetOpts', { enumName: 'IsFreeEnum', type: 'obj' }).then(res => {
            this.isFreeEnums = res;
          });
        }
      }
    },
    methods: {
      handleClose(row) {
        if (row.id) {
          this.map = {}
          this.page.pageCurrent = 1
        }
        this.$emit('close-callback', row)
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        this.loading = true;
        examPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>
