<template>
  <el-dialog :title="title" :visible.sync="visible" top="5vh" width="30%" :before-close="handleClose">
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="产品类型" prop="productType">
        <el-radio-group v-model="form.productType">
          <el-radio :label="1">课程</el-radio>
          <el-radio :label="3">会员</el-radio>
          <el-radio :label="5">试卷</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="产品名称" prop="productName">
        <el-input v-model="form.productName" disabled class="form-group">
          <el-button v-if="form.productType === 1" slot="append" icon="el-icon-search" @click="findCourse" />
          <el-button v-if="form.productType === 3" slot="append" icon="el-icon-search" @click="findVip" />
          <el-button v-if="form.productType === 5" slot="append" icon="el-icon-search" @click="findExam" />
        </el-input>
      </el-form-item>
      <el-form-item label="学员手机" prop="mobile">
        <el-input v-model="form.mobile" disabled class="form-group">
          <el-button slot="append" icon="el-icon-search" @click="findStudent" />
        </el-input>
      </el-form-item>
      <el-form-item label="交易类型">
        <el-input value="线下支付" disabled class="form-group" />
      </el-form-item>
      <el-form-item label="讲师可见" prop="isShowLecturer">
        <el-tooltip class="item" effect="dark" content="选择是,将记录讲师分润" placement="top-start">
          <i class="el-icon-question" />
        </el-tooltip>
        <el-radio-group v-model="form.isShowLecturer">
          <el-radio :label="1">是</el-radio>
          <el-radio :label="0">否</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="用户可见" prop="isShowUser">
        <el-tooltip class="item" effect="dark" content="选择是,将在用户订单列表显示" placement="top-start">
          <i class="el-icon-question" />
        </el-tooltip>
        <el-radio-group v-model="form.isShowUser">
          <el-radio :label="1">是</el-radio>
          <el-radio :label="0">否</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="备注内容" prop="remark">
        <el-input v-model="form.remark" type="textarea" class="form-group" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">保存</el-button>
    </div>
    <find-course :title="courseCtr.title" :visible="courseCtr.visible" @close-callback="courseCloseCallback" />
    <find-student :title="studentCtr.title" :visible="studentCtr.visible" @close-callback="studentCloseCallback" />
    <find-vip :title="vipCtr.title" :visible="vipCtr.visible" @close-callback="vipCloseCallback" />
    <find-exam :title="examCtr.title" :visible="examCtr.visible" @close-callback="examCloseCallback" />
  </el-dialog>
</template>
<script>
  import {orderInfoManual} from '@/api/user'
  import FindCourse from '@/views/user/orderInfo/add/findCourse';
  import FindStudent from '@/views/user/orderInfo/add/findStudent';
  import FindVip from '@/views/user/orderInfo/add/findVip';
  import FindExam from '@/views/user/orderInfo/add/findExam';

  export default {
    name: 'AddOrderInfo',
    components: {FindStudent, FindCourse, FindVip, FindExam},
    filters: {
      amountFormat(val = 0) {
        return `￥ ${val.toFixed(2).replace(/\d{1,3}(?=(\d{3})+(\.\d*)?$)/g, '$&,')}`
      }
    },
    props: {
      title: {
        type: String,
        default: null
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {
          isShowLecturer: 1,
          isShowUser: 1,
          productType: 1,
          productName: '',
          mobile: '',
          remark: '后台手工录单'
        },
        opts: {},
        setTypeEnums: [],
        rules: {
          isShowLecturer: [
            {required: true, message: '请选择是否讲师可见', trigger: 'blur'}
          ],
          isShowUser: [
            {required: true, message: '请选择是否用户可见', trigger: 'blur'}
          ],
          productType: [
            {required: true, message: '请选中产品类型', trigger: 'blur'}
          ],
          productName: [
            {required: true, message: '请选中产品', trigger: 'blur'}
          ],
          mobile: [
            {required: true, message: '请选择学员手机', trigger: 'blur'}
          ],
          remark: [
            {required: true, message: '请输入备注内容', trigger: 'blur'}
          ]
        },
        courseCtr: {
          title: '课程信息--查找带回',
          visible: false
        },
        studentCtr: {
          title: '学生手机--查找带回',
          visible: false
        },
        vipCtr: {
          title: '会员信息--查找带回',
          visible: false
        },
        examCtr: {
          title: '试卷信息--查找带回',
          visible: false
        }
      }
    },
    mounted() {
      this.$store.dispatch('GetOpts', {enumName: 'VipTypeEnum', type: 'obj'}).then(res => {
        this.setTypeEnums = res;
      })
    },
    methods: {
      handleClose() {
        this.form = {
          isShowLecturer: 1,
          isShowUser: 1,
          productType: 1,
          productName: '',
          mobile: '',
          remark: '后台手工录单'
        }
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        orderInfoManual(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      },
      findCourse() {
        this.courseCtr.visible = true;
      },
      courseCloseCallback(row) {
        this.courseCtr.visible = false;
        if (row) {
          this.form.productName = row.courseName;
          this.form.productId = row.id;
        }
      },
      findStudent() {
        this.studentCtr.visible = true;
      },
      studentCloseCallback(row) {
        this.studentCtr.visible = false;
        if (row) {
          this.form.mobile = row.mobile;
          this.form.userNo = row.userNo;
        }
      },
      findVip() {
        this.vipCtr.visible = true;
      },
      vipCloseCallback(row) {
        this.vipCtr.visible = false;
        if (row) {
          this.form.productName = this.setTypeEnums[row.setType];
          this.form.productId = row.id;
        }
      },
      findExam() {
        this.examCtr.visible = true;
      },
      examCloseCallback(row) {
        this.examCtr.visible = false;
        if (row) {
          this.form.productName = row.examName;
          this.form.productId = row.id;
        }
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
