<template>
	<!--pages/course/view/view.wxml-->
	<view class="detail_page b_fff">
		<view class="polyv" v-if="liveStart">
			<!--<live-polyv-->
			<!--name="uni-app"-->
			<!--@userBanned="handleUserBanned"-->
			<!--@onError="handlePolyvError"-->
			<!--id="plvMpDemoWatch"-->
			<!--:hasAnswerCard="true"-->
			<!--/>-->
			<web-view :src="liveUrl"></web-view>
		</view>
		<view v-else>
			<view v-show="!videoSrc" class="img_box">
				<image class="course_img" :src="courseInfo.courseLogo"></image>
				<button v-if="courseInfo.liveStatus == 2" @tap="openLive" class="start_btn">进入频道</button>
			</view>
			<view v-show="videoSrc">
				<video v-show="videoSrc" id="polyvVideo" class="img_box" :poster="courseInfo.courseImg" :src="videoSrc" @ended="nextVideo"
				 @play="isPlay" @pause="pausevideo" @timeupdate="sendanmu" enable-danmu="true">
					<cover-view class="beisu-box" v-show="!playstatu">
						<cover-view class="clearfix">
							<button class="beisu-btn" @tap="showbei">倍速{{bei == 1.0 ? "" : bei + "X"}}</button>
						</cover-view>
						<cover-view class="bei_list" v-show="showjs">
							<button :class="'btn ' + (bei == 0.8 ? 'on' : '')" @tap="jiasu" data-b="0.8">0.8X</button>
							<button :class="'btn ' + (bei == 1.0 ? 'on' : '')" @tap="jiasu" data-b="1.0">1.0X</button>
							<button :class="'btn ' + (bei == 1.25 ? 'on' : '')" @tap="jiasu" data-b="1.25">1.25X</button>
							<button :class="'btn ' + (bei == 1.5 ? 'on' : '')" @tap="jiasu" data-b="1.5">1.5X</button>
						</cover-view>
					</cover-view>
				</video>
			</view>
			<view class="course_msg b_fff">
				<view class="flex_row_between">
					<like-btn :collectionId="courseInfo.id" :isCollection="courseInfo.isCollectionCourse" :courseCategory="courseInfo.courseCategory"></like-btn>
					<text class="course_title font33 c_333">{{courseInfo.courseName}}</text>
					<button class="share-btn" open-type="share">分享</button>
				</view>
				<view class="mgt20" v-if="showPrice">
					<view class="font41 c_red" v-if="!courseInfo.isFree">
						<text class="font25">￥</text>{{courseInfo.courseOriginal || '加载中...'}}
						<text class="font25 c_gold mgl20">{{courseInfo.courseDiscount ? '￥' + courseInfo.courseDiscount : '免费'}}</text>
						<view @tap="goVip" style="display: inline-block;" class="font25 mgl10 c_fff vip_price">SVIP</view>
					</view>
					<view class="font41 c_red" v-else>免费<view @tap="goVip" style="display: inline-block;" class="font25 mgl10 c_fff vip_price">超级会员更多优惠</view>
					</view>
				</view>
			</view>
			<view class="h5px" v-if="courseInfo.id"></view>
			<activity-panel v-if="courseInfo.id" @startSeckill="startSeckill" :courseInfo="courseInfo"></activity-panel>
			<view class="h5px"></view>
			<view class="teacher_box b_fff c_999 font25">
				<text>讲师：</text>
				<text v-if="courseInfo.lecturer" class="c_333">{{courseInfo.lecturer.lecturerName}}</text>
				<attention-btn :isAttention="courseInfo.isAttentionLecturer" :lecturerUserNo="courseInfo.lecturerUserNo"></attention-btn>
			</view>

			<view class="h5px"></view>
			<view class="teacher_box font25 b_fff c_999">
				<text class="w130">开播时间</text>
				<text class="c_333" v-if="courseInfo.startTime">{{courseInfo.startTime}}</text>
				<text class="c_333" v-else>已结束</text>
			</view>
			<view class="teacher_box font25 b_fff c_999">
				<text class="w130">有效时间</text>
				<text class="c_333" v-if="courseInfo.endTime">{{courseInfo.endTime}}</text>
				<text class="c_333" v-else>已结束</text>
			</view>
			<view class="h5px"></view>
			<view class="h5px"></view>
			<view class="course_tabs b_fff">
				<view class="tabs font33 c_333">
					<view v-if="isMinappAudit " :class="tab == 2 ? 'tab active' : 'tab'" @tap="changeTab" data-int="2">课程大纲</view>
					<view :class="tab == 1 ? 'tab active' : 'tab'" @tap="changeTab" data-int="1">课程介绍</view>
				</view>
				<view v-if="tab == 2 && isMinappAudit" class="course_brief font25 b_fff mgt30 pdb30">
					<!-- <view class="h94 p_relative pdl20">
        <text class="col"></text>
        <text class="font_b pdl20">点播课程大纲</text>
      </view> -->
					<view v-for="(item, index) in chapterList" :key="index" class="c_333">
						<view class="chapter_title pdl30">{{item.chapterName}}</view>
						<view v-for="(item, index2) in item.periodList" :key="index2" class="pdl30 pdr40 h60 o_hide p_relative"
						 :data-vInfo="item">
							<view class="period_panel font25" v-if="item.liveStatus == 1">
								<image src="../../../static/images/no_vid.svg" class="play_img no_play"></image>
								<text v-if="item.isFree" class="c_blue">(免费)</text>
								<text>{{item.periodName}}</text>
								<text class="live_status mgr20">未开播</text>
							</view>
							<view class="period_panel font25" v-else-if="item.liveStatus == 2" @tap="openLive">
								<image src="../../../static/images/no_play.svg" class="play_img"></image>
								<text v-if="item.isFree" class="c_blue">(免费)</text>
								<text>{{item.periodName}}</text>
								<view class="live_status mgr20">
									<text class="text">正在直播</text>
									<text class="btn" @tap="openLive">进入频道</text>
								</view>
							</view>
							<view class="period_panel font25" v-else-if="item.liveStatus == 5" :data-vinfo="item" @tap="selectVideo(item)">
								<image src="../../../static/images/no_play.svg" class="play_img"></image>
								<text v-if="item.isFree" class="c_blue">(免费)</text>
								<text>{{item.periodName}}</text>
								<view class="live_status mgr20">
									<text v-if="!item.videoVid || !item.videoLength" :data-vinfo="item" @tap="selectVideo(item)">查看回放</text>
								</view>
							</view>
							<view class="period_panel font25" v-else>
								<image src="../../../static/images/no_vid.svg" class="play_img no_play"></image>
								<text v-if="item.isFree" class="c_blue">(免费)</text>
								<text>{{item.periodName}}</text>
								<view class="live_status mgr20">
									<text>已结束</text>
								</view>
							</view>
						</view>
					</view>
					<view class="text_center c_333 font33" v-if="loaddingEnd">加载中...</view>
				</view>
				<view v-else class="course_brief font25 b_fff pd20">
					<rich-text :nodes="courseInfo.introduce"></rich-text>
				</view>
			</view>
		</view>
		<float-tab :shareImg="true" coursetype="1" @hidevideo="changeVideoBox" @hideewm="changeVideoBox"></float-tab>
		<view v-if="!isFree && showPrice" class="buy_panel">
			<view v-if="!courseInfo.isPutaway" class="buy_btn disabled">课程已下架</view>
			<view v-else @tap="buyCourse" :class="['buy_btn', isSeckill?'seckillBtn':'']"> {{ isSeckill?'立即秒杀':'立即购买' }}</view>
		</view>
	</view>
</template>

<script>
	// pages/course/view/view.js
	import * as apis from "@/api/course";
	import * as config from "@/config";
	import * as auth from "@/api/user";
	import {
		getUserInfo,
		login
	} from "@/utils/auth";
	import polyv from "@/utils/polyv";
	const app = getApp();
	import likeBtn from "@/components/likebtn/likebtn";
	import attentionBtn from "@/components/attentionBtn/attentionBtn";
	import floatTab from "@/components/floatTab/floatTab";
	import ActivityPanel from "@/components/activity/ActivityPanel";

	export default {
		data() {
			return {
				liveStart: false,
				showPrice: uni.getStorageSync('showPrice'),
				userInfo: {},
				isFree: false,
				videoSrc: '',
				study: '',
				tab: 2,
				playstatu: false,
				bei: 1.0,
				showjs: false,
				isSeckill: false,
				webInfo: uni.getStorageSync('serviceInfo'),
				isMinappAudit: uni.getStorageSync('isMinappAudit'),
				courseInfo: {
					isPutaway: true,
					lecturer: {}
				},
				//课程基本信息
				hideVideo: false,
				chapterList: [],
				//章节列表
				loaddingEnd: false //章节加载完毕
					,
				liveUrl: "https://www.baidu.com",
				courseId: "",
				pageCurrent: 0,
				totalPage: 0
			};
		},

		components: {
			likeBtn,
			attentionBtn,
			floatTab,
			ActivityPanel
		},
		props: {},

		/**
		 * 生命周期函数--监听页面加载
		 */
		onLoad: function(options) {
			let courseId = '';
			if (options.scene) {
				courseId = decodeURIComponent(options.scene);
			} else {
				courseId = options.id;
			}

			if(this.isMinappAudit) {
				this.tab = 1;
			}
			this.setData({
				courseId: courseId
			});
			if (uni.getStorageSync('userInfo')) {
				this.setData({
					userInfo: uni.getStorageSync('userInfo')
				});
				this.getUserCourse(courseId);
			} else {
				this.getCourse(courseId);
			}
			this.getChapterList(1);
		},

		/**
		 * 生命周期函数--监听页面初次渲染完成
		 */
		onReady: function() {
			this.videoContext = uni.createVideoContext('polyvVideo');
		},

		/**
		 * 生命周期函数--监听页面显示
		 */
		onShow: function() {},

		/**
		 * 生命周期函数--监听页面隐藏
		 */
		onHide: function() {},

		/**
		 * 生命周期函数--监听页面卸载
		 */
		onUnload: function() {},

		/**
		 * 页面相关事件处理函数--监听用户下拉动作
		 */
		onPullDownRefresh: function() {},

		/**
		 * 页面上拉触底事件的处理函数
		 */
		onReachBottom: function() {},

		/**
		 * 用户点击右上角分享
		 */
		onShareAppMessage: function() {},
		methods: {
			startSeckill() {
				this.isSeckill = true;
			},
			handleUserBanned(error) {
				console.log(error)
			},
			handlePolyvError(error) {
				console.log(error)
			},
			goVip() {
				uni.navigateTo({
					url: '../../vip/vip'
				});
			},

			changeTab(e) {
				const int = e.currentTarget.dataset.int;
				this.setData({
					tab: int
				});
			},

			// 获取课程详情
			getCourse(id) {
				uni.showLoading({
					title: '加载中...'
				});
				apis.courseInfo({
					courseId: id
				}).then(res => {
					// console.log(res)
					res.introduce = res.introduce.replace(/\<img/gi, '<img style="max-width:100%;height:auto;display:block;"');
					this.setData({
						courseInfo: res
					});
				});
			},

			// 登录后详情
			getUserCourse(id) {
				uni.showLoading({
					title: '加载中...'
				});
				auth.courseInfo({
					courseId: id
				}).then(res => {
					// console.log(res)
					res.introduce = res.introduce.replace(/\<img/gi, '<img style="max-width:100%;height:auto;display:block;"');
					this.setData({
						courseInfo: res,
						isFree: !!res.isPay
					});
				});
			},

			selectVideo(e) {
				console.log(e);

				if (!uni.getStorageSync('userInfo')) {
					login(() => {
						this.setData({
							userInfo: uni.getStorageSync('userInfo')
						});
						this.getUserCourse(this.courseInfo.id);
					});
					return;
				}

				let videoInfo = e;
				if (!e.id) {
					videoInfo = e.currentTarget.dataset.vinfo
				}
				console.log(videoInfo)
				if (videoInfo.videoVid || videoInfo.videoLength) {
					if (this.isFree || videoInfo.isFree) {
						let vid = videoInfo.videoVid;
						this.playVideo(videoInfo, vid);
						uni.pageScrollTo({
							scrollTop: 0
						});
					} else {
						uni.showToast({
							title: '该课程非免费开放,您没有观看权限',
							icon: 'none'
						});
					}
				} else {
					uni.showToast({
						title: '该视频未更新',
						icon: 'none'
					});
				}
			},
			sendanmu(e) {
				console.log(e)
			},
			// 播放视频
			playVideo(videoInfo, vid) {
				uni.showLoading({
					title: '正在努力加载···'
				});
				const that = this;
				auth.getCourseSign({
					periodId: videoInfo.id,
					videoVid: vid
				}).then(res => {
					console.log(res);
					polyv.getVideo(vid, function(playInfo) {
						console.log(playInfo);
						that.setData({
							videoSrc: playInfo.src[0],
							study: videoInfo.id
						});
					}, res.ts, res.sign);
				});
			},

			// 分页获取章节列表
			getChapterList(page) {
				apis.chapterList({
					courseId: this.courseId,
					pageCurrent: page
				}).then(res => {
					console.log(res);
					this.setData({
						chapterList: this.chapterList.concat(res.list)
					});
					console.log(this.chapterList)
					if (res.pageCurrent === res.totalPage) {
						this.setData({
							loaddingEnd: false
						});
					} else {
						this.getChapterList(page + 1);
					}
				});
			},

			buyCourse() {
				if (!uni.getStorageSync('userInfo')) {
					login(() => {
						this.setData({
							userInfo: uni.getStorageSync('userInfo')
						});
						this.getUserCourse(this.courseInfo.id);
					});
					return;
				}

				if (!this.courseInfo.isPutaway) {
					uni.showToast({
						title: '该课程已下架',
						icon: 'none'
					});
					return false;
				}

				uni.navigateTo({
					url: '../../order/order?no=' + this.courseId + '&t=1'
				});
			},

			openLive() {
				// 开始直播
				if (!uni.getStorageSync('userInfo')) {
					login(() => {
						this.setData({
							userInfo: uni.getStorageSync('userInfo')
						});
						this.getUserCourse(this.courseInfo.id); // this.openLive()
					});
					return;
				}

				if (!this.isFree && !this.courseInfo.isFreePeriod) {
					uni.showToast({
						title: '该课程非免费开放,您没有观看权限',
						icon: 'none'
					});
					return false;
				} // console.log('userInfo', this.data.userInfo)
				let isPc = 1;
				// #ifdef MP-WEIXIN || APP-PLUS
				isPc = 0
				// #endif

				auth.getLiveUrl({
					periodId: this.courseInfo.periodId,
					isPc: 1
				}).then(res => {
					const liveUrl = res.liveUrl
					// let liveUrl = res.liveUrl
					// if (res.livePlatform === 2) {
					// 	liveUrl = `${this.webInfo.domain}/watchH5?token=${res.liveParam}`
					// 	if (res.liveScene === 'ppt') {
					// 		liveUrl = `${this.webInfo.domain}/watchH5/live.html?token=${res.liveParam}`
					// 	}
					// }
					if (isPc) {
						// window.open( res )
						window.location.href = liveUrl
						return
					}
					this.setData({
						liveStart: true,
						liveUrl: res.liveUrl
					});
					let img = this.webInfo.logoIco;

					if (this.userInfo.headImgUrl) {
						img = this.userInfo.headImgUrl;
					}

					const opts = {
						channelId: res.liveParam,
						// 频道ID
						openId: this.userInfo.uniconId,
						// 用户openId
						userName: this.userInfo.nickname,
						// 用户名
						avatarUrl: 'https://static.roncoos.com/logo.jpg' // 用户头像

					};

				});
			},

			// 播放
			isPlay: function(e) {
				this.setData({
					playstatu: true
				});
			},
			// 暂停播放
			pausevideo: function() {
				this.setData({
					playstatu: false
				});
			},
			// 显示加速列表
			showbei: function() {
				this.setData({
					showjs: !this.showjs
				});
			},
			// 选择倍速
			jiasu: function(e) {
				let beisu = parseFloat(e.currentTarget.dataset.b);
				this.videoContext.playbackRate(beisu);
				this.setData({
					bei: beisu,
					showjs: false
				});
			},
		}
	};
</script>
<style scoped>
	@import "@/static/css/detail.css";

	.seckillBtn {
		background-color: red;
		color: #fff
	}

	.detail_page {
		padding-bottom: 0;
	}

	.img_box {
		position: relative
	}

	.period_panel {
		width: 600rpx;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.start_btn {
		position: absolute;
		top: 180rpx;
		font-size: 1em;
		left: 50%;
		width: 10em;
		margin-left: -5em;
		background: #2488EC;
		color: #fff;
	}

	.live_status {
		top: 0;
	}

	.live_status .text {
		color: red;
		font-size: 24rpx;
		margin-right: 12px;
	}

	.live_status .btn {
		color: #2488EC;
	}

	.beisu-btn {
		color: #fff;
		float: left;
		margin-left: 12rpx;
		font-size: 24rpx;
		width: 120rpx;
		text-align: left;
		background: rgba(0, 0, 0, 0.2);
	}

	.beisu-box {
		position: relative;
		z-index: 99;
	}

	.beisu-box .bei_list {
		width: 100rpx;
	}

	.beisu-box .btn {
		background: rgba(255, 255, 255, 0.8);
		font-size: 24rpx;
	}

	.beisu-box .btn.on {
		color: springgreen;
	}

	.share-btn {
		font-size: 26rpx;
		padding: 0;
		color: #333;
		background: none;
		border: none;
	}

	.share-btn:after {
		border: none;
	}

	.course_title {
		margin-left: 10rpx;
	}
</style>
