<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="状态">
        <el-select v-model="map.statusId" placeholder="请选择">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('examRecommendSaveBatch')" plain type="success" size="mini" @click="handleAddRow">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="试卷名称">
        <template slot-scope="scope">{{ scope.row.examName }}</template>
      </el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('examRecommendEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">排序</el-button>
          <el-button v-if="checkPermission('examRecommendUpdateStatus') && scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('examRecommendUpdateStatus') && scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button v-if="checkPermission('examRecommendDelete')" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>

        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add v-if="ctrl.addDialogVisible" :visible="ctrl.addDialogVisible" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <edit v-if="ctrl.editDialogVisible" :visible="ctrl.editDialogVisible" :form-data="ctrl.info" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import {examRecommendDelete, examRecommendPage, examRecommendStatusUpdate} from '@/api/exam'
  import Add from '../add';
  import Edit from '../edit';
  export default {
    components: { Add, Edit },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          editDialogVisible: false,
          addDialogVisible: false,
          info: {}
        },
        list: [],
        formData: {},
        map: {},
        listLoading: true,
        problemTypeEnums: {},
        statusIdEnums: {}
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'ExamCategoryTypeEnum', type: 'obj' }).then(res => {
        this.problemTypeEnums = res;
      });
    },
    methods: {
      handleAddRow() {
        this.ctrl.dialogTitle = '新增'
        this.ctrl.addDialogVisible = true
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.examName + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            examRecommendDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleUpdateRow(row) {
        this.ctrl.dialogTitle = '排序'
        this.ctrl.editDialogVisible = true
        this.ctrl.info = row
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        examRecommendPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            examRecommendStatusUpdate({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.addDialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
