<template>
  <div class="main_box">
    <div v-if="!obj.id" class>
      <div class="step_panel">
        <div class="step on">1.填写课程信息</div>
        <div class="step">2.上传课程内容</div>
        <div class="step">3.提交审核</div>
      </div>
    </div>
    <div class="main_cont form">
      <form @submit="courseSave" action>
        <div class="form_group">
          <div class="label">课程分类</div>
          <div class="form_ctl">
            <select v-model="obj.categoryId1" @change="changeCate1" class="form_input_min">
              <option value>--请选择--</option>
              <!-- eslint-disable -->
              <option
                v-for="cate in cate1"
                :key="cate.id"
                :checked="obj.categoryId1 == cate.id"
                :value="cate.id"
                v-html="cate.categoryName"
              />
            </select>
            <select
              v-if="cate2 && cate2.length"
              v-model="obj.categoryId2"
              class="form_input_min"
              @change="changeCate2"
            >
              <option value>--请选择--</option>
              <option
                v-for="cate in cate2"
                :key="cate.id"
                :value="cate.id"
                v-html="cate.categoryName"
              />
            </select>
            <select
              v-if="cate3 && cate3.length"
              v-model="obj.categoryId3"
              name
              class="form_input_min"
            >
              <option value>--请选择--</option>
              <option v-for="cate in cate3" :key="cate.id" :value="cate.id">{{ cate.categoryName }}</option>
            </select>
          </div>
        </div>
        <div class="form_group">
          <div class="label">课程名称</div>
          <div class="form_ctl">
            <input v-model="obj.courseName" type="text" class="form_input" placeholder="请输入课程名称" />
          </div>
        </div>
        <div class="form_group" v-if="obj.id">
          <div class="label">课程排序</div>
          <div class="form_ctl">
            <input v-model="obj.sort" type="number" class="form_input" placeholder="请输入课程排序" />
          </div>
        </div>
        <div v-if="!(this.$route.query.t === 'paper')" class="form_group">
          <div class="label">课程介绍</div>
          <div class="form_ctl">
            <wangeditor v-model="obj.introduce"></wangeditor>
          </div>
        </div>
        <div class="form_group">
          <div class="label">SEO关键词</div>
          <div class="form_ctl">
            <el-input
             :rows="4"
              v-model="obj.keywords"
              type="textarea"
              class="form_textarea"
              placeholder="请输入SEO关键词"
            />
            
          </div>
        </div>
        <div class="form_group">
          <div class="label">SEO描述</div>
          <div class="form_ctl">
            <el-input
              v-model="obj.description"
              type="textarea"
               :rows="4"
              class="form_textarea"
              placeholder="请输入SEO描述"
            />
          </div>
        </div>
        <div class="form_group">
          <div class="label">是否免费</div>
          <div class="form_ctl form_ctl_radio">
            <input id="sex1" v-model="obj.isFree" name="sex" type="radio" value="0" />
            <label for="sex1">付费</label>
            <input id="sex2" v-model="obj.isFree" name="sex" type="radio" value="1" />
            <label for="sex2">免费</label>
          </div>
        </div>
        <div v-if="obj.isFree == 0" class="form_group">
          <div class="label">课程售价</div>
          <div class="form_ctl">
            <input
              v-model="obj.courseOriginal"
              type="text"
              class="form_input_min"
              placeholder="请输入价格"
            />
            <span>元</span>
          </div>
        </div>
        <div class="form_group" v-if="obj.isFree == 0">
          <div class="label">会员价:</div>
          <div class="form_ctl">
            <input
              type="number"
              step="0.01"
              v-model="obj.courseDiscount"
              placeholder="请输入会员价格"
              class="pirce form_input_min"
            />元
          </div>
        </div>
        <div v-if="!(this.$route.query.t === 'paper')" class="form_group">
          <div class="label">上传封面</div>
          <div class="form_ctl upload_ctl">
            <input v-model="obj.courseLogo" type="hidden" />
            <div class="preview">
              <img v-if="obj.courseLogo" :src="obj.courseLogo" alt />
              <i v-else class="iconfont">&#xe6b2;</i>
            </div>
            <d-upload :btntxt="'上传图片'" :accept="'image/png,image/gif,image/jpeg'" @rtnUrl="setUrl" />
            <p class="tip">* 推荐图片尺寸为900x500(1.8:1)，图片大小&lt;500KB</p>
          </div>
        </div>
        <div class="form_group">
          <div class="label">&nbsp;</div>
          <div class="form_ctl">
            <button class="submit_btn" :disabled="btnDis">确认</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import DUpload from '~/components/account/Upload'
import { uploadPic } from '~/api/upload.js'
import wangeditor from '~/components/wangeditor.vue'

import {
  infiniteCate,
  saveCourseInfo,
  courseDetail,
  courseUpdate
} from '~/api/account/course.js'
export default {
  components: {
    DUpload,
    wangeditor
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 点播管理'
    }
  },
  layout: 'account',

  data() {
    return {
      btnDis: false,
      sideTy: 'kcgl',
      edit: true,
      cate1: [],
      cate2: false,
      cate3: false,
      change1: false,
      change2: false,
      tags: [],
      obj: {
        categoryId1: '',
        categoryId2: '',
        categoryId3: '',
        isFree: 0,
        courseCategory: '1',
        courseLogo: '',
        introduce: '',
        courseName: '',
        courseOriginal: 0
      }
    }
  },
  mounted() {
    if (!(this.$route.query.t === 'paper')) {
    }
    // console.log(this.clientData)

    // 根据是否有课程编号判断添加或编辑
    if (this.$route.query.no) {
      this.getCourse()
    }
    // 课程分类数据
    infiniteCate({ categoryType: this.obj.courseCategory }).then((res) => {
      console.log(res)
      if (res.code === 200) {
        this.cate1 = res.data.courseCategoryList
        if (this.obj.categoryId1) {
          this.changeCate1()
        }
      }
    })
  },
  // 页面打开完毕
  methods: {
    setUrl(res) {
      this.obj.courseLogo = res.url
      // console.log(res)
    },
    courseSave(e) {
      e.preventDefault()
      // console.log(this.obj)
      if (!this.obj.introduce) {
        this.$msgBox({ content: '请输入课程介绍' })
        return false
      }
      if (!this.obj.courseName) {
        this.$msgBox({ content: '请输入课程名称' })
        return false
      }
      if (!this.obj.categoryId1 && !this.obj.id) {
        this.$msgBox({ content: '请选择课程分类' })
        return false
      }
      if (parseInt(this.obj.isFree) !== 1) {
        if (!this.obj.courseOriginal) {
          this.$msgBox({ content: '请输入课程售价' })
          return false
        }
        if (this.obj.courseOriginal <= 0) {
          this.$msgBox({ content: '请输入正确的课程原价' })
          return false
        }
      } else {
        // this.obj.courseOriginal = 0
      }
      if (!this.obj.courseLogo && !(this.$route.query.t === 'paper')) {
        this.$msgBox({ content: '请上传课程封面' })
        return false
      }
      // console.log(tx)
      this.btnDis = true
      if (this.obj.id) {
        console.log(this.obj)
        courseUpdate(this.obj)
          .then((res) => {
            this.btnDis = false
            this.$msgBox({ type: 'success', content: '修改成功！' })
            this.$router.push({ name: 'account-vod' })
          })
          .catch(() => {
            this.btnDis = false
          })
      } else {
        saveCourseInfo(this.obj)
          .then((res) => {
            this.btnDis = false
            this.$msgBox({ type: 'success', content: '保存成功！' })
            this.$router.push({
              path: '/account/vod/period',
              query: { no: res.data.id }
            })
          })
          .catch(() => {
            this.btnDis = false
          })
      }
    },
    changeCate1() {
      if (this.obj.categoryId2 === '0') {
        this.obj.categoryId2 = ''
      }
      if (this.obj.categoryId3 === '0') {
        this.obj.categoryId3 = ''
      }
      if (!this.$route.query.no) {
        this.obj.categoryId2 = ''
        this.obj.categoryId3 = ''
        this.cate2 = []
        this.cate3 = []
      }
      if (this.change1) {
        this.obj.categoryId2 = ''
        this.obj.categoryId3 = ''
        this.cate2 = []
        this.cate3 = []
      }
      const c1 = this.obj.categoryId1
      const that = this
      if (c1 === '') {
        that.cate2 = false
        that.cate3 = false
      } else {
        const catels = that.cate1
        catels.map((item, i) => {
          if (item.id === c1) {
            that.cate2 = item.twoList
            that.cate3 = false
          }
        })
        this.changeCate2()
      }
      if (this.$route.query.no) {
        this.change1 = true
      }
      // console.log(this.obj)
    },
    changeCate2() {
      if (!this.$route.query.no) {
        this.obj.categoryId3 = ''
        this.cate3 = []
      }
      if (this.change2) {
        this.obj.categoryId3 = ''
        this.cate3 = []
      }
      const c2 = this.obj.categoryId2
      const that = this
      if (c2 === '') {
        that.cate3 = false
      } else {
        const catels = that.cate2
        catels.map((item, i) => {
          if (item.id === c2) {
            if (item.threeList && item.threeList.length > 0) {
              that.cate3 = item.threeList
            } else {
              that.cate3 = false
            }
          }
        })
      }
      if (this.$route.query.no) {
        this.change2 = true
      }
      // console.log(this.cate2)
    },
    // 编辑器上传图片
    editorUpload(files, insert) {
      // console.log(files)
      const file = files[0]
      const param = new FormData()
      param.append('picFile', file, file.name)
      this.$store.commit('LOADING_START')
      uploadPic(param, (int) => {
        // console.log(int)
      })
        .then((res) => {
          this.$store.commit('LOADING_FINISH')
          // console.log(res)
          if (res.code === 200) {
            const imgUrl = res.data
            insert(imgUrl)
          }
        })
        .catch(() => {
          this.$store.commit('LOADING_FINISH')
          this.$msgBox({ content: '上传图片出错，请稍后重试' })
        })
    },
    // 获取课程信息
    getCourse() {
      courseDetail({ id: this.$route.query.no })
        .then((res) => {
          const courseData = res.data
          this.obj = courseData
          if (this.cate1.length) {
            this.changeCate1()
          }
        })
        .catch(() => {})
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>

.step_panel {
  overflow: hidden;
  background-color: #eee;

  .step {
    float: left;
    width: 33.33333%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: -12px;
      top: -5px;
      z-index: 1;
      width: 60px;
      height: 60px;
      box-shadow: 1px 1px 0 #fff;
      transform: rotate(-45deg);
    }
    &.on {
      color: #fff;
      background-color: #d51423;
      &:after {
        background-color: #d51423;
      }
    }
  }
}
.course_period {
  label {
    margin-right: 8px;
    color: #333;
  }

  .form_input {
    height: 34px;
    border: 1px solid #e7e7e7;
    width: 278px;
    text-indent: 1em;
  }
  .form_input_min {
    text-indent: 1em;
    width: 130px;
    height: 34px;
    margin-right: 10px;
    border: 1px solid #e7e7e7;
  }
}
.upload_ctl {
  .preview {
    width: 200px;
    height: 120px;
    overflow: hidden;
    background-color: #f5f5f5;
    text-align: center;
    margin-bottom: 10px;
    i {
      line-height: 120px;
      font-size: 80px;
      color: #ddd;
    }
  }
}
.ac_ctl {
  .item_ac_op {
    line-height: 30px;
  }
}
</style>
