<template>
  <div class="main_box">
    <div class="step_panel">
      <div class="step on">1.填写课程信息</div>
      <div class="step on">2.上传课程内容</div>
      <div class="step">3.提交审核</div>
    </div>
    <div class="main_cont course_period">
      <div class="tip">可<span class="c_red">"拖动"</span>章节调整先后顺序</div>
      <table class="table">
        <thead>
          <tr>
            <th width="80">序号</th>
            <th>章节名称</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(item, index) in chapterList">
            <tr
              v-if="item.chapterDesc != 'true'"
              :key="item.id"
              v-dragging="{ item: item, list: chapterList }"
            >
              <td>第{{ index + 1 }}章</td>
              <td class="name">
                {{ item.chapterName }}
              </td>
              <td class="operate">
                <a
                  @click="edit(index)"
                  href="javascript:"
                  class="text_link">
                  修改
                </a
                ><br />
                <router-link
                  :to="
                    '/account/vod/praxis?no=' + item.id + '&i=' + (index + 1)+ '&courseId=' + newData.courseId
                  "
                  class="text_link"
                >
                  课时管理
                  <span v-if="item.periodNum" class="c_red">
                    ({{ item.periodNum }})
                  </span>
                </router-link>
                <br />
                <span>
                <a
                  @click="toggleRefExam(item)"
                  href="javascript:"
                  class="text_link"
                  >关联试卷</a
                >
              </span>
              <br />
                <a
                @click="del(item.id)"
                href="javascript:"
                class="text_link"
                  >删除</a
                >
              </td>
            </tr>
            <tr v-else :key="item.id">
              <td>第{{ index + 1 }}讲</td>
              <td class="name">
                <input
                  v-model="item.chapterName"
                  type="text"
                  class="form_input"
                  placeholder="请输入名称"
                />
              </td>
              <td class="operate">
                <button
                  :disabled="btnDab"
                  @click="updatas(item)"
                  class="solid_btn"
                >
                  保存
                </button>
              </td>
            </tr>
          </template>
          <tr>
            <td>第{{ num }}章</td>
            <td class="name">
              <input
                v-model="newData.chapterName"
                type="text"
                class="form_input"
                placeholder="请输入名称"
              />
            </td>
            <td class="operate">
              <button :disabled="btnDab" @click="addPeriod" class="solid_btn">
                保存
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <router-link to="/account/vod/check" class="cont_btn solid_btn">
        下一步
      </router-link>
    </div>
    <ref-exam :refType="2" :courseInfo="courseInfo" @close="toggleRefExam" v-if="isRefExam"></ref-exam>
  </div>
</template>
<script>
import {
  saveChapter,
  courseChapterList,
  updateChapter,
  deleteChapter,
  chapterSort
} from '~/api/account/course.js';
import refExam from '~/components/course/refExam';

export default {
  layout: 'account',
  components: {
    refExam
  },
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 点播管理'
    };
  },
  data() {
    return {
      showModal: false,
      modalData: null,
      side: 'kcgl',
      num: 1,
      isRefExam: false,
      courseInfo: {},
      btnDab: false,
      chapterList: [],
      newData: {
        chapterName: '',
        courseId: 0,
        isFree: 0,
        chapterCategory: 1
      }
    };
  },
  mounted() {
    this.newData.courseId = this.$route.query.no;
    this.courseInfo.courseId = this.$route.query.no;
    this.num = this.chapterList.length + 1;
    this.getChapterList();
    this.$dragging.$on('dragend', () => {
      this.saveSort();
    });
  },
  methods: {
    toggleRefExam(row) {
      if (row && row.id) {
        this.courseInfo.refId = row.id;
        this.courseInfo.examName = row.examName;
        this.courseInfo.courseExamRefId = row.courseExamRefId;
        this.courseInfo.examId = row.examId;
      } else {
        this.getChapterList();
      }
      this.isRefExam = !this.isRefExam;
    },
    addPeriod() {
      if (this.newData.chapterName === '') {
        this.$msgBox({ content: '请输入课时名称' });
        return false;
      }
      this.btnDab = true;
      this.newData.sort = this.num;
      saveChapter(this.newData)
        .then((res) => {
          console.log(res);
          this.btnDab = false;
          this.chapterList.push(res.data);
          this.num = this.chapterList.length + 1;
          this.newData.chapterName = '';
        })
        .catch(() => {
          this.btnDab = false;
        });
    },
    // 修改例题
    edit(no) {
      const arr = this.chapterList;
      arr[no].chapterDesc = 'true';
      this.chapterList = Object.assign([], arr);
    },
    // 更新例题
    updatas(data) {
      if (data.chapterName === '') {
        this.$msgBox({ content: '请输入课时名称' });
        return;
      }
      this.btnDab = true;
      data.periodDesc = '';
      updateChapter(data)
        .then((res) => {
          this.btnDab = false;
          this.getChapterList();
        })
        .catch(() => {
          this.btnDab = false;
        });
    },
    // 删除例题
    del(no) {
      const that = this;
      this.$confirm('确认删除该例题?', '提示', {
        type: 'warning'
      })
        .then((val) => {
          deleteChapter({ id: no })
            .then((res) => {
              this.$msgBox({ content: '删除成功', type: 'success' });
              that.getChapterList();
            })
            .catch(() => {});
        })
        .catch(() => {});
    },
    // 保存排序
    saveSort() {
      const sort = this.chapterList.map((item) => item.id);
      chapterSort({ chapterIdList: sort }).then(() => {});
    },
    getChapterList() {
      // courseId
      courseChapterList({
        courseId: this.newData.courseId
      })
        .then((res) => {
          console.log(res);
          this.chapterList = res.data.userChapterAuditList || [];
          this.num = this.chapterList.length + 1;
        })
        .catch(() => {});
    }
  }
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.step_panel {
  overflow: hidden;
  background-color: #eee;
  .step {
    float: left;
    width: 33.33333%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: -12px;
      top: -5px;
      z-index: 1;
      width: 60px;
      height: 60px;
      box-shadow: 1px 1px 0 #fff;
      transform: rotate(-45deg);
    }
    &.on {
      color: #fff;
      background-color: #d51423;
      &:after {
        background-color: #d51423;
      }
    }
  }
}
.course_period {
  label {
    margin-right: 8px;
    color: #333;
  }
  .form_input {
    height: 34px;
    border: 1px solid #e7e7e7;
    width: 278px;
    text-indent: 1em;
  }
  .form_input_min {
    text-indent: 1em;
    width: 130px;
    height: 34px;
    margin-right: 10px;
    border: 1px solid #e7e7e7;
  }
  .cont_btn {
    width: 280px;
    display: block;
    margin: 20px auto 0;
  }
}
.dragging {
  color: #ec7e00;
}
</style>
