<template>
      <div class="person_content">
        <ul class="person_title clearfix">
          <li>
            第{{ num }}章
          </li>
        </ul>
        <div class="person_info ">
          <table class="table ">
            <thead>
              <tr>
                <th>序号</th>
                <th>标题</th>
                <th>是否免费</th>
                <th v-if="isFaceContras">认证观看</th>
                <th>视频</th>
                <th>课件</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(item, index) in list">
                <tr v-if="item.periodDesc != 'true'" :key="item.id" v-dragging="{ item: item, list: list, group: 'color' }">
                  <td>{{ index + 1 }}</td>
                  <td class="name">
                    {{ item.periodName }}
                  </td>
                  <td>
                    <span v-if="item.isFree" class="c_green">免费</span>
                    <span v-else class="c_red">收费</span>
                  </td>
                  <td v-if="isFaceContras">
                    <span v-if="item.isFaceContras" class="c_green">活体认证</span>
                    <span v-else class="c_999">无需认证</span>
                  </td>
                  <td class="c_green">
                    <button :class="{ on: item.isVideo }" @click="openVideo(item.id,2)" class="gray_btn">
                      视频管理<i class="num">1</i>
                    </button>
                  </td>
                  <td class="c_green">
                    <button :class="{ on: item.docNum }" @click="openAccessory(item)" class="gray_btn">
                      附件管理<i class="num">{{ item.docNum }}</i>
                    </button>
                  </td>
                  <td v-if="item.auditStatus" class="c_green">
                    已审核
                  </td>
                  <td v-else class="c_blue">
                    待审核
                  </td>
                  <td class="operate">
                      <a
                        @click="toggleRefExam(item)"
                        href="javascript:"
                        class="text_link"
                        >关联试卷</a
                      >
                    <br />
                    <a @click="edit1(index)" href="javascript:void(0)" class="text_link">修改</a><br>
                    <a @click="del(item.id)" href="javascript:void(0)" class="text_link">删除</a>
                  </td>
                </tr>
                <tr v-else :key="item.id">
                  <td>
                    {{ index + 1 }}
                  </td>
                  <td class="name">
                    <input v-model="item.periodName" type="text" class="form_input" placeholder="请输入课时名称">
                  </td>
                  <td>
                    <input v-model="item.isFree" type="checkbox" value="1">
                  </td>
                  <td v-if="isFaceContras">
                    <input v-model="item.isFaceContras" type="checkbox" value="1">
                  </td>
                  <td> - </td>
                  <td> - </td>
                  <td> - </td>
                  <td class="operate">
                    <button :disabled="solidBtn" @click="updatas(item)" class="solid_btn b_red">
                      保存
                    </button>
                  </td>
                </tr>
              </template>
              <tr>
                <td>
                  {{ sort }}
                </td>
                <td class="name">
                  <input v-model="obj.periodName" type="text" class="form_input" placeholder="请输入课时名称">
                </td>
                <td>
                  <input v-model="obj.isFree" type="checkbox" value="1">
                </td>
                <td v-if="isFaceContras">
                  <input v-model="obj.isFaceContras" type="checkbox" value="1">
                </td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
                <td class="operate">
                  <button :disabled="solidBtn" @click="addPraxis" class="solid_btn b_red">
                    保存
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="" style="text-align: center;">
            <a @click="$router.back(-1)" href="javascript:" class="cont_btn solid_btn b_red">完成返回</a>
          </div>
        </div>
         <y-video v-if="showVideo" :open="showVideo" :data="videoData" :type="videoType" @hidefun="hideModal()" />
        <d-accessory v-if="showModal" :data="modalData" @hidefun="hideAccessory" />
        <ref-exam :refType="3" :courseInfo="courseInfo" @close="toggleRefExam" v-if="isRefExam"></ref-exam>
      </div>
</template>
<script>
import DAccessory from '~/components/account/AccessoryModal'
import YVideo from '~/components/account/VideoModal'
import { chapterPraxisList, savePraxis, deletePraxis, updatePraxis, updatePraxisSort } from '~/api/account/course.js'
import refExam from '~/components/course/refExam';

export default {
  components: {
    DAccessory,
    YVideo,
    refExam
  },
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 点播管理',
      script: [{ src: '//player.polyv.net/resp/vod-upload-js-sdk/latest/vod-upload-js-sdk.min.js' }]
    }
  },
  data() {
    return {
      load: false,
      tab: 1,
      num: 1,
      list: [],
      isFaceContras: 0, // 是否需要人脸识别
      solidBtn: false,
      showVideo: false,
      showModal: false,
      videoType: 1,
      isRefExam: false,
      courseInfo: {},
      videoData: null,
      modalData: null,
      obj: {
        isFaceContras: 0,
        isFree: 0,
        chapterId: 0,
        periodName: ''
      },
      sort: 0
    }
  },
  computed: {
    isUp() {
      if (this.docUrl) {
        return false
      } else {
        return true
      }
    }
  },
  mounted() {
    this.isFaceContras = this.$store.state.webInfo.isFaceContras
    // PlvVideoUpload = require('@polyv/vod-upload-js-sdk');
    this.num = this.$route.query.i ? this.$route.query.i : 1
    this.obj.chapterId = this.$route.query.no
    this.courseInfo.courseId = this.$route.query.courseId;
    this.chapterList()
    this.$dragging.$on('dragend', ({ value }) => {
      // console.log(value.list)
      this.saveSort()
    })
  },
  methods: {
    toggleRefExam(row) {
      if (row && row.id) {
        this.courseInfo.refId = row.id;
        this.courseInfo.examName = row.examName;
        this.courseInfo.courseExamRefId = row.courseExamRefId;
        this.courseInfo.examId = row.examId;
      } else {
        this.chapterList()
      }
      this.isRefExam = !this.isRefExam;
    },
    openAccessory(data) {
      console.log(data)
      this.modalData = { refId: data.id, isFree: data.isFree }
      this.showModal = true
    },
    // 隐藏课件
    hideAccessory() {
      this.showModal = false
      this.chapterList()
    },
    // 展开视频选择
    openVideo(id, ty) {
      this.videoData = {
        cNo: this.$route.query.no,
        pNo: id
      }
      this.videoType = ty
      this.showVideo = true
    },
    hideModal() {
      this.showVideo = false
      this.chapterList()
    },
    // 修改例题
    edit1(no) {
      const arr = this.list
      arr[no].periodDesc = 'true'
      this.list = arr
      // console.log(no)
    },
    // 更新例题
    updatas(data) {
      if (data.periodName === '') {
        this.$msgBox({ content: '请输入课时名称' })
        return
      }
      this.solidBtn = true
      data.periodDesc = ''
      data.isFree = data.isFree ? 1 : 0
      data.isFaceContras = data.isFaceContras ? 1 : 0
      updatePraxis(data).then((res) => {
        this.solidBtn = false
      }).catch(() => {
        this.solidBtn = false
      })
    },
    // 删除例题
    del(no) {
      const that = this
      this.$confirm('你确定要删除该课时吗?', '提示', {
        type: 'warning'
      }).then((val) => {
        deletePraxis({ id: no }).then((res) => {
          this.$msgBox({ type: 'success', content: '删除成功' })
          that.chapterList()
        }).catch(() => {})
      }).catch(() => {
      })
    },
    // 例题列表
    chapterList() {
      chapterPraxisList({
        chapterId: this.$route.query.no
      }).then((res) => {
        console.log(res)
        this.list = res.data.userPeriodAuditList || []
        this.sort = this.list.length + 1
      }).catch(() => {})
    },
    // 保存排序
    saveSort() {
      // console.log(this.list)
      if (!this.list.length) {
        return
      }
      const list = this.list.map(item => item.id)
      console.log(list)
      updatePraxisSort({ periodIdList: list }).then((res) => {
        if (res.code === 200) {
          this.isSort = 1
        }
      })
    },
    // 添加例题
    addPraxis() {
      if (!this.obj.periodName) {
        this.$msgBox({ content: '课时名称不能为空' })
        return
      }
      this.solidBtn = true
      // console.log(this.obj)
      this.obj.isFree = this.obj.isFree ? 1 : 0
      this.obj.isFaceContras = this.obj.isFaceContras ? 1 : 0
      this.obj.sort = this.sort
      savePraxis(this.obj).then((res) => {
        this.solidBtn = false
        this.chapterList()
        this.obj.periodName = ''
        this.obj.isFree = ''
      }).catch(() => {
        this.solidBtn = false
      })
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .person_body {
    width: 1200px;
    margin: 30px auto 0;
    min-height: 1000px;
  }
  .person_content {
    width: 1012px;
    float: right;
    background: #fff;
    border-radius: 6px;
  }
  .person_title {
    border-bottom: 1px solid rgb(242, 242, 242);
    li {
      color: #D51423;
      float: left;
      line-height: 60px;
      padding: 0 30px;
      border-bottom: 2px solid #D51423;
      font-size: 14px;
    }
  }
  .person_info {
    padding-bottom: 40px;
  }
  .name{
    .form_input{
      margin: 10px 0;
      height: 34px;
      border: 1px solid #e7e7e7;
      width: 278px;
      text-indent: 1em;
    }
  }
  .cont_btn {
    width: 280px;
    display: block;
    margin:20px auto 0;
  }
  .gray_btn{
    cursor: pointer;
  }
</style>
