<template>
  <view>
    <view class="tabs b_fff">
      <view class="tab" @tap="changeTab" data-int="1">
        <text :class="int == 1 ? 'tab_text active' : 'tab_text'">点播</text>
      </view>
      <view class="tab" @tap="changeTab" data-int="2">
        <text :class="int == 2 ? 'tab_text active' : 'tab_text'">直播</text>
      </view>
    </view>
    <view v-for="(item, index) in courseList" :key="index" class="mgt8px b_fff">
      <view class="result_item">
        <image :src="item.courseLogo" class="result_img"></image>
        <view class="course_msg">
          <text class="font25 c_333 break_all">{{item.courseName}}</text>
          <text class="font19 mgt20 c_999" v-if="item.gmtCreate">学习时间：{{item.gmtCreate}}</text>
          <view class="font19 mgt20 c_999">
            <view class="progress-box">
              学习进度:
              <progress :percent="item.studyProcess || 0" show-info active/>
            </view>
          </view>
        </view>
      </view>
      <view class="title_box">
        <view class="font25 c_999 study_title" v-if="item.periodName">
          上次学习：{{item.periodName}}
        </view>
        <view class="font25 c_999 study_title" v-else>
          上次学习：{{item.chapterName}}
        </view>
        <navigator v-if="item.courseCategory == 1" class="go_study" :url="'../../course/view/view?id=' + item.courseId">进入学习</navigator>
        <navigator v-if="item.courseCategory == 2" class="go_study" :url="'../../course/live/live?id=' + item.courseId">进入学习</navigator>
      </view>
    </view>
    <view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
  </view>
</template>

<script>
  // pages/account/order/order.js
  import * as apis from "../../../api/course";
  const app = getApp();

  export default {
    data() {
      return {
        map: {
          courseCategory: 1
        },
        userInfo: '',
        int: 1,
        courseList: [],
        pageCurrent: 1,
        pageSize: 20,
        loadMsg: '没有更多了...',
        totalPage: ""
      };
    },

    components: {},
    props: {},

    /**
     * 生命周期函数--监听页面加载
     */
    onLoad: function (options) {
      // uni.hideShareMenu();
      this.setData({
        userInfo: uni.getStorageSync('userInfo')
      });
      this.getCourseList();
    },

    /**
     * 生命周期函数--监听页面初次渲染完成
     */
    onReady: function () {},

    /**
     * 生命周期函数--监听页面显示
     */
    onShow: function () {},

    /**
     * 生命周期函数--监听页面隐藏
     */
    onHide: function () {},

    /**
     * 生命周期函数--监听页面卸载
     */
    onUnload: function () {},

    /**
     * 页面相关事件处理函数--监听用户下拉动作
     */
    onPullDownRefresh: function () {},

    /**
     * 页面上拉触底事件的处理函数
     */
    onReachBottom: function () {
      console.log(this.pageCurrent);
      this.setData({
        loadMsg: '没有更多了...'
      });

      if (this.pageCurrent < this.totalPage) {
        this.setData({
          loadMsg: '加载中...',
          pageCurrent: this.pageCurrent + 1
        });
        this.getCourseList();
      }
    },

    /**
     * 用户点击右上角分享
     */
    onShareAppMessage: function () {},
    methods: {
      changeTab(e) {
        this.setData({
          int: e.currentTarget.dataset.int,
          map: {
            courseCategory: e.currentTarget.dataset.int
          },
          pageCurrent: 1,
          pageSize: 20,
          courseList: []
        });
        this.getCourseList();
      },

      getCourseList() {
        uni.showLoading({
          title: '加载中...'
        });
        apis.courseRefList(this.pageCurrent, this.pageSize, this.map).then(res => {
          this.setData({
            totalPage: res.totalPage,
            courseList: this.courseList.concat(res.list)
          });
        });
      }

    }
  };
</script>
<style scoped>
  .result_item {
    padding: 30rpx 20rpx;
    display: flex;
    justify-content: space-between;
  }
  .result_img {
    width: 49%;
    height: 208rpx;
    border-radius: 6px;
  }
  .course_msg {
    width: 49%;
    display: flex;
    flex-direction: column;
  }
  .title_box {
    display: flex;
    padding: 0 20rpx 10rpx;
    justify-content: space-between;
  }
  .study_title {
    display: inline-block;
    width: 461rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 70rpx;
  }
  .go_study {
    display: inline-block;
    border: 1rpx solid #999;
    width: 163rpx;
    height: 55rpx;
    line-height: 55rpx;
    text-align: center;
    border-radius: 6px;
    margin-top: 8rpx;
    font-size: 25rpx;
    color: #999;
  }
  .tabs {
    display: flex;
    width: 100%;
  }
  .tab {
    flex: 1;
    text-align: center;
  }
  .tab_text {
    display: inline-block;
    height: 94rpx;
    line-height: 94rpx;
    font-size: 33rpx;
    color: #333;
  }

  .active {
    color: #2488EC;
    border-bottom: 1px solid #2488EC;
  }
</style>
