<template>
  <button
    :value="txt"
    :title="txt"
    :disabled="disabled"
    @click="getCode"
    class="yzm_btn"
    type="button"
  >
    {{ txt }}
  </button>
</template>
<script>
import { getMobileCode } from '~/api/user.js'
export default {
  props: {
    oneClick: {
      type: [String, Number],
      default: 1
    },
    mobile: {
      // 手机号
      type: [String, Number],
      default: 1
    }
  },
  data() {
    return {
      txt: '获取验证码',
      disabled: false
    }
  },
  watch: {
    oneClick(newVal) {
      if (newVal) {
        this.timeOut()
      }
    }
  },
  methods: {
    getCode(event) {
      // console.log(this.mobile)
      // if (!/^1\d{10,10}$/.test(parseInt(this.mobile))) {
      //   this.$msgBox({
      //     content: '请输入正确手机号码',
      //     isShowCancelBtn: false
      //   })
      //   return false
      // }
      this.$emit('cb', event)
      // 获取验证码
      getMobileCode({
        clientId: this.$store.state.clientData.id,
        mobile: this.mobile
      }).then((res) => {
        console.log(res)
        if (res.code === 200) {
          this.timeOut()
        }
      })
    },
    timeOut() {
      this.disabled = true
      let num = 60
      this.txt = num + 's'
      const nt = setInterval(() => {
        if (num <= 0) {
          clearInterval(nt)
          this.txt = '重新获取'
          this.disabled = false
        } else {
          num--
          this.txt = num + 's'
        }
      }, 1000)
    }
  }
}
</script>
<style lang="scss" scoped>
  button{
    line-height: 33px;
    padding: 0;
    width: 100px;
    background-color: #d51423;
    border: 1px solid #d51423;
    color: #fff;
    border-radius: 3px;
    &:disabled{
      background-color: #ccc;
      border-color: #ddd;
      color: #aaa;
    }
  }
</style>
