<template>
  <div id="footerBox" class="i_footer">
    <div v-if="list" class="footer_content clearfix">
      <div v-for="(item, index) in list" :key="index" class="footer_msg">
        <ul>
          <li class="m_header">{{ item.navName }}</li>
          <li class="m_row" />
          <li v-for="(that, num) in item.websiteNavList" :key="num">
            <nuxt-link :to="{name: 'terrace-id', params: {id: that.id}}">{{ that.navName }}</nuxt-link>
          </li>
        </ul>
      </div>
      <div v-if="service.isShowService" class="footer_msg">
        <ul>
          <li class="m_header">联系客服</li>
          <li class="m_row" />
          <li v-if="service.service1">
            <a
              :href="'http://wpa.qq.com/msgrd?y=3&uin=' + service.service1 + '&site=qq&menu=yes'"
              target="_blank"
            >客服QQ：{{ service.service1 }}</a>
          </li>
          <li v-if="service.service2">
            <a
              :href="'http://wpa.qq.com/msgrd?y=3&uin=' + service.service2 + '&site=qq&menu=yes'"
              target="_blank"
            >客服QQ：{{ service.service2 }}</a>
          </li>
          <li v-if="service.service3">
            <a
              :href="'http://wpa.qq.com/msgrd?y=3&uin=' + service.service3 + '&site=qq&menu=yes'"
              target="_blank"
            >客服QQ：{{ service.service3 }}</a>
          </li>
          <li v-if="service.service4">
            <a
              :href="'http://wpa.qq.com/msgrd?y=3&uin=' + service.service4 + '&site=qq&menu=yes'"
              target="_blank"
            >客服QQ：{{ service.service4 }}</a>
          </li>
          <li v-if="service.service5">
            <a
              :href="'http://wpa.qq.com/msgrd?y=3&uin=' + service.service5 + '&site=qq&menu=yes'"
              target="_blank"
            >客服QQ：{{ service.service5 }}</a>
          </li>
        </ul>
      </div>
      <div v-if="service.wxCode" class="m_right">
        <div class="footer_msg">
          <ul>
            <li class="m_header">官方微信</li>
            <li>
              <img :src="service.wxCode" alt />
            </li>
          </ul>
        </div>
        <div v-if="service.wbCode" class="footer_msg">
          <ul>
            <li class="m_header">官方微博</li>
            <li>
              <img :src="service.wbCode" alt />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div v-if="friendList && friendList.length" class="friend_link">
      <ul class="clearfix">
        <li class="link_one">友情链接:</li>
        <li v-for="(item, index) in friendList" :key="index">
          <a :href="item.linkUrl" :target="item.linkTarget">{{ item.linkName }}</a>
        </li>
      </ul>
    </div>
    <div v-if="service" class="copyright">
      <!-- eslint-disable -->
      <span v-html="service.copyright" />
    </div>
    <div class="icp_num">
      <a
        v-if="service && service.icp"
        href="http://www.beian.miit.gov.cn/"
        target="_blank"
        class="c_ccc"
      >{{ service.icp }}</a>
      <span v-if="service && service.prnNo">&nbsp;|&nbsp;</span>
      <a
        v-if="service && service.prnNo"
        :href="'http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=' + service.prnNo"
        target="_blank"
        class="c_ccc"
      >
        <img src="../../assets/image/prn_icon.png" class="prn_icon" alt />
        &nbsp;{{ service.prn }}
      </a>
    </div>
  </div>
</template>
<script>
import { friendLink } from '~/api/system.js'
export default {
  data() {
    return {
      clientData: this.$store.state.clientData,
      service: this.$store.state.webInfo,
      list: this.$store.state.aboutList ? this.$store.state.aboutList.list : null,
      friendList: []
    }
  },
  mounted() {
    console.log(this.service)
    friendLink().then(res => {
      if (res.code === 200) {
        this.friendList = res.data.websiteLinkList
      } else {
        // console.log('友情链接获取失败！')
      }
    })
    // if (!this.list) {
    //   // 获取关联信息
    //   aboutList().then((res) => {
    //     if (res.data.code === 200) {
    //       const now = new Date()
    //       res.data.data.time = now.getTime()
    //       this.$store.commit('SET_ITEMS', { key: 'aboutList', value: { time: now.getTime(), list: res.data.data.websiteNavList } })
    //     } else {
    //       // console.log(res.data)
    //     }
    //   }).catch(() => {
    //     // console.log("获取关联信息失败")
    //   })
    // }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.i_footer {
  background: rgb(51, 51, 51);
  padding-top: 60px;
  position: relative;
  z-index: 201;
  .footer_content {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(102, 102, 102);
  }
  .footer_msg {
    float: left;
    width: 160px;
    img {
      width: 96px;
      height: 96px;
    }
    li {
      color: #ccc;
      font-size: 14px;
      margin-bottom: 20px;
      a {
        color: #ccc;
        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
      &.m_header {
        color: #fff;
        font-size: 18px;
      }
      &.m_row {
        width: 18px;
        height: 3px;
        background: #ccc;
        margin-bottom: 25px;
      }
    }
  }
  .m_right {
    float: right;
    .big_phone {
      color: #fff;
      font-size: 18px;
      margin-left: 56px;
    }
    .small_phone {
      color: #fff;
      font-size: 14px;
      margin-top: 5px;
      margin-left: 56px;
    }
  }
  .m_phone {
    position: relative;
    img {
      width: 46px;
      height: 43px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .qq_btn {
    margin-top: 10px;
    position: relative;
    img {
      width: 11px;
      height: 13px;
      position: absolute;
      top: 12px;
      left: 25px;
    }
    a {
      display: block;
      width: 113px;
      height: 36px;
      padding-left: 15px;
      background: rgb(213, 20, 35);
      line-height: 36px;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .m_test {
    width: 262px;
    height: 30px;
    line-height: 30px;
    // background: rgb(34, 34, 34);
    color: #ccc;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 8px;
    img {
      width: 19px;
      height: 14px;
      position: relative;
      top: 2px;
    }
  }
  .friend_link {
    width: 1200px;
    margin: 25px auto 0px;
    li {
      float: left;
      font-size: 14px;
      &.link_one {
        color: #fff;
        margin-right: 20px;
      }
      a {
        color: #ccc;
        margin: 0px 10px;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    background: rgb(102, 102, 102);
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ccc;
    margin-top: 25px;
    a {
      color: #ccc;
    }
  }
  .icp_num {
    line-height: 30px;
    text-align: center;
    color: #ccc;
    .lingke_link {
      color: #ccc;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .prn_icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
  }
}
</style>
