<template>
  <div class="head-tab">
    <div v-if="!hideNav" class="h_header border_b">
      <div class="h_nav">
        <div class="h_logo">
          <nuxt-link :to="{ name: 'index' }">
            <img
              v-if="webInfo && webInfo.logo"
              :src="webInfo.logo"
              width="auto"
              alt
            />
          </nuxt-link>
        </div>
        <ul v-if="!hideTop && navList && !isSeek" class="h_nav_ul clearfix">
          <!-- <el-popover
            placement="bottom"
            width="1200"
            :open-delay="100"
            @show="showClass"
            @hide="hideClass"
            popper-class="__header-class-box"
            trigger="hover"
          >
            <div class="class-box">
              <y-class-block :class-list="classList" />
            </div>
            <li slot="reference" :class="['nav_item', isClass?'active':'']">所有分类</li>
          </el-popover>-->
          <template v-for="(item, index) in navList">
            <a
              :class="{ active: isNow === item.navUrl }"
              :href="item.navUrl"
              v-if="index < showNum || navList.length === showNum + 1"
              :target="item.target"
              :key="index"
            >
              <li
                :class="item.navUrl | parseUrl($route, item.navUrl)"
                class="nav_item"
              >
                {{ item.navTitle }}
              </li>
            </a>
          </template>
          <el-popover
            placement="bottom"
            v-if="navList.length > showNum + 1"
            popper-class="__header-more_items"
            trigger="hover"
            width="118"
            @show="showheadMoreBg()"
            @hide="hideheadMoreBg()"
          >
            <li
              slot="reference"
              :class="['nav_item', 'more_box', isMore ? 'active' : '']"
            >
              <i class="el-icon-more"></i>
            </li>
            <ul class="clearfix more_items">
              <span class="up" />
              <template v-for="(item, index) in navList">
                <a
                  :class="{ active: isNow === item.navUrl }"
                  :href="item.navUrl"
                  v-if="index >= showNum"
                  :key="index"
                  :target="item.target"
                >
                  <li
                    :class="item.navUrl | parseUrl($route, item.navUrl)"
                    class="more_item"
                  >
                    {{ item.navTitle }}
                  </li>
                </a>
              </template>
            </ul>
          </el-popover>
        </ul>
        <div class="seek-box" v-if="isSeek">
          <i class="iconfont" @click="hideSeek()">&#xe616;</i>
          <input
            type="text"
            v-model="seekText"
            autofocus
            @keyup.enter="seek"
            placeholder="请输入搜索关键词"
          />
        </div>
        <div class="fr nav-right">
          <search-box />
          <nuxt-link
              v-show="userType == 1"
              :to="{ name: 'recruit' }"
            >
            <div class="item">
                讲师入驻
            </div>
           </nuxt-link>
           <nuxt-link
             v-show="userType > 1"
              :to="{ name: 'account-vod' }"
            >
            <div class="item">
                讲师中心
            </div>
           </nuxt-link>
          <!-- <div class="seek iconfont item" @click="seek()">&#xe633;</div> -->
          <!-- <div class="item">APP下载</div> -->
          <div :style="{display: tokenInfo?'inline-block' : 'none'}">
            <div class="item msgItem" @click="toMsg()">
              <img src="../../assets/image/Group.svg" />
              <i class="msgNum" v-show="msgNum">{{ msgNum }}</i>
            </div>
            <el-popover
              placement="bottom"
              popper-class="__header-more_items"
              trigger="hover"
            >
              <div class="user-panel">
                <div class="user-info clearfix">
                    <nuxt-link class="user-img"
                        :to="{ name: 'account-info' }"
                      >
                      <img :src="userInfo.headImgUrl" alt="">
                    </nuxt-link>
                  <div class="user-box">
                    <nuxt-link :to="{ name: 'account-info' }" class="user-name">{{userInfo.nickname}}</nuxt-link>
                    <nuxt-link :to="{ name: 'vip' }" class=""><i class="iconfont vip-icon">&#xe617;</i></nuxt-link>
                  </div>
                </div>
              </div>
              <div :style="{display: userType == 2?'inline-block' : 'none'}" class="more-group">
                <div class="title">讲师中心</div>
                <div class="more_tabs clearfix">
                  <nuxt-link
                    class="item-tab"
                    v-for="(item, index) in teacherRoutreList"
                    :to="{ name: item.pathName, query: item.query || {} }"
                    :key="index"
                  >
                    {{ item.name }}
                  </nuxt-link>
                </div>
              </div>
              <div  :style="{display: userType == 1?'inline-block' : 'none'}" class="more-group">
                <div class="title">用户中心</div>
                <div class="more_tabs clearfix">
                  <nuxt-link
                    class="item-tab"
                    v-for="(item, index) in routreList"
                    :to="{ name: item.pathName, query: item.query || {} }"
                    :key="index"
                  >
                    {{ item.name }}
                  </nuxt-link>
                </div>
              </div>
              <div class="more-panel clearfix">
                <a href="javascript:" @click="signOut()" class="sign-out">退出账号</a>
              </div>
              <nuxt-link :to="{ name: 'account-info' }" slot="reference">
                <div class="user item">
                  <img
                    :src="headImgUrl || '/friend.jpg'"
                  />
                </div>
              </nuxt-link>
            </el-popover>
          </div>
          <div  :style="{display: (!tokenInfo)?'inline-block' : 'none'}">
            <span class="login item" @click="login">登录</span>
            <nuxt-link :to="{ name: 'register' }">
              <div class="registers item">注册</div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SearchBox from '~/components/common/SearchBox';

export default {
  components: {
    SearchBox
    // YClassBlock
  },
  filters: {
    parseUrl(route, navUrl) {
      if (navUrl.path === route) {
        return 'active';
      } else {
        return '';
      }
    }
  },
  props: {
    hideNav: {
      type: Boolean
    },
    active: {
      type: String,
      default: ''
    },
    hideTop: {
      type: Boolean
    },
    hideSearch: {
      type: Boolean
    }
  },
  data() {
    return {
      navList: this.$store.state.navList.list,
      webInfo: this.$store.state.webInfo,
      isTeacher: false,
      isNow: '',
      seekText: '',
      isMore: false,
      isClass: false,
      showNum: 5,
      isSeek: false,
      classList: [],
      time: 0,
      userType: 1,
      teacherRoutreList: [
        {
          pathName: 'account-teacher',
          name: '讲师信息'
        },
        {
          pathName: 'account-grades-teacher',
          name: '班级管理'
        },
        {
          pathName: 'account-vod',
          name: '点播管理'
        },
        {
          pathName: 'account-subject',
          name: '试题管理'
        },
        {
          pathName: 'account-live',
          name: '直播管理'
        },
        {
          pathName: 'account-channel',
          name: '开播设置'
        },
      ],
      routreList: [
        {
          pathName: 'blog-account',
          name: '社区中心'
        },
        {
          pathName: 'account-course',
          name: '我的课程'
        },
        {
          pathName: 'account-exams-myExam',
          name: '我的试卷'
        },
        {
          pathName: 'account-grades-my',
          name: '我的班级'
        },
        {
          pathName: 'account-exams-myExamination',
          name: '我的考试'
        },
        {
          pathName: 'account-study',
          name: '学习记录'
        },
        {
          pathName: 'account-order',
          name: '我的订单'
        },
        {
          pathName: 'account-collection',
          name: '我的收藏'
        },
        {
          pathName: 'account-attention',
          name: '我的关注'
        }
      ]
    };
  },
  computed: {
    headImgUrl() {
      if (this.$store.state.userInfo) {
        return this.$store.state.userInfo.headImgUrl
      } else {
        return '';
      }
    },
    userInfo() {
      return this.$store.state.userInfo || {};
    },
    msgNum() {
      return this.$store.state.userMsgNum || '';
    },
    tokenInfo() {
      return this.$store.state.tokenInfo || '';
    }
  },
  watch: {
    userInfo() {
      this.isUserType();
      this.userType = this.userInfo.userType || 1;
    },
    $route(val) {
      if (val) {
        this.isNow = window.location.href;
      }
    }
  },
  created() {
    this.userType = this.userInfo.userType || 1;
  },
  async mounted() {
    this.isUserType();
    this.userType = this.userInfo.userType || 1;
    this.isNow = window.location.href;
    if (this.userInfo && this.userInfo.userType === 2) {
      this.isTeacher = true;
    }
    if (this.userInfo.id) {
      this.$store.dispatch('GET_USERMSGNUM');
    }
    const classList = await this.$store.dispatch('main/getClassList', {});
    if (classList.code === 200) {
      this.classList = classList.data.courseCategoryList;
    } else {
      this.classList = [];
    }
    console.log('userInfo', this.userInfo)
  },
  methods: {
    showheadMoreBg() {
      this.isMore = true;
    },
    hideheadMoreBg() {
      this.isMore = false;
    },
    isUserType() {
      const val = this.userInfo;
      if (val && val.userType === 3) {
        const d = {
          pathName: 'account-organization-vod',
          name: '机构中心'
        };
        const is = this.routreList.find((item) => {
          return item.pathName === d.pathName;
        });
        if (!is) {
          this.routreList.unshift(d);
        }
      }
    },
    seek(e) {
      if (this.isSeek) {
        this.isSeek = false;
        if (!this.seekText) {
          this.$message({
            showClose: true,
            message: '请输入搜索关键词',
            type: 'error'
          });
          return;
        }
        const path = this.$route.path;
        let type = 1;
        if (path.indexOf('live') !== -1) {
          type = 2;
        }
        if (path.indexOf('resource') !== -1) {
          type = 4;
        }
        if (path.indexOf('exam') !== -1) {
          type = 5;
        }
        if (path.indexOf('blog') !== -1) {
          type = 6;
        }
        if (path.indexOf('question') !== -1) {
          type = 7;
        }
        if (path.indexOf('/info') !== -1) {
          type = 8;
        }
        this.$router.push({
          name: 'search-str',
          params: { str: this.seekText },
          query: { type }
        });
      } else {
        this.isSeek = true;
      }
    },
    hideSeek() {
      this.isSeek = false;
    },
    hideClass() {
      this.isClass = false;
    },
    showClass() {
      this.isClass = true;
    },
    toMsg() {
      // 加一个时间戳 让每次点击站内信按钮url都会变化 一变化就回到站内信列表
      this.$router.push({
        name: 'account-message',
        query: { num: new Date().getTime() }
      });
    },
    login() {
      this.$store.commit('SET_TEMPORARYURL');
      this.$router.push({ name: 'login' });
    },
    signOut() {
      this.$store.commit('SIGN_OUT');
      window.location.reload();
    }
  }
};
</script>

<style lang="scss">
.__header-class-box {
  left: 50% !important;
  z-index: 1000 !important;
  top: 52px !important;
  padding: 0 !important;
  margin-left: -600px;
}

.__header-more_items {
  top: 54px !important;
  padding: 2px 0 !important;
  min-width: 102px !important;
}
</style>
<style lang="scss" rel="stylesheet/scss" scoped>
.head-tab {
  height: 66px;
  width: 100%;
}
.h_header {
  background: #fff;
  position: relative;
  height: 66px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1006;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.seek-box {
  margin-left: 280px;
  width: 460px;
  display: inline-block;
  line-height: 66px;
  height: 66px;
  .iconfont {
    font-size: 14px;
    width: 50px;
    position: relative;
    cursor: pointer;
    top: 1px;
    display: inline-block;
    text-align: center;
  }

  input {
    border: none;
    height: 60px;
    line-height: 60px;
    width: 400px;
  }
}
.class-box {
  background: #fff;
  position: relative;
}
.nav-right {
  width: 444px;
  height: 66px;
  text-align: right;

  .item {
    display: inline-block;
    line-height: 26px;
    margin: 0 6px;
    height: 66px;
    font-size: 14px;
    padding: 20px 10px;
    color: #333333;
    vertical-align: top;
    cursor: pointer;
    &.msgItem {
      position: relative;
      top: 2px;
      .msgNum {
        position: absolute;
        height: 16px;
        padding: 0 5px;
        line-height: 16px;
        font-size: 10px;
        text-align: center;
        background: red;
        border-radius: 8px;
        color: #fff;
        top: 14px;
        right: 0px;
      }
    }
    &.seek {
      line-height: 19px;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 24px;
      position: relative;
      top: 2px;
    }
    &.user {
      img {
        width: 30px;
        height: 30px;
        top: -3px;
        border-radius: 50%;
      }
    }
  }

  .seek {
    font-size: 22px;
    color: #333;
    position: relative;
    top: 2px;
  }

  .registers {
    width: 68px;
    height: 30px;
    margin-top: 18px;
    padding: 0;
    text-align: center;
    background: #2388ec;
    border-radius: 18px;
    color: #ffffff;
    line-height: 29px;
  }
}
.h_top {
  background: rgb(51, 51, 51);
  .h_top_body {
    width: 1200px;
    height: 30px;
    margin: 0px auto;
  }
}
.top_list {
  float: right;
  li {
    float: left;
    color: #ffffff;
    font-size: 12px;
    margin-top: 9px;
    padding: 0px 10px 0px 0px;
    position: relative;
    &:hover {
      text-decoration: none;
      color: rgb(35, 136, 236);
    }
    img {
      width: 14px;
      height: 13px;
      position: absolute;
      left: -20px;
    }
    .vip_icon {
      position: relative;
      left: 0;
      top: 1px;
      cursor: pointer;
    }
    a {
      color: #333;
      &:hover {
        text-decoration: none;
        color: #333;
      }
      &.c_gold {
        color: #ca9e70;
      }
    }
    &.s_left {
      border-left: 1px solid #ccc;
      padding-left: 10px;
    }
  }
  .msg {
    position: relative;
    padding-right: 10px;
    .msg_num {
      position: absolute;
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-size: 10px;
      text-align: center;
      background: red;
      border-radius: 50%;
      color: #fff;
      top: -4px;
    }
  }
}
.h_nav {
  width: 1200px;
  margin: 0 auto;
  height: 66px;
  position: relative;
  .go_index {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}
.h_logo {
  display: inline-block;
  min-width: 80px;
  max-width: 168px;
  overflow: hidden;
  margin-right: 12px;
  margin-top: 15px;
  vertical-align: top;
  img {
    height: 36px !important;
  }
}
.h_nav_ul {
  height: 66px;
  width: 568px;
  display: inline-block;
  .nav_item {
    float: left;
    height: 66px;
    text-align: center;
    min-width: 94px;
    cursor: pointer;
    line-height: 66px;
    font-size: 16px;
    padding: 0 12px;
    color: #333333;
    &:hover {
      background: #409eff;
      color: #ffffff;
    }
    &.active {
      background: #409eff;
      color: #ffffff;
    }
  }
}
.user-panel{
  padding: 20px;
  width: 300px;
  .user-img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: url("../../assets/image/friend.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .user-box{
    float: left;
    padding-top: 8px;
    padding-left: 12px;
  }
  .user-name{
    font-size: 18px;
    color: #4a5561;
  }
  .vip-icon{
    font-size: 22px;
    color: #c2c2c2;
  }
}
.more-group{
  padding: 0 20px;
  width: 300px;
  .more_tabs{
    margin-top: 12px;
    margin-right: -4px;
  }
  .item-tab{
    float: left;
    color: #4a5561;
    width: 128px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-left: 12px;
    line-height: 30px;
    background-color: #f8fafc;
    text-decoration: none;
    &:hover{
      background-color: #eee;
    }
  }
}
.more-panel{
  padding: 0 20px 10px;
  .sign-out{
    float: right;
    color: #93999f;
    text-decoration: none;
    line-height: 1;
    padding-top: 10px;
  }
}

.more_items {
  width: 116px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 999;
  & > a:last-child {
    .more_item {
      border-bottom: none;
    }
  }
  .more_item {
    border-bottom: 1px solid rgb(235, 235, 235);

    &:hover {
      background: #409eff;
      color: #ffffff;
    }
    &.active {
      background: #409eff;
      color: #ffffff;
    }
  }
}
.more_box {
  position: relative;
  width: 80px;
  text-align: center;
  .el-icon-more {
    font-size: 26px;
    position: relative;
    top: 5px;
  }
  .up {
    display: block;
    position: absolute;
    top: -3px;
    left: 50%;
    background: #fff;
    transform: translateX(-50%) rotate(135deg);
    width: 10px;
    height: 10px;
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .san {
    display: block;
    position: absolute;
    top: 52px;
    right: -6px;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: #ccc transparent transparent;
  }

  &:hover {
    .more_items {
      display: block;
    }
  }
}
</style>
