<template>
  <div v-if="!hideNav" class="h_header border_b">
    <div v-if="!hideTop" class="h_top">
      <div class="h_top_body">
        <ul v-if="userInfo" class="top_list clearfix">
          <li>
            <nuxt-link :to="{name: 'recruit'}" v-if="userInfo.userType == 1">讲师招募</nuxt-link>
          </li>
          <li v-if="userInfo.userType == 2">
            <nuxt-link :to="{name: 'account-vod'}">讲师中心</nuxt-link>
          </li>
          <li class="s_left">
            <nuxt-link :to="{name: 'blog-account'}">社区中心</nuxt-link>
          </li>
          <li class="s_left">
            <nuxt-link :to="{name: 'account-order'}">我的订单</nuxt-link>
          </li>
          <li>
            <a @click="toMsg()" :class="{msg: msgNum}" style="cursor:pointer">
              我的通知
              <span v-if="msgNum" class="msg_num">{{ msgNum }}</span>
            </a>
          </li>
          <li class="s_left">
            <nuxt-link :to="{name: 'account-course'}" :class="{c_gold: userInfo.isVip}">
              {{ userInfo && userInfo.mobile }}
              <img
                v-if="userInfo.isVip"
                src="~/assets/image/vip/vip_icon.png"
                alt
                class="vip_icon"
              />
            </nuxt-link>
          </li>
          <li>
            <a @click="signOut" href="javascript:">退出</a>
          </li>
        </ul>
        <ul v-else class="top_list clearfix">
          <li class="s_left">
            <a @click="login" href="javascript:">登录</a>
          </li>
          <li>
            <nuxt-link :to="{name: 'login', query: {tab: 2}}">注册</nuxt-link>
          </li>
          <li>
            <nuxt-link :to="{name: 'recruit'}">讲师招募</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="h_nav">
      <div class="h_logo">
        <nuxt-link :to="{name: 'index'}">
          <img v-if="webInfo && webInfo.logo" :src="webInfo.logo" width="auto" alt />
        </nuxt-link>
      </div>
      <ul v-if="!hideTop && navList" class="h_nav_ul clearfix">
        <template v-for="(item, index) in navList">
          <li
            v-if="index < showNum || navList.length === (showNum + 1)"
            :key="index"
            :class="item.navUrl | parseUrl($route, item.navUrl)"
            class="nav_item"
          >
            <a
              :class="{active: isNow === item.navUrl}"
              :href="item.navUrl"
              :target="item.target"
            >{{ item.navTitle }}</a>
          </li>
        </template>
        <li v-if="navList.length > (showNum + 1 )" class="nav_item more_box">
          <i class="el-icon-more"></i>
          <ul class="clearfix more_items">
            <span class="up" />
            <template v-for="(item, index) in navList">
              <li
                v-if="index >= (showNum)"
                :key="index"
                :class="item.navUrl | parseUrl($route, item.navUrl)"
                class="more_item"
              >
                <a
                  :class="{active: isNow === item.navUrl}"
                  :href="item.navUrl"
                  :target="item.target"
                >{{ item.navTitle }}</a>
              </li>
            </template>
          </ul>
        </li>
      </ul>
      <search-box v-if="!hideSearch" />
      <router-link v-if="hideTop" :to="{name: 'index'}" class="go_index font_14 c_blue">返回首页</router-link>
    </div>
  </div>
</template>
<script>
import SearchBox from '~/components/common/SearchBox'
export default {
  components: {
    SearchBox
  },
  filters: {
    parseUrl(route, navUrl) {
      if (navUrl.path === route) {
        return 'active'
      } else {
        return ''
      }
    }
  },
  props: {
    hideNav: {
      type: Boolean
    },
    active: {
      type: String,
      default: ''
    },
    hideTop: {
      type: Boolean
    },
    hideSearch: {
      type: Boolean
    }
  },
  data() {
    return {
      navList: this.$store.state.navList.list,
      webInfo: this.$store.state.webInfo,
      isTeacher: false,
      isNow: '',
      showNum: 6,
      time: 0
    }
  },
  computed: {
    userInfo() {
      return this.$store.state.userInfo
    },
    msgNum() {
      return this.$store.state.userMsgNum || 0
    }
  },
  watch: {
    $route(val) {
      if (val) {
        this.isNow = window.location.href
      }
    }
  },
  mounted() {
    this.isNow = window.location.href
    if (this.userInfo && this.userInfo.userType === 2) {
      this.isTeacher = true
    }
    if (this.userInfo) {
      this.$store.dispatch('GET_USERMSGNUM')
    }
  },
  methods: {
    toMsg() {
      // 加一个时间戳 让每次点击站内信按钮url都会变化 一变化就回到站内信列表
      this.$router.push({
        name: 'account-message',
        query: { num: new Date().getTime() }
      })
    },
    login() {
      this.$store.commit('SET_TEMPORARYURL')
      this.$router.push({ name: 'login' })
    },
    signOut() {
      this.$store.commit('SIGN_OUT')
      window.location.reload()
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.h_header {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.h_top {
  background: rgb(51, 51, 51);
  .h_top_body {
    width: 1200px;
    height: 30px;
    margin: 0px auto;
  }
}
.top_list {
  float: right;
  li {
    float: left;
    color: #ffffff;
    font-size: 12px;
    margin-top: 9px;
    padding: 0px 10px 0px 0px;
    position: relative;
    img {
      width: 14px;
      height: 13px;
      position: absolute;
      left: -20px;
    }
    .vip_icon {
      position: relative;
      left: 0;
      top: 1px;
      cursor: pointer;
    }
    a {
      color: #ccc;
      &:hover {
        text-decoration: none;
        color: rgb(35, 136, 236);
      }
      &.c_gold {
        color: #ca9e70;
      }
    }
    &.s_left {
      border-left: 1px solid #ccc;
      padding-left: 10px;
    }
  }
  .msg {
    position: relative;
    padding-right: 10px;
    .msg_num {
      position: absolute;
      width: 14px;
      height: 14px;
      line-height: 14px;
      font-size: 10px;
      text-align: center;
      background: red;
      border-radius: 50%;
      color: #fff;
      top: -4px;
    }
  }
}
.h_nav {
  width: 1200px;
  margin: 0 auto;
  height: 110px;
  position: relative;
  .go_index {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
}
.h_logo {
  display: inline-block;
  position: absolute;
  top: 30px;
  // left: 20px;
  img {
    height: 50px !important;
  }
}
.h_nav_ul {
  height: 110px;
  padding: 25px 0px;
  width: 680px;
  display: inline-block;
  margin-left: 220px;
  .nav_item {
    float: left;
    height: 60px;
    cursor: pointer;
    line-height: 60px;
    font-size: 16px;
    padding: 0 12px;
    &.active {
      position: relative;
      top: 1px;
      border-bottom: 2px solid #ff0000;
      a {
        color: #ff0000;
      }
    }
    a:hover {
      color: red;
      text-decoration: none;
    }
  }
}
.more_box {
  position: relative;
  width: 80px;
  text-align: center;
  .el-icon-more {
    font-size: 26px;
    position: relative;
    top: 5px;
  }
  .up {
    display: block;
    position: absolute;
    top: -3px;
    left: 50%;
    background: #fff;
    transform: translateX(-50%) rotate(135deg);
    width: 10px;
    height: 10px;
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .san {
    display: block;
    position: absolute;
    top: 52px;
    right: -6px;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: #ccc transparent transparent;
  }
  .more_items {
    display: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
    top: 50px;
    left: 0px;
    background: #fff;
    position: absolute;
    z-index: 999;
    .more_item {
      border-bottom: 1px solid rgb(235, 235, 235);
      &.active {
        border-bottom: 2px solid #ff0000;
        a {
          color: #ff0000;
        }
      }
    }
  }
  &:hover {
    .more_items {
      display: block;
    }
  }
}
</style>
