<template>
  <div class="right_window">
    <div v-if="webInfo && webInfo.minappCode" @click.stop="hideEwm = false" @mouseenter="showEwm()" class="iconfont right_item show_xcx">
      <div class="iconfont" style="font-size: 28px;">&#xe619;</div>
      小程序
      <div v-if="webInfo && webInfo.minappCode && !hideEwm" class="xcx_box">
        <div class="ewm_box">
          <img :src="webInfo.minappCode" class="ewm_img" alt="">
          <p>
            关注小程序
          </p>
          <p>
            学习更便捷
          </p>
        </div>
      </div>
    </div>
    <div v-if="webInfo && webInfo.isShowService" @mouseenter="showKefu" @mouseleave="hideKefu" class="iconfont right_item show_kefu">
      <div class="iconfont" style="font-size: 24px;">&#xe635;</div>
      客服
      <div v-if="isKefu" :class="{kefu: true}">
        <a v-if="webInfo.service1" :href="'http://wpa.qq.com/msgrd?y=3&uin=' + webInfo.service1 + '&site=qq&menu=yes'" target="_blank">
          <img src="../../assets/image/qq.png" class="qq_img" alt="">
          客服：{{ webInfo.service1 }}
        </a>
        <a v-if="webInfo.service2" :href="'http://wpa.qq.com/msgrd?y=3&uin=' + webInfo.service2 + '&site=qq&menu=yes'" target="_blank">
          <img src="../../assets/image/qq.png" class="qq_img" alt="">
          客服：{{ webInfo.service2 }}
        </a>
        <a v-if="webInfo.service3" :href="'http://wpa.qq.com/msgrd?y=3&uin=' + webInfo.service3 + '&site=qq&menu=yes'" target="_blank">
          <img src="../../assets/image/qq.png" class="qq_img" alt="">
          客服：{{ webInfo.service3 }}
        </a>
        <a v-if="webInfo.service4" :href="'http://wpa.qq.com/msgrd?y=3&uin=' + webInfo.service4 + '&site=qq&menu=yes'" target="_blank">
          <img src="../../assets/image/qq.png" class="qq_img" alt="">
          客服：{{ webInfo.service4 }}
        </a>
        <a v-if="webInfo.service5" :href="'http://wpa.qq.com/msgrd?y=3&uin=' + webInfo.service5 + '&site=qq&menu=yes'" target="_blank">
          <img src="../../assets/image/qq.png" class="qq_img" alt="">
          客服：{{ webInfo.service5 }}
        </a>
      </div>
    </div>
    <div @click="goTop" class="iconfont right_item top_item">
      &#xe639;
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      webInfo: '',
      isKefu: false,
      hideEwm: true
    }
  },
  computed: {
    changeEwm() {
      return this.$store.state.changeEwm
    }
  },
  watch: {
    changeEwm() {
      this.hideEwm = true;
    }
  },
  mounted() {
    console.log(this.hideEwm)
    this.webInfo = this.$store.state.webInfo
  },
  methods: {
    showEwm() {
      this.hideEwm = false;
      this.isKefu = false
    },
    // 显示客服列表
    showKefu() {
      clearTimeout(this.timer)
      this.isKefu = true
      this.hideEwm = true
    },
    // 隐藏客服列表
    hideKefu() {
      this.timer = setTimeout(() => {
        this.isKefu = false
      }, 500)
    },
    // 返回顶部
    goTop() {
      window.scrollTo(0, 0)
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss">
  .right_window {
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 999;

    .right_item {
      padding-top: 1px;
      width: 60px;
      height: 70px;
      line-height: 14px;
      text-align: center;
      background: #fff;
      color: #999;
      border: 1px solid #E5E5E5;
      box-sizing: border-box;
      border-radius: 8px;
      font-size: 12px;
      .iconfont {
        margin-top: 12px;
        margin-bottom: 5px;
        font-size: 26px;
        line-height: 26px;
        height: 26px;
      }
      &:hover {
        cursor: pointer;
        color: #409EFF
      }
    }

    .show_xcx {
      border-radius: 8px 8px  0 0;
    }

    .show_kefu {
      border-radius: 0 0 8px 8px;
      border-top: none
    }

    .top_item {
      margin-top: 10px;
      height: 60px;
      line-height: 56px;
      font-size: 24px;
    }
    .xcx_box {
      position: absolute;
      z-index: 20;
      left: -173px;
      bottom: 140px;
      border-radius: 6px;
      width: 168px;
      padding-top: 1px;
      height: 189px;
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      .ewm_box {
        width: 168px;
        height: 189px;
        position: relative;

      }
      .ewm_img {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 14px;
      }
      p {
         font-size: 12px;
        line-height: 17px;
        text-align: center;
        color: #999999;
      }
    }
    .wx_xcx, .wx_gzh, .kefu {
      position: absolute;
      padding: 0 10px;
      width: 140px;
      left: -170px;
      bottom: 50px;
      display: none;
      background: #fff;
      .show_img {
        width: 140px;
        height: 140px;
      }
    }
    .kefu {
      color: #333;
      display: block;
      font-size: 14px;
      left: -193px;
      width: 188px;
      padding: 0 5px;
      z-index: 20;
      bottom: 70px;
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      margin-right: 10px;
      a {
        background: #fff;
        display: block;
        margin-right: 10px;
        font-size: 12px;
        height: 48px;
        line-height: 48px;
        color: #999999;
        border-bottom: 1px solid #E5E5E5;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          color: #107ec4; 
          text-decoration: none;
        }

        .qq_img {
          width: 14px;
          height: 14px;;
          position: relative;
          top: 3px;
        }
      }
      &.top50 {
        top: 50px;
      }
      &.top100 {
        top: 100px;
      }
    }
  }
  .show_xcx {
    &:hover .wx_xcx {
      display: block;
    }
  }
  .show_gzh {
    &:hover .wx_gzh {
      display: block;
    }
  }
  .xcx_title {
    text-align: center;
    font-size: 12px;
    color: #333;
    height: 30px;
    padding-bottom: 15px;
  }
</style>
