<template>
  <div class=" search_box clearfix">
    <form @submit="changeShow" action="" class="clearfix">
      <button @click="changeShow" class="search_btn">
        <span class="iconfont">&#xe633;</span>
      </button>
      <input v-model="searchStr" class="search_input" type="text" placeholder="请输入搜索内容">
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      searchStr: ''
    }
  },
  methods: {
    changeShow(e) {
      e.preventDefault()
      // console.log(this.searchStr)
      if (!this.searchStr) {
        this.$msgBox({ content: '请输入搜索内容' })
        return
      }
      const path = this.$route.path;
      let type = 1;
      if (path.indexOf('live') !== -1) {
        type = 2
      }
      if (path.indexOf('resource') !== -1) {
        type = 4
      }
      if (path.indexOf('exam') !== -1) {
        type = 5
      }
      if (path.indexOf('blog') !== -1) {
        type = 6
      }
      if (path.indexOf('question') !== -1) {
        type = 7
      }

      if (path.indexOf('/info') !== -1) {
        type = 8
      }
      this.$router.push({ name: 'search-str', params: { str: this.searchStr }, query: { type } })
    },
    closeSearch() {
      this.showBox = false
      this.searchStr = ''
    }
  }
}
</script>
<style lang="scss" scoped>
  .search_box {
    width: 200px;
    display: inline-block;
    vertical-align: top;  ;
    height: 40px;
    margin: 13px 0 0 0;
    position: relative;
    form {
      width: 100%;
      border: none;
    }
  }
  .search_input {
    height: 40px;;
    line-height: 40px;;
    width: 0px;
    font-size: 13px;
    color: #333;
    border: none;
    width: 100%;
    padding-left: 42px;
    padding-right: 12px;
    border-radius: 20px;
    background-color: rgba(247, 248, 250, 1);
  }
  .search_btn {
    position: absolute;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    background: #fff;
    border: 0;
    left: 5px;
    top:2px;
    background: none;
    font-size: #333;
    width: 35px;
    font-size: 14px;
    outline: none;
    .iconfont {
      font-size: 24px;
      color: #333;
    }
  }
</style>
