<template>
<!--pages/orderResult/result.wxml-->
<view>
  <view class="success_box b_fff">
    <view class="success_text">
      <icon class="success_icon" type="success" size="50"></icon>
      <view class="success_msg">
        <text class="font33_bold c_333">支付成功！</text>
        <text class="font25 c_999">订单金额：<text class="c_red">￥{{option.p}}</text></text>
      </view>
    </view>
    <view class="btn_box mgt100">
	  <navigator open-type="switchTab" v-if="option.examId" @click="toExam" class="link_btn font25">马上考试</navigator>
      <navigator open-type="switchTab" v-else url="../account/index/index" class="link_btn font25">进入个人中心</navigator>
	</view>
  </view>
</view>
</template>

<script>

export default {
  data() {
    return {
      option: null,
	  
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.setData({
      option: options
    });
  },
	
  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
	  toExam() {
		  uni.navigateTo({
		      url: '/pages/exam/examInfo?id=' + this.options.examId
		  });
	  }
  }
};
</script>
<style scoped>
/* pages/orderResult/result.wxss */
page {
  background: #fff;
}
.success_box {
  padding: 80rpx 50rpx 50rpx;
}
.success_text {
  display: flex;
}
.success_icon {
  margin: 0 40rpx 0 160rpx;
}
.success_msg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn_box {
  display: flex;
  justify-content: space-around;
}
.link_btn {
  width: 291rpx;
  height: 88rpx;
  line-height: 88rpx;
  border: 1rpx solid #2488EC;
  color: #2488EC;
  text-align: center;
  border-radius: 6px;
}
.course_header {
  padding: 0rpx 20rpx;
  height: 80rpx;
  line-height: 80rpx;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.course_box {
  padding: 20rpx 20rpx 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course_info {
  width: 49%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20rpx;
}
.course_img {
  width: 100%;
  height: 169rpx;
  border-radius: 6px;
}
</style>