<template>
    <div class="app-container">
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="课程名称" >
          <el-input v-model="map.courseName" placeholder="" />
        </el-form-item>
        <el-form-item class="filter-item" label="课程分类">
          <el-select v-model="map.courseCategory" clearable placeholder="请选择">
            <el-option
              v-for="(value, key) in courseCategoryEnums"
              :key="key"
              :label="value"
              :value="key"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="汇总日期">
          <el-date-picker
            v-model="gmtCreate"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="gmtCreatePickerOptions"
          />
        </el-form-item>
        <el-form-item class="filter-item" label="">
            <el-button class="filter-item" type="primary" @click="query">查询</el-button>
            <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
      </el-form>
      <el-table
        :data="list"
        size="mini"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row>
          <el-table-column align="center" type="index" label="序号" width="80" />
          <el-table-column label="课程名称" prop="courseName" />
          <el-table-column label="课程分类" width="80">
            <template slot-scope="scope">
              {{ courseCategoryEnums[scope.row.courseCategory] }}
            </template>
          </el-table-column>
          <el-table-column label="统计日期" prop="gmtCreate" />
          <el-table-column label="课程数量" prop="courseNum" />
          <el-table-column label="课程收入" prop="courseIncome" />
          <el-table-column label="课程利润" prop="courseProfit" />
      </el-table>
      <el-pagination
        :current-page="page.pageCurrent"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
</template>

<script>
  import { orderStatCourserPage } from '@/api/data'

export default {
  name: 'Dashboard',
  data() {
    return {
      gmtCreatePickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      courserStatisticalData: {},
      gmtCreate: [],
      list: [],
      map: {},
      courseCategoryEnums: {},
      listLoading: true
    }
  },
  created() {
    const end = new Date();
    const start = new Date();
    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
    this.gmtCreate = [start, end]
    this.query()
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'CourseCategoryEnum', type: 'obj'}).then(res => {
      this.courseCategoryEnums = res;
    });
  },
  methods: {
    query() {
      // this.listLoading = true
      if (this.gmtCreate !== undefined) {
        this.map.beginGmtCreate = this.gmtCreate[0];
        this.map.endGmtCreate = this.gmtCreate[1];
      }
      this.listForPage();
    },
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {}
      this.gmtCreate = []
      this.page.pageCurrent = 1
      this.query()
    },
    listForPage() {
      this.loading.start()
      orderStatCourserPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
      })
    }
  }
}
</script>
