<template>
  <!--弹窗-->
  <el-dialog
    width="30%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form ref="formData" :model="formData" :rules="rules" label-width="100px">
      <el-form-item label="导航名称" prop="navName">
        <el-input v-model="formData.navName" placeholder="请输入导航名称" class="form-group" />
      </el-form-item>
      <el-form-item label="排序">
        <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import { websiteNavSave } from '@/api/system'

  export default {
    name: 'Add',
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        ctrl: {
          dialogVisible: true
        },
        rules: {
          navName: [
            { required: true, message: '请输入导航名称', trigger: 'blur', autocomplete: 'on' }
          ]
        }
      }
    },
    methods: {
      handleClose() {
        this.$refs['formData'].resetFields()
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (!this.formData.navName) {
            this.$message({
              type: 'error',
              message: '请输入导航名称'
            });
            return false
          }
          if (valid) {
            this.loading = true
            websiteNavSave(this.formData).then(res => {
              this.loading = false
              if (res.code === 200) {
                this.tips('操作成功', 'success')
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '提交失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          } else {
            this.$message({
              type: 'error',
              message: '提交失败'
            });
          }
        });
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 220px;
  }
</style>
