<template>
    <view class="recruit-page" v-html="webInfo.privacyAgreement"></view>
</template>

<script>
    export default {
        data() {
            return {
                webInfo: uni.getStorageSync('website')
            }
        }
    }
</script>

<style scoped>
    .recruit-page{
        font-size: 26rpx;
        padding: 20rpx;
    }
</style>
