<template>
	<view>
		 {{ text }}
	</view>
</template>

<script>
	export default {
		data() {
			return {
				text: uni.getStorageSync('debug')
			}
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
