<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="分类名称">
        <el-input v-model="map.categoryName" />
      </el-form-item>
      <el-form-item class="">
        <el-button class="" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="" @click="handleReset">重置</el-button>
        <el-button v-if="checkPermission('recordCourseCategoryAdd')" plain type="success" size="mini" @click="handleAddOneRow">添加</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      :default-expand-all="true"
      row-key="id"
      :tree-props="{children: 'childrenList', hasChildren: 'hasChildren'}"
    >

      <el-table-column label="分类名称" prop="categoryName" />
      <el-table-column label="备注" prop="remark" />
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="sort" width="100" />
      <el-table-column label="操作" width="300">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('recordCourseCategoryEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('recordCourseCategoryStatus') && scope.row.statusId === 1" plain type="danger" size="mini" @click="handleUpdateStatus(scope.row)">禁用</el-button>
          <el-button v-if="checkPermission('recordCourseCategoryStatus') && scope.row.statusId === 0" plain type="success" size="mini" @click="handleUpdateStatus(scope.row)">启用</el-button>
          <el-button v-if="checkPermission('recordCourseCategoryAdd') && scope.row.floor < 3" plain type="success" size="mini" @click="handleAddRow(scope.row)">添加</el-button>
          <el-button v-if="checkPermission('recordCourseCategoryDelete') && scope.row.childrenList.length <=0" plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add-course-category :title="addCtr.title" :visible="addCtr.visible" :info="addCtr.info" @close-callback="closeCallback" />
    <edit-course-category :title="editCtr.title" :visible="editCtr.visible" :info="editCtr.info" @close-callback="closeEditCallback" />
  </div>
</template>

<script>
import {courseCategoryPage, courseCategoryDelete, courseCategoryView, courseCategoryUpdateStatus} from '@/api/course'
import AddCourseCategory from '@/views/course/courseCategory/record/add/index';
import EditCourseCategory from '@/views/course/courseCategory/record/edit/index';

export default {
  components: {EditCourseCategory, AddCourseCategory},
  data() {
    return {
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      list: [],
      map: {
        categoryType: 1
      },
      listLoading: true,
      statusIdEnums: {},
      addCtr: {
        title: '添加分类',
        visible: false,
        info: {}
      },
      editCtr: {
        title: '修改分类',
        visible: false,
        info: {}
      }
    }
  },
  created() {
    this.listForPage()
  },
  mounted() {
    this.$store.dispatch('GetOpts', {enumName: 'StatusIdEnum', type: 'obj'}).then(res => {
      this.statusIdEnums = res;
    });
  },
  methods: {
    handleDeleteRow(row) {
      {
        const body = '确定要删除？'
        this.$confirm(body, '删除确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          courseCategoryDelete(row.id).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    handleSizeChange(size) {
      this.page.pageSize = size
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleCurrentChange(current) {
      this.page.pageCurrent = current
      this.listForPage();
    },
    handleReset() {
      this.map = {
        categoryType: 1
      }
      this.page.pageCurrent = 1
      this.listForPage();
    },
    handleAddRow(row) {
      this.addCtr.info = {
        parentId: row.id,
        floor: row.floor,
        categoryType: row.categoryType
      }
      this.addCtr.visible = true;
    },
    handleAddOneRow() {
      this.addCtr.info = {
        parentId: 0,
        floor: 1,
        categoryType: 1
      }
      this.addCtr.visible = true;
    },
    handleUpdateRow(id) {
      courseCategoryView(id).then(res => {
        this.editCtr.info = res.data;
        this.editCtr.visible = true;
      })
    },
    handleUpdateStatus(row) {
      {
        let body = '确定要禁用【' + row.categoryName + '】？'
        let statusId = 0;
        if (row.statusId === 0) {
          body = '确定要启用【' + row.categoryName + '】？'
          statusId = 1;
        }
        this.$confirm(body, '修改确认', {
          confirmButtonText: '确认',
          cancelButtonText: '取消'
        }).then(() => {
          this.loading.start();
          courseCategoryUpdateStatus(row.id, statusId).then(res => {
            this.$message.success(res.data);
            this.listForPage();
          })
        })
      }
    },
    // 查询条件
    handleCheck() {
      this.page.pageCurrent = 1
      this.listForPage()
    },
    listForPage() {
      // this.listLoading = true
      this.loading.start()
      courseCategoryPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
        this.list = res.data.list
        this.page.pageCurrent = res.data.pageCurrent
        this.page.totalCount = res.data.totalCount
        this.page.pageSize = res.data.pageSize
      })
    },
    closeCallback() {
      this.addCtr.visible = false;
      this.page.pageCurrent = 1;
      this.listForPage();
    },
    closeEditCallback() {
      this.editCtr.visible = false;
      this.page.pageCurrent = 1;
      this.listForPage();
    }
  }
}
</script>
