<template>
<view>
  <view class="search_box">
    <view class="p_relative">
      <image class="search_icon" src="../../../static/images/search.svg"></image>
      <view class="search_input" @tap="goSearch">请输入题库名称</view>
    </view>
  </view>
  <library-list @triggerchange="selectCB" :showPrice="showPrice"></library-list>
  <view class="resource_items">
    <navigator v-for="(item, index) in courseList" :key="index" :url="'/pages/library/view/view?id=' + item.id" class="resource_item mgt20">
      <image class="resource_icon" src="../../../static/images/resource_icon.png"></image>
      <text>{{item.courseName}}</text>
      <view v-if="showPrice" class="font25">
        <text class="c_red">{{!item.isFree ? '￥' + item.courseOriginal : '免费'}} </text>
        <text v-if="!item.isFree" class="c_gold">SVIP会员:{{item.courseDiscount ? '￥' + item.courseDiscount : '免费'}}</text>
      </view>
    </navigator>
  </view>
  <view class="no_more c_999 font25 text_center" v-if="pageCurrent == totalPage">没有更多了...</view>
    <view class="no_more c_999 font25 text_center" v-else>{{loadMsg}}</view>
</view>
</template>

<script>
// pages/course/list/list.js
import * as apis from "../../../api/course";
const app = getApp();
import classList from "../../../components/classList/class";
import libraryList from "../../../components/libraryClass/libraryClass";

export default {
  data() {
    return {
      map: {
        courseCategory: 3,
        categoryId1: '',
        categoryId2: '',
        categoryId3: ''
      },
      showPrice: app.globalData.temData.showPrice,
      courseClass: '',
      courseType: 'course',
      courseList: [],
      pageSize: 20,
      pageCurrent: 1,
      totalPage: "",
      loadMsg: ""
    };
  },

  components: {
    classList,
    libraryList
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.getCourseList(1);
    this.setData({
      showPrice: uni.getStorageSync('showPrice')
    });
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function (e) {
    console.log(this.pageCurrent);

    if (this.pageCurrent < this.totalPage) {
      this.setData({
        loadMsg: '加载中...'
      });
      this.getCourseList(this.pageCurrent + 1);
    } else {
      this.setData({
        loadMsg: '没有更多了...'
      });
    }
  },

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    goSearch: () => {
      uni.navigateTo({
        url: '/pages/course/search/search?type=3'
      });
    },

    // 获取课程列表
    getCourseList(page) {
      this.setData({
        pageCurrent: page
      });
      apis.courseList(page, this.pageSize, this.map).then(res => {
        console.log(res);
        this.setData({
          pageCurrent: res.pageCurrent,
          totalPage: res.totalPage,
          courseList: this.courseList.concat(res.list)
        });
      });
    },

    // 筛选组件回调
    selectCB(e) {
      this.setData({
        map: e.detail,
        courseList: []
      });
      this.getCourseList(1);
    }

  }
};
</script>
<style scoped>
.resource_items {
  margin-top: 200rpx;
  padding: 0rpx 25rpx 30rpx;
}
.resource_item {
  background: #fff;
  font-size: 30rpx;
  padding: 30rpx;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 6px;
}
.resource_icon {
  width: 26rpx;
  height: 26rpx;
  position: relative;
  top: 2rpx;
  margin-right: 14rpx;
}
.search_box {
  background: #2488EC;
  display: flex;
  padding: 10rpx 0;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 70rpx;
}
.search_icon {
  width: 25rpx;
  height: 25rpx;
  position: absolute;
  top: 19rpx;
  left: 40rpx;
}
.search_input {
  background: #fff;
  height: 61rpx;
  line-height: 61rpx;
  color: #999;
  width: 655rpx;
  border-radius: 6px;
  font-size: 14px;
  padding-left: 45rpx;
  margin-left: 25rpx;
}
</style>
