<template>
  <div>
    <div class="container clearfix">
      <ul class="breads clearfix">
        <li class="fl">
          <nuxt-link :to="{name: 'index'}">
            首页
          </nuxt-link>
          &nbsp;&nbsp;>
        </li>
        <li class="fl">
          &nbsp;&nbsp;
          <nuxt-link :to="{name: 'resource'}">
            文库区
          </nuxt-link>
          &nbsp;&nbsp;>
        </li>
        <li class="fl breads_title">
          &nbsp;&nbsp;
          {{ courseInfo.courseName }}
        </li>
      </ul>
      <div class="fl w920">
        <div class="title_box">
          <p class="rd_title clearfix">
            {{ courseInfo.courseName }}
            <button v-if="!courseInfo.isPay" @click="goPay" class="down_btn no_top b_red fr">
              立即购买
            </button>
          </p>
          <div class="clearfix mgt30 lh30">
            <p class="fl c_red font20 font_b">
              {{ courseInfo.isFree ? '免费' : '￥' + courseInfo.courseOriginal }}
            </p>
            <span class="fr">
              <span class="pdr10 font12">
                <span class="pdr10">学习人数:</span><span>{{ courseInfo.countStudy || 0 }}</span>
              </span>
            </span>
          </div>
        </div>
        <div class="info_box mgt30">
          <div class="info_title">
            简介
          </div>
          <!-- eslint-disable -->
          <div class="info_text" v-html="courseInfo.introduce" />
        </div>
        <div class="info_box auto_height mgt30">
          <div class="info_title">
            文库
          </div>
          <div v-for="(item, index) in chapterList" :key="index" class="down_item clearfix">
            <div class="img_box fl">
              <img v-if="item.isVideo" src="~/assets/image/vdo.png" alt="">
              <img v-else src="~/assets/image/word.png" alt="">
            </div>
            <div class="fl ac_name" :title="item.acName">
              {{ item.isVideo ? item.videoName : item.accessoryList[0].acName }} -
              <span v-if="item.isVideo"> 视频</span>
              <span v-else> 文档</span>
            </div>
            <a v-if="item.isVideo" href="javascript:" :class="{down_btn: true, b_red: true, fr: true, b_blue: item.isFree || courseInfo.isPay}" @click="lookVideo(item)">
              观看
            </a>
            <a v-if="(item.isFree || courseInfo.isPay) && !item.isVideo" href="javascript:" class="down_btn b_blue fr" @click="goDown(item)">
              下载
            </a>
            <button v-else-if="!item.isVideo" class="down_btn b_red fr" @click="downResource(item)">
              下载
            </button>
          </div>
          <!-- <div v-if="!chapterList.length" class="down_item c_999 text_center">
            暂时没有文库
          </div> -->
        </div>
      </div>
      <y-resource-right :detail="true" :teacherInfo="teacherInfo" />
    </div>
    <d-video v-if="showVideo" :data="videoData" @hidefun="showVideo = false" />
    <d-pay v-if="showPay" :is-course="true" :data="payData" @hidefun="showPay = false" />
    <right-tap />
  </div>
</template>
<script>
import DPay from '~/components/PayModal'
import DVideo from '~/components/course/VideoModal'
import RightTap from '~/components/common/RightTap'
import YResourceRight from '~/components/resource/ResourceRight'
import { courseDetail, chapterDetail } from '~/api/preview.js'
export default {
  components: {
    DPay,
    DVideo,
    RightTap,
    YResourceRight
  },
  head() {
    return {
      title: this.courseInfo.courseName + '-' + this.$store.state.clientData.name
    }
  },
  data() {
    return {
      showVideo: false,
      isAttention: false,
      payData: null,
      showPay: false,
      nowPeriodNo: '', // 当前播放章节
      pageCurrent: 1, // 章节页数
      totalPage: 1,
      chapterList: [] // 章节列表
    }
  },
  computed: {
    tokenInfo() {
      return this.$store.state.tokenInfo
    }
  },
  async asyncData(context) {
    const tk = context.store.state.tokenInfo
    try {
      const result = {}
      if (tk) {
        const data = await courseDetail({ id: context.params.id }, tk)
        // console.log(data)
        if (data.code === 200) {
          result.courseInfo = data.data
          result.teacherInfo = data.data.lecturer
          if (data.data.isPay) {
            result.isPay = true
          } else {
            result.isPay = false
          }
        } else {
          result.courseInfo = null
        }
        return result
      } else {
        context.redirect('/login')
      }
    } catch (e) {
      console.log(e)
      context.error({ message: 'User not found', statusCode: 404 })
    }
  },
  mounted() {
    this.getChapterDetail()
  },
  methods: {
    goPay() {
    },
    // 获取章节
    getChapterDetail() {
      const courseId = this.courseInfo.id
      chapterDetail({
        courseId,
        pageSize: 1,
        pageCurrent: this.pageCurrent
      }).then((res) => {
        console.log(res)
        if (res.code === 200) {
          this.totalPage = res.data.totalPage
          if (res.data.list && res.data.list.length) {
            this.chapterList = this.chapterList.concat(res.data.list[0].periodList)
            console.log(this.chapterList)
          }
          this.pageCurrent = this.pageCurrent + 1
          if (this.pageCurrent <= this.totalPage) {
            this.getChapterDetail()
          }
        }
      })
    },
    lookVideo(data) {
      this.$msgBox({ content: '暂时无法观看' })
    },
    goDown(acInfo) {
    },
    downResource(data) {
    },
    // 点赞
    setLike() {
    },
    // 收藏课程
    setCollection() {
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  .lh30 {
    line-height: 30px;
  }
  a:hover {
    text-decoration: none;
  }
  .breads {
    line-height: 40px;
    font-size: 14px;
    color: #999;
    .breads_title {
      width: 240px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    a {
      color: #999;
      &:hover {
        color: #333;
      }
    }
  }
  .w920 {
    width: 920px;
  }
  .pdr10 {
    padding-right: 10px;
  }
  .title_box {
    width: 920px;
    min-height: 123px;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    font-size: 14px;
    color: #999;
    .rd_title {
      font-size: 20px;
      font-weight: 700;
      color: #333;
    }
  }
  .star_btn {
    color: #999;
    &.b_red {
      color: #D51423;
    }
    &:hover {
      color: #D51423;
    }
  }
  .info_box {
    width: 920px;
    border-radius: 6px;
    font-size: 14px;
    background: #fff;
    color: #333;
    &.auto_height {
      margin-bottom: 30px;
    }
    .info_title {
      font-weight: 700;
      padding: 0 20px;
      border-bottom: 1px solid rgb(242, 242, 242);
      line-height: 60px;
    }
    .info_text {
      padding: 20px;
      line-height: 28px;
    }
  }
  .down_item {
    line-height: 80px;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 0 20px;
    font-size: 16px;
    .img_box {
      width: 30px;
      height: 36px;
      margin: 12px 20px 0 0;
      img {
        width: 30px;
        height: 36px;
      }
    }
    .ac_name {
      width: 640px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    &.text_center {
      text-align: center;
    }
  }
  .down_btn {
    display: block;
    width: 106px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    margin-top: 22px;
    text-align: center;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    &.b_red {
      background: #D51423;
    }
    &.b_blue {
      background: #107ec4;;
    }
    &.no_top {
      margin-top: 0px;
    }
  }
</style>
