<template>
  <el-dialog :title="title" :visible.sync="visible" width="32%" :before-close="handleClose">
    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
      <el-form-item label="专区标题" prop="zoneTitle">
        <el-input v-model="form.zoneTitle" class="form-group" />
      </el-form-item>
      <el-form-item label="排序" prop="sort">
        <el-input-number v-model="form.sort" controls-position="right" :min="0" />
      </el-form-item>
      <el-form-item v-if="form.actType === 2" label="时间">
        <el-time-picker
          v-model="form.zoneTime"
          is-range
          range-separator="至"
          value-format="HH:mm:ss"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
          placeholder="选择时间范围"
        />
        <el-tooltip class="item"  effect="light" content="指秒杀开始和结束的时间段" placement="top-start">
          <svg-icon class="svg-icon" icon-class="svg-icon-info" />
        </el-tooltip>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('form')">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import {actZoneSave} from '@/api/marketing'

  export default {
    name: 'AddZone',
    props: {
      title: {
        type: String,
        default: null
      },
      actId: {
        type: String,
        default: null
      },
      info: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        form: {
          beginTime: '',
          endTime: '',
          sort: 1
        },
        rules: {
          zoneTitle: [
            {required: true, message: '请输入专区标题', trigger: 'blur'}
          ]
        }
      }
    },
    created() {
      this.form.actId = this.info.actId;
      this.form.actType = this.info.actType
    },
    methods: {
      handleClose() {
        this.$emit('close-callback')
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            if (this.form.actType === 2) {
              if (this.form.zoneTime === undefined) {
                this.tips('请选择秒杀时效')
                return false;
              } else {
                this.form.beginTime = this.form.zoneTime[0];
                this.form.endTime = this.form.zoneTime[1];
              }
            }
            this.onSubmit()
          } else {
            return false;
          }
        })
      },
      onSubmit() {
        this.loading = true
        // 新增
        actZoneSave(this.form).then(res => {
          this.loading = false
          this.tips(res.data, 'success');
          this.handleClose();
        }).catch(() => {
          this.loading = false
        })
      }
    }
  }
</script>
<style scoped>
  .form-group {
    width: 100%;
    max-width: 300px;
  }
</style>
