<template>
<view class="msg_detail">
  <view class="msg_box b_fff">
    <text class="font33 c_333">{{msgInfo.msgTitle}}</text>
    <view class="hr"></view>
    <view class="flex_row_between font25 mgt10">
      <text class="c_999">{{msgInfo.gmtCreate}}</text>
    </view>
  </view>
  <view class="c_333 mgt20 font33">
    <rich-text :nodes="msgInfo.msgText"></rich-text>
  </view>
</view>
</template>

<script>
// pages/user_msg_detail/user_msg_detail.js
import { messageInfo } from "../../../../api/user";
let app = getApp();

export default {
  data() {
    return {
      msgInfo: ''
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    let id = options.id;
    messageInfo({
      id: id
    }).then(res => {
      uni.setNavigationBarTitle({
        title: '通知:' + res.msgTitle //页面标题为路由参数

      });
      this.setData({
        msgInfo: res
      });
    });
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {}
};
</script>
<style scoped>
.msg_detail {
  margin: 30rpx;
}
.hr {
  height: 1px;
  width: 100%;
  margin-top: 5px;
  background: rgba(247, 245, 248, 1);
}
.msg_box{
  padding: 20rpx;
}
</style>