<template>
  <div class="app-container">
    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="问题标题">
        <el-input v-model.trim="map.title" />
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="是否置顶">
        <el-select v-model="map.isTop" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in isTopEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="">
        <el-button class="filter-item" type="primary" @click="handleCheck">查询</el-button>
        <el-button class="filter-item" @click="handleReset">重置</el-button>
        <el-button  v-if="checkPermission('questionsImportEs')" plain type="success" size="mini" @click="handleImportEs">导入ES(重建索引)</el-button>
      </el-form-item>
    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" type="index" label="序号" width="60" />
      <el-table-column label="问题标题" prop="title" />
      <el-table-column label="标签" prop="tagsName" width="160" />
      <el-table-column label="收藏 / 点赞 / 评论 / 阅读" width="150px">
        <template slot-scope="scope">
          {{ scope.row.collectionAcount }} / {{ scope.row.admireAcount }} / {{ scope.row.commentAcount }} / {{ scope.row.readAcount }} 人
        </template>
      </el-table-column>
      <el-table-column label="是否置顶" width="70px">
        <template slot-scope="scope">
          {{ isTopEnums[scope.row.isTop] }}
        </template>
      </el-table-column>
      <el-table-column label="关联课程" prop="isCourse" width="70px" />
      <el-table-column label="状态" width="60px">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column label="质量度" prop="qualityScore" width="60px" />
      <el-table-column label="排序" prop="sort" width="60px" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button v-if="checkPermission('questionsEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row.id)">编辑</el-button>
          <el-button v-if="checkPermission('questionsCommentPage')" plain type="warning" size="mini" @click="handleCommentRow(scope.row.id)">评论</el-button>
          <el-button v-if="scope.row.statusId === 1 && checkPermission('questionsUpdateStatusId')" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button v-if="scope.row.statusId === 0  && checkPermission('questionsUpdateStatusId')" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
  import {questionsImportEs, questionsPage, questionsUpdateStatusId} from '@/api/community'

  export default {
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        ctrl: {
          editDialogVisible: false,
          addDialogVisible: false
        },
        statusIdEnums: {},
        isTopEnums: {},
        list: [],
        map: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'IsTopEnum', type: 'obj' }).then(res => {
        this.isTopEnums = res;
      });
    },
    methods: {
      handleImportEs() {
        {
          const body = '确定全部问答导入ES？';
          this.$confirm(body, '导入ES', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            questionsImportEs().then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.title + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.title + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            questionsUpdateStatusId({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleCommentRow(questionsId) {
        this.$router.push({ path: '/community/questions/comment/list', query: { questionsId: questionsId } });
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleUpdateRow(id) {
        this.$router.push({ path: '/community/questions/edit', query: { id: id } })
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        questionsPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      }
    }
  }
</script>
