<template>
  <div id="axis" class="axis"></div>
</template>

<script>
  import echarts from 'echarts'

  export default {
    name: 'Axis',
    props: {
      data: {
        type: Object,
        default: () => {
          return []
        }
      }
    },
    watch: {
      data() {
        this.parseOption()
      }
    },
    data() {
      return {
        myChart: undefined
      }
    },
    mounted() {
      this.myChart = echarts.init(document.getElementById('axis'), 'light');
      this.parseOption()
    },
    methods: {
      parseOption: function() {
        const option = {
          title: {
            text: '讲师排名 Top10'
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
              type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
          },
          toolbox: {
            show: true,
            feature: {
              magicType: {show: true, type: ['stack', 'tiled']},
              saveAsImage: {show: true}
            }
          },
          legend: {
            data: ['订单数', '讲师收入']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          yAxis: [
            {
              axisLabel: {
                interval: 0 // 设置成 0 强制显示所有标签。
              },
              splitLine: {
                lineStyle: {
                  type: 'dashed'
                }
              },
              type: 'value'
            },
            {
              type: 'value',
              splitLine: {
                lineStyle: {
                  type: 'dashed'
                }
              },
              axisLabel: {
                interval: 0, // 设置成 0 强制显示所有标签。
                formatter: '{value} 元' // 以元显示
              }
            }
          ],
          xAxis: {
            axisLabel: {
              textStyle: {
                align: 'left'
              },
              interval: 0, // 设置成 0 强制显示所有标签。
              formatter: function(value) {
                var str = '';
                var num = 8; // 每行显示字数
                var valLength = value.length; // 该项x轴字数
                var rowNum = Math.ceil(valLength / num); // 行数

                if (rowNum > 1) {
                  for (var i = 0; i < rowNum; i++) {
                    var temp = '';
                    var start = i * num;
                    var end = start + num;
                    temp = value.substring(start, end) + '\n';
                    str += temp;
                  }
                  return str;
                } else {
                  return value;
                }
              }
            },
            type: 'category',
            data: this.data.list
          },
          series: [
            {
              name: '订单数',
              type: 'line',
              stack: '订单数',
              data: this.data.lecturerOrderList
            },
            {
              name: '讲师收入',
              type: 'line',
              stack: '讲师收入',
              yAxisIndex: 1,
              data: this.data.lecturerIncomeList
            }
          ]
        };
        this.myChart.setOption(option)
      }
    }
  }
</script>

<style scoped>
  .axis{
    width: 100%;
    height: 350px;
  }
</style>
