<template>
    <div class="app-container">
      <el-row class="elRow">
        <axis :data="lecturerStatisticalData"/>
      </el-row>
      <el-form class="filter-container" inline label-width="90px" size="mini">
        <el-form-item class="filter-item" label="讲师名称">
          <el-input v-model="map.lecturerName" />
        </el-form-item>
        <el-form-item label="汇总日期">
          <el-date-picker
            v-model="gmtCreate"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            :picker-options="gmtCreatePickerOptions"
          />
        </el-form-item>
        <el-form-item class="filter-item" label="">
            <el-button class="filter-item" type="primary" @click="query">查询</el-button>
            <el-button class="filter-item" @click="handleReset">重置</el-button>
        </el-form-item>
        </el-form>

        <el-table
          :data="list"
          size="mini"
          element-loading-text="Loading"
          border
          fit
          highlight-current-row
        >
          <el-table-column align="center" type="index" label="序号" width="80" />
          <el-table-column label="统计日期" prop="gmtCreate" />
          <el-table-column label="讲师名称" prop="lecturerName" />
          <el-table-column label="日订单数" prop="lecturerOrder" />
          <el-table-column label="日收入" prop="lecturerIncome" />
          </el-table>
      <el-pagination
        :current-page="page.pageCurrent"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="page.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.totalCount"
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
</template>

<script>
  import axis from './axis'
  import {orderStatLecturerPage, lecturerStatistical} from '@/api/data'
export default {
  name: 'Dashboard',
  components: { axis },
  data() {
    return {
      gmtCreatePickerOptions: {
        shortcuts: [{
          text: '最近一周',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近一个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: '最近三个月',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      page: {
        beginPageIndex: 1,
        pageCurrent: 1,
        endPageIndex: 8,
        pageSize: 20,
        totalCount: 0,
        totalPage: 0
      },
      lecturerStatisticalData: {},
      gmtCreate: [],
      list: [],
      map: {},
      listLoading: true
    }
  },
  created() {
    const end = new Date();
    const start = new Date();
    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
    this.gmtCreate = [start, end]
    this.query()
  },
  methods: {
    query() {
      // this.listLoading = true
      if (this.gmtCreate !== undefined) {
        this.map.beginGmtCreate = this.gmtCreate[0];
        this.map.endGmtCreate = this.gmtCreate[1];
      }
      this.lecturerStatistical();
      this.listForPage();
    },
    handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
    },
    handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
    },
    handleReset() {
        this.map = {}
        this.gmtCreate = []
        this.page.pageCurrent = 1
        this.listForPage();
        this.lecturerStatistical();
    },
    // 课程订单排名汇总
    lecturerStatistical() {
      lecturerStatistical(this.map).then(res => {
        this.lecturerStatisticalData = res.data
      })
    },
    listForPage() {
      // this.listLoading = true
      this.loading.start()
      orderStatLecturerPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .elRow {
    margin-bottom: 20px;
  }
</style>
