<template>
<div class="main_box">
        <div class="tabs">
          <span class="tab on">讲师信息</span>
        </div>
        <div v-show="edit" class="main_cont form">
          <form @submit="userUpdate" action="">
            <div class="form_group">
              <div class="label">
                讲师头像:
              </div>
              <div class="form_ctl upload_ctl">
                <upload-image :image-url="teacherInfo.headImgUrl" @success="setUrl" />
                <p class="tip">
                  * 图片尺寸为800x800，图片大小&lt;500KB，建议使用真人照片，便于品牌宣传效果
                </p>
              </div>
            </div>
            <div class="form_group">
              <div class="label">
                讲师昵称:
              </div>
              <div class="form_ctl">
                <input v-model="teacherInfo.lecturerName" type="text" class="form_input" placeholder="请输入昵称">
              </div>
            </div>
            <div class="form_group">
              <div class="label">
                个人简介
              </div>
              <div class="form_ctl">
                <wangeditor v-model="teacherInfo.introduce"></wangeditor>
              </div>
            </div>
            <div class="form_group">
              <div class="label">
                &nbsp;
              </div>
              <div class="form_ctl">
                <button class="submit_btn">
                  确认
                </button>
              </div>
            </div>
          </form>
        </div>
        <div v-show="!edit" class="main_cont form">
          <div v-if="teacherInfo.auditStatus === 0" class="c_orange">
            *设置修改的信息需要通过审核才能生效，若已经修改请耐心等待！
          </div>
          <div v-if="teacherInfo.auditStatus === 2" class="c_orange">
            *审核失败，失败原因：{{ teacherInfo.auditOpinion }}
          </div>
          <br>
          <div class="form_group">
            <div class="label">
              讲师头像:
            </div>
            <div class="form_ctl upload_ctl">
              <input v-model="teacherInfo.headImgUrl" type="hidden">
              <div class="preview">
                <img v-if="teacherInfo.headImgUrl" :src="teacherInfo.headImgUrl" alt="">
                <i v-else class="iconfont">&#xe6b2;</i>
              </div>
            </div>
          </div>
          <div class="form_group">
            <div class="label">
              讲师昵称:
            </div>
            <div class="form_ctl">
              <div class="text">
                {{ teacherInfo.lecturerName }}
              </div>
            </div>
          </div>
          <div class="form_group">
            <div class="label">
              个人简介:
            </div>
            <div class="form_ctl">
              <!-- eslint-disable -->
              <div class="text" v-html="teacherInfo.introduce" />
            </div>
          </div>
          <div class="form_group">
            <div class="label">
              &nbsp;
            </div>
            <div class="form_ctl">
              <button href="javascript:" class="submit_btn" @click="edit = true">
                修改
              </button>
            </div>
          </div>
        </div>
      </div>
   
</template>
<script>
import UploadImage from '~/components/UploadImage';
import { uploadPic } from '~/api/upload.js'
import wangeditor from '~/components/wangeditor.vue'
import { getLecturerInfo, updataLecturerInfo } from '~/api/account/user.js'
export default {
  components: {
    UploadImage,
    wangeditor
  },
  layout: 'account',
  head() {
    return {
      title: this.$store.state.clientData.name + ' - 讲师信息'
    }
  },
  data() {
    return {
      edit: false,
      teacherInfo: {}
    }
  },
  mounted() {
    this.getByTeacher()
  },
  methods: {
    getByTeacher() {
      if (this.$store.state.userInfo.userType === 2) {
        getLecturerInfo({ lecturerUserNo: this.$store.state.userInfo.userNo }).then((res) => {
          this.teacherInfo = res.data
          this.edit = false
        })
      }
    },
    // 编辑器上传图片
    editorUpload(files, insert) {
      // console.log(files)
      const file = files[0]
      const param = new FormData()
      param.append('picFile', file, file.name)
      this.$store.commit('LOADING_START')
      uploadPic(param, function (int) {
        // console.log(int)
      }).then((res) => {
        this.$store.commit('LOADING_FINISH')
        // console.log(res)
        if (res.code === 200) {
          const imgUrl = res.data
          insert(imgUrl)
        }
      }).catch(() => {
        this.$store.commit('LOADING_FINISH')
      })
    },
    userUpdate(e) {
      e.preventDefault()
      this.teacherInfo.lecturerUserNo = this.$store.state.userInfo.userNo
      updataLecturerInfo(this.teacherInfo).then((res) => {
        this.$msgBox({ content: '修改成功', type: 'success' })
        this.getByTeacher()
      })
    },
    setUrl(res) {
      this.teacherInfo.headImgUrl = res.url
    }
  }
}
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.upload_ctl{
    .preview{
      width: 100px;
      height: 100px;
      background-color: #f5f5f5;
      text-align: center;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 100%;
      }
      i{
        line-height: 120px;
        font-size: 80px;
        color: #ddd;
      }
    }
  }
</style>
