<template>
<view class="resource_item">
  <view class="img_box">
    <image v-for="(item, index) in chapterInfo.captionPicList" :key="index" @tap="showImg" :data-src="item.picUrl" mode="widthFix" class="resource_img" :src="item.picUrl"></image>
  </view>
  <foot-tap :info="chapterInfo" :courseInfo="courseInfo"></foot-tap>
</view>
</template>

<script>
import footTap from "../footTap/footTap";

export default {
  data() {
    return {};
  },

  components: {
    footTap
  },
  props: {
    chapterInfo: {
      type: ['Array', 'Object']
    },
    courseInfo: {
      type: ['Array', 'Object']
    }
  },

  beforeMount() {
    console.log(this.chapterInfo);
  },

  methods: {
    // 查看图片
    showImg(e) {
      let imgs = [];
      this.chapterInfo.captionPicList.forEach(value => {
        imgs.push(value.picUrl);
      });
      uni.previewImage({
        urls: imgs,
        current: e.currentTarget.dataset.src
      });
    },

    sendAnswer(e) {
      if (this.long) return;
      console.log(e);
      let info = JSON.stringify(this.chapterInfo);
      uni.navigateTo({
        url: '../../pages/topicdetail/topicdetail?info=' + info + '&showanswer=show'
      });
    }

  }
};
</script>
<style>
.resource_item {
  background: #fff;
  overflow: hidden;
  padding-top: 20rpx;
  margin-top: 8px;
}
.img_box {
  padding-bottom: 50rpx;
  border-bottom: 1rpx solid rgb(230, 230, 230);
}
.img_box {
  padding-bottom: 50rpx;
  border-bottom: 1rpx solid rgb(230, 230, 230);
}
.resource_img {
  width: 671rpx;
  height: 196rpx;
  margin: 30rpx auto 0;
  display: block;
}
</style>