<template>
	<view>
		<editor-tag v-model="lu"></editor-tag>
	</view>
</template>

<script>
	import editorTag from "@/components/editor/editor";
	export default {
		components: {
			editorTag
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
