<template>
  <!--弹窗-->
  <el-dialog
    width="65%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose">
    <el-form ref="formData" :model="formData" :rules="rules" label-width="120px">
      {{formData.advLocation}}
      <el-row v-if="formData.platShow === 1">
        <el-col>
          <el-form-item label="广告图片">
            <upload-image :width="700" :height="120" :image-url="formData.advImg" @success="val => {formData.advImg = val.url}" />
            <span v-if="formData.advLocation === 1">广告图片分辨率：1020*366</span>
            <span v-if="formData.advLocation === 3">轮播图片分辨率：900*500</span>
            <span v-if="formData.advLocation === 2">广告图片分辨率：1920x100</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="formData.platShow === 2">
        <el-col>
          <el-form-item label="广告图片">
            <upload-image :width="350" :height="120" :image-url="formData.advImg" @success="val => {formData.advImg = val.url}" />
            <span v-if="formData.advLocation === 1">轮播图片分辨率：750*325</span>
            <span v-if="formData.advLocation === 3">轮播图片分辨率：900*500</span>
            <span v-if="formData.advLocation === 2">广告图片分辨率：1920*100</span>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="20">
          <el-form-item label="广告标题" prop="advTitle">
            <el-input v-model="formData.advTitle" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-if="formData.platShow === 2 && formData.mobileTerminalCategory === 1">
        <el-col :span="16">
          <el-form-item label="课程名称" prop="courseName">
            <el-input :value="courseName" disabled class="form-group">
              <el-button slot="append" icon="el-icon-search" @click="findCourse" />
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row v-else>
        <el-col :span="20">
          <el-form-item label="广告链接:">
            <el-input v-model="formData.advUrl" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="打开方式" prop="advTarget">
            <template>
              <el-radio v-model="formData.advTarget" label="_blank">新窗口打开</el-radio>
              <el-radio v-model="formData.advTarget" label="_self">同窗口打开</el-radio>
            </template>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="广告排序" prop="sort">
            <el-input-number v-model="formData.sort" controls-position="right" :min="0" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="开始时间">
            <el-date-picker
              v-model="formData.beginTime"
              type="datetime"
              placeholder="选择日期时间"
              value-format="yyyy-MM-dd HH:mm:ss"
              :picker-options="pickerOptions"
            />
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="结束时间">
            <el-date-picker
              v-model="formData.endTime"
              type="datetime"
              placeholder="选择日期时间"
              value-format="yyyy-MM-dd HH:mm:ss"
              :picker-options="pickerOptions"
            />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="handleClose">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('formData')">保存</el-button>
    </div>
    <find-course :title="courseCtr.title" :visible="courseCtr.visible" @close-callback="courseCloseCallback" />
  </el-dialog>
</template>
<script>
  import UploadImage from '@/components/Upload/UploadImage';
  import {uploadPic, advSave, advEdit} from '@/api/system'
  import { courseView } from '@/api/course'
  import FindCourse from '@/views/system/adv/add/findCourse';

  export default {
    name: 'Edit',
    components: { UploadImage, FindCourse },
    props: {
      // route object
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        opts: {
          advTargetList: []
        },
        courseName: '',
        courseCtr: {
          title: '课程信息--查找带回',
          courseCategory: 1,
          visible: false
        },
        pickerOptions: {
          shortcuts: [{
            text: '今天',
            onClick(picker) {
              picker.$emit('pick', new Date());
            }
          }, {
            text: '昨天',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24);
              picker.$emit('pick', date);
            }
          }, {
            text: '一周前',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', date);
            }
          }]
        },
        rules: {
          advImg: [
            { required: true, message: '请输入广告图片', trigger: 'blur', autocomplete: 'on' }
          ],
          advTitle: [
            { required: true, message: '请输入广告标题', trigger: 'blur' }
          ],
          sort: [
            { required: true, message: '请输入广告排序', trigger: 'blur' }
          ],
          beginTime: [
            { required: true, message: '请输入开始时间', trigger: 'blur' }
          ],
          endTime: [
            { required: true, message: '请输入结束时间', trigger: 'blur' }
          ]
        }
      }
    },
    created() {
      this.$store.dispatch('GetOpts', { enumName: 'AdvTargetEnum', type: 'arr' }).then(res => {
        this.opts.advTargetList = res
      })
      if (this.formData.courseId) {
        courseView(this.formData.courseId).then(res => {
          if (res.data.courseName !== null) {
            setTimeout(() => {
              this.courseName = res.data.courseName
            }, 200)
          }
        })
      }
    },
    methods: {
      courseCloseCallback(row) {
        this.courseCtr.visible = false;
        if (row) {
          this.courseName = row.courseName;
          this.formData.courseId = row.id;
          this.formData.courseCategory = row.courseCategory;
        }
      },
      findCourse() {
        this.courseCtr.courseCategory = this.formData.courseCategory;
        this.courseCtr.visible = true;
      },
      handleClose() {
        this.$refs['formData'].resetFields();
        this.$emit('close-callback')
      },
      handleAvatarSuccess(res, file) {
        this.formData.advImg = URL.createObjectURL(file.raw);
      },
      handlePost(file) {
        console.log(file);
        const fd = new FormData();
        fd.append('picFile', file.file);
        // 配置post请求的参数。参数名file,后面跟要传的文件，参数名fileType，值为category（看后端的具体要求）
        uploadPic(fd).then(response => {
          this.formData.advImg = response.data;
          console.log(this.formData.advImg);
        }).catch(() => {
          this.$message({
            showClose: true,
            message: '上传失败',
            type: 'error'
          });
        })
      },
      submitForm() {
        if (this.formData === undefined) {
          this.$message({
            showClose: true,
            message: '提交失败',
            type: 'error'
          });
        } else {
          // 按类型去掉不必要得参数
          if (this.formData.platShow === 2 && this.formData.mobileTerminalCategory === 1) {
            this.formData.advUrl = null
            this.formData.advTarget = null
          } else {
            this.formData.courseId = null
            this.formData.courseCategory = null
          }
          if (!this.formData.advImg) {
            this.$message({
              type: 'error',
              message: '请添加广告图片'
            });
            return false
          }
          if (!this.formData.advTitle) {
            this.$message({
              type: 'error',
              message: '请输入广告标题'
            });
            return false
          }
          if (this.formData.platShow === 1 && !this.formData.advUrl) {
            this.$message({
              type: 'error',
              message: '请输入广告链接'
            });
            return false
          }
          if (this.formData.mobileTerminalCategory === 2 && !this.formData.advUrl) {
            this.$message({
              type: 'error',
              message: '请输入广告链接'
            });
            return false
          }
          if (this.formData.platShow === 2 && this.formData.mobileTerminalCategory === 1 && !this.formData.courseId) {
            this.$message({
              type: 'error',
              message: '请选择课程'
            });
            return false
          }
          if (!this.formData.sort) {
            this.$message({
              type: 'error',
              message: '请输入广告排序'
            });
            return false
          }
          if (!this.formData.beginTime) {
            this.$message({
              type: 'error',
              message: '请输入开始时间'
            });
            return false
          }
          if (!this.formData.endTime) {
            this.$message({
              type: 'error',
              message: '请输入结束时间'
            });
            return false
          }
          this.loading = true;
          if (this.formData.id === undefined) {
            // 新增
            advSave(this.formData).then(res => {
              this.loading = false;
              if (res.code === 200) {
                // 提交成功, 关闭窗口, 刷新列表
                this.handleClose('close-callback')
              } else {
                this.$message({
                  showClose: true,
                  message: '提交失败',
                  type: 'error'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          } else {
            // 编辑
            this.loading = true;
            advEdit(this.formData).then(res => {
              this.loading = false;
              this.tips(res.data, 'success');
              this.handleClose('close-callback')
            }).catch(() => {
              this.loading = false
            })
          }
        }
      }
    }
  }
</script>
<style>
  .form-group {
    width: 100%;
    max-width: 300px;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }

  .avatar {
    width: 150px;
    height: 150px;
    display: block;
  }
</style>
