<template>
  <div class="app-container">

    <el-form class="filter-container" inline label-width="90px" size="mini">
      <el-form-item label="导航标题">
        <el-input v-model.trim="map.navTitle" />
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="map.statusId" class="auto-width" clearable filterable placeholder="状态">
          <el-option
            v-for="(value, key) in statusIdEnums"
            :key="key"
            :label="value"
            :value="key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="">
        <el-button type="primary" @click="handleCheck">查询</el-button>
        <el-button @click="handleReset">重置</el-button>
        <el-button  v-if="checkPermission('navBarSave')"   plain type="success" size="mini" @click="handleAddRow">新增</el-button>
        <el-button  v-if="checkPermission('navBarDeleteRedis')"   plain type="danger" size="mini" @click="handleDeleteRedisRow">清空缓存</el-button>
      </el-form-item>

    </el-form>

    <el-table
      :data="list"
      size="mini"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >

      <el-table-column align="center" type="index" label="序号" width="50" />
      <el-table-column label="展示平台" width="100">
        <template slot-scope="scope">
          {{ platEnums[scope.row.platShow] }}
        </template>
      </el-table-column>
      <el-table-column label="导航标题">
        <template slot-scope="scope">
          <el-link type="primary" target="_blank" @click="jumpUrl(scope.row.remark)">{{ scope.row.navTitle }}</el-link>
        </template>
      </el-table-column>
      <el-table-column label="链接地址">
        <template slot-scope="scope">
          {{ scope.row.remark }}
        </template>
      </el-table-column>
      <el-table-column
        label="跳转方式"
        prop="target"
      >
        <template slot-scope="scope">
          <el-row v-if="scope.row.target === '_blank'" type="success">新窗口打开</el-row>
          <el-row v-if="scope.row.target === '_self'" type="brandColor">同窗口打开</el-row>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="100">
        <template slot-scope="scope">
          {{ statusIdEnums[scope.row.statusId] }}
        </template>
      </el-table-column>
      <el-table-column prop="sort" label="排序" width="80" />
      <el-table-column label="操作" width="250">
        <template slot-scope="scope">
          <el-button  v-if="checkPermission('narBarEdit')" plain type="primary" size="mini" @click="handleUpdateRow(scope.row)">编辑</el-button>
          <el-button  v-if="scope.row.statusId === 1 && checkPermission('narBarUpdateStatus')" plain type="danger" size="mini" @click="handleUpdateStatusId(scope.row)">禁用</el-button>
          <el-button  v-if="scope.row.statusId === 0 &&  checkPermission('narBarUpdateStatus')" plain type="success" size="mini" @click="handleUpdateStatusId(scope.row)">启用</el-button>
          <el-button  v-if="checkPermission('narBarDelete')"  plain type="danger" size="mini" @click="handleDeleteRow(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :current-page="page.pageCurrent"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="page.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <add v-if="ctrl.addDialogVisible" :visible="ctrl.addDialogVisible" :plat-show="ctrl.platShow" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
    <edit v-if="ctrl.editDialogVisible" :visible="ctrl.editDialogVisible" :form-data="formData" :title="ctrl.dialogTitle" @close-callback="closeCallback" />
  </div>
</template>

<script>
  import {navBarPage, navBarDelete, navBarEdit, navBarDeleteRedis} from '@/api/system'
  import Add from '../../add/index'
  import Edit from '../../edit/index'

  export default {
    components: { Edit, Add },
    data() {
      return {
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 20,
          totalCount: 0,
          totalPage: 0
        },
        formData: {},
        list: [],
        map: {},
        ctrl: {
          platShow: 1, // 1pc 2app
          loading: false,
          addDialogVisible: false,
          editDialogVisible: false
        },
        statusIdEnums: {},
        platEnums: {},
        listLoading: true
      }
    },
    created() {
      this.listForPage()
    },
    mounted() {
      this.$store.dispatch('GetOpts', { enumName: 'StatusIdEnum', type: 'obj' }).then(res => {
        this.statusIdEnums = res;
      });
      this.$store.dispatch('GetOpts', { enumName: 'PlatEnum', type: 'obj' }).then(res => {
        this.platEnums = res;
      });
    },
    methods: {
      // 友情链接跳转
      jumpUrl(url) {
        window.open(url)
      },
      handleUpdateStatusId(row) {
        {
          let body = '确定要启用【' + row.navTitle + '】？';
          let statusId = 1;
          if (row.statusId === 1) {
            body = '确定要禁用【' + row.navTitle + '】？';
            statusId = 0;
          }
          this.$confirm(body, '状态变更', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            navBarEdit({ id: row.id, statusId: statusId }).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRow(row) {
        {
          const body = '确定要删除【' + row.navTitle + '】？'
          this.$confirm(body, '删除确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            navBarDelete(row.id).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleDeleteRedisRow() {
        {
          const body = '确定要清空缓存？'
          this.$confirm(body, '清空确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.loading.start();
            navBarDeleteRedis({}).then(res => {
              this.$message.success(res.data);
              this.listForPage();
            })
          })
        }
      },
      handleSizeChange(size) {
        this.page.pageSize = size
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleCurrentChange(current) {
        this.page.pageCurrent = current
        this.listForPage();
      },
      handleReset() {
        this.map = {}
        this.page.pageCurrent = 1
        this.listForPage();
      },
      handleAddRow() {
        this.ctrl.dialogTitle = '添加'
        this.ctrl.addDialogVisible = true
      },
      handleUpdateRow(row) {
        this.formData = row
        this.ctrl.dialogTitle = row.navTitle + ' —— 编辑'
        this.ctrl.editDialogVisible = true
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.listForPage()
      },
      listForPage() {
        // this.listLoading = true
        this.loading.start()
        this.map.platShow = this.ctrl.platShow
        navBarPage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
        })
      },
      // 关闭编辑弹窗回调
      closeCallback() {
        this.ctrl.dialogVisible = false;
        this.ctrl.editDialogVisible = false;
        this.ctrl.addDialogVisible = false;
        this.reload();
      },
      // 刷新页面
      reload() {
        this.map = {};
        this.formData = {};
        this.listForPage();
      }
    }
  }
</script>
