<template>
<view>
  <view class="activity_top">
    <image v-if="actInfo" :src="actInfo.actImg" class="top_img" mode="aspectFill"></image>
  </view>
  <view>
    <view>
      <view class="title_text mgt40">
        {{item.zoneTitle}}
      </view>
      <!-- <view>
        <image src="{{item.act.actImg}}" class="zone_img"></image>
      </view> -->
      <view class="list_box">
        <view v-for="(item, index) in actZoneCourseList" :key="index" class="course_box">
          <view @tap="goDetail" :data-info="item" class="img_box">
            <view class="qizi">
              <view>
                <view>立减</view>
                <view>{{item.actPrice}}</view>
              </view>
            </view>
            <image v-if="item.courseCategory === 3" src="/static/images/tab/course.png" class="course_icon"></image>
            <image v-else class="course_img" :src="item.courseImg"></image>
          </view>
          <view @tap="goDetail" :data-info="item" class="course_name">
            {{item.courseName}}
          </view>
          <view class="course_price">
            <text class="c_red font32">￥{{item.orgPrice}}</text>
            <!-- <text class="c_999 font20 del_text">￥{{item.orgPrice}}</text> -->
          </view>
          <button class="activity_btn" @tap="goPay" :data-info="item">立即购买</button>
        </view>
        <view class="w340"></view>
      </view>
    </view>
  </view>
  <float-tab shareImg="true" :actid="actInfo.id"></float-tab>
</view>
</template>

<script>
// pages/activity_list/activity_list.js
import { actList } from "../../../api/activity";
let app = getApp();
import floatTab from "../../../components/floatTab/floatTab";

export default {
  data() {
    return {
      actZoneCourseList: [],
      actId: '',
      actInfo: ''
    };
  },

  components: {
    floatTab
  },
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    this.getActivityList();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {},

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    getActivityList() {
      uni.showLoading({
        title: '加载中...'
      });
      actList({
        actType: 2
      }).then(result => {
        uni.hideLoading();
        let actInfo = result.actDTO || {};
        let actZoneCourseList = result.actZoneCourseList || [];
        this.setData({
          actInfo,
          actZoneCourseList
        });
      });
    },

    // 购买课程
    goPay(e) {
      if (!uni.getStorageSync('userInfo')) {
        app.globalData.loginRoncoo();
        return;
      }

      let info = e.currentTarget.dataset.info;
      console.log(info);
      let activity = JSON.stringify(info);
      uni.navigateTo({
        url: '../../order/order?no=' + info.courseId + '&t=' + info.courseCategory + '&act=' + activity
      });
    },

    // 跳转详情
    goDetail(e) {
      let info = e.currentTarget.dataset.info;
      console.log(info);

      if (info.courseCategory == 1) {
        uni.navigateTo({
          url: '../../course/view/view?id=' + info.courseId
        });
      } else if (info.courseCategory == 2) {
        uni.navigateTo({
          url: '../../course/live/live?id=' + info.courseId
        });
      } else if (info.courseCategory == 3) {
        uni.navigateTo({
          url: '/pages/library/view/view?id=' + info.courseId
        });
      }
    }

  }
};
</script>
<style scoped>
page {
  background: rgba(29, 44, 150, 1);
}
.activity_top {
  height: 297rpx;
}
.top_img {
  width: 100%;
  height: 297rpx;
}
.title_text {
  position: relative;
  display: inline-block;
  padding: 0 50rpx;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36rpx;
  color: #fff;
  font-weight: 650;
}
.title_img {
  position: absolute;
  width: 28rpx;
  height: 16rpx;
  top: 20rpx;
}
.left_img {
  left: 0;
}
.right_img {
  right: 0;
}
.zone_img {
  width: 700rpx;
  height: 95rpx;
  display: block;
  margin: 20rpx auto 0;
}
.list_box {
  width: 700rpx;
  margin: 20rpx auto 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.course_box {
  background: #fff;
  width: 320rpx;
  height: 360rpx;
  padding: 10rpx;
  margin-bottom: 20rpx;
}
.img_box {
  width: 320rpx;
  height: 156rpx;
  position: relative;
  text-align: center;
}
.course_img {
  width: 100%;
  height: 100%;
}
.course_icon{
  width:100rpx;
  height:100rpx;
  margin-top:30rpx;
}
.course_name {
  margin-top: 10rpx;
  height: 72rpx;
  font-size: 28rpx;
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.course_price {
  height: 42rpx;
  margin-top: 10rpx;
}
.activity_btn {
  height: 50rpx;
  width: 100%;
  background: rgba(213, 20, 35, 1);
  line-height: 50rpx;
  color: #fff;
  font-size: 24rpx;
  margin-top: 20rpx;
}
.w340 {
  width: 340rpx;
}
.del_text {
  text-decoration:line-through;
}
</style>