<template>
  <!--弹窗-->
  <el-dialog
    width="80%"
    :title="title"
    :visible.sync="visible"
    :before-close="handleClose"
  >
    <el-form :inline="true" size="mini">
      <el-form-item label="名称">
        <el-input v-model="map.courseName" />
      </el-form-item>
      <el-form-item>
        <el-button icon="el-icon-search" type="primary" @click="handleCheck">查询</el-button>
        <el-button icon="el-icon-refresh" class="filter-item" @click="handleReset">重置</el-button>
        <el-button plain type="success" size="mini" @click="handleChoiceBatch">批量选择</el-button>
      </el-form-item>
    </el-form>
    <el-table
      v-loading="ctrl.load"
      size="mini"
      :data="list"
      stripe
      border
      @selection-change="handleSelectionChange"
    >
      <el-table-column align="center" type="selection" width="50" />
      <el-table-column type="index" label="序号" width="50" />
      <el-table-column prop="courseName" label="课程名称" />
      <el-table-column label="课程分类">
        <template slot-scope="scope">
          【{{ scope.row.categoryName1 }}】>【{{ scope.row.categoryName2 }}】>【{{ scope.row.categoryName3 }}】
        </template>
      </el-table-column>
      <el-table-column label="价格" width="150">
        <template slot-scope="scope">
          <span v-if="scope.row.isFree === 0">
            原价： {{ scope.row.courseOriginal.toFixed(2) }}
            <br>
            会员价： {{ scope.row.courseDiscount.toFixed(2) }}
          </span>
          <span v-else>免费</span>
        </template>
      </el-table-column>
      <el-table-column label="上架状态" width="100">
        <template slot-scope="scope">
          <span :class="textClass(scope.row.isPutaway)">{{ textIsPutaway[scope.row.isPutaway] }}</span>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button plain type="primary" size="mini" @click="handleChoice(scope.row)">选择</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="page.pageCurrent"
      :page-size="page.pageSize"
      layout="total, prev, pager, next, jumper"
      :total="page.totalCount"
      background
      @current-change="handleCurrentChange"
    />
  </el-dialog>
</template>
<script>
  import { zoneRefSave, zoneRefSaveBatch } from '@/api/system'
  import { coursePage } from '@/api/course'

  export default {
    props: {
      formData: {
        type: Object,
        default: () => {
        }
      },
      visible: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        map: {},
        list: [],
        checkIds: '',
        ctrl: {
          load: false
        },
        textIsFree: {
          1: '免费',
          0: '收费'
        },
        textIsPutaway: {
          1: '上架',
          2: '下架'
        },
        page: {
          beginPageIndex: 1,
          pageCurrent: 1,
          endPageIndex: 8,
          pageSize: 5,
          totalCount: 0,
          totalPage: 0
        }
      }
    },
    mounted() {
      this.pageList()
    },
    methods: {
      handleCurrentChange(val) {
        this.page.pageCurrent = val
        this.pageList()
      },
      // 查询条件
      handleCheck() {
        this.page.pageCurrent = 1
        this.pageList()
      },
      // 重置查询条件
      handleReset() {
        this.reload()
      },
      // 分页列出课程信息
      pageList() {
        this.ctrl.load = true
        this.map.courseCategory = this.formData.courseCategory
        coursePage(this.map, this.page.pageCurrent, this.page.pageSize).then(res => {
          this.list = res.data.list
          this.page.pageCurrent = res.data.pageCurrent
          this.page.totalCount = res.data.totalCount
          this.page.pageSize = res.data.pageSize
          this.ctrl.load = false
        }).catch(() => {
          this.ctrl.load = false
        })
      },
      // 刷新当前页面
      reload() {
        this.map = {}
        this.pageList()
      },
      handleChoice(row) {
        {
          const body = '确定要选择【' + row.courseName + '】？'
          this.$confirm(body, '选择确认', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            zoneRefSave({zoneId: this.formData.zoneId, courseId: row.id}).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            }).catch(() => {
              this.loading = false
            })
          })
        }
      },
      handleSelectionChange(checkList) {
        let resultIds = '';
        for (const index in checkList) {
          resultIds += checkList[index].id;
          if ((parseInt(index) + 1) < checkList.length) {
            resultIds += ',';
          }
        }
        this.checkIds = resultIds;
      },
      handleChoiceBatch() {
        if (this.checkIds === undefined || this.checkIds === '') {
          this.$message.error('请选中需要的课程')
          return false;
        }
        {
          const body = '确定吗？';
          this.$confirm(body, '批量添加', {
            confirmButtonText: '确认',
            cancelButtonText: '取消'
          }).then(() => {
            this.ctrl.loading = true
            zoneRefSaveBatch({zoneId: this.formData.zoneId, courseIds: this.checkIds}).then(res => {
              this.ctrl.loading = false
              if (res.code === 200) {
                this.$message({
                  type: 'success',
                  message: '保存成功'
                });
                this.handleClose()
              } else {
                this.$message({
                  type: 'error',
                  message: '保存失败'
                });
              }
            })
          })
        }
      },
      handleClose() {
        this.$emit('close-callback')
      },
      textClass(isFree) {
        return {
          c_red: isFree === 0,
          c_blue: isFree === 1
        }
      }
    }
  }
</script>
<style scoped>
</style>
