<template>
<view>
  <view v-for="(item, index) in attentionList" :key="index" class="b_fff mgt8px">
    <view class="teacher_item border_b">
      <view>
        <image v-if="item.headImgUrl" class="teacher_img" :src="item.headImgUrl"></image>
        <image v-else class="teacher_img" src="../../../static/images/account/friend.jpg"></image>
      </view>
      <view class="teacher_msg">
        <text class="font33 c_333">{{item.lecturerUserName}}</text>
        <!-- <text class="teacher_text font25 c_999">学科：数学，物理，化学化学</text>
        <text class="teacher_text font25 c_999">年级：一年级，二年级化学化学</text> -->
      </view>
    </view>
    <view class="btn_box">
      <button class="order_btn c_999" @tap="delAttention" :data-id="item.lecturerUserNo">取消关注</button>
      <!-- <navigator url="../../teacherdetail/teacherdetail?no={{item.lecturerUserNo}}" class="order_btn c_999">查看</navigator> -->
    </view>
  </view>
  <view class="no_more c_999 font25 text_center">{{loadMsg}}</view>
</view>
</template>

<script>
// pages/user_attention/user_attention.js
import * as apis from "../../../api/user";
const app = getApp();

export default {
  data() {
    return {
      map: {},
      pageSize: 20,
      pageCurrent: 1,
      attentionList: [],
      userInfo: '',
      totalPage: 1,
      loadMsg: '没有更多了...',
      submit: false
    };
  },

  components: {},
  props: {},

  /**
   * 生命周期函数--监听页面加载
   */
  onLoad: function (options) {
    // uni.hideShareMenu();
    this.setData({
      userInfo: uni.getStorageSync('userInfo')
    });
    this.getCourseList();
  },

  /**
   * 生命周期函数--监听页面初次渲染完成
   */
  onReady: function () {},

  /**
   * 生命周期函数--监听页面显示
   */
  onShow: function () {},

  /**
   * 生命周期函数--监听页面隐藏
   */
  onHide: function () {},

  /**
   * 生命周期函数--监听页面卸载
   */
  onUnload: function () {},

  /**
   * 页面相关事件处理函数--监听用户下拉动作
   */
  onPullDownRefresh: function () {},

  /**
   * 页面上拉触底事件的处理函数
   */
  onReachBottom: function () {
    console.log(this.pageCurrent);
    this.setData({
      loadMsg: '没有更多了...'
    });

    if (this.pageCurrent < this.totalPage) {
      this.setData({
        loadMsg: '加载中...',
        pageCurrent: this.pageCurrent + 1
      });
      this.getCourseList();
    }
  },

  /**
   * 用户点击右上角分享
   */
  onShareAppMessage: function () {},
  methods: {
    getCourseList() {
      console.log("刷新列表");
      uni.showLoading({
        title: '加载中...'
      });
      apis.attentionList(this.map, this.pageCurrent, this.pageSize).then(res => {
        console.log(res);
        this.setData({
          totalPage: res.totalPage,
          attentionList: this.attentionList.concat(res.list)
        });
      }).catch(() => {});
    },

    delAttention(e) {
      let lecturerUserNo = e.currentTarget.dataset.id;
      uni.showModal({
        title: '取消订单',
        content: '是否取消该关注？',
        success: res => {
          if (res.confirm) {
            apis.attentionDelete({
              lecturerUserNo
            }).then(res => {
              uni.showToast({
                title: '取消关注成功'
              });
              this.setData({
                attentionList: []
              });
              this.getCourseList();
            }).catch(res => {
              uni.showModal({
                title: '取消关注失败',
                content: res.msg
              });
              uni.hideLoading();
              this.setData({
                submit: false
              });
            });
          }
        },
        fail: () => {
          uni.showToast({
            title: '系统繁忙，请稍后重试'
          });
        }
      });
    }

  }
};
</script>
<style scoped>
.teacher_item {
  padding: 30rpx 0;
  margin: 0 20rpx;
  display: flex;
}
.teacher_img {
  width: 122rpx;
  height: 122rpx;
  margin-right: 20rpx;
  border-radius: 50%;
}
.teacher_msg {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.teacher_text {
  width: 292rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn_box {
  padding: 20rpx;
  height: 50rpx;
}
.order_btn {
  width: 163rpx;
  height: 55rpx;
  line-height: 55rpx;
  font-size: 25rpx;
  background: #fff;
  float: right;
  margin-left: 20rpx;
  text-align: center;
  border-radius: 6px;
  border: 1rpx solid #999;
}
</style>