<template>
  <div class="login-layout">
    <div class="container">
      <img alt src="../../assets/images/login-logo2.jpg" class="login-logo2">
      <div class="login-panel">
        <div class="head clearfix">
          <div class="logo">
            <img v-if="service && service.logo" alt="logo" :src="service.logo" class="img-logo">
          </div>
        </div>
        <el-form
          ref="loginForm"
          :model="loginForm"
          :rules="loginRules"
          auto-complete="on"
          label-position="left"
        >
          <h3 class="login-head">管理员登录</h3>
          <el-form-item class="form-group" prop="userName">
            <el-input
              ref="mobile"
              v-model="loginForm.userName"
              auto-complete="on"
              class="form-input"
              name="mobile"
              placeholder="用户名"
              tabindex="1"
              type="text"
            />
          </el-form-item>
          <el-form-item class="form-group" prop="password">
            <el-input
              ref="password"
              v-model="loginForm.password"
              :type="passwordType"
              auto-complete="on"
              class="form-input"
              name="password"
              placeholder="密码"
              tabindex="2"
              @keyup.enter.native="handleLogin"
            />
          </el-form-item>
          <div class style="position: relative;">
            <div v-if="showSlide" class="slide-panel">
              <div class="slide-panel-head">
                完成拼图验证
                <div class style="float: right;">
                  <span class="refresh-btn" @click="$refs.slideblock.reset()">
                    <i class="el-icon-refresh" />
                    换一张
                  </span>
                  <i class="el-icon-close close-slide" @click="showSlide = false" />
                </div>
              </div>
              <slide-verify
                ref="slideblock"
                :h="155"
                :imgs="imgs"
                :l="42"
                :r="10"
                :show="false"
                :w="310"
                slider-text="向右滑动完成拼图"
                @success="slideSuccess"
              />
              <div class="arrow" />
            </div>
          </div>
          <el-button
            :loading="loading"
            class="submit-btn"
            style="width:100%;margin-bottom:30px;"
            type="primary"
            @click.native.prevent="handleLogin"
          >登 录
          </el-button>
        </el-form>
      </div>
    </div>
    <div class="footer">
      <div v-if="service && service.copyright" class="copyright">
        <!-- eslint-disable -->
        <span v-html="service.copyright" />
      </div>
      <div class="icp">
        <a
          v-if="service && service.icp"
          href="http://www.beian.miit.gov.cn/"
          target="_blank"
          class="c_ccc">{{ service && service.icp }}</a>
        <span>&nbsp;|&nbsp;</span>
        <a
          v-if="service && service.prn"
          :href="'http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=' + service.prnNo"
          target="_blank"
          class="c_ccc">
          <img src="@/assets/images/prn_icon.png" class="prn_icon" alt />
          &nbsp;{{ service.prn }}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  import slideVerify from '@/components/slideVerify'
  import {getWebsite} from '@/api/system';

  export default {
    name: 'Login',
    components: {
      slideVerify
    },
    data() {
      const validateMobile = (rule, value, callback) => {
        if (!value) {
          callback(new Error('请输入登录账号'))
        } else {
          callback()
        }
      }
      const validatePass = (rule, value, callback) => {
        if (!value) {
          callback(new Error('请输入登录密码'))
        } else if (value.length < 5) {
          callback(new Error('密码不能小于5位'))
        } else {
          callback()
        }
      }
      return {
        service: {
          icp: '',
          prn: '',
          prnNo: ''
        },
        loginForm: {
          userName: '',
          password: '',
          ip: '127.0.0.0'
        },
        loginRules: {
          userName: [{required: true, trigger: 'blur', validator: validateMobile}],
          password: [{required: true, trigger: 'blur', validator: validatePass}]
        },
        imgs: [
          '/vcode/01.jpg',
          '/vcode/02.jpg',
          '/vcode/03.jpg',
          '/vcode/04.jpg',
          '/vcode/05.jpg',
          '/vcode/06.jpg',
          '/vcode/07.jpg',
          '/vcode/08.jpg',
          '/vcode/09.jpg',
          '/vcode/10.jpg',
          '/vcode/11.jpg',
          '/vcode/12.jpg'
        ],
        checkSlide: '',
        showSlide: false,
        loading: false,
        passwordType: 'password',
        redirect: undefined
      }
    },
    mounted() {
      this.getWebsiteInfo();
    },
    methods: {
      handleCheck() {
        this.$refs.loginForm.validate(valid => {
          if (valid) {
            this.showSlide = true
          }
        })
      },
      slideSuccess() {
        this.$refs.loginForm.validate(valid => {
          if (valid) {
            this.$store.dispatch('user/getLoginSign', this.loginForm).then(res => {
              this.loginForm.sign = res.sign
              this.loginForm.signatureNonce = res.signatureNonce
              this.loginForm.timestamp = res.timestamp
              this.loginForm = {...this.loginForm}
              this.handleLogin()
            }).catch(() => {
              this.showSlide = false
            })
          }
        })
      },
      getWebsiteInfo() {
        getWebsite().then(res => {
          if (res.code === 200) {
            console.info(res)
            this.service = res.data
          } else {
            // console.log('站点取失败！')
          }
        })
      },
       handleLogin() {
        this.$refs.loginForm.validate(valid => {
          if (valid) {
            // if (!this.loginForm.sign) {
            //   this.$message({type: 'error', message: '请先进行验证'})
            //   this.checkSlide = 'error'
            //   return false
            // }
            this.loading = true
            this.$store.dispatch('user/login', this.loginForm).then(async () => {
              await this.$store.dispatch('permission/getUserPermission')
              await this.$store.dispatch('setMenu')
              this.$router.push({path: this.redirect || '/'})
              this.loading = false
            }).catch(() => {
              this.loading = false
            })
          } else {
            console.log('error submit!!')
            return false
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .login-layout {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background:#2873f0  ;
    .container {
      position: absolute;
      width: 820px;
      height: 520px;
      left: 50%;
      top: 42%;
      margin: -225px 0 0 -410px;
      background: #FFFFFF;
      box-shadow: 0px 0px 26px #0051C4;
      border-radius: 8px;
    }
    .login-logo2 {
      width: 450px;
      height: 520px;
      left: 532px;
      top: 120px;
      border-radius: 6px 0px 0px 6px;
    }

    .head {
      .logo {
        min-height: 67px;
        text-align: center;
        img {
          width: 250px;
          vertical-align: top;
        }
      }
      .name-panel {
        float: left;
        color: #fff;
        padding-top: 18px;
      }

      .name {
        font-size: 26px;
        font-weight: 700;
        line-height: 1;
      }

      .tip {
        padding-top: 6px;
        margin: 0;
      }
    }

    .login-panel {
      box-sizing: initial;
      float: right;
      width: 300px;
      height: 420px;
      background: #fff;
      border-radius: 0 6px 6px 0;
      padding: 50px 35px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.55);
    }

    .login-head {
      padding-top: 60px;
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 24px;
      line-height: 34px;
      color: #333333;
      margin: 0
    }

    .form-group {
      height: 50px;
      border-bottom: 1px solid #e1e1e1;
      border-radius: 3px;
      margin-bottom: 20px;
      position: relative;
    }

    .form-group .label {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      line-height: 50px;
      height: 50px;
      font-size: 17px;
      text-align: center;
    }

    .form-group .form-input {
      box-sizing: border-box;
      height: 50px;
      input {
        border: none;
        height: 100%;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
      }
    }

    .check-group .form-input {
      padding-left: 12px;
    }

    .check-group .check-img {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 105px;
      height: 30px;
    }

    .form-group .icon {
      width: 20px;
    }

    .check-slide-group {
      overflow: visible;
      transition: border 0.5s;
      .tip-text {
        position: absolute;
        top: 1px;
        left: 1px;
        right: 1px;
        bottom: 1px;
        z-index: 9;
        line-height: 50px;
        text-align: center;
      }

      .el-form-item__error {
        position: absolute;
        left: 0;
        right: 0;
        top: 52px;
      }

      &.error {
        border-color: #f56c6c;
      }

      &.success {
        border-color: #67c23a;
      }

      &:hover {
        border-color: #333;
        cursor: pointer;
      }
    }

    .slide-panel-head {
      line-height: 42px;
    }

    .slide-panel {
      background-color: #fff;
      position: absolute;
      left: -15px;
      bottom: 10px;
      z-index: 99;
      padding: 0 10px 10px;
      border: 1px solid #eee;
      box-shadow: 0 0 5px #aaa;

      .arrow {
        position: absolute;
        bottom: -9px;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 8px;
        margin-left: -3px;
        border-bottom-width: 0;
        border-top-color: #dbdcde;

        &:after {
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          content: ' ';
          border-width: 8px;
          border-color: transparent;
          border-style: solid;
          top: -9px;
          margin-left: -8px;
          border-bottom-width: 0;
          border-top-color: #fff;
        }
      }

      .refresh-btn {
        color: #409eff;
      }
    }

    .submit-btn {
      width: 300px;
      height: 44px;
      margin-top:39px;
      background: #2388EC;
      border-radius: 22px;
      &:active {
        opacity: 0.6;
      }
    }

    .copyright {
      text-align: center;
      color: #fff;
      padding-bottom: 12px;
    }

    .footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: 20px;
      font-size: 13px;

      .icp {
        text-align: center;
        color: #fff;
      }

      .prn_icon {
        vertical-align: bottom;
      }
    }
  }
</style>
